[2017-07-10 16:03] krasi-georgiev commented on #20970
this time it errors:

[code]

[2017-07-10 16:10] cherrymui commented on #20970
How do you build the package? Is pa.c placed in the same directory as pa.h and the Go code?

[2017-07-10 16:22] krasi-georgiev commented on #20970
yes all files are in the same directory , I just run `go run pa.go`

[2017-07-10 16:25] cherrymui commented on #20970
Run `go build` in the directory.
`go run` cannot find the C code.

[2017-07-10 16:26] bradfitz commented on #20969
Not a regression from Go 1.8 (or any other prior release), so targeting Go 1.10 for consideration.

I don't think it's a good idea to get rid of the part of the error message that says where it was looking to find the answer (which zip file path). You want it to say both things? Failed to find New_Yaark and also the zip file path?

[2017-07-10 16:43] aclements commented on #18598
Failures with additional debugging:

[2017-06-27T18:53:08-5dafa91/freebsd-arm-paulzhol](https://build.golang.org/log/8c7420fdc46f04570d1a3fe4f6219f520bec8a24)
[2017-06-28T17:33:40-4e9c86a/freebsd-arm-paulzhol](https://build.golang.org/log/113428d6eb15ee6300770fa51316e3981d534be5)
[2017-06-29T23:03:18-7e99ccb/freebsd-arm-paulzhol](https://build.golang.org/log/827a0d543773ff3aa3c16ebef2ab4ed0ced9e60

[2017-07-10 16:57] krasi-georgiev commented on #20970
[code]

without  `#include <pa.h>`
[code]

[2017-07-10 16:57] OmidHekayati opened #20972 "Embedded structs opposed situation"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/godata"
GORACE=""
GOROOT="/usr/lib/go"
GOTOOLDIR="/usr/lib/go/pkg/tool/li

[2017-07-10 16:58] Dieterbe commented on #20969
i'm not sure TBH. to be clear, is it perfectly normal to have situations where only a few timezones are installed, and where it can only know for sure that a tz doesn't exist if it can check against a zoneinfo.zip file?

[2017-07-10 17:10] bradfitz commented on #20972
For questions about Go, see https://golang.org/wiki/Questions.

[2017-07-10 17:10] #20972 closed

[2017-07-10 17:38] cherrymui commented on #20970
Did you still have `extern` in pa.h?
Try `go build` (bot NOT `go build pa.go`) with `#include <pa.h>` and `extern` in pa.h.

[2017-07-10 17:50] aclements commented on #19196
Ping @hartzell

[2017-07-10 18:00] krasi-georgiev commented on #20970
[code]

[2017-07-10 18:05] kevinburke opened #20973 "sync: add examples for Map"
It would be nice if there were usage examples for sync.Map, but there are not currently any.

- Can keys be ordinary values like strings, or should they be custom types, a la context.WithValue?
- Should I always store a pointer to a value, or can I store a value like a string? If the former how should I do it?

[2017-07-10 18:06] krasi-georgiev commented on #20970
@cherrymui did you mean:
[code]
and that renders similar error:
[code]

[2017-07-10 18:10] cherrymui commented on #20970
@krasi-georgiev
No, I mean put `extern PaStreamCallback* paStreamWrap`.

This looks like only a warning, i.e. build succeeded. You should see the executable.

BTW, to suppress the warning, you need to declare `streamCallback` in pa.c.

[2017-07-10 18:11] dansouza commented on #20100
@hikari-no-yume came here to say this. I think we should just use the [native instructions for float rounding](http://i.imgur.com/uyRazKF.jpg) by default and let the user decide the rounding mode (either by having different functions for each mode or passing an argument).

[2017-07-10 18:25] krasi-georgiev commented on #20970
yes that worked here are the final files

[code]

could you maybe explain what happens?
Do you think there is any way to simplify it?
Is there any way to make it work with `go run` ?

[2017-07-10 18:28] OneOfOne commented on #20973
sync.Map is a wrapper over `map[interface{}]interface{}`, so the same rules apply but yeah some more documentation would help.

[2017-07-10 18:33] aclements commented on #19381
@eliasnaur, can you reproduce this if you just comment out the `t.Parallel()` at the top of `TestStackGrowth`?

[2017-07-10 18:37] cherrymui commented on #20970
By "declaration" in C, it means you need `extern` for declaring global variables. Without `extern` it is a definition.

No. `go run` is meant to be used for quick testing. It only supports a single Go file, even not multiple Go files, nor Go + C. You can do "build+run" in one line as something like `go build -o exe && ./exe`.

If pa.h is just a single line, you can write it directly in Go code, i.

[2017-07-10 18:39] cherrymui commented on #20970
Now the problem is solved.
I think the documentation is clear: by "declaration" in C, it means `extern` is needed for declaring global variables. Do we close the issue?

[2017-07-10 18:40] krasi-georgiev commented on #20970
I think maybe adding a small example to the docs would help others.

[2017-07-10 19:15] nikhita commented on #20786
@martisch
sorry, was busy at work - didn't have time to work on it.
But will try working on it on my flight to GopherCon now. :)
Maybe I can even ask any questions I have during the Go contributor workshop at GopherCon? :)

[2017-07-10 19:17] martisch commented on #20786
no problem. Asking at the contributor workshop sounds good.

[2017-07-10 19:30] odeke-em commented on #20959
I've updated the milestone to Go1.9 as per the consensus on the CL.

[2017-07-10 19:48] TannerMoore opened #20974 "For each loop over slice of int64 gets automatically converted to int"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/home/logrhythm/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/logrhythm/go"
GORACE=""
GOROOT="/bin/go"
GOTOOLDIR="/bin/go/pkg/tool/linux

[2017-07-10 19:52] bradfitz commented on #20974
You have a bug in your program. See https://golang.org/ref/spec#For_range

For questions about Go, see https://golang.org/wiki/Questions.

[2017-07-10 19:52] #20974 closed

[2017-07-10 19:53] bradfitz commented on #20974
That is, the first value in a range expression over a slice is the index, not the value.

[2017-07-10 19:57] TannerMoore commented on #20974
Hmm... That explains it. I still would argue that a for range loop with only one variable of interest should be the object itself and not the index of the list.

[2017-07-10 20:03] aclements commented on #19319
No luck reproducing this on the windows-386-gce gomote with `stress -p 1 gomote run -path '$PATH;$WORKDIR\go\bin' $VM go/src/runtime/runtime.test.exe -test.short -test.cpu 1,2,4` after several hours and 125 runs. I'll queue up a patch to re-enable this test and put it in when 1.10 opens and we'll see if this still shows up.

[2017-07-10 20:09] #20959 closed

[2017-07-10 20:10] aclements commented on #19381
For my own record, this is what I've been using to try (unsuccessfully) to reproduce this:

[code]

I did notice once that on -cpu 4, TestStackGrowth took ~25 seconds (but did not timeout). The builder has been really uncooperative, though, so I've only managed to run that once.

[2017-07-10 20:16] v47 commented on #20780
Error is coming from here [src/cmd/internal/obj/pcln.go](https://github.com/golang/go/blob/174707869544b246c055b9a5f53ca7d4ea860b67/src/cmd/internal/obj/pcln.go#L224)
But in general, it's problem of offset, it's overflowing int32:

[code]

[2017-07-10 20:30] ucirello commented on #20973
I'd like to work on this example. I shall be opening a CL about it soon.

[2017-07-10 21:38] kjk opened #20975 "cmd/compile, runtime: investigate Windows stack overflows calling into system C libraries"
This came up with 1.8.3 when working on GUI Windows programs using lxn\walk library.

Relevant issues:
* https://github.com/lxn/walk/issues/290
* https://github.com/lxn/walk/issues/261

The problem is that Go linker sets very small stack size (I think 128 kB) in PE executables. The standard on Windows is more like 1-2 MB.

This is fine for code that only lightly uses system C libraries but when wr

[2017-07-10 21:53] bradfitz commented on #20975
Stack sizes isn't a knob programmers should think about in Go. That's why Go stacks dynamically split or adjust in size as needed.

When making a call to code not managed by Go's dynamic stack size checks, Go should be switching to a conservatively-sized stack. Maybe there's a bug on how that works on Windows.

/cc @aclements @alexbrainman

[2017-07-10 22:09] kjk commented on #20975
For what it's worth, here's a callstack of the crash. It's on main thread:

[code]

Go code doing the windows message pump https://github.com/lxn/walk/blob/master/form.go#L336

[2017-07-10 22:31] campoy opened #20976 "cmd/go: go test -S repeated symbols for darwin"
#### What did you do?

I ran the benchmark defined in this [code](https://play.golang.org/p/dGdRN_wd1i) with `-gcflags "-S"` in order to see the generated assembly.

[code]

I ran the benchmark with the command:

[code]

The output contains the definition of `BenchmarkDiv` and `div` twice, and their content differs.
See full output [here](https://gist.github.com/campoy/dcb01933ca93c86f2f8f9224f0f7

[2017-07-10 22:39] kjk commented on #20975
For easy reproduction, I've created https://github.com/kjk/go20975

[2017-07-10 22:50] davecheney commented on #20976
I can't reproduce the issue on my darwin machine,
[code]
Note: i'm not running the latest release of osx, so i'm also not running the latest version of xcdeo
[code]
This might be relevant.

[2017-07-10 22:52] dsnet commented on #20973
\cc @bcmills

[2017-07-10 23:06] campoy commented on #20976
My system is running:

[code]

Maybe that's why?

[2017-07-10 23:07] bradleyfalzon commented on #20976
I'm running the same:

[code]

Output:

[code]

[2017-07-10 23:11] aclements commented on #20975
The problem isn't in Go code.

Based on my reading of the code, the stack *should* be set to 2MB in cgo binaries. It's only 128KB in pure Go binaries. Could you double check what the PE header says?

[2017-07-10 23:11] campoy commented on #20976
Do you have XCode installed, @bradleyfalzon?

I do not:

[code]

[2017-07-10 23:19] kjk commented on #20975
[code]
`0x20000` == 131,072 bytes.

The thing is, this code doesn't use cgo.  All calls to win libraries are via syscall.

[2017-07-10 23:24] kjk commented on #20975
The discussion in https://github.com/lxn/walk/issues/261 claims that adding a dummy `import _ "runtime/cgo"` to the program would force the large stack but it doesn't seem to be the case in my testing. Maybe that changed somewhere before 1.8.3.

[2017-07-10 23:29] kjk commented on #20975
Scratch that, it probably would have worked if I had `gcc` installed:
[code]

[2017-07-10 23:32] bradleyfalzon commented on #20976
No, pretty vanilla workstation:

[code]

[2017-07-10 23:33] campoy commented on #20976
Well ... there has to be something different. What's your `go version`?

[2017-07-10 23:34] bradleyfalzon commented on #20976
[code]

[2017-07-10 23:43] campoy commented on #20976
Have you installed go by downloading the installer?
I wonder if that might be the difference, I'm compiling from source code using:

`GOROOT_BOOTSTRAP=$GOPATH/src/golang.org/x/go1.7.4 ./make.bash`

[2017-07-10 23:51] campoy commented on #20976
I just installed Go from scratch using the pkg installer but I still can reproduce the issue.

[2017-07-11 00:06] bradleyfalzon commented on #20976
Yes, it's using https://storage.googleapis.com/golang/go1.8.3.darwin-amd64.pkg

It's just that and your source code installed today. I had to create $GOPATH/{src,pkg,bin} myself.

[2017-07-11 01:35] bronze1man commented on #13847
I just found a work around to solve this problem.
* copy `/usr/local/go/src/go/internal/gcimporter` to your own GOPATH. (like src/github.com/xxx/gcimporter18
* Delete some code in `Import` function to pass in filename and id directly.(like `func Import(packages map[string]*types.Package, id, filename string) (pkg *types.Package, err error)`)
* Delete `// import "go/internal/gcimporter"`
* call it

[2017-07-11 01:44] Mike-Dunton commented on #20796
It would be nice to get a patch to skip the tests. Currently blocked on building this in my pipeline

[2017-07-11 02:37] hirochachacha commented on #20976
I can reproduce this, however  I'm wondering  about `2>& out.text2`.
If I replace it with `2> out.text2`, the problem is gone.

[2017-07-11 02:50] josharian commented on #20875
ReadMemStats gets called *a lot*--every iteration, via StartTimer/StopTimer, e.g. at https://github.com/golang/go/blob/master/src/sort/sort_test.go#L640.

[2017-07-11 03:04] agl commented on #15196
Brian, you're not misunderstanding. (Although I don't think Paul's argument that context-dependent validation is ok but ignoring these constraints is not, is sound. One implies the other unless we're adding contexts for email and so on.)

When the Go X.509 library was first written it was quite unclear whether context-dependent validations were going to be the norm or not, mostly because of DANE.

[2017-07-11 03:22] smarterclayton opened #20977 "net/http: No way in HTTP2 for http.Handler to request a client to close its connection"
### What version of Go are you using (`go version`)?

1.8.1

### What operating system and processor architecture are you using (`go env`)?

linux/amd64, darwin/amd64

### What did you do?

The golang net/http HTTP1 server will close a client connection if a `Connection: close` header is written to the `http.ResponseWriter`. In HTTP/2, this will be passed directly to clients (resulting in an HTTP2

[2017-07-11 03:33] antonyho commented on #11496
This issue has been unplanned for 2 years. Is there someone who are looking into it?

[2017-07-11 04:01] alexbrainman commented on #20975
I had quick look at how we set reserved stack size.

For Cgo program, it is 1M for 386 and 2M for amd64.
Search for oh64.SizeOfStackReserve and oh.SizeOfStackReserve in cmd/link/internal/ld/pe.go for first thread. All other threads start with
[code]
in runtime/cgo/gcc_windows_386.c and runtime/cgo/gcc_windows_amd64.c, and _beginthread defaults to what first thread does.

For non-Cgo program, it is

[2017-07-11 04:11] odeke-em opened #20978 "cmd/go: get or build bizarrely fails to resolve imported function within package"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version devel +fcc3514 Fri Jul 7 05:51:55 2017 +0000 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/Users/emmanuelodeke/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/emm

[2017-07-11 04:14] bradfitz commented on #20977
/cc @tombergan

[2017-07-11 04:39] kjk commented on #20975
I tried 256kb, 512kb, 1mb, 2mb. My websites stops crashing at 512mb. Other websites need more. My vote would be for 2MB on win/64bit.

[2017-07-11 05:05] alexbrainman commented on #20975
I was hoping it would work with 256K.

What about 386? Should we make stacks different on 386 and amd64?

Alex

[2017-07-11 05:09] kjk commented on #20975
For 386 the standard seems to be 1 MB.

[2017-07-11 05:13] thomastaylor312 commented on #20841
Ok, so I have found that the error is occurring starting [here](https://github.com/golang/go/blob/release-branch.go1.8/src/os/dir_unix.go#L71). The `syscall.ReadDirent` call is returning 0, which happens twice when using the test repo like so:

[code]

This break causes [this line](https://github.com/golang/go/blob/release-branch.go1.8/src/os/dir_unix.go#L81) to return true and return an `io.EOF`.

[2017-07-11 05:13] odeke-em commented on #20978
Problem also exists on `go version go1.8.3 darwin/amd64`

[2017-07-11 05:18] alexbrainman commented on #20975
This will only allow Go program to start about 1000 threads on 386. See my comment https://go-review.googlesource.com/#/c/2237/2//COMMIT_MSG@18 Is that acceptable?

Alex

[2017-07-11 05:18] odeke-em commented on #20978
False alarm, I had a vendor directory in there, somehow but hadn't realized it and the code was stale.

[2017-07-11 05:18] #20978 closed

[2017-07-11 05:22] alexbrainman commented on #20841
os/dir_unix.go file is not used on Windows. Are you running your test on Windows?

Alex

[2017-07-11 05:22] mattn commented on #20841
@thomastaylor312 It seems you are looking UNIX code. Could you please look dir_windows.go instead of dir_unix.go?

[2017-07-11 05:55] kjk commented on #20975
1000 real OS threads on 32 bit windows should be more than enough for anybody. Any program with that many threads would trash the CPU anyway - there's really no point launching more than ~NUMCPU os threads.

It's really mostly about main GUI thread, which is the thread pumping the message loop which ends up calling wndproc of windows and the code called from there.

That's the main thread that is

[2017-07-11 06:33] alexbrainman commented on #20975
It is plenty for me. But other people might think differently.

I really do not know. I will let @aclements decide.

GUI does not have to run on the main thread. You can even run multiple GUI threads.

I think these different thread sizes for different environments are already complicated enough. I do not want to make things even more complicated.

Alex

[2017-07-11 06:40] tkng opened #20979 "Go's http client cannot connect to a HTTP2 server, returns Client.Timeout exceeded"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Following snippet code should be enough to reproduce the problem.

https://play.golang.org/p/PmZWp6NJlq

If I disabled HTTP2 by the environment variable `GODEBUG=http2client=0`, then I see no error. Hence I guess this issue is r

[2017-07-11 07:17] odeke-em commented on #20979
@tkng could you please try with the latest Go and see what the result is? Perhaps the bug was fixed in Go1.9.

[2017-07-11 07:29] odeke-em commented on #20979
I've made a bug repro at https://github.com/odeke-em/bugs/blob/master/golang/20979/main.go or
[code]
which when run seems like an infinite loop of renegotiating headers, until I hit Ctrl+C
[code]

/cc @tombergan @bradfitz

[2017-07-11 07:38] ALTree commented on #20886
@odeke-em I'd say go1.10. Doubt that something broken that was already broken in go1.8 will be fixed for 1.9, at this point go1.9 is done.

[2017-07-11 07:47] ALTree commented on #20969
@Dieterbe the alternative would be to embed the whole IANA Time Zone database in the binary(?)

[2017-07-11 08:12] Durgababu opened #20980 "os/exec: exec.command has memory leak"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are you using (`go env`)?
linux

### What did you do?
we are using exec.Command() method many places. And we observed that there is memory leak in each call to this. Even after running running.GC(), it is not getting f

[2017-07-11 08:13] tkng commented on #20979
@odeke-em thanks for your advice, I tried the latest golang master branch.

[code]
but, unfortunately, I still see the same error message as above.

[code]

[2017-07-11 08:40] ALTree commented on #20980
Are you using `*Cmd.Start`? Are you calling `Wait`?

http://tip.golang.org/pkg/os/exec/#Cmd.Start

[code]

[2017-07-11 08:49] ALTree commented on #6839
This was fixed by d4b6a198b3b44c8c9617c72ceca9c32ba089b5a8.

[2017-07-11 08:49] #6839 closed

[2017-07-11 09:28] Durgababu commented on #20980
We are using Start() as well as Wait(), still we have memory leak.

[2017-07-11 09:32] mvdan commented on #20980
@Durgababu please provide a short program that reproduces the problem. Otherwise it's very hard to tell whether there is an issue with how you're using the exec package.

[2017-07-11 09:33] Durgababu commented on #20980
cmdTimeout := int64(30000)
binary, err := exec.LookPath("sh")
if err != nil {
	return err.Error()
}

cmd := exec.Command(binary)
stdinWrite, _ := cmd.StdinPipe()
writer := bufio.NewWriter(stdinWrite)
stdoutRead, _ := cmd.StdoutPipe()
reader_out := bufio.NewReader(stdoutRead)
stderrRead, _ := cmd.StderrPipe()
reader_err := bufio.NewReader(stderrRead)

errStart := cmd.Start()
if errStart != nil {
	L

[2017-07-11 09:51] ALTree commented on #20980
`cmd.Process.Signal(os.Kill)`

Are you sending SIGKILLs to the processes spawned for your `Cmd`?

Also you're not checking the 'error' returned by `cmd.Wait. Please do so.

[2017-07-11 09:53] Durgababu commented on #20980
cmd.Process.Signal(os.Kill)
yes. We are sending SIGKILL to stop the command execution if it reaches timeout.

[2017-07-11 10:07] Durgababu commented on #20980
We added error checking for cmd.Wait(), it is exiting without errors(nil).

[2017-07-11 10:33] hirochachacha commented on #20976
I meant this is not a bug.

[2017-07-11 10:38] Durgababu commented on #20980
We did memory profile for above code using pprof package. It is showing leak in below lines of code:
os/exec.Command(/usr/local/go/src/os/exec/exec.go:133)
os/exec.(*Cmd).start(usr/local/go/src/os/exec/exec.go:368)
os/exec.(*Cmd).start(usr/local/go/src/os/exec/exec.go:359)

can someone help?

[2017-07-11 10:45] ALTree commented on #20980
IMHO you should ask for help in an appropriate place (see the [Questions wiki page](https://github.com/golang/go/wiki/Questions); it has a list of good places for asking for help on your code).

If you ask for help in one of those places, please try to post an **auto-contained example**. The code you posted above is not auto-contained, because I can't just copy-past it in a text-file and run it. I

[2017-07-11 10:54] eliasnaur commented on #19381
Initially I couldn't reproduce the problem on tip nor on the version from my https://github.com/golang/go/issues/19805#issuecomment-297800640 comment. Then I remembered that the Android builder had a problem around the same time where stuck Go test processes would slowly clog up the device resources, slowing it down and triggering timing sensitive tests such as TestStackGrowth.

So, in summary: I

[2017-07-11 11:20] bsiegert commented on #20852
I would be more comfortable with a netbsd-8 system than with 7.1. http://gnats.netbsd.org/cgi-bin/query-pr-single.pl?number=52034 is still pending, and it means that significant disk activity is likely to crash the VM, or make it hang.

[2017-07-11 12:45] mvdan commented on #20980
I agree with @ALTree. The discussion could go on, but this question doesn't belong in the issue tracker. I'm going to close this for now.

Feel free to open a new issue if you believe you found a bug. But please, as Alberto says, do provide a reproducible example - otherwise it's likely just a question.

[2017-07-11 12:45] #20980 closed

[2017-07-11 12:53] ALTree commented on #20976
It seems like you are writing the output of two different `go test` invocations to the same file.

[2017-07-11 13:04] CMGS opened #20981 "guru: no object for identifier"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
```go version go1.8.3 darwin/amd64```

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

I'm using guru to find object's definitions in my project under it's dir. I'm running it's as it should be:
```guru definition 'cl

[2017-07-11 13:04] rsc commented on #20948
Agree with Brad. It's fine to add a release note warning, but we've been making copies of Requests since at least Go 1.8's WithContext. Middleware should also be using context at this point I would imagine.

[2017-07-11 13:20] rsc commented on #20943
In general the rule for buffering I/O is to buffer as much as possible and therefore to flush as little as possible. Write implementations should check b.Available() > 0 before starting to write; if that's not true, they should call Flush then, before the write operation. The code you found was added to fix #5947, in which ReadFrom did not check for b.Available() > 0 before starting and therefore

[2017-07-11 13:20] #20943 closed

[2017-07-11 13:25] aclements commented on #19381
Thanks!

I think this all makes sense. The test started failing when I made `runtime.GC()` concurrent *because* it's a parallel test: before I made that change all of the expensive things in that test were STW so it wasn't *really* parallel, but after that change it was fighting with all of the other tests. Since concurrent GC claims 25% of the CPU, it probably started taking ~4 times longer to ru

[2017-07-11 13:26] hirochachacha commented on #20976
[code]
So, this is not a bug if the initial report is correct.

[2017-07-11 13:31] mccolljr commented on #18190
I'd like to take a look (not sure how much help I can actually be), but I'm not sure where in the codebase I should start looking. If anyone can give me a general idea as to where the code that handles this lives, that would be awesome.

[2017-07-11 13:47] aclements commented on #20975
Can you explain how a "system call" wound up deep in the MSHTML library? (Every time I think I'm starting to get a feel for Windows there's something even more mystifying...) Skimming over lxn, it looks like the Go syscall package has provided enough rope to actually call into arbitrary Windows libraries without going through cgo, but I'm still not sure how that wound up in MSHTML...

Maybe a call

[2017-07-11 14:23] mvdan commented on #20981
You seem to imply you're using a symlink. Is that correct?

For what it's worth, `GOPATH` is not required to work with symbolic links. See https://github.com/golang/go/issues/15507. `guru` isn't required to support them.

[2017-07-11 14:58] aclements commented on #18955
I think this is fair.

Can you expand on why you think this isn't an accurate description? It seems accurate to me.

(Really, this whole statement is somewhat inaccurate, as it's only true if the allocation itself is at least 8 bytes. But if that's not the case, then there's no way to use the 64-bit atomic ops anyway.)

[2017-07-11 15:04] chawk commented on #15142
I don't understand why the first lesson on Golang's website involves importing a random number generator but not providing an example for how a random generator is actually implemented?  It seems confusing to not include an example of Seed.

[2017-07-11 15:47] CMGS commented on #20981
@mvdan yes, I use symlink for build project without vendor. so how can I use guru to find object's definitions or something else in this case? copy whole dir to `$GOPATH` ?

[2017-07-11 15:55] mvdan commented on #20981
Depends on what you were using symlinks for in the first place. You could use a hard link. You could keep the code only inside `GOPATH`. You could do the symlink the other way.

Also see https://github.com/golang/go/issues/17271.

CC @alandonovan in case he wants to work on a fix, but I presume this will be closed as wontfix.

[2017-07-11 16:06] CMGS commented on #20981
hmmm, thank you  @mvdan , I will try hard link. hope #17271 become true, it can solve many develop problems in old projects like me.

[2017-07-11 16:06] #20981 closed

[2017-07-11 16:32] ALTree commented on #20976
My shell says "bash: out.text2: ambiguous redirect":

[code]

[2017-07-11 17:09] xoviat opened #20982 "cgo/ support msvc object files using go linker"
I understand that the go linker cannot currently link msvc object files and also recognize that this issue is likely to be a low priority. However, it would be nice to support this because it would somewhat simplify windows workflow. This issue is mainly to understand how much effort this would be and/or what would be required.

[2017-07-11 17:21] lunixbochs commented on #12700
This doesn't seem to work under Go 1.8 on OS X 10.12 Sierra.

[2017-07-11 17:45] toussaiv opened #20983 "Is there a way to build a binary which will be run on AIX? what GOARCH and GOOS should I choose?"
### What version of Go are you using (`go version`)?
1.8

### What operating system and processor architecture are you using (`go env`)?
windows but I want a binary for AIX

### Question
Is there a way to build a binary which will be run on AIX? what GOARCH and GOOS should I choose?

[2017-07-11 18:08] OneOfOne commented on #20983
Dup of #19200?

[2017-07-11 18:10] bradfitz commented on #20983
See in-progress dup issue #19200.

You'll need to use gccgo. There are no plans for the gc compiler (the one from golang.org) to support AIX, but the gccgo compiler should work. Or it appears that it's increasingly working.

Closing as dup of #19200.

[2017-07-11 18:10] #20983 closed

[2017-07-11 18:11] bradfitz commented on #20982
/cc @alexbrainman

[2017-07-11 18:33] #18955 closed

[2017-07-11 18:37] bradfitz commented on #20969
@ALTree, some discussion of that is in https://github.com/golang/go/issues/20629#issuecomment-307430888.

[2017-07-11 18:49] bradfitz commented on #20979
What software is `previous.jp` running? It's sending a GOAWAY to us in response to our first request:

[code]

That looks busted on their side. If they didn't like something about our request, they sure didn't say why.

We write:

[code]

And then we read:
[code]

Maybe their implementation expects the SETTINGS ACK immediately after the initial SETTINGS frame (requiring a full RTT), instead of the

[2017-07-11 18:50] kjk commented on #20975
Please see the callstack in https://github.com/golang/go/issues/20975#issuecomment-314264339

The structure of Window GUI app is:
* you create your windows
* you run the messsage pump

Message pump is:
[code]
DispatchMessage is  a syscall:
[code]

This triggers arbitrarily deep processing inside windows code. In this case mshtml control was told to display a website, so, after downloading html, it

[2017-07-11 18:52] bradfitz commented on #20979
It works in Chrome, though.

What's the difference?

[2017-07-11 19:12] Dieterbe commented on #20969
can somebody answer:

(i hope that question did not come across snarky or sarcastic. I just need clarity on that before I can think of suggestions for improvement)

[2017-07-11 19:30] bradfitz commented on #20969
@Dieterbe, oh, I see what you're suggesting now. That if, say, `/usr/share/zoneinfo` exists on disk and is not empty, that it's the only source of truth and that the zip file shouldn't be used as a backup (and thus the error message of its non-existence would never occur).

That's a possibility. I don't believe the intent of the current code is to blend two sources of information (zoneinfo dir and

[2017-07-11 19:47] faiface commented on #6977
I have one more example where fixing this would help. Consider we want to have `ReadSeekCloser`, so naturally, we define it like this:

[code]

But, this doesn't work, because of "duplicate method".

I find this unnecessary. Not only does it force me to duplicate method definition, it's also inconsistent. Considering that an interface is a *set of methods*, it's natural to expect, that C now conta

[2017-07-11 19:49] eanger commented on #19082
I've run some experiments to check out the behavior of the AArch64 1.9b2 binary, looking at the performance of the workloads in the [Computer Language Benchmarks Game](http://benchmarksgame.alioth.debian.org/). All the benchmarks worked as expected. Here's a figure showing speedup of 1.9b2 over 1.6 for each of the benchmarks:
![golang-1 6-vs-1 9b2](https://user-images.githubusercontent.com/1099658

[2017-07-11 20:06] jonmayergoogle opened #20984 "proposal: composite errors"
## Propopsal: composite errors

### Summary

I would like to propose a standard interface for creating composite errors.

### Why

Composite errors arise when more than one problem needs to be reported.  One possible use would be to report a combination of all the errors that appear when joining the results of multiple goroutines.  Another possible use would be reporting multiple syntax errors whe

[2017-07-11 20:10] cznic commented on #6977
Method sets *are* sets. This fact however does not imply that a method set must support set operations. Or all set operations. Or any particular set of set operations. Or that a method set must define those operations in the exactly same way as any abstract mathematical sets composed of any abstract members.

Some set operations are impossible to have for method sets or they have no obvious well d

[2017-07-11 20:11] jba opened #20985 "x/net/http2: retry requests rejected with REFUSED_STREAM"
### What version of Go are you using (`go version`)?

go1.8.1.typealias

### What operating system and processor architecture are you using (`go env`)?

Linux amd64

### What did you do?
[code]
Where refused-stream.go is https://gist.github.com/jba/9e75c3aedeb4e8b98a323424283fae88.

(veener-jba-doc-test-bucket/datastore should be publicly readable, but I'm guessing any object would do.)

### What

[2017-07-11 20:22] gobwas commented on #20943
@rsc Thanks for clarification. Yeah, removing the "one after" is looks fine too. By the way, after few days pass, I realise that preemptive flush after `Write()` with `buf.Available()` bytes will produce unexpected behaviour – caller probably may want to fill buffer, but not to flush it. So yeah, its ok, thanks.

[2017-07-11 20:55] pierrre commented on #20444
For anyone interested, I've built this https://github.com/pierrre/compare

[2017-07-11 20:59] mvdan commented on #20444
I believe this was built simultaneously: https://github.com/google/go-cmp

[2017-07-11 21:02] faiface commented on #6977
@cznic Of course, you're right, it's not mandatory. However, I still argue that it's a bad choice. Not supporting proper union when there's literally nothing preventing it is, IMHO, unnecessarily limiting.

[2017-07-11 21:02] mvdan commented on #20984
This may seem like an obvious question, but what about `[]error` return values? Or are those a problem when satisfying an interface/type that expects the implementation to return a single `error`?

[2017-07-11 21:03] mvdan commented on #20984
It could also be possible to define your own type, like `CompositeError`, being able to obtain information about the errors it contains like `err.(*CompositeError).Children()`. Is there a reason why having this in the standard library would be better?

[2017-07-11 21:06] faiface commented on #6977
@cznic Oh and btw, the analogy with integers and floats is wrong ;). `int32` can express values not expressible by `float32` and `int64` can express values not expressible by `float64`, so they're not in a superset/subset relationship.

[2017-07-11 21:07] jonmayergoogle commented on #20984
mvdan part 1: that is exactly right.  []error is not type-compatible with error.

mvdan part 2: my proposal does define it's own type (errorCollection), but it's private.  There's no reason to expose a completely new top-level type when I can simply improve the functionality of the generic error type.  The dev never needs to know whether they've got an error or a composite error, unless they are e

[2017-07-11 21:12] mvdan commented on #20984
Either way, you're still adding a few new exported names to the `errors` package. This adds complexity to the standard library. I'm still not clear on why having this in the standard library is better than having it elsewhere.

Do note that there are plenty of "helper" error packages out there, like https://github.com/pkg/errors. Perhaps that would be a better home.

[2017-07-11 21:13] hdevalence opened #20986 "cmd/internal/obj: rewriting MOVQ to XOR causes bugs and confusion"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8.3 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/hdevalence/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local

[2017-07-11 21:14] mvdan commented on #20986
Have you tried on tip or 1.9beta2?

[2017-07-11 21:20] jonmayergoogle commented on #20984
Because this is a common design pattern.  Since errors are used universally throughout every go package, consistently handling composite errors makes sense.

A world in which some modules provide one kind of composite error, and other modules provide another incompatible composite error, is a bad world.

[2017-07-11 21:24] jonmayergoogle commented on #20984
Example of use:

[code]

[2017-07-11 21:36] velovix commented on #20913
An existing solution to the problem is to leverage anonymous functions.

[code]

I know it's not the most beautiful syntax, but I think I prefer it aesthetically over this solution.

[2017-07-11 21:40] ghasemloo commented on #20913
yes, this is alternative 2 in the proposal.

[2017-07-11 21:44] velovix commented on #20913
Apologies, I should have read more closely.

[2017-07-11 22:12] ghasemloo commented on #20913
np :) I should have included an example.

[2017-07-11 22:18] willfaught commented on #20951
Good point, I can see that. I wonder whether it would be useful at all for var block decls to have type/expr "stamps" too, but that's a separate issue.

[2017-07-11 22:18] #20951 closed

[2017-07-11 22:48] gabriel commented on #20254
You can't use alloc/init to make a go struct.. You have to create a constructor in go code and call that.

[code]

Yes:
[code]

[code]

[2017-07-11 22:58] thomastaylor312 commented on #20841
@alexbrainman This is WSL, so it is unix. I am running WSL on Window 10.

[2017-07-11 23:08] ghasemloo commented on #20352
I feel the ability to change the capacity of a chan during the runtime would be a better solution for the issue.

If a chan becomes full I think it is more flexible to check that the chan is full (e.g. using select) and then perform some actions based on that and then if appropriate explicitly increase the chan capacity rather than rely on chan capacity growing implicitly.

[2017-07-11 23:16] ghasemloo commented on #9859
I have also written code that assumed this would work.

Considering the the reading and assignment of embedded fields work it is quite unintuitive that his doesn't.

https://goplay.googleplex.com/p/d9tdQxQism

[2017-07-11 23:25] ghasemloo commented on #20446
I am not sure the proposal covers all use cases of new, e.g. if the type to be allocated is determined at the run time. Without it we would have to use reflection and recursion to do so, and in addition the code would break if new builtin types are added to the language.

[2017-07-11 23:42] ghasemloo commented on #20282
I personally feel that error is really a very special case of interface in go. In no other case I really need to return a nil interface, it is the only interface that where a nil interface value has a meaning. So comparison with error is generally not a close comparison.

[2017-07-11 23:53] bcmills commented on #20446
@ghasemloo The existing `new` operator only supports static types. To the extent that the situation you describe is a problem, it is already a problem today.

[2017-07-12 00:00] ghasemloo commented on #4633
You can also do so using anonymous functions and capturing:

f := func() int { return g(x) }

[2017-07-12 00:05] ghasemloo commented on #20176
I think a better proposal would be to accept `x[-1]` as `x[len(x)-1]` as in Python.

[2017-07-12 00:41] josharian commented on #11799
I took yet another stab at this, but I am having a hard time making friends with the linker, so I'm going to leave this for @aarzilli or @heschik.

Here are some very useful implementation details from @ianlancetaylor, copied from #20463:

---

DWARF compression is done at the file container level.  There are two ways to do it.  The older way is to prefix the DWARF section name with a 'z', as in '

[2017-07-12 00:41] josharian commented on #20463
Closing in favor of #11799. I've copied Ian's hints there.

[2017-07-12 00:41] #20463 closed

[2017-07-12 00:43] alexbrainman commented on #20982
@xoviat what is the problem that you are having? I need to be able to reproduce it here. So, please, provide all steps I will need to follow to reproduce this.

Thank you

Alex

PS: I won't have computer until end of July. I will have a look at this then.

[2017-07-12 00:44] bradfitz commented on #20841
If Windows is implementing the Linux system calls in the wrong way (== any way different from Linux), then this is a bug in WSL, not Go.

But fortunately the WSL team is very quick to fix such bugs.

[2017-07-12 00:49] tkng commented on #20979
@bradfitz thanks, your comment is helpful. Unfortunately, I don't know what kind of software is used. I'm just a developer of an image resizing proxy with Golang, and found that I can not access to the site through HTTP2 via Golang. I'll try to contact them, ask what software is used there.

But there's little hope to obtain detailed information. (I don't have a direct connection to an engineer.)

[2017-07-12 00:51] xoviat commented on #20982
what is the problem that you are having?

I haven't tried it yet, but I would like to specifically call c functions in msvc object files by linking them as .syso with the go linker. Everything that I have read indicates that this is not possible but I will create a procedure to reproduce the specific error that occurs.

[2017-07-12 00:54] alexbrainman commented on #20975
LoadLibrary loads DLL from a file.
GetProcAddress finds a function (by name) inside of DLL that you just loaded into memory.
Once you have access to the function (address of it), and you know what parameters it takes, you can call it.
All these functions, obviously, assume you use standard Windows stack. Simple functions use very little stack, but complicated might use a lot.
Microsoft provide a l

[2017-07-12 00:57] bradfitz commented on #20979
@tatsuhiro-t, do you happen to have any idea here? Either of what software that site runs, or what their server might not like about Go's HTTP/2 client?

[2017-07-12 00:57] alexbrainman commented on #20982
Have you tried building these into a DLL, and use them from inside of DLL?

Please, do. Thank you.

Alex

[2017-07-12 01:04] alexbrainman commented on #20841
I don't have WSL installed. I won't be able to help you with that.
But it should not be much different - you just add println everywhere to see what is happening, and what errors happen. And then compare what you see with what API documentation promises. And tell us which API does not deliver on its promise.

I suspect @bradfitz knows who to ping about WSL bugs.

Alex

[2017-07-12 01:10] xoviat commented on #20982
That was actually my original plan. I am using swig so it is not so convenient to compile the generated c code separately and then rewriting the functions as DLL exports. It's not difficult, but it is annoying when the workflow with gcc is just `go generate; go build`.

[2017-07-12 01:32] thomastaylor312 commented on #20841
@alexbrainman That output I posted [above](https://github.com/golang/go/issues/20841#issuecomment-314325015) is what I found out from putting `println` everywhere. I think it has something to do with the syscall I mentioned, so it may be good to check with the WSL team to see if there is a bug with how the syscall is implemented. @bradfitz any pointers on who I could talk to?

[2017-07-12 01:45] brendandburns commented on #20841
I can direct you to the WSL folks or you can file a bug here:

https://github.com/Microsoft/<https://github.com/Microsoft/BashOnWindows>BashOnWindows<https://github.com/Microsoft/BashOnWindows>

Let me know if you have trouble getting traction and I can help accelerate.

--brendan

________________________________
From: Taylor Thomas <notifications@github.com>
Sent: Tuesday, July 11, 2017 6:32:49

[2017-07-12 02:25] pjebs opened #20987 "spec: define minimum set of types panic will print?"
I have a custom struct that satisfies error interface.

[code]

If I call `panic( )` with it and is not recovered, it prints out:
`{%!!(MISSING)s(bool=false) [[code]: 1 [error]: Square root of negative number is prohibited [message]: Please make number positive or zero error 1 error 2]}`

ErrorCollection itself satisfies error interface, and returns a nice formatted string.

Internally, can the `f

[2017-07-12 02:27] tatsuhiro-t commented on #20979
It looks like the server does not like SETTINGS_MAX_HEADER_LIST_SIZE.  It smells like a bug of the server side.

[2017-07-12 02:27] pjebs commented on #20987
If ErrorCollection is newly initialized and I panic on it, then output is:
`{%!s(bool=false) []}`

[2017-07-12 02:37] ncw commented on #20763
Here is a patch for go which fixes the issue.

It might even be correct but I don't really know!

Maybe the issue should be re-opened?

See also [ubuntu bug tracker](https://bugs.launchpad.net/qemu/+bug/1696353).

[code]

[2017-07-12 03:33] bradfitz commented on #20979
@tatsuhiro-t, oh, indeed! Thanks.

It accepts a value up to 32KB, but one byte over that and it's rejected:

[code]

[2017-07-12 03:35] bradfitz commented on #20979
The precious.jp server is probably misinterpreting the meaning of `SETTINGS_MAX_HEADER_LIST_SIZE` (http://httpwg.org/specs/rfc7540.html#SETTINGS_MAX_HEADER_LIST_SIZE) and thinking that it's how much the client will send, whereas it's actually the client telling the server how much the client is willing to receive. The server is probably confused and thinking, "No way, I'm not going to allocate mor

[2017-07-12 03:38] bradfitz commented on #20763
Sure, I'll reopen given the renewed discussion and investigation in that Ubuntu bug.

@aclements, @ianlancetaylor?

[2017-07-12 03:41] bradfitz commented on #20987
Please post a complete program demonstrating the issue.

[2017-07-12 03:43] bradfitz commented on #20987
Sorry, I don't think that's going to happen at the moment.

But I realize that the panic docs don't really say which types are supported:

https://golang.org/ref/spec#Handling_panics
https://golang.org/pkg/builtin/#panic

@griesemer, @ianlancetaylor?

[2017-07-12 03:44] bradleyfalzon commented on #20987
Just to clarify, does it not do this already?

https://play.golang.org/p/FCz5_Wu7F8
https://github.com/golang/go/blob/286599f27026f5c4001f1da25b35aa1243f51d08/src/runtime/panic.go#L413-L414
https://github.com/golang/go/blob/286599f27026f5c4001f1da25b35aa1243f51d08/src/runtime/error.go#L77-L84

[2017-07-12 03:44] bradfitz commented on #20986
/cc @randall77 @josharian @mdempsky

[2017-07-12 03:45] bradfitz commented on #20987
In any case, it's not documented AFAIK.

Let's see @pjebs's complete program.

[2017-07-12 03:56] ianlancetaylor commented on #20987
The builtin function panic supports all types.  This is documented at https://golang.org/ref/spec#Handling_panics .

The suggestion for exactly what to print if a panic is not recovered is not part of the language spec.  The spec says only "At that point, the program is terminated and the error condition is reported, including the value of the argument to panic."  The spec deliberately does not sa

[2017-07-12 04:02] pjebs commented on #20987
Here is a truncated example of my program (https://github.com/pjebs/jsonerror):

https://play.golang.org/p/3LIB5bCJNj

[2017-07-12 04:10] josharian commented on #20986
I don't think there's anything to say beyond what was said in https://github.com/golang/go/issues/12405. Unless Russ has changed his mind, this is a documentation issue.

[2017-07-12 04:13] ianlancetaylor commented on #20976
Are you really writing literally `2>& out.text`?  Which shell are you using?  That syntax is not supported by either POSIX sh or bash.

[2017-07-12 04:16] bradleyfalzon commented on #20987
Only `*T` (pointer to T) implements error in that example:

[code]

But you're passing panic `t` which is of type `T`. If you try `panic(&t)` (passing `*T` to panic) then the argument satisfies the error interface, and the output is:

[code]

[2017-07-12 04:16] bradfitz commented on #20987
You panicked with a `T` value, not a `*T` value.

Working as intended.

[2017-07-12 04:16] #20987 closed

[2017-07-12 04:25] ianlancetaylor commented on #20970
I don't think we want an example of this in https://golang.org/cmd/cgo.  It's too esoteric and is really more about C than about Go.  This is more like a detail for a blog post somewhere.

I'm going to close this issue.

[2017-07-12 04:25] #20970 closed

[2017-07-12 04:27] robpike commented on #20176
As explained above by @bradfitz, that's not a good suggestion.

[2017-07-12 04:32] tombergan commented on #16100
That's an argument for why Close is an expedient solution, but not an argument for why Close is the right API. The Close solution forces callers to write little adapters, such as your timeoutReadCloser adapter or your context adapter. Why should callers have to go through so much trouble?

The contexts solution reuses a standard construct, contexts, which Go programmers should already be familiar

[2017-07-12 04:46] ianlancetaylor commented on #18598
Thanks.  It looks like while the test is running the system is getting steadily more and more overloaded, and the test blows through the timeout.  I note that the test calls `t.Parallel`.  I would guess that some other `t.Parallel` test is using too many resources.

Something I didn't notice before is that every failure on ARM is in the `GOMAXPROCS=2 runtime -cpu=1,2,4` section, likely meaning tha

[2017-07-12 05:17] cznic commented on #20984
The proposal partially duplicates what [`scanner.ErrorList`](https://golang.org/pkg/go/scanner/#ErrorList) already provides.

True but

[code]

is and can be extended to to provide all what this proposal is about in a few more lines.

[2017-07-12 06:09] go101 commented on #18955
A slice is composed a header and an underlying array.
When we say "an allocated slice", we generally mean the header of the slice is allocated.
But we would never do 64-bit atomic operations on slice headers.
And for an allocated slice, its underlying array may be not allocated.
For example, its underlying array may be a field of a struct value.

The above texts may be also not good. I prefer to u

[2017-07-12 06:10] dominikh commented on #20984
I'm somewhat in favour of the proposal, iff the Go team wants to actively promote this kind of error handling.

Having all these 3rd party package makes it harder than necessary to work with "composite errors" as a consumer of libraries.

However, we might already be too late. Third party packages do exist, are in active use, and often implement more custom functionality (such as automatic collect

[2017-07-12 06:34] kevinburke opened #20988 "net/http: (*Request) ParseForm: document the error condition"
The current documentation for `ParseForm` doesn't describe when an error can be returned:

[code]

https://godoc.org/net/http#Request.ParseForm

[2017-07-12 06:50] tkng commented on #20979
@tatsuhiro-t @bradfitz thanks for great progress.

Though I haven't receive any replying from `precious.jp` yet, I found that the specification of netty seems consistent with the current situation. According to [the reference manual](https://netty.io/4.1/api/io/netty/handler/codec/http2/DefaultHttp2HeadersDecoder.html#maxHeaderListSize-long-long-), there's a method `maxHeaderListSize` in `DefaultH

[2017-07-12 06:59] thomastaylor312 commented on #20841
Thanks @brendandburns! I'll do a bit more debugging and then open up an issue

[2017-07-12 07:40] benshi001 commented on #20096
fixed in https://go-review.googlesource.com/c/41891/

[2017-07-12 07:40] #20096 closed

[2017-07-12 07:41] alexellis commented on #19082
Nice @eagner - out of interest which machine did you run these on?

[2017-07-12 07:41] benshi001 commented on #20966
Please also assign it to me. ^_^

[2017-07-12 07:48] ALTree commented on #20966
@benshi001 Can you change the title to "cmd:compile: use SBFX / UBFX instructions for XXX on ARMv7" (where XXX is the operation you're optimizing, I think it's "bit extraction"(?)).

[2017-07-12 07:55] nightlyone commented on #20984
Currently any user of the proposed API which already returns or dives into multi value errors
 (e.g. by type assertions) is not supported by the proposal. This makes roll-out a bit of an adventure for public APIs (e.g. Google APIs) and their consumers.

To ease the transition I propose to handle the optional interface (name debatable)
[code]

which is internally handled by the proposed functions a

[2017-07-12 07:57] Allthewaylive247 commented on #20678
Can anyone help me set my page back up got hack

[2017-07-12 08:01] Allthewaylive247 commented on #20951
Can anyone help me out this is too smart for me

[2017-07-12 08:22] Durgababu opened #20989 "os/exec: exec.command has memory leak"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are you using (`go env`)?

Linux
### What did you do?

I am using **exec.Command()** in my code and observed that there is a memory leak in this call. Actually my requirement is my program will continuously runs on mac

[2017-07-12 09:16] tkng commented on #20979
The reply came from `precious.jp`. According to that, they use BIG-IP, but they don't want to reveal the version. Nothing special about setting.

I asked them to check their setting which related to SETTINGS_MAX_HEADER_LIST_SIZE if possible.

[2017-07-12 09:40] Durgababu commented on #20989
@ALTree  Can we get any fix in coming releases? or we should wait till Go1.10? Because my program already running in many production devices almost 10k devices and all are getting impact very badly.
Appreciate if it can be validated and fixed at earliest. Thanks.

[2017-07-12 09:59] Quasilyte commented on #20733
I want to note that semantics that rely heavily on the optimizer to be efficient are
somewhat unpleasant to use.

You may believe that a compiler "should be smart enough" to avoid any excessive allocations in obvious cases, but it may tempt you to check this over and over again in disassembled code to be sure.

Side effect of proposals like this:
because they require "optional" optimizer improveme

[2017-07-12 10:08] ALTree commented on #20989
@Durgababu unfortunately go1.9 is pretty much done at this point (we're deep in the code freeze period) so it's unlikely a fix for this problem (if this is a valid issue) will be included in go1.9.

See [this wiki page](https://github.com/golang/go/wiki/Go-Release-Cycle#may-1--november-1-release-freeze-begins) for a description of the go release cycle.

In any case I haven't investigated this (it'

[2017-07-12 10:09] ALTree commented on #20989
Tentatively cc'ing @aclements.

[2017-07-12 10:13] zegl commented on #20989
Here is a simpler version of the program to demonstrate the issue:

[code]

[2017-07-12 10:26] Durgababu commented on #20989
Thanks @zegl

[2017-07-12 10:35] raszi opened #20990 "crypto/x509: root_darwin.go does not include trusted root certificates from System/Login keychains"
This is a bug for tracking the work on the certificate handling in the **not** cgo version of go.

Intentionally copied over the original bug description from here #14514.

1. Tested on go version go1.6 darwin/amd64 and go version go1.5.3 darwin/amd64.
2. OS X Yosemite, OS X El Capitan
3. I attempted to connect to a TLS service with a certificate signed by an internal, enterprise certificate autho

[2017-07-12 11:06] nvartolomei commented on #18997
👍

https://github.com/felixge/httpsnoop/blob/master/wrap_generated_gteq_1.8.go
https://github.com/prometheus/client_golang/blob/master/prometheus/promhttp/delegator.go

This needs to stop.

[2017-07-12 11:35] matope commented on #16100
@tombergan I see what you want to propose.

I agree with you on this point. At least for now, `context` is not a standard or familiar (or even efficient) way to abort single Reads. So, providing `ContextReader` by `net/http` would not reasonable for now. I think you need to propose it as a standard first (on golang-dev?).

Main motivation of this issue is to implement timeouts based on blocking ti

[2017-07-12 13:01] ianlancetaylor commented on #20989
Interesting.  Using the shorter program from @zegl I do see the RSS size slowly rising with 1.8, but with 1.9 it is stable.  I do not know what changed in this area.

@Durgababu could you try your real program with 1.9 to see if you still see the problem?

[2017-07-12 13:34] bcmills commented on #20984
@jonmayergoogle

Is it? I think that claim itself needs some support.  How often does the need for lists of errors come up in situations where the function must return `error` instead of `[]error`?

Concrete examples would be helpful.

[2017-07-12 13:45] Durgababu commented on #20989
@ianlancetaylor Where can i get Go1.9? i am still seeing Go1.8.3 in https://golang.org/dl/
can you please provide go Go1.9 source?

[2017-07-12 13:51] nussjustin commented on #20989
@Durgababu You can use the following to get the latest Go 1.9 Beta as a separate command

[code]

After that you can use `go1.9beta2` as you would use the normal `go` tool.

[2017-07-12 14:04] Durgababu commented on #20989
@nussjustin
Great
Now i am not getting any leak with 1.9
When we can get Go1.9 stable version?

[2017-07-12 14:08] aclements commented on #20975
@kjk, thanks for the explanation. It's interesting that message loops haven't changed since I last wrote Windows GUI code 15+ years ago. :) I take it some other part of your application set up the MSHTML control, again without using any cgo?

Right. My point is that we're now well outside the realm of what's really considered a "system call". I realize the distinction is blurry on Windows, but I a

[2017-07-12 14:24] aclements commented on #20763
Yikes. Clone and SysV semaphores. Two of my favorite things.

@ncw's patch is clearly safe and arguably even the right thing to do (though since Go never exits Go-created threads I don't think the difference is actually observable even if you tried, but I've got patches lined up that will change that). glibc passes `CLONE_SYSVSEM` when creating threads and it has the right semantics for threads.

[2017-07-12 14:24] tombergan commented on #20977
@smarterclayton Do you use HTTP/2 via net/http or do you use x/net/http2 directly? net/http is currently very centered around HTTP/1 and doesn't have a real notion of a "connection".

Ideas:

1. Add x/net/http2.ServeConn, with Serve and Shutdown methods. A handler could get at the request's ServeConn by extracting a value from the request's Context. This feels kind of ugly and doesn't backport nic

[2017-07-12 14:26] toussaiv commented on #20983
Thank you, Is there a tutorial on how to configure gccgo? I have gcc installed but it seems not as easy to use it with gccgo...

[2017-07-12 14:27] tombergan commented on #18997
@joeshaw Are you still interested in helping with the implementation? We could start reviewing the implementation at any time, although we shouldn't submit anything until the Go 1.10 window opens (in August I believe).

[2017-07-12 14:59] tfriedel6 commented on #18210
I am currently getting the same error. After some digging, I found that the gobind command cannot resolve the imports in the go files when GOOS is set to "android". This can be easily determined adding some output to the error handler function here:

https://github.com/golang/mobile/blob/master/cmd/gobind/main.go#L110

Looking further, it seems that both the gobind and the gomobile command make us

[2017-07-12 15:02] ianlancetaylor commented on #20975
I note that the linker already changes its behavior based on whether `reflect.Value.Call` is linked into the program.  We could similarly detect `syscall.LoadDLL`.

[2017-07-12 15:33] AnomalRoil commented on #20654
I recently played around with [Dudect](https://github.com/oreparaz/dudect) (from the paper "[Dude is my code constant time](https://eprint.iacr.org/2016/1123.pdf)") and ended up [reimplementing it in Go](https://github.com/anomalroil/go-dudect). While this might be considered as a "lesser", or "easier", way to go around constant time checks, since it relies on statistical tests, it actually allows

[2017-07-12 15:41] trex58 commented on #20983
We (BullFreeware project) have ported gccgo on AIX.
It is a first release. Further release should fix some more issues (mainly in libgo).

You need to download and install GCC 7.1.0-7 (for AIX 7.1 and 7.2) or GCC 7.1.0-6 (for AIX 6.1).
It is delivered as RPMs.
Look at: http://www.bullfreeware.com/search.php?package=gcc&version=aix7.2
gcc-go-7.1.0-7 for aix7.2 is available at: http://www.bullfreewa

[2017-07-12 16:10] toussaiv commented on #20983
Big thanks @trex58 ! I Will test it tomorrow.. I was close to stop the benchmark of golang for my project..

[2017-07-12 16:34] odeke-em commented on #20985
Looks like this is another HTTP2 problem almost reminiscent of https://github.com/golang/go/issues/20689 perhaps

/cc @tombergan @bradfitz @Capstan

[2017-07-12 17:15] bradfitz commented on #20936
FTR, little tool was in https://go-review.googlesource.com/c/47971/

[2017-07-12 17:25] stamblerre commented on #20945
16140

[2017-07-12 17:39] aclements commented on #18598
I recently dropped `t.Parallel()` from `TestStackGrowth` because it also had a built-in timeout that made it sensitive to load. Perhaps in general tests with timeouts should not be parallel.

Note that `CgoSignalDeadlock` itself sets GOMAXPROCS to 100. But maybe the rest of the system is just more loaded in this test section.

[2017-07-12 17:43] #20763 closed

[2017-07-12 17:49] bradfitz commented on #20985
This isn't a GFE bug implementing HTTP/2 wrong.

This is GCS (via the GFE) telling us to slow down it seems. But I can't reproduce. Maybe their rate limiting likes me more.

Oh, if I crank it up 10x I can get the error. With `GODEBUG=http2debug=2`:

[code]

It's not clear what the GFE wants us to do, though: if it didn't want us to open 100 concurrent streams, why did it tell us to?

[code]

So, o

[2017-07-12 17:55] eanger commented on #19082
It was run on an A57 platform restricted to using a single core.

[2017-07-12 17:57] dsnet commented on #20984
I agree with @bcmills. When running in a single goroutine, if you ran into an error, you usually stop work and return. Thus, you only have a single error.

In the case were you have multiple goroutines, it is possible that multiple can fail, but in my experience, when multiple do fail it's because of the same issue (e.g., disk out of storage). In this situation, the first error is good enough and

[2017-07-12 18:02] jonmayergoogle commented on #20984
@bradfitz -- this proposal changes a module, but not language syntax.  Is LanguageChange appropriate here?

[2017-07-12 18:05] jonmayergoogle commented on #20984
@cznic and @nightlyone I think we're actually more in agreement than not. Have you taken a look at my proposed implementation?

https://go-review.googlesource.com/48150

I think we're roughly debating whether or not we have a "Count" function that can operate on both simple and composite errors, versus a Count function that requires an attempt to cast to a composite error, followed by a function c

[2017-07-12 18:11] jonmayergoogle commented on #20984
@bcmills -- I don't know how to resolve your comment. The need to report multiple errors arises often in my code. The proliferation of proprietary solutions indicates that I'm not alone.

My goal here is to try to create a unified but minimalist approach, unencumbered by baggage in other solutions (nothing wrong with stack traces, but they belong in individual errors, not as a default part of a co

[2017-07-12 18:22] ghasemloo commented on #20176
Sorry, missed that.

[2017-07-12 18:23] jonmayergoogle commented on #20984
Looking at scanner.ErrorList:

This looks similar in intent, but is definitely not a generalized solution. It only allows strings to be added to the error collection, not errors, and there is no support for combining composite errors.

From a use perspective, I think scanner.ErrorList looks like this:

[code]

If FooFunction might return a composite error, the code expands to

[code]

For both sim

[2017-07-12 18:25] Allthewaylive247 commented on #20176
What is this

On Jul 12, 2017 2:23 PM, "Kaveh Ghasemloo" <notifications@github.com> wrote:

[2017-07-12 18:26] bcmills commented on #20984
@jonmayergoogle

Then give some _concrete_ examples, please. If there are lots of existing solutions, then you should be able to analyze the _specific_ use-cases they address and show how your proposal would subsume those use-cases.

[2017-07-12 18:47] jonmayergoogle commented on #20984
@bcmills  -- I'll do my best.

I think it was you who steered me in the direction of sync/errgroup, which can collect multiple errors but seems to only report the first error.  I also referred to hashicorp/go-multierror when thinking about this problem.

*   https://godoc.org/?q=multierror -- 19 hits.
*   https://godoc.org/?q=merrors -- 1 hit.
*   https://godoc.org/?q=multierr -- 1 hit.
*   https:

[2017-07-12 19:05] gaillard commented on #10930
What about adding a -minbenchiterations that takes precendence over benchtime so faster benchmarks can complete quickly and longer ones can still run enough times for a meaningful number?

[2017-07-12 19:07] jonmayergoogle commented on #20984
In fact, looking again at https://github.com/hashicorp/go-multierror/blob/master/multierror.go -- that implementation does mine one better with the inclusion of an overloadable formatting function.  I had originally pushed their code aside because I wasn't sure how I felt about their error wrapping implementation, but that may have been premature.

[2017-07-12 19:15] jonmayergoogle commented on #20984
I didn't see it before now, but https://github.com/uber-go/multierr/blob/master/error.go is almost exactly what I proposed.

[2017-07-12 20:07] #18106 closed

[2017-07-12 20:08] landonix commented on #18171
@nilator83 1450 was released on June 20th, you may need to ask your Cylance admin to enable it for your zone

[2017-07-12 20:20] bradfitz commented on #20977
What do you actually want to do?

(1) hard-code the TCP connection and break all other streams currently in-flight?
(2) just send a GOAWAY, gracefully finishing the current active requests?
(3) send a REFUSED_STREAM, so the client retries it elsewhere?

 I don't want to overload `Connection: close` for sure.

Another possibility is magic panic values, since net/http has historically (for better or

[2017-07-12 20:24] josharian commented on #10930
@gaillard I think -benchsplit (#19128) will help on this front.

[2017-07-12 20:32] josharian commented on #20989
Sounds like this is (will be) fixed in 1.9; thanks for confirming, @Durgababu. Closing.

[2017-07-12 20:34] bradfitz commented on #14447
Not critical for Go 1.9. But also looks like a good HelpWanted project for somebody, self-contained in `x/tools/godoc/cmdline.go` probably.

[2017-07-12 20:35] joeshaw commented on #18997
Why not?  Other than `example_test.go`, nothing in `httptrace` imports `http` so a circular dependency isn't an issue.

I could see us wanting to make the `http.Request` (perhaps a copy of it?) available in the `GotRequest` trace hook, though.

[2017-07-12 20:54] bradfitz commented on #18997
net/http already imports httptrace.

[2017-07-12 20:59] andybons opened #20991 "x/review/git-codereview: support WIP mode"
Work-in-progress mode is nice for when you want to upload a change but make it clear that it’s not ready for review.

https://gerrit-review.googlesource.com/Documentation/user-upload.html#wip

[2017-07-12 21:28] Capstan commented on #20985
Do I understand correctly that you are well below `MAX_CONCURRENT_STREAMS` and you're still getting `REFUSED_STREAM`?

[2017-07-12 21:32] bradfitz commented on #19296
I can't reproduce when running as root on CentOS 7.3.1611 (Core).

I did need to fix the test a bit first. I sent CL 48191.

[2017-07-12 21:37] bradfitz commented on #20985
@Capstan, that's what it seems like, but I could verify more. I didn't analyze the full log and count. Go's net/http client does respect the `MAX_CONCURRENT_STREAMS` streams from the peer (the GFE here) and respects it whenever it makes a new request, accounting for how many streams are already in flight.

[2017-07-12 21:38] josharian commented on #20991
Nice. How does this show up in the gerrit UI? Does it make the CL invisible to others, or just mark it somehow? Note that this is approximated today by putting the words "DO NOT REVIEW" in the commit message.

[2017-07-12 21:39] josharian commented on #20990
I'm really glad to see the non-cgo version of certs getting some careful attention.

[2017-07-12 21:40] andybons commented on #20991
Looks like this:
<img width="812" alt="screen shot 2017-07-12 at 3 40 03 pm" src="https://user-images.githubusercontent.com/365204/28141111-6f27ed86-6718-11e7-85ec-56acc3516f38.png">

[2017-07-12 21:49] bradfitz commented on #17419
Just got another:

https://storage.googleapis.com/go-build-log/c2e01024/windows-amd64-gce_7605eed0.log
[code]

[2017-07-12 22:20] robpike commented on #20976
The desired effect comes from

command >x 2>&1

in bash. This says put stdout to x, and make 2 a dup of 1. But what you have written makes little sense to me beyond saying, "this is a mistake".

[2017-07-12 22:41] jstarks commented on #15021
@rsc, it looks to me like os.NewFile will never enable the poller on Linux (it always passes pollable = false to poll.FD.Init()), so there is still no way to use the network poller for foreign fds. Am I missing something?

[2017-07-12 22:57] kevinburke opened #20992 "x/tools/cmd/go-contrib-init: incorrectly reports I have bad cookies file"
Here's my cookies file (token elided):

[code]

This fails the check in checkCLA:

[code]

cc @bradfitz @spf13

[2017-07-12 22:57] ianlancetaylor commented on #15021
@jstarks I think you're right; that too would have to change.

[2017-07-12 23:06] bradfitz commented on #20992
Good catch. Want to send a fix?

[2017-07-12 23:08] ncapdevi opened #20993 "database/sql: No way to tell before use if sql.Stmt is closed"
### What version of Go are you using (`go version`)?
1.8.3

### What did you do?
Performing a query on a statement that may/may not have been previously `closed()` can result in sql.go line 1883-1885 being hit, returning error "sql: statement is closed"  it would be much more efficient if there were some way to check stmt.IsClosed() which returned stmt.closed and if it was, the user could re-prepa

[2017-07-12 23:12] bradfitz commented on #20993
/cc @kardianos

[2017-07-12 23:12] #20948 closed

[2017-07-12 23:19] kevinburke commented on #20992
Sure is the fix just to strip the prefixes?

On Wed, Jul 12, 2017 at 17:07 Brad Fitzpatrick <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-07-12 23:21] kardianos commented on #20993
That sounds reasonable. @ncapdevi Could you post your use case where it is difficult to determine if the stmt is closed or not?

[2017-07-12 23:33] joeshaw commented on #18997
Here's a sketch of how you might use it in practice:

[code]

I'm still not 100% convinced that tying this in with an `UpdateRequestContext` function is the right way to go, especially if we can't come up with other circumstances to change the request context.  A `ServerTrace`-specific function on the `Server` seems cleaner to me.

[2017-07-12 23:34] bradfitz commented on #20992
Well, you can't just search for `bytes.Contains` of `.googlesource.com' because it might be `NOTGO.googlesource.com` only. But you can do a regexp search like `(?m)^(go|go-review)?\.googlesource.com\b` (https://play.golang.org/p/IrQEbfGJb1).

[2017-07-12 23:37] campoy commented on #20976
After some extra investigation this is clearly a weird behavior on the zsh side.

[2017-07-12 23:37] #20976 closed

[2017-07-12 23:40] bradfitz commented on #19296
Still waiting to hear from @mattn or @ghost on whether this is still reproducible and details if so.

[2017-07-12 23:44] ncapdevi commented on #20993
Sure.  The general situation is that we are doing a bunch of batched DB queries/exec.  We have a helper `Prepare(query string)` that takes in the string, correctly prepares the statement for our use case, and then puts that prepared statement into a map `var preparedStatements map[string]*sql.Stmt = make(map[string]*sql.Stmt)`. So every time that function is called, it first checks if it has that

[2017-07-12 23:48] campoy commented on #20976
For those interested in more details, it seems `2>& out` redirects twice to `out` and writes it without sync which causes random garbling.

A simple program that shows the behavior:

[code]

[2017-07-13 00:06] kardianos commented on #20993
That all sounds good. Out of curiosity, why would there by a stmt.Close() call at all?

[2017-07-13 00:09] ncapdevi commented on #20993
There shouldn't be, or at least I can't imagine that there would be, but it's a project with multiple people working on it and as you can imagine, things sneak in there sometimes.  It's more precautionary than anything. My thoughts were that it should be reasonably quick to implement (would be happy to do a PR myself, but am not entirely familiar with the sql.go file so didn't want to make assumpt

[2017-07-13 00:23] kardianos commented on #20993
I'm less thrilled with adding a "IsClosed()" type of call for a just-in-case use. But, we have pleanty of time before the go1.10 freeze to think about it.

I'd be interested in hearing other use cases from you or other organizations too. in the mean time.

[2017-07-13 01:02] mattn commented on #19296
I'm sorry. I've already deleted vagrant guest that I executed the command. Now I tried this on centos7 just created, but this is not reproduced.

[2017-07-13 01:34] xoviat commented on #20982
Alright, I have a procedure. Start with these files:

hello.go:

[code]

hello.c:
[code]

then run these commands (with msvc on path):
[code]

Result:
`Warning: corrupt .drectve at end of def file`

When running the produced file:

[code]

[2017-07-13 01:58] ghost opened #20994 "encoding/json: Unmarshal replaces interface{} types instead of acting on the underlying type"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

### What did you do?

Unmarshal to existing `map[string]interface{}` that is hidd

[2017-07-13 01:59] rsc commented on #20993
This seems like a mistake. If you don't know whether the statement is closed, you also don't know whether someone else is going to close the statement a nanosecond after you confirm that it's open. We shouldn't encourage programs not to know fundamental details like "has someone closed this statement?" There's no equivalent for open files, for example.

[2017-07-13 02:09] fastfading commented on #15075
I am using go 1.8.3  still crash at alcDestroyContext
just like
https://github.com/golang/go/issues/17054

[2017-07-13 02:17] mattn commented on #17419
Hmm, I ran this for 20 minutes. But it doesn't reproduced.
(FYI: I use symantec endpoint protection)

myexe.go
[code]

test.go
[code]

[2017-07-13 02:50] mpx commented on #20100
The implemention I've linked above is simple enough to be inlined by the compiler which makes it reasonably fast. Due to function call overhead, I suspect the native instructions may need to be an instrinsic to realise any significant benefit (but I haven't tested it).

[2017-07-13 03:21] cespare commented on #20994
The target value is an interface, not a map (even though the concrete type happens to be a map for the second call). Therefore only the first bit of documentation you quoted applies, not the second.

I think the behavior is as intended, but the documentation could be a bit more explicit.

[2017-07-13 03:25] rfyiamcool commented on #20680
I thank go1.9 sync.map length feature should be required.    Of course, I'm just a suggestion.
don't range all entry,  Extend a field as a atomic counter ..

[2017-07-13 03:29] reusee opened #20995 "reflect: no way to tell whether a method is value method or not"
### What version of Go are you using (`go version`)?
go version devel +75f1de8329 Wed Jul 12 23:39:39 2017 +0000 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/reus/go"
GORACE=""
GOROOT="/home/reus/gotip"
GOTOOLDIR="/home/reus/gotip/pkg/tool/linux_amd64"
GCCG

[2017-07-13 03:45] #20992 closed

[2017-07-13 03:56] alexbrainman commented on #20982
I do not have cl command installed on my pc. How do I install msvc?

Thank you.

Alex

[2017-07-13 04:07] ncapdevi commented on #20993
@rsc that's a fair point, but it greatly, greatly, reduces the likelihood of a problem, and even if it DOES get closed in that nanosecond in between, you'd get the same "sql: statement is closed" that is and always has existed.  So you're taking care of 99.99% use cases and if not, falling back to what is already currently implemented.

[2017-07-13 04:07] xoviat commented on #20982
You need the "build tools 2017" [here](https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017). Microsoft actually now allows anyone to use visual studio for free as long as it's not for commercial development. If it's too much trouble, I can just give you the object file if you want.

[2017-07-13 04:10] xoviat commented on #20982
If only c++ was not a thing, I wouldn't have to worry about this. But it is, so the pain continues...

[2017-07-13 04:10] bradfitz commented on #19296
Okay, will close this for now. Thanks.

[2017-07-13 04:10] #19296 closed

[2017-07-13 04:54] #20747 closed

[2017-07-13 05:01] alexbrainman commented on #20982
Got it. Thank you.

Yes, please, post hello.obj somewhere.

Thinking about this some more. You are actually using gcc to link object file compiled with msvc compiler. Can you try and do your exercise, but replacing "go build" step with gcc linking hello.obj to a C program? Perhaps it has been done before. I suspect, if we know how to do that, we might be able to do similar with Go.

Alex

[2017-07-13 05:25] alexbrainman commented on #20975
Correct. The MSHTML control is just one of many used to build GUI windows. So you create a window, then you add controls to it (buttons, edit controls, list and others) - MSHTML control is just another control. You do all that by calling Windows APIs. I can give you some links, if you are interested, but these are just functions that are loaded from DLLs. There are some some complications, like fo

[2017-07-13 05:27] xoviat commented on #20982
AFAIK lld https://github.com/llvm-mirror/lld supports msvc object files.

Object file is here: https://github.com/xoviat/msvcgo/blob/master/hello.syso

[2017-07-13 05:30] alexbrainman commented on #20982
Go uses gcc linker (not lld) on Windows.

I will try it when I get home in August. thank you.

Alex

[2017-07-13 05:33] xoviat commented on #20982
I know. But lld is the best open source documentation of msvc object format.

[2017-07-13 05:37] xoviat commented on #20982
I actually get same error from ld so the error is definitely coming from ld.

[2017-07-13 05:41] williamweixiao commented on #19157
The issue can be closed since the patch (CL 43651) has been merged.

[2017-07-13 05:41] benshi001 commented on #20762
Sorry, I made a mistake again. The QADD/QSUB/QDSUB/QDADD are right in register order. Theirs are indeed different from QADD16/QSUB16/QADD8/QSUB8.

[2017-07-13 05:49] bradfitz commented on #19157
@williamweixiao, let's keep this open until it's vendored into std for Go 1.10.

[2017-07-13 05:53] kjk commented on #20975
I don't think 512 kb is enough. It's where the simplest program stopped crashing on the simplest website. I haven't done much testing beyond that but it stands to reason other websites (or other programs) might require more than 512 kb.

I think the value should be what the standard for windows linker is i.e. 1 MB (https://msdn.microsoft.com/en-us/library/windows/desktop/ms686774(v=vs.85).aspx), w

[2017-07-13 06:04] mengzhuo commented on #17867
I have send a CL about it
https://go-review.googlesource.com/c/48270/

[2017-07-13 06:11] bmkessler commented on #7394
The loop that accumulates the exponent ae by effectively multiplying the 11-bit exponent of x (xe) with yi (int64) overflows both 32 and 64-bit int since the resulting value could be up to 74-bits.  The code computes the multiplication by summing shifts of xe so the CL above checks for overflow of the output float64 exponent (11 bits plus denormals) by monitoring the magnitude of xe and exits the

[2017-07-13 06:18] alexbrainman commented on #20975
Please, see if you can break Go with 512kb stack.

Thank you.

Alex

[2017-07-13 07:02] Durgababu commented on #20989
@josharian, I am still getting leak in below 2 cases

1.  when i commented runtime.gc() and run above simple code given by @zegl (leak is not immediate but after some time)

2. when i use cmd.Start() and cmd.Wait() instead of cmd.Output().
Can you please reopen this issue?
below is the sample program to demonstrate.

`package main

import (
        "fmt"
        "os"
        "os/exec"
        //"r

[2017-07-13 07:07] kjk commented on #20975
There is no doubt that I can. I'll just allocate more than 512 kb on the stack.

I broke 256 kb on literally one of the first real programs I wrote that used mshtml. There's infinite number of websites and infinite number of programs that use other potentially stack hungry libraries.

If I'm intentional about it then I'll break any limit. If I'm not intentional and just writing random windows prog

[2017-07-13 07:23] dsnet commented on #20995
`reflect` matches exactly what happens when you write this naturally:
[code]

This panics:
[code]

Thus, I would expect reflect to also panic.

[2017-07-13 07:56] nvartolomei commented on #18997
For my specific use-case(s), the trace would be added by a middleware. Actually, multiple tracing hooks by different middlewares.

Unfortunately this will leave outside `GotBadRequest` hook proposed by @tombergan.

[2017-07-13 08:04] toussaiv commented on #20983
Thanks again @trex58
Small problem => I don't have AIX 7.2.. the highest version I have is 7.1 :(
Can I do something about that or the 7.2 version is mandatory?

[2017-07-13 08:17] reusee commented on #20995
@dsnet I know it will panic but what I want to do is get the original receiver type of the method to determine whether to invoke Call.
The panic says it's "value method", so I wonder whether this information could be exposed to reflection.

[2017-07-13 08:25] zegl commented on #20989
The latest code from @Durgababu (https://play.golang.org/p/ntUIyGh8sb) is slowly leaking for me too.

Version: `go version go1.9beta2 linux/amd64`

[2017-07-13 08:34] jcajka opened #20996 "cmd/go: builds fail with "...ignoring symbol in section..." on s390x"
### What version of Go are you using (`go version`)?
Affects 1.8,1.9(beta2), devel(I would guess all versions)

### What operating system and processor architecture are you using (`go env`)?
Fedora 27/26 on s390x

### What did you do?

`go build -work -a -v  cmd/go`

or

`GOROOT_BOOTSTRAP=/path/to/existing/goroot ./make.bash `

### What did you expect to see?

Successful build

### What did you se

[2017-07-13 08:55] sharkcz commented on #20996
https://bugzilla.redhat.com/show_bug.cgi?id=1460254 is the downstream bug with some input from our toolchain guys.

[2017-07-13 08:58] jcajka commented on #20996
Based on ^^ it actually might be binutils bug.

[2017-07-13 09:08] ALTree commented on #20996
Can we close this then? Several people on the bugzilla thread linked above seems to confirm that this is not a go issue.

[2017-07-13 09:45] sharkcz commented on #20996
I would prefer to get a confirmation from the golang/s390x team that it's not doing anything unexpected.

[2017-07-13 09:48] ALTree commented on #20996
cc @mundaym

[2017-07-13 09:48] markus-oberhumer opened #20997 "cmd/go: still need to set GOROOT with go1.9beta2"
I had hoped that now that issue #18678 is resolved I never have to think about GOROOT again. That does not seem the case, though.

### What version of Go are you using (`go version`)?

go1.9beta2.linux-amd64 running on Fedora 26

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]
[code]

As you can see GOROOT is set correctly by `go

[2017-07-13 09:56] markus-oberhumer commented on #20997
Somewhat related, it seems that GOTOOLDIR is not automatically set.

[code]

Should I file a new issue for GOTOOLDIR ?

[2017-07-13 10:04] vearutop opened #20998 "flag: global Usage func disregards FlagSet.SetOutput"
### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]
https://play.golang.org/p/05pwqQu-3-
### What did you expect to see?

No output

### What did you see instead?

STDERR:
[code]

`/usr/local/Cellar/go/1.8.2/libexec/src/flag/flag.go`
[code]
`Usage` function disregards `f.Out(

[2017-07-13 10:35] toussaiv commented on #20983
Thanks @trex58 , I finally managed to make it work on 7.1! But what I was expected became true => the binary produce with the go compiler on 7.1 is not working on AIX 6.2 : ( . So go language is not a wonderful cross platform tool as I thought ;(.

Last question => Do you know if some day AIX will be support officialy?

[2017-07-13 10:37] trex58 commented on #20983
About Gcc Go for AIX 7.1, look at:
http://www.bullfreeware.com/search.php?package=gcc&version=aix7.1

Go & libgo for AIX 7.1 :
gcc go : http://www.bullfreeware.com/affichage.php?id=3722
libgo : http://www.bullfreeware.com/affichage.php?id=3723
libgo-devel : http://www.bullfreeware.com/affichage.php?id=3724

In general, all RPM packages built for AIX 6.1 can be used on AIX 7.1 and 7.2, except Gcc (

[2017-07-13 10:48] trex58 commented on #20983
Hummm A binary produced on AIX 7.1 does not work on AIX 6.1 ?
I never experimented this. I'll do.
What are the error messages ? Discuss with me at: tony dot reix at atos dot net .

About Gcc Go beeing officialy supported on AIX, there are 2 ways:
 - we are submitting our patches to FSF and Google in GCC v8: next year, when Gcc v8 is in GA, the code required for Gcc Go on AIX should be available in

[2017-07-13 11:01] nussjustin commented on #20989
Can't reproduce with Go 1.9 Beta 2 on Linux and Mac.

Running the program for ~30m RSS never went above 7084 and stays constant now at 5020. The scavenger correctly releases the unused memory every few minutes. A memory profile also shows no retained memory.

Using a [modified version](https://play.golang.org/p/hmwmo8YpyM) (this version needs Go 1.9 for Duration.Truncate) of the program that also

[2017-07-13 11:22] Durgababu commented on #20989
@nussjustin ,
So we should call runtime.GC() explicitly? i am not calling GC() in my code.
when i start the program memory is like 960-1000, but after some time it is increasing to 7000 and there after memory is not increasing much but still increasing . But it is taking 1000 to 7000 and not coming back why?
i ran the program for more than 1 hour.

[2017-07-13 11:39] paulzhol commented on #18598
I'm running the freebsd-arm-paulzhol builder with the following parameters:
`GOARM=7 CGO_ENABLED=1 GO_TEST_TIMEOUT_SCALE=16 $HOME/bin/builder -subrepos=false -v -buildTimeout 2h freebsd-arm-paulzhol`
It is also doing automatic reboots after each build with some scripts.

It's an ARM Cortex-A7 (Allwinner A20) and  has only 1G RAM so it's using a swap partition from a magnetic disk. Could that be wh

[2017-07-13 12:11] Durgababu commented on #20989
Hi,
i am using this code(https://play.golang.org/p/BZWuAwcn4p) as per my business logic requirement(as i need to run different commands with pipe and need to capture output)

initially when program starts, RSS was 2000(2MB~), after 30-45 minutes, it increased to 32000(35MB~) and still keep on increasing....

[2017-07-13 12:53] nussjustin commented on #20989
You are leaking a goroutine. The goroutine created in line 64 will never exit as timer.C will never be closed and thus the goroutine holds onto some variables forever.

If you replace

[code]

with this

[code]

both the goroutine and the variables can be garbage collected.

The reason for this (as mentioned at the beginning) is that timer.C will never be closed, since a time.Timer can be reused,

[2017-07-13 13:19] trex58 commented on #20983
The executables produced by GCC Go depend on Go packages that are provided by libgo.a.
It also requires libgcc_s.a .
Bof of them are provided by GCC libraries:
# rpm -q --whatprovides /opt/freeware/lib/libgo.a
libgo-7.1.0-7
# rpm -q --whatprovides /opt/freeware/lib/libgcc_s.a
libgcc-7.1.0-7

Thus, you can compile on AIX 7.2 and run it on AIX 6.1, if same version of GCC Go is installed (libgo and l

[2017-07-13 13:20] graymalkin opened #20999 "Functions require unreachable return statement"
Go complains about missing return statement at the end of functions even when those return statements would be unreachable because all code paths appropriately return a value.

### What version of Go are you using (`go version`)?
`go version go1.6.3 linux/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
This function emits an error

[2017-07-13 13:21] graymalkin commented on #20999
For clarity, the following function does not exhibit the error:

[code]

[2017-07-13 13:23] graymalkin commented on #20999
Case statement apparently don't fall through by default, sorry for wasting time!

[code]

[2017-07-13 13:23] #20999 closed

[2017-07-13 13:24] aclements commented on #20975
@ianlancetaylor, I believe `LoadDLL` will always be linked into Windows programs because it's used by the `syscall` package itself. The linker would have to distinguish uses in `syscall` from uses outside the package. Alternatively, we could refactor `syscall` a bit so it uses some internal function. That's slightly tricky because it's a few layers deep, but might be easier than figuring out what

[2017-07-13 13:24] joeshaw commented on #18997
After discussing use cases last night, I've flip-flopped on using context for that.  And that's because you might want to inject things like request IDs in the function that sets up the server trace and use them in middleware/handlers.  Building on my example from earlier:

[code]

This way the request ID is not only logged, but it's passed into the context so handlers can extract it and log it, p

[2017-07-13 13:28] joeshaw commented on #18997
Could you elaborate a little more on this?  Are you thinking that the trace would be added in the execution of middleware?  Or that setting up the middleware would also attach something to the server?

The reason why I ask is that this hook function is on the `http.Server` and called only once per request -- it won't be possible to attach to it in the middle of middleware _execution_.  For things

[2017-07-13 13:55] Durgababu commented on #20989
@nussjustin
Thanks for the quick help.
Now it seems to be good. Initially it raised memory from 5MB to 15MB after that it is stable for last 30 min. Let me test some time and confirm.
But with above fix, it is looking far better than earlier.

[2017-07-13 15:00] Kubuxu commented on #18124
I also just hit this issue, as we want to support either dynamic loading of plugins or preloading them during build of the program, I will be generating `main`package for all plugins during build process.

This will only work for us as we use single variable export as entry point of plugins.

[2017-07-13 15:21] bigblind commented on #13675
I'm having a similar issue, where go vet is reporting a copied mutex, when I'm not actually copying anything as far as I can tell: https://stackoverflow.com/questions/45083715/go-vet-is-telling-me-im-copying-a-lock-when-i-dont-think-iam?noredirect=1#comment77140731_45083715

[2017-07-13 15:22] rgooch commented on #20352
@networkimprov: your channel buffer pools proposal doesn't address my use case. I have just a couple of channels which are created when a burst stream starts and are closed when the burst finishes. It's unknowable ahead of time how long the burst will be, but the machine is sized so that any reasonable burst will fit.

On the topic of lazy allocation, I don't like APIs which do this when you've sp

[2017-07-13 15:27] xoviat commented on #20982
Forgive my ignorance, but what exactly gcc linking? Is it linking output of the go linker?

[2017-07-13 15:44] dsnet commented on #20995
Here's an example of how to check for the `Check` method on a value receiver.

[code]

[2017-07-13 15:44] bradfitz commented on #13675
@bigblind, please post a self-contained minimal repro. (not just a few lines)

[2017-07-13 16:01] hyangah opened #21000 "testing: tests involving SIGINT handler fail with -test.v"
Since http://golang.org/cl/44352, a SIGINT handler is set up by testing framework when running tests with -v.
The handler reports in-progress tests upon SIGINT, and then re-raise SIGINT.
This can cause troubles when other SIGINT handlers exist.

Minimal repro case from @neild

<pre>
func TestSignals(t *testing.T) {
	proc, err := os.FindProcess(os.Getpid())
	if err != nil {
		t.Fatal(err)
	}

	sigc

[2017-07-13 16:03] ianlancetaylor commented on #19397
I rolled back the first fix for this issue.  It changed the behavior of `SIGINT`, which affects tests that use `SIGINT`.  I think that a patch along those lines can only be used if there is a way to check whether the code under test is using `SIGINT`, but the os/signal package does not currently provide any API for that.

[2017-07-13 16:04] javasgl commented on #19919
when has multi GOPATH, It can`t detect the vendor folder.
[code]

[2017-07-13 16:05] ianlancetaylor commented on #19397
See #21000 for a test case.

[2017-07-13 16:05] ianlancetaylor commented on #21000
Already fixed by CL 48370 which rolled back the patch installed to fix #19397.  Closing this issue.

[2017-07-13 16:05] #21000 closed

[2017-07-13 16:09] networkimprov commented on #20352
Since you only need a couple burst-stream channels, the resource cost of the channel goroutine is negligible, and its code is pretty simple. (Looking at your linked source, I imagine you could unify the two new*Queue and manage*Queue functions. )

You'll only advance this proposal with a problem that cries out for a language solution. How much pain is your current solution causing?

[2017-07-13 16:10] henryas commented on #20443
How about turning the built-in arrays, slices, and maps into _'objects'_ with methods attached to them? That way we can use interface to create their read-only types and the compiler can enforce their intended usage as defined by the interface. In fact, the user can define their own version of restricted maps, slices, and arrays.

With this approach, there is no need for any new keyword. We can fu

[2017-07-13 16:12] therecipe commented on #20975
I don't want to hijack this thread, but one of my users is experiencing a similar issue on darwin/amd64.

I tested the same application for windows 386/amd64 and linux/amd64 successfully.
But was also able to reproduce the issue on android/armv7.

I don't know enough about the the internals to verify that this is really the same issue, but I assume it.
(Could someone point me in the right directio

[2017-07-13 16:13] networkimprov commented on #20868
@cznic, any more thoughts?

[2017-07-13 16:25] ianlancetaylor commented on #20975
@therecipe Anything you are seeing on a non-Windows system is a different problem.  Please open a new issue for that.  Thanks.

[2017-07-13 16:30] therecipe commented on #20975
@ianlancetaylor
Sorry, just wanted to update the post.
I was able to reproduced it on windows/386 as well.

[2017-07-13 16:30] ianlancetaylor commented on #20975
@aclements Ah, sorry, I missed the path from `NewLazyDLL` to `LoadDLL` and the calls to `NewLazyDLL` in syscall/zsyscall_windows.go.  Refactoring does look somewhat painful, but while I can think of worse solutions I can't think of a better one.

[2017-07-13 16:31] ianlancetaylor commented on #20975
@therecipe OK, but I can only repeat that if the problem you are seeing happens on any non-Windows system at all, then it is not this problem.  Please open a different issue.  Thanks.

[2017-07-13 16:37] rgooch commented on #20352
I have code that makes the queues generic: https://github.com/Symantec/Dominator/tree/master/lib/queue
but that then requires runtime type casting which throws away the benefits of compile-time type checking.

As I said at the start of this thread, I have a solution, but it's a bit ugly. With a simple tweak to the API I (and anyone else who wants queues) can throw away a bunch of boilerplate. Russ

[2017-07-13 16:44] ianlancetaylor commented on #20996
It's clearly a bug in the GNU binutils if a symbol name with a '\001' makes it into the generated object file.

[2017-07-13 16:45] ianlancetaylor commented on #20996
The file in question is being compiled from C code.  If you run `go build -x -work` you will see the exact commands being used.  That should let you create the file, and the commands that create it, to the binutils bug.  That should let them recreate the problem without using Go.

[2017-07-13 16:47] ianlancetaylor commented on #20997
Please show us the output of `go build -x`.

[2017-07-13 16:50] ianlancetaylor commented on #20997
The `GOTOOLDIR` problem is interesting, and may be related.  `GOTOOLDIR` is computed based on the value returned by `runtime.GOROOT()`, which is not the same as the `GOROOT` value that the go tool computes after it starts up.

[2017-07-13 16:53] therecipe commented on #20975
@ianlancetaylor
Sure, will do. I hadn't realized that this issue is related to the syscall pkg.

[2017-07-13 16:53] cznic commented on #20868
My impression is that the proposal's motivation is to fix a problem that was mistakenly inserted into the app's design.

[2017-07-13 17:05] networkimprov commented on #20868
That is a general statement of opinion, not an analysis by which the proposal can be evaluated!

Leaving buffered channels in place for intermittently active consumers means the queues in question do not have to be re-created from disk each time the consumer resumes.

[2017-07-13 17:06] wedneyyuri commented on #20818
Hi @vasi-stripe, in my opinion the goimports should have an option to remove all blank spaces before formatting.  Today, if I have imports unordered and separated by spaces the tool doesn't work as expected.

**Example (goimports will not do anything):**
[code]

**Expected**:
[code]

[2017-07-13 17:08] bradfitz commented on #20818
@wedneyyuri, I disagree with two things there:

(1) "goimports should have an option". We don't like options in code formatters.
(2) that you expect no blank line between the standard library imports and github stuff. goimports is opinionated in that regard.

I agree that the original bug report at the top is a bug, though. It should try to pack things nicely.

[2017-07-13 17:10] kjk commented on #20975
It's crashing even with 16mb of reserved stack on https://vox.com

It prints "fatal: morestack on g0" and it crashes at:
[code]

Note that this callstack is likely incomplete as it doesn't look right. I think it's windbg not showing it all the way.

At this point it's net yet fatal. when I run in the debugger (windbg) I can do `g` to continue. It'll print "fatal: more stack on g0" and crash in the

[2017-07-13 17:19] bradfitz commented on #20998
The flag.Usage global variable was in the original Go 1.0:

[code]

Go 1.2 introduced the `CommandLine` global variable:

[code]

The documentation of FlagSet.SetOutput says:

https://golang.org/pkg/flag/#FlagSet.SetOutput

The problem @vearutop hits is modifying `flag.CommandLine` which uses the implicit `flag.Usage`, even though `Usage` is not associated with `CommandLine`.

I think you mean:

[

[2017-07-13 17:26] kjk commented on #20975
Notice that this particular session was with 16mb of both reserved and committed stack. Should runtime ever need to extend the stack if it was already committed to the max?

[2017-07-13 17:40] nicwhitts opened #21001 "x/crypto/openpgp: readMessage not detecting key (when created with GPG Suite)"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/Nic/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go

[2017-07-13 17:41] cznic commented on #20868
You've asked for thoughts and I delivered. You dismissed that for not being analysis. If you'd have asked for analysis, I'd have to ask for the app source code in the first place. Let's forget it, okay?

[2017-07-13 18:15] xoviat commented on #20982
Running objconv on the object files to convert to elf:

`objconv -felf hello.obj hello.syso`

We now have these errors:

[code]

[2017-07-13 18:16] xoviat commented on #20982
Possibly stdio is off limits?

[2017-07-13 18:17] dsnet commented on #20995
I'm going to mark this as resolved. The API in reflect allows you to do what you're asking for. It's not the nicest, but the reflect API is already pretty bloated that I don't think we would add new API surface just for this use-case.

[2017-07-13 18:17] #20995 closed

[2017-07-13 18:19] FLGMwt opened #21002 "wiki: add Experience Report on Go Dependencies"
(killing template b/c this is a wiki request, hope that's alright)

Just read https://blog.golang.org/toward-go2. Exciting stuff!

I was interested in the Experience Report call to action, as our team just published something that may fit the bill around our experience with dependency management:

[Docker => Moby: Go Dependencies](http://engineering.rallyhealth.com/go/golang/dependencies/package-m

[2017-07-13 18:34] ALTree commented on #19795
Yep, it's fixed. Closing.

[2017-07-13 18:34] #19795 closed

[2017-07-13 18:38] ALTree commented on #21002
Sounds reasonable. The page says

so adding a new section is certainly allowed, too.

[2017-07-13 18:45] alsamylkin commented on #20994
I was confused about `first establishes a map to use` and thought that it actually reuses the existing map, because it is not nil. I do see from the source code that this behavior is intentional.

[2017-07-13 19:24] ianlancetaylor commented on #21002
Sure, adding a new section is fine.  Go ahead.

Closing this issue since there is nothing to do.

[2017-07-13 19:24] #21002 closed

[2017-07-13 19:59] bradfitz opened #21003 "x/build/pubsubhelper: log non-Gerrit emails signed by google"
The Google account that https://pubsubhelper.golang.org/ uses to receive & parse real-time emails
of activity on Gerrit is a non-gmail account pointing to our own SMTP server.

We usually don't have to log into Google with that account but if we have to, say, make changes in Gerrit at https://go-review.googlesource.com/, we've found that Google sometimes think that it's a shady robot account (it i

[2017-07-13 20:18] aclements commented on #20975
@kjk, if 16MB isn't enough, are you sure there isn't something else going on here, like an infinite recursive?

Also, changing it in the executable header is only half of the problem. You also need to change the second argument to `_CreateThread` in `runtime/os_windows.go:newosproc` (currently 0x20000). If you only changed it in the linker, then it's quite possible you're still making these calls

[2017-07-13 20:20] andybons commented on #20945
Gerrit ID: 22285

[2017-07-13 21:15] tombergan commented on #18997
You're right. I have no idea what I was thinking. Looking forward to the CL!

[2017-07-13 21:26] tombergan commented on #18309
@Scratch-net, can you try with Go 1.9? There are a few HTTP/2 performance improvements for the 1.9 release.

[2017-07-13 21:29] ashleymcnamara commented on #20945
22515

[2017-07-13 21:42] spf13 commented on #20945
14840

[2017-07-13 22:38] crawshaw opened #21004 "cmd/asm, runtime: textflag for CABI"
The runtime assembly code includes many functions that are called from outside the runtime and are called with the C ABI. This means the functions first have to save callee-saved registers manually.

For example, see runtime·sigtramp in sys_linux_*.s.

Once after diagnosing a callee-save error, I failed to save all the callee-save registers. This meant months later, @aclements had to go through th

[2017-07-13 23:59] pteichman commented on #18997
Now that we're looking at a partial implementation, I'm not sure that getting all three of `data []byte, n int, err error` is the right move for WroteBodyChunk. I think that getting both `len(byte)` and `n` is confusing in cases where they differ, and it makes it harder to correctly write the two use cases we're considering:

1) Compute a hash of the response body (would need to slice `byte[:n]`).

[2017-07-14 00:08] joeshaw commented on #18997
Just to clarify, I think checking for an error is helpful in that you could, for example, not log a confusing partial hash value.  But I think the most value in getting the write error is to give one the ability to log it in the context of the rest of the request info.

[2017-07-14 00:43] pteichman commented on #18997
`Panicked` is also really appealing in HandlerDone but given that the handler recover() is scoped to the whole connection it doesn't really make sense unless we add a recover() to each ServeHTTP call.. And the application doesn't need any trace support to do that already.

[2017-07-14 01:24] reusee commented on #20995
A more realistic demo:
[code]

Your approach does not help in above situation, MethodByName will not return nil for fieldType or fieldType.Elem().

I can workaround this by wrap method calling in defer/recover and check panic message against "value method ... called using nil ... pointer", but it's obviously too hacky.

[2017-07-14 01:37] whh8b commented on #14689
I would really like to add this function:

`
func WriteBlockProfile(w io.Writer) error {
       return writeBlock(w, 0);
}
`

to rc/runtime/pprof/pprof.go. I think that would make the Block profile API more consistent with the memory and CPU profile APIs. I know that this is not the place to get code reviews, but I wanted to get everyone's gut reaction before I started with the gerrit code review,

[2017-07-14 01:45] conradoplg commented on #19594
I had a shot at this in a new CL (I was not sure if I could/should change the other one).

[2017-07-14 01:45] tkng commented on #20979
There's no reply from `precious.jp` from 2 days ago.

By the way, I checked whether other http2 clients can access to `precious.jp`.

Name | Version | Result
------------ | ------------- | -------------
Google Chrome |  59.0.3071.115 | OK via HTTP2
Safari | 10.1.1 (11603.2.5) | OK via HTTP2
Firefox | 54.0 | OK via HTTP2
curl (compiled with HTTP2 support) | 7.54.1 | OK via HTTP2
golang | 1.8.3 | NG

[2017-07-14 01:55] gaillard commented on #10930
@josharian Say I have two benchmarks A and B, A takes 10s to get to 1k iterations and B 1s to get to 1k iterations. I'd like it to run, just like that.
With benchsplit = 10, in order to get enough iterations I'd still have to specify benchtime=10s and then B would take 10s right?

[2017-07-14 01:59] bradfitz commented on #20979
Sending a GOAWAY frame is a totally reasonable thing to do. If we fell back to HTTP/1.1, we'd need to do it only if the GOAWAY's LastStreamID=0.

But I'd also like to fix this in Netty.

Hey netty-http2 authors, @yschimke, @atollena, @caniszczyk, @nhnFreespirit, it seems that Netty-http2 might be misinterpreting the meaning of SETTINGS_MAX_HEADER_LIST_SIZE and improperly rejecting clients. Go, for

[2017-07-14 01:59] stevvooe opened #21005 "archive/tar: incompatibility in tar files generated between Go 1.7 and Go 1.8"
Tar files generated with Go 1.7 and before can no longer be read with Go 1.8 when the path name is greater than 100 characters and has two or more components and the uid is greater than octal value `010000000`.

The problem was first reported in https://github.com/moby/moby/issues/34092, which details some conditions and impact. With docker, this manifests itself in cases where a file with a long

[2017-07-14 02:01] bradfitz commented on #20979
/cc @scottmitch @normanmaurer

[2017-07-14 02:03] bradfitz commented on #20979
Is there another Netty server directly facing the Internet?

netty.io is behind Cloudflare's "cloudflare-nginx" http2 implementation.

[2017-07-14 02:04] bradfitz commented on #21005
You deleted the bug template. What version are you using?

Also, you say "Go 1.8+", but did you try Go 1.9beta2?

[2017-07-14 02:07] stevvooe commented on #21005
Sorry, details about version are in the gist.

I'll give 1.9beta2 a try.

[2017-07-14 02:16] stevvooe commented on #21005
Looks like go1.9beta2 behaves the same with file generated by go1.7.6:

[code]

Note that the `Name` is only the basename and not the full path.

A round trip with go1.9beta2 behaves the same as go1.8.3:

[code]

[2017-07-14 02:24] stevvooe commented on #21005
The proposed patch for docker has been submitted in https://github.com/moby/moby/pull/34106. This vendors a fork of `archive/tar` rolls back https://go-review.googlesource.com/c/31444/. The diff is https://github.com/golang/go/compare/release-branch.go1.8...tonistiigi:revert-prefix-ignore.

[2017-07-14 02:42] AZavorotnii commented on #10930
I think when we have different sizes of benchmarks, it would be much easier to have basic control from inside of benchmark itself. For example:
1) have ability to change "b.duration":
[code]
2) have ability to set minimal b.N:
[code]

As for me, it is much convenient to adjust specific variables than apply command line options to all benchmarks together.

[2017-07-14 02:46] sneal commented on #20975
[Here's a case in Cloud Foundry](https://github.com/cloudfoundry-incubator/hwc/issues/4) where a .NET executable was replaced with a golang executable and we started seeing StackoverflowExceptions. Bumping up the stack size of the golang executable to 1MB with editbin "fixed" the issue, or at least makes the executable behave the same as the old .NET exe.

I think defaulting to 1MB stack size on W

[2017-07-14 04:04] #20915 closed

[2017-07-14 05:04] randall77 commented on #21004
It's not just enough to want to save them, we need a place to save them.  Where do we save them (xx(SP))?  Do we need to reserve space for them, or does this flag do so?

[2017-07-14 05:25] skwid999 opened #21006 "user: No Symlink of /usr/local/go/bin/go to /usr/bin/ in Getting Started page."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.8.3
### What operating system and processor architecture are you using (`go env`)?

Linux amd64
### What did you do?
Installing it, the link "go" didn't get me to /usr/local/go because it has to have a symlink to /usr/bin

user@computer:~$ go
bash: /usr/bin/go: No such file

[2017-07-14 05:27] bradfitz commented on #21006
I'm confused.

How did you install it?

What commands did you run, and from where?

[2017-07-14 05:27] skwid999 commented on #21006
I was installing go language in my Linux amd64, and the error shown was that my system found the "go" command but not the "go" program... I had to symlink it in /usr/bin.
I introduce this "error" for you to add it on the "Getting Started" "Linux Install' section of you website...

Thanks.
Skwid.

[2017-07-14 05:27] skwid999 commented on #21006
https://golang.org/doc/install

[2017-07-14 05:29] bradfitz commented on #21006
For questions about Go, see https://golang.org/wiki/Questions.

I think the mailing list is the best place to resolve this.

[2017-07-14 05:29] #21006 closed

[2017-07-14 06:36] dsnet commented on #20995
You can replace:
[code]

with:
[code]

[2017-07-14 07:10] niconegoto commented on #20032
@SCKelemen Sorry.I don't have time to work on this now.

[2017-07-14 07:31] reusee commented on #20995
@dsnet got it. triky but works.

[2017-07-14 07:32] dsnet commented on #20995
welcome to reflect ;)

[2017-07-14 08:04] songjiayang opened #21007 "`net/url` Parse doesn't work as expected"
### What version of Go are you using (`go version`)?
go version go1.7.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/sjy/workspace/qiniu/base/qiniu:/Users/sjy/workspace/qiniu/base/docs:/Users/sjy/workspace/qiniu/base/com:/Users/sjy/workspace/qiniu/base

[2017-07-14 08:06] #21007 closed

[2017-07-14 08:27] Durgababu commented on #20989
@nussjustin
i ran the code for 4-5 hours. seems no further increment in memory from 15MB.
Thanks a lot.

[2017-07-14 08:30] AnotherGoogleFan opened #21008 "program panics if receive other signal"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.3 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/vlion/GoProject"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local

[2017-07-14 08:36] markus-oberhumer commented on #20997
There's not much extra info that `go build -x` does provide. And as I'm just using the public version from https://storage.googleapis.com/golang/go1.9beta2.linux-amd64.tar.gz you should be able to reproduce this issue.

[code]

[code]

[2017-07-14 08:36] AnotherGoogleFan commented on #21008
Eh... I see the reason now.

[2017-07-14 08:36] #21008 closed

[2017-07-14 08:49] iwillneverstop opened #21009 "ReadPassword seems to be broken when running within IntelliJ with Go plugin"
version go1.8.3 windows/amd64 with golang.org/x/crypto/ssh/terminal

ReadPassword seems to be broken when running within IntelliJ.

Reproduction Case:

package main

import (
  "fmt"
  "golang.org/x/crypto/ssh/terminal"
)

func main() {
  fmt.Print("password: ")
  password, err := terminal.ReadPassword(int(syscall.Stdin))

  if err != nil {
    fmt.Println(err)
  }

  fmt.Println(string(password))

[2017-07-14 12:55] dlsniper commented on #21009
Hi,

This error has nothing to do with Go. It's caused by the fact that the IDE doesn't run the process in a pty. For more details please see (and watch) https://youtrack.jetbrains.com/issue/PY-19938

This issue can be closed.

Thank you

[2017-07-14 13:03] #21009 closed

[2017-07-14 13:53] tombergan commented on #18997
This SGTM.

This is not entirely true. In HTTP/2, the recover() wraps ServeHTTP:
https://github.com/golang/net/blob/master/http2/server.go#L2037

In HTTP/1, recover() does wrap the connection, but only because of the nature of HTTP/1 -- it's impossible to reuse a connection in HTTP/1 unless the prior request/response was completed exactly, but after a panic, we don't know the state of the connecti

[2017-07-14 14:17] tombergan commented on #20979
Is it? That sounds like a painful workaround for a broken server that will helpfully soon be fixed.

Are we sure the server is using netty? [This comment](https://github.com/golang/go/issues/20979#issuecomment-314704860) says they're using BIG-IP, which is a load balancer from F5.

Also, I'm not sure this is a bug in netty, at least not in the current version of netty. Here's the code that process

[2017-07-14 14:18] tombergan commented on #20979
@bradfitz, do you have any contacts at F5?

[2017-07-14 14:36] mvdan commented on #20989
Looks like this was settled as a bug in the user's code, so I'm going to close the issue again.

[2017-07-14 14:36] #20989 closed

[2017-07-14 14:43] bradfitz commented on #20979
I have an ex-F5 contact I can ask for referrals. Unfortunately https://f5.com/products/big-ip is not served with http2 so I can't verify.

Apologies if I was assuming Netty incorrectly. I might've misinterpreted the comment above.

[2017-07-14 14:47] ianlancetaylor commented on #20997
You're right, I can recreate the problem.  It's easy to recreate by building Go, and then moving the entire GOROOT directory elsewhere.  Our tests don't work because we don't move the GOROOT directory--we don't want to do that, because it would break any other tests running at the same time.

@bradfitz Any suggestions for how to test this?  The best I can think of is to copy GOROOT, remove GOROOT/

[2017-07-14 15:23] Scottmitch commented on #20979
in response to https://github.com/golang/go/issues/20979#issuecomment-314635357 ... Netty does not do any immediate allocation as a result of receiving `SETTINGS_MAX_HEADER_LIST_SIZE` and as referenced in https://github.com/golang/go/issues/20979#issuecomment-315370909 the values are a limited based upon the values in https://tools.ietf.org/html/rfc7540#section-6.5.2, and in the case of `SETTINGS_

[2017-07-14 15:42] heschik commented on #11799
I've spent a little time digging into this and I'll leave some notes for myself or whoever comes next.

The linker doesn't have the .debug_info section as a whole unit in memory at any point. `dwarfp` contains each top-level DIE as an individual symbol, and they're written to the output file individually by `Dwarfblk` in data.go. So that's the only place that we can insert compression of the whole

[2017-07-14 15:45] bradfitz commented on #20997
Only one cmd/dist/test test runs at a time per builder machines. (A single build might have it tests sharded out over 6-8 machines)

And if one fails, that buildlet ("machine") is never reused. So the test can clean up after itself (rename the goroot back to its original name) and any future tests would still work.

So the src/cmd/dist/test.go test would do something like:

* rename $GOROOT to $GO

[2017-07-14 15:46] bradfitz commented on #20997
... and if you want to not mess with user machines, you can do it only if `testenv.Builder() != ""`

[2017-07-14 15:47] bradfitz commented on #20997
Oh, in dist we can't depend on testenv, but looks like it already uses `os.Getenv("GO_BUILDER_NAME")` in a few places.

[2017-07-14 15:53] bradfitz commented on #18997
Sent you CL 48551 for doc update.

[2017-07-14 15:56] #20675 closed

[2017-07-14 16:00] bradfitz commented on #14689
@whh8b, it's too late to add anything new to Go 1.9. This CL is marked Go 1.9Maybe because it's a documentation-only change. To propose new API changes, open a new bug.

[2017-07-14 16:26] bradfitz commented on #20956
There's kinda a way for you to do it already. It's either gross or clever, but I'll leave that judgement up to you:

The net/http server set the `Request.Context()` context values `http.LocalAddrContextKey` and `http.ServerContextKey`. The `LocalAddrContextKey` one is set like:

[code]

Note that you control what `c.rwc` (your `net.Conn` impl) returns, and `LocalAddr` returns a `net.Addr`, an inte

[2017-07-14 16:27] bradfitz commented on #20924
Has CL, so added `release-blocked` label.

[2017-07-14 16:29] ianlancetaylor commented on #20997
Thanks.  Added a test to the CL.

[2017-07-14 16:45] bradfitz commented on #18694
@aclements, this isn't by chance related to your "runtime: save r11 in ARM addmoduledata" 87a51a0787df797660b6462f2debb7188f50f249 fix, is it?

[2017-07-14 16:48] crvv commented on #20319
1. The issue comes from difference between Go code and AMD64 assembly code. Result of `Exp` in Go is `...455` and result of `Exp` in AMD64 assembly is `...45`. It is irrelevant to ARM64. Use `GOARCH=386 go build` on AMD64 machine and result will be `...455`.
2.  A more precise value of `Exp(1)` is `2.71828182845904523536`, and `...45` is the most precise `float64` value.
3. As said in comment of [

[2017-07-14 16:54] binarycrusader commented on #20949
Any changes needed?  The builder is up and running.

[2017-07-14 17:04] kevinburke opened #21010 "x/build/gerrit: client is unwieldy"
Using the Gerrit client, it feels like things are routinely more difficult than they should be. There are some points of friction that it would be nice to paper over:

- Authentication: there are several methods of authentication. Gerrit tries to push you to git cookies auth, which isn't great for bots/logic that just talks to the REST API, and if you want to do basic auth you have to awkwardly pa

[2017-07-14 17:09] bradfitz commented on #21010
The method names match the API names on purpose. https://godoc.org/github.com/andygrunwald/go-gerrit does the same.

I have no plans of redoing our Gerrit client to flesh it out or change its feel. Its goal is to be the minimum we need for the Go build system.

[2017-07-14 17:10] bradfitz commented on #20852
@bsiegert, this doesn't boot on GCE as far as I can tell:

[code]

Please let me know once you've actually run it on GCE.

Until that time, Go will continue to not run NetBSD builders.

[2017-07-14 17:16] #20949 closed

[2017-07-14 17:19] kevinburke commented on #21010
Sure, I guess the cost is it's going to be harder at the margin to write code to interact with our code review tool.

[2017-07-14 17:21] bradfitz commented on #20852
I didn't mean to close this. Reopened.

[2017-07-14 17:50] aclements commented on #18694
It's possible it's related, but it's certainly not the same bug since the code modified in 87a51a0 only runs in dynamically linked Go libraries. But maybe we failed to follow the C ABI in some signal-related code.

[2017-07-14 17:52] #20897 closed

[2017-07-14 18:20] #20842 closed

[2017-07-14 18:47] bradfitz commented on #20929
@griesemer?

[2017-07-14 18:49] bradfitz commented on #20587
Seems done. No changes from final review CL (CL 47610).

[2017-07-14 18:49] #20587 closed

[2017-07-14 19:02] alsamylkin opened #21011 "reflect: Type.Comparable returns incorrect values for some types obtained via reflection"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GORACE=""
GOROOT="/usr/local/Cellar/go/1.8/libexec"
GOTOOLDIR="/usr/local/Cellar/g

[2017-07-14 19:10] bradfitz commented on #21011
Nice. But because this is not a regression, there's no time (or risk) budget for Go 1.9, due out shortly.

[2017-07-14 19:15] bradfitz commented on #15049
Repro instructions:

[code]

[2017-07-14 20:03] ianlancetaylor commented on #21011
I think this is correct behavior.  If you print `v.Type().String()`, you will see that it has type `interface {}`.  Interface types are comparable.  It just happens that this interface value holds a value that can not be compared.

In other words, this is approximately equivalent to

[code]

which will also panic.

[2017-07-14 20:04] bradfitz commented on #21011
Whoops, I overlooked the type interface {} after "var i".

I agree this looks fine.

[2017-07-14 20:07] #20997 closed

[2017-07-14 20:10] #21011 closed

[2017-07-14 20:23] kennygrant commented on #20166
Might be related to #18753 with BenchmarkClientServerParallel64 on mac os - which is the same test just with more parallelism. I've see a similar problems on mac os with BenchmarkClientServerParallel4 and variants. The first 3 runs are fine, second time it is run thrice it dies with the error: can't assign requested address. Waiting a minute and trying again results in the same pattern - fine for

[2017-07-14 20:25] alsamylkin commented on #21011
That's fine, but if interface{} is comparable, why can't I use it in the map then?

[2017-07-14 20:28] kennygrant commented on #5757
The package now has 8 examples, so perhaps this could be closed as fixed?

https://tip.golang.org/pkg/net/#pkg-examples

[2017-07-14 20:29] alsamylkin commented on #21011
Also everything works as expected if I remove pointer: `v := reflect.Indirect(reflect.ValueOf(_&_i))`

[2017-07-14 20:35] ianlancetaylor commented on #21011
You can use an `interface{}` in a map.

What you can't do is use an `interface{}` in a map if you store a func value in the interface.

If you remove the pointer, then the value you get in `v` has type `func()`, which is not comparable.  In both cases, try printing `v.Type().String()` to see what is going on.

[2017-07-14 20:40] kevinburke opened #21012 "crypto/cipher: Examples use an ASCII key"
The examples in the crypto/cipher package use ASCII for the encryption key, which limits the range of keys and makes them easier to crack. We should hash a password and use the hash as a key, or just use 16/32 bytes of random data.

(via @FiloSottile who suggested this to me last night).

[2017-07-14 21:05] #17206 closed

[2017-07-14 21:16] #19698 closed

[2017-07-14 21:17] bradfitz commented on #20929
Hard to see this as a release blocker, though. Demoting to Maybe.

[2017-07-14 21:18] vielmetti commented on #19698
Thanks @bradfitz did this problem get sorted out, was it real or an artifact?

[2017-07-14 21:22] #16305 closed

[2017-07-14 21:24] bradfitz commented on #19698
We made the test skip when it has insufficient permissions. Fixed as far as I'm concerned.

And timeout waiting for @rminnich.

[2017-07-14 22:04] KishoreVignesh commented on #10447
I wonder why this does not work

       r1 := strings.NewReader(test_full_image)
	reader := base64.NewDecoder(base64.StdEncoding, r1)

	var data [1024 * 1024 * 5]byte

	n, err := reader.Read(data[:])
	if err != nil {
		t.Error("Cannot read data form buffer.", err.Error())
	}

	d := data[:n]
	m, _, err := image.Decode(bytes.NewReader(d))

	if err != nil {
		t.Error("Error :", err.Error())
		return

[2017-07-14 22:16] kevinburke commented on #21012
The frequent exhortations to add authentication in these examples are also making me nervous. Authenticating + attaching to the message isn't trivial. Wondering if we should steer people to other primitives instead.

[2017-07-14 22:22] bradfitz commented on #10447
@KishoreVignesh, this bug is unrelated to your issue. Your issue is likely not understanding the io.Reader semantics. See https://golang.org/pkg/io/#Reader. See io.ReadFull, io.Copy, etc.

For questions about Go, see https://golang.org/wiki/Questions.

[2017-07-14 22:30] bradfitz opened #21013 "go/types: unset GOPATH before running tests"
I was just debugging a mysterious test failure at d5da104294cd449a6588dac26c52f221a60357ff (almost Go 1.9).

I was getting:

[code]

After debugging, it turns out it was because I had a `$GOPATH/src/foo` directory with a `package main` in it that I was previously using to debug something else.

I don't expect that go/types (or any other test in std) should respect or be affected by the user's `$GO

[2017-07-14 22:33] ldemailly commented on #6785
Should I file a separate issue or is this the place to mention: I have code that does:
[code]
and then establishes `numConnections` simultaneous (go routines) back to back http connections (load testing tool)

if I check the number of sockets, it works as expected where I have numConnections established sockets for numConnections input with smaller numbers (1 and 9 or 10) but for 11 and up I have

[2017-07-14 22:45] samccone commented on #20945
22400 :goat:

[2017-07-14 22:50] jszroberto commented on #20451
seeing this issue too

[2017-07-15 00:33] hanwen opened #21014 "os, runtime: Go 1.9 assumes epoll is non-blocking"
See extensive discussion on https://github.com/hanwen/go-fuse/issues/165

Symptoms:

* The go-fuse end-to-end test show hangs on Go 1.9.
* kernel stack traces show a syscall hung in fuse_file_poll, i.e. the Go runtime issues an epoll on files residing on the FUSE mount, and the kernel forwards this as a POLL call to the FUSE userspace process.
* Some of these hangs occur when the FUSE process trie

[2017-07-15 00:48] #20824 closed

[2017-07-15 01:02] hanwen commented on #21014
Heschi suggested a simpler approach, which is LockOSThread on the read loop for FUSE: this would avoid  having epoll and FUSE interfering with each other.

[2017-07-15 01:02] ianlancetaylor commented on #21014
I assume that the problem occurs in the call to the `epoll_wait` system call from the function `netpoll` in runtime/netpoll_epoll.go.  That call ties up the g, m, and p for the duration of the call.  I assume that it doesn't matter whether the call is blocking or not; either way, when the kernel tries to call back into the program to run the FUSE code, the FUSE code will stall waiting for a gorout

[2017-07-15 01:03] ianlancetaylor commented on #21014
If I understand the problem correctly, then I don't see how `LockOSThread` will help.  `LockOSThread` doesn't permit you to escape from the restrictions on `GOMAXPROCS`.  But, if it works, great.

[2017-07-15 01:09] hanwen commented on #21014
Your analysis of the FUSE code is correct. Part of the time it sits in a Read waiting for the kernel, the other part, it tries to write back to the kernel.

I havent tried the suggestion yet, going out for dinner now :-) .

[2017-07-15 01:12] tombergan commented on #20956
#18997 is going to add that support. But I don't think that well help in this example, because the hook doesn't get the `net.Conn`. Do you think it should actually get the `net.Conn`? I know we've resisted adding references to `net.Conn` in the past.

[2017-07-15 01:13] tombergan commented on #16220
FYI, this proposal is going to end up happening via #18997.

[2017-07-15 01:20] bradfitz commented on #20956
@tombergan, the desire to get at "the" conn never goes away, so I think it's time, with sufficiently scary names and docs. For instance, for TLS connections, do we give them both the raw connection and the TLS wrapper conn? With what names? `RawEncryptedConn net.Conn` sounds nice and scary for the low-level one.

[code]

Or something.

[2017-07-15 01:40] ianlancetaylor commented on #21014
I think this would work if the FUSE daemon used `syscall.RawSyscall` rather than `syscall.Read` and `syscall.Write`.  But the cost would be that the FUSE daemon would always occupy a `GOMAXPROCS` slot, so either the user or the FUSE code would have to bump up `GOMAXPROCS`.

I haven't yet been able to think of a workable fix in the Go runtime.

If there is a way for the os package to detect that a

[2017-07-15 03:12] jmeridth opened #21015 "testing: add `assert` function"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOHOSTOS="linux"
Ubuntu 17.04

I'd like to make the func `assert` available in the testing standard library package.  I see it being used in multiple places already and it makes

[2017-07-15 03:26] bradfitz commented on #21015
I don't think we'd do this before Go had generics (#15292) even if we did. I don't know what's changed from previous times when this has been rejected. (usual argument I see is that testing assertion libraries become little DSLs and medium DSLs and then it's a whole new language you're using instead of using the language that the rest of your program is written in)

I'm going to place this on hold

[2017-07-15 03:36] jmeridth commented on #21015
@bradfitz I'm new to the language and looked through the current issues.  I should have looked through the closed ones.:smile:  [example](https://github.com/golang/go/issues/7009)

Thank you for the polite and informational response.  I look forward to seeing where this goes.

Cheers :beers:

[2017-07-15 03:37] bradfitz commented on #21015
Right, thanks. I forgot this was in the FAQ, as you've found: https://golang.org/doc/faq#testing_framework

[2017-07-15 03:39] jmeridth commented on #21015
@bradfitz ah, thanks.  I shall read all of that before filing future issues. :smile:

[2017-07-15 03:56] hanwen commented on #21014
Let me see if I can make RawSyscall work. Since this affects tests primarily, that's probably acceptable.

[2017-07-15 03:59] hanwen commented on #21014
FWIW, on Linux you can find out if a file is on FUSE by calling fstatfs on the fd, and checking the f_type field of the result. It does sound like a lot of overhead, since most files arent on FUSE, and some care is needed since fstatfs is also forwarded to FUSE, so you cannot call it from where you call epoll.

[2017-07-15 05:07] rakyll commented on #16619
@hyangah, what's the status of this? This probably needs a proposal first, I already have background and opinions of this one and can create a proposal if no one is actively working on it.

[2017-07-15 05:31] aclements commented on #16619
I have an old prototype of user events at https://go-review.googlesource.com/c/34031/. No effort was made to define a good API, but that could be a useful starting point for an implementation if we decide on an API.

Earlier today @heschik, @rhysh, a few others who's usernames I don't know, and I were talking about the possibility of simply using the existing profiler labels as the user spans, sin

[2017-07-15 05:36] rakyll commented on #16619
I don't think this is a good idea. There is an obvious possibility to annotate spans with profiler labels but we shouldn't assume they are representing the spans' themselves. In tracing, one of the fundamental features is to give to user the flexibility to be able to mark the sections they are interested in and find statistically meaningful.

[2017-07-15 05:47] ianlancetaylor commented on #21014
We could call `fstatfs` from `newFile` in os/file_unix.go.  There it would be a normal syscall, so there would be no difficulty in running the FUSE code.

[2017-07-15 05:48] dvyukov commented on #16619
FWIW is would be useful if we could understand span type, i.e. these spans are of type A (say, request processing), while these are of type B (say, database accesses). Then we could automatically infer cases of tail latency and give explanation as to why a particular span takes so long. For example, this span is the longest of its type, it has comparable with other spans of the same type cpu time,

[2017-07-15 05:48] transifex3 commented on #12081
Any updates here? officially supporting protected files would be good enough :)

[2017-07-15 07:11] jamesruan commented on #18397
It still exist on raspberry 3 with go1.8.3

[2017-07-15 09:25] raghuvanshy commented on #17467
This may be a permission issue. Please check if you can deploy the sever on port 80 using sudo. If yes then you need to give your user access to www-data group or its equivalent.

[2017-07-15 09:32] 0intro opened #21016 "cmd/dist: "moved GOROOT" test failing on plan9/386 builder"
CL [48550](https://golang.org/cl/48550) added "moved GOROOT" test, which is failing on the plan9/386 builder. The plan9/386 builder is running as a buildlet on GCE, while the other builders are old-style builders.
[code]

See https://build.golang.org/log/6fc6155f74eeff35e8a05ce78ab0531a4f9018bf

[2017-07-15 09:43] 0intro commented on #21016
The test is passing on the old-style builders because the GO_BUILDER_NAME environment variable hasn't been set on these builders, so the "moved GOROOT" test is skipped.

[2017-07-15 12:34] tural-esger commented on #18050
How did you solve this issue?

[2017-07-15 13:25] ianlancetaylor commented on #21016
I will disable the test, but ideally someone with a plan9 environment should figure out why it is failing.  The error suggests that on Plan 9 the default GOROOT is overriding the one computed on the basis of where the cmd/go executable is found.

[2017-07-15 13:39] 0intro commented on #21016
Thanks. I'm currently investigating the issue on my side.

[2017-07-15 14:07] #21014 closed

[2017-07-15 14:11] hanwen commented on #21014
I fixed it by kludging in something that triggers the POLL opcode before the Go runtime has the chance to.

other fuse libraries like the one from @rsc and bazil.org should likely implement something similar.

[2017-07-15 14:13] jessfraz opened #21017 "Gophercon: Contributor Workshop Registration"
Please do not comment here until the Contributor Workshop begins.

During the workshop leave a comment with your Gerrit profile ID here.

[2017-07-15 15:20] #20762 closed

[2017-07-15 15:54] KishoreVignesh commented on #10447
@bradfitz , Thanks for the suggestions.

Looks like i am not able to read only some images. Attaching one of them. Hope it makes the product better.
![first_go_frame](https://user-images.githubusercontent.com/8282314/28240689-9a9b30ea-6975-11e7-825c-0bb00dabe910.jpg)

[2017-07-15 15:57] jessfraz commented on #20676
cc @LK4D4 just figured you would be curious

[2017-07-15 16:25] kevinburke opened #21018 "net/mail: ParseAddress: unclear error message"
When parsing this address:

[code]

you get the following error:

[code]

That's confusing because an angle-addr is present in the input.

The email address _should_ be formatted with quotes as:

[code]

But we could probably be clearer about the error there.

[2017-07-15 16:45] 0intro commented on #21016
I think I figured out the issue.

In [findGOROOT](https://github.com/golang/go/blob/2a2a283418b3ba4914520b5a7235c9b48049d1c0/src/cmd/go/internal/cfg/cfg.go#L97), the [os.Executable](https://github.com/golang/go/blob/2a2a283418b3ba4914520b5a7235c9b48049d1c0/src/os/executable_plan9.go) function returns `/bin/go`. This is not the command being executed by [exec.Command](https://github.com/golang/go/b

[2017-07-15 16:49] zoulasc commented on #20852
Are there any log messages on how -8 fails to boot on GCE, or are there any GCE hosts available for us to try?

[2017-07-15 16:57] bradfitz commented on #20852
I didn't have time to capture the serial console. I had assumed @bsiegert tested this.

You can create small GCE VM instances yourself for free: https://cloud.google.com/free/

[2017-07-15 16:59] gdey commented on #21017
22625

[2017-07-15 16:59] vdemario commented on #21017
15345

[2017-07-15 17:00] miguel250 commented on #21017
22600

[2017-07-15 17:00] grepory commented on #21017
22607

[2017-07-15 17:01] ghchinoy commented on #21017
22529

[2017-07-15 17:02] xiam commented on #21017
22608

[2017-07-15 17:02] bradfitz commented on #21017
5065

[2017-07-15 17:03] hanwen commented on #21017
5893

[2017-07-15 17:03] nathany commented on #21017
5235

[2017-07-15 17:04] andrestc commented on #21017
22255

[2017-07-15 17:05] johnnyluo commented on #21017
19155

[2017-07-15 17:05] mbbroberg commented on #21017
22660

[2017-07-15 17:06] jda commented on #21017
22605

[2017-07-15 17:06] pbnjay commented on #21017
6595

[2017-07-15 17:06] wrrn commented on #21017
22590

[2017-07-15 17:07] isethi commented on #21017
22567

[2017-07-15 17:08] cassandraoid commented on #21017
22661

[2017-07-15 17:08] scorphus commented on #21017
22195

[2017-07-15 17:08] pteichman commented on #21017
22405

[2017-07-15 17:09] joeshaw commented on #21017
5185

[2017-07-15 17:09] mchoube commented on #21017
22668

[2017-07-15 17:09] dlsniper commented on #21017
6473

[2017-07-15 17:09] seubert commented on #21017
22655

[2017-07-15 17:09] ivan3bx commented on #21017
22630

[2017-07-15 17:09] brainsnail commented on #21017
22237

[2017-07-15 17:09] cybrcodr commented on #21017
17100

[2017-07-15 17:10] stealthybox commented on #21017
22662

[2017-07-15 17:10] Merovius commented on #21017
14425

[2017-07-15 17:10] dsnet commented on #21017
8495

[2017-07-15 17:10] rakyll commented on #21017
5040

[2017-07-15 17:10] jaystramel commented on #21017
22647

[2017-07-15 17:10] smcquay commented on #21017
13960

[2017-07-15 17:10] dlsniper opened #21019 "x/tools/cmd/go-contrib-init: tool does not recognize .googlesource.com config"
### What version of Go are you using (`go version`)?
Go 1.9beta2

### What operating system and processor architecture are you using (`go env`)?
Windows 10

### What did you do?
[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]

This seems to be caused by the fact that I already have a line in the configuration containing this:

[code]

[2017-07-15 17:10] coditect commented on #21017
22692

[2017-07-15 17:10] bschoch commented on #21017
22634

[2017-07-15 17:10] beyang-test commented on #21017
19090

[2017-07-15 17:10] nikhita commented on #21017
19881

[2017-07-15 17:10] dshareiff opened #21020 "22649"
22649

[2017-07-15 17:10] jwilder commented on #21017
22690

[2017-07-15 17:10] clairew commented on #21017
19783

[2017-07-15 17:11] audreylim commented on #21017
13190

[2017-07-15 17:11] beyang-test commented on #21017
19090

[2017-07-15 17:11] evanh commented on #21017
22694

[2017-07-15 17:11] epkann commented on #21017
22691

[2017-07-15 17:11] bflanigan commented on #21017
22669

[2017-07-15 17:11] austinjalexander commented on #21017
22616

[2017-07-15 17:11] mdhender commented on #21017
22615

[2017-07-15 17:11] huadcu commented on #21017
22645

[2017-07-15 17:11] briandowns commented on #21017
5332

[2017-07-15 17:12] walkert commented on #21017
22606

[2017-07-15 17:12] blainsmith commented on #21017
22696

[2017-07-15 17:12] matloob commented on #21017
10033

[2017-07-15 17:12] carlisia commented on #21017
19090

[2017-07-15 17:12] guillaumekoenig commented on #21017
22665

[2017-07-15 17:12] sbuss commented on #21017
17555

[2017-07-15 17:13] ianlancetaylor commented on #21017
5206

[2017-07-15 17:13] bradfitz commented on #21020
I think you meant to comment on #21017

I'm going to close this one.

[2017-07-15 17:13] #21020 closed

[2017-07-15 17:13] JohnCGriffin commented on #21017
22531

[2017-07-15 17:13] abhijitpai05 commented on #21017
22626

[2017-07-15 17:14] bradfitz commented on #21019
Wasn't this already fixed by https://go-review.googlesource.com/c/48230/ ?

Are you running an old version?

[2017-07-15 17:14] calvn commented on #21017
22670

[2017-07-15 17:14] bradfitz commented on #21019
/cc @kevinburke

[2017-07-15 17:15] mabu commented on #21017
22673

[2017-07-15 17:15] TripleDogDare commented on #21017
22628

[2017-07-15 17:16] GrantSeltzer commented on #21017
22185

[2017-07-15 17:16] danicat commented on #21017
22648

[2017-07-15 17:16] rogpeppe commented on #21017
6010

[2017-07-15 17:16] smcquay opened #21021 "tools/cmd/go-contrib-init: panic if not in directory"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version
go version devel +eab99a8d54 Mon Jun 26 21:12:22 2017 +0000 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Following along with the [gophercon workshop](https://golang.org/s/gophercon2017)

[2017-07-15 17:17] campoy commented on #21017
5955

[2017-07-15 17:17] jessfraz commented on #21017
6071

[2017-07-15 17:18] theothertomelliott commented on #21017
22700

[2017-07-15 17:18] ashleymcnamara commented on #21017
22515

[2017-07-15 17:18] ishgarg commented on #21017
22627

[2017-07-15 17:19] kamanson commented on #21017
22663

[2017-07-15 17:19] senekis commented on #21017
22697

[2017-07-15 17:19] dlsniper commented on #21019
I literally just go getted the tool for the workshop so no, it's not fixed yet I guess. sorry.

[2017-07-15 17:19] jkerr123 commented on #21017
22693

[2017-07-15 17:19] adamkisala commented on #21017
22641

[2017-07-15 17:19] geototti21 commented on #21017
22664

[2017-07-15 17:19] ericadams commented on #21017
22703

[2017-07-15 17:21] leighmcculloch commented on #21017
21426

[2017-07-15 17:21] arashbina commented on #21017
22704

[2017-07-15 17:22] pkch commented on #21017
22666

[2017-07-15 17:22] bradfitz commented on #21019
@dlsniper, but you probably had an old x/tools on disk already from a different x/tool package.

Use `go get -u` or tell me what git revision of x/tools you have currently.

[2017-07-15 17:24] kevinburke commented on #21019
Investigating...

[2017-07-15 17:25] ricardorey commented on #21017
22705

[2017-07-15 17:26] dshareiff commented on #21017
22649

[2017-07-15 17:26] vanesa commented on #21017
22706

[2017-07-15 17:29] tabo commented on #21017
22699

[2017-07-15 17:30] aelath commented on #21017
22629

[2017-07-15 17:31] gmarik commented on #21017
22707

[2017-07-15 17:32] martisch commented on #21017
16006

[2017-07-15 17:32] dlsniper commented on #21019
I've fixed with ` go get -u `, thank you.

[2017-07-15 17:32] #21019 closed

[2017-07-15 17:40] hertzbach commented on #21017
22715

[2017-07-15 17:44] bschoch commented on #14842
This appears to be fixed.

[2017-07-15 17:44] #14842 closed

[2017-07-15 17:45] smcquay commented on #21021
I seem to have had an older version of this tool.

[2017-07-15 17:45] #21021 closed

[2017-07-15 17:49] ardan-bkennedy opened #21022 "runtime: pprof list command not showing allocation in 1.9beta2"
### What version of Go are you using (`go version`)?

go version go1.9beta2 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/bill/code/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS=

[2017-07-15 17:54] shubheksha commented on #21017
22716

[2017-07-15 17:58] ardan-bkennedy opened #21023 "cmd/pprof: list comment added extra noise in 1.9beta2"
### What version of Go are you using (`go version`)?

go version go1.9beta2 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/bill/code/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS=

[2017-07-15 18:02] dsnet commented on #17555
I should mention that we now have https://golang.org/s/owners which is a rough list of owners per package.

[2017-07-15 18:05] jessfraz commented on #17555
oh sweet!

On Sat, Jul 15, 2017 at 2:03 PM, Joe Tsai <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-07-15 18:11] dsnet commented on #17402
\cc @audreylim

[2017-07-15 18:13] shantuo commented on #21017
12855

[2017-07-15 18:19] xmudrii commented on #21018
Errors seems quite easy to fix. I would like to give it a try, but before, does somebody want to comment on the format.

Should we show how it should be, such as:
[code]
or just drop a more precise message about error:
[code]

/cc @kevinburke @bradfitz

[2017-07-15 18:19] pkch opened #21024 "cmd/cgo: better error message when a different gcc is needed on Windows"
When building go from source on Windows, the gcc needs to support input from stdin; the exact command run is:

[code]

Apparently, not all gcc for Windows handle reading from stdin correctly; mine (realgcc) didn't, and I got this very brief error message when running tests with all.bat:

[code]

It would be nice to have an error message suggesting to use a different gcc (and ideally, recommending

[2017-07-15 18:21] dlsniper commented on #21013
As part of the GopherCon Contrib Workshop, I've managed to find that this got broken by: 2ad7453bf42654a6a1615fa1cc867123570c4595

Hope it helps.

[2017-07-15 18:27] ianlancetaylor commented on #21018
I think neither option is quite right here.  It would be best if we could say that the error with the example is a missing quote.

[2017-07-15 18:29] johnnyluo commented on #20054
I am interested to work on this one

[2017-07-15 18:31] cassandraoid opened #21025 "x/website: /project/ restructuring of page"
## Context:
These suggestions are assuming that the https://golang.org/project/ should get people excited and motivated about participating in the project. That they will be able to navigate through: what the project is and who it came from, what the community around the project looks like, how they can contribute and the future of the project. My suggestions will be more content and organization

[2017-07-15 18:32] ianlancetaylor commented on #21024
Which version of Go?

In current versions of Go the comment that is executed is not precisely the command that is printed.  cgo actually writes the input to a file, and passes the file to the compiler.  That should have happened in this case.  That was fixed in the Go 1.7 release.

[2017-07-15 18:35] shurcooL opened #21026 "encoding/json: indentation of raw strings in examples looks suboptimal in godoc"
### Motivation

There are two ways a Go [example](https://godoc.org/testing#hdr-Examples) can be read:

1. In the source code of a _test.go file.
2. Via `godoc` command or the web interface it provides.

In most cases, examples look equally good in both interfaces. However, in some cases, there may be two alternative ways to write an example, such that one of them looks better inside source code,

[2017-07-15 18:36] arthurpro commented on #21017
22718

[2017-07-15 18:37] pkch commented on #21024
I was building from master, and pointed go bootstrap path to the newest ( go 1.8.3) binary that I just downloaded.

[2017-07-15 18:38] #5757 closed

[2017-07-15 18:42] dechen-sherpa commented on #21017
22702

[2017-07-15 18:52] xmudrii commented on #21018
@ianlancetaylor i'll try to write some code and push cl, if tests pass, you can expect it.

[2017-07-15 19:08] dm319 commented on #6282
Time to revive this discussion?  As a go and R fan, how does fortran approach the problems seen here?

[2017-07-15 19:10] akarki15 commented on #21017
22609

[2017-07-15 19:11] mvdan commented on #21026
It seems that someone took a stab at the changes. I assume this issue is to confirm your suspicion on godoc formatting being more important than source code formatting, before the patches are applied.

If that's so, I agree.

[2017-07-15 19:13] bsiegert commented on #20852
The relevant bit from the serial console:

[code]

The binary packages are for NetBSD-7, and I suppose they are linked against base OpenSSL from NetBSD-7 :( Sorry for not catching this before sending out the CL.

[2017-07-15 19:20] jboursiquot commented on #21017
22717

[2017-07-15 19:30] pkch opened #21027 "net: TestInterfaceHardwareAddrWithGetmac fails on Windows 10 when using virtual adapters"
Running `all.bat` on Windows 10 after checking out source from master and disabling cgo (`set CGO_ENABLED=0`) due to issues with gcc. Go compiled fine, but the tests failed with:

[code]

My "Ethernet 2" adapter is not a real ethernet (I have none), it's a virtual adapter installed with some VPN. Its type is listed as [TAP-Windows Adapter V9[(https://www.iocreed.net/what-is-tap-windows-adapter-and

[2017-07-15 19:45] alaska commented on #21017
22723

[2017-07-15 19:45] pmoroney commented on #21017
22190

[2017-07-15 19:46] Ropes commented on #21017
22722

[2017-07-15 19:46] btracey commented on #6282
This issue is closed (and the proposal declined) for good reason. If you're looking for similar functionality, please see the gonum packages (gonum.org)

[2017-07-15 19:47] shurcooL commented on #21026
@mvdan, I filed the issue for posterity and to confirm that prioritizing godoc view is the right thing to do.

I suggested it to someone as their first Go CL. We're doing it as part of a [Go Contributor Workshop](https://golang.org/s/gophercon2017) at GopherCon.

[2017-07-15 19:47] CodyOss commented on #21017
22633

[2017-07-15 19:47] sukrithanda commented on #21017
22730

[2017-07-15 19:48] timburks commented on #21017
12406

[2017-07-15 19:49] kevinburke commented on #21017
13437

[2017-07-15 19:49] henvic commented on #21017
12995

[2017-07-15 19:50] extemporalgenome commented on #21017
6376

[2017-07-15 19:50] jcbwlkr commented on #21017
22595

[2017-07-15 19:50] waits commented on #21017
16851

[2017-07-15 19:51] csduarte commented on #21017
22733

[2017-07-15 19:51] frojasg commented on #21017
22701

[2017-07-15 19:51] ljfranklin commented on #21017
22632

[2017-07-15 19:51] btracey commented on #21017
7155

[2017-07-15 19:52] aschlesener commented on #21017
22732

[2017-07-15 19:53] calerogers commented on #21017
22745

[2017-07-15 19:54] darron commented on #21017
22746

[2017-07-15 19:54] sselph commented on #21017
22446

[2017-07-15 19:54] Lyoness commented on #21017
22677

[2017-07-15 19:54] davecheney commented on #21017
5150

[2017-07-15 19:55] Ch3ck commented on #21017
22747

[2017-07-15 19:56] Connor-McGuinness commented on #21017
22731

[2017-07-15 19:56] syamanashi commented on #21017
22734

[2017-07-15 19:56] vickiniu commented on #21017
22748

[2017-07-15 19:56] landonbjones commented on #21017
22505

[2017-07-15 19:57] allofthesepeople commented on #21017
22749

[2017-07-15 19:57] mmcloughlin commented on #21017
22750

[2017-07-15 19:58] JayBee6 commented on #21017
22751

[2017-07-15 19:59] draina commented on #21017
22720

[2017-07-15 19:59] FourSeventy commented on #21017
22753

[2017-07-15 20:00] cpallares commented on #21017
22642

[2017-07-15 20:01] mayra-cabrera commented on #21017
22754

[2017-07-15 20:01] drichelson commented on #21017
22724

[2017-07-15 20:03] ChimeraCoder commented on #21017
22735

[2017-07-15 20:04] tessr commented on #21017
10670

[2017-07-15 20:04] mennis commented on #21017
9940

[2017-07-15 20:04] ottogiron commented on #21017
16488

[2017-07-15 20:05] stanchan commented on #21017
22617

[2017-07-15 20:06] kevinburke opened #21028 "x/tools/cmd/git-codereview: fails if .git/hooks is not a directory"
On some versions of Git I think "git init" does not create .git/hooks, so .git exists but .git/hooks doesn't and the tool fails.

git-codereview should create `.git/hooks` if it does not exist before trying to write `.git/hooks/commit-msg`

[2017-07-15 20:07] jessfraz commented on #21028
Ah good to know

[2017-07-15 20:07] DocMerlin commented on #21017
16360

[2017-07-15 20:08] amandhora commented on #21017
22756

[2017-07-15 20:09] tmc opened #21029 "crypto/x509: missing MarshalPKCS1PublicKey and ParsePKCS1PublicKey"
The x509 package is missing the public key counterparts to MarshalPKCS1PrivateKey and ParsePKCS1PrivateKey.

[2017-07-15 20:12] xmudrii commented on #21018
@ianlancetaylor I hope you've thought about something like this one

[2017-07-15 20:12] SharonAllsup commented on #21017
22758

[2017-07-15 20:13] zoulasc commented on #20852
Yes, it is unfortunate that there are no pre-built packages for -8 yet. I will work on that. Do you need anything else from me?

[2017-07-15 20:16] gepser commented on #21017
22618

[2017-07-15 20:17] smcquay commented on #19579
I added a chan communication before exit and after shutdown:

https://play.golang.org/p/wnUgZfHh2W

Does that not behave as expected?

[2017-07-15 20:18] nmccrory commented on #21017
22759

[2017-07-15 20:21] zombiezen commented on #21017
8285

[2017-07-15 20:25] omarvides commented on #21017
22757

[2017-07-15 20:28] vsayer commented on #21017
22644

[2017-07-15 20:33] mvdan commented on #21026
Ah, makes sense - was missing the workshop context :)

[2017-07-15 20:35] gepser commented on #21017
22618

[2017-07-15 20:36] pbennett commented on #21017
9100

[2017-07-15 20:42] wallyqs commented on #21017
22776

[2017-07-15 20:43] henvic commented on #20947
@glinton have you ran into a, possibly, edge case where this is an issue?

[2017-07-15 20:45] ianlancetaylor commented on #21024
Can you attach the complete output from cgo with the `-debug-gcc` option?

Note that the command that cgo displays is not the exact command that it executes.  So while clearly something is wrong, I don't yet see how the problem could be passing standard input to the compiler.  See the `run` function in cmd/cgo/util.go.

[2017-07-15 20:58] ianlancetaylor commented on #21023
CC @matloob

[2017-07-15 20:59] kevinburke commented on #21028
(if anyone in the room at Gophercon wants to work on this one - I'm happy to help!)

[2017-07-15 21:01] bradfitz commented on #19608
Another:
https://storage.googleapis.com/go-build-log/baa28ca2/linux-amd64-race_6ec8ee17.log

[2017-07-15 21:03] tmc commented on #21017
22729

[2017-07-15 21:08] ashleymiller commented on #21017
22619

[2017-07-15 21:10] matloob commented on #21023
CC @rauls5382
I wonder if this may have been caused by the last cmd/pprof import from github.com/google/pprof in 7844ef

[2017-07-15 21:10] rhysh commented on #18997
I have a counterproposal that might resolve some of the root issues.

It sounds like the necessary information can be obtained by wrapping the http.ResponseWriter .. the problem is that wrapping http.ResponseWriter implementations is impractical because new features are exposed by adding methods to the underlying value, so a particular http.ResponseWriter might additionally implement http.Flusher

[2017-07-15 21:27] pkch commented on #21027
The test is for function `net.Interfaces()`. The docs aren't clear about which adapters should be listed, so I'm not sure if the test is expecting too much or if the function returns too little.

The test creates the expected output by running `getmac /fo list /v` (from the shell), and skipping the adapters with `"n/a"` in Transport Name or `"disabled"` or `"n/a"` in Physical Address. Here's what

[2017-07-15 21:32] mmcloughlin commented on #20877
I just attended the Gophercon Contributor Workshop and thought this might be a manageable fix to take on.

I was looking around `drivers/char/random.c` as @Yawning pointed out, but I don't think the offending line is `if (count > INT_MAX) ...` because `INT_MAX` is probably `2^31-1`. That line is here:

https://github.com/torvalds/linux/blob/486088bc4689f826b80aa317b45ac9e42e8b25ee/drivers/char/ran

[2017-07-15 22:08] CodyOss commented on #20450
I would like to claim this issue.

[2017-07-15 22:27] markus-oberhumer commented on #20997
Thanks!

[2017-07-15 22:34] joeshaw commented on #18997
@rhysh This is an interesting proposal.  There are a few things I would tweak about it, like returning interface values for the individual items in the `ResponseOptions` struct.  (ie, `Flush func()` would be `Flusher http.Flusher`, but in both cases the values would be `nil` if the interface weren't implemented.)

There are a few things I like about it:
* It makes it explicit what interfaces the `

[2017-07-15 22:36] andybons commented on #20945
Closing this. It has served its purpose.

[2017-07-15 22:36] #20945 closed

[2017-07-15 22:36] xmudrii commented on #21028
If nobody from GopherCon wants to work on it, I would want to try this one as well

[2017-07-15 22:46] joeshaw commented on #18997
Back to the `ServerTrace` implementation, the separation of `http` and `httptrace` packages is really making the usability of `ServerTrace` ugly because of circular dependencies.  `GotRequest` would really benefit from having access to `http.Request`, but instead most of the fields on it have to duplicated.  Same for `http.Header`.  It makes me worried about the long-term viability of doing it thi

[2017-07-15 22:46] kevinburke opened #21030 "wiki: add section on commit messages to CodeReviewComments"
The current CodeReviewComments page does not mention commit messages. Here's a useful explainer about directory prefixes from git-codereview:

[code]

I think we should add that and maybe some more:

- try to keep opening line below 50 chars

- please check spelling - we can fix typos in source code after the fact, but not in commit messages

- use present tense

- if you amend commits, the new co

[2017-07-15 23:07] xmudrii commented on #21030
What do you think about creating new page just for commit and before CLCreate stuff? To me, it sounds good, especially because CodeReviewComments is focused on the point once you actually create CL and more on Go code itself.

What could we add onto the page:
* What should be commit message
* What should be commit description
* Common practices
* Examples

[2017-07-15 23:26] grepory commented on #20032
If we moved a Go rewrite of `errchk` into its own package under `test/errorcheck/` and made it buildable, we could both continue to use the errorcheck package directly from `test/run.go` and compile `test/errorcheck/cmd` into `test/errchk` for use in vet's tests. Does this seem reasonable?

I think we cannot move this under src/ somewhere, because test/run.go is run with the bootstrap go, right? S

[2017-07-15 23:26] Merovius commented on #18997
An alternative would be, to enable reflect to dynamically create methods (via #15924 and #16522). That way, people who want to create wrappers with optional interfaces could do so, e.g. by

    func wrap(res http.ResponseWriter, statusCallback func(int)) http.ResponseWriter {
        st := reflect.StructOf{
            reflect.StructField{
                Type: reflect.TypeOf(res),

[2017-07-15 23:27] grepory commented on #20032
I'd prefer a solution that's just calling methods/funcs in both places, but I'm not sure if that's ideal.

[2017-07-15 23:34] pkch commented on #21024
IIUC, I don't get to the point of *running* cgo; the error happens when *building* cgo:

[code]

Should I add any options to this to provide more details? (`realgcc.exe` is what's `gcc` is linked to on my computer.)

[2017-07-16 00:03] bcmills commented on #20680
@rfyiamcool

`Delete` calls (and `Store` calls with previously-deleted keys) on disjoint keys in the read-only part of the map do not contend in the current implementation. An atomic counter would reintroduce contention for those calls.

We didn't omit `Len` just to be stubborn. It really is a subtle problem.

[2017-07-16 00:18] vcabbage commented on #21023
Interestingly, the output displays as expected if the test binary isn't provided to pprof.

[2017-07-16 01:24] ianlancetaylor commented on #20427
It might be interesting to try to reproduce this after editing syscall/exec_linux.go to not or `SIGCHLD` with `sys.CloneFlags`.  That is, just pass `sys.CloneFlags` by itself as the second argument to `clone`.  That will change the code to not send the `SIGCHLD` signal to the process for each process, which means that we will not be invoking the Go signal handler.  (It should not make a difference

[2017-07-16 01:26] ianlancetaylor commented on #21024
That is running cgo, not building cgo.  It is running the program `C:\\Users\\max\\Downloads\\go\\pkg\\tool\\windows_amd64\\cgo.exe` with various environment variables and options.

A simple thing that may help is to temporarily replace realgcc.exe with a program that just dumps its arguments, such as the echo program if you have that.  That will shows us exactly how the compiler is being invoked.

[2017-07-16 01:32] bcmills opened #21031 "sync: reduce pointer overhead in Map"
The Go 1.9 implementation of `sync.Map` is very pointer-heavy. That wastes a bit of CPU (following and caching those pointers and their address translations) and also consumes more steady-state memory than it potentially needs to (by at least one pointer per entry).

Now that `sync.Map` is in the standard library (instead of just `x/sync`), we can potentially make use of knowledge about the runtim

[2017-07-16 01:40] pkch commented on #21024
This is what I'm getting after replacing gcc (which came with Haskell distro, and seems to be mingw gcc) with echo:

[code]

[2017-07-16 01:43] bcmills opened #21032 "sync: reduce (*Map).Load penalty for Stores with new keys"
In the Go 1.9 implementation of `sync.Map`, storing _any_ new key in the map causes `Load` calls on _all_ new keys to acquire a mutex until enough misses have occurred to promote the read-write map again.

That's probably fine for append-only maps (such as the `sync.Map` uses in the standard library), because it goes away in the steady state. However, it's problematic for use in caches, where ther

[2017-07-16 01:44] #20450 closed

[2017-07-16 02:16] grepory commented on #21028
@xmudrii Did you still want to try this one?

[2017-07-16 02:18] xiaokangwang opened #21033 "x/mobile: Process crashed as JNI exception isn't cleaned before next call."
### What version of Go are you using (`go version`)?
go1.8.3

(
gomobile version +0f31740 Wed Apr 19 17:20:05 2017 +0000 (android); androidSDK=[removed]/platforms/android-26
)
### What operating system and processor architecture are you using (`go env`)?

linux/amd64

cross complied to

android/arm

### What did you do?

Calling Java function from go part of android app(with interface), and an unc

[2017-07-16 02:48] ianlancetaylor commented on #17384
@nicerobot This issue is closed.  Please open a new issue with your problem.  Thanks.

At a quick glance the paulsmith/gogeos package looks risky, as it uses `runtime.SetFinalizer` but never uses `runtime.KeepAlive`.  See https://golang.org/doc/go1.8#liveness .

[2017-07-16 02:50] ianlancetaylor commented on #21024
Thanks.  Unfortunately, it looks like cgo breaks (unable to read `_cgo_.o`) before it reaches the point of failure.  Perhaps you could use a script that echos the argument and then execs the real compiler.

[2017-07-16 03:10] josharian opened #21034 "all: add a few READMEs to help new people navigate the source tree"
The api directory has a friendly README file in it explaining what's in it. We should add short READMEs to some of the other top-level directories, particularly doc, lib, misc, and test.

[2017-07-16 04:13] bcmills opened #21035 "sync: reduce contention between Map operations with new-but-disjoint keys"
The Go 1.9 implementation of `sync.Map` uses a single `Mutex` to guard the read-write map containing new keys. That makes `Store` calls with different new keys always contend with each other, and also contend with `Load` calls with different new keys, even if the `Load`s and `Store`s for each key are confined to a single thread.

That doesn't really matter for the `sync.Map` use-cases in the stand

[2017-07-16 04:20] xiam commented on #20166
I think this problem is caused by how are we using `ts.Client()`.

`httptest.Server` has a [Client](https://github.com/golang/go/blob/d2863996416fed7f90bdc4b76249f8c62d065bd0/src/net/http/httptest/server.go#L269) function that returns the same client every time it's called.

When we use `ts.Client()` [inside a parallel test](https://github.com/golang/go/blob/d2863996416fed7f90bdc4b76249f8c62d065bd

[2017-07-16 04:21] bcmills commented on #21032
(@odeke-em and @RLH both made suggestions along these lines.)

[2017-07-16 04:22] bcmills commented on #21035
(@orcaman and/or @OneOfOne might be interested in this one?)

[2017-07-16 05:02] #21017 closed

[2017-07-16 05:07] mmcloughlin commented on #20877
I have been working on a patch. I'll put it out tomorrow for review.

[2017-07-16 06:36] yingqin678 opened #21036 "cmd/compile: build in linux amd64 comes out 42M while in windows 27.4M"
Please answer these questions before submitting your issue. Thanks!
### What version of Go are you using (`go version`)?
1.8.3
### What operating system and processor architecture are you using (`go env`)?
linux:
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH=""
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
CC="gcc"
GOGCCF

[2017-07-16 07:45] xmudrii commented on #21028
‎Yes, I'm just waiting @kevinburke to confirm it's free (I actually went to sleep).

If he wants to give few hints before I start, feel free to do. :)

[2017-07-16 08:59] ALTree commented on #21036
What is filebeat?

[2017-07-16 09:07] yingqin678 commented on #21036
yeah

[2017-07-16 09:10] yingqin678 commented on #21036
@ALTree yeah，tag 6.0.0-alpha-2

[2017-07-16 09:19] ALTree commented on #21036
Can you also try with go1.9beta? It'll be released soon so it's a good idea to test with it

[2017-07-16 09:28] yingqin678 commented on #21036
maybe i can try 1.9 later;however, it`s decided to upgrade 1.7 to 1.8 right now ,so maybe it`s better to find a way to solve it on 1.8??

[2017-07-16 09:37] ALTree commented on #21036
I just checked myself, filesize is the same (43M on go1.9 too).

[2017-07-16 09:41] ALTree commented on #21036
@yingqin678 go1.8 is done. Minor releases (like go1.8.3) are used to roll out fixed for critical problems (typically security issue); it's highly unlikely that a (supposed) problem with binary sizes will be included in a new minor release for go1.8.

[2017-07-16 09:47] ALTree commented on #21036
`go build -ldflags -w` produces a 30M binary on my linux system. Could this work for you as a workaround?

[2017-07-16 09:52] yingqin678 commented on #21036
yes and thank you,we will try on it

[2017-07-16 10:09] kevinburke commented on #21028
I don't know of anyone currently working on this, sorry

On Sun, Jul 16, 2017 at 01:46 Marko Mudrinić <notifications@github.com>
wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-07-16 12:20] chenzhekl commented on #11818
Is this project still alive? There seems to be few commits for a long time.

[2017-07-16 14:17] dm319 commented on #6282
-gri

Maybe I should have mentioned that my comment was prompted by the recent announcement about working towards Go 2 (https://blog.golang.org/toward-go2).

[2017-07-16 14:51] SamWhited commented on #6282
Consider filing an [Experience Report](https://github.com/golang/go/wiki/experiencereports) with any specific issues you've run into with real code. We can't talk about proposals and solutions until we know what the actual underlying problems are.

[2017-07-16 15:18] vcabbage opened #21037 "build: default GOROOT_BOOTSTRAP to `go env GOROOT`"
Currently, developers wanting to build Go from source need to either have a Go install at `$HOME/go1.4` or explicitly set `GOROOT_BOOTSTRAP`. I frequently recommend prefixing the build scripts with `GOROOT_BOOTSTRAP=$(go env GOROOT)`, this has worked well in the cases I've helped with. I believe baking this into the script would simplify the process for many developers.

To retain backward compati

[2017-07-16 15:52] ianlancetaylor commented on #21037
Good idea.  I'll note that if `go env GOROOT` == `GOROOT` (that is, the `GOROOT` we are about to use for the build), then we shouldn't use it.

[2017-07-16 17:02] ALTree commented on #21022
There must be something wrong with Darwing, because I can't reproduce this (nor #21023) on my Linux machine.

[code]

[2017-07-16 17:04] ALTree commented on #21023
Another data point: as I noted on #21022, this may be a Darwin-specific issue, because I can't reproduce this on my Linux machine. I don't have a Windows machine to test.

[2017-07-16 17:08] ALTree commented on #21022
@ardan-bkennedy which Darwin version are you using?

[2017-07-16 17:48] bradfitz commented on #21036
Sounds like this is resolved.

Existing bugs track binary sizes, so closing this specific instance.

[2017-07-16 17:48] #21036 closed

[2017-07-16 18:00] hartzell commented on #19203
@aclements -- I have access to this large machine again, but at the moment it is involved in a bug hunt.  I'll keep looking for an opportunity to recreate the symptoms and follow up.

[2017-07-16 18:21] ardan-bkennedy commented on #21022
macOS Sierra  10.12.5

[2017-07-16 19:06] xmudrii commented on #21018
If anybody wants to take on this, feel free to do. Sorry, I'm out of time for next few days.

[2017-07-16 19:27] kevinburke opened #21038 "blog, all: easier links to the source code for a given project"
I was trying to figure out where the source code for the blog lived; I was thinking it would be nice to have a link in the footer where the license currently is.

But then, where is the best place to link to?

- We could link to https://github.com/golang/blog, which is the easiest way to clone the project. But the import path you want is `golang.org/x/blog`, not `github.com/golang/blog`. Also ther

[2017-07-16 19:30] kevinburke commented on #21038
cc @hanwen, could we embed README's on that Gerrit page, or add a better "project homepage"?

[2017-07-16 19:42] ljgww opened #21039 "doc: Go project structure - Intuitiveness of documentation and lack of examples"
Please answer these questions before submitting your issue. Thanks!

Assumption that the issue may not be code issue can become helpful. I have read 'the guidelines for contributing' and find they do not apply to my problem.

### What version of Go are you using (`go version`)?

several, depending on system and history started somewhere around v.0.something way before it got v.1.  But, I am not ye

[2017-07-16 20:42] cznic commented on #21039
Perhaps. Using the ML to ask a question would've in this case probably served you better.

A personal opinion: The documentation used to *not have* the term workspace at all - in the beginning. I think this issue is an example why it should have stayed like that. No one talks about "executespace" when discussing $PATH neither. It's a source of unnecessary confusion.

[2017-07-16 21:15] chlunde commented on #19196
It looks like that when you start a program from Java, not just Jenkins, the SIGQUIT signal is blocked.  I do not know if this blocking is a JVM bug or feature: The Java runtime prints a stack trace and keeps on running on SIGQUIT, while most programs would of course terminate.  It *might* be that Java tries to protect other programs from `Ctrl-\` in terminal sessions by blocking this signal, beca

[2017-07-16 21:18] chlunde commented on #19203
I think this can be closed as a duplicate of #19196, as this is also when spawning from a Java process.

[2017-07-16 21:35] theckman opened #21040 "x/tools/cmd/go-contrib-init: does not exit if git-codereview install fails"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go version go1.8.3 darwin/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I tried to run the `go-contrib-init` command while my Go environment was in a half-setup state. I did this by simply unsetting `GOROOT`

[2017-07-16 21:36] theckman commented on #21040
I believe this issue can be fixed by adjusting this to use `log.Fatalf()` instead of `log.Printf()`: https://github.com/golang/tools/blob/d78e5d2552f0118165e0525719c6ab6b9eaebc4e/cmd/go-contrib-init/contrib.go#L266

If this fix seems appropriate, I'd be happy to try and make this my first contribution to Go/Go tools.

[2017-07-16 21:38] bradfitz commented on #21040
Sounds good. Go for it.

[2017-07-16 22:49] hartzell commented on #19203
Closing it seems reasonable to me too.

@chlunde has a more amenable test case too.

[2017-07-16 22:49] #19203 closed

[2017-07-16 22:51] hartzell commented on #19196
I've closed #19203 in favor of this, @chlunde has a more amenable test case.

Rather than patching the go runtime, can a analogous change be made in the test?

[2017-07-17 03:16] OneOfOne commented on #21035
I'm interested but I can't commit right now, the one idea that comes to my mind would require hacking runtime/hashmap* otherwise we'd have to double hash the keys.

[2017-07-17 03:20] josharian opened #21041 "cmd/compile: move tighten after lower"
The tighten pass is currently scheduled before lower, "to avoid splitting naturally paired instructions such as CMP/SET". Doing tighten later benefits from the removal of values enabled by lowering and lowered CSE. Empirically, moving tighten just before phiTighten generates slightly better code: fewer bytes of instructions on average, and as far I have checked, a pareto improvement on stack use.

[2017-07-17 03:21] #21040 closed

[2017-07-17 04:18] OneOfOne opened #21042 "cmd/go: go build fails with linker error when using clang v4.0.1"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
Arch Linux 64bit

### What did you do?

`$ env GOROOT_BOOTSTRAP=/usr/src/go1.4 CC=clang GOGC=off bash make.bash`

Note that using `CC=gcc` works fine.

### What did you expect to see?

Succes

[2017-07-17 04:24] pkch commented on #21024
Sorry, Windows + cgo build system outsmarted me. However much I tried to trick them with a Windows batch files to echo the arguments (to a file or to screen) and compile, it still managed to hide everything up until the "no input files" error. I will try again some time.

I guess that it's better to just use the recommended gcc anyway, and I just noticed the warning about incompatibility with some

[2017-07-17 05:13] markus-oberhumer opened #21043 "time: fix another 400 year offset in comment"
Found by inspecting time/time.go after reading Russ' recent Go Blog entry.

Looks like an oversight in git commit d93f3b5e31c2d95c6237d72b089576a50dacea79 .

### What version of Go are you using (`go version`)?

Current go 1.9.x-git 504deee6088c2448fc3e91c94a1ba69ec92fb7ef .

### What did you do?

[code]

[2017-07-17 06:17] hanwen commented on #21038
why not link to https://go.googlesource.com/blog/ ?
it renders README.md like github does, eg. https://go.googlesource.com/go/

[2017-07-17 07:49] emkatz commented on #19921
I'm on the way to reimplement some network analysis tool in go  - where complex number are really basic to linear networks. It would be awkward if complex number would be dropped and i have to do something less performent or a less KISS thing.
I'v first put the proposed funtionality to public domain in the early 80s (neviza) http://downloads.atari-home.de/Public_Domain/Serie_CCE/0100/CCE_0112.TXT

[2017-07-17 07:50] achojoao opened #21044 "runtime, x/mobile: go1.9 causes memory issue on Android"
### What version of Go are you using (`go version`)?

go version go1.9beta2 darwin/amd64 (same problem detected using go version go1.9beta1 darwin/amd64)

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/jvicente/go"
GORACE=""
GOROOT="/Users/jvicente/sdk/go1.9beta2"
GOT

[2017-07-17 07:57] LionNatsu opened #21045 "cmd: do nothing with explicitly specified "_*" file"
[code]

### What did you do?
[code]

### What did you expect to see?
Take `go fmt` as the example.
It should do something like `go fmt src/ciel/anotherfile.go`.

### What did you see instead?
`can't load package: package main: no buildable Go source files in /home/lion/aosc/ciel/src/ciel`

I understand `_file` will be ignore by go tools when I specified a package:
https://godoc.org/cmd/go/#hdr-Des

[2017-07-17 08:17] ALTree commented on #21043
Want to send a gerrit change?

[2017-07-17 08:22] ALTree commented on #21022
Mmh, I know about 10.10 issues (I opened an issue upstream because we were seeing builders failures in the pprof test suite) but since you're using 10.12 this could be something different.

See and  google/pprof#146 and https://github.com/google/pprof/issues/156#issuecomment-315382665

[2017-07-17 08:33] ALTree commented on #21042
The GCC issue was  #20276. It looks like the fix ([CL 18359](https://www.golang.org/cl/18359)), which was also backported to go1.4-bootstrap ([CL 42910](https://www.golang.org/cl/42910)) does not cover clang.

[2017-07-17 08:35] ALTree commented on #21042
cc @ianlancetaylor

[2017-07-17 08:38] ALTree commented on #21042
@OneOfOne I'm assuming you are using the latest bootstrap archive, i.e.  [go1.4-bootstrap-20170531.tar.gz](https://storage.googleapis.com/golang/go1.4-bootstrap-20170531.tar.gz).

[2017-07-17 08:47] liurenjin opened #21046 "sas"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

 #ssds
### What operating system and processor architecture are you using (`go env`)?

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

### What did you expect to see?

### W

[2017-07-17 08:48] #21046 closed

[2017-07-17 09:25] bsiegert commented on #20852
I'll try unpacking a /lib and /usr/lib from NetBSD-7 to fix this.

[2017-07-17 09:47] markus-oberhumer commented on #21043
I don't have a Gerrit account and a CLA yet, so please feel free to fix this trivial issue by yourself.

[2017-07-17 10:10] ALTree opened #21047 "cmd/pprof: update the vendored tool from upstream"
Opening this to document a recent (failed) effort to update `pprof` from upstream.

The tool was successfully updated from upstream on March 1 ([CL 37652](https://golang.org/cl/37652)). A failed attempt to a final update for go1.9 was made on June 20 ([CL 46155](https://golang.org/cl/46155)). The update broke several builders and was immediately reverted.

The failing builders:

- We had an [OSX10

[2017-07-17 10:17] ALTree commented on #21043
I submitted your patch on https://go-review.googlesource.com/c/49230/

[2017-07-17 11:31] OneOfOne commented on #21042
@ALTree I'm using the `release-branch.go1.4` branch, trying to recompile it however absolutely fails, with both clang and gcc.

https://gist.github.com/OneOfOne/a9116d4c85c32141282fcf9a2973fbd2

[2017-07-17 11:46] ALTree commented on #21042
Ok so the clang issue is the `-r and -pie may not be used together` issue, for GCC, and it's the topic of this issue.

Can you file another issue for the **other** problem? The fact that compiling go1.4-bootstrapping fails with

[code]

on your system.

[2017-07-17 11:51] ALTree commented on #21042
Wait, does this also affect go1.8? i.e. you can't build go1.8 from source with clang?

[2017-07-17 12:28] mundaym opened #21048 "cmd/compile: unaligned stores to global variables on s390x (causes SIGILL or relocation error)"
### What version of Go are you using (`go version`)?

go1.9beta2 (also present in go1.8.3)

### What operating system and processor architecture are you using (`go env`)?

linux/s390x

### What did you do?

[code]

(https://play.golang.org/p/jXSguFs4Hk)

### What did you expect to see?

Successful execution.

### What did you see instead?

[code]

</hr>

While not strictly a regression from the la

[2017-07-17 12:55] itcuihao commented on #21017
22835

[2017-07-17 14:17] aclements commented on #20975
@sneal, thanks for the referenced issue.

To be clear, we should *absolutely* be using larger stacks if there's any chance of calling into general C code. Our current condition for determining this is sufficient on other platforms, but not on Windows.

(I am a little confused on one point: Go uses 1MB stacks on 32-bit, but 2MB stacks on 64-bit if it thinks there's any C code. Is that atypical? Is

[2017-07-17 14:25] aclements commented on #21004
I think we would want the flag to automatically reserve space for them, just like we do for the frame pointer on x86 and the saved LR on LR machines.

Would this flag save *all* of the callee-save registers? That's potentially a lot of registers that aren't actually going to be clobbered. Where these bugs are really insidious are the C callee-save registers that are used implicitly by obj (so they

[2017-07-17 14:34] aronatkins opened #21049 "cmd/compile: named return values produce functionally different code"
This might be a duplicate of #20859. Filing it separately because the discussion in #20859 is mostly about code-generation, not functional differences.

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

https://play.golang.org/p/Ig-Jnvz07B
[code]

### What did you expect to see?

[2017-07-17 14:35] achojoao commented on #21044
I've just made another test, now in the working app. I'm loading a background image and raising the size of it everytime. When the size of this image is above 1,8mb or the size of the app is above 10,5mb, the app also crash with the same error, using the library compiled with 1.9betaX. With de library compiled with 1.8.3 is working perfectly.

[2017-07-17 14:37] aronatkins commented on #21049
The example given was derived from some error logging/reporting code. Here is an example that uses primitives (`int`) and might make for simpler analysis.
https://play.golang.org/p/nQ_z0ScUsm

[2017-07-17 14:44] glinton commented on #20947
@henvic (from the 'What did you do?' section of the original issue)

So we end up getting `permission denied` when trying to mount, because the directory is `/tmp/ExportedDir` but `/etc/exports` (and the client) only has `/tmp/exporteddir`. Our current workaround is to use `syscall.Getwd()` to populate the exports file and provide the client with a target.

[2017-07-17 15:12] joelurtubia opened #21050 "Map Key "sync" Ulock Rlock"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
version 1.8

### What operating system and processor architecture are you using (`go env`)?

raspberry Pi
NOOBS
Version:2.4.2

### What did you do?

I've capture multicast with a socket program based on Go, and analyze this traffic with go functions...
each frame multicast gene

[2017-07-17 15:23] rsc opened #21051 "proposal: testing: delay registration of flags until MainStart; add Init for explicit registration"
Mitchell Hashimoto pointed out at Gophercon that if you write
packages that provides extra test hooks mentioning *testing.T,
the import of "testing" forces the testing flags into any resulting
binary, even non-test binaries. At Hashicorp they define a separate
package that defines a copied testing.T interface only to avoid
these flag definitions.

I sent CL 49251 to delay the registration of the f

[2017-07-17 15:26] bradfitz commented on #21051
This happened so enough times in Camlistore that we have a test for it.

I suppose this CL would "break" this code:

https://github.com/camlistore/camlistore/blob/77ed42e/pkg/buildinfo/buildinfo.go#L37-L40

But it wouldn't really matter, since it was only detecting that to avoid the testing flags showing up.

[2017-07-17 15:29] bradfitz commented on #21049
This is working as intended.

These are actually different.

In your Foo func, the return statement is modifying the named return value before it returns, per the spec:

https://golang.org/ref/spec#Return_statements

[2017-07-17 15:29] #21049 closed

[2017-07-17 15:36] jessfraz commented on #18243
@ianlancetaylor I can take a crack at it

[2017-07-17 15:39] #21043 closed

[2017-07-17 15:52] rsc opened #21052 "test: fix nosplit test"
The nosplit test is disabled because it was never updated for frame pointers, and now frame pointers are enabled by default.

[2017-07-17 15:53] rsc commented on #21052
Dup of #18317 sorry.

[2017-07-17 15:53] #21052 closed

[2017-07-17 15:54] rsc commented on #18317
It shouldn't be skipped on amd64 either: it should be fixed everywhere.

[2017-07-17 15:59] bradfitz commented on #21050
For questions about Go, see https://golang.org/wiki/Questions.

We only use this issue tracker for bugs, not for general Q&A.

[2017-07-17 15:59] #21050 closed

[2017-07-17 16:03] kevinburke commented on #21039
FWIW, this:

[code]

and this:

[code]

describe the same directory tree - we just put "github.com/golang/example" together on one line so the text didn't bleed as far to the right.

I'm not sure how you are trying to create directories, but if you are using the command line, you can create the directories like this:

[code]

Or like this:

[code]

If you are cloning an existing project, you can r

[2017-07-17 16:20] kevinburke commented on #21038
Oh interesting! That could work. We'd still need to explain where in your source tree you should clone the project to, and how to report issues, and how to contribute changes, but we could put those in the README.

[2017-07-17 16:29] smarterclayton commented on #20977
Kubernetes may be a bit unusual in this regard in that it has large numbers of very long lived connections from large numbers of stable clients (infrastructure) that process large numbers of individual requests.  To avoid wasting CPU on TLS setup, we work very hard to avoid closing connections unless necessary.  However, occasionally a backend server is overloaded and wishes to shed load.  To do t

[2017-07-17 16:36] joelurtubia commented on #21050
ok... Brand, I understood,  but Map Key functionality has a problem, is very slow , and block and unblok the map key is not a solution , how can you  fix that?

[2017-07-17 16:41] tombergan commented on #18997
Stepping back a bit, the reason we originally added `httptrace.ClientTrace` was to expose info that could not be tracked by simply wrapping a `RoundTripper`. If we focus solely on better ways to wrap a `ResponseWriter` in this issue, then we lose sight of exposing info that is not available to `ResponseWriter`. For example, see #18095, which was dup'd into this issue. That issue is about logging b

[2017-07-17 16:45] aronatkins commented on #21049
@bradfitz Both `Foo` and `Bar` are attempting to modify `err`; only the `Foo` example succeeds (the one with the named return value).

[2017-07-17 16:46] jessfraz commented on #18243
how would you want this to change https://github.com/golang/go/blob/master/src/cmd/link/internal/amd64/obj.go#L70 a compile time variable or something?

[2017-07-17 16:46] aronatkins commented on #21049
The only difference between `Foo` and `Bar` is how `err` is declared.

[2017-07-17 16:51] bradfitz commented on #21050
The mailing list or Slack or forums are the right places to get help with Go problems.

[2017-07-17 16:57] bradfitz commented on #21049
No, that's not true. They really are different `err` variables.

The `err` in `defer ModifyErr(&err)` in `Foo` is referring to the return value `err`.

The `err` in `defer ModifyErr(&err)` in `Bar` is referring to the local variable `err`.

Think of your `Bar` func like this to see what it's actually doing:

[code]

Again, this is all per the language spec I linked above. See also the scope sectio

[2017-07-17 17:20] aronatkins commented on #21049
@bradfitz Thanks. That example helped. I expected it had something to do with the scoping of the named return parameter. I didn't see that in the `Bar` case, there's an implicit result parameter (which can often be optimized away).

[2017-07-17 17:22] cespare commented on #18943
I have this partially working (i.e., handling the other cases mentioned in the original report, amd64 only).

Might be a while before I send the CL since I'm going on vacation soon.

[2017-07-17 17:27] jessfraz commented on #20796
I can fix

[2017-07-17 17:30] prasannavl opened #21053 "scheduler: go-routine starvation"
### What version of Go are you using (`go version`)?
`go version go1.8.3 windows/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?

Consider the below program:

[code]

I was trying to get an estimate of the ops of atomics and mutexes. I wrote the above example. When instead of atomics, mutexes are used, it works as expected. However

[2017-07-17 17:38] jessfraz commented on #20796
feel free to ping me on these in the future

[2017-07-17 17:51] ALTree commented on #21053
This is #10958.

Note that if you build with `GOEXPERIMENT=preemptibleloops`, the program terminates. On my 4-cores machine:

`go1.8.3`:

[code]

`go1.9beta2`, build with `preemptibleloops`:

[code]

[2017-07-17 17:54] prasannavl commented on #21053
@ALTree  - Ah. Glad to see it work in progress. Shall I close this as dup?

[2017-07-17 17:57] bradfitz commented on #21053
Yes, this is a dup. It's targeted to Go 1.10.

[2017-07-17 17:57] #21053 closed

[2017-07-17 18:00] bcmills commented on #20680
https://github.com/golang/go/issues/21035 has more detail on some of the optimizations that might complicate an efficient implementation of `Len`.

[2017-07-17 18:02] aclements commented on #19196
@chlunde, thanks for figuring that out! I suspect you're right about the reasoning behind Java blocking SIQQUIT.

This seems like the right approach to me. Could someone try the following patch? (This isn't the right way to do it, but if this works I'll put together a real CL)

[code]

[2017-07-17 18:05] OneOfOne commented on #21042
@ALTree I hadn't tried until you mentioned it, no I can't build 1.8 from source either.

[2017-07-17 18:06] #21028 closed

[2017-07-17 18:12] OneOfOne opened #21054 "all: can't build go1.4"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
n/a

### What operating system and processor architecture are you using (`go env`)?
Arch Linux 64bit
[code]

### What did you do?
[code]

### What did you expect to see?
Working go1.4

### What did you see instead?
Can't compile it with neither clang nor gcc.

With clang:
[code

[2017-07-17 18:12] heschik commented on #16619
I think I get why having profiler labels create spans is undesirable, but I don't see any reason not to propagate the profiler labels to the execution trace. Concretely, just emit a trace event whenever a goroutine's labels change, and the trace viewer can attach them on all of the slices (rectangles in the UI) it emits to the JSON.

[2017-07-17 18:18] #20796 closed

[2017-07-17 18:34] aclements commented on #20975
Reading over https://msdn.microsoft.com/en-us/library/windows/desktop/ms686774(v=vs.85).aspx, I see that the default stack size is 1MB (perhaps regardless of 32 vs 64-bit?). I don't know how we ended up with 2MB stacks.

[2017-07-17 18:40] orcaman commented on #21035
Very interesting task, I'd love to take this one. I think it should definitely be doable for the Go1.10 Milestone. I'll think about the design some more before I can 100% commit to doing this one in due time.

[2017-07-17 18:59] aclements commented on #19381
This dropped from happening to a third of the commits to not happening at all with 286599f.

Thanks for the help @eliasnaur!

[code]

[2017-07-17 19:03] prasannavl commented on #21053
@ALTree, does the `GOEXPERIMENT` apply to all platforms? I tried it in windows - doesn't seem to work. Still hangs.

[code]

[2017-07-17 19:05] bradfitz commented on #21053
You can't just set the environment variable, IIRC. You have to set the variable and then rebuild the Go toolchain.

[2017-07-17 19:07] joelurtubia commented on #21050
ok ...thanks Brad

[2017-07-17 19:09] heschik commented on #12899
I believe this is fixed. Closing.

[2017-07-17 19:11] ALTree commented on #21053
Yeah you need to rebuild the toolchain from source with the variable enabled, e.g. `GOEXPERIMENT=preemptibleloops ./make.bash` in go/src

[2017-07-17 19:11] prasannavl commented on #21053
@bradfitz, ah - thanks. Thought it was a runtime config. Rebuilding the toolchain now.

[2017-07-17 19:15] aarzilli commented on #12899
@heschik there's the fact that `DW_AT_start_scope` is not emitted and it's disabled when inlining or optimizations are enabled.

[2017-07-17 19:17] chlunde commented on #19196
@aclements It kind of works, a little bit. For the parent process, I can send a signal.  The test still hangs.

Reproducer:

[code]

[code]

[2017-07-17 19:31] jessfraz commented on #19716
I made a patch to update the `Unshareflags` docs to define this behavior.

[2017-07-17 19:34] jessfraz commented on #14180
I think this should be ok once #20676 is in?

[2017-07-17 19:58] aclements commented on #19196
Thanks. I added some prints in the runtime and confirmed that that change to the test does cause it to unblock SIGQUIT with `sigprocmask`, but it remains blocked according to SigBlk in proc. In fact, it's the *only* blocked signal according to proc, even though we're setting a signal mask of 0xfffffffe7bfe7b23, which I'm rather confused by. @ianlancetaylor, any idea why this isn't working?

[2017-07-17 20:07] bradfitz commented on #20926
The image.New* functions return an empty image for drawing into.

I think this is working as intended.

If you have initial data, you can prepare the `YCbCr` struct yourself.

What is your proposal?

[2017-07-17 20:09] rsc commented on #20946
OK.

[2017-07-17 20:09] broady opened #21055 "tools: TestGeneratedFiles failing on linux-amd64-nocgo"
Only failing on `nocgo`, but failing consistently.

Latest log: https://build.golang.org/log/109ba9ba40b4a45b4e59191e5ddd6f004c607a9a

[code]

Potentially blocking: #11811 for Go 1.9

[2017-07-17 20:12] spf13 commented on #20946
The present tool needs some love. The fonts are too small. The template and css aren't modifiable. The entire thing doesn't work in mobile properly.

I think we should include this feature as part of a larger refactoring.

cc @andybons

[2017-07-17 20:13] rsc commented on #20925
As Brad said, we aren't going to change the godoc comment format to hide various lines. @groob's comment about test2doc sounds like a better solution.

[2017-07-17 20:13] #20925 closed

[2017-07-17 20:14] rsc commented on #20814
zip does this with RegisterDecompressor (global) vs Reader.RegisterDecompressor (local to Reader), but there's no equivalent of Reader yet in the image API. We'd have to add one.

[2017-07-17 20:17] rsc commented on #20814
Maybe we should consider this at the same time as #20804, #8055, #5050 and maybe more specific options like #13614, #18365.

[2017-07-17 20:22] rsc commented on #20792
Certainly loop preemption in Go 1.10 should make this less necessary, but as noted not completely unnecessary. In addition to straight line code there is also the question of large memmoves, which are in non-preemptible assembly, and maybe other operations like those.

The question is how to expose this in the tool. "go tool trace" is really about the web view. This new flag turns it into a comman

[2017-07-17 20:22] jessfraz commented on #21013
so `make.bash` unsets the GOPATH so this only happens when called by `go test`
should that test just unset the GOPATH in the beginning as well?

[2017-07-17 20:23] ignatov commented on #12899
@rsc Could you please add the debugger tag?

[2017-07-17 20:25] bradfitz commented on #12899
Done.

[2017-07-17 20:28] rsc commented on #2981
Planning to work on this in the Go 1.10 cycle. Will want to fix #19280 first.

[2017-07-17 20:28] epelc commented on #20814
@rsc the zip package looks like a good example except for this behaviour. Defaulting to looking up package defaults ruins the increased security you'd get from manually registering image decoders. It might also be something to look at in the `zip` package as another issue.

https://golang.org/pkg/archive/zip/#Reader.RegisterDecompressor

[2017-07-17 20:30] rsc commented on #19280
It sounds like the RESUME headers are the best solution, and they make the output parseable for -parallel=1. Will mark accepted assuming that's the solution.  CONT might be better since we've got various output that lines up to 4 letters.

[2017-07-17 20:34] rsc commented on #20883
This is not really about internal at all, since you could have the same situation with non-internal subdirectories you want to import. For better or worse we've decided that having fully-qualified paths is useful for being able to understand imports when you see them. It's not clear we want to break that now.

[2017-07-17 20:38] rsc commented on #20879
Even with the global option you still have to go through and add `{{/*trim*/}}` where there otherwise are not tags. Why not push the output through a proper HTML minifier? It might make sense to put _that_ into html/template, since it is already partly parsing HTML and maybe has enough context, but maybe not (I don't know if it knows about &lt;pre> tags, for example).

Does it make sense to adjust