[2017-06-14 20:20] spf13 commented on #18723
I've not seen this before. It looks quite impressive.

On Sat, Jun 10, 2017 at 6:38 AM Florin Pățan <notifications@github.com>
wrote:

[2017-06-14 20:23] tejasmanohar commented on #20520
@myitcv Got it... though I hope people don't commonly depend on that, would be unintuitive in most cases :)

[2017-06-14 20:28] myitcv commented on #20520
@tejasmanohar I think it would be more unintuitive for people _not_ to depend on the specified behaviour of `go generate`!

[2017-06-14 20:35] tejasmanohar commented on #20520
@myitcv I'm not suggesting we remove the ordering guarantee. I agree that it's too late for simply adding parallelization since this is documented... but I do not think there are _many_ good use cases for relying on the _file_ ordering guarantee of `go generate` (that would _not_ be confusing to most readers).

That said, I'm happy to be proven wrong so let me know if you have good examples.

[2017-06-14 20:43] cznic commented on #20520
go generate == extract script lines from *.go source files in well defined order and execute the resulting script.

Rarely one expects a script with no control flow constructs to *not* be executed top-down.

[2017-06-14 20:46] tejasmanohar commented on #20520
@cznic Agreed. I meant ordering between files (e.g. if `a.go` or `b.go`'s commands are run first when you `go generate ./...`).

[2017-06-14 20:54] zeebo commented on #19674
1. from dpkg, 2.19-18+deb8u7.

2. https://gist.github.com/zeebo/9bf6059544521f0b311efe4e6953f312

3.
[code]

I took the liberty of running a disas on the contents of lr there: https://gist.github.com/zeebo/52f7436e9392cc821b6dfe3af05b5963

[2017-06-14 20:55] zeebo commented on #19674
Also if you would like, I can probably arrange getting you a shell in to the hardware that is having the issues. Does that sound like a good idea?

[2017-06-14 21:06] #19433 closed

[2017-06-14 21:06] #19373 closed

[2017-06-14 21:07] dsnet commented on #20550
Completed with 8a5ef1501dee0715093e87cdc1c9b6becb81c882 in https://golang.org/cl/45754

[2017-06-14 21:07] #20550 closed

[2017-06-14 21:08] bradfitz commented on #13959
/cc @tombergan

[2017-06-14 21:10] bradfitz commented on #18895
Ping @mdempsky.

[2017-06-14 21:12] Konstantin8105 commented on #20662
Hello!
May be I can help, if you clarify to understood- how you see the result?

[2017-06-14 21:12] thibaultfalque opened #20673 "Change the output of the command go test to include the test file names"
### What version of Go are you using (`go version`)?
go version go1.6.2 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH=""
GORACE=""
GOROOT="/usr/lib/go-1.6"
GOTOOLDIR="/usr/lib/go-1.6/pkg/tool/linux_amd64"
GO15VENDOREXPERIMENT="1"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pt

[2017-06-14 21:13] bradfitz commented on #20662
Run the godoc binary locally:

[code]

And go to http://localhost:6060/doc/cmd

[2017-06-14 21:13] #19103 closed

[2017-06-14 21:15] bradfitz commented on #20673
A Go test package can span many different files. There is not a single file.

[2017-06-14 21:18] bradfitz commented on #20673
You can use `go list -json PACKAGE_NAME` to list the files in the test.

[2017-06-14 21:18] #20673 closed

[2017-06-14 21:23] thibaultfalque commented on #20673
hi @bradfitz
Thanks for your answer.
Yes I know but is it not possible to associate the test function with this file ?

But actually if I have a package for example:
util

- util.go

- util_test.go

There isn't a problem because `go-junit-report` list all function for a package util. It's perfect.

util

- util.go
- util2.go
- util_test.go
- util2_test.go

I have a problem because all the file is

[2017-06-14 21:24] rsc commented on #15021
The original post says:

This is no longer true. Other packages can now construct socket fds directly and then call os.NewFile to get a *os.File. Operations on that *os.File will use the network poller. Taking the example from the top:

[code]

If you just don't do the last line and use f in blocking i/o operations, those operations will use the network poller.

However, it's still not possible to

[2017-06-14 21:24] broady opened #20674 "release: version "go1.4" does not match go tool version "go1.9beta1""
[code]

/cc @bradfitz

[2017-06-14 21:25] broady commented on #20674
Also for linux/ppc64le:

[code]

[2017-06-14 21:25] rsc commented on #15021
If someone wants to write a CL along those lines for Go 1.10 and see if it can be done fairly cleanly, I think we agree it's worthwhile. Leaving Dial out, at least for the first version, should make it unobjectionable.

I'm going to mark this approved assuming a sketch like in the CL.

[2017-06-14 21:26] Konstantin8105 commented on #20662
Yes, thanks. I know about that option.
I mean - I can help to change official /doc/cmd.html.
If you agree, I will follow in according to Contribution Guide.

[2017-06-14 21:27] dr2chase opened #20675 "GOEXPERIMENT=preemptibleloops sometimes fails ssa/check"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.almost9

### What operating system and processor architecture are you using (`go env`)?
amd64

### What did you do?
GOEXPERIMENT=preemptibleloops ./make.bash
GOEXPERIMENT=preemptibleloops GO_GCFLAGS=-d=ssa/check/on ./run.bash

It fails like so:
[code]

[2017-06-14 21:42] bradfitz commented on #20662
Go for it.

[2017-06-14 21:43] bradfitz commented on #20674
I sent https://golang.org/cl/45778 before I noticed there was a bug number.

[2017-06-14 21:46] #20674 closed

[2017-06-14 21:46] aclements opened #20676 "runtime: don't spawn threads from locked Ms"
Currently the runtime can spawn a new OS thread from essentially any M. This is bad if it attempts to spawn from a locked M that's locked because the goroutine on that M put the OS thread into a strange state. The new thread will inherit this state and start running other goroutines.

For example, this blog post describes the effects of this when trying to manipulate Linux namespaces from within a

[2017-06-14 21:49] bradfitz commented on #20673
Sorry, the go tool won't do that out of the box, and it's too niche of a use case for us to add.

But fortunately the go/* packages in the standard library make it easy to write your own tool to discover the files in a package and parse them. Then you just need to walk the AST of the parsed functions and print out the associated filename for funcs starting with "Test".

[2017-06-14 21:51] mdlayher commented on #15021
I'm happy to give this a try. Thanks for the example CL!

[2017-06-14 21:58] #19028 closed

[2017-06-14 22:04] bcmills commented on #20275
I'm not sure that we should even drop it. We should convert it to a zero-sized Go array so that it can still be addressed.

There's nothing obviously wrong with this program, for example:

[code]

[2017-06-14 22:10] dominikh commented on #19622
This is still an issue, and kind of makes go/ssa unusable for a lot of its users. Is there a way to get this on the radar of the people who actually understand the code?

[2017-06-14 22:21] josharian opened #20677 "cmd/compile: inefficient compilation of (64 - x)"
[code]

Currently, the core of the inner loop compiles to:

[code]

Disabling a few optimizations allows this to revert back to:

[code]

It is two bytes longer, but executes faster: 1.60 ns vs 2.06 ns. (Both measurements are extremely consistent.)

Perhaps we should remove the optimizations, or perhaps we should make them contingent on something (what?).

cc @randall77

[2017-06-14 22:31] josharian commented on #20677
I guess the existing code is not just shorter, it only requires a single register. I'll find a different attack on this code.

[2017-06-14 22:31] #20677 closed

[2017-06-14 22:39] bcmills opened #20678 "time: unchecked overflow in Add and AddDays"
I'm trying to define a mapping between `time.Time` and a C++ time library.

The library that I'm trying to map to supports distinct "infinite past" and "infinite future" times, which need to be mapped to distinct `time.Time` values. The logical choices would seem to be the maximum and minimum representable `time.Time` values.

The obvious way to try to obtain those is to call `(time.Time).AddDate`

[2017-06-14 22:45] dlsniper opened #20679 "Windows installer silently uninstalls the previous Go version"
### What version of Go are you using (`go version`)?
1.9beta1

### What operating system and processor architecture are you using (`go env`)?
Windows 10 / amd64

### What did you do?
I've downloaded the latest and greatest Go version, 1.9beta 1 from the website, via this link: https://storage.googleapis.com/golang/go1.9beta1.windows-amd64.msi

When I've installed Go 1.9beta1, it silently uninstall

[2017-06-14 22:52] bradfitz commented on #20679
Dup of #16305.

[2017-06-14 22:52] #20679 closed

[2017-06-14 22:53] bradfitz commented on #16305
@broady, this just came up again (dup bug #20679).

Here's a proposal: we stop releasing Windows MSIs for betas. Those users can use the zip files or `go get golang.org/x/build/version/go1.9beta1`. That also simplifies your code signing step.

[2017-06-14 22:54] bradfitz commented on #20678
What is the C++ time library? Got a link?

[2017-06-14 22:58] dlsniper commented on #16305
@bradfitz but the same problem will then happen for stable as well. I really don't like that I should compile the or download an archive. On Windows / OS X it should be really just what users are used to do, download the MSI, install them and that's it.

[2017-06-14 22:58] ianlancetaylor commented on #20275
@bcmills Offhand I don't see how to do that while still preserving the size of the struct as seen in Go as being the same as the size as seen in C.  That seems like a difficult property to lose.  See https://golang.org/cl/12864 .

[2017-06-14 23:00] dlsniper commented on #16305
I see, I make no promise but I'll try and have a look to see if I can work something out. The MSI stuff is open as well, yes?

[2017-06-14 23:06] bcmills commented on #20678
I'm not sure whether it's public. So, no.

[2017-06-14 23:26] bradfitz commented on #16305
See golang.org/x/build/cmd/release for how the MSI is built.

[2017-06-15 00:06] F21 opened #20680 "sync: add Map.Len method?"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9-beta1

### What operating system and processor architecture are you using (`go env`)?
Windows 10 64-bit
[code]

It would be really useful to have a `Length()` method on `sync.Map` that can return the number of items in a map. Currently, I need to do something like this, whi

[2017-06-15 00:09] alandonovan commented on #19622
The problem seems to be that the reachability part of φ-elimination considers only "new phis" and ignores φ-nodes already present due to && and || operators.  I'll prepare a fix.  Sorry for the delay.

[2017-06-15 00:13] stjj89 opened #20681 "cmd/gofmt: comments under case statements indented inconsistently"
go version go1.8.1.typealias linux/amd64

gofmt indents comments under case statements differently, depending on whether or not there is a subsequent default case.

https://play.golang.org/p/04RrASTyjn

Press "Format" and notice that "// CommentBar" is properly indented, whereas "// CommentFoo" is missing an indent.

[2017-06-15 00:26] randall77 commented on #20680
@bcmills

[2017-06-15 00:32] rsc commented on #18186
Seems like @mpvl is away (not sure). I'll take care of this. I thought the tables were now generated from something in x/text, but unicode/maketables.go is still in the main distribution and editing and rerunning it has the desired effect, so good enough for me.

[2017-06-15 00:42] mdempsky commented on #18895
zlib.a grew in size because after CL 36170, cmd/compile is no longer inlining (*adler32.digest).Reset into (*zlib.reader).Reset:

    $ go build -a -toolexec=toolstash -gcflags=-m compress/zlib 2>&1 | grep 'compress/zlib/reader.go:175: inlining'
    compress/zlib/reader.go:175: inlining call to adler32.New
    compress/zlib/reader.go:175: inlining call to adler32.(*adler32.digest).Reset
    $ go b

[2017-06-15 00:47] bcmills commented on #20680
What's the use-case?

[2017-06-15 00:50] rsc commented on #19480
Apologies for ignoring this for a while. [CL 38791 PS 6](https://go-review.googlesource.com/c/38791/6/src/encoding/xml/xml.go) is so very simple that as long as you can confirm that it suffices for the things you want to build outside the standard library, I'm certainly happy with it. We should leave the submit until Go 1.10 at this point. Please do build some real transformers with it to exercise

[2017-06-15 00:52] F21 commented on #20680
I am storing items filled by goroutines processing data  into 2 separate maps. Once this is done, I need to compare the length of these 2 maps to perform a quick sanity check and decide on which branch to proceed for further processing.

[2017-06-15 00:57] ianlancetaylor commented on #19289
@bdarnell Thanks for test case and analysis.  I am able to recreate the problem.  One thing I don't yet understand, though, is that even with a spurious wakeup, the call to fetch `SO_ERROR` only happens after `connect` has been called on the socket and has returned `EINPROGRESS`.  I don't yet understand why the `SO_ERROR` would return no error when the socket is not actually connected.

[2017-06-15 00:58] bradfitz commented on #20680
This would normally be a Go 1.10 thing, but since this type is new in Go 1.9, I'll let @bcmills decide.

The implementation might be hairy enough to warrant Go 1.10 anyway, especially if the representation needs to change and other code gets modified.

[2017-06-15 01:06] #18186 closed

[2017-06-15 01:06] rsc commented on #14282
I think we should fix it, for Go 1.10. Will send a CL.

[2017-06-15 01:11] cespare commented on #20680
Isn't the number you get out going to be a best-effort guess anyway? (Like len(channel)). Seems like an easy user workaround would be to maintain a parallel atomic int64 count.

(I don't know if that'd also be a reasonable internal implementation or not.)

[2017-06-15 01:16] bradfitz commented on #18680
@broady, can you handle updating our Wix, or do you need help?

[2017-06-15 01:19] alandonovan commented on #19622
Minimal testcase:
[code]

[2017-06-15 01:21] F21 commented on #20680
In my case, I am retrieving the length of the map after all goroutines have finished.

[2017-06-15 01:26] mikioh commented on #20669
I have no strong opinion on this feature because I have no measurement for IPv6 addressing/routing scope boundary handling in transport- and/or session protocols, such as HTTP.

FWIW, the net/http package provides the ```CheckRedirect``` field of http.Client for such use cases.

[2017-06-15 01:31] bradfitz commented on #18925
@aclements, what's the status here? Is there something you still want to do for Go 1.9? Or do you suspect it's already been fixed?

[2017-06-15 01:33] willmo commented on #20617
Probably worth noting that Firefox (which Tor Browser is based on) has [removed support](https://bugzilla.mozilla.org/show_bug.cgi?id=1340655) for HTTP/1.1 pipelining in Firefox 54 (released today).

[2017-06-15 01:45] c0b commented on #20621
could you explain more why these #20621 #19778 are Language changes, if implement these in next Go1.x then what's the problem, to me it doesn't seem like will cause any existing code to not compilable

and I believe Golang team must be aware of these since beginning of this language design, could you talk more why these weren't implemented since beginning? what could be the problems if made it sin

[2017-06-15 01:59] electricface commented on #20193
I have also encountered the same problem.

[2017-06-15 02:08] ianlancetaylor commented on #20621
Permitting code that was not permitted before is still a language change.  We've realized that we don't want to make a long series of small incremental language changes, because we don't know where we will end up.  We want to consider all changes together, to make sure they work well together.

Permitting type conversions between types that are the same other than their names can change the method

[2017-06-15 02:13] bradfitz commented on #20193
@electricface, if you're in China, it's expected. It's unavailable in China for legal reasons.

[2017-06-15 02:18] bradfitz commented on #20614
Go for it.

[2017-06-15 02:30] ianlancetaylor commented on #19289
OK, I understand now.  `SO_ERROR` only returns a meaningful value after the socket is ready for writing.

[2017-06-15 03:36] broady commented on #20193
@SjonHortensius do you still see this? I expect so. Looks like 2a02:27f8:: was classified as Netherlands until late last year, then for a few weeks this year.

Can you give a more specific address/range? Feel free to mail it to me - cbro at golang dot org.

I've reported it, so if it gets classified back to NL, then you'll see it live in a couple weeks.

[2017-06-15 03:58] griesemer commented on #20681
That's because it's not obvious whether `//CommentFoo` belongs to the (missing) code for case "a" or whether it's a comment for the next (default) case. There's some heuristics one could employ but there's no clear-cut approach. In fact, if you indent manually, gofmt accepts that as well.

Leaving open for future consideration.

[2017-06-15 04:18] #18895 closed

[2017-06-15 04:35] mattn commented on #20681
It works well for me.

[code]

[2017-06-15 04:37] bradfitz commented on #19289
Nice find.

[2017-06-15 05:16] robbert229 commented on #20650
I can take a look at this. @randall77

So far from my understanding of objdump the changes for this feature would need to occur in each of the assembly packages used by `disasm.go` in the `cmd/internal/objfile` package
[code]
I think the changes would be to the `decode` function in each of the previously stated packages, is this correct?

[2017-06-15 05:30] randall77 commented on #20650
Those are the right packages.  I think the code might need to be added to plan9x.go:plan9Arg (at least on x86).

[2017-06-15 05:30] alexbrainman commented on #20666
What Ian said.

Thank you for fixing this, Ian. Looks all good here.

Alex

[2017-06-15 05:32] #20596 closed

[2017-06-15 05:37] bradfitz commented on #19388
David, any update here?

[2017-06-15 05:45] mattn commented on #18359
@bobjalex If you have diff, could you please send CL. Or show me your changes if possible. Thanks.

[2017-06-15 05:57] #20090 closed

[2017-06-15 06:33] mkumatag opened #20682 "cmd/compile: internal compiler error: cannot export NONAME (2) node"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version devel +ff07486 Thu Jun 15 04:17:30 2017 +0000 linux/amd64
### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?

1. Git clone openshift origin code - https://github.com/openshift/origin.git
2. Apply patch from http

[2017-06-15 06:34] mkumatag commented on #20682
/cc @laboger

[2017-06-15 06:41] mkumatag commented on #20682
/cc @griesemer @mdempsky

[2017-06-15 06:45] tobiasmuehl opened #20683 "Launchpad hosted backport for Ubuntu Xenial has terribly slow networking"
When installing go using the backport (`ppa:longsleep/golang-backports`) the download takes 10-30 mins because the network bandwith is terribly slow. This is the output from a DigitalOcean singapore VPS:

<img width="1250" alt="mintty_2017-06-15_13-37-04" src="https://user-images.githubusercontent.com/3341826/27168651-db2cc978-51d0-11e7-851e-3ff844993918.png">

[2017-06-15 06:57] bford commented on #20654
Apologies if the initial proposal was a bit overly long and impenetrable.  Based on the first few reactions I've seen, perhaps it's best if I back up and ask those interested (and still paying attention) to express their sentiments on a few high-level questions of priorities, while trying to pull apart a few related issues.  Either simple yes/no responses, or more elaborate responses, would be fin

[2017-06-15 07:03] odeke-em commented on #20682
I've tried 2 times in a row to clone that repo openshift, in order to try to reproduce and isolate the issue but git has bailed out
[code]

[2017-06-15 07:13] ALTree commented on #20683
We don't distribute ubuntu packages and that ppa repository is not owned by the go project. I suggest opening an issue to launchpad.

[2017-06-15 07:45] davecheney commented on #20683
I'm going to close this, as @ALTree said, the ubuntu ppa archive is not something we control.

[2017-06-15 07:45] #20683 closed

[2017-06-15 08:34] ALTree opened #20684 "cmd/compile: binary exporter debug flag is broken"
[code]

There's a debug flag in `bexport.go`

[code]

but it seems to be broken. Setting it to `true` and then running `make.bash` gives:

[code]

[2017-06-15 08:34] ALTree commented on #20684
cc @griesemer

[2017-06-15 09:28] #20561 closed

[2017-06-15 09:28] santhosh-tekuri opened #20685 "encoding/xml: StartElement and EndElement should not match if prefix does not match"
### What version of Go are you using (`go version`)?
go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
darwin/amd64

### What did you do?
StartElement and EndElement should not match if prefix does not match

go program used to test: (https://play.golang.org/p/3hUyUhbK5D)
[code]

### What did you expect to see?
`XML syntax error on line

[2017-06-15 10:00] vitalyisaev2 commented on #20671
@bradfitz @randall77 @minaevmike Thanks for your tips! It seems like the structure that was being unmarshalled contained ```[]byte``` objects that were allocated inside [Boltdb](**https://github.com/boltdb/bolt**). I missed the point that it's not safe to use that values outside the transaction:

@bradfitz regarding to unsafe pointers, I don't use them, but protobuf [does](https://github.com/golan

[2017-06-15 10:04] #20671 closed

[2017-06-15 10:57] dolmen opened #20686 "x/crypto/openpgp: ReadArmoredKeyRing: unsupported feature: unknown critical signature subpacket type 6"
### What version of Go are you using (`go version`)?

go1.8.3
golang.org/x/crypto latest (commit 850760c427c516be930bc91280636328f1a62286 June 13th, 2017)

### What operating system and processor architecture are you using (`go env`)?

linux/amd64

### What did you do?

Parse a public key using golang.org/x/crypto/openpgp
Full test code including the failing key (well known key working with GPG):

[2017-06-15 12:21] cac04 commented on #20508
I asked on an OpenBSD mailing list about passing `-Wl,-nopie` or just `-nopie` to `gcc`. You can see the thread here: http://marc.info/?t=149745633100003

The conclusion seems to be that `go build` should be using `-nopie` rather than `-Wl,-nopie` when it calls `gcc` to link.

[2017-06-15 13:26] dlespiau commented on #20173
Yes, thank you for renaming the issue. Updated the proposal text accordingly as well.

[2017-06-15 14:35] SamWhited commented on #19480
Thanks @rsc; I've sort of been ignoring this one too and was focusing on the more complex DOM-like API. I rebased the CL and pushed a copy of my transformers that use this patch here: https://bitbucket.org/mellium/xmlstream/branch/encoding_xml_decode_wrapper

The only odd one was the `RemoveElement` transformer, which required that I reimplement skip anyways because using `RawToken` instead of tok

[2017-06-15 15:08] SjonHortensius commented on #20193
@broady actually it's working now; not sure what changed as I'm still in the same range. If this happens again I'll reopen / mail you the exact ipv6 address

[2017-06-15 15:08] #20193 closed

[2017-06-15 15:46] bcmills commented on #20275
I can see how to solve it with a fairly minimal language change, but not without one.

The language change would be to add a distinguished zero-size type (`unsafe.Void`?) that does not induce padding _and cannot be instantiated in Go_. That would prevent an `unsafe.Void` from ever occurring in the Go heap (except by casting through `unsafe.Pointer`, which is of course unsafe anyway). Then we could

[2017-06-15 15:50] bobjalex commented on #18359
OK, here are my changes. Disclaimer: I'm doing this at home in a
Windows-only environment, and currently have no access to Linux or a
"professional" tools environment. And I'm not exactly sure what CL format
is. So... I did a diff using Cygwin and options -cs -- attached. Hope this
is easy for you to work with.

Disclaimer 2: looks like I also did some fiddling with supporting more of
the extra da

[2017-06-15 15:52] #18173 closed

[2017-06-15 16:09] bradfitz commented on #20684
I'll conservative flag this Go 1.9 in case it implies a larger problem.

[2017-06-15 16:10] bradfitz commented on #20682
Assigning to @griesemer per his request:

[code]

[2017-06-15 16:24] #20618 closed

[2017-06-15 16:40] rsc commented on #19643
I talked some more with @Sajmani about this, and we both believe that there just isn't enough experience with what's needed here to commit to something in the standard library today. As such, I am going to close this proposal as declined.

This is what I see as the path forward here:

1. Someone should survey and summarize uses of context-manipulation routines used today, including but not limited

[2017-06-15 16:40] #19643 closed

[2017-06-15 16:46] mattn commented on #18359
@bobjalex Thank you very much. I will make new CL based on your changes.
@dsnet Do you mind that I'll put thanks to bobjalx into the commit comment?

[2017-06-15 17:08] bobjalex commented on #18359
It would be an honor.

But it's bobjalex :)  (Google lD "ralex", from when I contracted there a
few times)

On Thu, Jun 15, 2017 at 9:47 AM, mattn <notifications@github.com> wrote:

[2017-06-15 17:19] mdempsky commented on #20682
The compiler also first printed two undefined symbol errors:

    # github.com/openshift/origin/vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/options
    /root/origin/_output/local/go/src/github.com/openshift/origin/vendor/gopkg.in/natefinch/lumberjack.v2/lumberjack.go:110:0: undefined: lumberjack.megabyte
    $GOROOT/src/strings/strings.go:499:0: undefined: strings.HasSuffix
    <autogenerated>

[2017-06-15 17:23] dsnet commented on #18359
If one of you sends a diff, I can review it. Pleaes be aware that this will not make Go1.9 as the freeze happened long ago, but we can definitely try to get a proper fix in for Go1.10

[2017-06-15 17:29] bcmills commented on #20680
`sync.Map` is optimized for long-lived, mostly-write workloads, for which a `Len` method would either be misleading (under-counting keys) or inefficient (introducing cache contention on the length counter).

The `Range` workaround at least has the benefit of appearing to be as expensive as it actually is.

I'm not opposed to the idea of adding a `Len` method, but I think we would need to show that

[2017-06-15 17:40] bcmills opened #20687 "sync: unchecked overflow in (*WaitGroup).Add"
Thinking about https://github.com/golang/go/issues/20678 (and #19624) made me wonder what other unchecked overflows are lurking in the standard library. I've found another one, but I don't have real-world code that triggers it. (I'm filing this issue just for reference.)

`(*sync.WaitGroup).Add` accepts an `int` parameter, so it is reasonable for users to expect that they cannot make `Add` calls s

[2017-06-15 17:44] mdempsky commented on #20682
This appears to be due to CL 36170. If I revert CLs 45817 and 36170 (plus adjustments for splitting out package types from package gc), package options builds again.

I'm leaning towards just doing that for 1.9. CL 36170 was supposed to be a simple code cleanup, but it's turned out to have some subtle consequences.

[2017-06-15 17:45] achille-roussel commented on #6918
I've been thinking more about this problem and read more of the database/sql implementation, and I'm not sure it's a solvable problem without breaking the driver API.

The problem is the even if we introduced an optimized interface between database/sql and the driver, the code has to fallback to the existing implementation to ensure backward compatibility, which would then defeat escape analysis a

[2017-06-15 18:00] stjj89 commented on #20681
Thanks for the explanation, that makes sense.

[2017-06-15 18:26] josharian commented on #20681
See also #9910, of which this is perhaps a dup.

[2017-06-15 18:27] dsnet commented on #18359
@bobjalex, you're GitHub user doesn't seem to be in the system for having signed the CLA. I ain't a lawyer, I'm not sure how this works if parts of the code that @mattn contributes is actually written by you.

[2017-06-15 18:41] griesemer commented on #20681
@josharian Yes, indeed. Closing as duplicate of #9910.

[2017-06-15 18:41] #20681 closed

[2017-06-15 18:44] #20682 closed

[2017-06-15 18:48] AlexRouSg commented on #20661
Why can't we just add new alias functions with a suffix like Crypto e.g. ReadCrypto/NewCrypto/NewSourceCrypto/etc...

That way we still have the 1.0 compatibility and makes it easier for people to make sure they are using the correct rand.

[2017-06-15 18:51] bradfitz commented on #20661
I suppose we could, but we generally try to avoid having two ways to do the same thing.

[2017-06-15 18:57] rsc commented on #18359
Right, please don't use code posted to Github. Only use code posted to Gerrit by its original author. If someone can't complete a CLA and post code to Gerrit for whatever reason, that's OK. We can almost always independently write the code ourselves instead. (And when that's not true we just live with not having the code.) Thanks.

[2017-06-15 18:59] vielmetti commented on #19082
To track this, go 1.9 beta 1 is available now, and there is no ARM64 binary for it published yet.

[2017-06-15 19:04] AlexRouSg commented on #20661
Well I'm not in the affected group so I'll let you guys debate if the pros outweigh the cons.

But I can imagine some company having a security vulnerability cause of some late night coding where someone auto imported math/rand instead of crypto/rand.

[2017-06-15 19:21] joelpresence opened #20688 "net: dial should not fail for legitimate urls that work in other languages e.g Redis URLs"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.1 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
darwin amd64

### What did you do?

Go cannot connect to a valid url like `redis://user:password@a1.a2.a3.ec2.cloud.redislabs.com:45678`.  This is a perfectly valid U

[2017-06-15 19:27] odeke-em commented on #20688
@joelpresence here is how @garyburd connects to Redis in his project redigo https://github.com/garyburd/redigo/blob/master/redis/conn.go#L214-L266. He might have some input on this as well, if you please, @garyburd.

[2017-06-15 19:30] odeke-em commented on #20688
/cc @bradfitz @mikioh

[2017-06-15 19:33] vcabbage commented on #20688
The example URL parses fine with [`url.Parse()`](https://golang.org/pkg/net/url/#Parse).

[`net.Dial()`](https://golang.org/pkg/net/#Dial) doesn't accept URLs:

I'm going to go ahead an close this since it's not a bug.

[2017-06-15 19:33] #20688 closed

[2017-06-15 19:33] joelpresence commented on #20688
Thanks. We're looking into it.  I see lots of issues around this with Go Lang failing on urls that look like this and the failures happen with many other services besides redis.  Also, Ruby handles this exact URL without issue ...

Any ideas?

Thanks!  :-)

Sent from my iPhone

On Jun 15, 2017, at 12:28 PM, Emmanuel T Odeke <notifications@github.com<mailto:notifications@github.com>> wrote:

@joelp

[2017-06-15 19:34] bradfitz commented on #20688
For questions about Go, see https://golang.org/wiki/Questions.

[2017-06-15 19:39] bradfitz commented on #20661
Your security vulnerability scenario involves all of the following failures:

* a tool automatically chose math/rand instead of crypto/rand. goimports doesn't do this as of a year ago. That was fixed in https://github.com/golang/tools/commit/0835c735343e0d8e375f0b980b358619ff0853a2
* somebody wrote security code late at night
* code review didn't happen or missed the problem

It's possible, but it

[2017-06-15 19:46] bradfitz commented on #19082
@broady, I'm running using pending CL 45913:

[code]

[2017-06-15 19:57] bradfitz commented on #19082
Okay, it's uploaded now:

https://golang.org/dl/#unstable

The "Arch" column says "arm64" now. Maybe it should say something else. It looks out of place formatting-wise. ARMv8? ARMv8-A? AArch64? ARM has the most lovely names. ARMv8 matches the existing ARMv6 look-wise.

In any case, please test out the binary and report any problems.

If we don't hear happy reports, we won't ship it for the final

[2017-06-15 20:18] jba opened #20689 "x/net/http2: GET fails on content with very large header"
### What version of Go are you using (`go version`)?
go1.8.1.typealias

### What operating system and processor architecture are you using (`go env`)?

 linux/amd64

### What did you do?

Tried to read a GCS object with large metadata, which results in a large header (value is 100,000 bytes long).

[code]

I can do this if you need it.

### What did you expect to see?
Here's the http2debug=2 outpu

[2017-06-15 20:24] odeke-em commented on #20689
/cc HTTP2 squad @bradfitz @tombergan

[2017-06-15 20:46] bradfitz commented on #20689
The GFE hung up on us before sending anything.

Maybe the GFE didn't like our MAX_HEADER_LIST_SIZE = 16384 and decided that since it can't fit in 16KB, they'd just hang up.

Can you click the checkbox to make https://storage.googleapis.com/veener-jba/metadata-test be publicly readable to ease debugging?

[2017-06-15 20:54] odeke-em commented on #20689
@bradfitz or any other folks investigating I've started a repro here https://github.com/odeke-em/bugs/tree/master/golang/20689 and can't yet reproduce with a very large header https://github.com/odeke-em/bugs/blob/master/golang/20689/server.go#L10 or inlined
[code]

[2017-06-15 20:57] kardianos commented on #6918
@achille-roussel Can you give me an example of a non-backwards compatible solution? If there is ever a Go2 this would be additionally useful.

[2017-06-15 21:10] pierrre opened #20690 "gofmt doc, tab width=8"
### What version of Go are you using (`go version`)?
Not relevant

### What operating system and processor architecture are you using (`go env`)?
Not relevant

### What did you do?
Go to https://golang.org/cmd/gofmt/

### What did you expect to see?
A tab is just a tab, there is not width.

### What did you see instead?

[2017-06-15 21:11] jba commented on #20689
Done.

[2017-06-15 21:12] jba commented on #20689
@odeke-em Consistent with Brad's guess that Google's front end is the culprit.

[2017-06-15 21:14] bradfitz opened #20691 "x/build/devapp: migrate to GKE or Flex"
https://dev.golang.org/ is currently on App Engine classic and that's holding us back in a number of ways.

For one, it's Go 1.6 only.

But mostly it doesn't let us use maintner.

Before we do a number of other things we want to do, we need to migrate it to Flex or a GKE service.

According to @broady, we can't currently run an App Engine Flex app on *.golang.org due to some Google-internal config

[2017-06-15 21:14] joelpresence commented on #20688
Fixed using DialURL.  Thanks.

[2017-06-15 21:17] bradfitz commented on #20691
Note that https://dev.golang.org/ has several dashboards, but we only need to work on porting the one that's often used for the initial migration.

The important one is:
https://dev.golang.org/release

The ones that can (and should) wait until later are:
https://dev.golang.org/cl
https://dev.golang.org/dash#all

Those last two are redundant and should be merged, be prettier, and use maintner to ha

[2017-06-15 21:17] jba commented on #20689
On the other hand, this works: `gsutil ls -L gs://veener-jba/metadata-test`

[2017-06-15 21:17] griesemer commented on #20690
Fixed and duplicate of #19618.

[2017-06-15 21:17] #20690 closed

[2017-06-15 21:17] griesemer commented on #20690
https://tip.golang.org/cmd/gofmt/ shows the corrected version.

[2017-06-15 21:18] Konstantin8105 commented on #20539
In my point of view, if you try to calculate the Cos(1e300), then correct answer is panic or error, because the angle is 100000000000... and result is just from 1 to -1.
But we know only 16 number with float64(see https://en.wikipedia.org/wiki/Double-precision_floating-point_format) after point.

[2017-06-15 21:20] pierrre commented on #20690
Sorry for the duplicate.

[2017-06-15 21:21] #20320 closed

[2017-06-15 21:24] #14270 closed

[2017-06-15 21:34] nathangoulding commented on #19082
@bradfitz My vote would be for `arm64`, and probably rename ARMv6 to `arm32`. Since there are a few 64-bit architecture now, perhaps `amd64` and `i386` instead of 64/32-bit.

[2017-06-15 21:38] griesemer commented on #20684
Minor discrepancy in redundant code used for debugging. Does not affect anything else but will fix.

[2017-06-15 21:44] alexellis commented on #19082
There are varying opinions on naming for ARM - ARM themselves communicating with the Docker/Moby project asked for -

* arm32v6
* arm32v7
* arm64v8

etc. This has been reflected in the Docker manifest definitions and the prefixes for the naming of ARM-based container images.

aarch64 / arm64 / armv8 amongst others are the most popular I've seen elsewhere.

[2017-06-15 21:45] bradfitz commented on #19082
We'll go with ARMv8 if anything. We're not repainting the rest of the house.

[2017-06-15 21:47] bradfitz commented on #19082
@nathangoulding, for anybody actually confused what "64-bit" or "32-bit" means, they can read the filename substring that says "amd64" or "386".

[2017-06-15 21:51] bradfitz commented on #20689
Fun. The GFE or the GCS backend indeed hangs with our request:

[code]

[2017-06-15 21:54] bradfitz commented on #20689
There's no change if I modify the Go http2 Transport to not send MAX_HEADER_LIST_SIZE=10MB in our initial settings frame. (Omitting it means unlimited)

No change:

[code]

[2017-06-15 21:55] bradfitz commented on #20689
@Capstan, any ideas?

[2017-06-15 21:56] bradfitz commented on #20689
Chrome can't load it either:
https://storage.googleapis.com/veener-jba/metadata-test

Works with curl + HTTP/1.1 though.

[2017-06-15 21:57] mdempsky commented on #18701
Another: https://storage.googleapis.com/go-build-log/20d6577d/windows-386-gce_75489d06.log

[2017-06-15 21:57] nathangoulding commented on #19082
@bradfitz More so for accuracy/consistency, especially as golang makes its way into predominantly ARM ecosystems. Fair enough though, and ARMv8 is a fine choice.

[2017-06-15 22:02] bradfitz commented on #20689
@jba, that's Python, right? I bet it's HTTP/1.1 and not HTTP/2.

[2017-06-15 22:10] odeke-em commented on #20689
Yap yap, I can confirm what @bradfitz said about Chrome not loading, it fails with `ERR_QUIC_PROTOCOL_ERROR`
<img width="1071" alt="screen shot 2017-06-15 at 4 08 47 pm" src="https://user-images.githubusercontent.com/4898263/27203860-19121004-51e5-11e7-92fb-86506245b3fe.png">

[2017-06-15 22:15] elliotchance commented on #20539
@Konstantin8105 how did you come up with the result Cos(1e300) = 100000000000?

[2017-06-15 22:23] LeonardoGentile commented on #10588
Could please someone from the team give an honest answer here?
Something unplanned for 2 year is very unlikely to be implemented.
Since the creation of the issue nobody from the team bothered to answer to anybody apparently also ignoring a bounty and requests to further contribute to solve this.

This is blocking an essential feature for syncthing and apparently there is nothing the syncthing team

[2017-06-15 22:28] #20684 closed

[2017-06-15 22:37] AudriusButkevicius commented on #10588
So I am pretty sure nobody in the core team is interested to solve this, and I am fine with that as they have bigger fish to fry before Go becomes even mildly popular on Android. The thing I am not fine with however is lack of guidance. Even if I had the hours to do it, I haven't be provided any guidance on how this could be done even on a high level.

[2017-06-15 22:40] #19289 closed

[2017-06-15 22:46] griesemer commented on #10588
Unfortunately there's no one on the Go team actively supporting x/mobile at the moment. We are a small team and we are spread thin, and currently have to focus on different priorities. My apologies.

cc: @crawshaw in case he wants to add anything to this.

[2017-06-15 22:52] jeddenlea opened #20692 "image/gif: Encode creates corrupt GIF files from SubImages trimmed from the bottom"
If you have an image with bounds (0,0)-(W,H), then create a SubImage with bounds (0, 0)-(W,H-n), and encode that sub image, the result is corrupt.  Firefox, Chrome, and Safari will display the GIF just fine, but other more strict parsers, including image/gif's decoder, will see trailing data in the image's LZW stream and fail.

A CL to fix this is on its way...

[2017-06-15 23:32] odeke-em commented on #20692
/cc @nigeltao

[2017-06-16 00:36] ianlancetaylor commented on #20508
As it happens, the use of -Wl,-nopie is already OpenBSD specific, dating back to https://golang.org/cl/7572049.  So this looks like an easy fix.

[2017-06-16 00:48] ianlancetaylor commented on #20528
I don't see anything to fix here.  You're right: `json.Decoder` does not call the `Close` method on its argument.  But I don't see any reason to expect it to do so.  And I don't see any special difficulty in calling `Close` when you are done with the `Decoder`.

What is there to fix here?

[2017-06-16 00:49] ianlancetaylor commented on #20299
It happened again: https://storage.googleapis.com/go-build-log/0a0e8fbd/linux-386_56a2d1b0.log .

[2017-06-16 00:51] mattn commented on #18359
@dsnet @rsc Agree with you.

[2017-06-16 01:01] ianlancetaylor commented on #20508
OK, so I didn't read closely enough.  Apparently using `-nopie` is not enough.  Above it says that

    go build --ldflags '--extldflags "-static -nopie"' ./cgo-example

links successfully, but the resulting program does not run.

What do we have to do to get a program that both links and runs?

[2017-06-16 01:04] ianlancetaylor commented on #20508
The location of the crash suggests that there is something wrong with the support for TLS in a statically linked OpenBSD binary.

I'm going to punt this to 1.10.  If someone can figure this out soon we can still get the patch into 1.9.

[2017-06-16 01:10] cespare opened #20693 "encoding/json: decoding performance regression in 1.9beta1"
This is with these Go versions:

go version go1.8 linux/amd64
go version go1.9beta1 linux/amd64

The following benchmark unmarshals a JSON object which has a large sub-object that's irrelevant (it's associated with a key that isn't in the destination struct):

[code]

It gets about 30% slower for me in Go 1.9.beta1:

[code]

You can also see that it's not due to increased allocations; they went do

[2017-06-16 01:11] cespare commented on #20693
I can investigate this later if nobody else gets to it first.

[2017-06-16 01:15] cespare commented on #20693
(Added to the 1.9 milestone since it was discovered while testing the 1.9 beta. Please fix it if that's not right.)

[2017-06-16 01:16] dcheney-atlassian commented on #20528
Additionally, if json.Decoder closed its reader that would make it impossible to use it for streaming http responses that include multiple json documents in a single http body.

[2017-06-16 02:08] benshi001 commented on #19082
I suggest aarch64. ARMv8 implies arm32 instruction set ver 8, and aarch64 implies the 64 bit mode instruction set, as a convention.

Please refer to linaro tool chain's naming.

https://www.linaro.org/downloads/

[2017-06-16 03:14] bobjalex commented on #18359
I'm not a lawyer either -- just a guy coding at home on my personal Windows
system, not using github or any source management system. I'm currently
semi-retired and am not employed. Other than what I have sent to you, the
code exists only on non-networked computers in my home. I sent my code to
y'all to demonstrate a technique that I like for getting the desired dates
into the various zip date fie

[2017-06-16 03:15] tianon commented on #19082
Happy to report that it's working pretty well here! :innocent: :+1: :grinning:

(It successfully builds binaries as expected, and the resulting binaries run properly. :heart:)

Thanks for your work on this! :100:

[2017-06-16 04:59] AndreKR opened #20694 "image/gif: Mention the uselessness of BackgroundIndex in the docs"
Go version: Go 1.8 (but this is a documentation issue)

Quick introduction to GIF disposal methods:
In an animated GIF, a _disposal method_ can be set for each frame. It specifies to which state the canvas should be set before displaying the next frame when the current frame is finished being shown. There are three disposal methods, represented in `image/gif` by `DisposalNone`, `DisposalBackground

[2017-06-16 05:00] bradfitz commented on #17626
@andybons, after the dev.golang.org migration (#20691), this would be a good second one.

[2017-06-16 05:02] vcabbage commented on #20693
Appears to be https://github.com/golang/go/commit/df68afd07ce67727bcc2ad8e4afaa42dbcbf58e7, the commit that removes the allocation, which causes this benchmark to be slower.

[2017-06-16 05:09] odeke-em commented on #20439
I mailed a CL for Go1.9 on that day as per https://github.com/golang/go/issues/20439#issuecomment-303209362. Should we instead mark it as for Go1.10?

[2017-06-16 05:36] bradfitz opened #20695 "x/net/bpf: TestVMALUOpXor test flake"
Test flake:

Seen on a trybot run:
[code]

Could somebody investigate? Test flakes make development elsewhere harder. (I was working on http2)

/cc @mdlayher @danderson

[2017-06-16 05:46] #20692 closed

[2017-06-16 05:52] bradfitz commented on #20694
Marking for Go 1.10, but if you want to shoot something off soon, it could make Go 1.9 if it's docs only.

[2017-06-16 05:53] fcntl commented on #15658
bad bug

[2017-06-16 06:09] lakb opened #20696 "Set LD_LIBRARY_PATH while executing go test"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.5.1 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/imsgit_local/work/lakb/CSCF/ims_common/icm/dashboard/rest/golang/"
GORACE="

[2017-06-16 06:12] odeke-em commented on #20696
/cc @ianlancetaylor perhaps

[2017-06-16 06:14] bradfitz commented on #20696
Could you try Go 1.8 or Go 1.9beta1?

Go 1.5 is pretty old at this point.

Also, Go doesn't use libDbi.so, so this is something that your code is doing. Is your code available somewhere?

[2017-06-16 06:18] lakb commented on #20696
The module test is written for a CGO project. These are the libraries needed to compile the main package of the project.

[2017-06-16 06:20] bradfitz commented on #20696
No, sorry. You can use pkg-config, though.

For questions about Go, see https://golang.org/wiki/Questions.

[2017-06-16 06:20] #20696 closed

[2017-06-16 06:22] zhangfannie opened #20697 "cmd/internal/obj/arm64: golang assembler handles arm64 instruction ldxp incorrectly."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version devel +59051da Fri Jun 16 06:05:57 2017 +0000 linux/arm64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/fanzha02/go"
GORACE=""
GOROOT="/h

[2017-06-16 06:24] bradfitz commented on #20697
Did it work in Go 1.8?

If no, this is Go 1.10 material.
If yes, we could fix it for Go 1.9.

[2017-06-16 06:27] bradfitz commented on #20693
Thanks for the report @cespare and investigation @vcabbage.

I suppose we could just revert df68afd07ce67727bcc2ad8e4afaa42dbcbf58e7 but then we lose some performance in some case too. But it'd at least be equivalent to Go 1.8. @cespare, could you locally do a manual revert and see what happens performance wise?

[2017-06-16 06:27] bradfitz commented on #20693
@pascaldekloe, could you investigate too?

[2017-06-16 06:52] meirf commented on #20589
Sorry for using new semantics and putting the diffing/parsing burden on the reader.

The only difference I am aware between the status quo and the definition from my 1st comment is the one @rsc mentioned: "The design of the pattern matching is constrained... realize the inconsistency."

**Status quo**
A subtest is run if there is a path from the root to the subtest, inclusive, and every subtest in

[2017-06-16 07:05] Konstantin8105 commented on #20539
At the first I want to show example from fumction Sqrt, see https://golang.org/src/math/sqrt.go :
[code]
In according to that example NaN() *Not a number*, but it is not logical, because the result is number - but we can`t know that the number. But it is better, then nothing. But we **the best way** is to create a agreement for that.

But problem is - How to calculate the border between angle "we

[2017-06-16 07:15] elliotchance commented on #20539
I don't understand your explanation. 1e300 can be represented in a `float64` (1.8e308 would the maximum representable value), so it does not represent inf, it is just very large.

Even an extremely large number like this would still rotate around the same 2 radians and fall at a particular angle which has a defined output between 0 and 1.

[2017-06-16 07:33] Konstantin8105 commented on #20539
Yes, you are right.
Result of Cos function is cannot be infinite, only from 0 to 1 and for angle 1e300 - it is also true.
And we not sure about result of Cos for angle 1e300, because we have limit  amount of decimal numbers after point.
I check that on Windows calculator, Android calcilator and sciencific portable calculator - we result of Cos(1e300) is "Error". That the reason - Why your C code r

[2017-06-16 07:45] elliotchance commented on #20539
I agree that if you are calculating the cosine of such an enormous number it is more likely a bug with your application, but the mathematics still hold up.

I found this bug while creating the math tests for the https://github.com/elliotchance/c2go project: https://github.com/elliotchance/c2go/blob/master/tests/math.c#L167-L168

[2017-06-16 07:47] ALTree commented on #20539
This bug is valid, sine and cosine are defined on any real number and yes, you should be able to compute sin(1e300). But it's hard to reduce numbers this big and not terribly useful, that's why it's low priority and it hasn't been fixed (for now).

[2017-06-16 07:48] Konstantin8105 commented on #20539
Just for information. I create a little java test
[code]
The result:
[code]
Java show another result.

[2017-06-16 07:53] Konstantin8105 commented on #20539
We can try check Javascript.
[code]
Please try in https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_cos , just change left code and click on button **Try it**.

[2017-06-16 07:58] Konstantin8105 commented on #20539
Yes, elliotchance is right.

[2017-06-16 08:00] cyphar opened #20698 "archive/tar: Writer should not accept empty Xattrs values"
[code]

You can verify this at https://play.golang.org/p/T9jR4DO492. Here's the contents of the paste:

[code]

### What did you expect to see?
No output.

### What did you see instead?
[code]

This is happening on the reading, not writing side (which you can verify by dumping the generated `tar` archive to stdout). According this section of `archive/tar` it looks like this is intentional:

[code]

[2017-06-16 08:10] elliotchance commented on #20539
Actually, it seems that the cstdlib and Java/JavaScript are both giving the incorrect result:

https://www.wolframalpha.com/input/?i=cos(1e300)&rawformassumption=%22TrigRD%22+-%3E+%22R%22

cos(1e300) = -0.168214

This is more of a side note because as @ALTree said, it is difficult to reduce numbers this large.

[2017-06-16 08:33] Konstantin8105 commented on #20539
Just for information.
If it is actual problem for your project/projects, then you can help for Go project https://golang.org/doc/contribute.html .

[2017-06-16 08:46] benshi001 commented on #20509
MOVW.P	FPSR, R9   is also silently accepted.

[2017-06-16 08:53] pascaldekloe commented on #20693
Sorry guys, my holidays lasts till the 26th and there are no computers around. If the issue can wait then I'm happy to resolve this once home.

[2017-06-16 09:30] MarsYong opened #20699 "“<” in unquoted attr issues"
When I use 1.7rc6 version of the time, my project is no problem. When I upgraded from 1.7rc6 to 1.8.3 ver,There is a problem
my OS is Ubuntu 16.04 , GOARCH=amd64 GOOS=linux
i'm use the gin web framework.
The Panic:  html/template:product.html: "<" in unquoted attr: "<#=hardwares[i].DeviceCode#"
and else
html/template:product.html: "<" in attribute name: " <#if(j==statuses[i].Value_type)"
Why in th

[2017-06-16 09:38] mvdan commented on #17798
CL was marked as R=go1.10, so moving the issue milestone too.

[2017-06-16 09:40] mvdan commented on #15586
This is marked `NeedsDecision` and it seems like noone is working on it - should we postpone to 1.10?

[2017-06-16 09:52] lzm7455 commented on #20665
Thank you.
       Sorry for the late response.
       My env: macOs Sierra 10.12.5 (16F73)  ;   Safari  10.1.1 (12603.2.4);
       I tried it in China.
       When I click the link,  download won't act auto.

[2017-06-16 10:16] viphxin opened #20700 "why go init func not run"
my project is use go1.5. and everything is ok, when i ran it in go1.8.1 and i found there is a module init func not run. and I want to kown what situations can display that。。waiting for you reply and thanks

Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.1 darwin/amd64

### What operating system and process

[2017-06-16 10:17] viphxin commented on #20700
OS is macos sierra

[2017-06-16 10:35] ALTree commented on #20700
Hi,

the Go project does not use its bug tracker for general discussion or asking questions. The Github bug tracker is only used for tracking bugs and proposals going through the Proposal Process.

Please see the [Questions wiki page](https://github.com/golang/go/wiki/Questions); it has a list of good places for asking questions. Also please post your code when you ask for help in one of those pla

[2017-06-16 10:35] #20700 closed

[2017-06-16 11:11] benshi001 opened #20701 "cmd/internal/obj/arm: wrong encoding of MOVBS.U"
"MOVBS.U R0<<0(R1), R2" is assembled to 0xe19120d0 (ldrsb r2, [r1, r0]), but it is expected to be 0xe11120d0 (ldrsb r2, [r1, -r0].

[2017-06-16 11:24] benshi001 commented on #20701
"MOVHU Reg>>off(Reg), Reg" will get expected "illegal combination".
"MOVBS Reg>>off(Reg), Reg" should also.

[2017-06-16 11:37] mvdan commented on #20699
This issue doesn't contain enough information. Can you provide a program to reproduce the issue?

Have you brought this up with the gin project? This could well be a bug in there and not in Go itself.

[2017-06-16 11:44] mvdan commented on #20131
Thank you, Russ. @jimmyfrasche would you like to collaborate on this?

[2017-06-16 11:45] mvdan commented on #18063
Not sure why I didn't make this a proposal from the start; made it one.

[2017-06-16 11:47] mvdan commented on #18042
For future reference, I ended up opening https://github.com/golang/go/issues/19280 for forcing parallel tests to run sequentially.

[2017-06-16 12:19] gottwald opened #20702 "go1.9beta1: Time.String() format change not mentioned in the release notes"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]

### What did you expect to see?
`2017-06-16 14:09:27.033492377 +0200 CEST`

### What did you see instead?
`2017-06-16 14:09:27.033492377 +0200 CEST m=+0.0

[2017-06-16 12:43] ALTree commented on #20702
This may be too uninteresting to mention at the top of the page in the section dedicated to the new monotonic clock support but we could mention this in the 'minor changes' section.

I sent https://go-review.googlesource.com/c/46011 (if we decide we want to do this).

cc @bradfitz

[2017-06-16 12:50] dnfield commented on #20443
I think this is a great idea, but I don't like the idea of shallow copying.  There's nothing stopping you from creating your own types over a slice that do this, and that way at least it's very transparent to you and consumers that they're actually getting copies of data.

I'd love to see go support read only types that are enforced at compile time.  Slices in particular - simply have a compile er

[2017-06-16 13:05] joegrasse commented on #17344
@bradfitz Is what @parkr provided enough for someone to look at this issue?

[2017-06-16 13:16] odeke-em commented on #20698
/cc @dsnet

[2017-06-16 13:46] cherrymui opened #20703 "net: pipe2: too many open files on S390X"
Since https://go-review.googlesource.com/c/45815/, the S390X builder starts to fail with
[code]
https://build.golang.org/log/c50cf67a5e81277c308bae6d09f661dbb5ecdef6

cc @ianlancetaylor @mundaym

[2017-06-16 14:05] jvshahid commented on #20528
@ianlancetaylor & @dcheney-atlassian  this isn't about calling `Close` on the response body. In fact the sample app on playground closes the body in a defer. This issue is trying to address connection reuse when a chunk reader is being used. Even when `Close` is called, TLS connections aren't being re-used for subsequent requests since response body isn't fully drained (as explained in the issue a

[2017-06-16 14:32] laboger commented on #17917
@cherrymui @ianlancetaylor Based on the discussion in #20492 we will not be removing the capability of splitting text sections, so this is longer needed.  Do you agree?

[2017-06-16 14:33] ianlancetaylor commented on #20703
Running using gomote, I see

[code]

I think it must be one of the new tests (`TestTCPSpuriousConnSetupCompletion`, `TestTCPSpuriousConnSetupCompletionWithCancel`) that are using up the file descriptors, but at the moment I'm not seeing it.

[2017-06-16 14:38] cherrymui commented on #17917
Yes, I think so.

[2017-06-16 14:43] dr2chase commented on #20539
Wolfram Alpha and Java are both right.
For "cos(1.23e300)",
Wolfram Alpha computes
cos(1230000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000)
and Java c

[2017-06-16 14:47] bradfitz commented on #20699
For questions about Go, see https://golang.org/wiki/Questions.

To use the bug tracker, you must use the bug template (which you deleted) and provide us with complete, reproducible information.

[2017-06-16 14:47] #20699 closed

[2017-06-16 14:58] bradfitz commented on #20665
Sorry, we try our best to keep Go available in China but its accessibility can vary daily due to the GFW. I can't advise you how to bust through your firewall.

[2017-06-16 14:58] #20665 closed

[2017-06-16 14:59] bradfitz commented on #15586
Done.

We try to get to NeedsDecision labels in our proposal review meetings, but I guess we never made it here. :-/

[2017-06-16 15:02] lzm7455 commented on #20665
Thx for your time.

[2017-06-16 15:21] rsc commented on #20589
(I understand that the problem is general but let's keep using top-level vs sub-test in the discussion, with everyone understanding that we really mean the general problem and that any fixes must apply generally.)

I now remember that we tried b.N=0 for probing like this, but it broke too many ordinary benchmarks that mishandled N=0 (they expected their loops to run at least once). So now we use N

[2017-06-16 15:39] derekmarcotte commented on #15658
Based on the fact that [the same symptoms are reproducible under linux](https://github.com/golang/go/issues/20427#issuecomment-306325009), does it make sense to no longer call this a FreeBSD issue?

[2017-06-16 15:42] bradfitz commented on #20552
Another:
https://storage.googleapis.com/go-build-log/12c54536/linux-amd64_c57e3046.log
From:
https://go-review.googlesource.com/c/46030/

@quentinmit ?

[2017-06-16 15:43] rsc commented on #15658
Let's not merge them until we know it's the same underlying cause. Same symptoms can be misleading.

[2017-06-16 15:43] rsc commented on #15658
(Sorry, wrong button.)

[2017-06-16 15:48] #20702 closed

[2017-06-16 16:24] rhysh opened #20704 "net/http: data race in http/2 server"
It looks like the race is on the `net/http.(*http2responseWriterState).bw` field, which survives while the *http2responseWriterState value is passed through a sync.Pool. The goroutine running the handler does a write on that bufio.Writer, while another goroutine reads from it as part of an asynchronous frame write.

http2responseWriter.handlerDone puts rws into the pool, but does not appear to che

[2017-06-16 16:31] ahmetb commented on #20478
Furthermore, having `init()` register handlers causes multiple registration issues (panic below) when some of the code uses x/net/trace from `$GOPATH/src/golang.org/x/net/trace`, and other parts of the code use it from `vendor/golang.org/x/net/trace`. Both imports run their init, and since they are separate packages due to their import path, the program panics:

[code]

[2017-06-16 16:32] josharian commented on #20589
One minor improvement would be to probe only once when `-count` > 1. But probably not worth the bother. Thanks for updating the docs.

[2017-06-16 16:36] jba commented on #20689
@bradfitz, yes, gsutil is Python.

[2017-06-16 16:42] ianlancetaylor commented on #20703
On the s390 gomote `ulimit -n` reports `1024`, as compared to my laptop where it reports `32768`.  `/proc/sys/fs/file-max` is `808890` on s390 gomote, `1048576` on my laptop.  But running the net test under `strace -f` doesn't use nearly that many file descriptors.  The largest file descriptor number I see is `159`.

[2017-06-16 16:50] josharian commented on #20589
Sorry, Russ, but even with your new wording, the original result looks wrong to me.

Note that `BenchmarkMapA` gets run with b.N up to 2000000000, and its output gets displayed. I would expect that `BenchmarkMapA` needs to get run with b.N=1 to discover subbenchmarks and that its output gets suppressed.

[2017-06-16 16:55] ianlancetaylor commented on #20703
OK, running `strace -f` on gomote s390 shows that the net test is indeed opening file descriptors up to `1023` before calls to `socket` start to fail with `EMFILE`.

[2017-06-16 16:59] josharian commented on #20299
I think the most likely culprit here is CPU availability / scheduling. We could refactor the test so that all "should block" cases happen concurrently and bump up the timeout. Objections to that?

[2017-06-16 17:00] jimmyfrasche commented on #20131
@mvdan I'd be happy to

[2017-06-16 17:21] dsnet commented on #20698
The PAX "specification" says the following:

Which means that zero-length values have a very specific meaning: deletion. So the correct solution is to prevent the `tar.Writer` from generating these bogus entries.

A lot of work happened on the `tar.Reader` in the Go1.8 cycle, and I was planning on vastly improving the writer in Go1.9, but really dropped the ball this cycle. Will attempt to [get th

[2017-06-16 17:34] rakyll commented on #20478
@zombiezen, I'd like to survey all global registrations and export handlers where we don't. I am strongly +1ing to export handlers from x/net/trace.

@ahmetb, are you vendoring in libraries? Unfortunately, libraries vendoring their dependencies is not a properly supported feature, we suggest only the main packages should vendor dependencies. I'd love to avoid global registration on the default mux

[2017-06-16 17:36] vcabbage commented on #20704
Simplified reproduction. Race is triggered on the first run for me.

[code]

[2017-06-16 17:39] ianlancetaylor commented on #20703
The pattern I'm seeing is

[code]

with longs sequences of other unrelated system calls in the ellipses.  `8.8.8.8` is the only address listed in `/etc/resolv.conf` in the gomote.  In other words, we are creating a socket for contacting a UDP DNS server, but then we are closing that socket without writing anything to it.  While that socket is open we are opening many more sockets.  This pattern re

[2017-06-16 17:49] zombiezen commented on #20478
Note that this bug is for `golang.org/x/net/trace` handlers, not the `net/http/pprof` ones.  No strict compatibility promise, but silent breakage would be bad.

[2017-06-16 17:58] rsc commented on #18359
Hi @bobjalex. I do appreciate your willingness to help. I checked with our lawyers and it's OK for us to accept the diff here, since you said we can use it, provided you complete a contributor CLA as discussed in https://golang.org/doc/contribute.html#cla (the "Contributor License Agreement" section). Can you do that?

Thanks very much.

[2017-06-16 18:07] bradfitz commented on #20528
Something weird is going on here.

The code & tests try hard already to make this work. I'm pretty sure this used to work.

This might not be fixable for Go 1.9, but I want to understand it before the end of the day (I'm close), and then I'll decide what to do about it.

It looks like an (non-zero, EOF) Read is getting lost somewhere and turning into a (non-zero, nil), tripping up the connection r

[2017-06-16 18:15] jvshahid commented on #20528
It's been a while since I investigated this issue. If I remember correctly a bisect pointed at the fix for https://github.com/golang/go/issues/17355 as the first commit to cause the behavior explained in this issue. I think my investigation lead me to believe that it's the tls reader that is causing the issue. It consistently returns the last chunk (the zero bytes chunk) to the chunk reader separa

[2017-06-16 18:23] ianlancetaylor commented on #20703
I think I see the problem.  `TestTCPSpuriousConnSetupCompletionWithCancel` works by starting a bunch of connections and canceling them.  The connections use a DNS lookup, because connecting to a simple IP address did not recreate the problem the test was testing for.  Canceling the connection does not cancel the DNS lookup, but it does cause the singleflight to forget what it was doing.  So we win

[2017-06-16 18:28] bradfitz commented on #20528
@jvshahid, yup, that's the code I'm re-reading now.

[2017-06-16 18:33] petermattis commented on #18138
I did some more testing of this patch and the performance improvements carry over to production settings. `morestack` disappears from profiles. Note this is using a version of the patch which uses a 32KB initial stack size.

[2017-06-16 18:36] pradeepsawlani commented on #15848
Currently Im also seeing similar issue where there is possible leak in stack memory of one particular thread.  @aclements you mention in the description "This information is already recorded in profiles, though it's in "comments"
Is there way to extract manually this info until this is implemented?

[2017-06-16 18:36] rsc commented on #20589
Thanks Josh. I see what happened and will update the code to match the description. Re your next-to-last comment, the probe already only happens once regardless of -count.

[2017-06-16 18:49] rsc commented on #20589
/cc @mpvl, CL on the way for you shortly. This is the context.

[2017-06-16 19:07] danenania commented on #11058
Just wanted to check in on the status of this. What will it take to get this over the line?

@nadiasvertex I also want to echo @janckerchen's question about cross-compiling. Could this work with @karalabe's [xgo](https://github.com/karalabe/xgo)? This is how I'm outputting a full set of cross-platform binaries currently.

Would be so great to have this final piece of the puzzle in place, both for

[2017-06-16 19:09] joeshaw opened #20705 "os: codifying behavior of *os.File Close() more than once"
(Current as of Go version 1.9 beta 1)

I wrote a [blog post](https://joeshaw.org/dont-defer-close-on-writable-files/) recently discussing whether it's appropriate to `defer f.Close()` on writable files.  In discussion that followed afterward, there was the suggestion to both `defer f.Close()` to ensure that things were cleaned up, but also to explicitly to call `f.Close()` at the end and check err

[2017-06-16 19:43] bradfitz commented on #20528
Slight tangent, or possibly related, I learned while researching this code that json.NewEncoder adds a newline that Marshal doesn't:

https://play.golang.org/p/z9W7ihjlk3
[code]

[2017-06-16 19:47] jvshahid commented on #20528
i modified the app i pasted before to use `Marshal` instead of `NewEncoder().Encode` and I'm still seeing the issue. This is the modified app https://play.golang.org/p/FypHvYF-q5

[2017-06-16 19:51] bradfitz commented on #20528
Yeah, I've been hacking up a dozen variants of it with a bunch of additional logging throughout net/http/*.

[2017-06-16 20:05] stevenh commented on #20427
Does look similar, I have some Linux boxes I'll see if my repo case triggers on there

[2017-06-16 20:13] rsc commented on #20171
Note that now that we have type aliases, we'd also have to disallow conversions involving T where

    type T = unsafe.Pointer

as well. And that's a bit harder to defend.

[2017-06-16 20:17] derekmarcotte commented on #15658
@rsc: Thanks.  Agreed that there may be other things going on here.

Having said that, the [issue I'm referencing](https://github.com/golang/go/issues/20427#issuecomment-306325009) is having the same crashes (`fatal error: workbuf is not empty`, `fatal error: acquirep: invalid p state`), in the same places, under Linux running the same test as in FreeBSD.   I suspect this should be enough to [inva

[2017-06-16 20:17] griesemer commented on #20171
@rsc An alternative (for Go 2) is to rethink how unsafe operations work. For instance, we could remove the Pointer type altogether and make all unsafe operations function-based.

[2017-06-16 20:20] rsc commented on #13656
Going to close this since it seems clear that anything we do in reflect is going to be awful. Better to wait for #19367.

[2017-06-16 20:20] #13656 closed

[2017-06-16 20:22] mdlayher commented on #20695
Running the tests in a loop on my machine here.  No failures after ~400 repeated runs. I'll keep it running.

I suspect this is the issue: https://github.com/golang/net/blob/master/bpf/vm_bpf_test.go#L177.

The test currently assumes that BPF dropped the packet if a timeout occurs.  If the packet did take longer than 50 milliseconds to send (for some reason like CPU contention), that would explain

[2017-06-16 20:26] rsc commented on #17226
We used to use exactly the implementation of errors.Error given in the proposal. We moved away from it so that if two different packages used errors.New("msg") for different things, the two would not accidentally be equal.

You probably don't need to guarantee it. The standard library exports many errors and makes no such guarantee, and programs work fine, because programs can mostly be trusted no

[2017-06-16 20:26] #17226 closed

[2017-06-16 20:30] emaste commented on #19082
On a related note, I see there are FreeBSD go binaries for 32- and 64-bit x86, but not for 32- or 64-bit arm. Should I create a "build: distribute freebsd/arm64 binaries for Go releases" issue?

[2017-06-16 20:33] bradfitz commented on #19082
No, because we don't have a freebsd/arm64 port.

[2017-06-16 20:34] rsc opened #20706 "proposal: spec: allow combining characters in identifiers"
Forking from #16033, which had two related but different proposals in it. The proposal for this issue, by @robpike:

On a related note, some writing systems - Devanagari is one (see #5167) require combining characters. The current identifier rules forbid combining characters; perhaps that should be relaxed, although that will require a canonicalization rule for combining characters. Unicode does h

[2017-06-16 20:36] rsc commented on #20706
Re canonicalization, one possibility Rob and I discussed at one point was to require in the spec that implementations canonicalize during comparisons to establish whether two identifiers are the same but _also_ to have gofmt canonicalize to generate its output (the former is required for the latter to be semantically safe). Then source code is consistent but the compilers will deal if not.

[2017-06-16 20:41] rsc commented on #15190
We've documented the calendar restriction, and we've fixed timing across leap seconds by using monotonic time. Including leap seconds in the civil calendar computations, however, would mean the computations change depending on how up to date the leap second info is, and a computation about the future would depend predicting the output of a future vote by the IERS. That is just not something to bui

[2017-06-16 20:41] #15190 closed

[2017-06-16 20:41] #20703 closed

[2017-06-16 20:42] griesemer commented on #20706
@rsc Is this Go 2 or would you consider this for Go 1?

[2017-06-16 20:43] rsc commented on #10275
Replying to a comment from 2015, but we can't change the encoding outputs now because then if a new version of Go is sending data to an older version, the older version will not understand it.

[2017-06-16 20:48] rsc commented on #9097
See also #19966.

[2017-06-16 20:48] rsc commented on #19966
See also #9097.

[2017-06-16 20:50] dim13 opened #20707 "archive/tar: Go 1.9beta1 source archive is packed in some strange way"
### What version of Go are you using (`go version`)?

1.9beta1

### What operating system and processor architecture are you using (`go env`)?

OpenBSD 6.1/amd64

### What did you do?

[code]

### What did you expect to see?

extracted tar

### What did you see instead?

[code]

exit code: 1

[2017-06-16 20:50] danderson commented on #20695
Hmm. There must be a way to get dropped packet stats from the kernel, because tcpdump can tell you how many packets the filter dropped in-kernel. I don't know offhand how that works, but I'll go dig.

Alternatively, much as I find it distasteful, raising the timeout might be acceptable here. Transmitting to localhost should be lossless unless receive buffers are full, and we're not sending/receivi

[2017-06-16 20:51] rsc commented on #8715
An old issue and not until Go 2 anyway, but I think it would be a mistake to relax these rules. Much like leaving map iteration order unspecified led to implementation-dependent code that only worked with one map iteration order, relaxing the init order here will lead to the same kind of code that only works with certain Go implementations. If there's any wiggle room left, I'd argue we should make

[2017-06-16 20:53] bradfitz commented on #20707
@dsnet, could you take a look? OpenBSD 6.1's tar apparently doesn't like our tar.

[2017-06-16 20:53] lavalamp commented on #10275
That means it'd have to be opt in, e.g. with paired `type TextMarshaller2 interface { ... V2() }` and `json.NewEncoder().UseV2().Encode()`. Obviously that's hideous and I don't think it should be done, but it is *possible*.

[2017-06-16 20:55] bobjalex commented on #18359
Thanks Russ (& Co.) I'll have a look at the CLA and get back -- not
expecting any problems.

On Fri, Jun 16, 2017 at 11:00 AM, Russ Cox <notifications@github.com> wrote:

[2017-06-16 20:55] bradfitz commented on #18891
Okay, for Go 1.9, http2 will recognize http.NoBody as if it were nil.

For Go 1.10 we can consider whether there are any cases warranting us to reconsider the decision to not do the 1-byte read test to see if a non-nil ReadCloser is actually empty.

[2017-06-16 20:57] mdlayher commented on #20695
I thought about that too, but it seems like a slippery slope and generally something I try to avoid _really hard_ when writing tests in Go.

Seems promising!  I looked through the BPF manpage for some magic number I could pass to `getsockopt()` or the like, but no luck.

Also, still running those tests. ~2500 runs, no failures.

[2017-06-16 20:57] dsnet commented on #20707
If I may ask, what is the *exact* version of the tar utility being used? This works on both BSD and GNU tar:
[code]

[2017-06-16 20:58] bradfitz commented on #20695
Our builders can be quite loaded at times so 50 ms might indeed be too low.

Generally I suggest making the test try N times with increasing timeouts until the test passes: 5ms, 50ms, 500ms, 5s.

[2017-06-16 21:00] danderson commented on #20695
I tell a lie, sadly. I examined libpcap's source code for how it gets packet data. The overall conclusion is that the numbers are a complete lie, and the exact nature of the lies varies wildly by OS and kernel version.

On linux, the `PACKET_STATISTICS` getsockopt option returns a count of packets "received" and "dropped", but their definitions makes it useless: "received" means "were not dropped

[2017-06-16 21:09] mdlayher commented on #20695
This seems like a reasonable first step to me.  I'll send a CL that adds a "hint" to the tests on whether or not the traffic should be allowed through the filter.  If the hint is true, I'll continue on timeout using the increasing timeouts method that Brad suggests.

[2017-06-16 21:11] emaste commented on #19082
Ok, so first I'll open an issue for the FreeBSD/arm64 port - it will be useful to at least track requirements for bootstrapping.

[2017-06-16 21:12] danderson commented on #20695
I'm missing something: why is it better to incrementally increase the timeouts, rather than just set a large timeout to begin with?

[2017-06-16 21:14] dsnet commented on #20707
I'm going to guess this is the implementation of the tar utility that you are using?
https://github.com/openbsd/src/tree/master/bin/pax

[2017-06-16 21:15] griesemer opened #20708 "cmd/compile: "go", "type" excluded as import paths - still needed?"
Reminder issue. Investigate/document rationale for exclusion (see subr.go, func isbadimport). If implementation restriction, document in spec.

[2017-06-16 21:41] bradfitz commented on #20695
I didn't read the test in question, but I assumed this was a test that didn't pass until the timeout expired.

My motivation is that I want tests to be as fast as possible and still not flaky. If the timeout were 5 seconds and we always had to wait 5 seconds for the test to pass, that would be bad.

But if I assume the timeout backwards, ignore me.

[2017-06-16 21:50] #17125 closed

[2017-06-16 21:50] danderson commented on #20695
Doh, of course, I see. I was seeing the timeout as just being there to catch the case when want != got, and we have to time out when the packet we expected got unexpectedly filtered.

But yeah, the way the test is structured, that timeout also dictates the time some want==got tests will take. That's unfortunate, but your suggestion makes sense now.

[2017-06-16 22:12] ITR13 opened #20709 "encoding/xml lacks support for decoding arrays"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.1 windows/amd64

### What did you do?
Tried to store a struct containing [2]int as xml, then load it:
https://play.golang.org/p/TDMcHlf3fn

### What did you expect to see?
`{[0 255]} {[255 255]}`

### What did you see instead?
[code]

### Additional Notes
There

[2017-06-16 22:12] griesemer commented on #13222
Too late for 1.9.

[2017-06-16 22:16] overcyn opened #20710 "x/text/unicode/norm: Last slice returned by Iter.Next() is empty."
### What version of Go are you using (`go version`)?

go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/Overcyn/Workspace/go/"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCC

[2017-06-16 22:53] nadiasvertex commented on #11058
If there was some testing done on my GitHub fork，that would give us a lot
more confidence. I am making progress on rewriting the unit test for shared
libraries. It had gone through one round of feedback already. I need to
integrate the new feedback. I may have some more time this weekend.

I have not looked at xgo, but I will try to.

On Fri, Jun 16, 2017, 3:09 PM Dane Schneider <notifications@git

[2017-06-16 23:11] MarsYong commented on #20699
OK，thank you for the answer!
      I'm not sure that this is not related to gin, but certainly with the template rendering or symbol filtering has a relationship, I do not know the template rendering the underlying code is in gin or in the go itself. The same gin project I did not change any data, but in the 1.7rc6 version of the very good work.
      I guess this should not be caused by gin, this

[2017-06-16 23:12] MarsYong commented on #20699
Because the code too much, I just made a sample process, hoping to give you help

[2017-06-17 00:11] bradfitz commented on #20528
Okay, here's what's happening:

The client side is working as intended after the change for #17355. If it had seen an EOF from read or a 0-byte http/1.1 EOF chunking marker in its buffer, it would've used it. But it never sees one:

The http server buffers the output from Handlers up until a certain size, both to minimize to the number of writes on the wire, and to add a Content-Length header for

[2017-06-17 00:15] bradfitz commented on #20704
/cc @tombergan

[2017-06-17 00:52] cespare commented on #20693
Yeah, reverting df68afd07ce67727bcc2ad8e4afaa42dbcbf58e7 makes the performance hit go away and then some (but also makes allocations become equal again).

This benchmark compares 1.8 vs. [tip with df68afd07ce67727bcc2ad8e4afaa42dbcbf58e7 reverted].

[code]

I wonder if there's some fix for the CPU time which can maintain the alloc improvement.

[2017-06-17 02:19] cespare opened #20711 "cmd/compile: benchmark performance regression in 1.9beta1"
Sorry for the poor title -- I haven't done enough digging to know how to be more specific about the problem.

I'm comparing the following go versions:

go version go1.8 linux/amd64
go version go1.9beta1 linux/amd64

The following benchmark exhibits a significant slowdown:

[code]

[code]

This is extracted from a big suite of dozens of similar benchmarks in an internal codebase. Most of these benc

[2017-06-17 02:47] jmhodges opened #20712 "net/http: TimeoutHandler doesn't set a timeout on Request.Context"
On Go version 1.8.3, `net/http.TimeoutHandler` doesn't apply `context.WithTimeout` to the passed in `http.Request`'s context. It's desirable now that context is everywhere in the stdlib. It seems like it might also simplify the `timeoutHandler.ServeHTTP` implementation.

This also seems to be the case in 1.9beta1.

[2017-06-17 03:26] rgooch commented on #20395
Well, this is nice to see. Thank you. So, it looks like this will be available in go1.10 but not go1.9?

How can one add a compile assert so that a minimum go version is required to compile? Once this is available, I can relax certain restrictions in my code, but I need to be sure I have this fix otherwise it will be unsafe.

[2017-06-17 03:33] #19453 closed

[2017-06-17 04:07] ianlancetaylor commented on #20395
Use build tags, as in

    // +build go1.10

to only compile a file for Go 1.10.

See "Build Constraints" in https://golang.org/pkg/go/build/ .

[2017-06-17 06:12] bradfitz commented on #20711
/cc @randall77 @josharian @mdempsky

[2017-06-17 06:58] slrz commented on #20705
I don't think this should be encouraged. People will cargo-cult the practice to other io.Closers which might not handle it well.

[2017-06-17 07:15] dim13 commented on #20707
Yes, you are right, it is a standard `tar` which is [`pax`](http://cvsweb.openbsd.org/cgi-bin/cvsweb/src/bin/pax/).

Steps to reproduce:

[code]

Note: this is a first time it occurs. Never had any troubles with any previous archives.

[2017-06-17 07:30] dim13 commented on #20707
Previous release to compare (on same system):

[code]

[2017-06-17 09:08] h1467792822 opened #20713 "cgo don't invoke the destructor of global variant defined in c++ library"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/li

[2017-06-17 10:04] zlepper opened #20714 "cmd/compile: Go compiler eats all available system memory"
### What version of Go are you using (`go version`)?
go version go1.8 windows/amd64

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=E:\development\goprojects
set GORACE=
set GOROOT=D:\Go
set GOTOOLDIR=D:\Go\pkg\tool\windows_amd64
set GCCGO=gccgo
set CC=gc

[2017-06-17 11:27] dvyukov opened #20715 "x/tools/cmd/gomvpkg: mishandles main package"
`gomvpkg -from foo/bar -to baz/bar` where `foo/bar` is `package main` renames package to `bar`, which makes it non-executable. May look silly, but the main intention was to take advantage of `-vcs_mv_cmd "git mv {{.Src}} {{.Dst}}"` part. gomvpkg should not rename main package.

[2017-06-17 11:27] dvyukov commented on #20715
cc @alandonovan

[2017-06-17 11:58] henryas commented on #20443
Go's slices are way too powerful and flexible that people rarely have to deal with arrays directly any more. In my opinion, a slice should be a read-only view into an array. So if people want to change the content of an array, they would need to deal with the array and not its slice.

If we are going into that direction, then there is no need for new keywords to indicate immutability.

[2017-06-17 12:27] davecheney commented on #20443
Appending is a very common operation, how do you propose that append would with your read only slice proposal?

[2017-06-17 12:32] dnfield commented on #20443
I do not agree that slices should become exclusively read only.  Being able to modify slices is an attractive feature, and changing that would be a very radical breaking change.

Appending to a read only slice should throw a compiler error, like any other operation that involves assignment

[2017-06-17 12:46] jvshahid commented on #20528
Thanks @bradfitz for looking into it

[2017-06-17 13:46] henryas commented on #20443
How about this? You can still work with slices as usual. You can slice, re-slice, append, make it point to different values, etc. However, regardless what you do to the slice, it won't change the backing arrays and slices. You can think of a slice like a pointer. You can make it point to different values at any time, but in this case you can't change the value you are pointing at.

[2017-06-17 14:43] bradfitz commented on #20714
Many of these sorts of bugs were fixed recently.

Could you try Go 1.9beta1? https://golang.org/dl/#unstable

Note that on Windows, the MSI installer will uninstall your old version (that is #16305), so you'll want to use the zip version for testing probably.

[2017-06-17 16:39] zlepper commented on #20714
Attempting to run the build command just gives me the following:
[code]

[2017-06-17 17:25] leiser1960 commented on #20443
What is the goal?  Better documentation, or race free code?
Your proposal goes for the first, I assume.
You give the the guarantee that your function will have no way to alter the underlaying array.
But you do not get the guarantee that your function is race free in respect of changes to this array, because other goroutines may modify the underlaying array concurrently.
Adding immutability to gola

[2017-06-17 17:31] dnfield commented on #20443
I agree that immutability would be great, but I think that's a little
different from read-only.

For instance, you could make copy-on-write slices that are immutable - any
reference to them points to a structure that doesn't change.  That could
certainly be powerful and useful, but a bit different from what I
understand this proposal to be, which is a bit narrower in scope: simply to
have compile

[2017-06-17 17:34] rsc commented on #8537
cf #6495

[2017-06-17 17:42] rsc commented on #6815
FWIW, given both [Robert's Mar 20 comment above](https://github.com/golang/go/issues/6815#issuecomment-287839341) and the fact that now we have math/bits for similar compiler trickery, it seems like a language change is overkill for this, since these are only rarely needed. It would be much simpler to add appropriate functions to math/bits than to complicate the core language.

[2017-06-17 17:44] rsc commented on #16033
Duplicate of #5763, which has richer discussion. Closing this one.

[2017-06-17 17:44] #16033 closed

[2017-06-17 17:47] rsc commented on #20706
For Go 2.

[2017-06-17 17:48] rsc commented on #20706
Merging #5167 in here. From suraj@barkale.com in 2013:

My suggestion is to amend Go specification by allowing combining-mark & non-spacing-mark characters in identifiers.

This will be similar to Java identifier rules given at http://docs.oracle.com/javase/1.4.2/docs/api/java/lang/Character.html#isJavaIdentifierPart(char).
A character may be part of a Java identifier if any of the following are t

[2017-06-17 17:48] rsc commented on #5167
Now tracked as #20706.

[2017-06-17 17:48] #5167 closed

[2017-06-17 17:50] FiloSottile commented on #16100
It took me an awfully long time, but it finally clicked what didn't sit right with the idea of making a return from ServeHTTP the way to break I/O: it overloads the `http.Handler` interface with a behaviour that won't be guaranteed by any other user of the interface. Anything from tests to frameworks will not replicate the behaviour, and there will be no way for the code to know (which is the poin

[2017-06-17 17:55] rsc commented on #3845
In Go 1.6 we changed debug.Stack to be a convenience wrapper around runtime.Stack, for #12363. Whereas runtime.Stack requires passing an allocated buffer at the call site, debug.Stack takes care of allocation and also of making sure the buffer is bug enough to hold the complete stack.

Leaving this open but note that now debug.Stack is actually nicer than runtime.Stack. If we're going to remove on

[2017-06-17 17:58] rsc commented on #20171
Indeed. That would fit with #19367.

[2017-06-17 17:59] rsc commented on #10275
It means it would have to wait for Go 2.

[2017-06-17 18:29] bradfitz commented on #20714
That means your environment is messed up. You're running a mix of Go versions. Unset or fix your GOROOT.

[2017-06-17 18:30] pqyptixa commented on #18162
@ematsu is your backport public?

[2017-06-17 18:37] zlepper commented on #20714
Fixed my env, attempted to compile with 1.9beta1: Memory consumption still explodes.

[2017-06-17 18:39] rsc commented on #20678
time.Duration does do saturated arithmetic. For time.Time that really seems like overkill. There's no reasonable way you could end up with times that large anyway.

[2017-06-17 20:30] blitzprog commented on #15867
It's been a year now and the name hasn't changed.
I believe it should be added to the standard lib.

[2017-06-17 20:54] leiser1960 commented on #20443
Const and immutability are different. Obvious to me.
The idea to allow an implementation to even modify the
const parameter having but still maintaining the "const"
guarantee to the caller is very interesting.

I simply asked for more.
Why? The spirit of go is about simplicity and consistency,
not about ease of implementation and piece meal.
So const should work for slices maps all types (perhaps

[2017-06-17 21:05] Konstantin8105 opened #20716 "Website. Documentation"
Please clarify the language for Go comments, Git comments in
*Contribution Guide*
https://golang.org/doc/contribute.html

In my point of view, the Go project expected - English language.

[2017-06-17 21:22] rsc commented on #20685
Can you point to something in the XML spec that says that's invalid? It's certainly weird, but it seems possibly valid to me. x:book and y:book mean the same thing.

[2017-06-17 21:50] santhosh-tekuri commented on #20685
from https://www.w3.org/TR/REC-xml/#sec-starttags

[code]
 and name of start-tag is (https://www.w3.org/TR/REC-xml/#NT-STag)
[code]
similarly name of end-tag is (https://www.w3.org/TR/REC-xml/#NT-ETag)
[code]

It means `Name` should literally match exactly in start and end tags

[2017-06-17 21:57] santhosh-tekuri commented on #20685
element's type means from spec:

[code]

[2017-06-17 22:09] jadbox commented on #19348
Is the recommendation then to use "-l=4" in Go 1.9 for production builds where runtime performance is ideal?

[2017-06-17 22:12] robpike commented on #3845
That sounds like the right answer now.

[2017-06-17 22:15] santhosh-tekuri commented on #20685
most straight forward mention (https://www.w3.org/TR/REC-xml/#sec-logical-struct)

[code]

[2017-06-17 22:18] stevenh commented on #20427
Ok the simple for test running ubuntu 4.4.0-79-generic does repo but it seems rare, once so far in 24 hours on a old L5520 with 24 cores.
[code]

[2017-06-17 22:20] santhosh-tekuri commented on #20685
you can also test with https://validator.w3.org/#validate_by_input+with_options, to confirm

[2017-06-17 23:05] josharian commented on #20711
Any chance of a bisection?

[2017-06-17 23:12] opennota commented on #20685
xmllint from libxml2 agrees:

[code]

[code]

[2017-06-17 23:16] mvdan commented on #20716
If the documentation is in English, what other language would you expect?

[2017-06-17 23:46] davecheney commented on #20443
Would this be valid under your proposal, and what would be the final value
of x?

x := int{1,2,3}
y := x[:2]
z := append(y, 5)

On Sat, 17 Jun 2017, 23:46 henryas <notifications@github.com> wrote:

[2017-06-18 00:04] josharian commented on #20714
I strongly suspect that this is a duplicate of #16394. If so, it is a real bug that needs fixing, but there is a good workaround available: Avoid string concatenation of many/large constant strings in generated code. Instead, use strconv.Quote to escape the string and emit it verbatim.

[2017-06-18 01:00] bradfitz commented on #20716
I agree with @mvdan. If the site and docs and code are all in English, the answer as to what language the project uses is pretty obvious, even if implicit.

But maybe we both misunderstand the question.

Let us know if so.

[2017-06-18 01:00] #20716 closed

[2017-06-18 01:32] henryas commented on #20443
@dave: the final value of x should remain unchanged, which is {1,2,3}

Anyhow, please do not take this proposal strictly as is. The idea is there, but implementation-wise I am not so certain, which is why I welcome everybody's inputs on this matter. Some form of control over a variable's mutability will certainly be beneficial to Go.

[2017-06-18 01:38] davecheney commented on #20443
On Sun, Jun 18, 2017 at 11:32 AM, henryas <notifications@github.com> wrote:

But how can that be, if you permit reslicing and appending?

[2017-06-18 01:55] henryas commented on #20443
@dave: y is a new slice that points to X's first two values. X remains as it is. Y is just a "pointer" to x. Z is a new slice that points to Y's values and 5, but it doesn't change x and y. Even if you were to do z[0] = 7, z at index 0 just points to a new value of 7, but it doesn't change x and y.

But I welcome any other idea. It was just something that came to me as I was driving home from work

[2017-06-18 01:59] davecheney commented on #20443
So your proposal is every reslicing operation makes a copy of the slice's
contents?

On Sun, 18 Jun 2017, 11:55 henryas <notifications@github.com> wrote:

[2017-06-18 02:22] henryas commented on #20443
Nope. Not a copy. If someone are to change x, the change will cascade down to y and z as long as they are still pointing to any value of x.

Think of a slice like pointers to some values. When the values change, the slice will change too. However, when the slice is changed, it just points to the new values. The old values remain unaffected.

[2017-06-18 02:26] davecheney commented on #20443
In my example, currently x ,y and z all point to the same backing array. In
your proposal I don't see how to retain the semantics of y and z being
unable to modify the contexts of the x without reslicing and or appending
making a copy of the slice's backing array. However if that was the case
then changes to x would not be reflected in y or z.

I don't see how your proposal will be workable withou

[2017-06-18 02:42] henryas commented on #20443
Think about the table of contents (TOC) of a book. The TOC is the slice, the content of the book are the actual values. If you need to find something, you look up the TOC, find the page it refers to, and find the page and read the information.

When the content of a page changes, naturally people who looks up via TOC will see the change. Hence, changes in x will cascade down to y and z.

However,

[2017-06-18 02:56] davecheney commented on #20443
Sure, but how to you propose to implement this at a language level.

On Sun, Jun 18, 2017 at 12:42 PM, henryas <notifications@github.com> wrote:

[2017-06-18 03:04] velovix opened #20717 "runtime: unusual code in proc.go could use documentation"
### What version of Go are you using (`go version`)?
go version devel +d293c85e39 Sat Jun 17 08:17:14 2017 +0000 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
[code]

Please see this discussion on golang-nuts:
https://groups.google.com/d/topic/golang-nuts/FnF3oZeJ7aY/discussion

There is some code at lines 198-202 in `/src/runtime/proc.go` that could d

[2017-06-18 03:45] natefinch opened #20718 "x/tools/go/loader: data race in Config.Load"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
create these two tests in a _test.go file:

[code]

then run `go test -race`

#### What did you expect to see?
Tests pass.

#### What did you see instead?
[code]
#### System details

[code]

[2017-06-18 05:02] bradfitz commented on #20704
@rhysh, @vcabbage, thanks for the repro on a silver platter. Repros great for me. I converted it into a http2 unit test where it fails. Looking into it now.

[2017-06-18 07:08] zlepper commented on #20714
Indeed, using strconv.Quote fixed gets arround the issue. (And for what i need, it's much more elegant too :) )

The only difference i see between this issue, and the one @josharian linked, is that the go compiler doesn't actually crash here, it makes the system run out of memory (At least on my system running with 16GB spare)

[2017-06-18 08:20] bkarge opened #20719 "gccgo: runtime crash when allocating many objects with gccgo 5.4.0"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8.3 linux/amd64
gccgo (Gentoo 5.4.0-r3 p1.3, pie-0.6.5) 5.4.0

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/bjoern/go"
GORACE=""
GO

[2017-06-18 08:40] cespare commented on #20711
Yeah, I'll do one in the next few days.

[2017-06-18 10:03] pfeiferbit commented on #20532
Thanks for the reply. I'm not sure I know which kind of information you want. I can provide the same as you:

    C:\Users\pfeifer>go version
    go version go1.8.3 windows/amd64

    C:\Users\pfeifer>go env
    set GOARCH=amd64
    set GOBIN=
    set GOEXE=.exe
    set GOHOSTARCH=amd64
    set GOHOSTOS=windows
    set GOOS=windows
    set GOPATH=H:\Projekte\Go
    set GORACE=
    set GOROOT=G:\Pr

[2017-06-18 10:10] mewmew opened #20720 "blog: document Code generated convention in the Generating code blog post"
As the Go community has reached consensus on the convention to use for distinguishing machine-generated code (i.e. https://golang.org/s/generatedcode), it would be good if the [Generating code](https://blog.golang.org/generate) article on the Go blog was updated to reflect this. Preferably a link could also be added from the Generating code article to https://golang.org/s/generatedcode

In particu

[2017-06-18 10:25] bkarge commented on #20719
I ran another test which seems to indicate issues with either, uninitialized memory or a race condition: https://play.golang.org/p/vi1nurbaga

To reproduce the issue with `gccgo -o check check.o && ./check`, I had to increase the array size to 1000000.

outputs:
[code]

[2017-06-18 10:36] bkarge commented on #20719
reproduced the issue on a fresh Ubuntu 16.04 box (EC2) with gccgo 6.0.1

gccgo (Ubuntu 6.0.1-0ubuntu1) 6.0.0 20160414 (experimental) [trunk revision 234994]

[2017-06-18 10:53] ALTree commented on #20717
Just sending the CL is fine: it will be reviewed (and commented on) on gerrit. Remember to link this issue in the commit message.

[2017-06-18 12:09] bkarge commented on #20719
Looks like a stack corruption issue. When saying
`var dump = new([1000000] *X)`
instead of
`var dump = [1000000] *X`,
the issue goes away.

[2017-06-18 12:26] egonelbre commented on #19991
@billyh With regards to the "Error handling patterns in Go" article, there are other solutions:
* https://play.golang.org/p/q6O1FbwHzi
* https://play.golang.org/p/nRW2Un9y_O

[2017-06-18 13:00] mvdan commented on #20718
Just to be sure, what version of `go/loader` is this?

[2017-06-18 13:09] aclements commented on #20427
@stevenh, thanks. Same question for you: can you capture some core dumps from the failures? (`ulimit -c unlimited; export GOTRACEBACK=crash` and make sure cores are going somewhere reasonable :)

@stevenh and @rhysh, is it possible to make the reproducer more deterministic? For example, does it need all of the goroutines or is it enough to run the exec in a loop (possibly from many separate proces

[2017-06-18 13:17] natefinch commented on #20718
Should be the latest. This laptop is only 3 weeks old. I can check when I'm
at my computer later.

On Sun, Jun 18, 2017, 9:00 AM Daniel Martí <notifications@github.com> wrote:

[2017-06-18 13:27] dnfield commented on #20443
It seems to me that we have at least a few proposals here:

1. Most basically, support for some kind of read-only/const declaration of slices (and perhaps maps), to trigger a compiler error if you try to do anything to that slice that would modify it.  Thus all assignments/appends would fail, as would any attempt to create a writable (non-const) sub-slice from it.  This should be a non-breaking ch

[2017-06-18 15:03] leiser1960 commented on #20443
The proposal here is not about immutable types, it is about your point 1 or 2
@davecheney question was, if y is a const slice (which is my interpretation) i.e.
x := int{1,2,3}
var y const []int = x[:2]
z := append(y, 5)
What is z pointing to? Will the last line compile?

You may prohibit the last line completely, or allow it. In the second case z must point to a new array, and be of type []int. ap

[2017-06-18 16:20] bradfitz commented on #20720
Sounds good. Feel free to send.

But I wouldn't link to https://golang.org/s/generatedcode, at least until we have a better target URL for that shortlink.

[2017-06-18 17:17] urandom commented on #19991
@egonelbre
These solutions are only suitable of you are doing the same type of operation repeatedly. That is not usually the case. Thus, this can hardly ever be applied in practice.

[2017-06-18 18:49] egonelbre commented on #19991
@urandom please show a realistic example then?

Sure I can take a [more complicated example](https://github.com/raintreeinc/knowledgebase/blob/master/module/dita/convert.go#L23
):
[code]

[2017-06-18 18:50] mewmew commented on #20720
Ok, I'll skip adding the link, but will send a CL for

[code]

@bradfitz How far away is [maintner](https://github.com/golang/build/tree/master/maintner) from being able to convert GitHub pull requests to Gerrit CLs? I'd be happy to beta-test ;)

[2017-06-18 19:59] aclements commented on #15848
Unfortunately, I think it's no longer recorded in the profiles since we switched to the proto format (@matloob, am I correct that the heap profile no long records the memstats?). But you can always query that information by calling `runtime.ReadMemStats` yourself.

Though in your case I'm not sure this is exactly what you're looking for. This will tell you if you're using a lot of stack memory, bu

[2017-06-18 20:16] #20563 closed

[2017-06-18 21:33] bradfitz commented on #20718
@griesemer and @alandonovan, this looks like legit usage.

Flagging Go 1.9 at least until we understand what's at fault. It might be in go/build or go/types in std.

[2017-06-18 22:06] Konstantin8105 commented on #20713
Could you clarify your CPP and Go code.

[2017-06-18 22:41] ianlancetaylor commented on #20719
I would guess that you are not using the gold linker.  With gccgo, you need to use the gold linker to get a truly unlimited stack.  Without gold, the stack does have a limit, and it is possible to overrun it.

I have not been able to recreate it with the gold linker with GCC 6, 7, or trunk.  Closing since I don't think there is anything to fix.

[2017-06-18 22:41] #20719 closed

[2017-06-18 23:02] ematsu commented on #18162
@pqyptixa
Not yet. I want to wait for all the reviews at gerrit, and once get merged, update my patches and want to share it. Maybe for both 1.8 branch and 1.9 branch.
Sorry for that, but currently they are still under reviews and want to distribute well-reviewed codes.

[2017-06-18 23:09] creker commented on #20443
I think simple `const` keyword like in C could be naturally (and probably within Go 1.x) extended to a kind of immutable solution. Instead of throwing compile errors, on any change to the const slice compiler could emit a shallow copy operation. Changing an element in a const slice - make a copy and make the change to that copy. Appending - make a copy and append to that. Of course, these copy ope

[2017-06-18 23:28] davecheney commented on #20443
I'm strongly opposed to this hidden copying. There is already enough of
that in the language as it is, eg.

var ints [2^24]int
for i := range ints {
         // there's a copy here
}

On Mon, Jun 19, 2017 at 9:09 AM, Antonenko Artem <notifications@github.com>
wrote:

[2017-06-18 23:58] cespare commented on #20443
Read-only slice types seem like a more or less reasonable proposal -- which is why Russ's [evaluation of such a proposal](https://docs.google.com/document/d/1-NzIYu0qnnsshMBpMPmuO21qd8unlimHgKjRD9qwp2A/edit) (linked to by @dgryski earlier) was very in-depth and involved a real implementation of the feature. By contrast, I think that immutable types which do full copies of themselves transparently

[2017-06-19 00:12] neelance commented on #18892
I'm the author of [GopherJS](https://github.com/gopherjs/gopherjs), a compiler from Go to JavaScript. I have written that project because I strongly believe that there should be alternatives to using JavaScript in the browser, alternatives like Go and others. I have decent knowledge on compilers, SSA, machine architecture etc., but I'm probably missing a lot of details, since I haven't written a c

[2017-06-19 00:16] dnfield commented on #20443
It seems significantly different to approach this as a simple static
analysis/compile time check rather than a full blown runtime type.  If I
read Russ's analysis correctly, it seems that he's approaching it more from
a runtime point of view than a compile time point of view.  I think it's
also more interesting from an interface/contract perspective than from a
code consolidation perspective.  In

[2017-06-19 00:31] creker commented on #20443
That's a common misconception with immutability and you will find it debunked in many posts. In theory, yes. When you actually use it in real application the copying is not such a big problem. You end up passing the same immutable collection because it's thread-safe by definition saving in memory and performance because you don't need synchronization. You end up with architecture which doesn't req

[2017-06-19 02:33] bkarge commented on #20719
Confirmed, this fixes it! Many thanks for bothering :-)

Another way to look at it is that gcc has stack overflow checking disabled by default...

The following line makes sure the program crashes deterministically when the array is allocated on the stack, rather than erratically after it has been used for iterations:

```go build -compiler gccgo -gccgoflags '-fstack-check' test.go && ./test```

[2017-06-19 02:50] benshi001 opened #20721 "cmd/internal/obj/arm: support "MOVH Reg<<0(Reg), Reg""
Currently only "MOVB Reg<<0(Reg), Reg" is supported, but "MOVH Reg<<0(Reg), Reg" (LDRH Reg, [Reg, Reg]) is also a ARMv4 instruction, which can benefit the compiler and should be supported.

The can be done it go1.10 and assigned to me.

[2017-06-19 04:15] alexbrainman commented on #20532
Yes, it could be that. I am glad it works for you now.

Sounds good. I will close this issue. Please comment, if this should not be closed.

Alex

[2017-06-19 04:15] #20532 closed

[2017-06-19 04:25] qq51529210 opened #20722 "x/mobile:"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go 1.8.3

### What operating system and processor architecture are you using (`go env`)?
windows, android/arm

### What did you do?
when network is down, I call func n, e := this.conn.WriteToUDP(b, this.rmt),, it panic

### What did you expect to see?
run well

### What did you

[2017-06-19 04:51] #20624 closed

[2017-06-19 04:51] #20722 closed

[2017-06-19 06:11] dcheney-atlassian commented on #20528
I'm almost positive this was fixed once before by @bradfitz for exactly the
reason that you mention in your linked issue.

On Sat, Jun 17, 2017 at 12:07 AM, John Shahid <notifications@github.com>
wrote:

[2017-06-19 06:41] alexbrainman commented on #12516
I do not know much about this subject. There is a lot of guessing in my reply.

Go uses AddVectoredExceptionHandler and AddVectoredContinueHandler to handle exceptions (see runtime.initExceptionHandler). These provide global exception handler - one handler function deals with exception anywhere in the program.

On the other hand c++ runtime provides local exception handlers. These are called by Wi

[2017-06-19 06:54] zhangfannie commented on #20697
Go 1.8 still does not work.

[2017-06-19 06:58] zhangfannie opened #20723 "cmd/internal/obj/arm64: golang assembler handles arm64 instruction madd/msub incorrectly."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version devel +59051da Fri Jun 16 06:05:57 2017 +0000 linux/arm64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/fanzha02/go"
GORACE=""
GOROOT="/h

[2017-06-19 07:12] DemiMarie commented on #12516
Win64 ABI requires frame unwind information.  Windows needs to be able to
unwind all the way back to the function pointer passed to CreateThread.
On Jun 19, 2017 2:42 AM, "Alex Brainman" <notifications@github.com> wrote:

[2017-06-19 07:42] halleknast commented on #16520
We've had multiple bugs caused by this at Uber without it being detected by the race detector.
it's easy to imagine cases where the pointer escapes to a e.g. map without any concurrency being involved.

It will also catch the beginner's mistake of wanting to modify a slice of value objects by iterating over it and pass a pointer to a helper function:
[code]
which should be
[code]

I would argue th

[2017-06-19 07:52] ALTree commented on #20723
Was this in go1.8? Or it's new on tip (so, a recent regression)?

[2017-06-19 08:00] urandom commented on #19991
@egonelbre

https://github.com/juju/juju/blob/01b24551ecdf20921cf620b844ef6c2948fcc9f8/cloudconfig/providerinit/providerinit.go

Disclaimer: I haven't used juju, nor have I read the code. It's just a 'production' product I know of the top of my head. I am reasonably sure that such type of error handling (where errors are checked in between independent operations) is prevalent in the go world, and

[2017-06-19 08:03] h1467792822 commented on #20713
//library files:
//tmp_log.h
#ifndef TMP_LOG_H
#define TMP_LOG_H

#ifdef __cplusplus
extern "C"
{
#endif

void tmp_log(const char* msg);

#ifdef __cplusplus
}
#endif

#endif

//tmp_log.cpp
#include "tmp_log.h"
#include <stdio.h>

extern "C"
{

void tmp_log(const char* msg)
{
        printf("%s",msg);
}

}

struct Auto_Init
{
        Auto_Init() {
                tmp_log("++++ auto_init\n");

[2017-06-19 08:11] stevenh commented on #20427
I have some traces with GOTRACEBACK=crash but no crash dumps. We usually use FreeBSD and didn't realise Linux had the dubious default of not creating cores, so still waiting for it to crash again, I'll post as soon as I get them.

I'm not sure if its possible to crash with just one goroutine, likely it is but could well take much longer to reproduce and it already takes quite some time. I've kicke

[2017-06-19 08:21] egonelbre commented on #19991
@urandom I agree. The main issue with discussing without real-world code is that people remember the "gist" of the problem, not the actual problem -- which often leads to over-simplified problem-statement. _PS: I remembered one [nice example in go](https://github.com/golang/go/blob/e86168430f0aab8f971763e4b00c2aae7bec55f0/src/cmd/fix/main.go#L241)._

For example, from these real world examples we

[2017-06-19 08:26] leiser1960 commented on #20443
@dnfield wrote

So readonly or const does nothing to prevent races. Even if may code cannot change the data it may be part of the data race. But it still helps with reasoning, because you know its readonly in this function.

[2017-06-19 08:37] creker commented on #20443
But that kinda makes it useless and degrades it into C/C++ consts. The code that accepts const slice still has to reason about changes that may occur outside which, in my opinion, defeats any purpose of this construct.

[2017-06-19 08:49] zhangfannie commented on #20723
I just load the latest golang source code and build using go1.6 for bootstrapping. Then run the test and failed.
I also load go1.8 and run the test.  And it shows the error infomation "package cmd/internal/objabi: cannot find package "cmd/internal/objabi"" .

[2017-06-19 08:58] ALTree commented on #20723
Looking at the git history it looks like it was encoded like that for at least 2 years, so I'll guess that no, it's not a recent regression.

[2017-06-19 09:14] benshi001 opened #20724 "cmd/internal/obj/arm: illegal base register in MOVW/MOVB/MOVH/MOVD/MOVF/MOVM"
"MOVW R1, (F0)" is silently accepted and assembled to "MOVW R1, (R0)". The assembler should complaint "illegal base register". And "MOVW R0<<0(F1), R1" also trigger no error.

[2017-06-19 09:31] halleknast opened #20725 "proposal: spec: disallow taking the addresses of loop variables"
Consider a range loop:
[code]

Since the variables `k` and `v` are not redefined for each iteration of the loop, their addresses are the same in each iteration. These addresses are therefore very unlikely to be useful, and the following more explicit alternatives are IMO clearer and more robust to refactorings anyway:

* Instead of overwriting the value by passing its address to a helper function,

[2017-06-19 09:55] #20441 closed

[2017-06-19 10:38] nicholasjackson opened #20726 "x/tools/cmd/benchcmp: Add -tolerance flag"
Running benchcmp on a CI server to detect anomalies relies on the user to parse the output from the command in order to pick up any deltas.  To make this process simpler I propose adding an additional flag to benchcmp `-tolerance=[Float64]` which would cause benchcmp to return a status code 1 when any of the delta percentages are greater than the tollerance.

[code]

The state would be tracked acr

[2017-06-19 10:59] ALTree commented on #20726
`benchcmp` is pretty much deprecated in favour of `benchstat`, which is what you should use to compare benchmark results.

[2017-06-19 11:03] nicholasjackson commented on #20726
Ok, cheers, the situation with benchstat is the same regarding an exit code and CI, shall I close this and re-open on benchstat?

[2017-06-19 11:07] ALTree commented on #20726
How would this work for `benchstat`?

Note that `benchstat` has an `-alpha` flag that you can use to set the change significance threshold. Are you proposing that `benchstat` exits with code 1 everytime at least one benchmark is marked as 'changed in a statistically significant way'?

[2017-06-19 11:16] nicholasjackson commented on #20726
Yes, exactly, that would work, however that might cause unexpected behaviour for backward compatibility?

[2017-06-19 11:19] ALTree commented on #20726
I don't know if it'll be accepted, but sure. Please open a new issue with your updated request. Thanks!

[2017-06-19 11:22] ALTree commented on #20726
(I don't think we guarantee backward compatibility on things like the exit code of this kind of helper tool).

[2017-06-19 11:23] ALTree opened #20727 "x/perf/benchstat: README.md is out of date"
`benchstat` [readme](https://github.com/golang/perf/tree/master/cmd/benchstat), which is also shown on [godoc](https://godoc.org/golang.org/x/perf/cmd/benchstat), is out of date. It starts like this

[code]

while `benchstat -h` says:

[code]

note that the whole readme does not even mention the `-alpha` significance flag.

[2017-06-19 11:23] nicholasjackson commented on #20726
Thank you, I will open a new issue

[2017-06-19 11:25] #20726 closed

[2017-06-19 11:34] nicholasjackson opened #20728 "x/perf/benchstat: Return status code 1 when benchmarks change significantly"
Running benchstat on a CI server to detect anomalies relies on the user to parse the output from the command in order to pick up any deltas. To make this process simpler I propose benchstat would return a status code 1 when any of the benchmarks have significant change.

In the event that backwards compatibility would need to be implemented a new flag could be added to activate this behaviour.

Ex

[2017-06-19 12:52] mvdan commented on #20728
If you run the benchmarks enough times, you could get a change as small as `0.50%`, which could well be caused by factors one can't control like code alignment. For example, see this false positive I encountered a while ago, which was as high as 4%: https://github.com/golang/go/issues/17250

You could change the flag to be a treshold, but I'm not sure if that would be a good solution.

Do you have

[2017-06-19 12:57] mvdan commented on #20725
This looks like a dup of #16520. The examples are slightly different (`go`/`defer` versus `&`), but I believe the root problem is the same.

[2017-06-19 12:58] mvdan commented on #20728
Oh, forget my point on the treshold - I didn't know about `-alpha`.

[2017-06-19 13:13] aclements commented on #18925
@bradfitz, unfortunately I still have no idea what's going on here. But it may have been related to stack rescanning and 1.8 doesn't rescan stacks and 1.9 will remove the rescan mechanism entirely, so it's possible this is fixed by side-effect.

@r7vme, what version of Go was your crashing `kube-proxy` built with?

[2017-06-19 13:21] halleknast commented on #20725
@mvdan I actually wrote this as a comment to that issue before submitting this one instead :)

While the problems do overlap, #16520 is about capturing, which is not the issue here. I think the main difference is that there are many legitimate reasons to capture a loop variable inside a function literal (at least with `go`).

As I try to argue here, taking a range variable address is much more unl

[2017-06-19 13:33] mvdan commented on #20725
Ah, I think I see what you're after then. I take it that when you say "taking an address" you mean whenever the compiler takes a variable's address, even if it wasn't explicit in the code via `&` - such as in a `go func...`. Is this correct?

[2017-06-19 13:52] rsc commented on #19348
No, -l=4 is explicitly untested and unsupported for production use. If you do that and you get programs that break, you get to keep both pieces.

[2017-06-19 13:54] halleknast commented on #20725
As in the examples, I do mean it to be explicit in the code with `&`. Note that none of the examples use captures, which is why I think this is a different issue. Also, the other issue is much more difficult to solve than this one is (because the amount of legitimate use cases is smaller).

[2017-06-19 14:02] rsc commented on #15848
We meant to add the MemStats to a comment in the proto. I checked with Raul that this was an appropriate use of the comment field. But I don't think we did it. Please file a bug if you'd like to get that added back.

[2017-06-19 14:08] rsc commented on #20725
There are no warnings but we could think about disallowing this entirely in Go 2. Leaving for that.

[2017-06-19 14:19] halleknast commented on #20725
@rsc I used the word "warn" because it seemed to me to be conventionally used by other issues on go vet. I did mean "rejected" by go vet.

I have a simple patch that I wanted to try and submit tonight (UTC+1 time) :)

[2017-06-19 14:29] rsc commented on #20725
It's too invasive to reject in vet. It fails the "precision" test in cmd/vet/README.

[2017-06-19 14:43] Konstantin8105 commented on #20662
Could you clarify - May I continue that issue if you close the issue?

[2017-06-19 15:00] matloob commented on #15848
Yes, the debug=0 proto format heap profiles no longer output memstats. But the debug=1 heap profiles should still output them.

[2017-06-19 15:06] josharian commented on #20714
Given enough memory, the compiler would crash. :) I'm going to call this a dup, since the underlying cause is the same. Thanks for checking.

[2017-06-19 15:06] #20714 closed

[2017-06-19 15:30] cznic commented on #20725
Not being able to take the address of an addressable thing turns the "addressable" concept into something very weird. Also:

[code]

is completely reasonable code avoiding making another copy of bigValue when foo just reads its argument.

[2017-06-19 15:52] halleknast commented on #20725
@rsc How is it determined if it fails the test? I've tried to run my patched tool on a bunch of random projects and found mostly cases which are definitely "worth examining" as the precision test states. Maybe the test could be disabled by default if it becomes too noisy in an existing project?

@cznic As `bigValue` is already a copy of a value in `bigValues`, I think this is actually a case where

[2017-06-19 16:00] rsc commented on #20725
There is plenty of correct code it would disallow. That's not OK. See @cznic's comment for one example. I am sure there are more, even if not in your own code base. That's why it's really a spec change.

[2017-06-19 16:05] cznic commented on #20725
Iff bigValues is a slice.

[2017-06-19 16:11] henryas commented on #20443
I think we need to figure out whether we want "read-only" or "const" or both. To me, "read-only" implies we can read it but someone else may change it while we are reading it. On the other hand, "const" means the variable is fixed and it's not going to change.

To ensure a const guarantee, a const slice must comes from a const array. That's the only safe way you can have a const slice. After all,

[2017-06-19 16:12] dnfield commented on #20443
@creker , how on earth would we avoid that?

It's not possible to guarantee that a source array won't be modified at runtime - even if you build in all the compile checks in the world, some form of reflection or unsafe or the underlying subsystem (or cgo) will be able to overcome it.

All that's really possible is to guarantee that a given function won't (or can't) attempt to modify data it's give

[2017-06-19 16:21] zlepper commented on #20714
Shouldn't the compiler give up before it kills the system it's running on? Having to hardware reset the computer is not exactly optimal?

[2017-06-19 16:23] bcmills commented on #20443
@dnfield

`unsafe` allows you to violate the semantics of the language, but if you do that in your program that's your own bug to deal with. In particular, the language and runtime do not need to work around programs that use `unsafe` to do things that are explicitly forbidden.

That said, the historical usage of the word `const` to mean "read-only" in C and C++ suggests that we should not use tha

[2017-06-19 16:25] bradfitz commented on #20714
@zlepper, Josh isn't denying there's a problem. He closed it as a dup of #16394.

Go should use as little memory as possible and not go into runaway memory situations like this, but on the other hand, it's not Go's job to tiptoe around your operating system. If you operating system doesn't have the memory, it's the OS's job to kill the process, not wedge itself and require a physical hardware rese

[2017-06-19 16:27] bradfitz commented on #20662
@Konstantin8105, you were the one who closed the issue, not us.

You wrote the word "Fixes" in your commit message, which is the Github magic word for closing issues: https://help.github.com/articles/closing-issues-via-commit-messages/

I can reopen this for you.

[2017-06-19 16:29] pradeepsawlani commented on #15848
I have go binary (kubelet) running and from smaps (/proc/<kubelet pid>/smaps) I can see stack memory increasing but I could not map this to which go routine is leading to increased stack usage.
I'm go newbie, as far I can understand go runtime maps multiple goroutine to threads. I'm stuck on how to map threadid to goroutine which is allocating memory on stack.
@aclements I'm exactly looking for wh

[2017-06-19 16:31] halleknast commented on #20725
The most common false positive I found so far is `return &loopVar`, which would be easy to allow. I will try to gather some data on the amount of false positives.

[2017-06-19 16:36] bcmills commented on #20443
@henryas

Some of us regard that as a defect which should be remedied. If we're going to pay the cost of adding a feature to the language, we should ensure it provides commensurate benefits.

The mutation bugs I tend to see in real-world Go programs are not bugs that would be detected or fixed by `const` as proposed here. For example, I've seen many `io.Writer` implementations that do not modify t

[2017-06-19 16:38] ErebosM opened #20729 "Qemu ARM fails"
As discussed in here: https://github.com/golang/go/issues/13024

Is there a workaround or some other Emulator, which works with Go?

[2017-06-19 16:41] bradfitz commented on #20713
@ianlancetaylor?

[2017-06-19 16:43] bradfitz commented on #20729
This is not a bug report. You didn't include any information from the bug report template.

For questions about Go, see https://golang.org/wiki/Questions.

[2017-06-19 16:43] #20729 closed

[2017-06-19 16:44] creker commented on #20443
@dnfield, there's always a way to overcome something. If you're violating certain semantics, then you're on your own.

I already proposed a solution to avoid that. Yes, it's shallow immutability but still. You have a guarantee that no one can change your immutable slice because any change operation on it produces a new slice with a new backing array. Without going into unsafe/reflection zone there

[2017-06-19 16:49] bradfitz commented on #20720
Far.

[2017-06-19 16:59] r7vme commented on #18925
@aclements not sure, but `kube-dns --version` says `Kubernetes v1.4.0-alpha.0.1055+6de83d58537f57-dirty`

[2017-06-19 17:00] #20306 closed

[2017-06-19 17:05] alandonovan commented on #20718
Thanks for the report, Nate. I can reproduce the race, and though I haven't yet identified the root cause, the problem clearly lies in go/loader, not in go/types or any other std package.

[2017-06-19 17:21] #20094 closed

[2017-06-19 17:24] alandonovan commented on #20718
The root cause (thanks Heschi!) is that go/loader is calling `(types.Checker).Files` on the `unsafe` package, which is a global variable.  Despite the empty list of files, `Files` is not a no-op because it sets the package's 'complete' flag, which is already set, so it's a benign data race.  I'll prepare a fix.

[2017-06-19 17:31] nathany commented on #18892
In addition to all the work needed on the Go side, there are some things WebAssembly may need before the Go runtime can target it.

WebAssembly doesn't yet have threads, but it's on the roadmap and there is a spec. https://github.com/WebAssembly/threads

Regarding garbage collection, it sounds like there could be multiple options in the future, based on Lin Clark's talk https://youtu.be/HktWin_LPf

[2017-06-19 17:35] bradfitz commented on #20718
"benign data race"

[2017-06-19 17:37] alandonovan commented on #20718
Yes, a benign data race: an assignment `v = k` _happens before_ two concurrent operations: a read of v and another assignment of `v` to the same value `k`.  The memory model guarantees that the read observes `k`.

[2017-06-19 17:37] ianlancetaylor commented on #20713
It's true that Go programs don't currently run the C++ static destructors of any code linked in via cgo.

I guess the way to fix this would be for cgo programs to call the C library exit function rather than the exit system call.

[2017-06-19 17:39] aclements commented on #15848
@pradeepsawlani, I don't think the stack memory in smaps is particularly meaningful in Go. At most, that shows system stacks allocated for OS threads. It can't show goroutine stacks because the kernel can't distinguish those from any other heap memory. How large is the stack memory growing? How many OS threads does the process have?

[2017-06-19 17:44] aclements commented on #20427
Yeah. :( It seems to be an increasingly popular bandwagon to send core dumps to /dev/null even if the user asked for them (*and* it requires root privileges to change that, ugh). Thanks for testing.

@rhysh or @stevenh, while you're testing, another thing to try is to remove the `CLONE_VFORK` flag from `os/exec_linux.go:forkAndExecInChild`. This is purely a hunch, though.

[2017-06-19 17:45] #20718 closed

[2017-06-19 17:46] henryas commented on #20443
@creker. Actually, immutability is only one aspect in functional languages in dealing with data race, and it alone isn't adequate. Haskell has MVar which works like mutex. It also has message which is like Go's channel. It also has other tools, such as STM. The takeaway is that the language itself does not promise race-free codes. It still depends on the programmers to ensure race free codes. Rust

[2017-06-19 17:52] neelance commented on #18892
@randall77 also mentioned threads as a requirement for the GC. Is this really a hard requirement for the first version? Concurrency can also be done in a single thread.

Regarding the implementation of GC my personal opinion is that I don't believe in the one GC to rule them all. I'd rather prefer for Go to have a Go-specific GC and for Python to have a Python-specific GC. By completely managing o

[2017-06-19 17:52] #19544 closed

[2017-06-19 17:53] eZanmoto opened #20730 "os/exec: Inconsistent behaviour in `exec.Cmd.Wait`"
### What version of Go are you using (`go version`)?

    go version go1.8.3 linux/amd64

Note that I'm running Go using Docker for reproducibility (see below).

### What operating system and processor architecture are you using (`go env`)?

    GOARCH="amd64"
    GOBIN=""
    GOEXE=""
    GOHOSTARCH="amd64"
    GOHOSTOS="linux"
    GOOS="linux"
    GOPATH="/go"
    GORACE=""
    GOROOT="/usr/loca

[2017-06-19 18:04] ianlancetaylor commented on #20730
I think this is another variant of #18874.  I don't know how to fix that one, or this one either.

There is no reason to set the `Stdout` and `Stderr` fields to `ioutil.Discard`, so it might help if you explain what you are really trying to do.

[2017-06-19 18:10] cherrymui commented on #20723
Ok, I looked into this. The tests that @zhangfannie added is expecting `MADD R1, R2, R3, R4` to mean `R4 = R1*R2 + R3`, but currently it means `R4 = R1*R3 + R2`.

I agree that the first form looks nicer. But this is potentially a breaking change. There may be user code that works that way, especially given that this has been like that for several releases. We need to be sure that no user will be a

[2017-06-19 18:12] zlepper commented on #20714
That is true, had not considered that angle. Thank you.

[2017-06-19 18:24] abscondment commented on #18171
One of our contacts at Cylance has been working on this issue, and has targeted the 1450 release for resolving it.

I just got added the Early Adopter release for the 1450...

Preliminary results: this issue hasn't appeared when running 1.8.3 with CylancePROTECT 2.0.1.1450.505 🎊

[2017-06-19 18:41] pradeepsawlani commented on #15848
I see number of OS threads (cat /proc/smaps | grep -i stack | wc -l) as 110 (after running test case). With One of OS thread allocating  ~48MB (Private Dirty) for Stack.

[2017-06-19 18:57] achille-roussel commented on #6918
The issue is passing arguments as interfaces between `database/sql` and the driver requires dynamically allocating the values. The only way to avoid this is to pass arguments as a concrete type (kind of the _Sink_ idea that was originally suggested here). The API could be based on `reflect.Value` (if `reflect.ValueOf` didn't force it's argument to escape to the heap), or use some custom reflection

[2017-06-19 19:06] josharian commented on #18925
@r7vme @aclements on phone but #13507 should provide hints for how to find what Go version the binary was built with. (Maybe we should make a go-gettable tool for this.)

[2017-06-19 19:14] ALTree commented on #18925
[code]

[2017-06-19 19:28] eZanmoto commented on #20730
@ianlancetaylor
I just used `ioutil.Discard` for conciseness of the MWE, the same behaviour results from using `bytes.Buffer`s like I normally do.

The problem, in my opinion, is that I expected `exec.Cmd.Wait` to function like `os.Process.Wait` and return when the process exited. However, based on https://github.com/golang/go/issues/18874, `exec.Cmd` is additionally "bound" to the FDs it passed t

[2017-06-19 19:40] joegrasse opened #20731 "cmd/go: running get on a custom repo no longer works when upgrading to go 1.8.3"
I ran the following with custom urls.

```go get -u -d customurl.com/lib/platform/genlog```
```get -u -d customurl.com/ext/daemon-example```

This worked with go 1.7.4 and fails with go 1.8.3.

With go 1.8.3, the first command works, but the second command fails with the following error.

Error: Get Failed: package customurl.com/lib/platform/genlog: customurl.com/lib/platform/genlog is a custom im

[2017-06-19 19:41] stevenh commented on #20427
Ok I got a crash under stress with only one goroutine (main).

Unfortunately I don't have crash output as the log file the shell script stress was running was setup for a single instance, so it got overwritten :(

While I wait for it to crash again here's the info.

[code]

[code]

This is with go 1.8.3. I'll wait for another concrete positive to capture the crash log before doing the ```CLONE_VFO

[2017-06-19 19:49] griesemer commented on #18791
Moving this to 1.10 as it may have wider-ranging implications.

[2017-06-19 19:58] bradfitz commented on #20731
We're currently frozen and wrapping up Go 1.9. If this was broken through the whole Go 1.8 cycle, it can probably wait until Go 1.10.

/cc @rsc though in case he has time to investigate.

[2017-06-19 20:02] aclements opened #20732 "syscall: use of CLONE_VFORK is scary"
Commit 9e6b79a5df (not yet released) switched to using `vfork` (via `CLONE_VFORK`) for fork/exec on linux/amd64. However, it's not clear from the CL that the change was at all careful about the child's after-fork path corrupting the parent's stack.

I don't have a specific flaw in mind, and it's possible there isn't one right now. But, for example, if the compiler reused named stack slots (which i

[2017-06-19 20:04] creker commented on #20443
@henryas

And I'm not debating that and never have I said that immutability would make Go a race-free language, which is a pretty big claim. All I'm saying is immutability does give you the ability to write race-free code (no mutable shared state, no data races) without using much of the synchronization primitives you would use with mutable state. Data dependencies become much easier to reason abo

[2017-06-19 20:08] bisgardo opened #20733 "proposal: spec: redefine range loop variables in each iteration"
As an alternative to #20725 (which was originally about go vet), let the variables of range loops be implicitly redefined in each iteration like in [Dart's `for` loops](https://www.dartlang.org/guides/language/language-tour#for-loops). That is,
[code]
should be equivalent to
[code]

This will make it "safe" to take the loop variable's addresses as well as capturing the loop variables in nested fun

[2017-06-19 20:10] bradfitz commented on #20733
We considered this prior to Go 1, but considered it too quickly. We'll definitely reconsider it for Go 2. I actually think there's a duplicate tracking bug for this.

[2017-06-19 20:12] aclements commented on #15848
OS thread stacks are usually only allocated to be on the order of 8MB, and the Go runtime uses (and hence faults in) very little of any OS stack. It may be that this is just an inaccurate way to count the number of OS threads. Use `ls -1 /proc/$PID/task | wc -l` instead.

But this is all getting a bit off-topic for this issue. In a cgo-using binary, the Go runtime has very little control over OS t

[2017-06-19 20:34] leiser1960 commented on #20443
@davecheney:

That is a strong point.
When you go from a mutable value to an immutable one a hidden (deep) copy may be necessary. It may be elided if there are no further modifications to the modifiable value. So if you share by communication and do so by sharing immutable values, the compiler should be able to elide the copy.

If not the programm is still safer but slower.

I believe the borrowin

[2017-06-19 20:47] rsc commented on #20480
Josh are you saying you're now convinced to do:

rand.Shuffle(n int, swap func(i, j int))

?

[2017-06-19 20:48] dgryski commented on #18925
Go-gettable tool: https://github.com/loeyt/go-version

[2017-06-19 20:51] rsc commented on #20629
We're not sure what the API here should be. Does anyone want to make any suggestions?

[2017-06-19 20:52] rsc commented on #20637
Having x/net/netlink seems fine. Vendoring it into stdlib seems less fine: x/net grows faster than most of the stnadard library, and I'd rather not give that growth a route into the stdlib. What specifically needs fixing in the standard library?

[2017-06-19 20:54] rsc commented on #20526
If we just don't do this, and we wait until there's a more compelling need, what bad things would happen? Is there some minimal amount we should do today, or should we just postpone everything until later?

[2017-06-19 20:58] rsc commented on #20603
Based on discussion above, switching to GOOS=illumos for Go 1.10 is fine. There's no need to have Solaris builders before then, although of course if we get further into the cycle with no Solaris builders we might reconsider GOOS=solaris entirely (golang.org/wiki/PortingPolicy). But that's just exposing a current problem (no Solaris builders, only Illumos ones), not introducing a new problem.

-rs

[2017-06-19 21:11] pierrre opened #20734 "cmd/pprof: doc about -alloc_space in Go 1.9"
### What version of Go are you using (`go version`)?
go version go1.9beta1 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/pierre/go"
GORACE=""
GOROOT="/home/pierre/.gimme/versions/go1.9beta1.src"
GOTOOLDIR="/home/pierre/.gimme/versions/go1.9beta1.src/pkg/tool

[2017-06-19 21:17] bradfitz commented on #20734
Did it get lost in an update from upstream, or...?

[2017-06-19 21:27] josharian commented on #20480
Yes. I've not had a chance yet to gather empirical data about demand.

[2017-06-19 21:54] nathany commented on #18554
Makes sense to me.

Currently the **featured downloads** indicate system requirements, such as "OS X 10.8 or later".

<img width="952" alt="featured" src="https://user-images.githubusercontent.com/4566/27307535-642d0d4e-5507-11e7-9327-95dac59b04c7.png">

Perhaps the tables below for stable and archived version should also include system requirements, including an upper bound if applicable.

e.g. g

[2017-06-19 21:59] nathany commented on #18554
A few other minor revisions to the download page:

* "Apple macOS" instead of OS X, as it was renamed. I've heard this even applies to past versions, though I haven't been able to verify that.
* "Intel/AMD" or "x86" 64-bit processor instead of Intel specifically

[2017-06-19 22:03] davecheney commented on #20733
I think this would be an important improvement to a situation that catches
every go developer at least once in their efforts to learn Go.

On Tue, 20 Jun 2017, 06:10 Brad Fitzpatrick <notifications@github.com>
wrote:

[2017-06-19 22:21] nathany commented on #19623
Presumably arbitrary precision constants would map nicely to ints/uints in Go 2.0 with this proposal. That would be certainly make the language more friendly, and do away with this caveat:

\- from Lesson 8, Get Programming with Go

Being able to pass a numeric constant or literal to a function and not worry about overflows or conversions would be very nice indeed.

[2017-06-19 22:23] dsnet commented on #20733
And I would argue even catches seasoned Go programmers occasionally. See https://golang.org/cl/40937. It took me a while staring at that logic trying to figure out why the code wasn't doing what it naturally read as.

[2017-06-19 22:24] bcmills commented on #20678
The `time.Time` data structure itself is surely capable of representing usefully-distant values: `int64` seconds gives a range of ~292 billion years in both directions, which is longer than virtually all estimates for the current age of the universe (albeit shorter than some estimates of the remaining duration of the [Stelliferous Era](http://go/wiki/Future_of_an_expanding_universe#Stelliferous_Er

[2017-06-19 22:27] shurcooL commented on #20629
Looking for clarification/confirmation, but what would be the uses/users of this new API? Is it needed by anyone/anything other than to resolve the underlying [mentioned GopherJS issue](https://github.com/gopherjs/gopherjs/issues/64)?

Because I'm quite confident the GopherJS issue could be resolved by modifying the `time` package internally in its overrides, without having to add to upstream `tim

[2017-06-19 22:35] bradfitz commented on #13061
Ping Robert. You'd labeled this Go 1.9.

[2017-06-19 22:38] josharian commented on #20734
I noticed the same thing, in #19927.

[2017-06-19 22:47] mdempsky commented on #13061
I think this can be safely bumped to 1.10. Nothing changed during 1.9 with respect to this issue.

[2017-06-19 22:55] davecheney commented on #18925
I thought kubernetes is still on 1.7.6, based on the release notes for k8s
version 1.6.6 that I read last week

On Tue, 20 Jun 2017, 06:48 Damian Gryski <notifications@github.com> wrote:

[2017-06-19 23:05] neelance commented on #20732
I fully agree. Like it said earlier when proposing this change, I am by far not an expert on the matter. I saw the serious performance issues and found this solution by reading about the problem space. I'm all for improving this if necessary.

Question: If we would put the call to `rawVforkSyscall` and only the child's after-fork path in a separate Go function, would that already help?

[2017-06-19 23:26] nathany commented on #19624
When I was researching type conversions and overflows for my Go book, the case I came up with was a rocket exploding due to an unhandled software exception (panic):

\- From Lesson 10, Get Programming with Go

So I'm not sure if I like the idea of panic by default. 🤔

My take is:

* Arbitrary precision ints (#19623) are simple to work with -- even for new programmers -- and they interoperate nicel

[2017-06-19 23:27] #20704 closed

[2017-06-19 23:41] griesemer commented on #18599
I've spent some time on this today, and it's more complicated than I hoped for. The problem seems to appear when a composite literal could be written on a single line, were it not for the comments.
Which suggests an easy work-around: If you write your code in the form
[code]
gofmt does what you'd expect. In other words, if you end up commenting out individual lines anyway (and write them on a sepa

[2017-06-19 23:46] aclements commented on #20732
That's a good idea. If the caller of `rawVforkSyscall` did nothing but return immediately in the parent process, the parent's active stack frames should stay clean.

[2017-06-20 00:03] griesemer commented on #5946
I cannot reproduce this anymore at tip (note that the playground will be updated once Go 1.9 is out). This may have been fixed indirectly as part of the fix for #5945.

(Also, please note that if you want to see the comments in your examples, you need to set the `parser.ParseComments` mode when invoking the parser. But this is orthogonal to this specific issue).

Feel free to re-open if you still

[2017-06-20 00:03] #5946 closed

[2017-06-20 00:37] stevenh commented on #20427
Here's the [results of the single goroutine run, two crashes](https://blog.multiplay.co.uk/dropzoe/linux/linux-fork-crash.tgz) so far.

Went to do the ```CLONE_VFORK``` but I guess that's a head feature, as there's no use of ```CLONE_VFORK``` in 1.8,3

[2017-06-20 01:19] rakyll commented on #20478
Closed via https://github.com/golang/net/commit/1816238e220c6657276d3bc6118dc95b3eb21e71.

[2017-06-20 01:19] #20478 closed

[2017-06-20 01:28] randall77 commented on #18892
@neelance Yes multiple real WebAssembly threads are a nice-to-have, not a strict requirement.

[2017-06-20 01:46] zhangfannie commented on #20723
@cherrymui  I found the comment ("madd/msub Rm,Rn,Ra,Rd ") in the current code, if the comment is right,  the current code gets "Rn" value from prog.From3.Reg and gets "Ra" value from prog.Reg. Refer to the instructions assemble process(asm.go), the assignment in that way is wrong.

[2017-06-20 03:28] opennota commented on #20678
Fixed the link: [Stelliferous Era](https://en.wikipedia.org/wiki/Future_of_an_expanding_universe#Stelliferous_Era)

[2017-06-20 03:29] audathuynh opened #20735 "encoding/xml: can't round-trip a slice like in JSON"
### What version of Go are you using (`go version`)?
go1.8.3

### What operating system and processor architecture are you using (`go env`)?
darwin/amd64

### What did you do?

Tried to unmarshal a slice from a string which is obtained by marshalling a slice.

https://play.golang.org/p/Yn57p2--fy

### What did you expect to see?

1. The slice needs to be restored in the variable b2.
2. The method

[2017-06-20 04:03] vcabbage commented on #20734
The usage output changed significantly when pprof was vendored in https://github.com/golang/go/commit/7844ef427a61bd68db81912a254a3f99633a9354.

The pprof package defines a [FlagSet](https://github.com/golang/go/blob/be855e3f28507dd3e34eb4699c84493eeaae68db/src/cmd/vendor/github.com/google/pprof/internal/plugin/plugin.go#L42-L74) interface with a `ExtraUsage() string` method that can be used to ad

[2017-06-20 04:29] pqyptixa commented on #18162
@ematsu OK, thank you.

[2017-06-20 06:05] cznic commented on #20733
Adopting this proposal can make performance of perfectly valid code worse, sometimes dramatically. For example, when escape analysis cannot determine it's safe to keep the {k,v} value on stack while it's address is taken. Then we get O(n) heap allocations instead of the current O(1).

[2017-06-20 06:10] davecheney commented on #20733
@cznic can you give some examples of this. I would expect that most of these cases would actually be bugs because taking the address of the same variable over and over again was the problem in the first place.

[2017-06-20 07:32] ALTree commented on #7900
@mjibson still interested in this? Want to send a gerrit patch? Otherwise I'd close the issue.

[2017-06-20 07:32] ALTree commented on #18554
This two

- OS X -> macOS (the official name was changed)
- reword "Intel 64-bit" since it looks like we want an Intel processor (but we just want x86)

seems reasonable. You'll still need @broady approval, I think.

[2017-06-20 07:34] ALTree commented on #18554
I don't see how we could add this information to that table without cluttering it, though. It's already quite packed.

[2017-06-20 07:41] tombergan commented on #20420
It relates but looks different. The feature I added was to automatically use a smaller packet size early in the connection. It looks like @925dk is requesting control over a protocol-level config (MBEDTLS_SSL_MAX_CONTENT_LEN). I think the question of whether or not to support that config is better directed to @agl.

[2017-06-20 08:15] r7vme commented on #18925
@josharian @aclements messed up stuff. Yes, we use kube-proxy from [hyperkube v1.5.2_coreos.0].(https://quay.io/repository/coreos/hyperkube/image/90b25ac3f174580be7e1f6f42a5bc77a52984bdad7fb8c61136d90012b648733)

[code]

[2017-06-20 08:15] mjibson commented on #7900
Not enough to figure out how to send a gerrit patch.

[2017-06-20 08:15] #7900 closed

[2017-06-20 08:21] MaVo159 commented on #20629
What about the scenarios outlined above?
The gopherjs issue just highlights the problems you can run into with LoadLocation. I definitely would like to define my own Locations as well as ensure that the locations I use are available independent of the target environment, which is not an issue that is exclusive to gopherjs.
See issue #20211 for another usecase.

[2017-06-20 08:50] mvdan commented on #20735
A smaller repro, with just a couple of ints: https://play.golang.org/p/B8P6xVJkGk

Funnily enough, if you unmarshal into `[]int` instead of `[]interface{}`, JSON still gets `[1 2]` and `XML` gets `[1]` instead of `nil`.

[2017-06-20 08:57] cznic commented on #20733
@davecheney Consider https://github.com/golang/go/issues/20725#issuecomment-309476351 and imagine escape analysis is not able to prove foo only reads via the passed pointer.

[2017-06-20 09:24] davecheney commented on #20733
@cznic

Why would you want to take the address of a copy of the current range value? If i'm not mistaken, any modification to it would be lost.

[2017-06-20 09:43] cznic commented on #20733
@davecheney

- To avoid copying a big value when passing it as an argument.
- To call a pointer receiver method on the value.

Taking the address of a value does not imply intent to modify the pointee.

[2017-06-20 09:50] odeke-em commented on #20712
/cc @bradfitz

[2017-06-20 10:09] davecheney commented on #20733
But the value is already copied as part of the range iteration. Having a separate value escape on every iteration is sub optimal, but hopefully you'll agree it's reasonable to trade a potential performance problem for a very common correctness problem.

True, that is asking a lot of escape analysis and I really don't know the ways that escape analysis and the implicit taking of address interact. B

[2017-06-20 10:22] audathuynh opened #20736 "proposal: reflect: allow to create methods for structs at runtime"
Currently, we can create a struct with embedded fields at runtime.
However, we cannot create methods for structs at runtime.

Below is the statement on the website of Go (https://golang.org/pkg/reflect/#StructOf).
"StructOf currently does not generate wrapper methods for embedded fields. This limitation may be lifted in a future version."

In practice, we may need to create a struct instance to im

[2017-06-20 10:29] cznic commented on #20733
Iff vals is a slice/array. There are also maps and channels.

Even the innocent looking `fmt.Println(value)` always takes the address of 'value'. As does every function taking an interface (not only interface{}, any interface) argument. Every assignment to an interface variable takes the address of the RHS, etc.

[2017-06-20 10:43] davecheney commented on #20733
If it's an array, it's already copied during the evaluation of the range statement. If it's a channel, it's a copy of the value received. Again i'm falling back on arguments of correctness over performance.

If believe a _copy_ of `value` is passed to `fmt.Println`. That copy is almost always heap allocated due to a limitation introduced in the Go 1.5 garbage collector.

[2017-06-20 10:52] cznic commented on #20733
Right. But with this proposal there will be, in certain situations, an additional allocation per iteration.

You're right. The interface runtime struct has the address, but that's not different with this proposal. I misspoke, sorry.

[2017-06-20 11:00] ALTree commented on #20736
Generating those wrapper is  #15924
Creating and attaching methods at runtime is #16522

[2017-06-20 11:31] iduhetonas commented on #20420
For clarification, this feature just negotiates the maximum size of a fragment (of a packet) between a client and a server. The default fragment size is 2^12, which means that memory-constrained devices must hold a 2^12-byte buffer.

For this to work with golang, the server need only to negotiate the max fragment size (2^9, 2^10, 2^11, 2^12), and then promise to never send a fragment larger than t

[2017-06-20 12:21] 925dk commented on #20420
Negotiating the max size would be elegant, but a simple knob for setting it would also do. Either way works for me.

[2017-06-20 12:39] cherrymui commented on #20723
One possibility is to fix the comment to match the implementation. I'm not sure.

[2017-06-20 13:14] jech commented on #17930
@mikioh @rsc Agreed, `x/` seems like the right place to experiment with a better API.

[2017-06-20 14:01] Dieterbe commented on #14812
i updated my go tree to latest master, i presume that's the best starting point? do i comment out the call to poolcleanup or to clearpools ?. because clearpools calls poolcleanup and a bunch of other stuff ?

[2017-06-20 14:05] Konstantin8105 opened #20737 "Website documentation"
If we open exaple on page https://golang.org/pkg/go/parser/ and run in play.
### what you see?

open example_test.go: No such file or directory

### What did you expect to see?

The result of snippet code

[2017-06-20 14:19] #20589 closed

[2017-06-20 14:28] aclements commented on #14812
Sounds good

Comment out the call to poolcleanup. While it's *probably* safe to disable all of clearpools, I'd have to think more to be sure, and I don't think the rest of clearpools is the problem.

[2017-06-20 14:41] rodcorsi commented on #19991
Maybe using a pipe forward operator like F#, Haskell, Elixir, etc

## Option 1: Calls only propagate *if isn't error*.
`|> (result) func()`

[code]

## Option 2: Pipe with conditional check
`|> (result; conditional) func()`

[code]

## Option 3: Pipe assing vars and checks conditional, in this situation we don't need result type
`|> (var,...; conditional) func()`

[code]

[2017-06-20 14:53] ALTree commented on #20737
This is a dup of #19823 and it's already fixed on tip, see: https://tip.golang.org/pkg/go/parser/

[2017-06-20 14:53] #20737 closed

[2017-06-20 15:37] josharian commented on #20736
Closing as duplicate. Please comment if that is incorrect.

[2017-06-20 15:37] #20736 closed

[2017-06-20 16:05] josharian commented on #20480
I gathered some quick and dirty empirical data from GitHub searches, restricted with `language:Go`.

For a baseline:

* [rand.Intn](https://github.com/search?utf8=%E2%9C%93&q=rand.Intn+language%3AGo&type=Code): 72,815 results
* [rand.Float64](https://github.com/search?utf8=%E2%9C%93&q=rand.Float64+language%3AGo&type=Code): 44,067 results
* [rand.Int63](https://github.com/search?utf8=%E2%9C%93&q=ra

[2017-06-20 16:08] #19049 closed

[2017-06-20 16:14] btracey commented on #20480
I don't think it'll affect your results too much, but is it easy to search for `*rand.Rand` types that call those methods? In `gonum` we make sure to generate explicit streams so we have reproducible tests.

[2017-06-20 16:23] kaedys commented on #20621
How is this proposal fundamentally different from https://github.com/golang/go/issues/16085?  Both open up new functionality with regards to type conversions that are logically consistent, and this proposal is an intuitive extension of #16085.  #16085 was based on the observation that tags do not materially affect that memory layout of a type, and thus should not impair type conversions of that ty

[2017-06-20 17:12] pradeepsawlani commented on #15848
@aclements Yup tried that before but threadcreate endpoint was printing number of OS threads and no stack dump.

[2017-06-20 17:17] rgooch commented on #20352
@rsc: What will it take to move this from "hold" to active consideration?

[2017-06-20 17:30] DeedleFake commented on #20352
I'm not sure about syntax. I was just thinking out loud, mostly. The idea was that with a channel, when if `len` becomes greater than `cap`, it blocks when sending. `append()` increases `cap` for slices, though, although it does involve reallocation and copying, obviously. I was just thinking that there's no way to change the capacity of a channel without just making an entirely new channel.

[2017-06-20 17:43] joegrasse commented on #20731
I'm thinking line https://github.com/golang/go/blob/1363eeba6589fca217e155c829b2a7c00bc32a92/src/cmd/go/get.go#L405 should be changed from
[code]
to
[code]

/cc @rsc

[2017-06-20 17:45] rsc commented on #17895
With ppc64 doing this and the spec written, I think this is done.

[2017-06-20 17:45] #17895 closed

[2017-06-20 17:55] rsc commented on #20352
We're not considering any significant language changes today. I'm just organizing.

[2017-06-20 17:57] rsc commented on #20731
What does `curl https://customurl.com/lib/platform/genlog` show as far as meta tags?

[2017-06-20 18:12] joegrasse commented on #20731
I am going to assume you mean ```curl https://customurl.com/lib/platform/genlog?go-get=1```.

[code]

[2017-06-20 18:16] Dieterbe commented on #14812
ok i need to document some things for my own reference because i had a hard time reproducing. due to some changes we made, much more memory is being allocated in the http server path compared to last time, so i had to change things to build a large initial heap and do smaller requests (so no more of the "each request creating multiple/100 goroutines"), this way I got 7seconds in between every GC r

[2017-06-20 18:20] bcmills commented on #19624
@nathany

The Ariane 5 explosion is a nice example, but note that it involved many layers of failures:
1) The value overflowed.
2) The overflow resulted in an exception.
3) The exception was not handled.
4) The unhandled exception in a non-flight-critical task terminated flight-critical tasks on the computer.
5) …and the major part you're leaving out:
The overflow did not occur during testing.

Th

[2017-06-20 19:27] aclements opened #20738 "runtime: use rwmutex for execLock"
[CL 43713](https://golang.org/cl/43713) introduces a mutex around thread creation. We wanted to use rwmutex to avoid serializing thread creation, but rwmutex depends on semaphores, which depend on sudogs, which require allocation and write barriers, so we can't use them from `runtime.newm`.

We should try to figure out a way to fix this, possibly by rewriting rwmutex to not depend on semaphores.

[2017-06-20 19:34] aclements commented on #20005
@sorear, in principle I think we're okay with this, but we'd like to see a CL with the changes I mentioned above and, if possible, performance numbers.

I'm somewhat concerned about updating the shadow on the g0s. I definitely don't want to loop over the Ms because of the impact on STW time. However, code running on an M that isn't associated with a P isn't allowed to have write barriers anyway, s

[2017-06-20 19:35] ianlancetaylor commented on #20621
@kaedys The essential distinction is methods, and by extension the set of interfaces that a type implements.  The presence or absence of a field tag does not affect the method set.  Conversion between different named types with the same underlying type does affect the method set.

That does not mean that this proposal can not be accepted, I'm just explaining why there is a significant difference b

[2017-06-20 19:56] #20732 closed

[2017-06-20 20:34] rhysh commented on #14812
What version of the program did you use for the tests? I'm looking at version raintank/metrictank@edaa819866a9db2a242a749577571bcdb1101a6a.

Looking at the mark assists during the GC at 4.6–5.4 seconds, many of them are for allocations at `github.com/raintank/metrictank/vendor/github.com/klauspost/compress/flate.NewWriter:1266`. That allocates a `flate.Writer`, which contains a `flate.compressor`,

[2017-06-20 20:41] kaedys commented on #20621
Yes, but #16085 allows conversion between two _completely distinct types_ so long as they have the same memory layout.  There's no requirement that they have the same method set (ex: https://play.golang.org/p/HAo-k2BoRe).  So levying such a complaint at this proposal falls flat when such a conversion _is already possible_ due to #16085

[2017-06-20 20:48] mdempsky opened #20739 "cmd/compile: slow bitmap generation for large array of zero-size elements"
This (nonsense, but valid) program takes a very long time to compile because of stack bitmap generation:

    package f

    func F() {
        var x struct {
                x *int
                w [1e10][1e10][1e10][0]*int
                y *int
        }
        println(&x)
    }

The easy fix is to short-circuit generating stack bitmaps for zero-size types.

[2017-06-20 21:00] Dieterbe commented on #14812
a slightly out of date version compared to master, 6fb3609ee790ead6cbbaccc59f26d53a2307806b , it was just missing a few minor commits, and also I had a few local non-impactful changes.  (let me know if any of this matters, happy to re-run with clean master or whatever)

I also ran into this (and opened https://github.com/raintank/metrictank/issues/658) but I don't have the right solution yet. I ha

[2017-06-20 22:21] griesemer opened #20740 "go/format: hasUnsortedImports should also test grouped imports (TODO)"
Reminder to resolve TODO in go/format/format.go:hasUnsortedImports: This function always returns true if there are grouped imports, which causes a lot of extra work even if those imports are sorted.

[2017-06-20 22:25] griesemer commented on #18929
This is due to a bug in `ast.SortImports`: If we comment out the call to `SortImports` in gofmt.go, the result looks correct.

[2017-06-20 22:35] griesemer commented on #18929
The function `sortSpecs` in `go/ast/import.go` appears to assume that comments are always following (not preceding) an `ImportSpec`. Consequently, if a comments is before an `ImportSpec`, it is associated with the previous one instead of the next one.

Any fix will be subtle. Leaving for 1.10.

[2017-06-20 23:07] griesemer commented on #14629
To late again. Moving to 1.10.

[2017-06-20 23:08] ianlancetaylor commented on #20621
We can already convert between different types, with potentially different method sets, at the top level, as long as they have identical underlying types.  The only change in #16085 was to permit converting between different types that have underlying types that differ only in their field tags.  That is, #16085 did not permit any method-set affecting change that was not already possible.

This pro

[2017-06-20 23:09] odeke-em commented on #20405
Thank you @ianlancetaylor, yes in deed, seems like it. I can no longer reproduce the bug after the dup issue was fixed.

[2017-06-20 23:09] #20405 closed

[2017-06-20 23:15] griesemer commented on #18264
Too late for 1.9.

[2017-06-20 23:16] griesemer commented on #16371
Too late for 1.9.

[2017-06-20 23:29] bradfitz commented on #12042
Okay, caught up now for Go 1.9. Moving to Go 1.10. If there are new contributors in the freeze (unlikely) they'll be included next cycle, unless somebody remembers to re-run this.

[2017-06-20 23:37] ianlancetaylor commented on #20730
Let's move discussion to #18874.  Thanks.

[2017-06-20 23:37] #20730 closed

[2017-06-20 23:38] ianlancetaylor commented on #18874
Quoting @eZanmoto from #20730 :

[2017-06-20 23:40] #19285 closed

[2017-06-20 23:53] #19546 closed

[2017-06-21 00:06] neelance commented on #20732
@aclements Thanks for improving my change!

[2017-06-21 00:26] kaedys commented on #20621
If the top level changes are already allowed, how is that a significant change?  The types specified in the structure are still concrete, defined at compile time, so it's not like these changes can happen _unexpectedly_.  The only thing this change would eliminate is the need for a helper method to do for fields what's already possible with top-level tops.  I still don't see how this is a signific

[2017-06-21 01:55] Immortalin commented on #20694
@bradfitz ?

[2017-06-21 02:21] SamWhited commented on #20735
While it may be unfortunate that Marshal and Unmarshal are not inverse functions, this is working as expected per the rules from the package docs.

I don't think this statement actually is very meaningful; XML and JSON are two very different serialization formats that are useful for different situations and are not interchangeable. XML does not have a "slice" or "array" type, per say, JSON does, s

[2017-06-21 02:26] tarndt commented on #16335
@agl I don't think this PR was rolled out as thoughtfully as it should have been; this made the same production Go code (and the same config files) when redeployed with an updated version of Go break.... all because some config files were missing a dash. :crying_cat_face:

Since not being strict here wasn't really a security issue I would suggest that in the future fixes for issues of trivial seve

[2017-06-21 02:42] audathuynh commented on #20735
Sorry, I don't know what package docs you are talking about.
They could be very very important to you.

However, some questions are in my mind right now.

Who wrote the package docs? Can we change them if they is wrong?

Regarding to the package encoding/xml, if it is not a bug of the library, I think we will need to re-think why we need to build the library.

Why do we need to marshal something a

[2017-06-21 02:48] SamWhited commented on #20735
The docs on the `Marshal` method: https://godoc.org/encoding/xml#Marshal

Specifically:

I agree with you that it's not ideal, I just don't think it can be changed at this point due to the [Go 1 compatibility promise](https://golang.org/doc/go1compat). Maybe someone on the Go team who's opinion actually matters here will correct me though :)

[2017-06-21 03:12] mahdix commented on #15292
@bcmills Can you explain more about these three points?
1. Ambiguity between type names and value names.
2. Excessively broad support for operator overloading
3.Over-reliance on overload resolution for metaprogramming

[2017-06-21 03:37] networkimprov commented on #20352
To my mind, the value of building this into the language (or enabling implementation in a plugin?) is in reducing the expense of a-goroutine-plus-two-channels per channel -- much more than an ordinary channel.

I'm working on an app where every recently-connected client needs one of these.

[2017-06-21 04:09] robpike commented on #20176
The refinement of allowing negative constants only is interesting and perhaps worth considering. It does add a particularly special and detailed wrinkle, though. There's nothing similar that I can think of that exists already in the language. And because of that, the exact definition will take lots of discussion and bikeshedding. Literal? Constant? Constant expression? What about cap? etc. etc.

I

[2017-06-21 04:15] dsnet commented on #20621
I have found the conversion of anonymous structs to concrete types to be somewhat brittle in practice. The technique is useful as a mechanism to assign arbitrary struct tags to certain fields so that it can be used with the `json` package (and the like), but it has a major downside of causing the code to be brittle. For example, if a field was added to the named type, then any code using this tech

[2017-06-21 04:56] Kinghack commented on #20614
I am trying to verify my diff.
I found that with xmllint, they are not dealing with **[leading and trailing space (#x20)](https://www.w3.org/TR/REC-xml/#AVNormalize)**.
Example is

[code]
The result with
`xmllint test2.xml`
is
`<?xml version="1.0"?>
<x p1=" v1  \nv2  " p2=" v2 v1 "/>`

Do I misunderstand the spec?

[2017-06-21 05:45] ianlancetaylor commented on #20621
@kaedys You asked why this change is different than #16085, and I believe I have answered that.  You are now shifting to argue that the change is not significant.  Maybe so.  My point is simply that it is clearly a change, and there is nothing like it in the language today.  With that in mind, I encourage you to reread my comment of six days ago.  Thanks.

[2017-06-21 06:25] zhangfannie commented on #20723
@cherrymui @ALTree  I will fix the comment and keep the source code  not changed.

[2017-06-21 07:51] sheerun commented on #17601
this isn't as convenient as having ticker modified because often there's extra logic surrounding handling ticket event (e.g. other cases in select {}). in this case just calling function that ticker should issue requires even more duplication

you don't need new api, just allow to send events to ticker channel

[2017-06-21 08:19] stevenh commented on #20427
I have more cores if required.

[2017-06-21 09:56] sprungknoedl opened #20741 "x/net/html: readRawOrRCDATA() parsing issue when text ends with '<'"
### What version of Go are you using (`go version`)?
`go version go1.8.3`
`golang.org/x/net/html: 057a25b06247e0c51ba15d8ae475feb2fcb72164`

### What operating system and processor architecture are you using (`go env`)?
`linux/amd64`

### What did you do?
Tried to parse HTML that contains a textarea that ends with `<`. Minimal example below:
[code]

### What did you expect to see?
`<textarea> $end

[2017-06-21 10:14] spx commented on #16953
sometimes (randomly) it doesnt work. looks like response body ignores Close call
after 100k requests or works several days and then sometimes appears readLoop + writeLoop. these go routines are not used anymore and they slowly grows. and i think they are not in idle conns list.
[code]

[2017-06-21 10:19] mvdan commented on #20735
https://play.golang.org/p/N5O1MPAMtr

[2017-06-21 10:42] azr commented on #20536
Bump @ianlancetaylor . It seems I'm reaching you spams.
I'll make another issue to re-start the discussion soon then.

[2017-06-21 11:15] benshi001 commented on #18072
After CL 45996 is merged, I thought I have made a relative full encoding test for ARM32. Some corner cases are not tested, since they use the constant pool, which is hard to calculate their offset by hand.

[2017-06-21 11:33] audathuynh commented on #20735
Yes. I completely understand that.

Do you really think that XML does not have a "slice" or "array" type and therefore we cannot implement the method or fix the bug?

I think we need to separate the logic of the problem and the implementation of the problem.
I talk about the logic of the problem while you just focus on the implementation.

[2017-06-21 12:04] rsc commented on #20735
JSON encodes data structures. As such, it is fairly straightforward to turn JSON back into data structures when unmarshaling into something with no type information, like interface{}. XML does not encode data structures - it encodes a document stream, which sometimes is written in a way that can be viewed as a data structure. But if you unmarshal XML into an interface{}, with no type information,

[2017-06-21 12:04] #20735 closed

[2017-06-21 12:07] rsc commented on #20614
The spec says:

But for our purposes the attribute type is always CDATA, since we don't parse the related entity declarations. So that sentence does not apply.

[2017-06-21 12:12] rsc commented on #17601
The ticker has a field:

        C <-chan Time // The channel on which the ticks are delivered.

We can't "just allow to send events to ticker channel". That can't be changed now. (And it's debatable whether we'd do it anyway, but we can't.)

[2017-06-21 13:18] aclements commented on #20732
No problem. Thanks for contributing it in the first place. :)

[2017-06-21 13:23] aclements commented on #19586
Ping @ianlancetaylor

[2017-06-21 13:30] ivan4th commented on #1435
See #20676 and https://golang.org/cl/46033

[2017-06-21 13:34] korya commented on #10447
I have another example of invalid JPEG image. The problem with the file is that the second half of the file is filled with garbage bytes:

[code]

`image.Decode` fails with `invalid JPEG format: missing 0xff00 sequence`, but the browsers display the image:

<img width="822" alt="screen shot 2017-06-21 at 09 12 28" src="https://user-images.githubusercontent.com/148461/27385886-08c6cd1c-5662-11e7-93

[2017-06-21 13:39] titpetric commented on #17988
I've just tried discovering some performance data with tracing, also noting that `go tool profile` has a `-pprof` option, which however doesn't give out some kind of cpuprofile like output that would give us a bundled performance overview, or data suitable for a flame graph or something like the call graph options from pprof. This would be a great thing to have. Maybe I'm just not connecting the d

[2017-06-21 13:43] korya commented on #10447
In regards to supporting invalid JPEG images. I would vote for adding this support sooner by keeping the semantics of `jpeg.Decode` unmodified and adding a new function to decode potentially invalid JPEGS, e.g. `jpeg.TryToDecode`. Alternatively, if it is not desirable to add such function to `jpeg` package, a new experimental package could be added. The package would implement the new semantics of

[2017-06-21 13:47] aclements commented on #17988
I assume you mean `go tool trace`, not `go tool profile`. I'm not sure I quite understand what you're asking, but the execution trace currently doesn't have enough information in it to produce any sort of call graph profile. We could add profiling samples to the trace, which could then be extracted as a profile, though that wouldn't be any different from simply taking a pprof CPU profile (unless y

[2017-06-21 14:09] jetuuuu opened #20742 "x/image/tiff: package does not support image resolution"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go1.8 darwin/amd64`

### What operating system and processor architecture are you using (`go env`)?
`Darwin/amd64`

### What did you do?

Take a tiff image and attempt to decode it with the golang.org/x/image/tiff package.

### What did you expect to see?

I expected a method

[2017-06-21 14:31] joegrasse commented on #20731
@rsc Is there anything else you need from me? It would be really awesome if a fix didn't have to wait till go 1.10.

[2017-06-21 14:58] titpetric commented on #17988
Yes, you are correct, i did mean go tool trace. I think there's some
difference with pprof as the trace is complete and pprof is sampled, no? At
least the size of the trace and the size of the pprof data file and a note
on pprof sampling frequency in Hz seem to suggest so?

Basically I'd want a full pprof profile (without sampling), and as I
understood the trace is missing the CPUprofile data to p

[2017-06-21 15:01] lioasdfghjkl opened #20743 "A unexpected result for integer channel"
### What version of Go are you using (`go version`)?

go version go1.8.3 windows/amd64

### What operating system and processor architecture are you using (`go env`)?

windows/amd64
set GCCGO=gccgo
set CC=gcc
set GOGCCFLAGS=-m64 -mthreads -fmessage-length=0 -fdebug-prefix-
set CXX=g++
set CGO_ENABLED=1
set PKG_CONFIG=pkg-config
set CGO_CFLAGS=-g -O2
etc.

### What did you do?

I test integer chann

[2017-06-21 15:08] mvdan commented on #20743
This seems like a question or a request for help - I don't see a particular bug in Go or the standard library.

For questions about Go, see https://golang.org/wiki/Questions.

[2017-06-21 15:08] #20743 closed

[2017-06-21 15:09] ALTree commented on #20743
There's no guarantee that by the time your main reaches the `fmt.Println` statement all the 1000000 goroutines are done. In fact, the reason that you're seeing numbers < 1000000 is exactly that you're printing the number before all the 1000000 goroutines had a chance to run (and increment the number).

[2017-06-21 15:12] aclements commented on #17988
While that's true, the differences are far more drastic. The execution trace records specific runtime events, like goroutine scheduling, network events, and GC.

It sounds like what you want is a function call trace, which is not what `runtime/trace` is (or anything else built in to Go). Function call traces are *very* expensive to collect, which makes them basically useless for performance optimi

[2017-06-21 15:48] bradfitz commented on #16953
For questions about Go, see https://golang.org/wiki/Questions.

[2017-06-21 16:20] odeke-em commented on #17441
I've ran the trybots on that CL so that to reignite the conversation on @zombiezen's CL as I see it is marked for Go1.9, what do you think @bradfitz?

[2017-06-21 16:21] rgooch commented on #20352
@rsc: How is a "significant" change to the language defined? This is 100% backwards compatible and is a very minor API tweak.

What's the timeline for go2?

[2017-06-21 16:33] zombiezen commented on #17441
I'm happy to carry this forward, but I need review from someone who understands the security implications.

[2017-06-21 16:56] bcmills commented on #15292
@mahdix Sure.

[This article](http://pages.cs.wisc.edu/~driscoll/typename.html#the_problem) gives a good introduction. In order to parse a C++ program, you must know which names are types and which are values. When you parse a templated C++ program, you do not have that information available for members of the template parameters.

A similar issue arises in Go for composite literals: in this Go co

[2017-06-21 17:24] tsuna commented on #1435
Not sure whether #20676 will be of much help here since the problem is that on Linux `setuid` / `setgid` only affect the current thread instead of the entire process.  Usually the goal of these calls is to drop/change privileges for the entire process, not just temporarily affect the privileges of the current thread.

[2017-06-21 17:27] urandom commented on #15292
@bcmills
As I've never used C++, could you shed some light as to where operator overloading via implementing predefined 'interfaces' stands in terms of complexity. Python and Kotlin are examples of this.

[2017-06-21 17:46] alercah commented on #15292
I think that ADL itself is a huge problem with C++ templates that went mostly unmentioned, because they force the compiler to delay resolution of all the names until instantiation time, and can result in very subtle bugs, in part because the "ideal" and "lazy" compilers behave differently here and the standard permits it. The fact that it supports operator overloading is not really the worst part

[2017-06-21 18:00] griesemer commented on #20352
@rgooch: "significant" is anything that's more than an obvious bug fix (say, because compilers do something else than what the spec says) or clarification (compilers disagree, spec unclear). That is, anything that's an actual language change.

@rsc will talk about "The future of Go" at GopherCon in Denver (https://www.gophercon.com/schedule, Day 1, Main Stage). I you're not attending, all talks wi

[2017-06-21 18:15] bcmills commented on #20733
@cznic

Sure, but if it actually shows up on a profile there should be an easy workaround:

[code]

It is possible to write correct, efficient code with either definition of `range` loops; the question is mainly which should be the "default" or "typical" case. I believe that, in real usage, the proposed change would fix far more issues — and remove more workarounds — than it would introduce.

[2017-06-21 18:19] aclements commented on #20005
@cherrymui points out that, rather than storing the value of the write barrier flag in the G, we could store a pointer to it. That would be far simpler and more robust, but would probably still reduce the inlined check sequence (though not as much).

[2017-06-21 18:20] bradfitz commented on #20224
Reopening to deploy it.

I've fixed this machine to have our shared ssh key.

@jessfraz, want to deploy?

http://go/go-builders-ssh for the ssh key to:

[code]

Then the sudo to root password is in http://go/go-builders-macstadium

[2017-06-21 18:23] jessfraz commented on #20224
omg yes eek im nervous

On Wed, Jun 21, 2017 at 2:21 PM, Brad Fitzpatrick <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-06-21 18:30] randall77 commented on #20711
Looks like there is an additional bounds check at tip. Here's a simple repro:
[code]
For 1.8.3, it generates an inner loop of
[code]
For tip, it generates
[code]
@dr2chase , I think this happens because of your change to do the additional len>0 comparison wrapping the loop.  Instead of the loop exit check dominating the bounds check (as it does in 1.8), there are two predecessors of the bounds che

[2017-06-21 18:33] cznic commented on #20733
@bcmills

True, but still the proposal has the potential to cripple existing *correct and efficient code*. Also, your comment does not consider `v.foo()`. We've agreed earlier with @davecheney  that for escape analysis of pointer receivers it is sometimes, if not often, impossible to prove they are safe-for-stack. And, again, _"Then we get O(n) heap allocations instead of the current O(1)."_

[2017-06-21 18:37] cespare commented on #20711
Would my doing a bisect still be helpful? Meant to do it earlier but it has been an extremely busy week for me.

[2017-06-21 18:45] dr2chase commented on #20711
Backing out the change fully creates a problem for GOEXPERIMENT=preemptibleloops; one possibility is to instead make the loop change conditional on whether the experiment is turned on (but we expect to turn it on for 1.10).  Is including both copies of the loop-translating code and switching based on goexperiment considered adequately low-risk?

[2017-06-21 18:48] rsc commented on #20731
The relevant parts of the go command docs read:

The problem here is that the &lt;meta> tag being served does not name a Subversion repository root. Subversion is different from Git and Mercurial (and like CVS) in that you can check out a subtree, and it appears that that's what is being directed here. This is not really supported, at least according to the docs.

Whether we should support it, sin

[2017-06-21 18:50] griesemer opened #20744 "go/ast: free-floating comments are single-biggest issue when manipulating the AST"
Reminder issue.

The original design of the go/ast makes it very difficult to update the AST and retain correct comment placement for printing. The culprit is that the comments are "free-floating" and printed based on their positions relative to the AST nodes. (The go/ast package is one of the earliest Go packages in existence, and this is clearly a major design flaw.)

Instead, a newer/updated as

[2017-06-21 18:51] bcmills commented on #20733
@cznic

For this proposal (and Go 2 proposals in general), if the proposal is accepted we should either compile existing Go 1 programs as is or provide a tool that converts them _preserving existing semantics_. That is: no "existing" Go 1 code should be affected either way.

Escape analysis of pointer methods is mostly straightforward; it's mostly arguments to interface methods that you have to wo

[2017-06-21 18:52] randall77 commented on #20711
@dr2chase Is preemptable loops a problem because the preempt check comes after the pointer increment?

@cespare: I don't think we need a bisect.  Thanks though. I just mailed a demonstration CL that I think shows we're on the right track.

[2017-06-21 18:59] randall77 commented on #20711
@dr2chase : I have no problem including two versions of the loop-translating code and switching on goexperiment.  It all depends on how big the CL is and what confidence we have in it.
I would hope we have high confidence in the old code, if we could just splice that in when not under experiment, that would be ideal.

[2017-06-21 19:01] sorear commented on #20005
That'd help on mips and possibly ppc64, but for arm, aarch64, and riscv64 global variable access is already 2-instructions.

(My copy of Go is generating a 3-instruction sequence for global variable access ADRP-ADD-LDR, but clang and gcc generate ADRP-LDR with the immediate folded into the LDR and there's no reason in principle the Go aarch64 backend couldn't be taught the same)

I'll make some ti

[2017-06-21 19:01] jimmyfrasche commented on #20744
I've made (unattached) comments a node type in various toy/simple
parsers where I needed to preserve comments and it worked well for my
needs

[2017-06-21 19:01] cznic commented on #20733
@bcmills

I don't think this can be achieved without solving the halting problem. But let's assume it can be done. Even then we would have to put the particular compiler optimization that you've mentioned earlier, directly in the specification of the language. That *can* be done, no doubt. Isn't it better to avoid such leaks of abstractions? I think so.

[2017-06-21 19:04] dr2chase commented on #20711
@randall77 Exactly that.  And given how tricky it was to update the SSA graph to include the preemption check, I wasn't willing to put it anywhere other than the back edge, though perhaps for 1.10 we should get braver to reduce the cost of actually turning preempable loops on all the time.

[2017-06-21 19:14] bcmills commented on #20733
@cznic

Why? Generally, the only time an optimization needs to go into a language spec is if it affects the asymptotic behavior of the program, the canonical example being tail-call-elimination in functional languages (which changes memory usage from O(1) to O(N) with the depth of recursion). As I noted above, per-iteration memory-management overhead affects only constant factors: running time for

[2017-06-21 19:17] jessfraz commented on #20224
It's all running in systemd now, just had to make a modification which is opened in https://go-review.googlesource.com/c/46332/

[2017-06-21 19:38] griesemer commented on #20744
@jimmyfrasche Thanks for your comment. I do have a design and prototype that is close, but not good enough for gofmt purposes. I'd be interested in how you integrate your comment nodes in the rest of a syntax tree.

[2017-06-21 19:39] aseemk opened #20745 "reflect: FieldByNameFunc can pass field names which don't get found by FieldByName"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

`1.8.1`

### What operating system and processor architecture are you using (`go env`)?

`linux/amd64`

### What did you do?

https://play.golang.org/p/6sL_KNiyTZ

1. Create two struct types which share some field name.
1. Create a wrapper struct type which embeds those two st

[2017-06-21 19:55] ianlancetaylor commented on #19586
Closing this issue per comment on April 25.  My conclusion from the follow-on discussion about /proc/kmsg is that nothing need be done.

[2017-06-21 19:55] #19586 closed

[2017-06-21 19:56] kjk commented on #20352
@griesemer

https://www.youtube.com/watch?v=6GMkuPiIZ2k ?

https://github.com/golang/proposal/blob/master/design/18130-type-alias.md changed the syntax of the language and was accepted to 1.9.

This proposal asks for `ch := make(chan bool, -1)` to create infinite channel instead of current behavior of producing a compile time error or panicing at runtime.

If type aliases satisfy Go1 compatibility

[2017-06-21 19:59] jimmyfrasche commented on #20744
To put it in terms of the existing go/ast:

All attached comments would remain where they are on various nodes.

Comment would be both a Decl and a Stmt.

Unattached Comments would be interspersed with declarations and
statements where they appeared in the source.

For go/ast you'd also need a second CommentGroup for comments before
the comments attached to the package declaration.

If you don't p

[2017-06-21 19:59] joegrasse commented on #20731
@rsc Making changes to vcs.go worked. Here is what i did.

[code]

(1) I have svn version 1.7.21 and 1.8.14 and they both print out the URL.
(2) On my test of checking out the repo root, the URL and Repository Root lines said the same thing.

Contents of issue-20731.patch
[code]

[2017-06-21 20:09] dr2chase commented on #20711
If you haven't started on it, I just did, should have a CL up as soon as it passes tests locally.

[2017-06-21 20:16] aseemk opened #20746 "database/sql: unsupported Scan when storing driver.Value type time.Time into type *sql.RawBytes"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

`1.8.1`

### What operating system and processor architecture are you using (`go env`)?

`linux/amd64`

### What did you do?

Tried to `Scan` a row containing a timestamp column (from Postgres) into a `*sql.RawBytes` type for that column.

(Sorry, sharing a Play link isn't pos

[2017-06-21 20:24] #20224 closed

[2017-06-21 20:25] SophisticaSean commented on #16798
Would like to add that this would be an amazing feature to have in go. There's just no getting around proper recursion with some algorithms, and if you try, the iterative implementation is terrible to read and understand and, usually, takes way longer to write.

I would love go way more if we did this. I think its a low-impact feature that will help a lot of devs.

[2017-06-21 20:29] dsnet commented on #18358
I've unassigned myself from this. Checking `GOOS` is not sufficient. Properly implementing `filepath.HasPrefix` implies having knowledge about the case sensitivity of the underlying filesystem, which is entirely independent of the `GOOS`.

Whatever solution is proposed must handle case sensitivity properly. The approach taken by dep is a hack and assumes that the file exists.

[2017-06-21 20:30] ianlancetaylor commented on #20745
I don't see a bug here.  Both `FieldByNameFunc` and `FieldByName` are behaving as documented.  `FieldByNameFunc` specifically does not ignore fields at the same level with the same name; it delegates to the function passed as an argument to decide whether the fields should be considered to have the same name.  `FieldByName` does ignore fields at the same level with the same name, as specified by t

[2017-06-21 20:30] #20745 closed

[2017-06-21 20:39] griesemer commented on #20352
@kjk Thanks for the Pirates of the Caribbeans reference; much appreciated! The Spec however defines the plot, and thus is more than just a guideline... :-)

Type aliases are crucial for refactoring at scale and arguably an oversight in the original design (I've commented on that at length in the type alias discussion). They were discussed in excruciating detail (in fact it will have taken a year f

[2017-06-21 20:48] rsc commented on #20352
The limited capacity of channels is an important source of backpressure in a set of communicating goroutines. It is typically a mistake to use an unbounded channel, because you lose that backpressure. If one goroutine falls sufficiently behind, you usually want to take some action in response, not just queue its messages forever. The appropriate response varies by situation: maybe you want to drop

[2017-06-21 20:54] rsc commented on #20352
@networkimprov, Type aliases did not happened because "Google engineers were asking for them". Rob, Robert, and I observed a recurring problem in managing large code bases and proposed a solution, to make Go more useful when scaling to large code bases, one of its explicit goals. We definitely did not communicate the motivation well enough in the initial alias proposal, and we tried to (and I thin

[2017-06-21 21:06] Capstan commented on #20689
I am surprised you can create an object with metadata that large. I was under the impression we enforced a 4KB limit on user-provided metadata.

[2017-06-21 21:06] ianlancetaylor commented on #20536
Sorry, reopening.  Offhand I don't know the answer to your question.  Is there a real problem here, or is this just theoretical?

CC @stjj89

[2017-06-21 21:09] cespare commented on #20711
Thanks very much @dr2chase and @randall77.

[2017-06-21 21:12] cespare commented on #20693
By the way, if it comes down to keeping or reverting df68afd07ce67727bcc2ad8e4afaa42dbcbf58e7 for 1.9, I'd vote to keep it. This benchmark isn't critical for us and the benefit of reduced allocs helps us as well.

[2017-06-21 21:14] Capstan commented on #20689
False impression. We currently don't enforce any limit.

[2017-06-21 21:30] ceseo commented on #15403
I have a question: what's the "correct" way of implementing this for architectures that do not have a cpuid instruction? For example, on ppc64x, we currently rely on HWCAP/HWCAP2 bits for that.

[2017-06-21 21:43] stjj89 commented on #20536
Right, certain media MIME types (e.g. data:image/* and data:video/*) are probably safe. However, html/template's URL filter is conservative by design, and accepts only the http, https, and mailto schemes.

You can get around the URL filter by passing your URL to html/template as a [template.URL](https://golang.org/pkg/html/template/#URL) rather than a plain string. This tells html/template that yo

[2017-06-21 21:47] kevinburke opened #20747 "x/build/cmd/coordinator: clean build fails"
from https://travis-ci.org/kevinburke/build/builds/245548241:

[code]

[2017-06-21 21:47] kevinburke commented on #20747
Working on a fix now.

[2017-06-21 21:47] robpike commented on #20717
Comment I added to CL:

I've changed my mind. This doesn't need careful documentation. It's a common pattern for code in runtimes - and other systems - to cause deliberate crashes when things are clearly not working.

To someone reading the code, it should be very clear that this code will cause a trap, and if the reader is not accustomed to reading runtimes, a glance to the line immediately prece

[2017-06-21 21:52] jimmyfrasche commented on #20744
I should add that when I did that they were languages that only had
"until end of line" comments so there would still be complications in
cases like fmt.Println(x /* + y */)

[2017-06-21 22:03] hirochachacha commented on #18358
Another approach is using `statfs`, but it has a portability issue.
Or we could polish `dep`'s implementation instead.
Previously, I wrote the code after looking into `dep` code.
[code]
I didn't test it well, but presumably it is more efficient than the original one.
In any case, it requires IO syscalls, I'm not sure a better way to handle IO errors.
Perhaps, fallback to GOOS approach?

[2017-06-21 22:04] randall77 commented on #15403
@ceseo, whatever the hardware provides, I guess.  If needed (if the instruction is expensive) we can call it once on process startup and cache the results in a global variable.
It can be more challenging if we have to test instructions & catch unimplemented faults, or ask the OS.  We can fight that hurdle if it becomes necessary.

[2017-06-21 22:08] #20711 closed

[2017-06-21 22:25] bcmills opened #20748 "runtime: signal handling: sighandler crash due to race with signal.Ignore"
In reviewing @ianlancetaylor's [CL 46003](https://golang.org/cl/46003), I noticed what I believe to be a rare race-condition that could result in unexpected termination of a Go program.

I attempted to write a reproducer for the race in question, which would cause the program to erroneously exit with a signal or panic if a `_SigKill` or `_SigThrow` signal arrives in between a call to `signal.Notif

[2017-06-21 22:34] bcmills commented on #20748
If we can fix the `SIGSEGV`, where I'm going with this reproducer is that I think we'll want to either combine the `runtime.sig.ignored` and `runtime.sig.wanted` arrays, or remove the `ignored` array entirely and use a single bit per signal to indicate "handled or ignored".

[2017-06-21 22:40] mahmoud commented on #13454
Bumping this, since it's we've seen it cause some failures in docker/docker-machine (17.05).

[2017-06-21 23:08] griesemer commented on #20744
@jimmyfrasche Thanks for the clarification. Because /* */ style comment can appear anywhere, they do add complexity as it's not always clear if they belong to the token before or after.

[2017-06-21 23:16] jimmyfrasche commented on #20744
Everything stores a position so it could be worked out, though that
makes it hard to preserve the comments when updating code with inline
comments.

[2017-06-21 23:21] azr commented on #20536
Ah okay thanks @stjj89 , so I guess making `data:image/*` and `data:video/*` 'safe' will never happen ?
The source is not that trusted but if I double input all should be safe enough, thanks again people for the answers.

[2017-06-21 23:29] #18593 closed

[2017-06-21 23:29] audathuynh commented on #20735
Indeed, I don't feel satisfied with the explanation of  @rsc .

I will be more happy if someone just says that it is a bug but we cannot fix, or frankly say that the current design of the library is bad and we cannot fix because of the promise of go1compat.
All of us want Go better and better, don't we?

XML is just a language to describe what we want.
Why don't we use the semantics of tags in an

[2017-06-21 23:29] meggamind commented on #20739
Can I pick this issue ?

[2017-06-22 00:10] mdempsky commented on #20739
@meggamind Thanks, but I already have a fix + general cleanup for the issue. I would suggest another issue.

You're of course welcome to still look into it if you're just looking for practice working on the compiler.

[2017-06-22 00:17] hnes commented on #10958
(: Coming from this [thread](https://groups.google.com/forum/#!topic/golang-nuts/8KYER1ALelg
), thanks Chris :)

I don't think it's a good idea at all just to insert some codes in any tight loops try to preempt. It will make the golang more slower and the model would be more harder to understand and harder to control. And this is maybe a region that golang should never "meddle in" with if golang w

[2017-06-22 00:49] velovix commented on #20717
I did not realize that this snippet existed more than once in the runtime. If it's a pattern, I can see why we wouldn't want a long comment block explaining it.

[2017-06-22 00:51] ianlancetaylor commented on #20536
Closing since it seems there is nothing to do.

[2017-06-22 00:51] #20536 closed

[2017-06-22 02:07] networkimprov commented on #20352
@rsc, it's fine to provide back-pressure if it can be detected efficiently; Posix has EWOULDBLOCK. From what I gather, select { ... default: } is not similarly inexpensive?

But the real problem with channel buffers isn't that they're not infinite, but that they're not dynamically allocated/allocable. This would seem to be easily fixed. One should be able to instantiate a large number of channels

[2017-06-22 02:51] rhysh commented on #14812
Use whichever metrictank commit works well for you. I wanted to be sure that I knew what commit was in play so I could correctly interpret the line numbers and call graph.

During the GC cycle, the program is spending a lot of time on GC assists. The arithmetic seems to work out: the assist ratio is around 20, the program is making megabyte-sized allocations, so it needs to do around 20MB of scan