[2019-11-21 18:15] cuonglm commented on #35752
`{` is an undefined environment variable, so `${` is expanded to empty string. I think it's working as intended. Environment variable is not the same as shell variable.

[2019-11-21 18:19] FiloSottile commented on #35722
Extension 5 is status_request. Starting in TLS 1.3 status_request can be sent as an empty extension in CertificateRequest to request the client send an OCSP response.

[code]

CertificateRequest extensions are new in TLS 1.3, and OpenSSL also got this wrong and broke down talking to Go (#34040). It looks like OpenJDK 11 is rejecting a spec-compliant behavior on our side.

@davidben have you seen t

[2019-11-21 18:20] laboger commented on #35749
I will try to reproduce the problem. I also agree it is curious that it only happens on the power9 builder, which has happened with other intermittent failures too.

I don't know if this is possible but if somehow the value for objabi.GOPPC64 is not set to power9 before all compiles start, and some are compiled for power8 but rebuilt later for power9 then the hashes wouldn't match.

[2019-11-21 18:25] hajimehoshi commented on #27234
@hyangah and I have discussed the plan and we realized that these points:

  * As the package generated by `gobind` is a **main** package, the module path doesn't have to start with FQDN.
  * `gobind` command needs to output `go.mod` at `[tmpdir]/src/gobind`. This `go.mod` will include appropriate dependencies along withe the given packages. This depends on the environment where `gobind` is execut

[2019-11-21 18:40] zx2c4 commented on #35482
@gopherbot remove release-blocker

[2019-11-21 18:50] laboger commented on #35749
The errlogs look strange, almost like the build hasn't even started yet. It doesn't display the line that says it is building go_bootstrap or even the one that provides the detail about the test run.

[2019-11-21 18:54] zikaeroh commented on #35326
With the indication that the kernel version matters, I went and tested with a few kernel version available on Arch.

Going back to LTS, which is currently:

[code]

I did not experience the `bexport` message after looping through `go vet` for ~20 minutes.

However, moving up to mainline, which is currently:

[code]

I got the message after a minute or so of looping.

[code]

So I doubt this will d

[2019-11-21 19:06] bcmills commented on #35732
The error message is correct. See https://golang.org/cmd/go/#hdr-Module_compatibility_and_semantic_versioning.

The `v1.9.1-0.[…]` version string is a [pseudo-version](https://golang.org/cmd/go/#hdr-Pseudo_versions) generated from the requested commit.

From the perspective of the `go` command, this is working as designed.

[2019-11-21 19:06] #35732 closed

[2019-11-21 19:06] Yhazaa opened #35754 "Lo"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
### ``
</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2019-11-21 19:08] #35754 closed

[2019-11-21 19:11] #35728 closed

[2019-11-21 19:11] dmitshur opened #35755 "x/build/cmd/gopherbot: understand why it removed release-blocker label"
gopherbot removed the release-blocker label in https://github.com/golang/go/issues/35482#event-2820741690.

Need to investigate and understand why it happened.

[2019-11-21 19:15] hyangah commented on #27234
The discussion was inhttps://go-review.googlesource.com/c/mobile/+/208077.

For step 1, I think you are almost done, right? Except the reverse binding. I realized that `go/packages` depends on `go list` underneath (unless a different driver is supported). Would be nice  if `gobind` users with different build systems can test and report issues if any.

For step 2, I'd argue that's part of `gomobile

[2019-11-21 19:23] jeffreydwalter commented on #27782
I know this is closed, but... we're up to [306 references to UnixMilli](https://github.com/search?l=Go&q=UnixMilli&type=Code) and [180 references to UnixMicro](https://github.com/search?l=Go&q=UnixMicro&type=Code) on github in public repos.

Where's the bar?

[2019-11-21 19:28] cespare commented on #35755
I believe that @zx2c4 asked gopherbot to remove the label. Then maybe he deleted his own comment?

![screen_20191121112737](https://user-images.githubusercontent.com/318501/69370027-f9bcb680-0c51-11ea-869e-6f64ee1f7e8b.png)

[2019-11-21 19:32] LucasjuvR opened #35756 "ParseInt defaulting to octal."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/lucasjuviniano/Lib

[2019-11-21 19:35] ALTree commented on #35755
Shouldn't the gopherbot only process "please add label" comments from the issue creator?

It seems weird that a user that 1) is not the OP of the issue 2) has no "add/remove label" permission on the repository, can ask gopherbot to remove labels.

[2019-11-21 19:37] cagedmantis commented on #35572
This master keys have been fixed and the documentation reflects it.

[2019-11-21 19:37] #35572 closed

[2019-11-21 19:38] ivmaykov commented on #35495
@FiloSottile there may be two different OIDs for RIPEMD-160. However, the OID specified in RFC4880 (the Teletrust one) is the same one that's used by OpenSSL when creating RSASSA-PKCS1-v1_5 signatures with RIPEMD-160 as the digest algorithm. So, I believe that using the ISO OID will generate signatures that are not compatible with OpenSSL. That OID is also used by at least one large HSM vendor (nC

[2019-11-21 19:40] jbizzle commented on #32703
Hi -- Did this break with [207598](https://go-review.googlesource.com/c/tools/+/207598)? IIUC, that [changed](https://go-review.googlesource.com/c/tools/+/207598/3/internal/lsp/protocol/tsprotocol.go#1885) `RenameProvider`'s type to `RenameOptions` from `interface{}`, and [the code which previously set the `true` value](https://go-review.googlesource.com/c/tools/+/207598/3/internal/lsp/general.go#

[2019-11-21 19:44] dmitshur commented on #35755
Thanks @ALTree, that's very helpful.

The intention is for gopherbot to [allow anyone to add or remove labels](https://github.com/golang/build/blob/ff18cb3e05eb0e1441839cd3f8173ba82a243146/cmd/gopherbot/gopherbot.go#L1521-L1523), as described at https://golang.org/wiki/gopherbot. There are some labels that are not allowed to be added/removed (see [here](https://github.com/golang/build/blob/ff18cb3

[2019-11-21 19:46] #35756 closed

[2019-11-21 19:49] cespare commented on #27782
More data: our internal time package has `UnixMilli` and `FromUnixMilli`. I counted up the calls:

| function | count |
|--|--|
| `time.Unix` | 39 |
| `time.Time.Unix` | 108 |
| `time.Time.UnixNano` | 51 |
| `timeutil.UnixMilli` | 281 |
| `timeutil.FromUnixMilli` | 128 |

So we want milliseconds much more often than we want seconds or nanoseconds.

[2019-11-21 19:50] networkimprov commented on #35482
I'm writing an app for multiple laptop platforms (Windows, MacOS, Linux) and want the same timer behavior across them. If the default behavior on Windows (or certain versions thereof) differs, I'd expect a switch to throw which aligns them.

That means a switch to let Windows 7 work like 8/10 and Unix, or vice versa. My current project could carry a runtime patch for this (I already need 2 stdlib

[2019-11-21 19:55] dmitshur commented on #35482
@zx2c4 Could you please elaborate on why you wanted to remove the release-blocker label?

We were going over release-blocker issues in a meeting, and because no one knew why it was removed, we thought it was a gopherbot bug and re-added it. We learned in #35755 that you requested it to be removed, but it wasn't visible to us at the time.

[2019-11-21 20:01] networkimprov commented on #35755
I'm the OP of that issue, and set the original release-blocker via gopherbot.

Since there's now the Backlog milestone, maybe anything milestoned for a release is effectively a release-blocker? Still, it's nice to see the big red flag in issue lists.

Tangentially, it's difficult/impossible to add the "help wanted" label via gopherbot, due to the space character. Maybe that could be renamed.

[2019-11-21 20:01] dmitshur opened #35757 "x/build/cmd/gopherbot: add/remove label functionality can be confusing if original comment is deleted"
`gopherbot` allows anyone to add or remove labels, as described at https://golang.org/wiki/gopherbot. Normally, it's possible to see who made the label add/remove change because of the comment requesting it. However, if that comment is deleted, it looks like gopherbot did it on its own, and it's not easy to find out why:

![image](https://user-images.githubusercontent.com/1924134/69372489-cbe66a80

[2019-11-21 20:09] zx2c4 commented on #35755
I asked gopherbot to do this.

[2019-11-21 20:13] dmitshur commented on #35755
Thanks @zx2c4. I made #35757 about finding a way to improve it so that it's more clear when that happens. I left a [comment on the original issue](https://github.com/golang/go/issues/35482#issuecomment-557246805) to give you more context on why we re-added the label.

@networkimprov Have you seen https://golang.org/wiki/gopherbot#addingremoving-labels? It describes how to work with labels containi

[2019-11-21 20:13] zx2c4 commented on #35482
Sleep was broken.

We patch Golang.

Oh, whoops, didn't think that'd be a big deal. The actual release-blocker bug is the docker issue somebody reported earlier -- #35447. Breaking docker seems very bad. This thread here, on the other hand, is some bikeshedding on if we should change Go's behavior from how it was originally designed way back when to something new and different. Not sure why this d

[2019-11-21 20:14] #35690 closed

[2019-11-21 20:16] tatianab opened #35758 "crypto/tls: add support for exported authenticators"
Proposal to implement support for exported authenticators in `crypto/tls` as described in [draft-ietf-tls-exported-authenticator-10](https://tools.ietf.org/html/draft-ietf-tls-exported-authenticator-10). I'm happy to write a CL for this.

cc @grittygrease @wbl

[2019-11-21 20:17] networkimprov commented on #35755
Testing...

@gopherbot add help wanted
@gopherbot add OS-Windows, OS-Linux

[2019-11-21 20:18] bcmills opened #35759 "cmd/go: panic when computing Shlib path for a test-only package"
I discovered a panic while investigating #30316.

[code]

CC @ianlancetaylor @jayconrod

[2019-11-21 20:24] dmitshur commented on #35755
I don't think editing an existing comment is supported. Let me try a new comment.

@gopherbot remove help wanted
@gopherbot remove OS-Windows, OS-Linux

[2019-11-21 20:28] stamblerre commented on #35564
So, to summarize this issue, we need 2 key fixes for `gopls check`:

1. Errors sent by `window/logMessage` should be shown to the user.
2. There needs to be some consistent way that `gopls` can tell the user that it is done sending diagnostics for the file in question.

@ianthehat is going to take a look at implementing these fixes.

[2019-11-21 20:32] paulvollmer commented on #34293
@rsc yes, i think this should provide the machine readable data i had in mind. let me know if i can help working on that task.

[2019-11-21 20:39] jstarks commented on #35482
I think it's disrespectful to brush this issue off as bikeshedding. I don't mind if you clear the release blocking tag (I didn't add it), but discussing the technical merits of a bug fix that you implemented is anything but bikeshedding.

[2019-11-21 20:43] FiloSottile commented on #24254
I tried to put together a change, and due to how the encoder works, it's not actually trivial. This was my fault for not doing it earlier, sorry. Since there is a workaround (sorting the sequence in your application code), let's push to Go 1.15.

[2019-11-21 20:48] networkimprov commented on #35482
So we have a likely near-term solution:
a) revert the patch in question,
b) provide a switch and/or fix to align Win7 with the other runtimes,
c) WireGuard can patch its runtime as it does for other platforms.

[2019-11-21 20:51] myitcv opened #35760 "cmd/compile: random compile error running tests"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +0ac8739ad5 Mon Nov 18 15:11:03 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
G

[2019-11-21 20:52] jayconrod commented on #35759
Possible duplicate of #34347

[2019-11-21 20:52] bcmills commented on #35759
Ooh, nice find!

[2019-11-21 20:58] gfl-chris commented on #35752
It's not and it shouldn't. The code [here](https://golang.org/src/os/env.go#L87) points out that `${` is bad syntax. I guess what I'm trying to say is that it shouldn't be "eaten."

Concrete example: Running ExpandEnv over a YAML file whoselast line looks like this:
[code]
will, IMHO, clobber the password.

[2019-11-21 20:59] laboger commented on #35749
I found that the old power9 builder was still active out in the farm (not running Docker). Not sure but maybe these errors were happening if that buildlet was being used, since the error happened intermittently. Carlos has shut down that buildlet and we will see if that makes a difference.

[2019-11-21 21:13] jeremyfaller commented on #34774
Is this a flaky, or repeated? Judging from it's infrequency occurrence, it looks a flaky??

I can't see any new reason for this test to fail.

[2019-11-21 21:19] maj-o commented on #27605
@deanveloper: oh yes, this (#35307) takes the wind out cosmos72 long posts. if simd, misd ... would work, then the compiler could perfectly optimize

a+b+c

of any type. That would be much better then internal variables or how old peaple would solve this problem stack pushes and pops.

[2019-11-21 21:20] zikaeroh commented on #35760
Very, very similar to #35621 in particular, but it too is in that same set of memory-corruption items. In #35621, `n.Type` was zeroed, but in yours, `n.Op` was.

Out of curiosity, what is your kernel version? (https://github.com/golang/go/issues/35326#issuecomment-557125105)

[2019-11-21 21:24] bcmills commented on #34347
I'm not able to reproduce this specific failure mode. However, I have a fix for #35759, which seems closely related.

[2019-11-21 21:33] rkollar commented on #35750
I would like to note that this _could_ have some security implications. A large number of connections will eat both CPU and memory. For example: ![context.propagateCancel](https://user-images.githubusercontent.com/10644651/69378451-ae84c100-0cae-11ea-849b-66c641766d10.png))

[2019-11-21 21:35] turtletowerz opened #35761 "proposal: flag: support comma-separated flag aliasing"
One trait a majority of popular command-line applications have is their support for shorthand notation of flags. For example, [ffmpeg](https://ffmpeg.org/ffmpeg.html) allows for the use of `-c`, which is shorthand representation of the `-codec` flag. The user can choose between a shorter flag or one that is more clear/well-defined

Currently with the `flag` package this is not possible, and instea

[2019-11-21 21:37] bradfitz commented on #35750
@rkollar, no need to convince me of its importance; I was already planning to backport this to previous releases. I'm just waiting on a test in that PR/CL. I can take the change over if you'd like.

[2019-11-21 21:48] rkollar commented on #35750
@bradfitz I'm already working on it, but it's my first submission and I have to go over the existing tests to learn what are the conventions. You can take over if you don't want to wait.

[2019-11-21 22:02] dayadev opened #35762 "go get on a module gets incomplete files in to go/pkg/mod"
### What version of Go are you using (`go version`)?

<pre>
go version go1.13.4 darwin/amd64

</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
GO111MODULE=""
GOARCH="amd64"
GOEXE=""
GOFLAGS="-insecure"
GOHOSTARCH="amd64"
GOHOSTOS="darwin

[2019-11-21 22:17] kav commented on #31513
If they couldn't handle _learning_ functional methods in Java 8 they'll probably never _learn_ Go either right? ;)

Everything is harder to use if you've never used it before. If we let that stop us we certainly wouldn't be using _computers_

[2019-11-21 22:20] #35665 closed

[2019-11-21 22:27] mdempsky commented on #35721
@heschik FYI, I just rebased CL 33677 and fixed merge conflicts. I verified that tests still pass, but haven't done anything more extensive than that.

I don't see CompiledGoFiles when I run `go list -json net` though. Is cmd/go supposed to be running cmd/cgo?

[2019-11-21 22:28] mdempsky commented on #35721
Nevermind. Read the docs and realized it needs to be invoked as `go list -json -compiled net`.

[2019-11-21 22:32] jayconrod commented on #35435
For anyone tracking this issue, this was a bug in the test, not in the `go` command. The test was comparing a binary built from a list of source files with a binary built from a named package. Those aren't necessary (or actually) identical.

[2019-11-21 22:34] Segflow opened #35763 "cmd/compile: return LITERAL on INDEXMAP when map and key are LITERALs"
Given
[code]

When compiled, the compiler will add the different map initialisations methods and assign the different values, then call `mapaccess1`.

I believe this should not be the case when the map is an OMAPLIT and the key is a LITERAL defined in the map.

The compiler at compile-time can detect this and change the INDEXMAP operation to LITERAL.

The above code should be similar to this one:

[2019-11-21 22:53] zx2c4 commented on #35482
That solution is unacceptable and will reintroduce the timerbucket stalling bug we had prior, reported by somebody else.

[2019-11-21 23:04] tv42 commented on #33926
I don't see how `-modfile` would remove a need for something like `tools.go`. Something needs to list all the modules that are needed, so a module file doesn't get add/remove churn. If anything, using `-modfile` would make using a `tools.go` for that impossible.

What I've done to isolate tool deps from main deps is to put the tools in a subdir with its own `go.mod`. This can make using some tools

[2019-11-21 23:08] mdempsky commented on #35721
I think `cmd/go` will need a new flag to indicate that you want the unprocessed versions of CgoFiles rather than the processed versions. Old tools might not be able to handle the processed versions, and we can't just break those. I'm not sure what the best way to control this is.

However, for the short term, here's what I think you can do within `go/packages`:

1. CompiledGoFiles consists of (in

[2019-11-21 23:12] aclements commented on #35326
More observations:

Enabling the stress testing mode doesn't obviously make this occur more often.

The corruption of the package version is already in the `p.buf` byte slice before `rawStringln` converts it to a string. So it's not related to the string conversion itself.

Matching up vet's dump of the header with the actual file contents, it's usually the first 32 bytes that are corrupted, but I

[2019-11-21 23:12] mknyszek commented on #35580
Found the problem. It's that the page cache was hiding memory from the scavenger (which is intentional). Just uploaded a fix to the test to account for that.

[2019-11-21 23:14] bradfitz commented on #35750
@gopherbot, please backport to Go 1.13.

[2019-11-21 23:14] gopherbot opened #35765 "net/http: Server.ConnContext accidentally modifies context for all connections [1.13 backport]"
@bradfitz requested issue #35750 to be considered for backport to the next 1.13 minor release.

[2019-11-21 23:15] #35750 closed

[2019-11-21 23:16] aclements commented on #35326
Progress: I set `runtime.useAVXmemmove` to false and it took orders of magnitude longer to reproduce any crash in vet. When it did eventually fail with a bad format version, the first 256 bytes were corrupted.

The AVX memmove does use registers that we don't save in asyncPreempt, but since it lives in the runtime, in theory we shouldn't be preempting it (the signal should just return if it lands

[2019-11-21 23:25] mdempsky commented on #35721
https://go-review.googlesource.com/c/tools/+/208264 is an ugly hack to do the above. It passes `go test`, but I haven't tried using it with gopls.

[2019-11-21 23:27] networkimprov commented on #35482
d) fix timerbucket stalling on Win8/10 with QueryUnbiasedInterruptTime(), per https://github.com/golang/go/issues/31528#issuecomment-500270601

[2019-11-21 23:55] andybons commented on #28365
`Error: 502 Bad Gateway; body: (golang.org/issue/28365): gomote proxy error: Get http://macstadium_host04a/tgz?dir=pkg&pargzip=0: EOF`

[2019-11-21 23:57] mdempsky commented on #35721
Updated CL 33677 for parity with CL 43970.

With CL 33677 and CL 208264 in place, I can run:

[code]

and confirm that it's processing the original .go sources, and it's type-checking okay.

[2019-11-21 23:59] bradfitz commented on #28365
@andybons, I suspect that's a different problem but not sure.

[2019-11-22 00:00] andybons commented on #28365
My comment was a local issue. Sorry for the spam.

[2019-11-22 00:01] mdempsky commented on #35721
@heschik I think CLs 33677 and 208264 should be in good shape if you want to play with them in the context of gopls.

[2019-11-22 00:09] nhooyr commented on #21699
Going to close as it has been a long time and I'm not sure if this is relevant anymore.

[2019-11-22 00:09] #21699 closed

[2019-11-22 00:26] nhooyr commented on #32371
Some exciting updates from @klauspost in https://github.com/gorilla/websocket/issues/203#issuecomment-552105173

[2019-11-22 00:38] dmitshur opened #35766 "x/exp/shiny/driver/mtldriver: build failure on darwin-amd64-10_15 builder"
The new Catalina builder is failing because a dependency is emitting a Cgo warning (which is promoted to an error on builders):

[code]

_(Source: https://build.golang.org/log/238e8eb181231f6c5ead1a2159a5544c2b8aef46.)_

The fix will be to update to `github.com/go-gl/glfw/v3.3/glfw` once it becomes available. The newer GLFW version should have this problem resolved.

[2019-11-22 00:42] ridersofrohan commented on #34496
Commit [0a3398](https://github.com/golang/tools/commit/0a33398bd99d3bc1734cb619084d261e3a74f147)

Improved tests for highlights by allowing you to specify what should be highlighted for each mark. Also fixed issue [#2785](https://github.com/microsoft/vscode-go/issues/2785).

[2019-11-22 00:43] ridersofrohan commented on #34496
Commit [66c5a5](https://github.com/golang/tools/commit/66c5a5ad765973056b61480fe9a4cba406ebda4d)

Adds control flow highlighting within for loops.

[2019-11-22 00:54] caseybarker opened #35767 "os: File.Seek() not resetting directory reads on MacOS Catalina"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
This is the latest.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/cb

[2019-11-22 00:55] andybons commented on #35459
Confirmed that a toolchain built using the new 10.15 builder with Xcode installed and no changes to the min deployment target gets rid of the warning from `codesign` when validating the `go` command.

[code]

The issue may or may not affect notarization, since the min SDK version is still being set to 10.10 for the `go` command no matter what builder we’re using (I was misreading the Mach-O header

[2019-11-22 01:18] davidben commented on #35722
I haven't, though we don't send status_request in CertificateRequest. I agree with you that rejecting the extension in CertificateRequest is non-compliant. Although it's unclear to me what 'empty "status_request" extension' in RFC 8446 is trying to say, since a "semantically empty" status_request extension isn't quite empty.
https://tools.ietf.org/html/rfc6066#section-8

I suspect this is a mistak

[2019-11-22 01:58] Haiyung commented on #27332
vote +1

[2019-11-22 01:59] Haiyung commented on #27332
vote +1

[2019-11-22 03:06] #35695 closed

[2019-11-22 03:10] mattn opened #35768 "proposal: flag: Add MaxArgs and MinArgs to check for required number of arguments"
Current implementation of flag does not have a way to check whether the meaningless arguments are given. We must check with NArg() == 0 in our self. but afaik most of applications does not do the check.
[code]
[code]
I guess there are many applications which does not check maximum count of arguments. So I suggest that flag add simply two fields MinArgs/MaxArgs to check count of arguments.

[code]

[2019-11-22 03:12] fhs commented on #35456
Not sure if this is related, but `cmd/vet` crashed from a trap signal in a [trybot run](https://storage.googleapis.com/go-build-log/d422779a/plan9-386-0intro_9b2547d7.log):
[code]

[2019-11-22 03:24] ianlancetaylor commented on #35768
This seems to me to mix flag handling with other argument handling.  The flag package is for flags, not for general purpose argument handling.

[2019-11-22 03:25] ianlancetaylor commented on #27332
@Haiyung This issue is closed.  Also, please see https://golang.org/wiki/NoPlusOne.  Thanks.

[2019-11-22 03:35] cuonglm commented on #35752
Hmm, it's also not consistent, since when we can do `os.Setenv("{", "foo")` then `os.Getenv("{")` will return `foo`, but `ExpandEnv` does not.

I think it's better to just improve the document of `[ExpandEnv](https://golang.org/pkg/os/#ExpandEnv)` to indicate that the expansion follow the rule of shell expansion, invalid syntax will return empty string.

[2019-11-22 03:45] ianlancetaylor commented on #35743
The test is only seeing the cgo backtrace because it's trying to backtrace from the signal handler.  The test does not expect that to happen, as there is no signals involved.  So this may have been caused by signal preemption, somehow.  Perhaps the test should disable signal preemption, although it's hard to know for sure since I can't recreate the problem myself.

[2019-11-22 03:45] ianlancetaylor commented on #35713
Please do report bugs.  Thanks.

[2019-11-22 03:52] colortell opened #35769 "How to load .framework on MacOS with golang"
<pre>
$ go SDK version 1.13
$ Platform MacOS 10.14
</pre>
I have tried "plugin-Open" function, but it warns ".framework is not a file..." thanks ...

[2019-11-22 03:56] stamblerre commented on #35551
Glad this is resolved. Thanks, @zikaeroh! Just as a note, running `gopls` at master is not recommended because there can be breakages.

[2019-11-22 04:02] ianlancetaylor commented on #35741
This means that `epoll` returned `EPOLLERR` as an event for the file descriptor in question.  I don't really see how that is possible here.

[2019-11-22 04:11] ianlancetaylor commented on #35307
@scott-boyce Adding options to `make` is not simple.  I want to stress that we are unlikely to make the language more complex so that it can support vectorized loops.  We're happy to make Go code run as fast as possible, by making the compiler and runtime complex if necessary.  We're not interested in making the language more complex in order to make it run faster.

@IanTayler 's suggestion of a v

[2019-11-22 04:22] ianlancetaylor commented on #33617
I don't see how it is possible to change `filepath.Match` for this, as `filepath.Match` is only text based.

(That is of course an argument for not changing `filepath.Glob`, which is currently defined in terms of `filepath.Match`.)

[2019-11-22 04:25] ianlancetaylor commented on #35715
We could have `go install` install all headers for imported packages, even without `-i`.  That would be a change in behavior, but only for packages that are not `main` but have exported functions, which is an uncommon case.

[2019-11-22 04:46] stamblerre commented on #32703
Thanks for pointing this out. I mailed the above CL to fix it, and if it gets changed the next time the protocol is generated, we will be able to pick up the breakage in the new test.

[2019-11-22 05:33] networkimprov commented on #34622
I'm sorry, that's not what I meant to imply.

I find it distressing to make an argument which I know to be true, and not hear any agreement. To top it off, now I've been admonished. I'm mystified on both counts :-/

[2019-11-22 05:46] fsouza commented on #35737
@bcmills I've started working on this, I have a reproducer script in the main repo and a proposed fix in x/mod.

I haven't used gerrit in a while though, let me know if I do anything wrong 🙈

[2019-11-22 06:04] networkimprov commented on #35358
@ianlancetaylor is there a reason O_DIRECT wasn't included in pkg os?
As it happens, I now need it for a directory backup feature.

[2019-11-22 06:18] #26861 closed

[2019-11-22 07:09] jbszczepaniak commented on #32875
I will jump into `Highlight`

[2019-11-22 07:10] mdlayher commented on #35769
Please see https://github.com/golang/go/wiki/Questions. Thanks.

[2019-11-22 07:10] #35769 closed

[2019-11-22 08:15] vanrein commented on #24254
This MUST then be documented quite vigorously.

IMHO this is not a reasonable workaround.  You are passing complexity outside the API that is supposed to conceal it, for mere reasons of implementation effort.  Applications will not (all) do this and this delaying approach will only make the stampede of Go's incompatibility continue.  Please put in the effort to be standards compliant, like the oth

[2019-11-22 09:12] mullerch opened #35770 "os/user: "GroupIds requires cgo" when building for linux/arm with tag osusergo"
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.13.4 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
λ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\chris\Ap

[2019-11-22 09:17] FiloSottile commented on #35758
Hello @tatianab, this is not something we are likely to implement for the time being.

* Go likes to wait until things mature and gain enough adoption to justify their complexity, and we basically never implement draft standards.

* Before moving to a CL, we'd have to discuss what a safe and useful API looks like.

* I haven't checked the draft in a long time, but I thought the point was to levera

[2019-11-22 09:27] FiloSottile commented on #35311
Not an RFC yet, and we never implement drafts. Also, we usually wait until there is wide ecosystem support before implementing things.

Then there are the two fundamental questions: what does a good API for it look like, and are Go deployments going to benefit from this enough to justify the complexity.

[2019-11-22 09:39] FiloSottile commented on #24254
To be clear, I'm not saying we shouldn't fix this. Of course we shouldn't generate non-DER. I'm saying I failed to do so before the tree froze, and the change is not small enough to merge after the freeze. If you want to make sure this is fixed in Go 1.15, you can also make a CL.

(By the way, this issue is as old as encoding/asn1, but was reported only last year. There isn't a strong argument for

[2019-11-22 10:49] myitcv opened #35771 "runtime: "fatal error: mSpanList.insertBack" in mallocgc"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +0ac8739ad5 Mon Nov 18 15:11:03 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
G

[2019-11-22 10:51] andrewtar opened #35772 "x/tools/gopls: bazel"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2019-11-22 10:52] fd0 commented on #35717
@dmitshur do you think it's worth investigating the odd behavior I discovered? I can create new issue for that if needed.

[2019-11-22 10:52] andrewtar commented on #35772
Sorry. Error was created accidentally.

[2019-11-22 10:52] #35772 closed

[2019-11-22 10:54] mvdan commented on #35658
I just hit it one time, sorry. Perhaps the compiler devs can easily spot a reproducer and fix from the panic trace. If not, I will try to provide a reproducer.

[2019-11-22 11:22] vasilevp commented on #23148
There can still be `vendor` in module mode though

[2019-11-22 12:13] ardaguclu commented on #34659
I can look at the issue, unless nobody else does.

[2019-11-22 13:49] bcmills opened #35773 "runtime: TestStackWrapperStackPanic failure on windows-amd64-2016"
https://storage.googleapis.com/go-build-log/07ca05df/windows-amd64-2016_8338c7a2.log

[code]

CC @aclements @cherrymui @mknyszek @danscales

[2019-11-22 13:49] bcmills commented on #35773
Marking as release-blocker since `runtime.asyncPreempt` is involved. (We can re-evaluate that once we better understand the root cause.)

[2019-11-22 13:51] bcmills commented on #35771
This looks like a runtime bug. Might be related to the new bitmap allocator.

Thanks for the report!

[2019-11-22 13:54] bcmills commented on #35760
CC @dr2chase

[2019-11-22 13:58] bcmills commented on #35762
Each `go.mod` file defines the boundary of a new module. So the module at the root does not contain the two other modules in the repo: they share a common prefix, but are independent modules.

We've found that for most developers, it is simplest to stick to a single module per repo.

[2019-11-22 13:59] bcmills commented on #35762
We definitely need to improve the documentation for this, but it appears that the tooling is working as designed.

[2019-11-22 13:59] bcmills commented on #35762
Duplicate of #33637

[2019-11-22 13:59] #35762 closed

[2019-11-22 14:05] stamblerre commented on #32875
@jbszczepaniak: I believe that Highlight has already been handled by https://go-review.googlesource.com/c/tools/+/207291. I just haven't had a chance to review it yet.

[2019-11-22 14:15] Lekensteyn commented on #35722
The change that adds "empty status_request" was done in https://github.com/tlswg/tls13-spec/pull/910/files, but I can't exactly remember the reason for doing it. The PR lacks a discussion too. My guess is that the change was done based on a misreading or observed implementation behavior.

When the CH includes status_request with CertificateStatusRequest, the server should reply with a SH status_re

[2019-11-22 14:24] bcmills commented on #35715
Maybe, but the import itself seems like a bit of a non-sequitur: if the C code is using identifiers from package `a`, then it seems like the build process should mention package `a` rather than some other package `b` that happens to import `a`.

On the other hand, I suppose that the C library must link against some (shared or archive) file generated from a `main` package, so having `go install` ge

[2019-11-22 14:32] #35538 closed

[2019-11-22 14:34] dayadev commented on #35762
Are you saying that we also need a module at the root with the prefix `module.com/modulelib`

[2019-11-22 14:35] hyangah commented on #14041
I hoped we could find a way to use the same readline library as the upstream pprof uses before closing. But I don't think that's critical at this moment. Closing.

[2019-11-22 14:35] #14041 closed

[2019-11-22 14:36] rsc commented on #34713
As a heads up, over in https://github.com/golang/go/issues/34536#issuecomment-556907348 and the next comment, I suggest that we backport this change after all, unless it is completely infeasible or inappropriate. "Upgrading to 1.13 will be a valid workaround" is inconsistent with the current release policy. Discussion should probably be on #34536 though, not here.

[2019-11-22 14:38] pontusntengnas commented on #34312
I believe I experience the same issue. No matter what i bind, the framework is "not found" by Xcode. Even though there is an actual framework produced as output by gomobile bind.

[2019-11-22 14:39] jayconrod commented on #33926
I expect that a file used with `-modfile` would have much less churn. It wouldn't be necessary to run `go mod tidy` all the time.

[2019-11-22 14:41] miguelut commented on #35762
Yeah @bcmills in the example there is no `go.mod` file at the root.  The situation doesn't seem to match up with your response.

Unrelated -- I understand that the "official" recommendation is to host one module per repo, but this is impractical for some enterprises due to policy and political reasons that require use of, for instance, a mono-repo.

[2019-11-22 14:41] bcmills opened #35774 "sync: apparent deadlock in TestWaitGroupMisuse3"
Looks like there has been a recent regression in `sync.TestWaitGroupMisuse3`.

It's not obvious to me whether this is a bug in the test itself, or a bug in the runtime (or the `sync` package) exposed by the test.

[code]

[2019-11-21T23:15:28-bbbc658/linux-amd64-noopt](https://build.golang.org/log/f5f8a1655875a5b01eb915fc00d14638aae0d343)
[2019-11-03T01:44:46-d2c039f/openbsd-amd64-62](https://buil

[2019-11-22 14:42] mvdan commented on #33926
You can also imagine trivial use cases like `//go:generate go run -modfile=tools/mytool.mod github.com/whatever/mytool args...`. And if you change the version and want to tidy, `go mod tidy -modfile=tools/mytool.mod` would probably work.

[2019-11-22 14:42] bcmills commented on #35774
Hmm, the first failure predates [CL 206180](https://golang.org/cl/206180), so that can't be implicated...

[2019-11-22 14:46] davidben commented on #35722
I suppose, worst case, we can always give up on `status_request` in CertificateRequest and allocate `status_request_oops_lets_try_that_again`. :-)

[2019-11-22 14:51] hyangah commented on #35699
Even though I don't think go cli version is more private than what proxy protocol already carries, I understand @rsc's concern about the trend and agree that we need to keep the kind of info sent to the proxy/origin at the minimum (only those necessary for the functionality).

I am fine with withdrawing this proposal - enterprises can track the tool usage with a better and more reliable mechanism

[2019-11-22 14:51] mengzhuo commented on #35541
@cherrymui
The PAGESIZE setting of this builder is 16384 bytes and
0xc000346000 % 16384 = 8192

It looks like some bug of mpagealloc?

[2019-11-22 14:51] miguelut commented on #35762
I would also add some additional context to this which I'm not sure is relevant -- the repo @dayadev is using is an internal enterprise repo (Stash) which is running on a non-standard port (8443).  So we wrote a small "meta tag server" which sits at "module.com" which serves up the meta tags as we understand them based on [this article](https://medium.com/rungo/anatomy-of-modules-in-go-c8274d215c1

[2019-11-22 14:51] bcmills opened #35775 "runtime: Windows binaries built with -race occasionally deadlock"
Starting in November, there appears to be a dramatic uptick in the number of test timeouts on the `windows-*` builders.

Many of these are for tests that normally run nearly instantaneously, such as `archive/tar` and `bufio`.

[2019-11-22T03:06:22-0e02cfb/windows-amd64-race](https://build.golang.org/log/66ef61be89bbf812f7e0eaecb9a2d43b173e91a8)
[2019-11-21T22:20:17-94e9a5e/windows-amd64-race](http

[2019-11-22 14:53] bcmills commented on #35773
[2019-11-21T14:55:12-8bbfc51/windows-amd64-2008](https://build.golang.org/log/f8ab2039cd66285c3cb46fbff33aee830ae73db1)

[2019-11-22 14:58] bcmills commented on #35775
I suspect that the same root cause is responsible for apparent deadlocks in the `os/exec` test.
[2019-11-22T04:26:34-95be9b7/windows-amd64-2008](https://build.golang.org/log/af765918ac0a8e74763649cef1cbdbd3d508724b)
[2019-11-21T22:20:17-94e9a5e/windows-amd64-2012](https://build.golang.org/log/c4937618b224c06f97691b67b60ba31118597c6d)

[2019-11-22 14:58] mvdan opened #35776 "cmd/dist: I/O error: read src/xxx.go: is a directory"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

I was trying to build master at 95be9b7559e5df1b2cb6b18b517f4f20de5b99a4. I of course cannot run `go version` right now.

### Does this issue reproduce with the latest release?

Not that I've seen. Never encountered this error before.

### What operating system and processor architectur

[2019-11-22 14:59] myitcv commented on #35689
Just to point out one thing that I have observed as an uninformed reporter of these bugs: I only ever see these problems immediately after (~1 sec) starting a command, e.g. `go test`. That is to say if I _don't_ see an initial error (like any of those that I have reported), I won't see one.

[2019-11-22 15:06] aclements commented on #35689
@myitcv, what kernel version and distro are you running?

@danscales, failing to restore rax seems really unlikely. I think this is a cascade from some earlier corruption. Though my hunch is that earlier corruption has to do some register corruption.

[2019-11-22 15:06] bcmills commented on #35776
Just a hunch, but it sounds like memory corruption to me.

(No occurrences of this failure mode in the dashboard, and we've got a bunch of other open bugs that seem to indicate memory corruption somewhere in the runtime and/or compiler.)

CC @ianlancetaylor @aclements @randall77

[2019-11-22 15:08] aclements commented on #35621
@zikaeroh, I assume this is on the same 5.3.x kernel as you reported in #35326? If so, this is almost certainly the same issue (though having more data points is useful).

[2019-11-22 15:09] KevinJCross commented on #35179
I like the trailing error but what about this syntax below ?
[code]
where the try is a generated compiled "generic function" that bails on the first non nil returned error
Then you can think about function refs things like this:
[code]

[2019-11-22 15:11] aclements commented on #35592
This is almost certainly the same issue as #35689. Note the similarity between the bad words at the top of the stack (478882bf1e330a7e, d32669b5054179d9, etc) and the bad pointers in the stack trace from #35689 (637469796d2f656d).

My guess is that this is related to Linux 5.3.x, but waiting for confirmation in #35689.

[2019-11-22 15:11] aclements commented on #35658
@mvdan, I assume this is on the same 5.3.8 kernel you reported in #35326?

[2019-11-22 15:12] mvdan commented on #35776
Yep, two of the memory corruption bugs @josharian listed a few days ago are mine, so it's certainly a possibility.

[2019-11-22 15:12] bcmills commented on #35770
The error message `user: GroupIds requires cgo` implies that the build _is not_ using the `cgo` implementation. It comes from here:
https://github.com/golang/go/blob/a38a917aee626a9b9d5ce2b93964f586bf759ea0/src/os/user/lookup_stubs.go#L70

So the question is, why were you _not_ getting that error on 1.12?

(What are the exact commands that you ran, and the results using `go1.12.13` and `go1.13.4`

[2019-11-22 15:16] mvdan commented on #35658
Yes, I've been on a 5.3.x kernel since early October. I'm on 5.3.12 now, and if memory serves right, I should have been on 5.3.11 when this was filed.

[2019-11-22 15:17] bcmills commented on #35762
Yes, that is quite possible. Perhaps the `import-prefix` portion of your `<meta name="go-import" […]>` tag is listing the full module path instead of the path corresponding to the root of the repo?

[2019-11-22 15:24] aclements opened #35777 "runtime: memory corruption on Linux 5.2+"
We've had several reports of memory corruption on Linux 5.3.x (or later) kernels from people running tip since asynchronous preemption was committed. This is a super-bug to track these issues. I suspect they all have one root cause.

Typically these are "runtime error: invalid memory address or nil pointer dereference" or "runtime: unexpected return pc" or "segmentation violation" panics. They can

[2019-11-22 15:25] aclements commented on #35658
Thanks for confirming. I'm going to fold this into the memory corruption super-bug I just created and close this one since no one has been able to reproduce this specific failure.

[2019-11-22 15:25] #35658 closed

[2019-11-22 15:32] mknyszek commented on #35771
@myitcv Thanks!

@bcmills The span is indeed coming out of the new allocator, but the problem here is that its' `next` field is non-nil. And in fact, it's some really bizarre value (`0x4115c774f9191e87`) which doesn't look like it's any range familiar to me. In that way, it's similar to some of the other bugs (and the value is equally bizarre there as well). The span pointer itself looks reasonabl

[2019-11-22 15:35] myitcv commented on #35689
@aclements - you have the correct details for me in https://github.com/golang/go/issues/35326#issuecomment-557125105.

If it's relevant, I'm running this in a VMWare Fusion virtual host atop macOS 10.12.6. I can of course provide any more details you need.

[2019-11-22 15:35] mvdan commented on #35777
@aclements for your records, https://github.com/golang/go/issues/35328 and https://github.com/golang/go/issues/35776 might be related. Those two were on the same Linux 5.3.x machine of mine.

[2019-11-22 15:51] aclements commented on #35689
Ah, thanks. I'm losing track of who's reported what. I'll add this to the super-bug (#35777).

I suspect the VMWare isn't relevant, but that's good to know.

[2019-11-22 15:51] aclements commented on #35689
Any chance you're able to reproduce this?

[2019-11-22 15:51] miguelut commented on #35762
@bcmills Bingo.  There either isn't another source that says that or it's so deeply buried that we missed it in the voluminous guides/articles/specs we've read over the past week or so.  Appreciate the insight!

[2019-11-22 15:53] bcmills commented on #35762
The prefix detail is described at https://golang.org/cmd/go/#hdr-Remote_import_paths, but that's admittedly pretty deeply buried. (We've got some doc cleanup to do...)

[2019-11-22 16:04] aclements commented on #35328
Thanks. I'll fold this into the memory corruption super-bug. I'm going to close this issue since nobody has been able to reproduce it.

[2019-11-22 16:04] #35328 closed

[2019-11-22 16:04] aclements commented on #35776
Folding into the memory corruption super-bug.

[2019-11-22 16:04] #35776 closed

[2019-11-22 16:05] aclements commented on #35777
Thanks @mvdan. I've folded those into the list above.

[2019-11-22 16:05] #35580 closed

[2019-11-22 16:10] myitcv commented on #35689
Unfortunately not. All of the instances I have reported have been totally random and unreproducible.

The other "feature" I observed was noted in https://github.com/golang/go/issues/35689#issuecomment-557563424. i.e. I have only seen issues during the compile step of running `go test`. Once everything is compiled and running, no other observed runtime issues (although I will say the tests in quest

[2019-11-22 16:11] zikaeroh commented on #35621
Yep, that's correct. I was just about to comment on your mega issue with a link here.

[2019-11-22 16:12] andybons opened #35778 "x/build/cmd/coordinator: gomote create doesn't work with older gomote clients"
[code]

@dmitshur @cagedmantis @bradfitz @toothrot

[2019-11-22 16:12] zikaeroh commented on #35777
#35621 from me. One time, no repro.

[2019-11-22 16:14] jbszczepaniak commented on #32875
O, I see, right. It seems that these are yet to be done.

- Completion
- CompletionSnippet
- UnimportedCompletion
- DeepCompletion
- FuzzyCompletion
- CaseSensitiveCompletion
- RankCompletion

I will take from the list - `Completion`

[2019-11-22 16:14] aclements commented on #35771
Folding in to memory corruption super-bug (#35777) because this definitely looks like memory corruption, and because the pointer value looks like a random bit pattern.

@myitcv, any chance you've been able to reproduce this since your original report?

[2019-11-22 16:15] rentziass commented on #32875
@jbszczepaniak I'm currently working on `Completion`, see a couple of comments above :)

[2019-11-22 16:15] myitcv commented on #35689
Just as a follow up: setting `GOCACHE=$(mktemp -d)` does allow me to relatively reliably reproduce a variant of the version skew issue, I haven't been able to reproduce one of these "others".

[2019-11-22 16:16] #35436 closed

[2019-11-22 16:16] myitcv commented on #35771
Unfortunately not: same response as per https://github.com/golang/go/issues/35689#issuecomment-557593272

[2019-11-22 16:21] bradfitz commented on #35778
I made a recent gomote change (https://go-review.googlesource.com/c/build/+/207841) that changed the protocol a bit but it should've been backwards compatible with old clients. Maybe not?

Try updating your gomote if you didn't?

[2019-11-22 16:26] andybons commented on #35778
Ah that did it. Thanks, Brad!

[2019-11-22 16:27] bradfitz commented on #35778
I'll repurpose this bug to be about fixing the gomote server to work with older clients.

Or just removing the server compat code I added which apparently never worked.

[2019-11-22 16:28] thanm opened #35779 "cmd/link: load of "ld -r" host object fails in -newobj mode"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +9c6f6409ad Wed Nov 20 15:16:17 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

linux/amd64

### What did you do?

Build a small program that links in a *.syso object that contains mult

[2019-11-22 16:30] jbszczepaniak commented on #32875
🤦‍♂ ok. I believe this is a list (right?):

-    CompletionSnippet
-    UnimportedCompletion
-    DeepCompletion
-    FuzzyCompletion
-    CaseSensitiveCompletion
-    RankCompletion

Thus I will take `CompletionSnippet`

[2019-11-22 16:31] thanm commented on #35779
@cherrymui , @jeremyfaller just as FYI

[2019-11-22 16:31] stamblerre commented on #32875
@rentziass: Do you intend to add all of the completion related test code in your CL? In that case, I believe that this issue could be considered done.

[2019-11-22 16:32] andybons commented on #35778
Was there a regression test?

[2019-11-22 16:33] rentziass commented on #32875
I'd surely like to try :)

[2019-11-22 16:33] mknyszek commented on #34736
I believe I found the problem, and it's actually the deadlock detector detecting a deadlock! Unfortunately the deadlock happens during a STW GC so `checkdead` observes runnable goroutines and panics.

The problem is that after `7b294cdd8` we no longer hold onto `worldsema` for the duration of a GC; we hold `gcsema` instead. However, in STW GC we don't release it before calling `Gosched` on the use

[2019-11-22 16:35] bradfitz commented on #35778
The gomote stuff isn't wonderfully tested. It's a huge Rube Goldberg machine with huge dependencies. I haven't broken it up to be testable yet. It's just never been a priority given the limited user base. Low SLO service. :)

[2019-11-22 16:37] OneOfOne opened #35780 "cmd/compile: unexpected return pc for runtime.deductSweepCredit"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +1c5bd3459b 2019-11-22 16:04:32 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

No.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="off"
GOARCH="amd64"
GOBIN

[2019-11-22 16:37] jbszczepaniak commented on #32875
O, In that case I will move to something else.

[2019-11-22 16:40] jbszczepaniak commented on #35563
I would like to claim this one. Is this ready to be done, or do we wait for https://github.com/golang/go/issues/31999 ?

[2019-11-22 16:51] aclements commented on #35326
I added logging of the PC to `doSigPreempt`. Some of the vet failures show many doSigPreempts falling in memmove (and a few other places) and *no* successfully injected asyncPreempt calls. This indicates that it's not even the call injection or asyncPreempt that's causing the issue, but something about the signal itself.

One example is below
<details>
<pre>
# vendor/golang.org/x/crypto/chacha20

[2019-11-22 16:52] mknyszek commented on #35271
I'll take a look into this since Austin is currently focused on the memory corruption issues.

[2019-11-22 16:52] andybons commented on #35778
While not to derail this specific issue, testing and documentation are becoming more of a priority now that there are three additional people focused primarily on this codebase and changing things is very scary at the moment. Even if it comes at the cost of lower velocity in other areas.

[2019-11-22 16:55] aclements commented on #35326
I commented out the main body of doSigPreempt, so now it's just an `atomic.Xadd` and it *still fails*.

Two examples (with the log line added, but not the rest of the body):
<details>
<pre>
# go/build

[0.022304885 P 0] doSigPreempt 0x4630e7 [runtime.osyield+0x7 /home/austin/go/src/runtime/sys_linux_amd64.s:652]
[0.025106154 P 2] doSigPreempt 0x462478 [runtime.memmove+0x438 /home/austin/go/src/run

[2019-11-22 16:56] myitcv commented on #35326
@aclements perhaps goes without saying, but I'm very happy to run a random CL with additional logging etc if that would help. For this or any of the other issues reported.

[2019-11-22 16:56] jszwedko opened #35781 "cmd/cover: inconsistent NumStmt when //line clauses are used with Go 1.13.4"
This seems to be the same as https://github.com/golang/go/issues/27350 but still happens even after running `go fmt` which was the recommended fix in that issue (and also in a release that includes https://github.com/golang/go/commit/d6899463029d8ab0d73c992ccf6639f095435b84 which was intended to mitigate it).

Removing all `//line ` comments from the file allows it to pass.

### What version of Go

[2019-11-22 17:18] muirdm opened #35782 "x/tools/gopls: VSCode user snippets not sorting properly"
Imported from https://github.com/microsoft/vscode/issues/84587

In https://go-review.googlesource.com/c/tools/+/202717 I added a workaround so our completion candidate order was maintained in VSCode. I made all gopls candidates appear to be "perfect" so VSCode had no additional sorting/filtering to do. This, however, made gopls candidates always match better than other VSCode completion items, suc

[2019-11-22 17:22] aclements commented on #35326
This is starting to smell like a kernel bug with YMM registers in signal handlers, but glibc's memmove on my 5.3.0 VM uses AVX YMM registers, so it seems like this would be widely affecting C programs as well if that were the case. (Though glibc doesn't mix YMM and XMM registers the way we do, maybe relevant?)

My list of things to try:
- [ ] Remove as much of our signal handling path as possible

[2019-11-22 17:26] bobby-stripe commented on #35326
it may also be worth noting that most of the kernel versions listed above are from rolling-release distros that quickly move to the most recent kernel. It looks like at least 4.19 is known good - is there a more recent kernel that is known good (or something before 5.3 that is known bad?).  Another approach to take would be bisecting the kernel.

[2019-11-22 17:28] andybons commented on #35761
Can you please use actual code snippets and not images? Images are a far less accessible medium for representing code.

[2019-11-22 17:28] randall77 commented on #35326
Can you try disabling the AVX path in memmove?
I think `GODEBUG=avx=off` might work.

[2019-11-22 17:30] randall77 commented on #35326
We also use AVX in `internal/bytealg`.

[2019-11-22 17:30] aclements commented on #35771
Thanks. Closing since it's not reproducible, but we'll keep track of this in the super-bug.

[2019-11-22 17:30] #35771 closed

[2019-11-22 17:30] muirdm commented on #35782
@tj The above change should resolve the issue. Are you able to test it out? Rough steps are:

1. Clone https://github.com/golang/tools
1. Grab https://go-review.googlesource.com/c/tools/+/208439/ ("Download patch" from upper right "..." menu)
1. `cd gopls; go install`
1. Confirm above built `gopls` binary is first in your PATH
1. `Developer: Reload Window` in VSCode

[2019-11-22 17:31] randall77 commented on #35326
... and memclr uses AVX, but to turn that off I think you need `GODEBUG=avx2=off`, as that's the flag it checks. I think `internal/bytealg` checks that flag as well.

[2019-11-22 17:32] myitcv opened #35783 "cmd/go: unexpected signal during runtime execution"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3922c006ad Fri Nov 22 15:34:14 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
G

[2019-11-22 17:33] myitcv commented on #35777
@aclements just saw https://github.com/golang/go/issues/35783 for the record.

If you think we have enough "evidence" please say and I'll stop creating issues for now 😄

[2019-11-22 17:34] #34736 closed

[2019-11-22 17:35] randall77 commented on #35326
Turning avx2 off will also disable the avx versions of various crypto assembly.

[2019-11-22 17:36] myitcv commented on #35326
[code]

still gives various skew-related errors for me (if that's what you were asking to be tested, @randall77?)

[2019-11-22 17:36] aclements commented on #35326
@randall77, I did try setting [runtime.useAVXmemmove to false](https://github.com/golang/go/issues/35326#issuecomment-557315536) and it substantially reduced the reproducibility. As you point out, there are other places we also use AVX, which may be why it still failed.

It still fails for me with GODEBUG=avx=off,avx2=off. Are you sure that's the right incantation?

[2019-11-22 17:37] OneOfOne opened #35784 "runtime: goroutine stack exceeds 1000000000-byte limit"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +1c5bd3459b 2019-11-22 16:04:32 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
 No, just tip as of ~ 2 weeks ago.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MOD

[2019-11-22 17:38] OneOfOne commented on #35784
I can't reproduce reliably, sometimes after 1 hour, sometimes takes 20+ hours, could be related to #35777.

[2019-11-22 17:39] cherrymui commented on #35326
I guess it is GODEBUG=cpu.avx=off,cpu.avx2=off ?

[2019-11-22 17:40] andybons commented on #31918
As we need to notarize every toolchain release and all toolchain binaries except for the `go` command are built using the internal linker, we’ll notice problems there quicker than we will by checking this issue during every release cycle. We have plans to do nightly notarization checks to catch issues, but that is being tracked internally as we’re using internal-only infrastructure (we need access

[2019-11-22 17:40] #31918 closed

[2019-11-22 17:41] randall77 commented on #35326
Not 100%. Put a breakpoint instruction in all the associated assembly to check for sure.
(Grep for VZEROUPPER, that should appear anywhere avx is used.)

[2019-11-22 17:41] aclements commented on #35326
I tried cutting out as much of our signal handling path as I think I can and it still fails:

[code]

[2019-11-22 17:41] mknyszek commented on #35541
@mengzhuo Only the scavenger (mgcscavenge.go) operates in terms of physical pages, the runtime page size is always 8 KiB on all platforms, so 8 KiB alignment is exactly what we want.

It could be related to the page allocator, but the physical page size here doesn't matter, I don't think.

[2019-11-22 17:47] zikaeroh commented on #35326
This is probably a red herring, but my tests comparing 4.19 LTS with 5.3 and 5.4 (https://github.com/golang/go/issues/35326#issuecomment-557223145) weren't controlled for kernel configuration. Mainly, I'm noting that my 4.19 `uname -a` line doesn't include `PREEMPT`, while the other two do.

[2019-11-22 17:48] #35778 closed

[2019-11-22 17:48] randall77 commented on #35784
This is clearly not a real stack overflow, so yes it looks like something corrupting the stack bound. That could be #35777. Are you on a 5.3 kernel?

[2019-11-22 17:50] stamblerre commented on #35563
@jbszczepaniak: I think we can do the first step of changing the link godoc.org links to point to pkg.go.dev.

[2019-11-22 17:52] toothrot commented on #35693
Hi @dayadev,

This sounds similar to #35273. What does the require statement in `api/apiA.go`? What does the package declaration at the top of `lib/lib.go` look like?

[2019-11-22 17:52] FiloSottile commented on #35722
Yeah, this is unfortunate. It definitely makes sense for it to contain a CertificateStatusRequest, but I think the language of the spec at this point is pretty clearly defining it to be zero length.

Wireshark also expects it to be empty, and I am strictly enforcing it in Go, so that ship might have sailed unless we want to leave behind a big chunk of Go versions.

Anyway, I really can't read Java

[2019-11-22 17:55] OneOfOne commented on #35784
Yep, `5.3.12-arch1-1` to be specific.

[2019-11-22 17:55] yoav commented on #35699
The user-agent header is used by pretty much _every single package manager_ that exists today in the standard RFC format where the client version is part of the "[product token](https://tools.ietf.org/html/rfc2616#section-3.8)" value.

The original [intent](https://tools.ietf.org/html/rfc2616#section-14.43) behind providing this header includes, among other reasons, statistical information. There

[2019-11-22 17:56] zikaeroh commented on #35563
If the version info isn't going to be used, I'd maybe consider making this configurable. The default behavior of pkg.go.dev compared to godoc.org (`@latest` vs `@master`) makes it somewhat difficult to work with some libraries like docker, where `@latest` is simply never the right thing. (That, and for people who are still working in non-module-aware repos, but these are all of course edge cases.)

[2019-11-22 18:03] toothrot commented on #35702
This issue tracker is for problems with the Go tools and standard library. It's unclear that this is an issue with the Go command, or the module mirror. A better place to ask this kind of question is golang-nuts, where there are many users of Docker and Go modules. See https://golang.org/wiki/Questions.

For reference, installing git may also be necessary in your scenario:
```RUN apk update && apk

[2019-11-22 18:03] #35702 closed

[2019-11-22 18:15] bradfitz commented on #35777
Have we roughly bisected which Linux versions are affected? Looking at the kernel changes in that region might yield a clue about where and whose the bug is.

5.3 = bad.
5.2 = ?

[2019-11-22 18:24] networkimprov commented on #35767
cc @odeke-em @eliasnaur @ianlancetaylor
@gopherbot add OS-Darwin

[2019-11-22 18:27] #35782 closed

[2019-11-22 18:32] ianlancetaylor commented on #35781
The problem seems to be that the cover tool assumes that all lines in a single input file correspond to a single input file.  In this case the input file datemath.y.go is composed of different input files.  The coverage tool is assigning some coverage information to line 89 of datemath.y and some to line 89 of yaccpar.  The first problem is that the coverage information for those two different lin

[2019-11-22 18:32] zikaeroh commented on #35777
In https://github.com/golang/go/issues/35326#issuecomment-557223145, I used Arch's 4.19 LTS and could not reproduce the bexport corruption. However, the kernel configuration differs between 4.19 and 5.3, so that may be unscientific. (I'm letting my machine rebuild 5.3 without PREEMPT set to see if that's the problem, but I have doubts.)

What set of kernels do the current Linux builders use? That

[2019-11-22 18:35] bradfitz opened #35785 "x/build/env/linux: add bleeding edge kernel builder"
In https://github.com/golang/go/issues/35777#issuecomment-557642410 ("runtime: memory corruption on Linux 5.3.x from async preemption") @zikaeroh says:

This is that tracking bug.

/cc @cagedmantis @dmitshur @toothrot @bcmills

[2019-11-22 18:37] jayconrod opened #35786 "x/build: add a builder that runs long tests with a gccgo toolchain"
From the list at [build.golang.org](https://build.golang.org/), there don't seem to be any builders running a gccgo toolchain. It would be useful to have one to make sure we don't regress on gccgo support.

For quick reference: [gccgo setup instructions](https://golang.org/doc/install/gccgo)

[2019-11-22 18:38] tj commented on #35782
Awesome! That fixed it, thanks a lot, I didn't realize the language server is in charge of so much, I'll keep that in mind next time.

[2019-11-22 18:38] bradfitz commented on #35777
The existing Go Linux builders use Container Optimized OS with a Linux kernel `4.19.72+`.

[2019-11-22 18:39] turtletowerz commented on #35761
Switched from image to code block for the example

[2019-11-22 18:39] mariush-github commented on #35761
Would it make more sense to use |  (bitwise or)  instead of comma?  It's just as unlikely to be used in parameter names.

[2019-11-22 18:46] leafbebop opened #35787 "cmd/go/internal/modfetch: version before would have negative patch number: found an example."
In go.mod in github.com/moby/buildkit, I found [this line](https://github.com/moby/buildkit/blob/7a601252feac1493e792d082efecb66fbed75b75/go.mod#L12):

This is an invalid psedo version: It is in the form of "vX.Y.(Z+1)-0.yyyymmddhhmmss-abcdefabcdef" but (Z+1)=0. It is rejected by go tools.

I came through a [comment](https://github.com/golang/go/blob/05511a5c0ae238325c10b0e4e44c3f66f928e4cf/src/cm

[2019-11-22 18:46] #35089 closed

[2019-11-22 18:47] odeke-em commented on #35051
I think I have 2 options here:
a) Reduce the minimum sleepTime to say 100 microseconds, increase sleepTime to 200X -- would be odd if the scheduler doesn't hit us back after 200X the sleepTime
b) Use faketime which by virtue is bound to have well organized/synchronized "sleeps" and the test should always pass

Despite us just only needing to ensure that that 503 is returned after the goroutine for

[2019-11-22 18:57] mknyszek opened #35788 "runtime: scavenger not as effective as in previous releases"
Recent page allocator changes (#35112) forced changes to scavenger as well. AFAICT these changes came with two problems.

Firstly, the scavenger maintains an address which it uses to mark which part of the address space has already been searched. Unfortunately the updates of this value are racy, and it's difficult to determine what kind of check makes sense to prevent these races. Today these race

[2019-11-22 18:58] aclements commented on #35326
I've been running `GODEBUG=cpu.avx=off,cpu.avx2=off /tmp/stress -p 1 ./bin/go vet all` for the past hour or so and have had only one failure, which looks like #35771. That one failure happened quite early, during `os.init`. I'm not sure what that means, though I'll note that internal/cpu first sets cpu.X86.Has* and then processes the environment to clear requested bits. I don't *think* anything co

[2019-11-22 18:58] bcmills commented on #35787
Thanks for the report! I've inquired about the origin of this version string on the GitHub page for the commit that introduced it (https://github.com/moby/buildkit/commit/c6641fb6d0a3c18a3a05e3a8a4be7c74bad4d4b2).

I've seen other invalid versions within `docker` and `moby` projects originating from hand-edited `go.mod` files, so I suspect that the same happened here.

[2019-11-22 18:58] #35787 closed

[2019-11-22 19:04] #35759 closed

[2019-11-22 19:16] ianlancetaylor commented on #35326
I assume that the corruption does not occur if you disable preemption.  You could try disabling preemption, and then run the program, and have another program hit it regularly with some signal that the Go runtime will catch but ignore, like `SIGXCPU`.  If that still fails, there is something wrong with the way that the AVX registers are being saved and restored when a signal occurs, and the proble

[2019-11-22 19:18] #35435 closed

[2019-11-22 19:20] laboger commented on #35749
I think that was the problem. Now that the old buildlet isn't running, I am not seeing the error. When it did happen, it was failing every 5 or 6 runs which would make sense since that was the 6th one in the pool.

[2019-11-22 19:21] siebenmann commented on #35326
Using `GODEBUG=cpu.avx=off,cpu.avx2=off` makes `all.bash` reliably succeed on my Fedora 30 machine where it otherwise fails reliably. The vet failures still appear reliably if I use only `cpu.avx2=off`. Using only `cpu.avx=off` gives a test failure in interal/cpu's TestX86ifAVX2hasAVX, but doesn't produce any of these vet failures in an `all.bash` build.

(I sometimes get other failures if I skip

[2019-11-22 19:25] bcmills commented on #35749
Great, thank you!

I'll close this out; we can always reopen it if the problem isn't actually gone.

[2019-11-22 19:25] #35749 closed

[2019-11-22 19:34] ianlancetaylor commented on #35784
See also #35470.

[2019-11-22 19:34] ianlancetaylor commented on #35470
See also #35784.

[2019-11-22 19:38] ianlancetaylor commented on #35699
@yoav I think the uses are clear.  But changing this value exposes information to far more than just enterprises tracking their internal users.  It exposes the information about what Go release someone is using across the entire Internet.  Perhaps that is fine, but it's not obviously fine.  As @rsc says above, this seems like something that has to be opt-in, not on by default.

[2019-11-22 19:47] ianlancetaylor commented on #35780
Since it's not repeatable, closing into #35777.

[2019-11-22 19:47] #35780 closed

[2019-11-22 19:49] ianlancetaylor commented on #35767
I guess this is not a 1.14 release blocker since it is broken in 1.13, but it would be nice to fix.

CC @randall77

[2019-11-22 20:04] aclements commented on #35326
I tried a slightly more careful shortcut path through the signal handler and it still fails. Unlike the earlier one, this one doesn't touch X0. The whole signal path is only a couple dozen instructions long now, and they're all boring.

[code]

[2019-11-22 20:05] rsc commented on #19700
@cespare or anyone else, what are common non-SQL uses of "civil" time/date/datetime that would not be well served by time.Time?

I am trying to understand whether these types simply belong in database/sql, not x/time/civil.

[2019-11-22 20:07] josharian commented on #35326
Seems like it wouldn't be unreasonable to fix this, just to make sure. cc @martisch

[2019-11-22 20:08] aaslamin commented on #35311
Sounds good @FiloSottile!

Would love to work on this when the time comes 🙃

[2019-11-22 20:11] mknyszek commented on #35271
OK! I got somewhere.

`TestPingPongHog` is all about scheduling goroutines. I was digging through the history around these failures and found some interesting information:
1. They started happening VERY consistently as of 21445b0 (as I mentioned in a previous comment).
1. Reproducing this by running the test directly is nigh impossible but...
1. If I make some big allocation (1 GiB), free it, and

[2019-11-22 20:15] aclements commented on #35621
Thanks. I've added this to the super-bug. Since this isn't reproducible, closing in favor of the super-bug.

[2019-11-22 20:15] #35621 closed

[2019-11-22 20:16] siebenmann commented on #35326
As a wild experiment, I took @aclements modified sigtrampgo and cut it down to immediately return if the signal was sigPreempt. This still produces the same vet failures on my Fedora 30 machine. In the process I saw a potentially interesting failure:

[code]

This looks like another case of corrupted data read from disk.

[2019-11-22 20:16] aclements commented on #35689
Thanks. Since this particular failure doesn't seem to be reproducible, closing in favor of the super-bug.

[2019-11-22 20:16] #35689 closed

[2019-11-22 20:21] dylan-bourque commented on #19700
Personally, I've used both outside of pure database storage, date more often than others.  Things like "add 30 days to date X" are trivial with civil date and, at a minimum, require accounting for time of day and location information with `time.Time`.  I feel the same way about civil time, i.e. 8:00 am is 8:00 am no matter what date it happens to fall on.

Another case where I would have liked to

[2019-11-22 20:26] aclements commented on #35783
Thanks. Folding into the super-bug. I'm not 100% positive about the go/build failure, but the vet failure is clearly the same corruption issue. (Closing since this one isn't reproducible.)

[2019-11-22 20:26] #35783 closed

[2019-11-22 20:27] aclements commented on #35777
Thanks @myitcv, I think we have enough reports. If you do happen to find another one that's reproducible, that would be very helpful, though.

[2019-11-22 20:27] tv42 commented on #33926
Perhaps you'd need it less often, but when you do want it, there'd be no reasonable way to run it.

It seems to me that would use the product source to discover necessary dependencies -> all tools would get removed, all kinds of non-tool deps would be added.

[2019-11-22 20:28] aclements commented on #35326
@ianlancetaylor, I tried your suggestion and it does indeed still crash with a signal completely unrelated to preemption, delivered from outside the process.

I ran `while GODEBUG=asyncpreemptoff=1 ./bin/go vet all; do true; done` for 10 minutes with no failures.

I then started `(while true; do killall -WINCH vet; done)` (we don't ignore XCPU, but do ignore WINCH) and the vet loop failed three ti

[2019-11-22 20:41] adsouza commented on #19700
I too find myself wishing for a way to model pure calendar dates that has nothing to do with storage fairly often. [My examples are internal to Google so I won't list them here but will reach out to rsc privately to discuss.]

[2019-11-22 20:44] zikaeroh commented on #35326
For sake of completeness with my previous comment, I did finish building 5.3 without PREEMPT enabled:

[code]

But I still got corruption after a few minutes:

[code]

So this is not PREEMPT related (as appealing as that difference had looked), and I was correct in thinking it was a red herring. Probably just kernel version dependent. Sorry for the noise, and I'll step out. :slightly_smiling_face:

[2019-11-22 20:45] 40b0a3cd opened #35789 "Go not running on i386 hardware without SSE"
Here's my original bug report for OpenBSD: [https://marc.info/?l=openbsd-ports&m=157376594916571&w=2](https://marc.info/?l=openbsd-ports&m=157376594916571&w=2)

In a later post, I was able to get more debugging info, which suggests that Go is refusing to run due to lack of an SSE(?) instruction on my processor: [https://marc.info/?l=openbsd-ports&m=157384045312953&w=2](https://marc.info/?l=openbsd

[2019-11-22 20:47] bcmills commented on #34347
@vmarkovtsev, could you try this using a `go` command built from head? It may be fixed.

If it is not fixed, please provide an exact command line (and, ideally, redacted source code) that reproduces the problem.

[2019-11-22 20:47] rsc commented on #19700
There are really three different questions here:

1. how to represent a date with no associated time (SQL DATE)
2. how to represent a time with no associated date (SQL TIME)
3. how to represent a SQL DATETIME versus SQL TIMESTAMP

I certainly understand the desire for a date-only value outside a SQL database.
I am not sure I understand why you'd ever use a time-only value.
I am also not sure I und

[2019-11-22 20:47] rsc commented on #19700
Removing the hold so we keep an eye on this discussion in proposal meetings.

[2019-11-22 20:49] fhs opened #35790 "cmd/link: TestStrictDup fails in module mode"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +05511a5c0a Fri Nov 22 17:33:48 2019 +0000 linux/amd64
</pre>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env | egrep -v '^(GONOPROXY|GONOSUMDB|GOPRIVATE)='
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACH

[2019-11-22 20:56] adsouza commented on #19700
The use-cases for #2 are certainly far fewer than #1. One example I know of is modelling a standing time for a recurring event (e.g. meals), although even those would generally be tied to at least a specific day of the week.

[2019-11-22 20:58] ianlancetaylor commented on #35326
@aclements Thanks for testing.  One more interesting thing to test would be whether the same thing happens with Go 1.13 or earlier.

(I've been looking at Linux kernel diffs between 4.7 and 5.3 to see if I can see anything relevant.  The closest I've come is that 5.3 now records whether the kernel itself uses the AVX registers, and uses that when deciding how to manipulate the registers in the sig

[2019-11-22 20:59] randall77 commented on #35789
GO386=387 is required to run on 386 machines without SSE. Otherwise, the compiler will use SSE instructions.

See https://github.com/golang/go/wiki/MinimumRequirements#386

[2019-11-22 20:59] #35789 closed

[2019-11-22 21:01] turtletowerz commented on #35761
A vertical bar would probably be better than comma because you cannot create a single flag with it (ex. `flag,flag2` is still considered one flag but `flag|flag2` throws an error when the program is run)

If there is more support for the vertical bar being used as opposed to a comma I will update the original proposal with this idea. Thanks for the input!

[2019-11-22 21:03] ianlancetaylor commented on #19700
The Abseil project, from Google, provides civil dates and times for C++: https://abseil.io/blog/20181010-civil-time.

[2019-11-22 21:03] 40b0a3cd commented on #35789
I'm still seeing the same behavior when GO386=387.

[2019-11-22 21:04] dylan-bourque commented on #19700
I agree that #1 would be the most common by far.  For myself, the case for #2 was definitely related to a scheduling/calendaring scenario where start and end times of the thing were the clock time and stored in MS SQL Server as `TIME` columns.  I'm not an Oracle user, but PostgreSQL definitely also supports [`TIME` columns](https://www.postgresql.org/docs/current/datatype-datetime.html).

And I th

[2019-11-22 21:06] aclements commented on #35326
@ianlancetaylor, I just tried with Go 1.13 and sending SIGWINCH in a loop and was able to reproduce the same vet version header corruption.

The change you mentioned in the kernel suggests that the kernel is now using AVX registers and probably wasn't before. I could definitely see that introducing bugs around save/restore (especially if that's done lazily; I'm not sure if it is). But it's a good

[2019-11-22 21:08] 40b0a3cd commented on #35789
This is what is happening (even when using GO386=387):

Dump of assembler code for function runtime.check:
   0x0807fbc0 <+0>:     mov    %gs:0xfffffffc,%ecx
   0x0807fbc7 <+7>:     cmp    0x8(%ecx),%esp
   0x0807fbca <+10>:    jbe    0x807ff3b <runtime.check+891>
   0x0807fbd0 <+16>:    sub    $0x2c,%esp
   0x0807fbd3 <+19>:    movl   $0x0,0x20(%esp)
=> 0x0807fbdb <+27>:    xorps  %xmm0,%xmm0

[2019-11-22 21:09] ianlancetaylor commented on #35326
Well, at leaset you've proved that this is a pre-existing bug that has nothing to do with signal preemption, so clearly we don't have to fix it for 1.14.

[2019-11-22 21:11] randall77 commented on #35789
The error you're seeing is from the `go` binary. The distribution itself needs to be built with GO386=387. We don't provide such a distribution on our website.
Probably the easiest way to do get such a special distribution is to download the Go source distribution to a normal (SSE-capable, 32 or 64-bit) machine, then do
[code]
Then copy the distribution directory to the SSE-crippled machine. Then

[2019-11-22 21:12] mknyszek commented on #35271
@aclements informed me that `TestPingPongHog` is trying to check for fairness. Fairness is helped by the "next" mechanism in the scheduler, the 1 element LIFO in front of the per-P FIFO (which is the runqueue). Currently the scavenger, upon wake-up (which it's doing a lot more of now), will be readied onto this LIFO, interfering with the test.

One solution could be to just have the scavenger do m

[2019-11-22 21:12] josharian commented on #35326
...as long as we don't enable signal-based preemption for GOOS=linux?

[2019-11-22 21:12] siebenmann commented on #35326
I think it would be dangerous to release 1.14 in a state where it frequently or routinely corrupts data read from files when run on recent Linux kernels. 1.13 is susceptible to the problem in unusual situations (flooding it with external signals), but 1.14 is susceptible in normal operation, so much so that `all.bash` does not succeed on affected machines.

[2019-11-22 21:13] ianlancetaylor commented on #35326
Sorry for confusion, I was being sarcastic.

Of course we have to fix it, one way or another.

[2019-11-22 21:15] 40b0a3cd commented on #35789
We are currently building with GO386=387. From the documentation, it appears that this only disables SSE2, and not SSE instructions. The documentation is a little unclear, but would setting GO386=386 disable SSE? The processor is an AMD Geode LX, which is fairly recent in terms of the embedded world.

[2019-11-22 21:23] mknyszek commented on #35451
@Helflym Would you consider this bug fixed for now? We can open a new issue if we see a need for 60-bit addresses again.

[2019-11-22 21:23] randall77 commented on #35789
There is no GO386=386. 387 and sse2 are the only options.
The function `runtime.check` is generated by the compiler. The compiler should not use any sse instructions if GO386=387.

When I build with those flags, I get code that looks 387-correct.
[code]

[2019-11-22 21:25] 40b0a3cd commented on #35789
Thank you - I'll pass this along to the ports maintainers. They had informed me that the latest packages were built with GO386=387.

I appreciate your time looking at this for me!

[2019-11-22 21:25] mknyszek commented on #35710
@Helflym can you be more specific about how it doesn't like the new page allocator? Do you know if https://go-review.googlesource.com/c/go/+/207497/5 helps? (It should reduce the size of the PROT_NONE mappings from 9ish GiB to about 600 MiB).

[2019-11-22 21:28] mknyszek commented on #35710
I'm sorry, what I really meant to ask was, do you know for sure that it's the new page allocator it doesn't like? There were a number of other big changes that went into this release (e.g. asynchronous preemption). Maybe it really dislikes getting a lot of signals? I could see that being some very slow path in a gdb port.

[2019-11-22 21:29] mknyszek commented on #35271
FWIW I don't think this should block the beta. These frequent wake-ups definitely don't seem to show up in benchmarks.

[2019-11-22 21:35] #35765 closed

[2019-11-22 21:51] ianlancetaylor commented on #35326
Would somebody like to try this C program on a 5.3 kernel and see whether it reports any memory corruption?  It runs without error on my 4.19 kernel.

[code]

[2019-11-22 21:54] toothrot commented on #35719
Thanks for reporting this, @moficodes. I took a look at https://github.com/moficodes/promptui, and noticed there was still many files that referenced the old name as an import path: `github.com/manifoldco/promptui`

[code]

Changing those files for me locally resolved the issue. This seems to be in line with the error message you mentioned.

I'm going to /cc @bcmills to verify if there's a better

[2019-11-22 21:56] #35054 closed

[2019-11-22 21:56] zikaeroh commented on #35326
I ran the above 50 times in a row, and saw no corruption:

[code]

[2019-11-22 21:59] siebenmann commented on #35326
I see no errors on my Fedora 30 machine with kernel 5.3.11, even with a drastically lengthened run time:

[code]

[2019-11-22 21:59] toothrot commented on #35723
@ying2025 The lint package should be imported as it's canonical path `golang.org/x/lint`. Is your code importing `github.com/golang/lint` somewhere?

[2019-11-22 22:01] bradfitz commented on #30938
I can reproduce this if I burn a bunch of CPU (https://gist.github.com/bradfitz/233894f4aec11b221cb06abd8489d2e4) and run

[code]

This check involving checking for a failure under 25 milliseconds scares me:

[code]

... because all test code involving time scares me.

[2019-11-22 22:02] ianlancetaylor commented on #35326
Thanks for trying it!

Pity it didn't fail.  It would have been nice to be able to recreate the problem in C.  At this point I'm a bit baffled as to what we are doing differently in Go.  Well, one possibility is that it may be necessary to make some system calls that cause the kernel to use AVX registers internally, but I'm not sure what those would be.

[2019-11-22 22:07] toothrot commented on #35724
/cc @bradfitz @tombergan who own net/http2

[2019-11-22 22:10] mdempsky commented on #35326
Doesn't `killall -WINCH` send process-directed signals (i.e., using `kill()`), whereas `pthread_kill` sends thread-directed ones? (I know these behavior somewhat differently on OpenBSD; not sure if they do on Linux too.)

Maybe worth using fork+kill instead of threads to better recreate our current minimized test case?

[2019-11-22 22:18] bradfitz commented on #35724
Yeah, I saw the associated CL earlier (which had no context) and I asked for this bug to be filed.

This doesn't affect normal net/http or x/net/http2 users. This affects people using the low-level http2.Framer directly, writing their own HTTP/2 clients.

[2019-11-22 22:24] mipnw commented on #35620
@marti1125 My example is very close to the code pasted in this bug's description.

[2019-11-22 22:24] ianlancetaylor commented on #35326
Well, maybe, but we're seeing the problem with Go's runtime package signal preemption which uses thread-directed signals.

[2019-11-22 22:50] #33552 closed

[2019-11-22 22:53] toothrot commented on #35726
/cc @bcmills @jayconrod It looks like it is related to a leading BOM character in `router/Router.go`.

Reproduced using https://github.com/andyTsing/BEService/commit/07f4a7fdc545629d7e25a2fc88cffad67ad8ee0e

[code]

This is corrected by gofmt:

[code]

[2019-11-22 22:53] toothrot commented on #35726
@andyTsing Thanks for the report! Does `go fmt ./router/Router.go` resolve this issue on Windows?

[2019-11-22 22:57] dmitshur commented on #33951
Issue #33986 is relevant for that.

I believe that is accurate.

This sounds good to me as a small incremental step to try here. Will mail a CL.

[2019-11-22 23:11] aclements commented on #35592
Kernel version confirmed. Folding into the super-bug (#35777).

[2019-11-22 23:11] #35592 closed

[2019-11-22 23:12] heschik commented on #35721
I'm just about done with #35720, and then I'm excited to give the patches a try. Should be Monday.

[2019-11-22 23:17] heschik commented on #34433
The work I'm doing for #35720 is a good start on this one, but we're not tracking .y files so I don't think it'll actually fix it. We'd have to be able to get a ColumnMapper for an arbitrary non-Go file.

[2019-11-22 23:28] darkfeline opened #35791 "context: Cannot tell which deadline or timeout cause expiration"
It is not currently possible to tell which deadline or timeout caused a context to expire.  This makes debugging timeouts impossible.

Here's an example of when this is a problem: we have some RPC that is constantly failing because of context.DeadlineExceeded.  We want to figure out which deadline is being exceed so we can evaluate whether we should increase it.  The code looks like the following

[2019-11-22 23:38] darkfeline commented on #35791
API backward compatibility-wise, I have a few ideas of ways to add support to this.  I think the implementation of any solution is straightforward, backward compatibility is the hardest part.

Solutions depend on what exactly should be considered part of the API of the context package.

It's not stated in the docs, but it's suggested in https://github.com/golang/go/wiki/CodeReviewComments#contexts

[2019-11-23 00:10] jnjackins commented on #31529
@krasi-georgiev @bcmills in addition to downloading source code (which has been discussed here already), `go get` of a `main` package would by default install to `$GOPATH/bin`, so instructions for someone to download and run your tool were simply:
[code]
Or if `$GOPATH/bin` is in one's `$PATH`, simply
[code]

In Go 1.13 I really miss this functionality. Now I can't do this, or tell someone else to

[2019-11-23 00:21] jnjackins commented on #31529
For example a quick twitter search shows lots of examples of people giving instructions to install their tool: https://twitter.com/search?q=%22go%20get%22%20%23golang&src=typed_query&f=live

I don't think updating a `go.mod` file is what is intended in any of those cases. Asking people to set `GO111MODULE` a certain way to get the right behavior feels like a kludge.

[2019-11-23 00:58] ianlancetaylor commented on #35358
The os package is intended to be portable across operating systems, and not even all Unix-like systems support `O_DIRECT`.  On systems that do support it you can use `syscall.O_DIRECT` with `os.OpenFile`.

[2019-11-23 01:42] rhysh commented on #35774
I took a shot at pinning this down, but it appears present (on linux/amd64) in go1.13.3 and as long ago as go1.7.6 (the oldest I can easily cross-compile). It's possible that it's become more frequent.

With `-test.run=TestWaitGroupMisuse3` and without `-test.timeout`, it shows up as `fatal error: all goroutines are asleep - deadlock!`. For example, with go1.13.3 on a big linux/amd64 machine with

[2019-11-23 01:42] ThomasJannaud opened #35792 "x/net/trace: NewEventLog() occasionally panics with slice bounds out of range"
### What version of Go are you using (`go version`)?
go1.12.11 on a debian docker image (I cannot access go version directly, it is running on a system in prod)

### Does this issue reproduce with the latest release?

I cannot tell either I don't have control on this. I can run my code locally with a more recent version but it is hard to reproduce the panic I describe.
Our service is running on pr

[2019-11-23 02:15] andyTsing commented on #35726
@toothrot Thank u,following your advice,when i do: go fmt ./router/Router.go,the problem was solved

[2019-11-23 04:00] ouksal commented on #35732
@bcmills I am confused about how to install a module published and tagged with v2.1.1 like in above example. What you mean by the error message is correct ? I read the doc in the link but I don't see the reason why  "go get github.com/user/pkg@v2.1.1" fail. What is the suggested approach ?

[2019-11-23 04:33] ouksal commented on #35732
@diiyw
Just append v2 before @ sign; It should work:
`go get github.com/zouyx/agollo/v2@v2.2.1`

@bcmills
Your comment doesn't help at all. You should share useful info instead of telling that the error message is correct.

[2019-11-23 05:56] KyhleOhlinger commented on #35730
Current Windows Version:
OS Name:                   Microsoft Windows 10 Enterprise                                                                                                                                                                                   OS Version:                10.0.18362 N/A Build 18362

[2019-11-23 07:23] mosdeo opened #35793 "playground: Get「Program exited: process took too long.」without call any time function"
This code works with go1.13.3 darwin/amd64, macOS 10.15.1.
But on the Playground it fails with "process took too long" error.
Playground: https://play.golang.org/p/eV8IZQk-3gE

[2019-11-23 08:29] logrusorgru commented on #32070
So, go1.13, `go vet` doesn't say anything about "%w" in a `Sprintf` for example. Is it expected behavior?

[code]

[play.golang.org](https://play.golang.org/p/xlikbh0H_GI)

[code]
[code]

[2019-11-23 08:51] fhs commented on #35793
Put a print statement inside the loop in the `Zero` method. You'll see that for case 2, `i` keeps on getting decrement (`default` case in the `select`) and incremented in the `for` loop, so `i` is always 1. So, the goroutine that runs `Zero` gets into an infinite loop and the other goroutines never gets a chance to run.

The playground is working fine. You need to fix your program. 🙂

[2019-11-23 09:13] #33736 closed

[2019-11-23 09:14] mosdeo commented on #35793
Loop in the ```Zero()``` method NOT an infinite loop, because ```Zero()``` will receiver from ```this.streamOddToZero``` or ```this.streamEvenToZero```, those make ```i``` increment only.

The code normally executed and returned on my mac（go1.13.3 darwin/amd64）

[2019-11-23 09:22] sinloss opened #35794 "os/exec: Should `*exec.Cmd` export the waitDone channel ?"
### What version of Go are you using (`go version`)?

<pre>
go version go1.13.4 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
<pre>Yes, it does.</pre>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
set GO111MODULE=
set GOARCH=amd64
set GOBIN=C:\Lang\Go\bin
set GOCACHE=C:

[2019-11-23 09:31] 4ad commented on #27744
As this is actively worked on, I am going to reopen this.

[2019-11-23 09:36] #35256 closed

[2019-11-23 09:36] leafbebop opened #35795 "go get: GOPROXY=direct go get: some.url/pkg/vX@vX.Y.Z: invalid version: module contains a go.mod file, so major version must be compatible: should be v0 or v1, not v6"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.1 linux/amd64

</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?
GOPROXY=direct go get github.co

[2019-11-23 09:38] fhs commented on #35793
@mosdeo You're assuming how your goroutines are scheduled. The other goroutines never gets a chance to send values into those channels. It just happens that your MacBook is scheduling the goroutines differently than the playground.

Here is a hacky solution that might help you understand: https://play.golang.org/p/aW4-2EfIclr (It calls [runtime.Gosched](https://golang.org/pkg/runtime/#Gosched) in

[2019-11-23 09:40] PumpkinSeed opened #35796 "Inconsistent error from http.ListenAndServe"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.1 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

I didn't see any change on this side in the changelog, so I think yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111M

[2019-11-23 10:29] hellodword opened #35797 "goroutine/pointer issue"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=on
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\Sec

[2019-11-23 10:55] ALTree commented on #35797
This is not allowed. From https://golang.org/pkg/unsafe/, what is allowed:

Running `go vet` on your code will alert you of this:

[code]

Moreover, the checkptr harness on tip (will be in Go1.14)  will catch this and crash your program immediately:

[code]

In general, there's no reason to use `unsafe` in a program like the one you posted, so I hope you are just experimenting with `unsafe` and po

[2019-11-23 10:55] #35797 closed

[2019-11-23 11:21] greut opened #35798 "x/net: requires an older x/crypto version without security fix"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Indeed.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/yoan/.cache/go-

[2019-11-23 11:28] cosmos72 commented on #27605
My (very) long posts were meant to analyze the performance implications of operator functions on large and variable-size objects, as for example `math/big.Int`.

I perfectly agree that operator functions on fixed-size SIMD data (AVX/NEON etc.) would be very useful and do not need all that machinery - especially because they can (and should) be stored in CPU registers as much as possible

[2019-11-23 12:57] s3rj1k opened #35799 "add support for FAN_REPORT_FID in golang.org/x/sys"
Linux kernels 5.1+ have added new API (FAN_REPORT_FID) for fanotify. Would be nice to have this in 'golang.org/x/sys'.

[2019-11-23 13:51] agnivade commented on #35793
Hi @mosdeo, thank you for filing the issue. It is what @fhs said.

Unlike other projects, we do not use the issue tracker for questions such as these. It is only used for bugs and feature proposals. I will close this issue, but please feel free to ask it in any of these forums below:

* [Stack Overflow](https://stackoverflow.com/questions/tagged/go) with questions tagged "go"

* [The Go Forum](htt

[2019-11-23 13:51] #35793 closed

[2019-11-23 14:15] mvdan commented on #35785
In a similar vein, perhaps a builder with the oldest Linux version (and similarly old glibc, gcc, etc) would be good. There are dozens of people using tip on bleeding edge Linux, as can be seen by the amount of runtime bugs filed in the past two weeks. But I don't imagine there are nearly as many people doing that on old systems.

[2019-11-23 14:19] mvdan commented on #35768
I agree with Ian. If we did this, it would be inconsistent to not add proper argument handling too. For example, the first argument is a string, the second is a duration, etc.

Doing this yourself is also just six lines of code. If you want to handle arguments, you need extra code or a third party library anyway, since the flag package doesn't do that for you.

[2019-11-23 14:37] thanm commented on #35779
The new testcase broke the MIPS builders -- reopening while I work on that.

[2019-11-23 14:43] thanm commented on #35779
Representative failures:

<pre>
https://build.golang.org/log/98d47379c6065fd00edcd68aa384451c5deae722
    elf_test.go:202: # elf_test
        loadelf: $WORK/b001/_pkg_.a(ldr.syso): malformed elf file: invalid elf symbol index
</pre>

<pre>
https://build.golang.org/log/ad7532a8bd9457571fe394269d7a017b82abe21e
    elf_test.go:202: # elf_test
        /tmp/gobuilder-mips64/tmp/go-build246906970/b001/_

[2019-11-23 15:33] neelance commented on #35729
`fetch` is not referenced by the wasm_exec.js on master. Your error message looks like you have a line `}console.log(fetch);` in your version of wasm_exec.js.

If you're planning to use `net/http` package, which requires `fetch`, then you should use a polyfill like https://www.npmjs.com/package/node-fetch.

[2019-11-23 16:04] eliasnaur opened #35800 "runtime: hang in pthread_cond_timedwait_relative_np on darwin/arm64"
Similar in spirit to the hangs on Android, I had to `kill -QUIT` a hanging darwin/arm64 build:

https://build.golang.org/log/9678d54fa369d914b12c3b32df3a2470ba7ee4ec

It hung after bootstrap, but before tests:

[code]

[2019-11-23 16:30] rillig opened #35801 "cmd/test: caching test results takes 50 seconds"
### What version of Go are you using (`go version`)?

go version go1.13.1 windows/amd64

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\rillig\AppData\Local\go-build
s

[2019-11-23 16:38] kardianos commented on #19700
This is mostly an ecosystem thing. C#, Java, SQL Server, and MySQL all use DateTime. SQL Server also has DateTimeOffset (DateTime with timezone minutes offset).

Postgresql, Oracle, and the SQL Standard uses Timestamp and Timestamp with timezone (or timestampz).

---

Date is useful as you have mentioned. I use civil.Date in a scheduling package to prevent subtle errors.

DateTime (without zone) h

[2019-11-23 16:58] mvdan commented on #35435
@jayconrod perhaps retitle the issue to clarify that the test was buggy? With the current title, I just had a slight scare thinking that Go 1.13.x's `-trimpath` is broken :)

[2019-11-23 17:42] nevkontakte commented on #35331
Looks link this is not fully fixed... In particular, mode `packages.NeedImports | packages.NeedDeps | packages.NeedSyntax` doesn't behave the way I'd expect: the Syntax field is only populated for the package itself, but not any of the dependencies.

The example in my original comment currently produces this output:

[code]

[2019-11-23 18:08] lpar commented on #19700
### Use cases for time only

Alarms. If I set my alarm for 8am, I want it to go off at 8am every day, in whatever time zone I happen to be in at the time.

Cron-like regular events. The before-business-day pull of data should happen at 8am every day, whether it's DST or not.

### Use cases for date only

Calendar days: Christmas Day, Easter, Thanksgiving.

### Use cases for date and time (but no t

[2019-11-23 18:35] nevkontakte commented on #35331
I think I've found a fix (https://github.com/golang/tools/pull/189).

[2019-11-23 19:14] prashantv commented on #28623
If this data cannot be exposed through a library function, could it be exposed through a HTTP endpoint on /debug/pprof?

[2019-11-23 20:17] dmitshur commented on #35726
Glad to hear that @andyTsing!

If you don't mind, let's re-open this issue to track improving `cmd/go` to report a better error message when this kind of a situation happens.

[2019-11-23 20:37] bradfitz commented on #31217
@milanknezevic, @bogojevic, the RTRK MIPS builders are running an old version of the buildlet (they're reporting "Version 21").

You should be using the golang.org/x/build/cmd/buildlet/stage0 binary to launch the buildlet; it will download the latest buildlet binary per run if needed.

We will be deleting some code from the build system soon here that drops support for Version 22 and under. Your b

[2019-11-23 21:03] josharian commented on #32070
This should be fixed for 1.14. See #32070.

[2019-11-23 21:05] Jajka8073 opened #35802 "x/website:"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2019-11-23 21:28] ianlancetaylor commented on #35799
Want to send a patch?

[2019-11-23 21:32] networkimprov commented on #35482
@jstarks could you amend or endorse this solution?

a) revert the patch in question,
b) fix Win7 to align with the other runtimes via QueryUnbiasedInterruptTime(),
c) fix timerbucket stalling on Win8/10 via QueryUnbiasedInterruptTime(), per https://github.com/golang/go/issues/31528#issuecomment-500270601

[2019-11-23 22:04] Mikerah commented on #35729
I have `go version go1.13.4 linux/amd64` installed. However, looking through this repo, I see that I indeed have a different version of `wasm_exec.js` than the one in this repo. I will attempt to simply clone this repo and copy the `wasm_exec.js` file from the repo into my project and see if it fixes anything.

[2019-11-23 22:08] ALTree commented on #35802
Empty issue, closing.

[2019-11-23 22:08] #35802 closed

[2019-11-23 22:19] seankhliao commented on #35796
this is a logging issue: the `ListenAndServe http: Server closed` error is from the first server shutting down, not from the new server

[2019-11-23 22:24] dmitshur commented on #35798
The x/net module has only one package that imports something from x/crypto module. It's the `h2i` command, which imports `golang.org/x/crypto/ssh/terminal`:

https://github.com/golang/net/blob/fc4aabc6c91483155dade6fbb627cc953a723260/http2/h2i/h2i.go#L38

The fix for CVE-2019-11840 affected only the [`golang.org/x/crypto/salsa20/salsa`](https://pkg.go.dev/golang.org/x/crypto/salsa20/salsa) package

[2019-11-23 22:36] seankhliao commented on #35795
can reproduce on go1.13.1, can't reproduce on 1.13.4

[2019-11-24 00:20] pjebs commented on #33581
https://lukeeckley.com/post/useful-go-build-flags/

[2019-11-24 00:26] aykevl opened #35803 "go/ast: comment text changes newline type"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes.

### What did you do?

I am trying to print accurate source locations for AST comments.
In this specific case, I'm trying to construct a `token.Pos` at a given byte offset in the `.Text` field of a `*Comment` type in the AST. I'm

[2019-11-24 00:29] muhlemmer opened #35804 "database/sql: add error getter on sql.Row"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

This is a small feature request.

https://github.com/golang/go/blob/6f7b96f6cb5f5c156cf4e69b1fa1ec0e57b01677/src/database/sql/sql.go#L3093-L3097

At this moment `QueryRow()` variants only return a row, and as mentioned in the above comments, for easy chaining. This makes it a bit inconv

[2019-11-24 02:10] alexbrainman commented on #34972
@mdempsky one last crash remaining after I apply

https://go-review.googlesource.com/c/go/+/208617

[code]

I am not sure, but I suspect the problem is conversion of *SockaddrInet4 to unsafe.Pointer to *RawSockaddrAny.

https://github.com/golang/go/blob/6f7b96f6cb5f5c156cf4e69b1fa1ec0e57b01677/src/syscall/syscall_windows.go#L859

Linux does something similar but the final pointer is *byte

https:/

[2019-11-24 02:17] aclements commented on #35326
I set out to bisect the kernel and discovered that it *also* depends on the GCC version:

| Kernel tag | GCC | Outcome |
| --- | --- | --- |
| v5.3 | 9 | Reproducible |
| v5.3 | 8 | Not reproducible |
| v5.2 | 9 | [Kernel doesn't build](https://bugs.launchpad.net/ubuntu/+source/gcc-9/+bug/1830961) |
| v5.2 | 8 | Not reproducible |

So this may happen in earlier kernel versions but be masked by the

[2019-11-24 02:34] leafbebop commented on #35795
Oops, I used wrong go version. Yes, it is fixed in 1.13.4. Sorry for that.

[2019-11-24 02:34] #35795 closed

[2019-11-24 02:37] josharian commented on #35326
This is not the first time that the kernel, gcc, and signals have gotten tangled up in a mess: https://news.ycombinator.com/item?id=13313563

[2019-11-24 02:45] alexbrainman commented on #35006
@rsc and @ianlancetaylor

The MINGW gcc our builders use is very very old. We need to decide on the replacement - see my comment https://github.com/golang/go/issues/35006#issuecomment-546573751 and whole thread in general.

What do you think?

Thank you.

Alex

[2019-11-24 03:43] agnivade commented on #35796
Thanks for assisting with the diagnosis @seankhliao. I will go ahead and close the issue.

@PumpkinSeed, if you have further questions, please feel free to ask it in any of these forums below:

* [Stack Overflow](https://stackoverflow.com/questions/tagged/go) with questions tagged "go"

* [The Go Forum](https://forum.golangbridge.org/), a web-based forum

* [Gophers Slack](https://gophers.slack.co

[2019-11-24 03:43] #35796 closed

[2019-11-24 05:44] flowchartsman opened #35808 "cmd/go: unable to pull from private Bitbucket Server repository (adding "scm" to url)"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.1 darwin/amd64
</pre>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/awalker/Library/Caches/go-build"
GOENV="/Users/awalker/Library/Application Sup

[2019-11-24 05:59] flowchartsman commented on #35808
Update, changing the relevant section in `.gitconfig` to the following fixed it, but it is unclear why:

[code]

[code]

¯\_(ツ)_/¯

[2019-11-24 06:06] fhs opened #35809 "runtime: some tests are running out of memory in plan9-amd64-9front"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +master Sat Nov 23 23:42:39 EST 2019 plan9/amd64
</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE='on'
GOARCH='amd64'
GOBIN=''
GOC

[2019-11-24 06:15] smasher164 commented on #34416
Something like this could suffice: https://play.golang.org/p/Ky4tu3FSHhV

[2019-11-24 06:53] cuonglm commented on #34972
@alexbrainman What happen if you change:

[code]

to:

[code]

In that call, `rsa` is already an `unsafe.Pointer`.

[2019-11-24 07:36] andyTsing commented on #35726
@dmitshur OK,It's opened again,I have submitted the correct version. As it is the first time to use github, I am not sure whether @07f4a7f is still intact.
To reproduce the error scenario, manually add the BOM prefix to the router/ router. Go file as described by @toothrot

[2019-11-24 08:29] fhs commented on #35809
Git bisect points to commit 39e8cb0faac7785f89b21246a45e8cf8d5bc7d95 as the first bad commit.
<details><summary><code>git bisect log</code> Output</summary><br><pre>
git bisect start
# bad: [6f7b96f6cb5f5c156cf4e69b1fa1ec0e57b01677] syscall: follow convention for generated code comments in linux/riscv64 files
git bisect bad 6f7b96f6cb5f5c156cf4e69b1fa1ec0e57b01677
# bad: [21445b091ec0a0625282603e2

[2019-11-24 11:07] greut commented on #35798
@dmitshur you've rephrased it perfectly. I'm requiring `golang.org/x/crypto v0.0.0-20191122220453-ac88ee75c92c` and end up with `v0.0.0-20190308221718-c2843e01d9a2` because of the way `go mod` resolves dependencies.

Cheers,

[2019-11-24 11:39] tklauser commented on #35799
The const is already there since https://golang.org/cl/175158:

[code]

Is there anything else needed to use this API?

[2019-11-24 11:55] s3rj1k commented on #35799
@tklauser @ianlancetaylor Hi all. Yes not all structures are present and there is no helper func to get fanotify events.
I was using code that looks hacky, not written by my, have no idea how to rewrite it.
Code is located here https://github.com/ozeidan/gosearch/blob/master/internal/fanotify/fanotify.go

The structs are needed:
 - [fanotifyInfoHeader](https://github.com/ozeidan/gosearch/blob/mast

[2019-11-24 14:04] BenJoParadise opened #35810 "x/crypto/bcrypt: base64 decode - correct padding calculation"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/bparadise/Library/

[2019-11-24 14:35] mattn commented on #35006
@alexbrainman

I checked this compiler.

* mattn/go-sqlite3 (sqlite3 driver)
* mattn/go-tflite (tensorflow lite binding)
* mattn/go-oci8  (oracle driver)

All works fine. And -race too.

[2019-11-24 16:00] pontusntengnas commented on #35641
Okey I got it working now! What was causing the issue was probably my use of the name "Shared" when there where no Go package called "shared" in the files I was binding.

If i omit the naming of the output `-o` and just bind it, the frameworks gets a different name but this frameworks gets found by Xcode and can be used, awesome!

But then a follow up question, is it not possible to name my framew

[2019-11-24 16:19] eliasnaur commented on #35641
Can you send a complete example, with you xcode project ready to use and a set of packages for `gomobile bind`? The easier it is to reproduce, the better.

@hajimehoshi

[2019-11-24 16:29] aclements commented on #35326
I'm finally ready to *actually* bisect. Setting CONFIG_RETPOLINE to n works around the GCC 9 incompatibility. With this configuration, I've been able to reproduce the failure with v5.2, but NOT with v5.1. I'm now bisecting between the two.

For reference, here's the script I'm using to configure, build, and load the kernel. This is based on the ubuntu-1910-eoan-v20191114 GCE image (grown to 50 GiB

[2019-11-24 17:19] pontusntengnas commented on #35641
I do not see it is as necessary as it is working for me now. Now I just wonder if I can have a custom name on the .framework output and if the way I am binding the three packages is the correct way to do it, see my above comment.

[2019-11-24 17:23] bubundas17 opened #35811 "Unexpected Behavior After Calling ptrace TRACEME"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/bubun/snap/code/common

[2019-11-24 17:34] neild commented on #19700
This doesn't really hold in the presence of daylight savings changes and leap seconds.

[2019-11-24 17:39] smasher164 opened #35812 "x/tools/godoc/static, x/website/content/static: missing "or" function call in package.html template"
For instance, https://golang.org/pkg/crypto/ displays all of the package's subdirectories above the footer, like so
![image](https://user-images.githubusercontent.com/12636891/69498416-e447c680-0eb5-11ea-9c0f-cee573da5850.png)

However, https://tip.golang.org/pkg/crypto/ does not display the package's subdirectories and positions the "Name" and "Sypnosis" columns underneath the footer, like so
![i

[2019-11-24 17:41] dylan-bourque commented on #19700
@neild ignoring DST and leap seconds is precisely the use case for civil time

[2019-11-24 18:04] stamblerre commented on #35388
I recently ran into this myself on my Mac. Looking at the logs, it seems like VS Code is still applying code actions even if the versions of the files no longer match up. There is still a larger issue of `gopls` sending codeActions for older versions of the file.

[2019-11-24 18:23] eliasnaur commented on #35641
On Sun Nov 24, 2019 at 9:19 AM Pontus Nilsson Tengnäs wrote:

The `-o` option should let you name your framework any way you want,
providing the name ends with `.framework`. That's why I wanted you
to provide us with exact reproduction steps.

[2019-11-24 18:37] flowchartsman commented on #35808
Still attempting to dig into this. So it seems as though my internal VCS is actually "Bitbucket Server v5.16.10", while the current version is "6.8.0", so the "scm" portion of the URL might be something introduced in a later version (still trying to bisect).  Unsure what the correct answer is here, and whether or not the `insteadOf` workaround is just something I'm going to have to live with or wh

[2019-11-24 18:48] flowchartsman commented on #35808
Related: https://jira.atlassian.com/browse/BSERV-8255

[2019-11-24 19:04] bubundas17 commented on #35811
Well, I have compiled a c++ code to check if this behavior is also present in c++.
And yes, the same exact thing is happening with c++ as well.
It doesn't seem like a go specific issue.

But I am still curious and wanna find out why.

[2019-11-24 19:58] bradfitz commented on #30640
It's on there now. I guess gitmirror finally slowly populated the x/build git history into datastore.

[2019-11-24 19:58] #30640 closed

[2019-11-24 20:24] drswork commented on #33457
After much embarrassing fighting with git, a draft of the proposed API change (though without any implementation in the individual image packages yet) is at https://go-review.googlesource.com/c/go/+/208559

[2019-11-24 20:39] neild commented on #19700
@dylan-bourque  Yes, which is why a duration is not a good representation of a civil time. 7200 seconds past midnight is not necessarily 0200.

[2019-11-24 23:21] andybons commented on #35812
@dmitshur

[2019-11-25 01:12] #33500 closed

[2019-11-25 02:20] jingyugao commented on #35724
Client base on http2 may wrap the error and return an "http2:unexpected EOF" to users. Users cant know why.If client set the `maxReadSize`, users may get and "http2: frame too large" error.
Both error cant tell user the real reason.
If we first check the frame type, we can return the exact error and we don't need to read the last content.

[2019-11-25 02:48] ceseo commented on #35188
I don't see the deadlocks for a while. Looks like it's gone.

[2019-11-25 04:14] runner-mei commented on #13182
we need SLF4J

[2019-11-25 05:58] erifan opened #35813 "Syscall: TestScript/mod_cache_rw failed on window-amd64"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +9940c77 Mon Nov 25 03:41:16 2019 +0000 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
s

[2019-11-25 06:36] searKing opened #35814 "runtime: "fatal: morestack on g0" and blocking forever when go export functions is called in any signal handlers registered by the non-Go code"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/chenhaixin/Library

[2019-11-25 06:57] lafriks commented on #32350
Currently this issue prevents service worker to load as browsers block it if it's content type is not JavaScript

[2019-11-25 06:57] searKing commented on #35814
I have also tried to rewrite signal handler in golang asm,  with ```runtime.setsig```,  but ```fatal: morestack on g0``` will be thrown directly.

[2019-11-25 07:33] PumpkinSeed commented on #35796
I got what you told me. In this case the issue with this, why I get logs about Server Closed when I initiate the HTTP close by myself. So for example I want to use log.Fatal when the ListenAndServe throw me any error, but if I do shutdown on my side it will break the code always. It's not an error if I call the Shutdown of the http.Server and it's do what I told to it.

[2019-11-25 07:40] Helflym commented on #35451
@mknyszek yes I think we can close this issue for now.

Closed by https://github.com/golang/go/commit/5042317d6919d4c84557e04be35130430e8d1dd4

[2019-11-25 07:40] #35451 closed

[2019-11-25 07:45] pontusntengnas commented on #35641
Ok I see I will try to find time to make an example and attach here.

[2019-11-25 07:46] agnivade commented on #35796
Please see the documentation:
https://golang.org/pkg/net/http/#Server.Shutdown
https://golang.org/pkg/net/http/#ListenAndServe

So you need to check for `err != http.ErrServerClosed` and then do a `log.Fatal`.

For further questions, please use the links above.

[2019-11-25 08:44] zerofuko opened #35815 "gccgo: ar: bad option: -D"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go.1.10 gccgo (GCC) 8.1.0 solaris/sparc64

</pre>

### Does this issue reproduce with the latest release?

I dont know in solaris sparc. But in windows or linux amd64 this issue does not produce.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> O

[2019-11-25 08:59] smasher164 commented on #29982
Just to clarify, is the current consensus to change the constant declarations in math/bits to something like the following?
[code]

[2019-11-25 09:11] Helflym commented on #35710
@mknyszek no, I'm sorry I thought it was related to the new page allocator. But indeed, as you said, it seems to be linked with 374c2847f9c03da7365bfb78e5ef96a0cb837656 according to a `git bisect`. Moreover, our GDB already have trouble handling signals, so it seems legit.
I'm waiting for updates from the GDB team anyway.

[2019-11-25 09:23] mullerch commented on #35770
I am not able to reproduce the working example with go 1.12.
Sadly I did not kept the config nor the binaries.

Regarding the docs, shouldn't the build without CGO or with -tags="osusergo" be linked against: https://github.com/golang/go/blob/a38a917aee626a9b9d5ce2b93964f586bf759ea0/src/os/user/lookup_unix.go#L172

https://golang.org/pkg/os/user/

When cgo is available, cgo-based (libc-backed) code

[2019-11-25 09:31] SWBMESSI opened #35816 "module support to gomobile"
gomobile perfectly worked if module support to gomobile

[2019-11-25 09:38] myitcv opened #35817 "x/tools/gopls: first Configuration does not happen as part of handling Initialized"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +6f7b96f6cb Sat Nov 23 11:00:41 2019 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20191113223546-95cb2a1a7eae => github.com/myitcvforks/tools v0.0.0-20191119111301-0222b4b716c6
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.1.8-0.20191115202509-3a792d9c32b2 =>

[2019-11-25 09:41] agnivade commented on #35816
Duplicate of https://github.com/golang/go/issues/27234.

[2019-11-25 09:41] #35816 closed

[2019-11-25 09:51] yoav commented on #35699
Thanks, @ianlancetaylor. Putting aside the question of whether the version information should be considered sensitive, with TLS, this is only exposed to the proxy endpoint, or not exposed at all when using an organization-wide proxy (since it will commonly cache remote modules using its own UA).

Having the **real** version in the UA product token is tremendously helpful for endpoint maintainers a

[2019-11-25 10:05] irajdeep commented on #35607
@muirdm I would be willing to work on this as my first issue, if one else is working on it.

[2019-11-25 10:14] myitcv opened #35818 "x/tools/gopls: expensive go list run on startup"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +6f7b96f6cb Sat Nov 23 11:00:41 2019 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20191113223546-95cb2a1a7eae => github.com/myitcvforks/tools v0.0.0-20191119111301-0222b4b716c6
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.1.8-0.20191115202509-3a792d9c32b2 =>

[2019-11-25 10:19] myitcv commented on #35817
Another reason this needs to happen as part of the handling of `Initialized` is that `gopls` runs initial queries on startup. And because these queries can have side effects, `gopls` first needs to know any initial configuration settings before it can proceed: https://github.com/golang/go/issues/35818

[2019-11-25 10:48] mpx commented on #29308
This seems like another example where using BOOTTIME would help? (#24595)

[2019-11-25 11:45] kstenerud opened #35819 "How do I check for common socket error conditions?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.3 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Don't know. 1.13.4 compilation is broken:
[code]

### Issue

Running the following code:

[code]

... generates (correctly) the following error:

[code]

But as I understand it, there are supposed to be declared error values we can

[2019-11-25 12:27] myitcv opened #35820 "x/tools/gopls: change to go.mod file does not trigger recalculation of diagnostics"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +6f7b96f6cb Sat Nov 23 11:00:41 2019 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20191113223546-95cb2a1a7eae => github.com/myitcvforks/tools v0.0.0-20191119111301-0222b4b716c6
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.1.8-0.20191115202509-3a792d9c32b2 =>

[2019-11-25 13:29] waterhuang11 opened #35821 "net/http: panic in net/http.(*Server).Serve"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.7 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
not verify on latest release yet

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/ubuntu

[2019-11-25 13:59] jayconrod commented on #31529
@jnjackins #30515 is the issue for that.

[2019-11-25 14:04] cjxsimon opened #35822 "buffer size of csv.NewWriter.Flush()"
how to set the buffer size of csv writer, should i call flush() everyTime?

[2019-11-25 14:06] bcmills commented on #35726
This is probably a bug in the parser or loader somewhere. Note that the [Go spec](https://golang.org/ref/spec#Source_code_representation) explicitly allows a leading BOM:

[2019-11-25 14:09] bcmills commented on #35726
Curiously, this only manifests as an error in module mode:

[code]

[2019-11-25 14:20] bcmills commented on #35770
`lookupGroupId` is the implementation for the `user.LookupGroupId` function, not the `(*user.User).GroupIds` method.

[2019-11-25 14:25] bogojevic commented on #31217
@bradfitz, I'll take a look. The buildlet binary on both boards are from March 9th. When I manually start stage0 binary,  download me the same buildlet again.

[2019-11-25 14:51] bradfitz commented on #31217
@bogojevic, oh, if you were already using the stage0, perhaps we just had old buildlets uploaded to GCS. I just rebuilt buildlet.linux-mips64 & buildlet.linux-mips64le and they're re-uploaded.

[2019-11-25 15:11] dr2chase commented on #35777
To recap experiments last Friday (and I rechecked the test for the more mystifying of these Sunday afternoon), Cherry and I tried the following:

Double the size of the sigaltstack, just in case.  Also sanity check the bounds within gdb, they were okay.

Modified the definition of fpstate to conform to what is defined in the linux header files.
Modified sigcontext to use the new Xstate:

`fpstate

[2019-11-25 15:22] dayadev commented on #35702
@davecheney  Well when I tried to do go get outside of dockerfile, it worked fine without any issues. So, if its the network then, I believe it would have failed outside of docker file too.

[2019-11-25 15:30] bcmills commented on #34972
Yes, the conversion to `*RawSockaddrAny` is disallowed there: a `RawSockaddrAny` is larger than a `RawSockaddrInet4`, so that conversion in general would allow a caller to make a wild write past the end of the `RawSockaddrInet4`.

I think the root of the problem is that we are using `RawSockaddrAny` to mean two different (and mutually-incompatible) things:
1. A buffer with a large enough size (and

[2019-11-25 15:32] zx2c4 commented on #34972
C solves this by in fact having two types: sockaddr, which is just the type prefix, and sockaddr_storage, which can fit of the other ones, such as sockaddr_in4.

[2019-11-25 15:43] aclements commented on #35326
I've bisected the issue to kernel commit torvalds/linux@d9c9ce34ed5c892323cbf5b4f9a4c498e036316a. I haven't dug into this commit yet, but it appears to be a fix for bug that was introduced earlier (or possibly a redo of an earlier commit).

For reference, torvalds/linux@a352a3b7b7920212ee4c45a41500c66826318e92 in that same commit series introduced another bug first that produced similar failure ty

[2019-11-25 15:47] leafrhythms opened #35823 "proposal: go get: support dynamic (unknown host site, with "go-get=1") with version beyond v2."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +b81dd1c0e7 Sun Nov 24 15:06:38 2019 +0000 linux/amd64

</pre>

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOB

[2019-11-25 15:56] scott-boyce commented on #35307
@ianlancetaylor That works for me as well. Most people dont use the directives in Fortran, but rather rely on compiler flags for the compiler target to do the optimizations (it would be my preference to have it htat way, I just was unsure if the GO compiler required some sort of flag scheme in the code to help it).

[2019-11-25 16:01] bcmills commented on #35283
If people want to replace specific parts of the standard library, I think #30241 or something similar would provide a more consistent way to do that.

If we decide that a given standard-library package should be independently upgradeable, we can make that package forward to a corresponding package in some other, actual module (such as `golang.org/x/crypto`). Then, we can allow the _module dependen

[2019-11-25 16:06] aclements commented on #35777
[An update](https://github.com/golang/go/issues/35326#issuecomment-558212984) from over in #35326: I've bisected the issue to kernel commit torvalds/linux@d9c9ce34ed5c892323cbf5b4f9a4c498e036316a, which happened between v5.1 and v5.2. It also requires the kernel to be built with GCC 9 (GCC 8 does not reproduce the issue).

[2019-11-25 16:13] toothrot commented on #35727
Also /cc @mikioh

[2019-11-25 16:18] toothrot commented on #35730
/cc @alexbrainman @bradfitz

[2019-11-25 16:19] dmitshur commented on #30640
x/website too. I can't help but feel there must've been another reason why it appeared now and not in any of the last few months.

[2019-11-25 16:27] toothrot commented on #35731
@rnv5 It looks like shadow supports this with the `-strict` flag:

I tested it with your sample code:

[code]

Does this work for you?

[2019-11-25 16:34] bradfitz commented on #30640
@dmitshur, I also restarted gitmirror. And for x/build I manually created a datastore record. (not for x/website, though)

In any case, all this complicated code is being deleted in https://golang.org/cl/208697.

[2019-11-25 16:40] ghost opened #35824 "testing: the overview documentation on (*T) Run is unclear"
The package documentation says that

[code]

But that means that in the example above (see below) the tests aren't run in parallel, because "Run does not return", which I take to mean that the first Run blocks (and then the second too, etc):

[code]

[2019-11-25 17:05] bcmills commented on #30316
As of [CL 208482](https://golang.org/cl/208482), `all.bash` passes when run under the conditions that trigger a read-only `GOROOT`.

Specifically, I tested with:
[code]

I believe that the main (`go`) repo is now ready for a non-root `longtest` builder to trigger read-only mode and prevent regressions.

[2019-11-25 17:14] bcmills commented on #28387
This is now fixed for the standard library. Leaving open for the `x/` modules.

[2019-11-25 17:15] aclements commented on #35760
@myitcv, have you seen this again? I'm betting this is part of the memory corruption super-bug, but there isn't a smoking gun in the backtrace.

[2019-11-25 17:27] toothrot commented on #35752
/cc @josharian @mvdan @ianlancetaylor @bradfitz

[2019-11-25 17:33] toothrot commented on #35784
Marking this as Go1.14 to be consistent with #35470, please correct me if I am mistaken @ianlancetaylor @cherrymui

[2019-11-25 17:39] dmitshur commented on #35812
There was a problem in the package.html template that is starting to be caught in Go 1.14. Can be reproduced with `gotip run golang.org/x/website/cmd/golang` and visiting the page. Evaluating the package.html template produces an error:

[code]

The error is in the following line of package.html template:

[code]

It should instead be:

[code]

This change happened in CL 101295, where the intentio

[2019-11-25 17:42] toothrot commented on #35792
/cc @mikioh as the owner

[2019-11-25 17:44] cuonghuutran opened #35825 "runtime: long GC STW after large allocation (100+ msec waiting for runtime.memclrNoHeapPointers)"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.11.4 linux/amd64

</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/cuong.tran/.cache/go-build"
GOEXE=

[2019-11-25 17:49] OneOfOne opened #35826 "x/tools/gopls: a way to control staticcheck options"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
$ gopls version
golang.org/x/tools/gopls 0.2.0
    golang.org/x/tools/gopls@v0.2.1 h1:qXHEqJw4CqROYvoDXinY1ZOkyAFS+jcPOvLRK76dvwY=
</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><c

[2019-11-25 17:49] OneOfOne commented on #35826
cc @stamblerre @ianthehat

[2019-11-25 17:52] stamblerre commented on #35826
Thanks for the report! This will be fixed in [CL 208098](https://go-review.googlesource.com/c/tools/+/208098).

[2019-11-25 17:54] stamblerre commented on #35607
@irajdeep: Thanks, that'd be great! Please feel free to reach out to me here or on [Gophers Slack](https://invite.slack.golangbridge.org/) if you need any guidance.

[2019-11-25 17:54] OneOfOne commented on #35826
Actually, I just dug through the source trying to implement it and and found `experimentalDisabledAnalyses` which does exactly what I need.

Sorry for the noise.

[2019-11-25 17:54] #35826 closed

[2019-11-25 17:57] bcmills commented on #35823
Duplicate of #35013

[2019-11-25 17:58] bcmills commented on #35823
This is a bug in `git.sr.ht`'s implementation of the [remote import path](https://golang.org/cmd/go/#hdr-Remote_import_paths) `<meta>` tag protocol.

[2019-11-25 17:59] bcmills commented on #35822
This issue seems to be a question about how to use Go, rather than a feature request or defect report about the Go language and/or toolchain.

We have decided that our [experiment to allow questions on the issue tracker](https://golang.org/issue/23745) has not had the outcome we desired, so I am closing this issue. I'm sorry that we can't answer your question here.

There are many other methods to

[2019-11-25 17:59] #35822 closed

[2019-11-25 18:01] ALTree commented on #35825
Thanks for the report.

I believe this may be basically a dup of #31222, but cc @aclements @mknyszek for confirmation.

[2019-11-25 18:01] toothrot commented on #35794
I think you're right, the behavior here is described in the documentation for cmd.Stdin:

[code]

I am not sure if exposing `waitDone` is the correct API for this. `Cmd` already has `Process` exported, so presumably `Process.Wait()` should give you similar information or control. In your example, does `cmd.Process.Wait()` do what you want?

Please let me know if I've misunderstood something here.

[2019-11-25 18:04] bcmills commented on #35813
What version of Windows was this on? It looks like for some reason it didn't parse the `/s` and `/q` switches as switches.

Looking at https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/rd, perhaps some (all?) versions of Windows require the path to precede the switches?

[2019-11-25 18:05] bcmills commented on #35813
Hmm, but the examples in https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/rd#BKMK_examples pass the switches first too.

[2019-11-25 18:05] bcmills commented on #35813
@alexbrainman, @zx2c4: any idea what's going on here? I'm sure I'm missing something pretty fundamental, but I don't know what.

[2019-11-25 18:07] bcmills commented on #35813
@erifan, it would be really helpful to know what version of Windows this is on.

[2019-11-25 18:07] zx2c4 commented on #35813
`rmdir` or `rd` is a command built-in to cmd.exe. You can evoke `cmd.exe /c` and run it from there (sort of like `sh -c`).

[2019-11-25 18:11] bcmills opened #35827 "cmd/go: 'go test -mod=mod' fails if GOFLAGS contains a default -mod setting"
`go test -mod=mod` does not successfully override a `-mod` flag specified in `GOFLAGS`.
Instead, it fails with `go test: mod flag may be set only once`.

[code]

Script test to reproduce:
[code]

Output:
[code]

CC @jayconrod

[2019-11-25 18:13] dmitshur opened #35828 "x/build/cmd/gitmirror: build repo is broken due to updateDashboard failing to postCommit on a commit with 2 parents"
From https://farmer.golang.org/#health right now:

<img src="https://user-images.githubusercontent.com/1924134/69566401-ffcdd280-0f84-11ea-9510-589bb9a32649.png" width="362px">

This has happened a few times in the last few days. I've fixed previous instances by restarting gitmirror, but since it keeps recurring, this will need to be investigated and fixed more.

/cc @toothrot @cagedmantis

[2019-11-25 18:15] smikulcik commented on #29415
From what I can tell, you just have to be in a package that has a go.mod file.  Then you can get a particular version.

[2019-11-25 18:15] zx2c4 commented on #35813
Seems like it might be easier to have a built-in `rmdir_r` and `rmdir` or similar as part of the script executor, so we don't need all of this `[windows:...`,`[!windows:...` stuff?

[2019-11-25 18:22] edef1c opened #35829 "x/crypto/acme: crypto.Signer interface mismatch"
Currently, `acme.Client.Key` is allowed to be a `crypto.Signer`, but has [rather unusual expectations of that interface](https://github.com/golang/crypto/blob/ac88ee75c92c889b97e05591e9a39b6480c538b3/acme/jws.go#L130-L132):
[code]

It is the understanding of me and @FiloSottile that a `crypto.Signer` should return the "standard" signature format matching the key type returned by `Public()`, which

[2019-11-25 18:30] ctxkenb commented on #33729
I've updated the CL to fix this in go/packages

[2019-11-25 18:32] ridersofrohan commented on #33793
Fixed in [#004141d](https://github.com/golang/tools/commit/acc15743c3f656ff416c076db65639213ff94cb8)

![Screen Shot 2019-11-25 at 13 31 13](https://user-images.githubusercontent.com/3170854/69567655-dfebde00-0f87-11ea-8a30-416bfa7d04be.png)

[2019-11-25 18:32] #33793 closed

[2019-11-25 18:32] FiloSottile commented on #35829
@x1ddos Any reason for this? The `crypto.Signer` interface should always be expected to behave like the corresponding `PrivateKey` implementation. If we need a different format, we need to take the output apart and reserialize.

Unless I'm missing something, we should fix this soon so that code doesn't start relying on it.

[2019-11-25 18:43] bcmills commented on #35813
This test is _specifically_ for OS-provided `rm`-like commands, since (for example) the `removeAll` function defined in `go_test.go` can remove directory trees on Linux that `rm -rf` (as a non-root user) cannot.

[2019-11-25 18:46] edef1c commented on #35829
The bug was introduced by https://github.com/golang/crypto/commit/bfa7d42eb568d3c454e1853744768cc80718040d.

[2019-11-25 18:49] bradfitz commented on #35828
If it helps:

[code]

.. to look at the goroutine stacks of the active pods.

[2019-11-25 18:54] FiloSottile commented on #35829
Yeah, pretty sure this is a bug. Sorry I missed it in review.

[2019-11-25 18:54] x1ddos commented on #35829
That comment would be misleading if you read it from a public API point of view. What it actually does is it formats the signature according to JWS if it's ECDSA or uses whatever `crypt.Signer.Sign` outputs as is, which is the case for RSA too.

Yes, see commit message https://github.com/golang/crypto/commit/bfa7d42eb568d3c454e1853744768cc80718040d (you reviewed it at the time, it seems)

The `jws

[2019-11-25 18:56] ItsMattL opened #35830 "Implement Getpriority and Setpriority for Windows"
### What version of Go are you using (`go version`)?

1.13

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

set GOHOSTARCH=amd64
set GOHOSTOS=windows

### Detail

The Getpriority and Setpriority methods in the syscall package lack parity between Linux and Windows.

See GetPriorityClass and SetPriorityClass

[2019-11-25 18:57] FiloSottile commented on #35829
If a `crypto.Signer` with a `Sign` method that behaves correctly like `ecdsa.PrivateKey.Sign` is used as a `Client.Key`, the library will not behave correctly, right?

From the `crypto.Signer` docs:

[2019-11-25 19:05] #35813 closed

[2019-11-25 19:05] x1ddos commented on #35829
Ok. I'll take a look. Can't remember at the moment what the issue with using ASN1 for ECDSA was exactly.

[2019-11-25 19:08] ianlancetaylor commented on #35830
The syscall package is more or less frozen.  `GetPriorityClass` and `SetPriorityClass` are available in the golang.org/x/sys/windows package.  Use that one.

[2019-11-25 19:08] #35830 closed

[2019-11-25 19:11] #35811 closed

[2019-11-25 19:13] ianlancetaylor commented on #35752
I agree that we should mention this in the documentation and not change the behavior of the function.

[2019-11-25 19:15] edef1c commented on #35829
No, signatures are never reformatted from the ASN.1 format to the JWS format, not even for ECDSA.
For `*ecdsa.PrivateKey`, it uses `ecdsa.Sign` to gather the raw `(r, s)` tuple and then formats *that* for a JWS. This distinct treatment of `*ecdsa.PrivateKey` is perfectly visible in public interface.

This is fairly easy to demonstrate:
[code]

[code]

[2019-11-25 19:20] ianlancetaylor commented on #23019
Another variant: #35794.

[2019-11-25 19:20] ianlancetaylor commented on #35794
This is basically a variant of #23019 and should perhaps be closed as a dup.  Discussion should likely be on #23019 rather than on this new issue.

[2019-11-25 19:20] myitcv commented on #35760
Nope, haven't seen this again. And per above also unable to reproduce.

Of the issues that fall under the umbrella of #35777, the only once I've seen more than once is https://github.com/golang/go/issues/35326. Indeed that's the only one I can reproduce.

[2019-11-25 19:21] #35720 closed

[2019-11-25 19:21] ianlancetaylor commented on #23019
Another report: #33704.

[2019-11-25 19:21] ianlancetaylor commented on #33704
This is #23019.  Closing as dup.

[2019-11-25 19:21] #33704 closed

[2019-11-25 19:23] x1ddos commented on #35829
Found where it's used internally. I believe I'll be able to make it work with ASN1 in all cases.

[2019-11-25 19:33] ianlancetaylor commented on #35815
You can ignore those error messages.  This is fixed on tip.  I don't mind if someone wants to backport the fix but I don't intend to do it myself.

[2019-11-25 19:33] #35815 closed

[2019-11-25 19:34] edef1c commented on #35829
FWIW, I've got a patch ready to roll, but the tests would need a bit of rework to actually pass valid signatures around rather than `"testsig"`.

[2019-11-25 19:40] x1ddos commented on #35829
@edef1c then please take this bug.

[2019-11-25 19:45] ianlancetaylor commented on #35699
Telemetry is a complicated topic.  The phrasing of this issue suggests changing the User-Agent string in the net/http package, which would affect many Go programs.  Exposing a version number only in module proxy requests would be a different matter, but even there it's not clear that different organizations want to report their version usage to any proxy that they use.  I wouldn't describe this as

[2019-11-25 19:45] toothrot commented on #35794
Closed as dup of #23019

[2019-11-25 19:45] #35794 closed

[2019-11-25 19:47] ianlancetaylor commented on #35819
I think this is a dup of #4373, which has a complicated discussion.  I'm going to close this as a dup, but please comment if you disagree.

[2019-11-25 19:47] #35819 closed

[2019-11-25 19:55] ianlancetaylor commented on #35188
Thanks, closing.  We've fixed several potentially deadlock causing bugs in the last few weeks.

[2019-11-25 19:55] #35188 closed

[2019-11-25 19:59] ianlancetaylor commented on #35814
I'm sorry, this will never work.  A signal handler can only call async-signal-safe functions.  Go code will never be async-signal-safe.  That would be nearly impossible to implement, and it is not a goal.

I recommend that open a pipe, read from the pipe on the Go side, and in the signal handler write a byte to the pipe.  The write call is async-signal-safe.

[2019-11-25 19:59] #35814 closed

[2019-11-25 20:10] ianlancetaylor commented on #35800
It's not obvious to me that this has anything to do with `pthread_cond_timedwait_relative_np`.  The backtrace suggests that `sysmon` called `notetsleep` to sleep for up to `0xdf8475800` nanoseconds on the note, which is 1 minute.  That is normal enough, and it's possible that `sysmon` was in a loop sleeping for a minute or two each time waiting for something to happen.

The stack trace shows the o

[2019-11-25 20:25] heschik commented on #35721
So, this is a bit of a good news/bad news situation.

The good news is that @mdempsky's patches work beautifully, and features like autocomplete start working in cgo files with no changes to gopls whatsoever. As I said before, there's still some work to re-trigger cgo compilation when appropriate, and the `import "C"` line currently shows an error, but these should be pretty tractable problems.

T

[2019-11-25 20:29] mdempsky commented on #35721
It's only a standard library change, so it should be possible to backport the changes via vendoring if gopls users want to use it before 1.15.

[2019-11-25 20:38] irajdeep commented on #35607
Hey folks! I tried to reproduce this issue first, In `vscode` I selected `find all references` for `matcher interface`. In results, I don't seem to get any of the "type(s)" which implement the interface.

<img width="931" alt="Screen Shot 2019-11-25 at 9 35 54 PM" src="https://user-images.githubusercontent.com/7368670/69576110-f3209d00-0fcb-11ea-9e5f-29dd3044f4b6.png">

[2019-11-25 20:39] stamblerre commented on #33729
Thank you! Sent you a comment on the CL.

[2019-11-25 20:43] heschik commented on #35721
I don't think that's a good option in module mode, unfortunately.

[2019-11-25 20:50] #35401 closed

[2019-11-25 20:53] ridersofrohan commented on #35601
Fixed in [#73db347](https://github.com/golang/tools/commit/73db347c3b7cb8dddf5cb12d7637682d56758cf4)

[2019-11-25 20:53] #35601 closed

[2019-11-25 21:15] #35790 closed

[2019-11-25 21:23] bcmills commented on #35699
@ianlancetaylor, my interpretation is that the request is for the `go` command itself to set its `User-Agent`, rather than changing the default `net/http` `User-Agent` string for each Go release.

[2019-11-25 21:35] aclements commented on #35326
Progress update.

Eagerly faulting in the gsignal stack immediately after allocating it (by just writing zeros to the whole stack) successfully mitigates the issue. This indicates that it's related to the failure path of torvalds/linux@d9c9ce3, which deals with the stack not being mapped for the xsave area. This is a workaround, but not a great one, since other things could cause those stack pages

[2019-11-25 21:39] Matir opened #35831 "cmd/link: Unable to cross-compile darwin/amd64 PIE on Linux"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/matir/.cache/go-buil

[2019-11-25 21:45] cespare commented on #27782
By the way, @rsc, you wrote

I don't think that's a good test here. I explained in my previous comment that our auxiliary functions are indeed widely used internally at work. However, I wouldn't use some third-party package to provide `UnixMilli`/`FromUnixMilli` in open-source work. In fact, I consider pulling in dependencies to provide such trivial functions to be something of a code smell. If I

[2019-11-25 21:58] FiloSottile commented on #35798
Vulnerability tracking is an open ecosystem question we are working on, but I don't think it should be x/net's responsibility to pull up the version of x/crypto past a vulnerability in a component that x/net doesn't depend on.

How MVS works is that each module specifies the minimum version of its dependencies it needs to work correctly, and then the go tool will pick the highest in the graph, whi

[2019-11-25 21:58] #35798 closed

[2019-11-25 22:02] ceseo commented on #34500
I haven't seem these in a while too. Seem resolved by the recent changes that addressed builder issues.

[2019-11-25 22:02] ianlancetaylor commented on #35326
We could use `mlock` to lock the signal stack into memory on affected systems.

Would be really nice to have a C reproducer, though.  If you write `1` to `/proc/sys/vm/drop_caches`, the Linux kernel is supposed to drop the page cache.  That suggests that we could mmap some file into memory and use that memory space for the signal stack.  Then after each signal `msync` the signal stack and set `dro

[2019-11-25 22:04] bradfitz commented on #35828
If it turns out this is hanging due to updating the dashboard, note that all the code's gone as of pending https://go-review.googlesource.com/c/build/+/208697

[2019-11-25 22:07] ceseo commented on #32327
This deadlock also seems it's fixed.

[2019-11-25 22:07] ianlancetaylor commented on #35831
In order to cross-build a PIE from GNU/Linux to Darwin, you must set `CC` to a Darwin C cross-compiler, which will need to be able to see a set of Darwin libraries.

[2019-11-25 22:07] #35831 closed

[2019-11-25 22:09] ianlancetaylor commented on #34500
CC @bradfitz

[2019-11-25 22:11] ianlancetaylor commented on #32327
Thanks.

[2019-11-25 22:11] #32327 closed

[2019-11-25 22:11] muirdm commented on #35607
Thanks for looking at this. It still happens for me on master. Below is the request/response log showing the duplicate results. Maybe VSCode is de-duping the results? Otherwise, not sure what is going on.

[code]

[2019-11-25 22:12] FiloSottile commented on #35829
@edef1c If you want to send a CL with tests, that's great, otherwise we introduced the issue so we'll fix it, don't worry. Just let us know.

@x1ddos I am on vacation for the rest of the week, if you don't have time to fix this this week feel free to reassign it to me and I'll send a CL next Monday.

[2019-11-25 22:13] bradfitz commented on #34500
I'm going to close this as a dup of #10921.

[2019-11-25 22:13] #34500 closed

[2019-11-25 22:17] juliehockett opened #35832 "cmd/go: go mod download and go mod tidy produce different go.sum"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/usr/local/google/home/jul

[2019-11-25 22:22] cuonghuutran commented on #35825
Seems to me it's a different problem -- this happens when malloc'ing a very large large memory vs. sweeping. Nevertheless, the solution to make clrNoHeapPointers would work but it's not available until 1.15. Just a thought here, until then and as a band-aid, should largeAlloc() clears memory in smaller chunks and check for thread parking between clearing?

[2019-11-25 22:23] mdempsky commented on #35326
What about just mmap'ing new signal stack VMA each iteration of the main loop?

[2019-11-25 22:26] cespare commented on #19700
@rsc speaking only of the code I've written and read:

1. I've needed dates with no associated time/location several times.

   One type of code where this comes up has to do with an analytics system that collects daily data. At some level these days have locations, obviously (in order to decide to which day some event ought to be attributed) but higher up we refer to abstract dates without any ti

[2019-11-25 22:28] FiloSottile opened #35833 "math/big: add Int.FillBytes"
When implementing cryptography, what we need is almost always a fixed size buffer representing a value in big endian. What `math/big.Int.Bytes` provides is a variable size buffer, so all over the place there are snippets of code that do `make`, `Bytes` and `copy` with a `len` dependent index. I just implemented one the other day for https://golang.org/cl/208484, and just saw one in [x/crypto/acme]

[2019-11-25 22:30] dmitshur commented on #35828
It is. It happened again, and here are the logs:

[code]

It sounds like we can let this wait for [CL 208697](https://golang.org/cl/208697) before trying to make progress here, does that sound good to you @bradfitz?

[2019-11-25 22:33] bradfitz commented on #35828
Yup. Let's wait.

That code is all scary and it's not worth debugging. Easier to delete it all.

[2019-11-25 22:34] aclements commented on #35326
I just got the C reproducer working. I'm working on tidying it up and I'll post it. Both madvising and mmaping the sigaltstack work to clear the pages (and that is necessary). The other missing ingredient was just running lots of the processes simultaneously.

[2019-11-25 22:36] #35604 closed

[2019-11-25 22:40] moficodes commented on #35719
I dont think having those reference to the old repo was the problem.

I created a new folder with a new gomod file

[code]

added file `main.go` with code
[code]

ran `go mod tidy`

got
[code]

If I am the only one getting this error then I might have to check my go env setup.

[2019-11-25 22:55] elad commented on #35727
Another way to reproduce the problem, without `*net.IPNet`, is to call `IP.To4()` and then do the serialization and deserialization.

Playground: https://play.golang.org/p/VgWt3PtRN8o

[2019-11-25 22:55] eliasnaur commented on #35800
More weird crashes on darwin/arm64:

https://build.golang.org/log/186ffe8d4a32f24c719cb49eddf6e37e73957239 ("fatal: bad g in signal handler")
https://build.golang.org/log/8da8b3d360f7b226bbc021f29c3d9617d35773f9 ("signal: illegal instruction")

[2019-11-25 22:58] griesemer commented on #35833
Would it make sense to provide the byte slice to avoid a copy?

[code]

[2019-11-25 23:12] mdempsky commented on #35721
@heschik Fair enough. I'm still very much a modules noob, so I defer to your expertise on how best to address the issue. I mostly wanted to clarify that compiler changes aren't involved here.

I'd be curious what happens for "jump to definition" on a C.foo symbol. I'm guessing it jumps to the \_cgo\_gotypes.go file?

We could maybe get cgo to emit //line directives to make it point into the C prea

[2019-11-25 23:30] stamblerre commented on #32869
This has been complete as of a few weeks ago. Closing.

[2019-11-25 23:30] #32869 closed

[2019-11-25 23:30] mostynb opened #35835 "os, io/ioutil: clarify ioutil.WriteFile and os.Mkdir docs re permissions and umask"
### What version of Go are you using (`go version`)?

go1.13.4

### Does this issue reproduce with the latest release?

Yes

### What did you do?

I noticed that the ioutil.WriteFile docs say "with permissions perm", but without any mention of umask:
https://golang.org/pkg/io/ioutil/#example_WriteFile

The implementation passes perm to os.OpenFile, whose docs do describe the interaction with the u

[2019-11-25 23:31] stamblerre commented on #35820
This is a consequence of https://github.com/golang/go/issues/31999. `gopls` doesn't yet track modifications to `go.mod` files. @ridersofrohan will be working on this issue. Closing as a duplicate of https://github.com/golang/go/issues/31999.

[2019-11-25 23:31] #35820 closed

[2019-11-25 23:36] pongad commented on #33677
Wanted to give a little update on this. (Apologies if this should be written elsewhere.)

There is a fix for this that passes all tests by checking `t.Before(u)` against the sign of the computed duration. At least on my laptop, the performance benefit of this is rather small at ~20% in an already-fast function. I'm not sure if this is actually worth doing. Unless someone can think of a better algo

[2019-11-25 23:43] ianlancetaylor commented on #35800
CC @cherrymui

[2019-11-26 00:14] heschik commented on #35388
I looked at the logs from https://golang.org/issue/35388#issuecomment-554172456. I'm going to focus on the moment between :19 and :20 where `"go.ang.org/x/sync/sema"` appears in the file.

That string appears in the log at 17:45:45.250, so we know that whatever happened probably happened in the few seconds before that. The most likely-looking code actions are:

[code]
Note that VS Code sent us two

[2019-11-26 01:26] tv42 commented on #23019
I feel like any timeout mechanism here loses all guarantees of seeing all output.

The one scenario where I can see that as valuable is if caller used `os/exec.CommandContext` and cancelled the context.

I'd hate to see a non-cancellation code path rely on a timeout; there's no guarantee of correctness there.

[2019-11-26 01:42] shawn-xdji opened #35837 "cmd/vet: -<analyzer> flags don't work when outside of GOROOT"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +95be9b7559 Fri Nov 22 04:26:34 2019 +0000 linux/amd64

</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOB

[2019-11-26 01:43] shawn-xdji commented on #35837
I have a local fix, would like to send it for reviewing if this is a bug.

[2019-11-26 01:54] #35823 closed

[2019-11-26 02:09] smasher164 commented on #35307
Regarding a standard vectorization package, it is worth looking at prior art in the form of the [WebAssembly SIMD Proposal](https://github.com/WebAssembly/simd/blob/master/proposals/simd/SIMD.md), which itself is inspired by [Dart's SIMD Numeric Types](http://dartdoc.takyam.com/articles/simd/).

They both acknowledge that a 128-bit lane width is enough for most people. However, a standard vectoriz

[2019-11-26 02:23] erifan commented on #35813
The Windows version information is as follow:
Edition: Windows 10 Enterprise
Version: 1809
OS build: 17763.864
I tested the latest code, this problem has disappeared. Thanks @bcmills @zx2c4

[2019-11-26 02:40] opennota commented on #35832
Also https://github.com/golang/go/issues/27633

[2019-11-26 02:56] caseybarker commented on #35767
Out of curiosity, I tested `File.Seek()` for regular file reads. That works as expected.

[2019-11-26 03:29] andyTsing commented on #35726
Under normal circumstances, it is unlikely to encounter such errors...
Later, I recalled that the error was probably caused by opening the.go file using Windows' noe.exe,Windows' note.exe processes utf8 format, attaching BOM,The process of the second round made me pay attention to this point. Otherwise, this mistake would be hard to find. Fortunately, @toothrot has rich experience and found the re

[2019-11-26 03:40] arthurkiller commented on #32869
good job

[2019-11-26 04:06] opennota commented on #35752
In another case Expand was fixed:
https://github.com/golang/go/issues/24345
Perhaps in this case ExpandEnv should be fixed too.

[2019-11-26 04:12] #34505 closed

[2019-11-26 04:13] Re-volution opened #35838 "A problem about time.Sub function."
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.12.5 windows/amd64

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\99\AppData\Local\go-build
set GOEXE=

[2019-11-26 04:15] Re-volution commented on #35838
The current way is to operate with time.Now().Unix()

[2019-11-26 04:20] cherrymui commented on #35800
Like Android, this is also the go_bootstrap program, and it also has the warning
[code]

On darwin/arm64, we use libc calls, but as it fails to load runtime/cgo package, it does not save/restore G in TLS. If C code temporarily clobbers the G register and a signal is received, bad things will happen.

I guess the only thing we could do is to have async preemption disabled in go_bootstrap (and hope

[2019-11-26 04:33] agnivade commented on #35719
Your forked repo still has references to the old package path. I still don't see a change in the current master. Please see @toothrot's message above.

I agree that this is the right error message. But perhaps @bcmills can weigh in if there is anything else that can be done.

[2019-11-26 04:39] dr2chase commented on #35777
Not sure where Austin's reporting this or if he had time today, but:
-  he has a C program demonstrating the bug in Linux 5.3 (built with gcc 9) for purposes of filing a bug soonish;
- there is a workaround on the Go implementation side (be sure the signal stack is mapped);
- I managed to create a failing Linux 5.3 where the entire kernel is compiled with gcc 8, except for `arch/x86/kernel/fpu/sig

[2019-11-26 04:40] agnivade commented on #35827
I believe this is a duplicate of https://github.com/golang/go/issues/32471.

[2019-11-26 04:42] zikaeroh commented on #35777
All of the progress updates have been going on #35326. (Most recently, https://github.com/golang/go/issues/35326#issuecomment-558371242.)

[2019-11-26 05:16] l0k1verloren commented on #34728
I have hit up against this problem myself. Actually there is two bugs in my particular case, it's not nearly as clean as I would like it but I found the fix.

First issue is that `net.DialUDP` by default binds to 0.0.0.0:<same as outbound> when I use 224.0.0.1 multicast address on it. This means you can't listen on that same port on any interface once it binds.

As the bug report here says, listen

[2019-11-26 05:33] moficodes commented on #35719
@agnivade I got rid of all the reference to the old repo from this repo.

`https://github.com/moficodes/promptui`

https://github.com/moficodes/promptui/search?q=github.com%2Fmanifoldco%2Fpromptui&unscoped_q=github.com%2Fmanifoldco%2Fpromptui

Still on the new repo getting the same error message. Thought might module might have been cached. So deleted to `go/pkg/mod folder` just to be sure.

Still

[2019-11-26 05:34] zulhfreelancer commented on #31906
@stamblerre thank you. Any idea why this popup keeps showing?

<img width="462" alt="Screen Shot 2019-11-26 at 1 30 37 PM" src="https://user-images.githubusercontent.com/3416976/69602004-ff027280-1050-11ea-9832-0c9ba43b6259.png">

I already have `gopls` installed by pressing that _Update_ button. I also tried cloning `github.com/golang/tools` repo, and ran `go install` inside the `gopls` folder.

[2019-11-26 05:40] roopakv commented on #32869
@stamblerre is there a timeline on when this will make its way to the gopls installed from vscode?

[2019-11-26 05:56] AlexRouSg commented on #35838
This is intentional and has been this way since 1.9, see #12914 and https://golang.org/pkg/time/#hdr-Monotonic_Clocks

If you want to do Sub on the wall time you could do:
[code]

[2019-11-26 06:02] #35812 closed

[2019-11-26 06:20] dmitshur opened #35839 "x/tools/go/packages: TestCgoOption fails on Windows because net.cgoLookupHost doesn't exist"
From a [recent run](https://build.golang.org/log/c3491c162a230b13f18d84c848aa05fcbda5c6fd) of the `windows-amd64-longtest` builder (after increasing its memory in [CL 208500](https://golang.org/cl/208500)):

[code]

The test tries to look for function `cgoLookupHost`, which exists in [net/cgo_unix.go](https://github.com/golang/go/blob/87805c92fd57d1535d0e497dd245ef783007b59d/src/net/cgo_unix.go#L5

[2019-11-26 06:22] dmitshur commented on #33951
Looks like the CL above helped; we got our first near-pass of x/tools on `windows-amd64-longtest` builder in [this recent run](https://build.golang.org/log/c3491c162a230b13f18d84c848aa05fcbda5c6fd). It found #35839.

[2019-11-26 06:25] FiloSottile commented on #34536
Thank you @rsc for the detailed background, I indeed didn't know about the 2017 discussion, and I agree that the wording of the policy I'm suggesting is a meaningful change from #19069.

As additional background, I'll try to provide my perspective on why we veered away from it, and I'll try to argue that the policy in this issue does address #19069. However, while I was sharing the release managem

[2019-11-26 06:35] dvyukov commented on #35777
There is this commit that clams to be fixing something in the culprit commit:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=b81ff1013eb8eef2934ca7e8cf53d553c1029e84
I don't know if it will help or not, but @aclements if you have test setup ready, may be worth cherry-picking and trying.

[2019-11-26 06:42] oiooj commented on #34394
`goproxy.io` fixed this issue, thanks.

[2019-11-26 06:44] Re-volution commented on #35838
Thank you very much. Maybe I should read more updated documents

ps:That's right
`
	t := time.Now()
	for {
		t2 := time.Now()
		t2 = t2.Round(0)
		at := t2.Sub(t)
		t = t2
		fmt.Println(at)
		time.Sleep(5 * time.Second)
	}
`

[2019-11-26 06:44] robpike commented on #35833
Yes, I like @griesemer's design. Panic is OK if documented. A nil argument could allocate, perhaps?
That is, if you provide a buffer it must be big enough; otherwise one will be allocated.

[2019-11-26 06:49] the-maldridge opened #35840 "sum.golang.org: negative TTL is too high"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
N/A

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/maldridge/.cache/go-

[2019-11-26 06:50] chengyayu commented on #32869
@stamblerre When will this feature take effect in vscode?

[2019-11-26 06:51] FiloSottile commented on #35833
Oh, I like that!

The nil argument behavior would make sense if we didn't have Bytes, but that's there to stay.

I am not a fan of the fact that one can't really tell which is which based on the names (Bytes vs. AsBytes) but I don't have better suggestions. Maybe `BytesWithBuffer`? It's a mouthful but hopefully clear? `WriteBytes`?

[2019-11-26 07:00] stamblerre commented on #35607
Thanks for investigating, @irajdeep. It's definitely possible that VS Code is de-duping. I actually expect that @ridersofrohan's work on fixing https://github.com/golang/go/issues/35600 will also resolve this issue.

[2019-11-26 07:01] magnetikonline commented on #32869
From what I see testing right now, it "just works".

Restarted VSCode - was even told a `gopls` update was available - hit `Update` - `gopls` binary was re-compiled and we're good! Can now "Find all references" across packages in a (large) test project. And wow - it's _very_ fast vs. the previous `guru` reference crawl. 👍

If you don't get the Update popup - select `Go: Install/Update Tools` from

[2019-11-26 07:05] stamblerre commented on #32869
The next `gopls` release will likely not be for another few weeks, which is when VS Code will pick it up. In the meantime, you can certainly try it out at master, but do be warned that master is not very stable and may be broken at times.

[2019-11-26 07:08] egonk opened #35841 "crypto/x509: error for "trailing data after X.509 subject" should say "issuer" instead"
See the following error in parseCertificate:
https://github.com/golang/go/blob/87805c92fd57d1535d0e497dd245ef783007b59d/src/crypto/x509/x509.go#L1377

It should probably say issuer, not subject.

Edit:
[code]

[2019-11-26 07:21] roopakv commented on #32869
ok n00b question : what would be a good way to install gopls from master?

[2019-11-26 07:24] stamblerre commented on #32869
To install `gopls` at master, you will have to clone the golang.org/x/tools repo, cd into the `tools/gopls` directory, and then run `go install`.

[2019-11-26 07:26] the-maldridge commented on #35840
Additional context.  I consulted this page for information: https://sum.golang.org/.  Later I realized that I could use GONOSUMDB to get around the issue locally but still would need to wait for the cached failure to expire before trying to push to remote builders where this value could not be set on a per-build basis.

[2019-11-26 07:53] ALTree commented on #35825
We're deep into the code freeze for the 1.14 release, so it's very unlikely that changes to the runtime will be committed for 1.14 (except for changes that fix serious regressions). So it would be 1.15 anyway.

[2019-11-26 08:05] smasher164 commented on #35838
Thank you @AlexRouSg for diagnosing their problem. For further questions about Go, please visit:

* The [golang-nuts](https://groups.google.com/d/forum/golang-nuts) mailing list.

* [Stack Overflow](https://stackoverflow.com/questions/tagged/go), with questions tagged `go`.

* The [Go Forum](https://forum.golangbridge.org/), a web-based forum hosted by GoBridge.

* The [Gophers Slack](https://goph

[2019-11-26 08:05] #35838 closed

[2019-11-26 08:08] agnivade commented on #35719
Because it is taking the 0.3.2 release. Not master. Fetch the master branch or cut a new release and let us know if the problem persists.

[2019-11-26 08:09] jacksgt commented on #27589
Thank you for submitting this proposal!

I think the name `nilasempty` is great, because it immediately tells what this struct tag does.

[2019-11-26 08:10] zhouhua015 opened #35842 "x/tools/cmd/guru: 'definition' cannot show declaration of a local object from a different go file"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="~/.cache/go-build"
GOENV

[2019-11-26 08:54] shibas11 opened #35843 "ages"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2019-11-26 09:03] danawoodman opened #35844 "sum.golang.org 410 gone for valid git tag"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

- Pushed a new tag to my github repo (have done this a dozen+ times today with no issue)
- Attempted to install the latest tagged version in another project

### What

[2019-11-26 09:03] alexbrainman commented on #20982
I think before updating any documentation, you should just describe how to build Cgo code with MSVC here. For @mxplusb and @kesmit13 so they can try your changes.

For example, to use gcc to build Cgo code, I
1. adjust my %PATH% to include gcc.exe
2. build Go first by running make.bat from `%GOROOT%\src` directory
3. use standard `go build` and `go install` commands

How do I do the same with MSVC

[2019-11-26 09:21] marcusljx opened #35845 "testing: fmt.Print missing a trailing newline interferes with test output formatting"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/marcus.low/Library

[2019-11-26 09:52] ALTree commented on #35843
Empty issue, closing.

[2019-11-26 09:52] #35843 closed

[2019-11-26 10:11] myitcv commented on #35388
Some observations from our experience with `govim`:

* it's not a error to request code actions for the same version of a file. The user may choose to simply do nothing with the results for example
* @leitzler will be able to confirm, but it's also possible to request code actions for a specific range or the entire file, and we do that in `govim`
* the actions that are returned are almost certainl

[2019-11-26 11:35] yoav commented on #35699
@bcmills, this was the original intent, I believe.
@ianlancetaylor, "obfuscate" because the pseudo value being sent today (Go-http-client/1.1) obscures the go version. Maybe it's too strong of a word, but since there is no Go-http-client library that is versioned separately to go releases, I find the version number misleading.

[2019-11-26 12:17] myitcv commented on #31999
Noting a specific comment that in https://github.com/golang/go/issues/35820 we report that changes to `go.mod` files do not trigger recalculation of diagnostics.

[2019-11-26 12:20] oneslash commented on #35821
could you try to update go to `1.12.13`?

[2019-11-26 13:15] tj commented on #24573
Can't say `-count` is very intuitive. I keep hitting scenarios where test caching is not invalidating correctly, but I haven't pinned down any specific pattern yet.

[2019-11-26 13:21] greut commented on #35798
@FiloSottile Thanks for your time, I overlooked it.

[2019-11-26 14:43] mlh758 commented on #22823
Just ran across a use case for this as well. I have a function that returns a WriteCloser to be used for caching. If the cache file can't be written to I still want everything to succeed without having to do any major alternative paths in the request handler so instead I made a WriterCloser out of Discard basically how this is and log the cache failure separately.

[2019-11-26 14:48] bcmills commented on #35719
@toothrot, note that files in the `_examples` subdirectory should have no effect. Per https://golang.org/cmd/go/#hdr-Package_lists_and_patterns:

[2019-11-26 14:55] bcmills commented on #35719
@moficodes, what about the error message is unclear?

The error messages refer to the specific path and version in use (`v0.3.2`), and the `go.mod` file in that version does indeed have a mismatched module path (https://github.com/moficodes/promptui/blob/20f2a94120aa14a334121a6de66616a7fa89a5cd/go.mod#L1).

You may also find the error messages a bit clearer using a `go` command built from head: we

[2019-11-26 14:58] bcmills commented on #35827
@agnivade, thanks for the reference. I had overlooked it because `vet` is not implicated in this path.

[2019-11-26 14:58] #35827 closed

[2019-11-26 15:14] inliquid opened #35846 "x/tools/gopls: errors when navigating through `git` ir `gitlens` URIs do not disappear anymore"
1. VS Code
2. gopls@master

Previously these errors would disappear after `git` or `gitlens` tab was closed. Now they stay until language server restart.

![изображение](https://user-images.githubusercontent.com/6797881/69646184-6a136f80-1078-11ea-9a37-904c7f0d1e09.png)

[2019-11-26 15:26] cherrymui commented on #35777
I think that commit is already included in 5.2 and 5.3 kernel, which still has the problem.

[2019-11-26 15:37] ianlancetaylor commented on #35699
Sorry for the confusing use of `1.1`.  It's not intended to be misleading.  The 1.1 is not intended to reflect the Go version being used.  The docs say

[code]

[2019-11-26 15:38] aclements commented on #35777
Thanks @dvyukov. I just re-confirmed that I can still reproduce it in the same way on 5.3, which includes that commit. I'll double check that I can still reproduce right at that commit, just in case it was somehow re-introduced later.

[2019-11-26 15:43] myitcv opened #35847 "x/tools/gopls: go list error opening Go source tree"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +20bf6a495e Tue Nov 26 12:03:08 2019 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20191113223546-95cb2a1a7eae => github.com/myitcvforks/tools v0.0.0-20191119111301-0222b4b716c6
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.1.8-0.20191115202509-3a792d9c32b2 =>

[2019-11-26 15:47] aclements commented on #35326
Here's the C reproducer. This fails almost instantly on 5.3.0-1008-gcp, and torvalds/linux@d9c9ce34ed5c892323cbf5b4f9a4c498e036316a (5.1.0-rc3+). It does not fail at the parent of that commit (tolvalds/linux@a5eff7259790d5314eff10563d6e59d358cce482).

I'll work on filing this upstream with Linux.

[code]

[2019-11-26 15:56] mknyszek commented on #35825
@cuonghuutran #31222 is about a large allocation blocking STW in `memclrNoHeapPointers` as well, not about sweeping. The title is misleading: sweep termination is the phase which brings us into the new mark phase, which forces a STW. The problem is not that the STW is long, but rather that it's taking a long time to STW (the runtime manages to stop every thread _except_ the one clearing this large

[2019-11-26 16:15] dr2chase commented on #35326
For your nerd-sniping amusement (and not mine), the bug is somewhere in the differences in these two disassembled files. Link Linux with the gcc8 one, all is well, link with the other, it goes bad.

[signal.8.dis.txt](https://github.com/golang/go/files/3892766/signal.8.dis.txt)
[signal.9.dis.txt](https://github.com/golang/go/files/3892767/signal.9.dis.txt)

There's a ridiculous amount of inlining

[2019-11-26 16:21] toothrot commented on #35791
/cc @Sajmani @bradfitz

[2019-11-26 16:24] savalin opened #35848 "HeapIdle is increasing infinitely on big data volume allocations"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.13 darwin/amd64
go version go1.13.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes. Tested on
<pre>go version go1.4-bootstrap-20170531 darwin/amd64</pre>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Out

[2019-11-26 16:29] bcmills commented on #35785
That's #29114, if I correctly understand the CentOS release model.

[2019-11-26 16:30] toothrot commented on #35801
That `go env` failure sounds similar to #30789, which @bcmills, @bradfitz and @alexbrainman have some experience with. I'm wondering if it's related to the comment added in golang.org/cl/172337.

[2019-11-26 16:32] hyangah opened #35849 "cmd/go: support "-x" in most of go mod commands"
https://golang.org/cl/208558 surfaces "-x" flag support in `go mod download`.
We think "-x" may make sense for most of other `go mod` commands that involve non-trivial commands execution underneath.

@jayconrod @bcmills

[2019-11-26 16:33] toothrot commented on #35803
/cc @griesemer @josharian

[2019-11-26 16:35] bcmills commented on #35801
Both of those seem like symptoms of an unusually slow filesystem.

@rillig, what kind of disk is your `GOCACHE` hosted on, and do you have any utilities (such as antivirus scanners) running for files on that disk?

[2019-11-26 16:43] eliasnaur commented on #35800
So you think https://build.golang.org/log/8da8b3d360f7b226bbc021f29c3d9617d35773f9 is a different issue? It happens during cmd/compile tests.

[2019-11-26 16:48] aclements commented on #35326
For completeness, I have also reproduced at torvalds/linux@b81ff1013eb8eef2934ca7e8cf53d553c1029e84, which fixed a bug in the kernel code in question (but apparently not this bug), and at v5.4.

[2019-11-26 16:48] leitzler commented on #35388
Yes, it wasn’t set how gopls should behave when I added this to govim (as in: it didn’t matter what it range it got). Currently govim sends the current cursor position as range, as well as all diagnostics that covers that position.

I haven’t used VSCode, could it be that it sends the entire file to be able to show the user an icon next to the lines that have suggested fixes?

[2019-11-26 16:49] bcmills commented on #20757
Here's another fun example: `time.Sub` and `time.Add` can silently fail to be inverses, because `time.Sub` saturates rather than failing explicitly on overflow.

https://play.golang.org/p/QX-MnDNiIFt

[2019-11-26 16:51] Aazhar opened #35850 "sum.golang.org: go get golint ends with 410 Gone"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.3 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/build/.cache/go-build"
G

[2019-11-26 16:53] aclements commented on #35326
I've filed the upstream kernel bug here: https://bugzilla.kernel.org/show_bug.cgi?id=205663

[2019-11-26 16:53] aclements commented on #35777
Reproduced at torvalds/linux@b81ff1013eb8eef2934ca7e8cf53d553c1029e84, as well as v5.4, which was just released.

I've filed the upstream kernel bug here: https://bugzilla.kernel.org/show_bug.cgi?id=205663

[2019-11-26 16:55] magical commented on #35833
`ToFixedBytes`? Since the difference from `Bytes` is that it writes to a fixed-size array (with left padding).

The usual name for this would be Read, not Write 😉

[2019-11-26 16:56] #35800 closed

[2019-11-26 16:58] bcmills commented on #35777
Amazing debugging!

So, the next question is... do we add an unconditional workaround in the Go runtime, or add a workaround guarded by a run-time check or environment setting, or advise users to avoid the affected kernels?

[2019-11-26 16:58] cherrymui commented on #35800
Yeah, I think that is probably a different issue.

[2019-11-26 17:04] eliasnaur opened #35851 "runtime: signal: illegal instruction on ios/arm64"
https://build.golang.org/log/8da8b3d360f7b226bbc021f29c3d9617d35773f9

[code]

[2019-11-26 17:05] aclements commented on #35777
That's a good question.

@dr2chase suggested a clever, simple workaround, which is to use a CAS to ensure the top page of the gsignal stack is faulted in just before sending the signal (the CAS ensures it's write-faulted without the danger of a racing write). I may do that now just to head off more memory corruption bugs. Though I'm not positive this completely works with funny cgo thread and sign

[2019-11-26 17:07] mvdan opened #35852 "proposal: testing: support running examples in parallel"
### Summary

Examples that run with `go test` always do so sequentially with all other examples and tests. I think this doesn't scale well at all with the size of packages or amount of examples, and encourages developers to only write a few simple examples per package.

I propose two solutions below; I lean towards the second one, which is more powerful.

### Description

We can have examples whic

[2019-11-26 17:10] cherrymui opened #35853 "runtime: always set up TLS on all G-register architectures?"
Currently, on G-register architectures (i.e. all non-x86), we set up TLS only when cgo is used, by libc. The reason is probably that the G register is reserved in Go code and so it should always be valid. However, there are more and more cases where we call external functions even in a non-cgo program, for example, VDSO, and libc calls on darwin. These external functions could potentially clobbers

[2019-11-26 17:11] ALTree commented on #35825
@mknyszek Thanks! Let's close this in favour of the older thread, then.

@cuonghuutran feel free to subscribe to #31222, and adding a comment there with your use case, if you think it could be useful.

[2019-11-26 17:11] #35825 closed

[2019-11-26 17:15] bcmills commented on #35852
One interesting possibility for the `// Output:` variant is to also allow the output to be in a nondeterministic order. For example, you could consider something like

`// Output (unordered):`

This crops up in examples for concurrency libraries, such as in `golang.org/x/sync/errgroup.ExampleGroup_pipeline`. That example should be runnable, but it currently is not because the output is emitted in

[2019-11-26 17:17] mvdan commented on #35777
If upstream responds quickly to the bug, and there's a Linux 5.3.x bugfix release before Go 1.14 is out, I'd say we could avoid adding a workaround in Go. But if they defer the fix until 5.4 I'm not so sure; bleeding edge systems typically take a few weeks or even months to pick up the latest major kernel releases, so we could end up with Go 1.14 released while some bleeding edge systems are still

[2019-11-26 17:17] cherrymui commented on #35777
This only works for the signals sent by the Go runtime, not external signals. But if we do this and the initial faulting-in, the preemption signals will probably frequent enough to keep the signal stack always paged in.

[2019-11-26 17:27] mvdan commented on #35852
That already exists as `// Unordered output:`, I think. That's another reason why I think we shouldn't extend the current comment syntax; `// Unordered output (parallel):` seems a bit heavy to me.

[2019-11-26 17:41] andybons opened #35854 "all: change macOS package/binary identifiers to org.golang.*"
On macOS, we are updating our Go package identifier namespace from `com.googlecode.*` to `org.golang.*`. If your infrastructure relies on our installer having a specific identifier, you should use the new value starting with 1.13.5 and 1.12.14, which have yet to be released.

In addition, we are updating our binaries to have identifiers as well, primarily to help with logging. Any binaries in the

[2019-11-26 17:43] griesemer commented on #35803
Generally, the `go/scanner` removes CRs in comments (not just at the end, also inside the comment) and elsewhere. Changing this (in the `go/scanner`) is likely going to break existing tools in subtle ways.

We also want tools such as gofmt to produce the same result independent of whether one runs on a Windows machine or not, which requires that newlines are always represented in one way, using LF

[2019-11-26 17:43] irajdeep commented on #35607
So, I checked the logs of `gopls` and I still can't reproduce it in v0.2.0

[code]
I get 2 responses as expected. I suspect some change since v0.2.0 in master might have introduced it?

Cool, I will hold off working on this issue until then.

[2019-11-26 17:47] bcmills commented on #34774
Yes, it appears to be a flake, but it's happened enough times that it seems unlikely to be a hardware issue (cosmic ray or thermal jitter).

It's not obvious to me whether it's a bug in the test, a bug `cmd/go`, a bug in `os/exec`, or a bug in Windows.

[2019-11-26 17:47] bcmills commented on #34774
CC @alexbrainman @zx2c4

[2019-11-26 17:53] griesemer commented on #35833
My original thought was also `Read`, but that name suggests that there's a result `(n int, err error)` as well which is perhaps overkill, especially if we never expect an error and if we don't care about the `n` since the buffer will be 0-padded. Also, given a `Read` method, one would expect a client to be able to call `Read` repeatedly to get all the bytes of an `Int`, which is not the case.

May

[2019-11-26 18:01] toothrot commented on #35804
Hi @muhlemmer, could you provide a code example of the chaining that this API change would improve?

/cc @bradfitz @kardianos

[2019-11-26 18:03] toothrot commented on #35810
/cc @FiloSottile @katiehockman

[2019-11-26 18:14] toothrot commented on #35824
@opennota I feel like the documentation for T.Run itself is fairly clear on this behavior:

https://pkg.go.dev/testing?tab=doc#T.Run

Do you have a suggestion for improving this?

Also, if you're curious, you can see the `go` running the tests here: https://github.com/golang/go/blob/go1.13.4/src/testing/testing.go#L960

[2019-11-26 18:21] toothrot commented on #35832
@juliehockett Thanks for the detailed example! I agree that this sounds like a duplicate of #27633.

There are some more details here https://github.com/golang/go/wiki/Modules#why-does-go-mod-tidy-record-indirect-and-test-dependencies-in-my-gomod and https://tip.golang.org/cmd/go/#hdr-Maintaining_module_requirements.

I'll close this bug in favor of discussing on #27633.

[2019-11-26 18:33] toothrot commented on #35840
/cc @katiehockman @heschik

[2019-11-26 18:34] katiehockman commented on #35840
`GOPROXY=direct` does opt out of using any proxy, including proxy.golang.org, as the documentation states. However, that is separate from sum.golang.org, which still verifies the contents of what the `go` command received by an origin server by default. This can be shut off using `GONOSUMDB=off` like you stated.

We're looking into why the error occurred though. This may be a bug that we need to a

[2019-11-26 18:39] toothrot commented on #35841
This looks pretty clearly incorrect. I'll take a look at this.

[2019-11-26 18:40] juliehockett commented on #35832
Thanks for the response! I'm actually thinking this might be subtly different, because we've also run into this as because `go mod download` is insufficient to build with `go build -mod=readonly`. The `go build` command generates the same `go.sum` file as the `go mod tidy` command above, and so it errors out under the readonly flag because this difference is persistent there. Is that intended beha

[2019-11-26 18:42] andybons commented on #35854
This change has been made on our internal release infrastructure. Closing for now but please keep it pinned until after the next release. @toothrot @dmitshur @cagedmantis

[2019-11-26 18:42] #35854 closed

[2019-11-26 18:43] toothrot commented on #35832
Thanks, I'll re-open. Let's cc @bcmills and @jayconrod who own `cmd/go` who can help clarify this behavior.

[2019-11-26 18:48] katiehockman commented on #35850
/cc @heschik @hyangah

[2019-11-26 18:51] cybrcodr commented on #24929
We have a wrapper code that parses the output, and I had to rework that in order to account for this change.

I do have a concern with the legibility of the output especially when running multiple tests and subtests.  Here's a simple example --

[code]

Imagine if there are more tests/subtests that are running in parallel.  I understand the original request, but I wish that was done as an optional

[2019-11-26 18:54] katiehockman commented on #35850
We'll look into this. Thanks for filing an issue. It looks like it has been resolved now (the repo link resolves now) but we'd like to figure out the underlying issue.

Also worth noting that this is coming through goproxy.io which seems to be proxying the sumdb, but still suspect this is coming from sum.golang.org.

[2019-11-26 18:55] katiehockman commented on #35844
Thanks for filing this. We've seen a few related issues (https://github.com/golang/go/issues/35850, https://github.com/golang/go/issues/35840), and are looking into it.

/cc @hyangah @heschik

[2019-11-26 19:01] julieqiu commented on #33654
We would love to know if your organization is running an internal Go documentation service, to inform our open source strategy for [pkg.go.dev](https://pkg.go.dev).

If this is something that your organization is currently doing, please share your use case with us by sending an email to go-discovery-feedback@google.com, or filling out the [Go Developer survey](https://google.qualtrics.com/jfe/form

[2019-11-26 19:06] #35737 closed

[2019-11-26 19:15] cespare opened #35855 "x/tools/gopls: improve help output"
I installed `golang.org/x/tools/gopls@latest` and tried to look at its command-line tool options (rename, etc).

First I tried `-h`, since this is a typical way to make Go tools show usage:

[code]

So this shows the flags (for which command?), but not the actual commands. Next I tried `gopls help`:

[code]

That works, but only accidentally ("Unknown command help"). Also note the trailing "gopls

[2019-11-26 19:17] dmitshur commented on #35851
Strangely, it failed even worse on the next commit (https://build.golang.org/log/186ffe8d4a32f24c719cb49eddf6e37e73957239), but has been passing since then.

[2019-11-26 19:18] bcmills commented on #34450
@jpreese, is this still an issue with a `go` command built from head? #34822 may have fixed it.

[2019-11-26 19:21] ebiggers opened #35856 "x/sys/unix: add support for new fscrypt ioctls from Linux v5.4"
For https://github.com/google/fscrypt/pull/148, we need the sys/unix package to support the [latest fscrypt UAPI from Linux v5.4](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/include/uapi/linux/fscrypt.h?h=v5.4).  This includes new ioctls and some other updates.

I'm working on a patch for this.

[2019-11-26 19:22] bcmills commented on #35832
This is likely related to #29772.

That said, it would be helpful to have an exact reproducer for this: the `go.mod` file alone is not sufficient, because `go mod tidy` follows `import` statements from all of the `.go` source files in the main module.

@juliehockett, could you provide the `.go` source files for this example?

[2019-11-26 19:34] stamblerre opened #35857 "x/tools/gopls: implementations fails on internal/lsp/source"
Going to the implementation of a function in an interface in internal/lsp/source/view.go always fails.

[2019-11-26 19:42] juliehockett commented on #35832
You bet -- main.go (a simple HTTP test) is:

[code]

[2019-11-26 19:44] aclements commented on #35777
We just chatted about workarounds and the favorite workaround is to check the kernel version and disable AVX use on the known-bad kernels. This way it doesn't matter where the signals are coming from or who set up the signal stacks. The solution focuses on the AVX corruption. (We would, of course, also mention this in the release notes.)

[2019-11-26 19:53] cherrymui commented on #35851
@dmitshur that is #35800, which should be fixed with CL 208818.

[2019-11-26 20:00] dmitshur commented on #35848
/cc @aclements @mknyszek

(Please let me know if there are other people who are better to ping about an issue like this.)

[2019-11-26 20:01] BigUstad commented on #35777
Thank you DPattee. As I did mention, my steps weren't standard and I wouldn't use them in a production environment. My apologies for the confusion. However in my trials to reproduce the bug, I did make sure that the drive I was testing with was loaded at startup by adding a plist entry in /Library/LaunchDaemons and using a shell script to explicitly run the command load the drive. However that one

[2019-11-26 20:12] heschik commented on #35850
We were unable to find any evidence of this problem in our logs. `v0.0.0-20191125180803-fdd1cda4f05f` was added to `sum.golang.org` at around 2019-11-254 18:12:00 UTC, shortly after its publication. After that, the sumdb record is immutable; there's no reason we would ever serve a 410.

I'd suggest following up with goproxy.io. If you find anything out, please let us know.

[2019-11-26 20:12] #35850 closed

[2019-11-26 20:18] heschik commented on #35840
As best we can tell, this was a brief connectivity problem between us and GitHub. We're improving our diagnostics and will continue to investigate any further reports, so please file a new issue if you see any more occurrences.

As for the TTL, #34370 has some background on that.

I don't think there's anything else actionable here, so closing. Please comment if you disagree.

[2019-11-26 20:18] #35840 closed

[2019-11-26 20:18] heschik commented on #35844
As best we can tell, this was a brief connectivity problem between us and GitHub. We're improving our diagnostics and will continue to investigate any further reports, so please file a new issue if you see any more occurrences.

[2019-11-26 20:20] bradfitz commented on #35777
Where "known-bad" means only >= 5.2 for now (without an upper bound), until a fix is released, and then we backport a change to the release branch to add an upper bound for when AVX gets enabled again?

[2019-11-26 20:22] dmitshur commented on #35207
@laboger [CL 203817](https://golang.org/cl/203817) said "Updates #35207" rather than Fixes. Is there more to do here?

[2019-11-26 20:24] dmitshur commented on #35211
@laboger Could you please provide a rationale to backport this fix, as described at https://golang.org/wiki/MinorReleases?

[2019-11-26 20:24] dmitshur commented on #35210
@laboger Could you also please provide a rationale here to backport this fix, as described at https://golang.org/wiki/MinorReleases?

[2019-11-26 20:25] bcmills commented on #35777
Might be more robust to make “known-bad” mean 5.2–5.4, and backport a change if it still isn't fixed in 5.5.

[2019-11-26 20:31] tmm1 commented on #24484
I'm seeing similar issues on some 32-bit linux/android systems:

[code]

Further investigation shows that the limited address space is being exhausted by other parts of my program which use mmap. The linux kernel can be compiled with `VMSPLIT_1G` or `VMSPLIT_2G` which limits the address space available to user space, and processes can also be run with `RLIMIT_AS` set.

One thing that would help di

[2019-11-26 20:43] dmitshur commented on #35318
Approving because this is a serious problem without an obvious workaround, and the fix is localized.

[2019-11-26 20:54] ridersofrohan commented on #35600
Fixed in [#af85770](https://github.com/golang/tools/commit/af8577037cd29df352d6240788fe5c5999eb6848)

[2019-11-26 20:54] #35600 closed

[2019-11-26 20:56] rsc commented on #34536
@FiloSottile, I can't tell whether you agree with my suggestion that we honor our commitment to the 6+6 support policy. Are you arguing that we should change the policy away from 6+6?

[2019-11-26 21:00] #35318 closed

[2019-11-26 21:01] ianlancetaylor commented on #24484
@tmm1 The code in question is in src/runtime/cgo/gcc_libinit.c.

[2019-11-26 21:01] ridersofrohan commented on #35602
Fixed in [#e13f15d](https://github.com/golang/tools/commit/e13f15d1b9df00fb1b01890cd1382a7bf41b8ab7)

[2019-11-26 21:01] #35602 closed

[2019-11-26 21:03] the-maldridge commented on #35840
It would be really helpful as an end user to know if the service isn't performing nominally, as it did take me quiet some time to realize that the bug wasn't in the connectivity of the build system, but rather in one of the systems my build box depended on.

[2019-11-26 21:04] tmm1 commented on #24484
Thanks! Looks like here's where the extra info could be dumped:

https://github.com/golang/go/blob/4a378d712d4a089e2242fe49de6547d493f52bf5/src/runtime/cgo/gcc_libinit.c#L27-L30

[2019-11-26 21:05] klauspost commented on #35777
Add #35158 to the list of issues likely caused by this.