[2019-11-12 06:21] bradfitz opened #35524 "x/build: linux-arm64 packet builders are offline"
https://farmer.golang.org/ reports:

[code]

So we lost them around 7pm US/Pacific (Nov 11)

/cc @cagedmantis @dmitshur

[2019-11-12 06:39] shawn-xdji opened #35525 "cmd/go: testing on arm64 often time-out"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +c2edcf4b12 Tue Nov 12 01:09:40 2019 +0000 linux/arm64
</pre>

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="arm64"
GOB

[2019-11-12 06:52] leerayven opened #35526 "x/tools/gopls: file changes not reflected in results"
### What version of Go are you using (`go version`)?
<pre>
$ go version
go version go1.13.4 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\ravenll

[2019-11-12 07:54] quite commented on #35496
I can submit the above patch on gerrit but i don't really have time now to rewrite/add tests to accomodate for it..

[2019-11-12 07:57] dlsniper opened #35527 "cmd/compile: constant inlining happens even when disabling inlining and optimizations"
### What version of Go are you using (`go version`)?
go1.13.4

### Does this issue reproduce with the latest release?
I haven't tried with Go 1.14 yet

### What operating system and processor architecture are you using (`go env`)?
windows/amd64

### What did you do?
- use the code at https://github.com/dlsniper/democonstdbg
- use the latest Delve version from master
- place a breakpoint on line 23

[2019-11-12 08:31] mengzhuo commented on #32324
Failed at linux/mips64le too

https://build.golang.org/log/e93b008016bfe25042e76766bd32eaa749b4b809

[2019-11-12 08:34] Zenithar opened #35528 "proposal: compact syntax for multiple property assignation on a same object."
Hello,

In order to make assignation more DRY, it would be great to have something like that :

[code]

Syntax should obviously be enhanced, but just an idea.

[2019-11-12 08:35] alexbrainman commented on #35492
@apmckinlay yes both / and \ should work in this situation.

Would you like to send a fix for this? This https://golang.org/doc/contribute.html is how to contribute.

Thank you.

Alex

[2019-11-12 08:36] agnivade commented on #32471
@amenzhinsky - Rightly noted. This was introduced in [CL 126656](https://go-review.googlesource.com/c/go/+/126656).

Only go/internal/test/testflag.go has `f, value, extraWord := cmdflag.Parse(cmd, usage, testFlagDefn, args, i)`

and go/internal/vet/vetflag.go has `f, value, extraWord := cmdflag.Parse("vet", usage, vetFlagDefn, args, i)` due to which this happens.

The args come from modification

[2019-11-12 08:42] tklauser opened #35529 "x/build: linux-mips* builders don't run on x/net and x/sys"
https://build.golang.org/?repo=golang.org%2fx%2fnet#
https://build.golang.org/?repo=golang.org%2fx%2fsys#

No builds are shown for the `linux-mips-rtrk`, `linux-mips64-rtrk`, `linux-mips64le-rtrk`, `linux-mipsle-rtrk` and  `linux-mips64le-mengzhuo` builders on master, even though the builders' corresponding policy should allow them:

https://github.com/golang/build/blob/773364d7ec5d1e0f2e7cd6698a7

[2019-11-12 08:53] tklauser commented on #35529
#35515 related?

[2019-11-12 09:01] d0ye commented on #15956
@eliasnaur
I've tried steps like @nobeginning ,Changed names like libgojniX.so and package name, Make it out out an aar that could coexist with past libgojni.so and xx.jar under same android project, And beyond my expectation，I didn't get issues like @nobeginning, it just run well under one process(I just write a demo for{sleep(),print}) function called by new Thread in Android, And make sure it j

[2019-11-12 09:08] aarzilli commented on #35527
Non-integer constants are never exported to debug_info, it doesn't have anything to do with whether they are inlined or not. Also, I'm not sure it's worth the executable bloat costs, since IIRC there was no way to reuse t

@gopherbot please add label Debugging

[2019-11-12 09:09] daenney commented on #27484
@newmanifold If it can help you, feel free to take a look at https://github.com/pion/dtls/tree/master/internal/crypto/ccm

[2019-11-12 09:12] myroid opened #35530 "GoMobile official version"
GO2 is coming soon, and sincerely hope that GoMobile can release an official version. This can give developers more confidence. And with the powerful of GO, GoMobile has unlimited potential.

[2019-11-12 09:15] myroid commented on #33822
GO111MODULE=off go get -d golang.org/x/mobile/example/basic

[2019-11-12 09:21] dlsniper commented on #35527
Thanks for the explanation.

The problem was reported to GoLand by a user that had a similar code like the one above.
It's rather common to run a compare operation like this. For example, I use this to setup conditional breakpoints. Also, not everyone will know ahead of time that one is a constant or not when making the comparison, nor suggesting to change the code would be possible.

I'm not sure

[2019-11-12 10:30] Helflym commented on #35451
`0x0afffffffffffff` is the official limit. However, most of the processes don't need that much memory. As far as I remember, the highest address in a Go program that I have seen, was near `0x0a00040000000000`. I think that's why I was able to lower `maxChunks` artificially. Note that at tip, it doesn't seem possible anymore...

Anyway, I've made some tests with different values for `maxChunks` to

[2019-11-12 10:50] mdempsky commented on #35518
And finally, here's an example where the original node isn't part of the assignment cycle:

[code]

Context: I was wondering if CL 206619 was overkill, and I could just check if we loop back to `src` again rather than keeping track of every visited location. This example shows checking for `src` alone is insufficient to detect cycles.

[2019-11-12 10:55] hajimehoshi commented on #27234
As `gobind` should work with Go modules, now I'm working on `gomobile bind`.

`gobind` generates files at a temporary directory like `[temp-dir]/src/gobind`. The `temp-dir` is given by `gomobile`. To access this temporary package from Go modules, I think we need to do these items:

  * Replace `go/build` with `go/packages` as usual
  * Create another temporary directory to emulate a Go proxy. This

[2019-11-12 11:04] amenzhinsky commented on #32471
I think the easiest fix would be removing this:
 https://github.com/golang/go/blob/99957b6930c76b683dbca1ff4bcdd56e59b1e035/src/cmd/go/internal/cmdflag/flag.go#L124
Moreover all subcommands and tools accept flags overriding (correct me if I'm wrong, checked on that vert quickly).

[2019-11-12 11:17] byteshiva opened #35531 "gopls: Unable to build on vscode"
#### What did you do?
I'm trying to build go source file using gopls on Microsoft vscode. Instead of executing `go build` on the specific file, it fails to execute the build command.
note:
I'm using go version manager to maintain its different go runtimes.

Here is the code.
[https://play.golang.com/p/HhCLwAZhaBk](https://play.golang.com/p/HhCLwAZhaBk)

#### What did you expect to see?
It should b

[2019-11-12 11:41] ilanpillemer commented on #35339
might be related to
https://github.com/golang/go/issues/33690

[2019-11-12 12:00] vadyus opened #35532 "runtime: deadlock in runtime.findrunnable"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +99957b6 Tue Nov 12 05:35:33 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
No

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""

[2019-11-12 12:07] jpvillaseca commented on #35243
Could it also be related to #35526?

[2019-11-12 12:10] ilanpillemer commented on #35339
some more logs
[gopls.log](https://github.com/golang/go/files/3836039/gopls.log)

[2019-11-12 12:28] eliasnaur commented on #27234
Emulating a Go proxy with zip files, nice.

It probably doesn't matter given the random token, but perhaps swap the order so the temporary directory is first, to match the intention of `gomobile bind`?

Sounds like a good plan to me.

[2019-11-12 12:50] eliasnaur commented on #15956
One fundamental restriction to multiple independent Go runtimes on Android: there is only one TLS_SLOT_APP (on Android 10+). See https://golang.org/cl/170117/ and https://golang.org/issue/29674.

Have you seen [`-buildmode=shared` and `-linkshared`](https://golang.org/cmd/go/#hdr-Build_modes)? Buildmode=shared builds your non-main packages as Go libraries that you can link together with a main pac

[2019-11-12 12:59] Inconnu08 commented on #35472
I would love to take a shot on this. Any pointers to get started on this issue?

[2019-11-12 13:03] suizman commented on #35478
I've compiled the project dependencies with most recent **clang** version from **brew** and not the one which comes with the official **xcode command line tools** and it worked.
I'll contact Apple support for further information.

[2019-11-12 13:05] garciagonzalescristian commented on #32850
100

[2019-11-12 13:05] garciagonzalescristian commented on #32850
La neta si supier inglés les firi

[2019-11-12 13:05] garciagonzalescristian commented on #32850
{"status":"1","message":"OK","result":{"blockNumber":"2165403","timeStamp":"1472533979","blockMiner":"0x13a06d3dfe21e0db5c016c03ea7d2509f7f8d1e3","blockReward":"5314181600000000000","uncles":[{"miner":"0xbcdfc35b86bedf72f0cda046a3c16829a2ef41d1","unclePosition":"0","blockreward":"3750000000000000000"},{"miner":"0x0d0c9855c722ff0c78f21e43aa275a5b8ea60dce","unclePosition":"1","blockreward":"37500000

[2019-11-12 13:08] garciagonzalescristian opened #35533 "CRISTIANARCIAO56"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2019-11-12 13:13] agnivade commented on #35472
The file in question is this one - https://github.com/golang/tools/blob/master/go/analysis/passes/printf/printf.go. Look at how other verbs are handled and take it from there.

[2019-11-12 13:14] dmitris commented on #28176
For reference - currently it seems to be impossible to have a `replace` of `gopkg.in/yaml.v2` without breaking some `go` commands (like `go mod download` as well as the new module-happy `godoc`) see https://github.com/go-yaml/yaml/issues/546#issuecomment-552884813 as well as an "ugly hack" with mirroring just one branch in a new repo: https://github.com/dmitris/go-yaml-v2/blob/master/README.copy.m

[2019-11-12 13:14] #35533 closed

[2019-11-12 13:15] mvdan commented on #35530
What do you mean by an "official version"? Its master branch seems to work just fine.

[2019-11-12 13:15] Inconnu08 commented on #35472
Ah I'm on the right track then. Thank you! I'm working on this 😃

[2019-11-12 13:20] agnivade commented on #35532
Your `go version` and `go env` output does not match. go env says it's Go 1.10 and go version says it's at tip. Which is it ?

Also, does this issue happen in 1.13.x also ?

[2019-11-12 13:22] garciagonzalescristian commented on #35533
13346700!:$

[2019-11-12 13:22] mvdan commented on #35501
I'll leave this open for a week if anyone has more thoughts, or a specific way in which this could be changed without breaking existing valid use cases.

The only idea that comes to mind that would be truly backwards-compatible would be to extend the json tag syntax to allow omitting a field name, not just a specific field only. For example, `` `json:"name,-"` `` to omit any embedded field with ``

[2019-11-12 13:24] vadyus commented on #35532
Binary was built on build server, `go version` output is from it. Than it was deployed to production server, `go env` is from it. And no, latest release woks fine

[2019-11-12 13:24] wycio opened #35534 "Question: only running tests affected by recent changes"
Hello,

Is there a way to executes only those tests which are affected by recent changes? We have a large unit test suite and now it is starting to take a while before it finishes. We are thinking that we only run those tests which are affected by the code changes in the first pass.

Python has something like this: https://github.com/tarpas/pytest-testmon

 Is there a way to do this in Go? Kindly

[2019-11-12 13:27] mvdan commented on #35533
The issue is empty. If you want to file an issue, fill the template.

[2019-11-12 13:27] ainar-g commented on #35501
<p>
If the behaviour isn't changed, can it at least be documented better, so
that <del>I could bother @dominikh</del> the community could build
static analysis tools to detect such idiosyncrasies?
</p>

[2019-11-12 13:32] mvdan commented on #35501
Yes, whatever we decide to do, I think it would be good to clarify that the visibility rules apply to the JSON names alone.

[2019-11-12 13:36] agnivade commented on #35532
Thanks. Your `go env` output should be from the build server also. Showing the output from the prod server does not serve any purpose.

Copying some runtime people @aclements @mknyszek

[2019-11-12 13:37] agnivade commented on #35534
Hello @wycio , unlike other projects, we do not use the issue tracker for questions such as these. It is only used for bugs and feature proposals. I will close this issue, but please feel free to ask it in any of these forums below:

* [Stack Overflow](https://stackoverflow.com/questions/tagged/go) with questions tagged "go"

* [The Go Forum](https://forum.golangbridge.org/), a web-based forum

*

[2019-11-12 13:37] #35534 closed

[2019-11-12 13:37] vadyus commented on #35532
Fixed that, thanks.

[2019-11-12 13:50] bcmills commented on #35525
If the tests are timing out due to a slow builder, but you don't think they're actually deadlocked, you can set `GO_TEST_TIMEOUT_SCALE`.

(See #10314 and [CL 9223](https://golang.org/cl/9223).)

[2019-11-12 13:50] #35525 closed

[2019-11-12 14:04] hajimehoshi commented on #27234
Thank you!

Yes. The second item and the third item will be done at the same time, so we'd need to create a temporary directory first.

[2019-11-12 14:09] go101 opened #35535 "proposal: treat declared function names as type names"
so that function names can be used as embedded types:
[code]

[Another benefit](https://github.com/golang/go/issues/35535#issuecomment-553902046).

Not an essential feature, but it is a little interesting, so I created the proposal.

[2019-11-12 14:18] bcmills commented on #35532
That suggests a possible connection to the timer refactoring that @ianlancetaylor did this cycle.

[2019-11-12 14:21] bcmills commented on #35532
See previously #35375.

[2019-11-12 14:22] bcmills commented on #35532
Commit 99957b6 was just this morning. Was that the same version used to build the deadlocking binary? (Several sources of deadlocks have been fixed over the past week, so the precise version is important.)

[2019-11-12 14:24] bcmills commented on #35535
The `typeof` keyword proposed in #34515 might be a bit clearer:

[code]

[2019-11-12 14:26] bcmills commented on #35522
This issue seems to be a question about how to use Go, rather than a feature request or defect report about the Go language and/or toolchain.

We have decided that our [experiment to allow questions on the issue tracker](https://golang.org/issue/23745) has not had the outcome we desired, so I am closing this issue. I'm sorry that we can't answer your question here.

There are many other methods to

[2019-11-12 14:26] #35522 closed

[2019-11-12 14:27] bcmills commented on #35522
That said, you may want to investigate http://index.golang.org as a starting point.

(CC @katiehockman @julieqiu)

[2019-11-12 14:28] vadyus commented on #35532
Yes, version in first message is precise

[2019-11-12 14:30] bcmills commented on #32407
`misc/cgo/stdio` is no longer failing on this builder. On to the next failure! 😤

[2019-11-12 14:30] #32407 closed

[2019-11-12 14:32] bcmills opened #35536 "misc/cgo/testgodefs: failing on linux-arm-arm5spacemonkey"
Now that #32407 is resolved, on to the [next failure](https://build.golang.org/log/f388c04acddad3b33c86864a49befd70346a72fd)!

This one also appears to be due to the read-only GOROOT (#30316), so before proceeding I plan to see if I can fix that on the other `linux` builders.

[code]

[2019-11-12 14:39] bcmills commented on #30316
Is that also true for reverse builders (such as `host-linux-arm5spacemonkey`)?

[2019-11-12 15:04] AndrusGerman commented on #35530
@mvdan I think it refers to more publicity and details as a web page. But I am intrigued and expect more information.

[2019-11-12 15:08] mknyszek commented on #35451
If we know all returned addresses are that high, then we can set `arenaBaseOffset` in the runtime to `(^0x0a00000000000000+1)&uintptrMask` on AIX (this is effectively `-0x0a00000000000000`, this is the only way to express this as a constant in Go) and set `heapAddrBits` to 48 (delete the AIX-specific stuff there).

This is a fine enough solution for me by the way. It would be nice to understand wh

[2019-11-12 15:14] bcmills commented on #30316
The other reason to restore access, of course, is so that we can test this behavior locally without infuriating ourselves.

(I should be able to run `GO_BUILDER_NAME=linux-amd64-bcmills ./all.bash` and get a reasonable simulation of what an actual builder would run.)

[2019-11-12 15:24] apmckinlay commented on #35492
Sure, first time, but I’ll read the instructions.

On Tue, Nov 12, 2019 at 02:38 Alex Brainman <notifications@github.com>
wrote:

[2019-11-12 15:29] bcmills commented on #30316
Bingo: all of our `linux-` TryBots run tests as the root user of the container, so [CL 163477](https://golang.org/cl/163477) has no effect on them.

(https://storage.googleapis.com/go-build-log/726e41e1/linux-amd64_acf59a73.log)

[2019-11-12 15:30] cagedmantis commented on #35524
The builders are back online. The outage was due to a hardware issue with the network interface around that time. The service provider is monitoring it and will inform us if this will require any preventative maintenance.

There has been some interest expressed within the team to be alerted (via an email or bot alert) when there is an outage with a builder. I will create an issue for this if one d

[2019-11-12 15:31] bcmills commented on #10719
We should specifically run at least one non-root Linux TryBot, and at least one non-root `longtest` builder (but probably also at least one root `longtest` builder, since long tests may also be sensitive to whether the user is root).

CC @dmitshur @toothrot @cagedmantis

[2019-11-12 15:33] bcmills commented on #10719
Specifically, having ~all of the `linux` builders running as root causes us to skip (or fail to get adequate coverage for) any test that depends on making files or directories unwritable (as in #30316).

[2019-11-12 15:37] ianlancetaylor commented on #35532
Is there a way that we can recreate the problem ourselves?

Are you sure that your program doesn't have a deadlock itself, such that there are no runnable goroutines?  What leads you to think that this is a runtime problem?

Can you try running the program with `GODEBUG=schedtrace=1,scheddetail=1` and show us the output as the program deadlocks?  Thanks.

[2019-11-12 15:41] ianlancetaylor commented on #35535
At https://blog.golang.org/go2-here-we-come Robert laid out some guidelines for language changes, including that a change should "address an important issue for many people."  It's not clear to me that this meets that bar.  I'm not even sure when someone would want to use this feature.

[2019-11-12 15:45] bradfitz commented on #35529
I suspect it's due to DisableSnapshot on those builders and coordinator not scheduling x repo work until a snapshot is available. Easy fix in coordinator.

[2019-11-12 15:45] #35496 closed

[2019-11-12 15:45] bradfitz commented on #35529
I don't think 35515 is related.

[2019-11-12 15:48] ianlancetaylor commented on #35528
Today you can already write

[code]

[2019-11-12 15:51] thanm commented on #35512
Well, this does look like an actual bug at this point, although I am not really all that sure what the root cause is.

The test is invoking the dwarf reader's SeekPC method, which is running through the ranges associated with each comp unit.

In the (passing non-c-archive) here's what the compilation unit DIE looks like:

<pre>
 <0><929bf>: Abbrev Number: 1 (DW_TAG_compile_unit)
    <929c0>   DW_A

[2019-11-12 16:15] #32258 closed

[2019-11-12 16:17] Helflym commented on #35451
I do agree with you. I've always wanted to use this `arenaBaseOffset` in order to avoid too much difference between `aix/ppc64` and `linux/ppc64`  but I wasn't aware of `(^0x0a00000000000000+1)&uintptrMask`. Anyway, this is working fine. I'll create the patch tomorrow and check that nothing else has been broken.

Note that I've traced a little which unmapping is slowing the tests and it's indeed w

[2019-11-12 16:25] aclements commented on #35451
Does it matter if any pages have been touched in the mapping?

[2019-11-12 16:40] albrro commented on #35521
Fedora made Go 1.13.4 available. The error is still present.

[2019-11-12 16:57] ianlancetaylor commented on #35462
Two more cases of this:

[2019-11-11T22:40:45-c32aab3/darwin-amd64-10_11](https://build.golang.org/log/caaf685d96bfc18e872c6501d0f09d89622f0324)
[2019-11-12T01:07:15-ec73263/openbsd-386-62](https://build.golang.org/log/1ae7a82c8e1852c26808c5c2e93a3906c0a65fff)

[2019-11-12 16:59] bcmills opened #35537 "time: TestAfterStop flaky on solaris-amd64-oraclerel"
[code]

[2019-11-12T05:35:33-99957b6/solaris-amd64-oraclerel](https://build.golang.org/log/6f535922ec3017d949228f14c1912eed3dd399fb)
[2019-10-11T18:07:53-24f9238/solaris-amd64-oraclerel](https://build.golang.org/log/75a2ed8f2e1e18feca78ba0d52376d3e259e7f5f)

CC @ianlancetaylor @rorth

[2019-11-12 17:02] bcmills opened #35538 "runtime/pprof: panic in appendLocsForStack on linux-arm64-packet"
[code]

[2019-11-12T05:24:00-d22b573/linux-arm64-packet](https://build.golang.org/log/19d4aee46b6baabcd70ffd3f99095c586fb89a10)
[2019-11-12T01:09:31-0ee22d9/linux-arm64-packet](https://build.golang.org/log/ec31d4d0e3c976e4699229c96bd557248d286367)
[2019-11-08T18:00:31-c444ec3/linux-arm64-packet](https://build.golang.org/log/be66f69716f450aa7fdbd820126e6b266cffee7c)

CC @hyangah @randall77

[2019-11-12 17:07] bcmills commented on #29583
Still flaky after my workaround:
[2019-11-12T05:35:33-99957b6/dragonfly-amd64](https://build.golang.org/log/3b6643365167ea1b80e6cba9982e6db25a2c460e)
[2019-11-07T14:53:38-e8f01d5/dragonfly-amd64](https://build.golang.org/log/057cc64d168d717bde4146206646bb3c228cd955)
[2019-11-07T02:33:31-198f045/dragonfly-amd64](https://build.golang.org/log/a4293cf38b44fa1915e6d8d5fd425de8a643abbe)
[2019-11-05T03:2

[2019-11-12 17:11] mknyszek commented on #35451
@Helflym When you say "similar `mmap`/`munmap` in C," can you share the code? My guess was that it was the act of breaking apart that big mapping with `munmap` that was problematic, and I'm curious to see under what conditions it works just fine.

Also: thank you for looking into this!

[2019-11-12 17:16] bcmills opened #35539 "cmd/go: TestScript/mod_load_badchain flake on windows-amd64-longtest"
[2019-11-12T05:35:33-99957b6/windows-amd64-longtest](https://build.golang.org/log/f3b831947f54b7d5e0d2fc4ba2a2c0514e2cd98d)

In [CL 204777](https://golang.org/cl/204777) I made the "finding versions" log message nondeterministic based on the actual delay of the operation. Perhaps it should be made deterministic — or at least made deterministic during testing — so that output during tests doesn't d

[2019-11-12 17:25] #34574 closed

[2019-11-12 17:27] bcmills opened #35541 "runtime: "found bad pointer in Go heap" on linux-mips64le-mengzhuo builder"
[2019-11-12T05:18:25-194ae32/linux-mips64le-mengzhuo](https://build.golang.org/log/e93b008016bfe25042e76766bd32eaa749b4b809)
[2019-11-11T16:02:42-f511467/linux-mips64le-mengzhuo](https://build.golang.org/log/0a9508c7c3dac7c85d3cefb068c14f9018c3814b)

Possibly related to #34835, #32324.

CC @mengzhuo @cherrymui

[2019-11-12 17:28] bcmills commented on #35113
[2019-11-12T05:06:42-b8cb75f/linux-arm](https://build.golang.org/log/0be6577a347257e714f099d3f25c90b443b01320)
[2019-11-12T01:09:06-5b17b65/darwin-amd64-10_12](https://build.golang.org/log/b3e6c6a54c38fdb8744be1e3815eb3161d921de2)
[2019-11-11T20:07:54-e9f8d67/windows-amd64-race](https://build.golang.org/log/9460b46c184dba6b4d174ae3a92d36198443be3d)
[2019-11-08T22:44:29-42db1da/illumos-amd64](https

[2019-11-12 17:28] VadimKorniychuk commented on #35532
Just found it while trying new timers, will try to provide reproducable example.

Pretty much sure, it's an app serving traffic in our advert network (30+ instances, around 20B requests daily), and this issue doesnt reproduce on release.

Will do, post here when it's ready.

[2019-11-12 17:29] agnivade commented on #26752
Is there a way to generate the tables for all unicode versions ? If I run "go generate", it only generates the tables for the current Go version.

Also, how are you checking the memory allocation of the init function ? If I just do a blank import and run a mem profile, nothing gets caught.

[2019-11-12 17:29] mknyszek commented on #32324
Should we move this into the Go 1.14 release? @bcmills

[2019-11-12 17:30] vadyus commented on #35532
Just found it while trying new timers, will try to provide reproducable example.

Pretty much sure, it's an app serving traffic in our advert network (30+ instances, around 20B requests daily), and this issue doesnt reproduce on release.

Will do, post here when it's ready.

[2019-11-12 17:35] #35524 closed

[2019-11-12 17:40] bcmills opened #35542 "cmd/link/internal/ld: TestArchiveBuildInvokeWithExec flaky on Darwin builders"
[code]

`TestArchiveBuildInvokeWithExec` has a high enough flake rate in the builders that it should probably be investigated before 1.14. (It can be either fixed or skipped, but we should at least understand the general nature of the failure.)

[2019-11-12T01:09:40-c2edcf4/darwin-amd64-10_11](https://build.golang.org/log/e771798b4dc77bf06410a7e7b58daa0b1f81f61a)
[2019-11-04T21:37:08-d80ab3e/darwi

[2019-11-12 17:42] mknyszek commented on #35514
I'm having a very difficult time reproducing this. 10000 consecutive runs and nothing.

The test's failure should be independent of the full runtime test since it spins up a new process for it, so I'm led to believe that this is actually just the machine saying it's out of memory (and not the test doing something weird/wrong in the face of new changes).

With that being said, my next best guess is

[2019-11-12 17:43] tdfbsd commented on #29583
Looping in @tuxillo on this

[2019-11-12 17:44] andybons commented on #35527
@aclements

[2019-11-12 17:45] andybons commented on #35521
@bradfitz @tombergan

[2019-11-12 17:45] bcmills opened #35543 "x/build: frequent 'no space left on device' flakes on linux-arm builder"
[2019-11-11T20:49:27-181faef/linux-arm](https://build.golang.org/log/53838205dd43536a5e9523180323265ff803ec57)
[2019-11-11T20:19:37-aacffb6/linux-arm](https://build.golang.org/log/c0d774b33d677c6ae7d828bd96f79823a85a2e14)
[2019-11-11T16:39:35-8cdb769/linux-arm](https://build.golang.org/log/21096d195bb7491f8950748bd439b03a6e821994)
[2019-11-03T20:19:00-db75205/linux-arm](https://build.golang.org/lo

[2019-11-12 17:51] stamblerre commented on #35531
`gopls` does not execute builds in VS Code, so I think your issue should be moved to the https://github.com/microsoft/vscode-go repository.

[2019-11-12 17:51] #35529 closed

[2019-11-12 17:52] bcmills commented on #33775
The `(*deadcodepass).flood` panic seems to have been supplanted by a `strings.HasPrefix` panic.

[2019-11-12T01:09:23-e2cac31/darwin-amd64-10_11](https://build.golang.org/log/a082816579653a47662fe47ea4173fedda89853b)
[2019-11-10T17:12:15-40ebcfa/darwin-amd64-10_11](https://build.golang.org/log/8550a9caf22515c497f553928758f0292fe3b86a)
[2019-11-07T19:18:49-69dcdbd/darwin-amd64-10_11](https://build.

[2019-11-12 17:53] stamblerre commented on #35526
Has this happened to you more than once or was it just in this instance? If it happens often, can you share a `gopls` log from when this happens (see how to capture logs [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)). What version of `gopls` are you using (`gopls version`)?

[2019-11-12 17:55] stamblerre commented on #35243
I'm not sure, but #35526 seems like a different issue to me. It will be easier to tell with logs.

[2019-11-12 18:00] bcmills commented on #32324
Maybe? I think #35541 is pretty clearly worth investigating, since that's on real hardware, but it's not clear to me that a failure that only occurs on `darwin-amd64-corellium` is necessarily worth tracking down. (It would be great if we could get the actual-hardware iOS builders running stably enough to see whether it occurs on those.)

[2019-11-12T05:18:25-194ae32/linux-mips64le-mengzhuo](https:

[2019-11-12 18:01] bradfitz commented on #35521
This error message is coming from net, not http2. Retitled.

@albrro, can you provide some evidence showing that your DNS actually works? From this bug report as it stands, I'm tempted to just say "your DNS is broken".

What does `dig @192.168.01 registry.fedoraproject.org` say?

Also, try running with `GODEBUG=netdns=2`, like:

[code]

[2019-11-12 18:04] bradfitz commented on #35543
They run in a tmpfs and those machines have 2GB of ram only.

Easiest fix to just skip the slow and disk-happy "reboot" test.

But I also have been meaning to look at the $WORKDIR size growth per dist test step, and logging that along with the other metrics.

Perhaps there's opportunity to clean up after some tests.

[2019-11-12 18:05] bradfitz commented on #26752
@agnivade, see the top comment on #26775 and https://twitter.com/bradfitz/status/1024726819725950976

[2019-11-12 18:06] AmirSimon commented on #35373
@ianlancetaylor , Sorry for the late reply.

Did some more research  - its indeed happening when trying to close a web socket from the client side which was already closed by the server because of timeout.

I stand correct on what I said before - setting the deadline to 20 minutes does make the tests pass, its all a matter of if the test runs before the deadline is met.

however, after setting the

[2019-11-12 18:09] #29583 closed

[2019-11-12 18:21] jeremyfaller commented on #33775
Unusual looking bug to me. That LOC is unlikely to fail unless AllSyms has ben corrupted with a nil symbol and I don't see how that's really possible. If we check for nil at this location, we'll be playing whack-a-mole through the rest of the linker checking for nil every time we loop through AllSym.

The only three possibilities that come to mind are: some different runtime memory bug that's mani

[2019-11-12 18:23] #35329 closed

[2019-11-12 18:28] jeremyfaller commented on #35542
The 11-04 failures were addressed by @cherrymui in 205278. Than might be the best to address the most recent one, but if it's a single failure, I could see it being a flaky.

[2019-11-12 18:29] Zenithar commented on #35528
No I don't want to declare struct and properties in a concise way. But really group assignation in order to remove `res.` each time.

[2019-11-12 18:29] networkimprov commented on #35492
You could post to golang-dev asking if anyone would like to implement this; that's probably the quickest path to a patch...

[2019-11-12 18:31] bcmills commented on #33775
A bad machine seems unlikely, given the consistency of the stack trace and the number of occurrences. Either of the other two seems more plausible.

[2019-11-12 18:35] albrro commented on #35521
Apart from the go programs on my laptop, nothing else has any DNS problems. I will upload some packet captures shortly.

$ dig @192.168.01 registry.fedoraproject.org

; <<>> DiG 9.11.11-RedHat-9.11.11-1.fc31 <<>> @192.168.01 registry.fedoraproject.org
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 19256
;; flags: qr rd ra ad; QUERY: 1,

[2019-11-12 18:35] albrro commented on #35521
Apart from the go programs on my laptop, nothing else has any DNS problems. I will upload some packet captures shortly.

$ dig @192.168.01 registry.fedoraproject.org

; <<>> DiG 9.11.11-RedHat-9.11.11-1.fc31 <<>> @192.168.01 registry.fedoraproject.org
; (1 server found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 19256
;; flags: qr rd ra ad; QUERY: 1,

[2019-11-12 18:37] networkimprov commented on #35373
1.12 implements TCP keepalive timeouts on client side by default. When they occur, they appear to be deadline events.

See also #31490 & #23459

[2019-11-12 18:39] #35543 closed

[2019-11-12 18:41] albrro commented on #35521
[ns.txt](https://github.com/golang/go/files/3837666/ns.txt)

Ugh. I inserted the containing the name service info in the middle of the previous comment.

[2019-11-12 18:42] Zenithar commented on #35528
Given this state :
[code]

Applying this
[code]

Is an alias of this : #SyntacticSugar
[code]

[2019-11-12 18:43] Zenithar commented on #35528
It is like accessing the struct properties by key/value. Like you could do in JS for example.

[2019-11-12 18:44] bradfitz commented on #35521
`GODEBUG=netdns=2` should only add logging and not influence the results.

Please run it a few times to see if it's just flaky and sometimes able to actually hit your DNS.

Also try `GODEBUG=netdns=cgo` vs `GODEBUG=netdns=go` to force the libc vs Go resolvers, respectively.

[2019-11-12 18:44] AmirSimon commented on #35373
Tried to set the KeepAlive of the Dialer to a negative value, but saw no change.
will investigate further on this matter and update here.
Thanks @networkimprov.

[2019-11-12 18:50] #32973 closed

[2019-11-12 18:52] randall77 commented on #35528
This does not seem like it is worth modifying the language for. The assignments you want to replace are fine as is. DRY is IMO overkill when the thing you are repeating is the text of a single variable.

[2019-11-12 18:53] #35523 closed

[2019-11-12 18:56] matloob commented on #32973
The change has been submitted. Please try it out and let me know if you encounter any issues.

Thanks!!

[2019-11-12 18:57] tklauser commented on #35479
The implementation of `syscall.EpollWait` is exactly the same as `unix.EpollWait`. I'd rather suspect a problem with the definition of `EpollEvent` on `arm64` missing padding before its `Fd` member. This was fixed in `x/sys/unix` (https://golang.org/cl/21971) but not in `syscall`. I'll send a CL.

[2019-11-12 19:13] heschik commented on #35465
@stamblerre @matloob @ianthehat

[2019-11-12 19:18] inliquid commented on #32973
Is there any way to find which interface does some type implement? This worked fine with `bingo`.

[2019-11-12 19:26] #35479 closed

[2019-11-12 19:31] stamblerre commented on #32973
@inliquid: Was `bingo` returning this information as part of the `textDocument/implements` feature? It seems to me that this would not fully conform to the LSP's [Goto implementation](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_implementation) language feature.

[2019-11-12 19:44] albrro commented on #35521
Done. The file go.test1.txt is the result of this script:
[code]

[go.test1.txt](https://github.com/golang/go/files/3837897/go.test1.txt)

While the script was running I captured the packets. You can see ping resolving its target and the go program also using DNS every time.
[packets1.pcapng.txt](https://github.com/golang/go/files/3837903/packets1.pcapng.txt)

[2019-11-12 19:45] as commented on #35503
The underlying cause appears to be reading the "End of Information Code" from the LZW decoder.

The decoder returns 1 byte read instead of zero, as well as a nil error instead of io.EOF or io.ErrUnexpectedEOF. This triggers the `errTooMuch` condition.

One solution to this is to comment out the `errTooMuch` return in the if statement, this results in a successful decode, but also fails some of the

[2019-11-12 19:46] bradfitz commented on #26090
A year later and @aclements needs this again. Fortunately I wrote a design above that I still like, so I'll look into this today.

[2019-11-12 19:50] bradfitz commented on #35521
@mdempsky, you like DNS, right? :) Any idea why Go's resolver times out here, but cgo works, and dig works?

[2019-11-12 19:50] carnott-snap opened #35544 "proposal: cmd/go/internal/doc: module documentation"
### What did you see today?
Currently there is no place to put module level documentation that is consumable via the toolchain.

### What would you like to see?
We should standardise a doc string format that reads like the `// Package xxx ...` syntax. This will follow the current godoc rules and allow for code blocks, etc.:
[code]

We should add a new `-m` flag to put `go doc` in module mode, much

[2019-11-12 19:50] heschik commented on #33587
Now that I've fixed #30843, I'm taking a look at this issue. I've read through it a couple times and I don't see anything left that's actionable. As discussed above, LSP defines what formatting means, and we don't want to cause problems for any LSP clients by violating their expectations. Ultimately editors have control over the UI, and it seems reasonable to me that VSCode could offer a shortcut

[2019-11-12 19:52] mdempsky commented on #35518
Since CL 206619 is submitted, this isn't a release blocker for Go 1.14 anymore.

The underlying issue that there can be cycles in the escape path is still a concern though.

[2019-11-12 19:54] bradfitz commented on #26090
Fortunately, our Windows machines have RDP enabled:

[code]

[2019-11-12 20:00] hyangah commented on #35538
Using gomote, printed out the the cached location pcs and the pcs in the stack. It's flaky - all failures I got are only from TestGoroutineSwitch so far. @randall77

<pre>
=== RUN   TestGoroutineSwitch
XXX
Cached PCs: [300657 300665 300656 300665 300656 300665]
	[{300656 <nil> runtime.nanotime /workdir/go/src/runtime/time_nofake.go 19 300416 {0x28dac8 0x386c80}}]
	[{300664 0x28dac8 runtime.checkTi

[2019-11-12 20:01] mdempsky commented on #35521
Looking.

[2019-11-12 20:03] mdempsky commented on #35521
@albrro To confirm, /tmp/run.go in [your test](https://github.com/golang/go/issues/35521#issuecomment-553082787) is still the program from your [original report]? I.e., basically just `http.Get("https://registry.fedoraproject.org/v2/")` (as far as the network is concerned)?

[2019-11-12 20:07] myitcv commented on #35326
I just ran into this via `go test -short -count=1 ./...` but cannot reproduce. The output was:

[code]

[2019-11-12 20:09] myitcv commented on #35326
Sorry, sent too early there. System details as follows:

[code]

[2019-11-12 20:12] hyangah commented on #35538
BTW, I just got an internal report on the same panic, but with linux-amd64, and with the heap profile.

[2019-11-12 20:12] albrro commented on #35521
Same program, no changes.

Also, to make it clear, my system has ZERO problems with DNS ... except for the test program and other Go programs like Toolbox.

I thought it interesting the the invocations that time out still generated normal (ish?) DNS traffic.

[2019-11-12 20:28] mvdan commented on #35326
@aclements I'm attaching the two logs you wanted. It's hard to reproduce it when running `go vet` on a single package, so I had an easier time with a for loop and many Go packages at once. I used the following bits of shell:

[code]

[conservative.txt](https://github.com/golang/go/files/3838080/conservative.txt)
[conservative-gccheckmark.txt](https://github.com/golang/go/files/3838081/conservative

[2019-11-12 20:38] #34801 closed

[2019-11-12 20:48] cherrymui opened #35545 "cmd/link: default to internal linking mode for PIE"
When using -buildmode=pie, we used to default to internal linking mode. Then we forced external linking because internal linking was found broken. Then we fixed internal linking, but still default to external linking.

As far as I know, internal linking PIE works reasonably well, at least on Linux/AMD64 and Linux/ARM64. We may want to change the default back to internal linking mode.

[2019-11-12 20:49] mdempsky commented on #35521
Whatever DNS software is running on 192.168.0.1 seems broken.

If you look in the pcap file, you'll see a bunch of lines like this:

[code]

This corresponds to one of the invocations where the Go DNS client is trying to resolve registry.fedoraproject.org. It's sending two concurrent DNS requests: one for AAAA records from port 58863 with TXID 31317, and one for A records from port 47056 with TXID

[2019-11-12 20:58] jayconrod commented on #35544
cc @dmitshur

[2019-11-12 20:59] mdempsky commented on #35521
If you add "options single-request" to your /etc/resolv.conf file, it should work.

But really, the DNS server is broken and should be fixed.

[2019-11-12 21:11] albrro commented on #35521
Well, I have a no-name router in what it calls "bridge mode" to jump the gap all the way to where my laptop is. It is buggy. What if I make /etc/resolv.conf go directly to 1.1.1.1?
Same test script output:
[go.test2.txt](https://github.com/golang/go/files/3838240/go.test2.txt)

Looks like the issue has a workaround (or three).
FWIW, here are the packets captured:
[packets2.pcapng.txt](https://gith

[2019-11-12 21:14] heschik commented on #35519
`source.addNamedImport` almost certainly needs to read the "local" configuration and does not. Not sure why we need this vs. sharing code with `source.computeImportEdits`.

[2019-11-12 21:15] drswork commented on #33457
Yeah, I came around to the idea that the metadata and image shouldn't be internally linked -- in the naive case it's easy to keep the two separate elements together, and in more complex cases presumably the code will want to do complex things and can track the linkage itself or stick the result in a container structure.

We'll see, it depends on whether other people want the image library to respe

[2019-11-12 21:16] albrro commented on #35521
Tried again making my "real" router (198.168.1.1) the default in resolv.conf and there is no problem.

[2019-11-12 21:17] mdempsky commented on #35521
Glad to hear that both 1.1.1.1 and 192.168.1.1 work okay.

Would you mind testing my hypothesis that "options single-request" should fix it too when using the problematic router?

[2019-11-12 21:28] albrro commented on #35521
Yes, the single request option works. It also crashes my so-called "router". Its MAC address info is not even in the MAC vendors' DB.

It is made by Xinwei. Should I delete that?

[2019-11-12 21:34] mdempsky commented on #35521
Can you elaborate what you mean by this? How does it work, but also crash?

[2019-11-12 21:53] albrro commented on #35521
The option allows the go test program to function. Meanwhile, perhaps because of what we've been doing, the router lost its connection to the main router and lost all of its ip info and just lays there. It's not the first time this happens but I've never found what triggered it. Perhaps it runs out of memory?

[2019-11-12 22:00] mknyszek commented on #35465
@heschik have you been seeing this often? Do you have more examples? I've been unable to reproduce thus far, and also I don't see it happening at all in CI which leads me to believe it's fairly rare.

I have one suspicion: the background scavenger is scavenging unreserved memory. The evidence here is that:
* The failure is ERROR_INVALID_ADDRESS (though MSDN won't tell me under what conditions diff

[2019-11-12 22:04] mdempsky commented on #35521
I see. That seems odd, but consistent with the broken DNS server behavior.

It sounds like you have a few workarounds here, so I'm going to close the issue. Thanks for you help looking into it.

[2019-11-12 22:04] #35521 closed

[2019-11-12 22:08] inliquid commented on #33587
@heschik I think it was explained pretty much clear.

PS: I'm a user of both Goland and VS Code. And last becomes less over time. Maybe that is were your "traffic" goes?

[2019-11-12 22:10] heschik commented on #35465
It happens frequently on the x/tools builders:
https://build.golang.org/log/77fcae35bcf997b299f2290d37d1a7055aba5a4e
https://build.golang.org/log/da05324aafea64620a340f8d0891e59916edcf1e
https://build.golang.org/log/3738682eca81e0e3ff0a89a72c74c27158fe78d0
https://build.golang.org/log/301b41503517225d7d640ee81462da9d45343e7b
https://build.golang.org/log/053b0b7757d23ab3c76c1c632ce9529855f78204
I'v

[2019-11-12 22:12] bradfitz commented on #32895
Closing it doesn't delete any information. We only leave issues open when there's something actionable to do.

For just brainstorming what generics might look like, another forum is probably best.

Per the comment above (https://github.com/golang/go/issues/32895#issuecomment-542408360) saying this is a likely decline, we're going to close this, as it doesn't look like there's been a change in cons

[2019-11-12 22:12] #32895 closed

[2019-11-12 22:12] smasher164 commented on #34416
Marking this as proposal so it goes through the appropriate channels.
/cc @robpike

[2019-11-12 22:13] heschik commented on #33587
Okay. I can't figure out anything to do here, so I'm going to close the issue. If GoLand works well for you, then by all means stick with that.

[2019-11-12 22:13] #33587 closed

[2019-11-12 22:13] inliquid commented on #32973
No idea. It worked very well when both invoking `Ctrl-Shift-F12` at interface and implementation. In last case it was showing interfaces implemented by type.

[2019-11-12 22:13] bradfitz commented on #33078
Will do.

[2019-11-12 22:13] #33078 closed

[2019-11-12 22:14] randall77 commented on #30645
I'm going to punt this to 1.15. There is a CL, but it could use some more work, it's late, and it is just a performance improvement.

[2019-11-12 22:19] laboger commented on #35514
I noticed this the other day and I am not able to reproduce the problem either on any of our systems.

[2019-11-12 22:27] #35519 closed

[2019-11-12 22:29] heschik commented on #35519
Er...I just realized I didn't actually test this exact case. But I'm pretty sure it's fixed. If not please comment.

[2019-11-12 22:34] carnott-snap commented on #34409
Is it worth getting this closed/tagged as `Proposal-Accepted`, or should we start work to prove the benefit first?

Does Google want to own the dev work? If not, I am happy to contribute.

Long term it would be nice to mentioning this as part of the module release docs item in #33637. But for now, I think we can follow the lead that `// Deprecated: ...` has set:
- Create https://github.com/golang/

[2019-11-12 22:53] mknyszek commented on #35465
Ah, excellent. Thank you @heschik.

This supports my hypothesis, though it's curious that it's the same test every time. It's probably just quite good at tickling some edge case.

I was able to reproduce once in a gomote (unfortunately it dumped the output into my terminal window and I lost all the useful info) but it's timing out now. Now that I can reproduce though it should be easier to get to

[2019-11-12 23:05] dmitshur opened #35546 "proposal: define module comment convention for module documentation"
**Note:** This was a draft of a proposal that I decided against proposing at the time. I'm posting it at this time to share information and considerations relevant to this topic. See comment below for more information about why the proposal was ultimately not started.

## Abstract

There is no standard way to document Go modules. I propose defining the convention of a “module comment”, a comment i

[2019-11-12 23:07] dmitshur commented on #35546
I am closing this issue because this is a proposal draft that I am withdrawing at the time; I don't actually propose we make this change now. It was posted to make information and relevant considerations available.

The main issue with this proposal turned out to be the problem it set out to solve, namely:

It became less clear what it meant to "document a module". A module can be thought of as a

[2019-11-12 23:07] #35546 closed

[2019-11-12 23:08] dmitshur commented on #35544
Thanks for making this proposal.

I have considered this problem space in the past and wrote a proposal draft related to "module comments", but upon review and thinking more about it, I've realized there were reasons not to propose the change at that time.

There may be useful information in my proposal draft, so I've posted it so that it is available for reading. See issue #35546.

[2019-11-12 23:10] andybons commented on #35459
It seems that we want to specify the `-mmacosx-version-min` when compiling the `go` binary.

#18400 is related.

[2019-11-12 23:19] randall77 opened #35547 "runtime, x/net/internal/socket: thread sanitizer failing on ppc64le"
Thread sanitizer is failing on linux-ppc64le-buildlet and linux-ppc64le-power9osu

The test is from the `x/net` repository, but I'm not sure that matters much.

From https://build.golang.org/log/7ba95758a5a8b138b85ba4a9f87a543c3177e884 :

[code]

Some internal check in tsan is failing, causing this test to fail.
We claim to support the race detector in this config, so this test should pass.

@labo

[2019-11-12 23:31] mdempsky commented on #35128
Bumping to Backlog, since I don't think this is going to happen for Go 1.14.

[2019-11-12 23:42] myitcv opened #35548 "x/tools/gopls: didConfigurationChange does not trigger recalculation of diagnostics"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +99957b6930 Tue Nov 12 05:35:33 2019 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20191112184959-323f198cedfe
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.1.8-0.20191112184959-323f198cedfe
</pre>

### Does this issue reproduce with the latest release?

Yes

[2019-11-13 00:07] byteshiva commented on #35531
Are there any timeline when the `buildOnSave` would be made available on gopls

[2019-11-13 00:24] danscales commented on #35281
I was able to reproduce this reliably at the change 02a5502ab8d862309aaec3c5ec293b57b913d01d listed in one of the failure instances, by repeating this 100 times:

gomote run  user-danscales-openbsd-amd64-62-0 go/bin/go test sync -test.run TestMutexFairness -test.count=1 -test.timeout=15s

Using this same way to reproduce, I found that it started happening when Ian turned on the new timer code.  It

[2019-11-13 00:24] zikaeroh commented on #34964
I don't write unsafe code myself, only via third party dependencies (so take my opinion with a grain of salt), but my main want would be to have a message printed like how race mode prints a message (and during `go test`, fails).

Right now, a panic coming from checkptr can be recovered and you'll never see it unless you're careful (as in yuin/gopher-lua#254 which I got from running gotip in race

[2019-11-13 00:26] andybons commented on #35459
The fact that the SDK isn’t specified in the Mach-O headers makes me wonder if the xcode toolchain we’re using to compile cgo binaries at release time may need to be updated. When I build the toolchain on a `darwin-amd64-10_11` machine, I get the same results, while when I build the toolchain locally, I get:
[code]
When running `xcode-select -p` on the gomote builder I get `/Library/Developer/Comm

[2019-11-13 00:31] makkes commented on #32973
Great, works like a charm. Is there a tracking issue for the workspace-wide work?

[2019-11-13 00:39] rcoreilly commented on #32863
I'm adding this to the overall intro, to highlight the key difference between this proposal and the draft proposal and other standard approaches to generics using separate type arguments: The draft proposal et al split the type information into two separate parts, while this proposal keeps the type specification unitary and in one place (where it normally is for non-generic code).  For example, in

[2019-11-13 00:42] ianlancetaylor commented on #35281
Yes, I expect that was fixed by the timer change.

[2019-11-13 00:42] #35281 closed

[2019-11-13 00:54] rcoreilly commented on #32863
link added to first issue description (intro): https://en.wikipedia.org/wiki/Split_attention_effect

[2019-11-13 01:00] danscales commented on #35353
I reproduced this on linux-amd64 at 1da575a7bc (the latest test failure above) by repeating this 100 times:

[code]

(usually happened within about 20 times).  Using this reproduction case,  I showed that it was also fixed by Ian's commit d80ab3e85a  ("runtime: wake netpoller when dropping P, don't sleep too long in sysmon").  The failure is reproducible in commit immediate before Ian's, and not r

[2019-11-13 01:00] #35353 closed

[2019-11-13 01:19] mattn commented on #35492
Ah, I did not read this thread. I already have my changes to fix this on my local PC. @apmckinlay do you try this soon? (please feel free to answer).

[2019-11-13 01:28] ianlancetaylor commented on #35462
One way this could happen would be if the number of P's changes, and that causes some calls to `moveTimers`.  That runs with the world stopped, but the `sysmon` thread can still kick in and look through the timers.  If that happens concurrently with `moveTimers`, we could see garbage.  I sent CL 206938 to fix that.  But I'm not sure that explains all the failures here, as some of them don't have a

[2019-11-13 01:48] apmckinlay commented on #35492
@mattn If you have a fix already prepared that's great, go ahead. (I am travelling so I would be slow)

[2019-11-13 02:14] myroid commented on #35530
@mvdan @AndrusGerman [https://github.com/golang/mobile](url) . As readme said

![](https://github.com/golang/mobile/raw/master/doc/caution.png)

[2019-11-13 02:59] ardan-bkennedy commented on #35143
On tip today I noticed the weblist view was taking into account inlining. This was great to see. The console list command was not.

Not sure this was intended or not?

[2019-11-13 03:32] hyangah commented on #35143
We fixed inlined function info encoding in the generated profile data recently. I expected that fixed this bug (but left this open to verify before closing) but, based on your lat comment, I guess something is still broken. What do you mean by the console list command? This is what I got now.

<pre>
$ go tool pprof p.out
File: memcpu.test
Type: alloc_space
Time: Nov 12, 2019 at 10:23pm (EST)
Enter

[2019-11-13 03:39] ardan-bkennedy commented on #35143
The allocation on line 83 should be flat. Now on tip when using `weblist` it does show as flat.

[2019-11-13 03:49] ardan-bkennedy commented on #35143
[code]

[2019-11-13 03:53] hyangah commented on #35143
can you try the `noinlines` option?
I don't know why weblist takes the different default - I think we had a similar discussion but I am confused by so many options :-(  https://github.com/google/pprof/issues/415
<pre>
(pprof) noinlines
(pprof) list algOne
Total: 127.01MB
ROUTINE ======================== github.com/ardanlabs/gotraining/topics/go/profiling/memcpu.algOne in /tmp/gotraining/topics/go/

[2019-11-13 04:02] ardan-bkennedy commented on #35143
I will try but this is confusing. It's a flat allocation because of inlining. Using the -noinlines flag to see inlining seems odd?

[2019-11-13 04:18] networkimprov commented on #35459
cc @eliasnaur @odeke-em

[2019-11-13 04:20] hyangah commented on #35143
Is it ok to close this bug?

ps. reading the referenced [google/pprof bug](https://github.com/google/pprof/issues/415#issuecomment-418825045), we had the exactly same discussion about the difference between weblist and list.

[2019-11-13 04:21] ardan-bkennedy commented on #35143
Yes. THANK YOU for making this switch toggle the two different views. I really appreciate the effort.

[2019-11-13 04:22] randall77 commented on #35143
The correct answer for the bytes.NewBuffer call is 0 flat, 114MB cum. The
allocation is *inside* bytes.NewBuffer.
(In contrast to what we show today, which is IMO wrong.)
The intent of all of these inlining fixes is to make it so the output
doesn't depend on whether inlining happened or not.
It should appear as you read the source. You should see the 114MB flat line
if you list bytes.NewBuffer.

O

[2019-11-13 04:26] lcwj3 commented on #35522
Thank you for your kind reply!
Yes, but I have tried this index api `https://index.golang.org/index#`, it seems I can only get package publishing records after April 10 2019, so I may want a full list of all package id and their versions; Besides, there are a lot of old packages that have no dependency files, I also want an api to get all dependency information, e.g. we can get mod file from `http

[2019-11-13 04:27] ardan-bkennedy commented on #35143
@randall77 The allocation is caused by the lines calling into io.ReadFull. The escape analysis report will show line 113 as the cause.

If the inlining optimization is taken into account, then line 113 is the cause. If the inline optimization does not take place, then it is line 83.

if I am trying to remove this allocation I need to deal with the io.Read calls, not the call to NewBuffer.

[2019-11-13 04:28] michaelsafyan commented on #34680
Doing this would require the introduction of locking, which is what I'm trying to avoid.

To clarify:

   Startup / shared thread:
      - (Re)load template text files
      - (Re)parse text files into templates (using dummy FuncMap)

   (In parallel): request1 thread A:
      - Clone (shared) parsed template, creating thread-local copy
      - Set copy to use request1's function map

   (In paral

[2019-11-13 04:39] gdholtslander commented on #35070
@bcmills @jayconrod if I'd like to work on this, how do I do that? Or do I just submit a PR and hope no one else has worked on this already? Haha. I didn't see this covered in the [contribution guide](https://golang.org/doc/contribute.html)!

[2019-11-13 04:40] stamblerre commented on #35531
There currently isn't any plan for this feature, but this is something we might be able to do via a [CodeLens](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_codeLens). Closing this issue for now, as it is not yet a planned feature.

[2019-11-13 04:40] #35531 closed

[2019-11-13 04:44] stamblerre commented on #32973
This has been submitted as of this CL. You will have to rebuild `gopls`  at master to use this feature, however.

[2019-11-13 04:49] stamblerre opened #35550 "x/tools/gopls: support showing all interfaces that a given type implements"
Should this be part of the [textDocument/implementation](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_implementation) request or is this a separate feature? Perhaps we need to request clarification in the protocol.

[2019-11-13 04:50] stamblerre commented on #32973
Filed https://github.com/golang/go/issues/35550 to track your request, @inliquid.

[2019-11-13 05:14] kaey commented on #34680
This works today and we're using it heavily.
What error are you seeing?

[2019-11-13 05:15] powerman opened #35551 "x/tools/gopls: remove .orig files"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>
gopls updated about 6 hours ago from latest master

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/powerman/.cache/go-build"
G

[2019-11-13 05:17] powerman commented on #35551
[code]

[2019-11-13 05:44] mpx commented on #35326
go version devel +43ec1b12f5 Wed Nov 13 01:15:54 2019 +0000 linux/amd64

I have been seeing very repeatable failures building `all.bash` under Fedora 30 (currently kernel 5.3.8-200.fc30.x86_64). The  `... unknown bexport format version -1 ...` always occurs in one of the tests.

Builds/tests are successful under `GODEBUG=asyncpreemptoff=1`.

Here is my debug output in case it's useful:
[code]

[al

[2019-11-13 06:21] gertcuykens commented on #35070
If somebody is working on it a `CL` gerrit link will be added automatically in this issue. But is it just me that most of the time get lost in the `go` codebase? Multiple times when I create a ticket somebody comes in and say I will fix this while I look at the codebase following the first few steps but then it get exponentially more difficult to follow the trail of interfaces and run out of bread

[2019-11-13 06:25] leerayven commented on #35526
It happens often, and not only to me.

[2019-11-13 06:27] leerayven commented on #35526
It happens often, and not only to me. <pre>
$ go version
go version go1.13.4 windows/amd64
</pre>

[2019-11-13 06:27] zhangfannie opened #35552 "runtime: after g0.stack is adjusted in x_cgo_init(), g0.stack.lo cannot be accessed."
In the initial process, go runtime(runtime.rt0_go()) calls _cgo_init() when using cgo, the x_cgo_init() extends g0.stack which causes g0.stack.lo cannot be accessed.

[2019-11-13 06:35] zhangfannie commented on #35552
Please refer to the following debug information.
hello.go
package main
import "fmt"

import "C"

func main() {
        fmt.Printf("Hello World")
}

(gdb) b gcc_linux_arm64.c:88
Breakpoint 1 at 0x48bb6c: file gcc_linux_arm64.c, line 88.
(gdb) r
Starting program: /home/fanzha02/backup/testcase/testcodes/hello
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/aarch64

[2019-11-13 06:43] zhangfannie commented on #35552
I also found that this would cause gsignal.stack.lo to be unreachable. Because adjustSignalStack() will set the gsignal stack of the current m to the g0 stack if the signal is delivered on the g0 stack.

[2019-11-13 06:44] zhangfannie commented on #35552
CC @cherrymui

[2019-11-13 06:45] leerayven commented on #35526
It happens often(nearly every time), and not only to me.
<pre>
$ gopls.exe version
golang.org/x/tools/gopls 0.2.0
    golang.org/x/tools/gopls@v0.2.0 h1:ddCHfScTYOG6auAcEKXCFN5iSeKSAnYcPv+7zVJBd+U=
</pre>
some <code>gopls</code> log regarding the example <code>func splitDhash</code>:
Output</summary><br><pre>

[Trace - 14:41:46.622 PM] Sending request 'textDocument/hover - (13)'.
Params: {"textDoc

[2019-11-13 07:51] vadyus commented on #35532
No luck of getting deadlock with schedtrace (it slows down app a lot, maybe thats why it's not triggered)

A little more digging into locked app. It still shows a little cpu usage. bt of threads that actually using some cpu:
<pre>
 0  0x0000000000469bb3 in runtime.futex
    at /root/sdk/gotip/src/runtime/sys_linux_amd64.s:563
 1  0x0000000000465960 in runtime.systemstack_switch
    at /root/sdk/go

[2019-11-13 08:00] inliquid commented on #33587
This is more an advice for others, who still trying to use VS Code with `gopls`. I will of course use what's better for me, like any other person. Most of the time people vote by their "legs", and do not want to spend time on stupid github issues.

[2019-11-13 08:08] eliasnaur commented on #35459
If the Go linker detects a load command in an external .o file, it will [use that](https://github.com/golang/go/blob/43ec1b12f50b9ec6edefb39a9e11226ea68d7757/src/cmd/link/internal/ld/macho.go#L394). We can't just pass `-mmacosx-version-min` to CC, because the load commands for macOS, iOS etc. are mutually exclusive.

In internal linking mode, the Go linker [sets a default LC_VERSION_MIN_MACOSX ver

[2019-11-13 08:37] eliasnaur opened #35553 "cmd/dist: timeout hanging bootstrap"
Because of a runtime bug, Android builders hang in the bootstrap process:

https://farmer.golang.org/temporarylogs?name=android-arm-corellium&rev=99957b6930c76b683dbca1ff4bcdd56e59b1e035&st=0xc009856f20

This issue is about implementing some sort of timeout in cmd/dist to ensure forward progress even in the face of hangs. For quite some time I though the hangs were caused by a flaky Corellium netw

[2019-11-13 08:50] eliasnaur opened #35554 "runtime: android/arm and android/arm64 builders hang in bootstrap"
The android arm builders have hung in the bootstrap. I used to think it was caused by a flaky network, because of https://github.com/golang/go/issues/35553. Example:

https://farmer.golang.org/temporarylogs?name=android-arm-corellium&rev=99957b6930c76b683dbca1ff4bcdd56e59b1e035&st=0xc009856f20

Killing the build with SIGQUIT gives various stack traces:

https://build.golang.org/log/e41631f86f761d2

[2019-11-13 09:39] vadyus commented on #35532
upd: running with `GODEBUG=asyncpreemptoff=1` has no effect, still deadlock

[2019-11-13 09:45] tklauser opened #35555 "x/sys/unix: TestPselect flaky on some builders"
`TestPselect` occasionally fails with:

[code]

linux-386: https://build.golang.org/log/d2ac4e02833b0129a9b11f5d3ea0f122d1813baf
linux-amd64-nocgo: https://build.golang.org/log/4f61e651ce23e678c12f88df80524ed7cd28c6e7
android-amd64-emu: https://build.golang.org/log/14519f68dd1a83e8868f110d3a31c6ceddf9f141

The easiest fix is probably to just skip `TestPselect` if `Pselect` returns `EINTR`.

/cc @i

[2019-11-13 09:49] renyang19910211 opened #35556 "go: unknown environment setting GO111MODULE=false"
### What version of Go are you using (`go version`)?

<pre>
$ go version 1.13.4

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?
win10
<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

go env -w  GO111MODULE=false，I use the wrong value for G

[2019-11-13 09:52] inliquid commented on #32973
@stamblerre thank you!

[2019-11-13 10:02] Helflym commented on #35451
It seems that slow munmap, yes.

I've been using this code.
[code]

`munmap` performances are slowing down whenever `ALLOC_SIZE`,  `PAGE_ALLOC_NB` or `GAP_BETWEEN_PAGES` is being increased. With the current settings, it takes ~3.6s. That's a lot but nothing compared to the one in Go which takes more than 30/40s. Note that I haven't any idea which `PAGE_ALLOC_NB` and `GAP_BETWEEN_PAGES` should be u

[2019-11-13 10:03] ALTree commented on #35556
Thanks for the report.

You hit #34880, which was recently fixed (fix will be included in go1.14).

In the meantime, you could try this:

First, manually set GO111MODULE to a correct value from the terminal, for example in powershell; that should temporarily fix `go env`, then you can try `go env -w again`, so run:

[code]
and then:

[code]

Does that work?

[2019-11-13 10:04] networkimprov commented on #35219
@jstarks, any developments? Is Go implicated?

[2019-11-13 10:11] milanknezevic commented on #35475
I've build mips64 big-endian gdb and installed it onto builder and it seems that gdb tests are passing.

[2019-11-13 11:09] renyang19910211 commented on #35556
Yes,it worked,Thank you very much!

[2019-11-13 11:09] #35556 closed

[2019-11-13 12:17] oiooj commented on #35400
goproxy.io is here, but as @bcmills said, we are not confident that the module's license permits it to be stored, and space is always limited.

[2019-11-13 12:25] oiooj commented on #35321
@rollnthndr  Your issue fixed in Go1.14, see #34880.

[2019-11-13 13:29] zhangpy commented on #32869
I respect all the work of these tools, thanks really.
The document is not friendly from my perspective. For example, in vscode, I use goimports before and it works well. (the local flag is important for me to organize my imports)
[code]
When vscode prompt to use gopls, If I enable it and this is my setting.
[code]
It seems gopls use fixImports to organize the imports, but it is not good for me. I

[2019-11-13 13:48] AmirSimon commented on #35373
First of all, its important to add that this does not happen on MAC os, and it does fails on CentOS

@networkimprov I tried disabling the default enabled KeepAlive at the client (as stated in the documentation - setting KeepAlive to a negative value.
Also tried sending every `pingPeriod` a ping control message from the client to the server  (similar to the gorilla package example: https://play.gol

[2019-11-13 14:31] myitcv opened #35558 "cmd/go: encoded pkg path shown in stack trace"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +99957b6930 Tue Nov 12 05:35:33 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOB

[2019-11-13 14:49] jayconrod commented on #35070
@gdholtslander Just submit a PR or Gerrit CL. Make sure to include a regression test in src/cmd/go/testdata/script. GitHub doesn't let us assign issues outside the org, but commenting here is clear enough.

@gertcuykens That's definitely how I felt when I started working on cmd/go. It's admittedly not the most approachable code base.

[2019-11-13 14:56] thanm commented on #35512
After taking a closer look, I am not sure whether the linker is actually doing the right thing for c-archive linkage in the first place.

The c-archive build mode is suppose to be generating a relocatable object inside an archive wrapper.  However looking at the linker code, it appears to be doing essentially the same thing for c-archive that it does for a regular executable.

At [ld/pe.go line 10

[2019-11-13 15:03] #35555 closed

[2019-11-13 15:04] piec opened #35559 "net/http/httputil: ReverseProxy - websocket connections cannot be canceled"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>
(also checked master)

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
Up to date Arch Linux amd64
<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="am

[2019-11-13 15:15] gdholtslander commented on #35070
@jayconrod so in the future if I'm interested in an issue, just make a comment stating my intention to start working on it? Thanks 👍

[2019-11-13 15:17] mengzhuo commented on #35541
I can't reproduce by all.bash nor dist test ( tried serval times)
Bad memory block?

[2019-11-13 15:25] cherrymui commented on #35554
Hmmm. I tested that CL on android/arm64 manually and with trybots, both worked fine. Not sure why it starts to fail now...

[2019-11-13 15:31] cherrymui commented on #35475
Thanks @milanknezevic !

I think we can close this. No more failure on dashboard now.

[2019-11-13 15:31] #35475 closed

[2019-11-13 15:36] mengzhuo commented on #35536
I changed builder user to "gopher" after I saw the "run by root" message but it failed linux/mips64le too.
https://build.golang.org/log/fa1c19c15a7a5ddf418d576cb2a5ba4c375c54c0

However it's fine when I run them manually.
[code]

[2019-11-13 15:39] hyangah commented on #35143
Before closing this bug, I want to clarify:

@ardan-bkennedy We didn't make any pprof command line tool change. The pprof command line tool features are maintained by the upstream pprof team. We fixed a bug in runtime/pprof that caused missing inline info in generated profiles (regression undetected in the last couple of release cycles). For pprof feature improvement requests, please file requests

[2019-11-13 15:39] #35143 closed

[2019-11-13 15:40] bcmills commented on #35536
Yeah, there are currently some tests that fail with a read-only filesystem. I'm hoping to fix them this week.

[2019-11-13 15:40] #35512 closed

[2019-11-13 15:48] laboger commented on #35547
Once again, I am not able to reproduce this failure. Maybe I'm not building and running this like is done with the buildlet.

I checked out the latest golang.org/x/net and rebuilt it with upstream Go. The tests all passed on my debian buster power9 machine.

I see the test says it is testing in module mode. Not exactly sure what that means. Is there documentation on how to run all the golang.org/x

[2019-11-13 15:49] #33200 closed

[2019-11-13 15:59] ianlancetaylor commented on #35552
I feel like you've skipped a few steps.

Does this only happens on linux-arm64?

Are you saying that `pthread_attr_getstacksize` sets `size` to the wrong value?  Your debugger output doesn't seem to show the value of `size`.

[2019-11-13 15:59] ianlancetaylor commented on #35552
Also, what actually goes wrong?

[2019-11-13 16:05] eliasnaur commented on #35554
Note the android/arm* builders have been timing out for a week:

https://build.golang.org/?page=4

[2019-11-13 16:24] cherrymui commented on #35554
Yeah, I submitted that CL roughly a week ago, but I tested it before that, and it worked fine. I also tested the corresponding ARM32 CL (https://go-review.googlesource.com/c/go/+/202338) and it worked fine. And the android/arm builder showed ok after that CL was submitted.

[2019-11-13 16:29] cherrymui commented on #35552
As far as I can tell, nothing goes wrong.

Some background: @zhangfannie and I had some conversation in email about why writing to gsignal.stack.lo failed before CL https://go-review.googlesource.com/c/go/+/204519.

[2019-11-13 16:44] lggomezml commented on #34123
@randall77 I´m still able to repro this on my local container using gotip:
`go version devel +bf49905 Wed Nov 13 15:52:21 2019 +0000 linux/amd64`

I can go back to get the a new set of dumps like you requested [before](https://github.com/golang/go/issues/34123#issuecomment-531039505) if needed

[2019-11-13 16:45] mknyszek commented on #35465
I think I found the problem. Will push a fix in a bit.

[2019-11-13 16:45] eliasnaur commented on #35554
FWIW, darwin/arm64 can also hang. I killed this one with SIGQUIT:

https://build.golang.org/log/294e3f1975bd1cd17bd05e8cf4c0f4ec83dd3a00

[2019-11-13 16:46] katiehockman commented on #35400
@arschles

Since we can't do this (re: licensing), the best alternative would be to inform users if there is a genuine risk that their dependency will disappear if it's removed from the origin server. You mentioned that this endpoint would say "that module@version could expire at any time", so one alternative might be to give a timestamp for how much longer this cached copy will live, instead of t

[2019-11-13 16:50] #35184 closed

[2019-11-13 16:58] randall77 commented on #35547
I hate unreproducible bugs :(

Try checking out Go and x/net from the two hashes listed in that error log.
Then maybe try using a gomote instead of your machine.

I don't think this failure would have anything to do with modules.

Maybe just try writing a helloworld race detector example and see if it works?

[2019-11-13 17:00] odeke-em commented on #34123
Luis, please do so :)

On Wed, Nov 13, 2019 at 8:47 AM Luis Gabriel Gómez <notifications@github.com>
wrote:

[2019-11-13 17:05] julieqiu commented on #33654
The discovery site is now live at [pkg.go.dev](https://pkg.go.dev)!

You can read about it on the latest [Go blog post](https://blog.golang.org/go.dev).

We hope that you will try it out, and we would love to hear your feedback! We are just getting started with building out [pkg.go.dev](https://pkg.go.dev), so some bugs are to be expected. Please file any issues and share your thoughts with us by

[2019-11-13 17:06] randall77 commented on #34123
Yes, a new set of dumps would be helpful.

[2019-11-13 17:07] mknyszek commented on #35465
@heschik confirmed this fixes the problem in the x/tools test (10 consecutive runs and no failure; the tests in that package take a while to run). It's a bit wild to me how consistently that test was able to trigger this, but it was nice to have a consistent reproducer. :)

[2019-11-13 17:13] cherrymui commented on #35554
@eliasnaur Could you test whether disabling async preemption fix the timeout?
Change https://go.googlesource.com/go/+/refs/heads/master/src/runtime/signal_arm64.go#82 to false.

[2019-11-13 17:16] hyangah commented on #35400
@oiooj @katiehockman If gocenter.io wants to preserve rights to evict some of the module versions to alleviate storage usage pressure in the future, I expect gocenter.io to return 'false' for the proposed /mirrored endpoint for all module versions. Then I don't think this endpoint is very useful for its users either.

[2019-11-13 17:31] bcmills commented on #35400
@hyangah, to the contrary! If some tool uses `/mirrored` to, say, recommend whether or not users should mirror their dependencies locally (or vendor them), then a `/mirrored` endpoint that always returns `false` could still be a useful input to such a tool.

[2019-11-13 17:38] renanbastos93 opened #35561 "Improve doc about struct Resolver in var PreferGo"
Guys, how are you?

I have a suggestion to improve doc about parameter `PreferGo` on struct Resolver based on a comment in another issue. https://github.com/golang/go/issues/19268#issuecomment-345384876

Suggestion adds more a small text:
[code]

Reference Doc:
https://github.com/golang/go/blob/a38a917aee626a9b9d5ce2b93964f586bf759ea0/src/net/lookup.go#L120

[2019-11-13 17:44] rittneje opened #35562 "net/http: mention Context and Client.Do in docs for Get, Head, Post, PostForm"
The documentation for `Client.Do` says "Generally Get, Post, or PostForm will be used instead of Do." However, there is no way to pass a `context.Context` into those methods, so we cannot, for example, set a per-request timeout without resorting to `Do`. I propose adding the following new methods to `http.Client`.

- `GetContext(ctx context.Context, url string) (resp *Response, err error)`
- `Head

[2019-11-13 17:54] zikaeroh commented on #35562
This doesn't resolve the proposal, but you might not be aware of `ctxhttp` in `x/net`: https://godoc.org/golang.org/x/net/context/ctxhttp

[2019-11-13 17:55] hyangah commented on #35400
@bcmills Shouldn't the user of the proxy already know about the promise of the public proxy they are using? As far as I know, proxy.golang.org is the only one that may have different answers for modules/versions.

BTW if we are talking about the users who want to distribute the source code of binaries/libraries and control the dependencies, they don't know what proxy "their users" will depend on t

[2019-11-13 17:55] rsc commented on #35400
What's the reason for using /mirrored instead of a field in the info file?

[2019-11-13 18:06] andybons commented on #35459
@ianlancetaylor for cgo.

It may be OK to specify the `MACOSX_DEPLOYMENT_TARGET` env var when building the toolchain only and not for every cgo binary.

[2019-11-13 18:06] networkimprov commented on #35373
First, update to latest Gorilla-websocket; 1.2 is 2y old. https://github.com/gorilla/websocket/releases

Then if you can provide two complete, simple programs that reproduce the problem with Go 1.13 (but are OK on 1.11), the Go team can investigate.

[2019-11-13 18:06] bcmills commented on #35400
There is no intrinsic reason why that must be the case, and having an endpoint would make it easier for users to detect if (say) the proxy that they are using changes its policy to provide longer-term mirroring.

Their users (transitively) can use the same endpoint to decide what to do.

[2019-11-13 18:07] bcmills commented on #35400
Proxies may reasonably re-serve `.info` files from other proxies. What presumably matters to users is the policy of the “last hop” proxy, not any intermediaries.

[2019-11-13 18:09] rsc commented on #34877
@seebs, if your test is failing mysteriously with/without console access then it sounds like you're not printing a good error message in your test. That would be better to focus on, no?

[2019-11-13 18:10] rsc commented on #34877
Based on the discussion and in particular https://github.com/golang/go/issues/34877#issuecomment-548032109, this seems like a **likely decline**.

Leaving open for a week for final comments.

[2019-11-13 18:10] networkimprov commented on #35554
There's also the env variable `GODEBUG=asyncpreemptoff=1`

[2019-11-13 18:13] russelldavis commented on #35520
I (partially) figured out what's going on here: the golang repo is special in that it can only be properly compiled or analyzed when GOROOT is set to its own location.

This is because much of its own code is importable as "standard packages" via GOROOT, and GOROOT packages take precedence. So if GOROOT points to a different installation of go, those packages will get imported instead, resulting i

[2019-11-13 18:15] rsc commented on #29062
Based on the discussion here, it sounds like we could possibly move forward with the following:

 - Add a new flag in package testing, -test.panicexit0, which will be recognized when invoking test binaries.
 - In the testing package, if -test.panicexit0 is given, use some backdoor into os to catch os.Exit(0).
 - If os.Exit(0) is called, panic("os.Exit(0) during test") instead (we can't use t.Fatal

[2019-11-13 18:16] rsc commented on #35192
Accepted.

[2019-11-13 18:18] rsc commented on #34313
There have been no comments objecting to declining this issue. Declined.

[2019-11-13 18:18] #34313 closed

[2019-11-13 18:18] zikaeroh opened #35563 "x/tools/gopls: support pkg.go.dev in textDocument/documentLink"
`gopls` currently uses godoc.org in its `documentLink` responses. This is fine, but it'd be nice to support the new `pkg.go.dev` site as it lets you look at a specific module version's documentation.

`gopls` has the module version info for imports, so could construct links to the new site with the correct version, which would work a bit better than just pointing to godoc.org in some cases. (Looki

[2019-11-13 18:18] odeke-em commented on #26252
I spoke to @martisch and we'll push this to Go1.15 as he didn't have time to get it in for Go1.14.

[2019-11-13 18:19] russelldavis opened #35564 "x/tools/gopls: log errors during `gopls check`"
#### What did you do?
Trigger a simple error in `gopls`, for example by setting `GOROOT` to an invalid path:

[code]

#### What did you expect to see?
`gopls` should immediately exit after printing the error.

#### What did you see instead?
`gopls` hangs for 30s after printing the error, then prints `
gopls: timed out waiting for results from ...`

I suspect the same thing is happening with the 30

[2019-11-13 18:20] rsc commented on #34701
One consequence of writing your own package is that you could use it and would not need the change in the standard library. If others also found it useful (perhaps by searching https://pkg.go.dev/search?q=json), they could use it too. In general we can't add every possible new feature to the standard library, especially encoding/json and encoding/xml. Third-party alternatives are an important part

[2019-11-13 18:20] rsc commented on #34701
No change in consensus, so declining.

[2019-11-13 18:20] #34701 closed

[2019-11-13 18:21] rsc commented on #34293
@stamblerre, how does gopls get the docs in a data structure? Does it just use go/doc for that parsing?

@paulvollmer, have you tried using go/doc? Is there anything missing from what it does?

[2019-11-13 18:24] rsc commented on #34680
https://golang.org/pkg/html/template/#Template.Funcs

I think you are misreading the documentation. There are two maps in play.

Funcs copies entries from the map argument into a private map stored in the template.
If the caller modifies Funcs's map argument after the call returns, nothing changes in the template.
If you Clone the template, the clone gets its own private map initialized to be a co

[2019-11-13 18:25] katiehockman commented on #35400
We've treated the `.info` file as an immutable object that is provided by the `go` command and given to clients unchanged. If we start adding custom fields to the `.info` file which differ between proxies, then I'm not sure what the consequences of this could be. For example, it could mean that a proxy like Athens which chooses to proxy our .info endpoints to their clients will be serving answers

[2019-11-13 18:27] rsc commented on #35305
The consensus here seems overwhelming, and maybe glibc will even make the change.
This seems like a **likely accept**.

Leaving open for a week for final comments.

[2019-11-13 18:27] zikaeroh opened #35565 "x/tools/gopls: only use import text as range for textDocument/documentLink responses"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?

Have import statements, a mix of normal imports, aliased imports, `_` imports.

#### What did you expect to see?

Links which span the package path.

#### What did you see instead?

The links span the entire import statement, and not just the link. See:

![image](https://user-images.githubusercontent.com/48

[2019-11-13 18:29] rsc commented on #34855
@bvisness, if you need a super-fancy redactor that can strip things from URL parameters, probably you should reach for a third-party package. Or maybe think about not putting authentication information into URL parameters, where it leaks via Referer and other headers.

No change in consensus, so accepting.

[2019-11-13 18:31] seebs commented on #34877
You know, that's a good point: It might be *surprising* that the behavior changes, but a good test should probably be clear enough about what went wrong that you can figure it out.

[2019-11-13 18:33] rsc commented on #32558
Matching os.Chown's approach for ignoring part of the operation seems like a decent argument for doing the same in os.Chtimes.

This seems like a **likely accept** in the absence of any objections or arguments against it.

Leaving open for a week for any final comments.

[2019-11-13 18:36] rsc commented on #6977
No objections raised, so accepting.

[2019-11-13 18:37] rsc commented on #6977
Already implemented, so closing.

[2019-11-13 18:37] #6977 closed

[2019-11-13 18:38] rsc commented on #34681
I don't have a clear sense of where people are on this.

Should we add syscall.O\_ALLOW\_DELETE on Windows,
or should we do nothing and close this?

[2019-11-13 18:39] eliasnaur commented on #35554
Thank you. Setting `GODEBUG=asyncpreemptoff=1` seems to get rid of the hangs.

[2019-11-13 18:40] rsc commented on #35283
If you want to patch the standard library, I would say go ahead and do that.
Adding explicit support to _encourage_ that behavior seems like a step in the wrong direction.
In general figuring out how to let people experiment with changes is an open question,
but we know that one way to do it wrong is to make it too easy to let production code depend
on things like this that break upgrades and so o

[2019-11-13 18:42] bcmills opened #35566 "os/exec: test fails with "runtime: netpoll: break fd ready for -2" on OpenBSD 6.2 builders"
[CL 206939](https://golang.org/cl/206939), a test-only change, introduced a regression on the OpenBSD 6.2 builders (https://build.golang.org/log/edea2d1e1ca4fabe71e3cf98868411e29cfb42cb):

[code]

[2019-11-13 18:46] philpearl commented on #34701
OK, so "can be explored in 3rd-party packages easily" does not imply a mechanism to eventually apply the change back to core if the "exploration" proved successful.

Ah well. Will contemplate creating my own special JSON library. Only I would love it, but perhaps that's enough?

[2019-11-13 18:49] cpuguy83 commented on #34681
IMO we need to be able to `os.OpenFile(..., syscall.O_ALLOW_DELETE, ...)`.

I honestly find the duplicated flags in `os` confusing, particularly for non cross-platform concepts, but do not care if it is added to `os` or not.

[2019-11-13 18:49] rsc commented on #34409
Adding "// Unstable:" has a much larger effect than "// Deprecated:".
"// Deprecated" is basically a courtesy: it says "this will keep working but just so you know there is a newer thing you might be happier with." If you don't see the comment, no big deal.

"// Unstable" is much more invasive. It says "even though you might think otherwise, I reserve the right to change the types/code here in the

[2019-11-13 18:49] bradfitz opened #35567 "testing: move Internal types to internal package"
InternalBenchmark, InternalExample, and InternalTest predate the "internal" package mechanism.

Per a discussion here, we could probably move those three into a new internal package, and add a type alias for a few cycles before removing the testing alias.

[2019-11-13 18:53] heschik commented on #35565
We can't take patches in issues, but I agree that linking just the import path would be better. Would you like to send a PR/CL?

[2019-11-13 18:53] mvdan commented on #34701
@philpearl if a feature in an alternative json package works well and is very popular, we could always reconsider, but I imagine its chances are low if it trades API complexity for performance.

If you're thinking in the long term, what I think is more interesting would be a v2 redesign of `encoding/json`. Perhaps that way its design could be better for performance, without duplicating parts of th

[2019-11-13 18:55] andybons commented on #33502
**2019-11-13 / @andybons, @bradfitz, @griesemer, @ianlancetaylor, @rsc**

- #35283 **cmd/go: allow replace directives in go.mod to work for standard libraries**
  - commented
  - **likely decline; last call for comments**
- #34877 **cmd/go: be consistent about not giving tests direct access to the terminal**
  - commented
  - **likely decline; last call for comments**
- #35192 **cmd/go: default to

[2019-11-13 18:58] rsc commented on #35400
The existing convention in these URLs is to disambiguate based on the file extension not a new path element, so it would be v0.3.2.mirrored not v0.3.2/mirrored.

Beyond that, though, I wonder if maybe there will be need to send more than a single bit at some point (thus my question about .info). If we don't extend .info then it seems like we should instead define a new JSON-formatted .proxy file f

[2019-11-13 18:58] ianlancetaylor opened #35568 "runtime: running Go code on OpenBSD gomote fails when not running as root"
I don't know what is going on here, but recording since something is wrong.

When I use `gomote run` with the openbsd-amd64-62 gomote, everything works as expected.  When I use `gomote ssh` to ssh into the gomote, the go tool consistently fails with the following stack trace.

The only obvious difference is that `gomote run` runs as root but `gomote ssh` does not.

CC @mknyszek @aclements @bradfit

[2019-11-13 18:59] zikaeroh commented on #35565
I will look into it later today; I typically only report issues and haven't signed the CLA (need to figure out if I can submit a patch). Feel free to write something better, I'm not convinced manual tweaking of token positions is right either and I only included the tweak because it was really easy to do.

[2019-11-13 19:06] rsc commented on #34626
go test should not be in the business of statistical analysis.
There are so many analyses you might want to do on the numbers.
Benchstat is one set; keeping them outside go test means you can write your own just as easily.

If the problem is that go test does not print enough significant figures for you to write your own analysis tool, let's talk about that instead.

It sounds like you want to see

[2019-11-13 19:07] mknyszek commented on #35568
If I were to guess, there's an `RLIMIT_AS` set for non-root users or something. I'll look into this now.

[2019-11-13 19:08] bcmills commented on #34409
Note that there are already at least a few examples of unstable definitions in the standard library.

For example, consider:
* `unicode.Version` (which changes every time the version is updated)
* `os.ModeType` (which would change if a new type bit is added)
* `text/scanner.GoTokens` (which will change if a new kind of token is added to the Go grammar, for example in order to handle generics).

[2019-11-13 19:09] katiehockman commented on #35400
Agreed that there is very likely to be a time where more than one bit should be provided. Perhaps the date of expiration, or the detected licenses, for example.

I like the idea of a generalized `.proxy` file similar to the `.info` file. I'm not sure if this belongs in the proxy protocol at this point though, especially if no other proxies will want to use this. But in general it sounds like a goo

[2019-11-13 19:10] rsc commented on #34707
I don't believe we should add complexity here.
We already have -short=false which you'd think meant long already.
Two standard levels should be enough.
The next number after two is infinity. Let's not go there.

And as @cespare says, you can already define \-verylong yourself when you need it.

[2019-11-13 19:12] cherrymui commented on #35554
Thanks. Could you get a stack trace with GOTRACEBACK=crash set?

[2019-11-13 19:12] odeke-em commented on #35562
Hello @rittneje! Thank you for filing this issue. I see how this is inconvenient. However, history beat us to the punch, those functions were added years before context.Context was a thing. I am sympathetic towards adding Context on them. On the flip side though:

The highlighted functions are helper/convenience methods on the global/default HTTPClient.
To customize more things on those methods, w

[2019-11-13 19:12] rsc commented on #34698
Yes, this is definitely beyond the scope of the time package.
For better or worse, time prints English names.
Internationalized time support is meant to be in golang.org/x/text/date, but it hasn't been completed.

[2019-11-13 19:14] aclements opened #35569 "runtime: de-duplicate bit operations with math/bits"
For the page allocator rewrite, @mknyszek tried to depend on `math/bits` in the runtime. This *almost* works, but conflicts with `go test -coverpkg=all` (#35461) because that tries to instrument `math/bits` in ways that are incompatible with running inside the runtime. In order to get this working, [CL 206199](https://golang.org/cl/206199) duplicated some `math/bits` functions into the runtime (an

[2019-11-13 19:15] bradfitz commented on #35568
People who like this bug also like #10719.

/cc @bcmills

[2019-11-13 19:19] bcmills commented on #34254
The first entry here:
[code]

really is incorrect, and the `go` command is correct to flag it as such. The version `v0.8.1` is compatible with the module paths on *both* sides, so it very clearly should not have a `+incompatible` suffix.

[2019-11-13 19:20] jrick opened #35570 "pkg.go.dev: recognize additional permissive licenses"
pkg.go.dev looks great but unfortunately much of the software I write and consume is licensed under one of two permissive licenses -- the [ISC License](https://spdx.org/licenses/ISC.html) and [Blue Oak Model License](https://blueoakcouncil.org/license/1.0.0) -- and the site refuses to display anything about these modules presumably because it does not recognize the licenses.  For example, check th

[2019-11-13 19:21] katiehockman opened #35571 "x/website: pages have different heading and content widths"
https://golang.org and https://blog.golang.org homepages have different widths than other tabs on the site. For example, starting at https://golang.org and clicking the [Packages](https://golang.org/pkg/) tab sends you to a page with a completely different width, including the navigation bar you were just using. If you then click the Blog tab, the page has a new width again, going back to the orig

[2019-11-13 19:26] ianlancetaylor commented on #35568
For root bash's `ulimit -v` reports `33562624`.  For non-root, it reports `1576960`.

[2019-11-13 19:26] cherrymui commented on #35554
On the android/arm builder, do we build an ARM64 toolchain first? (It looks that way from the log.) Is this the tip version of Go?

On https://build.golang.org/?page=3&branch=master , there are some ok on android/arm after the ARM64 preemption CL submitted.

Also, on either builder, in the build log it says
[code]
but also
[code]
I'm not sure I understand how the build process works on the android

[2019-11-13 19:27] AmirSimon commented on #35373
As stated above - "also tried upgrading gorilla package to their latest 1.4"

I just want to add that if the client OR the server is running on go 1.11 (one of them is enough), everything works.

I'll try to come up with two simple programs that reproduces the problem, thanks for your help

[2019-11-13 19:30] ianlancetaylor commented on #35566
CL 207078

[2019-11-13 19:31] eliasnaur commented on #35554
There are currently two slightly different builders because I'm reconstructing them to be built from a setup script. You may disregard android/arm for now, it doesn't work on the new builder types yet, and is a cross compile from arm64. The android/arm64 builds are a native build.

The old builder uses a prebuilt toolchain I made (go-android-arm64-bootstrap). The new builder uses Go from the `gola

[2019-11-13 19:32] cherrymui commented on #35569
The failure only happens when both `-coverpkg=all` and the race detector are enabled. The cover tool inserts a call to `sync/atomic.AddUint32` (or like), which is further instrumented by the race detector, making it a call to the race detector code, when it doesn't have a P (e.g. in schedinit).

It might work fine if it is just an atomic counter increment.

[2019-11-13 19:36] networkimprov commented on #35283
One reason many projects need patches is that each release stops getting regression fixes after 6 months (see #34622).

What would you think of a proposal re adjusting the runtime.Version() result to reflect a non-released (e.g. patched) instance?

[2019-11-13 19:43] cherrymui commented on #35554
Thanks @eliasnaur

[2019-11-13 19:46] laboger commented on #35547
I ran all the race tests I know about in golang. They all passed on my power8 and power9.

in runtime/race:
go test -race
[code]
In golang.org/x/net at the commit from the failure:
[code]
[code]
I do not have gomote access.
Isn't the error message about personality related to some kind of system or kernel setting?

[2019-11-13 19:47] thanm commented on #34935
@bolenzhang It would be nice if we could close this bug out -- any more to do / say here?

[2019-11-13 19:48] mdempsky commented on #35569
Unifying with fuzzing instrumentation sounds good to me, and would avoid the dependency loop. I can play around with this during the freeze.

[2019-11-13 19:49] thanm commented on #31918
@andybons Are there any linker changes needed here? Let me know if I can help.

[2019-11-13 19:51] mknyszek commented on #35568
@ianlancetaylor I investigated this with someone who knows OpenBSD a bit.

The number that's checked in the kernel from a `PROT_NONE` anonymous mapping is `RLIMIT_DATA`, which is limited for non-root users in `login.conf`. We can fix this on our builders by making `datasize-cur` and `datasize-max` unlimited, but if OpenBSD has a low default then that's a problem since Go no longer works out of the

[2019-11-13 19:53] andybons commented on #35570
Thanks for the note.

Please see https://pkg.go.dev/license-policy for more information and a method to provide feedback.

[2019-11-13 19:53] #35570 closed

[2019-11-13 19:54] jayconrod commented on #34409
As another data point, there are also several symbols in the `testing` package: `RegisterCover`, `Cover`, `CoverBlock`, `MainStart`. These have comments like:

[code]

[2019-11-13 20:05] networkimprov commented on #35459
cc @thanm

[2019-11-13 20:07] laboger commented on #35547
If I look at the code from LLVM from the error output I see this:
[code]
So I believe that error message is saying the test system has ASLR enabled but should be rerun without it? So the message is not really an error?

[2019-11-13 20:09] mknyszek commented on #35451
It would be better to use `mprotect` and still assume a 60-bit address space just in case AIX changes it's `mmap` policy (since this isn't documented anywhere). If it does change its policy, then existing Go binaries will break on new versions of AIX.

However, the fact that `mmap` takes 1 second to run makes this plan dead-on-arrival. Perhaps the `arenaBaseOffset` is the right way to go in this c

[2019-11-13 20:10] jayconrod commented on #34409
@rsc I'm not sure what the next step is. It doesn't sound like the proposal committee has accepted or rejected this. What information would be useful in making a decision?

[2019-11-13 20:17] rsc commented on #33595
I don't understand what is being proposed here. Is this issue still relevant?
go/packages lets you load 'x.go' (or 'x.go y.go') just fine, right?

[2019-11-13 20:20] rsc commented on #31064
[cmd/vet/README](https://golang.org/src/cmd/vet/README) lists the requirements for a vet check.
This proposal seems to me to fail "Correctness" and "Precision".
There is plenty of code that shadows `err` in particular that is completely correct.
Rejecting it in vet will generate far too many false positives, which makes people not trust vet output (even output from other checks).

[2019-11-13 20:23] rsc commented on #21606
[cmd/vet/README](https://golang.org/src/cmd/vet/README) lists the requirements for a vet check.
This proposal seems to me to fail "Correctness" and "Precision".

There is plenty of code that shadows variables explicitly to make a local copy, and reuses the same name to ensure that it is impossible to refer to the outer "wrong" one anymore. (I'm just repeating the conversation above, with @dominikh

[2019-11-13 20:28] rsc commented on #33567
[cmd/vet/README](https://golang.org/src/cmd/vet/README) lists the requirements for a vet check.

The other two issues seem like clear declines to me on correctness/precision. They reject far too much good Go code. This proposal is different. It is unlikely to reject good Go code but seems unlikely to catch many bugs either, for the simple reason that hardly any Go programmers reuse predeclared ide

[2019-11-13 20:32] cagedmantis opened #35572 "x/build: one linux/arm builder (scaleway-prod-15) missing"
From https://farmer.golang.org/#health:

<pre>
scaleway-prod-15 missing, never seen (at least 37h51m8s)
1 machines missing, 2% of capacity
</pre>

Only 1 machine out of 50 is missing. At first I thought it was an issue similar to #32801 where destroying the machine would force the `x/build/cmd/scaleway` deamon to recreate a functioning vm.  The deamon did recreate the machine. The new machine is e

[2019-11-13 20:41] maltalex commented on #7170
@ianlancetaylor At the risk of sounding stupid (I'm very new to Go), where are `Sendto` and `Recvfrom` implemented?

The code in [syscalls_windows.go](https://github.com/golang/sys/blob/master/windows/syscall_windows.go#L1131) just returns an error:

    func Sendto(fd Handle, p []byte, flags int, to Sockaddr) (err error)       { return syscall.EWINDOWS }

[2019-11-13 20:53] paulvollmer commented on #34293
@rsc i'm using `go doc` to get a fast way to the docs.
what i'm thinking about is using go doc also in a machine readable format.
for example `go doc net/http -json` to get the docs of the net/http package as a json output.

But maybe there is already a tool doing that. how are the html pages of golang.org/pkg generated?

[2019-11-13 20:54] seebs commented on #33567
Empirically, usually if I unintentiontally shadow `len`, I find out very quickly, but the errors can be very confusing, because the real problem is "you shadowed a predeclared identifier and then tried to use the predeclared identifier without noticing this", and the diagnostic is always unrelated.

I wonder if it'd be sane/practical to track whether a given symbol shadows another symbol, and if s

[2019-11-13 20:54] #35536 closed

[2019-11-13 20:55] frou commented on #32898
It's a shame that gopls gets jammed by cgo being involved, because this hampers the value of the wonderfully clean [OpenGL wrapper packages](https://github.com/go-gl/gl) provided by the go-gl organisation.

[2019-11-13 20:56] networkimprov commented on #31064
False positives would be eliminated by adding code to make intended shadows explicit. See (2) in _Changes to go vet_.

Adding that code is the proposed cost to alleviate the possibility of bugs due to shadowing, which bite new and experienced Go users.

[2019-11-13 21:04] dsnet commented on #34409
As a data point. In the protobuf module, there are several types or functions explicitly marked as being for internal use only. However, they must be exported in order for generated code to access them. We reserve the right to change those APIs with the caveat that we don't break existing usages that were properly generated by protoc-gen-go.

Whether this convention is adopted or not, this type of

[2019-11-13 21:11] eliasnaur commented on #35554
For some reason I'm now failing to reproduce the hangs :( Another crash appeared, but it seemed unrelated:

https://farmer.golang.org/temporarylogs?name=android-arm64-corellium&rev=54cf7760203c2b138d9ecf653cd3b2402444cf9b&st=0xc0037da160

[code]

I'll file a separate issue.

[2019-11-13 21:14] eliasnaur opened #35573 "runtime/pprof: slice bounds out of range [6:5] in appendLocsForStack"
From https://farmer.golang.org/temporarylogs?name=android-arm64-corellium&rev=54cf7760203c2b138d9ecf653cd3b2402444cf9b&st=0xc0037da160

[code]

With GOTRACEBACK=crash:

https://farmer.golang.org/temporarylogs?name=android-arm64-corellium&rev=62581ee982bef250a1b53af2e3591f1193fe27ee&st=0xc005d9b600

[code]

Note that the android/arm and android/arm64 builders have been offline for about a week.

[2019-11-13 21:18] zikaeroh commented on #35326
I just saw this too, while running some benchmarks:

[code]

`e/.antigen/bundl` is something from my environment variables which has somehow made its way here...

[code]

[2019-11-13 21:18] ianlancetaylor commented on #34409
@jayconrod I think that what might be helpful is a reason why you can't use names like `ExperimentalFoo`.

[2019-11-13 21:20] cherrymui commented on #35554
This looks like #35538

[2019-11-13 21:22] cherrymui commented on #35554
Good to see it doesn't hang, at least no always. Thanks!

[2019-11-13 21:23] hyangah commented on #35573
Sorry for the breakage. Can I access the builder with TRY or gomote?

[2019-11-13 21:24] cherrymui commented on #35573
Probably the same as #35538

[2019-11-13 21:25] #35566 closed

[2019-11-13 21:26] eliasnaur commented on #35573
Seems so.

[2019-11-13 21:26] #35573 closed

[2019-11-13 21:26] ianlancetaylor commented on #35568
Just a note that the same problem still happens on OpenBSD 6.4.

[2019-11-13 21:29] jayconrod commented on #34409
@ianlancetaylor My expectation is that `gorelease` via `apidiff` will identify a number of changes as technically incompatible, but developers will want a way to annotate definitions to suppress false positives.

I'm planning to ship an experimental version of `gorelease` soon ("soon" depends on what other cmd/go issues need to be fixed before the 1.14 beta). Hopefully I'll have some useful feedba

[2019-11-13 21:33] eliasnaur commented on #35554
Got one with GOTRACEBACK=crash on android/arm:

https://build.golang.org/log/aa5855e5d65bbe8361fa9b79d53c1f9be22f1804

[code]

[2019-11-13 21:36] eliasnaur commented on #35554
And another android/arm on the old builder, but without GOTRACEBACK=crash:

https://farmer.golang.org/temporarylogs?name=android-arm-corellium&rev=bf4990522263503a1219372cd8f1ee9422b51324&st=0xc00bc78c60

[code]

[2019-11-13 21:37] ianlancetaylor commented on #34409
Sorry if this is an unhelpful comment, but the cmd/api tool in the standard library does have a way to suppress false positives, for the kinds of examples that @bcmills cites above.  See the files in https://golang.org/api/ .

[2019-11-13 21:38] heschik commented on #35433
Closed in https://golang.org/cl/206879.

[2019-11-13 21:38] #35433 closed

[2019-11-13 21:39] myitcv commented on #33595
As I understand things (although @stamblerre and @ianthehat might be able to correct my understanding/bring it up to date) `gopls` currently requires a rootURI when in module mode, and that root is the directory containing a module. `gopls` can support multiple workspace folders (views on the same/different module), but it's all directory oriented. Hence I believe there is still a gap when it come

[2019-11-13 21:43] #35240 closed

[2019-11-13 21:43] ianlancetaylor commented on #35561
If I understand you correctly, you are suggesting that we clearly document that if `PreferGo` is set to `false`, then the `Dial` method in the `Resolver` will not be used.  Is that correct?

[2019-11-13 21:44] ianlancetaylor commented on #35520
Note that generally you should not set the `GOROOT` environment at all.  It should only be needed in unusual circumstances.

[2019-11-13 21:49] eliasnaur commented on #35573
@hyangah You can use the `TRY=android-arm64,android-arm` aliases when the builders catch up. They're annoying to use from gomote.

[2019-11-13 21:52] renanbastos93 commented on #35561
Hello, @ianlancetaylor

I am so sorry for my English. I'm in a constant improvement in English skills.
Well, yes correctly. When set false in `PreferGo` it will ignore your Dial and will be using a default.

[2019-11-13 21:55] heschik commented on #35402
This is fixed, dupe of #35519.

[2019-11-13 21:55] #35402 closed

[2019-11-13 21:58] bcmills opened #35574 "doc: doc/articles/wiki test failing when GOROOT is read-only"
From https://build.golang.org/log/e704977e8e25fee42871ecc456d8e0045f01db3f (thanks @mengzhuo!):

[code]

(Part of #28387, the continuing saga.)

[2019-11-13 22:04] ceseo commented on #35547
Can someone disable ASLR in the ppc64le builders (i.e. `echo 0 | sudo tee /proc/sys/kernel/randomize_va_space`) and see if it works? I can't reproduce on VMs or bare metal systems and I don't have a Docker instance available at the moment.

[2019-11-13 22:04] giuliocomi opened #35575 "Windows installation has misconfigured ACL: privilege escalation possible between user"
The Golang msi installer in Windows install by default Go in C:\Go location.
Files and subfolders of folders created under C:\ by default can be edited, created, deleted.

<pre>
PS C:\Go> icacls .
  BUILTIN\Administrators:(I)(OI)(CI)(F)
  NT AUTHORITY\SYSTEM:(I)(OI)(CI)(F)
  BUILTIN\Users:(I)(OI)(CI)(RX)
  NT AUTHORITY\Authenticated Users:(I)(M)
  NT AUTHORITY\Authenticated Users:(I)(OI)(CI)(IO)(M

[2019-11-13 22:05] russelldavis commented on #35520
@ianlancetaylor thanks for jumping in. Can you clarify a bit? I just described a circumstance where setting `GOROOT` was needed -- are you just noting that this circumstance is unusual, or saying that it shouldn't be needed even in this case? (If the latter, can you elaborate on what the alternative would be?)

[2019-11-13 22:16] andybons commented on #35559
@bradfitz @mikioh

[2019-11-13 22:18] eliasnaur commented on #35554
Another from the old darwin/arm64 builder (no GOTRACEBACK=crash):

https://farmer.golang.org/temporarylogs?name=android-arm64-corellium&rev=c07511585e37695d750a1e2efd44033b1160863a&st=0xc00a993a20

[2019-11-13 22:21] randall77 commented on #35547
Interesting. So that check is failing, so it fails to re-exec itself (which presumably would work?). I don't understand what that check is trying to achieve - is it just that -1 is a special case meaning "failure"? Anyone have the docs to the `personality` function?

Instead of fixing the reexec in the race detector, we could set ADDR_NO_RANDOMIZE on the binary that `go build -race` (and `go run -

[2019-11-13 22:24] ianthehat commented on #33595
Yes, there is a gap, gopls expects that it is working with a rooted project where running `packages.Load` with `./...` in the root path would tell it the entire set of packages it has to consider.
Handing the go command a list of go files is just a special way of describing a package (rather than using the file system to do it)
Personally, I don't think it is a gap worth filling right now, I think

[2019-11-13 22:27] bcmills commented on #34254
The second entry here:
[code]
is also incorrect, because the module has a `go.mod` file: the module path should have a `/v2` suffix, or a `gopkg.in` path and a `.v2` suffix.

[2019-11-13 22:28] bcmills commented on #34254
What _will_ work, as of [CL 206761](https://golang.org/cl/206761), is:

[code]

[2019-11-13 22:28] dmitshur commented on #32011
This is the current godoc web server tree:

	http://localhost:6060/		main landing page
	http://localhost:6060/doc/	serve from $GOROOT/doc - spec, mem, etc.
	http://localhost:6060/src/	serve files from $GOROOT/src; .go gets pretty-printed
	http://localhost:6060/cmd/	serve documentation about commands
	http://localhost:6060/pkg/	serve documentation about packages
				(idea is if you say import "comp

[2019-11-13 22:30] eliasnaur commented on #35554
Finally, a GOTRACEBACK=crash enabled log from the new android/arm64 builder:

https://build.golang.org/log/d1bc80f88a28797a24773d9a98525e9ce8db9aa2

[2019-11-13 22:32] ianthehat commented on #35564
The trouble is the nature of diagnostics in the LSP.
They are delivered asynchronously to the client on the servers whim, and they can be delivered multiple times for any given file, changing the list of issues each time. There is no call the client can use to know if the server is done delivering diagnostics or not, which means the command line gopls has to just wait and see if it gets diagnostic

[2019-11-13 22:35] stamblerre commented on #35564
In `gopls check`, we might able to handle the logging of errors in some special way to indicate that we're exiting early. What do you think, @ianthehat?

[2019-11-13 22:37] stamblerre commented on #33595
https://github.com/golang/go/issues/34160 is probably a good starting point for this, right?

[2019-11-13 22:40] ianthehat commented on #35564
Yeah, that is kind of what I was thinking when I said some kind of signal, but I know there was also a proposal and some work on adding background task and progress monitoring to the LSP spec, if those have arrived (or are likely to in the future) we could do something cleaner than just trying to recognize a log message

[2019-11-13 22:40] andybons commented on #31918
@thanm I don't believe so. For the internal linker, we're all set. For the external linker (cgo binaries), users can specify the right flag using `CGO_CFLAGS` when compiling. We're discussing on #35459 what to do for the `go` command specifically.

[2019-11-13 22:53] nrxr commented on #34855
@ianlancetaylor @rsc Hi! What’s the fix needed and I’ll write it in a PR tonight.

[2019-11-13 23:04] jayconrod commented on #35412
Thanks for reporting this. There does seem to be a reproducibility problem here. I'm not quite sure where it is yet, but I managed to reduce the repro to this small script:

[code]

I reproduced this on darwin_amd64 with go1.13.4 and `master`.

The source files in `golang.org/x/crypto/ssh/terminal` are identical between the two versions (obviously they would need to be for a cache conflict). The c

[2019-11-13 23:05] mdempsky opened #35576 "cmd/compile: allow println(f()) where f() is multi-valued"
This program builds with go/types and gccgo, but fails to typecheck with cmd/compile:

[code]

[2019-11-13 23:06] #35414 closed

[2019-11-13 23:15] jayconrod commented on #35412
The compiler command with `-trimpath` looks like this:

[code]

So we're replacing the module source directory with the module path and version. Those end up in debug info in the compiled .a file. But the module path and version don't appear in the cache key. That's the problem.

[2019-11-13 23:20] #35243 closed

[2019-11-13 23:20] lggomez commented on #34123
@odeke-em @randall77 nevermind, the fix works on all frontiers, thank you for the hard work

Took me a while to figure it out but the issue is on gotip: it uses the toolchain compiled from nightly but not its goroot so I had to run `GOROOT=~/sdk/gotip gotip run main.go` to effectively use the tip runtime. Closing

[2019-11-13 23:20] #34123 closed

[2019-11-13 23:36] lggomez opened #35577 "golang.org/dl/gotip: command should override GOROOT with its tip packages location"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13.4
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code>
</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOENV="/root/.config/go/env"
GOEXE

[2019-11-13 23:36] zikaeroh commented on #35388
Since #35243 was fixed, I went and retried formatting/import sorting again as above, but the same behavior persists.

https://gist.github.com/zikaeroh/618e23c7292123e62a65dbcb71d2c107

I can see in the log that the code actions now include version numbers, but maybe there's something else that's needed (or #35243 alone wasn't the entire story).

[2019-11-13 23:50] ianlancetaylor commented on #34855
No rush, we are in the release freeze for 1.14 right now.

[2019-11-13 23:55] ianlancetaylor commented on #35577
Do you normally have `GOROOT` set in the environment?  You shouldn't.

[2019-11-14 00:00] ianlancetaylor commented on #35520
As far as I can see, it shouldn't be needed even in this case.  I don't understand why it is needed.  Is `GOROOT` set in the environment normally?  If not, what does `go env GOROOT` print?  Why is that different from the `GOROOT` value you want to use?  For the `GOROOT` value you want to use, what is in `GOROOT/bin`?

[2019-11-14 00:11] ianlancetaylor commented on #25628
Another failure on linux-386-sid: https://build.golang.org/log/8cf72752dda62b1002d13a8c51932bda15333f0d

Interestingly, this time it is `leaked parent file. fd = 67; want 65`, but the list shows

[code]

What is interesting here is that there `lsof` shows no descriptor 65.  That suggests that when we opened the new file both descriptors 65 and 66 were open, but by the time we invoked `lsof` descri

[2019-11-14 00:15] lggomez commented on #35577
Yes but because I use [this](https://github.com/e-nikolov/gvm/blob/master/README.md) version of gvm to manage multiple go versions at work

In this specific case it was a docker container, I would have to check if it is set up by default on our production images but I don´t recall tweaking it on this specific container

[2019-11-14 00:17] Vitomy commented on #27951
why is go mod init pwd solved? why?

[2019-11-14 00:27] russelldavis commented on #35520
Ah, interesting, let's see if we can get to the bottom of it.

Nope

/usr/local/Cellar/go/1.13.4/libexec
(the location of go I installed with homebrew)

To be clear, it's not that I *want* to use a different GOROOT, just that things break if I don't. The value I need to change it to is the location of the local clone of https://github.com/golang/go/ that I'm trying to analyze with gopls.

Just `go

[2019-11-14 00:39] dmitshur commented on #35563
/cc @julieqiu

[2019-11-14 00:42] dmitshur commented on #35577
Which version fo `gotip` are you using? Is it the latest?

I believe this exact change was very recently implemented via [CL 206537](https://golang.org/cl/206537) and issue #35507. Please let me know if I'm overlooking something.

[2019-11-14 00:45] ianlancetaylor commented on #35520
Change your `PATH` to put the go tool that you want to use first.  That is a better approach than setting `GOROOT`, as it means that the go tool and the `GOROOT` will be in synch.

[2019-11-14 00:57] ianlancetaylor commented on #34901
We haven't seen any failures in the last five days, but we used to see multiple failures per day.  I'm not sure what fixed this, but it is almost certainly fixed.

[2019-11-14 00:57] #34901 closed

[2019-11-14 00:59] #35492 closed

[2019-11-14 01:24] ianlancetaylor commented on #35085
Ah, I see it now.  My apologies.  When `SIGINT` is ignored at program start, then when we close the channel we reset the `SIGINT` handler back to `SIG_IGN`.  If we manage to do that before sending the signal, then it will be ignored.

[2019-11-14 01:25] ianlancetaylor commented on #35085
Thanks very much for digging into this.

[2019-11-14 01:28] zhangfannie commented on #35552
@ianlancetaylor  Please refer to for additional details. And the behavior of x86 is the same. Thank you.
Loading Go Runtime support.
(gdb) b gcc_linux_arm64.c:89
Breakpoint 1 at 0x48bb78: file gcc_linux_arm64.c, line 89.
(gdb) r
Starting program: /home/fanzha02/backup/testcase/testcodes/hello
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/aarch64-linux-gnu/libt

[2019-11-14 01:38] ianlancetaylor commented on #35552
Thanks.  Perhaps the issue is that the default stack grows as needed.  Or perhaps the thread default stack size simply isn't applicable to the main thread.

Any idea how we can determine the size of the stack here?  I suppose we could always just guess.  I'm not sure it matters much.

[2019-11-14 01:39] nrxr commented on #34855
Already understood what NeedsFix means (if somehow you got here because of a search on that sentence, here's the meaning of NeedsFix in this context: https://golang.org/doc/contribute.html#check_tracker).

Already created a PR with the implementation I think fulfills this need.

[2019-11-14 01:49] sanguohot opened #35579 "What is the difference between `external linking` and `internal linking` program, and how do I make a choice between them?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.12.4
</pre>

### Does this issue reproduce with the latest release?
not test

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/.gvm/pkgsets/go1.12.4/global"

[2019-11-14 01:53] lggomez commented on #35577
@dmitshur it wasn´t the latest, updating it solved it. Thanks

[2019-11-14 01:53] #35577 closed

[2019-11-14 01:55] ianlancetaylor opened #35580 "runtime: TestPhysicalMemoryUtilization failures"
We've recently started seeing some failures of `TestMemoryPhysicalUtilization`.

CC @mknyszek

[2019-11-08T18:00:54-a2cd2bd/linux-mips-rtrk](https://build.golang.org/log/3069bca2527a3e443cdc451fc31d35757d0a3017)
[2019-11-08T23:22:06-11da2b2/linux-mips64le-rtrk](https://build.golang.org/log/6875831ec713f5c485cfa4d913e7daea522ce32d)
[2019-11-11T17:53:51-70be481/linux-mips64-rtrk](https://build.golan

[2019-11-14 01:57] #35085 closed

[2019-11-14 01:59] russelldavis commented on #35520
Ah that makes sense, thanks. (For posterity: gopls figures out the root by shelling out to `go env GOROOT`.)

With that resolved, any thoughts on ways we could make this easier for newcomers to the golang/go repo? If they're like me, they'll find a few things very broken without obvious reasons or solutions:

- In VS Code, much of the go plugin functionality (like goto-definition) won't work.
- In

[2019-11-14 01:59] ianlancetaylor commented on #25628
@bradfitz How hard would it be to enable SSH access to the linux-386-sid builder?  Thanks.

[code]

[2019-11-14 02:00] ianlancetaylor commented on #35579
The Go project doesn't use the issue tracker for questions.  You will get better and faster answers on a forum.  Please see https://golang.org/wiki/Questions.  Thanks.

External linking means that the final link is done using the system linker.  Internal linking means that the final link is done using the Go linker.  Most people shouldn't need to choose between them.

If this doesn't help, I sugge

[2019-11-14 02:00] #35579 closed

[2019-11-14 02:11] cherrymui commented on #35554
Thanks for the stack traces. These to some degree similar to the ones I saw when I debug #35473. If so, it indicates that a signal is received when the G is bad.

Could you try https://go-review.googlesource.com/c/go/+/206959 ? This doesn't fix anything but it will make it crash instead of hanging if my assumption is right.

[2019-11-14 02:15] zhangfannie commented on #35552
@cherrymui  Thanks for providing the background.
No errors have occurred so far. I just don't know if this behavior is correct and whether it will cause any potential issues, so I post it for discussion.

[2019-11-14 02:32] frogeyedpeas commented on #27605
i would be a healthier person if "math/big" had operator overloading plz do soon :)

[2019-11-14 02:47] mpx commented on #35283
You can set the Version by creating a `$GOROOT/VERSION` file and building the toolchain (see `src/cmd/dist/build.go:findgoversion` for details).

I've found it's relatively easy to maintain a custom branch (eg, go1.13.4mpx) and tags when I want to use newer features but need (otherwise outstanding) fixes to the stable tree. This works, provided you don't want to distribute source to people who don

[2019-11-14 02:48] cuonglm commented on #35576
This also happens with `print`, seems that `typecheckargs` is not called for `OPRINT` and `OPRINTN`.

[2019-11-14 02:57] mpx commented on #34681
Ideally the constant would exist across all platforms, otherwise build tags will be required for source with POSIX-like functionality that builds on Windows (I realise the functionality isn't identical, but for some purposes it's enough).

[2019-11-14 03:43] dmitshur opened #35581 "x/build/cmd/coordinator: trybots don't work on golang.org/dl repo"
There are two parts to this issues:

1.	The trybot builds start, fail, and keep retrying indefinitely. It's been 2 hours since https://go-review.googlesource.com/c/dl/+/207097/1#message-2732030f20d3db705eb32433ddacbb459f630a61, and it's still doing this:

	<img width="305px" height="239px" src="https://user-images.githubusercontent.com/1924134/68824735-d8623600-0665-11ea-84ce-d3e3c16ba437.png">

[2019-11-14 03:59] networkimprov commented on #35283
Thanks, but patching runtime or stdlib should not require a git-clone of the Go project, nor a toolchain build from source (which I mentioned above :-)

I currently distribute a stdlib patch in my releases, which has to work after
`$ cp x.patch .../go && (cd .../go && git apply x.patch)`.

[2019-11-14 04:32] carnott-snap commented on #34409
- In the description I call out why `Experimental` is problematic for long term, intentional instability: is `Unstable` equally acceptable?
  - If so, `s/Experimental/Unstable/g`.
- `Experimental` is quite long to add to every unstable symbol.
- Would `const experimentalFoo = "bar"` be stable?
- Would this apply to functions retroactively?
  - `type ExperimentalRoute interface{}` where the link ha

[2019-11-14 05:12] nerdmax opened #35582 "x/tools/gopls: undeclared name when accessing functions from other files"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64

</pre>

### Does this issue reproduce with the latest release?
This is the latest release.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN="/Users/canl

[2019-11-14 05:15] #35582 closed

[2019-11-14 05:16] nerdmax commented on #35582
Sorry, the issue has gone by itself.

[2019-11-14 05:16] nerdmax commented on #35582
PS: Updating GoLang helps a lot.

[2019-11-14 05:28] mengzhuo commented on #35514
Also affected linux/arm64

[code]

[2019-11-14 05:36] ianlancetaylor commented on #34409
I didn't mean anything special about the exact word `Experimental`.  I just meant, as in https://github.com/golang/go/issues/34409#issuecomment-553546180, to put the instability into the symbol name itself rather than a comment.  A comment can be missed.  It's much harder to miss the symbol name.

[2019-11-14 06:39] beoran commented on #35535
You can already do this with the existing language features, like this example:

[code]

So yes, you need to write a function type definition and a function that matches it separately, but It would be confusing for a function definition to also be an implicit type definition.

[2019-11-14 07:04] jedruniu commented on #33085
I would like to claim this one ;)

[2019-11-14 07:50] beoran commented on #34515
I think `typeof()`as a built in function has the best potential here, and would be the most backwards compatible solution, and useful in several other cases, such as in low level programming, in conjunction with `unsafe.Sizeof`, `unsafe.Alignof` and `unsafe.Offsetof`.

If there is any risk that `typeof()` will end up being overused, then this can be solved through go lint checking. Personally I th

[2019-11-14 08:33] Helflym commented on #35451
What policy do you mean by this ? The fact that `mmap` addresses are starting after `0x0a00000000000000` ? I don't think it will happen in a near future and if it does anyway, there will be a way to still use this segment. AIX have a strict compatibility policy, everything compiled in a previous version must run as is in all the following one. Therefore, there is many ways to keep older behaviors

[2019-11-14 08:37] alexbrainman commented on #35251
@tamayika I know very little about how Go installer works. I cannot help you.

Alex

[2019-11-14 08:46] #28096 closed

[2019-11-14 08:47] alexbrainman commented on #35358
Thank you for creating this issue.

I am not an expert here. But, I am not against mapping syscall.O_SYNC onto FILE_FLAG_WRITE_THROUGH.

Alex

[2019-11-14 08:50] alexbrainman commented on #35150
I still do not see any problem here.

Sorry.

Alex

[2019-11-14 08:51] networkimprov commented on #34681
I agree with @alexbrainman; from https://github.com/golang/go/issues/34681#issuecomment-540473295:

Patching the local syscall.Open() is a better solution than having to use OpenFile() with a windows-specific flag for any os.Open/Create() situation.

Eventually we'll prove that @rsc's suggestion in #32088 to set FILE_SHARE_DELETE by default in os.Open/Create/OpenFile() isn't harmful. After all, Mi

[2019-11-14 09:04] networkimprov commented on #35150
Alex, did you see https://github.com/golang/go/issues/35150#issuecomment-547578440?

@mattn could you help here?

[2019-11-14 09:14] alexbrainman commented on #32423
@mdlayher the code you are referring to, implements functionality to connect to Windows named pipe. What we want in this issue is to list all files under `\\.\pipe`. Not the same thing.

@iWdGo using NtQueryDirectoryFile sounds like it might work. And you don't need to add NtQueryDirectoryFile to syscall package. We can put it in internal/syscall/windows if it works.

Alex

[2019-11-14 09:20] eliasnaur commented on #35554
Thank you, Cherry. With your CL, I got a "bad g in signal handler" for an android/arm build:

[code]

And a similar for android/arm64:

[code]

No stack traces though, but perhaps you expected that?

[2019-11-14 09:40] alexbrainman commented on #35150
Yes, I did.

Alex

[2019-11-14 09:52] mattn commented on #35150
@networkimprov I don't still understand why you point with example code using FILE_SHARE_DELETE.

https://github.com/golang/go/issues/35150#issuecomment-546299265 is related on this issue?

Anyway, AFAIK, eventhough using FILE_SHARE_DELETE, CreateFile possibly be fail when another thread start transaction.

https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getfileattributesa#tr

[2019-11-14 10:02] stemsin opened #35583 "x/sys: installation fails"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.3 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\sement

[2019-11-14 10:17] mvdan commented on #35583
That looks like a network issue. Have you tried again, perhaps with a different internet connection or machine?

[2019-11-14 10:25] networkimprov commented on #35150
@mattn these are the issues:
1. syscall.ReadLink() access-mode argument should be 0 or READ_FILE_ATTRIBUTES (not GENERIC_READ), according to @jstarks https://github.com/golang/go/issues/35150#issuecomment-547578440.
2. syscall.Utimes/UtimesNano() share-mode argument should be 0 (not FILE_SHARE_WRITE).

The other posts aren't important. I was seeing a sharing error (due to a OneDrive bug), and thou

[2019-11-14 10:45] myitcv opened #35584 "x/tools/gopls: version created by didChange ignored?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3f21c2381d Thu Nov 14 01:57:00 2019 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20191113232020-e2727e816f5a
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.1.8-0.20191113232020-e2727e816f5a
</pre>

### Does this issue reproduce with the latest release?

Yes

[2019-11-14 11:08] myitcv commented on #35114
With the recent versioned text document changes (https://go-review.googlesource.com/c/tools/+/206882 and https://go-review.googlesource.com/c/tools/+/205863) we're still seeing this issue and now more explicitly so in the same test:

[code]

[2019-11-14 13:17] pavolloffay opened #35585 "encoding/json: map[string]interface performance"
### What version of Go are you using (`go version`)?

<pre>
go version go1.13.4 linux/amd64

</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/ploffay/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH

[2019-11-14 13:31] heylinn opened #35586 "gollvm: crash llvm-goc with SIGSEGV"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 gollvm LLVM 10.0.0svn linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<pre>
$ uname -o -m
x86_64 GNU/Linux
</pre>

### What did you do?
I tried to build a client for docker.

There are a few steps

[2019-11-14 13:35] renanbastos93 commented on #35561
I was thinking if you agreed to this improvement, I can open a pull request.

[2019-11-14 13:58] rozmansi opened #35587 "x/text/cmd/gotext: gotext created catalog_gen.go returns wrong value for non-existing keys"
### What version of Go are you using (`go version`)?

<pre>
go version go1.13.4 windows/amd64

</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\Simon\AppData\Local\go-build
set GOENV=C:\Users\Simon\AppData\Roaming\go\env
set GOEXE=.exe

[2019-11-14 14:04] go101 commented on #35535
I forgot to mention another benefit of this proposal.
This proposal partially compensates for the regret that lacking of final values in Go.
For example, we can use `foo.ErrXXX` as a final `error` value:

[code]

[2019-11-14 14:14] TheDiveO commented on #34094
@bcmills @sha256x @umputun There is still the issue where with git-based URL rewriting in combination with GitLab groups you cannot successfully `go get ...` a repo unless you tell `go get` in the import path where the git repo actually is, such as `foo.bar.org/user/group1/group2/project.git` -- and then go modules throw up because the canonical path of that module is `foo.bar.org/user/group1/grou

[2019-11-14 14:18] mvdan commented on #35585
Why is the encoding/decoding performance of maps important here? Usually, when one is decoding large amounts of data, structs are used. `encoding/json` is already pretty efficient at encoding and decoding those.

It seems to me like gojay makes types like maps more efficient by adding more code to handle them especially. It's something we can consider, but it's a tradeoff. We don't want the standa

[2019-11-14 14:18] laboger commented on #35547
Look up the documentation for the Linux personality syscall (you can google it). In this case the value of ADDR_NO_RANDOMIZE is not a setting on the binary but a setting for the personality of the process. If the syscall returns -1 (EINVAL) that means the kernel could not change the personality.

To me it looks like even though the syscall fails it continues to try to ReExec regardless of the sysc

[2019-11-14 14:22] TheDiveO commented on #34094
Can you please explain? (otherwise, I cannot see how your reply might be of use to those who are not enlightened enough, such as me.)

[2019-11-14 14:32] pavolloffay commented on #35585
We use maps to store data in our data model. The map is used to allow queries in Kibana - kibana does not support query for nested objet array.

[2019-11-14 14:46] bcmills commented on #34409
The (IMO pretty major) downside of putting words like `Experimental` in the identifiers (or in the package path, for that matter) is that it imposes an additional breaking change if/when the API is promoted from experimental to stable.

(It's the same reason we don't distinguish between `v0` and `v1` in module paths.)

[2019-11-14 15:09] mvdan commented on #35585
I see, thanks. If someone wants to experiment with this, I'll be happy to review the code. There might be low hanging fruit to remove an alloc or two in some cases.

[2019-11-14 15:12] cherrymui commented on #35554
Thank you. This confirms my assumption, although I don't yet know what causes the bad g. I'll keep looking.

I also want to note that it seems all the hangings happen in go_bootstrap. If I understand correctly, on Android we default to PIE, which default to external linking, which brings in cgo. So all binaries are effectively cgo binaries. But go_bootstrap is the only exception, due to
[code]
It

[2019-11-14 15:23] danaugrs opened #35588 "go/scanner: potential inefficiency"
I noticed a potential scanner inefficiency here:

https://github.com/golang/go/blob/3f21c2381d9b0f0977f388cc89104f557a7d2c88/src/go/scanner/scanner.go#L791-L793

`s.scanIdentifier()` calls `isLetter(s.ch)` with the same char that was just checked in the case condition:

https://github.com/golang/go/blob/3f21c2381d9b0f0977f388cc89104f557a7d2c88/src/go/scanner/scanner.go#L350-L356

I think that inst

[2019-11-14 15:26] mvdan commented on #35588
There are benchmarks. Does any change you can come up with actually improve the benchmarks with benchstat? If not, then it's probably not worth optimizing.

[2019-11-14 15:41] thanm commented on #35586
I'll take a look.

[2019-11-14 16:03] mknyszek commented on #35451
Yeah, that's what I meant. If it's that strict then perhaps it's OK. @aclements?

While that's true, very large mappings are not nearly as costly on other systems (though to be honest I only have hard numbers for Linux right now, and for 32 TiB `PROT_NONE` mappings it's <10 µs). A big difference between `s.chunks` and the arenas array is that `s.chunks` is mapped `PROT_NONE`, which theoretically m

[2019-11-14 16:03] stamblerre commented on #35526
Can you please share the full `gopls` log, even if it's very long? The excerpts here are not relevant to the issue you're seeing.

[2019-11-14 16:06] stamblerre commented on #33085
Great! Let me know if you need any advice on how to tackle it, or please feel free to reach out to me directly on [Gophers Slack](https://invite.slack.golangbridge.org/).

[2019-11-14 16:07] aclements commented on #35451
That's good to know. If there's a strict compatibility policy on this, I'm much more comfortable with the runtime assuming mappings will start at 0x0a00000000000000.

There are certainly ways to engineer around this, but the current approach keeps the runtime much simpler and generally performs better. Adding a level of indirection would also be unfortunate considering the MMU hardware *already* i

[2019-11-14 16:14] thanm commented on #35586
This I think is actually a front end oddity (gcc backend doesn't mind but it causes issues with gollvm).

Reduced testcase:

Package "a"
<pre>
package a

var Avar int

func D(_ string, _ int) (uint64, string) {
	return 101, "bad"
}
</pre>

Package "b":
<pre>
package b

import "a"

func F(addr string) (uint64, string) {
	return a.D(addr, 32)
}
</pre>

I will send a tentative fix shortly.

[2019-11-14 16:18] cristaloleg commented on #34409
It's much better to use branches for experimental features. This makes 2 worlds(stable and experimental) independent and reduces possible mistakes for the user.

As Russ mentioned above: comment is too weak to protect user from incorrect usage.

Extending previous comment by Bryan: `v0` and `v1` means that the module can be experimental, but in the same time we can use `replace` statement in `go.m

[2019-11-14 16:18] pohly opened #35589 "cmd/go: GOFLAGS=-mod=vendor affects result of `go list -m all`"
## What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/pohly/.cache/go-bui

[2019-11-14 16:21] stamblerre commented on #34293
@rsc: `gopls` borrows a lot of code from `go/doc` to convert the documentation to markdown ([comment.go](https://github.com/golang/tools/blob/master/internal/lsp/source/comment.go)) and uses `go/doc` directly to get the synopsis. The rest of the data structure is constructed using type information.

[2019-11-14 16:25] stamblerre commented on #35564
Yeah, there's definitely support for in-progress replies for the majority of the requests, but I think for diagnostics there isn't anything like that (yet).

[2019-11-14 16:26] rsc commented on #34593
@qaisjp, you say that you are holding an interface{} that may contain one of these types, and if it is a value of one of these types that represents null, you want to format the SQL query as `is null`.

I'm with you so far.

But then what if it's _not_ null?
How do you format the `= value` query?
Doesn't that still require a type switch to extract the value?
Assuming that it does, then the null ca

[2019-11-14 16:28] rsc commented on #34372
It seems a little awkward to print two copies of the assembly by default. Would it make sense to have a `-gnu` flag instead?

[2019-11-14 16:30] rsc commented on #35258
It's unclear where this ends. Should we add `-r` too? Then the gofmt and go command flags have to remain disjoint. It seems better to invoke gofmt when you want to use more than just the standard reformatting.

[2019-11-14 16:30] jstarks commented on #34681
It seems to me that there are three camps:
1. People who want some way to use os.OpenFile but opt into FILE_SHARE_DELETE semantics. They do not want to fork os.OpenFile for this purpose. They want ordinary cross-platform Go code to be able to pass this flag without third-party packages. For them, adding O_ALLOW_DELETE (ideally with it defined to be 0 on non-Windows platforms) is a good proposal.
2

[2019-11-14 16:33] rsc commented on #34536
I really don't understand this thread. The current policy says:

What part of this is unclear?

[2019-11-14 16:41] FiloSottile commented on #34536
@rsc Empirically, there have been a few discussions around different interpretations of the current text, so I am suggesting a more explicit version here. For example, what qualifies as a "critical problem"?

The OSP team developed consistent guidelines to decide what to backport, and I think it would be good to try to capture them in the policy. It might not even be proposal-worthy, really. Shoul

[2019-11-14 16:43] rsc commented on #34536
After reading also #34536 and #34622 I see that what's unclear is how our recent behavior in #34536 follows our stated policy. I am not sure that it does. If not, this issue would be about _changing_, not _clarifying_ our policy. That would be very significant and absolutely worth treating as a proposal. Please do not send a CL.

I will talk to @andybons to get more context about the state of the

[2019-11-14 16:44] rsc commented on #34622
Closing as a duplicate of #34536. Both issues are about "decide and clearly state what the policy is". We should have one conversation, not two.

[2019-11-14 16:45] FiloSottile commented on #34536
This is #34536, typo?

[2019-11-14 16:47] rsc commented on #34536
Thanks, fixed.

[2019-11-14 16:48] rsc commented on #34536
I closed #34622 as a duplicate of this issue, because both of these issues are about deciding and then making sure we are all clear about the rules for what does and does not get backported.

[2019-11-14 16:48] #34622 closed

[2019-11-14 16:54] thanm commented on #35586
@heylinn  Thank you for reporting this bug. I have a fix out for review.

[2019-11-14 17:06] rsc commented on #35585
It looks like gojay avoids allocating by unsafely converting the []byte input to a string.
https://github.com/francoispqt/gojay/blob/1398296d938f9fae26750ddc2fe356b6d897f799/decode_object.go#L259
This means that the caller cannot modify or reuse the []byte containing the input JSON until all references to those strings have gone away, so basically never. That is, a client who passes a []byte to go

[2019-11-14 17:06] slonopotamus commented on #34681
I believe that addition of `FILE_SHARE_DELETE` by default will break assumptions that otherwise are true. For example, while my process has an open file handle _without_ `FILE_SHARE_DELETE`, my program is sure that file does exist under its name, can be `os.Stat` and etc. But this is no longer true _with_ `FILE_SHARE_DELETE`.

Also, what happens to file handle created with `FILE_SHARE_DELETE` if o

[2019-11-14 17:06] mknyszek commented on #35514
I suspect the problem is that `TestArenaCollision` makes the heap very discontiguous, and we make a contiguity assumption in the page allocator (so too much memory ends up mapped and the system can't handle it, if other processes are running; in essence, it's an overcommit issue). I'm working on a couple of patches which should hopefully fix this and a couple of other issues.

[2019-11-14 17:08] mknyszek commented on #35580
I suspect the problem here is that the scavenger's `scavAddr` may already be too low (for some reason, and only by a little bit) to adequately achieve the desired physical memory utilization. I have some ideas on how to fix it and will come back to this bug shortly.

[2019-11-14 17:13] danaugrs commented on #35588
Before modifying and benchmarking something I find it beneficial to discuss it with those familiar with the matter. Is anyone familiar with the scanner logic interested in reasoning about the inefficiency I described and my proposal? @griesemer

[2019-11-14 17:21] rsc commented on #35588
It is almost always better to write code that is clear and easy to adjust in the future than code that is awkward but saves a few cycles. In this case, the string conversion far outweighs the cost of potentially looking up the first character twice. Even if the string conversion were not here, the current code can't be running slower than if every identifier were just one character longer, which w

[2019-11-14 17:21] #35588 closed

[2019-11-14 17:22] carnott-snap commented on #35544
I created this proposal to resolve a question I had from the new pkg.go.dev site:

I felt like for a web ui, use of `README` was an understandable fallback, but only worked for web. This proposed improvement attempts to provide an interface agnostic answer to these user questions: "what does this module do?" and "where is the injection point?".

`README`s are a useful convention that github has bu

[2019-11-14 17:23] stamblerre commented on #35388
Taking a look at the logs, it seems like the version numbers are wrong (also, https://github.com/golang/go/issues/35584). I'll investigate that further.

[2019-11-14 17:45] stamblerre commented on #35563
Thanks for the suggestion! We can quite absolutely change the links to point to pkg.go.dev, but you're right that adding the versions will be a little tougher.

[2019-11-14 17:58] stamblerre commented on #35520
@russelldavis: I think you may have been looking at a file that is specifically broken with `gopls` (see https://github.com/golang/go/issues/33548). For other files in the Go repo, `gopls` should work fine, but you're right in saying that your local modifications won't be visible through `gopls` unless you modify your `PATH` (something like `export PATH=/path/to/go/bin:$PATH`).

[2019-11-14 18:02] carnott-snap commented on #34409
I built this proposal around documentation to make adoption less invasive. This was partially based on experience with the protobuf libraries, where they define custom compatibility guarantees. I agree condoning unstable interfaces is troublesome, but many projects require it, and I wanted a canonical way to label/identify it, both for users and tooling.

It may be helpful to isolate the use cases

[2019-11-14 18:03] ALTree commented on #35576
Note: this is a dup of #20656, which at the time was closed as WONTFIX.

[2019-11-14 18:05] gawen opened #35590 "mobile: when a panic happens, a long enough traceback deadlocks the runtime on Android"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.1 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/<hidden>/.cache/go

[2019-11-14 18:21] steeve commented on #35590
cc @eliasnaur, I know you don't maintain it anymore but it would be nice to know if the now built-in support in Go itself would enable to remove this bit in gomobile, or there were some other reason for it to exist?

[2019-11-14 18:30] networkimprov commented on #34536
Even tho this issue was opened first, it has little discussion about _changing_ the policy, whereas #34622 is entirely about that. If you're open to changing the policy, I'd suggest reopening that one and closing this.

[2019-11-14 18:55] mdempsky commented on #35576
@ALTree Thanks for pointing that out.

I agree with @griesemer that spec-compliance doesn't strictly require `println(f())` to work. But it does work with gccgo and go/types, and it's easy enough to support (e.g., CL 207118 is just a one-line change), so I think it's worth doing for consistency.

[2019-11-14 18:58] leighmcculloch opened #35591 "pkg.go.dev: displays root package readme on sub-package page"
### What did you do?

Viewed @stellar's Ticker service package at https://pkg.go.dev/github.com/stellar/go/services/ticker?tab=overview which is a package inside our monorepo that is a web service that has its own readme file.

### What did you expect to see?

I expected to see the readme file for the Ticker service's package, in the same way that other services like GitHub display the readme for

[2019-11-14 18:58] myitcv opened #35592 "runtime: unexpected return pc for runtime.systemstack_switch"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3f21c2381d Thu Nov 14 01:57:00 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes (although I cannot trigger this, it just happened randomly)

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</

[2019-11-14 19:06] bradfitz commented on #35568
/cc @mdempsky as FYI just because he likes OpenBSD issues.

[2019-11-14 19:12] ALTree commented on #35576
@mdempsky yeah I just linked the old thread for reference. I have no opinion on this.

[2019-11-14 19:15] bradfitz opened #35593 "all: make linux/arm64 a first-class port"
Currently, linux/arm is a "[first class port](https://github.com/golang/go/wiki/PortingPolicy#first-class-ports)" but linux/arm64 is not.

At this point, arm64 is probably equally or more important than arm.

I think we should add linux/arm64 to the first class port set.

[2019-11-14 19:17] ianlancetaylor commented on #35465
[2019-11-12T20:54:41-a3ffb8a/windows-386-2008](https://build.golang.org/log/9d5d0e54c8403a4ab63e74e75400a09cfe850e70)

[2019-11-14 19:24] ianlancetaylor commented on #35344
[2019-11-08T16:35:06-17722c2/windows-amd64-2016](https://build.golang.org/log/cfffd3440cfe7db60d2781051c6890200fa91ee1)

[2019-11-14 19:26] andybons commented on #35328
@randall77 what do you think? Should this block the beta coming up in December?

[2019-11-14 19:42] mdempsky commented on #35576
@ALTree Understood. I struggle with GitHub issue search, so I always appreciate folks helping cross-reference old issues. :)

[2019-11-14 20:02] stamblerre commented on #35388
This is a bit of a brain dump from my analysis of the logs here. If you're able to attach a screencast of what you're seeing while a log is being written that would be super helpful for analysis as well.

---

All of the codeActions that suggest modifications to the file:

[code]

If we believe that VS Code is actually respecting the versions specified in the responses, we would see these as `text

[2019-11-14 20:04] #35565 closed

[2019-11-14 20:06] mdempsky commented on #35568
It's been a while since I've looked at OpenBSD's mmap implementation. I seem to recall it took the stance that PROT_NONE mappings still mapped data (and thus counts towards RLIMIT_DATA), just without read/write access.

I see that http://cvsweb.openbsd.org/cgi-bin/cvsweb/ports/lang/go/Makefile?rev=1.75 uses `ulimit -d $(ulimit -H -d)` to raise the RLIMIT_DATA soft limit to the hard limit. But mayb

[2019-11-14 20:06] g7r opened #35594 "net: Dial ignores second result of Context.Deadline()"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3f21c2381d Thu Nov 14 01:57:00 2019 +0000 linux/amd64
</pre>

Actually, the issue is pretty old. I've reproduced it on both 1.12 and 1.13 versions.

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><

[2019-11-14 20:07] g7r commented on #35594
I will submit a PR with fix shortly.

[2019-11-14 20:19] russelldavis commented on #35520
@stamblerre sadly it's not just that file. It seems to be broken for everything under https://github.com/golang/go/tree/master/src/cmd. As I mentioned above, tooling in IDEs like VSCode and GoLand is broken for all of those files as well, for the same reason.

[2019-11-14 20:30] stamblerre commented on #35520
GoLand doesn't use `gopls`, and I just tested `gopls` in VS Code with a few files in different directories under `go/src/cmd`, and it seems to work fine with everything except for `go/src/cmd/main.go`. This leads me to believe that there is something about your setup that's causing this issue. Can you share the output of `gopls -rpc.trace -v check /path/to/file.go` for another file that's broken f

[2019-11-14 20:35] kortschak opened #35595 "pkg.go.dev: known licenses are not recognised and the site misrepresents license status of packages"
Note that I am aware that #35570 exists, however the method for providing feedback there is broken in that it will not work with firefox. Nor does it allow AFAICS nuanced conversation of issues, so I am reporting here.

It appears that the license recognition code used by pkg.go.dev has an unfortunately high false positive rate. Packages such as [gonum.org/v1/gonum](https://pkg.go.dev/gonum.org/v1

[2019-11-14 21:09] russelldavis commented on #35520
The larger issue I'm talking about here isn't specific to `gopls` (though I suspect `gopls` is being affected by it). I can create a new issue for it not tagged with gopls if you'd prefer.

The point is that an import of, e.g., `cmd/compile/internal/gc`, always gets resolved to the cmd module in `GOROOT`, even when used inside your own module named `cmd` (which of course happens in the golang repo

[2019-11-14 21:10] bcmills opened #35596 "x/build: TryBots consistently failing on misc-compile-android"
[CL 205798](https://golang.org/cl/205798) added `misc-compile` TryBots for `android` (#25963), and a `coordinator` containing that CL has now been deployed.

Unfortunately, `misc-compile-android` is consistently failing on the `android/386` configuration:
https://storage.googleapis.com/go-build-log/5451ccaa/misc-compile-android_aac075f2.log

I tried to `git bisect` the failure locally, but as far

[2019-11-14 21:20] qaisjp commented on #34593
When it's not null I did something like this: `stmt += "= " + "$" + strconv.Itoa(i+1)`, so it looks like `= $2`.

Then we pass in the `vals []interface{}` when executing: `preparedStmt.ExecContext(ctx, vals...)`

If it's worth mentioning, I'm no longer composing the statement this way, so no longer need an `sql.IsNull`...

[2019-11-14 21:23] jeremyfaller commented on #35596
Don't know if it helps, but I ran into this today, and tried my CL with with a `gomote push` and it worked successfully. Perhaps the difference in the `trybot` setup from whatever `gomote` uses would be helpful to investigate.

[2019-11-14 21:33] #35574 closed

[2019-11-14 21:35] bcmills commented on #35596
Nah, it's 100% reproducible locally too.

[code]

[2019-11-14 21:49] stamblerre opened #35597 "x/tools/gopls: optimize find references"
A few optimizations that we should add:

- Only search for references in reverse dependencies
  - This will mean making sure that we have a consistent set of reverse dependencies
  - Right now, the snapshot's importedBy map can be invalidated/incomplete when metadata is changed
- Don't search other packages for unexported identifiers
  - Except for test variants

[2019-11-14 22:06] ivorscott opened #35598 "proposal: go get https://* should work"
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.13
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ GO111MODULE=""
GOARCH="amd64"
GOBIN="/Users/ivorscott/Code/go/bin"
GOCACHE="/Users/ivorscott/Library/Cach

[2019-11-14 22:18] stamblerre commented on #35520
I think probably that the best option here is for us to make error messages more explicit in `gopls` to indicate the user needs to add the `GOROOT` that they are inspecting to their `PATH`. Maybe the editor could notice that it looks like the user is looking at the Go repo and suggest updating their configurations.

One option that is currently available to you (to avoid mucking with your `PATH`),

[2019-11-14 22:23] jayconrod commented on #35558
It seems like the compiler is doing this. I was able to reproduce this back as far as 1.11.

Here's a simpler test case that shows `%2e` in the symbol table. Versions before 1.13 have `%22%22` instead (`""`).

[code]

@cherrymui @randall77 @aclements Is this a bug or intended behavior?

[2019-11-14 22:24] #32877 closed

[2019-11-14 22:28] mvdan commented on #35598
`go get` works on package paths. Those do not have an URL scheme, and this is on purpose. Would you also allow imports like `import "https://github.com/rs/zerolog"`?

[2019-11-14 22:40] stamblerre commented on #35551
@ianthehat, is it ok for us to do this, or should we just put the `.orig` files in some temporary directory?

[2019-11-14 22:52] ivorscott commented on #35598
I definitely wouldn't allow imports like ```import "https://github.com/rs/zerolog"```.

Only suggesting changes to the ```go get``` command.

Ignoring https:// would be cheap to do, and it's a nice experience because it's common practice for a developer to look up a github repository, then copy and paste its url to install it. Currently this fails hard and I think that's a bit unfortunate because

[2019-11-14 22:52] cherrymui commented on #35558
Yeah, this is just the symbol name in the binary. The symbol names are escaped to avoid collisions as well as other problems. We never document or guarantee how the symbol names are constructed, although we try to make it readable and close to the identifier in the source code. Gccgo constructs symbol names differently.

I would say this is an implementation detail that happens to be this way.

Ye

[2019-11-14 22:55] #35412 closed

[2019-11-14 22:56] mvdan commented on #35598
Sorry, but I disagree. Take https://github.com/mvdan/sh for example; the module's import path is `mvdan.cc/sh/v3`, not even close to `github.com/mvdan/sh`.

[2019-11-14 23:14] muirdm opened #35599 "x/tools/gopls: panic with invalid go.mod entry"
I was playing around with my go.mod for personal reasons and had left it with an invalid "require":

[code]

gopls panics on startup after the "go list" error.

[code]

[code]

[2019-11-14 23:18] ivorscott commented on #35598
Ok nvm then.

I thought stripping out https:// would work in most cases and if the import path is not the same as the github repo url (no big deal), ```go get``` fails saying it can't find the package and a developer would just hit the docs for the correct installation command.

[2019-11-14 23:32] xyt0056 commented on #34992
We suspect it's probably because we didn't check in generated code.
The error message here is a bit misleading.

[2019-11-14 23:37] eliasnaur commented on #35590
AFAICT, the runtime only redirects its own printing (of crashes) to stderr. The gomobile redirect is for all writes to stderr (and stdout), not just the runtime's.

One fix is to rewrite the gomobile redirect in C(go).

[2019-11-14 23:46] muirdm opened #35600 "x/tools/gopls: duplicate method implementations with embedded type"
With something like this:

[code]

If you find implementations on the `Unix()` interface method, you get back duplicate results for time.Time.Unix().

Below is a sample response showing the duplicates:
[code]

[2019-11-14 23:52] muirdm opened #35601 "x/tools/gopls: find implementations sometimes returns interface itself"
For example, when I run find-implementations on the "matcher" interface in tools/internal/lsp/source/completion.go, I get back a result referring to the "matcher" interface itself.

Edit: found an example in a module based repo so I got rid of GOPATH related stuff.

[2019-11-15 00:04] #35594 closed

[2019-11-15 00:06] ianlancetaylor commented on #35561
I agree with the improvement in general, but I don't agree with the text proposed in the original message.

[2019-11-15 00:09] steeve commented on #35590
Sample found at https://codelab.wordpress.com/2014/11/03/how-to-use-standard-output-streams-for-logging-in-android-apps/

[2019-11-15 00:11] steeve commented on #35590
Another idea would be to implement a buffered writer and only replace `os.Stdout/Stderr`. That won't redirect all stdout/stderr logging, but Go code would be fine.

[2019-11-15 00:38] muirdm opened #35602 "x/tools/gopls: implementations sometimes returns no results"
When finding implementations of an interface method I sometimes unexpectedly get back no results. In the below setup, when finding implementations on the "U()" interface method, I get back zero results when I expect one in blah.go

[code]

[2019-11-15 00:48] essial opened #35603 "Valid syntax that makes absolutely no sense"
### What version of Go are you using (`go version`)?
go version go1.13.3 windows/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
<details><summary><code>go env</code> Output</summary><br><pre>set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\lunat\AppData\Local\go-build
set GOENV=C:\Us

[2019-11-15 00:56] muirdm opened #35604 "x/tools/gopls: panic saving file"
I see a panic when saving the below file contents:

[code]

[code]

[2019-11-15 00:59] ianthehat commented on #35551
The internal rename functionality does not generate .orig files, which is why this problem does not surface in VSCode.
However if you use the gopls command line to do the rename, it does.
I think this is probably the wrong choice, we should not be making the .orig files by default, maybe there should be a flag to enable them, but most people do not want them.
I would expect that most people that w

[2019-11-15 01:07] muirdm opened #35605 "x/tools/gopls: can't add new file to existing package"
On master (4191b8cbba092238a318a71cdff48b20b4e1e5d8) when I add a new file to an existing package I get `no ParseGoHandle for file://...` when I try to use gopls functionality in the new file.

Note that in my editor the new file comes pre-populated with the package name based on the file's directory name (i.e. the bug only reproduces if the initial "didOpen" message already contains the "package

[2019-11-15 01:14] muirdm opened #35606 "x/tools/gopls: panic in KnownPackages"
I'm seeing the below panic sometimes.

[code]

[2019-11-15 01:15] #34885 closed

[2019-11-15 01:28] muirdm opened #35607 "x/tools/gopls: implementation sometimes returns duplicate implementers"
For example, when I find implementations of the "matcher" interface in tools/internal/lsp/source/completion.go, I get back:

[code]

Note the "insensitivePrefixMatcher" and "prefixMatcher" duplicates.

[2019-11-15 01:40] renanbastos93 commented on #35561
Ok, no problem.
What's your suggestion?

[2019-11-15 01:49] zikaeroh commented on #35388
Here is a fresh log and screencast:

- https://gist.github.com/zikaeroh/4c7df49e6f99778d63e21d7d2173ae9e
- https://streamable.com/lsgpc

All actions I performed were either line swaps, undos, or file saves. I captured my VS Code tabs so you can see when I saved. I'd do a recording with key presses, but I'm a bit limited to what I can do from wayland/sway.

[2019-11-15 01:58] mengzhuo commented on #35574
Hmm, it's failed at "bench" now.
Should I change back to root?

https://build.golang.org/log/bba58a80fa8d3740ef1d084adc6c041b9456b69e

[2019-11-15 02:08] shawn-xdji opened #35608 "runtime: TestAsyncPreempt failed on linux/arm64 and amd64"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3f21c2381d Thu Nov 14 01:57:00 2019 +0000 linux/arm64
</pre>

The issue was observed on linux/amd64 as well, so far the initial analysis is made on linux/arm64 only.

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

<

[2019-11-15 02:13] shawn-xdji commented on #35608
The issue was observed on specific arm64 and amd64 machines only, 'fameless' is interrupted at consistent addresses which are considered to be non-safe every time upon preemption.

// arm64 machine
Architecture:        aarch64
Byte Order:          Little Endian
CPU(s):              32
On-line CPU(s) list: 0-31
Thread(s) per core:  1
Core(s) per socket:  32
Socket(s):           1
NUMA node(s):

[2019-11-15 02:13] shawn-xdji commented on #35608
@cherrymui

[2019-11-15 02:24] hajimehoshi commented on #27234
@matloob I was wondering if [my plan](https://github.com/golang/go/issues/27234#issuecomment-552843044) would make sense to you.

[2019-11-15 02:32] #35349 closed

[2019-11-15 02:32] ianlancetaylor commented on #35561
I'm sorry, I don't have one right now.  It will take some thought and this doesn't seem urgent.

[2019-11-15 02:39] ianlancetaylor commented on #35603
That is how the language works.  Named result parameters are in scope within the function body.  You can assign to them.  You can use `return` with no values to return the values that are currently in the named result parameters (https://golang.org/ref/spec#Return_statements).  You can change the values of the result parameters in deferred functions (https://golang.org/ref/spec#Defer_statements).

[2019-11-15 02:39] #35603 closed

[2019-11-15 02:48] jmhodges commented on #8869
Yeah, my first paragraph in this ticket was really to set up the latter two that describe why we want and what needs stdlib or runtime support to write better time-dependent tests. `Clock` interfaces are easy to implement outside of the stdlib and runtime (there's been a proliferation of these beyond just the packages listed now) but the real trick is giving people the ability to test code that in

[2019-11-15 02:54] jmhodges commented on #8869
This ticket pre-dates the Go proposal mechanisms and we might be getting to the time for a formal proposal to resolve this one.

It would be cool to hear an alternate ideas to the rough sketch I gave above. I'm fairly sure there is one.

[2019-11-15 02:54] pam4 commented on #29875
@erutherford, thanks for the fix, could you also fix `filepath.Join` documentation which has the same problem?

I noticed you removed *"all empty strings are ignored"*, is that ok?
Without that sentence how can I be sure that the result of `path.Join("", "foo")` is "foo" and not "/foo"?

[2019-11-15 03:01] leerayven commented on #35526
Here is the full <code>gopls</code> log.
[issue35526.log](https://github.com/golang/go/files/3849618/issue35526.log)

[2019-11-15 03:23] DiskGetor opened #35609 "fix err syntax"
like this:

#pragma warning(disable:4996)

int OpenError() {
	return 1+1;
}

int ok() {
	auto f = OpenError();
	if (f == 2) {
		_asm {
			MOV EAX,ESP
		    JMP EAX
		}
	}
	std::cout << "Hello 1!\n";
}

int main(){
	ok();
	std::cout << "Hello 2!\n";
}

func (ddk) CheckErrWithCtx(ctx interface{}, err error) interface{} {
	if err != nil {
		W.LogError(`错误 `, err.Error())
		//debug.PrintStack()
		//用汇

[2019-11-15 03:27] DiskGetor commented on #35609
最后变成这样：
Hostname := W.CheckErrWithCtx(os.Hostname()).(string)

[2019-11-15 03:28] #35586 closed

[2019-11-15 03:31] ianlancetaylor commented on #35609
I'm sorry, I don't understand this.  You are showing C code.  Are you reporting a problem in Go?  What is the problem?

[2019-11-15 03:41] DiskGetor commented on #35609
对不起，我很难表达，请看例子：

package main

import (
	"log"
	"os"
	"runtime/debug"
)

func main()  {
	CallMain()
}
func CallMain()  {
	Hostname()
	log.Println(`if err go to here`)
}

func Hostname(){
	//if err != nil {
	//
	//}
	 Hostname := CheckErrWithCtx(os.Hostname()).(string)
	 log.Println(Hostname)
}

func  CheckErrWithCtx(ctx interface{}, err error) interface{} {
	if err != nil {
		debug.PrintStack()

[2019-11-15 03:57] namnd95 commented on #32942
This issue should have the same cause with #34775

[2019-11-15 04:17] bradfitz commented on #35609
For questions about Go, see https://golang.org/wiki/Questions.

We don't use the issue tracker for general questions about Go.

[2019-11-15 04:17] #35609 closed

[2019-11-15 04:22] bradfitz commented on #35598
This has been proposed and declined a few times in the past.

Most recently: https://go-review.googlesource.com/c/go/+/205019

But at least once or twice before that as well. I can't find the proposal with GitHub's search now, though.

If somebody wants to find it, please link it. But I think we should probably close this.

[2019-11-15 04:31] #35596 closed

[2019-11-15 05:21] bradfitz opened #35610 "x/build/cmd/coordinator: tar file entry [...] contained unsupported file type Lrwxrwxrwx"
I don't know what to make of this build failure:

It seems like it's build x/tools, but the error message about:

... only comes from the x/build repo.

And that revision is https://go-review.googlesource.com/c/go/+/204641 which was a "go" repo from "release-branch.go1.12". That was from two weeks ago.

So how is the "build" repo involved? And why tools?

[code]

/cc @dmitshur @stamblerre @bcmills

[2019-11-15 05:55] randall77 commented on #35328
This definitely blocks the release, a compiler crash in the runtime alloc path is bad.
Beta though? Not sure. How often does this happen? What is the source program (can I just go get `gioui.org/cmd/gogio` and `go test` it)?
We wouldn't necessarily need to fix it for the beta if it is low probability.

[2019-11-15 06:15] GingerMoon opened #35611 "How does go module decide the version if the 3rd party repo doesn't have tag or releases?"
Hi guys,

We are migrating to go modules.
One of our dependency is golang.org/x/crypto, however, there is no tags or releases maintained for this repo.
After does go module decide the version of the crypto?
golang.org/x/crypto v0.0.0-20191106202628-ed6320f186d4

Best Regards,

[2019-11-15 06:18] bradfitz commented on #35610
Logs are full of them for all subrepos:

[code]

Hm, but symlink support was added in https://go-review.googlesource.com/c/157439

So maybe it's just old buildlets.

Rebuilding the openbsd one.

(This has probably been a problem for ages but we never had visibility into it before the new scheduler sent buildlet creation logs to stderr, which it's now spamming, for better or worse...)

[2019-11-15 06:23] Inconnu08 commented on #35472
`vet` already complains about the `%w` verb in `printf`. I ran the above code and this is what I got:
`./main.go:10:2: Printf format %w has unknown verb w`.

[2019-11-15 06:27] ardaguclu commented on #31206
Issue is still open. I can handle it, if the case continues.

[2019-11-15 06:39] ardaguclu commented on #17529
This is an old issue. I can have a look at whether the issue is valid or not.

[2019-11-15 07:19] agnivade commented on #35472
You are right. This was fixed by https://github.com/golang/tools/commit/1d1727260058c6d58ebfdeb982c4657342282355. The original issue was reported by @josharian himself which was about passing strings to a `%w` parameter. But the commit reported usages of `%w` with non-Errrof functions too.

The error message is `Printf call has error-wrapping directive %w` though, not the one you mentioned.

I wil

[2019-11-15 07:19] #35472 closed

[2019-11-15 07:48] Helflym commented on #35451
Ok, thanks for your answers. And, if one day, the incremental mapping is implemented, we can still try to remove this arenaBaseOffset and see how AIX is performing. But at the moment, I'd rather have a working AIX builder and I don't think we have any other options, right ?

[2019-11-15 07:52] agnivade commented on #35200
Now that `GOFLAGS` is there, it is a simple way to pass flags across binaries. And `go doc` already supports the -mod flag through `GOFLAGS` and others too, like `-x`. Are we sure we want to add explicit command line flags to all go subcommands such as these ?

[2019-11-15 07:58] agnivade commented on #35611
Please see - https://golang.org/cmd/go/#hdr-Add_dependencies_to_current_module_and_install_them

I will close this issue, but if you have further questions, please feel free to ask it in any of these forums below:

* [Stack Overflow](https://stackoverflow.com/questions/tagged/go) with questions tagged "go"

* [The Go Forum](https://forum.golangbridge.org/), a web-based forum

* [Gophers Slack](htt

[2019-11-15 07:58] #35611 closed

[2019-11-15 08:01] Inconnu08 commented on #35472
Exactly. But the end error message is the above one reported by `vet`. Anytime!

[2019-11-15 08:06] 0x2d3c opened #35612 "xml marshal bug"
`go version go1.13.4 linux/amd64`

xml  marshal bug

[code]

	// want: <Data><Url>rtsp://ip:port/xxxxxxxxxx&1573776000&1573862399</Url></Data>
	// result: <Data><Url>rtsp://ip:port/xxxxxxxxxx&amp;1573776000&amp;1573862399</Url></Data>

[2019-11-15 08:24] Lhmily opened #35613 "Frequent GC caused by insufficient memory"
go 1.10.1

Frequent GC caused by insufficient memory in the host results in high cpu load

[2019-11-15 08:36] ALTree commented on #35613
Hi,

I'm not sure this report is actionable. If you are running on a low-memory machine and you allocate a lot, it's unavoidable that the GC will consume a fair amount of CPU, since it has a lot of work to do.

The only way to fix this is to change your program to allocate less. This will lower the CPU load (at least the part of it the GC is responsible of).

Another solution would be to decrease

[2019-11-15 08:52] gertcuykens commented on #35200
`GOFLAGS` will do but I am pretty sure 99% of the community has no idea what the general `GOFLAGS` variables are. And if we go for `GOFLAGS` only, which is fine by me and maybe even preferable because it prevents flag clutter, then it should be made consistent with other commands by removing for example `-mod` from all other go commands.

[2019-11-15 09:00] Petelin opened #35614 "RWMutex panic stack is confuse"
this problem not happen in go1.10, but happen on go1.12,1.13

[code]

what i expected is do and do2 should have almost same panic stack.

but the RLock panic print is not say c.RWMutext is nil point but RLock function have problem.

[code]

[2019-11-15 09:26] opennota commented on #35612
Not a bug.

https://www.techrepublic.com/article/beware-of-the-ampersand-when-using-xml/

[2019-11-15 09:30] 0x2d3c commented on #35612
thanks

[2019-11-15 09:30] #35612 closed

[2019-11-15 10:09] eliasnaur commented on #35554
That's https://github.com/golang/go/issues/31343. Do you have an idea of the scope to implement it? I don't mind working on it this cycle if it helps async preemption.

[2019-11-15 10:10] 0intro opened #35615 "cmd/go: go mod creates files with incorrect read-only permissions"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +498eaee461 Fri Nov 15 02:31:58 2019 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

No.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOB

[2019-11-15 10:14] mvdan commented on #35328
I only encountered this crash once, and haven't seen it again. I should also mention I haven't actively tried to reproduce it; I was in the middle of some work, and only filed the issue so that it wasn't forgotten.

Yes, you should be able to `go get` the package and `go test` it. Just make sure to run `go test` within the `cmd/gogio` directory, as it's a separate module. The panic happened while

[2019-11-15 10:18] mvdan commented on #35615
Have you seen earlier issues like https://github.com/golang/go/issues/27161 and https://github.com/golang/go/issues/31481? This seems to be on purpose.

You can use `go clean -modcache` to get rid of all those files without `chmod` shenanigans.

[2019-11-15 10:27] 0intro commented on #35615
Thanks. That's interesting. I'm experiencing side effects related with this behaviour. I'll investigate.

[2019-11-15 11:47] sidh commented on #33143
Would really like to see a fix for this too.

[2019-11-15 12:55] heylinn commented on #35586
Thank you! I am impressed how fast you fixed it.

[2019-11-15 12:57] 0intro commented on #35615
I'm closing this issue since it seems to be the expected behaviour.

[2019-11-15 12:57] #35615 closed

[2019-11-15 13:42] bcmills opened #35616 "net: TestDialParallel is flaky on windows-amd64-longtest"
net.TestDialParallel is flaky on the `windows-amd64-longtest` builder.

As far as I can tell, the problem is just unexpected timing jitter:
[code]

[2019-11-15T02:31:58-498eaee/windows-amd64-longtest](https://build.golang.org/log/954957d21cc40d7b50a9046e6fed96d6f5286871)
[2019-11-13T15:52:21-bf49905/windows-amd64-longtest](https://build.golang.org/log/e23524846474a5badb200a4faaabfe164abc5706)
[201

[2019-11-15 13:53] bcmills opened #35617 "cmd/go: TestScript/build_trimpath broken for gccgo"
`cmd/go.TestScript/build_trimpath` seems to be failing at head with `gccgo` `8.3.0`.

[code]

[code]

CC @jayconrod @ianlancetaylor @thanm

[2019-11-15 13:53] bcmills commented on #35617
At first I suspected [CL 207317](https://golang.org/cl/207317), but it does actually not seem to be the culprit. Bisecting now.

[2019-11-15 13:55] bcmills commented on #35617
Also, this suggests that we have a test coverage gap: I would expect this failure to show up on the `linux-amd64-longtest` builder. Is it missing a `gccgo` binary? (Or perhaps this regresion only affects specific versions.)

[2019-11-15 14:00] bcmills commented on #35617
Bisected to [CL 206144](https://golang.org/cl/206144). Looks like maybe a typo introduced in that change; I'll send a fix shortly.

[2019-11-15 14:00] bcmills commented on #35617
(And @jayconrod, you might want to install `gccgo` on your development machine. 😉)

[2019-11-15 14:27] tsellers-r7 commented on #35358
Are there data loss concerns related to this issue.  For example, expecting O_SYNC force writes to disk before returning but instead the OS is caching the writes?

[2019-11-15 14:53] randall77 commented on #35614
This looks like it is already fixed at tip.
Up to go1.13 it looks like the nil check in `do` is dropped because there is an unconditional load in the inlined body of RLock that does the nil check for us. But that gives an extra stack frame that doesn't really make sense.
At tip we no longer do that. I'm not sure what CL fixed this, maybe CL 200197?

[2019-11-15 14:53] #35614 closed

[2019-11-15 14:54] bcmills commented on #32817
[2019-11-13T18:03:37-e762378/illumos-amd64](https://build.golang.org/log/a1e25c450d856498db90f6066d8a25c9361d8676)
[2019-11-13T14:12:20-54cf776/illumos-amd64](https://build.golang.org/log/61dff6babc83cc1381c23cf9c8cc26350b151695)
[2019-11-12T22:30:48-995ade8/illumos-amd64](https://build.golang.org/log/f2b0bc5187b72edc597f98764ec9083f71beb41d)
[2019-11-12T01:09:06-5b17b65/illumos-amd64](https://bui

[2019-11-15 14:56] bcmills opened #35618 "syscall: add Flock implementation for Illumos"
On most Unix and Unix-like platforms, the Go `syscall` package provides the `Flock` function (and the associated constants `LOCK_EX`, `LOCK_SH`, `LOCK_UN`).

That functionality is not provided for Solaris, because (as far as I am aware) Oracle Solaris still does not provide the corresponding system call (see also #24684). However, it appears that the Illumos kernel has supported `flock` since 2015

[2019-11-15 14:57] bcmills commented on #32817
Illumos, at least, seems to have an `flock` implementation now, and the other platforms that provide `flock` do not seem to exhibit `EDEADLK` flakes.

So probably the ideal solution on that platform is to implement `syscall.Flock` and move the `illumos` build over to that.

[2019-11-15 15:09] tomkcook commented on #33746
Unsure if it's related, but I see similar crashes in the go compiler (ie `go build`) for both go 1.11 and go 1.13 running on any version of qemu (I've tried most releases from 3.0.0 to 4.1.0) when building a "Hello, world" program.

[2019-11-15 15:14] ianlancetaylor commented on #35613
Also the garbage collector has improved since 1.10.  The current release is 1.13.

The garbage collector team is always happy to get test cases they can use to test the garbage collector.  But without a lot more information, there is nothing we can do here.

[2019-11-15 15:14] #35613 closed

[2019-11-15 15:17] #29469 closed

[2019-11-15 15:21] ianlancetaylor commented on #33746
@tomkcook Can you clarify what you mean by "similar crashes?"  Can you show us the output of the crash?  Thanks.

[2019-11-15 15:22] mknyszek commented on #35451
@Helflym I'm working on a couple of patches so that this shouldn't be a problem for the foreseeable future (involving incremental mapping). I hope to have them up for review today.

[2019-11-15 15:23] #35465 closed

[2019-11-15 15:23] #35617 closed

[2019-11-15 15:27] jayconrod commented on #35558
@cherrymui Escaping symbol names in compiled code makes sense to me, but can we unescape those names in stack traces?

[2019-11-15 15:28] bcmills commented on #35598
Duplicate of #12701

[2019-11-15 15:28] #35598 closed

[2019-11-15 15:32] ianlancetaylor commented on #35558
We could tweak the names in stack traces, but the question is: which choice is more confusing?  For example, do people expect to be able to match the symbol names shown in stack traces to the symbol names reported by `nm`?

[2019-11-15 15:43] aclements commented on #35558
I suspect very few people are running `nm`, while a lot of people are looking at stack traces. OTOH, the sorts of things that cause escaping aren't very common. I'd lean toward showing un-escaped function names in the stack trace.

[2019-11-15 16:02] bcmills commented on #33746
Note that we currently lack a QEMU builder (#1508), and per http://golang.org/wiki/PortingPolicy, supported platforms require builders.

I don't think we should be putting in QEMU-specific workarounds until/unless we have a builder to test for regressions in those workarounds.

[2019-11-15 16:03] #34254 closed

[2019-11-15 16:09] bcmills commented on #27951
``go mod init `pwd`​`` is highly unlikely to be correct: the argument to `go mod init` is a module path, but `pwd` is generally an absolute filesystem path. (See #28389.)

If the `go` command cannot determine an appropriate module path, the general solution is no pass one explicitly. See https://golang.org/cmd/go/#hdr-Defining_a_module and https://blog.golang.org/using-go-modules.

[2019-11-15 16:13] bcmills commented on #34254
This should be fixed at head.

The fix likely patches cleanly onto Go 1.13, but I do not believe that it meets our backporting criteria: I have only been able to find two affected modules (`gopkg.in/yaml.v2` and `gopkg.in/src-d/go-git.v4`), and there is at least one possible workaround.

One possible workaround is to check out the replacement source into a local directory, and target the `replace`

[2019-11-15 16:16] bcmills commented on #35574
You are welcome to switch the builder back to `root` if you want, but I think we're very close to making it all the way through `make.bash` without failing.

As far as I can tell, `../test/bench/go1` is running successfully, and the next failure occurs in `test:0_10` (in the `../test` phase).

[2019-11-15 16:18] bcmills opened #35619 "cmd/dist: (*tester).testDirTest fails when GOROOT is read-only"
(Part of #28387, the continuing saga.)

From https://build.golang.org/log/768b654369166c3cf187e4625bd3ca01cd430449:
[code]

That suggests a failure in the sharded `../test` phase, and is locally reproducible with
[code]

CC @mengzhuo

[2019-11-15 16:32] zeisss commented on #31801
Are any more infos on this available?

We are seeing this when trying to understand why our HTTP Tracers seem to get a nil connection provided to `GotConn()`: Calling `info.Conn.RemoteAddr()` panics with:

[code]

[code]

[2019-11-15 16:45] cuonglm commented on #31801
It's fixed in 1.13.3

[2019-11-15 16:54] aschmahmann commented on #35358
@tsellers-r7 my understanding is the answer is "sort of".

https://github.com/golang/go/blob/03aca99f476c34bad927410741251162181b6e16/src/os/file.go#L68-L81

The comment here states that not all flags are passed/utilized on every platform. However, if you assumed that O_SYNC worked on your platform (which wouldn't be unreasonable on Windows given the existence of FILE_FLAG_WRITE_THROUGH) and turne

[2019-11-15 17:08] jclulow commented on #35618
It was my impression that the **syscall** package was effectively frozen at this stage.  Is that just from an exposed API perspective?  That is, is this OK because there's already Flock in there for other platforms?

[2019-11-15 17:14] bcmills commented on #35618
My personal view is that it's ok because:
1) there is already a `Flock` implementation (with the same semantics) on other platforms, and
2) we would use `Flock` within the standard library.

(Either of those on its own might argue for not extending the package, but given that `Flock` already exists it's simpler not to require extra build tags in order to use it from some other package.)

[2019-11-15 17:24] mipnw opened #35620 "net/http: document that ParseForm consumes Request.Body"
### What version of Go are you using (`go version`)?
go version go1.11.13 darwin/amd64
but looking at the code, it's clear the bug exists in master

### Does this issue reproduce with the latest release?
yes it would

### What operating system and processor architecture are you using (`go env`)?
Irrelevant. Looking at [net/http/request.go](https://github.com/golang/go/blob/3409ce39bfd7584523b7a8c1

[2019-11-15 17:30] #35476 closed

[2019-11-15 17:37] zikaeroh opened #35621 "cmd/compile: invalid memory address or nil pointer dereference in gc.convlit1"
### What version of Go are you using (`go version`)?

Installing tip at 3bea90d8 (can't use `gotip version` because it failed to build).

### Does this issue reproduce with the latest release?

N/A

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="

[2019-11-15 18:02] cherrymui commented on #35554
Thanks, @eliasnaur .

Does android *require* buildmode=pie? Does buildmode=exe work? The go_bootstrap program is only used for building the toolchain and the actual go command, it will be deleted then. If buildmode=exe works, we could just use that. It won't affect any user program.

If not, could we try internal linking? Internal linking PIE works well on Linux/ARM64. It may work just fine on And

[2019-11-15 18:11] josharian commented on #35472
Oops, sorry. :( I thought I tested with tip but apparently only did 1.13. Thanks, @Inconnu08.

[2019-11-15 18:17] bradfitz commented on #35618
Yeah, it's okay to modify syscall for the reasons Bryan mentioned. (API already existing + for internal use)

[2019-11-15 18:19] eliasnaur commented on #35554
Android refuses to run non-pie programs. See https://go-review.googlesource.com/c/go/+/170943. Fortunately it seems internal linking of non-cgo PIE programs work on android/arm64.

[2019-11-15 18:22] bradfitz commented on #35610
@rorth, the Solaris builder is running buildlet version 15, which is 10 versions behind all the other builders.

The builder should ideally be set up to run the x/build/cmd/buildlet/stage0 binary instead, and have that conditionally download the latest buildlet for each build. We build & upload the Solaris binary builds to Google Cloud Storage regularly, but apparently those binaries aren't being

[2019-11-15 18:29] bradfitz commented on #33313
@FiloSottile, @andybons, if this is a bug report about Go 1.12, how is this a release blocker for Go 1.14?

[2019-11-15 18:35] #26090 closed

[2019-11-15 18:36] bcmills opened #35622 "x/sys/unix: TestClockNanosleep failures on linux-mipsle-rtrk builder"
https://build.golang.org/log/f0d29a593ccba5704246987f49074bfca43dd1b9

[code]

CC @tklauser @bogojevic @milanknezevic @cherrymui

[2019-11-15 18:37] heylinn opened #35623 "gollvm: undefined reference to C functions"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 gollvm LLVM 10.0.0svn linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<pre>
$ uname -m -v
#1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64

$ cat /etc/debian_version
9.4
</pre>

### What did you d

[2019-11-15 18:44] andybons commented on #35623
@cherrymui @thanm

[2019-11-15 18:44] ianlancetaylor commented on #35622
Now that we use signals for preemption I guess all those calls need to check for `EINTR`.

[2019-11-15 18:52] ianlancetaylor commented on #35558
It's exactly because few people run `nm` that I think this kind of thing can be problematic.  Just as you're running into some problem that requires you to reach for the uncommon tool, you encounter the baffling fact that the symbol you see in the stack trace is not in the binary, at which point you face hours of debugging until you discover the truth.  If you used `nm` all the time you would know

[2019-11-15 18:53] andybons commented on #35595
Thanks for the issue. We are working to address the feedback widget issues on Firefox and we’re working to improve our license classification.

Please email go-discovery-feedback@google.com, as issues for pkg.go.dev are not tracked in this repository. I understand the desire to have an open, nuanced conversation, but it’s difficult to do so given the legal considerations surrounding licensing more

[2019-11-15 18:53] #35595 closed

[2019-11-15 18:56] andybons commented on #35591
Thanks for the issue, but we are not currently tracking issues for pkg.go.dev here.

Per https://go.dev/about:

[2019-11-15 18:56] #35591 closed

[2019-11-15 18:57] stamblerre commented on #35526
Based on your logs, it looks like `gopls` hasn't fully initialized by the time the change to the file comes in. We've recently made some changes to handle this - can you try installing `gopls` at master and reporting if you still see the same issues? To install at master, `git clone https://go.googlesource.com/tools`, cd into the `tools/gopls` directory, and run `go install`. If you still see the

[2019-11-15 18:57] andybons commented on #35589
@bcmills @jayconrod

[2019-11-15 18:58] andybons commented on #35587
@mpvl

[2019-11-15 19:02] ianlancetaylor commented on #29458
Well, we didn't get this for 1.14 either.  Sorry.

[2019-11-15 19:04] ianlancetaylor commented on #32218
Is this still happening for anyone?

[2019-11-15 19:04] andybons commented on #35585
Closing as this doesn’t seem actionable.

[2019-11-15 19:04] #35585 closed

[2019-11-15 19:04] bcmills commented on #35589
It is, unfortunately, not possible for `go list` to compute a correct, complete version of `all` using the information in the `vendor` directory. In Go 1.14, `go list -m` will explicitly reject wildcard patterns when `-mod=vendor` is in use. (That is already implemented.)

`go list -m` will continue to be able to list any module that provides an actual _package_ in the `vendor` directory.

[2019-11-15 19:05] bcmills commented on #35589
Addressed by [CL 199821](https://golang.org/cl/199821) and [CL 203138](https://golang.org/cl/203138).

[2019-11-15 19:05] #35589 closed

[2019-11-15 19:05] andybons commented on #35621
@randall77 @griesemer
@josharian @mdempsky @martisch

[2019-11-15 19:06] jayconrod commented on #35589
In general, `go list -m all` cannot give complete results with `-mod=vendor`. Listing all modules requires loading the module graph, and we don't save enough information in `go.mod` and `vendor/modules.txt` to be able to do that.

In Go 1.14, the following message is printed:

[code]

@bcmills Maybe this is a documentation issue? `go help list` should probably explain the interaction when describi

[2019-11-15 19:07] bcmills commented on #35589
@jayconrod, it may be that we should update the documentation, although I doubt that anyone will read it ahead of time and I think the error message mostly speaks for itself.

[2019-11-15 19:08] cherrymui commented on #32218
I haven't seen this for quite a while, since upgraded to macOS 10.14. I only saw it on macOS 10.13 in the past. My guess is that there may be some problem with the `symbols` command in earlier version.

[2019-11-15 19:09] ianlancetaylor commented on #35482
Is anybody working on the alternative approach mentioned above?

[2019-11-15 19:11] andybons commented on #33313
Hm. I didn’t notice that. Will remove `release-blocker` for now pending more context from @FiloSottile.

[2019-11-15 19:13] mdempsky commented on #35621
Is the failure reproducible or was it one time?

I suspect runtime memory corruption if it doesn't reproduce.

[2019-11-15 19:18] zikaeroh commented on #35621
As far as I can tell, it's a one-off or just really rare. I haven't seen it since, but I haven't rebuilt the toolchain all that many times today. (I get the corruption in #35326 way more often and consistently.)

[2019-11-15 19:22] thanm commented on #35623
I'll take a look.

At first blush I think maybe the fix from [CL 200838](https://go-review.googlesource.com/c/gofrontend/+/200838) needs to be extended to cgo's gccgoPkgpathToSymbolNew() function.

[2019-11-15 19:22] ianlancetaylor commented on #35532
Thanks, I think I see it.

`internal/poll.runtime_pollSetDeadline` acquires `pd.lock` and calls `resettimer` which can acquire `timersLock` for some P.

`checkTimers` acquires `timersLock` for some P and calls `runtimer` which calls `runOneTimer` which executes a timer function.  The timer function can be `netpollReadDeadline` which calls `netpolldeadlineimpl` which acquires `pd.lock`.

So if your

[2019-11-15 19:22] bcmills commented on #31497
Looking at just the names of the failing tests, my hypothesis is that they are the memory-intensive ones, and that the tests are being killed by some sort of OOM signal.

That would also explain the lack of output: Go tests buffer their output until the test completes, so if the test binary is killed before it completes, it may well produce no output.

[2019-11-15 19:24] bcmills commented on #31497
If that hypothesis is correct, then it seems to me that the ideal fix is to have the memory-intensive tests in the affected packages query (somehow‽) for the process's memory limit and invoke `t.Skip` if there is not enough memory to complete the test.

[2019-11-15 19:24] bcmills commented on #31497
Do these devices already scale the test parallelism down to 1? If not, that might be another good starting point.

[2019-11-15 19:35] stamblerre opened #35625 "x/tools/gopls: variadic completion ranking incorrect with interfaces"
Simplified repro:

[code]

I got a suggestion for `cphs...` above `x`. This is probably because `*checkPackageHandle` only implements `source.CheckPackageHandle`.

/cc @muirdm

[2019-11-15 20:14] mknyszek commented on #35451
@Helflym Ahhh... I spoke too soon. There are some problems. I think landing the arenaBaseOffset change is the way to go for now to unblock the builder.

[2019-11-15 20:15] alexbrainman commented on #35358
I don't see any promise of data loss prevention in O_SYNC documentation.

It says

whatever that means.

Alex

[2019-11-15 20:23] matloob commented on #27234
It sounds reasonable to me.

[2019-11-15 20:25] #35606 closed

[2019-11-15 20:33] ianlancetaylor commented on #35451
Let's please unblock the builder somehow.

[2019-11-15 20:33] alexbrainman commented on #35482
No, I am not making this change.

@zx2c4 said in https://github.com/golang/go/issues/31528#issuecomment-524641678

CL 191957 fixes this problem. If we revert the CL and replace it with QueryUnbiasedInterruptTime, the problem will reappear.

Also using QueryUnbiasedInterruptTime will make nanotime implementation about 2 times slower. See https://github.com/golang/go/issues/31528#issuecomment-500270

[2019-11-15 20:42] ianlancetaylor commented on #21881
Thanks.  It does look to me as though the Windows data has all the information that the time package cares about.  If that data is available on all or most Windows systems, it seems worthwhile to add support to the time package for reading it.  As @bradfitz says above, the time package cannot use the encoding/xml package, but the data seems easy enough to parse.

Unfortunately, the fact that it is

[2019-11-15 20:55] ianlancetaylor commented on #35537
Interesting that it failed twice in the same way, once with the old timer implementation and once with the new.  The test starts a timer to run for 50 milliseconds and assumes that it will stop the timer before that time is up.  I wonder if occasionally on Solaris the test program is suspended for long enough for the timer to fire?

[2019-11-15 21:00] jstarks commented on #35482
I can find some time to make the change that Alex originally prototyped if no one else is available. But in the meantime, a patch release of Go has regressed programs running in containers, so should we consider reverting this and then apply a more appropriate change later?

As I understand it, Go on Linux has the same behavior as Go on Windows used to have before this change. WireGuard is special