[2017-01-19 16:42] rsc commented on #18709
I'm OK with keeping it too. Just wanted to get people talking. Let's worry about fixing real bugs instead.

[2017-01-19 16:42] #18709 closed

[2017-01-19 16:47] bradfitz commented on #18639
Same thing:

AWS replies with GOAWAY LastStreamID=13 and then sends the HEADERS and part of the DATA for Stream 13, but then closes the TCP connection before sending any END_STREAM bit on a StreamID 13 frame:

[code]

You had mentioned in email that this happens predictably when you register a new instance in ALB.

If they're killing your instance when you do so, they're only giving your old insta

[2017-01-19 16:50] mundaym commented on #18616
It would be nice to guarantee (in the package documentation?) that the rotate and byte-swap functions are constant-time operations so that they can be safely used in crypto algorithms. Possibly something to think about for other functions too.

[2017-01-19 17:57] sethvargo opened #18716 "text/template, html/template: nil argument to function yields wrong number of args error"
### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?
https://play.golang.org/p/R3CMVl_nmx

### What did you expect to see?
Passing a nested field in a struct that is nil should pass in the zero value for the accepting function. I either expected a different error, or I expected text

[2017-01-19 18:04] nathany commented on #6909
Thanks @wadey. The goverage tool from @haya14busa is looking good and was easy to set up.

[2017-01-19 18:09] rakyll commented on #18690
notice that I am running it.

This problem exists all times if the bin is in PATH. What's our broader best practice? Asking users to add GOPATH\bin to PATH every time they open a command prompt?

Other build tools and package managers often support only installing to (/usr/bin, /usr/local/bin and variants) which requires sudo but Go fails with this concern as it recommends adding GOPATH/bin to PAT

[2017-01-19 18:12] sethvargo commented on #18716
Even if I initialize the map and/or the map key, the error message is still the same if the provided value is nil: https://play.golang.org/p/lpFcNJYNdu

[2017-01-19 19:02] sethvargo commented on #18716
Further playing has narrowed it down to https://github.com/golang/go/blob/6593d8650da5d19787bea9383dabe94f36fa04be/src/text/template/exec.go#L622-L624. In most cases, it looks like `final` is treated as an argument (input) to the function. In the case that the value is nil, it's not "valid" and therefore does not increment the number of valid args.

[2017-01-19 19:05] bcmills opened #18717 "runtime: async signals not reliably delivered to Go threads under TSAN"
[code]

The fix for #17753 causes signal delivery in Go programs running under TSAN to pass through the TSAN interceptors.

Unfortunately, it appears that the TSAN interceptors defer delivery of asynchronous signals until the next blocking libc call _on the same thread_.  This interacts poorly with the Go runtime's use of direct 'futex' syscalls to park idle threads: if the thread receiving the si

[2017-01-19 19:29] tlbtlbtlb opened #18718 "Crash in syscall / morestack / newstack"
### What version of Go are you using (`go version`)?

go version go1.6 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Our VNC client written in Go (github.com/openai/go-vncdriver) linked into a Python program using CGO, crashes occasionally (on the order of once every 200 hours of CPU time) when allocating more stack.

###

[2017-01-19 19:44] bcmills commented on #18717
One possible fix would be to have something in the runtime make an explicit call (in cgo-enabled builds) to some no-op libc function (e.g. `sleep(0)`) to trigger signal delivery.  (`runtime.findrunnable` seems like a likely candidate.)

However, it isn't obvious to me that any call to `runtime.futexsleep` with a negative `ns` parameter can be made safely in the presence of TSAN, since the signal c

[2017-01-19 20:29] bradfitz commented on #18718
Go 1.6 is no longer supported. In fact, development and bug fixes for Go 1.7 are even frozen, except for security fixes.

Could you try Go 1.8?

[2017-01-19 20:34] vbatts commented on #17657
@dsnet understandable, but the need was in accessing only the raw headers and padding, and not the body of each entry, as the tar.Reader.Read() already provides this. @wking in this way, it does allow for collecting *all* the bytes. That's the purpose of tar-split, such that all the non-payload bytes can be preserved for re-assembling the cryptographic-equivalent original.

There is nothing for tr

[2017-01-19 21:28] keks commented on #18576
Sorry for not responding. I'm still on this just kind of busy atm. I will take another look next week.

Should I reuse your Changi-Id or should I create a new change?

[2017-01-19 21:29] bcmills commented on #18717
(@ianlancetaylor @dvyukov )

[2017-01-19 21:51] bcmills commented on #18717
https://go-review.googlesource.com/#/c/35494/ has a potential fix.

[2017-01-19 22:06] minux commented on #18690
On Thu, Jan 19, 2017 at 1:09 PM, Jaana B. Dogan <notifications@github.com>
wrote:

I don't add $GOPATH/bin to my $PATH. Instead I symlink useful programs from
$GOPATH/bin to $HOME/bin. It's done precisely to avoid having arbitrary
programs in my $PATH (and I don't include . in my $PATH either.)

(Actually, I don't install most of my programs because that's prone to
version mismatch problems. I reb

[2017-01-19 22:08] kardianos opened #18719 "database/sql: segmentation violation"
from builder log: https://build.golang.org/log/2c3b36d6c05318edc47728998463214689d2f2e2

[code]

Is this a runtime issue or is the driver.Conn actually nil?

[2017-01-19 22:12] bradfitz commented on #18719
@kardianos, anything suspicious or racy in the test?

Otherwise, cc @aclements @randall77 @cherrymui.

[2017-01-19 22:13] olekukonko commented on #18713
I think you sould also consider [io.MultiWriter](https://golang.org/pkg/io/#MultiWriter)

[2017-01-19 22:23] kardianos commented on #18719
TestIssue18429 was designed to test the race condition in Tx.rollback. I don't think there is anything suspicious in the test itself.

After looking at this for a bit, I think this may be an issue with `database/sql`, not `runtime`.  If driverConn.finalClose is called while DB.queryConn is running this may happen. We are correctly guarding data changes with a mutex, but not checking for a nil dc.c

[2017-01-19 22:29] minux commented on #18616
On Thu, Jan 19, 2017 at 11:50 AM, Michael Munday <notifications@github.com>
wrote:

trivial implementation of byte swap is constant time, but if the underlying
architecture doesn't provide variable shift instructions, it will be hard
to guarantee constant time rotate implementation. Perhaps Go will never run
on those architectures though.

That said, there is also non-negligible chance that the un

[2017-01-19 22:33] hirochachacha opened #18720 "cmd/cgo: #define is not exportable in some situations"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
I know 4 failing scenarios.
[code]

#### What did you expect to see?
no errors.

#### What did you see instead?
none of them can compile.

#### Does this issue reproduce with the latest release (go1.7.4)?
I think so.

#### System details

[code]

[2017-01-19 22:34] jargv opened #18721 "proposal: spec: add 'must' operator to return err up"
The must operator is to error handling what the go keyword is to concurrency, and the defer keyword is to resource cleanup. It turns any function into a Must*-style function with smart error handling.

**NOTE: this isn't a change to the way error handling *works*, only to the way error handling *looks*.**

The Must operator (#) is a unary prefix operator that can be applied to a function call. The

[2017-01-19 22:39] minux commented on #18597
Additionally, I'd want the arguments show in the traceback to be the
initial arguments to the function. Not updated values.

Because otherwise the meaning of the argument also depends on the exact
line number, which significantly reduces the value of showing them.

The main value of having the arguments is spotting plain wrong arguments
like 0xdeaddeaddead or nil without looking at the source code

[2017-01-19 22:42] minux commented on #18721
You probably want to read the discussion at #16225 first.

[2017-01-19 22:42] randall77 commented on #18616
I'm inclined to agree with @minux.  If you want constant-time crypto primitives, they should live in crypto/subtle.  crypto/subtle can easily redirect to math/bits on platforms where those implementations have been verified.  They can do something else if a slower but constant-time implementation is required.

[2017-01-19 22:49] kardianos commented on #18719
I'm able to reproduce this issue on my box with a modified TestIssue18429 function. Not a runtime issue.

[2017-01-19 22:55] minux commented on #18720
We currently only support very simple macros that simply renames a value.

The reason is that to support complicated macros like *&var or even
HELLO_WORLD, cgo must implement its own C parser and translate the C
expression into equivalent Go.

Right now, only VAR and HELLO work and "#define PI 3" also works, and I
think we can make "#define PI 3.14" work too, but I don't think we can make
the othe

[2017-01-19 22:56] randall77 commented on #18597
We're already in a state where what is displayed in the traceback is context-dependent.
[code]
If there is a panic during the call to `g`, the value displayed in the stack traceback for `x`'s argument slot will show the newly allocated pointer, not the original value of `x` at the start of the function.

The reason this happens is that the newly allocated pointer is spilled to the argument slot fo

[2017-01-19 23:00] minux commented on #18597
On Thu, Jan 19, 2017 at 5:56 PM, Keith Randall <notifications@github.com>
wrote:

But my point is that making traceback better might conflict with the
current proposal, which means we can't really discuss these two problems in
isolation.

[2017-01-19 23:01] jargv commented on #18721
Thanks @minux, it's good to get more background. :)

This is different from the `try` and `when` keywords proposed because it doesn't imply any kind of data binding or value watching. It avoids many of the issues in those other proposals, IMO.

[2017-01-19 23:02] bradfitz commented on #18721
There might be some overlap here with previous proposals, but this is the most comprehensive proposal I've seen about this, and it's actually structured as a proposal, so I'm inclined to keep this open instead of closing it as a dup. Thanks.

[2017-01-19 23:07] #18707 closed

[2017-01-19 23:10] minux commented on #18721
The reason other proposals are rejected is not because of those fixable
drawbacks.

The reason is fundamental:
the proposed simplification encourages only those two kinds of error
handling, but in fact, there is another: augmenting the error before
returning to provide more contextual information. (You might say the
proposal doesn't preclude the other error handling strategy, but if it
makes the f

[2017-01-19 23:10] randall77 commented on #18597
That the proposals conflict is ok.  And we can discuss those conflicts here.  But without a concrete proposal about how you'd like to make tracebacks better it's hard to see exactly what those conflicts would be.

[2017-01-19 23:16] jargv commented on #18721
I agree @minux. That was one of the listed cons. I've thought about this a bit, and while I didn't add this to the proposal (to keep it simple). There could also be a binary form of the operator which calls a function, *adding* the error to the argument list before returning. Example:
[code]

[2017-01-19 23:25] bradfitz commented on #18721
@jargv, now you're getting into the `?:` ternary operator flow control issue, with code not reading nicely top-down. And now I realize this FAQ entry kinda sucks: https://golang.org/doc/faq#Does_Go_have_a_ternary_form and doesn't provide background on the rationale.

[2017-01-19 23:31] rtjoseph11 opened #18722 "encoding/json changes type of large integers when deserializing and then serializing"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.4 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GORACE=""
GOROOT="/usr/local/Cellar/go/1.7.4/libexec"
GOTOOLDIR="/usr/local/Cellar/go/1.7.4

[2017-01-19 23:31] hirochachacha commented on #18720
Thank you for quick reply!

I think we can solve testVariablePropagation also.
for example:

x.h
[code]
x.txt
[code]

`gcc -P -E -xc -c x.txt`

output:
[code]

So, we can get a finalized definition, instead of a shallow definition.
before https://github.com/golang/go/blob/ea7d9e6a52ca64c200dcc75621e75f209ceceace/src/cmd/cgo/gcc.go#L267

[2017-01-19 23:32] spf13 opened #18723 "x/playground: synchronize editor library with tour"
for unknown reasons the playground and the go tour use completely separate editor libraries. The tour one is much more advanced leveraging http://codemirror.net.

Ideally we would use a single script to power both and simply embed one in the other. To as much of a degree as possible sharing code between them would result in better features and less maintenance.

Somewhat dependent on https://githu

[2017-01-19 23:36] jargv commented on #18721
@bradfitz I would love to learn more about that rationale, because lack of ternary is another pain point for me. :) Makes me wonder if I'm missing some of the zeitgeist of Go (though I'm still a big fan).

Lack of ternary is especially painful when I'm creating nested struct literals and I've got to put a conditional and a variable in order to conditionally populate some field, but now the declara

[2017-01-19 23:37] rakyll opened #18724 "all: add link to the issue tracker from all repos"
Most repositories under the golang organization is using the go repo's issue tracker and has their issues disabled. Each repo that uses this issue tracker needs to give a link to https://golang.org/issues/new from its README to help the users find the correct location to file bugs.

GitHub also allows to pre-fill the title section with a query parameter. For example, we use https://golang.org/issu

[2017-01-19 23:43] adams-sarah commented on #15606
Mailed, https://go-review.googlesource.com/#/c/35476/
Code largely copied from https://go-review.googlesource.com/#/c/2035/

[2017-01-19 23:47] minux commented on #18724
SGTM.

[2017-01-19 23:50] shurcooL commented on #9080
For posterity, it appears this was resolved as part of [CL 21023](https://golang.org/cl/21023).

[2017-01-20 00:00] griesemer commented on #18721
For what it's worth, in the HotSpot JVM we had introduced (almost 20 years ago...) the C++ TRAPS and CHECK macros, trying to address a similar issue using the existing C++ language at that time (and trying to avoid C++ exception handling because compiler performance around functions with exception handling was unclear). The similarity with this proposal (though not notation) is striking. It's inte

[2017-01-20 00:02] toolateforteddy opened #18725 "cmd/compile: incorrect boolean value passed to function"
### What version of Go are you using (`go version`)?
go version go1.8rc2 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

### What did you do?
https://play.golang.org/p/hebuAYQ6eo
Take the program above, that on go 1.7.4 prints out "The right thing.", and run that with a go compiler of ve

[2017-01-20 00:02] hirochachacha opened #18726 "cmd/go: TestMissingGOPATHEnvShowsDefault fails if srcDir == defaultGOPATH on windows"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.3 windows/amd64

### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?
move tip source code to default GOPATH (C:\Users\Hiroshi\go)
run all.bat

### What did you expect to see?
no errors.

### What did you se

[2017-01-20 00:07] mdempsky commented on #18721
Instead of an operator, it could be a builtin generic function with a signature like:

    func must(T1, T2, ..., Tn, error) (T1, T2, ..., Tn)

So calling it just looks like:

    result := must(foo(1,2,3))

[2017-01-20 00:18] jargv commented on #18721
Ha! That's awesome @griesemer, thanks for sharing that. I've done something similar-ish in go (sans macros) to try and invert the error handling responsibility:
[code]

[2017-01-20 00:25] bradfitz commented on #18722
This is "fixed" (changed in a way that happens to work for your case) in Go 1.8.

See https://beta.golang.org/doc/go1.8#encoding_json

But to be explicit about preserving integers, see https://golang.org/pkg/encoding/json/#Decoder.UseNumber

[2017-01-20 00:25] #18722 closed

[2017-01-20 00:30] robpike commented on #18725
Confirmed. This is a bug that appeared in 1.8.

[2017-01-20 00:32] bradfitz commented on #18725
/cc @randall77 @mdempsky

[2017-01-20 00:35] bradfitz commented on #18725
Nice bug.

And if you delete the dead code line `panicWhen(*e == *e)`, then the bug goes away.

[2017-01-20 00:38] cherrymui commented on #18725
The bug is in nilcheck phase, where there is a NilCheck Op in the same block as IsNonNil and happened to be stored before it (since values are not stored in order, until the scheduling phase). But logically NilCheck is after the IsNonNil.

[2017-01-20 00:40] cherrymui commented on #18725
I think we should explicitly check the memory to set/clear `nonNilValues`.

[2017-01-20 00:41] hirochachacha opened #18727 "net/http/cgi: TestEnvOverride fails after installation of mactype on windows"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.3 windows/amd64

### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?
install https://github.com/snowie2000/mactype/releases with registry mode.
run all.bat for tip

### What did you expect to see?
no errors

[2017-01-20 00:42] dsnet commented on #18725
If it helps, git-bisect shows the offending commit as: 3134ab3c2d58d2c9f93471c85405cb26ccdf0f4d

[2017-01-20 00:47] bradfitz commented on #18726
I suppose we could at least fail with a better error message saying to not put your GOROOT in your GOPATH.

[2017-01-20 00:48] #18718 closed

[2017-01-20 00:51] rtjoseph11 commented on #18722
@bradfitz thanks!

[2017-01-20 01:17] dhananjay92 commented on #18721
If we're having `must` as a builtin function, then it could also *augment* the error.

[code]

IMO, this is much more readable than `UserDeleteError(user)#DeleteUser(user)`.

[2017-01-20 01:24] cherrymui commented on #18725
@dsnet, yes, that is it. Before that commit, NilCheck always introduces a new block (BlockCheck) which enforces the value ordering. After that, it no longer introduces new block, so NilCheck could affect values in the same block but logically before it.

[2017-01-20 02:54] opennota commented on #18569
I wonder if `text/template` could introduce a new action, `{{ verbatim }}`, which would allow everything between it and the `{{ end }}` action to be included in the result verbatim. A warning of the security risk would have to go to the docs, of course.

[2017-01-20 04:19] bradfitz commented on #18715
@ianlancetaylor, thoughts?

[2017-01-20 04:49] tzneal commented on #18725
Not sure where gopherbot is, there's a CL at http://golang.org/cl/35495

[2017-01-20 04:59] josharian commented on #18641
Just hit this myself. Sadness. (I wonder whether anyone else was parsing the pprof output to get memstats and will also be impacted by this change.)

I don't see an obvious way to add ignored to the binary pprof output, and I really don't want to embed a protobuf decoder in compilebench anyway.

I propose instead that we add a `-memstats=<file>` flag to cmd/compile. When provided, on exit, we call

[2017-01-20 05:05] ianlancetaylor commented on #18715
It's unfortunate that the linker crashes, but I don't see any way to turn this code into a correct program.  I think that we should fix the linker to report an error message and not crash, but we can do that for 1.9.

[2017-01-20 05:16] minux commented on #18641
Perhaps we should add a GODEBUG variable to switch back to the old pprof
format?

[2017-01-20 05:20] josharian commented on #18641
I assume that at some point @matloob will want to eliminate the old code, but as an interim measure, that'd be really useful. Particularly if it could go in for 1.8--it is a tiny, safe change--but I'm not going to hold my breath for that.

[2017-01-20 05:56] minux commented on #18641
In general, I'd argue that changing file format should give the users at
least one release to migrate to new format, which means we should at least
release Go 1.8 to support both formats and also with the ability to switch
format at runtime (so that people using Go 1.8 compiled programs without
source code can still use tools that only works with the old format.)

I think we should address this be

[2017-01-20 06:22] #18695 closed

[2017-01-20 06:33] bradfitz commented on #18641
Can you prepare a non-scary CL before Monday?

[2017-01-20 06:36] elimisteve commented on #5742
Just to be explicit to future readers: this feature has been merged into master, and you can use it by setting the `Renegotiation` field in your `*tls.Config` to `tls.RenegotiateFreelyAsClient`:

    config := &tls.Config{
        Renegotiation: tls.RenegotiateFreelyAsClient,
    }

[2017-01-20 07:02] Integralist commented on #5742
Thanks @elimisteve :-)

[2017-01-20 07:47] pquerna commented on #18692
FYI, we had some code for decrypting & marshaling these encrypted keys from work code; hacked them over to the proposed`ParseEncryptedPrivateKey` and `ParseEncryptedRawPrivateKey` APIs here:

https://github.com/ScaleFT/sshkeys

The hardest thing from making these an easy CR to gerrit from me is an external dependency on:

https://github.com/dchest/bcrypt_pbkdf

CC @dchest

[2017-01-20 08:04] myitcv opened #18728 "x/tools/refactor/rename: renaming struct should rename method receivers that follow naming advice"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

Using commit [fcfba28e23c7bbd8474b355ca7d6a9d88afcca00](https://github.com/golang/tools/tree/fcfba28e23c7bbd8474b355ca7d6a9d88afcca00) of `golang.org/x/tools/refactor/rename`

### W

[2017-01-20 08:24] riannucci commented on #14292
I guess that's why I was hoping the documentation could be clarified 😄. It sounds like the documentation should say something along the lines of "It is undefined behavior to call Err() before blocking on Done()."

[2017-01-20 08:26] hoenirvili commented on #5742
@elimisteve Cheers mate !

[2017-01-20 08:28] riannucci commented on #14292
(I was hoping that it would be reasonable to give Err() a meaning before Done() in order to make it safe, but it sounds like documenting this behavior is insufficient to make it reliable since other implementations of Context presumably don't couple these two.)

[2017-01-20 08:30] riannucci commented on #14292
(sorry for all the updates)

Would it make sense to have `govet` check for this misuse of Err?

[2017-01-20 08:46] dev-zero commented on #16778
@jpic did you try with `CONFIG_USER_NS` and can confirm that this was the issue?
I am running Gentoo Linux using Kernel 4.9.4 (without any fancy patches, but self-configured and built, stable with everything else) and go-1.7.4 and experience similar spurious errors as described here when trying to bootstrap go, build docker or build the test programs supplied here:

[code]

[2017-01-20 09:01] elevran commented on #18714
@bradfitz
I have.
An EINVAL is returned from the parsing which skips packet processing. Only two packets are processed before the userspace program receives (indirectly) an invalid argument error from ParseNetlinkMessage using the go 1.8rc2 code base.

The code is in the `subgraph` branch, since master has a fix that bypasses the issue in the go-nfnetlink package itself.

### build and run test pr

[2017-01-20 09:17] dvyukov commented on #18717
Tsan has a notion of "blocking regions" of code (e.g. pthread_cond_wait). It delivers signals synchronously in such regions as it knows that no activity happens on the thread. We could mark whole Go world as "blocking region", then tsan will deliver signals synchronously while in Go code. However, we call some tsan annotations (__tsan_acquire/release) from Go code, so we will need to somehow mark

[2017-01-20 10:58] aidylewis commented on #5742
@Integralist Does that solve the Vegeta issue or is it a different app?

[2017-01-20 11:07] mewmew commented on #11193
I would second this. Taint analysis of input variables and tracking external state changes is not simple.

Rather than making the implementation of test case output caching very complex, I'd much rather have a simple underlying principle which is easy to reason about for when test cases are re-run.

And, hashing of source file content is just that, simple and still rather effective.

If the *file

[2017-01-20 11:30] dchest commented on #18692
@pquerna I'm not sure how useful bcrypt_pbkdf is for other uses, so probably there's no point in integrating it into x/crypto, it would be easier to just put it into internal/ package or right into the package without creating a new package (it's not a lot of lines of code). It already uses Go BSD-like license, I can just change my name in the copyright header to Go Authors (I signed CLA and have

[2017-01-20 12:43] Tectract commented on #14496
build liteide tools ...
../../../../.go/src/github.com/visualfc/gotools/types/types.go:12:2: cannot find package "go/importer" in any of:

../../../../.go/src/github.com/visualfc/gotools/astview/astview.go:12:2: cannot find package "go/types" in any of:

have no idea what to do. Help?

[2017-01-20 14:04] fsenart opened #18729 "reflect: duplicate reflect.Type values under dynamic linking"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8rc2 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/fsenart/projects"
GORACE=""
GOROOT="/home/fsenart/tools/go1.8rc2"
GO

[2017-01-20 14:23] JovanCe opened #18730 "encoding/json: Unmarshal to nil pointer documentation discrepancy"
When trying to unmarshal a json string into a nil pointer, the operation fails as can be seen here:
https://play.golang.org/p/wL6UDpaJ-h

The error returned is InvalidUnmarshalError whose docs clearly state:
"The argument to Unmarshal must be a non-nil pointer." (https://golang.org/pkg/encoding/json/#InvalidUnmarshalError)

But the docs for the Unmarshal function state:
"Unmarshal unmarshals the J

[2017-01-20 15:39] bradfitz commented on #18729
/cc @crawshaw @randall77

[2017-01-20 16:02] bradfitz commented on #18714
Sure, send a change via Gerrit? See https://golang.org/doc/contribute.html

[2017-01-20 16:13] josharian commented on #18641
False alarm. While preparing a CL, I accidentally read the documentation (oops). CL on its way.

[2017-01-20 16:33] josharian commented on #18641
gopherbot down? [CL 35484](https://golang.org/cl/35484)

[2017-01-20 17:01] griesemer commented on #14496
@Tectract This is issue is not the place for asking questions. If you have a new issue, please file one with a clear description of what's wrong. If you have a general question, please consult with one of the Go forums. Thanks.

[2017-01-20 17:15] Tectract commented on #14496
hey I thought it was related. Problem solved by manually installing latest version of go.

[2017-01-20 17:16] nathany commented on #11193
If this is just based on source files (and possibly testdata), would it make sense if it was opt-in?

Something like `go test -fast ./...` to utilize the cache whereas running normally could update the cache but not rely on it? That way the default is to fully test everything without having to remember to flush the cache. It seems like a safer way to introduce the feature as well.

[2017-01-20 17:59] randall77 commented on #18725
Also proposed CLs at https://golang.org/cl/35496 (Cherry's) and https://golang.org/cl/35485 (mine).

[2017-01-20 18:57] #18641 closed

[2017-01-20 19:38] derekmarcotte commented on #15658
Using a fresh FreeBSD 10.3-RELEASE memstick-mini "live cd" mode (from the FTP release site), and [the above](https://github.com/golang/go/issues/15658#issuecomment-272147032), I got an aquirep panic, first try on identical hardware to [this machine](https://github.com/golang/go/issues/15658#issuecomment-272145683).

I'm going to use the GOGC=off and see if I still panic next.

At this point though

[2017-01-20 20:04] garethwarry opened #18731 "net/http: font version returns internal server error 500"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.1 windows/amd64
Edit: also occurs in 1.7.4

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows

### What did you do?
1. Created a web server: https://play.go

[2017-01-20 20:22] #18725 closed

[2017-01-20 20:44] joshlf commented on #12914
@rsc how does this interact with `SetDeadline` and friends?

[2017-01-20 21:08] randall77 opened #18732 "cmd/compile: free value in nilcheck.go"
Reminder bug to handle the TODO in cmd/compile/internal/ssa/nilcheck.go about freeing a nilcheck value after we've marked it as redundant.

[2017-01-20 21:16] bradfitz commented on #18731
Your handler has a bug. RequestURI includes the query string. The docs at https://golang.org/pkg/net/http/#Request say:

[code]

For questions about Go, see https://golang.org/wiki/Questions.

[2017-01-20 21:16] #18731 closed

[2017-01-20 21:35] bcmills commented on #18717
That seems much more complicated than making periodic libc calls on idle `M`s — we would also need to unblock the regions during cgo calls.

I was trying to fix it in 1.8, but the changes are invasive enough that Ian suggested we delay until 1.9.

[2017-01-20 21:41] bradfitz opened #18733 "proposal: net/http: add GODEBUG=http1debug ?"
The GODEBUG knob for http2 debugging (e.g. `GODEBUG=http2debug=2`) has proven to be very useful and popular.

Unfortunately it only works for HTTP/2.

There is code in the net/http package to do a similar thing for HTTP/1, but it's not accessible via an environment variable. Should we make it accessible with `GODEBUG=http1debug=...`?

[2017-01-20 21:50] garethwarry commented on #18731
You were right. Changing my usage of RequestURI to URL.Path resolved this problem. I'm surprised the CSS call worked with URI. Thanks for the help and pointer.

[2017-01-20 22:20] rhysh commented on #18155
Hi @aclements , yes CL 34291 PS 1 makes things better. It's particularly apparent when the heap is large, and the stalls of over 500ms are reduced to less than 100ms.

Here's the output I got from go1.8rc2 with CL 34291 PS 1 cherry-picked on linux/amd64:
[code]

The longest stall, 89ms, started around (7.122s-0.089s = 7.033s), which is _not_ immediately after the previous GC, which ended around (6

[2017-01-20 22:27] gaillard commented on #17985
Using this patch https://go-review.googlesource.com/#/c/35118/ and the rest of the http2 pkg at that commit and setting InitialWindowSize to 10 megs or higher resulted in a 6.7s time versus 10.6s without. This is the same test as above.

[2017-01-20 23:30] minux commented on #18641
I think the problem remains, we can't change all programs to pass non-zero
debug argument to WriteTo.

[2017-01-20 23:57] elico opened #18734 "Hijacker for getsockopt query only"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.6+1.7

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/eliezer/go-workspace"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux

[2017-01-21 00:01] josharian commented on #18641
But those who have the problem have a one line fix available. They'd have to do the same thing with a GODEBUG envvar.

[2017-01-21 00:18] TocarIP commented on #18020
I've figured out whats going on.
I was able to reproduce this issue only with GOMAXPROCS >= 3
This started happening on https://github.com/golang/go/commit/a6fb2aede7c8d47b4d913eb83fa45bbeca76c433
Which  enables new ssa compiler. Because of that, stack frames are now shorter, so stack growth happens while locks are taken. Previously due lo larger stackframes stack growth was happening outside of c

[2017-01-21 00:26] xiang90 commented on #18020
@TocarIP

I can confirm this. We also suspect that there is a more serious lock contention triggered by some runtime changes. So we change the locking mechanism, the problem disappeared.

But as you mentioned, this issue is probably still worth fixing.

[2017-01-21 00:59] walken-google commented on #18508
Prototype in https://go-review.googlesource.com/35488

[2017-01-21 01:24] bradfitz commented on #18734
Dup of #18686 from my interpretation.

[2017-01-21 01:24] #18734 closed

[2017-01-21 01:32] elico commented on #18686
#18734 is not a  duplicate since it's a special case and socket which this address is always changing du to the diffrent connections that is being intercepted by the proxy.
It's not static but dynamic for a tproxy socker and a server.

[2017-01-21 02:58] mundaym opened #18735 "cmd/compile: issue18725 test failing on s390x"
The test added in #18725 is failing on s390x. Looks like a bug in the SSA rules for constant propagation through MOVDNE (move if not equal) instructions.

Will send a CL.

[2017-01-21 03:14] mundaym commented on #18735
Sent https://go-review.googlesource.com/#/c/35498/.

[2017-01-21 03:21] #18735 closed

[2017-01-21 03:51] rsc commented on #12914
Still thinking. Design doc to follow.

[2017-01-21 05:08] walken-google opened #18736 "cmd/pprof: use proxy from environment"
Is there any reason for cmd/pprof not to use the proxy environment variables when defined ?

(actually, I would like it if the zero valued transport used the proxy defined by environment variables when available, but I think it's too late to change that at this point).

My use case is that I would like to pprof some devices through a socks5 proxy.

[2017-01-21 05:08] walken-google commented on #18736
Proposed change at https://go-review.googlesource.com/#/c/35489/

[2017-01-21 05:21] bradfitz commented on #18734
@elico, in #18686 you wrote:

It's not static but dynamic for a tproxy socker and a server.

If it's not a dup, please clarify what you want.

Maybe https://golang.org/wiki/Questions would be a better forum until the proposal can be refined. Maybe it already exists.

[2017-01-21 07:32] cruxic opened #18737 "proposal: x/crypto/bcrypt: allow external salt"
x/crypto/bcrypt does not allow you to specify the salt used with GenerateFromPassword().  Many other bcrypt libraries allow this.  I find myself needing it now.

I propose to add a new function `GenerateFromPasswordAndSalt(password, rawSalt []byte, cost int)`.  There would also be a new a new constant, `RawSaltSize = 16`.  The function will fail if salt is any other length.  This would be simple t

[2017-01-21 08:19] MiLk commented on #17676
I think I'm ok. I'll re-run again all the tests and see how to submit the code to gerrit.

[2017-01-21 08:56] Integralist commented on #5742
@aidylewis Different app I think? Can't remember now. It was the team's own CLI app interacting with internal BBC service behind self-signed cert that was the issue iirc

[2017-01-21 10:49] rhedile commented on #18737
Sorry for being a bit dense and sclerotic, but I have a dim recollection
that one of the motives behind bcrypt was to reduce salt collisions and the
success of dictionary attacks. Why would you want to expose such
information and thus weaken the hash?

On 21 January 2017 at 08:32, cruxic <notifications@github.com> wrote:

[2017-01-21 11:46] elico commented on #18734
@bradfitz I will try to clear up thing.
Maybe I am wrong with my assumption but from the snippets of code I have seen it's not this way.
I am writing a proxy which uses Linux TPROXY socket. It's a transparent proxy and in order to be a full transparent proxy I need to be able to know the original destination IP address of the connection that the software\proxy intercepted.
The localaddress will al

[2017-01-21 12:57] MiLk commented on #17676
Changes submitted https://go-review.googlesource.com/#/c/35513/

[2017-01-21 13:59] sanmai commented on #17271
Probably you have seen it already, but anyway...
https://github.com/cloudflare/hellogopher

It would be much better if we wouldn't have to resort to makefiles.

[2017-01-21 14:05] catalase opened #18738 "archive/zip: hyperlink is outdated"
https://golang.org/pkg/archive/zip

the link to zip spec on the page is outdated.

[2017-01-21 14:42] ccirello commented on #18721
Having written some examples in the documentation I tend to approach this proposal from the perspective of both using it in examples and impact on new gophers while reading them.

This would become, in my opinion, a very contentious operator/built-in, raising always a flamatory question on whether a such use case is more appropriate using it or not.

Frankly, I do not believe this should be a choi

[2017-01-21 15:15] golang101 commented on #18721
how about adding a keyword, **roe** (return on error), which like the **go** and **defer** keyword, being used as prefixes of function callings?

[2017-01-21 16:04] elevran commented on #18714
https://go-review.googlesource.com/35531

[2017-01-21 18:21] daved commented on #18721
@mdempsky
@dhananjay92

This sort of minimization can obviously be performed without changing the language (https://play.golang.org/p/F-ZZySWZ5P).

	v1, v2, err := valsNoErr()
	v3, errx := valNoErr()
	must("valsNE and valNE must", err, errx)
	useful(v1, v2, v3)

	must("jE must", justErr())
	useful("should have bombed already")

vs

	v1, v2 := must(valsNoErr(), "valsNE must")
	v3 := must(valNoErr()

[2017-01-21 18:35] dhananjay92 commented on #18721
@ccirello, @daved

`template.Must()` and daved's example only works for panicing. For that case, I agree that we shouldn't change the language, because used defined functions can do it.

But most[1] of the error handling deals with augmenting the error with contextual info and propogating it back to the caller. i.e.

[code]

This is the case I am more interested. I don't see how individual package

[2017-01-21 18:43] zet4 commented on #18721
@golang101 that would only work if you don't care about non-error returns

[2017-01-21 18:50] daved commented on #18721
@dhananjay92

This is much leaving the issue of "must". It does not require a built-in, it would require addition(s) to the `error` interface, if treating errors as values is not sufficient.

[2017-01-21 19:25] mdp commented on #17673
Quoting @agl from 2013 regarding this (https://groups.google.com/forum/#!topic/golang-nuts/AhNnnzLMUIE)

"It just refers to the fact that the API is in-memory, rather than streaming. So if you needed to encrypt something larger than half the size of memory you would either need to encrypt in chunks or do a bunch of work to make a streaming version of the code."

[2017-01-21 19:32] libeclipse commented on #17673
@mdp what would happen if you tried to encrypt something larger than memory/2? The function doesn't return an error, so I presume the system would just crash? When testing, I managed to encrypt fairly large amounts of data relatively quickly, although I don't remember how much data exactly, just that it was in the GBs.

It doesn't seem like a very portable system, since you wouldn't really know th

[2017-01-21 20:02] Xeoncross commented on #18721
My concern with "Must" would be that new developers would stop handling errors. They would just use the panic feature since it's less typing. I already see tutorials trying to do this:

[code]

Where `checkErr()` is just a wrapper around panic:

[code]

Making it easier to not correctly handle errors seems like it would be a big detriment to the language.

[2017-01-21 20:10] jcmturner commented on #17321
Hi, Is there any update on this issue as I'm also having a problem where I need to unmarshal into an []asn1.RawValue

Thanks

[2017-01-21 20:18] daved commented on #18721
@Xeoncross

While I don't do this, it is already possible now, and I don't have much of a problem with it if the intent is to bomb out in a main func.  Also, naming plays a large role as "checkErr" is unclear and even makes the example a bit of a straw-man.  "errTrip", "tripOnErr", etc.; Naming can bring enough clarity and separation from regular error handling that this sort of minimization doesn

[2017-01-21 20:24] josharian commented on #18704
Threw together a prototype for strings only. Not ready to be mailed; lots of sinit.go needs to be updated for better handling of interface values for a complete CL, and it's a fair amount of careful work. But it was enough to get some numbers to convince myself that this will help. For the go-kit logging benchmarks:

[code]

fmt benchmarks also show some improvements. CPU benchmarks omitted becaus

[2017-01-21 20:31] dhananjay92 commented on #18721
@daved,

Sorry, I don't understand. How can changing error interface avoid `if err != nil { return ... }` block? Can you provide an example, please?

[2017-01-21 20:32] ian-kent commented on #18721
I like the idea, but share @Xeoncross concerns about making it easier to not handle errors properly

That aside, if we get it, I'd prefer `must func()` over `must(func())` or the somewhat cryptic `#func()` to more closely match `go` and `defer` syntax

[2017-01-21 20:35] josharian opened #18739 "cmd/compile: order.go is outdated"
Many optimizations made in walk.go did not come with corresponding updates to order.go. For example, order.go makes a temporary for runtime calls for OCONVIFACE for many cases which walk special-cases not to make runtime calls. Another example is the introduction of temporaries for equality checks that walk inlines.

These do not impact correctness, but they might impact performance (if SSA cannot

[2017-01-21 20:49] daved commented on #18721
@dhananjay92

I'm sorry, I misunderstood your statement. I had thought you were moving away from the issue of control flow operators and strictly concerned with easing the modification of errors with prefixes/suffixes.

[2017-01-21 23:26] ibrasho commented on #18738
This is the current link: https://pkware.cachefly.net/webdocs/APPNOTE/APPNOTE_6.2.0.txt

[2017-01-22 00:08] ibrasho commented on #18055
@bradfitz Can you link the old fix for reference?

[2017-01-22 00:13] bradfitz commented on #18055
@ibrasho, you can probably find it in git history as quickly as I could. (which might not be super quick)

[2017-01-22 01:14] alexbrainman commented on #18690
I do not know.

I am not average Go Windows user - I use Linux to develop. But on Windows I rarely change my "global" environment. When I develop with Go, I have a.bat file (or many) stored on my desktop:
[code]
that I double click. That starts command shell with everything setup to my liking.

This allows me to quickly change everything I want (copy batch file and edit).

I can also run different

[2017-01-22 01:24] mdp commented on #17673
I assume you'll eventually hit one of two limits, physical memory + swap, or the Golang hard limit of 128gb.

Your solution to break it up into chunks seems like the best route to me. Streaming ciphers are another option, but they're not easy to get right (https://leanpub.com/gocrypto/read#leanpub-auto-messages-v-streams)

As for keeping track of the nonce, you could just generate a single nonce a

[2017-01-22 01:36] libeclipse commented on #17673
@mdp yeah for the current project I'm working on it's not a problem since I know exactly how big the plain texts are. However in the future I'll have to try and implement something along the lines of what you described.

[2017-01-22 02:06] josharian commented on #18704
Found a simpler and broader (and thus higher risk) implementation. [CL 35554](https://golang.org/cl/35554/)

[2017-01-22 02:58] cstockton commented on #18721
I admit when looking at word counts and scanning over large blocks of code without **reading** it the error checks seem repetitious. They require at least a one code block with a conditional and the assignment operation always directly precedes it. However I also believe this contributes a great deal to Go's readability, at least for me. The cognitive load of both handling and identifying operatio

[2017-01-22 03:04] cruxic commented on #18737
I agree that, for most developers, salt from crypto/rand is the best choice and this bcrypt implemenation saves the developer from having to think about it.  However, there are use-cases for externally provided salt so why not support it?  All other KDF packages in x/crypto take salt as a parameter (pbkdf2, hkdf, scrypt).  So does github.com/magical/argon2.  Why not bcrypt too?  Perhaps, for consi

[2017-01-22 03:17] ScottMansfield opened #18740 "cmd/compile: 63% benchmark slowdown in 1.7 -> 1.8rc2"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
$ go version
go version go1.7 darwin/amd64

$ go1.8rc2 version
go version go1.8rc2 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/

[2017-01-22 03:20] cespare commented on #18740
I think a code example will probably be necessary.

[2017-01-22 03:52] dansouza commented on #18721
How about introducing two keywords, `fail` and `must` ? fail as a block describes a common error handling pattern inside a function (kinda like a defer) that can be explicitly called (in which case the compiler just inlines the block in place) or implicitly called by the `must()` wrapper (when the called function returns a failure). `must()` looks like a function because it can have arguments (for

[2017-01-22 04:06] dsnet opened #18741 "testing: race in outputting to the root io.Writer"
Using Go1.7.4.

Consider the following test:
[code]
On some invocations, I see something like:
[code]

In [testing.go, we directly write "=== RUN   %s\n"](https://github.com/golang/go/blob/d10eddcba3e2cc90a822d80e7162f74501141eb8/src/testing/testing.go#L690) directly to the root's io.Writer (which is os.Stdout). Although it is safe to concurrently write to os.Stdout, the results can sometimes be n

[2017-01-22 04:08] josharian commented on #17725
Byte-sized values handled in [CL 35555](https://golang.org/cl/35555). I went the compiler route because it was simple and meant that byte-size values required no runtime call at all, shrinking ns/op from ~5 to ~1.

After handling byte-sized values and constant values (#18704), I instrumented the runtime to dump what integer-ish values made it into convT2E. During make.bash, I got this (unsurprisin

[2017-01-22 04:28] tv42 commented on #11193
This makes it much less likely for developers to realize they have flaky tests :(

[2017-01-22 05:08] minux commented on #17725
Is it impossible to reintroduce inline values in interfaces?

[2017-01-22 05:36] randall77 commented on #17725
It could be done if we increased the size of interfaces to 3 words.  Otherwise, I'm afraid that there are a host of complications (mostly in the garbage collector) which make sometimes-a-pointer-sometimes-a-scalar fields hard.  I can elaborate more if you wish.

[2017-01-22 05:40] josharian commented on #17725
Lots of prior discussion in https://github.com/golang/go/issues/8405.

[2017-01-22 05:59] kevinburke opened #18742 "x/build/gerrit: support Contexts?"
If you are making concurrent requests with the Gerrit API client in x/build/gerrit, it would be nice to be able to coordinate cancelation if the request is no longer necessary.

For example, https://go-review.googlesource.com/#/c/35551/ would fetch Github issues and Gerrit CL's in parallel; it would be nice to cancel one if the other fails.

There's some preliminary discussion about migrating a cl

[2017-01-22 06:06] shurcooL commented on #18742
In theory, with some amount of work, such a package can be automatically generated by source code rewriting of the original package. Then it can be easily kept in sync, it'd be just `go generate`. But I think it's a bad idea to have 2 packages permanently, if there's no long term plan to eventually join them (which would require breaking APIs).

[2017-01-22 06:38] bradfitz opened #18743 "x/build/gerrit: document lack of stable API"
The golang.org/x/build/gerrit package is a private implementation detail of the Go build system.

I have no time nor desire to maintain a complete and stable API for Gerrit.

We need to document that people are able to use it if they like, but it may change without notice, and it's on them to vendor it.

We have such notices on other packages, but I forgot to add it to the Gerrit package. And mayb

[2017-01-22 06:38] bradfitz commented on #18742
The real bug is #18743

Then we can simply add contexts. We're not going to maintain double the API surface. We can barely maintain 1x the API surface.

[2017-01-22 06:39] bradfitz commented on #18742
@kevinburke, feel free to add contexts.

[2017-01-22 06:46] cstockton opened #18744 "runtime/trace: emit events traceEv(String|Stack|Frequency) before dependent events"
This is a follow up from a few weeks ago from the mailing list [thread](https://groups.google.com/forum/#!msg/golang-nuts/q9y0pTtOK5A/QZv8PZJ-EwAJ) I wrote when I was taking a stab at implementing a [Go trace Encoder/Decoder](https://github.com/cstockton/go-trace/tree/master/encoding). While plenty of this feature still escapes me like the state machine that makes events consistent, it was a good

[2017-01-22 07:37] dhananjay92 opened #18745 "gdb: can't load debug symbols for cgo in 1.8"
### What version of Go are you using (`go version`)?
go1.8rc2

### What operating system and processor architecture are you using (`go env`)?
linux-amd64

### What did you do?
Tried debugging a cgo binary compiled with 1.8rc2. gdb can't seem to load debug symbols for it, but works for pure go binary. gdb also works fine in 1.7 for both go and cgo. Here's full matrix.

| Version | Binary Type | gdb

[2017-01-22 07:37] dhananjay92 commented on #18745
Keeping `1.8Maybe` for now, since this is a regression from 1.7. Please feel free to change the priority.

[2017-01-22 07:55] dhananjay92 commented on #18745
Couple of observations:

1. `start` gdb command seems to work with 1.8rc2 compiled cgo binary, though.

[code]

2. [`objdump --debugging`](https://gist.github.com/dhananjay92/b5c0c318a2bf47e337680de9975cc964) shows that user-defined packages have `0x0` in cgo-1.8 but are non-zero for pure a go binary.  Also, `.debug_pubnames` section [is missing entry](https://gist.github.com/dhananjay92/b5c0c318a

[2017-01-22 09:15] AlekSi commented on #18721
Just to note: it's not possible to add new keywords to Go 1. It will break programs where a new keyword is used as an identifier.

[2017-01-22 09:24] ardan-bkennedy opened #18746 "runtime/pprof: fetching profile results in EOF - 1.8rc2"
### What version of Go are you using (`go version`)?
go version go1.8rc2 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
macOS Sierra - version 10.12.2

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/bill/code/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="g

[2017-01-22 09:30] christophberger commented on #18721
Most of the proposals above suggest a keyword *in front of* the function to be wrapped with error handling. I tend to disagree that this makes a nicer look or better readability than the `if err := f(); err != nil...` construct that is already available in Go.

I like how Perl's `... or die` idiom allows to put error handling *at the end* of the statement.

    f() or die "f failed: $!"

(Where `$

[2017-01-22 11:45] r03 commented on #18721
Instead of a new operator maybe just add a special function?

[code]

If err != nil this would return 0,"", person{}

But this is probably not easy to implement and probably not worth it.

[2017-01-22 12:54] golang101 opened #18747 "cmd/compile: improve error message when if statement brace is on next line"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.7.4 linux/amd64

### What did you do?

	package main

	func main() {
		a := 1

		for a = 1; a < 2; a++ // syntax error: missing { after for clause
		{
		}

		if a == 1 // missing condition in if statement
		{
		}
	}

### What did you expect to see?

the two erro

[2017-01-22 14:10] vetinari opened #18748 "runtime: SIGILL in runtime.asmcgocall"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.8rc2: `Illegal instruction`
1.7.4: `go version go1.7.4 linux/arm`

### What operating system and processor architecture are you using (`go env`)?

[code]
output above from 1.7.4,  1.8rc2 just gets a SIGILL

### What did you do?

Install go binary from https://storage.googlea

[2017-01-22 14:16] vetinari commented on #18748
Note: gofmt runs fine, godoc also gets a SIGILL

[2017-01-22 15:01] dlsniper commented on #18721
Hi,

I wonder if this change should be in the language at all or not. I know that many people think that the `if err != nil { return err } ` is too much but I could argue that in fact it makes it clear to read quickly what the code does and it's explicit about it.

We praise Go for the clarity and simplicity it brings to programming and we love it for being able to link articles that were written

[2017-01-22 15:03] dlsniper commented on #18721
As I've forgot to mention it in my previous reply, but I think others did it already. By changing the way the editors display the code but not the language we also gain the benefit of not having to change any other tool built for the language itself, adding extra knowledge and responsibilities to them in order to satisfy this.

[2017-01-22 15:15] mvdan commented on #18747
Happens all the same on `go version devel +4cce27a3fa Sat Jan 21 03:20:55 2017 +0000 linux/amd64
`.

@golang101 perhaps retitle to something like `cmd/compile: wrong error when opening brace is on a new line`

[2017-01-22 15:34] christophberger commented on #18721
@dlsniper

A very good idea! Especially as this approach definitely does not break the Go 1 compatibility promise.

There is, however, a downside to this: Every IDE and editor plugin that implements this will implement this differently. Some of them won't implement this at all, and numerous tools (cat, less,...) will never become "Go error aware". Most web pages will continue to display plain code

[2017-01-22 15:45] dlsniper commented on #18721
I guess this could either be agreed or not on how the editors will choose to display this. But if you are a user of a particular editor chances are that you are rarely jumping editors on a high frequency for this to be so bad. But as I've said, editors could agree on this for the display output.

I agree that non-Go tools and say Github / Bitbucket or other places would display this maybe in a dif

[2017-01-22 17:11] mundaym opened #18749 "cmd/asm: s390x instruction VREPI{H,F,G} encoding is incorrect"
The M3 field isn't being written out (it is hardcoded to 0) so `VREPI{H,F,G}` are all encoded as `VREPIB`.

[2017-01-22 18:18] septs opened #18750 "hijack deadlock issuer"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go version go1.8beta2 linux/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
PoC
see https://play.golang.org/p/23AuanjGHM

### What did you expect to see?
fix it

### What did you see instead?
![image](https://

[2017-01-22 18:19] josharian commented on #18402
Gophetbot still seems ill, so: [CL 35562](https://golang.org/cl/35562)

[2017-01-22 18:27] bradfitz opened #18751 "runtime: macOS Sierra builders spinning"
I finally (sorry) set up macOS Sierra VMs last week.

They keep hanging in infinite loops. I just attached to one of them to see what's going on:

<img width="956" alt="screen shot 2017-01-22 at 10 22 00 am" src="https://cloud.githubusercontent.com/assets/2621/22184718/e26a2baa-e08c-11e6-885a-f9b8bb53d4ec.png">

The `go_bootstrap install -v std cmd` command is spinning.

Using `dtrace -p <pid>`, I

[2017-01-22 18:32] septs commented on #18750
I think that might be relevant to the code snippet
see https://github.com/golang/go/blob/release-branch.go1.8/src/net/pipe.go#L57-L67
see https://github.com/golang/go/blob/release-branch.go1.8/src/net/http/server.go#L288-L306
see https://github.com/golang/go/blob/release-branch.go1.8/src/net/http/server.go#L677-L689

[2017-01-22 18:34] bradfitz commented on #18750
For questions about Go, see https://golang.org/wiki/Questions.

This just looks like a bug in your program. Your channel is unbuffered, so your dial never completes.

[2017-01-22 18:34] #18750 closed

[2017-01-22 18:56] Icenowy commented on #18750
[code]

Results on GCC Go.

[2017-01-22 18:58] josharian commented on #17725
[CL 35563](https://golang.org/cl/35563) implements the strategy "use zerobase for small pointer-free zero values". It could probably be optimized a bit, but it's a first look at the cost/benefit of doing it entirely in the runtime. Checking `if val == 0` in the calling code should be more efficient, because the `== 0` check will be more efficient, but it's also considerably more of a pain to imple

[2017-01-22 18:59] josharian commented on #17725
And with that, I'm going to pause my hacking on interface conversions. I hope that making the code and numbers concrete will help the conversation about the correct direction to go from here.

[2017-01-22 19:02] septs commented on #18750
Hijack is not used and does not cause problems
@bradfitz see https://play.golang.org/p/XgZwSOs6W3

[2017-01-22 19:07] bradfitz commented on #18750
The bug in your code I mentioned above still remains in your code.

Please take this to a forum. This isn't a bug in Go.

[2017-01-22 19:12] anitgandhi opened #18752 "proposal: x/crypto: Add FF1 and FF3 Format Preserving Encryption algorithms"
### Introduction

I have a package written that implements the new NIST approved FF1 and FF3 Format Preserving Encryption (FPE) algorithms. You can read about FF1 and FF3 in the [NIST 800-38G Recommendation](http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-38G.pdf).

While the algorithms are technically written to use any underlying block cipher, as of right now, only AES is approv

[2017-01-22 19:16] bradfitz commented on #18751
When SIGQUITTING it, assuming my Ctrl-\ went to the right process:

<img width="913" alt="screen shot 2017-01-22 at 11 10 19 am" src="https://cloud.githubusercontent.com/assets/2621/22185108/2b07904e-e094-11e6-9b91-712bb4f97e10.png">

[2017-01-22 19:17] bradfitz commented on #18751
(Other comment deleted. The SIGQUIT shown in the deleted post was the buildlet process, not the spinning one.)

[2017-01-22 19:18] josharian commented on #18747
@golang101 thanks for filing issues. Would you mind helping [the folks doing triage](https://github.com/golang/go/wiki/Gardening#triage-new-bugs) by identifying the relevant component in the issue title, when you know it? Thanks!

cc @odeke-em

[2017-01-22 19:20] josharian commented on #18751
Probably unrelated, but just in case...yesterday, the net/http tests starting hanging on my laptop, and required a reboot to get passing again. The test that was hanging was TestTransportPersistConnReadLoopEOF. I'm afraid I don't have the stack traces anymore. Again, probably unrelated, many of the net/http benchmarks fail on Sierra with 'too many open files'.

[2017-01-22 19:21] josharian commented on #18748
Possibly related: #18694. cc @minux @cherrymui

[2017-01-22 19:24] josharian commented on #18746
If you do `curl -vv http://localhost:5000/debug/pprof/profile`, what does it say? What happens if you manually try to dump the profile?

[2017-01-22 19:30] bradfitz commented on #18751
@josharian, this is just `go install`, so we're not even running tests yet. But I could imagine the highly-parallel `net/http` tests using lots of FDs. Please open a separate bug for that.

[2017-01-22 19:38] mvdan commented on #18747
@josharian did you mean that triage sentence towards me? I haven't requested github access, maybe I should.

[2017-01-22 19:42] josharian commented on #18747
It was meant for @golang101. But you should definitely request GitHub access.

[2017-01-22 20:03] bradfitz commented on #18734
/cc @mikioh, who knows networking things.

[2017-01-22 20:04] cherrymui commented on #18748
I can confirm that, on my Raspberry Pi 1. I wonder whether the release binary is really compiled to ARMv6, especially the C part (since gofmt runs ok, which is a pure Go binary).

[2017-01-22 20:07] bradfitz commented on #18748
@cherrymui, can you inspect the binaries from the download URL and check?

Otherwise, you can see how they're built in x/build/cmd/release

/cc @broady

[2017-01-22 20:11] cherrymui commented on #18748
@bradfitz, I just tried the binary from https://storage.googleapis.com/golang/go1.8rc2.linux-armv6l.tar.gz, got SIGILL on the go binary and godoc, while gofmt is ok. SIGILL happened in `_cgo_try_pthread_create`, that's why I wonder that's the C compiler.

[2017-01-22 20:14] dhananjay92 commented on #18745
git-bisect points at 795ad07b3be3cb51e07d502409f815f7d1f97305 as the first bad commit.

That commit seems very likely, because it moved DWARF symbol generation from linker to compiler. This works for pure Go binaries, but for cgo it seems to miss some symbols. CCing people involved in that change.

/cc @matloob, @crawshaw

[2017-01-22 20:23] septs commented on #18750
https://play.golang.org/p/vUcIHQ9Lyu
@bradfitz not is channel issue

[2017-01-22 20:31] bradfitz commented on #18750
Well you hijack the connection and then never do anything with it, ignoring the return result, so of course nothing happens. The client is deadlocked waiting for a result that will never come.

Please take this to a mailing list.

This is a bug in your program.

[2017-01-22 20:39] septs commented on #18750
[code]
do not use `net.Pipe()`
[code]

[2017-01-22 20:42] septs commented on #18750
through `net.Pipe()` can not run to `println("hijack done")`

[2017-01-22 20:51] septs commented on #18750
@bradfitz ??

[2017-01-22 20:54] bradfitz commented on #18750
You don't understand how Hijack works. Please use a forum.

I don't provide technical support in the bug tracker.

Again, for questions about Go, see https://golang.org/wiki/Questions.

[2017-01-22 21:31] josharian opened #18753 "net/http: benchmarks fail on sierra with 'too many open files'"
Sample run excerpt:

[code]

[2017-01-22 21:58] emansom commented on #7758
Has this been implemented yet?

[2017-01-22 22:01] cherrymui commented on #18748
It seems cmd/release just runs all.bash on the linux-arm builder, and I didn't see anywhere in the build procedure it sets gcc flags. So I assume it just builds for its native architecture, which is ARMv7.
It seems it has been like that for long. I wonder how it worked before, maybe we are just lucky that it happened to not generate new instructions? FWIW, the fault is in `_cgo_try_pthread_create`

[2017-01-22 22:02] vcabbage commented on #18746
This appears to be due to interactions between `http.Server.ReadTimeout`, `http.Server.WriteTimeout` and `http.CloseNotifier`.

@ardan-bkennedy's application configures the server as so:
[code]

Adding some debug lines to the `/debug/pprof/profile` handler we can observe the effect of the timeouts:

[code]

Go 1.7:

[code]

1. Request made to `/debug/pprof/profile`.
1. Handler defaults to a 30 sec

[2017-01-22 22:05] smyrman commented on #4719
It would be nice if binary-only packages (#2775) still live in $GOPATH/pkg, even if the remaining files where to move to OS specific cache directories.

[2017-01-22 22:49] bradfitz commented on #18746
Seems like everything is working as documented, then:

https://beta.golang.org/pkg/net/http/#Server.WriteTimeout
[code]

Closing. Please reopen if we misunderstood.

[2017-01-22 22:49] #18746 closed

[2017-01-22 23:14] bradfitz commented on #18748
Which gcc flags should be set? And by what, ... should cmd/go do it?

[2017-01-22 23:21] cherrymui commented on #18748
I wonder setting GOARM=6 should imply setting gcc flags -march=armv6, maybe by cmd/go?
cc @minux

[2017-01-22 23:21] bradfitz commented on #7758
@emansom, doesn't look like. Does this affect you? For which site?

@agl, is it your intention to ever implement this? If not, please close with a reason.

[2017-01-22 23:33] minux commented on #18748
Perhaps we could just add these two environment variable before running
make.bash?

CGO_CFLAGS="-march=armv6"
CGO_LDFLAGS="-march=armv6"

If it helps, let's not change cmd/go this late, as I'd like to figure out a
complete story for ISA variants in Go 1.9.

[2017-01-22 23:36] bradfitz commented on #18748
@minux, SGTM.

Could you send a CL?

[2017-01-22 23:36] cherrymui commented on #18748
@minux SGTM, if it works.

[2017-01-22 23:46] vcabbage opened #18754 "cmd/pprof: remove redundant URLs in error messages"
### What version of Go are you using (`go version`)?

`go version go1.8rc2 darwin/amd64`

### What did you do?

As observed in #18746:
[code]

The URLs in the message are redundant, making the relevant portion less obvious. I propose omitting the redundant URL when the error is of type `*url.Error`.

[2017-01-22 23:49] bradfitz commented on #18754
It's always of type *url.Error if it comes from an http.Client.

[2017-01-22 23:50] bradfitz commented on #18753
What's your `ulimit -a`? Macs are always super low, IIRC.

[2017-01-23 00:23] jargv commented on #18721
I was intrigued by @dlsniper's suggestion, so I started a vim plugin to try it out: [jargv/vim-go-error-folds](https://github.com/jargv/vim-go-error-folds). I've only used this very briefly, but so far I kind of like it.

[2017-01-23 00:28] cherrymui commented on #18748
I send CL https://go-review.googlesource.com/c/35501/. It works on my raspberry pi.

[2017-01-23 00:29] #18748 closed

[2017-01-23 00:30] vcabbage opened #18755 "net/http/pprof: return error when requested profile duration exceeds WriteTimeout"
### What version of Go are you using (`go version`)?

`go version go1.8rc2 darwin/amd64`

---

As observed in #18746, if a profile duration >= to the server's WriteTimeout is requested, the request will always fail with an EOF once the WriteTimeout elapses. Handlers which accept a duration parameters should check the WriteTimeout and return an error before starting the profile.

(A handler can ret

[2017-01-23 00:34] dlsniper commented on #18721
To be clear, this not my idea, I've not named the source of inspiration as I'd rather keep this focused on the proposal itself rather than have a debate of merits of IDE / editors / whatnot which could be polarizing and biased.
However, for the record, the idea, screenshot as well as the discussion for it can be seen here: https://youtrack.jetbrains.com/issue/GO-3347 (it's for the upcoming Go IDE

[2017-01-23 00:50] bradfitz commented on #18755
I suppose we could've just reused that other bug, but this one is nice & succinct, so this works too.

/cc @ardan-bkennedy

[2017-01-23 00:57] bradfitz commented on #18740
Of at least that function.

Unless @randall77 or @josharian can tell by glancing at the assembly output.

[2017-01-23 01:23] agl commented on #7758
DHE is slow, has compatibility issues over 1024 bits and is getting removed in browsers. No plans to support it.

[2017-01-23 01:23] #7758 closed

[2017-01-23 01:27] agl commented on #18752
Are these needed for implementing anything that Go coders might want to implement? (The bar for x/crypto is pretty low, but things are expected to be generally usefully to at least a small number of people.)

[2017-01-23 02:04] ScottMansfield commented on #18740
I'm working on extracting the function and the inputs the benchmarks generate

[2017-01-23 02:06] ardan-bkennedy commented on #18746
@vcabbage thank you for taking the time to figure all that out. It makes total sense now. Thank you as well @bradfitz.

[2017-01-23 02:43] indiandragon opened #18756 "runtime: tests fail in raspbian jessie on Raspberry Pi 3"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

Go src version : 1.7.4

### What operating system and processor architecture are you using (`go env`)?

Linux raspberrypi 4.4.38-v7+ #938 SMP Thu Dec 15 15:22:21 GMT 2016 armv7l GNU/Linux

PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VER

[2017-01-23 02:46] bradfitz commented on #18756
Looks like it just doesn't have enough memory.

[2017-01-23 02:46] minux commented on #18752
should we consider adding a 2nd level directory structure to x/crypto? the
top level packages are too crowded, which makes it difficult for users to
find packages.

If ff1 and ff3 are treated as a separate mode of block ciphers, perhaps we
can place them under x/crypto/mode/{ff1,ff3}? (I believe these two packages
are the first mode additions, so it's probably ok to place them under
x/crypto/mode?

[2017-01-23 03:03] aclements commented on #18751
@bradfitz, can you `kill -QUIT` the `go_boostrap` process directly to get a traceback? Or if that doesn't work maybe send SIGQUIT to the whole make.bash process group (like ^[ at the terminal would).

[2017-01-23 03:08] randall77 commented on #18740
I see nothing obviously wrong with the assembly.  I see no reason why that particular instruction should be slow - it's just reading a stack slot that was written dozens of instructions ago.

[2017-01-23 03:10] bradfitz commented on #18751
I did `kill -QUIT` the `go_bootstrap` process directly to no avail, several times. It didn't appear to quit. Maybe that's telling in itself.

I then also tried a Ctrl-\ at parent (the buildlet) and got a backtrace of only the buildlet (backtrace paths were like /home/bradfitz instead of the expected /Users/gopher)

Trying again now.

[2017-01-23 03:15] dhananjay92 commented on #18751
Possibly related: #17161 . Infinite retry was added to solve that issue. From the [second stacktrace](https://cloud.githubusercontent.com/assets/2621/22185108/2b07904e-e094-11e6-9b91-712bb4f97e10.png), it looks like it is going into that infinite retry loop.

[2017-01-23 03:21] golang101 commented on #18747
@josharian I would like to.

[2017-01-23 03:23] ScottMansfield commented on #18740
Got it isolated. Right now I have an example of the benchmark case that had the worst slowdown. Unfortunately the benchmark included somewhat large generated input data, so I have had to manually include that as very large arrays. I can work on a smaller one, but this shows pretty easily the slow down.

I can't paste it at play.golang.org (I get a server error) so I put it in a github gist: https:

[2017-01-23 04:03] aclements commented on #18751
That's too bad. A few other things come to mind: Does it freeze even if you run a trivial subcommand like, say, `go_bootstrap version`? Can you dtrace `go_bootstrap` from the start? Can this be bisected?

I would expect to see Mach semaphore calls in the dtrace if this were the case, though maybe those are at the wrong level in the OS X kernel for dtrace? (I've always found this confusing.) The se

[2017-01-23 04:17] ianlancetaylor commented on #18751
Can you add a `-x` to the `go_bootstrap` command near the end of make.bash so that we can see where it is hanging?

In case it's not obvious the `select` calls are from calls to `runtime.usleep`, but unfortunately we don't know the duration of the sleep so we don't know precisely which call is looping.  It could just be the `sysmon` thread.

[2017-01-23 04:26] quentinmit commented on #18751
@aclements `dtrace` only shows traditional BSD-style syscalls, not Mach calls.

[2017-01-23 05:05] minux commented on #18751
Additionally, dtrace can only handle cgo using (dynamic linking) Darwin
binaries.

[2017-01-23 06:38] Nodarii commented on #14816
I had the same issue with the same output, but with newer version. Removing `usr/local/go` solved it. Thanks

[2017-01-23 07:23] Karl-Gustav commented on #9519
@vania-pooh Am I right in assuming that I can't unmarshal a namespaced tag into a namespaced struct?  (I.e. go sees them as two different objects)

Here's an example of what I mean, here "urn:copyright" is not unmarshaled, but if the name is changed to "copyright" is: https://play.golang.org/p/lb1oZ0ATwz

[2017-01-23 07:42] kardianos commented on #18719
I'm not sure why gobot didn't post it, but this should be resolved with https://go-review.googlesource.com/c/35550/

[2017-01-23 08:48] vania-pooh commented on #9519
@Karl-Gustav not sure, I played only with marshalling. But so far as I understand currently Go supports only prefixed attributes and does not support prefixed tag names.

[2017-01-23 10:06] mvdan commented on #18756
@indiandragon have you looked at https://github.com/golang/go/wiki/GoArm? It shows some tricks to make use of less memory and add more via swap.

I also seem to remember that 1.8 should take slightly less memory when compiling, so try building rc2 if all else fails.

[2017-01-23 10:15] davecheney commented on #18756
note: Go is built and installed by the time you encounter this failure. If
your goal is to build Go from source, you can safely ignore this error, and
opt to use ./make.bash in the future to avoid running the entire test suite.

On Mon, Jan 23, 2017 at 9:06 PM, Daniel Martí <notifications@github.com>
wrote:

[2017-01-23 10:18] FiloSottile commented on #17271
_o/ I wrote hellogopher above and meant to comment here about it.

It's not the goal of hellogopher to be a definitive solution, but to show that the user flow is desired and useful, and to act as a stopgap.

I was very happy to find this proposal. I think what's missing from @rasky's is a way to define the import path "cutoff point", which in hellogopher is a Makefile with IMPORT_PATH defined, wh

[2017-01-23 10:20] christophberger commented on #18721
The "or..." syntax does not trigger any of these questions. `return` and `panic` directives remain visible. The last argument *must* be an error value, otherwise the `or` clause would not compile.

This said, editor plugins might indeed be the way to go. After all, they are a solution that can be applied *now*, whereas all language changes have to wait for Go 2.

I particularly like the way how @j

[2017-01-23 10:23] mvdan commented on #17271
If dot files are to be avoided, perhaps a magic header similar to `+build` in a determined Go file like `doc.go` would be a better option. That would also mean that an extra file could be avoided.

[2017-01-23 10:59] ALTree commented on #18740
go1.7, for `binary.LittleEndian.Uint32(b)`, is generating

[code]

while go1.8 is generating

[code]

this is due to 26a6131bacb5dbc491f77329557580df0a310858.

Unfortunately the single `mov` generated by 1.8 is stalling the CPU at the following instruction, a `mov` generated by the `if curId == id` line, (which is present, unchanged, in both 1.7 and 1.8):

[code]

If you substitute the following l

[2017-01-23 11:58] indiandragon commented on #18756
@bradfitz @mvdan I'll look into the memory as you guys suggest and revert.

@davecheney That's interesting, I installed go-lang as a dependency, I check whether my intended project runs fine and revert.

[2017-01-23 12:21] skelterjohn commented on #17271
One solution that I've built into the Google container builder service is
to use an import comment (ie `package main // import "github.com/you/that"`
to determine things.

On Jan 23, 2017 5:18 AM, "Filippo Valsorda" <notifications@github.com>
wrote:

[2017-01-23 12:42] dgryski commented on #18740
So, increased memory latency due to unaligned memory access in 1.8.  Interesting to read and compare with http://lemire.me/blog/2012/05/31/data-alignment-for-speed-myth-or-reality/

[2017-01-23 15:08] OrangeTux opened #18757 "proposal: net: ParseIP should return an error, like other Parse functions"
`net.ParseIP` has 1 return value. It doesn't return a value of type  `error`. Other parse methods like `url.Parse`, `time.ParseDuration` and `net.ParseMAC` return 2 values. One of a specific type, the other is of type `error`.

Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go version go1.7.go version go1.7.4 linux/amd64`

[2017-01-23 15:48] rsc commented on #18751
Most likely explanation is you are bootstrapping with a stale Go 1.4, without the Sierra time fix patches.

[2017-01-23 16:13] kevinburke commented on #18743
Problem with gopherbot? Here's my commit message which is (I believe) formatted correctly but no comment.

[code]

https://go-review.googlesource.com/#/c/35559/

[2017-01-23 16:13] randall77 commented on #18740
This looks like some sort of partial read/write stall.
Compare these two benchmarks:
[code]
1.7 to 1.8:
[code]

BenchmarkA is faster probably exactly because of the load combining in the `binary.LittleEndian.Uint32` call that 1.8 does.  Alignment doesn't matter, I get approximately the same performance if we load from g[i+1:] instead.

The copy is what makes BenchmarkC fall over.  I think what is

[2017-01-23 16:30] randall77 commented on #18740
CL is https://go-review.googlesource.com/c/35567/

[2017-01-23 16:33] TocarIP commented on #18740
Looks like store-forwarding issue.
Optimization manual says  (2.4.4.4):
The following rules must be met for store to load forwarding to occur
...
The store must be equal or greater in size than the size of data being loaded

[2017-01-23 16:34] AlekSi commented on #16526
There is an external package with some documentation for events format: [go-trace](https://godoc.org/github.com/cstockton/go-trace/encoding).

[2017-01-23 16:48] akshayjshah opened #18758 "cmd/vet: Docs missing headings"
### What version of Go are you using (`go version`)?
`go version go1.7.4 darwin/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I checked the documentation for `cmd/vet`, by both running `go doc cmd/vet` and visiting https://golang.org/cmd/vet/.

### What did you expect to see?
I expected to see a heading and an accompanying table

[2017-01-23 17:32] ALTree commented on #18744
Hi,

is this a proposal (to be evaluated) or a feature-request-issue that you plan to fix by sending those patches you mention?

[2017-01-23 17:32] kardianos opened #18759 "database/sql: need to establish a common wait time to return conns to pool"
From
https://build.golang.org/log/73f2669c736381aa9b2e345f9a582972a493929d
https://build.golang.org/log/5a47d23e13e67143640eeed8f231506a6bae927e

both mips hosts.

https://build.golang.org/log/ffb549b79f60b89283776a265cad961797cd39a1

from arm.

[code]

I don't think this is a critical issue in the sql code itself. I think this is an issue in how the test is implemented. The check for number of co

[2017-01-23 17:33] TocarIP commented on #18740
Just to be sure I've collected perf events ( ld_blocks_store_forward).
As expected, there is a 3 orders of magnitude difference
  301,876,563 vs 276,025 (before vs after patch)

[2017-01-23 17:34] ianlancetaylor commented on #18757
Reasonable but we can't change it now.  Marking as go2.

[2017-01-23 18:03] LukeMauldin opened #18760 "Use consts in field tags"
Using Go 1.7.3.  Would like to use const string definitions in struct field tags.  Example: [https://play.golang.org/p/dtxXbSwvzY](https://play.golang.org/p/dtxXbSwvzY)

Use case: using mgo driver to serialize data to MongoDB using bson.  Would like to reference struct tag field names in custom queries.

[2017-01-23 18:04] vcabbage commented on #18758
Fixed for 1.8 by https://golang.org/cl/29340/ and https://golang.org/cl/31319/. You can view the pre-release docs here: https://beta.golang.org/cmd/vet/.

I'm going to go ahead an close this, feel free to reopen if there are any additional formatting errors not addressed.

[2017-01-23 18:04] #18758 closed

[2017-01-23 18:09] bradfitz commented on #18760
Are you proposing a language change? If so, see https://github.com/golang/proposal/

I'm going to close this for now. If you want to write up a bit more of a formal proposal feel free to reopen this or file a new bug. Otherwise I don't see this happening. The language is pretty frozen at this point.

[2017-01-23 18:09] #18760 closed

[2017-01-23 18:16] bradfitz commented on #18751
@rsc, I addressed that in the top comment. That was a problem when I first set up the builder (cloning from 10.11), but it very quickly revealed itself to be a problem.

But I just double-checked anyway.

I logged into a 10.12 VM, extracted https://storage.googleapis.com/golang/go1.4-bootstrap-20161024.tar.gz from the https://golang.org/doc/install/source page into a new directory and diffed the V

[2017-01-23 18:23] rsc commented on #18751
@josharian your hang is #18541. I think that's not the issue here (no network involved).

[2017-01-23 18:28] rsc commented on #18751
A little concerned about the go1.4-bootstrap tar not having e39f2da (fix unsigned shift "warnings"), but I just tried flipping my go1.4 to the CL from the bootstrap tar and it works OK. I still think this seems like the time problem, but clearly not that exact time problem (sorry for missing that in the original post). Maybe something is different when running under VMware.

@bradfitz can you send

[2017-01-23 18:29] ianlancetaylor commented on #18745
Your test case seems to work for me.

    go version devel +1106512db5 Fri Dec 16 22:30:12 2016 +0000 linux/amd64

     <2><27a05>: Abbrev Number: 0
     <1><27a06>: Abbrev Number: 2 (DW_TAG_subprogram)
        <27a07>   DW_AT_name        : github.com/dhananjay92/cgo_debug_info/a.A
        <27a31>   DW_AT_low_pc      : 0x0
        <27a39>   DW_AT_high_pc     : 0x0
        <27a41>   DW_AT_external

[2017-01-23 18:47] crawshaw commented on #18729
This is probably a reflect bug of some sort meaning a message is being encoded incorrectly.

While it's a nice short test case (thanks!) it's tricky to pull apart because the "bad record MAC" is an error coming back from the server. I'm going to see if I can get some of the cyrpto/tls unit tests running inside a plugin and hope those narrow it down.

If they don't, does anyone have a TLS server de

[2017-01-23 18:50] cstockton commented on #18744
If the changes are agreed upon by the Go team, I am comfortable cleaning up my patches and sending them for review.

[2017-01-23 18:51] bradfitz commented on #18751
Done.

[2017-01-23 19:01] ALTree commented on #18744
No `proposal` label then, just cc @dvyukov for opinions.

[2017-01-23 19:07] dsnet opened #18761 "net/http: describe where multiple response.WriteHeader calls occur"
I see this in an HTTP server log:
[code]
Written by the [http package here](https://github.com/golang/go/blob/b2a3b54b9520ce869d79ac8bce836a540ba45d09/src/net/http/server.go#L1053).

It would be nice if it described file+line of the first non-http package function that caused WriteHeader to be called so that it's easier to find the offending code.

\cc @bradfitz

[2017-01-23 19:15] rsc commented on #18751
OK, I'm running make.bash in a loop waiting for a hang to poke at. In the meantime, I've remembered #18540, which may be the same thing - unexplained hang waiting for child.

[2017-01-23 19:20] DeedleFake commented on #18721
@Xeoncross said:

As an example of this exact issue, I've seen this in Rust when I've dabbled in it. In Rust, errors are returned as part of a tagged union called `Result` which can hold either have the actual return value or an error. `Result` has a number of methods on it for handling errors, including an `or()` method, but most of the time people just call `unwrap()` which returns the return va

[2017-01-23 19:25] narJH27 commented on #16065
Hey,

I am running the `go1.7.4` with the following env settings, and I still see the above issue:

[code]

Any idea if this fix has been included in the 1.7.4 build, because the current status of this issue is still `Unreleased` ?

[2017-01-23 19:39] #18740 closed

[2017-01-23 19:43] rsc commented on #18569
I think for this release the fix is going to be to use template.HTML (or the type indirection) to insert <% ArbitraryJS %> into your output.

[2017-01-23 19:44] myitcv commented on #18728
@cznic just noticed you gave this a 👎

What's your thinking behind this not being the right thing to do?

[2017-01-23 19:51] bradfitz commented on #16065
@narJH27, it's Unreleased because golang.org/x/sys/unix does not ship with Go releases. You need to update your copy of golang.org/x/sys/unix on disk.

[2017-01-23 19:59] cznic commented on #18728
If I command some tool to rename a particular identifier x to y I want it to do exactly and precisely that or tell me why it cannot do it. I never ever want any magic involved unless I specifically ask for magic, which I basically never do nor want. If I want to also rename the receiver then I want to explicitly ask for one more rename, and then again, I want to have full control over the new rece

[2017-01-23 20:07] cespare commented on #18728
I agree that renaming a type shouldn't rename the method receivers (it does feel too "magical", to borrow @cznic's word) but it would be useful for rename (or some other tool) to have the ability to rename the receiver of all methods of a type from x to y. From reading the gorename docs, it seems like you'd currently have to do a separate rename on every method.

[2017-01-23 20:07] dlsniper commented on #18721
I think this is not needed, both from the editors and from the Go team. There's no need for the Go team to specify how code is rendered and there's no need to have this consistent across the editors either. If someone comes up along the way with a different format then everyone likes it the editors should be able to cope with having options for how to handle it.

[2017-01-23 20:09] rsc commented on #18751
I have run 61 successful make.bash in a row on that VM.

I also restarted the buildlet. Lots of Go 1.6 SIGSEGVs, not surprising. On Go 1.8, [one hang in crypto/ssh during netPipe](https://build.golang.org/log/79388dc1f300bb8a9b928ede2586f399995fa873), which does:

[code]

That looks a little suspect. I don't know if it's guaranteed that the Dial will return before the Accept executes. I think ther

[2017-01-23 20:11] rsc commented on #18733
Seems OK to me (Go1.9Early)

[2017-01-23 20:14] rsc commented on #18721
I'm inclined to close this proposal but remember it for a longer error-related discussion later in the year (or just put it on hold until then). As I wrote at https://research.swtch.com/go2017#error, the big disappointment I have with the way most code uses errors is exactly that most code doesn't add important context. It justs 'return err'. Making that mistake even easier seems like a step in th

[2017-01-23 20:17] dhananjay92 commented on #18745
objdump shows same output like yours (`0x0` for `DW_AT_low_pc` and `DW_AT_high_pc`): https://gist.github.com/dhananjay92/b5c0c318a2bf47e337680de9975cc964

Does `list` gdb command work for you? For me it doesn't.

[code]

I also tried doing the same at 1106512db5 (just in case), but I get the same result (gdb can't `list`).

[2017-01-23 20:18] rsc commented on #18737
@cruxic, @rhedile asked why you want this, and you didn't answer. You've said:

and

Again, _why_? What are the use cases?

If they are not particularly common, you always have the option of making a local copy of bcrypt.

[2017-01-23 20:20] rsc commented on #18681
I think you missed elf.ST_BIND and elf.ST_TYPE.

[2017-01-23 20:22] rsc commented on #18590
/cc @RLH @dr2chase @aclements

[2017-01-23 20:23] christophberger commented on #18721
The did it already by providing `go fmt`. Creating a tool that ensures consistent source code look-and-feel for everyone was a genius move IMHO. No more arguing about how code should be formatted. This should not be diluted by a *laissez-faire* attitude towards code representation in editors.

[2017-01-23 20:24] rsc commented on #18678
I don't object to this in theory, but I don't understand the exact proposal.

Please define "wrong".

[2017-01-23 20:26] rsc commented on #18342
It still seems like automatic linking is worth doing regardless, and it may (or may not) help enough that we don't need to do anything else. It seems like we should do that before we consider more invasive changes.

[2017-01-23 20:30] rsc commented on #18617
@bcmills

I think you mean "fix". In your playground snippet, which prints:

    *main.ValueStringer(<nil>)
    *main.ValueStringer()

the `<nil>` is not coming from the fmt.Stringer at all but instead is the fmt package covering up the fact that the String method panicked.

Compare with https://play.golang.org/p/4gWM_cFVNM.

[2017-01-23 20:31] dansouza commented on #18721
@rsc at the very least, I think a callstack with file:line should always be part of error types... printing an `error` should show a full call stack (just like a panic).

Adding extra context to errors as a key-value would be ideal too (like context.Context) - so if inserting a row into a database table fails, I can add that row itself as part of the error (and my non-stdlib logging/metrics compon

[2017-01-23 20:35] dlsniper commented on #18721
@christophberger lets agree to disagree. Personally I dislike the Go font so the last thing that I'd like to do is have the font option taken away because the Go team decides that that is the only way we must display the code. Same with my proposal. `gofmt` is a different matter altogether.

@dansouza I'd say lets hold on on this until such time is appropriate and meanwhile focus on the proposal a

[2017-01-23 20:35] bradfitz commented on #18738
https://go-review.googlesource.com/c/35500/

[2017-01-23 20:37] rsc commented on #18647
Allowing cgo in tests adds complication. Why is it important to do this?

[2017-01-23 20:37] AudriusButkevicius opened #18762 "x/time/rate: Limiter depends on implementation-defined float to int conversion"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Compile two binaries using the following:

[code]

Compile as:
[code]

Run them on arm64 device (Pixel XL):

[code]

Run the same code on amd64 device:
[code]

### What did you expect to see?

The behaviour between the binaries

[2017-01-23 20:41] AudriusButkevicius opened #18763 "x/time/rate: Zero limiter allows events"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Run the following on amd64:

[code]

### What did you expect to see?

Output ok

### What did you see instead?

Output broken, yet documentation says:

`The zero value is a valid Limiter, but it will reject all events.`

Please

[2017-01-23 20:41] bcmills commented on #18617
@rsc

I think I really mean "produce non-backward-compatible changes in".

I would like to consider the zero-receiver-forwarding proposal (this proposal) separately from @rogpeppe's suggestion for value-receivers in general.  I do not think there are many real-world programs that this proposal would change, but I suspect that there are many such programs impacted by the broader value-receiver chan

[2017-01-23 20:41] christophberger commented on #18721
@dlsniper

Agreed. Especially, let’s not forget that the original proposal is about a language change, not about editor plugins. So we have been moving quite off topic by now anyway. Editor-based error folding *will* come anyway, as this requires no language change and the editor/plugin/IDE authors are free to do so.

[2017-01-23 20:47] cherrymui commented on #18762
@AudriusButkevicius  Sorry, I'm confused: are you expecting "ok" or "broken"?

[2017-01-23 20:49] aclements commented on #18590
Some of us on the Go team at Google have been kicking around a different idea for a year or so that I think would solve this without exposing implementation details. I don't think there's been any online discussion of this idea, so I'll sketch out a proposal and link it from here. (However, I'm writing a talk for Friday, so don't expect it right away. :)

[2017-01-23 20:52] AudriusButkevicius commented on #18762
Well it depends.

According to the docs of x/time/rate, it's "broken" on amd64, arm and I suspect other arches, and only "ok" on arm64.

It's either a bug in all arches (arm, amd64, 386 are the ones I've tested) apart from arm64, as the code does not behave as x/time/rate documents...
Or a bug in x/time/rate (or it's documentation) and arm64.

I've raised #18763 for the library.

which I suspect i

[2017-01-23 20:54] rsc commented on #17244
As noted above, this issue is basically on hold for package management to settle. I think a lot of the pressure on the x repos is caused by bad broader support for package management.

[2017-01-23 20:56] rsc commented on #18681
If you'd like to send a CL or file a separate issue for DynValue, that's fine. You might want to make the implementation build a cache to avoid every call being O(n). I also am not sure if the result should be uint64 or []uint64, but I'll leave it to the actual review. No need for a formal proposal for that.

Will retitle for DynValue and accept.

[2017-01-23 20:58] cherrymui commented on #18762
Ok, thanks for the explanation.

[2017-01-23 20:58] rsc commented on #18678
@davecheney Do you still have to use GOROOT regularly? I don't see why.

[2017-01-23 20:58] flibustenet commented on #18721
@rsc what's wrong about just returning an error when you know that this error has already a context ? (we have this problem with pkg/errors when we add the stack at each return)

[2017-01-23 21:01] kevinburke opened #18764 "x/build/cmd/buildstats: Cannot compile project"
I'm getting the following error with the latest version of golang.org/x/build and the latest version of cloud.google.com/go/bigquery.

[code]

Searching through the bigquery codebase reveals a private `valueList` struct. It looks like it was unexported here: https://code-review.googlesource.com/#/c/9567/

[2017-01-23 21:03] cruxic commented on #18737
Here are some use-cases:

1) [my actual use-case]
I am experimenting with deterministic password generation.  That is, generating website login passwords from a fixed seed (the salt in this case) and a "master password".  The seed and password are given to to bcrypt() with a very high cost factor.  This hash is then given to `hmac_sha256(output_from_bcrypt, "somewebsite.com")`.  The output of the

[2017-01-23 21:03] myitcv commented on #18728
@cznic thanks, not unsurprising feedback now that I think about it.

I agree that just because I happen to find myself, more often than not, in the situation where I do want receivers that follow the generally accepted naming advice to also be renamed, doesn't preclude either:

* there being situations when I don't want this behaviour
* this not being the predominant position of everyone

On refle

[2017-01-23 21:04] rsc commented on #18721
We're going to rethink errors in Go 2, so let's leave the general topic for then. We're very unlikely to add something this substantial before then.

[2017-01-23 21:04] #18721 closed

[2017-01-23 21:04] bradfitz commented on #18764
@jba, what should we do?

[2017-01-23 21:05] kevinburke commented on #18764
Switching the ValueList in buildstats.go to a `[]*bigquery.Value` yields the following compile error:

[code]

though a Value is:

[code]

[2017-01-23 21:06] #18742 closed

[2017-01-23 21:06] #18743 closed

[2017-01-23 21:08] davecheney commented on #18678
I don't, but an incorrectly set GOROOT is by far the most common cause of
issue reports that I see on the gobridge forum and the mailing list.
Perhaps others can offer supporting evidence from other forums.

Five years of telling, begging, and pleading people not to set GOROOT
(which they then forget they have done) has proved ineffective.

I think the solution is to nullify GOROOT.

On Tue, 24 Ja

[2017-01-23 21:14] rsc commented on #18605
Would probably also want to handle args to append:

    x = append(x, "x", foo..., "z")

And so needs to be considered together with #15209.

[2017-01-23 21:17] dsnet commented on #18763
What's the behavior of this on Go1.7?

[2017-01-23 21:18] fnouama opened #18765 "Set default value for functions or methods params"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.7.4

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

### What did you do?
N/A: Not an issue, more a request for an additional feature

### What did you expect t

[2017-01-23 21:18] thejerf commented on #18721
This is not a fully-fleshed out proposal, but here's an observation on the minimal required language change: If the "must" operator 1. stripped off the err value if applicable and 2. returned the zero value of all non-err return values and passed the error through, you could get an awful lot of mileage out of:

    func MayError(in Input) (out Output, err error) {
        defer func() {

[2017-01-23 21:20] bradfitz commented on #18765
Sorry, Go does not support this.

For questions about Go, see https://golang.org/wiki/Questions.

For language change proposals, see https://github.com/golang/proposal/ but be aware that Go 1 is pretty frozen at this point.

[2017-01-23 21:20] #18765 closed

[2017-01-23 21:21] rsc commented on #18617
One potential question here is that d.IsNil() is just shorthand for d.Pointer.IsNil(). Does the latter also not panic?

@rogpeppe, can you file a new issue with your proposal?

We probably should leave both of them open for an eventual discussion for Go 2.

[2017-01-23 21:28] AudriusButkevicius commented on #18763
Given the issue cropped up on our android app, which is built using 1.7.x, I'd say the same.

[2017-01-23 21:29] rsc commented on #18616
This seems worth doing. Leaving for @griesemer and @randall77 to vet. The next step seems like a design doc checked into the usual place (I do see the sketch above).

[2017-01-23 21:38] bcmills commented on #18617
It does panic, but the panic is arguably less surprising: `d.IsNil()` calls a method in the method set of `d`, so at the call site it does not look like "accessing a field of `d`".

In the embedded-call case, the fact that it is a field access and not _only_ a method call is not visible in the caller-side code.

Under this proposal, `d.IsNil()` would be changed to forward a `nil` receiver, but `d.

[2017-01-23 21:40] rsc commented on #18580
How? Mailing go-announce seems too spammy for go-announce. Is there something else we should do?

Do you mean file issues for each popular package manager? On their tracker or ours?

You mean cut the release, publish binaries, and sit on it until package managers have it? That seems a bit odd. People will want the announcement as soon as the golang.org/dl binaries are ready.

I hope people underst

[2017-01-23 21:40] anitgandhi commented on #18752
I agree that it should at least be used/needed by others. I can say that it is certainly being used in my place of employment.

Perhaps part of the reason is that these algorithms themselves are relatively new. While their use is inherently niche, part of the reason they might not have propagated into wider scale use is because they are not as well known yet. I haven't even seen a reference implem

[2017-01-23 21:41] cherrymui commented on #18762
It seems that the difference comes from an +Inf to int64 conversion. On AMD64, it results in a big negative int64, whereas on ARM64 it results in a big positive int64. As far as I know, the spec doesn't require any particular value should results in this case. So it seems the compiler is ok.

The conversion is https://go.googlesource.com/time/+/master/rate/rate.go#363, which passed to waitDuration

[2017-01-23 21:42] fnouama commented on #18765
thanks @bradfitz

[2017-01-23 21:43] minux commented on #18678
Wrong is defined as $GOROOT/VERSION doesn't exist.
Perhaps we can additionally require that $GOROOT/VERSION matches
runtime.Version(), but I'm not very sure.

[2017-01-23 21:43] jessfraz commented on #18580
As someone who maintains packages for other things, and has been on the side of notifying "downstreams", I think the usual protocol here is to have a mailing list group with the necessary people on it. Then you all can just email go-downstreams or something

[2017-01-23 21:45] dr2chase commented on #18762
This appears to be an artifact of the hardware conversion -- arm64 and ppc64 convert +/-Inf into the largest/smallest integer values; amd64 converts both +Inf and -Inf to the smallest integer value.

[2017-01-23 21:47] dr2chase commented on #18762
@griesemer - do you have opinions on this?

[2017-01-23 21:53] narJH27 commented on #16065
@bradfitz I am unsure as to how to go about this update as I am new to Go. Can you please guide me on how to do so?

[2017-01-23 21:54] dr2chase commented on #18749
I assume this is for 1.9?  Seems very late for 1.8, though also not very risky, and the risk is almost entirely on PPC/IBM.

[2017-01-23 21:56] jba commented on #18764
Should be a *[]bigquery.Value

[2017-01-23 21:57] jba commented on #18764
I mean
[code]

[2017-01-23 22:03] belak commented on #16927
It looks like this should have been closed a few days ago. https://github.com/golang/crypto/commit/7c6cc321c680f03b9ef0764448e780704f486b51

[2017-01-23 22:05] rsc commented on #18678
My $GOROOT/VERSION never exists, since I'm always building from a git checkout. Maybe this should be split into two things:

1. Make empty $GOROOT fall back to os.Executable before the baked-in runtime.defaultGoroot.
2. Make go command fail loudly if runtime.Version != $(cat GOROOT/VERSION).

I've wanted each of those separately, and I don't think they necessarily need to be mixed. It sounds like

[2017-01-23 22:09] bradfitz opened #18766 "testing: document MainStart signature change in release notes"
c56cc9b3b5727647c2afb3d57f5793151558a0a7 (https://golang.org/cl/32455) changed the signature of testing.MainStart

from:
https://golang.org/pkg/testing/#MainStart
[code]

To:
https://beta.golang.org/pkg/testing/#MainStart
[code]

This is not in our release notes, and just bit Kubernetes in https://github.com/kubernetes/kubernetes/pull/38926#issuecomment-274627297

For the record, this does say:

/

[2017-01-23 22:11] bradfitz commented on #16065
For questions about Go, see https://golang.org/wiki/Questions.

But the short summary is "go get -u golang.org/x/sys/unix". If you have problems, see https://golang.org/wiki/Questions.

[2017-01-23 22:12] bradfitz commented on #18764
@kevinburke, can you try that?

[2017-01-23 22:14] #18764 closed

[2017-01-23 22:15] ianlancetaylor commented on #18678
I'm concerned that your number 1 (Make empty $GOROOT fall back to os.Executable before the baked-in runtime.defaultGoroot) will break packages that install the go tool in a system-wide bin directory, and expect the baked-in `defaultGoroot` to let it know where to find the packages.

[2017-01-23 22:18] bradfitz commented on #16555
Any update here?

I guess I'll kick it to Go 1.9, since there's nothing actionable here yet.

[2017-01-23 22:30] vcabbage commented on #18763
`rate.NewLimiter(0, 100)` isn't creating a zero valued Limiter (the burst is non-zero) and the documentation states that the token bucket is initially full:

`var r rate.Limiter` and `r := rate.NewLimiter(0, 0)` print "ok" using the example program.

Seems like the behavior is consistent with the documentation.

[2017-01-23 22:32] AudriusButkevicius commented on #18763
In that case, it's not consistent on arm64

[2017-01-23 22:36] ianlancetaylor commented on #18745
Thanks.  I see what you mean now.

[2017-01-23 22:42] calmh commented on #18763
The real quote is on the Limit type, which says a zero rate allows no events. (On mobile, so not pasting)

[2017-01-23 22:45] bradfitz commented on #18763
The docs say:

NewLimiter always returns a non-zero limiter, regardless of its arguments.

Let's close this bug but we can keep #18762 open for the floating point arm/arm64 issue.

[2017-01-23 22:49] vcabbage commented on #18763
@bradfitz There does seem to be an inconsistency since, as @calmh pointed out, https://godoc.org/golang.org/x/time/rate#Limit says `A zero Limit allows no events`.

[2017-01-23 22:56] cherrymui commented on #18762
The spec actually says (https://golang.org/ref/spec#Conversions)
"In all non-constant conversions involving floating-point or complex values, if the result type cannot represent the value the conversion succeeds but the result value is implementation-dependent."

So I think the implementation is problematic -- it depends on undefined behavior.

[2017-01-23 23:00] mundaym commented on #18749
I can work around it so 1.9 is fine I think.

[2017-01-23 23:03] griesemer commented on #18762
@dr2chase: @cherrymui said it all. The spec doesn't say anything specific here.

[2017-01-23 23:34] #16927 closed

[2017-01-23 23:44] nathany commented on #11193
@tv42 That is a valuable consideration. In other language ecosystems the tests are often ran in random order to help weed out (unintended) interdependencies and other flaky behaviour.

[2017-01-23 23:46] omani opened #18767 "r.MultipartReader() always returns "multipart handled by ParseMultipartForm""
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go 1.7.4

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/hasan/gocode"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"

[2017-01-23 23:53] bradfitz commented on #18767
You don't have a complete program here demonstrating any bug.

You cite your `check` function that dies with "Fatal from ...." but I don't see "Fatal from" in your output. So what is your error from?

Sounds like a question for the mailing list, perhaps?

For questions about Go, see https://golang.org/wiki/Questions.

[2017-01-23 23:54] odeke-em commented on #18767
@omani would you mind providing a full standalone reproducible snippet?

That error seems to me like you already invoked Request.ParseMultipartForm.
If you've already invoked it you can then use Request.MultipartForm.

[2017-01-23 23:54] odeke-em commented on #18767
Oops, @bradfitz beat me to the punch :)

[2017-01-23 23:55] bradfitz commented on #18767
The error message `multipart handled by ParseMultipartForm` suggests you already consumed the body somehow by calling `(*Request).ParseMultipartForm`

As the docs says:

https://golang.org/pkg/net/http/#Request.MultipartReader

Note "instead of".

[2017-01-23 23:55] #18767 closed

[2017-01-24 00:11] davecheney commented on #18678
I tried to implement this in gb about a year ago because gb, but sadly operating system distros ruined the party because they strip files they think aren't important.

https://github.com/constabulary/gb/issues/325 :(

[2017-01-24 00:17] rsc commented on #18678
Re 1, there is a test in the go command already for identifying a $GOROOT. Something like src/cmd/go/doc.go existing or some other similar file. We could use os.Executable first, but if that doesn't produce a valid GOROOT, then fall back to defaultGoroot.

Re 2, reading VERSION is probably not good enough anyway, but the go command could invoke go tool compile version before any compilation steps.

[2017-01-24 00:20] ianlancetaylor commented on #18762
@cherrymui Please avoid saying "undefined behavior", as that has a different meaning for people who read standards and language specs (https://en.wikipedia.org/wiki/Undefined_behavior).  The problem here is that library depends on "implementation-defined behavior".

[2017-01-24 00:23] omani commented on #18767
yes you were right. another package was using ParseMutipartForm already. Sorry for the inconvenience.

thanks.

[2017-01-24 00:28] #18766 closed

[2017-01-24 01:36] josharian commented on #18753
Yeah:

[code]

[2017-01-24 02:11] ianlancetaylor commented on #18745
https://golang.org/cl/35590

[2017-01-24 02:26] rsc commented on #12914
I started writing a design doc based on my sketch above but I was not particularly happy with the rest. To test the sketch, I started looking at real code, particlarly the [Go Corpus v0.01](https://github.com/rsc/corpus), which has roughly the top 100 Go language GitHub projects by both fork count and the top 100 by star count, provided 'go get -d' worked to download them.

The main problem with a

[2017-01-24 02:27] rsc commented on #12914
# time.Now usage notes

Analyzed uses of time.Now in [Go Corpus v0.01](https://github.com/rsc/corpus).

Overall estimates:

- 71% unaffected
- 29% fixedin event of wall clock time warps (subtractions or comparisons)

Basic counts:

	$ cg -f $(pwd)'.*\.go$' 'time\.Now\(\)' | sed 's;//.*;;' |grep time.Now >alltimenow
	$ wc -l alltimenow
	   16569 alltimenow
	$ egrep -c 'time\.Now\(\).*time\.Now\(\)'

[2017-01-24 02:57] cherrymui commented on #18762
Thanks. I edited my comment.

[2017-01-24 02:59] bradfitz commented on #12914
@rsc, SGTM. I was thinking along the same lines the other day but got distracting thinking about efficient representation and didn't finish thinking through which operations would use & return which time types. Your list looks good.

[2017-01-24 02:59] cherrymui commented on #18762
Unassign myself as I'm not familiar with this package.

[2017-01-24 03:00] cespare commented on #12914
@rsc Your proposal is a very clever idea. It's appealing to fix most existing code transparently.

My initial reaction, though, is that the end situation is too subtle to explain, document, and use. It's strange to be able to have (at least in principle) two Times that are Equal but Format to different values (or vice versa).

I'm not sure I buy that this is a significant problem. As you demonstra

[2017-01-24 03:10] mgoldsmi opened #18768 "mime/multipart: SetBoundary validation is overly restrictive"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.4 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/mgoldsmi/golang/terraform"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="

[2017-01-24 03:22] rsc commented on #12914
@bradfitz, @cespare, it's easy to encode the time.Time values in the existing 24-byte footprint on 64-bit platforms (times outside something like 1970+/-146 years would be wall-only, never wall+monotonic). On 32-bit platforms, the footprint would bump from 16 to 20 bytes (two uint64+pointer, instead of uint64+uint32+pointer).

Reading the time is very efficient on most systems. I am not convinced

[2017-01-24 03:37] dsnet commented on #18342
I can tackle this (i.e.,  automatic linking) in a few weeks unless someone else wants to do it. I'll assign it to myself when I start working on it.

[2017-01-24 03:38] #18745 closed

[2017-01-24 03:54] kevinburke opened #18769 "x/build/cmd/coordinator/buildongce: tests fail"
Running `go test golang.org/x/build/cmd/coordinator/buildongce` on tip reveals:

[code]

I'm not sure if anyone still uses this project, but more generally, I am worried that we are not automatically running tests for the projects in the x/build repository. I'm happy to help familiar with setting up tests on e.g. Travis CI and CircleCI but unfamiliar with farmer.golang.org or Gerrit more generally

[2017-01-24 04:05] dhananjay92 commented on #18745
Thank you. :)

A silly question: Will this automatically get picked up in next 1.8 candidate? Or do I need to ask someone to cherry-pick it?

[2017-01-24 05:02] lacroute-sps commented on #12914
This is an interesting idea, but it does have the potential to break existing code.  A problem can occur for code that stores a time.Time value (e.g. in serialized form) in a persistent file or database and compares times from different boot cycles.  Imagine an application that uses time.Now().Add() to compute a future event time, stores that in a database, and then on a subsequent boot compares t

[2017-01-24 05:10] bradfitz commented on #18769
Yes, we have no build dashboard for the x/build repo. It's always been a bit weird. The tests sometimes break and we have to fix them.

[2017-01-24 05:21] rsc commented on #12914
@lacroute-sps Because monotonic time has no guaranteed meaning outside the current process, there can be no serialized form of a wall+monotonic time.Time. Serializing one necessarily downgrades it to a wall-only time.Time. In that case, the round trip to the database will behave exactly as it does today.

[2017-01-24 06:35] ianlancetaylor commented on #18745
This will be in the next release candidate (1.8rc3).

[2017-01-24 06:46] lacroute-sps commented on #12914
@rsc I don't really agree that monotonic time has no guaranteed meaning outside the current process, as long as the system's monotonic clock doesn't reset (due to a reboot).  However, I think adding the restriction that serializing a time.Time must downgrade to wall-only is a reasonable solution.

[2017-01-24 07:06] jayschwa commented on #12914
Keep in mind that Go runs on many platforms. The underlying system monotonic clock that Go uses may not have the same characteristics on all of those platforms. It's safest for the new API to make as few guarantees as possible beyond the immediate problem it's trying to solve.

[2017-01-24 07:13] akamensky opened #18770 "runtime: SIGPIPE is raised when using net.DialTimeout and timeout is reached"
### What version of Go are you using (`go version`)?
1.7.4 darwin

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Application that connects to remote server using net.DialTimeout. The application part that connects remotely is written in Go, the application GUI is written in C++ (Qt5). And Go part is statically linked to GUI.

The pseudo

[2017-01-24 07:27] calmh commented on #18763
Guys, I like a fast close as much as anyone else, but as noted above the docs say `A zero Limit allows no events`. The `Limit` is the `type Limit float64` that gets passed as the first parameter to `NewLimiter`.

The current behavior on everything except arm64 (and maybe ppc64) is the opposite - the limiter is unlimited when the rate is zero. In arm64 (and maybe ppc64) the behavior is as documente

[2017-01-24 08:05] tsuna commented on #12914
Really nifty idea @rsc, if the performance impact is negligible/reasonable, that sounds like an ideal solution.  I'd be happy to test any experimental CL you have – our code base spend much more time in `time.Now()` than I would like to admit.

[2017-01-24 09:33] ericomali opened #18771 "doc: source install page should mention make.bash again"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
None installed yet (1.4 bootstrap)

### What operating system and processor architecture are you using (`go env`)?
OSX 10.11.6

### What did you do?
Try to build 1.4 bootstrap installation

### What did you expect to see?
Successful build

### What did you see instead?
Build pr

[2017-01-24 09:39] davecheney commented on #18771
You need to use the latest source tarball t compile Go 1.4 on recent osx
releases.

Details: https://golang.org/doc/install/source#go14

On Tue, 24 Jan 2017, 20:33 ericomali <notifications@github.com> wrote:

[2017-01-24 09:44] ericomali commented on #18771
I downloaded go1.4-bootstrap-20161024.tar.gz and it fails in the same way.

[2017-01-24 09:49] davecheney commented on #18771
You don't need to use go 1.4 to bootstrap. Any version of go, including
1.7.4 will work.

On Tue, 24 Jan 2017, 20:44 ericomali <notifications@github.com> wrote:

[2017-01-24 09:56] ericomali commented on #18771
Documents clearly state 1.4 is the last version that would build with a C compiler. Are you suggesting I download binaries?

[2017-01-24 09:59] davecheney commented on #18771
Yes.

[2017-01-24 11:50] disq commented on #18081
As a workaround, recently I had to manually implement connection pooling mechanism in a private project. Redacted code can be seen here: https://gist.github.com/disq/63f1f7e5e1c4756aca19436e6214d1b1

The said project heavily uses temporary tables and runs as a long-lived daemon, so a pool of 1-connection connection pools had to be used.

[2017-01-24 13:06] crawshaw commented on #18729
The same error occurs with `-buildmode=shared`, which gives us some (not exactly scrutable) unit test failures.

[code]

After many more similar failures it locks up. Building with -c and sending it a SIGQUIT:

[code]

I suspect going after the unit test failures will be easier than the lockup, so I'll spend some time today trying to simplify one of them.

cc @mwhudson as this now affects shared l

[2017-01-24 13:27] vvekic opened #18772 "fmt: float64 formatting behaving differently than expected (and than documented)"
### What version of Go are you using (`go version`)?
1.7.3

### What operating system and processor architecture are you using (`go env`)?
darwin amd64

### What did you do?
https://play.golang.org/p/LEVTU7r4wX

### What did you expect to see?
The %g-formatted (or %v) float64 number to be the same as either %f or %e, as per [documentation](https://golang.org/pkg/fmt/).

### What did you see instea

[2017-01-24 13:40] databus23 commented on #18711
@hanwen I'm curious, is the information provided in this issue sufficient or is more information needed to assess the bug and ultimately fix it? I don't feel capable of fixing the problem on my own but I'm happy to provide more information/investigate if necessary.

[2017-01-24 13:44] hanwen commented on #18711
your info is not sufficient to be sure, but I suspect you could repro by adding sleep statements in the right places (see #15066). if you could that would be helpful.

I'm a bit swamped with normal work, but I'll try to have a look tonight.

[2017-01-24 14:04] crawshaw commented on #18729
Ah ha, I'm going to start here:

[code]

Oddly if I try to run go test -short -linkshared encoding/asn1 directly, it hangs, but in this form, the failure is consistent.

[2017-01-24 14:13] fsenart commented on #18729
@crawshaw do you remember the other issue I've opened about encoding/asn1 golang/go#18584. The two may be related.

[2017-01-24 14:19] crawshaw commented on #18729
I had forgotten about that bug. Presumably the fix for #18252 wasn't enough (which has been my working assumption so far, that there's a reflect/type-info bug). I'll dig around.

[2017-01-24 14:31] alexellis opened #18773 "build: release linux-amd64-nocgo statically linked binaries for Alpine users?"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

Go 1.7.4

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

The Go binary for ARM is bui

[2017-01-24 14:35] ianlancetaylor commented on #18770
We need to see a complete example that demonstrates the problem.  See https://golang.org/pkg/os/signal for how the Go runtime handles `SIGPIPE`.  What you are describing is not what is intended to happen, and the runtime has code that is intended to ensure that it does not happen.  So we need a test case we can run ourselves so that we can find out why it is not working for you.

[2017-01-24 14:38] ianlancetaylor commented on #18771
Note that you did not show us what exactly fails for you.

[2017-01-24 14:43] ianlancetaylor commented on #18772
Probably needs a doc tweak, as the short description of `%g` does suggest that it is either `%e` or `%f`.

CC @robpike @martisch

[2017-01-24 14:46] mvdan commented on #18773
Dup of https://github.com/golang/go/issues/18243?

[2017-01-24 15:00] alexellis commented on #18773
@mvdan I'm not strictly sure that's the case? It may be related though.

What I'm suggesting is that the Go binary distributed via (https://golang.org/dl/) itself is statically linked. Once Go is installed a number of flags are needed to produce distributable static binaries from source written in Go but that is a different issue.

[2017-01-24 15:03] mvdan commented on #18773
I'm not sure either; but both seem to be around the linker and the output is the same.

[2017-01-24 15:15] artiomn opened #18774 "runtime: building with -gcflags="-N -l" fails"
### What version of Go are you using (`go version`)?

1.6.2 on Linux, 1.7 windows/amd64 on windows.

### What operating system and processor architecture are you using (`go env`)?

Windows x86_64, Linux x86_64, MacOS x86_64.

### What did you do?

I had built go package and have got stack overflow in the go compiler (with a specific parameters combination). Problem is reproduced on all operating s

[2017-01-24 15:20] rsc commented on #18771
You don't need to use binaries. The Go 1.4 bootstrap tgz works for many of us on OS X / macOS. I use it every day.

That said, as Ian pointed out, we need a full log of the failed build to understand what went wrong. What you've shown looks OK.

[2017-01-24 15:22] ianlancetaylor commented on #18774
Dup of #14319, although that issue has gotten rather complicated.

[2017-01-24 15:22] rsc commented on #18772
There's only so much we can say in a one-line summary. The full details of the precision _are_ documented. I tend to think this is fine as is, unless someone can come up with a very short replacement for the current one-line summary.

[2017-01-24 15:23] ianlancetaylor commented on #18774
Note that this is not a stack overflow in the compiler.  It is the compiler reporting that the runtime does not guarantee enough stack space for this code to succeed.

[2017-01-24 15:40] rogpeppe commented on #12914
I like this idea. I'd suggest that we don't change the output of Time.String, as too many things may depend on it, but add another method that will print all the information and/or add a Monotonic method:

    // Monotonic returns the monotonic time associated with t and reports
    // whether there is one. The monotonic time is measured in nanoseconds
    // since an arbitrary epoch.
    func (t

[2017-01-24 15:49] artiomn commented on #18774
```runtime.typedslicecopy: nosplit stack overflow```

It's a very unclear message, if situation is not a stack overflow.

Runtime can't allocate enough stack space? Is it not a stack overflow?

[2017-01-24 15:50] artiomn commented on #18774
How to tune runtime parameters to fix it?

[2017-01-24 15:54] wmark commented on #7758
For sites and networks where nistp* curves are banned, it's either DHE or implementing one of the alternative curves or curve families. Parts of the German Water and Gas network I've first hand experience with need this, and it's perhaps the case with the Berlin–Bonn network (?).

@MStoykov If you still need DHE support, drop me a line. I can point you to vendors that share (sell) customizations.

[2017-01-24 16:16] mpvl commented on #18649
Background; I'm adding this ability to x/text repo for number formatting. Right now I have the unfortunate situation that I can't rely on much of the code in core to do number formatting (or formatting in general). I can also show you what I end up with and then see how to retrofit it in core if there is a desire to not have duplicate code.

[2017-01-24 16:32] bradfitz commented on #18763
Okay, reopening. I didn't see there were two parts of the docs talking about zero values.

[2017-01-24 16:32] dr2chase commented on #18774
Try nudging 880 up to 912 on these three lines:
[code]
This may cause other problems, and I am surprised it got as large as 880.
I was working on this CL https://go-review.googlesource.com/c/27511/ to reduce that number back when it was 720.

[2017-01-24 16:37] rogpeppe opened #18775 "proposal: spec: use zero receiver for value method invoked via nil pointer"
Currently, if a method is defined on a value type, that method is also
part of the method set of the pointer type. However, if that method
is called on the nil pointer, it panics.

This means there's no way to define a method that works on all possible
values and pointer values for a type.

I propose that when a value method is called on a nil pointer, instead of panicking,
the method is invoked o

[2017-01-24 16:38] rogpeppe commented on #18617
@rsc done https://github.com/golang/go/issues/18775

[2017-01-24 16:48] bradfitz commented on #18770
Also, please try Go 1.8. We're no longer fixing bugs (only security issues) in Go 1.7.

[2017-01-24 16:50] #18769 closed

[2017-01-24 16:54] DocMerlin commented on #12914
A drop in replacement for time.time would be nice, as it would allow for very quick fixes.

[2017-01-24 17:03] ericomali commented on #18771
The build shell script is supposed to return a 1 and not install anything?

Full log attached.
[go-build-fail.txt](https://github.com/golang/go/files/727356/go-build-fail.txt)

[2017-01-24 17:05] ianlancetaylor commented on #18774
It is not a stack overflow in the compiler.  It is the compiler reporting that when you try to run your program it may get a stack overflow at runtime.

[2017-01-24 17:08] MStoykov commented on #7758
@wmark Thanks, but as this was an internal (apache) server we just reconfigured it to support modern algorithms :)

[2017-01-24 17:08] ianlancetaylor commented on #18774
I note that you may not care about compiling the runtime package itself with `-N -l`.  If you first `go install -pkgdir pkg runtime` you will get the runtime package built normally.  You should then be able to build the rest of your program with `-N -l`.

[2017-01-24 17:11] bradfitz commented on #18771
@ericomali, did you look at your log? Here's the error:

[code]

[2017-01-24 17:11] artiomn commented on #18774
Is it a stack checker, like address sanitizer, yes?

Ok, thank you.

[2017-01-24 17:13] FiloSottile opened #18776 "net/http: shouldn't log errors for normal Keep-Alive connection closures"
A Keep-Alive connection is going to end in one of two ways: the client goes away (maybe sending GOAWAY), or we pass the `IdleTimeout`. Neither are errors, but both are logged as such.

In HTTP/2, they look like this:

[code]

Not sure how they look like in HTTP 1. Probably just EOF.

These should just be ignored for idle connections.

P.S. I also see a sprinkle of these, not sure what to think abo

[2017-01-24 17:16] bradfitz commented on #18776
I agree in general, but this one isn't an "idle" connection:

[code]

That's a new connection starting up. Don't we also log about TLS handshake errors? I think those are in the same class: connection setup errors.

[2017-01-24 17:16] ianlancetaylor commented on #18774
Comparing this to address sanitizer is somewhat misleading.  Go stacks have unlimited size.  This is implemented by a small prologue at each function which checks whether there is enough stack space available to run the function.  If there is not, the entire stack is copied to a larger stack, and then the function continues.

Implementing this requires some functions that do not copy the stack: fu

[2017-01-24 17:19] FiloSottile commented on #18776
Are you sure that's not how an elapsed `IdleTimeout` looks like?

I think the connection setup ones are more like

[code]

[2017-01-24 17:40] ericomali commented on #18771
Why would the failure not be made obvious at the bottom of a log?

How can this be fixed?

[2017-01-24 17:42] artiomn commented on #18774
Thanks. It's interesting. It's not a sanitizer, really, but more similar to stack guards.
It's a pity, that a specific functions (or code blocks in separated files) can't be built with specific parameters, provided (or removed from the common parameters set) in the blocks.

[2017-01-24 17:42] ianlancetaylor commented on #18771
You are only going to use Go 1.4 to build a newer release of Go.  That test failure does not matter.  We are not going to ensure that all Go 1.4 tests continue to pass when using newer compilers and newer operating system versions.  We are only going to ensure that Go 1.4 works to build newer releases of Go, and ensure that the tests of those newer releases pass.

The instructions do not recommend

[2017-01-24 17:44] ericomali commented on #18771
So is there any documented path to build go purely from source?

It is started to sound like I am on my own no matter what.

[2017-01-24 17:47] ALTree commented on #18771
Maybe in the doc, after mentioning `go1.4-bootstrap-20161024.tar.gz`, we should make clear that you're not supposed to run `all.bash`, just `make.bash`.

[2017-01-24 17:49] ericomali commented on #18771
Thank you; that worked great.

[2017-01-24 17:50] ianlancetaylor commented on #18774
What actual problem are you trying to solve?

[2017-01-24 17:57] artiomn commented on #18774
I crossbuild people's go code with my own buildsystem, which executes go get/go build, and I need to implement debug mode for people, who want to debug under Linux/macos.

[2017-01-24 18:06] bradfitz commented on #18771
@ALTree, where does it suggest running `all.bash`? But sure. We can mention `make.bash` there.

[2017-01-24 18:06] justinsb commented on #12914
While this suggestion sounds magical, could we demonstrate it in `golang.org/x` first, and get a minimal function into the library itself for 1.9?  We can then see if users are easily able to convert their code to use the monotonic now function directly - which will presumably be (marginally) more efficient even if `time.Time` becomes monotonic-aware.  Or perhaps an alternative abstraction becomes

[2017-01-24 18:09] griesemer commented on #18772
It may suffice to replace
[code]
with
[code]

[2017-01-24 18:15] ALTree commented on #18771
@bradfitz it doesn't, but it doesn't mention `make.bash` either, and people that read this sentence

and are used to run `all.bash` to build source will do that, and then hit errors.

[2017-01-24 18:38] ericomali commented on #18771
ALTree is exactly correct; this hapless new user simply wanted to build 1.7.4, found no explicit bootstrapping directions, and applied what he had read about 1.7.4 to the bootstrap version.

[2017-01-24 18:40] rsc commented on #18751
The buildlet is hung right now running 'go list', but the specific binary is Go 1.6.4, which doesn't have the time fixes.

It looks to me like the buildlet is being used for the subrepo tests as well, including "subrepos on Go 1.6" (right now it is stuck on go list golang.org/x/blog/...). That's just not going to work on Sierra and we should avoid running those tests on the Sierra buildlet.

[2017-01-24 19:22] ctwoodward opened #18777 "fmt.Printf of"
### What version of Go are you using (`go version`)?
go version go1.7.4 windows/amd64

### What operating system and processor architecture are you using (`go env`)?

set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\Users\woodwc2\work
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go\pkg\tool\windows_amd64
set CC=gcc
set GOGCCFLAGS=

[2017-01-24 19:29] bradfitz commented on #18777
This is a bug in your program, not in Go.

For questions about Go, see https://golang.org/wiki/Questions.

[2017-01-24 19:29] #18777 closed

[2017-01-24 19:29] griesemer commented on #18616
Now that this proposal is accepted, we should agree the details of the API. Questions I see at the moment:
- which functions to include?
- which types to handle (`uint64`, `uint32` only, or `uint64`, `uint32`, `uint16`, `uint8`, or `uintptr`)?
- signature details (e.g. `TrailingZeroesxx(x uintxx) uint`, with xx = 64, 32, etc., vs `TrailingZeroes(x uint64, size uint) uint` where size is one of 64,

[2017-01-24 19:46] crawshaw commented on #18729
Simplified test case:

[code]

At tip:

[code]

[2017-01-24 20:01] jimmyfrasche commented on #18616
I prefer the spelled out xx names, personally: bits.TrailingZeroes(uint64(x), 32) is more cumbersome and less readable than bits.TrailingZeroes32(x), imo, and that naming scheme would work with the platform-variable-sized uintptr more easily (xx = Ptr?).

It would also make it more apparent if you, say, didn't include uint8 in the first release but added it later—suddenly there'd be a lot of new x

[2017-01-24 20:24] dlsniper opened #18778 "cmd/go: possible regression in go test outside of GOPATH"
### What version of Go are you using (`go version`)?
go version go1.8rc1 linux/amd64
go version go1.8rc2 windows/amd64

### What operating system and processor architecture are you using (`go env`)?

[code]

[code]

### What did you do?
Run ` go test ./... ` in a folder containing Go files outside of GOPATH

### What did you expect to see?
In Go 1.7 or below this used to work

### What did you see

[2017-01-24 20:26] bradfitz commented on #18778
To @rsc for cmd/go triage.

[2017-01-24 20:31] bradfitz commented on #18700
Austin, I'll let you send these two. These aren't trivial like the others.

[2017-01-24 20:43] crawshaw commented on #18729
In the above example, both the binary and libstd.so contain type symbols for *[]int, as you would expect. But the program does not contain any dynamic relocations for it:

[code]

@mwhudson I think this is basically the eface version of the itab problem from #18252. Shouldn't there be a dynamic relocation for the *rtype in the binary prg?

[2017-01-24 20:58] bradfitz commented on #18680
There is only today or tomorrow to get a change submitted for Go 1.8.

This won't block the release.

[2017-01-24 21:08] dsnet commented on #18616
I should note that `SwapBytes{16,32,64}` is more consistent with functions in `sync/atomic` than `SwapBytes(x uint64, bitSize uint)`.

Although the `strconv` package does use the `ParseInt(..., bitSize int)` pattern, there is more relation between `bits` and `atomic`, than there is with `strconv`.

[2017-01-24 21:19] ibrasho commented on #18755
Will updating the handler to return a server error be enough?
The pprof tool will still need to be updated if we want it to print a clear error message. Otherwise, it just prints `server response: 500`. Is it safe to print the response body in addition to the HTTP status code?

[2017-01-24 21:27] vcabbage commented on #18755
@ibrasho I'm working on it in the CL linked above. It does modify `go tool pprof` to print the body under limited circumstances.

[2017-01-24 21:52] ThomasHabets opened #18779 "net/http: Transport doesn't support deflate (and Twitter is broken)"
### What version of Go are you using (`go version`)?
`go version go1.7.4 linux/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

https://play.golang.org/p/ArzIv0uBlQ

### What did you expect to see?

I see binary pre-decompression crap.

net/http doc says "If the Transport requests gzip on        its own and gets a gzipped response

[2017-01-24 22:01] rsc opened #18780 "reflect: StructOf interpretation of input StructFields is confusing"
Normally, if you have

	type T struct {
		A1
		*A2
		a1
		*a2
		F int
		f int
	}

then there are six reflect.StructFields:

	reflect.StructField{Name: "A1", Anonymous:true, Type:TypeOf(A1{}), PkgPath: ""}
	reflect.StructField{Name: "A2", Anonymous:true, Type:TypeOf(&A2{}), PkgPath: ""}
	reflect.StructField{Name: "a1", Anonymous:true, Type:TypeOf(a1{}), PkgPath: "mypkg"}
	reflect.StructField{Name:

[2017-01-24 22:02] mwhudson commented on #18729
Well no, because prg is an executable so the system linker can assume no other type.*[]int symbol will be interposed in front of the one in prg.

Adding

[code]

to prg.go gives as output:

[code]

d looks correct to my level of understanding, 0x602940 is the address of type.*[]int in the executable. 0x7f84580f66a0 is the address of type.*[]int in the library though, which is wrong. I don't unders

[2017-01-24 22:03] bradfitz commented on #18779
Go is telling Twitter "Accept-Encoding: gzip", and Twitter is replying "Content-Encoding: deflate".

Seems like a bug on their side.

[code]

See http://stackoverflow.com/questions/388595/why-use-deflate-instead-of-gzip-for-text-files-served-by-apache for why gzip is preferred over deflate.

Not sure there's anything for us to do here. I suppose we could attempt to un-deflate things.

/cc @tomberg

[2017-01-24 22:11] bradfitz commented on #18751
@rsc, ugh, fun. The JSON at https://build.golang.org/?mode=json doesn't give me quite enough info to work with. I get:

[code]

Which is "master" for the "blog" repo, but the listed goRevision of aa1e69f3fc21795b6fab531a07008e0744ffe5bf is the Go 1.6 branch.

I guess I need to query the git graph in the build system to figure out whether that revision has the Sierra time fix or not.

[2017-01-24 22:13] dsnet commented on #18779
This is definitely a bug on twitter's end.

I don't think we should transparently decompress things with the "deflate" TE since there is some confusion about whether "deflate" should be using the raw DEFLATE format (RFC 1951) or with the zlib format (RFC 1950). RFC 2616 specifies that "deflate" should actually be the zlib format, but there are some implementations that accidentally treat it as raw

[2017-01-24 22:13] bcmills commented on #18590
Just for kicks I tried to see just how far I could push `sync.Pool`.  Turns out, the answer is "pretty far": a per-thread library using `sync.Pool` and `runtime.SetFinalizer` turns out hacky and a bit inefficient, but more usable and plausible than I would expect.

For the curious:
https://go-review.googlesource.com/#/c/35676/

[2017-01-24 22:14] vcabbage commented on #18778
Looks like the root directory matched by `./...` becomes `./.` here: https://github.com/golang/go/blob/ea73649343b5d199d7f3d8525399e7a07a608543/src/cmd/go/main.go#L701

Probably made no difference before https://golang.org/cl/31668/.
Sticking `name = filepath.Clean(name)` in after that line clears it up.

[2017-01-24 22:17] crawshaw commented on #18729
Ah of course, thanks, I was inverting the libstd.so and prg modules in my mind. That gives me a new place to hunt.

[2017-01-24 22:28] bradfitz commented on #18779
Copying https://github.com/twitter/netty-http2 folk who can maybe help: @yschimke, @atollena

Twitter appears to be returning "deflate"-compressed responses when a client only asks for "gzip".

[2017-01-24 22:38] minux commented on #18616
Three reasons I don't like SwapBytes(uint64, size uint):
1. people might use it in cases where size is not compile time constant (at
least to the current compiler),
2. it necessitate a lot of type conversions. First to convert a uint32 to
uint64, and then to convert it back.
3. we should reserve the generic name SwapBytes for a future generic
version of the function (when Go gets generics support)

[2017-01-24 23:03] griesemer commented on #6282
This proposal addresses a large portion of the originally stated goal: better Go support for numerical applications. However, as also has become quite clear, it falls short in others (asymmetry of proposed solution, potential proliferation of builtins). Judging from the feedback received on this issue, there is no clear consensus that the shortcomings can be safely ignored.

Adding multi-dim. slic

[2017-01-24 23:03] #6282 closed

[2017-01-24 23:19] brtzsnr commented on #18616
@griesemer Robert, please take over the proposal. I will have time to push this proposal forward in one month, but progress should not stall till then.

[2017-01-24 23:19] minux commented on #18777
cmd.SysProcAttr is set only after the cmd has Started.

[2017-01-24 23:24] bradfitz commented on #18777
@minux, cmd.SysProcAttr is never set automatically. It's an optional read-only field.

[2017-01-24 23:31] cespare commented on #12914
I took a quick look through the standard library to see what effect @rsc's proposal would have. It looks like it will improve timing code in the following packages:

* runtime/pprof tests
* runtime tests
* net/http and its tests
* net tests
* os/exec tests
* crypto/tls tests
* cmd/go (go test)
* testing (fixes #18021 for free) and its tests
* reflect tests
* go/types and its tests

There are some

[2017-01-24 23:33] tombergan commented on #18779
If we want to language-lawyer RFC 7231, I believe that servers are technically not required to obey Accept-Encoding; that header is just a recommendation. For example, note the use of SHOULD instead of MUST:

https://tools.ietf.org/html/rfc7231#section-5.3.4

That said, I would still consider this a bug in Twitter's server ... any other interpretation invites insanity.

Some clients will decode an

[2017-01-24 23:41] minux commented on #18773
Static linking multithreaded programs (I.e. all Go programs) against glibc
has known problems:
1. The program still needs matching glibc version at runtime for nss.
2. There are known glibc issues with statically linking glibc programs.

We shouldn't distribute known bad binaries. One workaround is perhaps add a
bin/go.nocgo program that is built with the nocgo build tag.

[2017-01-25 00:10] griesemer commented on #18616
It looks like there's a clear preference for signatures of the form:
[code]
which leaves open which NN to support. Let's focus on NN=64 for the purpose of the continuing discussion. It will be straight-forward to add the remaining types as needed (incl. uintptr).

Which leads us straight back to the original proposal by @brtzsnr and the following functions (and their respective variations for diff

[2017-01-25 00:38] johnsonj commented on #18680
No repro on a fresh 32-bit Server 2008 Datacenter VM for Go1.8rc2

[2017-01-25 00:40] tombergan commented on #18318
Turns out, O(n) is actually the worst case. Some discussion in the thread below. There is some optimization opportunity to reduce the constants, but a faithful implementation cannot avoid the O(n) worst-case.
https://lists.w3.org/Archives/Public/ietf-http-wg/2017JanMar/0107.html

[2017-01-25 00:58] kevinburke opened #18781 "x/crypto/ssh: Add tools for parsing a user's .ssh/config file"
It's nice to be able to type "ssh nickname" and have the details loaded from your `.ssh/config` file:

[code]

Having to parse this file manually to figure out e.g. which IdentityFile to use and which user to authenticate as is a major blocker to using the primitives in x/crypto/ssh. Maybe it could parse into a `map[string]*ssh.ClientConfig` with appropriate defaults chosen.

The closest thing I'v

[2017-01-25 01:01] bradfitz commented on #18616
I'd prefer long functions names. Go avoids abbreviating in function names. The comments can say their nicknames ("nlz", "ntz", etc) for people searching the package that way.

[2017-01-25 01:12] dsnet commented on #18616
@griesemer, you seem to have typos in your message. The comments don't match the function signatures.

I use `SwapBits` in compression applications. That said, do the major architectures provide any ability to do bit reversal efficiently? I was planning on just doing:
[code]

[2017-01-25 01:15] kevinburke commented on #18781
(although Host fields can have wildcards e.g. `Host 10.30.*`, so maybe `map[string]*ssh.ClientConfig` is not the right data structure)

[2017-01-25 01:19] griesemer commented on #18616
@bradfitz , @dsnet : Updated signatures (fixed typos). Also updated questions (people prefer explicit names of shortcuts).

[2017-01-25 01:19] dsnet commented on #18616
Unless there's native support for bit-swapping, I would vote to leave `SwapBits` out. It can be a little ambiguous by name alone whether bits are only swapped within each byte, or across the entire uint64.

[2017-01-25 01:31] kortschak opened #18782 "cmd/gofmt: comment lines broken at new position"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go1.8rc2

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOOS="linux"

### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.
Run `gofmt

[2017-01-25 01:38] griesemer commented on #18649
The "issue" here is that the rounding mode for formatting is always RoundToNearestEven. This matches the strconv library.

If you need to round than do it before formatting and you get the desired result: https://play.golang.org/p/iSo7VROcPj

[2017-01-25 01:38] #18649 closed

[2017-01-25 01:56] griesemer commented on #18782
This appears to be a regression from 1.7. The problem doesn't appear with https://play.golang.org/p/iptkp861qM (simple repro case) in the playground. But with 1.8 we get:
[code]
Likely related to https://go-review.googlesource.com/#/c/33016/ (need to confirm).

[2017-01-25 02:11] minux commented on #18616
Why exclude something based solely on instruction availability? Reverse bit
has notable uses in FFT.

To answer your question of reverse bit instruction availability: arm has
the RBIT instruction.

[2017-01-25 03:24] crawshaw commented on #18729
The `reflect.New` function takes a type `[]int` and returns a value wrapping a `*[]int`. It gets to the pointer using the `ptrToThis` field. This is resolved via the moduledata typemap, and it resolves to the wrong module. That is, it points to the `*[]int` symbol that comes from libstd.so, not the program binary.

This is because libstd.so is listed first the list of modules. I instrumented typel

[2017-01-25 03:48] mwhudson commented on #18729
On 25 January 2017 at 16:25, David Crawshaw <notifications@github.com>
wrote:

Ah.

Problematically it's backwards in plugins. The runtime package is always in

Starting with firstmoduledata and walking next pointers is almost right,
isn't it? The only problem is that in the linkshared case libstd.so is at
the front when it should be .. uh, not at the front. (probably it will
always be second?).

[2017-01-25 03:55] crawshaw commented on #18729
A less evil hack would be to swap the position of firstmoduledata with whatever module contains the main_main symbol. That would be correct in all practical situations we will see with 1.8 (libstd.so, and plugins). It will eventually have to be revisited, if someone builds a complex enough loading scenario.

[2017-01-25 03:56] crawshaw commented on #18729
(At this point I'm looking for something small enough to go into 1.8. I agree going after initarray is more principled, it just sounds a bit hairy to me for a close-to-release change, because of that asm blob in the linker.)

[2017-01-25 04:11] crawshaw commented on #18729
Of course, this bug was originally about a plugin failure. Runtime module ordering does not explain why the type would be wrong in a plugin. Either this diagnosis is wrong, or the failing test case I extracted is for a different bug.

[2017-01-25 04:21] jimmyfrasche commented on #18616
@griesemer As far as the type signatures of functions like
[code]

Does `RotateLeftN` etc take uints because that's necessary for easy intrinisifying (when possible) or just because that's the domain? If there's not a strong technical need, there's a stronger precedent for taking ints, even if negative values don't make sense. If there is a strong technical need, should they be uintN for the appro

[2017-01-25 04:31] griesemer commented on #18616
@jimmyfrasche Because it's the domain. The cpu doesn't care. Whether somethings is an int or a uint is irrelevant for most operations except comparisons. That said, if we make it an int, we have to explain that it is never negative (result), or that it must not be negative (argument), or specify what it's supposed to do when it's negative (argument for rotation). We might be able to get away with

[2017-01-25 04:31] minux commented on #18616
The rotate bit count should be uint (with no specific size) to match the
shift operator of the language.

The reason for not using int is that there will be ambiguity whether
RotateRight -2 bits is equal to RotateLeft 2 bits.

[2017-01-25 04:41] griesemer commented on #18616
@minux There's no ambiguity when `Rotate(x, n)` is defined to rotate by `x mod 64` bits: Rotate left by 10 bits is the same as rotate right by 64-10 = 54 bits, or (if we allow int arguments) by -10 bits (assuming a positive value means rotate left). -10 mod 64 = 54. Most possibly we get the effect for free even with a CPU instruction. For instance, the (32bit x86 ROL/ROR instructions already only

[2017-01-25 04:48] funny-falcon commented on #18590
@bcmills I thought about "allocator style" api. I even started to write comment with definition of such API. Unfortunately I understood it will be tricky to use:

- sometimes I need to lock all allocated "pieces"
- to do that I ought to call Range() and lock individual item one by one. But I also have to be sure no new items will be allocated at this moment (it is ok to return already allocated it

[2017-01-25 05:07] jimmyfrasche commented on #18616
The only real argument is regularity with the rest of the stdlib. There are numerous places where uints make a lot of sense but ints are used instead.

Since math/big is a notable exception, I don't have a problem with this being another, but it is something to consider.

I assume @minux meant ambiguity for someone reading/debugging code rather than ambiguity in the implementation, which is a pers

[2017-01-25 07:38] rakyll commented on #18680
Closing this until reproduced. It is clear that it is not making to 1.8 if the bug is there.

[2017-01-25 07:50] omeid commented on #17163
The problem with this issue is that any prototype and/or alternative would need to completly try to replace the json package and or require double decoding.

An alternative solution is to expose some of the json encoding internals to allow for implementing superset packages that uses package json internally.

Would a proposal for such changes will be considered?

[2017-01-25 07:54] mattn opened #18783 "path/filepath: needless dot appear in filepath.Dir(`\\server\share`)"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version devel +c1730ae Wed Jan 18 15:40:33 2017 +0000 windows/amd64

### What operating system and processor architecture are you using (`go env`)?

windows amd64

### What did you do?

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

[2017-01-25 08:02] LionNatsu commented on #18617
I think the key of this issue is that:
`d.IsNil()` is the shorthand for `d.Pointer.IsNil()`.

I'm not good at terms, but if I write it in C++, it should be something like:
`d->Pointer::IsNil()`
The operator `::` does not access anything but just pass the object before it as the 'this pointer' to the function (aka 'thiscall').
But operator `->` accesses the pointer before it which MUST NOT be a nul

[2017-01-25 10:03] minux commented on #17725
I'm thinking that we haven't completely explored the entire design space
yet.

For example, we can make interface value always allocate anew on heap and
thus all interface values are a single pointer.
then we can do inline data. In fact, we can even inline non-intptr sized
data. In fact, this solution eliminates the classical data race of racing
with interfaces and enables RCU style interface mani

[2017-01-25 10:19] as commented on #18616
Should bits.SwapBits really be named with a bits suffix when the name of the package is already called bits? How about bits.Swap?

Another idea is a bits.SwapN(v uint64, n int) rather than bits.SwapBytes where n represents the number of bits to group by for the swap. When n=1 the bits are reversed, when n=8, the bytes are swapped. One benefit is that bits.SwapBytes no longer has to exist, although

[2017-01-25 10:24] databus23 commented on #18711
I tried creating a repro by sprinkling the  handshake part of the golang ssh crypto lib with some sleeps but was not able make it work.

I'm also tried reproducing the original error that led to this issue being raised without luck so far.

Is my understanding of this issue correct that this is probaply caused because the openssh client receives a `KEXINIT` at a later stage in the handshake where

[2017-01-25 10:29] vincentwoo commented on #15395
Hi @aclements and @icecrime. Has there been any additional work on seeing whether this is indeed a runtime vs kernel issue? This has pretty serious impacts for the whole Go ecosystem if it actually is a runtime issue!

[2017-01-25 10:47] hanwen commented on #18711
almost:

the first kex is special because it is mandatory, and I think the Go code has a race where the remote request for the first kex is somehow interpreted as a second kex, which then fires during the user authentication stage. (the word "handshake" is a bit overloaded here: there is the kex which has the dual purpose of setting up the secure channel and verifying the server identity, and ther

[2017-01-25 11:43] dmportella commented on #15728
I started facing this issue now

[2017-01-25 12:44] Dr-Terrible commented on #18728
I found myself in the same boat: lot of receivers to rename that I cannot easily automated with rename, thus consuming a not insignificant amount of my time.

A flag is good enough for me, I really don't mind, provided `rename` offers a faster solution for these king of scenarios :)

[2017-01-25 13:10] dlsniper commented on #18778
@vcabbage thanks for doing the investigation. @rsc / @bradfitz since this is a regression in 1.8, do you think we could have this fixed in RC3?
I ask this because it already showed up for a few people while testing other things and I'm not sure if it's intended or not to be like this and then maybe at least a less intrusive change could be done by making the error message a bit more clear.

[2017-01-25 14:16] golang101 commented on #18775
Why? Looks not reasonable.

[2017-01-25 14:18] mvdan commented on #18775
@golang101 this way you can handle a nil pointer in a single place instead of many.

Flipping the question - what makes this not reasonable for a potential Go 2?

[2017-01-25 14:27] bioothod commented on #18537
Patch has been submitted into gerrit, please comment (preferably here) and merge
https://go-review.googlesource.com/#/c/35710/

[2017-01-25 14:28] bioothod commented on #18537
Kudos to Anton Tiurin @noxiouz for this

[2017-01-25 14:31] ianlancetaylor commented on #18778
The docs seem pretty clear that "..." is used with `GOPATH`.  I think it's an accident that it ever worked outside of `GOPATH`.  `go test ./...` does seem to still work within `GOPATH`.

It's an easy fix, though.  Sent CL 35646.  @rsc can decide.

[2017-01-25 14:41] dlsniper commented on #18778
@ianlancetaylor I'd be happy if this remains as it is but we just have either a better error in this case and document this as a bug fix in the release notes.

[2017-01-25 14:43] bcmills commented on #18617
@LionNatsu I don't think it's particularly helpful to reason by analogy to C++ here: C++ does not have any feature that is particularly close to Go's embedding.

(In particular, member functions in C++ do not allow null `this` pointers.)

[2017-01-25 15:05] LionNatsu commented on #18617
It is not completely different. Let's say there's a class has the value we are going to embed at the very beginning, we can tell there is no offset, so the pointer to this class can be safe convert to the embedded one's pointer, and then you can use its member functions.

Well, it's true. It needs to check the inner structure to find the function. My apologies.

[2017-01-25 15:56] myitcv commented on #12914
@rsc @bradfitz doesn't this suggestion introduce a breaking change into the API?

As of now (no pun intended) `time.Now()` is currently defined to [return a local time](https://godoc.org/time#Now).

Currently, given [the code](https://play.golang.org/p/sKVXl5BzGI):

[code]

we get the output:

[code]

Under your proposal we would instead get the output:

[code]

This problem is most obviously seen

[2017-01-25 16:04] cherrymui opened #18784 "runtime: TestGdbPythonCgo fails on MIPS32"
[code]

Looking at the build dashboard, this test fails with a large chance, but not always. It happens on both BE and LE. For example,
https://build.golang.org/log/1b824c580a7c5767ef45a34e29dd6c5c8c49e792
https://build.golang.org/log/5f62e2e14098562cbfcd839333a2a22a4c373c4a

I will take a look.
cc @ianlancetaylor @vstefanovic

[2017-01-25 16:09] bradfitz commented on #12914
@myitcv, no, that's not true. Under the proposal, time.Parse would only return a time.Time containing a wall time, not a wall+monotonic, so t2.Sub would only operate on the wall times, as it does today. No change to that code.

[2017-01-25 16:11] myitcv commented on #12914
@bradfitz I should have drawn more attention to the comment in the code:

[code]

[2017-01-25 16:13] rsc commented on #18600
Reproduced on 10.12.2 16C67 using the while loop in $GOPATH/src/camlistore.org.

[2017-01-25 16:18] bradfitz commented on #12914
Oh, yeah, I missed that sorry.

Some would argue it's a "fixing" change.

[2017-01-25 16:23] AlekSi commented on #18517
Cross-link to #9220.

[2017-01-25 16:26] AlekSi commented on #18517
Can someone update #9220 with a link to this one? Automatic Github linking doesn't work for locked issues.

[2017-01-25 16:26] databus23 commented on #18711
I'm still failing at creating a somewhat reliable repro here.

I managed to hit that bug once with `ssh -v` on the client side and the `golang.org/x/crypto/ssh.debugHandshake=true`:

[code]

[2017-01-25 16:28] bradfitz commented on #18517
@AlekSi, done.

[2017-01-25 16:31] myitcv commented on #12914
Which is exactly the point I was leading into (assuming it is a breaking change, others might still correct me)

Let's assume for one second we don't find a solution that doesn't break the API. Then we're into the territory of debating which breaking change is "best", where "best" is a term which is defined along multiple dimensions:

1. Number of changes required in core
2. Number of changes requ

[2017-01-25 17:00] cherrymui commented on #18784
I run the gdb command in runtime/runtime-gdb_test.go manually, the failure actually happens much rarer, once per 10-20 runs. Here is the output on failure (I added an "echo START" before "run"):
[code]

On a success run:
[code]

It seems the problem might be gdb loading libthread_db?

[2017-01-25 17:04] rsc commented on #18600
I confirmed that the signal is arriving on the ordinary goroutine stack, and the stack trace for that goroutine at the time of the signal is:

[code]

That's the RawSyscall(SYS_FORK, ...) call that creates the child process.

I changed the runtime to record its own pid at init time and then at the time of the signal print both the init-time pid and the current pid. That appears to confirm that the

[2017-01-25 17:04] rsc commented on #18600
Confirmed that using 'kill -2 $! ' instead of 'kill -2 %' makes the problem go away: this is about killpg, not a kernel bug where parent signals get delivered to a child.

[2017-01-25 17:12] bradfitz commented on #18783
You didn't say whether this is a regression from Go 1.7, so I'm assuming this is for Go 1.9.

[2017-01-25 17:12] hajimehoshi commented on #17945
The situation has changed a little: the current error message is

[code]

Is this expected?

[2017-01-25 17:19] rsc commented on #12914
Ignoring all the implementation details of monotonic time, this change and this issue are really about making t.Sub return more accurate results when comparing values obtained by time.Now. I looked very hard, and I have yet to find a single piece of code that breaks due to reporting a more accurate result.

If it's just before a leap second and you do:

[code]

then I would argue that the new outp

[2017-01-25 17:24] cherrymui commented on #18784
I added "-ex" "set debug libthread-db 1" in gdb command. It seems indeed related to libthread:
On failure:
[code]

On success:
[code]

[2017-01-25 17:33] bradfitz commented on #18782
@griesemer, you're confident this is sufficiently rare to push off to Go 1.9?

[2017-01-25 17:33] griesemer commented on #15728
@dmportella Your comment on this closed issue is not actionable. If you see a new problem (with one of the 1.8 release candidates), please file a new issue with details so the problem can be reproduced. Thanks.

[2017-01-25 17:40] griesemer commented on #18782
@bradfitz I haven't seen this before and none of the code we regularly gofmt appears to have the problem. That is all I can say at the moment. I will look into the problem today - perhaps there's a safe and easy fix.

[2017-01-25 17:44] dhananjay92 commented on #18784
Perhaps it just needs `-pthread` gcc flag, no?

[2017-01-25 18:10] myitcv commented on #12914
Definitely not trying to take things off topic here so apologies if that was the sentiment; my thought experiment was too hasty, not least because you don't believe this is a breaking change.

`t.Sub` is currently not defined nor implemented to return elapsed time; it returns (rightly or wrongly) the "difference" between two time values, `2s` in my example above. If we make it return elapsed time

[2017-01-25 18:11] theckman commented on #12914
With this proposed change, assuming I didn't want a monotonic time for an operation, what would be the canonical way to get the localtime `time.Time` value without the monotonic time value being included?

[2017-01-25 18:17] rsc commented on #12914
@theckman The eventual design and documentation will have to specify some canonical way, either by reusing an existing method (which would be nice for keeping new code compatible with old Go distributions) or by adding a new method. There are multiple options; two are `time.Now().AddDate(0,0,0)` or `time.Now().Truncate(1)`.

[2017-01-25 18:24] cherrymui commented on #18784
It actually has pthread:
[code]
The mystery part is why it fails *sometimes*, with the same binary...

[2017-01-25 18:31] bcmills commented on #18590
@funny-falcon

It does lead to a mutex in the Allocator, and that's fine in practice.  You don't need to eliminate all contention: you only need to eliminate contention in the steady-state.

In my experience, the calls that require `Range` tend to be infrequent enough that their impact on steady-state contention is minimal.

That said, you could use an approach similar to the one in [change 33912]

[2017-01-25 18:36] jimmyfrasche commented on #12914
A method like `func (t Time) Wall() Time` would be more readable (modulo that terrible name) for code moving forward.

If backwards compatibility is an issue, someone could still use one of the options listed.

[2017-01-25 18:39] josharian commented on #18616
As [specified above](https://github.com/golang/go/issues/18616#issuecomment-274980598), `LeadingZeros64`, `TrailingZeros64`, `Ones64` all LGTM.

A single `Rotate64` with a signed rotate amount is appealing. Most rotates will be by a constant amount, too, so (if/when this becomes an intrinsic) there'll be no runtime cost to not having separate Right/Left functions.

I have no strong opinion about b

[2017-01-25 18:39] ianlancetaylor commented on #18600
This problem does not happen on GNU/Linux because the child process still has an alternate signal stack in effect.  At least, that is what I see from this program, which on GNU/Linux prints

    0x2517010 0 8192

    #include <signal.h>
    #include <stdio.h>
    #include <stdlib.h>
    #include <unistd.h>
    #include <sys/types.h>
    #include <sys/wait.h>

    static void
    die(const char *s)

[2017-01-25 18:40] rsc commented on #12914
@myitcv Time.Sub would continue to return the difference between two time values; the way I think about this is that the Time values returned by time.Now would become more precise, which improves the accuracy of subtracting them. (Specifically, in the case where the computer changes introduces discontinuities in "formatted time", the Times store enough information to compute an accurate difference

[2017-01-25 18:44] bcmills commented on #18590
See also https://github.com/golang/go/issues/8281

[2017-01-25 18:44] rsc commented on #18600
On macOS 12.12.2 I get

    0x0 0x4 0

OK, so we know that Linux doesn't clear sigaltstack at fork (that's nice), but there's still technically a problem. A signal has arrived and we're handling it as if we're in the parent, but we're in the child. If the signal handler did anything that depended on being in the real parent process, we'd be in trouble. We probably do need to either make this impos

[2017-01-25 18:47] dsnet commented on #18616
IMO, if it were just `bits`, (without reading the package docs) I would expect it to be somewhat similar to package `bytes`. That is, in addition to functions to operate on bits, I would expect to find a `Reader` and `Writer` for reading and writing bits to/from a byte stream. Making it `math/bits` makes it more obvious its just a set of stateless functions.

[2017-01-25 18:47] einthusan commented on #13523
@agl I will look into what SNI is and how to support it... It really sucks that "Go" doesn't have a "true" full-compatability SSL support by default. The entire "being really secure" model is causing all sorts of problems in the wild by not having "99%" support for all browsers out there.

[2017-01-25 18:53] agl commented on #13523
@einthusan SNI is the server name that some clients send (i.e. the `ServerName` in [ClientHelloInfo](https://golang.org/src/crypto/tls/common.go#L218). To be clear: dependence on SNI is something that has been done on top of Go's standard libraries, it's not typical of Go servers.

[2017-01-25 18:53] tsuna commented on #12914
@rsc, thanks a lot for taking the time to propose a thoughtful fix, survey a lot of Go code to assess the impact of the fix, and follow up on concerns being raised on this issue.  I was a bit disappointed with how this issue was handled originally but now I'm like, +💯  to you guys for taking this seriously and doing something about it.

[2017-01-25 18:55] griesemer commented on #18782
Confirming that https://go-review.googlesource.com/#/c/33016/ (commit a0d2e9699f1cc83a854c52843ff15d07f83bce47) is indeed the culprit. The bug is not present before (commit 8cd55615d4d00f48c30dff85d5d5e3f2adce70ce).

[2017-01-25 18:57] ianlancetaylor commented on #18600
The most correct procedure I can think of is

1. block all signals before fork
2. after fork in parent, restore original signal mask
3. after fork in child, change all signal handlers that are not `SIG_IGN` to `SIG_DFL`, then restore signal mask

I will work on a CL.

[2017-01-25 18:58] ianlancetaylor commented on #18600
To clarify, the reason for changing all the signal handlers to `SIG_DFL` is 1) that avoids the problem of invoking a signal handler in the child; 2) that is what `execve` is going to do anyhow, so any race condition already exists.

[2017-01-25 18:59] rsc commented on #18600
SGTM. Thanks.

[2017-01-25 19:00] rsc commented on #18600
I think this can wait for Go 1.9. We're more likely to break something common than fix this rare event.

[2017-01-25 19:02] rsc commented on #12914
Thanks very much. Glad to see this work out nicely.

[2017-01-25 19:08] thanm commented on #18784
Would it make sense just to turn off libthread_db, if it will fix the test flakiness?  Doesn't help with the underlying problem, though. I'll send an experimental CL.

[2017-01-25 19:11] dhananjay92 commented on #18784
By removing [this line](https://github.com/golang/go/commit/aad06da2b9b293fd245626fc8e116e3b56654dae#diff-33d79aabc7d18520a531d0a6d84b4ef3R1083) from aad06da2b9b293fd245626fc8e116e3b56654dae, I can reliably reproduce the failure on linux-amd64. I get,
[code]

So, I suspect that #18745 didn't get fixed for MIPS. It should be easy to confirm if that's the case.

@cherrymui, since you have access to

[2017-01-25 19:13] rsc commented on #13523
@einthusan The behavior depends on the tls.Config you use to run the server. If you set config.Certificates to the certificate for einthusan.tv, then clients not using SNI will be able to connect just fine. If you only set config.GetCertificate, leaving config.Certificates nil, then only SNI clients will work.

einthusan.tv is serving using a Let's Encrypt-issued cert. The Go clients I know about

[2017-01-25 19:21] agl commented on #13523
The `GetCertificate` callback will be made, even without SNI, if `config.Certificates` is empty \[[1](https://go.googlesource.com/go/+/ea73649343b5d199d7f3d8525399e7a07a608543/src/crypto/tls/common.go#721)\]. However, it's certainly possible that the callback itself is returning an error if `ServerName` is empty.

[2017-01-25 19:28] ianlancetaylor commented on #18784
I don't think the MIPS problem can be related to the fix for #18745, because the MIPS problem is sporadic, and the fix for #18745 is deterministic.  If the MIPS problem were directly related to that, it would always fail.  Since it mostly succeeds, I think the problem must be something else.  But I don't know what.

If we don't figure it out in a couple of hours, we should skip the test on MIPS.

[2017-01-25 19:38] taruti commented on #12914
Just to note leap seconds are not the only issue:

* Uncontrolled (Windows) client machines with users setting date/time manually exist in wild.
* Systems lacking proper time on boot and jumping from 1970 to 2017 at some point during boot are quite common (e.g. some arm linux systems).

[2017-01-25 19:39] rsc opened #18785 "x/crypto/acme/autocert: assume default domain for non-SNI connections?"
If you're running a one-domain site, autocert could potentially handle
non-SNI requests (`GetCertificate("")`) by picking a domain from its cached
cert set - most commonly used, most recently used, first used, shortest, some policy.
Today it returns an error, which probably turns into a TLS hangup.

This affects clients with non-SNI browsers, such as IE 8.

See discussion at end of #13523 for more

[2017-01-25 19:40] rsc commented on #13523
I filed #18785, assuming that einthusan.tv is using golang.org/x/crypto/acme/autocert. Let's move the conversation there.

[2017-01-25 19:40] rsc commented on #12914
@taruti Absolutely, and the proposal fixes those too.

[2017-01-25 19:43] bradfitz commented on #18785
/cc @x1ddos

[2017-01-25 20:06] sbinet opened #18786 "reflect: rename StructField.Anonymous into Embedded"
in Go-1, we have:

[code]

The `Anonymous` field is a bit ambiguous or at least misleading.

For Go-2, rename it as `Embedded`.

(see: https://golang.org/cl/35732/ for context)

[2017-01-25 20:13] josharian opened #18787 "time, cmd/compile: backport fixes to 1.7.5"
Reminder issue so that these come up in the 1.7.5 milestone. Per golang-dev thread, consider backporting fixes for issues #17276 and #18410 for 1.7.5.

[2017-01-25 20:18] mlsteele opened #18788 "runtime: Frames.Next is confusing"
### What version of Go are you using (`go version`)?
play.golang.org

### What operating system and processor architecture are you using (`go env`)?
play.golang.org

### What did you do?
Sample program:
https://play.golang.org/p/5ckof3s_kJ

### What did you expect to see?
The documentation for [Frames.Next](https://golang.org/pkg/runtime/#Frames.Next) says "Next returns frame information for the n

[2017-01-25 20:23] bradfitz commented on #18787
I think I did both of those already:

https://go-review.googlesource.com/q/status:merged+branch:release-branch.go1.7

[2017-01-25 20:26] josharian commented on #18787
Indeed, sorry.

[2017-01-25 20:26] #18787 closed

[2017-01-25 20:27] virtuald commented on #16090
I've ran into the same issue, it appears that when you run 'go build' without naming .go files then it links the syso file (perhaps some autodiscovery?), and when you run go build and name each .go file, then it doesn't link the syso file. There is no error message reported, and the resulting binary still works (it just doesn't have the Windows resources in it).

[2017-01-25 21:05] cherrymui commented on #18784
@thanm disabling auto-loading libthread_db doesn't seem to help. I still see occasional failure running the gdb command manually.

@dhananjay92 `objdump --debugging <binary> | grep "DW_AT_low_pc" -B 2 -A 4` prints quite a lot (presumably one entry for each symbol?) but all are not 0x0.

[2017-01-25 21:07] cherrymui commented on #18784
Maybe libthread is not the problem?

[code]
I think this is the problem, but I don't know if it is related to libthread.

[2017-01-25 21:18] kortschak commented on #18782
As a data point, this breaks my CI as I perform automated gomft checks on that repo. The failure masks other real failures.

[2017-01-25 21:27] griesemer commented on #18782
@kortschak Understood. I've started working on this.

[2017-01-25 21:39] jtolds commented on #17082
Haven't done zswap yet but with an SSD for swap:

[code]

Going to try and back off on GOGC and increase cmd/dist's maxbg and see if it goes faster.

[2017-01-25 21:39] kortschak commented on #18782
@griesemer Thank you

[2017-01-25 21:50] minux commented on #18784
Which version of glibc? And what does that line in rtld.c do? (I assume
it's some kind of assert indicating that our binary is somehow wrong.)

Is ASLR effective on the builder? Try disable that and try again?

[2017-01-25 21:57] #18759 closed

[2017-01-25 22:07] mwhudson commented on #18729
go test -linkshared seems to be pretty broken right now (sadface) but doing things by hand suggests that go test -linkshared crypto/tls is still broken with that CL (but encoding/asn1 is indeed fixed).

[2017-01-25 22:35] griesemer commented on #18782
@kortschak Not a completely satisfactory "solution", but a work-around: The following source
[code]
(first comment on same line as /*) will be preserved. Still trying to see if there's a simple (1.8-acceptable solution).

[2017-01-25 22:41] myitcv commented on #12914
@rsc

You're right; that was an incorrect example.

Your example has I think helped to explain what I've been missing here. Just to confirm, does this mean that in the case where the clocks go back in autumn/fall (i.e. in a timezone where the local time goes backwards):

[code]

then `t2.Sub(t1)` is guaranteed to be `1h 1min` in the current implementation?

I had been assuming that the answer woul

[2017-01-25 23:14] griesemer commented on #18782
@kortschak Can you verify that https://go-review.googlesource.com/35811 fixes the problem for you? Thanks.

[2017-01-25 23:20] m-abdalrahman opened #18789 "add name tag optional with ignore tag json"
### Introduction
I use struct to decode and encode json,
and in many times I use `json:"-"` tag to ignore fields from struct when encode to json,
this means I should create new struct have same fields without ignore tag to decode json format have object ignored at main struct.

### I propose
add name tag optional with ignore tag like `omitempty` `json:"myName,omitempty"`
to ignore this field when

[2017-01-25 23:26] kortschak commented on #18782
@griesemer Yes, that fixes the problem. Thanks.

[2017-01-25 23:56] bradfitz commented on #18789
Sorry, the JSON package is basically frozen at this point.

This is probably better discussed on the mailing list to see what others are doing: https://golang.org/wiki/Questions.

[2017-01-25 23:56] #18789 closed

[2017-01-25 23:57] ianlancetaylor commented on #18784
As far as I know, an assertion failure in the dynamic linker does not normally present itself as a `SIGTRAP` signal.  That sounds like something that would happen only when running the program under gdb, when gdb is trying to instrument the dynamic linker to detect the set of shared libraries and is somehow messing up.

[2017-01-26 00:07] #18782 closed

[2017-01-26 00:09] mattn commented on #18783
@bradfitz I'm sorry. I'm finding the last change of commit from blame, which commit break Dir.  However, this may be early release before go1.9. Because this bug make hang when finding parent directory like below.

[code]

[2017-01-26 00:16] mattn commented on #18783
It seems older than this commit. So It's not regression from Go 1.7 .

https://github.com/golang/go/commits/c007ce824d9a4fccb148f9204e04c23ed2984b71/src/os/path.go

[2017-01-26 00:34] rsc commented on #12914
@myitcv, yes, in your example, all versions of Go agree that t2.Sub(t1) is 1h1m. The reason is that the time is represented internally as a delta from some fixed instant (in Go's case, the zero time Jan 1 year 1 00:00:00.000000000 UTC), and the presentation as 01:05 or 01:06 is computed only when asked to print the time. The two representations in that example are 61 minutes apart. Even if t1 and

[2017-01-26 00:45] ianlancetaylor commented on #18788
There isn't anything wrong with `Frames.Next`.  You've misunderstood how to use `runtime.Callers`.  `runtime.CallersFrames` assumes that all the frames you pass in are valid.  You need to look at the value that `runtime.Callers` returns, and use that to limit the number of meaningful entries.

For example: https://play.golang.org/p/g8TrgyehBO .

This may seem kind of pointless with the current gc

[2017-01-26 00:48] skinp commented on #18768
I'll work on this if @mgoldsmi isn't already at it...

[2017-01-26 00:52] bradfitz commented on #18768
There is already https://golang.org/cl/35507

[2017-01-26 01:12] skinp commented on #18768
Cool, the issue didn't link I guess.

Reading the RFC while looking into this, I realized the boundary length was also wrong... "the boundary parameter, which consists of 1 to 70 characters from a set of characters"
boundary := 0*69<bchars> bcharsnospace

New issue?

[2017-01-26 01:32] dlsniper opened #18790 "proposal: cmd/gofmt: write official spec for gofmt"
Hello,

In light of https://github.com/golang/go/issues/18782 I would like to resurface an older discussion about the specifications for gofmt being provided as official specifications.
Alternative implementations of the gofmt tool could be done a lot easier and would allow for having another tool to validate validate against (much like we have gc and gccgo).
Thank you for your consideration and t

[2017-01-26 01:33] rakyll opened #18791 "cmd/gofmt: weird indentation with block comments"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
Block comments are formatted weirdly.
[code]
#### What did you expect to see?

Comment beginner and ender is aligned correctly even though it requires adding indentation with spaces.

[code]

#### System details

[code]

[2017-01-26 01:34] rakyll commented on #18791
/cc @griesemer

[2017-01-26 02:49] cherrymui commented on #18784
@minux
[code]

[2017-01-26 03:13] crawshaw commented on #18729
Now there are a couple of bugs here, and I'm not sure how to separate them into issues. I'll put a bit of time tomorrow into poking at it all tomorrow.

[2017-01-26 03:15] minux commented on #18784
What's the gdb version? Perhaps you can try building the latest gdb?

[2017-01-26 03:35] minux opened #18792 "x/arch/x86/x86asm: GNUSyntax rendors relative pc jump targets wrong"
The GNUSyntax uses `.` to denote the address of the next instruction, but that doesn't match GNU as' definition. This makes it impossible to round trip the disassembly (GNU as will not be able to assemble `je .-0x80` into two-byte short jump.)

[code]

Output:
[code]

However, in AT&T syntax, `.` means the address of the current instruction, whereas the encoding actually means (conditional) jumps

[2017-01-26 04:12] dcu commented on #18770
this is probably dup of #17393 isn't it @eliasnaur ?

[2017-01-26 04:41] minux commented on #18792
The roundtrip test proved really effective at finding bugs:

Input: 41 80 3c 24 00          cmpb   $0x0,(%r12)
Output: cmpb $0x0,(%r12,%riz,1)

[2017-01-26 05:54] skinp opened #18793 "mime/multipart: SetBoundary should allow length <= 70, not <=69"
### What version of Go are you using (`go version`)?
`go version go1.7.3 darwin/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
While looking at RFC 2046, section 5.1.1 following up #18768, I saw Go's mime/multipart only allowed SetBoundary with string length <= 69 while the RFC specifies <= 70.

Playground repro: https://play.gol

[2017-01-26 06:12] griesemer commented on #18791
@rakyll It's very tricky to get this right. If the "line of stars" is aligned to start with, it works out most of the time. The problem is recognizing the "line of stars" as a line and not interfere when it's not. There's some support for the argument that gofmt should never touch comment internals in the first place. Fixing this requires meddling with the inside text of a /*-comment. Sometimes th

[2017-01-26 06:20] bradfitz commented on #18688
Submitted to 1.7 branch.

[2017-01-26 06:20] #18688 closed

[2017-01-26 06:20] bradfitz commented on #18333
Submitted to 1.7 branch.

[2017-01-26 06:20] #18333 closed

[2017-01-26 06:20] bradfitz commented on #18708
Submitted to 1.7 branch.

[2017-01-26 06:20] #18708 closed

[2017-01-26 06:20] bradfitz commented on #18700
Submitted to 1.7 branch.

[2017-01-26 06:20] #18700 closed

[2017-01-26 06:25] #18719 closed

[2017-01-26 07:01] cznic commented on #18791
That's exactly what I would like to see one day.

[2017-01-26 07:14] akamensky commented on #18770
@dcu Thank you for the reference, looks like the same though slightly different use-case.

I agree with comment in referenced issue that in theory Go should not be raising SIGPIPE at all (instead of ignoring it). SIGPIPE is meant for environment where it is not possible to handle error upon write/read to/from closed socket, which is the case for low level languages. Go already provides necessary t

[2017-01-26 07:31] mikioh commented on #18734
FWIW, in such case I tend to use a package like github.com/mikioh/tcp.

[2017-01-26 07:33] minux commented on #18665
This is blocked by lack of access to the x86spec program that generated x86.csv.
Fixing this issue is easy, but I want to also fix x86spec program to make sure there aren't other missed instructions.

/cc @rsc

[2017-01-26 08:08] einthusan commented on #18785
@rsc Thanks for opening this issue. We indeed use autocert at the moment. Unfortunately I'm not good enough of a developer to help out, but thanks for the consideration of this 👍

[2017-01-26 09:22] dmportella commented on #15728
@griesemer its oke I think after running

Everything started working

[2017-01-26 09:51] ThibaultRiviere opened #18794 "Float operation need explanation"
### What version of Go are you using (`go version`)?
**go version go1.7.1 linux/amd64**

### What did you do?
[code]

### Output
[code]

If anyone can explain to me what i did wrong, i'm a new rookie on golang.
Can be related to #18772 ?

[2017-01-26 10:01] elico commented on #18734
@mikioh but what do you mean by using this package?
Low level TCP and drop all http.* to trash?
(Sorry but I do not understand how you want me to use it in the middle of a http session)

[2017-01-26 10:23] ALTree commented on #18794
This is how floating point arithmetic works, it's the same in every language. Python:

[code]

You can find a friendly treatment of floating point arithmetic here: http://floating-point-gui.de; or a more technical treatment here: https://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html

Since the Go project does not use its bug tracker for general discussion or asking questions, I'm closing

[2017-01-26 10:23] #18794 closed

[2017-01-26 10:36] ThibaultRiviere commented on #18794
@ALTree thanks for your response .
My question was why the result is different ? Like you said floating work like that, so both should be the same right ?

[2017-01-26 10:54] ALTree commented on #18794
`(1.30 + 1.35)/2` is a constant expression and is evaluated at compile time by the compiler using arbitrary-precision arithmetic, and only after the evaluation the result is cast to `float64`; while the `(datas[0]+datas[1])/2` expression is evaluated ad run-time using the usual 64-bit floating point arithmetic.

For this reason, the two values are actually a little different. Here's a more extreme

[2017-01-26 10:58] ThibaultRiviere commented on #18794
@ALTree make sens thanks for your time :)

[2017-01-26 11:00] KingRider commented on #16094
https://github.com/golang/go/blob/7448eb4172bfc8f704b9ea39d77d0113a042b9dc/src/net/http/client.go#L301 is wrong!

Check L303
https://go-review.googlesource.com/#/c/32478/1/src/net/http/client.go@303

Please is what correct?

[2017-01-26 11:12] cesarliws opened #18795 "doc: broken wiki Images in golang/go/wiki/Mobile"
I'm reading the Go Mobile docs, and some images is not found

* Deploying app bundle
https://camo.githubusercontent.com/fbc28cc15ba04a995fe26925658557d8be5565fe/68747470733a2f2f676f6f676c6564726976652e636f6d2f686f73742f30427966536a64505673394d5a626b686a6555684d597a52546545452f676f77696b692f676f6d6f62696c652d696f732d6465706c6f792e706e67

* Xcode project layout with hello.framework
https://camo.gith

[2017-01-26 11:13] eliasnaur commented on #18770
It looks like a dup of #17393. I'll try (again) to fix it for Go 1.9.

[2017-01-26 11:13] #18770 closed

[2017-01-26 11:31] L-P opened #18796 "net/http: ReverseProxy always trigger http.Server.ReadTimeout"
### What version of Go are you using (`go version`)?
`go version go1.7.4 linux/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I have a `http.ReverseProxy` as the handler of a `http.Server`
configured with a `ReadTimeout`, and serving a large file.

[code]

### What did you expect to see?
I expect the proxy to serve the whole file

[2017-01-26 11:59] ALTree commented on #18795
The wiki is editable by anyone but if you're not sure how to fix the link reporting the problem here is the right thing to do, thanks.

[2017-01-26 12:11] umarbrowser opened #18797 "1.7.4"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

### What did you expect to see?

### What did

[2017-01-26 12:13] umarbrowser commented on #18797
Add == hausa langauge, if you allow i can cintribute

[2017-01-26 12:25] ALTree commented on #18796
I can't reproduce the problem on go1.8.

I believe this is a dup of #18447, which was fixed on tip by ecac827573ab1500551f2d7ffb98c06422abda9a.

[2017-01-26 12:43] L-P commented on #18796
Can't reproduce on `go version go1.8rc2 linux/amd64` either. Thanks.

[2017-01-26 12:43] #18796 closed

[2017-01-26 13:10] mvdan commented on #18797
I don't understand this issue. What is the bug or feature request?

[2017-01-26 13:13] morriswinkler-simplesurance opened #18798 "Strange time.Parse() behavior."
██ go version
go version go1.7.4 darwin/amd64

██ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/morris/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-length=0 -fdebug-prefix-map=/var/folders/tk/kxjq9h991j70h

[2017-01-26 13:22] keegancsmith commented on #18629
@mattn do you think we could adjust the `vfs.OS` implementation for windows such that `resolve` does the "right" thing for `vfs.OS("")`?

[2017-01-26 13:25] umarbrowser commented on #18797
it a request if you allow i will contribute

[2017-01-26 13:27] Ganners commented on #18798
Your date format must correspond to `Mon Jan 2 15:04:05 MST 2006` in the format. (https://golang.org/pkg/time/#pkg-constants)

Therefore you want your date format to probably be: `2006-01-02 15:04:05.000 MST`

Your received output was therefore correct, and your expectated outcome incorrect

[2017-01-26 13:28] mvdan commented on #18797
If you have a patch to contribute, see https://golang.org/doc/contribute.html.

Otherwise, issues are for bugs, enhancements and proposals. I see none of those here. Feel free to open one with details on exactly what your suggestion or problem is.

[2017-01-26 13:28] #18797 closed

[2017-01-26 13:33] rami-dabain commented on #18489
How to recover from that?
Recover doesn't seem to work when json encoder crashes with the con-map-access!

[2017-01-26 13:34] funny-falcon commented on #18590
@bcmills, in my usage case, I use "shard number" as a low bits of request number. So when answer arrived, I may find "shard" by this low bits.
But to use low bits, I have to know maximum.
With my api, I will call ProcMaxHint() only once at startup, will round it to closest power of 2, and then will mask ProcHint() with only low bits:

[code]

It will be difficult to do with Allocator api.

[2017-01-26 13:47] mikioh commented on #18734
Simply, 1) make a custom TCP listener type which implements net.Listener interface, 2) make the Accept method of the custom TCP listener type identify the original destination IP address, 3) pass the custom TCP listener to http.Serve function, and let it run with your HTTP serve handler. I don't see any problem to have a map containing remote and original destination IP addresses, and reading it f

[2017-01-26 13:52] morriswinkler-simplesurance commented on #18798
Makes sense, but how would you read that from the docs?
[code]

This is not that clear.

[2017-01-26 13:54] ALTree commented on #18489
@rami-dabain you don't. A program that has a data race on a map is not a valid Go program. If you're getting this, you need to fix your code to avoid the data race.

Please dont' ask questions on closed issue. If you have further questions, see the [Questions wiki page](https://github.com/golang/go/wiki/Questions); it has a list of good places for asking questions.

[2017-01-26 14:08] myitcv opened #18799 "x/tools/cmd/gotype: -a flag doesn't include XTestGoFiles"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

### What did you expect to see?

[code]

### What did you see instead?

Nothing

If instead we change to use the package name:

[code]

then the output

[2017-01-26 14:11] mvdan opened #18800 "go/build: commas in build tag lists should error"
I just realised that multiple build tags are separated by spaces, not commas. I had been doing `go install -tags 'foo,bar'` instead of `go install -tags 'foo bar'` for days without noticing, because the former meant a single build tag that did nothing at all.

Two other people in my team went through the very same issue weeks ago when learning build tags, so surely it's not just my misunderstandin

[2017-01-26 14:12] mattn commented on #18629
Sorry, I don't think that it is "right".

[2017-01-26 14:42] #18778 closed

[2017-01-26 14:57] sybrandy commented on #18721
@rsc Is there a discussion somewhere related to errors in version 2 somewhere?

[2017-01-26 15:18] cznic commented on #18798
Seems reasonably clear to me. Do you want to suggest a clarification?

[2017-01-26 15:22] cznic commented on #18800
It seems to be documented properly.

[code]

Note, it's `'tag list'`, not `'tag,list'`.

[2017-01-26 15:24] mvdan commented on #18800
I realise that - but even though we all read that line, we still used commas. Note that lists are usually comma-separated, and `'tag list'` doesn't particularly say to me that `tag` and `list` are elements. It seems more like a description.

[2017-01-26 15:35] bwmarrin commented on #13695
Same boat here as @Oregon-Tech-Ninja and would love to see GPS in Go :).  @Oregon-Tech-Ninja did you find an alternate solution you can share by any change?

[2017-01-26 15:36] ianlancetaylor commented on #18798
This has already been clarified further in Go 1.8; see https://tip.golang.org/pkg/time/#Time.Format .

[2017-01-26 15:36] #18798 closed

[2017-01-26 15:48] josharian commented on #18800
Does vet complain about this? If not, perhaps it should. There is already a build tags check.

[2017-01-26 15:50] mvdan commented on #18800
@josharian what go vet command, exactly? I can't get it to comlain.

Given the documentation tag added, I assume being more explicit in the docs is preferred. Either of the two fixes sounds fine by me, but a check would be nice.

[2017-01-26 16:01] bradfitz commented on #16094
@KingRider, we don't track comments on closed issues. Please file a new bug if you have a reproducible problem with the Go master branch.

[2017-01-26 16:30] cznic commented on #18800
@josharian This is, I believe, about a command option tag list, not about source code.

@mvdan Well, if the documentation shows a description/descriptive example, I wonder what the documentation is missing.

[2017-01-26 16:33] mvdan commented on #18800
What I said above is that I don't see the help line as an example. Sure it's a description, but definitely not an example since `tag` and `list` are not obvious build tag names.

[2017-01-26 16:46] rsc commented on #18721
Not yet. I'd like to open a discussion about errors later this year.

[2017-01-26 17:00] ALTree commented on #18800
I agree with mvdan, what I understand when I read `-tags 'tag list'` is that `tags` takes the usual comma-separated list. I could expect the command to **also** accept space-separated values, but I would be surprised to see that a comma-separated list is actually rejected.

Slightly better would be: `-tags 'tag1 tag2'`.

Even better: clarify it using English words in the following description: "..

[2017-01-26 17:03] mvdan commented on #18800
@ALTree thanks for the suggestions, those sound more self-explanatory.

[2017-01-26 17:15] bcmills commented on #18590
@funny-falcon What is the underlying problem you're trying to solve with that sharding?  There may be a clearer way to address it with an API other than the one you're proposing.

[2017-01-26 17:19] josharian commented on #18800
Haha, indeed. Given that no build tag could ever include a comma, maybe cmd/go could fail with an error when given a tags flag containing a comma. We should fix the docs too, of course.

[2017-01-26 17:24] mdempsky commented on #18640
Intuitively: any legitimate type cycle must involve a non-alias type, otherwise it would infinitely recursively expand. Also, it's always safe to start typechecking at a non-alias type, because they use a TFORW placeholder Type to resolve cycles.

So I think this issue is fixed by CL 35831, which simply skips over top-level type alias declarations during phase 1. The result is we start typecheckin

[2017-01-26 17:38] JohnSauter commented on #12914
Wouldn't it be simpler to just include leap seconds in the count of seconds since the epoch?  You would need a table of leap seconds, and you could use it to serialize the time as 23:59:60 during a leap second.  Doing it that way would make the calculation of durations correct even when the wall clock time is based on a value read from a log file or transmitted between computers on a network link.

[2017-01-26 17:43] tsuna commented on #12914
We don't know when leap seconds are going to be introduced, so how would the table get updated when the IERS (International Earth Rotation and Reference Systems Service) decides to introduce a leap second because of irregularities in the Earth's rate of rotation?

[2017-01-26 17:49] kevpie commented on #18080
I would be happy to help with this.

[2017-01-26 17:51] broady opened #18801 "net/http: test panic on linux-386"
While cutting 1.7.5:

[code]

[2017-01-26 17:54] JohnSauter commented on #12914
Update the software when the IERS announces a leap second.  That will require approximately one update every 18 months.

[2017-01-26 17:56] tamird commented on #12914
This is not a general solution. As mentioned by many people in this thread, leap seconds are not the only cause of wall time discontinuity.

[2017-01-26 18:01] x1ddos commented on #18785
Interesting. As an alternative, it should be fairly easy to setup a fallback independently of what acme/autocert does. For instance:

[code]

[2017-01-26 18:02] funny-falcon commented on #18590
note: i've fixed misspelling in previos example: s/ProxMax/ProcHint/

Fast RPC.
Sharding allows to reduce lock contention for RPS when it works at 1Mrps (through single connection using 4 cores)
Shard contains byte buffer for serialized request and hash map (custom) of requests waiting for response.
Currently I use AtomicAdd(1) for choosing shard.
With ProcHint lock contention will be lesser and C

[2017-01-26 18:04] bradfitz commented on #18801
Yeah, test looks like it could use work. It's also full of typos. Will fix, thanks.

[2017-01-26 18:08] JohnSauter commented on #12914
If a computer starts up thinking it is 1970, and writes the time to a log file or transmits it to another computer, there is no way to recover from that error.  Including monotonic time in the time structure solves the problem of a computer starting up thinking it is 1970, but not writing the time to a log file or another computer.  Doing interval arithmetic correctly, by taking leap seconds into

[2017-01-26 18:11] funny-falcon commented on #18590
Allocator could satisfy me, if there will be a way to costruct it prefilled with fixed size, and then get elements by id:
[code]

But still, lowerlevel api could be much simpler and more useful.

[2017-01-26 18:12] griesemer commented on #18640
On Thu, Jan 26, 2017 at 9:25 AM, Matthew Dempsky <notifications@github.com>
wrote:

This is a compelling argument and very elegant solution.
Thanks!
- gri

[2017-01-26 18:26] griesemer commented on #18790
I fear that an exact specification of gofmt might be more complex than the actual source. There are many heuristic decisions in gofmt (for instance when and when not to break alignment of comments in a long sequence of key:value pairs of map composite literals, etc.) which are relatively easy to express programmatically, but rather problematic in prose.

That said, I agree that gofmt has grown org