[2016-06-23 00:42] alexbrainman commented on #15978
How do I do that?

Alex

[2016-06-23 00:47] hirochachacha commented on #15978
I mean use `Run as administrator` to invoke your terminal.

[2016-06-23 00:55] EricLagergren commented on #16158
Is this coveted under the Go 1.0 promise?
On Wed, Jun 22, 2016 at 4:59 PM Ian Lance Taylor <notifications@github.com>
wrote:

[2016-06-23 00:56] hirochachacha commented on #15978
Btw, I tested it as a single file - `readlink_test.go` with `go test readlink_test.go` command.

administrator:
[code]

normal user:
[code]

My machine is windows 10.

[2016-06-23 01:11] #16097 closed

[2016-06-23 01:14] ianlancetaylor commented on #16158
This kind of thing is not strictly covered by the Go 1 promise.  We are permitted to fix bugs.  However, if fixing this bug causes packages to fail, we might decide that it's not worth fixing.

[2016-06-23 01:22] ianlancetaylor commented on #8756
For mingw I think you are using the GNU linker.  Try using `-linkopt=-extldflags=--allow-multiple-definition`.

The real fix may be to avoid adding `-lmingwex -lmingw32` in cmd/go, and instead handle them as we do libgcc in `loadlib` in cmd/link/internal/lib.go.

[2016-06-23 01:27] shurcooL commented on #16153
Right now, `go/doc` has a very distinguishable property that it can work on a single package without needing to look at any of its dependencies (in fact, they could be missing completely). Would that property be preserved if it's built on top of `go/types`? Would we want to preserve it?

There are certain things that `go/doc` cannot currently do because it requires knowing about dependencies (for

[2016-06-23 01:38] adg commented on #16151
Run `go get -u golang.org/x/tools/cmd/present`

[2016-06-23 01:55] adonovan commented on #16153
I agree with Dmitri: this package should not use `go/types`.   It's not clear to me that `go/doc` really belongs in the standard library at all.  It is primarily a collection of utility functions common to the increasing number of tools whose name is some variation of "godoc": golang.org/x/tools/cmd/godoc, go doc, http://godoc.org, and at least two more tools within Google.

[2016-06-23 02:09] rjammala commented on #16151
Thanks. Works now.

[2016-06-23 02:09] #16151 closed

[2016-06-23 02:15] jblachly commented on #4712
This bit me tonight in Go 1.7. It is disappointing to think that we are still clinging to compatibility when it is (in my view) more likely that bugs are being introduced due to the lack of implementation of json.Marshaler.

[2016-06-23 02:29] #15922 closed

[2016-06-23 02:31] kevinpostal commented on #9478
+1

[2016-06-23 02:37] mikioh commented on #16136
I guess that you are probably trying to make stuff by using both go1.4 and go1.6 packages. In general, it leads to messed up executable images. What happens when you run `sudo pkg delete -y go && sudo pkg install -y go && rm -rf $GOPATH/pkg  && go install -x -v github.com/Masterminds/glide`?

[2016-06-23 02:38] jfrazelle commented on #16156
dibs

[2016-06-23 02:40] EricLagergren commented on #16158
Okay, I'll go ahead with the CL then. I noticed the failed test too—is that
in the scope of this issue or not?
On Wed, Jun 22, 2016 at 6:15 PM Ian Lance Taylor <notifications@github.com>
wrote:

[2016-06-23 02:48] alexbrainman commented on #8756
I agree.

I have been playing with this a while ago. The way I understand build process here (and you can read full gory details of cgo process in $GOROOT/src/cmd/cgo/doc.go), there are 2 steps: 1) each package (that is part of your final executable) is compiled into a compiled form (the bits that go into your $GOPATH/pkg directory); 2) final executable is built from all compiled packages.

When c

[2016-06-23 03:14] #16132 closed

[2016-06-23 03:25] mikioh commented on #14732
Pretty much on my openbsd-386 vm.
[code]

Will try this weekend.

[2016-06-23 04:05] alexbrainman commented on #15978
It does not work. I get same result:
[code]

Alex

[2016-06-23 04:14] mikioh commented on #15985
Thank you for your proposal. A few random thoughts.
- Perhaps `datalink` might be a better package name
 - I'm not keen on providing Ethernet marshaler/unmarshaler
- It's okay that this package focuses on a bit slow BPF/LSF and AF_PACKET socket IO
 - Having a separate package that implements Netmap/DPDK-like faster stuff sounds reasonable
- s/Conn/PacketConn/
- It's fine to have an internal kqueue

[2016-06-23 04:26] ianlancetaylor commented on #16158
I'm not quite sure what you are asking.  Certainly all the tests must pass when the CL is committed.

[2016-06-23 04:31] #16148 closed

[2016-06-23 04:32] #16138 closed

[2016-06-23 05:27] sapiens-sapide commented on #16136
Hello,
`go install -x -v github.com/Masterminds/glide` worked after removing and reinstalling go ! \o/
BUT, I tried to do the same with two other popular softwares `github.com/coreos/etcd` and `github.com/gogits/gogs` => they both failed to install with the same error output…

[2016-06-23 05:40] hirochachacha commented on #15978
[code]
You mean this patch doesn't affect the result, right?
If so, only suspicious part for me is `syscall.CreateFile`.
How about using `MAXIMUM_ALLOWED = 0x02000000` and `syscall.FILE_ATTRIBUTE_REPARSEPOINT`?

 https://msdn.microsoft.com/ja-jp/library/windows/desktop/aa374892(v=vs.85).aspx
https://msdn.microsoft.com/en-us/library/windows/desktop/gg258117(v=vs.85).aspx

I cannot test on windows X

[2016-06-23 05:43] sapiens-sapide commented on #16136
@ianlancetaylor : to reproduce, just try to `go get` and `go install` software from popular repositories (gogs, etcd, beego…). With go 1.6.2 on a freeBSD 10.0-RELEASE-p9, many fail to do the job…

[2016-06-23 06:17] mbertschler commented on #16148
Thank you for the quick fix ☺

[2016-06-23 06:28] Scratch-net commented on #8756
Recompiling go is not an option as we're trying to ship a production-ready library.
Also, as far as I see cgo uses link.exe instead of ld

go build -x "-ldflags=-extldflags "--allow-multiple-definition""  hello.go

"C:\\Go\\pkg\\tool\\windows_amd64\\link.exe" -o "c:\\Temp\\TotalCommanderPortableTemp\\go-build655578802\\command-line-arguments\\_obj\\exe\\a.out.exe" -L "c:\\Temp\\TotalCommanderPorta

[2016-06-23 07:03] alexbrainman commented on #15978
It skips new test on Windows XP, but has no effect on Windows 7.

Replacing
[code]
with
[code]
does not help.

Alex

[2016-06-23 07:30] rhysh opened #16159 "cmd/pprof: linux CPU profiles disable remote symbolization"
My server is built with go1.7beta2 (go version devel +fca9fc5 Thu Jun 16 19:45:33 2016 +0000 linux/amd64).

I'm using `go tool pprof` from go1.7beta2 and a more recent version of tip:
go version devel +fca9fc5 Thu Jun 16 19:45:33 2016 +0000 darwin/amd64
go version devel +395f6eb Wed Jun 22 21:15:51 2016 +0000 darwin/amd64

linux/amd64 server, darwin/amd64 for `go tool pprof`

I ran `go tool pprof

[2016-06-23 07:47] mikioh commented on #16136
@sapiens-sapide,

Unfortunately it's pretty hard to read out useful information between above lines. If you believe that your issue is a bug on language spec. or standard library/commands, please describe the following:
[code]
In your case, the recipe must be a complete history of commands. Thanks.

[2016-06-23 07:54] imiskolee opened #16160 "important!!!! report a compile bug!!!!"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?
[code]
3. What did you do?

report a compile bug!

reply:  https://play.golang.org/p/PBv6tC5ftA

4. What did you expect to see?

5. What did you see instead?

[2016-06-23 07:57] rhysh opened #16161 "reflect: large performance regression in reflect.New"
Please answer these questions before submitting your issue. Thanks!

go1.7beta2: go version devel +fca9fc5 Thu Jun 16 19:45:33 2016 +0000 linux/amd64

linux/amd64

I have a program that spends most of its time marshaling and unmarshaling data that's json- and protobuf-encoded. It's been running on go1.6.x for several months (currently go1.6.2), and I upgraded it to go1.7beta2.

It's a closed-sourc

[2016-06-23 08:01] vmihailenco opened #16162 "compress/flate: Reader.Reset ignores shared dictionary"
https://go-review.googlesource.com/24390 contains a test case and a fix

[2016-06-23 08:02] mwhudson commented on #16160
This does not seem to be a bug report.

[2016-06-23 08:02] #16160 closed

[2016-06-23 08:08] mikioh commented on #16160
@imiskolee,

You need to have a look at https://golang.org/doc/faq#nil_error.

[2016-06-23 08:14] imiskolee commented on #16160
tanks

[2016-06-23 08:23] hirochachacha commented on #15978
Hmm, how about this?
[code]

[2016-06-23 08:34] dsnet commented on #16162
Nice catch.

This is a regression from Go1.6.

[2016-06-23 08:50] valyala commented on #14664
Yet another case has been caught and covered by the CL mentioned above:

[code]

[2016-06-23 09:15] rillig opened #16163 "x/tools/cmd/goyacc: When growing the stack, save it in the parser"
1. What version of Go are you using (`go version`)?

[code]
1. What operating system and processor architecture are you using (`go env`)?

[code]
1. What did you do?

I wrote a Yacc parser for parsing shell commands into an AST.
I accessed the resulting AST via `yyParserImpl.stack[1]`.
For small examples, this worked well.
More complicated examples resulted in `nil` being on the stack.
1. What did

[2016-06-23 09:44] hirochachacha commented on #15978
I tested it on windows 7 VM  downloaded from microsoft.
But nothing changed.

[2016-06-23 10:17] rogpeppe opened #16164 "go/build, cmd/go: Imports field unclear with respect to vendoring"
go version devel +aa6345d Thu Jun 23 04:31:19 2016 +0000 linux/amd64

The go list command has:

        Imports []string // import paths used by this package

The go/build Package type has:

        Imports   []string                    // imports from GoFiles, CgoFiles

This does not make it clear whether the imports are absolute or relative
with respect to vendor directories (the former is absol

[2016-06-23 12:01] valyala commented on #15884
@dlsniper , @quentinmit , see the CL for this issue - https://go-review.googlesource.com/24391 .

[2016-06-23 12:04] valyala commented on #15883
FYI, The bug will be resolved in #15884  . See [the CL](https://go-review.googlesource.com/24391), so the issue may be closed now.

[2016-06-23 12:41] dvyukov commented on #16150
I've tried to build it on linux with latest clang, and the build reasonably fails with lots of:
[code]
These symbols are in fact defined by asan and race runtimes.
With gcc it works, probably because gcc uses asan runtime in shared library. But nothing good should come up out of this.
Darwin can also use asan runtime in a shared library.

Without -race it seems to work. I run the test 12'000 times

[2016-06-23 12:58] SpComb commented on #14826
I ran into a similar panic when attempting to re-get a repo that had a vendor git submodule that failed to clone the first time due to missing SSH keys. I can reliably reproduce it by cleaning out the vendored package and using `go get -u` to re-clone it:

[code]

https://gist.github.com/SpComb/76430d66ac6488c6943a7f71fddcb2ee#file-00-repro-steps-txt

[2016-06-23 13:07] bradfitz commented on #14826
@SpComb, this bug is closed, so don't be surprised if nobody looks at this more. You're better off filing a new bug. Also, the Go 1.6.x tree is frozen. Please clarify in the new bug whether this still happens for you with Go 1.7beta2.

[2016-06-23 13:21] randall77 commented on #16161
@crawshaw

[2016-06-23 13:32] SpComb opened #16165 "cmd/go: go 1.7 get does not clone git submodules"
I suspect the changes to `src/cmd/go/vcs.go` to remove the `go15VendorExperiment` are not correct. Instead of skipping the `git submodule` commands when the vendor experiment is disabled, it now unconditionally skips them: https://github.com/golang/go/commit/3e23442518d9c66def2ae48f83026e29c5f26609#diff-fb7e1ef0d86138e83d8f1debd67eaf06

This is a regression from Go 1.6.

1. What version of Go are

[2016-06-23 13:38] szank opened #16166 "crypto/x509: ParsePKIXPublicKey parses invalid RSA public keys without errors"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
`go version go1.6.2 darwin/amd64`

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.
https://p

[2016-06-23 13:38] bradfitz commented on #16157
That seems too big. Most of the standard library should not be special. Maybe parts of sync, runtime, and time can be recognized by the compiler, but not high-level packages likes "strings".

[2016-06-23 13:45] szank commented on #16166
I am happy to fix it myself if I find some time this weekend.

[2016-06-23 13:48] driusan commented on #16020
@shurcooL you're right, I didn't notice that changing one also changes the other in system preferences. It's just bad UI design by Apple..

[2016-06-23 13:49] potocnyj commented on #16161
I just tested this and observed a 25% slowdown on JSON unmarshaling for one of our own systems. I can work on making a reproducer program if that would help.

[2016-06-23 13:50] SpComb commented on #16165
I can confirm that with the following patch, `go get` does succesfully clone the git submodules:

[code]

Behavior with the patched go binary:

[code]

[2016-06-23 13:57] SpComb opened #16167 "cmd/go: go get -u: panic: runtime error: slice bounds out of range"
1. What version of Go are you using (`go version`)?

    This also happens with go 1.6: https://github.com/golang/go/issues/14826#issuecomment-228041810

    Verified against git master, but using a custom binary patched to workaround #16165 with go 1.7 beta, which breaks git submodule clones. The issue above contains the complete diff that I used.

        go version devel +aa6345d Thu Jun 23 04:

[2016-06-23 13:58] SpComb commented on #14826
Repro'd against current git master: #16150

Attempt to repro against 1.7 beta failed, due to git submodule clones being broken: #16165

[2016-06-23 14:01] crawshaw commented on #16161
What a pity. We have a spare 4 bytes I can use for a ptrTo type offset, though I had been hoping to remove that in 1.8. I suppose for now I can add it back and try to come up with some better solution in 1.8.

[2016-06-23 14:43] bradfitz commented on #16167
Can you make this crash without changes to cmd/go? Otherwise this bug report can be read as "if I modify the cmd/go binary, I can make it crash", which is less compelling of a bug report than if you can crash it unmodified.

[2016-06-23 14:46] SpComb commented on #16167
The exact same repro steps work with an unmodified go 1.6.1 binary.

It does not crash with an unmodified go 1.7 beta binary, but it does not clone the vendor submodules either.

[2016-06-23 15:03] EricLagergren commented on #16158
Yes, of course.

The failing test could be indicative of another bug in the xml package, or
it could just be a small issue with the test.

My question was about the *former* and whether it'd require a separate
issue or not.
On Wed, Jun 22, 2016 at 9:27 PM Ian Lance Taylor <notifications@github.com>
wrote:

[2016-06-23 15:03] ianlancetaylor commented on #16166
CC @agl

[2016-06-23 15:26] sapiens-sapide commented on #16136
I put « randomly », because the bug is difficult to reproduce. It is related to the `go get` or `go install` command. For example :

* on a freeBSD machine (FreeBSD 10.2-RELEASE-p14 or 10.0-RELEASE-p9)
* install Go : `# pkg install lang/go`
* `# mkdir -p /usr/local/goland`
* `# setenv GOPATH /usr/local/goland`
* `# go get github.com/Masterminds/glide` => OK
* `# go get github.com/gogits/gogs` => c

[2016-06-23 15:28] ianlancetaylor commented on #16161
We could also consider adding `NewPtr`

    // NewPtr returns a Value representing a pointer of the specific type initialized to point to a new zero
    // value of the pointer's element type. This is equivalent to New(typ.Elem()).
    func NewPtr(typ Type) Value {
        if typ == nil || typ.Kind() != Ptr {
            panic("reflect.NewPtr of non-pointer type")
        }
        ptr := unsafe_N

[2016-06-23 15:44] dkbalachandar commented on #6785
I am currently facing an issue similar one in this link https://groups.google.com/forum/#!topic/golang-nuts/LP6n02TFFh8. Using 1.4.3 version. I have increased the max connections per host to some higher value (@marbemac) and  it seems be working fine until now in Non Prod Env. But is this a proper fix? Will using go lang version 1.7 version resolve my issue without increasing the max connctions pe

[2016-06-23 16:32] btracey commented on #16129
Sorry for the delay. I can run cgo programs, specifically the tests pass in github.com/gonum/blas/cgo.

[2016-06-23 16:38] ianlancetaylor commented on #8756
My apologies, it needs to be `-linkopt=-extldflags=-Wl,--allow-multiple-definition`.

[2016-06-23 16:38] btracey commented on #16129
I don't think `dysmutil` has been modified. OSX reports the created/modified date as 3/12/16.

[2016-06-23 16:38] ianlancetaylor commented on #8756
By the way, yes, Go runs `link.exe`, but `link.exe` invokes `gcc`, and therefore the GNU linker, internally.

[2016-06-23 16:41] ianlancetaylor commented on #16163
It would help a great deal to have a test case showing the problem.  Thanks.

[2016-06-23 16:55] Scratch-net commented on #8756
Sorry, but where should I put -linkopt? Go build does not recognize it. My command line is now:
go build -x -ldflags "-extldflags=-Wl,--allow-multiple-definition" src\test\hello.go

and the output goes:
[code]

[2016-06-23 17:29] hirochachacha commented on #15978
Finally, it works on my windows 10 and windows 7.
https://gist.github.com/hirochachacha/f5b20c319790ee02b64bd3a9a94bdf5b

[2016-06-23 17:40] #16161 closed

[2016-06-23 17:41] crawshaw commented on #16161
@rhysh if you get a chance I'd appreciate it if you could run your performance test again with tip.

[2016-06-23 17:55] tombergan commented on #15475
PING frames are also useful for measuring the true end-to-end RTT, which you can't reliably measure at the transport level due to split TCP in cellular networks. I don't have a need for this feature, but if it's implemented, I would vote for a blocking API so the caller can time the RTT. Something like:

[code]

If you need to PING periodically, you could always do so from a timer loop.

[2016-06-23 17:55] ianlancetaylor commented on #8756
You are doing what I suggested; sorry for the flag name error.  You are now running into a different problem.  I don't know what that is or how to fix it.  It seems that it must affect other non-Go mingw builds.

[2016-06-23 18:04] bradfitz commented on #15475
@tombergan, what is the return `uint16` in your example? If it's the data, it must match the ping opaque value in the sent frame, so it's redundant, no?

[2016-06-23 18:19] rakyll commented on #15773
Closed via https://github.com/golang/exp/commit/abad524d5b70b024ecec3dc78d89b2a578408cac.

[2016-06-23 18:19] #15773 closed

[2016-06-23 18:28] tombergan opened #16168 "x/net/http2: server should use weights and dependencies when scheduling frame writes"
As of version 51, Chrome has started using HTTP/2 dependencies to express an ordering for its requests. I'm not sure about other browsers, but I'm sure they will start using dependencies soon if they're not already. I have direct evidence that this improves pageload performance. Unfortunately my example is not easy to make public, but the gist is:

1. Chrome downloads HTML for a page and makes a b

[2016-06-23 18:40] tombergan commented on #15475
That's right, I missed that the ACK must echo the opaque value from the original PING. The uint64 return value is not necessary.

[2016-06-23 18:58] rhysh commented on #16161
@crawshaw the performance is back to usual go1.6.2 levels with e75c899a10. Thanks for turning this around so quickly.

[2016-06-23 19:04] cespare commented on #16161
Do the JSON decoding benchmarks not capture this regression?

[2016-06-23 19:06] shurcooL commented on #16020
FWIW, my personal opinion is that it is:

- an opinionated decision by Apple
- a good UI design (in the long term, not short term)

If I were in their place, I would make the same decision. Sorry for slightly off-topic comment.

[2016-06-23 19:07] arlolra commented on #16150
Thanks for looking into this.

If you look at the [matrix I've been using](https://github.com/keroserene/go-webrtc/blob/master/.travis.yml), it's gcc on linux and clang on darwin. Guess that's why I didn't see the duplicate symbols failures.

Above I said I've only seen this with clang. I should have specified further, clang on darwin. Is that where you ran your tests?

I made [this commit](https:

[2016-06-23 19:12] arlolra commented on #16150
For example, here's fresh failure from just now https://travis-ci.org/keroserene/go-webrtc/jobs/139634816

[2016-06-23 19:22] alex commented on #15499
The RFC for this is now finalized.

[2016-06-23 19:30] dvyukov commented on #16150
I've tested on linux. What version of clang are you using?
It looks like somebody leaves garbage in shadow on stack. But I have no idea who.

[2016-06-23 19:33] potocnyj commented on #16161
I retested my benchmark with https://github.com/golang/go/commit/e75c899a10c9321d1b4935c34401f66b2abad83a, ans I still see a 15% regression relative to Go1.6.2.

Looking at a profile comparison, I see fairly substantial time increases in `reflect.(*rtype).Name` (7% vs. 2%) and `reflect.(*rtype).NumMethod` (8% vs 1%). Also there's more time being spent in `sync/atomic.AddUint32`, although that appe

[2016-06-23 19:35] arlolra commented on #16150
[code]

[2016-06-23 19:40] dvyukov commented on #16150
@kubabrecka is it the latest clang on mac?

[2016-06-23 19:40] quentinmit commented on #16161
@cespare: The JSON decoding benchmarks do capture this regression, yes. See our analysis in #16117.

[2016-06-23 19:55] crawshaw commented on #16161
@potocnyj I tried that benchmark and found it too noisy to see a 15% variation. How exactly are you running it?

[2016-06-23 20:01] potocnyj commented on #16161
@crawshaw I'm running it in batches of 10 and using https://github.com/rsc/benchstat to compare the average runtime of the benchmark with Go1.6.2 vs Go tip. Specifically, here's what my commands are:

[code]

Note that in my local environment, `go` is go1.6.2 and `gotip` is my local source copy of the Go development tree.

[2016-06-23 20:09] arlolra commented on #16150
I believe so, see: https://en.wikipedia.org/wiki/Xcode#Toolchain_versions

[2016-06-23 20:14] mdlayher commented on #15985
I'd be okay with making this package called `datalink`, but since I assume most folks would use it for ethernet sockets anyway, I figured I would go for the more common use case.  If this package were to be a raw datalink package, should another package be created to leverage it with ethernet sockets (`x/net/ethernet` or maybe even `x/net/datalink/ethernet`)?

I'm not familiar with Netmap or DPDK,

[2016-06-23 21:18] mdempsky opened #16169 "cmd/compile: per-phase compiler benchmarking"
Right now we can use compilebench to measure the compiler's overall run time, and we can use -cpuprofile to measure fine-grained per-function/instruction profiles.  But with the interest in continuing to evolve/rewrite individual phases of the compiler, I think it would be nice to track the compiler's performance on a per-phase granularity.

Rough proposal sketch:

  1. Add a flag to cmd/compile l

[2016-06-23 21:29] josharian commented on #16169
Yes please! I assume you can pass multiple phase:outfile pairs?

How about just -phasebench=prefix and benchmark all phases, with a phase-specific suffix? I worry that while optimizing one phase decisions might get made that impact other phases without getting noticed. In particular, frontend/backend interactions can be like this. As a concrete example, I have a CL waiting for 1.8 that removes som

[2016-06-23 21:33] mdempsky commented on #16169
To be clear, my intention was `-phasebench=prefix:outfile` would measure all phases, writing the benchmarks to `outfile`, each prefixed by the string `prefix`.  The idea being so compilebench could use `-phasebench=BenchmarkGoTypes:/tmp/benchmark.txt`, `-phasebench=BenchmarkUnicode:/tmp/benchmark.txt`, etc. and the outputs would be lines labeled `BenchmarkGoTypes-parse`, `BenchmarkGoType-typecheck

[2016-06-23 21:37] griesemer commented on #16169
Yes. Funny coincidence, I spent this morning experimenting with adding structured statistics code to the front-end. This is an item on my TODOs.

My thinking at the moment:
- There's the notion of a Measurement (an interface, abstracts over a time/duration, count, or other measure).
- There are Groups, which collect multiple Measurements. Depending on what it is, it may accumulate/average the data

[2016-06-23 21:45] griesemer commented on #16169
PS: Standard-benchmark data format should also be easily possible, but I think that format might be generated after the individual measurements (e.g., a single compile produces just one data set). It's also not clear to me how one would organize more structured data in that format.

[2016-06-23 21:58] mdempsky commented on #16169
Certainly not opposed to a structured API.  My immediate idea was to start simple with instrumentation like `m := benchmarker()` and then calls to `m.mark("parse")`, `m.mark("typecheck")`, etc. appropriately scattered around.  If you have anything more thought out I'm all ears. :)

As for format, one of my takeaways from @aclements' presentation about github.com/aclements/go-gg was that the [bench

[2016-06-23 22:09] ianlancetaylor commented on #15823
@crawshaw

[2016-06-23 22:10] josharian commented on #16169
One thing to plan for: some phases may be less clear or overlap in a more heavily concurrent compiler. Also, ssa phases already happen in a cycle, once per function.

[2016-06-23 22:10] griesemer commented on #16169
With "structured API" I didn't mean large framework. At the moment it's about 75 lines of code, with minimal code (one-liners) at measuring points in the front-end. The grouping mostly removes the need to think much about label names: Basically, introducing a new subgroup is a local operation; no need to rename other labels. For instance:

[code]
etc. A bit more code than you suggest.

[2016-06-23 22:13] griesemer commented on #16169
That is, each time measurement gets its own Timing object which may track more than just the time. It may carry the number of bytes processed, or a count (iterations), or other things. Slightly more than just a benchmark map that tracks labels and times. But not a while lot more.

[2016-06-23 22:28] mdempsky commented on #16169
@josharian  Agreed. That's why I was thinking of using names like "typecheck" instead of "phase1" or "phase2", so that the name could remain meaningful long-term even if we end up reorganizing how the specific phase boundaries.

@griesemer Okay, yeah, that's a little more code (explicitly marking begin/end of each phase rather than making it implicit by just marking transitions), but sounds roughl

[2016-06-23 22:36] griesemer commented on #16169
@mdempsky Maybe it's overkill to mark each start/end and it's good enough to just track boundaries. But  it seems to me that it might be more difficult to track a specific time (say escape analysis) if some of the other phases move around. Also, it would seem more difficult to attach bytes (to compute things like source bytes parsed/time unit, etc.).

On the other hand, simpler is often better. Ma

[2016-06-23 22:57] quentinmit commented on #16079
It sounds like you're saying that you get a spurious error if the keepalive'd connection was closed before the request. That will be fixed in issue #15723 by retrying the request. In the meantime, however, your code (in `concurrentPush`) can retry the request when it receives that error. That will allow you to reuse the same connection for many requests.

We are never going to fix this for Go 1.6.

[2016-06-23 22:57] #16079 closed

[2016-06-23 23:03] Carpetsmoker opened #16170 "cmd/gofmt: incorrect alignment of map keys when Arabic characters are used"
`gofmt` formats this like so:

	var foo = map[string]string{
		"foo":        "bar",
		"foobar":     "foobar",
		"ﺎﻠﻋَﺮَﺒِﻳﺓ": "foo",
		"foo11":    "bar",
		"foobar11": "foobar",
	}

However, the expected format would be:

	var foo = map[string]string{
		"foo":        "bar",
		"foobar":     "foobar",
		"ﺎﻠﻋَﺮَﺒِﻳﺓ":    "foo",
		"foo11":      "bar",
		"foobar11":   "foobar",
	}

It looks like it for

[2016-06-23 23:07] quentinmit commented on #16170
Character count is also insufficient, of course, since characters can have different widths. Still, it seems like we ought to be able to do better.

[2016-06-23 23:12] rillig commented on #16163
[issue16163.zip](https://github.com/golang/go/files/330962/issue16163.zip)

The grammar implements a simple counter. Some grammar productions need a stack longer than the default initial size. Starting with 16, a new stack gets allocated, which then results in unexpected values being stored in `stack[1]`.

[2016-06-23 23:12] griesemer commented on #16170
gofmt doesn't know about fonts. Without that, it can't do better, and even with fonts knowledge, there's not much it can do since it doesn't control how you view a file (what editor you are using).

gofmt is using text/tabwriter to achieve alignment. This is essentially a duplicate of #8273. There's also the related #12073.

[2016-06-23 23:12] #16170 closed

[2016-06-23 23:23] griesemer commented on #16170
PS: The issue is not just present for the wider range of Unicode chars, it is really a font issue. There are plenty of people that (would like to) use a proportional font for programming (me included) - after all proportional fonts are used because they increase readability - but gofmt cannot handle those either, even if it's all English.

Since gofmt operates on text files which know nothing abou

[2016-06-23 23:24] Carpetsmoker commented on #16170
Hm, I would expect the Arabic text in xterm to be monospaced? I don't read Arabic and it's difficult to see, but I have the same problem with Cyrillic characters, which certainly seem monospaced:

[code]

[2016-06-23 23:35] griesemer commented on #16170
@Carpetsmoker This is a separate issue. Note the formatting of:
[code]
but:
[code]
There is explicit code in gofmt that computes the length ratio between keys on separate lines. If the ratio between two key lengths becomes too large (or too small, depending which way you divide), the alignment of columns is broken. Here the threshold is crossed between f123 and f1234.

The thinking is that we don'

[2016-06-23 23:37] griesemer commented on #16170
@Carpetsmoker PS: You're right, when using a proportional font, alignment as computed by gofmt is useless. At that point, gofmt only standardizes white space at the beginning of a line. Still better than nothing.

[2016-06-23 23:41] Carpetsmoker commented on #16170
Ah, okay; thanks. It's not a huge issue anyway, but I've encountered this a few times and sometimes it's annoying that you can't manually correct these little things due to `gofmt`'s "all or nothing approach"...

[2016-06-23 23:46] griesemer commented on #16170
@Carpetsmoker And now that you mentioned it, your original example is following the same heuristics. Note that:
[code]
but:
[code]
(GitHub's issue tracker formats a bit differently, but in Sublime the latter is perfectly aligned.) That is, again, here the foo11 crosses the threshold.

I double-checked the implementation of text/tabwriter, and it uses actual rune (Unicode) count to determine the wi

[2016-06-24 03:01] dr2chase commented on #16169
The ssa phases can all be timed.  For example
[code]

I think the format needs work; that seems to not conform to what I recall Austin telling me was the desired form for the benchmarking commands we already have.  Right now the function name comes last because sometimes those have exciting syntax in them.

[2016-06-24 03:46] mikioh commented on #16136
@sapiens-sapide,

I cannot reproduce your issue. Can you try the following procedure and report back the result?

1. Re-install FreeBSD's go 1.6 package
2. Run `go get` with logging until crash
3. Attach the log file to this issue (GitHub issue supports drag & drop op.)
[code]

[2016-06-24 04:27] sillyousu opened #16171 "race: crash at race detector"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.6 linux/adm64

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
It is buggy code, like
[code]
It's not easy to reproduce.

4. What did you expect to see?
no crash

5. What did you see instead?
[code]

crash

[2016-06-24 04:34] alexbrainman commented on #15978
Yes that works for me too on Windows 7. Thank you very much.

But I still get
[code]
on Windows XP.

I am also worried about you using a lot of unsafe code (building Windows structs by writing into binary.LittleEndian). This could introduce memory corruption in "os" test binary.

I would leave test for go1.8. But feel free to send a CL yourself - if others want to proceed with it, I will help alon

[2016-06-24 05:25] hirochachacha commented on #15978
As you know, Windows XP doesn't support symlink, I guess it's also impossible to create symlink.
So, I think we should skip the test by `supportsSymlinks` variable, practically.

We can avoid `binary.LittleEndian` by unsafe hack (e.g `*(*uint32)(unsafe.Pointer(&bs[0])) = uint32(10), or cast to some struct`)
on windows PC, that is what we done in syscall package. But yes, unsafe is unsafe...

I see

[2016-06-24 05:28] sinperwolf opened #16172 "x/net/http"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

2. What operating system and processor architecture are you using (`go env`)?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

4. What did you expect to see?

5. What did you s

[2016-06-24 05:28] mikioh commented on #14732
Here you go; [TestCgoCCodeSIGPROF.txt](https://github.com/golang/go/files/331246/TestCgoCCodeSIGPROF.txt)

[2016-06-24 05:32] #16172 closed

[2016-06-24 06:01] rjammala commented on #16171
Can you provide a minimal example that can reproduce this error?

[2016-06-24 06:31] IzakMarais opened #16173 "doc: GoTalk Link to slides broken"
On the [GoTalks](https://github.com/golang/go/wiki/GoTalks) page the [link](http://wh3rd.net/practical-go) to the slides for the _Practical Go Programming_ talk is broken. I get _404 Page not Found_.

[2016-06-24 06:52] sillyousu commented on #16171
I can't reproduce now, event with the same binary.
I will update this thread when I can reproduce it.

[2016-06-24 08:04] NeoCN opened #16174 "database/sql: support connection wait timeout when out of free connections"
1. What version of Go are you using (`go version`)?
go version go1.6.2 darwin/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOHOSTARCH="amd64"
GOHOSTOS="darwin"

3. What did you do?
set the db.maxOpen to limit connections count.
and try to do db query when connection pool is out of  free connections

4. What did you expect to see?
expect database/sql support

[2016-06-24 09:31] #16096 closed

[2016-06-24 10:13] gmccue commented on #16127
I did leave out `QueryUnescape` as well, but the only exported functions that would change are `QueryEscape` and `QueryUnescape`.

[code]

`net/url_test.go` would additionally change.

[code]

[2016-06-24 11:22] mjgarton commented on #15499
I suppose this depends upon both poly1305 and chacha20 implementations in the standard library?

Is it worth creating separate issues for those?

[2016-06-24 11:35] Thomasdezeeuw commented on #15499
Related #9489 and #6914.

[2016-06-24 13:36] bradfitz commented on #16127
Maybe it's best if you just send a change (in Gerrit) so we can see differences and comment there, since large code dumps in comments aren't easy to read. See https://golang.org/doc/contribute.html

But be warned that changes to `net/url` have become increasingly hard (nearly impossible) for compatibility reasons. There's a large chance the change won't make it in or will be reverted. Let's see wh

[2016-06-24 13:36] bradfitz commented on #16127
Also, note that I removed the RFC mention in 83676d694b64205e80c042ca7cf61f7ad4de6c62, specifically because we've accepted that we can't fully implement the RFC at this point for compatibility reasons.

[2016-06-24 13:49] crawshaw commented on #15823
The data structure you mention has some documentation in reflect/type.go. It is generated in cmd/compile/internal/gc/reflect.go.

When a concrete type has methods, the reflect.rtype is followed by a reflect.uncommonType which has an offset to an array of reflect.method structures, which contain the text offsets you mention.

The compiler creates the text offsets by generating an R_METHODOFF reloca

[2016-06-24 13:58] ianlancetaylor commented on #16173
@adg I would fix this myself but I don't know where the slides are.

[2016-06-24 14:02] ianlancetaylor commented on #16174
CC @bradfitz

[2016-06-24 14:02] dkbalachandar commented on #6785
I am using GoLang version 1.4.3 and got this issue. Will this be fixed if i upgrade the version to 1.6

[2016-06-24 15:13] laboger commented on #15823
Based on my debugging it looks like the ifn and tfn addresses in this table for methods in the second text section are being generated as if the section offsets were relative to the first text section instead of the second.

[2016-06-24 15:35] bradfitz commented on #6785
@dkbalachandar, no.

[2016-06-24 15:46] dkbalachandar commented on #6785
Thanks @bradfitz. So do we have any workaround for this issue?. I have set the MaxIdleConnsPerHost  as 200 and tested it out. But the error got occurred again.

[2016-06-24 15:54] laboger opened #16175 "cmd/compile: PPC64 SSA support"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
master ssa branch

2. What operating system and processor architecture are you using (`go env`)?
ppc64le Ubuntu

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.
Initial implement

[2016-06-24 15:54] bradfitz commented on #6785
Call https://golang.org/pkg/net/http/#Transport.CloseIdleConnections occasionally, or set `Transport. DisableKeepAlives`. The `Transport.MaxIdleConnsPerHost` is not the setting you're looking for. The setting you're looking for doesn't exist (hence this bug).

[2016-06-24 16:03] elithrar commented on #16100
Given that we store the `*http.Server` in the request context, making `net.Conn` available in the context via (e.g.) `ConnContextKey` could be an option. This could potentially be an option on the `http.Server` as well, as stuffing the request context with things by default is not ideal.

[2016-06-24 16:28] dkbalachandar commented on #6785
Thanks @bradfitz, I will look for closing the Idle connections or set DisableKeepAlives.
Do you mean that MaxIdleConnsPerHost  is not exist? But i still find this setting in transport.go. I have set the http.DefaultTransport.(*http.Transport).MaxIdleConnsPerHost with 200.  I am thinking to increase it to a higher value, if nothing works. Let me know your thoughts

[2016-06-24 16:42] bradfitz commented on #6785
MaxIdleConnsPerHost exists. It just does something different than what you think it does. It's idle conns **per host**, not total.

[2016-06-24 17:07] dkbalachandar commented on #6785
Ok @bradfitz. Its a single host reverse proxy. So setting the MaxIdleConnsPerHost  is enough. Please let me know if my assumption is wrong.

[2016-06-24 17:36] bradfitz commented on #6785
@dkbalachandar, I don't have enough information to understand your problem. It's possible you care about #13957 instead.

[2016-06-24 17:56] leoleovich commented on #16083
@ianlancetaylor This happened only on 2 hosts our of few thousand. But on these hosts we have most loaded instances of Grafsy.
I have no idea how to reproduce it and you say - it is impossible to catch it.
You can see from logs, which I provided to you, that it happened at ```Jun  4 08:53:14``` and at ```Jun 19 13:07:54``` on 2 different hosts.
For now I do not have anything to help you. Unless yo

[2016-06-24 18:03] btracey commented on #16129
This error does actually cause problems: -race no longer works for me.

[code]

I made sure I had the most updated version of xcode command line tools. I recompiled 1.4.3 (for $GOROOT_BOOTSTRAP), and now it at least gives some warnings. I get many errors of the form

[code]

Deleting $GOROOT_BOOTSTRAP/pkg did not fix the problem.

There are a bunch of other websites that mention a similar problem

[2016-06-24 18:06] fti7 commented on #10588
Guys, any new on that? Its an Important Feature :-(

[2016-06-24 18:09] btracey commented on #16129
I tried on a different mac and the same problem didn't happen, so the specific problem is with my machine. However, on that machine when installing go1.4.3 I got ``TestCgoExternalThreadSIGPROF``, which seems like a related error.

[2016-06-24 18:12] ianlancetaylor commented on #16129
Do you have the same version of XCode installed on the machined that you tried?

[2016-06-24 18:14] ianlancetaylor commented on #16129
You mention the `GO_CCFLAGS` environment variable, but the Go distribution does not support such a variable.  You may be looking for `CGO_LDFLAGS`.

[2016-06-24 18:15] btracey commented on #16129
I was trying to find a way to pass `-mmacosx-version-min` to the c compiler when compiling go1.4.3. I don't think that's the purpose for `CGO_LDFLAGS`

[2016-06-24 18:27] #16129 closed

[2016-06-24 18:30] btracey commented on #16129
I see. I have something messed up with my environment variables. I had `export CC=gcc-5` which is somehow interacting with clang poorly. Disabling that flag at least fixes the issue.

[2016-06-24 19:09] extemporalgenome commented on #16087
I don't see why we would _deprecate_ the UnixNano method. The argument seems to be that `time.Now().UnixNano()` will be undefined when run ~246 years from now. By the same argument, `time.Now().UnixMicro()` will also be undefined in a mere ~292231 years.

There's no point in deprecating UnixNano, so this proposal should only be concerned with weighing the benefit of adding UnixMicro.

[2016-06-24 19:27] nvanbenschoten opened #16176 "go/constant: MakeFromLiteral with 0 mantissa and large exponent hangs"
See https://play.golang.org/p/lKi0ESs-FE for an example.

Passing a sting representation of a float value with a mantissa of zero and a huge exponent will result in `constant.MakeFromLiteral` hanging. The reason for this is that a 0 mantissa is special-cased during `big.Float` parsing, but not during `big.Rat` parsing. This means that a value like `0e9999999999` will parse successfully in `big.Flo

[2016-06-24 19:37] pmarks-net commented on #16087
Notice that `Unix()` returns `int64`, not `int32`.  Had it been the latter, it would make sense to argue for its deprecation.  In order-of-magnitude terms, `UnixNano()` is only marginally better than a 32-bit unix timestamp.

We're obviously going to have a bad time when 9999 rolls around, but designing a format that can't even get that far seems like an obvious mistake.

[2016-06-24 19:58] laboger commented on #16175
Keith answered my question first so I went with what he recommended.  I don't think he explicitly said to open an issue but that's what I've done in the past so I did and I like to have a place to ask questions.

I submitted what I have so far.  It builds and all tests pass when running ./all.bash.  I can build hello.go using SSATEST=yes without error but it doesn't run! (nothing gets printed).

[2016-06-24 20:18] ianlancetaylor commented on #16154
@dsnet Just noticed that you self-assigned this--I've been looking at this and I just figured it out.

[2016-06-24 20:25] dr2chase commented on #16175
Plan is to move all GOARCHes to SSA.  Not quite sure how we're organizing PPC64le vs PPC64be, but agreed le is more important.  I'm looking at the CL, I'm inclined to LGTM it permissively because it's a great start.  Still working on my own PPCle access (can log in, have no home dir, might complicate use of tool chain).

[2016-06-24 20:30] rakyll opened #16177 "x/exp/io/gpio: string pin identifiers"
Many boards label GPIO pins with human-friendly names such as AIN0, SPIO_CS0 or GPIO_17. In order to be able to support their virtual pin naming system, it is useful for the gpio package to move the string identifiers rather than using integers.

[2016-06-24 20:33] #15803 closed

[2016-06-24 20:51] #16176 closed

[2016-06-24 21:06] RaduBerinde commented on #16107
Working on a decent initial version. Sneak peek:

[code]

[2016-06-24 21:11] tenorok commented on #10447
I'm uploaded image with problem to github for safety, because hoster can remove her.
https://cloud.githubusercontent.com/assets/1322855/16350692/f67e1266-3a68-11e6-96a1-205b396b1ace.jpg

[2016-06-24 21:25] uluyol commented on #16087
Whatever software is around in 200 years can spend 46 years migrating to storing 128-bit timestamps. This sounds like a documentation bug if anything.

The few people who need a UnixMicro can write a trivial function.

[2016-06-24 21:31] pmarks-net commented on #16087
But the function is not trivial, and in practice most people get it wrong.  `UnixNano()/1000` gives you the worst of both worlds, with regards to range and precision.

[2016-06-24 21:39] dpc commented on #12745
Did the followup ever happened? I'd like to be able to report-up the bad requests, and it seems they are not getting logged through `http.Server.LogError`.

[2016-06-24 21:46] Carpetsmoker commented on #16170
Hah, thanks for the clarification @griesemer. As a point of interest, it also seems to be Vim's fault:

![2016-06-24-234356_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1032692/16351406/a73402cc-3a65-11e6-9465-16061690cac8.png)

As you can see, Emacs and Sublime Text work as expected, but Vim doesn't in xterm, lx-terminal, or as gVim...

[2016-06-24 22:09] griesemer commented on #16169
@mdempsky, @josharian Please have a look at https://go-review.googlesource.com/24462 . After considering the feedback above I decided to abandon the structured data idea (seemed overkill) and go with a pretty simple approach, essentially along the lines of @mdempsky's proposal. I expect this to morp h a bit over time but it's a starting point.

[2016-06-24 22:21] bradfitz commented on #12745
Looks like it didn't. @kennygrant sent https://golang.org/cl/15018 with the text "Fixes #nnn" (which closed this issue), but the original issue was never addressed.

We don't normally reopen issues, but it seems appropriate here.

@kennygrant, do you want to continue?

[2016-06-24 22:36] mikioh commented on #15985
I think that providing separated datalink IO and datalink wire-format/coding packages makes sense. Because the former needs to work on abstraction of various kernel system calls and data types, and the latter should take a burden of various wire-formats/codings come from IEEE wildcats. For example,
[code]

For the package that provides Ethernet encoding/decoding functionality, all of us know a var

[2016-06-24 22:50] ianlancetaylor commented on #16087
I think we should postpone this issue until Go has a int128 type.

[2016-06-24 22:52] #16154 closed

[2016-06-24 23:30] dsnet opened #16178 "cmd/pprof: redundant TMPDIRs"
Using `go1.7beta2`

The pprof tool has at least two TMPDIRs:
- One that it can take from [$PPROF_TMPDIR, and defaults to $HOME/pprof](https://github.com/golang/go/blob/204b6f48c5107d3132033324fd492ca0253568dc/src/cmd/internal/pprof/driver/driver.go#L699-L705). As far as I can tell, this directory is only ever used when pprof is [operating remotely](https://github.com/golang/go/blob/204b6f48c5107d3

[2016-06-24 23:45] aclements commented on #16169
I don't know exactly what data you want to represent, but the ["extended" benchmark format](https://github.com/golang/proposal/blob/master/design/14313-benchmark-format.md) is pretty flexible. It's not great at hierarchical things, but it's not clear you really want that. And, of course, you'll be able to use all of the tools that know how to speak it (which isn't much yet, but the format is young

[2016-06-25 00:19] bradfitz commented on #15867
This seems trivial, but it also seems like we should wait until there's more web consensus. Chrome can pull or modify support, but our Go 1 compatibility promise is stronger. It would be unfortunate if we added a `SameSite bool` field to `net/http.Cookie` and then they renamed it yet again before it became fully standardized.

[2016-06-25 00:33] dsnet opened #16179 "cmd/pprof: unable to generate output file for some formats"
Using `go1.7beta2`

The pprof tools claims:

Intuitively, a user would expect a output file to be generated that contains the specified format. However, that is not what always happens. The logic that pprof follows is somewhat convoluted and sometimes it will output the file, sometimes it will still invoke the visualizer, and sometimes it does both, and maybe it does neither in some code paths (it

[2016-06-25 00:38] #16159 closed

[2016-06-25 02:28] MikaelCluseau commented on #14566
Since the linked specification doesn't state anywhere that the GOPATH is required, making the go tool handle this case, for instance with an option to specify the package path of the current working directory, is not going to be bug. My understanding is that this issue is then a feature request, and thus doesn't deserve to be closed because it's not a bug.
In fact, the linked specification states

[2016-06-25 03:20] MikaelCluseau commented on #14566
Here's what works for me in GitLab-CI (building the required custom GOPATH to allow the use of vendoring):
[code]

[2016-06-25 09:49] alexbrainman opened #16180 "cmd/go: go build crashes"
[code]

[2016-06-25 09:51] alexbrainman commented on #16180
I have no idea how to debug this.

Alex

[2016-06-25 13:10] aarzilli commented on #16180
I can reproduce this cross compiling from linux amd64 to linux i386 with go 1.7beta2.

[2016-06-25 13:30] ALTree commented on #16180
This is not new, it happens with go1.6.2 too. There's an amd64 no-optimization builder, but no 368 no-optimization builder.

[2016-06-25 13:31] aarzilli commented on #16180
@ALTree: I just tried with go1.6.2 and it doesn't crash.

[2016-06-25 13:33] ALTree commented on #16180
To make it crash on go1.6.2, remove the `-l` flag, i.e. run

[code]

[2016-06-25 13:52] crawshaw commented on #16117
CL https://golang.org/cl/24452 is also for this issue.

With it and the above, the JSON decoding performance hit on 386 has gone from ~15% to ~4%.:

[code]

(On AMD64 with SSA, decoding is 9% faster than it was in 1.6.)

I don't see any other easy fixes, but I'll spend another day looking. @cherrymui could you please compare JSON decoding on arm64 between 1.6 and tip again?

[2016-06-25 16:29] vanloswang opened #16181 "No Orig_rax and Rax field in PtraceRegs struct on arm"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.6.2 linux/arm64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH=""
GORACE=""
GOROOT="/usr/lib/golang"
GOTOOLDIR="/usr/lib/golang/pkg/tool/linux_

[2016-06-25 16:55] bradfitz commented on #16181
PtraceRegs differs by architecture. The syscall package is not portable, by definition. This is a problem in docker-slim, not Go.

[2016-06-25 16:55] #16181 closed

[2016-06-25 18:37] Shelnutt2 commented on #16039
I've implemented the marshal/unmarshal support via https://golang.org/cl/24473.

[2016-06-25 19:35] hajimehoshi opened #16182 "x/mobile/cmd/gobind: Go's int is always exported as int (32bit) in Objective-C"
Whether the architecture is 32bit or 64bit in Objective-C side, Go's int is exported as Objective-C's int, which is 32bit.

[2016-06-25 21:06] josharian commented on #16180
Marking as go1.8 since this is not a regression. Hopefully moving 386 to SSA will fix this for free.

[2016-06-26 01:59] dmitshur opened #16183 "cmd/doc: do not respect relative import paths that match standard commands"
Both the [`doc`](https://godoc.org/cmd/doc) (typically invoked via `go doc`) ~~and [`godoc`](https://godoc.org/golang.org/x/tools/cmd/godoc)~~ commands are affected.

(**Edit:** This no longer applies to `x/tools/cmd/godoc` because it's CLI support is removed in #25443.)

`go doc` ~~and `godoc`~~ commands will always print docs for `cmd/go` command even if you provide a relative import path like `

[2016-06-26 02:22] josharian commented on #15979
Any status update, @emonty?

[2016-06-26 03:07] vanloswang commented on #16181
@bradfitz Need to shield these differences to upper applications.

[2016-06-26 04:24] dgryski opened #16184 "cmd/pprof: sync with upstream https://github.com/google/pprof ?"
The pprof tool was initially an import of Google's internal version, which is now on GitHub. Can we just switch to that new repo? Are there patches in Go's copy that need to be pushed upstream to make google/pprof work with current Go binaries?

Maybe this ends up just being a doc fix saying "you can also use this other pprof tool over here".

[2016-06-26 04:43] josharian commented on #6511
@adg any new thoughts about this? I could bring that old CL back to life if you were interested.

[2016-06-26 04:45] #7165 closed

[2016-06-26 04:48] #7889 closed

[2016-06-26 04:49] #7908 closed

[2016-06-26 06:35] nigeltao opened #16185 "proposal: golang.org/x/image/font/inconsolata package"
The golang.org/x/image/font/... packages should provide a "batteries included" bitmap font, so that simple Go programs can draw some text easily without having to find (and depend on) both a "third party" font library (i.e. Go's freetype, which uses the Freetype license, so it can't be in the stdlib or golang.org/x) and third party font files (whose location and availability are OS-dependent at be

[2016-06-26 06:47] mirtchovski commented on #16185
Ability to license under Go's terms notwithstanding, I would like to throw another font as a possible replacement: Hack (https://github.com/chrissimpkins/Hack).

I spent a lot of time pre-rendering ttf fonts for the Plan 9 display subsystem (http://mirtchovski.com/p9/fonts/), i think i have plenty of experience with such fonts and, at least, the acme/rio display programs...

that said, inconsolata

[2016-06-26 06:56] nigeltao commented on #16185
I have the license for Inconsolata that I desire.

[2016-06-26 07:10] dskinner commented on #16185
This seems at ends from what I'd expect of an `x/font` library. I'm very much for "batteries included", but a single font at a single size with undesirable pixelation in either sizable direction? For a TTF? Is the size difference between embedding the TTF and prerendering the glyphs really that big of a difference?

[2016-06-26 08:32] bsiegert commented on #16185
The rationale has in fact been given: to render the TTF, you need the Go Freetype library. The library is under the Freetype license, which is more restrictive, thus it cannot be part of the standard library or /x/ packages.

[2016-06-26 14:54] sapiens-sapide commented on #16136
Hi,
I did your recipe. First time I ran the g.sh script, it freezed after this output:

[code]

After a while (five minutes ?) I hit ctrl+c to kill the script. I run again the command ` ./g.sh 2>&1 | tee log` and the script crashed with the following output :

[code]

[2016-06-26 14:57] davelab6 commented on #16185
Sadly the Hack licensing is very messy

[2016-06-26 17:51] mezoni opened #16186 "Instead of dreaming about Generics, why not improve the existing system of types?"
Below is my thoughts about that problem/
The term `desugaring` means a valid source code in the Go language of the current version.
The names of built-in functions are `fictitious` and are only for the understanding of the operation of the algorithm.

[code]

[code]

[code]

[code]

[code]

Assume we want implement alternative to `slice` and use it similar to use the slice:

[code]

[code]

[code]

[2016-06-26 18:18] taruti opened #16187 "cmd/compile: go1.7beta2 performance regression (floats and arrays)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

[code]

2. What operating system and processor architecture are you using (`go env`)?

[code]
[code]

3. What did you do?

Try some float32 heavy code with arrays on 1.7beta2, saw a problem and reduced it to a self contained example:

go get github.com/taruti/float_degradation

[2016-06-26 18:32] dgryski commented on #16187
Related to https://github.com/golang/go/issues/15925 ?

[2016-06-26 18:49] taruti commented on #16187
At least related probably. `-gcflags -ssa=0` restores 1.6 like performance.

I think that array zeroing is here not the fault, most time is spent in
`linearBin` that takes a `*[16]float32` but does not zero any array.

This code is simplified from machine generated code.

[2016-06-26 18:52] elliotmr opened #16188 "x/sys/unix: Add support for SocketCAN"
The unix.Sockaddr interface has a package local method and therefore cannot be implemented outside of the golang.org/x/sys/unix package, and without an appropriate Sockaddr structure for CAN it is impossible to create a SocketCAN socket type.  (See discussion here: https://groups.google.com/forum/#!topic/golang-nuts/5HTN3QVC_lQ).

The proposal is to add a SockaddrCAN struct for wrapping the sockad

[2016-06-26 20:02] ianlancetaylor commented on #16186
I don't think it's useful to discuss this on the issue tracker, unless you want to turn it into a formal proposal.  I recommend taking this to the golang-dev mailing list.

Have you read the proposals linked from issue #15292?

When and how is something like your `NewSlice` function compiled?  Is `elem_type_of_receiver_ptr` a compile time or run time operation?

I'm going to close this.  If you wa

[2016-06-26 20:02] #16186 closed

[2016-06-26 20:03] ianlancetaylor commented on #16187
CC @randall77 @josharian

[2016-06-26 20:12] ianlancetaylor commented on #16181
@vanloswang Go permits people to write system-specific code.  There is no way to shield a program that chooses to write such code.

[2016-06-26 20:59] mikioh commented on #16136
Looks like you didin't.

Why? I believe that no one ensures that it accomplishes within 5 mins. Did you check that there's no remaining processes created by the script when you killed the first run? Did you check that the crashed go command is created by which parent process? Please do not interrupt the shell run unless you are sure what you are doing, and please run the script until crash. Thanks

[2016-06-26 22:44] adg commented on #16185
I'm in favor of this proposal.

[2016-06-26 22:49] adg commented on #6511
If we're to do this, we could be more general: extend the API to accept multiple input files, which are built together as a package. We could even permit building a tree of packages. Then we could provide execution options (run, test, bench, others?) to run against those packages. I think the implementation of this would be pretty straightforward. The hardest part would be designing a nice JSON AP

[2016-06-26 22:51] adg commented on #16173
I also don't know where the slides are.

[2016-06-27 00:07] kevinburke commented on #5683
FWIW, I've resurrected the package in question, added structs so it's not just parsing into a `struct{}`, and added benchmarks around it that follow the format of the benchmarks in the standard library. Those are here: https://github.com/kevinburke/jsonbench/blob/master/go/bench_test.go

[2016-06-27 02:18] cherrymui commented on #16117
With the current tip (33fa855), `JSONDecode` has been improved from ~30% slowdown to ~11%.
[code]

[2016-06-27 02:49] gmlewis opened #16189 "cmd/vet: go1.7 not finding ExampleT_M identifiers"
What version of Go are you using (`go version`)?

go version go1.7beta2 linux/amd64

[code]

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

In https://github.com/google/go-github we have Travis builds on Go versions `1.4.3`, `1.5.4`, `1.6.2`, and `tip`. `tip` recently started failing with the `go tool vet .` command

[2016-06-27 02:51] JoseFeng opened #16190 "go1.6 File method WriteStringfrequent calls led to a large system cache"
go env
[code]

go code
[code]
Reproduction:
[code]
After running several times the system file cache becomes very large
[code]

[2016-06-27 03:15] mezoni commented on #16186
@ianlancetaylor

Can I propose the solution as the worked example?
That is proposal as a working source code example with comments (in current Go language).
With the describing all possible nuances.

[2016-06-27 03:44] shurcooL commented on #16189
The naming convention to declare examples for a package has not changed in 1.7, as can be confirmed here:

https://github.com/golang/go/blob/go1.7beta2/src/testing/testing.go#L100-L115

So this indeed appears to be a bug/regression, rather than a valid change in behavior.

(Either that, or the documentation/specification was not updated to match new vet behavior.)

[2016-06-27 03:56] sapiens-sapide commented on #16136
Hi,
I uninstalled and reinstalled go again (`pkg delete lang/go` then `pkg install lang/go`) and ran your script. Here is the ouptut (this time it crashed immediatly) :

[code]

[2016-06-27 04:18] davecheney commented on #16190
@JoseFeng The filesystem cache is managed by the operating system, not any user space program.

Why do you think this is an issue is caused by writing the program in Go ?

[2016-06-27 04:52] mikioh commented on #16136
@ianlancetaylor,

Do you have any clue on this? It looks similar to #15639 but no cgo stuff in github.com/Masterminds/glide.

[2016-06-27 05:14] sapiens-sapide commented on #16136
FYI, I ran again the `./g.sh` script after the previous crash (https://github.com/golang/go/issues/16136#issuecomment-228649302) : this time it "freezed" at the stage below (65 minutes without output. Script is still "running" but does nothing). Here are the processes involved :

* `USER           PID  %CPU %MEM     VSZ    RSS TT  STAT STARTED          TIME COMMAND`
* `root         89648   0.0  0.

[2016-06-27 05:23] mikioh commented on #16136
@sapiens-sapide,

Sure. ;) The script is dumb, you need to kill all spawned processes by hand before the next run. I'm not sure the reason why I cannot reproduce your issue on my FreeBSD VM. Perhaps, it might depend on your circumstances. Can you show us your FreeBSD profile? I think the output of `dmesg | grep CPU` and `dmesg | grep memory` on your node is enough.

[2016-06-27 05:37] sapiens-sapide commented on #16136
`cat /var/run/dmesg.boot | grep CPU` :

[code]

`cat /var/run/dmesg.boot | grep memory`

[code]

[2016-06-27 05:58] kostya-sh commented on #16189
I have submitted CL 24487 that fixes the bug. Note however that you have to run `go install` prior to running `go vet` in order for it to work correctly.

While looking into this bug I also discovered that the test for this use case (examples in _test package) seems to be wrong however it is not easy to fix because:

1. to properly test vet behavior with _test packages it should be invoked with a

[2016-06-27 06:07] shurcooL commented on #16111
This proposal appears to have two 👍 s and no pushback (at this time), so I suppose I'll go ahead and create a CL, which can be reviewed and considered for merging.

FWIW, I've also run a lightweight informal twitter poll, and [it suggested](https://twitter.com/shurcooL/status/744303350875725824) that the majority of people currently mis-interpret the functionality of `Clean` regarding slash (`/`)

[2016-06-27 07:03] as commented on #16111
I disagree with this change. The package claims that all "/" are replaced with Seperator unless otherwise specified. Some functions document the negative behavior (stating they don't replace "/" with Seperator). This change documents positive behavior for Clean(). But is Clean the only one that needs to re-affirm this? As a user, I can no longer reason about the behavior of other functions in the

[2016-06-27 07:10] JoseFeng commented on #16190
@davecheney
Sorry!
I want to know how to avoid this problem by using program.

[2016-06-27 07:11] davecheney commented on #16190
We don't the issue tracker to ask questions. Please see https://golang.org/wiki/Questions for good places to ask. Thanks.

[2016-06-27 07:11] #16190 closed

[2016-06-27 07:52] nightlyone opened #16191 "unicode: Update to version 9.0.0"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

go version go1.6.2 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOOS="linux"
(rest redacted)

3. What did you do?

$ go doc unicode.Version

4. What did you expect to see?

const Version = "9.0.0"
    Version is the

[2016-06-27 07:54] shurcooL commented on #16111
@as, thanks for feedback. As I understand, you're referring to the current CL (aka, the proposed solution), and not the issue filed here.

My initial plan for the CL to resolve this issue was to simply add the phrase `Any occurrences of the slash ('/') character are replaced with Separator when returning path.` to _every_ method except the two (Split and SplitList) that don't do it.

When I looked

[2016-06-27 07:58] nightlyone commented on #16191
I didn't see it tracked somewhere so I opened an issue. Please close, if I did overlook an already existing issue.

Useful links:
* Blogpost: http://blog.unicode.org/2016/06/announcing-unicode-standard-version-90.html
* Changes and migration guidance: http://unicode.org/versions/Unicode9.0.0/

[2016-06-27 08:41] GordonBGood opened #16192 "cmd/compile: new backend; multiple efficiency issues..."
Please answer these questions before submitting your issue. Thanks!

1. **Version:**  go version go1.7beta2 windows/amd64

2. **Environment:**
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=F:\Go\
set GORACE=
set GOROOT=F:\Go
set GOTOOLDIR=F:\Go\pkg\tool\windows_amd64
set CC=gcc
set GOGCCFLAGS=-m64 -mthreads -fmessage-length=0 -fdeb

[2016-06-27 09:44] kostya-sh commented on #16189
A more complete fix in CL 24488. It might be too big for 1.7 though.

[2016-06-27 10:12] enceve commented on #15499
If the "right" way to support ChaCha20 and ChaCha20Poly1305 is to use the x/crypto repo as "staging area" for the main repo, maybe [this implementation](https://github.com/enceve/crypto/tree/master/chacha20) is stable and fast enough. It is similar to the salsa20 package, uses SIMD SSE2 for ChaCha20 on amd64 and avoids mem-allocs for the Poly1305 part of the AEAD.
There is still room for performan

[2016-06-27 10:39] mjgarton commented on #15499
That code appears to be licensed as LGPL, so unfortunately not suitable without re-licensing.

[2016-06-27 10:42] CostaOnGit commented on #460
Adding code example
[code]
Output
v: uint8 *uint8
t: uint8 *interface {}
BUG : uint8 *interface {}
Correct : uint8 *uint8

[2016-06-27 10:48] xfix opened #16193 "cmd/compile: a global lambda with a function named glob with lambda in it is an error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

  go version go1.6.2 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?

  GOARCH="amd64"
  GOBIN=""
  GOEXE=""
  GOHOSTARCH="amd64"
  GOHOSTOS="linux"
  GOOS="linux"
  GOPATH=""
  GORACE=""
  GOROOT="/usr/lib/go-1.6"
  GOTOOLDIR="/usr/li

[2016-06-27 11:07] enceve commented on #15499
The licensing won't be a problem - If the implementation fulfills the requirements / has a chance to be adopted, I'll push it for code-review

[2016-06-27 11:27] kostya-sh commented on #16193
Happens with Go tip too

[2016-06-27 12:09] driusan commented on #16185
I'm not a huge fan of this proposal because it has the same problem as x/image/font/basicfont: It's only one non-standard font in a fixed font-size, with no obvious way to get variations (why regular and bold? Why not oblique? Or BoldOblique? Etc)

Freetype not being in the standard lib notwithstanding, it would be more useful to me to have a package that queries the system for what fonts are avai

[2016-06-27 13:06] Farioko opened #16194 "x/crypto/ssh: Session.Run() returns error EOF"
Hi,

I'm trying to run commands on a router through SSH. The program works fine if I run it against an OpenSSH server, but against the router with its own proprietary implementation of ssh, Session.Run() returns the error EOF. I'm running Go 1.6.2 and tried executing this program on Linux amd64, Windows amd64, Windows i386. Is this a bug and is there a work around?

[code]

The program returns the

[2016-06-27 13:35] randall77 commented on #16192
Issue 2: yes, it looks like there are cases where we should perform the op on the copy instead of the original.  I'll have to think about how to detect when that is beneficial.
Issue 3: Even before doing things like OR AX, (BX), we also would want OR (BX), AX.  The problem is on amd64 there are a ton of possible instructions you could potentially want, including all the ops times all the addressin

[2016-06-27 13:45] randall77 commented on #7602
This doesn't seem to be an issue anymore.

[2016-06-27 13:45] #7602 closed

[2016-06-27 14:09] enoodle opened #16195 "x/net/webdav: fails on broken links"
When trying to list a directory that contains a broken link I get a non informative error:

[code]

This is what I get from the webdav server:

[code]

The error comes from file.go [1] where it calls stat on the broken link file but I think that maybe it should be handled in webdav.go walkFn [2].

I am not sure myself what should be printed / returned but I would expect to get the full directory l

[2016-06-27 14:17] olt opened #16196 "image/png: Encode is not as efficient as zlib-based encoders"
Paletted PNGs like this map tile (http://a.tile.openstreetmap.org/13/4404/2688.png) will increase by 20-30% in size when encoded with image/png.Encode.
See https://gist.github.com/olt/022a206444f20c147c4bc9a54fd1a433 for example re-encoder.

The size does not change much when I re-encode the image with Image Magick (convert) or Python Image Library (PIL/Pillow):

    % curl': curl "http://a.tile.o

[2016-06-27 14:24] olt commented on #16196
Oh, file sizes are within 1-2% between 1.4 and 1.7beta2.

[2016-06-27 14:38] GordonBGood commented on #16192
@randall77:

x86 doesn't have so many modes, but I think it has the read/modify/write instructions?

Regarding addressing complexity, all the addressing modes are already used by the LEA instruction, although the execution time assessments don't seem quite right yet; it you solve that one, then the read/modify/write is solved except for latency.

Your concern about OR (BX),AX is misplaced I think,

[2016-06-27 14:54] dkbalachandar commented on #6785
@bradfitz, Its a Jersey REST application which is being guarded by a GO application. GO app validates the browser cookie and creates a Proxy and serve the request if its a valid one. The error is happening during the load testing.  Initially we got the error similar like the one described in the issue description(http: proxy error: dial tcp HOSTNAME:PORT can't assign requested address)

Even after

[2016-06-27 15:03] josharian commented on #16196
@nigeltao @dsnet @klauspost

[2016-06-27 15:24] ianlancetaylor commented on #16194
CC @agl @hanwen

[2016-06-27 15:38] ianlancetaylor commented on #16186
This is not yet a useful proposal because it does not describe the implementation.  Do you plan to add that?  Can you add your proposal to the existing #15292 instead?

[2016-06-27 15:44] klauspost commented on #16196
FWIW, [Fileoptimzer](http://nikkhokkho.sourceforge.net/static.php?page=FileOptimizer) can squeeze out an additional 5% with its lossless recompression tools.

I haven't dug into PNG, but this seems more like there are some compression methods missing rather than an entropy encoding (deflate) problem. I looked through the filter chooser function, and couldn't spot anything immediately wrong, but it

[2016-06-27 16:40] randall77 commented on #16192
The SSA backend encodes each addressing mode in a separate opcode.  So for integer loads, we already already have:
MOVBload, MOVBQSXload, MOVWload, MOVWQSXload, MOVLload, MOVLQSXload, MOVQload, MOVOload, MOVBloadidx1, MOVWloadidx1, MOVWloadidx2, MOVLloadidx1, MOVLloadidx4, MOVQloadidx1, MOVQloadidx8.
Similarly for stores.  And that's not all the loads, for instance we haven't implemented MOVWloadi

[2016-06-27 16:50] #16095 closed

[2016-06-27 17:04] bradfitz opened #16197 "net/http: various HTTP/0.9 bugs"
As noted in an email from @regilero, Go's "support" for HTTP/0.9 is quite inconsistent.

The HTTP/0.9 "spec" is at https://www.w3.org/Protocols/HTTP/AsImplemented.html

Notably, requests look like "GET /path", with no version number. Go's server rejects those with "HTTP/1.1 400 Bad Request". But if you make a request like:

[code]

... then Go replies like it's an HTTP/0.9 request (without respons

[2016-06-27 17:05] jbardin commented on #6785
@dkbalachandar

(You should probably continue this conversation on the ML if you need more assistance)

Under the artificial environment of a load test, you can have problems recycling connection fast enough. There are a few related issues open, but if you sustain concurrency greater than MaxIdleConnsPerHost you are probably creating new connections too quickly.

[2016-06-27 17:24] pragmat1c commented on #11409
Leaving this here for anyone else who comes across this issue.

I had to set this in system.env:

GO15VENDOREXPERIMENT=1

Commenting that line and saving system.env however produces this output:

C:/Go/bin/go.exe env [C:\Go\]
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=c:\work\code\go
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:

[2016-06-27 17:26] dkbalachandar commented on #6785
@jbardin. Sure. Thanks

[2016-06-27 17:31] noblehng commented on #16117
It's that right that, in Go1.7, quite some `reflect` performance is traded for more compact compiled binary size?
Especially `Field()` and `FieldByName()`, which call `reflect.(*name).name`, and something use `Name()`.
Because of better codegen, the amd64 ssa backend can cover that in other place, but not for other archs.

Is there any plan to gain those performance back in later release?

[2016-06-27 17:39] bradfitz commented on #16117
@noblehng, in later releases, all architectures will use SSA. That's a major theme for Go 1.8.

[2016-06-27 17:54] akrylysov commented on #12963
It would be nice if it was a way to put a cdata content into a nested node: allow tags like `xml:"a,cdata"`, `xml:"a>b>c,cdata"`.

[2016-06-27 18:16] randall77 commented on #16187
Looks like the register allocator is spilling some stuff to the stack that is unnecessary.
I don't really understand why it is doing that.  Will fix for 1.8.

[2016-06-27 19:00] dgryski commented on #16173
The text of the slides is in the repository for the talk: https://github.com/nf/goto/tree/master/talk

They're just not hosted anywhere anymore.  Could they be moved to talks.golang.org, or is that specifically for Present-based slide decks?

[2016-06-27 19:25] 14rcole commented on #13467
For the time being, is there a workaround for this?  Maybe using an interface that can represent the same struct from different packages?

[2016-06-27 19:34] bcmills commented on #13467
You can work around it in one direction (going from the C types in another package to the C types in the current package) using reflect and unsafe.Pointer.  The same technique may be possible in the other direction too.

If you want to add back some of the type-safety at run time, you can use the reflect package to iterate over the struct fields to verify that they're compatible.

[2016-06-27 20:29] akrylysov opened #16198 "encoding/xml: no way to output cdata fierld into a nested node"
`go version go1.6.2 darwin/amd64`

[code]

[code]
https://play.golang.org/p/aVay4sw8xA

[code]

[code]

I'm working on a web service which supports JSON and XML as output formats:
[code]
It worked perfectly, but recently we got a new requirement from our external partner to wrap all XML values into CDATA. So instead of:
[code]
I need this:
[code]

Currently Go doesn't provide a way to do that with

[2016-06-27 20:56] bradfitz opened #16199 "doc: add internals FAQ?"
@bcantrill asked of Go recently:

And another thread recently happened on the mailing list about the `g`, `m`, and `p` internal runtime structures.

I'm starting to think we should have a documentation page for internals FAQs.

The closest we have now is a link from https://golang.org/doc/ to [Go Slices: usage and internals](https://blog.golang.org/go-slices-usage-and-internals)

But there's more

[2016-06-27 21:06] #16193 closed

[2016-06-27 21:07] #16197 closed

[2016-06-27 21:10] bradfitz commented on #16142
I too have felt this pain many times. Let's see if we can address it in Go 1.8.

/cc @mpl

[2016-06-27 21:14] #16134 closed

[2016-06-27 21:27] lgarron commented on #10767
It seems Go [doesn't have a constant for 308](https://godoc.org/net/http#pkg-constants), and explicitly [does not consider it for redirects](https://godoc.org/net/http#Get). This led to [unexpected behaviour](https://twitter.com/JohnShaftFr/status/747535722559606784) for someone using a program implemented in Go.

I can't find a technical reason this is not supported; is it just a matter of making

[2016-06-27 21:29] #16162 closed

[2016-06-27 21:32] bradfitz commented on #10767
@lgarron, the constant was added during the Go 1.7 dev cycle. You can see it at https://tip.golang.org/pkg/net/http/#pkg-constants

It seems that 308 should be followed.

[2016-06-27 21:38] lgarron commented on #10767
Ah, excellent! I didn't know about `tip.golang.org`, thanks for the link.

[2016-06-27 21:47] adg commented on #16185
@driusan

This misses the point entirely. This proposal is to provide a better basic font for programmers who cannot (for whatever reason) use freetype.  If you can use freetype, you can use whatever true type font you want.

[2016-06-27 22:04] bradfitz commented on #12042
Moving to Go 1.8. I don't expect new contributors during the deep freeze for Go 1.7.

[2016-06-27 22:08] adg commented on #15936
Looks like we might punt this to 1.8.

[2016-06-27 22:10] adg commented on #16035
If the fix is only documentation then we can do this at any point before the 1.7 release. Otherwise it will have to wait for 1.8.

[2016-06-27 22:11] adg commented on #14058
I'm going to close this, as nobody has complained during the beta period.

[2016-06-27 22:11] #14058 closed

[2016-06-27 22:13] adg commented on #14894
Moved to unplanned as this will not block any release, as plan9 is not a 'first class port'.

[2016-06-27 22:17] driusan commented on #16185
@adg I don't believe it does. Part of the stated reason for this is to not depend on "third party font files (whose location and availability are OS-dependent at best)."  This doesn't address that issue, it only includes a different third party pre-rendered font face in the standard package.

basicfont already covers the use case that you mention (not being able to use freetype or perhaps any font

[2016-06-27 22:18] #16124 closed

[2016-06-27 22:20] adg commented on #13324
@mikioh would you please be able to investigate this?

[2016-06-27 22:21] adg commented on #13324
cc @aclements, would you please run your failure analysis tool against this?

[2016-06-27 22:23] udayskyport commented on #14251
@gopherbot
I am still facing the issue where session.Run() returns --> Process exited with: 1. Reason was:  ()
if the scp path is incorrect.
Can you please help?

[2016-06-27 22:35] broady commented on #11695
Is this something we still want? Since October, we got GitHub issue templates.

[2016-06-27 22:43] bradfitz commented on #11695
I think it could still be helpful.

[2016-06-27 22:44] adg commented on #11695
I think it would still be a nice thing to have.

On 28 June 2016 at 08:36, Chris Broadfoot <notifications@github.com> wrote:

[2016-06-27 22:47] jimmyfrasche commented on #16185
Regardless, I assume you wrote some program to pre-render and embed the font into a package.

I imagine it's not super complicated, but publishing that separately, even if unofficially (and even if it'd take some community effort to generalize it), would let anyone package up whatever default font/sizes they required.

That seems like it would be useful in itself. (In favor of this proposal, ftr).

[2016-06-27 23:17] noblehng commented on #16117
@bradfitz, I'm looking at this CL https://go-review.googlesource.com/#/c/20968/.
To get a method name or struct field name, it is just a struct field access in Go1.6, but basically needs to unmarshal from a binary encoding in Go1.7. Sure adding a global cache will help, but a struct field access will still be faster even for SSA.

I'm not familiar with the runtime, but I'm thinking something like

[2016-06-27 23:26] bradfitz commented on #16117
@noblehng, yes, that's what this bug is tracking (the across-the-board performance loss, largely from reflect changes). @crawshaw is working on it. I was merely pointing out that more SSA is coming, which is basically unrelated (except that it covered up the loss on amd64, as you noted).

[2016-06-27 23:29] ianlancetaylor commented on #14251
@udayskyport Which version of Go are you using?

[2016-06-27 23:32] udayskyport commented on #14251
@gopherbot go1.6

[2016-06-27 23:41] bradfitz commented on #15908
Sent https://golang.org/cl/24508

[2016-06-27 23:42] bradfitz commented on #15771
See also @ianlancetaylor's https://go-review.googlesource.com/24287 (which adds a private *tls.Config.clone method)

[2016-06-27 23:54] bradfitz commented on #16049
I can't reproduce this on my Mac laptop even with thousands of runs, in normal mode or with `-race` (which randomizes goroutine scheduling).

The code also seems fine.

I wonder if the failure was some network flake?

In any case, punting to Go 1.8. Help wanted.

[2016-06-28 00:03] aclements commented on #13324
I'm not sure what I'm looking for. This test has been failing all over the place for a long time:

`$ greplogs -dashboard -E "FAIL: TestDialerDualStack" -md -l`
[2015-04-10T04:08:10-cb6e9ec/freebsd-386-gce101](https://build.golang.org/log/a1f73143a9df1797b49f29a1a1c4149f5a8b117b)
[2015-04-11T19:36:19-75c0566/openbsd-386-gce56](https://build.golang.org/log/fe67f4df01ee043f9676029f99e80c33835c4715)

[2016-06-28 00:37] crawshaw commented on #16185
@driusan I don't think this package is trying to solve any of the problems you describe, it's just a slightly prettier implementation of basicfont. It is useful for the same set of tasks: tests and small examples with no dependencies outside golang.org/x.

In fact, now we have this I'd like to see basicfont deleted.

[2016-06-28 03:44] adg commented on #16111
I would be happy if the documentation redundantly mentioned all the cases where slashes *are* replaced. I'd rather know what the functions do rather than what they don't.

[2016-06-28 03:52] adg commented on #16173
@dgryski thanks. I put the slides back in their original location.

[2016-06-28 03:52] #16173 closed

[2016-06-28 04:07] driusan commented on #16185
@crawshaw I know it isn't, that's my point. It's a second package with the same use case, benefits and limitations as an existing package. Having two packages with the same purpose is confusing, especially when the "right" one to use has the less intuitive name.

Removing basicfont would solve my objection, but if it's really just a prettier font why not just update the face (and documentation) in

[2016-06-28 04:51] #16004 closed

[2016-06-28 05:07] shurcooL commented on #16111
@adg I agree with that, it'd be much better.

That was my original plan. But I found it hard to verify/confirm that all methods except `Split` and `SplitList` actually do the slash replacement.

There are some methods which don't return a path at all, so they can't do it. For example, `Match` returns a `bool` and `error`.

Here's a list of all function in `path/filepath`. Which ones do the replace

[2016-06-28 05:14] as commented on #16111
@shurcooL
I agree that saying "path is Cleaned" is a better solution.

As for enumerating the behavior, I had a similar idea but no Windows system:
https://play.golang.org/p/PBk9FfGZmA

The source suggests filepath.FromSlash() does the replacement, and only filepath.Clean() calls it from within the package.

I'm more interested in the functions that do not perform the replacement, since they contr

[2016-06-28 05:15] adg commented on #16111
Well I think the current docs are flat out wrong. The majority of the functions in `path/filepath` that return paths do not do the replacement, as far as I can tell. I haven't looked too deeply into it, though.

I suspect we'll end up with a short list of functions that do the replacement, and we can document those explicitly and remove the clause from the package doc.

[2016-06-28 05:26] shurcooL commented on #16111
That sounds good.

By the way, I'll say this now and update the commit message. When debugging/looking into the history of this issue, I found that what happened was:

1. In 2011 or so, a CL that was meant to be a Windows-only bug fix inadvertently (it was not documented) introduced the behavior of `filepath.Clean` replacing `/` with `filepath.Separator`.
2. It went unnoticed and undocumented for

[2016-06-28 05:53] as commented on #16111
After looking at the implementation, I see that filepath does not currently enforce what is Clean and what is merely converted from slash to backslash across operating systems. We should enumerate which functions truly Clean and which merely apply FromSlash (or call library functions that emulate it).

On Windows:
filepath.Abs -> abs (path_windows.go:108) -> syscall.Fullpath

So the path is not Cl

[2016-06-28 07:55] dsnet commented on #16117
I can take a look at the gzip slowdown for arm and 386. There was much optimization work done on gzip, but primarily targeted towards amd64, some of which completely neglected other architecture or even consciously chose to favor amd64 at the expense of other architectures.

If there's nothing easily actionable, we can punt of the optimizations until Go1.8.

[2016-06-28 08:48] eliasnaur commented on #16049
Thank you for looking into this. FWIW, it happened recently on the darwin/arm builder:

https://build.golang.org/log/2a4f80a178c686db64e9bf563d8511ff3dfa0410

[2016-06-28 09:39] shurcooL commented on #16111
Ok, I've written the following Go program to try and figure out the current implementation situation. Hopefully this is enough data to go on.

https://play.golang.org/p/zV4Mib1EqY

I ran it on a Windows machine (with Go 1.6; I'll try installing 1.7beta2 tomorrow and ensure it produces same output), and got:

[code]

[2016-06-28 09:44] pyanfield commented on #6785
I got the similar error "dial tcp 127.0.0.1:3308: connect: cannot assign requested address" when I use stmt.Exec() method to insert datas to mysql db. And google it to here, after reading the comments, I fixed it by setting `db.SetMaxIdleConns(5)`.

[2016-06-28 10:41] hanwen commented on #16194
There is a debugMux variable that you could set which will print what goes over the wire. That might explain in more detail what is going on. WIthout further info, I'd assume the remote device is picky about how the command is formatted, and closes the connection on any problem.

[2016-06-28 11:32] nagarajasr opened #16200 "Wrong output generated for concurrency example from tour.golang.org"
while experimenting with the concurrency examples from https://tour.golang.org/concurrency/1, came across this issue.

Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
```go 1.6.2 linux/amd64```

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
If possible, provide a rec

[2016-06-28 11:35] johto commented on #15606
I was working on making this work [here](https://groups.google.com/forum/#!topic/golang-codereviews/ljrcfFspN2I), but I never finished; and I never will so if you're interested, you could try picking it up.

[2016-06-28 11:38] dsnet commented on #16200
This is working as intended.

It prints 5 hellos because of the `say("hello")` function calls does that exactly 5 times, with a 100ms pause between each printout. Once it reaches the `go say("world")`, it will start a goroutine which asynchronously starts executing `say("world")`. Since `main` does not block on the goroutine, it will keep executing and reach the end of the `main` function. Once `m

[2016-06-28 11:38] #16200 closed

[2016-06-28 13:06] johto commented on #15123
With explicit transactions you're merely moving this problem from the UPDATE to the COMMIT command, not eliminating it.

[2016-06-28 13:06] hyangah commented on #16111
@shurcooL thanks for doing this.
The filepath.Walk's behavior is annoying  - the first path is fed without any slash replacement.
What about filepath.Rel("C:\\Go\\src", "C:/Go/src/path/filepath")?

If we decide to stay with the current (unintended) behavior, I hope to convert those as a test too to ensure no regression, and to ensure documentation when a new function is introduced.

[2016-06-28 13:53] crawshaw commented on #16161
@potocnyj just a quick note on your benchmark:

With GOARCH=386 it is currently 16% slower than 1.6. If I add an ```IsNamed() bool``` method to reflect.Type and replace ```v.Type().Name() == ""``` with ```v.Type.isNamed()``` in encoding/json/decode.go, it becomes 11% faster than 1.6. So the cost of computing the name in non-empty cases can be significant still in JSON decoding.

I'm reluctant to p

[2016-06-28 14:52] rsc commented on #16117
Sameer pointed this bug out to me. Regressions on microbenchmarks may be very misleading since they are just busy loops around tiny amounts of code. More interesting would be to run the x/bench subrepo benchmarks on these systems and see if there is anything significant there. If not, waiting for SSA on these other systems seems like a decent plan. I haven't looked at any of the CLs, but please re

[2016-06-28 15:08] #16191 closed

[2016-06-28 15:10] bradfitz opened #16201 "doc: document Unicode 9"
Document #16191 for Go 1.7 release notes.

[2016-06-28 15:48] aclements commented on #14809
Unfortunately, we haven't had any TestCgoExternalThreadSignal failures since [2016-06-01T00:09:32-04acd62/darwin-amd64-10_10](https://build.golang.org/log/98dc50e087aeb95bed86c26159ef9f4c17e63b14), which was before @ianlancetaylor's CL to get stack traces of child processes. (In fact, the only runtime test timeouts since June 2nd have been on Plan 9.)

There was one interesting failure around that

[2016-06-28 16:19] Thomasdezeeuw commented on #16191
Is it correct that the issue and the commit state version 9, while `api/except.txt` states version 8.0.0? (see
https://github.com/golang/go/blob/a2a4db7375204c22898559d3b96a748c6df96294/api/except.txt#L332).

[2016-06-28 16:57] ianlancetaylor commented on #14809
I think it's impossible to tell whether the problem is related or not.  They are timeouts, so that part is similar, but they are running different tests.

Why would there be a runnable goroutine that nothing is running?  That seems to imply that all the P's are in use, which does not seem to be the case, or that all the M's are doing something, but what?, or that all the M's are blocked waiting fo

[2016-06-28 17:03] #16201 closed

[2016-06-28 17:23] crawshaw commented on #16117
I compared the JSON target in x/benchmarks with JSONDecode from test/bench/go1 and got similar results: a slowdown from 1.6 to tip on 386, and https://golang.org/cl/24521 recovers it.

I'm just about ready to call gob and json done. If @dsnet has anything for gzip, great, but I think everything else can wait for 1.8.

[2016-06-28 17:34] cherrymui commented on #16117
For json benchmark in `golang.org/x/benchmarks` on ARM64,
go1.6.2
[code]

go1.7beta2
[code]

tip (a2a4db7)
[code]

Looking at `time` metric (is it right?), it seems go1.7beta2 is ~20% slower than go1.6.2 but tip gets it back.

[2016-06-28 17:50] Farioko commented on #16194
@hanwen Thank you for answering. I do know that whenever I exit, the server returns status code -1. Could that be causing the problem?

[code]

[2016-06-28 18:15] proppy opened #16202 "x/exp/io/gpio: user facing mapping API"
The gpio package should expose a friendly way for the user to redefine pin mapping outside of the pre-defined set of supported boards configuration.

Current only the `driver.Conn` expose the `Map` method and the `Conn` is hidden by the `gpio` package from the public facing API.

[2016-06-28 18:16] #15908 closed

[2016-06-28 18:23] mpvl commented on #16191
@Thomasdezeeuw: yes.  api/except.txt tells the API checker that it is okay to no longer have the Version constant be 8.0.0.  api/go1.7.txt says it is now 9.0.0.

(See https://github.com/golang/go/blob/a2a4db7375204c22898559d3b96a748c6df96294/api/go1.7.txt)

[2016-06-28 19:00] aclements commented on #16117
With GOARCH=386 on an otherwise amd64 host, I'm also seeing a 35% slowdown in BinaryTree17 that looks like it happened when we merged dev.garbage: https://rawgit.com/aclements/74e66853d989adce240fadd62c554d0b/raw/491a81c5874e4f78d01133666a4ae916a166ceef/go1-1.7-386.svg (note that this isn't a complete run yet; it's only a sampling of the commits).

@RLH, could you look at the BinaryTree17 profiles

[2016-06-28 19:17] bradfitz commented on #15998
Moving to Unreleased, since these tests aren't pulled into the standard library.

[2016-06-28 19:20] quentinmit commented on #15050
Excellent. @luxas Would you be able to check if this works now with Qemu HEAD?

[2016-06-28 20:30] GordonBGood commented on #16192
@randall77:

You are right that in the general case, using the read/modify/write opcodes doesn't make much difference to timing as generally the latency of the first move will be masked by the computations of the modify value so the difference is likely only ten to fifteen percent for a tight loop as here.  However, if one is optimizing using loop unrolling techniques (where the modify value is ei

[2016-06-28 20:31] Thomasdezeeuw commented on #16191
Ok, just checking.

[2016-06-28 20:50] bradfitz commented on #16041
I don't think step 8 in your scenario (`requestCanceler.CancelRequest(outreq)`) should close the underlying TCP connection. If step 3 happens (the RoundTrip failed), the cancellation code to close the TCP connection should've already been unregistered.

In any case, more details as requested by @adg and @dpiddy would be nice. How can we reproduce this? What do the requests look like? How are the 1

[2016-06-28 21:23] ianlancetaylor commented on #16035
I've taken another tack here.  Could somebody please try https://golang.org/cl/24551  to see if it fixes the problem on Windows?  Thanks.

[2016-06-28 21:37] #16165 closed

[2016-06-28 22:04] bradfitz commented on #16060
The bug report says:

But that's not what the provided goroutines say.

Those three goroutines could just be an idle TCP connection owned by an http.Transport. It's been 33 minutes since that connection was used.

I don't see enough to work on here. There's not enough code (no code) or goroutine context to help debug.

I'm going to close this until there's something more we can help with.

[2016-06-28 22:04] #16060 closed

[2016-06-28 22:09] #16189 closed

[2016-06-28 22:27] ianlancetaylor commented on #16126
Moving to 1.8.

[2016-06-28 22:27] ianlancetaylor commented on #15603
Moving to 1.8.

[2016-06-28 23:01] bradfitz commented on #14627
Sent https://golang.org/cl/24560

[2016-06-28 23:10] stevenh commented on #16060
Unfortunately that's the problem though, I could have added the sockstat output for app at the time but it was empty, as there was no OS level socket present, hence go was waiting for something that it was never going to get.

I totally admit that without a reproduction case this is likely going to be impossible to narrow down though, so if do manage to come up with that I'll reopen.

[2016-06-28 23:10] ianlancetaylor commented on #16136
I tried to recreate the problem using gomote, but failed.

@sapiens-sapide Can you try to recreate this using Go 1.7beta2, or tip?  That should at least give a better error message.  The real error message from 1.6 is being hidden by a bug that has been fixed.

My best guess at the moment is that something has gone wrong with our support for fork on FreeBSD, but I have no idea what that could be.

[2016-06-28 23:11] ianlancetaylor commented on #16083
We don't know how to reproduce and we don't know what the problem is.  Punting to 1.8.

[2016-06-28 23:12] ianlancetaylor commented on #15869
We need more information.  Punting to 1.8.

[2016-06-28 23:19] bradfitz commented on #16060
Can you reproduce it yourself? Only on FreeBSD? Only on Go 1.6.2, or also Go 1.7?

If possible, post a system call trace of it happening. Probably best to open a new bug, since comments on closed bugs are often lost.

[2016-06-28 23:46] alexbrainman commented on #16035
I does not fixes the problem for me. Trying CL 24551 against prorgram listed here https://github.com/golang/go/issues/16035#issuecomment-225489469 I get:
[code]

If you provide suggestions on how to debug this, I will. Thank you.

Alex

[2016-06-29 00:02] EricLagergren opened #16203 "cmd/compile: incorrect assembly output for 386"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

1.6.2 (on my laptop _and_ Vagrant; unsure about play.golang.org)

2. What operating system and processor architecture are you using (`go env`)?

Vagrant:
[code]

Laptop:
[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable pro

[2016-06-29 00:35] nigeltao commented on #16196
It's been a while since I looked at it, but IIRC the Go PNG filter chooser has the same algorithm as libpng.

That's just about PNG filtering as in https://www.w3.org/TR/PNG/#9Filters and not anything to do with zlib.

[2016-06-29 00:41] #14627 closed

[2016-06-29 00:45] nigeltao commented on #16185
@jimmyfrasche that program is https://github.com/golang/freetype/blob/master/example/genbasicfont/main.go

[2016-06-29 00:45] randall77 commented on #16203
Looks like a bug in the 386 backend.  (vagrant is 32-bit Go, the others are 64-bit Go).
Minimal repro:
[code]

[2016-06-29 00:59] ianlancetaylor commented on #14732
Thanks for the scheduling trace.  It shows that `GOMAXPROCS` is 1.  The single P is in status `Psyscall`.  It has no associated M.

There are 7 M's.  6 have no associated P.  M1 is associated with P0.  M1 is locked to goroutine 17.  The stack trace at the end shows only

    goroutine 17 [runnable, locked to thread]:
    runtime.goexit()
    	/go/src/runtime/asm_386.s:1612 +0x1

This is probably t

[2016-06-29 01:03] nigeltao commented on #16185
@driusan @crawshaw

Yes, golang.org/x/image/font/plan9font already exists, and it's under golang.org/x, but it has the same problem in that you still need to provide a font file separately. The whole point, as crawshaw said, is for tests and small examples where you just want the simplicity of a single import and no further runtime dependencies. This proposed package does not replace freetype; if

[2016-06-29 01:05] griesemer commented on #16169
The pending CL now enables writing to a file and is using the benchmark data format.

[2016-06-29 01:35] ianlancetaylor commented on #16035
Hmmm, the magic comment may not work on method calls.

[2016-06-29 01:38] #15476 closed

[2016-06-29 01:53] EricLagergren commented on #16203
Aside: Is the playground not 32 bits? Its `int` caps out at 1 << 32 - 1

[2016-06-29 02:00] mikioh commented on #14732
Sure, looks like `export GOMAXPROCS=2` fixes the issue on single-core CPU hosts.

[2016-06-29 02:06] mikioh commented on #16136
@sapiens-sapide,

In addition,

This is a sort of random firing, though. Can you try with disabling Intel VT-x support? If your kernel has the kernel state entry `hw.vmm.vmx.use_apic_vid`, `sysctl hw.vmm.vmx.use_apic_vid=0` disables the functionality on the running kernel.

[2016-06-29 02:10] nathany commented on #14627
Thanks Brad. I'll test it out and report back.

[2016-06-29 03:06] JadenTeng opened #16204 "encoding/gob: panic when Encode nil"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
`go version go1.6.2 darwin/amd64`

2. What did you do?
Use gob to serialize golang object.
Main Code: https://play.golang.org/p/z0v0O8D_WC

3. What did you expect to see?
`return error.New("Gob: nil given")`

4. What did you see instead?
`panic error`

Thank you very much.

[2016-06-29 03:22] rjcb99 opened #16205 "math/rand panic:runtime error: index out of range"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.6.1 darwin/amd64

2. What operating system and processor architecture are you using (`go env`)?
ubuntu server 12.04

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best

[2016-06-29 03:22] deslaughter opened #16206 "Atomic operation fails on mapped memory when using -race flag"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
    go version go1.6.2 windows/amd64

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?

    Run the following program on Windows 10 amd64: `go run -race main.go`

[code]

    Running with `go run main.go` produces `value =

[2016-06-29 03:38] alienth opened #16207 "net/url: No adequate method exists for encoding a URI component"
1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?
linux amd64

3. What did you do?
https://play.golang.org/p/loaa8vvCli
Attempted to use net/url to encode a component of a URI which contained both forward-slashes and whitespace.

4. What did you expect to see?
A method akin to JS `encodeURIcomponent` which would

[2016-06-29 03:45] alienth commented on #16207
Closing as this is not a bug, but lack of functionality. Will look at a proposal or something along those lines.

[2016-06-29 03:51] alienth commented on #16207
Closed this initially as the 'Asking Questions' doc suggested that GH Issues are for bugs only. However the [proposals doc](https://github.com/golang/proposal#process) indicates I should create an issue. There is some disagreement there so I'm not sure how I should proceed. If there is a better place for me to raise this issue, please let me know and I'll happily take it there.

[2016-06-29 03:56] dsnet commented on #16205
Have you tried running this with the race detector using the `-race` flag?

The example you posted is racy:
[code]

I'm going to close this for now. Let us know if you discover it turns out to be a legitimate issue.

[2016-06-29 03:56] #16205 closed

[2016-06-29 05:25] randall77 commented on #16203
@EricLagergren , good question.  I think maybe because the playground is amd64p32, or because it runs with -N.  Not sure what its current state is.

[2016-06-29 05:57] josharian commented on #16206
@dvyukov

[2016-06-29 06:02] josharian commented on #16203
Not a regression from 1.6, so while this is unfortunate, I think it should wait for 1.8 (where SSA will very likely fix it for free).

[2016-06-29 06:19] josharian commented on #16199
Do you have in mind a website doc or a wiki? Answers custom written for the purpose, or a collection of links, perhaps with commentary? I'm very sympathetic to the need here, since I slowly and painstakingly taught myself much of this based on the code and code reviews (and regularly continue to do so)...but there's also a whole lot of possible topics, many of which are intricate, and the material

[2016-06-29 06:42] dvyukov commented on #16206
Please provide a full report with `GOTRACEBACK=system` env var.
Does it crash with Go1.7 beta2?
https://golang.org/dl/#go1.7beta2

[2016-06-29 06:47] alexbrainman commented on #15899
I cannot explain the slowdown. But I can explain why windows race builder was hanging. The benchmark assumes that you can write as much data as you like to the network (without reading data on the other end of network connection), but that is not true. For example:
[code]

Same happens on windows. But the numbers are obviously diffferent:
[code]
(I did press ctrl+C to break the program).

The Benc

[2016-06-29 06:58] alexbrainman commented on #16206
It does crashes at the tip:
[code]

Alex

[2016-06-29 07:01] davecheney commented on #16206
Address 0x15d is not aligned.

On Wed, 29 Jun 2016, 16:58 Alex Brainman <notifications@github.com> wrote:

[2016-06-29 07:16] dvyukov commented on #16206
Alex, please try the following patch:

[code]

[2016-06-29 07:27] alexbrainman commented on #16206
The patch fixes this problem.

Alex

[2016-06-29 08:32] dvyukov commented on #16206
Linux magically works, because `MOVQ g(R12), R14` is compiled to TLS access `mov    %fs:0xfffffffffffffff8,%r14` even without preceding `get_tls(R12)`.

[2016-06-29 09:14] dvyukov commented on #16206
Mailed https://go-review.googlesource.com/#/c/24590

[2016-06-29 09:20] houstar commented on #13192
@laboger How much work If we're enable golang with cgo on ppc64 BE ? I'm curious about it because we're interesting about docker on Power7 Machine that we purchased before. Thanks.

[2016-06-29 09:35] odeke-em commented on #16204
Hello there @JadenTeng, I am not qualified to answer this bug because I don't know much about encoding/gob but I made something here https://play.golang.org/p/8PB1oN2eFO that perhaps could be useful for comparing behaviors across diferent encoders. They all have different behaviors of course, but I found it encoding/gob can successfully encode a nil map, I also think the nil you are passing in bei

[2016-06-29 10:50] stevenh commented on #16060
We've only seen it on FreeBSD and we run the app on FreeBSD, Linux (small subset) and Windows.

We've only seen it once and that was 1.6.2 we'll raise a new bug when we reproduce it.

[2016-06-29 10:56] reusee opened #16208 "net/http: nil pointer dereference in closeConnIfStillIdle"
1. What version of Go are you using (`go version`)?
go version devel +b75b063 Tue Jun 28 04:49:33 2016 +0000 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/reus"
GORACE=""
GOROOT="/home/reus/go"
GOTOOLDIR="/home/reus/go/pkg/tool/linux_amd64"
CC="gcc"
GOGCCFLAG

[2016-06-29 11:26] hanwen commented on #16194
Our library is waiting for the exit-status or exit-signal message, which isn't coming. According to RFC 4254, those are optional, so we should probably do something intelligent in case the remote end doesn't send a status message.

[2016-06-29 11:31] potocnyj commented on #16161
@crawshaw thanks for the update here - as a comparison I ran my benchmark this morning with the latest from tip (`go version devel +25a6095`) and it looks like there may be a net improvement now for amd64 compared to 1.6. It's still pretty noisy as you mentioned previously but things look to be substantially improved 👍

[2016-06-29 12:57] ALTree commented on #16208
You should include a recipe to reproduce the error in your report. Point 3 in the issue report skeleton says

[2016-06-29 13:17] JadenTeng commented on #16204
I don't think so. Because all `Encode(e interface{}) error` method return error for programmer to handle.
You always

[code]

in your program.

There are alternative change should made in the gob:Encode method according to your comment
1. return err
2. return []byte{}, nil // I don't know the []byte should be

I like (2). Because it's same with other package Encode methods behavior.

[2016-06-29 13:31] zellyn opened #16209 "Proposal: relaxed rules for assignability with differently-named but identical interfaces"
Functions and structures are assignable only when the function arguments or structure fields have identical types. It would be useful to allow assignability in the case where corresponding arguments or fields have identically-shaped _interface_ types.

Passing variables with differently-named but otherwise identical interface types works. However, passing handler functions or structs with such int

[2016-06-29 13:40] dgryski commented on #16199
Wrong documentation (== "out of date" in this context) is worse than no documentation.

[2016-06-29 14:33] mkevac commented on #16199
It is not. Linux internals books from 2013 are still useful. Just put a date on it.

[2016-06-29 14:37] #16020 closed

[2016-06-29 14:47] josharian commented on #16199
Missing from Brad's list above: blog posts from Daniel Morsing, particularly https://morsmachine.dk/go-scheduler.

I wonder whether a good place to start is a wiki that collects links like these and adds minor commentary about when they were written (probably a Go release is more helpful than a year) and some discussion of how accurate they still are.

[2016-06-29 14:54] tombergan commented on #15899
You're onto something. The problem definitely seems related to the buffer size relative to TCP flow control parameters. The client and server are using different buffer sizes -- the client uses len(buf) chunks while the server uses a fixed 32KB buffer (in io.Copy). This results in the following sequence each loop iteration:

1. client sends len(buf)
2. server receives 32KB
3. server sends 32KB
4.

[2016-06-29 15:00] MrDini123 opened #16210 "[question] compile a source for mips"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
`
go version go1.2.1 linux/amd64`

2. What operating system and processor architecture are you using (`go env`)?

[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

4. What

[2016-06-29 15:11] hyangah commented on #16182
Any objection to change to long?
On the other hand, Go's int type is mapped to long for java (android), which causes a different issue #11421. Fortunately, for iOS, it seems 'long' matches Go's int type. Best practice is to avoid int type though.

[2016-06-29 15:24] hyangah opened #16211 "x/mobile/cmd/gomobile: remove gomobile stripped NDK"
gomobile stripped NDKs created by release.go are still smaller than the android full NDK.
But
- it adds maintenance overhead.
- go starts supporting more architectures so stripped NDK is no longer tiny.
- some users want to choose android api level different from the default the stripped NDK contains.

I propose to remove the need of stripped NDK.
Now gomobile can reuse cached NDKs, so I don't exp

[2016-06-29 15:28] ianlancetaylor commented on #16209
It would help if you could describe more precisely what you propose to change in the language spec.

I think you are proposing that we change the handling of named interface types when such types are used as function arguments or results, or as struct field types, when converting from type to another.  Why are interface types special here?  In exactly what cases are interface types special?

The c

[2016-06-29 15:28] bradfitz commented on #16208
In addition to code, as @ALTree mentioned, does your program run under the race detector?

[2016-06-29 15:32] #16206 closed

[2016-06-29 15:32] ianlancetaylor commented on #16210
The Go project does not use the issue tracker to ask questions.  Please see https://golang.org/wiki/Questions .  Thanks.

Go 1.2 does not support MIPS.  MIPS support was added in Go 1.6.  And even in 1.6 there is no mips 32-bit support, only GOARCH=mips64.

[2016-06-29 15:32] #16210 closed

[2016-06-29 15:35] dvyukov commented on #16206
However, note that even if race detector does not crash, it ignore synchronization on such external memory, so it can lead to false race reports.

[2016-06-29 15:36] MrDini123 commented on #16210
Okay, but I have a gccgo (from opewrt-go) So with it I also Can't compile the code to mips32?

_The Go project does not use the issue tracker to ask questions._

Sorry.

[2016-06-29 15:37] reusee commented on #16208
@bradfitz No, not with race detector.

I don't think it will be easy to reproduce by a short example.  It's a large long-running program. I believe it's introduced by recent changes. I will try to do some git bisect to find out which commit.

[2016-06-29 15:40] ianlancetaylor commented on #16210
Please use a forum.

To use gccgo, use the -compiler=gccgo option and set the compiler to a mips32 cross-compiler.

[2016-06-29 15:51] zellyn commented on #16209
I left specific examples in the referenced thread. That was probably a mistake… better for this discussion to be self-contained.

Here's a fairly succinct example. We're trying to pass a function as an argument, but the argument types differ because `fmt.Stringer` and `main.Stringer` are different interfaces, even though they are compatible:

[code]

Honestly, I don't see much practical reason for

[2016-06-29 15:54] ianlancetaylor commented on #16207
We use the issue tracker both for bugs and for proposals.  That is what https://golang.org/wiki/Questions says, so I'm not clear on the disagreement you mention.

[2016-06-29 16:07] josharian opened #16212 "encoding/json: do all reflect work before decoding"
@crawshaw commented in [CL 24472](https://go-review.googlesource.com/#/c/24472/):

This issue is a reminder, because CLs get forgotten.

[2016-06-29 16:10] deslaughter commented on #16206
@dvyukov That's an excellent point.

I thank you all for getting this resolved so quickly. Very impressive.

[2016-06-29 16:15] josharian opened #16213 "proposal: math/rand: speed up Int31n with multiply/shift instead of modulo"
See http://lemire.me/blog/2016/06/27/a-fast-alternative-to-the-modulo-reduction/ for details.

Marking as Go2, since the compatibility guarantee prevents us from changing the output of Int31n given a seed.

We can still use this in the runtime, though; there are several places where we do `fastrand1() % n`. I will send a CL for this for Go 1.8 and have it update this issue.

cc @dgryski

[2016-06-29 16:23] nathany commented on #14627
Upon updating I no longer get the EOF error, but I'm still not seeing the GOAWAY response from Apple. This the error shown when using an incorrect certificate causing a GOAWAY response:

[code]
The GODEBUG output is as follows:

[code]

As you can see, we receive more than one GOAWAY (despite only sending a single request). The first one contains Debug info whereas the later one does not.

ref: ht

[2016-06-29 17:01] bradfitz commented on #16208
Please do. I labeled this "WaitingForInfo" since there's nothing for us to help with until we have more to go on. If you get us something soon, there's a chance it could be fixed for Go 1.7, if there's a problem.

[2016-06-29 17:16] ALTree opened #16214 "cmd/compile: assembly listing (-S flag) reports "<unknown line number>""
Code:

[code]

`build -gcflags -S`, on tip, outputs:

[code]

note the `<unknown line number>` in the `Mod32` disassembly. Note that `Mod64` is fine.

This is an SSA regression: on `go1.6.2`, and on tip with `-ssa=0`, every instruction gets its own line number.

[2016-06-29 17:21] ALTree commented on #16214
[code]

and then grepping for `"<unknown line number>"` returns 1927 matches on tip, and 0 on tip with SSA disabled.

[2016-06-29 17:32] bradfitz commented on #16214
/cc @randall77 @cherrymui @josharian @ianlancetaylor

[2016-06-29 17:33] bradfitz commented on #16214
Go1.7Maybe if the fix is easy and non-invasive?

[2016-06-29 17:54] alienth commented on #16207
@ianlancetaylor Sorry, misread some instruction on this. Please disregard.

[2016-06-29 18:02] robpike commented on #16213
If we are going to change this package, it has more severe problems. https://go-review.googlesource.com/#/c/10161/ isn't ready but it is based on a much better generator, and we should use the Go 2 opportunity, should it arise, to replace the core algorithm.

[2016-06-29 18:05] josharian commented on #16213
Here's the obvious fastrandn for the runtime package

[code]

Unfortunately, the additional function call (instead of an inline `%`) more than obviates the performance gains. This means implementing fastrandn in assembly and copy/pasting the core of fastrand, which is a pity.

Results on amd64, with an assembly implementation:

name         old time/op  new time/op  delta
FastrandnNonConstant-8  5

[2016-06-29 18:08] josharian commented on #16213
@robpike yes. The number of "can't fix this because compatibility" issues for math/rand is sad. (And I still don't really understand why it was ok to fix #16124.) I wish there was a way to fix them all in the stdlib without waiting for Go2. Oh well.

[2016-06-29 18:25] puellanivis commented on #16209
I think this proposal is more targeted at enforcing this element of the specification:

* **Two interface types are identical if they have the same set of methods with the same names and identical function types.** Lower-case method names from different packages are always different. The order of the methods is irrelevant.

Because:
* Two function types are identical if they have the same number o

[2016-06-29 18:28] zellyn commented on #16209
Nice catch, @puellanivis! That is exactly what this is targeting. So perhaps it's actually a bug.

[2016-06-29 18:34] bradfitz commented on #14627
Sigh. I suppose we could track both the first and last or something. This is starting to feel very Apple-specific.

[2016-06-29 18:35] #15899 closed

[2016-06-29 18:40] puellanivis commented on #16209
Hmm… missed this part “Two named types are identical if their type names originate in the same TypeSpec.”

I'm working on a better example that exposes the issue I see at hand.

[2016-06-29 18:49] rakyll commented on #16177
Closed via https://github.com/golang/exp/commit/54154b6f8ed3ca1d0a178d1ecf7d5d6366978f68.

[2016-06-29 18:49] #16177 closed

[2016-06-29 18:56] puellanivis commented on #16209
It's kind of convoluted, but it _is_ dealing with esoteric one-offs in the language spec vs implementation: https://play.golang.org/p/YlrMrkvY60
`package main

import (
	"fmt"
)

type A interface {
	F(fmt.Stringer)
}

type Stringer interface {
	String() string
}

type B struct{}

func (b *B) F(x Stringer) {
	fmt.Println(x.String())
}

type C struct{}

func (c *C) F(x interface {
	String() string
}

[2016-06-29 19:49] hyangah commented on #16184
I ask @rauls5382 most pprof questions

[2016-06-29 19:51] bradfitz commented on #14627
More: https://golang.org/cl/24600

[2016-06-29 19:53] nathany commented on #14627
It certainly does seem like an odd Apple thing, but I don't have experience with other HTTP/2 APIs to compare against.

[2016-06-29 19:58] nathany commented on #14627
I pulled your changeset which does what you intended.

[code]

Now I should be able to detect this error and parse the JSON in the debug parameter to return the appropriate error code "BadCertificateEnvironment".

Are you happy with that change though?

[2016-06-29 20:02] bradfitz commented on #14627
I'm happy enough.

[2016-06-29 20:02] bradfitz commented on #14627
(Once I saw the spec mentions multiple GOAWAY frames, I didn't feel that it was too Apple specific anymore)

[2016-06-29 20:08] nathany commented on #14627
Thanks for exporting `GoAwayError`. That makes my job a lot easier.

[2016-06-29 20:24] bryanvpham opened #16215 "net: LookupHost only using the first configure DNS server in /etc/resolv.conf on Linux"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.5.1, 1.6.2

2. What operating system and processor architecture are you using (`go env`)?
linux_amd64

3. What did you do?
I have a /etc/resolv.conf file with three DNS servers configured. If the first one isn't working properly, the net.LookupHost function will not try to use

[2016-06-29 20:33] bradfitz commented on #16215
/cc @mdempsky for triage

[2016-06-29 20:38] mdempsky commented on #16215
Are you able to give more details about how the first DNS server isn't working properly?  E.g., is it not sending responses at all?  Is it sending bogus responses?  What's it doing?

nmap or strace captures of the DNS transaction would be most helpful.

[2016-06-29 20:42] laboger commented on #15823
There are problems with two elf tables in output sections related to this change.  The method offset tables are generated with absolute offsets determined at compile time, assuming that all text will appear consecutively.  But if there are multiple text sections, the second one will not appear right after the first, there will be tables inserted by the linker to handle the long call offset instruc

[2016-06-29 20:46] eliasnaur commented on #16211
Is it too naive to attempt to build the openal libraries during gomobile init?

[2016-06-29 20:53] bradfitz commented on #16094
@FiloSottile, is this a regression from Go 1.6?

[2016-06-29 20:54] dsnet commented on #16117
What `gzip` benchmark is being run? When I run the `compress/flate` benchmarks on the architectures in question, I actually see improvement (as I would expect) and not regressions. I'm using the builders to run the tests.

Old: `go1.6.2`
New: `go1.7beta2`

[code]

[code]

[code]

[2016-06-29 21:04] bryanvpham commented on #16215
I don't have control over the server but it seems like it can connect to it but the server says it can't find anything.

nslookup some.domain.com
Server:		75.x.x.190
Address:	75.x.x.190#53

Non-authoritative answer:
*** Can't find some.domain.com No answer

[2016-06-29 21:07] mdempsky commented on #16215
Can you please retry your test with dig instead of nslookup?

[2016-06-29 21:09] bryanvpham commented on #16215
; <<>> DiG 9.9.4-RedHat-9.9.4-29.el7_2.3 <<>> some.domain.com
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 13349
;; flags: qr rd; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 1
;; WARNING: recursion requested but not available

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 2800
;; QUESTION SECTION:
;some.domain.com.	IN	A

;; Query time: 187

[2016-06-29 21:17] bradfitz commented on #15929
We don't start reading the next request until your Handler is done and its output is flushed.

Got a demo program showing a repro? Is your ReadTimeout super short?

[2016-06-29 21:17] bradfitz commented on #15287
Any update, @jstarks?

[2016-06-29 21:19] FiloSottile commented on #16094
Yep, it's a regression.

I'll address the points on the CL now, sorry for the delay, I've been offline for a bit.

[2016-06-29 21:19] bradfitz commented on #15407
@marcelborrmann, can you attach the certificate?

/cc @agl

[2016-06-29 21:20] bradfitz commented on #15632
Closing due to lack of reply.

[2016-06-29 21:20] #15632 closed

[2016-06-29 21:23] bradfitz commented on #15932
This is also super easy to fix in cmd/release, though. There's already a list of things we delete, no?

[2016-06-29 21:23] nathany commented on #14627
This does the trick:
[code]
Hopefully that doesn't miss out on anything important vs Client.Do, but it's not like I should need to follow redirects anyway.

[2016-06-29 21:25] mdempsky commented on #16215
I assume 75.x.x.190 is the first server in your /etc/resolv.conf?  Can you run "dig some.domain.com @server2", where server2 is the IP address for the second nameserver in your /etc/resolv.conf?

Can you also provide the output from running "host some.domain.com"?

[2016-06-29 21:26] broady commented on #15932
Yeah, I suppose so. We can also just delete it when we create the release branch.

(I talked to GitHub, the templates must live on the default branch)

[2016-06-29 21:26] glorieux opened #16216 "x/tools/cmd/present: slides.js not running on safari"
1. What version of Go are you using (`go version`)?
go version go1.5 darwin/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/glorieux/Workspace/gocode"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GO15VENDOREXPERIMENT=""
CC="clan

[2016-06-29 21:30] mdempsky commented on #16215
Oh, actually I think this is a duplicate of #15434.  Can you either try using 1.7 or backporting the fix from 98b99d561225cc1d140360b217df2acc9aa1f746?

[2016-06-29 21:33] quentinmit commented on #16117
@dsnet We are running the Gzip benchmark as found in test/bench/go1/gzip_test.go

[2016-06-29 22:04] bradfitz commented on #16036
Related: #13722

[2016-06-29 22:15] nathany commented on #14627
So here's the odd thing. After switching from Client.Do to calling RoundTrip directly, I'm only receiving one GOAWAY. Without CL https://go-review.googlesource.com/#/c/24600 applied, this is the output I now see:

[code]

[2016-06-29 22:19] orware opened #16217 "Weird Behavior on Single Computer"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

go version go1.6.2 windows/386

2. What operating system and processor architecture are you using (`go env`)?

set GOARCH=386
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=386
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\Gocode
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go

[2016-06-29 22:21] bradfitz commented on #14627
No clue. I don't control what Apple's server sends you. Maybe your request differed, or maybe you hit a different Apple backend. Or maybe it's a timing thing on their side.

[2016-06-29 22:22] bradfitz commented on #16217
Since no bug has been identified here, it seems like a forum would be a more appropriate venue for discussion. See https://golang.org/wiki/Questions

[2016-06-29 22:22] #16217 closed

[2016-06-29 22:27] nathany commented on #14627
Yah, hard to say. It doesn't seem like a bad idea to merge multiple GOAWAY errors regardless.

Thanks again for working on this. Much appreciated.

[2016-06-29 22:37] bradfitz commented on #14374
@FiloSottile, closed issues aren't tracked and usually comments on closed issues aren't seen.

This is more documented as of b5f0aff49503e31002b33198e06708e263c445a7

[2016-06-29 22:39] iangudger opened #16218 "proposal: x/net/dns, vendor/golang.org/x/net/dns: new package"
We currently have the startings of a nice DNS parsing and packing library in net/dnsmsg.go. This is useful for building custom DNS clients and servers in Go, but is not currently exported. I would like to propose moving this functionality to x/net/dns and vendoring it so that the same version can be used in the net package.

[2016-06-29 22:43] iangudger commented on #16218
/cc @mikioh @bradfitz

[2016-06-29 22:47] bradfitz commented on #16218
Per discussion earlier, I'm okay with this.

[2016-06-29 22:48] bradfitz commented on #15991
It doesn't look like there's enough support for this. Closing.

[2016-06-29 22:48] #15991 closed

[2016-06-29 23:01] enzochiau opened #16219 "go-rename.el doesn't work with symbolic link"
Please answer these questions before submitting your issue. Thanks!
1. What version of Go are you using (`go version`)?

   go version go1.6.2 linux/amd64
2. What operating system and processor architecture are you using (`go env`)?
   GOARCH="amd64"
   GOBIN=""
   GOEXE=""
   GOHOSTARCH="amd64"
   GOHOSTOS="linux"
   GOOS="linux"
   GOPATH="/home/enzoc/App/go_path"
   GORACE=""
   GOROOT="/home/e

[2016-06-29 23:03] bradfitz commented on #13834
Other notes, running cmd/go tests on Windows:

[code]

[2016-06-29 23:12] bradfitz commented on #14698
Gopherbot never mentioned this, probably because it says Do Not Review, but: https://go-review.googlesource.com/#/c/23005/

[2016-06-29 23:15] gregory-m opened #16220 "Proposal: Allow to change net/http.Server base context"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
go version go1.7beta2 darwin/amd64

3. What did you do?
I'am trying to setup my session store and pass it to handlers via http.Request.Context()

4. What did you expect to see?
Some way to do this.
Like:
[code]
5. What did you see instead?

I can't change base http.Request.Conte

[2016-06-29 23:21] dsnet commented on #16117
tl;dr, leave gzip as is for go1.7, we can address arm performance issues in go1.8

Alright, I think I've figured out what's causing the slow-down for ARM. While all of the go1.7 optimizations as a whole have helped arm and arm64 (as seen in my post above), there are some cases where performance regresses (as is the case for test/bench/go1/gzip_test.go)

One of major changes made to compress/flate

[2016-06-29 23:26] bradfitz commented on #15072
@jtsylve, you still interested in this? It looks like https://go-review.googlesource.com/#/c/21791/ could be substantially simpler with the work @zombiezen did.

Let us know if we can help.

[2016-06-29 23:31] bradfitz commented on #16210
Dup of #14637 also.

[2016-06-29 23:40] iangudger commented on #16218
/cc @mdempsky

[2016-06-29 23:45] gkop commented on #11193
Without this enhancement, Go is adverse to TDD. Just adding dependencies on gorm and sqlite adds a 20s overhead to every `go test` run, on modern hardware.

[2016-06-29 23:48] josharian commented on #16117
If you use the dev.ssa branch and hack in config to make arm use ssa, how do things look? I.e. Will ssa for arm save us for free?

[2016-06-29 23:48] rauls5382 commented on #16184
I am not aware of any changes to pprof that are missing on the github version.

There are some UI differences that I plan to smooth out, but other than that it should be fully functional with Go programs. Please open issues at github.com/google/pprof/issues if you encounter any problems.

I think it would be great if we could sync up the two versions at some point.

[2016-06-29 23:50] davecheney commented on #11193
Gabe, this is because you are recompiling sqlite every time. Use go install
or go test -i to build all test dependencies.

On Thu, 30 Jun 2016, 09:45 Gabe Kopley <notifications@github.com> wrote:

[2016-06-29 23:50] bradfitz commented on #16184
Have you been merging all Go's changes? There have been a handful.

[2016-06-29 23:50] #16155 closed

[2016-06-29 23:51] gkop commented on #11193
Whew, thanks Dave! We're all good :)

[2016-06-30 00:00] rauls5382 commented on #16184
I have merged a few in the past but admittedly haven't checked recently. I will take a new look.

[2016-06-30 00:02] mdempsky commented on #16218
I'm fine with adding/maintaining an x/net/dns package based on the internal DNS code.

I'm somewhat hesitant about vendoring it for package net though.  Package net's DNS needs are pretty minimal, and the internal API is already overkill for what it needs.  Simplifying/redesigning the API would let us eliminate unnecessary heap allocs.

[2016-06-30 00:04] bradfitz commented on #16218
Which API? The proposed x/net/dns one or the existing internal one?

[2016-06-30 00:05] mdempsky commented on #16218
I suppose both, but I'm more interested in reworking the internal one.

[2016-06-30 00:07] cherrymui commented on #16214
The large constant in `Mod32` is generated by the frontend, the node of which has line number 0. The constant in `Mod64` is generated by SSA optimization, where the line number propagates through. In the legacy backend, if we set the line number to 0, it does not change `lineno` (`cmd/compile/internal/gc/subr.go:/setlineno`). Maybe we can do the same in `pushLine` when building SSA?

[2016-06-30 00:08] bradfitz commented on #16218
As background, we have a number of forks of various DNS packages (some forked from the Go net internals) inside Google. There's increasing pushback to unify them both for sanity and security, so there's only one correct one to maintain.

I think we can make a good one that's also fast.

[2016-06-30 00:12] bradfitz opened #16221 "testing: add T.Context() accessor"
Can we add a `func (*T) Context() context.Context` accessor in the testing package?

And then make each test run with a context which is canceled when it finishes.

Then goroutines created by tests can select on the test's completion (pass or fail).

Thoughts?

[2016-06-30 00:14] jtsylve commented on #15072
I haven't gotten a chance to sit down and try to learn how to use GCE, and it's unclear to me how to proceed with that, really.  The script itself works, but it's possible that it could be made simpler.

[2016-06-30 00:20] bradfitz commented on #15072
This has nothing to do with GCE.

[2016-06-30 00:21] mdempsky commented on #16218
The main thing I want for package net is an API to incrementally walk over a DNS packet without needing to fully unmarshal it and incur unnecessary heap allocs.  The current dnsmsg API could then be implemented on top of that, while package net could use it directly.

This is similar to how djbdns's client library is implemented: a low-level abstraction for treating packets as sequences of packed

[2016-06-30 00:26] jtsylve commented on #15072
OK Then i'm confused.  Your last instruction was to try to move the server to GCE under virtual box.  That's the setup I haven't been able to figure out yet.  What's the next steps?

[2016-06-30 00:28] ianlancetaylor commented on #16219
CC @alandonovan

[2016-06-30 00:28] glasser opened #16222 "os/exec: CommandContext documentation doesn't say that context is ignored until Wait"
The new CommandContext function in `os/exec` is documented as:

[code]

I was surprised to learn that the provided context is entirely ignored until Wait is called (perhaps implicitly via Run).  I think that's a reasonable implementation choice (without calling c.Process.Wait, it's hard to know if the process is still around to send a signal to), but it is not supported by the documentation for Co

[2016-06-30 00:30] bradfitz commented on #15072
I'm confused too. I'll talk to Ross and figure out where we're at with the SmartOS builders and get back to you. I've restored your CL in the meantime. It might be the answer, or part of it.

[2016-06-30 00:34] bradfitz commented on #16222
I agree that it'd be nice if CommandContext + cmd.Start worked as expected and the process got killed if needed.

And I agree we should probably check the Done-ness before starting the process.

@ianlancetaylor, you worked on this while I was gone. Thoughts? Maybe if there's a context, then Start immediately starts a goroutine to do `wait`, and the exported Wait just waits for that goroutine?

[2016-06-30 00:45] bradfitz commented on #16168
Did you like my TODO in the linked `writesched.go` file? :)

[code]

[2016-06-30 00:46] cherrymui commented on #16117
@dsnet, which function did you disassemble? Is it `hash4` in `compress/flate`?

@josharian, SSA can get the performance back on ARM:
[code]
This is tip of `dev.ssa` plus my pending CLs, comparing with SSA off vs on. Not sure about the hash function specifically (as I don't know which function it is...)

[2016-06-30 00:46] glasser commented on #16222
Actually, given that the "idiomatic usage" of StdoutPipe/StderrPipe is to not call Wait until after you're doing reading from the pipe, I'd say that the current behavior is just buggy.  Hopefully this isn't too late to adjust before 1.7...

It does look to me like a goroutine calling `c.Process.Wait()` in `Start` and passing the value to `c.Wait()` via would work.

[2016-06-30 00:49] dsnet commented on #16117
Correct, it is hash4. That is awesome seeing the performance being boosted with SSA :)

[2016-06-30 00:58] ianlancetaylor commented on #16222
@bradfitz I didn't do anything in the os/exec package.  What I did was fix up the os package so that there is no race between Process.Signal and Process.Wait on GNU/Linux, and then mikioh extended that to Darwin and FreeBSD.

Maybe I'm missing something but I don't see why the goroutine started by `Start` should call `wait`.  Seems to me it should just be like the one currently started by `Wait`:

[2016-06-30 01:02] bradfitz commented on #16222
@ianlancetaylor, the problem with the new context support in os/exec is that it doesn't do anything if you only use Start instead of Start+Wait or Run. And as @glasser pointed out, when reading the output of a program via a pipe, you only call Start & do blocking reads and only call Wait later. All that time, your context finishing does nothing.

I think Start needs to start a goroutine monitoring

[2016-06-30 01:06] mikioh commented on #16218
I'm not sure whether this proposal covers #8540 and #11160. My concerns about having a new package related to DNS stuff are simply 1) Will the package be able to support any DNS transport including plain UDP, TCP through TLS/DTLS and 2) Will the package be able to interact with the net and crypto/tls packages of standard library seamlessly and without any API breaking changes.

If this proposal co

[2016-06-30 01:20] #16185 closed

[2016-06-30 01:29] mikioh commented on #16126
A variation? https://build.golang.org/log/d35d1b9fe4ba87517e7071ecdee1fdef5e23eba0
[code]

[2016-06-30 02:04] ianlancetaylor commented on #16222
@bradfitz I think you are saying the same thing that I am saying.

[2016-06-30 02:15] reusee commented on #16208
@bradfitz I didn't run the program with race detector, I will give it a try.

[2016-06-30 02:16] iamnande commented on #4919
Hi there,

I made CL 24580, which I believe is a redo of a the fix in a previous change system. If any further work is necessary I'm willing to make an effort to fulfill. My first CL for any go project, feel free to tell me if anything is amiss.

[2016-06-30 02:21] ianlancetaylor commented on #16222
https://golang.org/cl/24650

[2016-06-30 02:33] agl commented on #15407
I suspect the certificate is invalid:

https://tools.ietf.org/html/rfc5280#section-4.1.2.5:

"UTCTime values MUST be expressed in Greenwich Mean Time (Zulu) and MUST include seconds (i.e., times are YYMMDDHHMMSSZ)"

[2016-06-30 02:40] iangudger commented on #16218
@mdempsky: I am open to implementing that.

@mikioh: I was only proposing DNS packet packing and unpacking for now. The code in question is mostly in [net/dnsmsg.go](https://github.com/golang/go/blob/master/src/net/dnsmsg.go) and only depends on the net package for stringifying IP addresses. I think it would probably be worth duplicating that small amount of code to allow this new package to stand

[2016-06-30 02:47] cherrymui commented on #16117
For `hash4`, somehow I see a different disassembly than what you saw:
On ARM32, with SSA off:
[code]
With SSA on:
[code]
So it is about 50% shorter. Currently it does not do combined unaligned load. It seems CSE helps mostly.

It might be possible to do combined load. Newer ARM support unaligned load. But currently the compiler (both backends) generates same instructions, only the assembler rewrit

[2016-06-30 03:04] mikioh commented on #16218
@iangudge,

Thanks. I think it's fine either the new package just focuses on DNS messages and RRs as a first step, or `dnsmsg` as the package name for clarification.

[2016-06-30 04:50] sapiens-sapide commented on #16136
Hi @mikioh, I have not `hw.vmm.vmx.use_apic_vid` entry.

[2016-06-30 05:01] sapiens-sapide commented on #16136
@ianlancetaylor,
Here is the output error message with GO 1.7beta2 after I ran the g.sh script :
[code]

[2016-06-30 05:03] bradfitz commented on #15407
Thanks, @agl. Closing for now.

[2016-06-30 05:03] #15407 closed

[2016-06-30 09:11] mikioh commented on #16136
@sapiens-sapide,

Thanks, then, can you try with disabling Intel Hyperthreading support? We see 8 CPUs in dmesg, but E5-1620v2 implements only 4 cores. I guess that you probably need to tweak UEFI or BIOS to turn off Intel HT.

[2016-06-30 09:42] cmingxu opened #16223 "Can not customize http request header "Host" when sending http request."
[code]

Code above doesn't change http host header

[2016-06-30 10:01] damye commented on #9976
<strong>solution</strong> for @yaojingguo's problem:
Run ```go get github.com/golang/tour/gotour``` gives the following error:
[code]
you need remove the commit by @adg , [all: add import comments](https://github.com/golang/tour/commit/27c87204043c53a016e3b3282daebaf756e484aa).
as the import comment is work for ```go get golang.org/x/tour/gotour```, not for ```go get github.com/golang/tour/gotour`

[2016-06-30 10:04] Farioko commented on #16194
I'm happy you found the possible solution, do you know how long it will take before this gets fixed?

[2016-06-30 10:05] ericmdantas commented on #16223
Try using `request.Host = "foobar"`.

Relevant: https://github.com/golang/go/issues/7682.
Playground: https://play.golang.org/p/DEFLb7_WRJ.

[2016-06-30 10:09] hanwen commented on #16194
I'd need to set aside some time, which I am short of.  I may be able to get to it next week.

If you like challenges, you could try to setup a server inside the unittests that mimicks this failure mode. That would make it easier to see how to fix it.

(I think we should return a special error that signals that the exit code wasn't returned).

[2016-06-30 10:12] odeke-em commented on #16223
@cmingxu building off your snippet to produce a runnable example, one can definitely change the header at least on Go1.6.2 and on tip. Please see https://play.golang.org/p/m2j_uLvVaX
[code]
If that errors out then that's a regression, I've tested it on tip
[code]
and also on play.golang.org which is currently running Go1.6.2 without any failures.

[2016-06-30 10:14] Farioko commented on #16194
You can actually download the real OS and run it in VMWare/KVM.
If you register an (free) account on clavister.com, then you can download the image of cOS Core.
It will go into lockdown mode after 2 hours, but then you can simply reboot it.

[2016-06-30 10:56] gregory-m commented on #16220
https://golang.org/cl/24660

[2016-06-30 11:20] hanwen commented on #16194
I mean: we'll need a unittest written in Go that demonstrates the problematic behavior before we attempt a fix. The debug log is enough information to write such a test.

[2016-06-30 11:41] sillyousu opened #16224 "syscall: TestGroupCleanup failed"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
e0c8af090ea1ccc32d06ae75b653446d2a9d6f87

2. What operating system and processor architecture are you using (`go env`)?
[code]

3. What did you do?
If possible, provide a recipe for reproducing the error.
build go as root
`GOROOT_BOOTSTRAP=/usr/local/go/ ./all.bash`
( all test p

[2016-06-30 12:34] kennygrant commented on #12745
@bradfitz yes sure, I'll put in a separate CL logging the errors as well.

[2016-06-30 12:56] cherrymui commented on #16214
Mailed http://golang.org/cl/24641. Not really sure about it though.

[2016-06-30 13:12] losjr opened #16225 "proposal: add functionality to remove repetitive if err != nil return"
Great language but kind of tired of writing:

[code]

Proposing something similar to 'defer' except with a condition where you declare the statement after the variable is defined.  Using 'try' in the example but feel free to replace 'try' with your favorite exception handler like 'rescue' et al.  If the condition in the 'try' is true the block executes.  Currently, thinking the block should always

[2016-06-30 14:26] olt commented on #16196
I found the issue. I dug into the PIL code and found out that it they do not apply filters for paletted images. `image/png` chooses the filter with the smallest sum, but apparently the unfiltered results can be compressed much better (at least for paletted images).

Changing [a single line](https://github.com/golang/go/blob/c007ce824d9a4fccb148f9204e04c23ed2984b71/src/image/png/writer.go#L424) fro

[2016-06-30 14:44] olt commented on #16196
I found the following comment in [the PNG book](http://www.libpng.org/pub/png/book/chapter09.html)

[2016-06-30 14:59] hyangah commented on #16211
that's what i am thinking as well but according to what's in cmd/gomobile/release.go,
building open-al requires 'cmake'. I don't know how easy to set it up.

[2016-06-30 15:17] ianlancetaylor commented on #16224
What distro are you using?  What version?

[2016-06-30 15:18] bradfitz commented on #16196
@olt, nice find.

[2016-06-30 15:22] bradfitz commented on #16223
This is documented on Request.Host: https://golang.org/pkg/net/http/#Request

[2016-06-30 15:22] #16223 closed

[2016-06-30 15:25] gregory-m commented on #16049
I can constantly reproduce it on my Mac laptop (OS X 10.11.5). Using [stress command](https://godoc.org/golang.org/x/tools/cmd/stress)
[code]

But I can't produce any valuable stack trace.
If running with `runtime.StartTrace()` the test pass forever.

Any ideas how to get any valuable info?

[2016-06-30 15:27] ianlancetaylor commented on #16225
This and similar ideas have been discussed many times in the past.  Here is a recent discussion: https://groups.google.com/d/msg/golang-nuts/UwH5CreZPe4/xxI8gFsVBAAJ .

Make sure to read https://blog.golang.org/errors-are-values .

[2016-06-30 15:46] aclements opened #16226 "cmd/asm: noise and bad assembly for constants on arm64"
**What version of Go are you using (`go version`)?**

go version go1.6.2 linux/amd64 (also happens at tip, 92ce6c20)

**What operating system and processor architecture are you using (`go env`)?**

[code]

**What did you do?**

[code]

**What did you expect to see?**

I expected it to assembly silently and produce four ORR instructions using shifted immediates (maybe the first one would need a con

[2016-06-30 15:49] #16224 closed

[2016-06-30 16:01] quentinmit commented on #15050
I'm going to close this bug for now; please comment if there are still problems with Qemu HEAD. Thanks!

[2016-06-30 16:01] #15050 closed

[2016-06-30 16:26] kardianos commented on #16220
I'm against this change. If you need to setup a context handler you can always have the default mux pass the request a global handler, setup the context, then pass it on to the actual mux. This also let's you specify a cancel context as well.

How the mentioned CL and example are used, it would just setup the context to be a bag of values. And the only values you could add to it would be static va

[2016-06-30 16:31] quentinmit commented on #11811
"text" is now failing due to a2a4db7375204c22898559d3b96a748c6df96294 (upgrading tip to Unicode 9)

It looks like there's already golang.org/cl/24540 to fix it. @mpvl is there anything blocking submission of that CL?

[2016-06-30 16:55] gregory-m commented on #16220
Hello thank you for the response.

The problem with global handler starts if you need to initialize something only once like session store or db (I know its debatable if you want to put your db into context). Before context was moved to stdlib many people including myself was using net/context to eliminate global variables and package.Init() hell.

If we use global handler we still need global var

[2016-06-30 17:11] bryanvpham commented on #16215
if I modify the standard libarry, what command should I use to make Go rebuild the net package after I implement the fix?

[2016-06-30 17:11] kardianos commented on #16220
@gregory-m Please consider the following:
[code]

You can also use a type that implements the ServeHTTP method and has a db pool as a field. Then you can setup the context from that as well.

[2016-06-30 17:13] mdempsky commented on #16215
`go install net`

[2016-06-30 17:29] josharian opened #16227 "cmd/vet: copylocks false positives"
Examples from the standard library that I believe were introduced between Go 1.6 and Go 1.7.

[code]

`cancelCtx` is a struct type containing a sync.Mutex. But all of these are just fine--in newCancelCtx (line 236), the sync.Mutex is (implicitly) being set to its zero value, which is fine. And since it is the zero value, and these are used as initializations of new values (lines 230, 375), they ar

[2016-06-30 17:31] josharian opened #16228 "net/http, net/http/httptest: locks being copied"
From cmd/vet:

[code]

These seem like legitimate complaints.

It seems like tls.Config could use a Copy method, but probably not for Go 1.7.

cc @bradfitz @ianlancetaylor

[2016-06-30 17:33] ianlancetaylor commented on #16136
Thanks for running it on tip.  This version of the error just looks like memory corruption.

If there is a problem in the Go distribution, I think it must be in the fork support on FreeBSD.  @sapiens-sapide The original report says you are running FreeBSD 10.0-RELEASE-p9.  @mikioh Which exact FreeBSD version are you trying?

Has anybody been able to reproduce this on a second machine?  Could there

[2016-06-30 17:33] josharian opened #16229 "sync: delete TestCondCopy?"
It appears to be testing copying a lock, which people shouldn't do.

[code]

Vet doesn't like it:

Objections to it being deleted for 1.8?

cc @dvyukov

Part of dealing with #11041.

[2016-06-30 17:36] josharian opened #16230 "all: vet context failures"
The cmd/vet context check and the context package/methods were all added in 1.7. There are numerous complaints from vet about the stdlib. For most of them, we should probably either fix the stdlib or the vet check before release. This issue is to investigate them.

[code]

cc @bradfitz @alandonovan

[2016-06-30 17:39] gregory-m commented on #16220
@kardianos clever and little bit hacky.

I don't know what core team think, but I'am good with close this issue, and see what will happen after 1.7 release and context adoption.

[2016-06-30 17:40] josharian commented on #11041
I am going to fix this for Go 1.8. Every time I check there are legitimate failures.

[2016-06-30 17:45] dvyukov commented on #16229
The mutex is not copied here. Cond contains a pointer to the mutex. But Cond itself should not be copied.

The test tests a useful property. Not all use vet. Cond detects the misuse reliably at runtime. Can we move it to _novet.go or something?

[2016-06-30 17:48] robpike commented on #16227
I agree that false positives are a bane, and lean towards rolling back the new checks until we can reduce their frequency.

[2016-06-30 17:50] bradfitz commented on #16230
Only the first looks real. We should fix `ExampleWithTimeout` to not be a bad example of what not to do.

The http ones are bogus.

[2016-06-30 17:50] josharian commented on #16229
Ok, thanks. I'll figure out a way to add an exception for it as part of #11041 -- it's not going to be the only exception.

[2016-06-30 17:50] #16229 closed

[2016-06-30 17:58] robpike commented on #16226
I observe that in cmd/internal/obj/arm64/asm7.go the line that prints that message is preceded just above by the comment // TODO(aram): remove.

[2016-06-30 18:03] odeke-em commented on #16228
Related to https://github.com/golang/go/issues/15177?

[2016-06-30 18:07] Shriken opened #16231 "proposal: $ for array length in index"
Negative indexing is a common request from / point of contention for new Go programmers, and has been for nearly seven years.
([2015](#11245), [2013](http://grokbase.com/t/gg/golang-nuts/13c5q521n0/go-nuts-after-strings-split-get-the-last-element), [2011](https://groups.google.com/forum/#!topic/golang-nuts/XZ6mz1ySwWQ), [2009](https://groups.google.com/forum/#!topic/golang-nuts/yn9Q6HhgWi0))
The m

[2016-06-30 18:07] adonovan commented on #16230
The HTTP ones are due to a bug in the vet check: a "naked" return should count as a reference to the named result variables.

[2016-06-30 18:09] aclements commented on #16226
Sure, though the message itself is arguably legitimate. We shouldn't even be in that code for the smaller constants.

[2016-06-30 18:10] josharian commented on #16228
Yes, probably. It's not obvious to me from the immediate context why these are ok, though.

If they are ok, they're yet more (new?) false positives...in which case, #16227 is related.

cc @valyala

[2016-06-30 18:22] ianlancetaylor commented on #16231
I would be loath to add a new character to the language just to avoid writing `len(arr)`.  Go is not Perl.

[2016-06-30 18:23] ianlancetaylor commented on #16230
@adonovan do you think you can fix the vet check by the end of the week?

[2016-06-30 18:26] adonovan commented on #16230
Yes.

[2016-06-30 18:40] griesemer commented on #16231
I'm reasonably sure that we discussed this when designing slices, and decided against it, for a variety of reasons:

- $ is yet another thing to learn about the language
- it's not pretty (but I admit that's subjective)
- len(s) is very efficiently translated by the compiler (just a load from s)
- if len(s) appears frequently in an expression (which is not uncommon), it's trivial to add a local va

[2016-06-30 19:06] tombergan commented on #16168
I did see that :)

Did you intend for those to actually be queues? AFAICT, the only way for a per-stream queue to have more than one queued frame is if you write a response headers frame that doesn't have any headers. This seems pretty rare. In all other cases, ResponseWriter.Write waits for the current frame to be serialized onto the wire before writing the next frame.

[2016-06-30 19:10] bradfitz commented on #16168
When an http.Handler exits without having called Flush, aren't there a HEADERS & 0+ DATA frames in the queue?

I admit I wrote the write scheduler before I used it, but I thought the queues were used.

[2016-06-30 20:01] alandonovan commented on #16230
(Not fixed yet --- https://github.com/golang/go/issues/16230 still pending.)

[2016-06-30 20:04] dpiddy commented on #15699
@agl this is something I'd really like to help implement or at least see for 1.8. Any input on this and/or #15707?

I'm roughly thinking of something like `tls.Config.GetClientConfig(*tls.ClientHelloInfo) (*tls.Config, error)` with a more info on tls.ClientHelloInfo, such ALPN protos. Select items on the returned config would be used for the connection. This hook would be called [here](https://git

[2016-06-30 20:22] bryanvpham commented on #16215
thank you, I manually fixed it.

[2016-06-30 20:22] #16215 closed

[2016-06-30 20:32] mdempsky commented on #16215
Glad to hear that! :)

[2016-06-30 20:48] marksalpeter commented on #13700
@minux I know its been a while since I asked this question, but you seem to be more knowledgeable about the compile time problems. To the question @ianlancetaylor originally proposed:

    if package A imports packages B and C, and B imports D#v1 and C imports D#v2

the source tree would look like this:
[code]

First D#v2 and D#v1 would be compiled, then they would be linked to C and B, respective

[2016-06-30 21:13] beoran commented on #16231
If you have an international keyboard, you can almost have what you want ;)

https://play.golang.org/p/1gLKkNVcS_

[2016-06-30 21:41] beoran commented on #16225
In languages such as snobol, icon and unicon, you could return from a function in a special way to indicate error or failure, and any such failure return would be automatically propagated recursively op the call stack unless the failure value is received as an additional return value. This would involve a new keyword, say "failure" for such a fail return.

But I realise that this is probably too "

[2016-06-30 21:45] ianlancetaylor commented on #13700
What you are proposing is that `D#v1` and `D#v2` will be linked together into the same program.  For some kinds of packages that works fine.  For packages that expect any sort of exclusive control over a resource, it does not.  For example, the standard library `expvar` package registers an HTTP handler; therefore, it would not work to link together two different versions of the `expvar` package.

[2016-06-30 21:50] beoran commented on #16209
Interesting, so is the implementation wrong, or the specification? The current spec seems very sensible, so why was it not implemented like that?

[2016-06-30 21:50] Shriken commented on #16231
The purpose of adding the alias is less to simplify the slice range (although I still contend that it's easier to read), and more to make one-line operations possible.
For this purpose `n := len(s)` is actually of negative value, as it turns what should take one line and does take two into a full three lines to do something as simple as "take the last token in this space-separated string".

[2016-06-30 22:00] ianlancetaylor commented on #16231
@Shriken Being able to write the shortest possible code is not really a goal of Go.  While in general shorter is better than longer, clarity and simplicity are more important.

[2016-06-30 22:03] beoran commented on #16051
Basically, the main problem is that calling C functions from Go is slow, and has only become slower. This unfortunately makes Go less suitable for graphical applications and games that have to call into a C OpenGL or Vulkan API many times per second. I don't have any great ideas on how to solve this problem, but I insist that it is something that needs to be improved.

[2016-06-30 22:06] bradfitz commented on #16051
@aclements mentioned him (or somebody) making defers allocated on the stack in Go 1.8. That is #14939. That will help with this bug too, since each cgo call does 2+ defers, IIRC.

[2016-06-30 22:20] losjr commented on #16225
@ianlancetaylor , Thanks for the article and the group link.  The blog has a good point about how to use the language to minimize my stated annoyance.

[2016-06-30 22:32] eloff commented on #16051
There seems to be two things that can be done here.

1) Speed up existing CGO calls
2) Add an additional way of calling a well-behaved restricted subset of C functions

This issue should be about the second solution only.

There are definitely things that can be done for (1). That will shrink the set of programs which need solution (2). However (1) will always leave performance on the floor becaus

[2016-06-30 22:42] beoran commented on #14162
Fundamentally, the whole point of a garbage collector is that the programmer doesn't have to worry about allocating nor freeing memory. The problem is that a garbage collector can't do anything sensible when it runs out of memory except trying a sweep. If that fails, there's no way to decide what to do since the allocation that failed could have come from anywere.

The only way to avoid this is to

[2016-06-30 22:45] ianlancetaylor commented on #16051
I don't think one can base any arguments on the race detector, which is a special case.  It calls into the support library for every memory read or write.  That is vastly more calls than even the most active cgo using program can possibly do.

[2016-06-30 22:51] puellanivis commented on #16209
Because this was an esoteric element of the spec that no one has really thought of until now?

I mean, who would put a giant interface{ Method1(); Method2() } on their function signatures?

I mean, even `gofmt` doesn't like it: it formats it as:

func (c *C) F(x interface {
	String() string
}) {
	fmt.Println(x.String())
}

OUCH! that's ugly! >_<

[2016-06-30 22:55] davecheney commented on #14162
Fundamentally, the role of a garbage collector is to present to the programmer the illusion of an infinite free store.

If that illusion is broken, is seems reasonable to abort the program.

[2016-06-30 22:57] puellanivis commented on #16209
Oh yeah, and by meta-argument, the specification is never wrong, it is the definition.

And anything failing to conform to the specification is then out-of-spec.

Honestly, I'm not even sure how I would fix the spec to conform to this implementation beyond a really long and verbose exception to checking interface types as identical…

[2016-06-30 22:58] dsnet opened #16232 "text"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

2. What operating system and processor architecture are you using (`go env`)?

3. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

4. What did you expect to see?

5. What did you s

[2016-06-30 22:58] #16232 closed

[2016-06-30 22:59] Triangle345 opened #16233 "gomobile init fails rename on windows"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?
1.6.1

2. What operating system and processor architecture are you using (`go env`)?
WIndows 10 64 bit

After grabbing gomobile as per wiki, I ran gomobile init.  Seemed to freeze but noticed that after I pressed enter, i recved this message:

PS C:\cygwin64\home\peterpan\Projec

[2016-06-30 23:04] dsnet opened #16234 "unicode, x/text: unit tests fail on Go1.7"
A recent change a2a4db7375204c22898559d3b96a748c6df96294 causes the following tests to fail:
* `golang.org/x/text/cases`
* `golang.org/x/text/secure/precis`

This is using golang/txt@4440cd4f4c2ea31e1872e00de675a86d0c19006c.

/cc @mpvl

[2016-06-30 23:06] beoran commented on #14162
Agreed there. That is exactly why I would  propose non-gc memory management
as a workaround for situations where this illusion is undesirable or even
dangerous.
On 1 Jul 2016 12:57 am, "Dave Cheney" <notifications@github.com> wrote:

[2016-06-30 23:12] tombergan commented on #16168
IIUC, frames don't get added to the queue until writeFrameFromHandler is called. When this happens for a data frame, the handler always waits:
https://github.com/golang/net/blob/master/http2/server.go#L773

When this happens for a header frame, the handler waits if the headers are not empty:
https://github.com/golang/net/blob/master/http2/server.go#L1718

There's no wait for 100-continue frames, b

[2016-06-30 23:16] jzila commented on #14213
FYI this problem can be solved by setting the permissions on your `GOROOT` package directory.
`ls $(go env GOROOT)/pkg && sudo chown -R $USER $(go env GOROOT)/pkg`

[2016-06-30 23:17] bradfitz commented on #16168
Is it a problem that it's a queue? Seems like a distraction from the main issue. The queues are still being used, even if not much (currently?).

[2016-06-30 23:17] tombergan commented on #16168
It's not a problem. I was just wondering if you had a larger plan for buffering data frames that was never implemented?

[2016-06-30 23:18] davecheney commented on #14213
Please don't do that, use go build when cross compiling instead.

On Fri, 1 Jul 2016, 09:16 John Zila <notifications@github.com> wrote:

[2016-06-30 23:21] bradfitz commented on #16168
Yeah, I think there's more to be done there. The http.Handler goroutine could track its flow control state more and return from `ResponseWriter.Write` more quickly. It's pretty conservative at the moment. Very little work has gone into performance. I think I'll be looking at that during Go 1.8.

[2016-06-30 23:22] jzila commented on #14213
`go build` doesn't cache dependencies, so compilation becomes incredibly slow every time. From my research, you can set the target installation directory, but you can't set the target package directory, so the only way to get caching for packages is to become more permissive. Or run from a `$GOROOT` where you have control.

[2016-06-30 23:23] mwhudson commented on #14213
Or -pkgdir

On 1 July 2016 at 11:18, Dave Cheney <notifications@github.com> wrote:

[2016-06-30 23:28] tombergan commented on #16168
Possibly relevant for the following reason: I have a prototype running where the scheduler respects priorities. However, there's a race. Suppose we have a priority tree A -> B -> C. A should be served first. But A's frames won't be scheduled until A makes a Write call. The handlers all run concurrently, so it's possible that B or C will happen to make a Write call first, in which case their frames

[2016-06-30 23:30] davecheney commented on #14213
Or use gb

On Fri, 1 Jul 2016, 09:23 Michael Hudson-Doyle <notifications@github.com>
wrote:

[2016-06-30 23:32] bradfitz commented on #16168
I think that's fine. I don't think the server should be sending nothing while waiting for something better when it already has something to send.

[2016-06-30 23:36] ianlancetaylor commented on #16035
Actually, methods are fine, it's failing because of the `...uintptr`.

[2016-06-30 23:38] tombergan commented on #16168
The point was that sometimes you get better performance by waiting, especially when you only need to wait a few milliseconds at most. (How often does this happen? I don't know yet. But it does happen sometimes. In any case, we should do the simple thing first.)

[2016-06-30 23:56] bradfitz commented on #16168
Better? You never said by which metric. Certainly not bandwidth. I could believe you increased the time-to-first-render for Chrome or something, but you almost certainly delayed the total load time.

I'll entertain the idea of sleeping and more complexity once we do better than random.

[2016-07-01 00:01] tombergan commented on #16168
Sorry, I meant better for SpeedIndex in the browser. (And if you're only waiting a few ms, it's unlikely you'll do better on bandwidth, unless your connection is really fast.)

[2016-07-01 00:15] eloff commented on #16051
I'll grant that, but I'm still not content to leave that much performance on the floor. I'm going to try the race detector C calling approach and see how much of a difference it makes in my use case. I'll report back in a couple weeks with some numbers hopefully.

A faster CGO mechanism allows calling C functions that do less work. e.g. if the C function takes 200ns and we speed up the CGO mechani

[2016-07-01 00:22] davecheney commented on #16051
A C function that took 30ns is, optimistically, at most 50 machine
instructions, assuming the code cache is hot and the code in question
performs only memory accesses that are already in the L1 data cache.

What work can realistically be done in that few number of cycles that
cannot be rewritten in Go?

On Fri, 1 Jul 2016, 10:15 Daniel Eloff <notifications@github.com> wrote:

[2016-07-01 00:30] aclements commented on #14939
Given the current cost of defers, I think it's acceptable to have two defer allocation mechanisms if that addresses the problem. And I actually don't think the runtime side of this is very complicated.

This is on the list for 1.8. I'm planning to either do it myself or get someone else to do it. :)

If it turns out we need to simplify things, we could limit this to defers with at most one (possib

[2016-07-01 00:52] ianlancetaylor commented on #16035
@alexbrainman When you have time, could you try the latest version of https://golang.org/cl/24551 ?  Thanks.

[2016-07-01 01:09] devoid commented on #14213
@mwhudson Thanks for the pointer to `-pkgdir <target>`. I did have one, slightly obvious, pitfall trying to use that flag: _don't set the target directory to anything under your GOPATH._ This will drive the toolchain insane. :-)

This works perfectly---after the first cross-compile only changes are rebuilt!

[2016-07-01 01:13] #16214 closed

[2016-07-01 01:22] JeffMangan commented on #16233
I am having a similar problem. I am using windows 10 pro 64x and go version go1.5.3 windows/amd64

I ran this and this ran ok: go get golang.org/x/mobile/cmd/gomobile

but always this when trying to run gomobile init

C:\GoPath>gomobile init
gomobile: rename C:\GoPath\pkg\gomobile\work-200728631\android-ndk-r12\toolchains\llvm\prebuilt\windows-x86_64\bin\clang C:\GoPath\pkg\gomobile\android-ndk-r1

[2016-07-01 01:25] JeffMangan commented on #16233
C:\GoPath>
C:\GoPath>gomobile build -target=android golang.org/x/mobile/example/basic
gomobile: toolchain partially installed, run `gomobile init`

C:\GoPath>gomobile init
gomobile: rename C:\GoPath\pkg\gomobile\work-250709683\android-ndk-r12\toolchains\llvm\prebuilt\windows-x86_64\bin\clang C:\GoPath\pkg\gomobile\android-ndk-r12\llvm\bin\clang: The system cannot find the file specified.

C:\GoPat

[2016-07-01 01:36] snadrus opened #16235 "database/sql/driver: support slices?"
Please answer these questions before submitting your issue. Thanks!
1. What version of Go are you using (`go version`)?
   1.7
2. What operating system and processor architecture are you using (`go env`)?
   All
3. What did you do?

   db := ...connect to mysql db
   cursor, err := db.Query("SELECT \* FROM user WHERE firstName IN (?)",
       []string{"Bob", "Matt", "Sam"})

   if err != nil {

[2016-07-01 01:51] mikioh commented on #16136
From 10.0 through 10.3 VM on several x64/amd64 processors w/ 1GiB memory. I always disable any processor's virtualization technology such as VT-x/hyperthreading to avoid facing a few critical kernel bugs fixed in the latest 10.3.

[2016-07-01 01:58] sillyousu commented on #16224
6c13649 fix this.

centos 7.x, selinux-enabled, maybe with custom patch.
[code]

[code]

in `coreutils-8.0/src/id.c`
[code]

[2016-07-01 02:01] ianlancetaylor commented on #14939
Separate from stack allocation, we should also consider special-casing defers with no arguments, as that is a fairly common case (about half of the defer calls in the standard library).  Because the no-argument case doesn't have to worry about the arguments on the stack, it can use a simpler version of deferproc, one that doesn't need to call systemstack.

[2016-07-01 02:08] ianlancetaylor commented on #16235
CC @bradfitz

[2016-07-01 02:18] josharian commented on #16226
@4ad

[2016-07-01 02:20] alexbrainman commented on #16035
Still broken:
[code]
I am happy to try things, if you tell me what. Thank you.

Alex

[2016-07-01 02:24] mwhudson commented on #16226
I think this is down to arm64 bitwise immediates being encoded in an unusual scheme that Go's backend does not attempt to handle at all, which is #10111.  I have a start of some code to address this in https://github.com/mwhudson/go/tree/bimm but I'm not super excited to finish it...

[2016-07-01 03:20] ianlancetaylor commented on #16035
@alexbrainman OK, that time I actually did break imports.  Please try the latest version of https://golang.org/cl/24551.  Thanks.

[2016-07-01 03:26] richardlehane opened #16236 "x/image/riff: (*Reader) Next() drops io.ReadFull error"
I'm getting panics and memory issues using golang.org/x/image/riff package with malformed riff files.

E.g. https://play.golang.org/p/cCN1VQ4Dz2

These seem to be due to an IO error being dropped in the (*Reader) Next() method.

From line 132 in https://github.com/golang/image/blob/master/riff/riff.go:
[code]

The err var in the first line of that snippet is a named return value but it is never us

[2016-07-01 03:40] alexbrainman commented on #16035
It works for me now. Thank you.

Can we apply your strategy here https://github.com/golang/sys/blob/master/windows/dll_windows.go#L124 too?

Alex

[2016-07-01 03:50] ianlancetaylor commented on #16035
Thanks for testing it.  Yes, if this gets approved, we can do it in the golang.org/x/sys repo as well.

Unfortunately it won't work if somebody uses an interface with a `Call(...uintptr)` method.  I don't know how to solve that one.

[2016-07-01 04:15] alexbrainman commented on #16035
I am not overly concerned about solving this. This whole issue is a moving target, as GC changes we will break it again and again. We need to find proper solution to this problem.

Alex

[2016-07-01 04:20] noblehng commented on #16100
I think this can be done with providing a custom `net.Listener` to `(*http.Server).Serve`.

That is embedding a `*net.TCPListener` and overwriting the `Accept` method, which return a custom `net.Conn`. The custom `net.Conn` will embed a `*net.TCPConn` and overwrite the `Write` method.

The overwritten `Write` method could reset the write deadline on every write, or use a atomic counter to reset th

[2016-07-01 04:42] ianlancetaylor commented on #16035
This isn't a GC problem, quite.  The test case in the CL doesn't run the garbage collector, but it does fail without the compiler change.  The problem is that stack growth requires that we precisely identify all pointers on the stack, but when we call a method like `LazyProc.Call` we can put a pointer on the stack that looks like a `uintptr`, and therefore is not modified when the stack grows.  If

[2016-07-01 04:53] pat42smith opened #16237 "bytes+strings: Repeat can appear to succeed with an unreasonably large count"
1. What version of Go are you using (`go version`)?
go version go1.6.2 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/pat/go"
GORACE=""
GOROOT="/usr/lib/go"
GOTOOLDIR="/usr/lib/go/pkg/tool/linux_amd64"
GO15VENDOREXPERIMENT="1"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -

[2016-07-01 06:08] alexbrainman commented on #15899
[code]

I don't know if these numbers are good or not.

Alex

[2016-07-01 06:17] jeffallen opened #16238 "HTTP redirect to the same host does not reuse the connection"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

$ go version
go version devel +dcc42c7 Tue May 24 16:13:44 2016 +0000 darwin/amd64

2. What operating system and processor architecture are you using (`go env`)?

$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/jra"
GO

[2016-07-01 07:55] 4ad commented on #16226
Yes.

There are many different ways you can encode constant loads on arm64. Most (all?) have been implemented, but it was observed that many of them were buggy and the fix was not trivial, so they were disabled, leading to this observed behavior.

[2016-07-01 08:01] bgentry opened #16239 "x/exp/io/spi: support csChange on a per-tx basis in spidev"
I'm interfacing with a Silicon Labs ZigBee chip as a network co-processor using their EZSP protocol over SPI ([that's documented here FYI](http://www.silabs.com/Support%20Documents/TechnicalDocs/AN711.pdf)). It's a bit non-standard in that they expect you to transmit a command frame, then continue reading off the SPI until a response has been received (which can take up to 300ms). During this whol

[2016-07-01 08:19] dgryski commented on #16218
Where does https://github.com/miekg/dns fit in to this?

@miekg @FiloSottile

[2016-07-01 08:56] jeffallen commented on #16238
Sorry, I debugged this further and I now see that the two calls to http.(* Transport)getIdleConn are for different keys, |http|www.golang.org:80 and |http|golang.org:80.

Makes sense, though now I'm wondering why the key is not the IP address.

[2016-07-01 08:56] #16238 closed

[2016-07-01 10:19] dvyukov commented on #15314
I need this as well. When parsing configs any unknown field is either a typo, or an old version, or something equally bad.
[code]
would work for me.

[2016-07-01 12:42] tiago4orion opened #16240 "cmd/doc: Stops walking directories in case of open fails"
1. What version of Go are you using (`go version`)?
go version devel +29f0984 Fri Jul 1 01:12:24 2016 +0000 linux/amd64

2. What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/i4k/projects/go-workspace"
GORACE=""
GOROOT="/home/i4k/projects/personal/go"
GOTOOLDIR="/home/i4k/project

[2016-07-01 13:28] bitdivine commented on #14173
+1 even if in the amusingly named Go 2 :-)

[2016-07-01 14:06] sbinet commented on #15981
AFAICT, `cmd/present` still works when run locally (just writing a presentation right now) but when the presentation is served from `talks.godoc.org` the `Run` button (when clicked) doesn't display what a simple program with `println("hello")` should (it just displays `"Program exited"`.)
_e.g._: http://talks.godoc.org/github.com/sbinet/parisgo/20150417-tuto/slides/parisgo.slide#7

(hum... actuall

[2016-07-01 14:31] miekg commented on #16218
`miekg/dns` was forked from the std lib for this reason and was then extended to support the rest of the DNS specification. EDNS0, DNSSEC, etc. etc. Just exposing the parsing bits from std lib covers a fraction of the spec - but I can see it being useful for some people.

As for incrementally walking a message - there is no support for that in the `miekg/dns` although I'm happy to take patches for

[2016-07-01 14:32] aclements opened #16241 "sync/atomic: operations cause unnecessary escapes"
The atomic Load\* and Store\* operations cause their argument to unnecessarily escape. For example, in the following program, x is heap allocated:

[code]

This is fairly low priority, since it's silly to use atomics on variables unless they're shared, and if the variable is shared it has to be in the heap anyway, but we should fix it since the same code path may be used for both shared and unshar

[2016-07-01 14:38] #16135 closed

[2016-07-01 14:49] aclements commented on #16051
@eloff, there's been some discussion (though no concrete proposals to my knowledge) to add functions for things like popcount and bsr that would be compiled as intrinsics where supported (like math.Sqrt is today). With 1.7 we're trying this out in the runtime, which now has a ctz intrinsic available to it on amd64 SSA. Obviously that doesn't solve the overall problem, but it would chip away at one

[2016-07-01 14:53] mpvl commented on #16234
Should be fixed now. Will check in the upgrade to Unicode 9.0.0 for x/text soon after verifying the reverse issue does not exist.

[2016-07-01 14:54] #16234 closed

[2016-07-01 15:01] bradfitz commented on #16238
Frontend load balancers can mux on the hostname and send you to different backends which can only deal with your first Host from then on.

HTTP/2 tries to permit this more explicitly and has guidance around it which would let us do it (see http://httpwg.org/specs/rfc7540.html#rfc.section.9.1.1) but it remains to be seen how it's implemented by servers in practice.

There's a TODO in the `x/net/htt

[2016-07-01 15:03] bradfitz commented on #16218
@miekg, what's the CLA story for your 78 contributors? I suspect we couldn't vendor it into the standard library even if we wanted to.

[2016-07-01 15:21] dalini commented on #15407
Well sorry being late here - didn't manage it to answer earlier - the cert is a default as in no special settings - openssl created one - so I would expect to have valid timestamps. I've seen the timestamp discussion already but wondered if there are some settings to care of within openssl cnf files and commands to avoid this issue in golang?

as the cert in quest das work properly with other appl

[2016-07-01 15:32] dalini commented on #15407
So the timestamp of the certificate in quest - shown by openssl -text looks like this:

Validity
            Not Before: Aug 14 10:28:47 2015 GMT
            Not After : Aug 13 10:28:47 2017 GMT

asn1parse says:
 145:d=2  hl=2 l=  30 cons: SEQUENCE
  147:d=3  hl=2 l=  13 prim: UTCTIME           :150814102847Z
  162:d=3  hl=2 l=  13 prim: UTCTIME           :170813102847Z

which looks valid to me ac

[2016-07-01 15:51] bradfitz commented on #15407
@dalini, you can email it to bradfitz at golang org

[2016-07-01 15:59] ProtoFly commented on #12153
Has this issue been resolved?

[2016-07-01 16:01] jfrazelle commented on #12153
Not yet

On Friday, July 1, 2016, ProtoFly <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-07-01 16:08] miekg commented on #16218
There is no CLA.

On Fri, Jul 1, 2016 at 11:04 AM, Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-07-01 16:09] thatguystone opened #16242 "encoding/json: existing entries in map are ignored when unmarshaling"
1. What version of Go are you using (`go version`)?
1.6.2

2. What operating system and processor architecture are you using (`go env`)?
Linux 4.6 // amd64

3. What did you do?
https://play.golang.org/p/5EmXhFLhOj

4. What did you expect to see?
According to the docs: "Unmarshal reuses the existing map, keeping existing entries". This sounds like it should attempt to unmarshal into existing values

[2016-07-01 16:10] bradfitz commented on #16242
I imagine we won't be able to do anything more than document this, for compatibility reasons.

[2016-07-01 16:11] bradfitz commented on #16218
So, `miekg/dns` is out of the running.

[2016-07-01 16:39] binary132 commented on #16216
I confirm this is affecting me and other users of my hosted slides.

[2016-07-01 16:52] dgryski commented on #16218
Depends on how hard it is to track down 78 people and get them to sign the CLA.

[2016-07-01 17:06] ProtoFly commented on #12153
My -sort of- fix was to use
`_"golang.org/x/crypto/ripemd160"`

Alas, still unsuccessful, as the code then generates:
  `openpgp: invalid argument: cannot encrypt to public key of type 17`

[2016-07-01 17:07] 220kts commented on #8415
We ran into the same issue.  In function ConvertValue (sql/driver/types.go) could we not implement the same check for nil pointers that is used on standard types (line 238) on types that implement the Valuer interface?

Something like:

`223	if svi, ok := v.(Valuer); ok {

		if rv.Kind() == reflect.Ptr && rv.IsNil {
    			return nil, nil
		}

   		sv, err := svi.Value()
   		if err != nil {

[2016-07-01 17:11] griesemer opened #16243 "cmd/compile: textual and binary importer ignore //go:nointerface pragma"
This bug was introduced by https://go-review.googlesource.com/19966 (parser.go):

In https://go-review.googlesource.com/#/c/19966/3/src/cmd/compile/internal/gc/parser.go, line 2061 on the left still respects nointerface, while the new line 2057 simply sets it to false. As a result, the further translation to the binary format doesn't know about it either.

This is a regression and needs to be fixe

[2016-07-01 17:18] miekg commented on #16218
I'm willing to do that. Allthough I might need some pointers for creating a CLA in the first place and how that process works.

[2016-07-01 17:22] bradfitz commented on #16218
@miekg, Go uses Google's CLA: https://cla.developers.google.com/

You wouldn't be creating a new one.

First thing you'd need to do is enable the google CLA bot for the miegk/dns repo, enforcing CLAs for all new Pull Requests. Then retroactively contact people.

[2016-07-01 17:36] miekg commented on #16218
Ok.

So to make things clear: I add this CLA, contact my contributors and assuming that all works, `miekg/dns` will be put in the standard Go library (eventually)?

[2016-07-01 17:37] griesemer opened #16244 "cmd/compile: simplify "versioning" of binary export data (cleanup)"
The binary exporter uses a couple of ad-hoc flags and a version string to identify details of the encoding. Make this more systematic so it's easy to add additional flags w/o having to mess with the overall format and w/o invalidating installed packages unnecessarily.

[2016-07-01 17:41] bradfitz opened #16245 "build: DragonFly builder is missing"
The DragonFly BSD builder is absent from https://build.golang.org

Did it die?

Does it not yet run on AWS on GCE or some cloud?

/cc @fupjack @mikioh

[2016-07-01 17:47] bradfitz opened #16246 "x/build: ppc64le buildlet stuck dead after GCS failure"
The ppc64 buildlets run via a systemd unit that's:

[code]

But I noticed that 1 of the 5 was always offline.  Looking at the logs:

[code]

Why isn't it a valid gzip?

[code]

Ah.

That's bogus.

[2016-07-01 17:50] bradfitz commented on #16218
No promises. But without CLAs, it definitely will not be considered.

And by "put in the standard library", what we're actually talking about is being used by the standard library, not exporting any new functionality or symbols to users.

[2016-07-01 18:02] benburkert opened #16247 "cmd/trace: low_resolution_timer warning"
Please answer these questions before submitting your issue. Thanks!

1. What version of Go are you using (`go version`)?

`go version go1.7beta2 darwin/amd64`

2. What operating system and processor architecture are you using (`go env`)?

[code]

3. What did you do?

build `./fibtrace` from https://play.golang.org/p/tWpeEL4jse

[code]

Then browse to the "View trace" page (/trace).

4. What did yo

[2016-07-01 18:05] dustin-graham commented on #15657
@dcu any update on your progress with this? I'm trying to do something similar and hitting the same walls.

[2016-07-01 18:16] bradfitz commented on #16218
You don't need it, but Go does. So if you want to contribute to Go, you need it too.

[2016-07-01 18:58] mrphs opened #16248 "Why doesn't golang build on many different archs running debian?"
1. What version of Go are you using (`go version`)?
2:1.6.1-2

2. What operating system and processor architecture are you using (`go env`)?
Debian - multiple archs

From Debian build page (https://buildd.debian.org/status/package.php?p=golang&suite=sid) it seems the maintainer has not included many archs in golang package. This results in packages written in go being broken or not available on an

[2016-07-01 19:06] aclements commented on #14812
I spent much of this week working on this. I still have ideas on my list, but wanted to post an update.

First, I was able to bring up the whole system with a custom runtime and observe the behavior through Grafana and `vegeta report`. I don't think I was able to quite reproduce the problem locally, though. My laptop simply didn't have the resources, so it was swapping and over-saturating the CPU

[2016-07-01 19:06] bradfitz commented on #16248
For questions, see https://golang.org/wiki/Questions

The upcoming Go 1.7 includes some new ports. See https://tip.golang.org/doc/go1.7#ports

[2016-07-01 19:06] #16248 closed

[2016-07-01 19:11] quentinmit opened #16249 "cmd/compile: stack growth within newobject sees junk pointer because of incorrect liveness info"
Go 1.7 calls runtime.newobject before initializing all return parameters; if this happens during a GC, the GC will see garbage data on the stack. @dr2chase can fill in more details here.

[2016-07-01 19:14] ianlancetaylor commented on #16247
CC @dvyukov

[2016-07-01 19:18] eloff commented on #16051
@aclements That sounds very interesting, I'm looking forward to that! You're right, it would eliminate another reason for calling lightweight C functions from Go.

[2016-07-01 19:18] dvyukov commented on #16247
It's not harmful. Just ignore it.
If somebody enjoys Javascript, he can dive into layers and layers of Javascript abstractions in Catapult and fix it.

[2016-07-01 19:20] #16243 closed

[2016-07-01 19:24] ianlancetaylor commented on #16249
CC @randall77 @josharian

[2016-07-01 19:34] beoran commented on #16051
Well, it would be useful, but it's a C world, and certainly for programming
graphically intensive games, I need to call into C Apis very frequently.
All that stack swapping adds up a lot.

I think both approaches are needed, cgo calls need to be made faster in
general, but a way to mark certain C functions as special cases could
equally be useful.

To throw out a wild idea if myself, maybe consecu

[2016-07-01 19:44] bcmills commented on #16051
How is that different from writing a function in C that makes those calls in sequence?

[2016-07-01 19:44] benburkert commented on #16247
ok, thanks @dvyukov.

[2016-07-01 20:01] beoran commented on #16051
The difference is that I would like to do it in go, not C. Sure, I could
write a low level game engine in C and call into that from go. But that
defeats the purpose of using go in the first place.

I tried to write a 2d game engine in go a few years ago, but the cgo
overhead was too much. So I was forced to go back to C, and since all the
logic was in C, there wasn't much reason left to use go for

[2016-07-01 20:02] valyala commented on #16228
Both cases look like buggy, since they overwrite already existing mutex inside `tls.Config` with a new one.

[2016-07-01 20:10] ianlancetaylor commented on #15410
We are currently skipping the test, so retargeting for 1.8.

[2016-07-01 20:19] valyala commented on #16227
The case with `cancelCtx` look bogus, since it returns a struct containing lock by value. It may be easily fixed - see [this CL](https://go-review.googlesource.com/24693).

The case with `types.Struct` is definitely bogus, since it overwrites lock value inside `t` by a new lock value:

[code]

This case remains bogus even if the right hand side value contains newly created zero lock.

[2016-07-01 20:24] mdempsky opened #16250 "rsc.io/tmp/fieldtrack: update with new tests"
@ianlancetaylor internally committed a new regress test to fieldtrack_test for #16243.  rsc.io/tmp/fieldtrack should be updated with this test.

(Not a Go project issue per se, but this seems like the safest place to make sure it's not forgotten about by time @rsc returns from leave.)

[2016-07-01 20:24] ianlancetaylor commented on #16227
The `cancelCtx` code is safe, though.

    func newCancelCtx(parent Context) cancelCtx {
    	return cancelCtx{
    		Context: parent,
    		done:    make(chan struct{}),
    	}
    }

This always copies the zero value, which is always OK.  You may not like the style, but it's not wrong.  And your fix changes a struct field from `cancelCtx` to `*cancelCtx`, which requires an additional memory allo

[2016-07-01 20:26] josharian commented on #16227
I think the `types.Struct` might be ok too. The code wants to abandon the old value of t, complete with the old lock contained in t, and replace it with a totally new one, which has its lock set to the zero value. What am I missing?

[2016-07-01 20:31] ianlancetaylor commented on #16227
Note that of the three warnings from `go vet context`, one has been issued ever since 1.4:

    context.go:236: newCancelCtx returns Lock by value: context.cancelCtx contains sync.Mutex

The other two are new on tip.

[2016-07-01 20:36] valyala commented on #16227
@josharian , the old lock may be still in use. Probably other cases are possible. cc'ing @dvyukov , who may know more about such cases.

[2016-07-01 20:40] josharian commented on #16227
@valyala there will always be stuff that vet doesn't catch. But false positives are worse than false negatives: They cause annoyance, they can cause people to write worse code to silence the tool, and worst of all, they can cause people to stop using the tool altogether. Unless the false positive rate is extremely low for a check, it's better for the check not to go in. I'd suggest that allowing a

[2016-07-01 20:42] dr2chase commented on #16249
And we have a reproducer: https://play.golang.org/p/RiYHHWryIj

For a less-commented version of same test:
[code]
That last line is wrong-wrong-wrong, because the result of newobject is assigned to &err -- i.e., it is live before it is initialized.

[2016-07-01 20:43] ianlancetaylor commented on #16227
@josharian cmd/vet does already allow an assignment where the RHS is a struct literal.  The warning in go/internal/gcimporter is a different case: an assignment where the RHS is an indirection of a function call.

[2016-07-01 20:44] valyala commented on #16227
`go vet` already handles this case :) The problem is that the cases above don't contain RHS struct literal - it is hidden behind a function

[2016-07-01 20:44] dr2chase commented on #16249
CC @dsnet

[2016-07-01 20:46] valyala commented on #16227
There is another easy way to fix the warning without losing the effectiveness - see [the CL](https://go-review.googlesource.com/24694).

[2016-07-01 20:47] ianlancetaylor commented on #16227
@valyala I agree that that works, but I also agree with @josharian 's point: false positives from a tool like vet must be as low as possible.

[2016-07-01 20:50] josharian commented on #16227
I see. I've been in the compiler too long--in my brain, that was getting inlined. If this is common enough, we could have vet do a bit of (semantic) inlining. But that's definitely way out of scope for 1.7.

[2016-07-01 20:52] dr2chase commented on #16249
Note this is believed to be a result of https://go-review.googlesource.com/c/24213/ (according to @dsnet)

[2016-07-01 20:54] ianlancetaylor commented on #16227
I changed cmd/vet to avoid these cases in https://golang.org/cl/24711 .

Now we need to decide which approach to take.

[2016-07-01 21:23] quentinmit commented on #16234
See also #11811

[2016-07-01 21:23] ianlancetaylor commented on #16249
The description of https://golang.org/cl/24213 says it does pretty much exactly what you describe as a symptom.

[2016-07-01 21:32] ianlancetaylor commented on #16249
@dr2chase Pretty sure this is the fix.  What do you think?

    --- a/src/cmd/compile/internal/gc/plive.go
    +++ b/src/cmd/compile/internal/gc/plive.go
    @@ -1181,6 +1181,7 @@ func livenessepilogue(lv *Liveness) {
            if hasdefer {
                    for _, n := range lv.vars {
                            if n.IsOutputParamHeapAddr() {
    +                               n.Name.Needze

[2016-07-01 22:32] dsnet commented on #16249
@ianlancetaylor, I cherry picked your change and used it to build and run a test that was failing on this issue. After 1000 runs, they all passed. For reference, it would fail on 734/1000 of them without this change.

[2016-07-01 23:24] griesemer commented on #16209
@puellanivis Regarding your example https://play.golang.org/p/YlrMrkvY60 : `var a A = c` doesn't work even by the spec. The issue is exactly the issue this proposal is trying to address: The value of c is of a type that must implement A. For that to happen, the type of c which is *C, must have all the methods of A, with _identical_ signatures. It does have F, but the parameter types of F are _not

[2016-07-02 00:41] #16249 closed

[2016-07-02 00:46] lgg opened #16251 "image/color: are the coefficients for grayModel correct?"
https://github.com/golang/go/blob/master/src/image/color/color.go#L249

For now there are coefficients for NTSC, not sRGB.

See sRGB table: http://www.brucelindbloom.com/index.html?WorkingSpaceInfo.html
Or point 9 here: http://www.poynton.com/notes/colour_and_gamma/ColorFAQ.html

[2016-07-02 01:29] fupjack commented on #16245
No DragonFly on AWS/GCE.  My builder's hardware appears to have up and died - I am getting power lights on the main board but not much else.  I'll see what I can cobble together in the next 24 hours.

[2016-07-02 03:22] puellanivis commented on #16209
AAAAAAAnd… :( you're absolutely right…

“… A named and an unnamed type are always different. …”

Ugh… so much annoying pedantry to sift through…

[2016-07-02 04:06] puellanivis commented on #16209
For the most part, I don't see any effect on reflection. You already cannot access the concrete value “inside” the interface. So, you're just left with exported methods, which is currently already identical.

I mean, in a real sense, an interface is semantically defined as the set of methods that must be implemented for something to match that interface. So, two interfaces declaring the exact same

[2016-07-02 07:51] sillyousu commented on #16242
dup of #12972

[2016-07-02 16:44] bradfitz commented on #16242
Somebody left a comment saying that this was a dup of #12972, but I don't see the comment here. Deleted on purpose?

[2016-07-02 18:09] cznic opened #16252 "os/user: listgroups_unix.go: missing build directive line"
tip @ 519b469795287dc81ab3b994f8809f61a0c802da

AFAICT, there is a line missing:
[code]

The missing directive causes load errors when the `cgo` build tag is not defined, for example:

[code]

I believe `getgrouplist_darwin.go` and `getgrouplist_unix.go` have the same problem.

[2016-07-02 20:46] mikioh commented on #16252
@cznic,

I guess that it happens when `CGO_ENABLED=0` and using `go build --tags cgo`, not only on os/user package but net package, right?

[2016-07-02 21:51] cznic commented on #16252
It's triggered by a 3rd party package loader (work in progress), which does not support CGO, so the `cgo` tag is undefined.

Do you need a exact reproduction case/steps? I can prepare that, it's just it involves unfinished/unstable stuff.

OTOH, `CGO_ENABLED= 0 ./all.bash` should do the same, in theory, and I did not try that.

[2016-07-03 00:41] starius opened #16253 "cmd/{dist,go}: get path to pkg-config from PKG_CONFIG env. var."
* What version of Go are you using (`go version`)?

[code]

  * What operating system and processor architecture are you using (`go env`)?

[code]

  * What did you do?

I used Go together with [MXE](http://mxe.cc/) cross-compiling project to cross-compile Go packages using cgo from Linux to Windows. MXE provides its own pkg-config as a prefixed binary (e.g. pkg-config for `i686-w64-mingw32.static

[2016-07-03 01:35] Gurpartap commented on #13228
I had to serve on systemd socket activation's fds listener, along with TLS.

Here's a [`Server.ServeTLS`](https://github.com/Gurpartap/go/commit/31135bf3c299a13672c3eb846f9efdfd13b372ed) I put together from existing code in `Server.ListenAndServeTLS`:
https://github.com/Gurpartap/go/commit/31135bf3c299a13672c3eb846f9efdfd13b372ed

Tested to work with systemd socket listening on `443` and using Ser

[2016-07-03 02:32] mikioh commented on #16252
But cross-compiling, maybe?

I think it's better.

[2016-07-03 02:52] tdfbsd commented on #16245
Hi Brad, I'm taking over the gobuilder for Dragonfly and I've got it back up and running now

[2016-07-03 03:21] dsnet commented on #16252
/cc @zombiezen

[2016-07-03 04:58] #16216 closed

[2016-07-03 08:13] cznic commented on #16252
Cannot reproduce using `CGO_ENABLED=0`. For example
[code]
I don't know why the build does not include `getgrouplist_unix.go` and `listgroups_unix.go`. `unix` is not an item in syslist, the suffix `_unix` should not exclude the file from build on linux and the build directive seems to be satisfied:
[code]

Particulary, `!androind and linux` should be true in my case and thus the whole expression a

[2016-07-03 08:38] mkideal opened #16254 "proposal: Default implementation for interface"
*Can we support default implementation for interface?*

Here is an example:

[code]

Now, if I have a struct `DBTransaction` which implements `Begin()`,`Exec() error` and `End()` methods(i.e. implements interface `Transaction`), then `DBTransaction` automatically owns `Process() error` method while it's used as  `Transaction`.

[2016-07-03 14:29] mezoni commented on #16254
1. What means `automatically owns` if this method does not specified in the type declaration (`interface`)?

[code]

2. Sorry, but I cannot understand how an `interface` can have implementation?

[2016-07-03 15:41] mkideal commented on #16254
Did you know `trait` in `rust` language(@mezoni)? It's very similar to `interface` in `golang`, but support default implementation.
[code]
And `pure virtual class` in `c++`
[code]

[2016-07-03 17:03] mezoni commented on #16254
Mixins, traits used in OOP.
Also I know abstract classes.
Also I know that in Go language there are no such thing as OOP and inheritance.
What benefits from the `mixins` and `traits` in the Go language if the Go language does not supports inheritance?
Also I know that the Go language does not supports `abstract` and `virtual` methods only because they are useless in the Go language (without inheri