[2018-02-07 22:46] FiloSottile commented on #23736
Yes, there is no secret leakage (and we should put the check somewhere with no secret access), so it would be better to tell the user how they can fix the issue. It took me a while to realize I was using 512-bit certificates in tests.

[2018-02-07 23:23] lukasmalkmus commented on #23729
So... I can't reproduce it either with this simple setup: https://github.com/lukasmalkmus/issue23729

But it's definitely there. I have a private repo set up which has a `pkg` package with a few sub packages, just like the example repo I created. The command in question is `go test -run='^$' -bench=. ./pkg/...`. If I run it on my private repo I get this output:

[code]

So I will further investiga

[2018-02-07 23:45] davecheney commented on #23729
Running benchmarks for multiple packages will execute them concurrently, skewing your results.

[2018-02-07 23:55] lukasmalkmus commented on #23729
Oh wow. Didn't know that. So I should consider this a bad practice and manually benchmark my packages one by one?

[2018-02-08 00:30] Dirbaio commented on #23695
Just checked 1.10rc1, and it's fixed!

Thanks guys!

[2018-02-08 00:30] #23695 closed

[2018-02-08 01:52] jeddenlea opened #23737 "cmd/go: new cgo protections mix up CFLAGS and LDFLAGS from pkg-config"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9.4

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
Linux

### What did you do?
Tried to build with cgo, like
[code]

Within our contrived environment, we'll see,
[code]

### What did

[2018-02-08 02:01] dgryski commented on #23737
/cc @rsc

[2018-02-08 02:58] #22398 closed

[2018-02-08 03:38] pjebs opened #23738 "database/sql: document what to do on DB.Ping error"
The documentation doesn't make clear what to do if we get an error "bad connection".

When Ping returns an error, is it advisable to close the DB object and create a new DB object to replace the old one?

After all, if Ping returns an error, something is clearly wrong.
Is it only the connection that is bad or the pool.

This is how a lot of people are implementing it: https://github.com/pjebs/go-s

[2018-02-08 04:09] nigeltao commented on #23071
It (updating x/net/html's HTML5 implementation to the latest algorithmic spec) is a valid issue, but it's probably a non-trivial amount of work, and I don't have much spare time right now. Sorry.

[2018-02-08 04:59] gonzojive commented on #18441
Any developments sin 1/2017?

[2018-02-08 05:01] anacrolix commented on #23672
Consider these compiler flags:
[code]

And also -framework as a linker option:
[code]

See [go-libutp](https://github.com/anacrolix/go-libutp) and [go-gtk](https://github.com/mattn/go-gtk).

[2018-02-08 05:57] kardianos commented on #23738
I'm not exactly sure what you mean by a "bad pool". How would you tell the difference between an incorrect DSN and a temporary network problem? I think retrying or closing the pool could both be correct.

Glancing at the code you linked concerns me the author is confusing a DB pool with a single connection.

I'm not convinced the docs need clarification, but I can look into it. Maybe we can discus

[2018-02-08 06:02] raff commented on #23737
I get a similar error with a package (LuaJIT) that does the following in order to link a *.a file:
`
#cgo LDFLAGS: ${SRCDIR}/../../../LuaJIT/LuaJIT/src/libluajit.a -lm -ldl
`

I was able to "fix" it by doing this, but it would be good if it was at least documented (also, I am wondering if there are any other cases if trying to pass non-flag parameters in CFLAGS/LDFLAGS):
`
#cgo LDFLAGS: -lm -ldl -

[2018-02-08 06:58] susugagalala opened #23739 "go 1.9.4 cgo issue: invalid flag in #cgo LDFLAGS"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go 1.9.4

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
macOS High Sierra 10.13.3 / amd64

### What did you do?
go build programusingcgo.go

### What did you expect to see?
successful b

[2018-02-08 07:55] dgryski commented on #23739
Is this a public repository?  Can you give more details of the cgo usage?  What does the cgo directive actually say?

[2018-02-08 07:55] raydac commented on #23739
I have the same issue with Go 1.9.4 in [my test](https://github.com/raydac/mvn-golang/tree/master/mvn-golang-examples/mvn-golang-example-gui)
`go build github.com/andlabs/ui: invalid flag in #cgo LDFLAGS: /home2/igorm/.mvnGoLang/.go_path/src/github.com/andlabs/ui/libui_linux_amd64.a`

[2018-02-08 08:36] rasky commented on #23739
@raydac andlabs/ui must be updated to cope with the new Go release. I've opened a bug (andlabs/ui#268).

@susugagalala we need to see the `#cgo LDFLAGS` line that is rejected by the compiler.

[2018-02-08 09:16] alexbrainman commented on #8825
Yes, there is a problem here. And I cannot explain it.

Alex

[2018-02-08 10:12] kaoet opened #23740 "cmd/link: panic: runtime error: slice bounds out of range"
### What version of Go are you using (`go version`)?
1.9.3

### Does this issue reproduce with the latest release?
I don't know. rules_go in bazel currently doesn't support go-1.9.4.

### What operating system and processor architecture are you using (`go env`)?
Ubuntu 17.10 linux_amd64

### What did you do?
I'm compiling my project with bazel by just running `bazel build node/agent/unsullied`.

T

[2018-02-08 10:15] Rajadeepan opened #23741 "cmd/link: linking error when build and executed go binary on 32 bit windows OS"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9.2 windows/386

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
       windows and 32 bit architecture
set GOARCH=386
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=386
set GOHOSTOS=windows

[2018-02-08 10:39] maxxant commented on #23561
i have similar issue while app running with go linux/amd64 1.9.2, 1.9.3 or 1.10rc1 . The go env is the same.
next trace for go 1.9.3

[code]

In my case the go programm was compiled as a static library and started from c++

[2018-02-08 10:43] maxxant commented on #23561
one trace for 1.10rc1:
[code]

[2018-02-08 11:00] mattn commented on #23672
In the case of go-gtk, these flags are provided from pkg-config. Fortunately, I could build go-gtk on Windows. I still not confirm Linux.

[2018-02-08 11:04] ruiadrmartins commented on #23739
same happened to me while trying to build miekg/pkcs11
`go build github.com/miekg/pkcs11: invalid flag in #cgo LDFLAGS: -Wl,--no-as-needed`

It was working fine yesterday. Reverting to go 1.9.3 solved it

[2018-02-08 11:18] weppos commented on #23554
I agree with @vdobler. As explained in my previous comment, I confirm there is no guarantee that the PSL includes all the TLD and therefore it's not safe to use it for such type of validation.

[2018-02-08 11:22] dmitris commented on #23672
https://github.com/miekg/pkcs11/issues/63 - go1.9.4 breaks building github.com/miekg/pkcs11 on Linux as it does not allow `-Wl,--no-as-needed` - could that flag be added, please?  Otherwise users would have to run install and test as `CGO_LDFLAGS_ALLOW='-Wl,--no-as-needed' go install` and it will break lots of CI builds.

[2018-02-08 11:31] dmitris commented on #23739
@ruiadrmartins - https://github.com/miekg/pkcs11/issues/63

[2018-02-08 11:32] dmitris commented on #23739
workaround for `github.com/miekg/pkcs11` - `CGO_LDFLAGS_ALLOW='-Wl,--no-as-needed' go install` (same for `go test`)

[2018-02-08 12:07] mirza-s opened #23742 "x/mobile: gomobile bind fails with "invalid flag in #cgo CFLAGS: -fmodules" for target=ios"
### What version of Go are you using (`go version`)?
go version go1.9.4 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/Users/mbp/gopath/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/mbp/gopath"
GORACE=""
GOROOT="/usr/local/Cellar/go/1.9.

[2018-02-08 12:07] pebbe commented on #23739
I have the same issue with CFLAGS in Go version 1.9.4. It was working fine in version 1.9.3.
[code]

[2018-02-08 12:13] ruiadrmartins commented on #23739
The problem has to do with this: https://github.com/golang/go/issues/23672
It affects Go versions 1.8.7, 1.9.4 and 1.10rc2
Reverting to the previous version is what I'm doing now. Waiting for a better solution.

[2018-02-08 12:26] andlabs commented on #23739
Is allowing linking to files in `${SRCDIR}` out of the question? Package ui needs to link to a .res file on Windows as well (because resources + static libraries are weird; I should probably just remove the resources entirely, but that'll be a big change).

Is the pkcs11 flag (`-Wl,--no-as-needed`) also out of the question?

[2018-02-08 12:32] dmitris opened #23743 "cmd/go: add --as-needed and --no-as-needed to the linker flags whitelist"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go1.9.4

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/dsavints/go"
GORACE=""
GOROOT="/us

[2018-02-08 12:36] susugagalala commented on #23739
@dgryski @rasky That was just an example. It's not an actual repository.  I have too many cgo calls in my projects, all resulting in the same error messages, so I did not provide the actual code... just a sample example...
Apparently, from go 1.9.4, one cannot pass arbitrary "flags" to the linker via LDFLAGS, etc.  I'm surprised, however, arbitrary "flags" can still be passed to the compiler via C

[2018-02-08 12:36] #23739 closed

[2018-02-08 12:42] pebbe commented on #23739
Why is this issue closed? It's not solved.

[2018-02-08 12:44] dmitris commented on #23739
the master version works for me now on Linux and Mac

[2018-02-08 12:57] pebbe opened #23744 "cgo: invalid flag in #cgo CFLAGS: -finput-charset=UTF-8"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

[code]

This problem is absent in go1.9.3

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

If possible, provide a recipe for reproducing the error.
A comp

[2018-02-08 13:01] davecheney commented on #23561
This looks like memory corruption. Have you tried running your program under the race detector? See https://blog.golang.org/race-detector .

[2018-02-08 13:13] pebbe commented on #23744
There are more, similar errors with other packages:

[code]

[2018-02-08 14:13] glycerine commented on #21916
@LarryRuane I've implemented an interactive Go REPL (https://github.com/gijit/gi) based on a single-threaded just-in-time trace compiler, LuaJIT. `gijit` currently supports everything in Go except goroutines/select/channels. I'll be adding those next, and may well opt for a deterministic scheduler. You can contribute (your input is most welcome) or simply follow progress on issue https://github.co

[2018-02-08 14:36] andlabs commented on #23739
@susugagalala again, I suggest asking if the flags that caused your projects issues could be whitelisted.

[2018-02-08 15:07] #23461 closed

[2018-02-08 15:16] FiloSottile commented on #23736
@agl While looking at this code I noticed that the salt length can end up being zero when using `PSSSaltLengthAuto` with a key length of `hash.Size() + 2`.

RFC 8017 calls that out as a valid salt length, with security equivalent to a Full Domain Hashing scheme, however our API does not normally allow a zero-length salt (as `PSSSaltLengthAuto` is 0) and zero-length salt makes PSS non-deterministic

[2018-02-08 15:16] maxxant commented on #23561
Dave, maybe you're right.
My golang parts tested with -race flag of course (coverage ~80). But after i'm build full application (C++ gcc 5.4.0) with golang lib with -race flag:
[code]
and run application i have next message:

[code]
I will dig deeper.

[2018-02-08 15:38] hyangah commented on #23401
How about resetting the profile counters if the sampling period is changed?

Since we migrated all these profiles to the proto buf format,  the output can include information like the collection time and the duration. For legacy format output, we can output the duration as a comment.

/debug/pprof/{mutex,block} endpoints keep reporting the counters since the current sampling rate is set.
The new r

[2018-02-08 15:50] bradfitz opened #23745 "proposal: add new Question? label to issue tracker"
Go doesn't currently allow questions on our GitHub issue tracker.

If we get a question, we reply with a link to https://golang.org/wiki/Questions in some stock answer explaining that Go is unlike some projects on GitHub that use their issue tracker as a forum and users should use a mailing list or slack or the Discourse web forum.

It's pretty sad to turn all those users away, though.

I've been

[2018-02-08 15:51] ianlancetaylor commented on #23740
We're likely to need reproduction instructions.  Thanks.

[2018-02-08 15:52] andybons commented on #23744
@ianlancetaylor @rsc

https://go.googlesource.com/go/+/master/src/cmd/go/internal/work/security.go#61 should handle the first case, but it may be that we're not allowing two slashes in flags.

`-pedantic-errors` seems to simply be absent from the whitelist.

Adding needsdecision label to determine which release this should go in.

[2018-02-08 15:53] ianlancetaylor commented on #23741
This does not look like a Go error.  It looks like a missing shared library, or perhaps you need to update the path used to find shared libraries.

[2018-02-08 15:55] andybons commented on #23745
Considering the slowness and poor user experience of Google Groups (as reported by many of our users), I think this is a good idea. I've seen it work well for other projects, too.

[2018-02-08 15:55] ianlancetaylor commented on #23745
My concern is that many more people read the forums, and they are far more likely to be able to actually answer the questions.  Questions about use of the language are easy enough to answer, but many questions are about unusual use cases and libraries, for which there are people who know the answer but they aren't  reading the issue tracker.  If we make this change we'll need some way to encourage

[2018-02-08 15:56] FiloSottile commented on #23737
@raff yours seems like a separate issue, where this line is missing support for `.a` files:

https://github.com/golang/go/blob/104445e3140f4468839db49a25cb0182f7923174/src/cmd/go/internal/work/security.go#L91

I submitted a CL for that. https://golang.org/cl/92855

[2018-02-08 16:09] josharian commented on #23745
Spitballing, applying the Question tag (or something else?) could trigger a bot to email golang-nuts notifying the forums of an interesting issue tracker question. Or a different/new forum?

Assuming the details can be sorted out, this is an excellent idea. Meet your users where they are.

[2018-02-08 16:11] josharian commented on #23740
I’m on my phone but I’m pretty sure there are several duplicates of this already, all without reproducers.

[2018-02-08 16:26] adamdecaf commented on #23745
How about answering quick questions in the issue, but still closing the issue and redirecting them to the wiki? I agree that a quick close is off putting, but there's no additional noise as the answer/close would still happen.

[2018-02-08 16:28] zachgersh opened #23746 "x/tools/godoc/dl: provide a JSON feed of Go releases"
Currently there seems to be no programmatic way I can consume a list of releases / checksums when a new release is published (especially relevant for CVEs).

It would be great if there was a JSON feed (or some other mechanism) that would allow users to determine what the latest release download links / checksums were.

Unsure what sort of URL this would be presented of off but I could imagine some

[2018-02-08 16:38] aclements commented on #23561
@maxxant, are those trace backs complete? It's odd that none of the goroutines are marked as being scanned, but maybe it's a system goroutine that's causing the problem.

Could you reproduce with `GOTRACEBACK=crash` set? That should print the system goroutines along with some additional information.

[2018-02-08 16:43] bradfitz commented on #23745
We don't want to require that the first-level triage-er have to write (or research!) an answer. They need to be able to add some metadata (or close) quickly. But adding the label "Question" is as quick as closing it. And then gopherbot can take over and unsubscribe all the bugs-only users who are only interested in actual bugs. It can even use the gmail API to remove it from our inbox. (I have exi

[2018-02-08 16:46] ALTree commented on #23745
tl; dr: IMO is a bad idea. I'll elaborate

We're not turning them away. We are re-routing them to places (like forum.golangbridge.org or stackoverflow ) that are much better suited for questions, and where there are a lot of people reading questions and answering them.

If just pasting "for questions, see https://golang.org/wiki/Questions" feels "sad" (and I agree it doesn't feel nice), you just h

[2018-02-08 16:46] bradfitz commented on #23746
I thought we had a bug about this, but maybe not. In any case, this came up somewhere and we agreed it as a good idea. It should be simple to add too, if you want to send a change to `golang.org/x/tools/godoc/dl/dl.go`

[2018-02-08 16:53] zachgersh commented on #23746
@bradfitz - sounds great, I'll get around to this during the weekend. Any thoughts on the `releases.json` URL? Could probably just be `/releases`

[2018-02-08 16:54] bradfitz commented on #23746
I don't care much. We use `?mode=json` for https://build.golang.org/?mode=json though.

[2018-02-08 16:56] laboger commented on #18597
As noted above, the performance benefit for a register-based calling convention is higher on RISC architectures like ppc64le & ppc64. If the above CL is not stale I would be willing to try it out. To me this is one of the biggest performance issues with golang on ppc64le.

Inlining does help but doesn't handle all cases if there are conditions that inhibit inlining.  Also functions written in asm

[2018-02-08 17:03] bradfitz commented on #23705
Well, @andybons updated our GKE cluster from 1.5.6 to 1.8.whatever the latests GKE option is, and the errors persist, but they've changed. Now I see:

[code]

Not sure what `Temporary error from gerrit go.googlesource.com/go: signal: killed; stderr=""` means.

[2018-02-08 17:04] bradfitz commented on #23705
Looks like something's leaking. Bunch of defunct processes:

[code]

[2018-02-08 17:09] #22046 closed

[2018-02-08 17:10] rogpeppe opened #23747 "proposal: testing: provide a way to log a line without a source location"
There's no way to log a line without also including source information of a caller of Log.

When hooking logger implementations up *testing.T so that log messages can be directly associated with a test (particularly important when running parallel tests), the source line is almost always noise, as one of the callers of t.Log will be a function in the logging package, which cannot call Helper. Also

[2018-02-08 17:19] fbbdev opened #23748 "doc: link to better fastcgi documentation"
Since the original fastcgi website went down, the fcgi module documentation [links to a web archive page](https://github.com/golang/go/blob/104445e3140f4468839db49a25cb0182f7923174/src/net/http/fcgi/fcgi.go#L9) for the fastcgi spec.

Some time ago, being the maintainer of a major fastcgi library for nodejs, I created a dedicated GitHub [organization](https://github.com/fast-cgi), [repository](http

[2018-02-08 17:19] ianlancetaylor opened #23749 "cmd/go: options missing from cgo whitelists"
The recent security patches for cmd/go (#23672) added a whitelist of options permitted for use with cgo.  Several different people have reported packages that fail to build by default because they use options that are not on the whitelists.  This issue is intended to collect a list of all the missing options, so that we can add them in a single CL.

[2018-02-08 17:21] bradfitz commented on #23748
@fbbdev, great to hear! Thanks! I'll fix our doc links.

[2018-02-08 17:24] ianlancetaylor commented on #23749
#23737 reports that flags generated by `pkg-config -libs` are being checked against the compiler whitelist, and `CGO_CFLAGS_ALLOW`, when they should instead by checked against the linker whitelist and `CGO_LDFLAGS_ALLOW`.  There is a CL to fix this: https://golang.org/cl/92755.

[2018-02-08 17:25] ianlancetaylor commented on #23749
The linker whitelist should accept `.a` files as it already accepts `.o`, `.so`, etc., files.  There is a CL to fix this: https://golang.org/cl/92855.

[2018-02-08 17:36] shazow commented on #9319
I'm not sure when this was fixed, but I can no longer reproduce this bug. 🎆

Perhaps https://github.com/golang/crypto/commit/95cb608f365d51e0e69abc646ec90c0e26fb427f#diff-a3a6cfbd4e71112ed97a68a606535a23 did the trick?

I suggest closing this issue unless someone can still reproduce it.

[2018-02-08 17:45] pciet commented on #23745
GitHub is superior to Google Groups for discussing code and searching for past questions. The bi-directional issue linking is nice and other places don't have that. If a bug or proposal topic is generating many questions then that shows in the issue.

If a question can't be answered in a reasonable amount of time (such as for usage of a third party library) then somewhere like golang-nuts would be

[2018-02-08 17:47] ianlancetaylor commented on #23749
Comments on #23672 list these compiler options:

[code]

and these linker options:

[code]

[2018-02-08 17:47] ianlancetaylor commented on #23672
I've opened #23749 as a place to collect options that should be added to the whitelists.

[2018-02-08 17:51] ianlancetaylor commented on #23749
#23742 suggests adding the compiler option  `-fmodules`.  The clang compiler supports a number of `-fmodules` options, but it's not clear that they are all safe.  In particular `-fmodules-cache-path` and `-fmodules-user-build-path` would seem to permit specifying a path that clang will use to read modules, which could perhaps change the compilation mode in various ways.

[2018-02-08 17:52] ianlancetaylor commented on #23742
Closing in favor of the general whitelist collection issue in #23749.

[2018-02-08 17:52] #23742 closed

[2018-02-08 17:52] FrankReh commented on #18273
The lost time is in the call to sleep in the read loop.

TL;DR; Ask OpenBSD (at least an amd64 6.2 OpenBSD) to sleep for 1 millisecond, and it will sleep for 20 times that. So tests that use a 1ms sleep in each iteration will take a lot longer on OpenBSD.

I tried this on Debian Linux, FreeBSD and OpenBSD. All amd64 virtual machines.

Each reads and writes in 65536 byte chunks. Each iterates the w

[2018-02-08 17:54] ianlancetaylor commented on #23749
#23743 suggests adding the linker option `-Wl,--no-as-needed`.  There is a CL for this: https://golang.org/cl/92795.

[2018-02-08 17:55] ianlancetaylor commented on #23743
Closing in favor of a general issue for all whitelist changes in #23749.

[2018-02-08 17:55] #23743 closed

[2018-02-08 17:57] ianlancetaylor commented on #23749
#23744 suggests adding these compiler options:

[code]

[2018-02-08 17:57] ianlancetaylor commented on #23744
Closing in favor of a general issue to cover all whitelist options in #23749.

[2018-02-08 17:57] #23744 closed

[2018-02-08 17:58] ianlancetaylor commented on #23749
There are many compiler and linker options that may be used with either a single dash or a double dash.  We should be similarly lax in the whitelists.

[2018-02-08 18:00] andlabs commented on #23749
For orthogonality, I forget if the option to add a directory to `-framework`'s search path is already covered or not. I also forget what option that is. (The typical use case that I can think of is `/Library/Frameworks`, which is where Apple puts app-specific frameworks, and is not searched by default.

[2018-02-08 18:00] ianlancetaylor commented on #23739
I've created an issue to collect all options that should be added to the whitelists: #23749.  Please add comments there as needed; I believe that all the options mentioned in this issue are already there.

[2018-02-08 18:02] ianlancetaylor commented on #23737
Closing in favor of a general whitelist issue in #23749.

[2018-02-08 18:02] #23737 closed

[2018-02-08 18:32] zx2c4 opened #23750 "runtime: crashes on Android O"
Android O has a seccomp filter.

Unfortunately it disallows use of `open` and `epoll_wait`, which are used by the Go runtime. Fortunately, it allows for `openat` and `epoll_pwait`, which map directly to the former ones by passing them the right arguments.

So far as I can see, these support `open` and `epoll_wait`:

- https://android.googlesource.com/platform/bionic/+/master/libc/seccomp/arm_app_p

[2018-02-08 18:32] CameronGo opened #23751 "ssh: handshake failed: ssh: unsupported DSA key size 2048"
We are seeing some odd behavior connecting to a customer SFTP site with a username and password.  This code is working for all other tested endpoints.

I see a section of code in the crypto/keys.go file in the function checkDSAParams that fails if the key length is not 1024, but since I am able to connect to that SFTP with ssh and other SFTP clients, I'm not sure why that restriction is being enfo

[2018-02-08 18:33] jayconrod commented on #23740
Hey @kaoet, I believe this is a duplicate of bazelbuild/rules_go#1116, so I'll close this issue in favor of that one.

TL;DR: we believe this is due to multiple versions of the same package being included in the build. Only one will actually get linked, which means that a dependent library may be compiled against one version and linked against another.

The main way to work around this is to ensur

[2018-02-08 18:55] josharian commented on #23740
It’d be nice if cmd/link could detect this scenario somehow and issue an appropriate warning, rather than panicking, which will continue to lead to new issues being filed here. I’m not sure how or if that is possible, but reopening this issue for that. Since you understand the issue, do you by chance have a minimal reproduction?

[2018-02-08 18:57] ianlancetaylor commented on #23750
Marking for 1.9.5, but note that this is also not fixed in 1.10.  We need some way to get a sense of whether the patches will work on a range of systems; likely they will but some experience is needed.  Probably best to commit them after 1.10 branches, and then consider backports to 1.10.1 and 1.9.5.

[2018-02-08 18:58] ianlancetaylor commented on #23673
The 1.9.4 release was made.

[2018-02-08 18:58] #23673 closed

[2018-02-08 18:59] ianlancetaylor commented on #23674
The 1.8.7 release was made.

[2018-02-08 18:59] #23674 closed

[2018-02-08 19:00] cherrymui commented on #23745
What about two issue trackers? One (golang/go) for bugs and one (maybe golang/questions) for questions? That way we can have the advantages of using issue tracker for questions as well as the separation of questions and bugs.

[2018-02-08 19:11] bradfitz commented on #23745
@cherrymui, the problem is we can't move bugs between repos, so people will file questions at golang/go anyway. This issue is about deciding how we handle questions that arrive at golang/go.

[2018-02-08 19:22] bradfitz commented on #23751
/cc @hanwen

[2018-02-08 19:47] #9319 closed

[2018-02-08 19:50] jayconrod commented on #23740
It may be difficult for cmd/link to detect this without a change in the package format. Each .a file produced by the compiler would need to be stamped with a unique id, and it would need to include the ids of the other .a files it was compiled against. The linker would need to verify these ids.

It's the responsibility of the build system (go build or Bazel rules_go in this case) to prevent this s

[2018-02-08 20:28] rgburke commented on #23749
When using:
[code]
compilation fails with the following message:
[code]
Looking over the code it appears there aren't any enviroment variables that can be used to whiteslist pkg-config arguments.

[2018-02-08 20:32] ianlancetaylor commented on #23749
@rgburke pkg-config output goes through the same `FLAGS_ALLOW` variables as other outputs.

However, it appears that `pkg-config -libs` checks `CGO_CFLAGS_ALLOW` when it ought to check `CGO_LDFLAGS_ALLOW`.

[2018-02-08 20:32] mirtchovski commented on #23749
We link a large number of C libraries statically in a closed-source project. Up until now we have been doing the following:

[code]

This is of course disallowed now. A workaround:

[code]

However some of these directories contain dynamic libraries too, which confuses the linker. Another option is to add '/' to the list of allowed "names" in https://go-review.googlesource.com/c/go/+/92855

the la

[2018-02-08 20:34] andlabs commented on #23749
@mirtchovski there's a patch for that (the issue is that `.a` was not whitelisted, but other object file formats were)

[2018-02-08 20:37] mirtchovski commented on #23749
.a is not whitelisted so 'libsomething.a' will work, but '/path/to/libsomething.a' will not work.

[2018-02-08 20:45] jeddenlea commented on #23749
@ianlancetaylor @rgburke I actually ran into the very same problem with `--static` which lead me down the hole to #23737.  `--static` is rejected because it doesn't appear to be a valid package name _before_ attempting to execute `pkg-config`, here https://github.com/golang/go/blob/master/src/cmd/go/internal/work/exec.go#L939-L940.

Our quick fix internally was to point PKG_CONFIG to a script whic

[2018-02-08 20:54] rgburke commented on #23749
@jeddenlea - Thank you very much! I was trying to find a workaround but didn't think of that.

[2018-02-08 21:06] bradfitz commented on #23705
I have no idea where these defunct processes are coming from. I audited all the os/exec callers in golang.org/x/build/maintner/... and don't see anything suspicious.

@ianlancetaylor, any debugging tips?

[2018-02-08 21:49] FiloSottile commented on #23636
Duplicate of #23043

[2018-02-08 21:50] #23636 closed

[2018-02-08 21:55] cvermilion commented on #23742
For anyone else that hits this, there's a workaround in the meantime:

`export CGO_CFLAGS_ALLOW='-fmodules|-fblocks'`

I didn't see anything in the 1.9 or 1.9.4 release notes, but the cgo docs were updated: https://golang.org/cmd/cgo/#hdr-Using_cgo_with_the_go_command.

[2018-02-08 22:29] bradfitz commented on #23726
Duplicate of #14750.

Closing this one.

[2018-02-08 22:29] #23726 closed

[2018-02-08 23:08] aclements commented on #22950
I'm hoping to tackle this for 1.11, but we'll see what happens. As you point out, it's not an easy problem. :) I think I have to largely rewrite `sync.Pool`.

[2018-02-08 23:12] dsnet commented on #22950
Should we remove the NeedsDecision label? It seems that we're in agreement that the default behavior is not desired.

[2018-02-08 23:43] dr2chase commented on #18597
The CL is very stale. First we have to get to a good place with debugger information (seems very likely for 1.10), and then we have to redo some of the experiment (it will go more quickly this time) with a better set of benchmarks.  Some optimizations that looked promising on the go1 benchmarks turn out to look considerably less profitable when run against a wider set of benchmarks.

[2018-02-09 00:11] bobrik commented on #23749
We hit this with `-msse` and `-msse4.2`.

[2018-02-09 00:28] hanwen commented on #23751
See RFC 4253 , sec 6.6, which refers to https://csrc.nist.gov/csrc/media/publications/fips/186/2/archive/2000-01-27/documents/fips186-2.pdf
page 8 requires the prime to be less than 1024 bits.
(since DSA specifies SHA1 as hash, there is no point in using larger DSA numbers.)

try using a different type of key. Adding DSA was a mistake, and OpenSSH has deprecated them starting 7.0

[2018-02-09 00:42] pjebs opened #23753 "database/sql: improve documentation for DB.Close() (graceful close or not)"
The documentation doesn't make clear what DB.Close() does.

Does it close the Pool immediately even if there are still queries happening in some of the connections, or does it wait for the queries to finish and gradually closes the connections and then closes the pool?

[2018-02-09 00:44] ianlancetaylor commented on #22950
As far as I know we don't actually know what we want to do, so I think this does still need a decision.

[2018-02-09 00:45] ianlancetaylor commented on #23753
It's generally best to ask questions in a forum, which is where more people will see them.  See https://golang.org/wiki/Questions .

I don't actually know the answer to this.

[2018-02-09 00:57] dgryski commented on #23753
/cc @kardianos

[2018-02-09 00:57] ianlancetaylor commented on #23705
Sorry, no good ideas.  Just the obvious one of double-checking that the parent process is what you think it is.

[2018-02-09 01:04] kardianos commented on #23753
That's reasonable doc request. I'll look into.

[2018-02-09 01:24] jimmyfrasche commented on #22950
This seems like a place where some simulations would provide a good idea of what sort of improvements are worth pursuing.

[2018-02-09 01:48] as commented on #18597
@dr2chase

Is the method used to determine the 5% performance improvement somewhere in the discussion? I'm curiously interested in what the function sample space actually look like.

[2018-02-09 01:56] CameronGo commented on #23751
So I'm all for using a different type of key, but in this case the challenge is we don't control the host to which we are sending files.  The remote host is an IBM Sterling File Gateway and the customer in this case has simply implemented a DSS host key.

This is far afield of my area of expertise, but does the reference to larger key sizes in FIPS 186-3 nullify the key size limitation previously

[2018-02-09 02:36] #23554 closed

[2018-02-09 02:50] andybons opened #23756 "x/build/cmd/gerritbot: editing a title or description should update the Gerrit change"
In [this change](https://go-review.googlesource.com/c/go/+/92997) the title needs to be adjusted, but it won't get imported unless the PR branch's HEAD SHA changes. We should detect differences in the title and import if need be.

[2018-02-09 03:37] benshi001 commented on #22348
The go1 benchmark also has large voice on RPI3/ArchLinux, several test cases even vary up to 3%.

[2018-02-09 03:49] hzxuzhonghu opened #23757 "net/http/httptest: Server.Start shouldn't return until it really can Accept connections"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

latest

### Does this issue reproduce with the latest release?

yes

### What did you do?

After call `httptest.Server.Start` or `StartTLS`, I want the server is ready to serve any request. But unfortunately it takes some time to be ready.

[2018-02-09 03:51] bradfitz commented on #23757
Why?

That's not intentional, and I've never experienced that.

If there's a problem, the fix is to make `Start` do the right thing, and not to add more API like `Wait`.

Why do you think `Start` doesn't work immediately? Got a reproducible example of a failure? Or an idea of why the code is wrong?

[2018-02-09 03:51] davecheney commented on #23757
Why does the server take time to be ready? Is this delay your code or the http package?

[2018-02-09 03:54] hzxuzhonghu commented on #23757
Because it call `Server.goServer` which start a new goroutine, and t=in theory, it takes time.

[2018-02-09 03:57] hzxuzhonghu commented on #23757
@bradfitz I think we can notify the parent goroutine when the below goroutine is running.
[code]

[2018-02-09 03:57] bradfitz commented on #23757
But the `net.Listener` is already listening before that's called. So it'll still accept the connection, and then in a tiny amount of time (under milliseconds) it'll handle it.

I see no problem.

[2018-02-09 03:58] hzxuzhonghu commented on #23757
Oh, so i missed the listener.

[2018-02-09 03:58] #23757 closed

[2018-02-09 04:01] bradfitz commented on #23757
No worries. Glad there's not a problem to fix. :)

[2018-02-09 04:02] hzxuzhonghu commented on #23757
Thank you .

[2018-02-09 05:15] AlphaWong commented on #23392
I would like to know did all those changes pass the test in OSX as I can get an `&` operator in arch Linux but my workmate get a `\u0026` in his macbook.

After I use the docker image 1.8-apline
This issue got.

I will update the screen shot later

[2018-02-09 06:07] shurcooL commented on #23464
Splitting the help string into multiple lines is more viable in Go 1.10, given that https://tip.golang.org/doc/go1.10#flag was done:

_(Discovered via https://speakerdeck.com/campoy/the-state-of-go-1-dot-10?slide=23. /cc @campoy FYI.)_

[2018-02-09 06:10] minux commented on #23749
I hit this issue with "${SRCDIR}/file.o" in cgo LDFLAGS.

I'd like to argue that we should allow plain filenames that is linker input
files in LDFLAGS
(at least *.a, *.o and *.so).

Unlike .a and .so which in theory could be handled with "-L${SRCDIR}
-lname", adding
extra object files to linker command cannot be fixed that way.

A workaround is to set CGO_LDFLAGS_ALLOW, but that's very cumbersome.

[2018-02-09 06:40] YuleiXiao commented on #23561
@aclements @maxxant I open race and set ```GOTRACEBACK=crash```, it have same message.

[code]

[2018-02-09 08:53] rudolfschmidt commented on #19814
The main reason I use golang over python and javascript and other common typeless languages is the type safety. I did a lot with Java and one thing I miss in golang that Java provides is safe enums. I would suggestion following syntax:

I would disagree to be able to differentiate the types with enums. If you need ints, just stick to ints instead, like Java does. If you need safe enums, I would su

[2018-02-09 08:55] mvdan commented on #23464
Yes - I saw Francesc's slides too, and the same thing came to mind. I forgot to follow up on this issue, though :)

Since the x repos tend to support the latest 2 Go releases, I think it would be okay to add the newlines once 1.10 is out. Those building with 1.9 and using that help string will get output that is slightly off, but I think that is okay.

The other option is waiting until 1.11 is out

[2018-02-09 09:22] hanwen commented on #23751
https://csrc.nist.gov/csrc/media/publications/fips/186/3/archive/2009-06-25/documents/fips_186-3.pdf lists the suggested hash sizes (N), which would be 224 for 2048 bits; if you can use a smaller size for the hash, but then SHA1 (160 bits) would be the weakest link in the signature scheme.

That said, it's possible that there exists some variant of this that does so anyway. My suggestion is to fin

[2018-02-09 09:27] hanwen commented on #23751
probably not openssh.

$ ssh-keygen -f /tmp/ds -t dsa -b 2048
Invalid DSA key length: must be 1024 bits

[2018-02-09 09:38] hanwen commented on #23751
actually no, see https://zonena.me/2014/02/using-2048-bit-dsa-keys-with-openssh/

[2018-02-09 09:49] hanwen commented on #23751
see here https://github.com/fuchsia-mirror/third_party-openssh-portable/blob/620515639a6e3649bb2a4585522a5aae69e8653b/ssh-dss.c#L196

you'd get 160 bits of hash, which then goes into

https://android.googlesource.com/platform/external/boringssl/+/ed3d82f35eb0aa9d81f2398c2142ba07dfc1acee/src/crypto/dsa/dsa.c#636

I think this here just puts the 160 bits of sha1 into 256 bits, leaving the rest 0. ht

[2018-02-09 10:00] amnonbc commented on #21465
The problem with suffixing the URLs with `.git` is that this changes their import name

[2018-02-09 10:11] mattn commented on #8825
@alexbrainman This seems not be caused by exec.Command or pipe. Below is more smaller code to reproduce.

[code]

And C code can reproduce this.
[code]
[code]
So, I'm thinking this is not a bug of Go, and this issue is closable.

[2018-02-09 10:11] peterebden commented on #23749
We've hit this with `--std=c99`

[2018-02-09 10:26] maxxant commented on #23561
For testing i wrote an application in pure Go that does roughly the same thing but it still running (no crashes), and the race detector is also silent. But for the test needs more time, of course.

C++ & go lib crashed again.
@aclements, next trace with GOTRACEBACK=crash for go 1.10rc1:
[code]

[2018-02-09 10:38] myitcv commented on #22726
Hi @broady - do you hope to get this in for Go 1.11?

I'm 💯 👍the [current proposal](https://github.com/golang/go/issues/22726#issuecomment-347594858).

Just to check one point: Go 1.10's caching changes [do not appear to extend to `go run`](https://tip.golang.org/doc/go1.10); so presumably the work relating to this issue would also include extending the caching to the run command?

A very nice sid

[2018-02-09 11:55] CameronGo commented on #23751
I'll take a look at trying to generate a DSA key that is 2048 today.  In the meantime I thought I'd mention that what makes this sticky is the fact that my SSH client on Ubuntu is able to connect to their SFTP site (if I explicitly enable the DSS host keys) and that clients like WinSCP are able to connect without an issue.  This gives the customer the impression that their site of the connection i

[2018-02-09 12:43] FlorianUekermann commented on #23749
-std=c++11

I guess -std=<anything> should be white listed?

[2018-02-09 13:33] shelby3 opened #23758 "Proposal: option to lock child goroutines to same OS thread"
I [responded](https://stackoverflow.com/questions/30646391/does-runtime-lockosthread-allow-child-goroutines-to-run-in-same-os-thread#comment83771585_30646391) in a comment to a Stackoverflow question [_Does runtime.LockOSThread allow child goroutines to run in same OS thread?_](https://stackoverflow.com/questions/30646391/does-runtime-lockosthread-allow-child-goroutines-to-run-in-same-os-thread) a

[2018-02-09 13:56] ianlancetaylor commented on #23758
I'm not sure I understand what you are proposing.  If one goroutine is locked to a thread, then how can a different goroutine be locked to the same thread?  What happens if both goroutines should run simultaneously?

[2018-02-09 14:56] aclements commented on #23758
I haven't read the entire zenscript thread you linked (or really much of it; it's pretty long :), but I don't understand what problem in FRP is solved by forcing multiple goroutines to run on the same OS thread. Could you summarize, perhaps? Go's use of OS threads is transparent unless you're interacting with things outside of Go that care about OS threads (e.g., things that have thread-local stat

[2018-02-09 15:16] laboger commented on #18597
I think the measurement we want is how much does this help once inlining is fully enabled by default.

[2018-02-09 15:25] usirsiwal commented on #21526
We have a very similar need. We are developing a proxy in go and will like the upstream TLS connection to be canceled when the client connection is closed.

[2018-02-09 15:29] dr2chase commented on #18597
The estimate was based on counting call frequencies, looking at performance improvement on a small number of popular calls "registerized", and extrapolating that to the full number of calls.

I agree that we want to try better inlining first (it's in the queue for 1.11, now that we have *that* debugging information fixed), since that will cut the call count (and thus reduce the benefit) of this so

[2018-02-09 15:47] shelby3 commented on #23758
@ianlancetaylor, my thought was that a goroutine can be blocked on for example I/O or waiting on a message/signal in a channel (or analog that can model waiting for events). So then another goroutine in the same thread could run.

Afaics this has some analogous capabilities to an event loop in JavaScript with callbacks. It would afaics facilitate code targeting the UI thread in JavaScript via Goph

[2018-02-09 16:10] chopraaa opened #23759 "cmd/go: go run: triggers Symantec malware alert."
### What version of Go are you using (`go version`)?

`go version go1.9.4 windows/amd64`

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I ran the following program:

[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]
Symantec got triggered. ht

[2018-02-09 16:14] bradfitz commented on #23759
Sorry, but there's nothing we can do about this. This is Symantec's fault. You should escalate with them.

[2018-02-09 16:25] hajimehoshi commented on #22451
What's up on this issue? Thank you!

[2018-02-09 16:30] shuLhan commented on #23749
Probably on whitelist: `-fopenmp`

Error when building bimg package using Go v1.10rc2,
[code]

[2018-02-09 16:32] Gnouc commented on #23709
@bradfitz Can you take a look?

[2018-02-09 16:32] zoonman commented on #19814
@rudolfschmidt, I agree with you, it might look like that too:

[code]
But it has a small pitfall - we have to be able to take control over `enum` in cases when we have to validate data, transform them into JSON or interact with or FS.
If we blindly assume that enum is a set of unsigned integers we can ended up with a iota.
If we want to innovate we have to think about usage convenience.
For examp

[2018-02-09 16:34] steeve commented on #23749
I'm unable to whitelist `-isystem` as the argument next to it (which is a path) will be denied

[2018-02-09 16:36] bcmills commented on #23758
That is already how the Go runtime works: when one goroutine blocks, it chooses another goroutine to run on the same thread.

Eliminating threading does not eliminate concurrency bugs or aliasing bugs. Communicating by sharing memory is precarious even if you can assume that operations won't be preempted.

You can already restrict a variable to a single goroutine (by not passing it to other gorout

[2018-02-09 16:41] aronatkins commented on #23749
We also needed to use this workaround: https://github.com/golang/go/issues/23749#issuecomment-364239496

We previously had:
[code]

and have shifted to:
[code]

The `.../path/to/thing` is outside `${SRCDIR}`.

Adding this comment so this issue includes an example with a `libthing.a` reference that needs `SRCDIR` expansion to resolve.

[2018-02-09 16:58] rasky commented on #18943
@cespare any news on this? Do you have some code somewhere that we can work on?

[2018-02-09 17:04] andybons commented on #13278
Reverted in golang.org/cl/93115

[2018-02-09 17:23] dcompiled opened #23760 "x/crypto: No Tags?"
New to golang here.  I am using a library that depends on source contained within golang.org/x/crypto.  Can someone explain why this repo has no tags?

[2018-02-09 17:28] bradfitz commented on #23760
We don't do releases of golang.org/x/crypto, so it doesn't get tagged/branched/etc.

[2018-02-09 17:28] #23760 closed

[2018-02-09 17:52] mikesamuel commented on #23683
On Wed, Feb 7, 2018 at 1:25 PM, Samuel Tan <notifications@github.com> wrote:

body would do it since the loop increment does nothing to the output
buffer, and we already reconcile the loop body end context with the loop
start context.

[2018-02-09 18:05] ALTree commented on #23760
This is #21324 (proposal: x/all: start tagging versions).

[2018-02-09 18:32] agnivade commented on #13278
Oops, so sorry about this. I can't remember why I did not run the tests. My bad.

Anyways, so the `TestWeb` is failing because the http server has started in the background and it is replying with the "Scan in progress. Please try after sometime" message. So the strings which the test is looking for is not there. Hence the failure.

I will send a CL with the proper fix.

On a side note, should we

[2018-02-09 18:34] bradfitz commented on #13278
Trybots need to be kicked off by a human. They just weren't kicked off.

[2018-02-09 18:45] pquerna opened #23762 "cmd/fix: "go tool fix -r cftype" panic: ast.Expr is *ast.ArrayType, not *ast.SelectorExpr"
### What version of Go are you using (`go version`)?

go version go1.10rc2 darwin/amd64

### What did you do?

Ran `cftype` fixer on a proprietary module.  Trying to find a smaller test case, but this is the panic:

[code]

### What did you expect to see?

An error, or fixed code.

### What did you see instead?

panic'ed.

[2018-02-09 18:57] aclements commented on #23758
Right, I understand the differences between event-driven programming and FRP. What I don't understand is what this has to do with locking multiple goroutines to the same OS thread. This doesn't solve anything about thread safety and data races and more than, say, running a multi-threaded program on a single core CPU does. The goroutines can still context switch at any point, so you still need to p

[2018-02-09 19:10] shelby3 commented on #23758
Oh I didn’t contemplate that in the single-threaded case. I thought they only context switch when blocked or non-deterministically to balance load/starvation. Why would they context switch for no other reason when confined to switching within the same OS thread? Would they switch at non-deterministic points to prevent starvation of the other goroutines _in the same thread_?

So in the single-threa

[2018-02-09 19:11] bradfitz commented on #23705
Updates from research & chats with others.

This is a GKE issue. Apparently GKE 1.7 automatically reaped zombie processes like an init would, using a "pause container", but that was reverted in GKE 1.8 and hasn't been fixed in GKE 1.8 yet.

Some links:

https://news.ycombinator.com/item?id=14524253
https://github.com/kubernetes/kubernetes/issues/1615
https://github.com/krallin/tini
https://stackov

[2018-02-09 19:21] ianlancetaylor commented on #23762
We may need to see a test case in order to fix this.

CC @randall77 @griesemer

[2018-02-09 19:22] randall77 commented on #23762
Thanks for the report.  Looks like just a stupid bug on my part.

[2018-02-09 19:27] ianlancetaylor commented on #23758
Frankly it sounds like you are looking for a different language.

You could write what you want in Go by having a goroutine lock itself to a thread and then manage work queue, where the functions in the work queue decide when they want to yield.  But I really can't see changing Go to work in that model natively.

[2018-02-09 19:33] bradfitz commented on #23705
Deployed:

[code]

[2018-02-09 19:38] shelby3 commented on #23758
Maybe so, but could someone please explain why you want to handicap the use case of Go for UI programming?

There’s apparently been significant demand for transpiling Go to the browser for example, such that there’s already three such transpilers and apparently one or two WASM compilers in development.

You have this CSP goroutine model that could be much better than using `Promise` style cruft wh

[2018-02-09 19:38] aclements commented on #23758
This can happen for various reasons. The runtime preempts goroutines after 10--20ms just to maintain fairness and to eliminate some deadlock situations (for example, a goroutine looping on some shared state, waiting for another goroutine to change it; not that a busy wait like that is recommended). Preemption can also happen because of the GC, for example during STW or when the GC needs to scan a

[2018-02-09 19:48] #23762 closed

[2018-02-09 19:50] ianlancetaylor commented on #23758
I don't, but I also do not understand why the feature you are asking for is required for UI programming.  To me it sounds like you are asking for greater complexity--as you can from your reaction to my suggestion for how you could implement it today.  Any system that requires goroutines to explicitly yield is more complex and harder to program than the current system.

Speaking personally, I do no

[2018-02-09 19:52] rsc commented on #23749
What is -Wl,-framework for? If that's the Apple framework, it has an argument, so you'd probably want -Wl,-framework,foo. But if it's the Apple framework then -framework (no -Wl,) works just as well.

[2018-02-09 20:23] shelby3 commented on #23758
@aclements,

Ah yes makes sense, but if there’s no other way to achieve what I think is necessary, I would argue the programmer should be allowed to turn off that heuristic if his use case benefits more than the tradeoff of not having that heuristic. Yet see below…

But afaik that preemption doesn’t have any impact because it’s not preempting with another goroutine. The resumption could in theory

[2018-02-09 20:33] robpike commented on #8825
Closing as this is a Windows problem unrelated to Go.

[2018-02-09 20:33] #8825 closed

[2018-02-09 20:43] ianlancetaylor commented on #23758
Clearly you can do that by running code in a single goroutine.  So my current understanding is that you want goroutines that only switch to other goroutines on some sort of explicit yield.  In the absence of an explicit yield, you want that goroutine to continue running.  In particular, even if the goroutine blocks, say on a network call, you do not want other goroutines to run.

If that understan

[2018-02-09 20:57] paulzhol commented on #22942
@domodwyer I'm working on https://golang.org/cl/93156 as an alternative. The initial version is for a `kern.timercounter.hardware=TSC-low` though.

I wanted to note that the libc implementation does not differentiate between
_FAST and _PRECISE (the default if _FAST is not used).
They both will get the last available timehand provided by the kernel, and then proceed to read the timecounter to get t

[2018-02-09 21:08] shelby3 commented on #23758
No afaics we can’t get explicit opportunities for context switching in a single goroutine without JavaScruft-like promisicrufication, which I have already stated 3 or 4 times (with a link 2 or 3 times for more details) is an inferior paradigm (because for example it conflates control structure with the function construct, thus making functional programming non-composable and other issues).

I posi

[2018-02-09 21:28] shelby3 commented on #23758
@bcmills please justify your downvote. I haven’t seen your rebuttal to my response to you. I’m thinking perhaps you’re downvoting a proposal which you’ve misconstrued? Why so eager to rush to a conclusion about the merits? Do you know everything? If so, please correct me.

[2018-02-09 22:09] yurivict opened #23763 "cmd/compile: crash on freebsd/386"
No error message:
[code]

The easiest way to reproduce:
* Have FreeBSD i386 system
* cd /usr/ports/sysutils/nomad
* Comment out ONLY_FOR_ARCHS=        amd64
* make

[2018-02-09 22:12] bradfitz commented on #23763
You deleted the bug template so I have to ask some basic questions, like: which version of Go?

Which version of nomad? (which version is your ports at)

Which version of FreeBSD?

[2018-02-09 22:14] TocarIP commented on #17566
Another issue with inliner, is that cost of function with inlined call to some other function has higher cost than manual inlining. Consider following example:
[code]
It should be optimized into:
[code]
However after each inlining cost of new function is increased by 2, causing (with -m -m):
 ./foo.go:47:6: cannot inline f38: function too complex: cost 81 exceeds budget 80
This caused by inliner a

[2018-02-09 22:15] yurivict commented on #23763
Sorry:
* FreeBSD 10.3-RELEASE-p26 i386 (I suspect the same on other i386 versions)
* go-1.9.3,1
* nomad-0.7.1

[2018-02-09 22:22] davecheney commented on #23763
Does nomad compile successfully outside the ports system? Can you install it with the usual go get / go install dance (or however nether nomad docs instruct you to build it)

[2018-02-09 22:29] creker commented on #19814
The middle ground is indeed to have the ability to validate enum values without restricting them in what those values can be. Enum type pretty much stays the same - it's a bunch of named constants. Variable of enum type can be equal to any value of enum's underlying type. What you add on top of that is the ability to validate a value to see, does it contain a valid enum value or not. And there cou

[2018-02-09 22:30] bcmills commented on #23758
I think you have fundamentally misunderstood Go's concurrency idioms and design tradeoffs. I think this proposal would add an extreme amount of needless complexity to the language and runtime, in order to enable a code structure that goes directly against the maintainability goals that motivated the language in the first place.

[2018-02-09 22:31] ericlagergren commented on #23758
This is not productive, professional, nor polite.

For the record, the thumbs up and down are used to show support for an issue or a comment without "me too!" spam.

[2018-02-09 22:33] yurivict commented on #23763
I can't try this easily, I run port builds in a i386 virtual machine.

[2018-02-09 22:33] bradfitz commented on #23763
How notable is i386 in this bug report? Does it pass on amd64 but only fail on i386?

[2018-02-09 22:35] yurivict commented on #23763
Yes, amd64 passes and only i386 fails.

[2018-02-09 22:35] nigeltao commented on #22451
That's for @sbinet to answer. I don't have any time to work on this myself.

[2018-02-09 22:39] shelby3 commented on #23758
That’s a big claim, with no proof. Where’s the specific arguments?

Needless? Have you demonstrated how UI coding for example can be done any where near as well?

A code structure that would be entirely inapplicable to the original M:N focus of servers for Go. Now we’re  talking UI code and you’ve and afaics you have yet to catch on to the key distinctions and have entirely miscontrued (as I expec

[2018-02-09 22:44] bradfitz commented on #23763
If you can test it easily, what about 32-bit processes on 64-bit kernel?

That is, set `GOARCH=386` on an amd64 kernel and try to build it?

[2018-02-09 22:44] ianlancetaylor commented on #23758
This issue tracker is governed by the Go code of conduct, which you can read at https://golang.org/conduct.  Some of the comments here do not follow those guidelines.  Please take a breath and keep it civil.  Thanks.

[2018-02-09 22:46] ianlancetaylor commented on #23758
Because your proposal does not reduce the Go scheduler to be entirely single-threaded, I believe that it can not be implemented without the scheduler taking locks, as it normally does.  So I believe that there will inevitably be implicit locks.

Why is it important to you that this proposal be lockless?

[2018-02-09 22:49] yurivict commented on #23763
This crashes too.

[2018-02-09 22:57] cherrymui commented on #23763
I just tried `GOARCH=386 GOOS=freebsd go get -v github.com/hashicorp/nomad/nomad`, and it failed because `github.com/hashicorp/nomad/vendor/github.com/mitchellh/go-ps` doesn't build.

[code]

I think this is because it doesn't support freebsd/386: https://github.com/hashicorp/nomad/blob/master/vendor/github.com/mitchellh/go-ps/process_freebsd.go#L1, it is amd64 only.

I think the original error, `

[2018-02-09 22:57] ianlancetaylor commented on #23758
I want to clarify that this is not the case at present.  Currently when the compiler sees a call to some function `F` it has no idea whether `F` can block or not.  Whether a given function call may or may not block is not known anywhere.  Whether a given function call does in fact block in practice is only known at run time.

I don't think that matters for the proposal of always running a set of g

[2018-02-09 23:09] yurivict commented on #23763
These messages:
[code]
are missing the usual "error:" label so that they can't be easily detected.

[2018-02-09 23:10] yurivict commented on #23763
https://github.com/mitchellh/go-ps/issues/28

[2018-02-09 23:10] #23763 closed

[2018-02-09 23:42] shelby3 commented on #23758
Ty for sharing that datum. But even if that is an invariant that can’t/won’t ever be changed (and maybe rightly so), if [my point](https://github.com/golang/go/issues/23758#issuecomment-364554466) to @aclements about race conditions is incontrovertible then for implementing my FRP paradigm w.r.t. to events, we’d still need my proposal even if we can’t reason about which operations within a gorouti

[2018-02-09 23:51] as commented on #23758
That reflects on the lucidity and rigor of this proposal rather than the individuals who gave it a thumbs down. It's nice that you're excited about a new framework, but it would be more exciting to the rest of us if you attempt to explain what it is and what problem it solves in a manner that's relevant to Go (and your ultimate proposal) rather than claiming that it's important and subsequently li

[2018-02-09 23:54] shelby3 commented on #23758
Or one could argue it reflects equally on the way 5 year olds need to be spoon fed, as not being very efficient. I think we should ban links from the web. And force all research papers to stop writing their code examples in Haskell and write them in Go because Golanders refuse to be multilingual?

[2018-02-09 23:59] zeebo commented on #23758
I believe the discussion would be helped with a small code sample that demonstrates the deficiency, and how the proposal (using whatever API/syntax) would help fix it. That would help focus on the concrete details, and avoid confusion.

[2018-02-10 00:08] as commented on #23758
It is not efficient _for you_, but it is for the _audience_ of the proposal. Hence, it is globally optimal.

I can't tell if this is an addendum to the proposal or not.

[2018-02-10 00:13] davecheney commented on #23758
Time for everyone to cool off.

[2018-02-10 00:31] CAFxX commented on #18597
From my point of view, the goal of having a better inliner is to have more readable/maintainable (less "hand-optimized"), not really faster code.

[2018-02-10 00:32] ldemailly opened #23764 "proposal: Go 2: NoCopy: official support in compiler (not just vet linter)"
NoCopy official support in compiler (not just vet linter)

This is essentially a repeat of #8005 which got lost through FrozenDueToAge bot

(go versions not relevant - still an issue in go 1.9 and 1.10rc)

### What did you do?
I wrote code that has a channel in a struct and got copied accidentally and then closed twice resulting in panic

### What did you expect to see?
A way to detect accidental

[2018-02-10 00:43] bradfitz commented on #23764
Why don't I just reopen #8005 instead, which has much more context? Then we don't split the conversation.

[2018-02-10 00:45] bradfitz commented on #23764
Oh, nevermind. #8005 was closed intentionally. I thought the vet fix had closed it via a "Fixes #nnn" line.

What's different now? Why should this stay open if #8005 was already closed?

[2018-02-10 00:49] ldemailly commented on #23764
I would love #8005 to be reopened as far as I can tell there isn't a documented "NoCopy" (or comment tag) that exist and that the go compiler detects only the above workaround and the vet trick ?

[2018-02-10 00:54] ianlancetaylor commented on #23758
Just for the record, an example of a UI written in Go can be seen at golang.org/x/exp/shiny.

[2018-02-10 01:00] ianlancetaylor commented on #23764
As of 1.10 we run `go vet` for each use of `go test`, so it's not obvious to me that anything else is needed.

[2018-02-10 01:26] ldemailly commented on #23764
Good to know, thanks ! so we just need `noCopy` -> `NoCopy`
(and hopefully people would have tests to go test ;-) )

[2018-02-10 01:43] josharian commented on #22348
Does anything in https://groups.google.com/forum/#!topic/golang-dev/hRH25vzWYyA/discussion help?

Also, do any previous Go releases exhibit lower variances with the same setup?

[2018-02-10 02:40] FiloSottile commented on #13487
Yep, duplicate of #19972 and fixed by 0a1a65c.

[2018-02-10 02:40] #13487 closed

[2018-02-10 02:54] FiloSottile commented on #10692
Can't reproduce with `for i in $(seq 100); do go test -short crypto/x509; done`. Close?

[2018-02-10 02:55] FiloSottile commented on #8720
Fixed by 2a8c81f amongst others.

[2018-02-10 02:55] #8720 closed

[2018-02-10 03:01] bradfitz commented on #10692
@FiloSottile, on a Mac? Macs often have low ulimits. But yeah, we can close. It's been awhile.

[2018-02-10 03:18] FiloSottile commented on #10692
Yep on my Mac. `for i in $(seq 100); do go test -a -short std | grep '\tcrypto/x509\t'; done` is also 1-2s even with thermal throttling, closing.

[2018-02-10 03:18] #10692 closed

[2018-02-10 03:25] FiloSottile commented on #10692
OTOH that command triggered a kernel panic after a few iterations. Something about `com.apple.filesystems.apfs`, `com.apple.kec.corecrypto` and `link`. Exciting.

I'm reproducing it another day.

[2018-02-10 03:55] FiloSottile commented on #23747
For the same reason, I often wanted a io.Writer bound to the test output (and had to implement a bad one on top of T.Log). Sounds like that might be a better solution because it also avoids spurious newlines, and plugs right into log.SetOutput.

[2018-02-10 04:09] broady opened #23765 "x/build/maintner/maintnerd: allow serving logs locally"
Currently, maintnerd only serves on /logs if it's logging to GCS.

It doesn't look like this is for any particular reason except that the logs index hasn't been implemented for local filesystem?

[2018-02-10 04:50] alexbrainman commented on #8825
I am thinking the same.

I suspect so.

But before we give up on this, I will ask @jstarks - can you investigate what I described here https://github.com/golang/go/issues/8825#issuecomment-267250438 ? Where is the problem?

Thank you.

Alex

[2018-02-10 05:19] alexbrainman commented on #19410
I assume you are talking about cmd/dist/windows.c file. The cmd/dist command was used to bootstrap building of all other commands and libraries. So it was very limited in what it did, and no other code depended on it. Russ wrote the code, and he called uint16 characters that Windows uses to encode utf16 `Rune`
[code]
I don't see any problem calling Windows utf16 uint16 Rune in this small program (

[2018-02-10 08:08] vickyramachandra opened #23766 "x/mobile: Android gobindPlugin doesn't package *.so into the apk for the very first build"
### What version of Go are you using (`go version`)?
go1.8.1 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/user/goprojects"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/dar

[2018-02-10 08:16] calmh commented on #23749
With 1.10rc2, golang.org/x/net/internal/socket doesn't build any more for Solaris.

[code]

[2018-02-10 08:37] Merovius commented on #19814
It seems pretty simple to me, to provide this functionality as a tool. Part of it already exists in the stringer-tool. If there's a tool that you'd call like `enumer Foo`, which would generate `fmt.Stringer` methods for `Foo` and (say) a `Known() bool` method that checks if the stored value is in the range of known values, would that alleviate your problems?

[2018-02-10 11:01] as commented on #23745
Is there a chance this could inflate the number of open "issues" people see when they look at the repo?

[2018-02-10 11:28] romainmenke opened #23767 "mime: should application/x-javascript be changed to application/javascript ?"
https://github.com/golang/go/blob/829b64c1ead819bdf84d950581020c36f00cd02b/src/mime/type.go#L65

### What did you do?

Serve javascript files with go. The application runs in a docker container based on **golang:1-alpine**

What did you expect to see?

`Content-Type : application/javascript`

What did you see instead?

`Content-Type : application/x-javascript`

-------

Illustration did not fit in

[2018-02-10 11:53] ALTree commented on #23767
This is #7498, which is still open. There was a CL (https://codereview.appspot.com/73070043) but (from the old thread):

and then the discussion stalled and the change was not merged.

[2018-02-10 11:56] shelby3 commented on #6282
@griesmer wrote:

I only had 5 minutes to learn about this issue by perusing this thread, thus my very rushed thought is that perhaps the problem can be _in theory_ solved [with typeclasses](https://github.com/golang/go/issues/15292#issuecomment-359854050).

Essentially the [_3. Struct type_](https://github.com/golang/proposal/blob/master/design/6282-table-data.md#3-struct-type-1) is the most corr

[2018-02-10 11:57] ALTree commented on #23767
I've moved the old thread to the 1.11 milestone and tentatively labelled as "NeedsDecision" to give it a chance to be looked at in the near future. I guess you can comment in the old thread if you have any insights on why this would be a needed (and safe) change, to keep all the discussion in one place. I suggest we close this as a dup of #7498.

[2018-02-10 13:10] romainmenke commented on #23767
@ALTree Yes this can be closed as it is indeed a duplicate (search failed me, or overlooked it). Thank you for the fast response.

[2018-02-10 13:10] #23767 closed

[2018-02-10 13:53] creker commented on #19814
@Merovius in the absence of anything else it would be useful. But I'm generally against autogen. Only case where it's useful and just works is things like protobuf where you have pretty stable protocol that can be compiled once. Using it for enums in general feels like a crutch for a simplistic type system. And looking at how Go is all about type safety, that feels against the philosophy of the la

[2018-02-10 14:31] Merovius commented on #19814
Because it is - Go's type system is famously and intentionally simplistic. But that was not the question, the question was, if it would alleviate your problems. Apart from "I don't like it" I don't really see how it doesn't (if you assume open enums anyway).

Go is not "all about type safety". Languages like Idris are all about type safety. Go is about [large-scale engineering problems](https://ta

[2018-02-10 14:40] awoodbeck opened #23768 "text/scanner: add examples"
I recently worked with the text/scanner package and, although the documentation was straight forward, it could stand to use more [examples](https://golang.org/pkg/text/scanner/#pkg-examples).

I've been looking for opportunities to contribute to Go and I wouldn't mind working on improving the examples of the text/scanner package.  I would like to add examples detailing the use of white space modif

[2018-02-10 15:03] ALTree commented on #23768
- for package-level examples, I would go with high-level, broad, well commented examples that show how to use the `text/scanner` package to *accomplish* something. Like the ones you can see for the sort package under the `Overview` section here: https://golang.org/pkg/sort/

- for function-level example, I would go with small, ideally auto-contained snippets that show how to setup and call the fun

[2018-02-10 16:16] MalteJ commented on #19896
Argon2d is/will be used for proof of work in blockchains.
That's why it should be exposed by this library. Otherwise we will see modified copies of this code in the blockchain client repos!

[2018-02-10 16:21] MalteJ commented on #23602
Argon2d is/will be used for proof of work in blockchains.
That's why it should be exposed by this library. Otherwise we will see modified copies of this code in the blockchain client repos.

[2018-02-10 16:38] rasky commented on #23616
I would attempt a patch, but I think it needs decision first... @rsc?

[2018-02-10 16:49] rasky commented on #17271
I think that it would be a good time to revisit this proposal that was put on hold 15 months ago (/cc @bradfitz @rsc).

My experience hasn't changed much since I opened this proposal, and the default `GOPATH` hasn't helped a bit, as I was [describing in this comment](https://github.com/golang/go/issues/17271#issuecomment-250327512). Given also the new cache (that was created outside `GOPATH`, and

[2018-02-10 16:52] go-li opened #23769 "proposal: go2: allow semicolon (;) as a multiple case conditions separator"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.1 linux/amd64

### Does this issue reproduce with the latest release?
yes, with 1.10.beta1

### What operating system and processor architecture are you using (`go env`)?
any

### What did you do?
Develop a gofmt like utility, with custom ast format then realiz

[2018-02-10 17:20] ooxi commented on #23672
Compiling sources always involves trust in the sources to be compiled. You could attack the compiler itself (both clang and gcc do not claim to handle hostile input) or just embed malicious code in the executable to be compiled.

While arguments to cgo should be sanitized, I really think we should not encourage the believe that `go get` on untrusted sources is a secure operation.

[2018-02-10 19:25] namusyaka commented on #23071
If I can put my two cents in, I'd like to get small changes for adding template element correctly.

[2018-02-10 19:31] namusyaka opened #23770 "access: Trybot Access ("may-start-trybots")"
See https://golang.org/wiki/GerritAccess

----

Requested access: Trybot Access ("may-start-trybots") https://go-review.googlesource.com/#/admin/groups/1030,members

All my gardening issues: https://github.com/golang/go/issues?utf8=%E2%9C%93&q=is%3Aissue+commenter%3Anamusyaka+
All my participating CLs: https://go-review.googlesource.com/q/namusyaka%2540gmail.com

My gerrit name: Kunpei Sakai
My ge

[2018-02-10 20:36] ianlancetaylor commented on #23749
@piotrnar `CGO_LDFLAGS_ALLOW='.*\.a$'`

[2018-02-10 20:46] ianlancetaylor commented on #23769
Please show some examples of how code looks today and how it would look under your proposal.  Thanks.

[2018-02-10 20:52] ianlancetaylor commented on #23745
@as I don't think that needs to be a concern here.  There are currently over 3000 open issues; anybody making decisions on that basis is not going to be affected by this change.

[2018-02-10 21:11] cespare commented on #18943
I haven't made time to work on this again. I have a partially working version (somewhere, can't find the branch right now) but it wasn't anything special, just a few fairly obvious rules.

Please feel free to pick this up and send a CL.

[2018-02-10 21:24] jba opened #23771 "x/tools/go/ast/astutil: Apply: extraneous comma after replaced parameter"
Not sure if this is a bug in `astutil.Apply` or `format.Node`.
This function:
[code]
yields this output:
[code]
Note the comma at the end of the function param list.

Reparsing the result with a new FileSet and then re-formatting fixes the problem.

[2018-02-10 21:43] madiganz commented on #23239
windows/svc/mgr/recovery_config.go
[code]

[2018-02-10 22:01] dlsniper commented on #23745
Hi, here are my thoughts on this issue as a Gopher and Gophers Slack Admin.

I agree with Brad that it's pretty sad to reject people and turn them away from Github when they have a question. It would be nice if people could ask questions here and then drive pages like FAQ, or may lead to creating new ones.

However, currently as far as community goes, there are far less people active here, potenti

[2018-02-10 22:39] vuthithanhbinh1220 opened #23772 "x/build/cmd/gerritbot: <fill this in>"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org

[2018-02-10 22:40] davecheney commented on #23772
Spam

[2018-02-10 22:40] #23772 closed

[2018-02-10 22:43] ldemailly commented on #17522
I'm seeing this too - not sure I quite understand:

[code]

note it works fine without -u:
[code]
istio.io/fortio maps to github.com/istio/fortio
vendor in fortio is a submodule

ps: same with go 1.10rc2:
[code]

[2018-02-10 23:48] piotrnar commented on #23749
@ianlancetaylor, thank you!

that will do for me, but telling all the other people who use my project to do `CGO_LDFLAGS_ALLOW='.*\.a$'` for go 1.9.4 seems a bit dodgy.

hopefully there will be a better (out of the box) solution in the future.

[2018-02-11 00:35] ianlancetaylor commented on #23749
@piotrnar Yes, the point of this issue is to collect all the changes we need to make to the whitelist.  Certainly we will be whitelisting .a files.

[2018-02-11 00:49] jimmyfrasche opened #23774 "Proposal: a mechanism for {text,html}/template allowing template inheritance"
Many template languages offer a directive at the top of a template files to say which template to use as a "base". This does not fit the model of templates that Go uses.

Currently, template inheritance in Go requires the program executing the templates to clone or reparse the template files in order to allow a "base" template to provide alternate definitions of the required associated templates.

[2018-02-11 01:31] alexbrainman commented on #23649
The latest of gcc I have is version 5. How do I install 7.3.0 ?

Thank you

Alex

[2018-02-11 01:54] kardianos commented on #20277
This isn't really a concern to me. Unless you can show that this even shows up in a real or even stress test of a real program, I'm not inclined to change this part of the code in Go 1.

[2018-02-11 01:54] #20277 closed

[2018-02-11 01:57] madiganz commented on #23239
Sorry, I forgot to remove that from my document. I think that is a solid plan.

[2018-02-11 02:03] ldemailly commented on #17522
after fixing the vanity url to add something for vendor:
[code]
I now get
[code]

[2018-02-11 02:16] ldemailly commented on #17522
and with 1.10rc2, different error:
[code]

[2018-02-11 02:26] madiganz commented on #23239
Would you like me to add these changes to https://go-review.googlesource.com/c/sys/+/85316 or make a new one?

[2018-02-11 02:35] ldemailly commented on #17522
I tried adding a branch to my submodule but exact same error
[code]

[2018-02-11 05:21] alexbrainman commented on #23239
Whatever is easier for you.

Alex

[2018-02-11 05:56] alexbrainman commented on #23512
When I run "Docker for Windows" app, I get this message

![image](https://user-images.githubusercontent.com/9796621/36070272-8768e25c-0f4b-11e8-9b26-a4089f8430fd.png)

but I do not want to proceed, because I do use VirtualBox. I do not want to loose ability to run VirtualBox. What should I do?

Thank you.

Alex

[2018-02-11 06:05] benshi001 opened #23775 "The argument order of MULA/MADD like instructions"
The MULA like instructions perform x0*x1+x2 -> result. But the argument order varies
among different platforms. The addend comes third on arm32 for both integer MULA/MULS and
FP FMULA/FMULS. But on arm64,

1. The addend of integer MADD/MSUB comes second in both the assembler and disassembler.
2. The addend of FP FMADD/FMSUB comes first in the disassembler.
3. support of FP FMADD/FMSUB in the assem

[2018-02-11 06:21] as commented on #23512
It is specifically the hardware virtualization extensions that will not work; Hyper-V acquires them before Windows boots and Virtualbox can't use them anymore. This can be restored by disabling the hyper-v service in `services.msc`.

I happen to have Docker Enterprise on a W10 system and can attempt to reproduce it if that workaround isn't possible

![image](https://user-images.githubusercontent.c

[2018-02-11 07:00] alexbrainman commented on #23512
I discovered that much myself.

I will try https://cloud.google.com/compute/docs/containers/#docker_on_windows when I have time.

Alex

[2018-02-11 07:43] NDari commented on #22013
Reading through this discussion, I wanted to see for myself what everyone is talking about. So I wrote this code.

[code]

[link to playground](https://play.golang.org/p/sHsvARx_x4H)

I was not expecting the results of this. The fact the Bar.V is distinct from Bar.Foo.V was not clear to me: For example, calling Bar.Say() does not change the Bar.V. I was also surprised that the value of Bar.Foo.V w

[2018-02-11 07:54] ryysud opened #23776 "net/http: add 421 status codes into status.go"
The following HTTP status codes are registered in [the HTTP Status Code Registry](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml), but they are not defined in the net/http package ([status.go](https://github.com/golang/go/blob/master/src/net/http/status.go)) .

- 103 Early Hints [[RFC8297](https://tools.ietf.org/html/rfc8297)]
- 421 Misdirected Request [[RFC7540, Sectio

[2018-02-11 09:04] aviaoh commented on #23749
can you please add also `fstack-protector`?

thanks :)

[2018-02-11 10:16] odeke-em commented on #23776
Hello there @ryysud, thank you for raising this issue and welcome to Go!

Interesting, TIL. So from what I can quickly examine:
* 103 just got added in December 2017 and seems experimental https://tools.ietf.org/html/rfc8297
<img width="647" alt="screen shot 2018-02-11 at 1 58 20 am" src="https://user-images.githubusercontent.com/4898263/36072118-15dc8e94-0ecf-11e8-9204-20afcd5b02f8.png">

 * 421

[2018-02-11 10:56] go-li commented on #23769
# Fix A

The following program should be recognized and compiled. Notice how semicolon can optionally be used to separate multiple case conditions.

	package main

	import "math/rand"

	func main() {

		var thing interface{}

		switch rand.Intn(5) {
		case 0:
			thing = true

		case 1:

			thing = 9

		case 2; 3:
			thing = "hello"

		case 4:
			thing = 'x'
		}

		switch thing.(type) {
		case bool

[2018-02-11 11:01] davecheney commented on #23769
Why use a semicolon when comma to indicate a sequence or hyphen to indicate a range is already in common usage?

[2018-02-11 11:15] go-li commented on #23769
The optional use of semicolon would be used by machine go code generators who model go language using a simplified syntax tree. In such a simplified model, there is not really two groups of subnodes to the case clause (the conditions and the statements in body). There is only one group of subnodes and the position of colon is recorded in an integer (how many conditions there are). The case header

[2018-02-11 11:17] davecheney commented on #23769
If the code is machine generated, the existing syntax with fall through or repeated code blocks is sufficient.

[2018-02-11 11:33] go-li commented on #23769
I'm gonna prepare patch for fix B. To see how much impact this change has.

[2018-02-11 11:36] davecheney commented on #23769
Please don’t send code until this proposal has been reviewed, this usually occurs on mondays.

[2018-02-11 12:32] dominikh commented on #23769
Not to sound too blunt, but your argument sounds a lot like "let's make the language more complex so I can simplify my AST in a very minute way."

[2018-02-11 12:47] paulzhol opened #23777 "sync/atomic, runtime/internal/atomic: LoadUint32 SEGFAULTs on ARM when loading from read-only memory"
[code]
GOOS=linux GOARM=7 RPi3:
[code]

GOOS=freebsd GOARM=7 Allwiner A20:

[code]

The cause is the STREX instruction which attempts to write into a protected area used in the implementation of LoadUint32 (implemented with Xadd(&addr,0) ).
The motivation for using atomic.Load on a read-only address is explained [here](https://groups.google.com/d/topic/golang-dev/f3PS8hp4Jfs/discussion).

[2018-02-11 12:52] paulzhol opened #23778 "sync/atomic: FreeBSD/ARM Load* Store* implementations missing memory barriers"
https://github.com/golang/go/blob/829b64c1ead819bdf84d950581020c36f00cd02b/src/sync/atomic/asm_freebsd_arm.s#L58-L66

The runtime/internal/atomic version is using memory barriers correctly in the underlying armcas:
https://github.com/golang/go/blob/829b64c1ead819bdf84d950581020c36f00cd02b/src/runtime/internal/atomic/asm_arm.s#L21-L50

[2018-02-11 16:15] bradfitz commented on #23776
I'm fine adding 421. Let's wait on 103 until it's finalized.

[2018-02-11 16:16] ryysud opened #23779 "doc: An unnecessary comment exists in CONTRIBUTING.md"
The following unnecessary comment exists in CONTRIBUTING.md.

https://github.com/golang/go/blob/master/CONTRIBUTING.md

It has been removed in README.md, but it still exists in CONTRIBUTING.md.
https://go-review.googlesource.com/c/go/+/92995

[2018-02-11 16:17] bradfitz commented on #23777
/cc @aclements

[2018-02-11 16:17] bradfitz commented on #23777
/cc @aclements @randall77

[2018-02-11 16:30] ryysud commented on #23776
@odeke-em
Thank you for your investigation.

@bradfitz
Thank you for the review.
Should I remove 103 from the CL?

[2018-02-11 16:45] lokeshthathuru commented on #22507
i solved the issue by using the command prompt this error occured because
the application file is in the form of msi file format

On Tue, Oct 31, 2017 at 3:35 PM, Dave Cheney <notifications@github.com>
wrote:

[2018-02-11 16:45] lokeshthathuru commented on #22507
thank you for reply me

On Sun, Feb 11, 2018 at 10:15 PM, sai lokesh <sailokesh776@gmail.com> wrote:

[2018-02-11 16:53] meirf commented on #23776
FWIW there is some discussion of 421 in https://github.com/golang/go/issues/18341.

[2018-02-11 17:04] randall77 commented on #23777
Any reason we're not just doing a load followed by a DMB?

[2018-02-11 17:23] paulzhol commented on #23777
Could it be due to ARMv6 / ARMv7 support? DMB is only available on ARMv7.
Although I've seen FreeBSD use this:
`#define dmb()  __asm __volatile("mcr p15, 0, %0, c7, c10, 5" : : "r" (0) : "memory")` for ARMv6.
Also the armcas already does check runtime·goarm(SB) before issuing DMB.

[2018-02-11 18:09] ianlancetaylor commented on #23778
CC @cherrymui

[2018-02-11 18:18] ianlancetaylor commented on #23769
Your fix B sounds like a compiler optimization.  That sounds like a good idea and does not need to go through the proposal process.

Your fix A sounds like changing the language to permit a semicolon where we already permit a comma.  I can't see any reason to change the language like that.  It certainly needs a much better justification than is given above.

[2018-02-11 18:19] dotaheor opened #23780 "cmd/compile: compiler crashes on programs with 1<<30 array key"
### What version of Go are you using (`go version`)?

go version go1.9.3 **linux/amd64**

### Does this issue reproduce with the latest release?

yes

### What did you do?

a.go:
[code]

go build a.go

### What did you expect to see?

produce a binary in one second.

### What did you see instead?

computer becomes lagging, almost hanging.
I must press CTRL-C for several times to stop the building.

[2018-02-11 18:28] dotaheor opened #23781 "cmd/compile: imperfect error message for too large index in slice composite literal"
### What version of Go are you using (`go version`)?

go version go1.9.3 linux/amd64

### Does this issue reproduce with the latest release?

yes

### What did you do?

[code]

### What did you expect to see?

compile ok, or with error
[code]

### What did you see instead?

fail to compile, with error
[code]

From Go spec. (in array and slice literals)
[code]

`1 << 31` is representable by a value

[2018-02-11 18:43] cznic commented on #23780
I can reproduce the issue with `go version go1.9.3 linux/amd64` when replacing the final `}}` with `}` to make the code syntactically valid.

[2018-02-11 18:57] dotaheor commented on #23780
The hang may be caused by my computer (8G memory) has not enough memory.

If I change the slice element type to `byte`, it fails to compile with the following error:
[code]

[2018-02-11 19:00] agnivade commented on #23780
You are trying to create a slice of 1073741824 integers. Which would mean you are trying to get 1073741824 * 8 bytes = 8TB of memory approximately.

[2018-02-11 19:08] grillz commented on #23710
@mvdan thank you for repurposing this into a proposal. As I've stated before, I opened this as an issue because I'm not clear why this _wouldn't_ be the case. I was hoping for an "ah-ha" moment as to the logic behind it, but am still not clear on what that is. I'm also unclear on what complexity this brings to the language. I'll try and restate the benefits:

"-" is a very common separator in keys

[2018-02-11 19:15] dotaheor commented on #23780
Yes. But I think the hang should occur at run time, instead of compile time.

[2018-02-11 19:15] dotaheor commented on #23781
And this:
[code]

[2018-02-11 19:24] ALTree commented on #23781
This happens because the `smallinstconst` function in `const.go` has the following code:

[code]

The key you used fails the last check (`vi.Cmp(maxintval[TINT32]) > 0`) because `maxintval[TINT32]` is `0x7fffffff` which is smaller than `1<<31`, so the function returns `-1` to signal a key error.

The problem here is that AFAIK we can't just easily remove the check above, because there are several

[2018-02-11 19:32] andlabs commented on #18517
Would it still be possible to submit changes directly to Gerrit?

[2018-02-11 19:33] ALTree commented on #23781
I guess we could change `smallinstconst` to better signal the kind of errors it encounters, and make the callers actually check before returning a `must be positive` error. We could add a second error that says "too big".

I'll send a patch for 1.11 if this sounds good.

[2018-02-11 19:33] davecheney commented on #18517
Yes.

[2018-02-11 19:36] andlabs commented on #18517
Good; thanks. (I'm not opposed to GitHub PRs at all; I am a bit uncomfortable with having to have a forked repository linger in your repo list, though, but that may just be me not knowing everything about git or GitHub to know why the current system they have is better than just sending over a patch file. That being said, I plan on patching Go from my work computer(s) instead of from my home compu

[2018-02-11 19:40] ALTree commented on #23780
The second issue you reported (the fact that with `byte` the compiler just prints

[code]
) looks more serious.

I suspect it would do the same thing with `int64` on a machine with enough memory.

[2018-02-11 19:46] ALTree commented on #23780
I changed the issue title to highlight the actual crash you reported here, since I believe is more interesting that your machine getting slow on the `int64` array.

[2018-02-11 20:02] agnivade commented on #23780
I think it is to do with the way the slice is being initialized. `[]int{k:1}` creates a slice of 0,0,...1. But if you change the code to `make([]int, k)` everything works fine. Frankly, I have never seen syntax like this - `[]int{k:1}`.

[2018-02-11 20:42] #23779 closed

[2018-02-11 20:51] bradfitz commented on #23769
Sorry, for the reasons given above, this isn't the sort of language change that's going to happen.

We don't want to complicate the language and add multiple ways of doing something just to simplify a particular code generator.

[2018-02-11 20:51] #23769 closed

[2018-02-11 20:52] m4ns0ur commented on #14074
Just sent a CL to return `n, err` instead of `0, err`.
[Documentation](https://golang.org/pkg/net/#PacketConn) already mentioned `It returns the number of bytes copied into b`. Do we need to add more details in documentation?

[2018-02-11 20:53] bradfitz commented on #23776
Yes.

[2018-02-11 21:33] eikenb opened #23782 "x/tools/imports: consider exporting fixImports"
This is a 3 character change that  would make this module much more useful for people working on custom formatting solutions. Without this you need to format the code and then re-parse it to get the ast with the fixed imports which is very inefficient.

### What version of Go are you using (`go version`)?
1.9/tip

### Does this issue reproduce with the latest release?
Yes.

### What operating syst

[2018-02-11 22:42] dlsniper commented on #23745
Another thing to consider is that currently the issue tracker itself doesn't really like ` me too ` comments, see: https://github.com/golang/go/issues/19282#issuecomment-284068814 as an example. Part of opening up the tracker to generic Go issues will be dealing with those nonsensical comments (or people randomly commenting on closed issues with ` me too ` and so on.

This would create too much no

[2018-02-11 22:51] andybons opened #23783 "doc: update contribute.html to account for GitHub PRs"
We accept GitHub PRs now (in that they are imported into Gerrit).

Account for this in the Contributing document: https://golang.org/doc/contribute.html

[2018-02-11 22:53] andybons commented on #18517
Filed golang/go#23783 to further update documentation.

[2018-02-11 23:42] awoodbeck commented on #23768
Is it most appropriate to post examples here for discussion before opening a CL?

[2018-02-11 23:52] andybons commented on #23768
You should just open a CL.

Generally we ask that people don’t send code reviews until it’s agreed upon that a proposal should be implemented (adding a new package, changing something non-trivial). For documentation changes like adding examples, it’s reasonable to simply send out the code review and have a discussion there.

[2018-02-12 00:03] Invizory opened #23784 "build: misc/cgo/testcshared failure"
### What version of Go are you using (`go version`)?

I'm using `go version go1.9.4 linux/amd64` to build the sources from the latest `master`, i.e. `go version devel +829b64c1ea linux/amd64`.

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

### What did you expect to

[2018-02-12 01:07] as commented on #23745
The current search defaults are `is:issue is:open`:

`is:issue` distinguishes pull requests et. al, from `issues`.
`is:open` filters on open issues

Is a question an issue?
If a question is answered, is it closed?
If it's closed, would we instruct users to clear the search tag `is:open` to search for questions that have already been answered before asking a new one?

[2018-02-12 01:29] benshi001 commented on #23775
For the compatibility and least change,
1. keep arm32 unchanged, all addends comes thirds
2. unify arm64's addends coming second (needs changing the disassembler).

[2018-02-12 04:37] bradfitz commented on #23782
FWIW, the cost of this change isn't measured in characters or lines modified. It's a question of how much ongoing maintenance cost there is keeping this a stable interface for people to use long-term and whether that's even the API we want people using.

[2018-02-12 04:43] bradfitz commented on #23745
A middle ground might be agreeing on a template text we all use saying something like:

Notably:

* it tells them there are better forums
* doesn't immediately close their issue
* still lets people help for a bit

I'm still not sure what the best answer here is. I'm still spitballing.

[2018-02-12 04:49] namusyaka commented on #23071
I'm working to incorporate template insertion mode into this implementation.

[2018-02-12 05:06] ianlancetaylor commented on #23784
That test runs these commands from the misc/cgo/testcshared directory:

[code]

(Running those commands will leave the files `libgo2.so` and `testp2` behind, you'll want to clean them up.)

Can you confirm that running those commands by themselves demonstrates the same failure.

[2018-02-12 05:08] ianlancetaylor commented on #23784
It's possible that the test will run the wrong version of `go`; which `go` command is first on your `PATH`?

[2018-02-12 06:02] ryysud commented on #23776
@bradfitz I removed 103 from the CL.

[2018-02-12 06:50] hydroflame opened #23785 "Support MTC"
With Elon Musk reaching mars soon, the `time` package should offer coordinates mars time support

[2018-02-12 07:26] Invizory commented on #23784
@ianlancetaylor,

[code]

This version is taken from [`ppa:gophers/archive`](https://github.com/golang/go/wiki/Ubuntu).

Yes, it gives:

[code]

See also [`strace` output](https://gist.github.com/Invizory/3fc3ed652de7f223289a157fb4a57f41).

[2018-02-12 07:29] eikenb commented on #23782
I understand the trade-offs and for my case think it is worth it (obviously). It seems like it follows in the spirit of the module, just at a lower level and the API for that function is very direct to work with when dealing with ASTs. Thank you for considering it.

[2018-02-12 07:30] eikenb commented on #23782
If deemed a good change I'll be happy to submit a pull request with the change to help things along. I plan on maintaining this as a fork in the meantime, so I'll have it ready. Thanks again.

[2018-02-12 08:02] F21 opened #23786 "Unintuitive behavior when using -coverpkg"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.10 RC2

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
Windows 10 64-bit (latest release + updates)

### What did you do?
Code is available here: https://github.com/F21/coverpkgtest.gi

[2018-02-12 08:57] ALTree commented on #23785
According to wikipedia,

so it seems it is far from being a recognized standard. Let's postpone the discussion about adding Mars time support to the `time` pacakge until a standardized way to handle martian time-zones emerges.

[2018-02-12 08:57] #23785 closed

[2018-02-12 09:33] scisci commented on #17200
hi @mattetti what was the workaround you used? I just ran into this problem. My VST crashes when it loads as a plugin:
[code]

[2018-02-12 09:45] frepe360 opened #23787 "runtime: hello world segfaults on broadcom 7439 chipset"
### What version of Go are you using (`go version`)?
go version go1.9.4 linux/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/frper/go"
GORACE=""
GOROOT="/home/frper/Downloads/go"
GOTOOLDIR="/home/frper/Dow

[2018-02-12 09:47] ALTree commented on #18162
@wengerxin No, apparently. Softfloat for mips64 is issue #14635, which is still open.

[2018-02-12 09:48] cznic commented on #23780
FTR: `foo := []T{n:1}` makes foo with `n+1` elements in contrast to `foo := make([]t, n)`.

Note to the compiler guys: I guess the compiler tries to be nice wrt to initialization time and puts the images for composite literals in the text and/or data segments - triggering this issue. If that's the case I think the solution would be to detect when the composite literal is very sparse/mostly zero-va

[2018-02-12 09:56] CaptainDero opened #23788 "Random golang memory corruption on all supported architectures."
### What version of Go are you using (`go version`)?
go version go1.9.2 linux/amd64
go 1.10 rc1

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/tmp/godero2"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/loca

[2018-02-12 09:59] ALTree commented on #23787
Can you try cross-compiling with the correct `GOARM` value?

[code]

the doc says:

Stress on

[2018-02-12 09:59] CaptainDero commented on #15658
Most probably this is the reason : https://github.com/golang/go/issues/23788

[2018-02-12 09:59] davecheney commented on #23788
This looks like memory corruption. Have you tried running your program under the race detector? See https://blog.golang.org/race-detector .

[2018-02-12 10:00] frepe360 commented on #23787
I have done that, the result is the same.

[2018-02-12 10:03] CaptainDero commented on #23788
If a compiler is using undeclared variable ,the bug does not fall in category of memory corruption. In this case compiler is using undeclared variable and thus the code should not even compile.

[2018-02-12 10:04] davecheney commented on #23788
Can you please provide small self contained example of the compiler using an undeclared variable.  Thanks.

[2018-02-12 10:08] danmux commented on #5958
You can 'manually' send a ping frame - what is worse tho is that whether the remote side sends a pong in response or not, makes no difference - it is discarded, with no api to allow the client code to respond to a dead client.

I suspect the intention of `x/net/websocket` would be to defer to the underlying net timeout mechanism, but provides no mechanism to extend the read deadline on a good fram

[2018-02-12 10:11] CaptainDero commented on #23788
I would have already submitted here but Its not easy to create a simple test case for this case.

[2018-02-12 10:13] ALTree commented on #23787
Thanks for trying. Any chance you could test this with the 1.10 release candidate? https://godoc.org/golang.org/x/build/version/go1.10rc1

[2018-02-12 10:19] davecheney commented on #23788
I don’t understand what you mean by an undeclared variable. Could you possibly write a small program in the playground to show this, it doesn’t need to reproduce the bug your demonstrated here.

Can you also try passing -gcflags=“-l -N” to disable optimisations and see if that affects the outcome.

[2018-02-12 10:20] frepe360 commented on #23787
With go1.10rc1, it segfaults with an even shorter backtrace:

[code]

On the raspberry pi, it still works fine.

[2018-02-12 10:21] ALTree commented on #23788
The race detector barks at your project. I'm using `$ go run -race main.go` at  `derosuite/cmd/derod`.

[code]

and several others.

[2018-02-12 10:35] ALTree commented on #23788
It is also not true that the compiler is using undeclared variables. You wrote in the comment you linked:

If you comment [line 179 here](https://github.com/deroproject/derosuite/blob/995d27eec249c7b3d908ebcf28af1449184c6cbf/crypto/ringct/mlsag.go#L179), the code in the second loop, at [line 195](https://github.com/deroproject/derosuite/blob/995d27eec249c7b3d908ebcf28af1449184c6cbf/crypto/ringct/m

[2018-02-12 10:36] timakin opened #23789 "proposal: add uuid generator to stdlib"
Currently we generate uuid/guid with external packages or original implementations using crypto/rand etc...
And in some cases you use other languages' library...
As I argued on golang-nuts, I propose to implement the generator as a standard package.
https://groups.google.com/forum/#!topic/golang-nuts/J_htXsnVjdY

RFC4122 defines the specification of UUID representation.
And at first, how's to supp

[2018-02-12 10:44] CaptainDero commented on #23788
Thanks for pointing out the mistake.

[2018-02-12 10:44] #23788 closed

[2018-02-12 10:52] ALTree commented on #23787
cc @aclements @cherrymui

[2018-02-12 10:52] awoodbeck commented on #23542
Any opinion on my last example?  I will submit it as a CL if it's received better than the current example.

[2018-02-12 10:55] gbbr opened #23790 "spec: type alias identity unclear"
In the "Type Alias" [proposal](https://github.com/golang/proposal/blob/master/design/18130-type-alias.md#proposal) by Russ Cox & Robert Griesemer it is specified that:

Given the above, I think that this should be made more obvious within the spec in either the [_Type Identity_](https://golang.org/ref/spec#Type_identity) section or the [_Type Declarations_](https://golang.org/ref/spec#Type_declara

[2018-02-12 12:48] mkevac commented on #23749
Whitelist `-static-libstdc++` please.

[2018-02-12 12:51] urandom commented on #23637
Just wanted to add another quick anecdote. I recently saw this committed by a colleague of mine, a seasoned developer:
[code]
Obviously this wasn't tested at runtime, but its clear that even the best of us can overlook the syntax, especially since were are used to catching 'syntax' errors at compile time.

[2018-02-12 13:19] rsc opened #23791 "cmd/go: help list not ordered correctly"
"go help" shows a list of commands that follows the list in the source code.
The one in the source code is meant to be kept sorted.
Clearly it is not: "go bug" appears between "go env" and "go fix"
in the "go help" output. We should fix that.

[2018-02-12 13:46] oliwer commented on #23689
(Here)[https://github.com/golang/go/blob/c52e27e68dca0b6d3fb9f9442cfee8efcbca557e/src/net/http/server.go#L1744], instead of just returning, we could send "HTTP/1.1 400 TLS Handshake failed" and close the connection. Is there a downside to this?

[2018-02-12 13:51] kardianos commented on #22544
@rsc I think there is value in this proposal. I have two proposals for this. I lean to the first one, but that would require an interface assertion for each value which may be expensive, but it would remove the type assertions for the src that convertAssign does anyway because the src.Scan will knows its own type.

## Define an interface for value sources to be scanned from

Right now a user may p

[2018-02-12 13:59] alanconway commented on #18696
According to https://gcc.gnu.org/bugzilla/show_bug.cgi?id=79122#c2 gccgo doesn't support the -race option at all, so it is expected that -race won't work with gccgo. The issue on gcc.gnu.org is still open in hopes that someone will improve the error reporting to make this more clear.

[2018-02-12 13:59] #18696 closed

[2018-02-12 14:17] rasky commented on #23789
The bar for inclusion in the standard library is very high:
https://golang.org/doc/faq#x_in_std

and it kind of work backwards: first you need working, stable code and then submit a proposal for inclusion. Criterias are also not very clear at the moment, unfortunately.

Do you have some specific existing library that you want to propose for inclusion? I see there are already a few out there.

[2018-02-12 14:30] ypujante commented on #17200
@scisci the workaround is to patch the go source code itself unfortunately (and create your own build of it) which is not sustainable as it will require to do that with every version of go. This is what @mattetti did: https://gist.github.com/mattetti/857bc651115096c921121be464d4669f. I didn't try it myself as I do not want to rely on a hack. I am very disappointed as I wanted to not have to deal w

[2018-02-12 15:03] crewjam commented on #23749
The package [https://github.com/flynn/hid](github.com/flynn/hid) fails to build with 1.9.4 due to passing `-fconstant-cfstrings` via LDFLAGS on darwin.

[2018-02-12 15:09] cherrymui commented on #23787
On Linux/ARM, we use the atomic operations provided by the kernel. 0xffff0fc0
 is the kernel entry point (https://github.com/torvalds/linux/blob/master/arch/arm/kernel/entry-armv.S#L941). What version of the kernel are you running? Maybe the kernel you're running does not support this? (I don't what config option controls this. I'll look it up.)

[2018-02-12 15:09] bradfitz commented on #23789
I thought this had come up in the past, but I at least can't find it on the issue tracker. Maybe it was the mailing list. But I'm pretty sure it was rejected previously. I'll keep this open, though.

[2018-02-12 15:12] cherrymui commented on #23787
Seems `CONFIG_KUSER_HELPERS`?

[2018-02-12 15:16] frepe360 commented on #23787
I am using linux kernel version 3.14.28. It seems to have the 0xffff0fc0 entry point in arch/arm/kernel/entry-armv.S:

[code]

My kernel config does not have CONFIG_KUSER_HELPERS at all, "zcat config.gz |grep CONFIG_KUSER_HELPERS" returns nothing.

[2018-02-12 15:21] frepe360 commented on #23787
Sorry, obviously CONFIG_KUSER_HELPERS is there, but it does not seem to be enabled.

[2018-02-12 15:21] tenortim commented on #14327
I've made some more headway on this, but we're still crashing, just further along...
Disregarding the crash for a moment, the underlying reason for the previous failure (at least building from Go source from early February 2018) is because setsigstack() in runtime/os_freebsd.go is a stub throwing an error. It's easy enough to fill out this function (similarly to Linux except the flag name is _SA_O

[2018-02-12 15:23] cherrymui commented on #23787
@frepe360 yeah, I think `CONFIG_KUSER_HELPERS` is the reason. Would you be able to rebuild the kernel with this option enabled?

It might be better for Go to support machines without CONFIG_KUSER_HELPERS. I'll open a separate issue.

[2018-02-12 15:24] frepe360 commented on #23787
Yes, I will try this, thank you.

[2018-02-12 15:40] cherrymui opened #23792 "runtime/internal/atomic: on Linux/ARM, support kernel without CONFIG_KUSER_HELPERS?"
On Linux/ARM, we use the atomic operations provided by the kernel. (https://github.com/torvalds/linux/blob/master/arch/arm/kernel/entry-armv.S#L941)
This can be configured with `CONFIG_KUSER_HELPERS` in the kernel. On some machine, this option may not be enabled.

Should we support machines without this option enabled? Maybe only on GOARM=7, where the machine has atomic instructions? And keep rely

[2018-02-12 15:51] cherrymui commented on #18162
@wengerxin Soft float on MIPS64 are not officially supported. However, the functionality are all there. You are welcomed to try it, by setting `GO_GCFLAGS="-d softfloat"` on bootstrap and setting `-gcflags=all="-d softfloat"` on `go build`. (This is not tested though.)

[2018-02-12 15:53] lkzcover commented on #9519
@sophos this works for XML-tags, but do not work for XML-attributes

[2018-02-12 16:16] frepe360 commented on #23787
@cherrymui I can verify your assumption; I have now enabled CONFIG_KUSER_HELPERS=y and all of the binaries above now run as they should.

Thank you for your help.

[2018-02-12 16:24] ALTree opened #23793 "x/build/cmd/gitmirror: tour github mirror not updating"
I was waiting for the gopherbot to close a tour issue I fixed, but
I noticed that it isn't happening because the tour github mirror is
not updating. I see my commit here:

https://go.googlesource.com/tour/

(it was merged two days ago), but it's not on github:

https://github.com/golang/tour

cc @andybons

[2018-02-12 16:29] mvdan commented on #23789
Have the x repos been considered for such a package, instead of the standard library?

[2018-02-12 16:37] bcmills commented on #20491
@cstockton I'm looking at your example, but there's a detail that I don't understand: why is mu passed in to `NewPartitionLocker` explicitly? (Is that important to your use case? If so, why?)

[2018-02-12 16:47] tenortim commented on #14327
Lots of learning. So, of course, %fs (fs_base) is different for each thread (something I didn't immediately consider). So the "modifed" fs_base is nothing of the sort. The fs register for the initial thread is the same and the tcb values are unchanged. When the second thread is created, initially, the tcb values there are also OK, but the first one gets smashed/overwritten by runtime/asm_amd64.s:2

[2018-02-12 16:47] josharian commented on #23542
On m phone, but: it is nice for examples to be copy-paste friendly. In particular, having a line that reads:

file, sir := path.Split(x)

with useful mnemonic variable names seems valuable. And then we could avoid nested fmt calls and a code golf flavor.

[2018-02-12 16:48] maurice2k commented on #21900
It's actually sad such a PR was accepted in the first place @`VerifyPeerCertificate`. But I understand the compatibility promise.

The following snippet is a sample implementation of `DialTLS` which then uses a closure for `VerifyPeerCertificate` as you suggested. @titanous

It could have been easier if Transport would break up its `dialConn` method into smaller chunks that are publicly callable s

[2018-02-12 16:50] tenortim commented on #14327
gdb evidence:
[code]

[2018-02-12 16:52] scisci commented on #17200
hey @ypugante that worked! Thanks for the quick response you saved this project for me.

[2018-02-12 16:53] bcmills commented on #20491
Actually, there's another detail I'm missing too: in `Unlock`, why call `Broadcast` instead of `Signal`? (Presumably that's because you have to ensure that the waiter for the unlocked ID wakes up, rather than a waiter for some other ID?)

At any rate, if the number of IDs is small and fixed it seems much clearer to use a long-lived channel per ID:
https://play.golang.org/p/A5lFoZjIn7K

If the numb

[2018-02-12 16:55] mattetti commented on #17200
Please, please, please don't use my hack. I didn't publish it because it's
absolutely not safe and you will randomly hit the same issue.

On Mon, Feb 12, 2018 at 8:53 AM SciSci <notifications@github.com> wrote:

[2018-02-12 17:01] scisci commented on #17200
hey @mattetti, this is only for an internal tool I'm making for myself, so an occasional crash is better than the thing never working. Have you discovered any safer ways of getting around this bug?

[2018-02-12 17:06] domodwyer commented on #22942
Hi @paulzhol

Using vdso and skipping the syscall entirely sounds like a great idea - if you'd like us to run a comparison when you're ready just let us know. I would expect similar gains with HPET as the source as you say, though I think we could probably use `TSC-low` in the Go components without any problem.

Dom

[2018-02-12 17:14] bcmills commented on #23778
I'm probably missing something, but why do we have so many `GOOS` variations for `atomic.{Load,Store}Uint32` in the first place?

(I understand why we have one for Linux (because it provides a built-in implementation), but why shouldn't the fallback implementation be the same for every other OS?)

[2018-02-12 17:17] eliasnaur opened #23795 "x/build: Android emulator builders sometimes fail with: go_android_exec: no exit code: """
For example:

https://build.golang.org/log/f8a11e4d226addf61b7bb461663e63e34b699783 (android/amd64)
https://build.golang.org/log/a30de87209a4b63ed9fc511199bfcbe2aade16e9 (android/386)

I seems to be a bug in adb. I reported it here:

https://issuetracker.google.com/issues/73230216

[2018-02-12 17:21] bcmills commented on #23764
Moving this check into the compiler would address a fairly important real-world use-case I have, for ensuring that Go wrappers of C++ classes are not copied in Go.

Building a project that mixes Go and C++ code build from source in the same binary requires the use of a build tool other than just the `go` tool, which complicates any safety assumption that relies on that tool. (Specifically, `go vet

[2018-02-12 17:21] bcmills commented on #23764
(CC @alandonovan)

[2018-02-12 17:27] josharian commented on #23764
Naive question: could cgo do that work?

[2018-02-12 17:45] ianlancetaylor opened #23796 "proposal: Go 2: allow interface types to match fields as well as methods"
I'm opening this issue as a place to record this idea, which has come up several times.  I'm not personally in favor of this proposal.  An example of an earlier discussion: https://groups.google.com/d/msg/golang-nuts/ZJ5DEv_36S8/opZ__-l6XxAJ .

The proposal: allow interface types to list fields, with types, as well as methods.  An interface type that lists a field may only be implemented by a stru

[2018-02-12 17:50] bcmills commented on #23764
cgo can do some of the work, but there's a big gap between that and “build C++ dependencies from source”.

The mixing-Go-with-C++ use case is just a concrete example. The more general problem is the assumption that `vet` works for verifying global properties of a program. It's great for strictly local properties, but anything more than that relies on assumptions about the build system that don't a

[2018-02-12 17:57] nathanwilk7 commented on #23791
Fixed in https://go-review.googlesource.com/c/go/+/93416 and submitted for review.

Changed order of elements in base.Commands in main.go so that output is alphabetical.

This is my first PR for go, any feedback is appreciated, thanks.

[2018-02-12 18:03] jimmyfrasche commented on #23796
For getters, it would suffice to allow explicit conversion to a struct type with fewer fields, like
[code]

[2018-02-12 18:19] tescherm commented on #23512
@alexbrainman the link above should work on Windows Server 2016, without the need to disable Virtualbox.

[2018-02-12 18:22] griesemer commented on #23796
For the record: This idea has been discussed in the very early days of Go (the first months). I am not a fan as it destroys the notion of an interface being an abstract type which doesn't imply a specific implementation.

This could be finessed by defining that an "interface field" is simply syntactic sugar for setter and getter methods. But at that point, the problem is not about interfaces anymo

[2018-02-12 18:27] ianlancetaylor commented on #23796
@jimmyfrasche Sounds like `MOVE CORRESPONDING` in COBOL (I have in fact written actual COBOL programs).

[2018-02-12 18:42] siebenmann opened #23797 "cmd/go: list reports packages as stale immediately after their "go get""
### What version of Go are you using (`go version`)?

``go version devel +c52e27e68d Sun Feb 11 20:41:48 2018 +0000 linux/amd64``

### Does this issue reproduce with the latest release?

This doesn't happen on Go 1.9.4.

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Here is a simple reproduction, showing a just fetched and built comma

[2018-02-12 19:01] ypujante commented on #17200
I agree with @mattetti that this hack should not be used for production and I certainly would not recommend anybody using it for this purpose. That being said for an internal tool, I guess it's ok but prepare yourself for random problems...

I do hope too that the go team fixes this original problem as more and more people are having the same idea (writing VST plugins in a language that doesn't su

[2018-02-12 19:24] griesemer commented on #23790
@gbbr Can you be a bit more precise about what you are looking for? The Alias declaration sub-section seems pretty clear; there's even an example that emphasizes (with a comment) that the alias and the literal type on the right of the alias declaration are identical.

[2018-02-12 19:28] YijinLiu commented on #23672
Please add these linker flags to the white list
-Wl,-Bstatic
-Wl,-Bdynamic
-Wl,--start-group
-Wl,--end-group

[2018-02-12 19:34] ianlancetaylor commented on #23784
Thanks for the strace output.  That was going to be my next question.  But what we need is actually the output from `strace -f`.  Can you show that?  Thanks.

[2018-02-12 19:40] adamdecaf commented on #23672
@YijinLiu Can you add those to https://github.com/golang/go/issues/23749?

[2018-02-12 19:42] griesemer commented on #23781
FWIW, both go/types and gccgo accept this code w/o problems. gccgo can also run it (again w/o problems).

[2018-02-12 19:42] tenortim commented on #14327
##### ../misc/cgo/testcshared
PASS

Needed to emit the 2-instruction versions of the TLS access calls when building shared. Fortunately, it's identical to Linux so I just needed to add the cases. I'll be preparing a PR for the changes.
Here's the additional diff:
[code]

[2018-02-12 19:47] pciet commented on #23796
I’d try to use this for additional type expressiveness by composition via embedding.

Without a real-world example I’m having a tough time seeing the tradeoffs. The thread mentions http.ResponseWriter’s Header method which seems like a clear win in code simplicity with this.

[2018-02-12 19:49] davecheney commented on #23796
Modelling an interface field as a getter and setter undermines the notion of interfaces describing abstract behaviour. Getter and setters are not behaviours, they are state.

[2018-02-12 19:54] go101 commented on #23734
Same for delete
[code]

[2018-02-12 19:56] ianlancetaylor commented on #23796
@pciet Lack of a real-world example is a fair complaint.  By the nature of the proposal, real-word examples are somewhat complex.  They arise, for example, when using many different protocol buffer types in proto3.  Often several different protocol buffer types will have the same field name with the same type, because they represent the same concept.  However, there is no struct embedding going on

[2018-02-12 20:04] YijinLiu commented on #23749
Please add these linker flags to the white list
-Wl,-Bstatic
-Wl,-Bdynamic
-Wl,--start-group
-Wl,--end-group

[2018-02-12 20:08] nightlyone commented on #23749
Honestly: At this point a blacklist of bad options seems more useful than such an extensive whitelist to me.

[2018-02-12 20:23] ianlancetaylor commented on #23749
Going forward, a blacklist would mean that if some new potentially-insecure compiler option were introduced, all Go releases would become vulnerable to that option.  To the extent that we can protect against this kind of attack at all, I think it has to be a whitelist.

[2018-02-12 20:28] jimmyfrasche commented on #23796
For the protocol buffer example maybe the generator should have an option to also generate getter/setter methods (or a separate program that bulk generates getter/setters for a struct so that it could be used with).

I've had similar issues but the only example I can think of is with the Name field on various types in go/ast. Either manually adding appropriate getters or a top-level func like `Nam

[2018-02-12 20:33] jeffreydwalter opened #23798 "mksyscall_windows.go "Too many return values...""
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 freebsd/amd64

### Does this issue reproduce with the latest release?
yes.

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="freebsd"
GOOS="freebsd"
GOPATH="/home/jeff

[2018-02-12 20:38] glycerine commented on #23749
I still think blacklist is preferable. Because it cuts both ways. If any new compiler option can't be utilized until it is whitelisted, that would seem to require a new Go release every time any new C compiler adds a flag...

[2018-02-12 20:40] #18395 closed

[2018-02-12 20:42] jeffreydwalter commented on #23798
After looking at the output further, I understand why it is this way. It would be nice if there was a better mechanism for specifying the r0 return value, instead of mapping the go function signature directly to the windows function.

[2018-02-12 20:42] #23798 closed

[2018-02-12 20:43] ianlancetaylor commented on #23796
Not that I know of.

[2018-02-12 20:44] ianlancetaylor commented on #23749
@glycerine That's why we provide the environment variables as an escape hatch.  You can always use the environment variables until the whitelist is updated.

[2018-02-12 20:45] glycerine commented on #23749
The problem is that env variables don't work for projects that are installed purely through 'go get'.

Another approach: allow the top level, named go project to set environment variables.

Then the primary 'go build' project being installed can whitelist the flags it needs, e.g. using the ALLOW regex, while still preventing dependent projects from doing aribitrary things.

[2018-02-12 20:51] ianlancetaylor commented on #23749
@glycerine I'm not sure I understand how that would work.  But I suggest that you open a separate issue for that suggestion, rather than discussing it on this issue, which is intended to collect options that need to be whitelisted.

[2018-02-12 20:53] andybons commented on #23749
For now we've decided on a whitelist. That may change in the future but this issue is not the place to discuss it (feel free to file a new one). We are trying to collect options that should be whitelisted here and nothing more.

Thank you.

[2018-02-12 21:03] DenkBrettl commented on #23749
invalid flag in #cgo CFLAGS: -pipe

[2018-02-12 21:19] aclements commented on #23787
Glad that worked! Closing this issue and shifting further discussion of the general problem over to #23792.

[2018-02-12 21:19] #23787 closed

[2018-02-12 21:19] aclements commented on #23792
The documentation for `KUSER_HELPERS` says "Warning: disabling this option may break user programs." Reading between the lines a bit, it seems like this config option should only be disabled in tightly integrated embedded situations where you control the software from top to bottom and know that nothing uses the helpers. It doesn't seem like it should be disabled for a general-purpose kernel. Give

[2018-02-12 21:23] lloeki commented on #23749
[code]

[2018-02-12 21:29] griesemer commented on #23735
I'm ok with adding clarifying examples to the spec.

[2018-02-12 21:37] kprav33n commented on #23637
I like this proposal for property tags. Would it be too much to ask for a similar feature for struct-level tags?

[2018-02-12 21:40] #22345 closed

[2018-02-12 21:40] #22992 closed

[2018-02-12 21:41] #23042 closed

[2018-02-12 21:41] #23218 closed

[2018-02-12 21:43] #13829 closed

[2018-02-12 21:43] #11377 closed

[2018-02-12 21:43] #19281 closed

[2018-02-12 21:44] #11151 closed

[2018-02-12 21:44] #23434 closed

[2018-02-12 21:46] bontibon commented on #23796
Just a thought: rather than changing the definition of an interface to include struct fields, structs could be special in that struct fields can satisfy a zero argument interface method with the same name and type. For example:

[code]

I haven't thought through all of the implications of this change.

[2018-02-12 21:53] josharian commented on #23796
Also `&i.F`. That further complicates the "they're just getters and setters" story; you need addr-ers as well. I ran into this in a very painful way when attempting to do experimental automated refactoring of the compiler that hid Node fields behind accessors.

[2018-02-12 21:54] cherrymui commented on #23792
Thanks, @aclements. I agree. Closing.

[2018-02-12 22:09] ianlancetaylor commented on #23637
@kprav33n I'm not sure what you mean by struct-level tags, but I'm guessing it's something that the language does not support today.  It sounds like an orthogonal idea that should be discussed separately from this issue.

[2018-02-12 22:10] creker commented on #23796
Looks like a convoluted way of implementing properties without calling them properties.

[2018-02-12 22:27] bradfitz commented on #23793
@andybons,

[code]

[2018-02-12 22:32] andybons commented on #23793
This was due to an error I made when consolidating our robot accounts into a team. When adding the team to the tour repo, I didn’t give it write access (only read). I corrected the issue and it appears to be working now.

[2018-02-12 22:32] #23793 closed

[2018-02-12 22:44] randall77 commented on #23796
We wouldn't need to compile to a function call.  The itab could contain offsets in the underlying struct of all the fields declared in the interface.

`x = i.F` then compiles to:

[code]

This would also handle `&i.F` neatly, by just leaving off the last dereference.

I'm pretty on the fence about this proposal.

[2018-02-12 22:58] randall77 commented on #23778
@bcmills The fallback implementation is the same for all the other OSes.
(e.g. sys_netbsd_arm.s just redirects to asm_arm.s)

[2018-02-12 23:32] andybons commented on #18517
This is live. We now accept Pull Requests in all our repos so I’m going to close this as fixed.

🎉

[2018-02-12 23:32] #18517 closed

[2018-02-12 23:52] Invizory commented on #23784
@ianlancetaylor, oh, you're right, here it is: [`strace -f` output](https://gist.github.com/Invizory/888b5a4b6190f41b3b26f51a7880f717).

[2018-02-12 23:53] griesemer commented on #23712
@rmmh Setting the array length to -1 works here but it's a somewhat unintended consequence of how go/types handles `[...]T{}` array literals (note that arrays always should have a constant length). I'll make the change and will add respective comments. Thanks for looking into it.

[2018-02-12 23:55] bradfitz commented on #23705
gitmirror is next to need love:

[code]

[2018-02-13 00:30] dsymonds opened #23799 "cmd/go: Provide mechanism for a test to self-identify as non-cacheable"
The new test caching stuff is neat, except when a test has an external dependency (e.g. it is testing code that hits a web service), and we don't want the test's result to be cached (so that we're always exercising the code against the real world).

There are ways to disable the test caching from the user's perspective (e.g. passing `-count=1`), but not from the test itself from what I can tell. I

[2018-02-13 00:35] bradfitz opened #23800 "proposal: reconsider allowing emacs and vim patterns in gitignore files"
We seem to have a policy against adding common Emacs and vim gitignore lines.

I propose we allow them.

See recent CL where @ianlancetaylor tried to add them, to @robpike's objection:
https://go-review.googlesource.com/c/tools/+/93415

Then @ianlancetaylor reverted it, but accidentally added emacs junk files to the CL (in PS1), kinda proving that they would've been helpful in preventing garbage b

[2018-02-13 00:39] bradfitz commented on #18517
For more information, see https://golang.org/wiki/GerritBot

[2018-02-13 00:41] ianlancetaylor commented on #23784
Thanks.  That is strange.  I see this:

[code]

and then the call to `dup2` never completes, despite many calls to `nanosleep` for `1000000` nanoseconds.  The next PID 18664 shows up is at the very end of the trace when all the processes are exiting.

[code]

What could possibly cause `dup2` to hang like that?  Are you using a FUSE file system of any sort?

[2018-02-13 00:45] qeedquan commented on #23749
Hi, please add these flags to the whitelist, -Wl,--enable-new-dtags

[2018-02-13 00:47] ianlancetaylor commented on #23799
If a test opens a file that is not under GOPATH or GOROOT, then its result will not be cached.  Does that seem sufficient?

[2018-02-13 00:53] johnnyluo commented on #22145
given the go1.11 tree is open can someone help to kick off the try bot on https://golang.org/cl/79776

[2018-02-13 00:58] lukelafountaine commented on #23709
I would like to start contributing to Go. Would this be a good issue to cut my teeth on?

[2018-02-13 01:07] dsymonds commented on #23799
As in, I could open `/dev/null` (OS-specific, alas) to signal that? Is that documented anywhere?

[2018-02-13 01:15] cstockton commented on #20491
@bcmills No strong design considerations here, it was posted as an example ~6mo ago in response to a reddit question. I use that and the [bound WaitGroup](https://gist.github.com/cstockton/d611ced26bb6b4d3f7d4237abb8613c4) as somewhere to refer people to for _how_ sync.Cond works.

Since the purpose of this issue is to find a problem that serves as a good example for sync.Cond, providing solutions

[2018-02-13 01:35] griesemer commented on #23593
`go test -run Check -files=x.go` reports both errors; and rebuilding `gotype` doesn't seem to make a difference. Hmm...

[2018-02-13 01:45] dsymonds commented on #23800
There's myriad editors that drop working files in all sorts of places. I'm much more in favour of people who use editor X having to do a one-off configuration to stop git trying to track editor X's temp files.

[2018-02-13 01:46] robpike opened #23802 "cmd/go: duplicate vendored packages listed by go list -f {{.Deps}}"
[code]

I ran this command and got this output:

[code]

It may just be a reporting problem, but I find it troubling that the same packages are listed twice, with the `vendor/...` ones not even being legal import paths.

[2018-02-13 01:53] rasky commented on #23783
I'm working on a CL for a rewritten contribute guide that includes GitHub:
https://go-review.googlesource.com/c/go/+/93495

[2018-02-13 01:54] dsymonds commented on #23800
Note also that there are oodles of git repositories floating around, not just ones for the Go project. Even if all of Go's git repositories had a suitable `.gitignore` file, hapless Emacsers can still find themselves in a pickle.

[2018-02-13 01:55] rasky commented on #21983
I'm working on a CL for a rewritten contribute guide that follows most of these suggestions and some more:
https://go-review.googlesource.com/c/go/+/93495

[2018-02-13 01:56] rasky commented on #14225
I'm working on a CL for a rewritten contribute guide that includes R= lines:
https://go-review.googlesource.com/c/go/+/93495

[2018-02-13 02:02] ericlagergren commented on #23789
@mvdan wasn't there an issue a while back about freezing new x/ repos?

[2018-02-13 02:55] ianlancetaylor commented on #23709
@lukelafountaine it looks like someone may have already sent a patch for this--see the comment about CL 93055 above.

[2018-02-13 02:58] ianlancetaylor commented on #23799
No, wait, sorry, I got it wrong.  If a test opens a file that is under GOPATH or GOROOT, then if that file changes, the cache is ignored.  If a test opens a file that is not under GOPATH or GOROOT, that does not affect caching.

[2018-02-13 03:26] josharian commented on #23800
There's also a very heavy concentration of users in just a few editors who put stuff in a few standard places--and that's what this proposal is about.

[2018-02-13 03:30] bradfitz commented on #23800
Yes. What @josharian said. This is about low hanging fruit, not solving every possible junk file.

[2018-02-13 03:39] bradfitz commented on #23802
That's correct output.

You have two copies of those packages in your program: the ones privately vendored by the standard library, and the ones you're using from upspin.

The illegal import paths are on purpose to work around a bug. #17326 is already open to track that.

Not sure there's anything to do here.

[2018-02-13 03:52] josharian commented on #20962
Comment out this line: https://github.com/golang/go/blob/24cdb0f9657a6b69c823e6e9386d48e5ab6bd221/src/cmd/compile/internal/ssa/compile.go#L343

Not important for 1.11; this is a latent bug waiting to surface when someone next improves late nilcheck. Moving to unplanned.

We should, however, double-check that there's a test in the tree that would catch this bug.

[2018-02-13 04:04] jimmyfrasche opened #23803 "cmd/go: feature request: option to go list to not sort output"
I've been writing programs that exec `go list` to get package names or info with `-json`. They often don't care about the ordering of the output and could grab lines or json documents as they come in and start processing.

The sorting's not an issue for small requests, but larger ones like `all` or `github.com/...` can take a bit (approximately 4s with my workspace/machine according to bash's time

[2018-02-13 04:35] erfanio commented on #23749
Can't build therecipe/qt
[code]

[2018-02-13 04:35] kirinrastogi opened #23804 "Add function for random bool in math/rand"
I want to be able to call `rand.Bool()` and receive a pseudo-random bool when I import `math/random`

[2018-02-13 04:38] #23580 closed

[2018-02-13 04:42] shurcooL commented on #23800
One benefit of the current policy is that it makes it easy to reject CLs (and discourage them from being created) that try to add "SomeObscureAndQestionableFile" to `.gitignore`.

If this proposal is accepted, will the policy be modified to match the new .gitignore contents? Something like this?

[code]

I'm asking this because I think it'd be helpful to think through what it'll be like if that's

[2018-02-13 05:04] jehiah opened #23806 "cmd/go: add recursive Deps for TestImports and XTestImports"
`go list` provides a `.Deps` which has the recursive list of dependencies for `.Imports`. This is important because it provides the complete list of dependencies that must be fulfilled to run `go build`

Unfortunately there is no recursive dependency provided for `TestImports` or `XTestImports`. Those have a dependency tree that needs to be fulfilled in order to `go test` but it's non-trivial to r

[2018-02-13 05:07] jimmyfrasche commented on #23774
I know I should wait for feedback before proceeding, but I added a CL with the change added to text/template just to see if it would work (and I could make a change to the main repo). I realize making it work with html/template is the larger issue. I haven't looked at that yet but will do so next.

[2018-02-13 05:19] pjebs commented on #23753
I was wondering what the answer was to this question?

[2018-02-13 05:19] ianlancetaylor commented on #23803
I think the actual sort is pretty far from cmd/go; I think it's the sort done by `filepath.Walk`.

But I'm not sure I believe that the sort takes 4 seconds.  As you suggest, the sort time is likely negligible.  It's more likely the fact that the go tool collects all the packages together, and then lists them.

[2018-02-13 05:29] jimmyfrasche commented on #23803
just grepping around I found a bunch of calls to sort in internal/load which the list subcommand uses, but didn't think about filepath.Walk. It appears to use that as well.

I'm sure it would be a large change for a niche use case but figured it's better to file than not.

[2018-02-13 05:45] wheelerlaw opened #23807 "Can't link to static library anymore"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.4 linux/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
`GOARCH="amd64"`
`GOOS="linux"`

### What did you do?
`git clone https://github.com/wheelerlaw/go-memory-mo

[2018-02-13 05:54] wheelerlaw commented on #23749
Adding ".*\.a" to the allowed flags would be great.
See https://github.com/golang/go/issues/23807

[2018-02-13 06:00] glycerine commented on #23807
@wheelerlaw If you read through the entirety https://github.com/golang/go/issues/23672 and https://github.com/golang/go/issues/23749 you'll come to understand that this was an oversight that will be fixed in a shortly-to-be-released go1.9.5.  For `.a` files, the temporary workaround is to add this to your ~/.bashrc / current environment.
[code]

[2018-02-13 06:34] mdcnz commented on #23804
[rand.Intn()](https://golang.org/pkg/math/rand/#Intn)

[2018-02-13 06:56] mvdan commented on #23807
Closing as duplicate, like @glycerine pointed out.

[2018-02-13 06:56] #23807 closed

[2018-02-13 07:02] #22536 closed

[2018-02-13 07:11] jltjohanlindqvist commented on #23318
The problem still exists with go1.9.4.

[2018-02-13 07:31] nightlyone commented on #22536
Why is it implemented now without returning an error?

Chaining is impossible anyway, since the return value must be checked for the in-band error condition of empty string. So might as well return a real error value where error conditions for not being able to reduce a cache directory can be communicated, so the user/developer/admin can fix them.

With the currently implemented API the caller nee

[2018-02-13 07:42] mvdan commented on #22536
@nightlyone what about non-empty dir path, but the actual dir does not exist? Would the func also return an error in that case?

[2018-02-13 08:21] cznic commented on #23800
I prefer `.gitignore` files being local to the repository clone/developer's machine and never committed to the repository.

[2018-02-13 08:24] mattn commented on #23749
--mms-bitfields also seems be required.

[2018-02-13 08:34] calmh commented on #23749
Isn't it reasonable to assume that *every* compiler option exists for a reason, and the whitelist should cover all of them except the ones specifically deemed dangerous? Obviously there's hundreds of them and the maintenance of the white list isn't going to be fun, but if that's the path that's decided on...

[2018-02-13 08:44] Risca commented on #23792
@aclements, @cherrymui, the documentation for `CONFIG_KUSER_HELPERS` also state:

Taken from here: https://cateee.net/lkddb/web-lkddb/KUSER_HELPERS.html
I believe that's the reason our security policy is to disable it. Does that mean that our security policy is in conflict with running go binaries? Is there any workaround?

[2018-02-13 09:10] mvdan commented on #23797
Seems related to whether or not `go install` was called on the dependencies directly:

[code]

[2018-02-13 09:12] mvdan commented on #23797
`go build -v mvdan.cc/sh/fileutil` does not seem to fix it, though.

[2018-02-13 09:19] neilalexander commented on #18633
I'd like to second the addition of marshaling an `ipv6.Header` in `x/net/ipv6`.

When working with IPv6 headers directly (in particular, when reading/writing packets from a TUN/TAP device or from packet capture interfaces) it is possible to parse the read `[]byte` into a usable `ipv6.Header` struct, but it is not possible to do the reverse.

To generate a response packet to write back to TUN/TAP,

[2018-02-13 09:31] arunvm123 opened #23808 "Regex returns true for strings that it should not match"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
Tried to construct a regex pattern that matches whitespaces between words, so as to validate names. The pattern should match only letters and whitespaces but seems to return true for other characters as well.

https://play.golang.org/p/3LoX8_haM_6

#### What did you expect to see?
The program to return false

[2018-02-13 09:43] frepe360 commented on #23792
CONFIG_KUSER_HELPERS is controlled by GRKERNSEC_OLD_ARM_USERLAND, which I have explicitly disable precisely because of the exploit possibility that @Risca mentions.

I have found that the protobuffer project had a similar issue with dependency on CONFIG_KUSER_HELPERS; and that redhat issued a patch to remove that dependency: https://gist.github.com/BennettSmith/7111094

Perhaps you would reconside

[2018-02-13 09:43] Risca commented on #23792
Related pull request for protobuf: google/protobuf#2301

[2018-02-13 09:48] alexbrainman commented on #23512
If you are referring to https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-10 then it does not help me, because I only have Windows 10 computer, not Windows Server 2016,

If you are referring to https://cloud.google.com/compute/docs/containers/#docker_on_windows then yes, it should work. But I would need to create computer from scratch and install all

[2018-02-13 09:49] mvdan commented on #23797
Seems like the `.a` file for the library isn't being written to by `go install` when called on the package that imports the library. But, if `go install` is called directly on the library, it does write the `.a` file.

`useCache` on the library package also returns different results on both of these cases - it's returns true only when `go install` was called on the library directly.

I've tried de

[2018-02-13 09:51] mvdan commented on #23808
You're missing the `$` at the end, otherwise you get a partial match: https://play.golang.org/p/FJrDA4jlNHE

Always assume that the error is in your code before thinking there is a bug in the standard library. You should also try the forums to ask questions first: https://golang.org/wiki/Questions.

[2018-02-13 09:51] #23808 closed

[2018-02-13 09:59] lloeki commented on #23749
At which point does a whitelist full of wildcards and regexes becomes a blacklist in disguise?

[2018-02-13 10:12] lloeki commented on #23749
This has probably been discussed internally but I found the thing surprising for a patch release: I would have expected the offending flags to have been blacklisted first to plug the compiler plugin hole, and a whitelist system enabled for 1.10, whose list could have been built up during RC. The extra env vars are not quite practical to integrate in some build systems, and I observed this leads to

[2018-02-13 10:16] alexbrainman commented on #14074
@m4ns0ur your CL 92475 is changing net.UDPConn.ReadFrom to return "correct read data size" when the function returns error. When I use any Go function, I expect returned values to be meaningless if error is returned. If returned values are meaningful while error is not nil, that is explicitly documented - for example io.Reader.Read function. Where does net.UDPConn.ReadFrom documentation describes

[2018-02-13 10:48] eliasnaur commented on #23749
gomobile uses the flags -fobjc-arc -fmodules -fblocks:

https://github.com/golang/mobile/blob/5704e182c7003d4b7e94c23373f3fad4e5ceb25a/bind/genobjcw.go#L319

[2018-02-13 11:41] urandom commented on #23796
I'd like to point out that typescript supports this, and from what I've seen its used to allow passing literal objects to functions that accept such an interface.

I'm not particularly for the original proposal, however I think @bontibon has an interesting take.

[2018-02-13 11:57] mvdan commented on #23789
@ericlagergren doesn't ring a bell, and I can't find such an issue now. Specific packages may be frozen, but I don't know about any general freeze rule on existing (or new) x repos.

[2018-02-13 12:02] mvdan commented on #23803
@jimmyfrasche it would be useful if you could get some metrics for large package sets (such as `std cmd`). For example, time all the `sort.Sort` calls - how much is that compared to the overall run-time of `go list`?

I also don't know if it would be possible for `go list` to print its output incrementally. Surely, for something as trivial as just printing the package paths, it's technically possi

[2018-02-13 12:03] mvdan commented on #23803
/cc @rsc who has designed much of this, and who I think wants to work on `go list` in 1.11.

[2018-02-13 12:12] dominikh commented on #23789
@mvdan He may be referring to https://github.com/golang/go/issues/17244

[2018-02-13 12:22] mvdan commented on #23806
How about one single `.TestDeps`, holding `.Deps` plus all the transitive test dependencies?

That would mirror what the `get` command has. For example, `.Deps` is the same that it uses in `go get`, while `.TestDeps` would be the same that it uses in `go get -t`.

[2018-02-13 12:54] jehiah commented on #23806
@mvdan that seems reasonable and targets my use case equally well.

[2018-02-13 12:57] mvdan commented on #23806
Happy to give it a go if others agree on the design.

[2018-02-13 12:59] mvdan commented on #23806
Also, I'm thinking now that it probably requires a better name, if we are to mirror `go get -t`. `TestDeps` seems to mean "only the test dependencies", not "all dependencies including the test ones".

Perhaps `DepsWithTest` or `DepsInclTest`. Or perhaps we should make `TestDeps` be the transitive test dependencies only, and it's up to the user to use both `Deps` and `TestDeps` if required (or merg

[2018-02-13 14:16] Juliens commented on #20617
Do you think it's possible to reopen this issue ?

I see the same problem while using `httputil.ReverseProxy` for an apt mirror.

@bradfitz I would be really happy to help on this, but I'm not sure to understand what you mean here.

[2018-02-13 14:17] thaJeztah commented on #18517
Awesome work!

[2018-02-13 15:11] kirinrastogi commented on #23804
Yes I believe it is worth it. `rand.Intn(2) == 0` is not as elegant as `rand.Bool()`. This is more clear

[2018-02-13 15:32] JackyChiu commented on #23804
I'd argue that it's worth doing. It's not solving a hard problem but it's making it easier to read. Similar to how [sync.Waitgroup.Done()](https://golang.org/src/sync/waitgroup.go?s=3246:3273#L89) is an just an extra 1 line function but makes it more expressive to read for the programmer.

[2018-02-13 15:36] zx2c4 commented on #23750
@ianlancetaylor This should probably be reopened until https://github.com/golang/go/commit/04e6ae6bc3ac9739568b0f1225ee5e2d53cba919 is backported to 1.9 and 1.10 branches.

[2018-02-13 15:37] bcmills commented on #23778
That seems to be true for most of the functions, but not `atomic.{Load,Store}Uint32`:

https://github.com/golang/go/blob/04e6ae6bc3ac9739568b0f1225ee5e2d53cba919/src/sync/atomic/asm_freebsd_arm.s#L58-L66

...or am I missing something more subtle to it?

[2018-02-13 15:45] gbbr commented on #23790
You are right, sorry about that. Not sure how I've managed to miss that comment.

[2018-02-13 15:45] #23790 closed

[2018-02-13 15:48] aclements commented on #23792
`GRKERNSEC_OLD_ARM_USERLAND` is also documented as causing problems: "It's recommended that you try without this option enabled first, and only enable it if your userland does not boot (it will likely fail at init time)."

Has the C toolchain (gcc/clang and libc in particular) moved away from using these helpers?

There are good technical reasons for using these helpers: because of the myriad subt

[2018-02-13 15:50] aclements commented on #22119
Another trybot failure: https://storage.googleapis.com/go-build-log/6e24f25f/windows-386-2008_5cdc0365.log

[2018-02-13 15:50] gbbr commented on #23800
What's the benefit of having this versus a ["_global .gitignore_"](https://help.github.com/articles/ignoring-files/#create-a-global-gitignore) ?

[2018-02-13 15:50] josharian commented on #21266
@martisch the easiest place to implement this is probably walk. I’ll volunteer to review. And please let me know if this falls off your list and I’ll pick it up.

[2018-02-13 16:04] #22924 closed

[2018-02-13 16:04] bradfitz commented on #23797
I'll actually promote this to Go 1.10 because it involves the new build cache (potentially). I'll let Russ decide whether it's important for 1.10.

[2018-02-13 16:18] augustoroman commented on #23749
https://github.com/augustoroman/v8 uses -pthread:

https://github.com/augustoroman/v8/blob/master/v8.go#L15

[2018-02-13 16:20] Invizory commented on #23784
@ianlancetaylor,

No, there are no FUSE file systems mounted inside my home directory.

I've also noticed that increasing the number of iterations in [`misc/cgo/testcshared/main2.c`](https://github.com/golang/go/blob/ce5fa6d5e9977f30bbcc16b0b42d51896a1c40cc/misc/cgo/testcshared/main2.c#L24) from `1000` to `10000` helps to `PASS` the test, i.e. `dup2` resumes in the `libgo2` thread after more itera

[2018-02-13 16:23] frepe360 commented on #23792
@aclements: I see, thanks for this information. I do not know if the toolchain uses the helpers or not.

[2018-02-13 16:28] FlorianUekermann commented on #23749
-flto

Could you put an alphabetically sorted list of the "approved" ones at the top of this issue for overview until the next update is out? Whoever submits the CL may appreciate that as well.

[2018-02-13 16:35] #22460 closed

[2018-02-13 16:36] ericlagergren commented on #23789
@dominikh yep, thanks. That's what I was remembering.

[2018-02-13 16:37] andlabs commented on #23749
Right now (especially since this issue exists) I'm more concerned about what's slipping through the cracks: what build flags people have removed from their projects without consulting us first, giving them the misguided belief that cgo (and by extension Go) is broken and buggy and has regressions and its developers don't know what they are doing. :S (Or worse, *you* don't know what you are doing a

[2018-02-13 17:04] zhaoya881010 opened #23810 "Exception 0xc0000005"
Exception 0xc0000005 0x0 0x0 0x203a62a2
PC=0x203a62a2

runtime: unknown pc 0x203a62a2
stack: frame={sp:0x2edfeec, fp:0x0} stack=[0x2de1f34,0x2edff34)
02edfe6c:  ba53fbbb  000001f5  66aa0a37  00000036
02edfe7c:  438d8e29  4025af7b  7ff6f69a  00000018
02edfe8c:  3a5d0521  000001dd  53a9f184  000001bf
02edfe9c:  7ff6f69a  00000018  3a5d0521  000001dd
02edfeac:  53a9f184  000001bf  03490e60  203a2000

[2018-02-13 17:05] bradfitz commented on #23810
This isn't a complete bug report. It's not even clear what the question is, if any.

Please file a complete bug report using the default template (which you deleted), or ask your question in one of the forums. See https://golang.org/wiki/Questions.

[2018-02-13 17:05] #23810 closed

[2018-02-13 17:10] Risca commented on #23792
@aclements, you cannot have `KUSER_HELPERS` enabled without also enabling `GRKERNSEC_OLD_ARM_USERLAND`. `GRKERNSEC_OLD_ARM_USERLAND` is listed as a dependency to `KUSER_HELPERS` in our kernel.
[code]
So, in order for us to use grsecurity and golang, we would need to enable `GRKERNSEC_OLD_ARM_USERLAND` which, as you pointed out, is not really recommended. I feel like we're stuck between a rock and

[2018-02-13 17:16] dominikh commented on #23800
There are (at least) three ways of ignoring files in git:

1. locally, for a specific repository: `git/info/exclude` – this can be used for per-project files such as your IDE's configuration
2. locally, for all repositories: configure `core.excludesfile` globally, otherwise the same as option 1. Can be used for stuff like Emacs backup files.
3. distributed, for a specific repository: `.gitignore`

[2018-02-13 17:26] griesemer commented on #23790
@gbbr No worries! Thanks for closing the issue.

[2018-02-13 17:44] dotaheor commented on #23536
It looks gccgo thinks a byte slice is a slice whose element underlying type is `byte`.
For most cases, gc think a byte slice is a slice whose underlying type is `[]byte`.

[2018-02-13 17:48] kprav33n commented on #23637
@ianlancetaylor Thanks for the comment. Yes, this feature doesn't exist in the language today. Will discuss as a separate issue.

[2018-02-13 17:53] ianlancetaylor commented on #23536
There should be no difference at all between gccgo and gc regarding byte slices.  I don't see any mention of gccgo above; can you expand on what you mean?

[2018-02-13 18:14] cherrymui commented on #23792
It's all in assembly, so no compiler option. A build tag might be more appropriate, if we end up with it.

If we go this way, would it be enough if we only do this on ARMv7? As @aclements mentioned, a good reason to use the kernel helper is not to dealing with the complexity of various incompatible memory barriers. If we do it on ARMv7 only, I think it is more feasible.

[2018-02-13 18:18] griesemer commented on #23536
I think @dotaheor is on to something. Here's a slightly modified example based on the example above:
[code]
go/types accepts this code w/o complaints. But gc complains with:
[code]
So at the very least we have an inconsistency. Furthermore, if gc is correct (which I need to investigate), the error message is not very good: There's no mention of runtime in this code, so the error message shouldn't

[2018-02-13 18:25] frepe360 commented on #23792
I am mainly interested in ARM7.

[2018-02-13 18:29] ldemailly commented on #17522
cc @bradfitz any chance this can be fixed before 1.10 goes final, or at least in 1.11 ?

[2018-02-13 18:31] bradfitz commented on #17522
@ldemailly, it's way too late for Go 1.10. Go 1.10 froze over 3 months ago. It's marked for Go 1.11, but it was also marked for Go 1.8, so.... we'll see.

[2018-02-13 18:34] #23685 closed

[2018-02-13 18:34] #23748 closed

[2018-02-13 18:37] #22768 closed

[2018-02-13 18:38] #22145 closed

[2018-02-13 18:39] #23776 closed

[2018-02-13 18:39] griesemer commented on #23536
More cases:
[code]
go/types accepts all of them. gc complains twice:
[code]
It looks to me that the spec is pretty clear with specific examples (https://tip.golang.org/ref/spec#Conversions). It does appear that gc is correct: A "slice of bytes" means any type whose underlying type is `[]byte` in this case. go/types on the other hand accepts any slice type where the slice element type's underlying

[2018-02-13 18:40] dbkaplun opened #23811 "Feature request: profiling support for regular tests"
It would be great if I could profile tests (or code in general) without having to write new code.

Currently, to profile tests via `-cpuprofile`, I have to contort my tests to get picked up by the profiler. I have to change all `Test*` functions to be called `Benchmark*`. To do so, I run something like this:
[code]
Clearly not ideal.

However, the output that this generates is **exactly** what I'm

[2018-02-13 18:42] cznic opened #23812 "go/compile: corrupted function return value"
### What version of Go are you using (`go version`)?

`go version go1.9.4 linux/amd64`

### Does this issue reproduce with the latest release?

Yes (`go version devel +2010189407 Tue Feb 13 16:34:46 2018 +0000 linux/amd64`)

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]
[Playground](https://play.golang.org/p/lI7TtRq0ehz)

### W

[2018-02-13 18:44] griesemer opened #23813 "cmd/compile: better error message for failed string conversion"
https://play.golang.org/p/8ADwHokqcK5 complains with:
[code]
The error message should not mention `runtime.slicebytetostring` which is an implementation detail.

(There are probably more error situations that expose runtime calls this way. Should handle them all uniformly.)

[2018-02-13 18:45] griesemer commented on #23536
I filed separate #23813 for a better gc error message.

[2018-02-13 18:52] bradfitz commented on #23812
To @randall77 for codegen.

[2018-02-13 18:55] josharian commented on #23800
I'll try once more to make this case for this proposal.

I agreed, adding these to .gitignore is not the Right Way. It is nevertheless a reasonable, practical thing to do.

If we were a small stable team, we could put in a bit of effort to get all team members on the same page. Instead, we're a large, sprawling open source project. I'd rather spend my limited educational and review bandwidth on th

[2018-02-13 18:56] griesemer opened #23814 "spec: review/clarify uses of "slice of bytes""
This is a follow-up issue for #23536: Comb through documentation (spec, builtins) to verify the use of the term "slice of bytes". The spec appears to mean by this any type whose underlying type is `[]byte`. But not all implementations agree.

[2018-02-13 19:06] ALTree commented on #23804
I don't have an opinion of this, but I have a small argument in favour.

The way the `rand` package use the randomness source is quite intricate. A lot of the `rand` functions do not directly use the generator, but call other functions and then manipulate the input in some way to build a value of the requested type. For this reason, a lot of the "obvious" way to get a random bool results in very d

[2018-02-13 19:12] robpike commented on #23802
For some reason I checked to see if they were vendored by the Go repo and concluded they weren't; I clearly made an error. Closing.

Vendoring has got to go.

[2018-02-13 19:12] #23802 closed

[2018-02-13 19:16] robpike commented on #23800
I'm OK with adding things to .gitignore if the policy of what is OK is clear. It's clear now: only things created by the build. This issue has hinted at a new policy but it's peculiar (add emacs and vim temp files - why only them? The modern world is moving away from these tools) and not well justified as the strict policy.

Actually by "I'm OK" I mean I'll go along with it if it makes sense and l

[2018-02-13 19:24] jimmyfrasche commented on #23803
@mvdan I'll try to gather some metrics later.

A fast path for just printing import paths would be helpful. That's the most common use case, at least for me, though when used as such it's usually for smaller package sets, such as to get the import path of the current working directory or something like `github.com/jimmyfrasche/project/sub/...`.

The particular use case inspiring the bug involves i

[2018-02-13 20:02] ianlancetaylor commented on #23536
gccgo seems to accept this code without error.

[2018-02-13 20:07] heschik opened #23815 "runtime: always log GC details in-memory"
Whenever a user reports a potential issue with the GC, the first thing we ask for is a GC trace (GODEBUG=gctrace=1). We rarely get it.

gctrace=1 is cheap enough to leave on all the time, but spamming stderr is poor form. Instead, the runtime could log it in memory somewhere, either as text or structured data, and expose it in a /debug handler or something. Then it'd be much easier to pull on dema

[2018-02-13 20:12] bcmills commented on #23804
All of those checks and conversions should be easy to inline and constant-fold away.
If they are not inlined and constant-folded, that is arguably a compiler bug, not an API bug.

[2018-02-13 20:12] ianlancetaylor commented on #23792
For what it's worth, I checked what GCC does.  It looks like if GCC is compiled with `-march=armv6` or higher, it inlines the compare-and-exchange.  With a lower `-march` value, it calls the kernel entry point unconditionally.  This is based on compiling

[code]

In principle we could check at run time which type of processor we were on, and select the compare-and-exchange implementation according

[2018-02-13 20:12] #21812 closed

[2018-02-13 20:20] ianlancetaylor commented on #23784
Do you have an unusually slow system?  1000 iterations of a sleep for 1000000 nanoseconds is a full second.  How could it possibly take a full second for `dup2` to complete?  It's not like the program is doing anything, it's mostly sleeping.  Can you show `strace -ftt` output?

[2018-02-13 20:20] bradfitz commented on #19792
@mvdan, there's nothing "runtime" about such a new package, though, so blending in "r" or "run" to the name doesn't make much sense.

`internal/bites`. The assembly might bite you if you're not careful. Little playful, but also internal so doesn't matter. But probably too playful and hard to discuss verbally.

`internal/strbyte`?

I'm fine with `internal/bytealg` too.

I'm also fine with strings d

[2018-02-13 20:24] #13278 closed

[2018-02-13 20:25] griesemer commented on #23536
@ianlancetaylor The spec's examples (see 2. in https://tip.golang.org/ref/spec#Conversions) only shows examples with types with underlying type `[]byte`, but one could also argue that perhaps examples are missing. It boils down to what exactly we mean with "slice of bytes". I filed #23814 for that.

[2018-02-13 20:27] #15768 closed

[2018-02-13 20:27] hyangah commented on #23811
The -cpuprofile flag should work with Test* functions and there is no need to change them to be Benchmark functions. One caveat is that if the test function ends very quickly, it's possible that the execution is not sampled at all. (The current cpu profile rate is 100Hz.)

Maybe that's why renaming Test functions to Benchmark functions cause to capture the samples - benchmark framework may call th

[2018-02-13 20:27] scisci commented on #17200
A small update in case anyone else comes across this thread. Using the patch above worked in a one VST host (JUCE demo host), but the plugin would not load into Logic or Ableton Live. I went back and increased the offsets of the patch to solve this. For AMD64, this was changing tlsoffset to 0xaa0, and increasing the pthread_key_t tofree array to 1024.

This allows the plugin to load and mostly wor

[2018-02-13 20:29] JoaoGFarias commented on #18517
![image](https://user-images.githubusercontent.com/1585655/36172050-7c7578e4-10e3-11e8-86fa-e6fc8ac88672.png)

[2018-02-13 20:32] #23712 closed

[2018-02-13 20:33] 0intro opened #23816 "runtime/trace: TestTraceSymbolize failing on Plan 9"
CL [92916](https://golang.org/cl/92916) added GOMAXPROCS test to TestTraceSymbolize. This test is failing on Plan 9.

[code]

See https://build.golang.org/log/d1188aea517d7d463c85960dac4c1ac9bb49b5e0

[2018-02-13 20:34] #23791 closed

[2018-02-13 20:42] randall77 commented on #23812
Possibly worth backporting to 1.9 and 1.10.
Pretty obscure though.

[2018-02-13 20:46] bradfitz commented on #23770
Added.

[2018-02-13 20:46] #23770 closed

[2018-02-13 20:47] bradfitz commented on #23689
@oliwer, there's no guarantee at that line that Handshake hasn't already written to the socket.

[2018-02-13 20:56] bcmills commented on #20491
I don't think there is such a thing as a good example of `sync.Cond` usage. That's kind of my point.
(That is: I think we should deprecate it instead of suggesting places to use it.)

I think you've swapped “first” and “second”? At any rate, that's part of my point: `sync.Cond` encourages a one-size-fits-all approach to synchronization that channels do not.

It's true that my first suggestion reta

[2018-02-13 20:57] randall77 commented on #23778
@bcmills Sorry, you are right.  I was looking at `runtime/internal/atomic`, not `sync/atomic`.

[2018-02-13 21:02] 0intro commented on #23816
The GOMAXPROCS test doesn't work when the value of GOMAXPROCS doesn't change.

Since the test calls runtime.GOMAXPROCS(1), it will fail on machines where GOMAXPROCS=1, which is the case on uniprocessor machines by default.

[2018-02-13 21:03] 0intro commented on #23816
The issue can be reproduced on Linux as well:

[code]

[2018-02-13 21:09] cherrymui commented on #23778
@bcmills I don't see a good reason not to unify those.

[2018-02-13 21:11] mvdan commented on #10608
The 1.11 tree is now open and I am still looking for reviewers - any takers from the emoji party above?

[2018-02-13 21:16] m4ns0ur commented on #14074
@alexbrainman it makes sense, thanks for the tip. Will update the CL.

[2018-02-13 21:25] #23362 closed

[2018-02-13 21:26] urld commented on #21974
Here are the inconsistencies with RFC-7230 i have found in net/http so far:

The handling of "hop-by-hop" Headers is defined differently:

   clarified.  Also, "hop-by-hop" header fields are required to appear
   in the Connection header field; just because they're defined as hop-
   by-hop in this specification doesn't exempt them.  (Section 6.1)

However the current behavior has to be kept to ma

[2018-02-13 21:30] Invizory commented on #23784
@ianlancetaylor,

I have 32×2.2GHz CPU cores with small `load average: 0.82, 1.25, 1.12`.

I'm confused because now I can't reproduce the bug even with 1000 iterations. However, I reproduced it with 300 iterations, here is the [`strace -ftt`](https://gist.github.com/Invizory/a559b8d8ab2d29e0ddf29ff6315bcf8e) output.

[2018-02-13 21:48] bradfitz opened #23817 "x/build/cmd/coordinator: coordinator not noticing when a pod mysteriously disappers"
farmer.golang.org was saying, in the GKE pool list:

[code]

But those long pods (buildlet-linux-kubestd-rn130c4e9, buildlet-linux-kubestd-rn36dc75c) don't exist.

If something is externally killing those or they're dying somehow, we should notice.

Figure out why they're not going away.

/cc @andybons @heschik

[2018-02-13 21:54] eikenb commented on #23782
Went ahead and created the Pull Request to facilitate the decision.

[2018-02-13 21:56] Invizory commented on #23784
@ianlancetaylor,

Well, I have reproduced it with 1000 iterations again after 340 more runs of `./testp2`, see [`strace -ftt`](https://gist.github.com/Invizory/d9d8043c53d1cdd3146cf646f28af324).

[2018-02-13 22:03] ianlancetaylor commented on #23784
Thanks.  That output does clearly show that `dup2` did not complete for more than one second, even though the program spent most of its time doing a loop of nothing but

[code]

By comparison, on my laptop, I see

[code]

so the `dup2` call completes in much less than 1/10 second.

I'm grasping at straws, but can you try adding

[code]

before the call to `nanosleep` in misc/cgo/testcshared/main2.

[2018-02-13 22:18] #21171 closed

[2018-02-13 22:38] ianlancetaylor commented on #19991
Related to #19412 (sum types) and #21161 (error handling) and #15292 (generics).

[2018-02-13 22:41] ianlancetaylor commented on #20176
There is no strong support for this specific proposal, and it requires either adding a new keyword or making some very special treatment of the predeclared identifier `len`.  Closing.

[2018-02-13 22:41] #20176 closed

[2018-02-13 22:42] dbkaplun commented on #23811
With `go tool pprof cpu.prof`, running `web` gives me this: (go version go1.9.2 darwin/amd64)
![screen shot 2018-02-13 at 5 36 56 pm](https://user-images.githubusercontent.com/1765130/36177693-85618028-10e4-11e8-995d-a562711325d7.png)

Exact command:
[code]

[2018-02-13 22:48] hyangah commented on #23811
The -bench flag used in the profile makes only Benchmark* functions run.
Also, see my previous comment - if the tested function is a trivial function to run, it's unlikely that any meaningful sample is collected.

[2018-02-13 22:54] lsegal commented on #17200
The hack works by brute-force searching for correct the TLS base address. Increasing the offset allows it to search further down in the list.

That's the issue. If the host process spawns threads prior to loading the shared library, the offset will have changed.

[2018-02-13 22:56] #23816 closed

[2018-02-13 22:57] Invizory commented on #23784
Since it's very difficult to reproduce the bug now (for unknown reasons), I've collected some statistics instead on how much iterations it takes for different versions of code to finish with `PASS` ([raw data](https://gist.github.com/Invizory/767f90479e3ddc0da2577e66e080d593)).

Here is the histogram for n = 5000 runs, the X-axis (tail stripped) denotes the number of iterations to finish, the Y-ax

[2018-02-13 22:58] ianlancetaylor commented on #20280
I think this proposal is asking for something deeper than changing `io.Reader` to use a `Read` method that takes a `Context` argument.  I think this is asking for a way to interrupt a call to `Read` by canceling a `Context`.

As @dchapes says above, it is possible to build an `io.Reader` that incorporates a `Context` value and checks it before calling the underlying `Read`.  That demonstrates that

[2018-02-13 22:59] dbkaplun commented on #23811
@hyangah have you tried it yourself? I get the exact same empty output with this command:
[code]

The tests are non-trivial, many of which take a few seconds to run.

[2018-02-13 23:05] ianlancetaylor commented on #20282
One of the reasons to make `error` a predeclared type was that it used to be defined in the package `os`, and that meant that any package that `os` itself imported could not use the standard error type.  We experimented with defining it in the `errors` package, but that constant use of `errors.Error` seemed to be a bit much.

`error` is and always will be much more widely used than `context.Contex

[2018-02-13 23:05] #20282 closed

[2018-02-13 23:09] hyangah commented on #23811
Yes, here is the profile output from tests in src/runtime/trace
![something](https://user-images.githubusercontent.com/4999471/36179086-fc152c8e-10e8-11e8-9cc3-8113cbfe99d6.png)

[2018-02-13 23:14] shurcooL opened #23818 "cmd/go: package continues to be stale after go install"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Haven't checked yet.

### What operating system and processor architecture are you using (`go env`)?

<details><br>

[code]

</details>

### What did you do?

[code]

Note that at the time of this issue report, `github.com/kisielk/gotool` is at revision https://github.com/kisielk/g

[2018-02-13 23:15] ianlancetaylor commented on #20352
If we had generic types, unlimited channels could be implemented in a library with full type safety.  A library would also make it possible to improve the implementation easily over time as we learn more.  As various people said above, putting unlimited channels into the language seems like an attractive nuisance; most programs do need backpressure.

Closing on the assumption that we will get some

[2018-02-13 23:15] #20352 closed

[2018-02-13 23:22] ianlancetaylor commented on #20446
Related to #9097.

[2018-02-13 23:24] ianlancetaylor commented on #20446
This is basically the same idea as #9097.  Closing in favor of the earlier issue.

[2018-02-13 23:24] #20446 closed

[2018-02-13 23:25] networkimprov commented on #20352
@ianlancetaylor "channels ... implemented in a library" implies a forthcoming mechanism to allow third-party channel implementations accessible with `<-` etc.

That would be a most welcome addition... is it true?

[2018-02-13 23:27] ianlancetaylor commented on #20447
There doesn't appear to be strong support for this, and you say yourself it would be incompatible with #20446 / #9097.  It was also discussed years ago and rejected.  Closing.

[2018-02-13 23:27] #20447 closed

[2018-02-13 23:32] ianlancetaylor commented on #20467
Go in general decomposes concepts rather than nesting them.  For instance, methods are not defined inside a type.  That was in fact a key point in permitting any type to have a method; nested types as described here would only be permitted within a struct type, which is not very orthogonal.

It seems fine to use an underscore where this proposal would use a dot.

Closing.

[2018-02-13 23:32] #20467 closed

[2018-02-13 23:37] alercah commented on #9097
I like that.

[2018-02-13 23:46] mikioh commented on #21974
There's no convention, but the document should look like a document, not a side note writing to the back of a paper napkin.  I'm fine with either ```RFC NNNN```, ```the section X of RFC NNN``` or URL.

[2018-02-13 23:51] mikioh commented on #18633
Fro TUN/TAP case, https://godoc.org/github.com/google/gopacket looks promising.

[2018-02-13 23:52] namusyaka commented on #23770
@bradfitz I'm very pleased. Thank you!

[2018-02-13 23:57] griesemer commented on #23586
The root cause for the current behavior is that the check that the `defer` expression is a function call happens at parse time; and if there are parse errors the compiler stops (and doesn't bother type-checking the code).

In this case it may make sense to move that test to later (out of the parser) for a couple of reasons: 1) it is quite common to make the mistake of forgetting to call the deferr

[2018-02-14 00:04] randall77 commented on #23812
Reopening for possible 1.10 final and 1.9.5.

[2018-02-14 00:06] mikioh commented on #14074
I haven't look at your CL yet but please don't forget to consider that;
- fixing #18056 at the same time if you want to change or define the new behavior of net.Conn and net.PacketConn interfaces,
- UDPConn has three methods for per-packet basis reading; ReadFrom, ReadFromUDP and ReadMsgUDP,
- IPConn also has three methods; ReadFrom, ReadFromIP and ReadMsgIP,
- adding new test cases into net/{udps

[2018-02-14 00:10] neilalexander commented on #18633
It does look promising, but it also looks like a very heavy solution to a very simple problem. The IPv4 package has marshalling, it makes sense that the IPv6 package should too.

[2018-02-14 00:16] mdempsky commented on #23414
The test case can be further minimized to just:

    package p

    type t struct {
            t1 struct{}
            _  int
            t2 struct{}
    }

The problem is this is generating a function like

    func eq.t(p, q *t) bool {
        return p.t1 == q.t1 && p.t2 == q.t2
    }

This is getting optimized to

        return true && true

but for some reason the `true` nodes have type `unt

[2018-02-14 00:22] #10085 closed

[2018-02-14 00:23] #6249 closed

[2018-02-14 00:23] #5637 closed

[2018-02-14 00:24] adg commented on #12532
It's fixed now.

[2018-02-14 00:24] #12532 closed

[2018-02-14 00:27] cstockton commented on #20491
(That is: I think we should deprecate it instead of suggesting places to use it.)

An examples purpose is not to promote use, it's to illustrate _how_ to use it. I do not understand what the harm is in having a clear example of how a sync.Cond works. If they understand the way a Cond is used in Go they may apply patterns they are familiar with from other languages for an easy to understand program

[2018-02-14 00:30] glycerine commented on #23749
If we insist on a whitelist, then I don't know why there needs to be any delay waiting for input.

The compilers document their flags. As someone said above, each flags is there for a reason.

Sampling by waiting for user input on usage will be under-representative, unreliable, and produce painful results for all of us who in the future find need for a flag that wasn't realized or sampled now.

Mo

[2018-02-14 00:36] griesemer commented on #23593
The root cause for the current behavior is that the check that the defer expression is a function call happens at parse time; and if there are parse errors, gotype stops (and doesn't bother type-checking the code). go/types testing on the other hand continues, hence the discrepancy.

We cannot easily remove the parser check as it would require changing the field `go/ast/DeferStmt.Call` (which we k

[2018-02-14 00:41] ianlancetaylor commented on #23749
The only options that matter here are the ones that are reasonable to put on a `#cgo CFLAGS` or `#cgo LDFLAGS` line in a .go file, or are reasonable to output from a call to `pkg-config --cflags` or `pkg-config --libs`.  That is a small subset of the total number of compiler options.

[2018-02-14 00:45] andlabs commented on #23749
You also vastly underestimate how many options gcc and clang even have. I doubt they are all documented, even in the source code — I wouldn't be surprised if some are generated at runtime!

[2018-02-14 00:46] davecheney commented on #20617
@Juliens please open a new issue and include all the information requested by the issue template. A runnable code sample to demonstrate the issue would be extremely beneficial.

[2018-02-14 00:48] derktam opened #23819 "When building cgo, I get an error 'could not determine kind of name for var'"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

**main.go**  ( https://play.golang.org/p/HrkbEQRd670 )
[code]

**result:**
[code]

If possible, provi

[2018-02-14 00:50] ianlancetaylor commented on #23749
@anacrolix Over in #23672 you suggested that we need to whitelist `-Wl,-framework`.  But `-framework` normally takes an option.  Can you show the exact use case?  Thanks.

[2018-02-14 01:05] mikioh commented on #18633
@neilalexander,

The purpose of IPv4 header marshaling and unmarshaling in the ipv4 package is just to avoid a few pitfalls for non-experienced users. For some historical reason, classical IPv4 host stack implementations (mostly on BSD variants) may tweak host reception and transmission IPv4 packets. Therefore the existing API surface in the ipv4, ipv6 and icmp packages recalculates data from/to t

[2018-02-14 01:35] magical commented on #23749
@andlabs Ian is a gcc developer. I'm sure he's well aware.

[2018-02-14 01:38] AlexRouSg commented on #23819
https://golang.org/cmd/cgo/

The type is named C.struct_test2

[2018-02-14 01:40] aletheia7 opened #23820 "database/sql: Tx.ExecContext() no longer calls Stmt.CheckNamedValue()"
### What version of Go are you using (`go version`)?
go version go1.10rc2 linux/amd64
### Does this issue reproduce with the latest release?
Version|Issue?|
----------|---------|
1.10rc2|yes
1.9.4|no issue
-----
### What operating system and processor architecture are you using (`go env`)?
[code]
Debian Linux Testing/Buster

### What did you do?
My internal app calls my sql.Driver. The sql.Tx.Exec

[2018-02-14 01:44] ianlancetaylor commented on #23749
I sent a CL that I think covers all of the above options: https://golang.org/cl/93836.

Please let me know if you see any problems with it or if you know of any options people are using that it does not cover.  Thanks.

[2018-02-14 02:08] ianlancetaylor commented on #20352
@networkimprov I think that kind of feature, which I usually call operator methods a la C++, would be fairly unlikely.  I'm not aware of any current proposals for that.

[2018-02-14 02:31] aletheia7 commented on #23820
Confirmed with master https://github.com/golang/go/commit/755b36aa532f6b23081bf5eaf83449c1a6dd8114

[2018-02-14 02:35] bcmills commented on #20491
I already addressed that [above](https://github.com/golang/go/issues/20491#issuecomment-365453233):
“In contrast [to `sync.Mutex`], the use-cases for `sync.Cond` *always* involve relatively long waits for the condition, which make responsiveness to cancellation much more important.”

A zero `sync.Pool` is valid: its `New` field is entirely optional. It is also difficult to use appropriately, and “

[2018-02-14 02:37] networkimprov commented on #20352
Then how could a library, even given generics, "implement" unlimited channels? It would either have to reinvent the channel API and supporting runtime mechanism, or simply encapsulate the expensive a-goroutine-plus-two-channels scheme discussed above.

A scheme to allow third-party channel implementations would not look like C++ operator overloading per se. Such a channel implementation would have

[2018-02-14 02:38] rhysd commented on #23749
From LLVM Go bindings point of view, following linker options should be in the white list.

- `-Wl,-search_paths_first`
- `-Wl,-headerpad_max_install_names`

[2018-02-14 02:40] derktam commented on #23819
It is my mistake. Thank you.

[2018-02-14 02:40] #23819 closed

[2018-02-14 03:26] #23574 closed

[2018-02-14 03:59] #12097 closed

[2018-02-14 04:08] andlabs commented on #23749
@magical I was talking to @glycerine

[2018-02-14 04:24] dotaheor commented on #23536
Maybe not bad, the current gccgo implementation provides a way to convert values between `[]byte` and `[]MyByte`.

[code]

[2018-02-14 04:27] griesemer commented on #23536
@dotaheor So does go/types. However, the spec does not explicitly permit this, it appears.

[2018-02-14 04:42] griesemer commented on #20352
@networkimprov It seems to me that any system that needs to handle a lot of incoming messages to a channel faster than they can be processed directly would need a dedicated goroutine to drain that channel quickly; and possibly store the data for further processing (e.g., sending to a slower channel). Using an unlimited channel for this scenario is simply shifting the problem elsewhere (to the chan

[2018-02-14 04:47] magical commented on #23749
@andlabs Ah, sorry

[2018-02-14 04:55] #22617 closed

[2018-02-14 05:16] ianlancetaylor commented on #23784
Well, I don't know what's going on, but it sounds like an approach like https;//golang.org/cl/93895 will at least make it more likely to pass.

[2018-02-14 05:31] shoenseiwaso commented on #22688
For those encountering this issue on Go 1.9.3 or 1.9.4 on Darwin (macOS), the following worked for me to fix the problem:

[code]

[2018-02-14 06:06] networkimprov commented on #20352
@griesemer I'm not actually a proponent of unlimited channels. The use case that concerns me is a large group of channels, any of which can see heavy traffic for limited periods. For that, I proposed #20868.

Re third-party channel implementations, which we might call "channel plugins," they would be useful where you wish to `select` on a non-channel I/O source along with some channels. However on

[2018-02-14 06:12] Invizory commented on #23784
@ianlancetaylor,

Yep, seems like a reasonable approach.

[2018-02-14 06:14] dgryski opened #23821 "strconv: Unquote has custom for-loop-based `contains` implementation"
It should use one of the optimized assembly routines from `strings` (or I guess the runtime if you don't want to introduce a dependency on `strings` from `strconv`).

https://github.com/golang/go/blob/c10e61424f9c17c2972a438287ff9ac90d6b55a4/src/strconv/quote.go#L421

[2018-02-14 07:09] cstockton commented on #20491
While you are free to call the usage of the New func optional, the simple fact is the only documented and consistent way every single usage of sync.Pool I have ever seen initializes this value. So I find requiring initialization not being a sufficient reason for removing a sync prim from the std library.

This reads to me in the context of this post that he's talking about getting the GC to the po

[2018-02-14 07:27] go101 opened #23823 "cmd/compile: crash on interface embedding cycles if a type alias is used"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.10rc2 linux/amd64

### What did you do?

[code]

### What did you expect to see?

Compiler doesn't crash. An error message should be printed.

### What did you see instead?

Compiler crashes.

[code]

[2018-02-14 07:41] calmh commented on #23749
@ianlancetaylor With that CL I still cannot build golang.org/x/net/internal/socket for Solaris. It's not obvious to me from the error what flags I need to ask for.

[code]

[2018-02-14 08:15] as commented on #20491
@cstockton Here's an example of `sync.Cond` used to implement a deque.

https://github.com/golang/exp/blob/master/shiny/driver/internal/event/event.go

Disclaimer: I don't like `sync.Cond`

[2018-02-14 08:28] Julio-Guerra commented on #20280
On POSIX systems, it would be great if `Context` could expose a file descriptor to signal its state changes. That way, we could use it with I/O event notification functions such as `select()`, `poll()`, etc. It removes on part of the problem: interfacing `Context` with file-operation functions.

The other part, unblocking a call, is very specific to the file descriptor and the function being used.

[2018-02-14 08:43] mvdan commented on #23823
Slightly smaller repro:

[code]

If one removes the `=`, the compiler properly detects the recursive type and errors. It seems like it doesn't when a type alias is involved.

[2018-02-14 09:43] StevenZack commented on #23739
same problem happened when I try to build go-sciter, it works fine on Go1.9.3.

[2018-02-14 10:31] mattn commented on #23649
I installed gcc 7.3.0 from https://github.com/Alexpux/MINGW-packages

Yesterday, I updated mingw gcc using pacman command. And it seems that this problem disappears. I apologize for bothering you

[2018-02-14 10:38] fbbdev commented on #23748
Great, thank you!

[2018-02-14 11:35] alexbrainman commented on #23649
No worries. All is good.

Alex

[2018-02-14 11:38] andlabs commented on #23739
@StevenZack please go to #23749 to report that issue then; that's where all these are being collected.

[2018-02-14 11:48] #23418 closed

[2018-02-14 11:56] FiloSottile commented on #16100
The current docs for Read[Header]Timeout say:

[code]

Given this issue is not fixed yet, it sounds misleading to me. ReadHeaderTimeout does nothing against a malicious attacker, and "the Handler can decide what is considered too slow for the body" is inaccurate, not having a way to set deadlines.

Am I missing something?

[2018-02-14 12:04] eliasnaur opened #23824 "x/build: sharded mobile builders"
Currently, the android/amd64 and android/386 builders run on an Android emulator with a amd64 system image. This is taxing the single already heavy loaded mobile builder Mac Mini. It is also inefficient: the emulator builds competes with the Android device builds and any concurrent iOS builds. Because they are slow, android is not in the trybot set, leaving me to often pester CL authors with "this

[2018-02-14 12:05] eliasnaur commented on #23824
This issue is about Android, but in theory the same could be done for the iOS simulator.

[2018-02-14 12:29] frepe360 commented on #23792
Let me change that a bit; I am *only* interested in ARM7. So if there is a resonable way to do this for ARM7, I would be very happy if you would consider it.

[2018-02-14 12:48] mvdan opened #23825 "x/build/cmd/gerritbot: don't post CL updates if the PR author has a Gerrit account"
For example: https://github.com/golang/go/pull/23809

If gerritbot successfully added the PR author as a reviewer or as CC to the Gerrit CL, it makes little sense to forward comment/review updates to the Github pull request in the form of comments.

[2018-02-14 13:29] ysmolsky commented on #23688
@bradfitz, those links in the article point to sources which were deleted in this commit:
[code]

Does it makes sense to point to different but actual examples in the repo?

[2018-02-14 13:51] ianlancetaylor commented on #23824
CC @bradfitz @andybons

[2018-02-14 13:55] ianlancetaylor commented on #20280
@Julio-Guerra `Context` already exposes a channel for use in a `select` statement.  We don't expect Go programmers to call the system calls `select` or `poll` themselves, since the runtime does that automatically anyhow.  So I don't see a good reason for `Context` to expose a file descriptor.  While there are cases where that could be useful, those cases seem very rare.

[2018-02-14 13:58] Ullaakut commented on #22688
And if you have this issue in your CI, it's probably because of `glide`. Turns out that switching to `dep` fixed the issue for me.

[2018-02-14 14:11] eliasnaur commented on #23824
This

https://paulemtz.blogspot.dk/2013/05/android-testing-in-headless-emulator.html

seems to indicate that the standard emulator supports headless mode.

[2018-02-14 14:14] dbkaplun commented on #23811
The .prof file was being overwritten by another .prof for a package with no tests.

[2018-02-14 14:14] #23811 closed

[2018-02-14 14:22] ianlancetaylor commented on #23749
@calmh Yes.  I think we're going to have to fix that one with changes to golang.org/x/net.  It is already relying on many internal details, and I think we need to change the way it does so.

[2018-02-14 14:42] ianlancetaylor commented on #23749
@calmh Would you be able to test https://golang.org/cl/94015 on an actual Solaris system?

[2018-02-14 15:13] bradfitz commented on #23824
Sure, prepare a Docker image that lets us do the traditional make.bash, then snapshot, then clone to several mirrors, then run tests one-at-a-time.

It'll require some tweaking of the build system probably, but I'll do those parts if you do the bulk of the work in preparing the Dockerfile.

headless helps but isn't required. Worst case we could run a headless X server so it thinks it has a window.

[2018-02-14 15:14] bradfitz commented on #23688
Why don't you just change the links to point to source browser URLs linking into old branches?

[2018-02-14 15:16] bradfitz commented on #23825
I also suspect we'll need some fancier GitHub email <-> Gerrit email mapping at some point. A good percentage of users have different emails in their Git Author lines vs their Gerrit (Google) account.

[2018-02-14 15:17] ianlancetaylor commented on #20491
I don't think anybody likes `sync.Cond`.  That said, the cases where it is useful are:

1. Large and varying amounts of data, so a fixed channel buffer size is wasteful or insufficient, and
2. Large number of readers, so an additional goroutine per reader is wasteful.

On the other hand `sync.Cond` can not be used in a select statement and it has no timeout, which limits its usability in that in r

[2018-02-14 15:18] josharian commented on #23821
Probably depends on #19792

[2018-02-14 15:20] mvdan commented on #23825
It also seems a bit too spammy if a CL is very active. Assuming that the purpose of these comments is to keep the author notified, I think we should limit them to one per day.

Would also be interesting to not notify about a comment that the author themselves posted, but that seems tricky. If we knew who the author was on Gerrit, we wouldn't be posting the notifications to begin with.

[2018-02-14 15:24] bradfitz commented on #21299
Andy, did you see this earlier?

[2018-02-14 15:30] #21849 closed

[2018-02-14 15:31] #23736 closed

[2018-02-14 15:34] #19594 closed

[2018-02-14 15:36] andlabs commented on #23749
@rsc @ianlancetaylor @anacrolix I figured out where `-Wl,-framework` is coming from: it's coming from the pkg-config file for GLib, which is a dependency of GTK+. Specifically, it includes the CoreFoundation link for internationalization purposes.

Specific references: https://gitlab.gnome.org/GNOME/glib/blob/master/glib-2.0.pc.in#L14 where `@INTLLIBS@` gets `-Wl,-framework -Wl,CoreFoundation` fro

[2018-02-14 15:39] #18496 closed

[2018-02-14 15:46] ianlancetaylor commented on #23749
@calmh Trying a different approach in https://golang.org/cl/94018.

[2018-02-14 15:46] bradfitz commented on #17271
Unholding.

[2018-02-14 15:52] bradfitz opened #23826 "build: SIGILL on Mac"
Real bug or bad Mac?

https://storage.googleapis.com/go-build-log/66be6d0e/darwin-amd64-10_11_a390e7a8.log

[code]

/cc @aclements

[2018-02-14 15:52] kofalt commented on #17200
Thank you for the link to the patch. As per comments upthread I understand it's just a hack and should not be deployed, but it helped confirm my understanding of the problem.

[2018-02-14 15:57] ianlancetaylor commented on #23749
@andlabs Thanks, added to CL 93836.

[2018-02-14 16:25] AlexRouSg commented on #23749
I'm static linking SDL and the pgkconfig contains `-Wl,--no-undefined` as well as preprocessor defines.

[2018-02-14 16:27] ivoras commented on #18152
I think I may be encountering this error when using Gorilla's websockets, which apparently isn't present in this implementation: https://github.com/gorilla/websocket/issues/43 .

I have a WebSocket server, with two goroutines per connection: one reading messages and pushing them to a channel, and the other pulling them from the channel, processing them and writing the results to the connection. So

[2018-02-14 16:28] szuecs opened #23827 "expose dialing errors from net package"
I would like to get meaningful errors from the net package. Right now I can not decide if I got an error while a connection is already established or if it's while creating a TCP or TLS handshake.
I want to be able to decide from an error, if I can retry the call or not. Possibly net.Error interface has to get a new function to decide this easily.

The code shows a workaround wrapping a net.Dialer

[2018-02-14 16:36] andybons commented on #21299
I did not. Will take a look. Need to go through all my assigned bugs. 😬

[2018-02-14 16:47] andybons commented on #23825
It’s unlikely we will implement a digest. This is the exact reason `/comments off` exists (plus GitHub has its own notification settings).

Agreed that it should default to comments off if the author is also getting emailed in Gerrit.

[2018-02-14 16:52] supermock commented on #23749
I need you to add the flags below the white list, so they can compile projects that use the cgoemitter package

**go build github.com/supermock/cgoemitter-demo/x: invalid flag in #cgo LDFLAGS: -Wl,-unresolved-symbols=ignore-all**

Thank you very much in advance

[2018-02-14 17:10] #23548 closed

[2018-02-14 17:10] #22932 closed

[2018-02-14 17:19] ianlancetaylor commented on #23749
Update CL again.

[2018-02-14 17:32] randall77 commented on #23826
I'm suspicious that this is any Go bug.

The PC is 2 bytes into a 9 byte instruction (the first instruction in atof64).
The call site in ParseFloat looks fine, it's a static call so it should always go to the right place.
The jump back after morestack also looks ok.

[2018-02-14 17:35] bobrik commented on #22225
@bradfitz, @mikioh is this a better time when 1.11 window is open?

[2018-02-14 17:36] #23590 closed

[2018-02-14 17:48] dgryski commented on #23815
/cc @aclements

[2018-02-14 18:19] josharian opened #23828 "cmd/compile: use strings.Builder"
The main challenge here is ensuring everything still works when built with 1.4.

Probably build tag protected files, with something like

type buffer struct {
  bytes.Buffer
}

for pre-1.10 and

type buffer = strings.Builder

for 1.10+.

[2018-02-14 18:28] pugachAG opened #23829 "http: client errors on server graceful shutdown"
### What version of Go are you using (`go version`)?

`go version go1.10rc2 linux/amd64`

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

run server: `go run main.go -cmd server`
and client: `go run main.go -cmd client`

### What did you expect to see?

client gets onl

[2018-02-14 18:38] josharian opened #23830 "cmd/cgo, runtime: optimize C.GoString"
C.GoString ends up being translated into a call to runtime.gostring, which calls findnull, which does a byte-at-a-time search for the terminating NUL.

A quick hack to use bytes.IndexByte to find the NUL shows speed-ups of almost 40%. We cant use this directly, though, because of the danger of a vectorized read past the end of the string faulting.

Perhaps we could call strlen on the C side (which

[2018-02-14 18:50] ianlancetaylor commented on #23830
I'm not sure I understand the concern about a fault from a vectorized read past the end of the string.  Seems like that could happen in Go just as easily as in C.

[2018-02-14 18:50] tsafin commented on #23479
That's good question - if your service executable is depending on anything network related then you might experience such delays (because of complexities how TCP-stack is getting up'n'running). Either mark your service as "Delayed start" or remove TCP-related code from the stages which send Windows control service signal that it's up.

[2018-02-14 18:54] bradfitz commented on #23830
@ianlancetaylor, because bytes.IndexByte starts with a slice (which contains a length), the assembly for that knows it's safe to do wide loads of many bytes up to that length only (or capacity, at least). C.GoString only takes a `*byte` but no length, so what if that byte pointer were 2-3 bytes before the end of mapped virtual memory space? If we invented some bogus slice header to give to bytes.I

[2018-02-14 18:56] cherrymui commented on #23792
I think we can do this for ARMv7, by just testing `runtime.goarm`. It shouldn't be too complicated. I'll try making a CL.

[2018-02-14 19:15] bradfitz commented on #23818
We decided in the release meeting to think about this for Go 1.10.1.

[2018-02-14 19:15] bradfitz commented on #23797
We decided in the release meeting to think about this for Go 1.10.1.

[2018-02-14 19:16] urld commented on #21974
I uploaded a first patch with the documentation changes. It includes todos for inconsistencies.
However, i think these inconsistencies should be cleared up first, before the documentation change is submitted.

[2018-02-14 19:38] artyom commented on #23827
@szuecs just to make it clear, the `Temporary() bool` method of [net.Error](https://golang.org/pkg/net/#Error) is not enough for you to decide whether you can retry? See for example: https://play.golang.org/p/pYCJ-Tfq9pV

[2018-02-14 19:40] bradfitz commented on #23829
That is not what graceful shutdown means.

Graceful shutdown means the server stops accepting new connections and closes idle keep-alive connections while not interrupting a response that's already in flight.

If anything, there might be a bug report (for an opt-in feature request) here about the retry policy for the HTTP Transport on non-idempotent requests in the presence of mid-air collisions o

[2018-02-14 19:40] #23829 closed

[2018-02-14 19:43] sethvargo commented on #23829
I see a few things here:

1. You are discarding the error from the POST request. Probably not the issue, but you really shouldn't:

[code]

2. You probably want to specifically exclude `http.ErrServerClosed` from your checking:

[code]

3. Use a timeout and catch the error from shutdown:

[code]

4. As @bradfitz said while I was typing this out, the default http client has shared internal state an

[2018-02-14 19:44] bradfitz commented on #23827
If you got the error from net.Dial, it was due to establishing the connection.

If you got the error from Read or Write, it was from an already established connection.

It seems that your bug report is actually about net/http, not about the net package, as stated in your bug title.

Marking this as a duplicate of #14203.

[2018-02-14 19:44] #23827 closed

[2018-02-14 19:46] mdempsky commented on #23828
I've been thinking we should add a "cmd/internal/polyfill" (or however we want to spell the bikeshed) package that provides interfaces to sort.Slice, strings.Builder, and other recent stdlib additions that we want to use in the toolchain, while maintaining Go 1.4 compatibility.

[2018-02-14 20:09] bradfitz commented on #23828
@mdempsky, you could call the package just "util". *ducks*

[2018-02-14 20:12] davecheney commented on #23828
Why stop there? “common”, “shared”, or “base” are all perfectly cromulent package names.

[2018-02-14 20:17] martisch commented on #23828
cmd/internal/compat?

[2018-02-14 20:19] pciet commented on #23828
In cmd/compile/internal/gc there's these cases:

- fmt.Fprintln/fmt.Fprintf writing to a bytes.Buffer
- bytes.Buffer plugged into the output of exec.Command
- buf.WriteString()
- buf.WriteString(fmt.Sprintf())
- bufio.NewWriter(&a_bytes.Buffer)

I assume there might be cases of “str” + “str2” or fmt.Sprintf that may be more efficient as a strings.Builder.

https://github.com/golang/go/issues/18990