[2017-12-04 18:45] bradfitz commented on #22223
Reopening this, because GOEXPERIMENT is now broken since that CL.

I left comments on https://go-review.googlesource.com/c/go/+/80760 with details.

/cc @rsc

[2017-12-04 18:49] randall77 commented on #22444
This is breaking the noopt builder, though. We should probably do something for that in 1.10.

[2017-12-04 19:14] stevvooe commented on #22953
@mikioh I ended up merging https://github.com/stevvooe/ttrpc/pull/17/files, as there was no performance degradation using that method. Per your instructions, I applied the following to https://github.com/stevvooe/ttrpc/commit/256c17bccdb9c3892a78b7ee82c534137672716a:

[code]

Running the benchmarks shows that the performance problem goes away:

[code]

Looking at this code path, it seems like the

[2017-12-04 19:21] mdempsky opened #22987 "runtime: "non in-use span in unswept list" flake on darwin-amd64"
https://go-review.googlesource.com/c/go/+/81775 flaked on darwin-amd64 due to:

    # cmd/compile (testmain)
    runtime: bad span s.state=0 s.sweepgen=564617216 sweepgen=12
    fatal error: non in-use span in unswept list

https://storage.googleapis.com/go-build-log/5cf4a738/darwin-amd64-10_11_e7ffe203.log

/cc @aclements

[2017-12-04 19:22] bradfitz commented on #21389
We could start a timer at the beginning of the request to fire at WriteTimeout and cause the ResponseWriter to return Write errors, regardless of buffering status. That work, @tombergan?

Too late for Go 1.10, though. Just found this while cleaning up bugs. It had arrived while I was out on leave.

[2017-12-04 19:49] krytarowski commented on #22981
[code]

[2017-12-04 19:58] ianlancetaylor commented on #1435
@hgfischer If you just want to change the ID of one thread (but why?) you can use `runtime.LockOSThread` and `syscall.Syscall(syscall.SYS_SETUID, uid, 0, 0)`.

[2017-12-04 20:03] ianlancetaylor commented on #22953
@stevvooe You can see exactly what is happening by looking at the `strace -f` output.

On Unix systems whether a file/socket is in blocking mode or not affects all descriptors.  It is a per-file flag, not a per-descriptor flag.

Documentation patches welcome but I find it quite hard to document these things concisely and usefully.  It may be a better topic for a blog post.

[2017-12-04 20:11] bradfitz opened #22988 "runtime: darwin memory corruption?"
What is going on here?

https://storage.googleapis.com/go-build-log/5914916e/darwin-amd64-10_11_7e43df8a.log

[code]

[2017-12-04 20:12] bradfitz commented on #22988
(from https://go-review.googlesource.com/c/go/+/81635)

[2017-12-04 20:20] mdempsky commented on #22988
Very weird that it failed only on darwin-amd64.

I just got this flake on darwin-amd64: #22987

I wonder if there's a darwin-amd64 memory corruption issue. A trybot retry would be nice to see if the failure was a flake or not.

[2017-12-04 20:23] forskning commented on #22020
@peterGo the above cited Microsoft/WSL issue I opened on 27 Sep 2017 had a comment added on 4 Dec 2017, and subsequently has been closed

[2017-12-04 20:23] bradfitz commented on #22988
darwin-amd64 is a pool of 10 physical machines running VMware, running max 20 VMs. It's possible that it's bad memory, but that wouldn't be my first guess.

[2017-12-04 20:24] mdempsky commented on #22988
I was thinking software memory corruption, not hardware.

[2017-12-04 20:25] bradfitz commented on #22988
Ah, indeed.

[2017-12-04 20:28] mdempsky commented on #22988
The retry has passed darwin-amd64, so I'm thinking it's not a compiler issue.

[2017-12-04 20:29] bradfitz commented on #22988
Reassign to @aclements for runtime memory corruption?

[2017-12-04 20:40] mdempsky commented on #22987
That sweepgen value looks super bogus. I'm thinking it must be software memory corruption. (Hardware memory corruption would probably be just 1-bit off, rather than a completely different value.)

There was also #22988, which was also a darwin-amd64 flake. This makes me suspect there's something darwin-amd64-specific going on.

[2017-12-04 20:42] zwass opened #22989 "testing: t.Fatal does not fatal tests if defers do not complete"
### What version of Go are you using (`go version`)?
`go version go1.9.2 darwin/amd64`

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
`test_test.go`
[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]

The above example is obviously broken, but

[2017-12-04 20:45] rsc opened #22990 "cmd/go: gather cache age and reuse distribution statistics"
We'd like to get a sense of how long typical cache entries hang around and are still useful to reuse, so we can decide what the expiration policy is. If you've been running go at master for the past month, please run:

    go get -u rsc.io/gocachelogstat
    gocachelogstat

and then paste the output in a comment below.

[2017-12-04 20:53] rsc commented on #22990
[code]

[2017-12-04 20:58] aclements commented on #22990
[code]

[2017-12-04 20:59] bradfitz commented on #22990
[code]

[2017-12-04 21:08] rsc commented on #21713
@randall77, will let you decide but everyone at proposal-review is OK with option 3 "do nothing".

[2017-12-04 21:11] bradfitz commented on #21096
Pushing to Go 1.11.

@tombergan, do you know what's right here?

[2017-12-04 21:14] rsc commented on #20111
If the decision is whether to make a fix, then I think the answer is yes: CMOVGE is not an instruction, it should have an L or Q in both cases.

[2017-12-04 21:17] hgfischer commented on #1435
@bradfitz Thanks. As @ivan4th mentioned, it used to do something, some time ago, but then it got disabled because of this issue.

@ianlancetaylor Thanks for the tips. I tried just `syscall.Syscall()` before but it was not working for some reason. Since you mentioned, I tried again and not it is working.

The reason is to have a binary with setuid bit, that can be called by an unpriviledged user. I

[2017-12-04 21:19] rsc commented on #18773
It's unclear how many Alpine users would use the download. Do we know? What's the full set of linux-\*-nocgo that we'd want to post? Just amd64? arm? I don't really want to double our Linux distribution count.

It seems like we would want a strong indication of demand here.

[2017-12-04 21:20] rsc commented on #17980
Given comments by @minux and @crawshaw seems like this is working as intended or at least working as best it possibly can.

[2017-12-04 21:20] #17980 closed

[2017-12-04 21:22] randall77 commented on #21713
I'll call this done then.

[2017-12-04 21:22] #21713 closed

[2017-12-04 21:23] rsc commented on #17933
We can't support expanding html/template's scope in this way. The escaping API is completely unclear, as are the security implications. The text/template/parse package says:

Our suggestion would be to fork html/template and revise the fork as needed.

[2017-12-04 21:23] #17933 closed

[2017-12-04 21:25] rsc commented on #17659
It looks like we are still waiting on a proposed answer for the question above: "What is the dividing line for what can be looked up directly and what needs special processing?"

Can anyone give an authoritative answer or at least make a good suggestion?

/cc @mdempsky @mikioh @mpvl @pmarks-net

[2017-12-04 21:29] rsc commented on #17509
Godoc is about showing the exported API from a package. Test files are not part of the exported API.

If the tests are so complex that they need documentation to find out how to use them, they're also often worth using from multiple tests, in which case we typically move them into separate standalone packages (not in \*\_test.go files), like testing/iotest and net/http/httptest. That might be the

[2017-12-04 21:29] #17509 closed

[2017-12-04 21:31] rsc commented on #22978
Now that vet is part of go test, the bar is even higher for new checks. Because it _is_ valid sometimes to have a time.Time as a map key, rejecting it in vet is not OK.

You might talk to @dominikh about adding this to megacheck or one of the other linters.

[2017-12-04 21:31] #22978 closed

[2017-12-04 21:34] rsc commented on #22964
Perhaps instead:

    go test -coverhtml x.html

Like -json, this flag would only exist in the go command, not in the actual test binaries.

[2017-12-04 21:35] MohammedAssafly opened #22991 "Bug"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9.2

### Does this issue reproduce with the latest release?
I don't know.

### What operating system and processor architecture are you using (`go env`)?
windows/amd64,

### What did you do?
I was have a text file with size 6.79 GB. Then i read it with code :-
_______________

[2017-12-04 21:38] rsc commented on #22939
We should fix this one way or another. Certainly returning EAGAIN from File.Read is not useful to clients, since they don't know when is again.

[2017-12-04 21:38] bradfitz commented on #22991
It's not obvious that you're checking all your errors. I don't see error checks from your ioutil.WriteFile.

Oh, and you're also not using io.Reader correctly. See the docs on the https://golang.org/pkg/io/#Reader

For questions about Go, see https://golang.org/wiki/Questions.

[2017-12-04 21:38] #22991 closed

[2017-12-04 21:38] rsc commented on #22939
Leaving for @ianlancetaylor to decide the exact fix.

[2017-12-04 21:41] rsc commented on #22918
As @griesemer said above, this would require type information inside go/doc (and therefore available to cmd/doc, etc). That has not been an assumption before, and it would significantly complicate cmd/doc's file system scans.

[2017-12-04 21:41] rsc commented on #22918
I didn't mean to close this - wrong button. But probably we can't do this - leaving open for more discussion.

[2017-12-04 21:43] rsc commented on #22826
This should be put on hold until it is actually approved and has an RFC number.

[2017-12-04 21:47] rsc commented on #22191
Given that the Linux kernel is actually doing the SCTP implementation and this is just a new socket enumeration, it seems like a solution to #15021 should happen first, and then this can be completely
out-of-standard-library changes. A tiny amount of new code in x/net would not be a big deal. The pending CL has lots of code in the standard library as well, which we'd like to avoid.

[2017-12-04 21:47] rsc commented on #22191
Putting on hold until #15021 is done.

[2017-12-04 21:48] rsc commented on #22544
@kardianos, is there a concrete proposal to be evaluated yet? I'm not clear on the current status.

[2017-12-04 21:49] rsc commented on #20420
Thoughts, @agl @FiloSottile @tombergan?

[2017-12-04 21:50] rsc commented on #22440
Leaving on hold for package management.

[2017-12-04 21:52] cespare commented on #22990
What's the command that generates these reports?

[2017-12-04 21:55] dsnet commented on #22990
[code]

[2017-12-04 22:09] RLH commented on #22990
Not working at tip so I'm getting this.
rlh@rlh:~/work/go/src$ go get -u rsc.io/gocachelogstat
rlh@rlh:~/work/go/src$ gocachelogstat
gocachelogstat:go env GOCACHE: no output (old Go version?)
rlh@rlh:~/work/go/src$

[2017-12-04 22:17] smasher164 commented on #22975
I modified the example to call Info.ObjectOf on the type's declared identifier, and I observe the same behavior.
https://play.golang.org/p/LKg-Wr247J

Interestingly, printing the type's declaration shows the following:
[code]

[2017-12-04 22:41] kardianos commented on #22544
@rsc No concrete proposal. The closest is https://github.com/golang/go/issues/22544#issuecomment-342395252 and that doesn't document all of the effects it would have / corner cases / ways it is used. The suggested implementation would need some work as well.

I'll self assign and look into this in the next month.

[2017-12-04 22:45] OneOfOne commented on #22990
[code]

[2017-12-04 22:50] dsnet commented on #22950
I was hoping using `Gets` alone would be a good approximation of "max live set", but your example provides an case where that approximation falls short.

This could probably be simplified to just a atomic store. It's okay if it is slightly racy.

[2017-12-04 22:55] CAFxX commented on #22982
I don't want to hijack this specific issue but I fully agree with all network operations (i.e. not just HTTP) by default having timeouts. We have been bitten so many times by components that don't allow to specify timeouts for network operations (or that have no sane default timeout) that is now one of the first things I check when evaluating the use of a new component/library.

[2017-12-04 23:03] jba commented on #22876
That's a bug in my proposal. I chose a poor example. Replace `int` with `[]int`.

The _it_ in your last sentence refers to the value of read-only type, the `ro *int`. That value cannot be modified; `*c = 3` is illegal. But you can change the binding of `c`. There is nothing in my proposal that restricts the semantics of variable bindings.

The situation is analagous to
[code]
The value is immutabl

[2017-12-04 23:10] zoulasc commented on #22981
This is new and different :-) Here's what's going on. I believe that the test expects to timeout at some point, but the profiling timer keeps interrupting _lwp_park and thus restarting it from scratch... Only to be interrupted again by the profiling timer before it times out... Here's a fix with an explanation...
http://www.netbsd.org/~christos/lwp-park-eintr.diff

[2017-12-04 23:14] streeter12 commented on #19814
I make some machine learning project and need to parse MIDI file.
There i need to parse SMPTE timecode. I find quite hard to use idiomatic way with iota, but it don`t stop me)
[code]
Of course i may need some runtime check with defensive programming...
[code]
[PlayGroundRef](https://play.golang.org/p/RchpQyE4nf)

Enums make live of programmers in some case more simpler. Enums is just an instrument

[2017-12-04 23:19] griesemer commented on #19814
@streeter12 I don't see how your example "clearly shows the problem". How would enums make this code any better or safer?

[2017-12-04 23:33] griesemer opened #22992 "go/types: incorrect recursive interface call accepted inside interface method declaration"
[code]
type-checks without problems; yet the call I.m has two parameters (the interface I, and a byte array of appropriate length). For reference, cmd/compile produces:
[code]
Clearly an esoteric case, but good for corner-case testing.

[2017-12-04 23:39] streeter12 commented on #19814
There is C# class with implementation of same logic of enum.

[code]

With compile time enums i can:
1. Have no runtime checks.
2. Significant reduce chance of error by my team (you can`t pass wrong value in compile time).
3. It does not contradict with iota concept.
4. Easier to understand logic than you have one name for constants (it inportant then you constants represents some low level protoc

[2017-12-04 23:42] neild commented on #22876
It is possible that I have misunderstood the spec, but this is not consistent with my understanding of variable assignment. `s = "y"` does not change the binding of `s`; it changes the value of the variable bound to `s`.

[2017-12-04 23:48] griesemer commented on #19814
@streeter12 Thanks for clarifying what you meant. The only advantage over Go constants here is that one cannot introduce an invalid value because the type system will not accept any other value but one of the enum values. That's certainly nice to have but it also comes at a price: There's no way to extend this enum outside that code. External enum extension is one of the key reasons why in Go we d

[2017-12-04 23:58] streeter12 commented on #19814
Answer just simple need to make some extensions dont use enums.
F.E need to make state machine use state pattern instead of enums.

Enums have their own scope. I think it's terrible architecture decision to extend enum outside definition code. You dont have control over that your colleague doing and it make some funny errors)

And you forgot human factor enums in many cases significhent reduce err

[2017-12-05 00:09] willfaught opened #22993 "testing: deferred func runs before parallel subtest"
Also, Run's result was wrong.

#### What did you do?

I deferred a function in a package-scope test, then ran a parallel subtest that assumed the deferred function would run after it completes, but this wasn't the case, and Run returned true when the subtest failed.

Basically, this:

[code]

It doesn't matter whether the package-scope test is parallel.

A full example: https://play.golang.org/p/p

[2017-12-05 00:09] #22981 closed

[2017-12-05 00:14] randall77 commented on #22881
Reopening for backport consideration (both 1.9.3 and 1.8.6).

[2017-12-05 00:18] mikioh commented on #22953
@stevvooe,

I won't take a look at your code,  but please don't forget to close transient file descriptors; you make two new transient descriptors referring to the same underlying socket by calling net.UnixConn.File and net.FileConn. In general using syscall.RawConn is a simpler solution (unless the user-defined function breaks something under the hood) and using a pair of File+FileConn is a safer

[2017-12-05 00:18] pmarks-net commented on #17659
I don't really understand the naming rules well enough to provide a specific answer, but my general opinion is that the DNS client library should err on the side of being permissive, unless there's a compelling reason not to.

[2017-12-05 00:27] griesemer commented on #19814
@streeter12 Unfortunately, the reality is that often enums need to be extended.

[2017-12-05 00:48] willfaught commented on #22993
https://blog.golang.org/subtests says:

which seems to explain this behavior, but it conflicts with the T documentation and breaks T.Run's result. An implication is that parallel subtests can't share tear-down code in a package-scope parent test, since it will run before any of the parallel subtests run, even though sharing setup and teardown code is an ability of subtests touted in that same blog

[2017-12-05 00:53] jba commented on #22876
I guess I'm using the word "binding" wrong. I was thinking variables are bound to their values, and you're saying identifiers are bound to variables, which have values. Anyway, you can change variable-value associations, but some values cannot be modified.

[2017-12-05 00:54] jimmyfrasche commented on #19814
@griesemer extending an enum/sum type creates a separate and sometimes-incompatible type.

This is still true in Go even though there aren't explicit types for enums/sums. If you have an "enum type" in a package that expects values in {1, 2, 3} and you pass it a 4 from your "extended enum type" you've still violated the contract of the implicit "type".

If you need to extend an enum/sum you also n

[2017-12-05 00:54] beardww commented on #22634
I was getting this error as well. Removing the IS_MAC_SIERRA_OR_LATER check in cocoa.m fixed this issue, and I was able to build some shiny =]

Go version go1.8.3 darwin/amd64
macOS 10.13.1, amd64

[2017-12-05 01:02] rsc commented on #22990
@cespare, see top comment on issue (wasn't emailed).

[2017-12-05 01:20] rsc commented on #22990
@RLH, if you're not working at tip don't worry about it - this only affects the new caching code at tip. Thanks though.

[2017-12-05 01:21] davecheney commented on #22990
[code]

[2017-12-05 01:25] derekperkins commented on #19814
Very well stated

[2017-12-05 01:40] willfaught commented on #22993
Perhaps the core issue is that the T documentation doesn't specify the ordering of a parent test function returning and its parallel subtest goroutine resuming after its T.Parallel call (and also that a T.Run call in a parent test returns true immediately when T.Parallel is called in a subtest).

[2017-12-05 01:52] titanous commented on #22990
[code]

[2017-12-05 02:07] bradfitz commented on #22911
We should also announce that Go 1.10 will be the last release to support FreeBSD 10.x, which lines up well with their own EoL date: https://www.freebsd.org/security/security.html#sup ... so Go 1.11 will require FreeBSD 11+.

[2017-12-05 02:11] robpike commented on #22990
[code]

[2017-12-05 02:19] bradfitz commented on #19547
@mdempsky, can you look into this?

Our openbsd-386 column is 2/3rds red. Currently our 386 builder is only OpenBSD 6.0. I'm brining up an OpenBSD/386 6.2 builder now. That is #22835. But our amd64 OpenBSD columns look happy for both 6.0 and 6.2

[2017-12-05 02:28] stemar94 commented on #22990
[code]

[2017-12-05 02:38] bradfitz commented on #22835
@4a6f656c, can you help with the openbsd/386 6.2 builder images?

The openbsd/amd64 6.2 make.bash worked fine, but 386 ends with:

[code]

But no output file:

[code]

[2017-12-05 02:49] rhysh commented on #22990
[code]

[2017-12-05 03:25] cherrymui commented on #22990
[code]

[2017-12-05 03:29] jostyee commented on #22990
[code]

[2017-12-05 03:43] ianlancetaylor commented on #22990
[code]

[2017-12-05 03:56] ianlancetaylor commented on #19814
@jimmyfrasche That's not how I personally would describe the tradeoff.  I would say it's "always write basic validation code the compiler could handle" vs. "add an entire new concept to the type system that everybody using Go needs to learn and understand."

Or, let me put it another way.  As far as I can tell, the only significant features missing from Go's version of enumerated types is that the

[2017-12-05 03:58] ianlancetaylor commented on #22993
I think this is an issue to be fixed with better documentation.

CC @mpvl

[2017-12-05 04:13] ianlancetaylor commented on #22989
I'm marking this as a documentation issue.  If someone can figure out how to fix it reasonably, that's fine with me.  But in practice I think we should just document this and move on.

[2017-12-05 04:16] ianlancetaylor commented on #1435
@hgfischer Yes.  Go programs are always multi-threaded, goroutines can migrate between threads at any function call, and the old `syscall.Setuid` only changed one thread in the program.

[2017-12-05 04:45] bradfitz commented on #22835
And sometimes it times out before the "Relinking" line. With `set -x` in the bash script:

[code]

[2017-12-05 04:49] ianlancetaylor opened #22994 "cmd/go: -ldflags not applied when linking a test"
This will run the linker with `-v`:

    go build -ldflags=all=-v

This will not:

    go test -ldflags=all=-v

I haven't been able to find a way to get cmd/go to set `-v` when linking a test.

CC @rsc

[2017-12-05 05:03] bradfitz commented on #22835
... and that made me realize it was probably just CPU-bound. I doubled the timeout and it's good now.

[2017-12-05 05:15] jhrabe opened #22995 "Puzzling performance of a multithreaded program"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go1.9.2 linux/amd64

### Does this issue reproduce with the latest release?
This is the latest release available on Gentoo linux

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOROO

[2017-12-05 05:19] davecheney commented on #22995
Thank you for raising this issue. Unlike many projects on GitHub, the Go project does not use its bug tracker for general discussion or asking questions. We only use our bug tracker for tracking bugs and tracking proposals going through the Proposal Process.

Please see https://golang.org/wiki/Questions for good places to ask questions. They will most likely recommend that you profile your code as

[2017-12-05 05:19] #22995 closed

[2017-12-05 05:26] #22835 closed

[2017-12-05 05:29] bradfitz commented on #20672
@broady, can you update the website with this?

Cherry-pick 79276 and 79936 to the release branch?

[2017-12-05 05:35] randall77 commented on #22906
CL 81876 contains a possible fix for `jobject` and friends, similar to what was done for `CFTypeRef` and friends on darwin.
Opinions welcome on whether we should continue down this one-off route for now.

[2017-12-05 05:37] jhrabe commented on #22995
Thanks for the response.  Perhaps my title was chosen badly but I intended to report a bug in math/rand or the scheduler, not enter into a general discussion or merely ask a question.  Also, I did profiling and reported its results in my original post.

[2017-12-05 05:40] bradfitz commented on #22995
It's already somewhat documented:

https://golang.org/pkg/math/rand/#pkg-overview

It doesn't spell it out exactly, but writing high performance concurrent code means limiting sharing, so it kinda says it.

And profiling should also say it.

[2017-12-05 05:45] jimmyfrasche commented on #19814
@ianlancetaylor  Adding complexity to the language is certainly a valid thing to consider, and "because another language has it" is certainly not an argument. I, personally, don't think enum types are worth it on their own. (Their generalization, sum types, sure tick a lot of boxes for me, however).

A general way for a type to opt out of assignability would be nice, though I'm not sure how widely

[2017-12-05 06:17] jhrabe commented on #22995
Based on that description, I would expect some reduction in ideally possible speedup.  But would you expect the following results?  I think these would take any user by surprise:

threads		time (real) [s]   (single instance)
1		11.3
2		17.3
4		32.1
8		39.1

instances  time (real) [s]	(using 2 threads)
1		17.3
2		17.2
3		15.5
4		14.0

[2017-12-05 06:31] davecheney commented on #22995
Here is the profile for your program

![screen shot 2017-12-05 at 17 25 02](https://user-images.githubusercontent.com/7171/33592930-4049b63e-d9e1-11e7-89b3-d43d0ec2fc40.png)

Your program is spending a large % of it's time serialised on the lock around the top level functions in the `math/rand` package.

Here is a version of your program which does not serialise on a shared random number generator

[2017-12-05 06:47] posener commented on #22544
@kardianos why not just expose `lastcols`, I see, as I said before, a lot of advantages of doing so:
* Much simpler
* No need for `interface` conversion of types you already know.
* The `ConvertAssigner` approach enforced use of reflections, which in some cases is not needed.
* There is no much logic in the `Scan` function, and you can let the user write it's own implementation.

Please consider t

[2017-12-05 07:18] kshvakov commented on #22544
Exposing `lastcols` is a good solution for some cases too. New functionality like `ConvertAssigner` can speed up the existing applications without rework it.

[2017-12-05 07:43] petrhosek opened #22996 "cmd/test2json: support emitting JSON directly from the test binary"
It is now possible to emit JSON from a test binary (#2981, #22789), but this still requires the go tool:
[code]
This doesn't work in `-c` case which is really useful when cross-platform running tests, i.e. we build the tests binaries on one platform but run them on a different one as plain binaries without having to use the go tool. Would it be possible to support that scenario as well, e.g. as `-

[2017-12-05 09:47] hgl commented on #4712
Ideally the conversion process could be exposed, some thing along the line [like this](https://godoc.org/github.com/mitchellh/mapstructure#StringToTimeDurationHookFunc). So it's customizable on how to convert one type to another when decoding/encoding.

[2017-12-05 10:01] bailehang opened #22997 "Use "go get" don't know the download situation"
src/cmd/go/internal/get/vcs.go

[code]
Excuse me, We want to see the download progress and net traffic. May I do this?

[2017-12-05 10:17] adelowo commented on #22997
Most likely not happening https://github.com/golang/go/issues/22800#issuecomment-345439319

[2017-12-05 10:24] xvilo commented on #22141
@ianlancetaylor can you elaborate on how to do this?
I've `make deinstalled` go within ports.
Than updated ports and did a `cd /usr/ports/lang/go/ && make install clean` only, this still gives the output.

[2017-12-05 10:26] davecheney commented on #22141
@xvilo please open a new issue.

[2017-12-05 10:55] ALTree commented on #22997
Yep, this was asked several times in the past. The tool will likely remain quiet be default, but see [Brad's comment](https://github.com/golang/go/issues/22800#issuecomment-345455997). If someone wants to prototype some kind of progress bar as it needs to be an external tool first.

Closing this.

[2017-12-05 10:55] #22997 closed

[2017-12-05 11:15] evincarofautumn commented on #19921
I have no stake in this, but as a language designer, I have some guiding questions:

* How much does it cost to let complex numbers remain?

* Can the existing cost be quantified objectively, e.g., in terms of, say, implementation LOC or benchmark numbers?

* How much developer effort would be required to remove them?

* What is the usability impact on doing complex calculations without language s

[2017-12-05 11:27] eliasnaur commented on #22990
[code]

[2017-12-05 11:35] knightXun commented on #22982
Can we remove DefaultClient?

[2017-12-05 11:37] knightXun commented on #22982
Maybe we can remove DefaultClient.Let user to decide which timeout is better.

[2017-12-05 13:03] yunabe opened #22998 "cmd/link: linking with -linkshared fails if a package depends on a method in another pkg indirectly"
### What version of Go are you using (`go version`)?
go version go1.9.2 linux/amd64

### Does this issue reproduce with the latest release?
Yes. go1.9.2 is the latest release as of 2017-12-04.

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/yunabe/local/gocode"
GORACE=""

[2017-12-05 13:13] thanm commented on #22990
[code]

[2017-12-05 14:16] solancer opened #22999 "Mac OS operation not permitted"
I'm trying to ship a golang binary inside a mac app. It is ideally just a http server with some basic functions on folders and files.

The binary seems to work just fine when I run it from a terminal but when I try calling it from my mac app programmatically it gives an error "operation not permitted" and quits.

Even after code-signing with a valid identity file I get the same error.

`go build -

[2017-12-05 14:17] mikesamuel commented on #17441
Per the discussion about URL filtering in `srcset` at [38324/4](https://go-review.googlesource.com/c/go/+/38324/4/src/html/template/url.go), here's a patch: [url.go.diff.txt](https://github.com/golang/go/files/1531377/url.go.diff.txt).

I tried to upload a patch set, but need to sort out some Gerrit credential issue.

[2017-12-05 14:44] ianlancetaylor commented on #22998
CC @mwhudson

[2017-12-05 14:59] dot-asm commented on #22637
I've chosen to change the feed to https://github.com/dot-asm/cryptogams. For the moment it's just original tar-ball, but it's going to be updated this week...

[2017-12-05 15:24] rjammala commented on #22990
[code]

[2017-12-05 15:31] mirtchovski commented on #22990
[code]

[2017-12-05 16:03] dr2chase commented on #22990
[code]

[2017-12-05 16:25] bcmills commented on #22906
I posted an idea to [a golang-dev thread](https://groups.google.com/d/topic/golang-dev/4Yg0Hub5cQQ/discussion) that might be worth revisiting in light of this issue, #22218, #19928, #21878, #20275, and perhaps #13467.

The idea is to define a distinguished Go type, which I'm calling `unsafe.Void`, that specifically refers to _an object that cannot reside in Go memory_.

The differences between `*u

[2017-12-05 16:34] bcmills commented on #22906
A simpler approach, I suppose, would be to add another structured comment to indicate the type mapping:

[code]

That would give a migration path for unsafe.Void, but could be used even without it.

[2017-12-05 16:36] bradfitz commented on #22999
There is not enough information here to help, or even determine if there's a bug.

I'd recommend you bring this to a forum (see https://golang.org/wiki/Questions). If a bug is identified we can reopen this or open a new bug.

[2017-12-05 16:36] #22999 closed

[2017-12-05 16:56] griesemer commented on #19814
@jimmyfrasche Understood; it's a difficult problem. Which is why in Go we didn't try to solve it but instead only provided a mechanism to easily create sequences of constants w/o the need to repeat the constant value.

[2017-12-05 16:58] nicolasStevenin opened #23000 "x/text : FAIL: TestCountMallocs"
Hello !

### What version of Go are you using (`go version`)? 1.8

### Does this issue reproduce with the latest release? version 0.1.0

### What did you do?
I try to test message in the project github.com/golang/text/ in version 0.1.0 it fails with
--- FAIL: TestCountMallocs (0.00s)
        fmt_test.go:1443: Sprintf("%x"): got 3 allocs, want <=2
        fmt_test.go:1443: Sprintf("%s"): got 3 allo

[2017-12-05 17:01] rogpeppe opened #23001 "x/tools/cmd/goimports: neighboring files cause wrong import decision"
go version devel +9a13f8e Tue Nov 28 06:47:50 2017 +0000 linux/amd64

If I run `goimports bar.go` with the following files under $GOPATH, it imports a/y, not b/y, even though only b/y exports the function G. It seems that the import in foo.go is causing goimports to ignore the constraints that the calls are imposing. I would expect the imported package to provide all the required names - that is,

[2017-12-05 17:03] jhrabe commented on #22995
Yes, that is in agreement with my original report:

So I suppose we agree on the cause and a workaround.  Because the top-level functions are currently so expensive (several hundreds of percent of CPU time), I would suggest to add the following sentence to the documentation:

Because Source synchronization implemented by top-level functions can incur significant performance penalty, use thread-loc

[2017-12-05 17:19] theckman opened #23002 "net/http: Server.ListenAndServeTLS() leaks TCP sockets on invalid cert or key"
## What version of Go are you using (`go version`)?
[code]

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
* https://play.golang.org/p/8sSO-WWOZt

### What did you expect to see?
I expected the TCP socket opened by `http.ListenAndServeTLS()` to be closed before control was retu

[2017-12-05 17:26] ALTree commented on #23000
I can reproduce this with go1.9 too. I think we don't hit it on the builders because the test is skipped if GOMAXPROCS > 1, but it's easily reproduced with `GOMAXPROCS=1 go test -run=TestCountMallocs`

cc @mpvl

[2017-12-05 17:27] theckman commented on #23002
I'm happy to try and submit a CL for this issue.

[2017-12-05 17:36] bradfitz commented on #23002
@theckman, go for it. Thanks.

[2017-12-05 17:49] albertoZurini commented on #22945
[code]

[2017-12-05 17:55] griesemer commented on #22990
[code]

[2017-12-05 18:23] #22970 closed

[2017-12-05 18:24] bradfitz commented on #22945
Sorry, your environment just seems screwed up. I would bring this to some LXC mailing list.

Closing as there's no evidence there's a Go bug here.

[2017-12-05 18:24] #22945 closed

[2017-12-05 18:40] #23002 closed

[2017-12-05 18:45] #22937 closed

[2017-12-05 18:47] griesemer commented on #22975
This is working as expected and you have a bug in your code: You are calling the IsAlias() method on the original type name rather than the aliased type name. Keep in mind that a Type is never an alias, it's a TypeName that may be an alias (names can be aliases, types are never aliases).

Or in other words, the Type of a TypeName object is always the actual (non-alias) type, no matter if the TypeN

[2017-12-05 18:47] #22975 closed

[2017-12-05 19:11] bradfitz commented on #20852
@bsiegert, the NetBSD/386 VM now boots on GCE, but I can't find any NetBSD mirror with binary packages for i386, which means we have no curl and we can't download the buildlet.

The builder script fails on these lines,

https://github.com/golang/build/blob/master/env/netbsd-amd64/mkvm.py#L63

But doesn't stop building the VM image on error.

[code]

Does somebody build i386 packages?

Or do we nee

[2017-12-05 19:18] SamWhited commented on #22990
[code]

[2017-12-05 19:27] krytarowski commented on #20852
We need to rebuild the packages for NetBSD-8/i386.

I've noted execution of "race" tests for FreeBSD, Linux, Windows - is this ThreadSanitizer (TSan) related? If so, we could add a NetBSD/amd64 target.

[2017-12-05 19:30] bradfitz commented on #20852
@krytarowski, who rebuilds packages? When can that be done by?

As for race detector support, that's unrelated to this issue. There is at least #19273 open for more platform support. Or you could file a new bug. But it would likely require upstream TSAN support. It won't happen for Go 1.10.

[2017-12-05 19:34] krytarowski commented on #20852
We, have already passed the requests internally to responsible developers.If I recall correctly, Manuel Bouyer was generating them.. however -current branches (like -8) are special cases so they will be generated on demand.

[2017-12-05 19:36] krytarowski commented on #19273
I've added NetBSD/amd64 support in LLVM TSan. This could be integrated with golang CI infrastructure.

https://blog.netbsd.org/tnf/entry/the_llvm_thread_sanitizer_has

[2017-12-05 19:37] bradfitz commented on #20852
Oh, you already ported TSAN (https://blog.netbsd.org/tnf/entry/one_year_checkpoint_and_thread). Feel free to file a new bug for tracking Go support.

[2017-12-05 19:39] bradfitz commented on #19273
Note that we check in binary blobs to the Go repo:

[code]

They are built using:

https://github.com/golang/build/tree/master/cmd/racebuild

[2017-12-05 19:44] ianlancetaylor commented on #22996
I believe you can capture the test output on one machine and run it through `test2json` on a different machine.

[2017-12-05 19:50] willfaught opened #23003 "proposal: go/ast: GenDecl should print valid syntax without a token.Pos"
This:

[code]

prints with go/printer.Fprint like this:

[code]

as something like this:

[code]

I suspect this is because GenDecl.TokPos is unset, because I have no position information for it. I just want to print arbitrary Go syntax using the ast and printer packages. The nodes aren't coming from the parser package.

Other node types have syntax that don't require position information and do p

[2017-12-05 19:54] zoulasc commented on #20852
I am trying to build i386 packages for NetBSD-8.0...

[2017-12-05 19:59] willfaught commented on #22975
Ah, that makes sense. I didn't realize the Object returned by Lookup was the TypeName. Sorry for the mixup.

[2017-12-05 20:02] pkieltyka opened #23004 "x/tools/cmd/goimports: ability to disable pkg renaming"
go version go1.9.2 darwin/amd64 and golang.org/x/tools/cmd/goimports @ 04447353bc504b9a5c02eb227b9ecd252e64ea20

For packages that manage versioning through import paths, such as `"upper.io/db.v3"` or `"google.golang.org/api/youtube/v3"` goimports will import these packages as:

[code]

although it may be a useful hint to readers to see the explicit package name for the path, my preference is to u

[2017-12-05 20:06] bradfitz commented on #23004
No, I don't want any flags.

People run this from their editors more than they do by hand. There's no place to put flags.

Also, the whole point of things like gofmt or goimports is to have conventions that everybody uses, even if they don't all 100% agree on them. Adding flags for people's preferences seems antithetical to the spirit of such tools.

[2017-12-05 20:15] pkieltyka commented on #23004
@bradfitz good point about going against the spirit of such tools and flags just add more knobs that pollute the experience. Totally agree.

My point is I don't like auto pkg renaming enough to post this issue and fork my own version to disable it :)

perhaps then we could add to imports.Options{} to disable renaming, and export `gofmtMain()` in goimports.go and accept the options as an argument.

[2017-12-05 20:20] bradfitz commented on #23004
Or you could just fork goimports if you don't want to use goimports. :)

Why complicate the code base for everybody else, just for one user who wants to be different?

If it's just for one user, that's too much complication and maintenance cost.
If it's for 50% of users, then we're encouraging a split in the community conventions, and we shouldn't do it.
If it's 100% of users, then we wouldn't add

[2017-12-05 20:21] DeedleFake commented on #23004
That's not necessarily true. `vim-go` provides a `g:go_fmt_options` variable that you can set to pass flags to whatever command it's running instead of `gofmt`.

Then why does `goimports` exist? Why not just have the import functionality built-in to the standard `gofmt`? I would assume that it's because modifying imports isn't technically a 'formatting' thing, which I would think then implies that

[2017-12-05 20:25] bradfitz commented on #23004
gofmt can't make mistakes and can't be slow.

goimports can.

I wrote it for myself on a long flight and started with it out-of-tree. It was at https://github.com/bradfitz/goimports and then we moved it to x/tools at some point. By having a different binary name, you opt-in to the potential mistakes and slowness.

Perhaps it could be part of gofmt, but then it'd need more flags. It seems fine bein

[2017-12-05 20:35] ianlancetaylor commented on #22906
The only problem with the structured comment is that it has to appear in every single file that uses cgo with the troublesome type.  It's not a fatal problem, but it's less than ideal.

[2017-12-05 20:38] randall77 opened #23005 "cmd/compile: wrong evaluation order for map assignment [Go1.9]"
Go 1.9.3 issue for #22881.

[2017-12-05 20:40] ianlancetaylor commented on #22995
@jhrabe That is too strong.  Whether to use goroutine-local Sources should normally be made based on desired behavior rather than performance.  Perhaps we could say "The default Source uses locks and is safe for...."

[2017-12-05 20:41] ianlancetaylor commented on #23003
CC @griesemer

[2017-12-05 20:41] mvdan commented on #23003
Note that a redesign of go/ast is being written, so that would likely be the better answer in the long term rather than to modify how go/ast works. /cc @griesemer

[2017-12-05 20:45] ianlancetaylor commented on #22866
This is probably a dup of #18395.

CC @griesemer

[2017-12-05 20:47] ianlancetaylor commented on #22974
Thanks for the comments.  Let's agree to disagree.

[2017-12-05 20:48] bcmills commented on #22906
Given that we can't control the C header files, I don't see an alternative in general. The only other option I can think of is to add a (non-portable) annotation to the declaration in the C header to say “this is a sometimes-pointer”, but if we could make changes to the C header in general we could just change the type from a pointer to the more portable `uintptr_t` to begin with.

On the other ha

[2017-12-05 20:49] griesemer commented on #23003
This is working as intended, or at best unfortunate.

Work-around. The printer will put the parentheses there if you provide any valid position; just make one up. Comments are interspersed based on positions, so you could just increment a token.Pos for each node.

[2017-12-05 20:49] #23003 closed

[2017-12-05 20:51] jhrabe commented on #22995
OK, so would you be happy with the following?

The default Source uses locks and is safe for concurrent use by multiple goroutines.  If the performance penalty incurred by locking becomes too high, use thread-local Sources created by NewSource.  These are not safe for concurrent use.

[2017-12-05 20:53] griesemer commented on #23003
PS: The go/printer needs to have some signal as to whether parentheses were present or not; and that signal is whether the ast.GenDecl.Lparen is a valid position or not. If it is, no matter what it is, it will print the parentheses. That's the design as is, and we're not going to change it at this point.

Note that com/compile has started using a newer and improved syntax tree (cmd/compile/interna

[2017-12-05 20:55] krytarowski commented on #19273
I've repeated the steps for building race_netbsd_amd64.syso.

[code]

My golang patch:

[code]

But I'm getting the following error when attempting to use it:

[code]

Investigating.

[2017-12-05 20:56] bradfitz commented on #22995
We never say "thread-local" (or even "threads", generally).

[2017-12-05 21:00] griesemer commented on #22866
@matthewmueller Could you please run your code using the latest (tip) version of go/types and report back if you see the same error? If it is indeed a duplicate of #18395 go/types will now complain with a respective error.

[2017-12-05 21:09] ianlancetaylor commented on #22995
Personally I don't think it's necessary to spell out the performance penalty in the package comment.

[2017-12-05 21:12] krytarowski commented on #19273
@bradfitz other .syso files seem to have similar symbols undefined. Are there suggestions how to address it?

[2017-12-05 21:15] griesemer commented on #22866
@matthewmueller I just confirmed myself that this is indeed a duplicate of #18395. A fix is in the works, but unfortunately it's too late to get that into Go 1.10. For:
[code]
gotype reports:
[code]
As a temporary work-around in this case you could manually inline the methods that the Element interface embeds via the Node type. This is always possible to do manually, and in fact the fix for go/typ

[2017-12-05 21:15] #22866 closed

[2017-12-05 21:19] dsnet commented on #22013
I have no judgements regarding whether embedding should be added or removed, but I do find the current specification of them somewhat unsatisfactory. Here are few experience reports.

### Embedding can lead to forward incompatible code

I have seen cases where a user embeds a protobuf struct into their own struct because they wanted to have easy access to the struct fields in the protobuf message.

[2017-12-05 21:25] willfaught commented on #23003
@griesemer Thanks for the workaround! I'll try that Pos trick with the Tok and Doc.

For what it's worth, I glanced at cmd/compile/internal/syntax this morning, and noticed that Field only has one name, unlike go/ast.Field, and the function type params is a slice of Field, which seems to mean the exact syntax is lost (e.g. whether it was `x, y int` or `x int, y int`). Having an AST that you can co

[2017-12-05 21:26] bradfitz commented on #19273
I have no clue. I've never built these binaries before, nor have I worked on the race detector.

Maybe @ianlancetaylor or @dvyukov know.

[2017-12-05 21:28] RLH commented on #22995
Locks are a rand implementation technique. Implementation techniques don't
belong at this level of documentation. At some point someone will want to
implement a more scalable rand and will not want the implementation choices
to be constrained by the documentation.

On Tue, Dec 5, 2017 at 4:09 PM, Ian Lance Taylor <notifications@github.com>
wrote:

[2017-12-05 21:45] griesemer commented on #23003
@willfaught Apropos cmd/compile/internal/syntax: No, exact syntax is not lost. Please do not draw premature conclusions from the (as of yet meagerly documented) source. The syntax.printer knows how to re-create the original source exactly by looking at the parameter types (are they the same pointer or not). The point of this is that tools operating on the syntax tree don't need to be bothered with

[2017-12-05 21:46] slrz commented on #22964
Better, but this is still the prototypical kind of thing a small shell script (or function) can solve in a more efficient (and probably even more convenient) way.

[2017-12-05 21:47] griesemer commented on #23003
In fact, the documentation is already there:
[code]

[2017-12-05 21:50] jhrabe commented on #22995
Sorry, I am being converted from numerical simulations using C.  Very well, no mentioning threads and locks then:

The default Source is safe for concurrent use by multiple goroutines. If the performance penalty incurred by synchronization becomes too high, use NewSource to create Sources local to each goroutine.  These Sources are not safe for concurrent use.

As for not explicitly mentioning per

[2017-12-05 21:52] DeedleFake commented on #17466
Not an argument for or against futures, but just an idea of a possible syntax that could be used for them that might fit better with the existing system: Allow `close()` to take an optional second argument of the channel's element type. If that argument is given, reads from the channel yield that value instead of the zero value. So, for example, the following contrivance would wait a second and th

[2017-12-05 21:53] willfaught commented on #23003
Interesting. Sounds cool. Sorry for drawing a hasty conclusion. It seemed similar to go/types.Var, but I admittedly only glanced around. I'll take a much longer look at it.

[2017-12-05 22:14] ash2k commented on #20818
I think ideally ordering should only depend on contents of the `imports` block. Reasons why not VCS/etc:
- `vendor` vs `GOPATH` vs `GOROOT` vs ... Package may reside in various places and it may or may not be under VCS control. Different users of the same project may have different setup of their dependencies and `goimports` must (IMO) produce exactly the same output for them so it cannot rely on

[2017-12-05 22:21] rasky opened #23006 "cmd/compile: slicing can be improved on ARM"
This code:

[code]

generates this code on ARM:

[code]

but it could be optimized this way:

[code]

which is much shorter and faster.

[2017-12-05 22:22] rasky commented on #23006
Moving the bound check into the slice operation sounds hard to me, but the other part should probably be easier. Not sure if it's better to special-case the code generation within `(*state).slice()` or trying to do the magic as a rule.

/cc @cherrymui @benshi001

[2017-12-05 22:44] ianlancetaylor commented on #19273
Most likely you need to edit the build constraints in the flie runtime/race/race.go so that your system is recognized.

[2017-12-05 23:09] krytarowski commented on #19273
This has improved the situation. I'm now done to unrecognized __ps_strings.

[code]

I'm researching how to fix it.

[2017-12-05 23:21] krytarowski commented on #19273
http://www.netbsd.org/~kamil/llvm/go-tsan-2017-12-06.txt

[code]

[2017-12-05 23:32] bradfitz opened #23007 "x/build/maintner: CLs that switch branches remain on the original branch"
I've noticed that Trybots run on this CL forever:

https://go-review.googlesource.com/c/go/+/33776

It has Run-TryBot=+1 set on it, so every time the coordinator restarts, it starts a TryBot run for it.

Then the TryBots pass, and it tries to leave a vote on Gerrit that TryBot-Result=+1, but Gerrit says 404:

[code]

and

[code]

Therefore it hangs around at the top of the coordinator status page

[2017-12-05 23:43] krytarowski commented on #19273
http://www.netbsd.org/~kamil/llvm/0001-Add-initial-TSan-NetBSD-support.patch

@bradfitz feel free to merge this with HEAD. (my CLA is signed for Google projects)

My .syso file: http://www.netbsd.org/~kamil/llvm/race_netbsd_amd64.syso

Feel free to regenerate it from scratch or take this one as is and commit to the golang repository.

I cannot focus on the racy tests soon, as I'm burdened with MSa

[2017-12-05 23:48] bradfitz commented on #19273
@krytarowski, the tree is closed right now for release. Only bug fixes can go in, not features.
See https://golang.org/wiki/Go-Release-Cycle (Unlike NetBSD, we intentionally do not have a development branch open during release freezes to encourage people to do boring stuff instead of just hacking on fun stuff)

We can merge fun things in February.

Also, we'd need to generate the syso ourselves (n

[2017-12-05 23:53] krytarowski commented on #19273
OK, thanks. In February hopefully there will be an option to get MSan aboard.

[2017-12-06 00:40] jimmyfrasche commented on #19814
@griesemer indeed and it was definitely the right call for Go 1 but some of it is worth reevaluating for Go 2.

There's enough in the language to get _almost_ everything one would want out of enum types. It requires more code than a type definition, but a generator could handle most of it and it lets you define as much or as little as fits the situation instead of just getting whatever powers come

[2017-12-06 01:08] chris-l-ross opened #23008 "Local IP address change caused timeouts for outgoing HTTPS requests"
Using Go 1.9.2 on linux amd64.

Using the net/http client on a device whose IP address changes while the program is running, we started getting timeouts for HTTPS requests. To troubleshoot, we set up a DHCP server with very short leases and a minimal program that made requests every 10s and were able to reproduce the problem. We used a client with a transport based on http.DefaultTransport and a t

[2017-12-06 01:12] rsc opened #23009 "net/http/httputil: ReverseProxy change conflicts with future ReverseProxy plans"
CL 54030 makes the suspicious change that after

	res, err := roundtripper.RoundTrip(...)

the error condition is now detected by res == nil instead of err != nil. That seems wrong. Commented more on the CL itself but we should resolve this one way or the other for Go 1.10.

[2017-12-06 01:15] rsc commented on #23009
I'm also not even convinced the main part of the change is correct. The docs for the ModifyResponse field say:

	// ModifyResponse is an optional function that
	// modifies the Response from the backend.
	// If it returns an error, the proxy returns a StatusBadGateway error.

The whole point of CL 54030 is to now call ModifyResponse on a fake Response that is _not_ from the backend. Why is that co

[2017-12-06 01:29] benshi001 commented on #23006
Currently code is frozen, and only bug fix is allowed. We can try the optimization in go1.11.

[2017-12-06 01:31] rsc opened #23010 "net/http: ResponseWriter panics in WriteHeaders that were formerly ignored"
See comments on CL 80077.

I am worried about (accidental) sequences like:

	w.Write([]byte("whatever"))
	w.WriteHeader(badCode)

or

	w.Hijack()
	w.WriteHeader(badCode)

Those WriteHeader calls were formerly reported in a logf as out of sequence but otherwise ignored. They should probably continue to be logf+no-op instead of causing a panic.

[2017-12-06 01:33] rsc commented on #23010
It's also not obvious why mapping to a 500 or some other internal error wouldn't be better than panic.

[2017-12-06 01:57] hsyan2008 commented on #22134
Go1.9.2  works fine.

[2017-12-06 02:30] andybons commented on #23007
That change's ID is `go~master~I6052695ece9aff9e3112c2fb176596fde8aa9cb2` since it's on the master branch.

dev.tls doesn't seem to be messing up in the API endpoints. `curl https://go-review.googlesource.com/changes/go~dev.tls~Ia1b06ae518a4b2821a584a420d99859a2666c8f0/detail` does just fine.

[2017-12-06 03:10] bjornharvold commented on #22059
I'm trying to get goversion installed on Mac but can't seem to find where it is installed after executing your command. Eager to help.

[2017-12-06 03:17] davecheney commented on #22059
It will be installed to $GOPATH/bin/goversion (assuming that GOPATH
contains a single path element, otherwise it will be in the first element
of GOPATH/bin)

On Wed, Dec 6, 2017 at 2:10 PM, Bjorn Harvold <notifications@github.com>
wrote:

[2017-12-06 03:30] smasher164 commented on #23009
Replied on CL, but you're correct in that err != nil should be used to construct the fake Response.

As to why the fake res not from the backend is constructed, ModifyResponse needs some way of mutating the res when it is nil. I assumed that the correct default response to construct was one that returned a StatusBadGateway error.

The change was intended to adapt ModifyResponse's current API to su

[2017-12-06 03:58] bradfitz commented on #22988
Unexpected darwin segfault: https://storage.googleapis.com/go-build-log/d5865919/darwin-amd64-10_11_bcefed3a.log

[2017-12-06 04:01] zoulasc commented on #20852
There should be packages now for 8.0 + i386. Please let me know if I missed any dependencies.

[2017-12-06 04:01] bradfitz commented on #23007
Oh, weird. So why is the coordinator getting confused and thinking it's `dev.tls`?

[2017-12-06 04:06] bradfitz commented on #20852
@zoulasc, I don't seen `mozilla-rootcerts` here:
ftp://ftp.netbsd.org/pub/pkgsrc/packages/NetBSD/i386/8.0_2017Q3/All/

The complete set we try to install is:

[code]

But emacs, vim, screen, go14, and even git-base should be optional. They're more nice-to-have for debugging. But without mozilla-rootcerts, curl & Go might have issues fetching resources.

[2017-12-06 04:07] zoulasc commented on #20852
stay tuned :-)

[2017-12-06 04:20] bradfitz commented on #23010
See some discussion about this on #22880.

The point is to be consistent between HTTP/1 and HTTP/2. The hack we did for HTTP/1 was never right anyway, had no HTTP/2 analogue, and only hid real problems from users. (e.g. https://github.com/golang/go/issues/22880#issuecomment-347327170)

People won't notice a 500. I'd like to keep the panic, at least for the betas and see if it trips up anybody whos

[2017-12-06 04:40] bradfitz opened #23011 "build: announce end of support for old macOS releases"
Apple continues to put out new macOS releases. We can't run builders for all of them forever.

I propose we announce in the Go 1.10 release notes that Go 1.10 will be the last release to officially support macOS 10.8 (Mountain Lion).

macOS 10.8 was last updated Oct 3, 2013, over 4 years ago.

(macOS 10.9 was last updated Mar 21, 2016, 19 months ago, which is somewhat more recent)

Apple doesn't p

[2017-12-06 04:48] rsc commented on #21357
I looked through this again. This is really unfortunate. Going back to Joe's original example:

[code]

We tried ignoring that field entirely, and that broke in various ways, so I think it seems pretty clear we should move on to Joe's option 3: return an error if we want to fill out embed but are now prevented from doing that.

Ignoring the field is much more surprising than I realized: it's a sil

[2017-12-06 04:53] matthewmueller commented on #22866
Thanks for the response and workaround!

@griesemer I'll definitely give this a shot. It will definitely blow up the file sizes a lot because the DOM interface are huge – hopefully that doesn't slow down the compiler.

[2017-12-06 04:54] dsnet commented on #21357
Can do.

[2017-12-06 05:14] zoulasc commented on #20852
you should have everything but emacs... which should come later.

[2017-12-06 05:17] bjornharvold commented on #22059
Thank you for that. The app that is not working for me was compiled with Go v1.6.2. I'm assuming I have to contact the developer of this program to recompile the binary with a newer version of Go? Can we safely say that Go v1.6.2 is not supported on High Sierra?

[2017-12-06 05:27] davecheney commented on #22059
Yup, Go 1.6.2 is neither supported on High Sierra, or a supported release,
https://github.com/golang/go/wiki/Go-Release-Cycle#release-maintenance

The developer should upgrade to at least Go 1.8, bit given the pace apple
likes to break backwards compat with their own syscall ABI, i'd recommend
the latest 1.9 relaese.

On Wed, Dec 6, 2017 at 4:17 PM, Bjorn Harvold <notifications@github.com>
wrote:

[2017-12-06 05:54] bradfitz commented on #20852
@zoulasc, thanks. I'm kicking off a build of the image.

[2017-12-06 05:55] zoulasc commented on #20852
thank you for all your patience :-) I am building git now.

[2017-12-06 06:02] dsnet opened #23012 "encoding/json: invert panic-recover capture type"
The current logic in `json/decode.go` does the following:
https://github.com/golang/go/blob/7eb7f8f5a75fcff520b5b93a7831fa7044d86887/src/encoding/json/decode.go#L173-L178

This captures any panics that aren't `runtime.Error`, which is arguably a wider range of panics than should be captured. For example, a panic in the reflect package gets masked away as an error.

The logic in `decodeState.error`

[2017-12-06 06:05] griesemer commented on #22866
@matthewmueller Inlining all methods manually will always work but you may not have to go to that extreme to avoid the issue. You may be able to factor our a significant subset of the methods into a new interface that you then can embed.

Again, a fix is in the works ( https://go-review.googlesource.com/c/go/+/79575 ) and you could try the patch, but it's not the final version quite yet.

[2017-12-06 06:07] dc0d opened #23013 "Sub-Commands for flag Package"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9.2

### What operating system and processor architecture are you using (`go env`)?
Ubuntu 16.04

[This](https://godoc.org/github.com/dc0d/clarg#example-Parse) is a simple and clean way to add sub-commands to `flag` package without changing anything or adding any new type; ju

[2017-12-06 06:09] bradfitz commented on #23013
Sorry, but the flag package in the standard library isn't growing features at this point.

[2017-12-06 06:09] #23013 closed

[2017-12-06 06:12] dc0d commented on #23013
:( That was fast!

[2017-12-06 06:26] bradfitz commented on #20852
Okay, deployed. I have it configured to only use 1 VM at a time so it won't use our self-imposed 500 VM quota all at once to catch up, but it'll catch up slowly on its own. I ran one test build manually and watched it get through the start, so I see networking on GCE now works, and bash & curl work, the buildlet starts (I needed to rebuild it for the sysctl fix), and make.bash starts running. I as

[2017-12-06 06:45] mdempsky commented on #22988
It looks like either clang or testp1 crashed with a segmentation fault without printing anything. Unfortunately, it seems the test's logs don't appear to make it possible to discern which happened.

However, either way something seems very broken: either clang (provided by the system) segfaulted, or the Go test program's SIGSEGV handler messed up.

[2017-12-06 06:47] mdempsky commented on #22988
The darwin-amd64-10_11 builder has been pretty stable on build.golang.org. Are there any notable differences between the darwin-amd64-10_11 builders and trybots?

[2017-12-06 08:23] Merovius commented on #19814
To me - a representative of the camp of fierce proponents of [gradual repair](https://talks.golang.org/2016/refactor.article) - this seems like the correct(ish) tradeoff. Honestly, even if we're not talking about gradual repair I'd consider that a better mental model.

For one, type-checked enum will only ever be able to check values inserted into source code anyway. If the enum travels over a net

[2017-12-06 09:13] henryas opened #23014 "x/tools/cmd/stringer: tool generates unnecessary index variables"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
Go 1.9.2

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
windows 10 home, windows/amd64

### What did you do?

Given the following data:
[code]
then run stringer on it (in this case, via

[2017-12-06 09:22] rogpeppe commented on #21538
Another thought: would you be allowed arrays of nonnil type? If so, how would you fill them? I think it's reasonable to assume that it's not always reasonable to have an array literal of the size of the array, as arrays can be large.

[2017-12-06 09:25] mvdan commented on #23014
You can follow the instructions here to use Gerrit: https://golang.org/doc/contribute.html

[2017-12-06 09:47] bjornharvold commented on #22059
Thanks Dave :-)

[2017-12-06 09:47] #22059 closed

[2017-12-06 10:24] odeke-em commented on #22724
Ping @tt, please take a look at the feedback that @mikioh posted plus the gentle ping from @bradfitz. Thank you.

[2017-12-06 10:50] businiaowyf opened #23015 "cmd/go: go get error, remote: The project you were looking for could not be found."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9.2

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
MacOS High Sierra 10.13.1
amd64

### What did you do?
I have a repository whose path is **https://git.garena.com/gxx/liveserver/jupi

[2017-12-06 11:12] odeke-em commented on #21854
Gentle ping, how's it going @hirochachacha?

[2017-12-06 11:18] odeke-em commented on #21681
Gentle ping, how's it going @gilbertchen and @mvdan?

[2017-12-06 11:32] odeke-em commented on #20285
Hello @aronatkins, sorry that we hadn't looked at this.

Am I right to allude that you'd suggest that we Stat for presence of the directory regardless of
if we have the SysProcAttr or not?
If so, that code was updated by @hanwen's CL https://golang.org/cl/6297083 to solve issue https://github.com/golang/go/issues/3649.
Interestingly I think @rsc postulated in https://github.com/golang/go/issues/36

[2017-12-06 11:36] odeke-em commented on #21051
For the link happy folks, @rsc is referring to https://golang.org/cl/49251

[2017-12-06 11:37] szank opened #23016 "crypto/x509: Trailing data in the IssuerAlternativeName extension value does not return an error when parsing certificate."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 darwin/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
osx

### What did you do?
I was investigating some test certificates, and noticed this one:
[code]

This l

[2017-12-06 11:48] coypoop commented on #22944
how can I run this specific test?

[2017-12-06 11:50] Quasilyte commented on #22779
[golang-dev first message](https://groups.google.com/forum/#!topic/golang-dev/DdQX1mN1Rd4), 5th question (@TocarIP):

because we can't distinguish beetween 128 and 256 bit versions in some cases:
`VCVTPD2PS (R11), X2` // Destination is 128 bit in both cases, so we need X/Y suffix
But if we add broadcasting we can distinguish those cases. 1to4 means 256, 1to2 means 128.
So should we add a version o

[2017-12-06 11:55] bsiegert commented on #22944
`go test sync` should work/

[2017-12-06 12:08] go101 commented on #22974
ok. but the docs realy doesn't mention how to subtract an unsigned constant.

[2017-12-06 12:24] go101 commented on #22881
This is not only for map
[code]

[2017-12-06 13:19] go101 commented on #22881
however, if we view left `m[key]`as `*GetMapValueAddr(key)`, then the example is the first comment may be also viewed as not a bug.

[2017-12-06 13:40] coypoop commented on #22944
netbsd's nanosleep always schedules another process, even for really short sleeps. making it spin on really short sleeps fixes this

[2017-12-06 13:55] ianlancetaylor commented on #23015
That error is coming from git, not the go tool.  If you run `go get` with the `-x` option, you will see the exact git command that it is running.

[2017-12-06 13:55] go101 commented on #22881
Similar to this problem: https://groups.google.com/forum/#!topic/golang-nuts/J3kXXZivlHA

[2017-12-06 14:29] ianlancetaylor commented on #22974
Go doesn't really have the concept of an unsigned constant.  Go constants are untyped.  Numeric constants are positive or negative.  They are always signed.  See https://golang.org/blog/constants.

[2017-12-06 14:37] aclements commented on #22059
Thanks! For reference, the issue about improved forward-compatibility on macOS is #17490.

[2017-12-06 15:20] go101 commented on #22881
Then this
[code]

The spec says `m[2]=1` happens before `*p=2`, so the print result should be 1 instead.

[2017-12-06 15:24] ianlancetaylor commented on #22881
Let's take detailed discussion of order of evaluation away from this issue, which is about a specific bug.  Thanks.

[2017-12-06 15:34] go101 opened #23017 "cmd/compile: inconsistent behaviour in multiple assignment"
### What version of Go are you using (`go version`)?

go version go1.9.2 linux/amd64

### Does this issue reproduce with the latest release?

yes

### What did you do?

Two programs:

program 1:
[code]

program 2:
[code]

### What did you expect to see?

The behaviors of the two programs should be consistent.

### What did you see instead?

The behaviors of the two programs are not consistent.

pr

[2017-12-06 15:35] ceseo commented on #19273
FYI, I'm working on adding the necessary changes in LLVM TSan so we can get the race detectors on ppc64x.

[2017-12-06 15:40] rsc commented on #23009
It seems to me that CL 54030 and CL 77410 have different, conflicting ideas of how to process a RoundTrip error. If we think that CL 77410 may be the right choice in Go 1.11, then it doesn't make sense to include CL 54030 in Go 1.10.

Given the uncertainty around the API decision here I suggest we revert CL 54030 for Go 1.10 and decide the API question in the next round without having painted ours

[2017-12-06 15:41] ianlancetaylor commented on #23017
The order of evaluation rules for the language do not specify precisely when a pointer indirection occurs.  I think that either behavior is permitted by the language.

CC @griesemer

[2017-12-06 15:43] aronatkins commented on #20285
@odeke-em Thanks for the update. I'm OK with shifting this out of Go 1.10.

From reading #3649, it appears that there are certain `SysProcAttr` configurations where we want to test the `Dir` directly, certain cases where that directory might need to be considered with the `chroot`, and certain cases where the error needs to come from deeper in the call stack. I don't have enough context to see the

[2017-12-06 15:47] randall77 commented on #23017
From the spec:
[code]
That sounds like program 1, we should set `m[2]=1` before panicking.

[2017-12-06 16:06] carlmjohnson commented on #22729
I love this proposal.

I think it's worth considering `null` as the name to add. It's a very commonly used keyword. Semantically, it would make more sense for everything but interface to use `null`, and interface would continue to use `nil`. OTOH, if we use `none`, then interface could use that and everything else could continue using `nil`. In either case, there's an easy transition using go vet

[2017-12-06 16:25] henryas commented on #23014
@mvdan Thanks.

[2017-12-06 16:26] icholy opened #23018 "Add os.ModeExecutable"
### What version of Go are you using (`go version`)?

go version go1.9 linux/amd64

### What did you do?

Tried to determine if a file is executable

[code]

### What did you expect to see?

`os.ModeExecutable` to equal `0111`

### What did you see instead?

`os.ModeExecutable` is not defined.

[2017-12-06 16:35] carlmjohnson commented on #22624
I think code snippet is pretty common:

[code]

It always bugs me that I can't tear down the stack frame before redirecting. It's worth asking: should we optimize this away? Or should we make `become http.Redirect(w, r, url, http.StatusTemporaryRedirect)` legal? Both have downsides. In the first case, you're losing potentially useful stack info. In the second case, you're asking for programmers to

[2017-12-06 17:03] krytarowski commented on #19273
Great to see ppc64le development around. FreeBSD is improving their POWER8 support lately.. I would love to see it with NetBSD as well (but hw price isn't easily reachable for a hobbyist).

[2017-12-06 17:04] bcmills commented on #22624
There is a third option, too: we could compact the stack frame without eliminating it completely: for example, chop it down to just a return address.

- That wouldn't change tail calls from O(N) to O(1), it would just change the constant factors.

It's not obvious to me that that's the right thing to do either, because

[2017-12-06 17:05] odeke-em commented on #23016
/cc @agl

[2017-12-06 17:06] bcmills commented on #22624
There is a third option, too: we could compact the stack frame without eliminating it completely (for example, chop it down to just a return address).

+ That would substantially reduce overhead for functions with large stack frames.
- It wouldn't change tail calls from O(N) to O(1).

[2017-12-06 17:18] bradfitz commented on #23018
Executable for who?

We also don't have ModeReadable and ModeWritable, so why just executable?

[2017-12-06 17:29] eminano commented on #22959
@weppos Thanks for your reply!
I am working on a custom implementation of the publicsuffix library, so I was aiming to mirror the same behaviour. I found these cases when running fuzzing comparing the output from both.

You are right, there's nothing specified about the ICANN flag, so I will restrict my comparison/mirroring to the public suffix returned.

[2017-12-06 17:38] krytarowski commented on #20852
Thanks for your effort! The next release should ship with TSan, NSan and ARM CI machines on NetBSD!

[2017-12-06 17:47] icholy commented on #23018
@bradfitz makes sense

[2017-12-06 17:47] #23018 closed

[2017-12-06 17:49] andybons commented on #20852
Really impressed with all the collaboration on this effort. Nice work, everyone! 🎉

[2017-12-06 17:51] bradfitz commented on #20852
And looks good this morning. Still some flakes here & there, but much better.

I'm going to close this bug. We can open new ones for specific issues that come up.

[2017-12-06 17:51] #20852 closed

[2017-12-06 17:54] andybons commented on #23007
Good question. Let me take a quick look...

[2017-12-06 18:06] andybons commented on #23007
The maintner corpus thinks that it’s in the `refs/heads/dev.tls` branch. My guess is that when Filippo switched from dev.tls to master (https://go-review.googlesource.com/c/go/+/33776#message-60a9b48d3094de83bdcf1b5f838ef2c323d56603) that it didn’t take the switch into account.

[2017-12-06 18:10] bradfitz commented on #23007
Ah, okay. Thanks. I'll look into a fix.

[2017-12-06 18:20] ianlancetaylor commented on #22223
As far as I can tell this is a valid issue, but there is no trivial fix, and things are working today, so rolling this forward to 1.11.

[2017-12-06 18:21] ianlancetaylor commented on #16300
@dr2chase @cherrymui Is this going to be fixed for 1.10?  If not lets roll the milestone forward.

[2017-12-06 18:22] ianlancetaylor commented on #22444
@randall77 @mdempsky Is there anything else to do this on this issue for 1.10?

[2017-12-06 18:23] ianlancetaylor commented on #20178
@randall77 This issue is marked 1.10.  Should it be moved to 1.11, or Unplanned?

[2017-12-06 18:24] ianlancetaylor commented on #17943
Moving the milestone to Unplanned.  The idea is fine, and CLs welcome, but nobody is working on this.

[2017-12-06 18:27] bradfitz commented on #21681
I tried the trivial change, like:

[code]

But that doesn't work. Looks like `SetFilePointerEx` comes with a bunch of warnings about multi-threaded programs and overlapped I/O. Not sure whether those apply.

Also, that `GOARCH == "amd64"` check is bogus. This should also work on 386 but I don't know how to shove a LARGE_INTEGER through syscall.Syscall6 on Windows.

Maybe @alexbrainman is intereste

[2017-12-06 18:32] jimmyfrasche commented on #22624
@bcmills Scheme implementations do some interesting things wrt tail calls and stack frames. A bit hard to search for, but I found this:

From https://news.ycombinator.com/item?id=7794553

[2017-12-06 18:35] ianlancetaylor commented on #22566
My understanding is that this only happens when using `-buildmode=shared` with `package main`.  So we still need to fix this, but it has a simple workaround.  Moving to milestone Unplanned.

[2017-12-06 18:35] rsc commented on #23011
I just came here to suggest the same thing. SGTM.

[2017-12-06 18:46] ianlancetaylor commented on #22574
Is there anything else to do for this issue?

[2017-12-06 18:49] ianlancetaylor commented on #22691
It looks like we currently skip the test, so moving this out of the Go 1.10 milestone.

[2017-12-06 18:51] #22642 closed

[2017-12-06 18:51] hyangah commented on #22574
Closing.

[2017-12-06 18:58] #22571 closed

[2017-12-06 18:59] bcmills commented on #22624
A ring-buffer of stack frames only works if your stack frames have a small constant upper bound, or are heap-allocated or otherwise independently collectable.

I don't think either of those is a good idea for Go.

[2017-12-06 19:04] dr2chase commented on #16300
This "One possible fix: do not print `does not escape` message for implicit node" turns out to need more help; alone, it causes many apparently useful and correct messages to disappear.

[2017-12-06 19:11] ianlancetaylor commented on #21681
This is an existing issue.  We can look at a CL, but otherwise kicking it down the road.

[2017-12-06 19:15] willfaught commented on #23003
For posterity, here's exactly what you have to do:

[code]

You have to add a file to the file set with a size large enough for the doc. The file name can be zero, but the file offset must be at least 1.

[2017-12-06 19:18] heinrich5991 commented on #21681
This is the how [`SetFilePointerEx`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365542(v=vs.85).aspx) is called in Rust, maybe you can copy that (except for the actual calling of the syscall): https://github.com/rust-lang/rust/blob/833785b090c30d4a359d901fb41bfafbe1607ce9/src/libstd/sys/windows/fs.rs#L337-L352.

I think the remarks about overlapped IO and multithreading are irrelev

[2017-12-06 19:19] ianlancetaylor commented on #20315
@aclements Can you let us know how often this test failure occurs?  Or tell us how we can run your tool to find that out ourselves?  Thanks.

[2017-12-06 19:24] griesemer commented on #23017
@randall77 I think this example in the spec is wrong. The prose before says:

That is, we shouldn't get to the assignment if there's a nil-pointer exception. I'd conclude the behavior for program 1 is correct.

Secondly, I don't see anything in the spec stating when panics due to assignments to nil maps should happen in multiple assignments; I'd conclude that the behavior for program 2 is at least

[2017-12-06 19:26] bradfitz commented on #20315
Oh, I forgot he did check in his tool: x/build/cmd/fetchlogs

[2017-12-06 19:28] #21357 closed

[2017-12-06 19:30] griesemer commented on #23017
Never mind; I misread. The operands are evaluated, but not the entire expression. So the spec example is correct, and program 1 should assign to m.

[2017-12-06 19:32] mdempsky commented on #23017
My understanding of the spec is that `m[2], *p = 1, 2` should be evaluated as:

    // First, the operands of index expressions and pointer indirections (including implicit pointer indirections in selectors) on the left and the expressions on the right are all evaluated in the usual order.
    t0, t1, t2, t3, t4 := m, 2, p, 1, 2

    // Second, the assignments are carried out in left-to-right orde

[2017-12-06 19:32] aclements commented on #20315
They're all technically checked in, but some are in personal repos because they're a mess (go get github.com/aclements/go-misc/greplogs; go get github.com/aclements/go-misc/findflakes)

[code]
[2016-05-11T16:48:46-80423f1/darwin-amd64-10_9](https://build.golang.org/log/fe5359b95268945cfaddbfd36eddc6fa7e33d9e7)
[2016-05-11T17:07:24-20e362d/darwin-amd64-10_9](https://build.golang.org/log/ddde8559725

[2017-12-06 19:36] mdempsky commented on #23017
Related discussion: #15620.

[2017-12-06 19:37] griesemer commented on #23003
If it's just about getting the printer to print the '('s, you should be able to get away with much less. You simply need to provide a valid token.Pos.

[2017-12-06 19:46] randall77 commented on #20178
I will punt to 1.11.  I have a CL that mostly, but not quite, works.

[2017-12-06 19:47] ianlancetaylor commented on #18540
The original report on this issue is not an example of #18874.  In that stack trace we can see that the program is sleeping in `os.(*Process).blockUntilWaitable`.  If it were #18874, it would be sleeping on a channel receive in `os/exec.(*Cmd).Wait`.

The original report was filed on January 6.  On February 28 we stopped using `waitid` on Darwin (https://golang.org/cl/37610).  We made that change

[2017-12-06 19:47] #18540 closed

[2017-12-06 19:49] ianlancetaylor commented on #18874
The docs have been improved as part of #22610.  It's not clear that there is anything else to do here.

[2017-12-06 19:53] mdempsky commented on #22444
@ianlancetaylor Oops, no.

[2017-12-06 19:58] willfaught commented on #23003
The issue was the `type` token being printed before the doc, producing invalid Go syntax, as in the example in the original post:

[code]

Sorry if that wasn't clear. I referenced the parenthesized expression as an example of an expression that prints as correct Go syntax without Poses for the parentheses, producing something like `(subexpr)` instead of `()subexpr`. Maybe that's not a perfect exam

[2017-12-06 19:59] mdempsky commented on #22223
The original issue (that cmd/compile was erroneously checking the GOEXPERIMENT environment variable) is fixed, so I think this can be closed again. (I saw @bradfitz's comment on the CL, but didn't notice he reopened this issue.)

[2017-12-06 19:59] #22223 closed

[2017-12-06 20:34] ceseo commented on #19273
@krytarowski if you need machine access, you may try a POWER8 VM in one of our OpenPOWER Mini Clouds, like [this](http://openpower.ic.unicamp.br/minicloud/).

[2017-12-06 20:51] mdempsky commented on #23017
Program 1 is miscompiled by cmd/compile because order.go rewrites

    m[2], *p = 1, 2

into

    t0, t1 := m, 2
    t2, *p = 1, 2
    t0[t1] = t2

[2017-12-06 21:02] ianlancetaylor opened #23019 "os/exec: consider changing Wait to stop copying goroutines rather than waiting for them"
When the `Stdin`, `Stdout`, or `Stderr` fields of `os/exec.Cmd` are set to anything other than `nil` or a `*os.File` (a common case is `*bytes.Buffer`), we call `os.Pipe` to get a pipe and create goroutines to copy data in or out.  The `(*Cmd).Wait` method first waits for the subprocess to exit, then waits for those goroutines to finish copying data.

If the subprocess C1 itself starts a subsubpro

[2017-12-06 21:09] mdempsky commented on #23017
gccgo prints 1 and 5 for programs 1 and 2, respectively.

[2017-12-06 21:19] thanm opened #23020 "cmd/compile: incorrect abstract origin assigned to param of inlined subroutine"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

tip
go version devel +70f441bc49 Wed Dec 6 19:27:26 2017 +0000 linux/amd64

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

GOHOSTARCH="amd64"
GOHOSTOS="linux"

### What did you do?

C

[2017-12-06 21:20] aarzilli commented on #22990
[code]

[2017-12-06 21:21] thanm commented on #23020
FYI, this bug will impact user experience in GDB, but will not cause any crashes or other unpleasant runtime behavior, just to be clear.

[2017-12-06 21:39] ianlancetaylor commented on #5616
For Go 2, we should decide whether to simply remove the syscall package from the standard library, and direct people to use golang.org/x/sys instead.  We could have a slightly smaller version of the current syscall package in internal/syscall for use by runtime, os, net, and whatever other standard library packages need syscall support.

Our vote is to do this: to remove syscall entirely from Go 2

[2017-12-06 21:43] titanous commented on #22836
/cc @agl

[2017-12-06 22:14] ianlancetaylor commented on #6815
Based on above comments, withdrawing this proposal.

[2017-12-06 22:14] #6815 closed

[2017-12-06 22:19] pciet commented on #7088
Changing my application that uses sets of slices, sets of pointers, and sets of two-int structs from map unordered sets to slice unordered sets reduced my testing time from 1.78-1.89 to 0.54-0.53 seconds. That's 95 chess board test cases for determining all moves available or making a move determined to be legal.

[2017-12-06 22:56] bradfitz commented on #20036
I'm going to close this since we've never seen it again. Also, I'm changing the Macs to nuke themselves every build, so if this was filesystem corruption over time, that won't be an issue anymore.

[2017-12-06 22:56] #20036 closed

[2017-12-07 00:07] willfaught opened #23021 "cmd/fmt: adjacent closing braces on separate lines have same indentation"
#### What did you do?

[code]

https://play.golang.org/p/P6zFZQH2jJ

Press the format button.

#### What did you expect to see?

Nothing changed.

#### What did you see instead?

[code]

The

[code]

part was dedented by one tab. Seeing two adjacent

[code]

with the same indentation seems wrong.

#### System details

[code]

[2017-12-07 00:08] ianlancetaylor commented on #20315
Thanks, @aclements .

I do now see a code path that can lead to an exit status of 2.  The failure cases are when `signal.Notify` is not called.  The program will get a `SIGPIPE`.  The signal handler will catch the signal and return.  The `Write` will see an `EPIPE` error, call `os.epipecheck`, then `os.sigpipe` (in runtime/signal_unix.go), then `dieFromSignal`.  If `dieFromSignal` fails to actuall

[2017-12-07 00:14] aclements commented on #20315
See https://golang.org/cl/37890 for some of why it doesn't use `sched_yield`. Apparently we're waiting on loop preemption (sigh).

[2017-12-07 00:15] dsnet commented on #23021
Is this a duplicate of #16371?

[2017-12-07 00:22] mvdan commented on #23021
Seems like a dup to me.

[2017-12-07 00:42] dsnet commented on #21357
The new policy fixed all the known breakages inside Google (with the exception of GoogleCloudPlatform/google-cloud-go#813) without any changes to user code.

[2017-12-07 00:57] #20315 closed

[2017-12-07 01:00] rogpeppe commented on #22990
[code]

[2017-12-07 01:03] jimmyfrasche commented on #19814
@Merovius The operating system process and the package are both trust boundaries, as you put it.

Information coming from out of process has to be validated at its ingress and unmarshaled into an appropriate representation for the process and appropriate care taken when that fails. That never goes away. I don't really see anything specific to sum/enum types there. You could say the same about stru

[2017-12-07 01:08] #22911 closed

[2017-12-07 01:16] azavorotnii opened #23022 "net/http: Server panic if listener returns connection with RemoteAddr() == nil"
### What version of Go are you using (`go version`)?
1.9.2

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
Any.

### What did you do?
In very specific situation listener returns net.Conn object with "RemoteAddr" that is "nil".
[code]

### What did you expect to see?
Server returns error from server.Serve()

[2017-12-07 01:19] bradfitz commented on #23022
What situation?

If you're implementing your own `net.Listener` or `net.Conn`, you need to implement the full interface.

If a concrete implementation in the standard library is returning nil, how?

[2017-12-07 01:27] azavorotnii commented on #23022
By very specific situation I mean that we didn't find stable way to reproduce this situation. Our listener wraps "keep alive" logic:
[code]

[2017-12-07 01:41] spieglt commented on #13672
Would this also be happening when using a DLL built with Visual Studio via the Syscall package? I believe I'm having similar symptoms.

[2017-12-07 02:02] businiaowyf commented on #23015
I found the same issue here [#21859](https://github.com/golang/go/issues/21859)
Thank you ianlancetaylor

[2017-12-07 02:04] bradfitz commented on #23022
c.File() dups the fd. Maybe that messes it up.

@ianlancetaylor?

[2017-12-07 02:10] ianlancetaylor commented on #22858
@ALTree can you see if https://golang.org/cl/82415 fixes the problem for you?  Thanks.

[2017-12-07 02:24] ianlancetaylor commented on #23015
@businiaowyf Does that help you fix the problem?  If so we can close this issue.

[2017-12-07 02:28] ianlancetaylor commented on #23022
I don't know why the dup would cause the network address to be missing, but I also don't know why you are doing it at all.

It's not obvious to me that this is a net/http problem.  Can you give us a small standalone test case that shows you getting a `net.TCPConn` with no address?  Thanks.

[2017-12-07 02:30] businiaowyf commented on #23015
Yes, you can close it. Although I haven't fix it, I think it helps. Thank you again.

[2017-12-07 02:37] #23015 closed

[2017-12-07 02:38] cherrymui commented on #23020
The program seems missing...

[2017-12-07 02:41] runner-mei commented on #21655
This bug is still exists in the go 1.9.2  on windows/386
[code]

[2017-12-07 02:44] thanm commented on #23020
Apologies-- "paste" apparently didn't go through. Here is the playground link:

`https://play.golang.org/p/BIf78rGlOI
`

[2017-12-07 03:30] bradfitz commented on #22897
And now it's broken for Go 1.9 and tip, but works at Go 1.8.

Andy, back to you.

For testing multiple Go versions, the `go` command in my $PATH is:

[code]

And then I set GOROOT to one of three environments when I run "go test" places.

[2017-12-07 03:33] #17674 closed

[2017-12-07 04:17] willfaught commented on #23021
I saw that one, but I wasn’t sure if it was the exact same thing. Feel free to close if so.

[2017-12-07 04:32] azavorotnii commented on #23022
Unfortunately, I don't have test to reproduce this behavior, it happens rarely on running server.
I could narrow issue, FileConn() makes call to newFileFD:
[code]
where `syscall.Getpeername(s)` returns `<nil>, transport endpoint is not connected`.

[2017-12-07 04:35] ianlancetaylor commented on #21655
Still happens on tip too, with `GOARCH=386`.  Reopening.

[2017-12-07 05:07] #23021 closed

[2017-12-07 05:09] #20953 closed

[2017-12-07 05:14] DeathPoem opened #23023 "x/crypto/ssh: Is there a way to show detail msg for failed ssh command excu?"
Context: go version go1.9.2 linux/amd64, ubuntu 16.04.

[related issue](https://github.com/golang/go/issues/14251)

[related commit](https://github.com/golang/crypto/commit/de15db8e4b7d9627c2c0922002d1de9806af8564)

My Problem situation:

I was going to run a command like

[code]

What I got is err as 'Process exited with status 1' with stdoutput and stderr as empty.
What I want is to get detail w

[2017-12-07 05:19] bradfitz commented on #23023
You can't use the Output or CombinedOutput methods while also StderrPipe and StdoutPipe.

Are you checking your errors?

Actually, where's your actual code? There's not enough context to help here.

But in general, questions about Go should go to https://golang.org/wiki/Questions.

[2017-12-07 05:21] DeathPoem commented on #23023
@bradfitz I would move to https://golang.org/wiki/Questions

[2017-12-07 05:25] #23023 closed

[2017-12-07 07:03] bradfitz commented on #21681
Yeah, true.

I just don't know the calling convention for GOARCH=386 passing a LARGE_INTEGER to Windows via Go's Syscall6.

But then again, my change also didn't work on amd64, so not sure what I screwed up.

[2017-12-07 08:35] Merovius commented on #19814
If we are talking about *open* enums (like the ones currently consturcted by iota), then, sure. If we are talking about closed enums (which is what people usually talk about, when they talk about enums) or enums with exhaustiveness-checks, then they certainly are special. Because they are not extensible.

The analogy with structs explains this rather perfectly: The Go 1 compatibility promise exclu

[2017-12-07 08:58] lujiajing1126 opened #23024 "net/http: fail to trigger io/read timeout"
### What version of Go are you using (`go version`)?

go version go1.9 linux/amd64

### Does this issue reproduce with the latest release?

not sure

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

Just something like that, I sent an HTTP request to the remote server. But got stuck on the network request.

### What did you expec

[2017-12-07 08:59] #23014 closed

[2017-12-07 09:07] mvdan commented on #23024
You are not using `net/http` - you are using `github.com/valyala/fasthttp`. I suggest you open an issue over there, and only open one here if it really turns out to be a bug in the standard library somewhere.

[2017-12-07 09:07] #23024 closed

[2017-12-07 09:18] mvdan commented on #23001
This is likely caused by #17557. /cc @henryas @fraenkel @bradfitz

I agree that the prioritization of closer packages should still take into account whether or not all the required names are available.

[2017-12-07 09:29] alexbrainman commented on #13672
The problem discussed in this issue can only happens with Go program that uses Cgo. If your program does not uses Cgo, it cannot have this problem.

Alex

[2017-12-07 09:37] aead commented on #22751
The problem is that users may use too short hash values. The package tries to achieve a security level of at least 128 bit. See also [RFC 7693](https://tools.ietf.org/html/rfc7693#section-4)

However I'm currently working on #19896 which requires arbitrary digest sizes.
In general I would recommend the XOF (blake2x) construction if arbitrary digest sizes are required.

[2017-12-07 09:48] szank commented on #23016
FWIW Issuer Alternative Names extension is not recognised/parsed by golang, so it ends up in Extensions slice.
As such go is not obliged to parse it or verify it.

[2017-12-07 09:49] henryas commented on #23001
I can't seem to replicate the problem. I copy-pasted your code and recreated the directories, goimports correctly inserts "b/y" into bar.go.

Have you tried reinstalling goimports?

[2017-12-07 09:55] szank commented on #23016
I think this issue can be closed after all.

[2017-12-07 09:57] alexbrainman commented on #22874
Fair enough. @calmh if you send a fix for this, I will be happy to test it on Windows XP. But this would have to wait until after go1.10 is released. Thank you.

Alex

[2017-12-07 10:07] alexbrainman commented on #22579
@ttrunck I finally managed to update my Windows 10 to correct version, and I can reproduce something similar to your bug.

I suspect the problem is that we don't follow advise from https://blogs.msdn.microsoft.com/oldnewthing/20100212-00/?p=14963/ to the letter. In particular, it says: "... If you use the FindFirstFile function, you can tell that you have a symbolic link because the file attribute

[2017-12-07 10:14] gonutz opened #23025 "install: Windows: set GOPATH from installer and optionally add GOPATH\bin to PATH"
I ran the Go 1.9.2 Windows installers 32 bit on Windows XP and 64 bit on Windows 7.

The default `GOPATH` on Windows is now (starting with Go 1.8 I think) `%USERPROFILE%\go` but this is not set as an environment variable. It seems to just be assumed by the tools if the environment variable is not set.
The problem with that is that I cannot open `cmd` and type `cd %GOPATH%\bin` for example. This is

[2017-12-07 10:26] odeke-em commented on #23016
@szank thanks for the investigation. For purposes of posterity and aiding @agl and others during determining what can be closed, could you please post perhaps a reference to where you got that information? Thank you!

[2017-12-07 10:40] vipally opened #23026 "proposal: fmt: use "%##v" "%++v" to format a value with indented-multi-lines style string"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go 1.9

### Does this issue reproduce with the latest release?
yes

Current custom go data printing style "%#v" show all data in a single line, which is not easy to read, especiall in a debugging process.
"%#v":
fmt_test.Z{G:fmt_test.Y{D:fmt_test.X{A:123, B:"\"b\" = 1"}, E:[]in

[2017-12-07 10:40] as commented on #21681
```_, _, e1 := Syscall6(procSetFilePointerEx.Addr(), 4, uintptr(distToMove), uintptr(unsafe.Pointer(newFilePointer)), uintptr(whence), 0, 0, 0)```

@bradfitz
The handle is passed in to `setFilePointerEx`, but it isn't given as an argument to the actuall syscall.Syscall6.

[2017-12-07 10:50] gbbr opened #23027 "proposal: encoding/json: allow various field style conventions"
Generally JSON APIs allow multiple standard conventions for naming keys, the most common ones in my experience being the snake case and lower camel case. Go provides a bit of a struggle working with these because it uses the less common upper camel case. The work around for this is to augment each field in a struct with the corresponding tag, but that quickly becomes tedious.

My idea would be to

[2017-12-07 10:51] as commented on #23025
```Instead I had to go through the arcane Windows menus to get through to the environment variables. (Linux is not better, every dekstop has a different hidden file and syntax to set this, but I expect Linux users to know this stuff better).```

Windows has `setx`, it sets a permanent user-wide environment variable (among 100 other weird operations). No `arcane menus` are necessary.

[code]

[2017-12-07 10:56] gonutz commented on #23025
Which does not at all invalidate the issue but you are right, I forgot about `setx`.

[2017-12-07 10:58] marcan commented on #20427
Just for reference, GCC 6.4.0 is now stable and some other infra I've just updated is hitting this too, even though I built its kernel with CONFIG_OPTIMIZE_INLINING=y. Neither value of that option is a guarantee that everything will be inlined and no stack probe will be emitted.

[2017-12-07 11:13] artyom opened #23028 "net/http: Server.ServeTLS doc uses wrong method name"
The first sentence of the third paragraph of [net/http.Server.ServeTLS method documentation](https://tip.golang.org/pkg/net/http/#Server.ServeTLS) incorrectly calls method as `Serve` (likely result of copy-pasting from Serve method docs):

[2017-12-07 12:03] SuperGod opened #23029 "why not add some grammatical sugar like return_if_err(err)?"
why not add some grammatical sugar like "return_if_err(err)"?
There are many code in my project :

[code]
sometimes, this code take up too much lines.
So,why not add some grammatical sugar like return_if_err(err)?

### What version of Go are you using (`go version`)?
go 1.9

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (

[2017-12-07 12:06] ALTree commented on #23029
Syntactic sugar for the `if err != nil` idiom is being discussed here: #21161. There are several proposals there, including a few similar to yours. Closing here, so we can keep the discussion in one place.

[2017-12-07 12:06] #23029 closed

[2017-12-07 12:32] streeter12 commented on #19814
From time to time opponents of enum said they are not expandable, we still need checks after serialization/transition, we can break back compatibility etc.

The main problem that this is not enum problems it is you develop and artitecture problems.
You try to give an example where using of enums are ridiculous, but let's consider some situations in more detail.

Example 1. I am low level developer

[2017-12-07 12:44] fraenkel commented on #23001
The problem is actually caused by
https://github.com/golang/tools/commit/e011c1062a41d0e2614279f1dc8cf7f1bf6aaac3

It seems there is no validation that the sibling's choice is actually valid. Once I remove the sibling check, the answer becomes b/y.

[2017-12-07 13:06] Merovius commented on #19814
Excuse my bluntness, but after [this comment](https://github.com/golang/go/issues/19814#issuecomment-349138980) I don't think you have a lot of ground to stand on here.

And I wasn't even doing what you say - that is, giing an example of where using enums is ridiculous. I took an example that was supposed to show how they are necessary, and illustrate how they hurt.

We can reasonably disagree, bu

[2017-12-07 13:42] streeter12 commented on #19814
This why i said established values. F.e wav format base dont changed for many years and get great back capability. If it where new values you can stay use enums and add some values.

Yes it dont help me to make good names, but they can help to organise some values with one name. It make develop process faster in some cases. It can reduce number of variants with autotyping to one.

But using consta

[2017-12-07 13:53] lukewatts opened #23030 "website: can't download Go from downloads page"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
na

### Does this issue reproduce with the latest release?
na

### What operating system and processor architecture are you using (`go env`)?
na

### What did you do?
1. Visit https://golang.org/dl/
2. Clicked any of the links (all OSes)
3. Get error:
[code]

### What did you e

[2017-12-07 14:02] ALTree commented on #23030
cc @bradfitz @andybons

[2017-12-07 14:24] lukewatts commented on #23030
Seems to be working again now

[2017-12-07 14:24] #23030 closed

[2017-12-07 14:35] aclements commented on #20427
@marcan, just to clarify, you're hitting this with binaries built with 1.9.x? (Do you know if it's a problem with binaries compiled from tip?)

[2017-12-07 14:41] fweimer commented on #20427
`-fstack-check` is incompatible with small stacks. Its main intent is to support Ada and probe sufficiently below the stack pointer so that it is possible to raise an Ada exception from a signal handler. For other purposes, it is not really useful:

* https://gcc.gnu.org/ml/gcc-patches/2015-09/msg01006.html

`-fstack-clash-protection` avoids these issues because it restricts stack probing to the a

[2017-12-07 14:41] driusan commented on #22634
I tried 31546 on my Mac (High Sierra), and it seems to work here. Does anyone know why it says "DO NOT SUBMIT; DO NOT REVIEW" in the CL?

[2017-12-07 15:12] marcan commented on #20427
@aclements correct, Go 1.9.x. Cherry-picking a158382 in (backported, which is just dumping the x86 half which is new AIUI) fixes the issue, which is what I'm doing with my Go packages now. I guess the question is will it be backported into the 1.9 branch officially or will this only be fixed with the next major release?

@fweimer I'm aware of that, but `-fstack-clash-protection` isn't in any GCC r

[2017-12-07 15:24] OneOfOne commented on #23027
That's what external tools are for, https://github.com/fatih/gomodifytags comes to mind (which I personally use with both vscode and vim).

[2017-12-07 15:29] bradfitz commented on #23030
We don't even link to those URLs anymore. Not sure how you found those storage.googleapis.com URLs.

Also, ERR_TUNNEL_CONNECTION_FAILED is proxy-related. Perhaps your proxy was down.

[2017-12-07 15:30] bradfitz commented on #21681
@as, hah. Whoops. Thanks!

[2017-12-07 15:33] ttrunck commented on #22579
Thanks, so it's more involved than just not breaking early in [types_windows.Mode](https://github.com/golang/go/blob/936b977c174dd66348bacd1392f761ae518ca7c1/src/os/types_windows.go#L41)

So this should be fixed in go1.11 and the timeline is mid 2018 right? For now my workaround is to not use that OneDrive feature or move my projects outside of OneDrive. I also think Docker is hitting this issue b

[2017-12-07 15:37] #22301 closed

[2017-12-07 15:39] bradfitz commented on #22579
I punted this to Go 1.11 because old bugs (ones that aren't recent regressions) always get punted. But if this is suddenly more prominent because of OneDrive, we could consider a fix for Go 1.10, if somebody could prepare one soon that checks dwReserved0.

[2017-12-07 15:41] bradfitz commented on #23001
Hey @kazrakcom, could you look into this?

[2017-12-07 15:41] #22858 closed

[2017-12-07 15:43] #23028 closed

[2017-12-07 15:44] mvdan commented on #23001
I pointed at the wrong CL then - apologies.

[2017-12-07 15:55] andybons commented on #22897
Cool. Thanks for the tip. Will look into it.

[2017-12-07 16:05] cherrymui opened #23031 "cmd/compile: inaccurate column number for parameters"
### What version of Go are you using (`go version`)?
tip (1b9f663)

### Does this issue reproduce with the latest release?
yes

### What did you do?
It seems that the column numbers for parameters are not accurate. Different parameters may get same line and column numbers, as seen in #23020.

I've come up a simple example:
[code]

### What did you expect to see?
[code]

### What did you see instea

[2017-12-07 16:20] andybons commented on #22897
I don’t see any failures on build.golang.org for tools and I can’t repro locally on tip, at least. Can you point me to an example of the breakage?

[2017-12-07 16:22] parazyd opened #23032 "crypto/x509: ParsePKIXPublicKey can not parse 1024bit RSA"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go version go1.9.2 linux/amd64`

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?
https://play.golang.org/p/MPAwSqN2e7
Running with the former key from the of

[2017-12-07 16:27] aclements commented on #20427
Marking as a candidate for 1.9.x. I'm not sure whether we want to back-port this or not, but it's worth considering. My understanding (and please correct me if I'm wrong) is that it requires a pretty uncommon configuration to trigger. OTOH, if it is triggered, the effects are quite bad and telling people to reconfigure their kernel doesn't seem a like a viable work-around to me.

[2017-12-07 16:30] rhysh commented on #22574
Thanks @hyangah . With `devel +2873605 Wed Dec 6 15:50:04 2017 +0000`, this is much better. On the first "View trace" link, there's still a large number of Threads that initially show up as InSyscall, which decreases as more data points are processed.

Below, see the periwinkle band in the Threads ribbon, starting off thick at 0–12ms, waning at 20ms, and close to the expected size around 40ms.

<i

[2017-12-07 16:39] marcan commented on #20427
@aclements You can't really fix it by reconfiguring the kernel (not reliably, as I just discovered today). Really the only way to avoid the issue would be to patch the kernel Makefile to use -fno-stack-check or to switch to a non-hardened toolchain altogether.

I'm not sure if any other distros other than Gentoo Hardened use -fstack-check globally, but yeah, in this instance at least, there's no s

[2017-12-07 17:03] #23020 closed

[2017-12-07 17:10] xyziemba commented on #22751
Ah! That's why you didn't include `id-blake2b160`.

Agreed. For a little context here: I was writing a golang implementation of [libsodium's sealed box](https://download.libsodium.org/doc/public-key_cryptography/sealed_boxes.html). It's the same as [NaCl's sealed box](https://nacl.cr.yp.to/box.html) except it specifies the creation of the nonce as `24-byte-blake2b-mac(pubkey1 CONCAT pubkey2)`.

[2017-12-07 17:57] bradfitz commented on #21681
Ah, here's what LARGE_INTEGER means: https://msdn.microsoft.com/en-us/library/windows/desktop/aa383713(v=vs.85).aspx

[2017-12-07 18:00] bradfitz commented on #21681
And I can repro that my new test fails on 386 and passes with my new fix on amd64:

[code]

Fixing on 386 now.

[2017-12-07 18:01] rogpeppe commented on #23001
I just tried again with latest Go tip (9ce6b5c) and latest x/tools tip (7165768) and I still see the issue.

FWIW the problem is not exhibited if you run goimports with standard input, because then it doesn't take neighbouring files into account.

[2017-12-07 18:02] ianlancetaylor commented on #20427
@fweimer Are you saying that GCC's `-fstack-check` option inserts a stack check that goes beyond the stack frame even in a leaf function?  That seems pointless.

[2017-12-07 18:07] zolotov opened #23033 "Testing with -json option is not debuggable"
Continuation of #22789 and relates to #22996

Suggested solution doesn't allow debug tests and use JSON output simultaneously.

[2017-12-07 18:08] zolotov commented on #22789
For some reason my comment was just ignored. Filed #23033

[2017-12-07 18:09] bradfitz commented on #23033
I don't understand.

What do you mean by debuggable?

[2017-12-07 18:09] zolotov commented on #23033
Literally, I can debug a test with Delve.

[2017-12-07 18:11] sbinet opened #23034 "x/build: move http2 demo to GKE"
hi there,

trying to show to a co-worker the nice performance improvements one could get with Go, HTTP/2 and https, I got this:

[code]

could this be reinstated?
(@bradfitz ?)

[2017-12-07 18:12] ianlancetaylor commented on #23033
Sorry, can you spell out in more detail what you want to do?

Do you want to run Delve on a test, while looking at the JSON output from the test?  Why is that an important use case?

[2017-12-07 18:15] bradfitz opened #23035 "syscall: nacl can't Seek properly"
See trybot failures from https://go-review.googlesource.com/c/go/+/82535 ...

https://storage.googleapis.com/go-build-log/6cb9912e/nacl-amd64p32_ce6fb3f2.log

Skipping those tests on nacl for now.

[2017-12-07 18:17] aead commented on #22751
Correct.

That sounds like a use case for a XOF like BLAKE2x, SHA3 / SHAKE or Kangaroo 12.

[2017-12-07 18:19] zolotov commented on #23033
Yes, I want to debug my tests and have JSON output at the same time, not sure what I can add to this.

It's important because otherwise IDE or any other tool that provides debug support for tests won't be able to use brand new JSON output. Particularly I won't be able to fix a lot of issues that users asked us to fix in testing.

[2017-12-07 18:22] zolotov opened #23036 "cmd/test2json: filtering out testing service messages or mark them in a special way"
With `-json` parameter enabled `go test` still generates service messages like "===RUN", which don't make much sense in json-mode.

I would be nice to exclude them from the output or at least mark them with an additional attribute, so the client would be able to filter these messages by themselves.

[2017-12-07 18:23] dsnet commented on #23035
Possibly related: #21728

[2017-12-07 18:25] zolotov opened #23037 "cmd/go: add build -json, to report build failures in JSON"
If I run `go test` on a directory and one of the packages is failed to run, I won't get any json output for it.
It would be great to have at least a single package-fail json-message.

[2017-12-07 18:25] ianlancetaylor commented on #23033
Your IDE is going to be parsing the output of the program you are debugging?  I'll just take your word for it.  I can't picture that at all.

In that case, why not have your IDE pipe the test output through `go tool test2json`?

[2017-12-07 18:27] ianlancetaylor commented on #23037
In general the go tool does not support multiple packages in a single directory.

Can you give a small complete example?

[2017-12-07 18:29] DemiMarie commented on #15292
@ianlancetaylor Rust allows for a program to implement a trait `T` on an existing type `Q`, provided that their crate defines *either* `T` or `Q`.

[2017-12-07 18:31] zolotov commented on #23037
- dir/compilablePackage/foo_test.go
- dir/nonCompilablePackage/foo_test.go

run `cd dir && go test ./...`

[2017-12-07 18:31] bradfitz commented on #23034
Well, crap.

It looks like the CoreOS instance updated itself (currently 4.13.16-coreos-r2) and my systemd unit from my cloud-config was no longer recognized.

For the record, my user-data metadata on GCE is:

[code]

That had worked for years, but today when I ran `systemctl` there was no mention of `h2demo` in the list of services.

To "fix" it, I did:

[code]

I can move this service to GKE alo

[2017-12-07 18:32] ianlancetaylor commented on #23026
Personally I think this is more suitable for an external packages, such as https://godoc.org/github.com/kr/pretty.

[2017-12-07 18:32] ianlancetaylor commented on #23026
Thanks for writing it up, though.

[2017-12-07 18:34] DemiMarie commented on #15292
Just a thought: I wonder if Simon Peyton Jones (yes, of Haskell fame) and/or the Rust developers might be able to help.  Rust and Haskell have probably the two most advanced type systems of any production languages, and Go should learn from them.

[2017-12-07 18:39] tarcieri commented on #15292
There's also [Phillip Wadler](http://homepages.inf.ed.ac.uk/wadler/), who worked on [Generic Java](https://homepages.inf.ed.ac.uk/wadler/gj/), which eventually lead to the generics implementation Java has today.

[2017-12-07 18:40] sbinet commented on #23034
Thanks for the speedy "fix" :)

[2017-12-07 18:41] DemiMarie commented on #15292
@tarcieri  I don’t think that Java’s generics are very good, but they are battle-tested.

[2017-12-07 18:41] zolotov commented on #23033
Yes, it's not different in any way from the current situation when we have to parse messages like `===RUN`.

Because of #22789, because it's much more complicated and because the issue not only about the IDE: it might be tools for remote debugging on continuous integrations servers or just for a user who wants to see json reports while debugging from the CLI.

[2017-12-07 18:44] bradfitz commented on #23035
@dsnet, yup, dup. Thanks.

[2017-12-07 18:44] #23035 closed

[2017-12-07 18:47] ianlancetaylor commented on #15292
@DemiMarie We've had Andrew Myers pitching in here, fortunately.

Based on my personal experience, I think that people who know a great deal about different languages and different type systems can be very helpful in examining ideas.  But for producing the ideas in the first place, what we need are people who are very familiar with Go, how it works today, and how it can reasonably work in the futu

[2017-12-07 18:55] ianlancetaylor commented on #15292
In fact, while I'm here, a while back I thought about generic programming with interfaces for a while, and came up with three reasons why it fails to be satisfactory.

1. Interfaces require all operations to be expressed as methods.  That makes it painful to write an interface for builtin types, such as channel types.  All channel types support the `<-` operator for send and receive operations, an

[2017-12-07 18:58] bradfitz commented on #22897
Weird. They were all red last night, and you can still see it in the hitsory at:

https://build.golang.org/?repo=golang.org%2fx%2ftools

I think the App Engine app (which decides what needs to be built, not from maintner) might be drunk and confused by branches somehow.

I guess we can close this, but some problem remains in build.golang.org deciding what to build on what branches.

[2017-12-07 18:58] #22897 closed

[2017-12-07 19:01] andrewcmyers commented on #15292
I am happy to kibitz on generics proposals for Go. Perhaps also of interest is the increasing amount of research on generics at Cornell lately, seemingly relevant to what might be done with Go:

http://www.cs.cornell.edu/andru/papers/familia/ (Zhang & Myers, OOPSLA'17)
http://io.livecode.ch/learn/namin/unsound (Amin & Tate, OOPSLA'16)
http://www.cs.cornell.edu/projects/genus/ (Zhang et al., PLDI '

[2017-12-07 19:33] #21681 closed

[2017-12-07 19:35] bradfitz commented on #22988
@mdempsky, they're identical (same VM images). Only difference is trybot runs shard out over 4 VMs and build.golang.org runs shard out over 3 VMs.

[2017-12-07 19:43] mxplusb commented on #19664
Is this still relevant? I saw my name at the top of https://dev.golang.org/reviews with it attached to this, so I wanted to see if it still needs attention from me. The last comments on the review were mine.

[2017-12-07 19:44] titanous commented on #23016
@szank is correct: https://play.golang.org/p/-HbEmkotsS

Note the unparsed extension:

[code]

Since Go is not aware of the correct format of the extension and does not parse it, there is no reason to return an error. There is also no `Certificate.IssuerAltName` (or similar) field for this data to go in.

Closing as working as intended.

[2017-12-07 19:44] #23016 closed

[2017-12-07 19:46] bpressure commented on #23032
The difference between both keys are not (only) the length of the prime of the rsas key but the format. Only the first one is a PKIX key (asn1 sequence of AlgorithmIdentifier+BitString and the real key is in the BitString), the second key is a RSA public key (without the AlgorithmIdentifier).
You can see is that one is "-----BEGIN PUBLIC KEY-----", the other is "-----BEGIN RSA PUBLIC KEY-----".

[2017-12-07 19:53] parazyd commented on #23032
@bpressure Removing "RSA" from the identifiers does not make a difference.

[2017-12-07 19:54] bradfitz commented on #19664
This would still be nice to have done, but it should be based on number of git commits back rather than time.

Also, the CL above has merge conflicts and needs to be rebased.

[2017-12-07 19:57] bradfitz commented on #21760
Timeout. No replies for 2 weeks.

Closing as dup of #11745.

[2017-12-07 19:57] #21760 closed

[2017-12-07 19:58] bpressure commented on #23032
Of cause not, the RSA is an indicator that both keys are serialized in a different way.
The first one was serialized with
[code]
the second one with
[code]

[2017-12-07 19:59] bradfitz commented on #23010
I'd be fine changing this to code 500 too as long as it's accompanied by stderr log spam so people can fix their code.

But I'd rather do that after a beta or two if it's actually necessary.

[2017-12-07 20:00] titanous commented on #23032
This is working as intended, `ParsePKIXPublicKey` properly parses 1024-bit RSA keys that have an `AlgorithmIdentifier` as @bpressure has explained.

This [StackOverflow post](https://stackoverflow.com/a/29707204/399) also explains it in more detail.

[2017-12-07 20:00] #23032 closed

[2017-12-07 20:06] parazyd commented on #23032
Is there another way to parse such a key then?

[2017-12-07 20:08] titanous commented on #23032
@parazyd This issue tracker is [not the place for questions](https://github.com/golang/go/wiki/Questions), however I will say that you can use the `encoding/asn1` package to parse keys that are encoded like that.

[2017-12-07 20:10] bradfitz commented on #7634
Closing until there are reports that this still happens.

[2017-12-07 20:10] #7634 closed

[2017-12-07 20:10] bpressure commented on #23032
[code]

[2017-12-07 20:14] montanaflynn opened #23038 "x/tools/playground: IP geolocation bug"
So I found some links on google groups that went to play.golang.org returned an error for me saying it's illegal to share code snippets in my country. I'm in SF USA, and can create new play links and share them myself without issue.

Not sure if this is the best place but it's where the link sent me to create an issue.

Links in question:

https://play.golang.org/p/cJNuTP6nJN
https://play.golang.o

[2017-12-07 20:20] bradfitz commented on #23038
What's your IP, if you don't mind sharing?

Otherwise email me at golang.org

/cc @broady

[2017-12-07 20:37] broady commented on #23038
Strange that you can create new links but not look at existing ones. That shouldn't happen.

[2017-12-07 20:39] jimmyfrasche commented on #19814
@Merovius

Nor are they safely extensible.

If you have
[code]
and
[code]
within `q` it is safe to use `D` (unless the next version of `p` adds its own label for `Enum(3)`) but only as long as you never ever pass it back to `p`: You can take the result of `p.Make` and transition its state to `D` but if you call `p.Take` you have to make sure it's not being passed `q.D` AND it has to ensure it only

[2017-12-07 20:42] odeke-em commented on #23038
These other bugs look like they are related:
* https://github.com/golang/go/issues/21186
* https://github.com/golang/go/issues/20866 in which I believe @broady got Google internally to add Canada https://github.com/golang/go/issues/20866#issuecomment-324103477
* https://github.com/golang/go/issues/17765

[2017-12-07 20:46] odeke-em commented on #23031
/cc @griesemer @mdempsky

[2017-12-07 21:05] mdempsky commented on #23031
I was looking at this the other day. The issue is we setup the `ONAME` Nodes to represent the parameters with the position information where the identifiers appeared, but then when we call `funcargs` (and in turn `declare`), that information gets clobbered with `lineno` (which happens to be at the last token in the function signature, the `int` return parameter type).

I think the proper fix is th

[2017-12-07 21:24] hyangah commented on #22574
Thanks! That's obviously a bug. The tracer processes the sorted event list sequentially, and the GoCreate-GoSysBlock event pairs for pre-existing goroutines are processed before GoStart events that set up the goroutine state (https://go.googlesource.com/go/+/master/src/cmd/trace/trace.go#400).
So, the heuristics of cl/81315 doesn't work for the preexisting goroutines.

Moreover, GoCreate events (e

[2017-12-07 21:33] rhysh opened #23039 "sync: unlocking an unlocked Mutex panics (should throw)"
### What version of Go are you using (`go version`)?

`go version go1.9.2 darwin/amd64`
`go version devel +28736053ad Wed Dec 6 15:50:04 2017 +0000 darwin/amd64`

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

`darwin/amd64`, and the Go playground

### What did you do?

[code]

`sync.Mutex`: https://play.

[2017-12-07 21:37] montanaflynn commented on #23038
@bradfitz here's my 136.24.32.109 (https://ipinfo.io/136.24.32.109)

@odeke-em thanks for the related issues, I somehow missed them

[2017-12-07 21:43] bradfitz commented on #23038
@montanaflynn, do you have IPv6 connectivity? Our IPv6 geolocation is relatively weak.

[2017-12-07 21:44] bradfitz commented on #23039
Probably too late for Go 1.10, especially since we shipped Go 1.9 with this, but I'm not overly concerned if it goes into Go 1.10 either.

/cc @dvyukov @ianlancetaylor

[2017-12-07 21:45] bradfitz commented on #23039
Also @rsc.

[2017-12-07 21:53] montanaflynn commented on #23038
@bradfitz yes, here is my ipv6 address: 2604:5500:c290:7b00:e9f3:2b21:a98a:c101

[2017-12-07 22:03] bradfitz commented on #23038
It's not a geolocation bug. Both that IPv4 and IPv6 address are being mapped to the correct location.

@broady, all yours.

[2017-12-07 22:12] bcmills opened #23040 "go/{ast,printer}: printing breaks comment association with single function result"
**Background**

I want to use structured comments to associate metadata with function parameter types in Go source code, with the function bodies automatically generated by an external tool.

**Problem**

There is a bad interaction between `(*printer.Config).Fprint` and `ast.NewCommentMap` for comments on function results.

If a function returns only one result, has an associated trailing comment,

[2017-12-07 22:30] nogoegst opened #23041 "x/net/http2: missing httptrace.GetConn hook"
http2 implementation does not call `GetConn` hook before getting connection from pool [1]. As per `net/http/httptrace` documentation:
[code]

For the record, this breaks clients that rely on GetConn->GotConn timings (such as `hey` benchmark) so they report wrong results.

[1] https://github.com/golang/net/blob/master/http2/transport.go#L353

Please answer these questions before submitting your iss

[2017-12-07 22:31] pciet commented on #15292
In benchmarking map vs. slice for an unordered set type I wrote out separate unit tests for each, but with interface types I can combine those two test lists into one:

[code]

Testing removing an item:

[code]

This way I’m able to put my previously separate cases together into one slice of cases without any trouble:

[code]

For each concrete type I had to define the interface methods. For examp

[2017-12-07 22:33] mxplusb commented on #19664
Gotcha. How many commits do you want to go back? Also, I know there was previously a discussion about the maintner package, is the current CL still the proper way to implement this change or does it now need to be made somewhere else?

Mike.

From: Brad Fitzpatrick [mailto:notifications@github.com]
Sent: Thursday, December 7, 2017 12:56 PM
To: golang/go <go@noreply.github.com>
Cc: Mike Lloyd <mike

[2017-12-07 22:50] pciet commented on #15292
Thinking about that more, it doesn't seem like a compile-time type check would be possible for such a test since you'd have to run the program to know if a type is passed to the corresponding interface method.

I don't see a solution for the type assertion problem in my example.

[2017-12-07 23:14] mdempsky opened #23042 "go/types: errors when declaring methods with type alias receivers"
cmd/compile accepts this package:

    package p

    type T struct{}

    var _ = T.m
    var _ = T{}.m
    var _ interface{m()} = T{}

    type U = T
    func (U) m()

but go/types rejects it with:

    r.go:5:9: invalid operation: T (type) has no field or method m
    r.go:6:9: invalid operation: (T literal) (value of type T) has no field or method m
    r.go:7:24: cannot use (T literal) (value

[2017-12-07 23:19] mandolyte commented on #15292
@andrewcmyers The "Familia" paper was interesting (and way over my head). A key notion was inheritance.  How would the concepts change for a language like Go which relies on composition instead of inheritance?

[2017-12-07 23:32] andrewcmyers commented on #15292
Thanks. The inheritance part doesn't apply to Go -- if you are only interested in generics for Go, you can stop reading after section 4 of the paper.

[2017-12-07 23:56] nathany commented on #18554
So the requirements are on https://tip.golang.org/doc/install but not https://tip.golang.org/dl/. Might not be the most intuitive since the download page tends to come first.

Also related: #23011

[2017-12-08 00:02] nathany commented on #18554
Maybe a more substantial redesign of those pages will come along https://github.com/golang/go/issues/18580 (homebrew/chocolatey) or https://github.com/golang/cwg/issues/11 (golang.org).

Whether or not it makes sense to suggest older version of Go to people on older operating systems, I don't know. It just seems like the giant list of archived Go versions could be more useful if system requirement

[2017-12-08 00:11] #20833 closed

[2017-12-08 00:13] ianlancetaylor commented on #23042
The alias proposal at https://github.com/golang/proposal/blob/master/design/18130-type-alias.md specifically permits declaring methods using either type.

[2017-12-08 00:17] randall77 opened #23043 "x/build: unify gomote push and gomote ssh users"
When I "gomote push" to a gomote host, it writes all of the files and directories it copies over as user "root".
When I "gomote ssh", it logs me in as "gopher".  At that point, I don't have permissions to modify any of the files or directories, so things like all.bash don't work when it tries to write anything.
[code]

At least, this is true on openbsd-amd64.

It would also be nice to set GOROOT_B

[2017-12-08 00:22] bradfitz commented on #23043
Thanks for the bug report. I'll try to make this easier and more painless.

Or at least I'll make its intro banner tell you what to do, if it can't do it itself.

For OpenBSD, IIRC, you can run "su" to use password "root" to get root. Then cd to $WORKDIR which it tells you. Probably /tmp/workdir.

[2017-12-08 00:24] randall77 commented on #23043
Yeah, I worked around it by doing `cp -r /tmp/workdir /tmp/workdir2` and using workdir2 instead.

[2017-12-08 00:27] griesemer commented on #23042
I think the original intent for alias type names was that this should work. Since cmd/compile accepts it, I would say this is a go/types bug (and perhaps the spec could be clearer).

[2017-12-08 00:32] #19608 closed

[2017-12-08 00:39] ianlancetaylor commented on #19205
It sounds like we shouldn't make any change here.  Closing.  Please comment if you disagree.

[2017-12-08 00:39] #19205 closed

[2017-12-08 00:40] randall77 commented on #23043
`su root` with password `root` does work.

[2017-12-08 00:59] ianlancetaylor commented on #20773
This may be a partial dup of #19408, which is about column information.

Other than that I think we need specific examples to improve.  Show us a bad template, and the error you get, and how the error could be better.  Thanks.

[2017-12-08 01:00] cespare opened #23044 "proposal: runtime: add a mechanism for specifying a minimum target heap size"
I propose that we add a GC knob (either an environment variable or a function in runtime/debug) which allows users to set the minimum target heap size for the garbage collector.

For now I'll call this setting GOGCMIN pending a better name.

Right now, the one GC tunable available to users is GOGC. From the runtime documentation:

The idea is that when the target heap size is calculated based on l

[2017-12-08 01:14] mdempsky opened #23045 "cmd/compile: //go:uintptrescapes doesn't work with anonymous parameters"
If you remove the `a` parameter name from `F1` and `F2` in uintptrescapes2.go (i.e., change them to `func F1(uintptr) {}` and `func F2(...uintptr) {}`), the test fails.

I suspect in practice this particular issue doesn't matter in practice, but looking at the code, I can't obviously see why the parameter names should be relevant in either `(*EscState).esctag` or `ordercall`. It makes me worry tha

[2017-12-08 01:18] kevinburke opened #23046 "cmd/go: running dsymutil failed: signal: segmentation fault"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

No

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/kevin/Library/Caches/go-build"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin

[2017-12-08 01:29] blinkingled commented on #15658
I was running the original test case posted above on DragonFlyBSD out of curiosity mostly and although I don't see any crashes/corruption in the short time I let it run, on 5.0.2 after running the testcase I consistently get this in syslog -

[code]
This is coming from sys/kern/kern_synch.c:716  - which is tsleep() -

[code]
I am not sure this is even relevant - I haven't looked deeper, but though

[2017-12-08 01:38] stuartcarnie opened #23047 "cmd/go: running go test ./... elides most test results due to vet"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

* download https://github.com/influxdata/influxdb
* restore dependencies: `gdm restore`
* `go test ./...`

### What did you expect to see?

Test results for all packages

### What did you see instead?

Test results stop at the `

[2017-12-08 01:59] namusyaka commented on #22907
note:
This seems to be related to [this line](https://github.com/golang/go/blob/fdf3ceafc61c0cf9b7b7bd6757f0c51393a7a83c/src/net/http/request.go#L945).

[2017-12-08 02:19] bradfitz commented on #23046
Back up your cache first, or rename it away to $GOPATH/pkg/obj => $GOPATH/pkg/obj.old first?

Also, add `-x` to go install?

[2017-12-08 02:27] tve opened #23048 "time: fix for "AddDate() should use UTC if loc is nil" does not seem to actually fix the issue"
The fix for issue #15852 _time: AddDate() should use UTC if loc is nil_ does not seem to actually fix things. See the following snipped in golang play:
[code]
results in
[code]
See https://play.golang.org/p/InvEKjzB5b

Supposedly this was fixed in https://go-review.googlesource.com/c/go/+/23561
Am I missing something?

[2017-12-08 02:29] bradfitz commented on #23041
/cc @tombergan

[2017-12-08 02:30] bradfitz commented on #23041
By default this would be for Go 1.11 if this is a bug (I assume it is), but if it's a trivial fix I wouldn't fight it going into Go 1.10 either.

[2017-12-08 02:38] bradfitz commented on #23048
@tve, what's the problem?

You added 0 years, 0 months, and 0 days to t1 and got the same time.

As far as our API promises, we did exactly what you asked.

Discussing internal state is out of scope, unless it impacts the package's ability to deliver on its documented API. And it's not even clear what internal state you want to see, since you deleted the issue template which asks that question.

[2017-12-08 02:42] cherrymui commented on #23045
In esctag, the escape tag is overwritten by the loop at the end which is for special handling of unnamed parameters, https://go.googlesource.com/go/+/fdf3ceafc61c0cf9b7b7bd6757f0c51393a7a83c/src/cmd/compile/internal/gc/esc.go#2262.

Making that loop not overwrite those tags fixes the problem. CL coming.

[2017-12-08 02:52] heschik commented on #23046
This is kind of annoying to debug. From memory: Run `go install -x -work -ldflags=-v`. That should print, and preserve, the working directory. Then run `dsymutil --verbose /path/to/binary`, which should be close enough to what the linker is doing to reproduce any problems.

(I vaguely remember the binary ending up in a different directory than `$WORKDIR` that gets deleted unconditionally. In that

[2017-12-08 02:53] Varunram commented on #22634
No idea why, maybe they don't want distro specific solutions.

[2017-12-08 02:59] sjlee opened #23049 "memory profile attributes allocation to import line"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 darwin/amd64

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

The profile itself was captured on a Linux docker con

[2017-12-08 03:01] sjlee commented on #23049
If I view the same memory profile with `--alloc_space`, I see the same incorrect behavior.

[2017-12-08 03:04] tve commented on #23048
Hmmm, two answers:

1) the purpose of https://go-review.googlesource.com/c/go/+/23561 (initially raised as #15852) was specifically to make an application of AddDate(0,0,0) to a time object cause the location field to be non-nil. As far as I can tell, even though a fix was merged and a test written for it, it doesn't accomplish what was stated. You may say "we cared to fix it back then but we no l

[2017-12-08 03:26] agl commented on #23032
In Go 1.10, there will be a [ParsePKCS1PublicKey](https://tip.golang.org/pkg/crypto/x509/#ParsePKCS1PublicKey) that can do this. (They're rare, which is why the function hasn't existed prior to this. Normally they live inside a certificate.)

[2017-12-08 03:29] kevinburke commented on #23046
The first command you gave me failed with a segfault. Here's the last bit of it

[code]

[2017-12-08 03:33] titanous commented on #23049
Does this also happen when using go1.10beta1?

[2017-12-08 03:44] bradfitz commented on #23048
What text in either that code review or that bug makes you think this is about changing the internal values? As I read it, that bug was about making a nil Location mean the same thing as UTC, and not crashing on a nil pointer dereference.

Sorry, but yes. This is just one of the traps of DeepEqual, and is why we're increasingly moving towards using https://github.com/google/go-cmp instead.

[2017-12-08 03:58] randall77 commented on #21655
Reopening for go 1.9.3.

[2017-12-08 04:00] heschik commented on #23046
Right, that's expected. The linker ran dsymutil and it crashed; now we need to rerun it with logging so we know why. If `/var/folders/sf/fsn3_vgd0n98r0jb86bgp83r0000gn/T/go-build795571505/b001/exe/a.out` still exists, run `dsymutil --verbose` on it. If not, run the whole clang command (change `-o` to put a.out in some random directory, doesn't matter) to recreate a.out and then you can dsymutil it

[2017-12-08 04:06] kevinburke commented on #23046
Apologies, you're going to have to walk me through more steps. I'm running the whole clang command and getting an error that looks like this:

[code]

And about 30 more.

I'm running this Go command:

[code]

[2017-12-08 04:12] heschik commented on #23046
Ugh. I must be forgetting a step or three, sorry. I'll look tomorrow when I can borrow a Mac.

[2017-12-08 04:36] tve commented on #23048
Thanks for the responses! Time to look at go-cmp.

[2017-12-08 04:36] #23048 closed

[2017-12-08 04:43] krytarowski commented on #19273
Personally I prefer to use a real hardware when porting the kernel and userland. But thanks!

[2017-12-08 04:51] ianlancetaylor commented on #23047
Can you show us the output of `go test -x ./...`?

[2017-12-08 04:53] nigeltao commented on #22634
I can't speak for @tomheng, but I'll repeat that, despite not using a Mac regularly, I'm happy to review a simple CL along those lines, especially if somebody can confirm that it works for both 10.13 High Sierra and 10.12 Sierra.

[2017-12-08 04:59] #22780 closed

[2017-12-08 05:12] #21090 closed

[2017-12-08 05:27] agnivade opened #23050 "cmd/go: running test with -race flag panics for 1.10beta"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.10beta1

### Does this issue reproduce with the latest release?
It passes when I run with tip.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

I took the 1.10 beta release out for a spin. Found that my unit tests a

[2017-12-08 06:07] Varunram commented on #22634
@nigeltao Oh, that's what you meant? my bad, I'll test on a Sierra machine and get back to you with a PR.

[2017-12-08 06:10] ianlancetaylor commented on #23050
Is there a way that we can recreate the problem ourselves?

Does it make any difference if you set the environment variable `GOCACHE=off`?

[2017-12-08 06:15] tomheng commented on #22634
@nigeltao  I had updated the CL for review, but I can only confirm it work on 10.12 Sierra, that is the
reason not to submit for review.

[2017-12-08 06:37] agnivade commented on #23050
Ah yes, setting `GOCAHE=off` fixes it !

Yes, you can easily reproduce it with the code I pasted above. Just save it to a file and run it with `-race` flag. You need to install the libzmq library first though.

Here are the steps to install libzmq-
[code]

Then do a `github.com/pebbe/zmq4`, and then you are ready to run the repro.

[2017-12-08 06:54] mdempsky opened #23051 "cmd/compile: mishandling of Pointer-to-uintptr conversion for Syscall"
Package unsafe's docs say:

That is, it handles an unsafe.Pointer converted to uintptr.

However, compiling this program with "go tool compile -live":

    package p

    import (
            "syscall"
            "unsafe"
    )

    func f() {
            p := new(byte)
            syscall.Syscall(syscall.SYS_READ, 0, uintptr(unsafe.Pointer(p)), 1)
    }

    func g() {
            p := unsafe.Po

[2017-12-08 07:08] mikioh commented on #23050
In general it's not a good idea to use the returned value from the failed function. In addition testing.Error is equivalent to testing.Log followed by testing.Fail; it continues the execution of test function;  s/t.Error/t.Fatal/g fixes the bugs in your code.

Next time please take a look at https://github.com/golang/go/wiki/Questions and ask your question at more appropriate forums.

[2017-12-08 07:08] #23050 closed

[2017-12-08 07:15] Baozisoftware opened #23052 "go1.10 build c-shared for to windows dll"
Glad to see go1.10 support compiled dll, but the following questions (suggestions):
1. The export function has unnecessary entries;
2. The output file should be added ". dll" suffix;
3. Hope that you can specify the value of cgocheck at compile time instead of the runtime specified;
4. Hope to get rid of symbolic information against static analysis.

Here's the old version of the implementation:
[

[2017-12-08 07:19] mdempsky commented on #23045
@cherrymui Thanks for pointing that out.

Perhaps this is working as intended then. Since //go:uintptrescapes only applies to functions implemented in Go (as opposed to assembly), and you can't refer to anonymous parameters, there's no need for their arguments to escape or be kept alive?

[2017-12-08 07:22] mdempsky commented on #23051
Uploaded a fix for this. This issue has existed since this logic was introduced in CL 18584, so it's not a regression, but it is a potential memory corruption issue.

[2017-12-08 07:26] ernsheong commented on #22834
Here's an example out in the wild, by Evernote (Chrome 62 on macOS):
![image](https://user-images.githubusercontent.com/1343284/33755273-f438c90a-dc2a-11e7-8e8d-4beb6688c5d7.png)

Notice the canvas is self-closing, without a closing `</canvas>` tag. This was the example that caused me to have to code a workaround. Chrome/Safari is graceful about this, but the Go parser is strict, although Go parse

[2017-12-08 07:26] mdempsky commented on #23051
Marking as Go1.10 to make sure it gets a decision. I'm fine deferring to 1.11, but I'd expect we'd backport for 1.10.x in that case, so maybe it makes sense to just include for 1.10.

[2017-12-08 07:50] agnivade commented on #23050
Yes, the panic fixes. But the error is still there.

[code]

It seems clear to me that the issue is related to setting GOCACHE with the `-race` flag. I can change the title to remove the word "panic". But the core problem still exists.

[2017-12-08 08:14] mrwonko opened #23053 "cmd/go: go test -bench ./subpackage tests current package instead"
### What version of Go are you using (`go version`)?
go version go1.9.2 darwin/amd64

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

`go test -bench ./sortbenchmark/`

### What did you expect to see?
[code]

### What did you see instead?
[code]
This happens regardless of the c

[2017-12-08 08:24] martisch commented on #23026
I would favor this functionallity having its own package instead of making the fmt flag logic more complex too.

I would also recommend to avoid giving different meaning to multiple occurences of format flags but to use a new one instead to signify pretty printing using multiple lines.

[2017-12-08 08:27] vvoody opened #23054 "doc: editors.html uses Gogland (deprecated)"
Hi!

JetBrains renamed their Go IDE from [Gogland to Goland](https://blog.jetbrains.com/go/2017/11/02/announcing-goland-former-gogland-eap-18-final-product-name-templates-support-and-more/). It's time to update the page [Editor plugins and IDEs](https://golang.org/doc/editors.html) on main site.

Thanks.

[2017-12-08 08:32] mdempsky opened #23055 "cmd/compile: false positive error about recursive type aliases"
cmd/compile erroneously emits an "invalid recursive type alias" error for:

    package p

    type a struct { b }
    type b = c
    type c struct { *b }

Related: #18640

[2017-12-08 08:56] mikioh commented on #23050
Please file a new issue that focuses on the root cause of ```zmq4 was installed with ZeroMQ version 4.2.1, but the application links with version 4.2.2``` when using race detector.

[2017-12-08 09:04] nogoegst commented on #23041
I guess it's a trivial fix because `traceGetConn` is simply not implemented.
I've fixed it just by implementing `traceGetConn` akin `traceGotConn` and plugging in before `connPool().GetClientConn()`.

[2017-12-08 09:07] mikioh opened #23056 "all: remove funny tags"
The go repository now holds a few funny tags such as ```andybons/cachedir.mailed```; see https://go.googlesource.com/go/

/CC @andybons

[2017-12-08 09:32] ALTree commented on #23054
Thanks for the report. The doc page has already been fixed, you can see a preview here: https://tip.golang.org/doc/editors.html. It'll be deployed on the main domain for go1.10.

Closing here, since there isn't anything more to do.

[2017-12-08 09:32] #23054 closed

[2017-12-08 09:42] agnivade opened #23057 "cmd/go: zeromq version error when tests are run with -race flag in 1.10"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.10beta1

### Does this issue reproduce with the latest release?
It passes when I run with tip.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

I took the 1.10 beta release out for a spin. Found that my unit tests a

[2017-12-08 09:42] agnivade commented on #23050
Done - https://github.com/golang/go/issues/23057.

[2017-12-08 11:01] duhaifeng opened #23058 "x/crypto/ssh: can not open session to huawei CE5810 switch (got error "ssh: short read")"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.9.2
### Does this issue reproduce with the latest release?

Yes
### What operating system and processor architecture are you using (`go env`)?
windows / amd64 (MacOS also)

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable pro

[2017-12-08 11:18] mvdan commented on #23056
There's also `1.10beta1.mailed`. Perhaps there should be some way to keep `*.mailed` tags from being created, or a bot to remove them periodically. The tags get created by `git-codereview`, so it remains possible that others will push them by mistake.

[2017-12-08 11:27] vipally commented on #23026
Printing go value for debugging becomes gopher's everyday life, I don't think it's a good idea to make it a  third-party package.

Put a new flag to to signify pretty printing  is a good idea.
eg '@' (maybe looks like glasses, yet)

[2017-12-08 12:05] fweimer commented on #20427
@ianlancetaylor I do not fully understand the heuristics for `-fstack-check`. If the frame becomes sufficiently large for a leave function, it does something like this:

	subl	$8972, %esp
	orl	$0, 764(%esp)
	orl	$0, (%esp)
	addl	$4112, %esp

That is, it probes beyond what is actually needed by the leaf function.  However, I such probes are not inserted proactively if the function does not have a l

[2017-12-08 12:52] creichlin commented on #20899
I took a closer look at the image and it seems that there is pixel data for 418 rows but the header says it's 417 rows. I assume that this is a bug of the encoder. When I search google for "invalid format: too much pixel data" i find only this issue, so this specific case doesn't seem to be a common issue.

[2017-12-08 13:36] ianlancetaylor commented on #23051
I think this needs to be fixed in 1.10 and probably in 1.9 also.

[2017-12-08 13:39] duhaifeng commented on #23058
If I use python netmiko library to connect the same Huawei CE5810 switch it's very OK.
Python code as follows:
[code]

[2017-12-08 13:39] ianlancetaylor commented on #23053
Can you show us how to recreate the problem?  It works fine on my packages, and I can't `go get` the package you mention (I get "fatal: could not read Username for 'https://github.com': terminal prompts disabled").

[2017-12-08 13:40] #23039 closed

[2017-12-08 13:46] ianlancetaylor commented on #23057
Which version of the zmq library do you have installed on the system?

Did you upgrade or downgrade the zmq library while testing go1.10beta1?

CC @rsc because this works with `GOCACHE=off` but fails without it.

[2017-12-08 13:55] ianlancetaylor commented on #23052
I'm sorry, I'm not really sure what you mean by any of this.  Can you be more specific?  Is there any connection between the four things you mention?

CC @nadiasvertex

[2017-12-08 14:26] ianlancetaylor commented on #23045
//go:uintptrescapes really only exists as a patch for `syscall.(*Proc).Call` and `syscall.(*LazyProc).Call` to permit them to take `uintptr` arguments without breaking the Go 1 guarantee.  The uintptrescapes directive is not documented and it's not especially important how it is implemented as long as those two methods (and the corresponding ones in golang.org/x/sys/windows) continue to work corre

[2017-12-08 15:05] aarzilli commented on #23046
Perhaps unsurprisingly this bisects to 4435fcfd6c. If you want a way to reproduce it, building delve (`go build github.com/derekparker/delve/cmd/dlv`) does it.

[2017-12-08 15:10] ianlancetaylor commented on #13324
Sent https://golang.org/cl/82916 for the `TestDialerDualStackFDLeak` failures.  Dropping the releaseblocker label and moving to unplanned.

[2017-12-08 15:19] aarzilli commented on #23046
Output of `dsymutil --verbose` https://gist.githubusercontent.com/anonymous/7de990e54232b02b350a41e8ee42c255/raw/c1382bd734b41cde490479675d54e3a38f3b9d22/verboseout.txt (I can't find anything useful in it).

[2017-12-08 15:22] randall77 commented on #23046
@thanm

[2017-12-08 15:24] agnivade commented on #23057
Nope. I have 4.2.2. I had upgraded from 4.2.1 quite some time ago. It was working fine with Go 1.9.2.

I just downloaded 1.10beta1 and tried to execute my UTs and then saw this.

[2017-12-08 15:27] thanm commented on #23046
Ouch. I will take a look.

[2017-12-08 15:36] andybons commented on #23056
Whoops! Sorry about that everyone. My first beta release. I’m keeping notes on gotchas so will add this to the list.

Thanks for the report! I’ve removed the tags.

[2017-12-08 15:36] #23056 closed

[2017-12-08 15:37] aarzilli commented on #23046
To anybody getting here through a google search, the emergency workaround is stripping the executable `-ldflags=-s`.

[2017-12-08 15:39] mrwonko commented on #23053
Right, sorry. The error is somewhat misleading, that's a compile error I had in my local version of `github.com/mrwonko/goplayground`.

I've tested some more, it actually seems like `go test -bench ./subpackage` actually has the semantic of `go test -bench .`.

[2017-12-08 16:01] sebastien-rosset opened #23059 "proposal: encoding/json supports Marshaler/Unmarshaler interfaces with a context.Context"
Proposing to pass a context.Context as an argument to new json.MarshalerXXX and json.UnmarshalerXXX interfaces:

   MarshalJSONXXXX(ctx context.Context) ([]byte, error)

The interface specifies a MarshalJsonXXX method that takes a context.Context argument. With a context.Context, custom marshalers can access the context and determine how to marshal the objects at run-time.

**Use cases:**
Many RES

[2017-12-08 17:37] stuartcarnie commented on #23047
relevant gist of output https://gist.github.com/stuartcarnie/a9a703f73d368aa4b56b296258ce8e91

[2017-12-08 18:18] kevinburke commented on #23046
Do you need anything more from me besides testing a patch?

[2017-12-08 18:24] rs commented on #17776
This issue celebrated its first anniversary a month ago (happy birthday). Could you guys please help me figure out what needs to be done to move it forward? Would it be more context, different approach, more unit tests. Please don't let it die, we need this and apparently we are not alone.

[2017-12-08 18:25] thanm commented on #23046
No, thanks. I can reproduce it using Alessandro's instructions.

[2017-12-08 18:41] andybons commented on #17776
/cc @bradfitz

[2017-12-08 18:41] namusyaka commented on #22907
I have investigated the issue and confirmed that [this comment](https://github.com/golang/go/blob/66ba18bf2119bde33ce8cf8907cedd470566cce8/src/net/url/url.go#L717) is incorrect, or at least the current `(*URL) String()` implementation is wrong.
In fact, [query components aren't escaped at all](https://github.com/golang/go/blob/66ba18bf2119bde33ce8cf8907cedd470566cce8/src/net/url/url.go#L777), not

[2017-12-08 18:50] bradfitz commented on #17776
@rs, if you're talking about https://go-review.googlesource.com/c/net/+/32327, Matt Layher noted you needed tests in January but they're not there yet, so it definitely isn't ready to be merged.

But to @tombergan's point: it's not even clear this is a useful primitive that can be used properly (without races). Work towards a coherent design for #22537 would be most helpful. I'd like to get the mi

[2017-12-08 19:01] bradfitz commented on #23038
Note to Googlers: see http://b/70346540

[2017-12-08 19:01] rs commented on #17776
@bradfitz I'm talking about the second PR attached to this issue: https://go-review.googlesource.com/c/net/+/77091. As discussed with @tombergan above, exposing `InFlightStreams` is not the right solution; A better one is to extend the connection pool's interface to track when streams are ended (kind of what #22537 propose but limited to the current `http2.ClientConnPool`).

Let me close the previ

[2017-12-08 19:11] as commented on #23059
I dislike the way context.Context is being used here. Most marshaling options are not request scoped, and they never leave the client in this case. Can you provide an example of how using your proposed interface solves your problem?

[2017-12-08 19:29] bradfitz commented on #19547
We now have both OpenBSD 6.0 and 6.2 builders for GOARCH=386, and both are super flaky in the same way. But both OpenBSD 6.0 and 6.2 are fine for GOARCH=amd64.

The amd64 vs 386 builders are the same VM sizes and the VM templates were both auto-generated from the same scripts. There should be no difference between them except the architecture.

So what is wrong with our 386 code? (or the OpenBSD 3

[2017-12-08 19:42] bradfitz opened #23060 "x/build: run DragonflyBSD VMs on GCE?"
Looks like Dragonfly now supports virtio:

https://leaf.dragonflybsd.org/cgi/web-man?command=virtio&section=4

So it should run on GCE?

If somebody could prepare make.bash scripts to script the install to prepare bootable images, we could run it on GCE.

See the netbsd, openbsd, and freebsd directories as examples: https://github.com/golang/build/tree/master/env

(The script must run on Linux and

[2017-12-08 19:46] bradfitz opened #23061 "runtime: signal stack change broke DragonflyBSD"
This CL (292558b) broke Dragonfly:

runtime: restore the Go-allocated signal stack in unminit
https://go-review.googlesource.com/c/go/+/81476

I emailed Austin & Ian details of how to access a VM I created.

[2017-12-08 19:46] #21862 closed

[2017-12-08 19:47] bradfitz commented on #23061
/cc @aclements @ianlancetaylor

[2017-12-08 19:49] ianlancetaylor commented on #23061
This most likely has to do with the fact that on DragonFly a newly created thread inherits the alternate signal stack of the creating thread.  See the comment in `minit` in runtime/os_dragonfly.go.

[2017-12-08 19:58] crawford commented on #23034
In case anyone is interested, the reason for the failure was a few malformed entries in authorized_keys coupled with a new implementation of `update-ssh-keys` (in Rust 😬). The old implementation of `update-ssh-keys` blindly concatenated the contents of `~/.ssh/authorized_keys.d` into `~/.ssh/authorized_keys` while the new implementation validates the correctness of the keys. One of `coreos-cloudin

[2017-12-08 19:58] pciet commented on #15292
@andrewcmyers Can you give an example of how this would look in Go?

My understanding is that the Go interface defines a constraint on a type (e.g. "this type can be compared for equality using the 'type Comparable interface' because it satisfies having an Eq method"). I'm not sure I understand what you mean by a type constraint.

I'm not familiar with Haskell but reading a quick overview has me g

[2017-12-08 19:59] ianlancetaylor commented on #23061
Sorry, I was looking at an old source tree due to a complex accident.  DragonFly used to work that way, but it's been fixed.

[2017-12-08 20:00] bradfitz commented on #23034
@crawford, are you changing `update-ssh-keys` to ignore those invalid entries? (which GKE added for itself, even though those are on unrelated VMs)

[2017-12-08 20:02] alaska commented on #20059
Is there any chance we could get an option to ignore privately-administered suffixes, or is that outside of the scope/purpose of this package?

[2017-12-08 20:05] crawford commented on #23034
@bradfitz Yeah, we are going to update it to throw warnings and skip invalid keys, but continue copying valid ones.

[2017-12-08 20:06] thanm commented on #23046
I built a tip version of LLVM dsymutil and ran it on an a.out from the Delve build. It does not crash, but it issues a warning about unresolvable DIE references, which I think is probably indicative of the problem. Here is the dsymutil stack trace at the warning:

[code]

The DIE that it's examining is a concrete parameter DIE, and the reference is the abstract origin. Here's the DWARF.

Concrete

[2017-12-08 20:22] dsnet commented on #23059
Cancelation makes the most sense when the operation is potentially blocking. Most `Marshal` and `Unmarshal` operations are entirely in-memory operations (it's possible that they make some blocking calls, but that is very rare). Adding a `Context` is a tax that everyone has to pay, and it's not a benefit most people will get.

#20280 suggested adding `Context` to `io.Reader` and friends. Those meth

[2017-12-08 20:29] calmh opened #23062 "cmg/go: Spurious "Println arg list ends with redundant newline" from go test, Go 1.10"
This check is included in the new vet tests run in `go test` in Go 1.10 beta 1. In my opinion this is too far away from a 100% check, and mostly a style one at that. It fails tests on a binary that includes a

[code]

and while it's correct (the string ends with a newline, and Println will add one more) this is the intended effect. You could argue that we should use cmd.Print instead and add the n

[2017-12-08 21:09] #22412 closed

[2017-12-08 21:11] andrewcmyers commented on #15292
Go interfaces can be viewed as describing a constraint on types, via structural subtyping. However, that type constraint, as is, is not expressive enough to capture the constraints you want for generic programming. For example, you can't express the type constraint named `Eq` in the Familia paper.

[2017-12-08 21:16] sebastien-rosset commented on #23059
@as :  a HTTP handler in a go program marshals a JSON document in response to an HTTP request. To give two examples: 1) the JSON document contains some attributes that are localized (i18n); 2) some attributes need to be masked either entirely or partially, due to some per-user data masking policy. The context carries the i18n accepted language and the user information from which data masking polic

[2017-12-08 21:18] ianlancetaylor commented on #18085
On #23062 @calmh says

[code]

[2017-12-08 21:19] ianlancetaylor commented on #23062
The topic of which issues to include in go vet as run by go test is being discussed on #18085.  I've copied this comment over to that issue.  Closing this issue to keep all the discussion in one place.

[2017-12-08 21:19] #23062 closed

[2017-12-08 21:42] #23051 closed

[2017-12-08 21:58] rasky commented on #23058
Can you try without specifying a cipher list?
Can you try to debug and see where the short read error is generated?

[2017-12-08 22:00] calmh commented on #18085
Seeing the initial description ("It's okay if a "100% reliable" check flags a false positive as long as there is a clean way to rewrite the code to avoid the false positive") I guess that falls under "there is a clean way to rewrite the code".

But why be so particular about the newlines? I'm skeptical about the code quality increase here.

[code]

It's a trivial issue to be sure, but the inconsis

[2017-12-08 22:58] ianlancetaylor commented on #8516
I think this was fixed by https://golang.org/cl/34650, written to address #18172.

@mdempsky Do you agree?

[2017-12-08 23:00] dsnet opened #23063 "reflect: StructOf allows creation of impossible types"
The validation logic in `reflect.StructOf` needs some work.

### Can embed an anonymous type
[code]
This is invalid because the Go language forbids embedding an anonymous type.

### Can rename an embedded type
[code]
When a type is embedded, the field takes on the name of the type. However, I was able to rename the field to `Superman`, when it should have been `Batman`.

[2017-12-08 23:04] jimmyfrasche commented on #23063
Renaming is to support type aliases.

[2017-12-08 23:09] dsnet commented on #23063
Ah, you are correct. Type aliases actually make both cases possible.

[2017-12-08 23:09] #23063 closed

[2017-12-08 23:09] griesemer commented on #22992
The problem is that type checking of closure bodies happens immediately, while type-checking the enclosing and thus incomplete signature, rather than delayed, as is the case for regular functions/methods.

There's already a TODO that this should be changed (go/tyupes/expr.go:1034).

[2017-12-08 23:19] nigeltao commented on #22634
@tomheng says it works for 10.12 Sierra and @driusan says that it works for 10.13 High Sierra. I just approved cl/31546 (except for some minor style issues). @Varunram I don't think you need to make your own PR.

[2017-12-08 23:29] fraenkel commented on #22907
@namusyaka I think you are mistaken. The problem is with all forms of Parse which does no validation on the query or fragment pieces. The parse of the uri should have failed. Since it does not, the Fragment or RawQuery fields are incorrect and hence String() which is doing the right thing appears to provide a bad url.

All that has to happen is to apply validation of the query and fragment pieces

[2017-12-08 23:34] ianlancetaylor commented on #18290
I don't see any GNU/Linux failures of TestTCPSelfConnect in the builders at all.  I do see a few failures on Solaris; for example: https://build.golang.org/log/5315cb250600796a1ffe1c4c3a8c3f626769b692.

[2017-12-08 23:40] jdeng opened #23064 "x/net/html: incorrect handling nodes in the <head> section"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go1.9.2 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

### What did you do?
package mai

[2017-12-09 00:02] JC1738 commented on #22090
See the same issue with github.com/mattn/go-sqlite3 on
[code]

[2017-12-09 00:13] alexbrainman commented on #22594
FYI. This is how this failure looks now (go version devel +840fad1 Fri Dec 8 21:34:24 2017 +0000 windows/386):
[code]

Alex

[2017-12-09 00:41] jdeng commented on #23064
Adding the default handling code in parser.go/inHeadIM helped to solve this but I am not sure whether there are side effects.
[code]

[2017-12-09 00:59] cramertj opened #23065 ""is not a type" error on variable/type name conflicts"
### What version of Go are you using (`go version`)?
Current playground version.

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
Unknown (plaground).

### What did you do?

The following code compiles with `fancyMap is not a type` errors in both `foo` and `foo2` ([playground](https://play.golang.org/p/Ms02

[2017-12-09 01:09] ianlancetaylor commented on #23065
The error message is correct: at the point of the erroneous declaration, `fancyMap` refers to the function parameter, and that is not a type.

Any suggestions on what a more informative error message would look like?

[2017-12-09 01:21] #22634 closed

[2017-12-09 01:22] #23061 closed

[2017-12-09 01:58] cramertj commented on #23065
@ianlancetaylor Ah, I wasn't aware that variable bindings and types were intended to share the same namespace. In that case, perhaps issue a warning when a variable name shadows a type name or vice versa? If not that, then perhaps this specific error could be modified to look at the shadowed names and see if any of them is a type, and give an appropriate hint? I haven't looked at how Go's name res

[2017-12-09 02:04] bradfitz commented on #23065
Go doesn't have any warnings, intentionally.

As stated in the FAQ:

[2017-12-09 02:06] bradfitz commented on #23060
More background on the dfly users list:
http://lists.dragonflybsd.org/pipermail/users/2017-December/313731.html

[2017-12-09 02:09] cramertj commented on #23065
@bradfitz I didn't mean to suggest some greater internal policy change-- do you have an alternative that you would prefer to see? Erroring on bindings-shadowing-types is obviously a non-option. I suppose that leaves my second suggestion:

[2017-12-09 02:14] cramertj commented on #23065
I'd also be fine closing this as "WONTFIX" if you think such a change is unwanted.

[2017-12-09 02:18] bradfitz commented on #23065
A better error sounds fine. Go does strive to have readable and helpful errors.

I've retitled and relabeled this bug. It's not targeted towards any release, meaning anybody can send a fix whenever.

[2017-12-09 03:07] Varunram commented on #22634
Thanks a lot @nigeltao and @tomheng for fixing this!

[2017-12-09 04:06] fraenkel commented on #22907
Its not clear that this can be fixed given the behavior of shouldEscape() which states that most of the sub-delims should escape.

[2017-12-09 04:43] gsiems opened #23066 "net/http: backport invalid memory address or nil pointer dereference fix?"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 linux/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
CentOS 6

GOARCH="amd64"
GOBIN="/home/annsam/go/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="lin

[2017-12-09 04:47] namusyaka commented on #22907
@fraenkel Yes, I knew it's more easy to understand the behavior.
However, if your opinion will reflect to the implementation, another cases such as `http://example.com/foo bar`, `http://example.com/foo? bar` and `http://example.com/foo?bar# baz` should be failed on parse, and then I'm worried that breaks backword-compatibility.

[2017-12-09 05:02] namusyaka commented on #23066
Thanks for your report.
Indeed, the panic can be reproduced in go-1.9.
The problem has been fixed in https://github.com/golang/go/issues/22376.
Actually couldn't reproduce in golang edge version.

[2017-12-09 05:34] bradfitz commented on #23060
In that thread, @rickard-von-essen says:

[2017-12-09 05:38] Baozisoftware commented on #23052
Sorry, my English is poor.

## test.go
[code]
Use the cmd to build(host:windows/amd64,go1.10b1):

Yes,i make it,but i have questions:
1. Output "test" file (**no ".dll" suffix**,here should be **"test.dll"**);
2. Use dumpbin view export functions, I found a lot of goruntime functions export, hoping to hide them.
3. If cgocheck=1(default value),call **"Add"** funcation is normal,but call **"AddStr"

[2017-12-09 07:44] davecheney commented on #23066
Duplicate of #22376

[2017-12-09 09:19] kxjhcs opened #23067 "can httpclient send any character in http header?"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.10beta1 darwin/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"

### What did you do?
i want to check the Vulnerability [CVE-2006-3918](http://cve.mitr

[2017-12-09 10:48] gonutz commented on #23025
If anybody could point me to the code for building the installer, I would try to do it myself. I am interested in how that MSI tool works, actually. The I could create a github pull request. They should be accepted from the team by now, right?

[2017-12-09 10:52] acoshift commented on #23067
I think you can directly use TCP Connection.
[code]

[2017-12-09 12:36] derFunk opened #23068 "Slice indices don't work as expected when using int variables"
### What version of Go are you using (`go version`)?
`go version go1.9.2 darwin/amd64`

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Reading substrings from a fixed width text file into string struct members.
To ease value assignment I'm using a counter variable with with I on

[2017-12-09 13:54] ramoas opened #23069 "crypto/x509/pkix: FillFromRDNSequence does not preserve multi-value RDNs"
### What version of Go are you using (`go version`)?
This issue affects Go 1.8 and later as a consequence of https://github.com/golang/go/commit/809a1de1ac1ccc76f7a4faf630017626f2f68231 to fix  [#16836](https://github.com/golang/go/issues/16836) (and #12342).

Prior to Go 1.8 and that change, Go did not process multi-value RDNs -- it always assumed just one attribute and value (the first) per RDN.

[2017-12-09 13:58] ramoas commented on #12342
@joneskoo , Yes, generally, structure is preserved.  I created #23069 with a clear reproduction.

[2017-12-09 14:34] reusee commented on #22990
[code]

[2017-12-09 15:20] jdolecek commented on #22944
NetBSD nanosleep() always sleeps for at least 1 schedule  slice when the specified time is under the schedule resolution. With default HZ value of 100 for i386 and amd64, it's always at least 10ms even when the specified time is smaller. I think other systems might work similar way.

[2017-12-09 15:21] titanous commented on #23067
For questions about Go, see https://golang.org/wiki/Questions

[2017-12-09 15:21] #23067 closed

[2017-12-09 15:25] pciet commented on #18177
I brought up having this implementation as a built-in type in the generics discussion for Go 2 due to lack of compile-time type safety: https://github.com/golang/go/issues/15292

[2017-12-09 15:26] titanous commented on #23068
This is working as intended. The `inc` on line 10 is called before the slice operation is evaulated, resulting in `runes[10:10]`.

For questions about Go, see https://golang.org/wiki/Questions

[2017-12-09 15:26] #23068 closed

[2017-12-09 15:52] namusyaka commented on #23066
@davecheney @bradfitz Is it not necessary to backport this to 1.9.3?

[2017-12-09 16:51] crazy-max opened #23070 "Lot of heuristic antivirus detection with GOARCH=386 on Windows"
### What version of Go are you using (`go version`)?

`go version go1.9.1 windows/amd64`

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### My issue

Hi, i have made a small wrapper written in Go to make [some apps portable](https://github.com/portapps) on Windows system. For example [slack-porta

[2017-12-09 16:52] bradfitz commented on #23066
We can keep it open for the decision, but it might not meet the bar since it only affects some HEAD requests and there's a workaround: disabling http2.

[2017-12-09 16:52] pciet commented on #15292
Some thoughts on the motivation for more generic programming facilities in Go:

So there’s my generic test list that doesn’t really need anything added to the language. In my opinion that generic type I proposed doesn’t satisfy the Go goal of straightforward understanding, it doesn’t have much to do with the generally accepted programming term, and doing the type assertion there wasn’t ugly since

[2017-12-09 17:01] randall77 commented on #23070
An interesting observation.  However, this sounds like more of an issue with the antivirus than an issue with Go, directly at least.  We only use our bug tracker for tracking actionable bugs and tracking proposals going through the Proposal Process.

Please see https://golang.org/wiki/Questions for good places to ask questions like this.

You can come back and reopen or refile this bug if there is

[2017-12-09 17:01] #23070 closed

[2017-12-09 17:15] bradfitz commented on #10267
The XP SP3 builder did a few commits, but failed with:

[code]

... including after I turned off the Windows firewall.

@alexbrainman, do you not also see that failure on your XP machine?

/cc @mikioh

[2017-12-09 18:36] namusyaka commented on #23064
The `a` element is not metadata content. So I think the behavior is not kindness but not wrong, because it is not treated as a child of the `head` element.
I think there are two approaches to this problem.

The first is to return a parse error for such illegal html, it's the ease to understand, but it will largely destroy backward-compatibility.
The second is to make the document about `Parse` mor

[2017-12-09 18:45] namusyaka opened #23071 "x/net/html: parse template element as metadata content"
### What version of Go are you using (`go version`)?

`go version devel +25363de Fri Dec 8 16:54:20 2017 +0000 darwin/amd64`

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

While investigating #23064, I noticed that the template element(it's [metadata content](https://www.w3.

[2017-12-09 19:07] thanm commented on #23046
The scenario here appears to be as follows. Exported function F in package P looks like

[code]
where F is marked as an inlining candidate. During the package P build, the post-optimization version of F has two autos, "x" and "~r1" (the latter generated by the compiler). In generated DWARF, there is an abstract subprogram for P and a concrete subprogram. The concrete subprogram in turn has two con

[2017-12-09 19:21] bradfitz commented on #22944
@coypoop, or:

[code]

Or:

[code]

[2017-12-09 19:23] bradfitz commented on #23025
https://github.com/golang/build/blob/master/cmd/release/releaselet.go#L220

We don't yet accept Github PRs, but we should in the next month or two. The bot to auto-convert them into Gerrit CLs is underway and starting to work.

[2017-12-09 19:25] bradfitz commented on #22594
The linux-arm-arm5spacemonkey builder also fails in the same way with this pprof failure:

https://build.golang.org/log/a73a8e17687b9a1bc3d429223d883e837a73f32a

[2017-12-09 19:46] ALTree commented on #22594
That's the same failure (with the same error message) reported in the first message... what am I missing? The part above the `--- FAIL:` line is verbose output from previous tests.

[2017-12-09 20:43] Azareal commented on #15292
If you add sync.Map as a built-in, then how far do you go? Do you special case every container?
sync.Map isn't the only container and some are better for some cases than others.

[2017-12-09 21:23] jdeng commented on #23064
Thanks. I think it is wrong because it misplaces the following ```<style>``` node silently.
Rejecting the HTML because of unrecognized nodes in the head section seems a little too strict and it will be a problem for quite some Microsoft office generated HTML docs.

[2017-12-09 22:09] alexbrainman commented on #10267
I do see that failure on my Windows XP - I was meant to report / investigate this but I did not have time yet. This is new functionality that has been implemented in CL 76393 and related. The failure is because WSASendMsg returns WSAEINVAL, from https://msdn.microsoft.com/en-us/library/windows/desktop/ms741692(v=vs.85).aspx "The socket has not been bound with bind, or the socket was not created wi

[2017-12-09 22:20] namusyaka commented on #23064
Certainly, it is a problem that the `style` element is unintentionally placed. But that is due to the fact that the `style` element is handled as a child of the `a` element.
I think your expectation value looks incorrect. Any another ideas?

The current implementation begins with parsing the `head` element when `html` and `head` elements are omitted. If we deal with this problem properly we have t

[2017-12-09 23:11] F21 commented on #21057
I believe I am seeing the same issue with symlinks using Go 1.10-beta1 (was fine in Go 1.9.2).

In my case, my project is copied into `/source` in the docker `golang:1.10-rc-alpine` image.

I then symlink the directory to `/go/src/github.com/user/someproject`.

This is the output when I try to run `go test -v $(go list ./... | grep -v /vendor/)t`:
[code]

[2017-12-09 23:33] petrhosek commented on #22996
It's certainly doable but it makes the CI pipeline more complicated because it requires additional post-processing.

[2017-12-09 23:37] davecheney commented on #21057
Sorry, you cannot use symlinks with the go tool, they break its concept of a single path to find a particular package.

[2017-12-09 23:43] alexbrainman opened #23072 "net: UDPConn.WriteMsgUDP fails on Windows XP"
new windows-386-xp builder on https://build.golang.org fails at commit 29cb57c

https://build.golang.org/log/e18744bedc520329ee61476194bf5020a66ba706

with

[code]

As I explained at https://github.com/golang/go/issues/10267#issuecomment-350509122 I think we should just skip correspondent parts of the test on Windows XP.

Alex

[2017-12-09 23:44] bradfitz commented on #23072
What's the proper way to detect XP?

[2017-12-09 23:51] alexbrainman commented on #23072
Search for isWindowsXP in main repo.

I am going to send a fix for this in a little while. Please wait.

Alex

[2017-12-09 23:57] pciet commented on #15292
@Azareal: @chowey listed these in August:

And I'd like the unordered set for types that can be compared for equality.

I'd like a lot of work put into a variable implementation in the runtime for each type based on benchmarking so that the best implementation possible is usually what's used.

I'm wondering if there are reasonable alternative implementations with Go 1 that achieve the same goal fo

[2017-12-10 00:13] alexbrainman commented on #23072
@bradfitz do we have Windows XP trybot?

Alex

[2017-12-10 00:15] bradfitz commented on #23072
@alexbrainman, no trybot. We just have a single XP VM currently. Maybe @johnsonj will get Windows Server 2003 working on GCE and then we could have an opt-in Trybot or something.

[2017-12-10 00:17] alexbrainman commented on #23072
Cool, I will test my change here, and then we'll submit and see.

Alex

[2017-12-10 00:18] alexbrainman commented on #23072
I really do not know how to fix this - I am not even sure if it is possible to fix. I am just skipping broken tests for the moment.

Alex

[2017-12-10 00:19] bradfitz commented on #23072
@alexbrainman, that's fine.

[2017-12-10 03:18] odeke-em commented on #23053
@mrwonko I get a 404, for your repro repository https://github.com/mrwonko/goplayground, could you please provide a way of reproducing this?

[2017-12-10 03:34] ianlancetaylor commented on #23052
I think these problems will be easier to fix if you file separate issues for separate problems.

Regarding point 3, an exported Go function is not permitted to return a Go string.  See https://tip.golang.org/cmd/cgo/#hdr-Passing_pointers .

[2017-12-10 03:37] odeke-em commented on #22986
@Zariel am currently running on tip but I can't directly reproduce it by your repro, please take a look at this sample repro
[code]
which gives me
[code]

[2017-12-10 03:50] krytarowski opened #23073 "doc: go1.10.html states that i386/amd64 executables fail on NetBSD amd64"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

N/A

### Does this issue reproduce with the latest release?

N/A

### What operating system and processor architecture are you using (`go env`)?

N/A

### What did you do?

N/A

### What did you expect to see?

Removed note that 32-bit applications are broken on 64-bit NetBSD

[2017-12-10 04:07] bradfitz commented on #23073
The typo was already fixed in https://github.com/golang/go/commit/38083c83a60aa7a1b71b072ea5ecf70a3721ef2e

So does this pass now on an amd64 NetBSD kernel:

[code]

?

Is there a pullup to the netbsd-8 branch pending?

[2017-12-10 05:56] Baozisoftware commented on #23052
Yes, these issues can be solved manually, but if the merger into the official code may have a better experience? I will modify the source code after the official version go1.10 released, thank you.

[2017-12-10 05:56] #23052 closed

[2017-12-10 06:45] ianlancetaylor commented on #22986
@odeke-em I was able to recreate it--see the CL above for a test case.

[2017-12-10 07:52] michaelsafyan commented on #20773
What's the best way to share such examples? Is there an @google.com email alias that I can share with privately?

[2017-12-10 09:54] go101 opened #23074 "cmd/compile: non-defined struct types with the same field set and order should be viewed as identical types."
### What version of Go are you using (`go version`)?

go version go1.9.2 linux/amd6

### Does this issue reproduce with the latest release?

Yes. This is broken since go 1.8.

### What did you do?

package `m`:
[code]

package `main`:
[code]

### What did you expect to see?

Not panic

### What did you see instead?

Panic.

[2017-12-10 10:03] go101 commented on #23074
If the `a` field becomes exported. Then it is not panic. But the rule of unexported fields from different packages are always viewed as fields with different names is only for defined struct types.

[2017-12-10 10:31] go101 commented on #23074
Aha, looks the rule also applies for non-defined struct types. That is a good news.
So this is a bug of 1.7-.

[2017-12-10 11:23] #23074 closed

[2017-12-10 11:40] aarzilli commented on #23046
I think @derekparker planned to use those in tracing.
Also, does this not happen if the output parameter is named by the user?

[2017-12-10 12:44] andwj opened #23075 "double error trying to convert bool to int"
#### What did you do?
Tried to convert a bool to an int.
For example: x := int(false)
https://play.golang.org/p/5eGVyWi1kH

#### What did you expect to see?
a single error message

#### What did you see instead?
two slightly different error messages for the same source location
[code]

#### System details

[code]

[2017-12-10 13:32] namusyaka commented on #23075
I guess the issue has been fixed by https://github.com/golang/go/commit/d05a1238d6811aa11abf117e668cd9c4f4c15e6a.
See https://github.com/golang/go/issues/20812.

Acutally, the issue cannot be reproduced in my local.
My go version is `go version devel +25363de Fri Dec 8 16:54:20 2017 +0000 darwin/amd64`.

[2017-12-10 13:57] mvdan commented on #23075
Was about to write the same - cannot reproduce on tip either. Seems like a duplicate indeed.

[2017-12-10 13:57] #23075 closed

[2017-12-10 14:21] thanm commented on #23046
No, it's only for compiler-generated variables.

[2017-12-10 14:52] Barthalion commented on #22372
For the record, Arch ships shared and race libraries now.

[2017-12-10 15:30] thanm commented on #23046
I've created a tentative fix for this problem.  Not 100% sure that all of the issues are covered, since I don't have access to a Mac this weekend (will do Mac testing tomorrow).

[2017-12-10 15:52] haya14busa opened #23076 "x/tools/cover doesn't handle multiple sample from the same location in cover profile."
### What version of Go are you using (`go version`)?
N/A

### Does this issue reproduce with the latest release?
yes. This issue might be a problem with upcoming Go 1.10 release.

### What operating system and processor architecture are you using (`go env`)?
N/A

### What did you do?

Parse the test cover profile result with x/tools/cover package.

### What did you expect to see?

Multiple samples

[2017-12-10 15:53] pciet commented on #22697
I’ve noticed that there may be a possibility that I’m changing my SQL statements or scan variable data types depending on the actual database I’m using for the same application. Switching is something I'll be doing in the future.

There seems to be a lot of implementation at the database/sql level above the driver, maybe we’re losing capability for specific database systems that would have been ex

[2017-12-10 16:11] pciet commented on #22013
Struct embedding is one of my favorite Go features but if there was a better solution I’d be happy with that. The simplicity it provides is great:

[code]

[code]

[code]

[2017-12-10 16:54] mrwonko commented on #23053
This is reproducible with any package containing a benchmark, e.g.

[code]

[2017-12-10 16:55] pciet opened #23077 "proposal: Go 2: remove interface{} use from the standard library"
This initial proposal is to remove all uses of the empty interface (interface{}) from the standard library for Go 2.

@chowey listed these in the generics proposal discussion (https://github.com/golang/go/issues/15292):

The type interface{} represents an item that has no required ability. The above cases use it to store items of any type in a container, but an item with no required ability may no

[2017-12-10 17:25] bradfitz commented on #19664
I'm not sure. Too few and it's annoying.

It might need to be some combination of N commits back and time back, and maybe whether the build was broken & fixed in the meantime, but that's kinda tricky.

We could start with just something like it's okay to run trybots it's fewer than 10 commits old OR less than 5 days. But once it's older than 10 commits AND older than 5 days, then we make them reba

[2017-12-10 18:52] sighoya commented on #15292
golang interfaces and haskell type classes overcome two things (which are very great!):

1.) (Type Constraint) They group different types with one tag, the interface name
2.) (Dispatch) They offer to dispatch differently on each type for a given set of functions via interface implementation

But,

1.) Sometimes you want only anonymous groups like a group of int, float64 and string. How should you

[2017-12-10 18:58] tw-bert commented on #20983
@trex58 Interesting project. I'd like to know more about the current status (couldn't find the info on the bullfrog site, but can see new versions). Would compiling Telegraf be feasible?

[2017-12-10 19:24] xry111 opened #23078 "x/sys/unix: Can not convert time.Time to Timespec in portable way"
### What version of Go are you using (`go version`)?
`go version go1.9.2 linux/amd64`

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

I want to convert a `time.Time` to `unix.Timespec`.  But there is no portable way to do that.

### What did you expect to see?

We should have

[2017-12-10 19:46] bradfitz commented on #23078
Seems like a reasonable request. Any proposal what it should on 32-bit systems for times past 2038? Probably just ignore the problem like NsecToTimespec.

/cc @tklauser

[2017-12-10 20:20] xry111 commented on #23078
I am not sure... There are several plans:

(1) `gccgo`'s `syscall` package provides `Timespec_sec_t` and `Timespec_nsec_t`.  Perhaps we can provide them (Go type of `C.time_t` and `C.long`) in `unix`. Maybe also `Timespec_sec_limit` so users can check 2038 issue.

(2) Provide a convert function `TimeToTimespec`, and ignore 2038 issue.

(3) Provide `TimeToTimespec` returns an `error` for `Time`s pa

[2017-12-10 20:39] odeke-em commented on #22986
Cool, thanks @ianlancetaylor!

[2017-12-10 20:42] JicLotus commented on #23076
Did you add some test for this issue?

[2017-12-10 20:47] JicLotus commented on #23055
Hi, i want to take this issue.

[2017-12-10 20:51] JicLotus commented on #23040
Hi there. Do you have any problem if i take this issue?
regards

[2017-12-10 20:55] JicLotus commented on #23005
Can I take it?

[2017-12-10 20:59] odeke-em commented on #23005
Thank you @JicLotus for the offer, but this issue was already fixed by CL https://go-review.googlesource.com/81817 aka commit https://github.com/golang/go/commit/dd7cbf3a846c2cb125ac65173abaf6a8b9f903ff. @randall77 opened this issue as a placeholder for a backport to Go1.9, when Go1.9.3 is being released.

If you'd like to work on some compiler issues there are very many interesting ones https://g

[2017-12-10 22:36] Indy9000 opened #23079 "Time.Sub bug when computing times before the year 1681"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 darwin/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GORACE=""
GOROOT="/usr

[2017-12-10 23:12] #23076 closed

[2017-12-10 23:19] robpike commented on #23079
As documented (see go doc time.Duration), a Duration overflows after 290 years, approximately. Thus this is working as documented.

[2017-12-10 23:33] krytarowski commented on #23073
http://netbsd.org/~kamil/golang/golang-i386-on-amd64-2017-12-11.txt

[2017-12-10 23:47] JicLotus commented on #23005
Many Thanks @odeke-em

[2017-12-11 00:14] bradfitz commented on #23073
@krytarowski, you didn't set `GOHOSTARCH=386` in that log. Another way you can tell you didn't have that set is you can see this line in your output:

[code]

So it's auto-detecting that your host architecture is amd64 and the compiler/linker are 64-bit, even if it's producing 32-bit binaries in the end.

[2017-12-11 00:14] #23079 closed

[2017-12-11 00:26] bradfitz commented on #23078
gccgo and the gc (golang.org) compiler should not have different syscall packages. That's a big unfortunate if true. (@ianlancetaylor?)

What is `Timespec_sec_limit`? We don't want to invent new types in these packages. We want to only reflect what the underlying operating system has. (or C library, especially for operating systems where the stable interface is C)

Maybe we can have:

[code]

Or s

[2017-12-11 00:32] krytarowski commented on #23073
http://netbsd.org/~kamil/golang/golang-i386-on-amd64-2017-12-11-hosti386.txt

NetBSD-8 will receive the needed patches.

[2017-12-11 00:37] bradfitz commented on #23073
Thanks. Feel free to review https://golang.org/cl/82918

[2017-12-11 00:43] krytarowski commented on #23073
`Only <code>GOARCH</code> <code>amd64</code> and <code>386</code> are fully verified. The <code>arm</code> port has not been verified.`

[2017-12-11 00:43] krytarowski commented on #23073
The arm port is known to work, but I don't know offhand the status.

[2017-12-11 01:01] krytarowski commented on #23073
[code]

[2017-12-11 01:22] andwj commented on #23075
Yeah, I searched for issues about bools and "double error" but I did not search for "duplicate error"

Thanks.

[2017-12-11 01:33] bradfitz commented on #23073
If we haven't had a builder for it for years, we assume it doesn't work.

[2017-12-11 01:42] krytarowski commented on #23073
I will give it a try tomorrow on RPi1.

[2017-12-11 02:07] krytarowski commented on #23073
https://releng.netbsd.org/cgi-bin/req-8.cgi tickets 443 and 444

[2017-12-11 02:27] FlowerWrong opened #23080 "It seems go:linkname gopark runtime.gopark and go:linkname goready runtime.goready on arm not work"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go 1.8.1 and 1.9.2

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

darwin with golang 1.9.2
archlinux with golang 1.9.2

[code]

also `Raspberry Pi 3 Model B arm structure` with golan

[2017-12-11 02:37] davecheney commented on #23080
Thank you for raising this issue. It looks like you are compiling go
netstack in a way that is not expected.

Can you please try the getting started instructions

https://github.com/google/netstack#getting-started

And post the _complete_ output you see.

On Mon, Dec 11, 2017 at 1:27 PM, 浮生 <notifications@github.com> wrote:

[2017-12-11 02:56] FlowerWrong commented on #23080
Command `GOOS=linux GOARCH=arm GOARM=7 go install github.com/google/netstack/tcpip/sample/tun_tcp_echo`

Output

[code]

And error in `# github.com/google/netstack/tcpip/link/rawfile`, I have solved.

[code]

[2017-12-11 03:04] davecheney commented on #23080
I think there are a few bugs here.

# github.com/google/netstack/sleep
sleep/sleep_unsafe.go:78:6
<http://github.com/google/netstack/sleepsleep/sleep_unsafe.go:78:6>:
missing function body
sleep/sleep_unsafe.go:81:6: missing function body

This looks like -complete is bing passed to the compiler, which is a
mistake, this package is not complete. Can you please try

GOOS=linux GOARCH=arm GOARM=7 go

[2017-12-11 03:12] FlowerWrong commented on #23080
command `GOOS=linux GOARCH=arm GOARM=7 go build -x github.com/google/netstack/tcpip/sample/tun_tcp_echo`
Output
[code]

[2017-12-11 03:14] davecheney commented on #23080
I think the problem is there is no .s file visible in the set of files to
compile for the sleep package so -complete is being passed to the compiler.

If you copy this file

https://github.com/google/netstack/blob/master/sleep/commit_arm64.s

To commit_arm.s

Then that should solve this problem.

On Mon, Dec 11, 2017 at 2:12 PM, 浮生 <notifications@github.com> wrote:

[2017-12-11 03:49] FlowerWrong commented on #23080
Thanks very much, it is my fault.

[2017-12-11 03:49] #23080 closed

[2017-12-11 04:00] FlowerWrong commented on #23080
How did you judge there is missing commit_arm.s？Experience？

[2017-12-11 04:05] xry111 commented on #23078
Yes.  I agree with Brad's `TimeToTimespec` and `ValidTimeForTimespec` API.

But `libgo` really [generates](https://github.com/golang/gofrontend/blob/master/libgo/mksysinfo.sh#L417) these strange types...

[2017-12-11 04:42] davecheney commented on #23080
@FlowerWrong sadly yes, you need to know the magic of how `//go:linkmode` is implemented in the compiler.

Because the function isn't implemented in Go, there has to be a 'stub' function, a forward declaration that tells the compiler that something else will provide the code for that function -- this is usually done by an assembly function in the same package, but in the case of `//go:linkmode` th

[2017-12-11 05:39] terinjokes opened #23081 "cmd/go: get should always send go-get parameter, even after redirects"
### What version of Go are you using (`go version`)?
`go version go1.9.2 linux/amd64`

### Does this issue reproduce with the latest release?
:white_check_mark:

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Ran `go get -v -insecure example.org/pkg/foo` whilst "example.org" was directed to a local HTTP server (via host file).

### What

[2017-12-11 05:53] odeke-em commented on #18827
Sorry that we didn't look at this issue in the Go1.10 cycle, but I think we might have to move this to Go1.11. What do you think @crawshaw?

[2017-12-11 06:13] #23073 closed

[2017-12-11 06:15] ianlancetaylor commented on #23078
It's unavoidable for gccgo to have a different syscall package.  gc pre-generates the syscall package.
 gccgo generates much of the syscall package at build time, so that it is portable to different systems.  The effect is that the syscall package is almost entirely different.

Gccgo and gc share the same golang.org/x/sys/unix package, of course, although that is a problem sometimes as that packag

[2017-12-11 06:53] duhaifeng commented on #23058
Hi, if connect to the switch without specifying a cipher list, I got a error: ssh: handshake failed: ssh: no common algorithm for client to server cipher; client offered: [], server offered: [aes256-cbc aes128-cbc 3des-cbc aes256-cbc des-cbc].
If I use [aes256-cbc aes128-cbc 3des-cbc aes256-cbc des-cbc] for handshake got the same short read error.
I found the short read error is generated in "func

[2017-12-11 07:24] tklauser commented on #23078
Yes, unfortunately the types of `Timespec.Sec` and `Timespec.Nsec` are platform-specific. I agree that Brad's suggested `TimeToTimespec` and `ValidTimeForTimespec` seem like the reasonable thing to do.

[2017-12-11 08:27] odeke-em commented on #21171
Sorry @mynameiswhm that we didn't look at this issue during Go1.10. I'll move this to the Go1.11 milestone instead.

[2017-12-11 08:31] odeke-em commented on #19761
Gently pinging the issue here: @tombergan any ideas for this issue? -- as I can see that the CL has an unresolved -2 by the original author.

[2017-12-11 08:32] odeke-em commented on #21431
Hello @aclements, gently pinging here to see if there is more work that needs to be done for Go1.10 for this issue.

[2017-12-11 08:35] gonutz commented on #23025
Nice, thanks very much. I will have some time for it then, that is fine with me ;-)

[2017-12-11 09:25] lujiajing1126 commented on #23024
Emmm, Sorry. But I want to figure out what `net/http` does during the http request.

I found that if no header is sent by the server, there is no `ReadDeadline`???

It just says:

[code]

And the client just wait for time longer than `readTimeout`

instead of showing:

[code]

Is this a feature/problem related to the `net/http`?

[2017-12-11 09:29] mvdan commented on #23024
If you have any questions about Go, please use https://golang.org/wiki/Questions. The issue tracker is only used to report bugs and propose specific changes.

[2017-12-11 10:02] tyru commented on #20841
Hi.
This seems to occur again in `go1.10beta1`.
I've also tried `go1.9.2`, but it works well.

* (fail) go1.9
* (success) go1.9.1
* (success) go1.9.2
* (fail) go1.10beta1

see https://github.com/vim-volt/volt/issues/1#issuecomment-350676726 for the detail.

[2017-12-11 10:29] weppos commented on #22959
@eminano out of curiosity, any reason to not use `x/net/publicsuffix` or https://github.com/weppos/publicsuffix-go? Are you missing any specific feature?

[2017-12-11 10:31] tyru commented on #20841
Sorry, deleted my comment because it was totally wrong.
After checking the source code, it appears this patch has not been applied yet to go1.9.1, go1.9.2, go1.10beta1.

[2017-12-11 10:55] zolotov commented on #23033
Is this still waiting for info?

[2017-12-11 11:07] xgfone commented on #22887
I hope to add this feature in Go2.

If the std library supplies it, I don't need to import the third-party router.

[2017-12-11 11:11] tyru commented on #20841
For go1.10beta1, I confirmed [this patch](https://gist.github.com/tyru/b6c8cfa8b4072ca0ee791065c669d79a) fixed the problem for my environment at least.

### Environment

* go version go1.10beta1 linux/amd64
* OS name: Microsoft Windows 10 Pro (from `systeminfo` command)
* OS version: 10.0.15063 N/A Build 15063 (from `systeminfo` command)
* Ubuntu (WSL): 16.04.3 LTS (from `lsb_release -a` command)

[2017-12-11 11:13] trex58 commented on #20983
Hi, we are continuously improving the port on AIX, submitting changes to the Go and GCC projects. See: https://go-review.googlesource.com/q/reix (and old: https://go-review.googlesource.com/q/sarter) . I've recently produced a new snapshot of GCC 8 (20171205), which enables to build Filebeat 6.0, Kubernetes 1.8, and more. Take it at: http://www.bullfreeware.com/go/go8.0.0/aix7.2/ . And I know I'll

[2017-12-11 11:21] tw-bert commented on #20983
@trex58 Thanks for the info, great stuff. Telegraf: see [here](https://github.com/influxdata/telegraf) . It is a metrics collector, similar to [collectd](https://github.com/collectd/collectd) (which some people have succesfully compiled on AIX by the way - I will give it a go if Telegraf's a no-go).

[2017-12-11 11:46] wgliang opened #23082 "cmd/go: need to have the command to view the current path of one package information"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/wgliang

[2017-12-11 12:27] arxdsilva commented on #21549
same here on a simple example, go 1.9.2 installed

[2017-12-11 13:04] mvdan commented on #23082
You mean this command?

[code]

[2017-12-11 13:04] thesyncim commented on #22990
[code]

[2017-12-11 13:30] ugorji commented on #22729
What about making nil a variable OR a function that has a context i.e.

- nil // current interpretation of nil
- nil(map)
- nil([])
- nil(func)
- nil(interface)
- nil(*)
- nil(chan)

This way, there's no new keyword, but we expand the use of the nil keyword (like we expanded the use of make).

If we combine this with a builtin iszero(x) function where x is any value, and accompanying reflect.IsZer

[2017-12-11 13:43] wgliang commented on #23082
Yes,but I got:
fiisio:kubernetes wgliang$ pwd

/Users/wgliang/Documents/mos/src/github.com/kubernetes/kubernetes

fiisio:kubernetes wgliang$ go list -f '{{.Dir}}' github.com/kubernetes/kubernetes

can't load package: package github.com/kubernetes/kubernetes: no Go files in /Users/wgliang/Documents/mos/src/github.com/kubernetes/kubernetes