[2020-11-06 14:56] prattmic commented on #42303
The netpoll delay sleep is used to wait for timers, so we still need that `wakep` to ensure some thread is waiting on timers.

[2020-11-06 14:58] prattmic commented on #42408
Between here and #42237 there seems to be consensus that we just don't care about OpenBSD 6.2 any more.

Perhaps https://github.com/golang/go/wiki/OpenBSD#building-from-source needs an update?

[2020-11-06 15:02] #32402 closed

[2020-11-06 15:04] millerresearch commented on #42303
Is this documented somewhere? Or can you point me to where in the code this happens on systems with no netpoller?

[2020-11-06 15:08] bcmills opened #42424 "time: TestTicker timeouts after CL 232298"
(Issue forked from #42237.)

[code]

[2020-11-05T19:22:02-370682a/windows-amd64-longtest](https://build.golang.org/log/94b08e5f814c2f3fa6ed77f3946ae5caf687e79a)
[2020-11-05T16:47:45-a19a4dc/windows-amd64-longtest](https://build.golang.org/log/c7b0803fe06368850e6a3ae7f89f1376df14708c)
[2020-11-05T15:16:57-34c0969/windows-amd64-longtest](https://build.golang.org/log/3beb38b7e237d7a9d2b2cd1fc3f1c5dfa

[2020-11-06 15:09] bcmills commented on #42237
@prattmic, in that case I've filed #42424 separately to track the remaining issue, on the theory that each issue should track only one root cause. (That way, we can mark this issue as closed once the BSD builders are sorted out.)

[2020-11-06 15:11] ianlancetaylor commented on #38736
Thanks, I converted #42420 into a proposal following the guidelines at https://golang.org/s/proposal.

[2020-11-06 15:12] bcmills commented on #42237
Any idea whether the NetBSD kernel has the same bug as OpenBSD? (https://build.golang.org/log/28fcb871ec9f9d01d787eec2c5f32f38450d5774 on `netbsd-arm64-bsiegert` was after your CL landed.)

CC @bsiegert

[2020-11-06 15:14] slinkydeveloper commented on #42372
Seems like we're missing each other in translation somewhere. Would you agree to do a quick synchronous meeting? We're in the same timezone, so that should be easy. Maybe that helps us unblocking this and/or gives me a good direction to clear things up.

[2020-11-06 15:16] bcmills commented on #42408
#35712 (add an OpenBSD 6.8 builder) is probably relevant.

[2020-11-06 15:18] bcmills commented on #42424
This may be Windows-specific, if #42237 is sufficient to account for the failures observed on OpenBSD and NetBSD.

[2020-11-06 15:19] katiehockman commented on #31224
Sure. Feel free to file another issue. That is out of scope for this one.

[2020-11-06 15:20] bcmills commented on #42424
Oop, nope. There are two `linux` failures in the mix there too.

[2020-11-06 15:24] prattmic commented on #42303
I'm not aware of great overview docs, but this was part of @ianlancetaylor's new timers last year. You can see the changes in http://golang.org/cl/171821 and its relation chain.

Notably, Plan 9's `netpoll` [sleeps as requested](https://cs.opensource.google/go/go/+/master:src/runtime/netpoll_stub.go;l=50), despite not performing any actual polling. `findrunnable` determines when the next timer exp

[2020-11-06 15:29] bcmills commented on #42422
[2020-11-05T22:14:40-8e5778e/netbsd-arm64-bsiegert](https://build.golang.org/log/96764e29f501a683cccf7006af49b865d0e2f133)
[2020-11-05T14:54:35-74ec40f/netbsd-arm64-bsiegert](https://build.golang.org/log/f58d31621ecf6eb5317790d7683479bb44b9561d)
[2020-11-05T10:46:08-3510a1e/netbsd-arm64-bsiegert](https://build.golang.org/log/21955ac5c870203c1e6ff0c9c4f3437c10778dbf)
[2020-11-04T21:02:29-e4b4e4b/ne

[2020-11-06 15:32] bcmills commented on #42422
CC @coypoop (via #29398 / [CL 155739](https://golang.org/cl/155739))

[2020-11-06 15:32] codyoss opened #42425 "x/pkgsite: missing struct docs"
### What is the URL of the page with the issue?

 https://pkg.go.dev/google.golang.org/genproto/googleapis/cloud/secretmanager/v1#Secret

### Screenshot

[pkg.go.dev]( https://pkg.go.dev/google.golang.org/genproto/googleapis/cloud/secretmanager/v1#Secret ):
![Screen Shot 2020-11-06 at 8 29 32 AM](https://user-images.githubusercontent.com/6331106/98383882-4a1b5880-200a-11eb-9e76-3667afc2a97e.png)

[2020-11-06 15:34] #42027 closed

[2020-11-06 15:38] 4a6f656c commented on #42408
There are probably parts of that wiki page that need updating, however the relevant part is:

https://github.com/golang/go/wiki/OpenBSD#longterm-support

(I think building from source was more so tracking whether it was possible, rather than if it was EOL :))

[2020-11-06 15:39] bcmills commented on #42414
CC @FiloSottile @katiehockman

[2020-11-06 15:40] coypoop commented on #42422
@bsiegert: which version of netbsd/arm64 is this running?
(NetBSD-9 is the first release of NetBSD with arm64 support, so there were so many changes and fixes that it was hard to backport them)

[2020-11-06 15:40] dwschulze commented on #42411
If we are not supposed to manually edit go.mod that needs to be clear in the documentation.  Your link says nothing about modules.

If I try go get it also fails:

go get 192.168.0.12/gitrepo/go-module-test-dateutil@dev2
go get 192.168.0.12/gitrepo/go-module-test-dateutil@dev2: unrecognized import path "192.168.0.12/gitrepo/go-module-test-dateutil": https fetch: Get "https://192.168.0.12/gitrepo/g

[2020-11-06 15:43] millerresearch commented on #42303
Thanks, that's helpful. I actually fixed a bug in netpoll_stub earlier this year without being fully aware of how it's used. All I know is that, empirically, removing that `wakep` call makes the difference between memory faults (every test run) and ALL TESTS PASSED. If the `wakep` is "needed to ensure some thread is waiting", why don't I see deadlocks when it's removed?

[2020-11-06 15:45] 4a6f656c commented on #42237
OpenBSD only supports the last two releases - that is currently 6.8 (released last month) and 6.7 (released May 2020). Anything older (6.6 and earlier) are unsupported and no longer receive reliability or security fixes. Based on [previous discussions](https://github.com/golang/go/issues/15227#issuecomment-293319876), Go should target the same - there is little gained by intentionally supporting O

[2020-11-06 15:45] bcmills commented on #42395
That error likely comes from here:
https://github.com/golang/go/blob/d55e0c10ad5e2fde97697e01c46c12a2b2406a10/src/net/fd_windows.go#L112

[2020-11-06 15:46] bcmills commented on #42395
CC @bradfitz @ianlancetaylor @alexbrainman @zx2c4

[2020-11-06 15:47] bcmills commented on #42395
This looks to me like a bug in the `net` package on Windows: at the very least, `net` should be returning a more useful error than simply `connectex: invalid argument`.

(There may *also* be a bug in `cmd/go`, but if so it is obscured by the `net` bug.)

[2020-11-06 15:48] bsiegert commented on #42422
It's a -current from May:
[code]

I can try a newer kernel if you would like.

[2020-11-06 15:59] bcmills commented on #42411
@dwschulze

What `GOPRIVATE` and `GOINSECURE` settings, if any, are you using?

That seems to indicate that the server on `192.168.0.12` either is not serving via HTTPS or is not serving [`go-import` metadata](https://golang.org/ref/mod#vcs-find). Can you provide more information about that server?

[2020-11-06 15:59] dmitshur commented on #42237
@prattmic @4a6f656c I came here to suggest/ask something similar.

If we've determined here that the Go code is correct and this issue is due to a kernel bug in OpenBSD 6.2 which has been fixed in OpenBSD 6.4, then I think we should drop the builders.

The primary reason we still have OpenBSD 6.4 and 6.2 builders is because we didn't have enough bandwidth to get them updated more frequently (the l

[2020-11-06 16:01] prattmic commented on #42237
@bcmills From a quick glance at the NetBSD source, it looks fine. I can try testing there and see what I can find.

[2020-11-06 16:03] cherrymui commented on #42421
Thanks. Interesting example.

I think the unused method is linked in because it is referenced from the itab.

If you change foo.go to do
[code]
then UnusedInterfaceMethod disappears.

I agree this is awkward, and we probably could fix the itab case. But it's too late for 1.16. Will try in 1.17. Thanks.

[2020-11-06 16:05] cagedmantis commented on #42410
Running the builder as proposed in https://golang.org/cl/267937 fails with:
[code]

We are investigating the failure.

[2020-11-06 16:08] dwschulze commented on #42411
GOPRIVATE and GOINSECURE are both unset.  I've tried with GOPRIVATE="192.168.0.12/gitrepo/*" and it makes no difference.  GOPRIVATE seems to have no effect at all.  I can use modules from my private repos on github with GOPRIVATE unset.

There is no web server on my server at 192.168.0.12.  I'm accessing it via ssh.  In my ~/.gitconfig

[url "dean@192.168.0.12:"]
	insteadOf = https://192.168.0.12/

[2020-11-06 16:14] dmitshur opened #42426 "doc, x/build/dashboard: document Go 1.16 requires at least OpenBSD 6.4, drop OpenBSD 6.2 builders"
Based on investigation and discussion in #42237 and #42408, and past support policy discussion in https://github.com/golang/go/issues/15227#issuecomment-293319876, we should drop OpenBSD 6.2 support from the upcoming Go 1.16 release. What's needed:

- [x] Disable `openbsd-{386,amd64}-62` builders for Go 1.16 and newer.
- [ ] Document in Go 1.16 release notes that Go 1.16 requires at least OpenBSD

[2020-11-06 16:18] mdlayher commented on #42419
Per Dave's response, I've also seen enough general disdain for these constants to feel pretty safe about closing this one out.

[2020-11-06 16:18] #42419 closed

[2020-11-06 16:24] 4a6f656c commented on #42237
@dmitshur - please let me know if you need assistance - while I can readily update the script that produces the OpenBSD images, I would not have the ability (at least as far as I know) to actually deploy the new builders, so would need someone from the Go team to push it over the line.

Sounds good to me.

[2020-11-06 16:26] toothrot commented on #42299
All set.

[2020-11-06 16:26] #42299 closed

[2020-11-06 16:28] bcmills commented on #42411
Note that that command is missing the `.git` suffix on the module path. That's why the `go get` command is attempting an HTTPS fetch instead of going directly to `git`.

In that case, I'm not quite sure how it would be working in the first place. 😅
(Perhaps you're setting `GONOSUMDB` instead of `GOPRIVATE`? That could potentially work, but `GOPRIVATE` seems like a better semantic fit.)

[2020-11-06 16:29] toothrot commented on #42371
/cc @martisch

[2020-11-06 16:34] BenLubar commented on #42412
If the `[0]uintptr` field is moved from the end of the struct, it would need to be statically sized rather than dynamically sized.

[2020-11-06 16:35] toothrot commented on #42393
Thanks for the heads up.

/cc @golang/release

[2020-11-06 16:38] randall77 commented on #42385
I agree. This seems in the absence of any data to be a good change. We want to see the data just to make sure that there aren't any unexpected regressions. The fact that it randomly makes some code worse and some code better is unfortunate but not a blocker. Only consistently worse would block this change.

Rant: Why is there so much variation here? This seems like a very minor change. I would exp

[2020-11-06 16:40] toothrot commented on #42399
/cc @randall77 @griesemer

[2020-11-06 16:41] dmitshur commented on #35712
In https://github.com/golang/go/issues/42237#issuecomment-723170549, @4a6f656c kindly offered to help by providing a script that produces a OpenBSD image, but someone with permissions on @golang/release team is needed to review the CLs and push/deploy the builder.

@cagedmantis You're currently assigned on this issue from before, do you still want to work on this and have the bandwidth to take it

[2020-11-06 16:46] toothrot commented on #42412
/cc @aclements @randall77 @mknyszek @prattmic

[2020-11-06 16:48] toothrot commented on #42415
/cc @bradfitz @ianlancetaylor

[2020-11-06 16:50] cagedmantis commented on #35712
@dmitshur I've removed myself as the assignee. Please feel free to work on this issue if you have the time. I will attempt to work on this issue in the future if time permits.

[2020-11-06 16:56] dmitshur commented on #35712
@4a6f656c If things go well, I should have the bandwidth to review and deploy. If we run into issues that need more investigation, I might defer until after Go 1.16 is out. Please feel free to send a CL to x/build, and be set `KnownIssue` field to 35712 when adding the builder configuration. Thank you.

[2020-11-06 17:12] prattmic commented on #42237
For easier testing, I created this simple test case. tl;dr, all the systems I tested seem fine expect for OpenBSD 6.2.

[code]

Results:

openbsd-amd64-62 (buggy!):
[code]

openbsd-amd64-64:
[code]

(N.B. alarm expected here; NULL should hang forever)

netbsd-amd64-9_0:
[code]

freebsd-amd64-12_0:
[code]

darwin-amd64-10_15:
[code]

dragonfly-amd64-5_8:
[code]

[2020-11-06 17:14] dwschulze commented on #42411
That was it

    go get 192.168.0.12/gitrepo/go-module-test-dateutil.git@dev2

It made this change to the go.mod:

    192.168.0.12/gitrepo/go-module-test-dateutil.git v0.0.3 // indirect

The tag v0.0.3 was on the last commit on the dev2 branch so one problem solved.  But if I make another commit on the dev2 branch and run the same go get command I to get that latest commit on dev 2.  (GOPRIVATE i

[2020-11-06 17:44] networkimprov commented on #42343
I build app releases for Linux, Windows, and MacOS. Each release includes a platform specific tree of files beside the executable, and is packed into a TGZ or ZIP file. I built a shell script to do this, tho I could have used a makefile. I've essentially duplicated the script in multiple projects.

If there's a Go-native way to do this, I overlooked it.

[2020-11-06 17:53] networkimprov commented on #41910
cc @ianlancetaylor - possible release blocker?

[2020-11-06 18:00] bcmills commented on #42237
@prattmic, the observed builder failures on NetBSD have been on the `arm64` (not `amd64`) builder — did you check that configuration?

[2020-11-06 18:01] carlmjohnson commented on #41910
This has been broken in prod for the last month, so I don't think it's a release issue per se?

[2020-11-06 18:01] bcmills commented on #42237
Hmm, actually, there's one on `netbsd-386-9_0` now too:
https://build.golang.org/log/8f6922ad5c468e77a32e18757775ddf709219705

[2020-11-06 18:02] carlmjohnson commented on #41910
Could still be faulty on Akamai's side, but it's strange that it works in Curl with TLSL1.3 turned on.

[2020-11-06 18:02] dmitshur commented on #42341
It's working as expected so far. Here's a TryBot run from a recent CL:

![image](https://user-images.githubusercontent.com/1924134/98374054-20643080-200e-11eb-9aaf-5d4a0ef3b7c7.png)

<details><summary>Build Log</summary><br>

[code]

</details>

In contrast with [CL 268057](https://golang.org/cl/268057) which intentionally adds invalid code for macOS arm64 only:

![image](https://user-images.githu

[2020-11-06 18:03] bcmills commented on #42237
(So... do we need a separate issue to track the NetBSD deadlock?)

[2020-11-06 18:18] mknyszek commented on #42412
In general, we've already analyzed this tradeoff for a lot of the popular runtime structures (e.g. `mspan`), though I'm sure there are some we missed. Patches are welcome of course to fix those up; I don't think we recently ran an automated tool against the source.

Broadly-speaking, I do think a lot of the big low-hanging fruit has already been found, just based on my own familiarity with the run

[2020-11-06 18:24] griesemer commented on #42399
The typechecker for generic Go (`dev.typeparams` branch) does this correctly. For the first and second program (using the compiler of `dev.typeparams` branch):
[code]
I don't understand what's wrong with the [3rd program](https://play.golang.org/p/RBrlfV41adh) - the error message seems correct. What am I missing?

[2020-11-06 18:24] stamblerre commented on #42418
We believe that this has been fixed at master.
@hummerd: Can you try reproducing this at master? You can download it by running `GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`.

[2020-11-06 18:30] bcmills commented on #42411
Agreed. That's (part of) #41427.

[2020-11-06 18:32] bcmills commented on #42411
That's not how it's supposed to work. Here's a theory, though: perhaps you already had a checksum in your `go.sum` file (somehow) for `v0.0.3`, so `go get` bypassed checksum verification because it already had a checksum?

(That could be the case if, for example, you already depended on `v0.0.3` from some `go` release before Go 1.13, which is when the checksum database was added.)

[2020-11-06 18:40] trapgate commented on #41890
Starting the editor from a subdirectory in our monorepo does reduce the memory footprint to usable levels, and in our case at least I haven't had that cause me any problems - I spend nearly all my time in a subset of our subprojects. I ran that way for months when I had less memory in my work machine, and it was fine. A package in-/exclusion filter would be useful though, because it would decouple

[2020-11-06 18:42] bcmills commented on #42411
The `go.mod` file _can_ contain a branch name, but it will get rewritten to a pseudo-version. Either way, though, we strongly recommend using `go get` instead.

The branch behavior is currently documented in [`go help get`](https://tip.golang.org/cmd/go/#hdr-Add_dependencies_to_current_module_and_install_them) and https://golang.org/ref/mod#vcs-branch.

Use of `go get` (as opposed to editing `go.m

[2020-11-06 18:43] bcmills commented on #42411
Duplicate of #41427

[2020-11-06 18:43] #42411 closed

[2020-11-06 19:02] hummerd commented on #42418
You are right! Master works fine, thank you!

[2020-11-06 19:02] #42418 closed

[2020-11-06 19:06] OGKevin commented on #42419
Thats a shame. Thanks for the feedback 👍🏾.

[2020-11-06 19:08] #42377 closed

[2020-11-06 19:09] dmitshur commented on #42341
This is live, so closing. If there are issues, please let me know.

[2020-11-06 19:09] #42341 closed

[2020-11-06 19:11] odeke-em opened #42428 "cmd/compile: make compiler reorganize user structs without having user code modify fields so userland readability can come first"
Coming here from an offline discussion with @aclements, in regards to a new static analysis pass ["structslop" that Orijtech, Inc. just released](https://medium.com/orijtech-developers/efficient-struct-packing-guided-pass-for-go-92255872ec72) and related issues:
* https://github.com/golang/go/issues/42412
* https://github.com/golang/go/issues/42415
* https://github.com/golang/go/issues/42416

The

[2020-11-06 19:17] dsnet opened #42429 "strconv: optimize Parse for []byte arguments"
In 2016, #2632 was closed with the [explanation that](https://github.com/golang/go/issues/2632#issuecomment-252725945):

In summary, it's argued that 1) the compiler should address this, and 2) people can vendor and modify the `strconv` package.

It's been 4 years since the issue was closed (and 9 years since the issue was first reported), and there there hasn't been a compiler optimization that p

[2020-11-06 19:23] odeke-em commented on #42428
A somewhat similar proposal that's currently on hold https://github.com/golang/go/issues/36606, brought to my attention offline by @rsc.

[2020-11-06 19:29] rsc commented on #42412
Rearranging fields for struct packing is like writing code in assembly - there may be a performance win but it also makes code harder to maintain, and not all struct can be reordered. The cost here is only worth paying if there is a benefit. So just like an assembly function needs to be a CPU time hot spot, careful struct packing needs to be a memory hotspot - a struct there are many of in a typic

[2020-11-06 19:30] rsc commented on #42428
We can't reorder fields until there is a way to signal "don't reorder fields". That way was going to be and may still be //go:packed (#36606), but that work is put to the side to focus on generics.

Past discussion about reordering struct fields is #10014.

[2020-11-06 19:31] rsc commented on #42428
This issue can probably be closed as a duplicate of #36606. I don't think we need to keep both open.

[2020-11-06 19:31] cespare commented on #42429
At my company we have shared functions that do this too. They see a reasonable amount of use in high-performance code.

It's not hard to write the unsafe code, but it's not completely trivial either -- it's easy to overlook the problem of the string being retained unsafely inside the `NumError`.

[2020-11-06 19:31] odeke-em commented on #42428
SGTM, thank you @rsc for chiming in with the background.

[2020-11-06 19:31] #42428 closed

[2020-11-06 19:33] rsc commented on #42415
The struct identified here - type dnsConfig - is something that there's typically only one of in an entire program. The savings of 16 bytes in an entire program, at the cost of making the struct field list less natural to read, is not worth it.

Echoing what I wrote on #42412, you can improve the targeting of your suggestions by combining your tool with memory profiles. It's important not to make

[2020-11-06 19:35] rsc commented on #42416
This one is again not something that there are many of. This variable is declared as a local to hold state before a recursive walk of a function body. It's a miniscule percentage of a tiny fraction of the overall compiler memory usage.

[2020-11-06 19:36] mknyszek commented on #23044
@cespare We've discussed this issue. It's unfortunately not as simple as just making the existing min heap configurable. Austin alluded to this earlier, but the primary issue is setting a clear line like this causes significant issues with the GC pacer (that is, deciding when to start a concurrent mark phase).

Consider the following example:
1. An application sets a minimum heap size of 1 GiB, wi

[2020-11-06 19:39] mknyszek opened #42430 "runtime: GC pacer problems meta-issue"
# Problems with the GC pacer

Updated: 2020-11-06

The Go GC's pacer has had a number of problems accumulate over the years since it was originally unveiled in [Go 1.5](https://docs.google.com/document/d/1wmjrocXIWTr1JxU-3EQBI6BK6KgtiFArkG47XK73xIQ/edit#). The pacer has also changed somewhat since then. This issue lists each problem along with some details and history. They are not listed in any p

[2020-11-06 19:39] mknyszek commented on #23044
Added this general issue to #42430.

[2020-11-06 19:55] bcmills commented on #42429
Don't forget option (3): wait for a decision on generics, and then provide an updated `strconv` library with functions that are polymorphic over indexable byte-containers.

[2020-11-06 20:34] griesemer commented on #42399
Possibly related to #23660.

[2020-11-06 20:49] #37837 closed

[2020-11-06 21:00] jclulow opened #42431 "os/exec: occasional "leaked parent file" on illumos/amd64"
Occasionally we seem to see a test failure in the illumos buildlet:

[code]

The test in `os/exec/read3.go` is trying to execute `lsof` to get debugging information, but unfortunately at least in the distribution that the buildlet is running under that command is not terribly useful.  The native tool for inspecting open file descriptors on illumos systems is `pfiles`, and I see some code in there

[2020-11-06 21:01] mebaba commented on #42399
In this case the message is okay, because it points to the function call. But I believe it should be more specific. The line number should point to the argument, because the message starts by giving the name of the argument.

[2020-11-06 21:16] mebaba commented on #42399
I tried to investigate, but I have looked at the Golang source for the first time today.

subr.go has a comment above hasUniquePos() which explains something similar.  setlineno uses hasUniquePos to check whether the node has a line number that points to the place where something is used, instead of where it's declared.

typechecker.go and subr.go relie on setlineno to set the global lineno, inste

[2020-11-06 21:24] griesemer commented on #42399
The parser does store the correct information (it's essentially the same parser as in `dev.typeparams`, which does it correctly).

It's a known problem that we lose position information in the nodes. Not urgent.

[2020-11-06 22:36] dmitshur commented on #42288
We've discussed this request in a release meeting, and I see @rsc has reacted with 👍  as well. The rationale looks good.

Approved.

Please do reassess progress and be mindful of time as we [work towards the beta release](https://github.com/golang/go/issues?q=is%3Aopen+is%3Aissue+milestone%3AGo1.16+label%3Arelease-blocker+-label%3Aokay-after-beta1+), and update your plan if you think a change in a

[2020-11-06 22:45] rogpeppe commented on #42429
If there's a new strconv library that's generic over `[]byte` and `string` then any new call we add to strconv now can presumably be trivially implemented in terms of that

[2020-11-06 23:01] prattmic commented on #42237
I shall leave no stone unturned, so I just ran the test of every builder matching `(bsd|dragon|darwin)`. The only failures were `openbsd-amd64-62`, `openbsd-386-62`, `darwin-amd64-10_11` (didn't compile, missing `clock_gettime`?).

So, yes, we'll need a new issue for NetBSD.

[2020-11-06 23:10] dmitshur commented on #42237
That builder runs macOS 10.11 El Capitan, and Go 1.14 is the [last release](https://golang.org/doc/go1.15#darwin) that supports it, so it's normal for Go 1.16 to not work on it.

[2020-11-06 23:13] josharian opened #42432 "x/tools/imports: remove duplicate imports when one is _-imported"
If you run goimports on this code:

[code]

You get:

[code]

Note the duplicate imports. We could remove the _ import.

[2020-11-06 23:24] mitar commented on #42417
I think it is more a duplicate of https://github.com/golang/go/issues/6213.

[2020-11-06 23:25] mitar commented on #6213
In https://github.com/golang/go/issues/42417 I proposed to have the following syntax:

[code]

So `+` would mark a field into which all extra/unexpected fields would go.

[2020-11-06 23:26] mitar commented on #22533
In https://github.com/golang/go/issues/42417 I proposed to have the following syntax:

[code]

So `+` would mark a field into which all extra/unexpected fields would go.

And for the question what to do about overlapping fields, we could have that specified with a flag, like:

[code]

To have extra fields override any struct fields.

[2020-11-06 23:42] jba commented on #42425
Thanks for finding this. I first feared that it was a bug in some recent work we've been doing on documentation rendering, but it actually predates that. It's related to that long field tag on `Labels`: overly long field tags turn off all other comments in a declaration. Should have a fix by Monday.

[2020-11-07 00:25] 4kills opened #42433 "proxy.golang.org: issues with go get and modules after repository re-name"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.15.4
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\--\AppData\Local\go-build
set GOE

[2020-11-07 01:16] rsc commented on #42415
Given that dnsConfig shouldn't be changed and the other is in a test and shouldn't be changed, closing this.

[2020-11-07 01:16] #42415 closed

[2020-11-07 01:16] rsc commented on #42412
Given that none of these would be a significant savings, closing this issue.

[2020-11-07 01:16] #42412 closed

[2020-11-07 02:13] #31224 closed

[2020-11-07 02:28] ianlancetaylor commented on #24484
This can happen if your system is overloaded.  Is the problem repeatable?

[2020-11-07 03:28] dmitshur commented on #42281
This is fixed now.

[2020-11-07 03:28] #42281 closed

[2020-11-07 03:44] FiloSottile commented on #42432
Note that https://golang.org/cl/250497 was reverted in https://golang.org/cl/265078, because while the naked import might be removed if the package is not explicitly used anymore, the _ import expresses the intention to import it regardless. goimports should probably preserve that.

[2020-11-07 03:53] #42374 closed

[2020-11-07 03:57] mebaba commented on #42399
Can I ask some uninformed questions? Is generic Go the version 2.0 with generics? Is dev.typeparams public? And has the code that fills originalPositions like here https://go-review.googlesource.com/c/go/+/147379/ made it into some code that I could obtain? Thanks a lot.

[2020-11-07 03:59] benhoyt commented on #42297
Per discussion at https://github.com/golang/go/issues/42389, we've decided not to add any vet check. While ParseFloat(s, 10) is incorrect and strictly speaking a mistake, it's probably not going to cause issues or be a bug.

[2020-11-07 04:00] benhoyt commented on #42297
Oh, I guess I can't close this issue. @mark-rushakoff or @ianlancetaylor can you please close this now, seeing we've addressed the "permit other values" part and decided against the vet check.

[2020-11-07 04:15] josharian commented on #42432
Ah, makes sense. Thanks.

[2020-11-07 04:15] #42432 closed

[2020-11-07 04:33] dmitshur commented on #40172
I believe this is fixed via [CL 249557](https://golang.org/cl/249557) for `go/doc` and [CL 249638](https://golang.org/cl/249638) for pkg.go.dev. The examples mentioned in the original issue report now show up.

@jba If I missed something and there's more to do here, feel free to reopen.

[2020-11-07 04:33] #40172 closed

[2020-11-07 04:43] kands-code opened #42435 "The plugin always tells me that there is a error"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 windows/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=on
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\31

[2020-11-07 05:16] evanphx commented on #42289
@davecheney I figured it out. It’s not a bug in bufio. This happens when a bufio is used concurrently by many goroutines. When the refill code runs concurrently, the `b.w += n` line pushes the `w` to `8192` as we’ve seen here.

So basically, folks accidentally use a bufio.Reader across goroutines, probably because we get used to os.File working across goroutines and therefore not being careful eno

[2020-11-07 05:27] dmitshur commented on #42433
This a problem isn't caused by the module mirror and it's not related to the rename; the same behavior would happen even if you use GOPROXY=direct.

The reason go get tries to fetch v1.3.0 is because it's the latest released version:

[code]

The v2.0.4 tag causes a v2.0.4+incompatible version to be created, since it points at a commit without a go.mod file, and the import path for that version wo

[2020-11-07 06:17] hkurokawa opened #42436 "strconv: ParseFloat seems not working correctly with a large exponent"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/hiroshi/.cache/go-bu

[2020-11-07 06:26] martisch commented on #42289
Try running the race detector which should have found that issue. https://golang.org/doc/articles/race_detector.html

If it is not found by the race detector please file a bug with a reproducer program where the race detector doesnt find the race.

[2020-11-07 06:26] #42289 closed

[2020-11-07 06:38] martisch commented on #42371
The pkg label is not new it has been there before CL 263804.

The fix could be that for grouping benchstat should just ignore the cpu label.

[2020-11-07 07:32] dmitshur commented on #37439
I had a chance to try out all 3 values for additional TryBot helpers (3, 5, and 9) in at least one CL and the times so far were:

| windows-amd64-longtest (+3 helpers) | linux-386-longtest (+5) | linux-amd64-longtest (+9) |
|---------|-----------|-------|
|   12 min 21 sec | 12 min 6 sec | 10 min 15 sec |
|                |                 |           10 min 9 sec    |

It seems even just 3 additi

[2020-11-07 08:39] dmitshur commented on #42425
I think this is related to #38699. This seems like a slightly different type of occurrence (one where godoc.org isn’t affected), but the root problem might be the same. I started working on a fix for it in [CL 240217](https://golang.org/cl/240217), although there’s a merge conflict to resolve by now.

[2020-11-07 08:44] jameshartig opened #42437 "x/crypto/acme: add ListCertAlternates"
[Let's Encrypt is going to stop returning the cross-signed chain by default starting January 11, 2021](https://community.letsencrypt.org/t/transition-to-isrgs-root-delayed-until-jan-11-2021/125516) and with that they expect to [break 33% of Android devices (and 1-5% of web traffic)](https://letsencrypt.org/2020/11/06/own-two-feet.html). If you want to continue getting the cross-signed root in your

[2020-11-07 08:50] #26636 closed

[2020-11-07 09:05] mvdan commented on #42435
The Go project doesn't use the issue tracker for questions. See https://golang.org/wiki/Questions.

[2020-11-07 09:05] #42435 closed

[2020-11-07 11:21] 4kills commented on #42433
I read post you provided and adjusted my repository to the conventions mentioned there (moving v2.x to a dir /v2) and now everything is working just fine.
Sorry for wasting your time. The jump from version v1.3.0 to v2.0.0 was exactly  when I renamed the repo, so I assumed that was the issue.

[2020-11-07 11:21] #42433 closed

[2020-11-07 11:24] jfcg opened #42438 "all: Binary release compression formats"
`.gz` and `.zip` formats are quite behind `.7z` in terms of compression ratio. Extracted linux and windows 1.15.4 binary releases are compressed by %30+ more (default commandline, on Manjaro, p7zip 16.02-6 package):
[code]
7z is widely used & available on all platforms and provides %3 better compression than `xz` with default parameters. I propose to switch to it for all archive formats.
Thanks..

[2020-11-07 12:16] sevki commented on #42335
@julieqiu sure. Will do, let me check Monday if we have your corp CLA signed :)

[2020-11-07 13:19] neelance commented on #42372
I think you're missing the differences between Go and languages with as simpler runtime, like Rust or C:

- Go has goroutines that get scheduled on one or more host threads
- The goroutines each have their own Go stack, so there is not only the WebAssembly stack, but also the Go stacks
- Go has a garbage collector

These features need proper orchestration. You can't "just call" a Go function from

[2020-11-07 13:34] millerresearch commented on #42303
The stub `netpoll` calls `notetsleep` to do an OS-level timed wait. `notetsleep` is being run by the m (aka thread, aka Plan 9 process, yes?) associated with g0 (the program's main goroutine, yes?). The Plan 9 implementation of `notetsleep` is `semasleep` which blocks on a timed semaphore in the OS. So isn't `g0.m` already the thread which is waiting on the timer?

Before calling `netpoll`, the co

[2020-11-07 13:35] neelance commented on #42372
In short: Go's runtime is not low level enough for this to be possible. We can not support multiple patterns. We have to pick a single pattern and then spend quite some effort to make even this single pattern possible.

[2020-11-07 14:27] ianlancetaylor commented on #42399
@mebaba Please don't ask questions on unrelated issues.  For questions in general, please use a forum, not the issue tracker.  See https://golang.org/wiki/Questions.  Thanks.

[2020-11-07 14:27] ianlancetaylor commented on #42297
Thanks for your work on this.

[2020-11-07 14:27] #42297 closed

[2020-11-07 14:44] ianlancetaylor commented on #42437
CC @FiloSottile @katiehockman

[2020-11-07 14:51] ianlancetaylor commented on #38692
I'm sorry, I don't have any useful pointers.  I'm not familiar with the details of shared libraries on macOS.

I want to clarify that this is not an intended use case.  The `-buildmode=c-shared` option is intended to build a Go shared library that is opened by a program written in C (or C++ or some other non-Go language).  Using `-buildmode=c-shared` is not intended for a Go library that is opened

[2020-11-07 14:59] advancedwebdeveloper commented on #42308
I have replaced the line - so now I am getting the following:

[Here](https://drive.google.com/file/d/1PoGFD0G73bQG9rlLkWYyeUlvKzCJH55Z/view?usp=sharing) is my compressed build folder.

Also mentioned https://github.com/golang/go/blob/39a5ee52b9b41b1e4f4cf821c78ef5b7be68d181/src/runtime/runtime2.go#L512 and https://github.com/golang/go/search?q=sigaltstack .
So there seams to be some support, for

[2020-11-07 15:09] martisch commented on #42438
I would suggest to not mix multiple proposals into a single issue but to create separate issues.
This allows to focus discussions on each issue and also aligns with the proposal process accepting proposals by labeling the whole issue.

While `7z` may be available in general I think it is not in base installations of e.g. MacOS and Windows so this would introduce an additional dependency to bootstr

[2020-11-07 15:27] #42399 closed

[2020-11-07 15:30] seankhliao commented on #42436
probably to do with https://golang.org/src/strconv/atof.go#L289 and the comment above:

[2020-11-07 18:49] advancedwebdeveloper opened #42440 "gollvm: supporting i386/i686 builds (Intel)"
I am creating this issue for a future patch (and others should be expected, for the same purpose), observable on/threw Gerrit.
It would be referenced (a bit) later.

This is about compiling & running 32bit userspace Go applications on (under?) 32bit CPU/hardware/OS kernel  (system-on-board).
Something for 32bit AMD's CPUs would be a good cause for a separate Github issue.

This **is not** covering

[2020-11-07 19:08] advancedwebdeveloper commented on #42388
@wyw900807 , there are some common files for both Clang and llvm-goc.
They define which CPU architectures are supported and how specific CPU features/instruction sets are related.
Some other files are responsible for the calling conventions, in LLVM.

As for now - you can do the following (this duplicates what Clang itself would do):

1. Create a C++ source code file named, say, llvm_cpu_features_

[2020-11-07 19:32] changkun commented on #42371
Interesting. I can't reproduce the issue anymore, and not sure how the pkg tag was lost from the 115 outputs.

Close and sorry...

[2020-11-07 19:32] #42371 closed

[2020-11-07 19:46] dwschulze opened #42441 "cmd/go: mod tidy doesn't look in GOPATH when converting a legacy GOPATH project"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.14
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
Ubuntu 19.10
amd64

</pre></details>

### What did you do?

Migrating legacy GOPATH code to use modul

[2020-11-07 20:27] dwschulze commented on #42441
The problem is that before you can run `go mod tidy` on the legacy project you have to add the module name to the import statements.  That needs to be included in that blog post.  Also the project used in the blog post has already been converted to modules so it doesn't illustrate anything.

[2020-11-07 21:31] jfcg opened #42442 "Binary releases distribution"
I propose to include Go binary releases also at github releases. Some enterprise firewalls block everything from dl.google.com.
Thanks..

[2020-11-07 22:32] zephyrtronium commented on #42421
I'm surprised there is any case in which an exported method is eliminated from a compiled binary. Reflection can reach it without ever naming it: https://play.golang.org/p/zCIdBYzv8zo. I think that's the reason the `(Bar)` version is eliminated but the `(*Bar)` version isn't. The non-pointer method is never used, but the pointer-shaped wrapper could be needed through an interface, especially by re

[2020-11-07 22:39] #34626 closed

[2020-11-07 22:41] rojer commented on #42421
@zephyrtronium unused method elimination is disabled if use of reflection is detected. the approach to dead code elimination is described [here](https://go.googlesource.com/go/+/refs/heads/master/src/cmd/link/internal/ld/deadcode.go#271).
projects that care about binary size have to avoid using reflection in that way (and we do).

[2020-11-07 22:59] advancedwebdeveloper commented on #42440
I am attaching the specification,  [System V Application Binary Interface](https://raw.githubusercontent.com/wiki/hjl-tools/x86-psABI/intel386-psABI-1.1.pdf)

[intel386-psABI-1.1.pdf](https://github.com/golang/go/files/5505593/intel386-psABI-1.1.pdf)

[2020-11-07 23:25] dmitshur commented on #42442
I think this is a duplicate of #15966.

[2020-11-07 23:25] #42442 closed

[2020-11-08 00:06] janoszen commented on #39397
Hey folks, any way to get  this moving again?

[2020-11-08 00:17] tv42 commented on #36634
@networkimprov I have no source code to give, I'd have to write it from scratch as much as everyone.

[2020-11-08 00:24] alhails commented on #42400
Rather than mess around with my setup, I set up an alpine vm (kernel 5.4.72-0-lts)

This seems to work fine with the same two sets of four tests as I ran above.  So maybe this is an indication that it's a problem with the older kernel?

PS I did notice that ```stat -f <file>``` on the cifs share returned UNKNOWN, rather than cifs as it does on my debian machine, but the drive was mounted in the sa

[2020-11-08 00:39] JohnStarich commented on #38692
@ianlancetaylor Thanks for the clarification 👍  I do find that position interesting, since I would expect a `dlopen`ed library to have the same behavior, regardless of which language it was written in. I understand that could be additional maintenance burden in the long run, so still a perfectly reasonable position.

Your doc on the different [buildmodes](https://golang.org/s/execmodes) was very h

[2020-11-08 01:27] dmitshur commented on #39397
@janoszen A problem here is that the `ssh` package doesn't have an explicit [owner](https://dev.golang.org/owners), so your efforts to fix this issue are currently bottlenecked on finding a reviewer for [CL 236517](https://golang.org/cl/236517). There are many open [issues](https://goissues.org/golang.org/x/crypto/ssh) and [CLs](https://gochanges.org/golang.org/x/crypto/ssh) for this package, and

[2020-11-08 03:17] advancedwebdeveloper commented on #42388
Github Actions give access to a relic Clang 9 - so I used it for an example.

Here is the workflow configuration file:

![Screenshot from 2020-11-08 05-11-12](https://user-images.githubusercontent.com/5404074/98456060-537b0100-2181-11eb-9eff-80b9eae32faf.png)

[2020-11-08 04:35] marjune163 opened #42443 "`os.Args` parsing with quotes is somehow incorrect on Windows platform"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.3 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\vm\Ap

[2020-11-08 04:57] Poor12 commented on #42414
It seems system error. I reinstalled the system and fixed it.

[2020-11-08 05:39] zainabb12345 commented on #24484
It's repeatable. happens every time. I tried running different problems (like a different question) but it still keeps happening

[2020-11-08 05:46] AlexRouSg commented on #42443
You need to write `\\` instead of `\` as the shell/terminal will interpret it specially.
e.g. `\n` will be translated to a newline character and `\"` would usually mean literal `"` insetad of quoting

[2020-11-08 06:01] marjune163 commented on #42443
Thanks a lot!

[2020-11-08 06:01] #42443 closed

[2020-11-08 06:49] wyw900807 commented on #42388
@advancedwebdeveloper  Thank you for your help, I will try it

[2020-11-08 06:52] pankaj-nayak commented on #24484
Hi ,
I am facing exactly same issue as zainabb12345 while solving problem on hackrRank problem.

[2020-11-08 06:57] janoszen commented on #39397
Hey @dmitshur thank you very much for your honesty.

I am using the SSH package heavily in my project [ContainerSSH](https://github.com/containerssh). I have built a number of improvements mostly in the validation department that would make sense upstream.

So my question is: **what can I do to help?** I'd like to see this library be maintained in the future and not be lost due to the lack of main

[2020-11-08 07:19] networkimprov commented on #42400
From https://man7.org/linux/man-pages/man2/copy_file_range.2.html

       The copy_file_range() system call first appeared in Linux 4.5, but
       glibc 2.27 provides a user-space emulation when it is not available.

       A major rework of the kernel implementation occurred in 5.3.  Areas
       of the API that weren't clearly defined were clarified and the API
       bounds are much more stric

[2020-11-08 08:17] marten-seemann opened #42444 "x/net: ReadBatch fails if conn passed to ipv4.New{Packet}Conn is not a net.{TCP/UDP}Conn"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.3 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/marten/Library/

[2020-11-08 08:27] marten-seemann commented on #42444
While one could argue that `ipv4.New{Packet}Conn` should take a concrete type (`net.TCPConn` / `net.UDPConn`) instead of an interface, there's a solution that doesn't require a breaking API change, while at the same time allowing for wrapped connections to be used: In that case `socket.NewConn()` would have to do an interface assertion instead of a type assertion.

This is easy to accomplish, sinc

[2020-11-08 08:36] youzeliang opened #42445 "test: a couple codegen files are not fmt'ed"
https://github.com/golang/go/blob/afe7c8d0b25f26f0abd749ca52c7e1e7dfdee8cb/test/codegen/bits.go#L347

I use "fmt" code , the suggest is that  return x & 0x0000ffffffff0000

[2020-11-08 08:46] ALTree commented on #42445
Thanks for the report; you are right: that file is not gofmted. I've sent a patch.

[2020-11-08 11:10] mvdan commented on #40728
@rsc @bcmills this is missing from the release notes still, right? It seems like a big change that should be there before beta1 is tagged.

[2020-11-08 11:20] iWdGo commented on #36822
One POSIX online reference is on [opengroup](https://pubs.opengroup.org/onlinepubs/9699919799/)
Searching for `inet_addr` returns the page pasted above.

[2020-11-08 11:26] mvdan opened #42446 "cmd/go: unclear what ImportMap in "list -json" means"
[code]

I've been writing Go tools and using Go modules for years, and I can't understand what this field means, or when it's used.

My initial suspicion was that it mattered for vendored dependencies, because a user reported a `go list -json` output containing:

[code]

However, I just created a simple module with vendored dependencies, and `go list -json -deps` does not show any `ImportMap`. I a

[2020-11-08 11:29] mvdan commented on #42446
Digging a bit further, the original change was in mid-2018 at https://go-review.googlesource.com/c/go/+/122878/, presumably to better support `foo.test` packages for https://github.com/golang/go/issues/25949. Unfortunately, the commit message doesn't really clarify much for me.

[2020-11-08 11:55] mvdan commented on #42446
Ah, it seems like ImportMap is used for vendored packages in the standard library, but not in the current module:

[code]

This seems to be what I was running into. It's still unclear to me why vendored packages only appear in ImportMap in this case, but not others.

[2020-11-08 12:20] #42445 closed

[2020-11-08 15:39] advancedwebdeveloper opened #42448 "gollvm: At most two relocations per offset are supported, on Ubuntu(18?) (Github Actions)"
I was investigating Microsoft's Github Actions.

[Here](https://github.com/advancedwebdeveloper/clang_test_cpu_features/blob/main/.github/workflows/llvm.yml) is my workflow config. scenario.
Check the version of the guest OS [here](https://github.com/actions/virtual-environments#available-environments).

Extracting one of the logs:

.

Here is the error log:

https://gist.github.com/advancedwebdev

[2020-11-08 15:41] advancedwebdeveloper commented on #42448
CC @hashtagchris @anthonysterling

[2020-11-08 15:51] myitcv opened #42449 "proxy.golang.org: slow to update with latest version information"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3ef8562c9c Thu Nov 5 02:48:05 2020 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBI

[2020-11-08 15:56] myitcv commented on #37781
Arrived here on the back of trying out module retractions

I would say _definitely_ should report transitive deps. After all, a module is marked as retracted for at least the following reasons:

(quoting https://github.com/golang/go/issues/24031#issuecomment-597263309)

I would suggest this is a fairly important feature to land "soon". Reason being, `gorelease` will then become the go-to tool for

[2020-11-08 16:17] barath1997 commented on #24484
iam too facing the same issue , i was not there in the last week , some bug in hacker rank i guess

[2020-11-08 17:16] myitcv commented on #42449
The main issue I see arising from the aforementioned discontinuity is that despite the proxy being "aware" of a later version, if it doesn't report that latest version via the versions endpoint, then module retraction will appear _not_ to work as expected, until the versions endpoint does update.

cc @jayconrod

[2020-11-08 17:21] myitcv commented on #42449
Indeed this is most evident when a later version issues a retraction that includes that later version (the scenario here is when you want to retract an accidental `v1.0.0`). Pulling that version through the proxy via `go get` does _not_ cause the `go: warning: $mod@$version is retracted` message to be printed. That message is only printed when the versions endpoint updates to include the latest ve

[2020-11-08 18:55] dwschulze opened #42450 "go get downloads all directories except the directory specified on bitbucket"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.14
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?
In my git repo (bitbucket.org) I have

[code]
The module dir

[2020-11-08 19:01] myitcv opened #42451 "cmd/go: get of @latest does not return latest version"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +3ef8562c9c Thu Nov 5 02:48:05 2020 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBI

[2020-11-08 19:45] hartwork opened #42452 ""go tool cover -func=cover.out" reports wrong percentage value on Windows?"
### What version of Go are you using (`go version`)?

<pre>
$ go version  # inside GitHub Actions CI
go version go1.15.4 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
  set GO111MODULE=
  set GOARCH=amd64
  set

[2020-11-08 20:32] antong commented on #42452
In wait.go you have:
[code]
Depending on how you set up the test and on timing, net.Dial() may succeed the first time and never hit the time.Sleep() line. Check out the html output and you'll see what happens.

I wouldn't worry too much about 100% test coverage. Depending on how you are using the function in question, I'd perhaps worry a bit more about the unstoppable go routine it spawns. For exa

[2020-11-08 20:58] hartwork commented on #42452
Hi @antong, thanks for your reply!
The output from `go tool cover -mode=set internal/network/wait.go` shows that the line with `time.Sleep` was already hit on Windows and the tool's output is identical across platforms. :thinking:
On the other hand, I just added another test spinning the loop for 3 seconds and that brought coverage up to 100% on Windows.  These two findings contract themselves, an

[2020-11-08 21:40] antong commented on #42452
I think `go tool cover -mode=set` just rewrites the source code to make it possible to produce the cover profile. `go test -cover` uses that internally to produce the actual coverage report. So the source code would be identical between runs and between different platforms, but if there are nondeterministic things like the timing in your test, then the coverage report itself can be different betwe

[2020-11-08 22:01] mpstewart commented on #101
Any progress on this? Or workarounds?

[2020-11-08 22:03] evanphx commented on #42289
It's hard to get the race detection to hit this exact case because it fires on pretty much all parts of bufio#Read.

[2020-11-08 22:03] davecheney commented on #24484
Thank you for commenting. I’m sorry you are also experiencing issues but saying “me too” is not as helpful as giving _complete_ information on what you tried to do — the program you wrote, what happened when you ran it, and the details of the machine you ran on, what operating system, what version of go, etc.

With this information it should be possible to locate the cause of the problem. Please c

[2020-11-08 22:05] davecheney commented on #42289
@evanphx could you explain what you mean? Are you saying the race detector fires on all uses of bufio.Read ?

[2020-11-08 22:13] evanphx commented on #42289
@davecheney I'm saying that if you spin up calls to bufio#Read from many goroutines, the race detector fires all over it, every read/write of b.r and b.w. For the very specific case of this bug, I need it to fire on `b.w += n` but it's firing in same many other places it hasn't fired on `b.w += n`. Let me run it for like a minute or something, the case of `b.w += n` is on the refill case which is

[2020-11-08 22:15] davecheney commented on #42289
That is expected, that type is not safe for multiple concurrent access.

[2020-11-08 22:19] evanphx commented on #42289
Yup! Very expected. The situation this bug shows up on is this line: https://github.com/golang/go/blob/master/src/bufio/bufio.go#L234 When 2 goroutines get to line 227, stall, and then both end up getting to 234 and incrementing `b.w`. As requested by @martisch I was just trying to validate that the race detector would catch up the race on coming from line 234.

[2020-11-08 22:26] evanphx commented on #42289
I was able to reproduce the exact crash. The race detector did not report it though, I think because it tracks a read from a write by another goroutine, but this particular crash can be induced by goroutine 1 doing `b.w += n`, then goroutine 2 doing `b.w += n`, then goroutine 2 trying to to do a Read and crashing. This specific set of events would not fire the race detector but it would cause a cr

[2020-11-08 22:30] rsc commented on #41330
I'm going to link to this issue in a wiki page and expect people might be tempted to add comments here.
But since this issue is closed, it's not the right place for further discussion. So I've locked it.

[2020-11-08 22:45] hartwork commented on #42452
You're right, here is proof based on new CI output:

[code]

So I was using the tool wrong. Thanks for your help :pray: , I'll close the issues as invalid then.

[2020-11-08 22:45] #42452 closed

[2020-11-08 23:07] ericwj commented on #40180
I closed #40095 on grounds that there is agreement that `EvalSymlinks` should not be fixed in any way, but rather replaced and even broken further to fix the issue that it returns local paths from remote machines.

[2020-11-08 23:35] anoxic commented on #101
I think it's safe to say the maintainers don't care about this one.

[2020-11-09 02:09] dwschulze commented on #42450
Following the third paragraph of [the docs](https://golang.org/ref/mod#vcs-version) I created the tag

`git tag integration-common/util/v0.0.1`

and verified that it got pushed to bitbucket.  When I `go get` the tag it shows

go get bitbucket.org/orgname/reponame@integration-common/util/v0.0.1
go: bitbucket.org/orgname/reponame/integration-common/util/v0.0.1 => v0.0.1

but nothing gets downloaded.

[2020-11-09 03:58] trongbq commented on #42346
@julieqiu I can help on this one.

[2020-11-09 04:02] julieqiu commented on #42346
Thanks, @trongbq!

[2020-11-09 06:34] erifan commented on #42385
Without this change, there's also so much variation because many benchmarks themselves have relatively large fluctuations, especially benchmarks in sync package.

The test machine has 4-way associative L1 cache. There are only about 5 cache misses related to BenchmarkValidStringTenASCIIChars, the increased cache-miss mainly occurs in runtime and kernel related functions, such as __wake_up_common_l

[2020-11-09 06:45] Delta456 opened #42453 "x/pkgsite: cannot update package to v2"
### What is the URL of the page with the issue?

 https://pkg.go.dev/github.com/Delta456/box-cli-maker@v2.0.0

### What is your user agent?

 Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0

### Screenshot

![image](https://user-images.githubusercontent.com/28479139/98508183-0f712480-2285-11eb-8d43-e2f4d4327396.png)

### What did you do?

I tried sending a request to

[2020-11-09 07:24] jfcg commented on #15966
Some corporate firewalls block anything from dl.google.com which currently hosts binary releases.

[2020-11-09 07:29] martisch commented on #42289
It is ok if the race detector fires on some part of the code. It doesn't need to be the specific line. My thinking was that if the race detector is able to detect the code (not specific) line isn't race free then its an easy way to check to take action and make the program race free before filing a bug for the Reader code.

[2020-11-09 08:05] haselkern commented on #33503
I have extended the compiler to include DWARF symbols in the Wasm-File, and got Chrome to recognize that there are debug symbols available. But it cannot yet load the underlying source code.
![grafik](https://user-images.githubusercontent.com/7420740/98512083-fc029100-2265-11eb-82c4-8fc6a509a4b1.png)

`wasm-validate` from the [wabt project](https://github.com/WebAssembly/wabt) project passes and t

[2020-11-09 08:09] Delta456 commented on #42453
Seems to be working now https://pkg.go.dev/github.com/Delta456/box-cli-maker/v2

[2020-11-09 08:09] #42453 closed

[2020-11-09 08:25] Delta456 opened #42454 "x/pkgsite: readme badges broken"
### What is the URL of the page with the issue?
 https://pkg.go.dev/github.com/Delta456/box-cli-maker/v2

### What is your user agent?

 Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0

### Screenshot

![image](https://user-images.githubusercontent.com/28479139/98516372-6fba9300-2292-11eb-9a52-91d569beb25e.png)
![image](https://user-images.githubusercontent.com/28479

[2020-11-09 08:31] mvdan commented on #42450
Have you tried asking this as a question first? https://golang.org/wiki/Questions

It's likely this has something to do with the way you set up the module(s). You could also try using the latest version of Go.

[2020-11-09 08:37] erifan commented on #42388
Hi, @thanm I thought gollvm already supports cross compiling, but it doesn't seem to be. Because we did not generate standard libraries for multiple architectures, the corresponding libraries can't be found during cross compiling. Updating ArchCpusAttrs.h is easy, but adding support for cross compiling requires much more effort. It seems that gccgo does not currently support cross compiling ?
@wyw

[2020-11-09 09:06] wyw900807 commented on #42388
OK, Thank you!

[2020-11-09 09:27] antong commented on #42452
@hartwork , glad I could help and happy that you got it working!

[2020-11-09 10:01] franklwel1990 opened #42455 "Memory leak, the memory occupied by waiting several hours will not be returned to the operating system"
### What version of Go are you using (`go version`)?

<pre>
go version go1.15.3 linux/amd64

</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOENV="/root/.config/go/

[2020-11-09 10:11] fanlv commented on #42455
go 1.12 版本以后申请内存是用的MADV_FREE，只有操作系统内存不够的时候（使用docker的话可能会导致这个判断不准确），才会回收。具体可以自己google下。 你可以设置 GODEBUG=madvdontneed=1 取消这个优化，在测试下。

[2020-11-09 10:20] rogpeppe opened #42456 "x/pkgsite: going back a page loses context"
### What is the URL of the page with the issue?

I happened to be looking at https://beta.pkg.go.dev/github.com/autom8ter/machine, but it could be any page with a long description.

### What is your user agent?

Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.75 Safari/537.36

### What did you do?

I had expanded the (long) description and was half way throu

[2020-11-09 10:26] tklauser commented on #42400
From what @alhails describes in https://github.com/golang/go/issues/42400#issuecomment-723077699 the failure occurs only if the file is copied from CIFS to CIFS. Thus, it looks like we would in the worst case need to check the file system for the source and the destination file, i.e. two `statfs` syscalls per `copy_file_range` syscalls and possibly extending the list of broken cases on other files

[2020-11-09 12:10] martisch commented on #42455
See #42330. Linux also needs to request the memory back e.g. under memory pressure before stats change.

[2020-11-09 12:11] mvdan commented on #42455
What @martisch said. Also, see https://golang.org/wiki/Questions.

[2020-11-09 12:11] #42455 closed

[2020-11-09 12:12] thanm commented on #42448
The "At most two relocations per offset are supported" error is unrelated.

Looking at your build log, you are trying to build and run gollvm with "make"-- this is not supported. Please use ninja instead. Thanks.

[2020-11-09 12:12] #42448 closed

[2020-11-09 12:18] thanm commented on #42388
@erifan yes, there is almost certainly a lot of work to do to set up Gollvm as a cross compiler with respect to the libraries. The first step is getting the compiler to work properly however.

Gccgo does support cross compilation, but not using the same model as vlang-- with gccgo you need a separate installation and compiler binary per target (as opposed to the clang model in which a single compi

[2020-11-09 12:23] bcmills commented on #42451
Is this issue consistently reproducible, or did it resolve?

If it is consistent, perhaps try rebuilding `go` at [CL 263267](https://golang.org/cl/263267) (`06538fa`) or later and see if it's fixed?

[2020-11-09 12:28] seankhliao commented on #42454
you have a newline between your package documentation and the package declaration, `go doc` doesn't recognize it either

[2020-11-09 12:28] thanm commented on #33503
Which dwarf dumper are you using? Is this the one based on  https://www.prevanders.net/dwarf.html ?

I would try building and running llvm-dwarfdump instead, that dumper definitely has support for wasm.

[2020-11-09 12:34] myitcv commented on #42451
It definitely seems somewhat random. I will happily try a later version of `tip` and report back. Although doesn't the sequence above suggest that a later call to the `/list` endpoint (i.e. the one as part of `go get gopher.live/ue6d1acb0d101/proverb@latest`)  returned a different list of versions to the previous call (i.e. the `go list -m -versions gopher.live/ue6d1acb0d101/proverb`)? To be clear

[2020-11-09 12:51] tbpg commented on #41345
Thank you!

[2020-11-09 12:56] slinkydeveloper commented on #42372
I see your point, makes sense to me.

I think I accidentally diverted the discussion on the wrong topic: I wonder, Is it possible to start with supporting the use case 2 I proposed (aka call export -> run in its own goroutine -> run go scheduler until stalled) assuming just 1 thread? I think it's reasonable to implement with existing tools, shouldn't require much changes to the existing Wasm golan

[2020-11-09 13:06] Delta456 commented on #42454
There's one after the package declaration as for newline at the end of the file but I can see the first issue there.

[2020-11-09 13:09] franklwel1990 commented on #42330
MADV_FREE会导致很多问题的存在， 一台主机往往不可能只放一个go应用程序跑，还会跑其它很多应用。
当我执行了一次go请示并且申请了很大块系统内存占用着一直不释放归还操作系统，简直不可思议，不仅导致其它应用程序无法运行和报错。
使用这种MADV_FREE模式每次都是内存被消耗完go进程被killed,完全没有释放的可能和降低的机制。
系统指标无法评测

[2020-11-09 13:13] #42035 closed

[2020-11-09 13:41] fanlv commented on #42330
你可以 GODEBUG=madvdontneed=1强制使用_MADV_DONTNEED就行了。

[2020-11-09 13:48] aclements commented on #42330
@fraenkel , I'm reading an automatic translation of your message, so forgive me if I misunderstand anything. Go has used MADV_FREE since Go 1.12. It should not cause other applications to fail, but you're right that it can make the system hard to measure. Go 1.16 will use MADV_DONTNEED.

[2020-11-09 13:57] SamWhited opened #42457 "access: requesting approvers access for encoding/xml"
Hi all,

I would like access to Trust+1, specifically to help move things along in `encoding/xml`. I have had several changes pending since the proposals were accepted in 2017/2018, and recently had an actual bug fix outstanding for over a year. Though of course I couldn't merge my own changes, having someone else who can at least Trust+1 them would reduce the burden on the Go team and ensure ther

[2020-11-09 14:22] empijei opened #42458 "x/net/html: Parsed HTML cannot be rendered"
This bug was found by fuzzing. See master issue #27848

### What version of Go are you using (`go version`)?
1.15

### Does this issue reproduce with the latest release?
Yes

### What did you do?
[Playground](https://play.golang.org/p/DI9kx_Ifx-g)

Code:
[code]

### What did you expect to see?
No panic

### What did you see instead?
[code]

[2020-11-09 14:39] bcmills commented on #42451
Maybe, although it could also be a bug somewhere in the logic that prunes retracted versions, or something in `go get` involving existing dependencies.

[2020-11-09 14:57] bcmills commented on #39729
This is likely fixed by [CL 258220](https://golang.org/cl/258220) and [CL 266018](https://golang.org/cl/266018).

@rajveermalviya, could you try a `go` command built from head (either [build from source](https://golang.org/doc/install/source#head) or use [`golang.org/dl/gotip`](https://pkg.go.dev/golang.org/dl/gotip)), and let us know whether this is fixed?

[2020-11-09 15:01] bcmills commented on #34256
Seems to be fixed as of Go 1.16. (I'm not sure when exactly, but there have been a lot of fixes in the module loader this cycle.)

[code]

[2020-11-09 15:01] #34256 closed

[2020-11-09 15:03] hyangah commented on #42449
@myitcv how much is the delay ("some time") you observed?

[2020-11-09 15:07] FiloSottile opened #42459 "cmd/link: external linking does not link dynamic libraries without cgo"
https://golang.org/cl/232397 removes the cgo implementation from crypto/x509, which was preserved just for test purposes.

In doing so it seems to have broken external linking.

[code]

https://storage.googleapis.com/go-build-log/14984eec/darwin-amd64-10_14_b0e9ceb1.log

I suppose the build was relying on the `#cgo LDFLAGS: -framework CoreFoundation -framework Security` line from the cgo file to b

[2020-11-09 15:10] bcmills commented on #42446
`ImportMap` used to be more significant: in `GOPATH` mode with per-package `vendor` directories, it reported the mapping of import paths to `vendor` trees.

In module mode it is indeed less useful, because we now have only one copy of each module dependency (instead of one per `vendor` subtree). However, it will probably become a bit more meaningful again once we get replacements straightened out

[2020-11-09 15:12] Julio-Guerra opened #42460 "proposal: database/sql: define a SQL driver unwrapper interface and helper function"
This proposal is motivated by the common need for a standard interface defining a standard way to unwrap SQL drivers that may have been wrapped by SQL instrumentation packages.

# Problem

Such SQL driver wrapper types hide every other interface the wrapped type may implement. For example, `database/sql/driver` defines many optional interfaces that would be hidden by the following wrapper type def

[2020-11-09 15:16] bcmills commented on #42450
@dwschulze, the argument to `go get` is in general a module path and version, not a repo and tag.

The command you are probably looking for here is
[code]
with the desired commit tagged `integration-common/util/v0.0.1` (per https://golang.org/ref/mod#vcs-version).

[2020-11-09 15:18] #42298 closed

[2020-11-09 15:18] bcmills commented on #42450
That said, in general we recommend only one module per repo. (Is there a particular reason you need to have the `util` package in a separate module?)

[2020-11-09 15:22] mvdan commented on #42446
Thanks; at least this confirms that my being confused at the docs is somewhat justified :) I'm happy to have this issue in the backlog until those two issues are fixed. Once they are, perhaps the docs can be clarified with an example or two.

[2020-11-09 15:23] rajveermalviya commented on #39729
yep can confirm it's fixed, tested with `gotip`

[code]

[2020-11-09 15:24] bcmills commented on #33626
[2020-11-07T22:38:01-afe7c8d/linux-386-longtest](https://build.golang.org/log/bd5f578c699199113b34f52d19c08c19842f1a05)
[2020-10-28T12:41:19-cf6cfba/linux-amd64-longtest](https://build.golang.org/log/695b0892938f4f0e6a46adfe6c709d07ab0e5589)
[2020-10-20T20:13:16-5e9582e/linux-amd64-longtest](https://build.golang.org/log/6dab8c377f6f3c034b01cca0e0000eab295d3dd6)
[2020-08-18T17:08:05-20b4987/linux-a

[2020-11-09 15:25] bcmills commented on #33626
CC @prattmic

[2020-11-09 15:26] bcmills commented on #37910
[2020-11-07T22:38:01-afe7c8d/darwin-amd64-10_15](https://build.golang.org/log/c039e2b4a67d3fac36f75dd0545dff4a794f1307)
[2020-11-06T23:59:04-f7ef5ca/darwin-amd64-race](https://build.golang.org/log/38ecb49fa10e237e61065ef45a76d62f1b6bdd9a)
[2020-11-04T21:26:23-5ed81a3/darwin-amd64-race](https://build.golang.org/log/752aa460a1ca7106a719032e06f4fdbcc587bcaa)
[2020-10-28T17:54:13-fc116b6/darwin-amd64-

[2020-11-09 15:26] dmitshur commented on #38843
@FiloSottile Now that [CL 266677](https://golang.org/cl/266677) is submitted, is there more to do before this can be moved to the Go 1.17 milestone?

[2020-11-09 15:27] FiloSottile commented on #38843
I think we should do a late-cycle update too. They are very low-risk, and it's good to be as in sync as possible.

[2020-11-09 15:28] dmitshur commented on #38843
Sounds good. Please apply the okay-after-beta1 label if the late-cycle update doesn't need to block the release of Go 1.16 Beta 1.

[2020-11-09 15:29] bcmills opened #42461 "runtime: lock ordering problem between pollDesc and spanSetSpine"
[2020-11-06T23:59:04-f7ef5ca/linux-amd64-staticlockranking](https://build.golang.org/log/43d8272ea7ad83f7a27ea024e808efe9bbb192aa)
[2020-10-29T13:49:26-96bd0b1/linux-amd64-staticlockranking](https://build.golang.org/log/b18fcf83d8094cefd7acb8603021ff5e3dfcaad7)

[code]

CC @danscales @mknyszek

[2020-11-09 15:33] bcmills opened #42462 "syscall: TestSetuidEtc failures on linux-ppc64-buildlet"
[code]

[2020-11-06T19:42:05-362d25f/linux-ppc64-buildlet](https://build.golang.org/log/d1a25867fa5becf0dc4c16014c55a912a05d3321)
[2020-10-30T00:03:40-01efc9a/linux-ppc64-buildlet](https://build.golang.org/log/48e2dd2e71a9f36e54c4a982a05871ba0a72fefa)
[2020-10-29T19:03:09-f2c0c2b/linux-ppc64-buildlet](https://build.golang.org/log/41779b69f632f1827ee99d24e11ca68cd9c74d7a)
[2020-10-23T23:01:52-64dc2

[2020-11-09 15:34] bcmills commented on #42462
Marking as release-blocker at least until we determine whether this is due to an API change in Go 1.16 (per https://github.com/golang/go/issues/42178#issuecomment-716511284).

[2020-11-09 15:36] myitcv commented on #42449
I would say anywhere between 15-40 seconds. But as you can see from the following log, it takes some time for that to become a consistent answer, and in the intervening time the answer can "revert" to the previous state. And this is, I think, the behaviour I have observed in #42451.

The scenario leading up to the following log is that `v0.1.0`, `v0.2.0` and `v0.3.0` have been published (`v0.3.0`

[2020-11-09 15:37] bcmills commented on #38921
[2020-11-05T22:14:40-8e5778e/linux-riscv64-jsing](https://build.golang.org/log/07dcc89962c74ec9bf95854d3c5e6c979874f836) — `signal: I/O possible`
[2020-10-12T15:38:05-2e7706d/darwin-amd64-race](https://build.golang.org/log/4ad7123e05e0357bec85e02d39108f8db8909fb8) — `Program failed to return on time and has to be killed`
[2020-08-18T08:47:48-4149493/solaris-amd64-oraclerel](https://build.golang.or

[2020-11-09 15:38] myitcv commented on #42451
I've just commented over at https://github.com/golang/go/issues/42449#issuecomment-724089992 with some further context. I suspect these issues might end up being one and the same cause?

[2020-11-09 15:39] bcmills commented on #41561
[2020-11-09T14:17:30-f858c22/solaris-amd64-oraclerel](https://build.golang.org/log/e13aef33a097a09c9b282c60f62a6134ffdf2da3)
[2020-11-03T01:27:45-cc0930c/darwin-amd64-nocgo](https://build.golang.org/log/019342c4b6c6ed79dd4fe9dbb4e7d6b6e6f266b0)
[2020-11-03T01:27:45-cc0930c/solaris-amd64-oraclerel](https://build.golang.org/log/c37650b2abce9fc4815c8d6e23e13b84c16f4afb)
[2020-11-02T00:46:44-e463c28/l

[2020-11-09 15:39] bcmills commented on #41561
This does not appear to be a `cmd/coordinator` issue, but _does_ appear to be a regression in Go 1.16, so marking as release-blocker until we better understand the cause.

[2020-11-09 15:40] bcmills commented on #41561
(CC @ianlancetaylor @cherrymui for signaly symptoms)

[2020-11-09 15:41] bcmills commented on #37331
[2020-11-09T14:41:38-feccfb8/aix-ppc64](https://build.golang.org/log/fa1b67ec5c2bd9354fab63d85d01ca52162324b9)
[2020-10-06T20:30:36-04c7e32/solaris-amd64-oraclerel](https://build.golang.org/log/7d443b2e84dc7aa221df1394571c9ce22657bb2a)
[2020-09-23T07:51:17-150bd4f/solaris-amd64-oraclerel](https://build.golang.org/log/569ad3f25ba063160f1dbce0c2f359f200f06f0c)
[2020-09-16T17:36:58-10dfb1d/solaris-am

[2020-11-09 15:44] bcmills opened #42463 "os/exec: TestExtraFiles failures on illumos-amd64 builder"
[code]

[2020-11-07T14:23:20-bb9a96d/illumos-amd64](https://build.golang.org/log/8cb466fcb8933fc787c2add9d14857a3fbecdb99)
[2020-11-05T23:21:33-ecc3f51/illumos-amd64](https://build.golang.org/log/7b04b588bc35ce7acbbd4067fd243bcdd51a28a5)
[2020-11-03T23:05:51-e1b305a/illumos-amd64](https://build.golang.org/log/479b90c8122ef554b65195a78486e5112ca7d014)
[2020-10-29T22:44:49-f43e012/illumos-amd64](htt

[2020-11-09 15:47] #41730 closed

[2020-11-09 15:50] bcmills commented on #39729
Great, thanks for confirming!

[2020-11-09 15:50] #39729 closed

[2020-11-09 16:02] dwschulze commented on #42450
I've tried the command

`go get bitbucket.org/orgname/reponame/integration-common/util@v0.0.1`

with the tag `integration-common/util/v0.0.1`.

One module per repo could lead to proliferation of repos, which we could probably handle.  But what do groups that put everything into one repo do with modules?  (I've heard Google has one huge repo for all of their code which I find hard to believe.)

[2020-11-09 16:05] bcmills commented on #42450
In general it is fine to have all of your packages in one big module in one big repo.

(IMO the only really compelling use-case for multi-module repos is to be able to tag independent releases of packages within that repo. But that seems like a rare use-case, and often isn't worth the overhead of maintaining multiple modules.)

[2020-11-09 16:05] AndrewGMorgan commented on #42462
Please assign this bug report to me.

[2020-11-09 16:10] #42401 closed

[2020-11-09 16:20] bcmills commented on #18290
[2020-11-09T15:46:56-979e137/dragonfly-amd64](https://build.golang.org/log/ce45aaa896e96f5cb4846c4ebbb0a3b3d304b585)

[2020-11-09 16:26] laboger commented on #42462
I noticed this on the dashboard. It seems like there is some kind of timing issue in reading the /proc/<pid>/status file within one process. I briefly tried to reproduce it and was not able to but didn't try too hard. Both threads are trying to read the same file. Odd that it only happens on ppc64 and not ppc64le.

[2020-11-09 16:27] AndrewGMorgan commented on #42462
Reviewing the failure logs, these three all share the same failure characteristics (root cause currently unknown)

- [2020-11-06T19:42:05-362d25f/linux-ppc64-buildlet](https://build.golang.org/log/d1a25867fa5becf0dc4c16014c55a912a05d3321)
- [2020-10-30T00:03:40-01efc9a/linux-ppc64-buildlet](https://build.golang.org/log/48e2dd2e71a9f36e54c4a982a05871ba0a72fefa)
- [2020-10-29T19:03:09-f2c0c2b/linux-

[2020-11-09 16:36] 4a6f656c commented on #35712
@dmitshur - the script changes have landed and the images built for 386/amd64 work correctly locally. Please let me know if you hit any issues getting these running on GCE.

[2020-11-09 16:40] 4a6f656c opened #42464 "runtime: TestCrashDumpsAllThreads fails on openbsd/mips64"
The `TestCrashDumpsAllThreads` test fails consistently on openbsd/mips64:

[code]

I plan on disabling this test so we can resolve the remaining issues for this port - this issue is to track investigation of the cause and eventual re-enabling of the test.

[2020-11-09 16:42] cherrymui commented on #42459
Thanks for reporting. I can reproduce on the current tip with `$ CGO_ENABLED=0 go test -c -ldflags=-linkmode=external crypto/x509`.

I agree it is related to the LDFLAGS. One way is that you could add
[code]
to one of the non-cgo files (e.g. crypto/x509/internal/macos/corefoundation.go). (You have to do one flag a line, sorry.)

cc @ianlancetaylor about using cgo_ldflag in non-cgo-generated files.

[2020-11-09 16:47] dmitshur commented on #15966
CC @golang/release.

[2020-11-09 16:54] hyangah commented on #42449
The list query response from proxy.golang.org uses ~1min TTL for HTTP caching purpose (+ a small delay to reflect the change in our distributed database). I thought this HTTP caching effect was discussed previously.

cc @katiehockman @heschik

[2020-11-09 16:59] tonimelisma opened #42465 "runtime: error on exit of program on darwin fatal error: exitsyscall: syscall frame is no longer valid"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

Yeah, 1.15.4 is the latest.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="

[2020-11-09 17:01] heschik commented on #42449
From proxy.golang.org:

[2020-11-09 17:04] myitcv commented on #42449
Thanks for reconfirming.

Yes indeed it has been, and is clearly documented on the proxy.golang.org website.

The confusing aspect of this issue and #42451 (to me at least) has been the inconsistent results during that ~1 minute+ that follows a `go get`. I had (incorrectly) assumed that results after the first "updated" response would be consistent.

From a documentation perspective, should I ther

[2020-11-09 17:05] myitcv commented on #42451
Closing this in favour of #42449, because it appears to be an artefact of proxy caching (and my incorrect assumption).

[2020-11-09 17:05] #42451 closed

[2020-11-09 17:25] #37172 closed

[2020-11-09 17:26] #41299 closed

[2020-11-09 17:44] bcmills opened #42466 "cmd/go: add release note for defaulting to -mod=readonly"
As noted in https://github.com/golang/go/issues/40728#issuecomment-723561987, the change to default to `-mod=readonly` for Go 1.16 has a substantial impact on user workflows, so it should have a release note before the beta.

(The main issue is tagged as a proposal, so rather than reopening that issue and disrupting the proposal automation, I'm filing a separate doc issue.)

CC @jayconrod @matloob

[2020-11-09 17:44] julieqiu commented on #42454
This might be related to https://github.com/golang/go/issues/39297

[2020-11-09 17:47] AndrewGMorgan commented on #42462
Looking for patterns, the three failures are listed below. The Commonality visible in the first and third log appears to be that, as Lynn points out, the listed thread id is common to the failing test case.

I'm struck by how close together the three listed thread IDs are: 22053, 21921 and 21923. Is this to be expected? For example, is the build run in a container launched just to run the build te

[2020-11-09 17:49] bcmills commented on #26472
As of [CL 267883](https://golang.org/cl/267883), we're back down to ~25s end-to-end wall time for the test on my workstation.

[code]

I'm going to close this issue as “resolved enough”, but we can of course keep improving the tests afterward.

[2020-11-09 17:49] #26472 closed

[2020-11-09 17:53] bcmills commented on #37338
https://storage.googleapis.com/go-build-log/e82710b8/linux-amd64_410dfb4f.log (a TryBot)

[2020-11-09 18:02] FiloSottile commented on #42459
Thank you for the workaround, the CL passed with that.

I assume this should be just temporary and we'll fix it in Go 1.17, or is
this a fundamental issue of the linking strategy?

[2020-11-09 18:09] cherrymui commented on #42459
I don't know there is anyway for the linker to add those flags automatically in general. (Another possibility is to pass them in the command line, as `-extldflags`, but I assume this is not what you wanted.)

From `cgo_import_dynamic` pragmas the linker knows the libraries' paths, but it doesn't know the framework. In internal linking mode we just emit `LC_LOAD_DYLIB` with the libraries directly.

[2020-11-09 18:11] #42350 closed

[2020-11-09 18:18] heschik commented on #41730
GOVCS wasn't added to `go help environment` AFAICT?

[2020-11-09 18:18] muirdm commented on #42350
@heschik what did you think about:

I think that would further cut noise down but still make interface callers discoverable, albeit requiring a second find-references call.

[2020-11-09 18:21] #42171 closed

[2020-11-09 18:22] jayconrod commented on #41730
Looks like it was not. `go help private` explains it, but `go help environment` should point to that.

We should add a release note, too.

[2020-11-09 18:24] DemiMarie opened #42467 "unsafe: document valid uses of `unsafe.Pointer` for non-Go memory"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.10 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

N/A

### What operating system and processor architecture are you using (`go env`)?

N/A

### What did you do?

Read the documentation for `unsafe.Pointer`

### What did you expect to see?

A documented method for accessing memory

[2020-11-09 18:29] heschik commented on #42350
Oh, sorry.

I requested this feature precisely because the second call is a huge irritant for me. Possibly it's because gopls is a little bit more interface-heavy than the average Go program, but keeping track of two sets of find references results is hard, and call hierarchy is even worse.

I think the real problem here is that we can't categorize results, and in the absence of that there's proba

[2020-11-09 18:33] #40604 closed

[2020-11-09 18:44] zapling opened #42468 "x/tools/gopls: new buffer does not receive diagnostics when opened"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.3 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/andreas/.cache/go-bu

[2020-11-09 18:54] DemiMarie opened #42469 "proposal: cmd/cgo: unsafe FFI calls"
The Glasgow Haskell Compiler (GHC) differentiates between “safe” and “unsafe” FFI calls.  “safe” FFI calls are allowed to block and call back into Haskell, but have a substantial overhead.  “unsafe” FFI calls are not allowed to block, but are as fast as a C function call.

While Go FFI will always be slower due to stack switching, this seems to account for only a small amount of the overhead that

[2020-11-09 18:55] pjweinb commented on #42198
there are other cases where the details don't go away.

[2020-11-09 19:06] randall77 commented on #42467
I'm not sure exactly what you are asking for here. What does "accessing memory" mean here? Do you mean allocating, or just reading & writing?

Reading and writing can be done on non-Go memory just as you would on Go heap memory. Cast the `unsafe.Pointer` to a concrete pointer type and go at it. (With the large caveat that the non-Go memory cannot contain pointers into the Go heap.)

For allocating

[2020-11-09 19:12] DemiMarie commented on #42467
The problem is that the non-Go memory might contain invalid pointers, which proper C callers will never dereference.

[2020-11-09 19:43] ianlancetaylor commented on #42469
This will produce programs that usually work but sometimes hang for inexplicable reasons.  I don't think we've come close to the theoretical limit on speeding up cgo calls without removing safety.

Can you point to some documentation for GHC unsafe calls?  Thanks.

[2020-11-09 19:47] dolmen commented on #34875
The CL removes the [`ToText`](https://golang.org/pkg/go/doc/#ToText) and [`ToHTML`](https://golang.org/pkg/go/doc/#ToHTML) functions from the `go/doc` API.

[2020-11-09 19:49] randall77 commented on #42467
I see. Yes, we should probably say something about pointers-which-are-not-actually-pointers.
The short answer is use `uintptr` for those. You can't actually dereference them in Go, so there's no benefit to using `unsafe.Pointer`.

Note that `C.malloc` never returns an invalid pointer.

[2020-11-09 19:51] ianlancetaylor commented on #42467
Note that there is only a potential problem when a value is copied into Go memory one way or another.  A pointer value at rest in non-Go memory is never a problem.

[2020-11-09 20:05] ianlancetaylor commented on #42459
If we're going to use `//go:cgo_ldflag` in crypto/x509, we should update the comment in cmd/compile/internal/gc, which only mentions the runtime and syscall packages.

[2020-11-09 20:12] #40950 closed

[2020-11-09 20:30] jayconrod commented on #42449
@heschik told me that cache coherency is not guaranteed. I think you're seeing different requests hitting different instances.

The `go` command itself caches those requests in memory, so you won't see inconsistent results within a single invocation.

[2020-11-09 21:04] randall77 commented on #7181
CL was reverted.

[2020-11-09 21:04] rustyx opened #42470 "crypto GCM AEAD can be created with a custom nonce OR tag size, but not both"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15 windows/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes, any version, any OS, any CPU.

### What did you do?

I need to do AES GCM with both a custom nonce _and_ a custom tag size - 16 and 12 bytes, respectively (the standard is 12 and 16).

The crypto API offers only [NewGCMWithNon

[2020-11-09 21:04] randall77 commented on #24628
CL was reverted.

[2020-11-09 21:11] myitcv commented on #42449
Thanks everyone for your responses. I'm going to close this issue on the basis things are working as expected and documented. My confusion was indeed an incorrect expectation of cache coherency.

[2020-11-09 21:11] #42449 closed

[2020-11-09 21:23] prattmic commented on #33626
[This test](https://cs.opensource.google/go/go/+/master:src/runtime/crash_unix_test.go;l=201;drc=cfea52b04c18761f9cc3168eff00690155aa6d17) is racy. The child process prints "x", then blocks on a lock. The parent waits for "x", sends SIGQUIT, and then expects the resulting stack trace to reflect the blocked state. However, the signal may be delivered before the child gets to blocking, resulting in

[2020-11-09 21:53] cherrymui commented on #42465
From the stack trace it looks like when Go calls `exit`, it calls back into Go? Is your program register anything that to be called at libc `exit`, and that thing calls into Go?

[2020-11-09 21:55] tonimelisma commented on #42465
Does runtime.setfinalizer() count? Likely not? I've got a couple of deferred functions in main() but they're both wrapped before that as well?

[2020-11-09 21:57] cherrymui commented on #42465
No. I mean, something like C `atexit`, maybe in the C library you referenced?

[2020-11-09 22:12] dmitshur commented on #42221
I don't think there's anything more to do here, so closing.

[2020-11-09 22:12] #42221 closed

[2020-11-09 22:14] dmitshur commented on #42285
This continues to be steady and not getting worse or in need for active work. Closing, and can be re-opened if there are new data points or something actionable to do.

[2020-11-09 22:14] #42285 closed

[2020-11-09 22:48] cherrymui commented on #41561
I think this is due to `TestNotifyContextSimultaneousNotifications`, which sends to the running process a lot of `SIGINT` signals. The signal could land after the test is done and we have unregistered the signal handler.

Maybe we should wait some time until all pending signals arrive, or run that particular test in a separate process.

[2020-11-09 22:49] cherrymui commented on #41561
`TestNotifyContextSimultaneousNotifications` is new in Go 1.16, so that explains the regression.

[2020-11-09 22:56] cherrymui commented on #42465
A reproduce:

Go file:
[code]
C file:
[code]

Running on darwin it fails with the same stack trace as above.

On (most of) other platforms we directly call syscall exit when the runtime exits. On darwin (maybe all libc platforms), maybe we should call `_Exit` instead of `exit`?

[2020-11-09 22:57] prattmic commented on #42424
One of these failures was after http://golang.org/cl/267257, so it seems that's not the fix.

[2020-11-06T23:59:04-f7ef5ca/windows-amd64-longtest](https://build.golang.org/log/1fb8aa99eadb7c00cf5bfaca9540491420114841)

[2020-11-10 00:47] AndrewGMorgan commented on #42462
Looking at this output using the following method, we see that there is evidence that the threads individually stop behaving as part of the collective process. In the first case, this is immediately - the Setegid(1) fails to take. In the third case that call succeeds, but the next Seteuid(1) call fails. Looking at the code for the test

   https://github.com/golang/go/blob/master/src/syscall/sysca

[2020-11-10 00:48] AndrewGMorgan commented on #42462
Racing with thread termination would also explain the second failure.

[2020-11-10 01:13] tmthrgd commented on #42470
This was previously discussed in #34594 and declined because no one came forward with any protocol that required both.

[2020-11-10 01:13] AndrewGMorgan commented on #42462
This passes for me (total running time about 1m26s) on linux-ppc64-buildlet:

   go/bin/go test syscall -v -run=TestSetuidEtc -count=10000

Given the rarity of this failure mode, I'm going to have to think a bit more about how to fix it.

[2020-11-10 01:17] AndrewGMorgan commented on #42462
Without the -v it runs quicker, but similarly no failures. I'm going to explore modifying the test to see if I can make it fail quicker, and/or more verbosely.

[2020-11-10 01:22] bcmills commented on #41561
CC @henvic

[2020-11-10 01:41] #41181 closed

[2020-11-10 01:41] bcmills commented on #41561
That is exactly what the existing [`quiesce` helper function](https://github.com/golang/go/blob/d36169120199e7f2b8c517fa6d82333496bb0a0a/src/os/signal/signal_test.go#L94-L107) attempts to do. It should probably be used in that test too.

I think that's probably the right long-term direction for the `os/signal` tests. (See also the discussion on [CL 232378](https://go-review.googlesource.com/c/go/+

[2020-11-10 01:45] dwschulze commented on #42450
@mvdan - I've asked this question on both the golang-nuts forum and stackoverflow.  Thanks for asking.  I got one response that didn't fix anything.

As far as upgrading to a newer version of Go, was there a bug fix relevant to this issue?  If not that sounds like the mindless advice you get by calling an 800 number for tech. support for a childrens computer game.

This is a serious problem and I

[2020-11-10 01:55] bcmills commented on #33626
Would it be possible to move the `blockOnSystemStackInternal` call to a separate goroutine, and let `runtime.BlockOnSystemStack` use some other hook to wait for it before doing the `print` itself?

(Or is the systemstack goroutine something that can't be introspected through the runtime's usual hooks?)

[2020-11-10 02:02] stamblerre commented on #42468
`gopls` always sends diagnostics after a `textDocument/didOpen`, so my guess is that this is an issue with Neovim and CoC. What is the output of `gopls version`? (The latest version is v0.5.2).

Also, do you have a `gopls` log for the session?

/cc @findleyr for more advice about Neovim and CoC

[2020-11-10 02:08] bcmills commented on #42450
There have been fixes in the module system in every release since Go 1.11. Many of the recent improvements are specifically to provide clearer diagnostics.

Also note that the issue template specifically asks “Does this issue reproduce with the latest release?”, and the latest supported releases are `go 1.15.4` and `go 1.14.11` respectively. An issue posted for `go 1.14` (without a minor release)

[2020-11-10 02:25] findleyr commented on #42468
The diagnostic is there: you should be able to see it via `CocList diagnostics`, or as a floating diagnostic by navigating to the line containing the error. My assumption is that coc.nvim doesn't render the error gutter UI unless the diagnostic arrives after the buffer is already open.

gopls sends the diagnostic on workspace load, and doesn't re-send it after the didOpen. @stamblerre that matches

[2020-11-10 02:44] henvic commented on #41561
Thanks @bcmills, I'm going to take a look.

[2020-11-10 02:56] zhuah opened #42471 "cgo: segment fault when running proc address getting from LoadLibrary with 32bit mingw-w64"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.10 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/zhuah/Library/Ca

[2020-11-10 02:57] bcmills opened #42472 "runtime: lock ordering problem between sweep and mspanSpecial"
[code]

[2020-11-09T19:46:24-a2d0147/linux-amd64-staticlockranking](https://build.golang.org/log/1e06c9a495167edfa2166a9898c06f7617ffd3b2)
[2020-10-31T08:31:08-12a2e72/linux-amd64-staticlockranking](https://build.golang.org/log/f62cae30ac88433b426e4fdb663411b53e1367ad)
[2020-10-23T20:53:14-d1b1145/linux-amd64-staticlockranking](https://build.golang.org/log/db4646a5e87ef592aca6230acb5d061d36109005)

[2020-11-10 03:08] dmitshur commented on #42379
As far as I can tell, the root cause here turned out to be that the problem was reproducible only when running `go test -short runtime` individually, but not as part of `all.bash`. I'll close this since I don't see anything more to do here. Please comment if I missed something.

[2020-11-10 03:08] #42379 closed

[2020-11-10 03:10] dmitshur commented on #42426
There seems to be agreement to move forward with this plan, so moving this issue to NeedsFix.

[2020-11-10 03:11] #42381 closed

[2020-11-10 03:17] stamblerre commented on #42468
Yeah, sorry, I just meant that `gopls` tries to send any diagnostics after every change event. If the diagnostics have already been sent, `gopls` will not resend them.

[2020-11-10 03:21] #42471 closed

[2020-11-10 03:53] smasher164 commented on #42469
@ianlancetaylor Here is a section in the GHC User Guide about guaranteed call safety: https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/ffi-chap.html#guaranteed-call-safety

[2020-11-10 04:10] AndrewGMorgan commented on #42462
Based on the theory that the issue is possibly a race somewhere with terminating a thread, I modified `src/syscall/syscall_linux_test.go` with the following to aggressively terminate OS threads [*]:
[code]

[*] Note, this patch includes a fix that is unrelated to the bug in question, and fixes an issue with the last test fix... I was able to get some failures on my non-ppc64 workstation, but those

[2020-11-10 05:52] stamblerre opened #42473 "x/tools/gopls: add a setting to ignore certain directories"
We've discussed this throughout the implementation of the workspace module mode--a setting that allows users to ignore certain directories when we look for modules.

[2020-11-10 06:00] AndrewGMorgan commented on #42462
The issue appears to be another race with interpreting the /proc/ filesystem in the testing code:

  https://go-review.googlesource.com/c/go/+/268717

[2020-11-10 06:18] AndrewGMorgan commented on #42462
Note, in passing, that the master branch just threw up another failure for linux-ppc-buildlet:

https://build.golang.org/log/650f97099ef1a84e84bb7f2d17f63a20d4c04559

This doesn't yet include the https://golang.org/cl/268717 fix.

[2020-11-10 06:26] Delta456 commented on #42454
I think the badges are broken because I have `div align` them in the center.

[2020-11-10 06:30] XiaodongLoong opened #42474 "cmd/go: the "build_plugin_non_main" test case cannot pass for linux/mips64le port"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.15.3
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
linux/mips64le
<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?
run go command tests (cmd/go):
[code]

###

[2020-11-10 06:33] XiaodongLoong commented on #42474
I found the reason from logs why the test case cannot pass and I will skip the test case on linux/mips64le, is it OK?
`-buildmode=plugin not supported on linux/mips64le`

[2020-11-10 07:33] steebchen commented on #41191
This would be highly appreciated by the Prisma team for our [Database Go client](https://github.com/prisma/prisma-client-go), since we use a query engine at runtime which is written in rust and needs to be in the built go binary somehow.

The way we're currently doing it is packing the binary into a .go file at go:generate time, but the file size is much higher than when it's a binary .gz file.

N

[2020-11-10 07:34] haselkern commented on #33503
I'm on a Mac using Apples llvm-dwarfdump and could successfully use that to inspect a Wasm file with debug information generated from Rust code. Thank you for your suggestion though!

[2020-11-10 07:45] #42393 closed

[2020-11-10 07:53] networkimprov commented on #42400
Could we do the kernel version check at runtime startup if `syscall.CopyFileRange` is linked in the binary?

[2020-11-10 07:55] dolmen opened #42476 "fmt: more doc needed for Formatter"
Current (go1.15, tip) documentation of interface [`fmt.Formatter`](https://tip.golang.org/pkg/fmt/#Formatter):

This is insufficient to tell how one must implement this interface:
- which verbs should be handled for each type?
- how to handle unhandled verbs?
- how to forward unhandled verbs to `Printf`?
- how to handle unhandled width?
- how to handle unhandled precision?
- lack of example

[2020-11-10 08:11] martisch commented on #42476
There are no constraints how to implement formatters apart from the function signature. Its up to the developer to decide what should be handled how for each type. Which verbs produce output and which dont. Which verbs are implemented directly and which are formatted using other functions.

An example could be added. Contributions welcome.

[2020-11-10 08:31] Delta456 commented on #42454
I have solved the displaying of `doc.go` issue but now the code isn't getting detected.

![image](https://user-images.githubusercontent.com/28479139/98649147-4155ba00-235d-11eb-82d6-2fa23e8253a5.png)

[2020-11-10 08:35] alexbrainman commented on #42395
That means ConnectEx Windows API

https://docs.microsoft.com/en-us/windows/win32/api/Mswsock/nc-mswsock-lpfn_connectex

returned WSAEINVAL. We can add error numbers, for example, WSAEINVAL is 10022

https://docs.microsoft.com/en-us/windows/win32/winsock/windows-sockets-error-codes-2

But I find it is not difficult to search Windows errors by their text.

And we cannot replace error text with a num

[2020-11-10 08:41] zapling commented on #42468
Oh okay, I can see that the diagnostic are being sent when `gopls` is instantiated when I open `c.go` in the CoC logs. So I think you are correct @findleyr , CoC doesn't draw the error gutter if the diagnostics was received previously and the buffer was opened after that.

I can confirm that `:CocList diagnostics` show the correct diagnostic, but it does not show when navigating to the line.

Noth

[2020-11-10 08:41] #42468 closed

[2020-11-10 08:44] jpap opened #42477 "proposal: cmd/go: build tag in filename suffix for matching of syso files"
# Motivation

We have several Go packages that targets multiple platforms, including macOS, iOS, tvOS, iOS-simulator, tvOS-simulator, windows, linux, etc.  The package has one or more syso file dependencies.

Syso files can be selected for a build by a GOOS/GOARCH filename suffix but not build tags, unlike Go source files that use `// +build` or `//go:build` lines.  If we ignore tvOS for the momen

[2020-11-10 08:46] jpap commented on #38485
[snipped]

Great suggestion -- that can work, though agreed it is messy.

Unfortunately we need more than negative tag-matching in filenames.  For example, a syso in a Go package might be needed for each of the following distinct platforms.

1. macOS (arm64; on an Apple Silicon Mac) #macosx
1. iOS simulator (arm64; on an Apple Silicon Mac) #iphonesimulator
1. iOS device (arm64) #iphoneos
1. Apple

[2020-11-10 09:02] #42400 closed

[2020-11-10 09:04] tklauser commented on #42400
I think this would be a much more invasive change. The current solution checks the kernel version once on the first call to `copy_file_range` which I think is preferable.

[2020-11-10 09:33] jclulow commented on #42463
Pardon me, but is this a duplicate of #42431 ?

[2020-11-10 09:37] lrh3321 opened #42478 "net/http/httputil: DumpResponse return error when ContentLength=2 with Body length 0, but it's a response for http.MethodHead request"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"

[2020-11-10 09:42] jclulow commented on #42431
Now that we're using `pfiles` we can at least see what's still open after the failure:

[code]

There's nothing currently at fd 4, but presumably there was when we tried to open the test file.  This doesn't seem to happen on most test runs, which implies a race of some kind.  We should look at running the test under tracing to see if there is another thread opening and closing a file descriptor ea

[2020-11-10 10:17] mvdan commented on #42450
Thanks for having asked the question elsewhere. A significant portion of modules issues raised here are essentially questions phrased as bug reports, so that's why I tend to ask.

And, like Bryan says, trying the latest stable release is indeed part of the bug reporting process. Go 1.14.x is still supported, but you should still check if your problem has been solved in 1.15.x (or even the upcoming

[2020-11-10 10:18] larytet commented on #20680
When I implement a counter internally I occasionally do the following:

		if _, ok = m.MyLoad(key); !ok {
			// do my stuff
			m.MyStore(key, value)
		}

In the call to MyStore() I increment the length counter `m.len` . In multi-thread environment I need to call sync.Map.Lock() around the key existence test.

Is there a chance to add a return value to the sync.Map.Store which returns Ok if the key

[2020-11-10 10:27] mundaym opened #42479 "cmd/internal/obj/s390x: SYNC instruction encoding incorrect"
The `SYNC` pseudoinstruction is supposed to correspond to a 'fast serialization' instruction of the form `bcr 14,0`. However, in [CL 197178](https://golang.org/cl/197178) I accidentally changed it to be `bcr 7,0` which is a no-op.

This could cause subtle issues in lock-free code since we use `SYNC` as a store-load memory barrier.

Related to #32428.

[2020-11-10 10:53] rustyx commented on #42470
AES GCM is not only for use in a protocol, it's a message encryption standard, see _Dworkin, M., "Recommendation for Block Cipher Modes of Operation: Galois/Counter Mode (GCM) and GMAC", National Institute of Standards and Technology SP 800-38D, November 2007_"

We use it to encrypt messages in our application. Since the messages are short, we shorten the tag from the recommended 16 down to 12 byt

[2020-11-10 10:54] FiloSottile commented on #32406
Ah I thought this was already approved. Reopening to finish the process. We can revert if it's not approved.

[2020-11-10 11:12] acln0 commented on #42400
@tklauser Now that 1c7650a is merged, I wonder if we can ever hit this switch case: https://github.com/golang/go/blob/1c7650aa93bd53b7df0bbb34693fc5a16d9f67af/src/internal/poll/copy_file_range_linux.go#L75

Perhaps we should remove it?

[2020-11-10 11:18] acln0 commented on #42400
There is also a similar check for EXDEV which may no longer apply, given that we have raised the effective requirement for copy_file_range to Linux 5.3 or later.

[2020-11-10 11:54] justkeepsimple opened #42480 "net: conn.Read();Contents that are concurrently written twice are read at a time."
### What version of Go are you using (`go version`)?

go1.14.6

### What operating system and processor architecture are you using (`go env`)?

linux/amd64

### What did you do?

i used two gorutines to write data from serve to client concurrently, but the data are read at a time.

write code one:
...
hb, err := json.Marshal(HeartBeatMsg)
if err != nil {
panic(errstd.JsonSerializerErr)
}
for {

[2020-11-10 12:07] nick-jones commented on #41593
@bcmills - having taken another look at this, I'm wondering if we're hitting this condition here: https://github.com/golang/go/blob/1c7650aa93bd53b7df0bbb34693fc5a16d9f67af/src/cmd/go/internal/test/test.go#L1144-L1153

- I can see the linker being invoked when watching the process list
- the logs I pasted suggest that `tryCache` is invoked twice, with the first attempt getting a cache miss

Note t

[2020-11-10 12:14] YUbuntu0109 opened #42481 "so crazy constraint! it's throw a error info if I defined one variable but not use it"
### What did you expect to see?
hey bro as a beginner I had learned the `Golang` language today, I found that it's will throw error tip if you defined variables or import one moudle in program but not use it . . . so crazy constraint compare to `Java` or `Python`. . . wish this issue will be improved in the feature version. . .

[2020-11-10 12:20] hitzhangjie opened #42482 "`go get -ldflags` update the binary, but `-ldflags` not working"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
No, I didn't test it.
I just want to know is there a way to work around this problem.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$

[2020-11-10 12:39] nuzar opened #42483 "confusing example with select expr in sql package"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
Tt dosen't matter.
</pre></details>

### What did you do?

### What did yo

[2020-11-10 12:56] mvdan commented on #42481
The Go project doesn't use the issue tracker for questions. See https://golang.org/wiki/Questions.

[2020-11-10 12:56] #42481 closed

[2020-11-10 12:58] mvdan commented on #42483
Read the docs at https://golang.org/pkg/os/signal/#Notify.

The Go project doesn't use the issue tracker for questions. See https://golang.org/wiki/Questions.

[2020-11-10 12:58] #42483 closed

[2020-11-10 12:59] mvdan commented on #42480
Ask this question in the forums first; see https://golang.org/wiki/Questions. You should only open an issue if you believe you've found a bug, and then carefully fill the issue template. You omitted at least two sections of the template.

[2020-11-10 13:00] yiya1989 commented on #25899
you can refer to these two:
https://github.com/yiya1989/sshkrb5/blob/main/examples/sshwithkrb5.go
https://github.com/nhywieza/sshgssapi

[2020-11-10 13:15] YUbuntu0109 commented on #42481
ok bro thanks.

[2020-11-10 13:51] davidv1992 commented on #41870
This would ease the burden currently caused by having no great solution to #34438, because it would allow the use of rename to dig yourself out of the hole created by an initial interface rename.

[2020-11-10 13:56] nuzar commented on #42483
OK, I'll try to find an answer from forum. But if this select expr is useless, maybe we should remove it from the example.

[2020-11-10 13:57] nick-jones commented on #41593
With the previous comment in mind, steps to reproduce are:

1. Create main_test.go

[code]

2. Run tests as normal

[code]

3. Confirm cached

[code]

4. Add a linker flag that has no impact on the compiled test binary, but forces cache invalidation for the first action ID

[code]

5. Compare timings when flag isn't used

[code]

---

We can confirm that using the linker flag is causing the first

[2020-11-10 13:59] seankhliao commented on #42482
Show the actual code you are running

[2020-11-10 14:21] mvdan commented on #42483
If you read the docs, you will understand how the select expression works.

[2020-11-10 14:57] ianlancetaylor commented on #42480
Show us a complete standalone test case.

[2020-11-10 15:20] imxyb commented on #42478
i think you may change `httputil.DumpResponse(rw.Result(), true)` to `httputil.DumpResponse(rw.Result(), false)`

[2020-11-10 15:28] mknyszek commented on #42461
I believe this is a result of the new `wakep` call in `wakeNetPoller`. I don't think there's anything wrong here, just another missing partial edge.

[2020-11-10 15:30] mknyszek commented on #42472
This is a missing partial edge. It's definitely a correct ordering: this is the background sweeper queuing a finalizer or handling a memory profile sample.

[2020-11-10 15:34] aarzilli opened #42484 "cmd/link: debug_line can contain multiple entries for the same PC address in Go 1.15.4"
This is caused by https://go-review.googlesource.com/c/go/+/258422, commit 8f14c1840d15233b7f3d08f0acf0b0559d465a56.

If the body of a function immediately follows the body of another function then the PC address of the second function will have two entries in debug_line, one with the file:line of the first line of the first function and the second with the first line of the second function.

For

[2020-11-10 15:34] dwschulze commented on #42450
I added the -v to go get but it gives no output and downloads the same thing (all the subdirectories except the one I'm asking for)

$ go get -v bitbucket.org/orgname/reponame/integration-common/util/@v0.0.1

Something unusual is that that the downloaded dirs/files have permission 500.

The directory I'm trying to get was created on a branch as was the tag v0.0.1.  That directory doesn't exist on

[2020-11-10 15:35] icholy commented on #42322
An alternative name could be Chroot

[2020-11-10 15:36] ianlancetaylor commented on #38692
That relies on a particular semantics for symbols that occur in both the executable and the shared library, or that occur in multiple shared libraries.  ELF provides fairly tight control for how to handle multiple symbol definitions, and Go tries to take advantage of that on ELF systems.  But I don't know how that works on macOS.

I think it would be useful to remove the requirement that buildmode

[2020-11-10 15:37] tv42 commented on #41191
No, I would not.

[code]

[2020-11-10 15:42] mvdan commented on #41191
See my later comment in https://github.com/golang/go/issues/42328#issuecomment-720169922.

[2020-11-10 15:42] cherrymui commented on #38485
Simulators and tvOS have not been really "supported" platforms. They mostly "work" in practice, but we haven't really thought about them. If we want to actually "support" them, I think we need to think them more holistically (in #42477 or a separate issue). @eliasnaur can probably chime in. Thanks.

[2020-11-10 15:47] hitzhangjie commented on #42482
This program is a tool built upon [cobra](https://github.com/spf13/cobra).

The most relevant code is as following:

private repository: ${private-git-host}/gitcode, when I run `go get ${private-git-host}/gitcode`, a binary gitcode will be installed into `~/go/bin`, then I can run `gitcode <subcmd>` to do some actions, similar to github command line `gh`.

gitcode has a subcmd `gitcode update`, th

[2020-11-10 15:48] #42479 closed

[2020-11-10 15:49] cherrymui commented on #42477
cc @eliasnaur

[2020-11-10 15:52] eliasnaur commented on #42477
This seems like a lot of work to support .syso files. Why do you need them? Is it to avoid the need for SDKs and system compilers/linkers? If so, it seems to me the effort is better spent on that. Shameless plug: https://github.com/golang/go/issues/38917.

[2020-11-10 16:02] prattmic commented on #33626
Hm, we could perhaps have `runtime.BlockOnSystemStack` spin waiting on the lock word to change to `mutex_sleeping`, though that is still a bit racy (and ugly): https://cs.opensource.google/go/go/+/master:src/runtime/lock_futex.go;l=100-106;drc=d36169120199e7f2b8c517fa6d82333496bb0a0a;bpv=0;bpt=1

However, that may be worse than sleeping. :)

[2020-11-10 16:03] ianlancetaylor commented on #24484
@zainabb12345 Thanks for providing a test case.  However, the stack trace that you provided is from the go tool.  It is not from your test case.  I can build your test using `go build foo.go` without running out of threads.

Can you give us precise instructions for how we can reproduce the problem ourselves?  Thanks.

[2020-11-10 16:09] prattmic commented on #33626
There's a bit of an orthogonal issue with this test, which I'm not sure if it is a regression since golang.org/cl/38012 or not.

The passing version of this test looks like this:

[code]

We print goroutine 6 twice, once on its own (no stack, since it is running), and once with the systemstack g0.

1. Is it intentional to print goroutine 6 twice?
2. There is no spacing between g0 and g6 in the sta

[2020-11-10 16:11] jayconrod commented on #41078
Was never able to reproduce this, and it hasn't showed up in the logs, so closing this issue.

[2020-11-10 16:11] #41078 closed

[2020-11-10 16:12] randall77 commented on #42477
Kind of an odd idea, but could fat .syso files solve the problem? Not sure whether those are even a thing, but if it were possible then that would allow us to transfer the problem to the loader.
The loader can distinguish amd64 vs arm64. Can it distinguish the other axes, like simulator vs. non-simulator?

[2020-11-10 16:19] bcmills commented on #42450
@dwschulze, what is the output of `go list -versions -m bitbucket.org/orgname/reponame` for your repo? The symptom you are describing is consistent with the tag not existing.

You could also try using a totally different version for the nested module to remove any ambiguity. (What happens if you apply the tag `integration-common/util/v0.0.2` and then try the same steps with version `v0.0.2` instea

[2020-11-10 16:21] bcmills commented on #42450
I could also imagine that you might be running into issue #37438, which is fixed at head but not in any prior release.

(You could confirm that one way or the other by trying the same steps using `golang.org/dl/gotip` or a `go` command built from source at head.)

[2020-11-10 16:24] cherrymui commented on #42484
Does this happen on tip? CL 258422 is a backport of a CL on tip. So if that CL is causing problem, it probably also causes problem on tip. Thanks.

[2020-11-10 16:26] #42461 closed

[2020-11-10 16:26] #42472 closed

[2020-11-10 16:29] mknyszek commented on #37331
Having dug into this before, I suspect this is related to #42430 but I'm not sure in what way.

Going back to the thought I had in March (https://github.com/golang/go/issues/37331#issuecomment-604519341) I did change a bunch of details in this release regarding how `heap_scan` is updated (specifically, more often!), so that may be why the failure rate has gone down. @bcmills are those all the rece

[2020-11-10 16:30] defernest opened #42485 "x/net/http"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-11-10 16:32] bcmills commented on #37331
@mknyszek, those are all of the failures I could find using [`greplogs`](https://pkg.go.dev/github.com/aclements/go-misc/greplogs) with the regexp `FAIL: TestGcSys`, yes.

[2020-11-10 16:37] aarzilli commented on #42484
I haven't looked, I'll look tomorrow but I'd be surprised if it didn't.

[2020-11-10 16:45] mvdan commented on #42485
Empty issue.

[2020-11-10 16:45] #42485 closed

[2020-11-10 16:46] julieqiu commented on #41585
The redesign of the `pkg.go.dev/<path>` page is now live on https://pkg.go.dev!

Check out [the blog post](https://blog.golang.org/pkgsite-redesign) for details.

As always, please [file an issue](https://golang.org/s/pkgsite-feedback) for any feedback or bugs!

[2020-11-10 16:47] julieqiu commented on #41586
This is now live on pkg.go.dev!

See https://github.com/golang/go/issues/41585#issuecomment-724825239 for details.

[2020-11-10 16:47] #41586 closed

[2020-11-10 16:50] julieqiu opened #42486 "x/pkgsite: copy button and view source code link in code snippet"
This feature was originally mentioned in https://github.com/golang/go/issues/41587, and is now being tracked as a separate issue:

We'd like to add these features to the documentation section to improve usability:

![image](https://user-images.githubusercontent.com/5943521/94038149-19ea6400-fd94-11ea-820c-25874674727b.png)

**Copy**
Next to each code block, we will be adding a copy button, so that

[2020-11-10 16:51] julieqiu commented on #41587
This is now live on pkg.go.dev! See https://github.com/golang/go/issues/41585#issuecomment-724825239 for details.

[2020-11-10 16:51] #41587 closed

[2020-11-10 17:03] seankhliao commented on #42482
2 issues:
1. quoting only applies to shell
2. you should be targeting the `main` package

[code]

[2020-11-10 17:07] dwschulze commented on #42450
I upgraded to go v1.15.4.  Same results.

$ go list -versions -m bitbucket.org/orgname/reponame
bitbucket.org/orgname/reponame

I added the tag integration-common/util/v0.0.2 and pushed.  I can see it in bitbucket with my directories and files in it.  When I do

go get -v bitbucket.org/orgname/reponame/integration-common/util/@v0.0.2

it downloads reponame@v0.0.1 however with all the directories e

[2020-11-10 17:11] bcmills commented on #42450
Ok, that really sounds like #37438. 😞

Try `gotip` or a `go` command built from head? I'm hoping it's fixed (I literally just spent the past ~month or more on it), but if not I'd rather know sooner than later.

[2020-11-10 17:14] v-byte-cpu opened #42487 "x/pkgsite: allow hiding of left menu"
### What is the URL of the page with the issue?

 https://pkg.go.dev/net/http

### What did you expect to see?

Please, allow hiding of the left menu. It is really inconvenient to read docs on half screen..

### Screenshot

![image](https://user-images.githubusercontent.com/65545655/98707530-33219100-2391-11eb-9345-5d96c643a258.png)

[2020-11-10 17:14] bcmills commented on #42450
That's possibly as expected? What about `go list -versions -m bitbucket.org/orgname/reponame/integration-common/util`? (If the nested path has its own `go.mod` file, it is its own module, distinct from `bitbucket.org/orgname/reponame`.)

[2020-11-10 17:19] dwschulze commented on #42450
$ go list -versions -m bitbucket.org/orgname/reponame/integration-common/util
bitbucket.org/orgname/reponame/integration-common/util v0.0.2

Makes sense since the go.mod is in the util/ directory.  But v0.0.1 is gone so why should go get download it?  Is it pulling the v0.0.1 off of the proxy even though I have bitbucket.org/orgname/* set in GOPRIVATE?

[2020-11-10 17:21] bcmills commented on #42463
Indeed it is!

[2020-11-10 17:21] bcmills commented on #42463
Duplicate of #42431

[2020-11-10 17:21] #42463 closed

[2020-11-10 17:24] thanm commented on #42484
I'll take a look.

[2020-11-10 17:24] AndrewGMorgan commented on #42462
So, the first version of the changes unexpectedly failed:

2 of 23 SlowBots failed:
Failed on linux-amd64: https://storage.googleapis.com/go-build-log/fd4e8e86/linux-amd64_038a24f9.log
Failed on linux-386: https://storage.googleapis.com/go-build-log/fd4e8e86/linux-386_a3c5af8b.log

My plan is to revert the thread termination part of the change to misc/cgo/test/issue1435.go and retry. I'm not yet c

[2020-11-10 17:25] x1unix opened #42488 "x/net: [feature] expose LOWER_UP flag in NICs"
### What version of Go are you using (`go version`)?

<pre>
$ go version 1.15.4

</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/x1unix/.cache/go-build"
GOENV="/home/x1uni

[2020-11-10 17:33] bcmills commented on #42450
Are you sure it is downloading, and not just pulling from the local cache? (That's in either `$GOMODCACHE` or `$GOPATH/pkg/mod`.)

If the repo is private, the public proxy can't possibly have the module cached. (The public proxy does not receive credentials or module content from the `go` command.)

[2020-11-10 17:36] dwschulze commented on #42450
I deleted the cache.
I installed gotip as you suggested and ran gotip get with v0.0.2 and got the same results.  It downloads v0.0.1 which doesn't even exist in bitbucket.org and downloads all the directories except for the one I asked for.

[2020-11-10 17:37] eliben opened #42489 "x/pkgsite: "jump to" search improvement"
### What is the URL of the page with the issue?
https://pkg.go.dev/github.com/gin-gonic/gin

### What is your user agent?
 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.183 Safari/537.36

### What did you do?

I really like the "jump to" feature ('f' keyboard shortcut).

I press 'f', then 'H' in the search box. gin has a type named `H` whic

[2020-11-10 17:55] dmitshur commented on #42176
The query above (slightly modified to additionally filter out CLs that are waiting on author or have a -2 review) by now finds only 8 CLs. Of those, 6 are sent by people who have the ability to grant Trust+1 themselves. The other 2 were being actively evaluated for readiness for submission.

Given we're in the freeze and the week to submit in-flight changes has passed, I don't think there's more t

[2020-11-10 17:58] AndrewGMorgan commented on #42462
Some investigation later, there were two issues:

1) I had missed some needed bits from the syscall_linux_test.go -> issue1435.go test upgrade.
2) as suspected the forced thread termination is somehow not working as expected.

My plan is to submit a fix for this bug in two stages - fix the original bug as reported upto and including (1) of this comment.

Then investigate why (2) is failing. It cou

[2020-11-10 18:05] cherrymui commented on #38485
As far as I can tell, the darwin/arm64 port is now pretty much on parity with the darwin/amd64 port, and I don't expect much to be done on this issue. I think we can close this.

Feel free to reopen, or open a new issue, if I missed anything.

[2020-11-10 18:05] #38485 closed

[2020-11-10 18:07] cherrymui commented on #41385
As far as I can tell, the darwin/arm64 port is now pretty much on parity with the darwin/amd64 port (CLs are tracked under #38485), and I don't expect much more to be done on this issue. I think we can close this.

Feel free to reopen, or open a new issue, if I missed anything.

[2020-11-10 18:07] #41385 closed

[2020-11-10 18:34] #41116 closed

[2020-11-10 18:38] bcmills commented on #42395
@alexbrainman, I say `net` should be returning a more useful error because it is at the wrong layer of abstraction. It reports that an `invalid argument` was passed to `connectex`, but that does not tell us what (if anything) was wrong with the arguments passed to `Dial` itself.

(We can't tell from that error whether the `invalid argument` is due to an internal error within `net`, or due to some

[2020-11-10 18:43] #42466 closed

[2020-11-10 18:45] hitzhangjie commented on #42482
@seankhliao Thanks.

After change `-ldflags="-X 'importPath.VERSION=%s-%s'"` to `-ldflags=-X importPath.VERSION=%s-%s`, it works.

I am still a little confused, here. I'll appreciate If you explain in details.

Actually, we could update any package not just main package, `-ldflags -X importPath.variable`, importPath can point to any valid module package.

[2020-11-10 18:46] bcmills commented on #42441
@stevetraut is working on new tutorial content for modules.

(We should take this feedback into account in the tutorials.)

[2020-11-10 19:12] cagedmantis commented on #42176
I was hoping that this issue would become a recurring issue that we kept open for each release.

[2020-11-10 19:17] stevetraut commented on #42441
I think the first place folks will look for information about what the command requires to run usefully is in the reference for go mod tidy. This behavior should be reflect in other module docs, but I don't think people will look there first because it's less immediate.

[2020-11-10 19:29] bcmills commented on #42441
In this case, I think what we're missing is probably a tutorial on “converting a GOPATH project to use modules” when the existing `GOPATH` contains packages that are intended to go in _different_ modules.

(Our existing blog post assumes that the whole `GOPATH` project is a single module, so it doesn't describe how to use `replace` directives to wire in other dependencies from outside of that modu

[2020-11-10 19:35] stamblerre commented on #42111
Reopening because this isn't just for nested modules--we need to add tests for multiple workspace folders, each containing a module.

[2020-11-10 19:37] findleyr commented on #42111
Ah, wrong issue. My bad!

[2020-11-10 19:38] AndrewGMorgan commented on #42462
These two test continue to fail:

2 of 23 SlowBots failed:
Failed on linux-amd64: https://storage.googleapis.com/go-build-log/d73fad79/linux-amd64_0f499959.log
Failed on linux-386: https://storage.googleapis.com/go-build-log/d73fad79/linux-386_1a608de2.log

All evidence of (1) is gone now, so I'll focus on what is up with the cgo failures now.

The net change with this fix "shouldn't" have trigger

[2020-11-10 20:10] stevetraut commented on #42441
Can we set aside the content delivery vehicle for a moment and focus on what users need to be successful? What bits of information does a user need to have in order to successfully migrate GOPATH code to modules?

[2020-11-10 20:12] vieiramanoel commented on #19974
Update on this? Saw @sakjur commits but I couldn't find any PRs related

[2020-11-10 20:19] alexbrainman commented on #42395
@bcmills I agree that error message is not helpful. But WSAEINVAL is the only information we get from ConnectEx - Windows does not tell us anything else about what is wrong with ConnectEx arguments. If you read documentation

https://docs.microsoft.com/en-us/windows/win32/api/mswsock/nc-mswsock-lpfn_connectex

it adds

Maybe it helps.

But you need to read this information in Microsoft documentati

[2020-11-10 20:20] sakjur commented on #19974
@vieiramanoel That was mostly an experiment that didn't lead anywhere and I later ended up not needing to complete 🙂 I'm not sure if whatever I have in my branch works at all, and it was mostly an accident that my WIP commits ended up being linked from here.

[2020-11-10 20:27] andybons opened #42490 "x/pkgsite: gap below unit header is a bit large on desktop viewports"
See screenshot below for the area I’m talking about. I think it could be tightened up a bit.

Great job, team!

<img width="1244" alt="Screen Shot 2020-11-10 at 3 24 10 PM" src="https://user-images.githubusercontent.com/365204/98729578-1e310780-2369-11eb-8876-88d056f57a7b.png">

[2020-11-10 20:29] mdempsky commented on #30548
What's special about

    if x { return f() } else { return g() }

that it should be inlined, but that

    return f() + g()

should not be?

The inlining heuristics are currently oriented around the resulting code size. This justifies inlining `a := g; if x { a = f }; return a()` because it needs less code size than `if x { return f() } else { return g() }`: in particular, it only needs to genera

[2020-11-10 20:36] jpap commented on #42477
A lot of work for a contribution for a CL to address this, or a lot of work for a 3rd party developer who might make use of this?
* On the former, I'm happy to make the contribution; I don't think it'd be anywhere near as complex as #33139 was.  At a high-level, the proposal is very simple: support selection of syso files at build time based on user-defined build tags.  The proposal does not sugge

[2020-11-10 20:46] jpap commented on #42477
That's actually a great suggestion.  I just tried it and unfortunately hit this:
[code]

Clang LD can handle "fat objects", but each fat object can only host dissimilar architectures, even if each component is built for a different platform.  This becomes pretty clear when you look at the [Mach-O fat header format](https://golang.org/src/debug/macho/fat.go): each slice is keyed on a CPU and sub-CP

[2020-11-10 20:48] dmitshur commented on #42176
@cagedmantis I was previously thinking this was needed for the Go 1.16 release only because the Trust requirement is new, and some CLs that could previously be submitted now needed an extra vote. But it does seem such a situation can continue to happen in the future if a CL is sent by someone without ability to self-Trust+1, and reviewed only with a single Core-Review+2. Thanks for pointing this o

[2020-11-10 20:56] stamblerre opened #42491 "cmd/go: support -overlay for the go mod subcommand"
Currently, there is no way to pass the `-overlay` flag to `go mod tidy` or other such commands.

/cc @matloob

[2020-11-10 20:57] matloob commented on #42491
cc @jayconrod @bcmills

This is a bug, we should fix this for 1.16

[2020-11-10 21:12] eaglemoor commented on #39782
Will be cool see native support M and what happen with Docker xD
M1 is out!

[2020-11-10 21:22] maxekman opened #42492 "x/blog: (Too?) Few links to go.dev from golang.org"
### What version of Go are you using (`go version`)?

N/A

### Does this issue reproduce with the latest release?

N/A

### What operating system and processor architecture are you using (`go env`)?

N/A

### What did you do?

Visited golang.org.

### What did you expect to see?

Links on the front page to go.dev and/or pkg.go.dev.

### What did you see instead?

No links, I really tried to find s

[2020-11-10 21:24] davecheney opened #42493 "x/website/_content/blog: images and embedded YouTube content in pkgsite-redesign.article renders poorly on mobile"
![9B35A945-9D8A-4055-B602-0286395BC981](https://user-images.githubusercontent.com/7171/98735247-318ab400-23f7-11eb-83f7-f38945a6b57c.png)

The recent blog post on pkg.go.dev renders poorly on mobile browsers.

[2020-11-10 21:31] AndrewGMorgan opened #42494 "syscall: cgo calling of glibc nptl:setxid functions timing out in the face of pthread termination pressure"
### What version of Go are you using (`go version`)?

HEAD (1.16) release branch, but suspect earlier go toolchains might also suffer from this.

### Does this issue reproduce with the latest release?

Don't know yet, but plan to start my investigation by writing a standalone go test case.

*Update 2020-11-25*: Yes, all versions of Go at least as far back as 1.10 (but probably earlier too, unteste

[2020-11-10 21:33] AndrewGMorgan commented on #42462
I've decided to split this issue into two (see #42494) for the aspect of the issue I plan not to resolve in this present bug. For this bug, I want to get the checked in source back to testing stability by addressing the issue with the ppc64 build testing.

[2020-11-10 21:44] seankhliao commented on #42328
I think it's counterintuitive to exclude certain files, especially when I specify a directory, I expect everything inside it. Furthermore, most (all?) of the existing tools do not have such behaviour.

From the original issue description, I would argue it is fine for in-development builds to contain extra files such as `.DS_Store`, building from a clean repo for release is something we should prom

[2020-11-10 21:45] ALTree commented on #42492
I agree the first time  pkg.go.dev is mentioned in https://blog.golang.org/pkgsite-redesign (3rd word of the first sentence) should probably be a link to it. It's less clear where (if) it should be mentioned on golang.org.

cc @julieqiu

[2020-11-10 21:47] ALTree commented on #42492
Oh and below there's a bad html tag:

[code]

[2020-11-10 22:06] woat commented on #42487
It looks like there are CSS rules to automatically close the menu (rather, open the menu since mobile is default), I think this is the relevant breakpoint: https://github.com/golang/pkgsite/blob/master/content/static/css/sidenav.css#L97

My guess is that your half-screen size is probably not small enough to trigger the breakpoint. Might be worth mentioning your screen size + resolution.

So far, t

[2020-11-10 22:11] andig commented on #42328
I really dislike the inclusion of hidden files. However, this is what `http.Dir` for example says:

[2020-11-10 22:17] AndrewGMorgan commented on #42494
Please feel free to assign this issue to me.

[2020-11-10 22:23] aclements opened #42495 "cmd/cgo: build failure passing empty struct to exported Go function"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +8f2db14cd3 Tue Nov 10 18:42:47 2020 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

No. It was introduced in [CL 258938](https://golang.org/cl/258938).

### What did you do?

Build the following:

[code]

(There are other types for which the failure is the same, such as `str

[2020-11-10 22:31] ianlancetaylor commented on #30639
New syntax suggestion mostly from @bradfitz.  Use a `//go:hide` comment that names the function or type or variable or constant or method being hidden.

For example:

[code]

These comments do not remove the symbol.  In particular, they do not remove methods, and types continue to work as before.  What they remove is specific to the export data: if a package being compiled at language version 1.15

[2020-11-10 22:36] v-byte-cpu commented on #42487
Outer window size:

[code]

Inner window size:

[code]
I usually use chromium on my laptop with 110% and 125% zoom levels and it is very irritating to scroll code snippets..

110% zoom level:

![image](https://user-images.githubusercontent.com/65545655/98741589-fae47780-23bd-11eb-996e-df7b8316c874.png)

125% zoom level:

![image](https://user-images.githubusercontent.com/65545655/98741719-32ebba80

[2020-11-10 22:36] mahdi-hosseini-moghaddam opened #42496 "x/crypto/ssh/terminal: add support for zos"
As discussed in golang-dev, I would like to add the x/cyrpto/ssh/terminal package for s390x running zos. No changes should affect other platforms.

[2020-11-10 22:41] mdempsky commented on #40701
This was done in a78bdc4.

[2020-11-10 22:41] #40701 closed

[2020-11-10 22:42] DemiMarie commented on #42070
@menocu I consider this to be a bug in Windows, which allowed C:\ to be writable by authenticated users (!).

[2020-11-10 22:45] julieqiu commented on #42487
Thanks for the feedback!

/cc @georgehu @Joanne881107 @fflewddur for UX input

[2020-11-10 22:47] ianlancetaylor commented on #41414
No change in consensus.  This time for sure.

[2020-11-10 22:47] #41414 closed

[2020-11-10 22:47] ianlancetaylor commented on #41695
No further comments.

[2020-11-10 22:47] #41695 closed

[2020-11-10 22:47] ianlancetaylor commented on #42232
Based on the discussion above, this is a **likely decline**.  Leaving open for four weeks for final comments.

[2020-11-10 22:49] julieqiu commented on #42489
Thank you for the feedback! Is this what you expected to see after typing `H`?

<img width="2441" alt="Screen Shot 2020-11-10 at 5 47 59 PM" src="https://user-images.githubusercontent.com/5943521/98742699-e0d67500-237c-11eb-8d6d-0f09ac467d3a.png">

If you are interested in contributing an improvement for this feature, feel free to send us a CL!

[2020-11-10 22:51] julieqiu commented on #42490
/cc @jamalc

[2020-11-10 22:51] julieqiu commented on #42489
/cc @jba

[2020-11-10 22:53] cherrymui commented on #42477
Currently there isn't anything stop you from doing this. But this is not really "supported".

[2020-11-10 23:01] davecheney opened #42497 "x/pkgsite: call to action banner obscures top nav on desktop browser"
![Screen Shot 2020-11-11 at 9 59 53 am](https://user-images.githubusercontent.com/7171/98743821-c5af4800-2404-11eb-823a-0865f5cf439d.png)

[2020-11-10 23:06] davecheney commented on #42497
Oh wait -- the red and blue bars are indicators of the current and future pages. My mistake.

[2020-11-10 23:06] #42497 closed

[2020-11-10 23:17] eliben commented on #42489
Yes, that would be the best outcome! The plain (full match) `H` comes first, and then come strings starting with `H` before other strings that just have `h` randomly in them somewhere.

I'll take a look to evaluate.

[2020-11-10 23:24] jpap commented on #42477
@cherrymui, [you wrote something similar back in July last year](https://github.com/golang/go/issues/33139#issuecomment-512344885).  As I replied back then, the [Go Wiki documents this pattern](https://github.com/golang/go/wiki/GcToolchainTricks) since at least 2014 [1].  I spent a lot of time to [contribute a CL](https://go-review.googlesource.com/c/go/+/198798/) to "support" that late last year,

[2020-11-10 23:35] cherrymui commented on #42477
I know the Wiki page mentions it, as a "trick". But I wouldn't say it is "supported".

I agree that we probably don't want to intentionally break it, and probably will keep it working if it doesn't take much effort. But I don't think this kind of use is a good motivation for new proposals.

[2020-11-11 00:00] stamblerre commented on #41836
@findleyr: Can this be closed?

[2020-11-11 00:00] stamblerre commented on #41837
@findleyr: Can this be closed?

[2020-11-11 00:00] cherrymui commented on #42477
I think it might be a good idea to have some mechanism to match build tags for syso files (although I don't necessarily agree with the motivation).

I think the proposal needs to be a little clearer about the matching semantics. Is the tag after the `#` character must be present, so a build with no tags specified doesn't match any?

If we do this, I think supporting multiple tags is fine.

[2020-11-11 00:06] findleyr commented on #41837
Yep!

[2020-11-11 00:06] #41837 closed

[2020-11-11 00:09] findleyr commented on #41836
No, I just added a handle for the snapshot workspace directory. The work of hooking up imports has not been done.

[2020-11-11 00:11] stamblerre commented on #41836
Ok, thanks for clarifying. Are you planning to work on that or should @heschik do that final step?

[2020-11-11 00:11] carlmjohnson commented on #42328
@seankhliao What’s an example of a dotfile you would want to embed? I can’t think of any case where I would ever want it.

[2020-11-11 00:14] carlmjohnson commented on #42328
`.well-known` is almost a usecase, but I’m pretty sure all of those need interactive responses, not just a fixed file. And you could just mount `well-known` at `.well-known`.

[2020-11-11 00:15] findleyr commented on #41836
I _thought_ Heschi was going to do it, but I might be misremembering. Happy to do it if needed.

[2020-11-11 00:21] findleyr commented on #41719
I factored out some of the cloning logic into cache/workspace.go, which has unit tests.  We could probably carve it up a bit more though.

[2020-11-11 00:28] dsnet commented on #40127
I'm okay with this API, but I'd like to sanity check the behavior for `Numbers`.

The documentation currently says:

Since there are no `Number` constructors in the `json` package, it leaves formatting the number up to the user. The most obvious functionality to use would be [`strconv.FormatFloat`](https://golang.org/pkg/strconv/#FormatFloat). I think it is important property that if `strconv.Form

[2020-11-11 00:30] stamblerre commented on #41836
Ok sounds good--I'll leave it assigned to Heschi, just wasn't sure if you'd spoken offline.

[2020-11-11 00:31] AskAlexSharov commented on #28024
TG has minimal requirement of Go1.5, so better switch to 1.5.4 fir debugging.

[2020-11-11 00:38] tv42 commented on #42328
@andig I've used https://github.com/shurcooL/vfsgen which is one of those file embedders, it works by taking http.FileSystem and generating code that embeds all the data for that http.FileSystem, and it's a pain to avoid embedding hidden files etc with it. Go should aim higher than pain; I don't think http.Dir is a great model to follow there, and new APIs should not have newbie traps in them.

[2020-11-11 00:42] dsnet commented on #22533
I agree with @mvdan that if this feature is provided, it should probably be implemented in terms of a more general feature (i.e., #6213) that permits splitting off part of a JSON object for a Go struct into some other data structure.

Assuming that #6213 exists, it may be conceivable that `json` provides some type that assists in this purpose. However, it's not clear what the type should be. Sever

[2020-11-11 00:44] dmitshur opened #42498 "net/http, x/net/http2: net/http's TestNoSniffExpectRequestBody_h2 stops passing after x/net/http2 change in CL 253259"
<pre>
$ go version
go version devel +8f2db14cd3 Tue Nov 10 18:42:47 2020 +0000 darwin/amd64
</pre>

With the following diff applied:

<details><summary>diff</summary>

[code]

</details>

### What did you do?

Pulled in latest version of x/net in [CL 266898](https://golang.org/cl/266898),
which includes the change in [CL 253259](https://golang.org/cl/253259),
then ran all.bash (and SlowBots). It f

[2020-11-11 00:45] dmitshur commented on #42256
This test stops passing completely when the change in [CL 253259](https://golang.org/cl/253259) is bundled into `net/http`.
I filed #42498 about that, it may or may not be related to this issue.

[2020-11-11 00:46] jpap commented on #42477
I would propose:
* No build tags: same semantics as present: it matches on GOOS and/or GOARCH if present, or if not, is always included.
* More than one build tag: AND semantics.
  * This would be the same as having multiple `// +build` lines in a Go source file.  That would be consistent with the existing GOOS/GOARCH semantics; e.g. `*_linux_amd64.syso` means `GOOS=linux` AND `GOARCH=amd64`.
  *

[2020-11-11 00:51] stamblerre opened #42499 "x/tools/gopls: add a second analysis diagnostics pass for changed files"
After the fix to avoid flashing diagnostics (https://golang.org/cl/267817), I now feel a noticeable lag when getting diagnostic results for files with no errors or with analysis errors. I think we should add a second pass that runs diagnostics with analyses on only the changed files, so that those results can come back before the diagnostics for the whole workspace.

/cc @findleyr

[2020-11-11 00:57] networkimprov commented on #30639
Nice, but maybe leading with the version is more readable over time...
[code]

[2020-11-11 01:01] JohnStarich commented on #38692
I see, thank you for your responses. Maybe if someone has some intimate knowledge of the macOS dynamic library situation they can chime in. (I may poke around in my spare time, who knows. 🙂)

Based on the source of `plugin`, it looks like the runtimes must match so that all shared symbols may also match. I agree that does sound like a lot of work for a new approach.
It'd also be interesting if the

[2020-11-11 01:04] dsnet commented on #19858
For a feature related to required fields, I'm somewhat amused that prior art with regard to protocol buffers hasn't been mentioned. Protocol buffers had a "required" label in proto2. Such a feature was considered a grave mistake and removed in proto3. A short explanation of the issue can be found [here](https://github.com/protocolbuffers/protobuf/issues/2497#issuecomment-267422550) and [here](http

[2020-11-11 01:06] jbpratt opened #42500 "runtime: TestNetpollDeadlock is failing"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes. It seems that the failure is happening on 1.15.4 release and dev.go2go branch

<details>

[code]
</details>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code>

[2020-11-11 01:06] dsnet commented on #27366
This seems like duplicate of #6213, or at least has significant overlap.

[2020-11-11 01:26] dsnet commented on #32117
Even with the `,string` modifier, I believe that it should still be parsed according to the JSON number syntax. Users depend on the semantics being well defined so that they can concretely explain to end-users what their services accepts as valid input.

It is simple for users to explain:

Rather than explaining something more obscure like:

One of the purposes of JSON is that it's a language agno

[2020-11-11 01:45] ianlancetaylor commented on #42500
This test failure does not prevent you from using the go2go tool.

I think the dev.go2go branch has served its purpose, and we aren't going to be maintaining it further.  If you only see this problem on the dev.go2go branch, I don't think we're going to look into this any further.

[2020-11-11 02:30] tmthrgd commented on #42328
@carlmjohnson There a lots of .well-known responses that are entirely static. security.txt and mta-sts.txt are two that I use in static sites without issue, and there are others as well.

[2020-11-11 02:41] carlmjohnson commented on #42328
[Yes, I stand corrected, not a few of the `.well-known` responses are static](https://en.wikipedia.org/wiki/List_of_/.well-known/_services_offered_by_webservers) (although not all, including of course the ACME challenge and password redirect).

In any event, it can be handled by doing `//go:embed .well-known/*` explicitly. Are there are dot files (as opposed to dot directories) that someone would

[2020-11-11 02:56] carlmjohnson commented on #42328
As of 8f2db14, the docs for embed say, "Patterns must not match files outside the package's module, such as ‘.git/*’
or symbolic links," but if you put build

[code]

And then init a `.git` directory inside the `example` directory, it shows up at localhost:3434/example/.git/. AFAIK, this .git directory can't actually be served as a Go module, so it's confusing that this would seem to work locally

[2020-11-11 03:18] justkeepsimple commented on #42480
this is test case for go:   [](https://github.com/justkeepsimple/socketRead_go)
this is test case for java:   [](https://github.com/justkeepsimple/socketRead_java)
java`s result is my expect

[2020-11-11 03:19] justkeepsimple commented on #42480
this is test case for go:   https://github.com/justkeepsimple/socketRead_go
this is test case for java:  https://github.com/justkeepsimple/socketRead_java
java`s result is my expect

[2020-11-11 03:32] SanchunLi opened #42501 "new.go"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-11-11 03:35] pingleig commented on #24383
I came across the problem and had a workaround by shell out to macOS's directory service tool `dscacheutil`.
The credit goes to @tweekmonster https://github.com/tweekmonster/luser. The snippet is attached at the end of the comment.

The root cause is macOS queries directory service instead of relying on `/etc/passwd`, you can't even find your own name (`cat /etc/passwd | grep $USER`). So when cgo

[2020-11-11 03:48] fraenkel commented on #42498
I see the problem. I am still trying to figure out how to fix it. The body is never sent so there is no err response from its write.

[2020-11-11 03:48] #42501 closed

[2020-11-11 03:49] martisch commented on #42501
no issue posted. closing.

[2020-11-11 05:08] davecheney commented on #42480
@justkeepsimple there is a bug in your code. This is the fix, https://github.com/justkeepsimple/socketRead_go/pull/3

[2020-11-11 05:31] Delta456 commented on #42454
I have updated the OP as I have resolved `doc.go` display issue, thanks to @seankhliao. Now just the badges are broken.

[2020-11-11 05:52] rogerlucena opened #42502 "Alternatives for the future of runtime.SetCPUProfileRate and pprof.StartCPUProfile"
_Originally posted by @cherrymui in https://github.com/golang/go/issues/40094#issuecomment-655005554_

The pprof package indeed does not allow us to customize the CPU profiling rate at the moment. This was something critical for my application in https://github.com/google/badwolf/pull/155, since the default profiling rate of 100 was extremely low and did not allow me no see anything in my CPU prof

[2020-11-11 05:55] justkeepsimple commented on #42480
thx!!!

[2020-11-11 05:55] #42480 closed

[2020-11-11 06:02] rogerlucena commented on #40094
I have just opened a separate Issue (#42502) defending `runtime.SetCPUProfileRate`, or at least its functionality in the context of `pprof.StartCPUProfile`, explaining one use case on which it was important along with some supporting links as well.

[2020-11-11 06:06] sanjayregmi opened #42503 "`Illegal instruction (core dumped)` when running go on FreeBSD 12.2 on i386 Pentium III"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.15.2,1
</pre>

### Does this issue reproduce with the latest release?
Yes for the version packaged with FreeBSD which is noted above.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

Of course the command dumps an error

[2020-11-11 06:07] #42482 closed

[2020-11-11 06:19] AndrewGMorgan commented on #42494
It would appear that this is an issue at HEAD and at least as far back as go1.10.8 (I've not looked further back):

The test code, a cgo program that performs one privileged system call via glibc: `seteuid()` with or without go killing threads somewhat in parallel:
[code]

For the testing, I downloaded sdk builds for `linux/amd64` and ran them on a Fedora release 32 machine running:
[code]

This i

[2020-11-11 06:34] randall77 commented on #42503
If you haven't already, try running with `GO386=387`. See https://github.com/golang/go/wiki/MinimumRequirements#386
(Note: this will change to `GO386=softfloat` in 1.16.)

If you could show us the output of the freebsd equivalent of `cat /proc/cpuinfo` (`dmidecode`? `sysctl hw`? Not sure.), that might help. In particular, does it have sse2?

[2020-11-11 06:40] stamblerre commented on #38278
A while back, @findleyr and I discussed a related topic which might allow us to get accurate analysis results for dependencies without the memory cost of keeping full ASTs in memory. Rob suggested that we could try pruning the ASTs after analysis runs, so the facts generated by analyses would be correct, but we would not pay the cost of keeping the full ASTs in memory.

[2020-11-11 06:43] AndrewGMorgan commented on #42494
I get essentially the same result using a modified version of the same program which uses the [`psx`](https://pkg.go.dev/kernel.org/pub/linux/libs/security/libcap/psxl) cgo package and doesn't depend on glibc's `setxid` mechanism:
[code]

The result being:
[code]

I think I'm going to explore this issue using this `psx` package since I'm more familiar with those moving parts.

[2020-11-11 07:15] martisch commented on #42503
There are no Pentium III with SSE2 (was introduced in Pentium 4) so this could just be not having compiled the binary with GO386=387 to avoid the SSE2 instructions that CPU doesnt support.

[2020-11-11 07:46] Merovius commented on #42328
I agree that it's counterintuitive. But the question is, if you run into a problem with it, how long will it take you to discover it, figure out the cause and fix the problem? How long will it take you if you *didn't* realize a dot-file was included, but shouldn't?

The precedent of the go tool ignoring directories starting with `.`, `_` or called `testdata` was mentioned above.

As far as I'm con

[2020-11-11 07:46] leventov commented on #5045
Currently, [the usage examples of `atomic.Value`](https://golang.org/pkg/sync/atomic/#Value) are unsound without defining the happens-before relationships between `Store()` and `Load()`.

[2020-11-11 09:00] rogpeppe commented on #40127
@dsnet That's a good call. I _think_ you're right, but it would be good to have definite assurance here (and we could mention FormatFloat in the docs too).

[2020-11-11 09:12] mvdan commented on #30639
I guess that depends on whether you'd like to group the "hide" directives by Go version, or by exported name. I think I'd do the latter, since they should be right next to the declaration itself.

[2020-11-11 10:00] mvdan opened #42504 "proposal: cmd/go: add "go list -tags any""
**Edit**: see the current proposal at https://github.com/golang/go/issues/42504#issuecomment-3711258325.

---

I realise that the point of `go list` is to list packages, and I realise that one must generally obey build constraints when loading packages. For example, it makes no sense to try to type-check all the Go files in a package while ignoring build constraints, because there will likely be d

[2020-11-11 10:08] mvdan commented on #42504
The main counter-argument I see to this flag solution is that it could make `go list` harder to understand. Right now, it always obeys build constraints when looking at packages, and it only has a second mode: `-m` for instead working with modules.

However, I think this third mode would be fairly niche, and we could explain it rather simply: list packages while ignoring build constraints, hence *

[2020-11-11 10:11] fxrlv opened #42505 "runtime: Goexit doesn't crash the program"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/fxrlv/Library/Cac

[2020-11-11 10:38] Dynom opened #42506 "html/template escapes + to &#43;"
As far as I know, the `+` character has no special meaning when used as: `<p> This is a plus "+" sign</p>`. However html/template's escaping analysis thinks otherwise. What strikes me as odd is that `template.HTMLEscaper("+")` doesn't provide the same behaviour, even when skipping the [allocation optimisation check](https://golang.org/src/text/template/funcs.go#L631).

### What version of Go are y

[2020-11-11 11:03] mpx commented on #42328
@dmitshur - Should this issue have `release-blocker` and `NeedsDecision` labels? If Go 1.16 includes hidden assets it will be uncomfortable to fix in future since any change will build differently. Ideally this issue would be explicitly considered before the beta/release (even if the project decides to include hidden files).

@rsc - perhaps it would be possible to randomly sample repos which use e

[2020-11-11 11:04] gjasny opened #42507 "Cannot sign darwin / arm64 binaries (dyld_info out of place)"
Hello,

Code-signing of Darwin `arm64` binaries fails.

### What version of Go are you using (`go version`)?

<pre>
$ go version

go version devel +f2e186b877 Wed Nov 11 06:26:05 2020 +0000 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

N/A due to lacking arm64 support

### What operating system and processor architecture are you using (`go env`)?

<details><summary><

[2020-11-11 11:10] leventov opened #42508 "encoding/json: Unmarshal() leaves keys mapping to zeros in `map[string]int` when the value is not an integer"
[code]

Output:
[code]

I think this violates the principle of least astonishment, "b" key shouldn't appear in the output `x` map.

The relevant part of the documentation for [`json.Unmarshal()`](https://golang.org/pkg/encoding/json/#Unmarshal) is:

It doesn't seem to me that it describes the above behaviour.

[2020-11-11 11:21] mvdan commented on #42328
I think we should avoid making the thread longer and let the authors of the embed proposal read the thread and chime in. As far as I can tell, all major points/opinions have been made already.

[2020-11-11 11:25] mvdan commented on #42508
I think this is a valid bug report, and the behavior also surprises me a little. I think it might be simply because the "init" operations (creating a zero value, inserting the key to the map) are out of order.

[2020-11-11 11:42] pascaldekloe commented on #22533
Raw implies unmodified, so we can't collect fields in raw.

The main reason for parsing extended fields together with an expected structure is performance. Using raw per field causes the opposite effect (with multiple parse operations).

Options relying on field order should be avoided. The specifications prohibit such logic explicitly.

[2020-11-11 12:29] rogpeppe commented on #42504
I support the idea here. I've often wanted to enumerate dependencies across all build configurations and it's awkward to do currently (I've built custom solutions to do it in the past).

As for the name of the flag, how about `-all-builds` ?

[2020-11-11 13:15] mvdan commented on #42504
The only reason I tried to avoid "all builds" as a flag name is because, to me, that implies "load and possibly build all build constraint combinations". As if `go list -export -all-builds` would then build an export file for each GOOS/GOARCH platform, for example.

[2020-11-11 13:37] jbpratt commented on #42500
Hey @ianlancetaylor , thanks for the quick reply.

It seems that I am experiencing this issue on latest release on my desktop, though it does not seem to be reproducing on my laptop. We can close this if you would like or I can try to provide some more information, though this seems odd.

[code]

[2020-11-11 13:42] findleyr opened #42509 "x/tools/gopls: synthesize a go.sum file for multi-module workspaces"
In https://golang.org/cl/268597, we're proactively switching to `-mod=readonly` for many go command invocations. Unfortunately, this breaks multi-workspace mode, because our multi-module workspace contains only a `go.mod` file.

We should track `go.sum` files as well, and merge them into a `go.sum` file for the workspace.

[2020-11-11 13:58] empijei commented on #42244
I fear this might be neither. [RFC 2396](https://www.ietf.org/rfc/rfc2396.txt) allows for the [*single slash*](https://www.ietf.org/rfc/rfc2396.txt#:~:text=single%20slash) to be a path separator. This means that a URL with two consecutive slashes implies an empty path segment.

Now, while that spec is clear on the *sintactic* meaning of [an empty path segment](https://www.ietf.org/rfc/rfc2396.txt#

[2020-11-11 14:08] nanokatze commented on #42373
Currently it appears that in syscall package, calls with 64-bit arguments are handled on individual basis https://github.com/golang/go/blob/333e90448a0e55f2e1161853caecf3d30ef3a74a/src/syscall/syscall_windows.go#L416. It appears that your fix would be incomplete as it does not address certain arm-specific peculiarities.

[2020-11-11 14:17] #42366 closed

[2020-11-11 14:17] laboger commented on #42237
https://github.com/golang/go/issues/42402 was closed as a duplicate of this issue.
I recently started seeing hangs when running some benchmarks on ppc64le.

[2020-11-11 14:18] leitzler opened #42510 "access: approvers access for x/tools"
Hi,

I would like access to Trust+1, mainly to shorten the process when authoring CL:s in x/tools.

Gerrit email: leitzler@gmail.com

https://go-review.googlesource.com/#/admin/groups/1005,members

[2020-11-11 14:24] eliben commented on #42489
Your JS code is very clean and easy to grok, kudos :-)

The current algorithm is coded in https://github.com/golang/pkgsite/blob/244535af9dc4b75ff3d387c93e35c60467cbf85e/content/static/js/jump.js#L152

A case-insensitive regexp for the search filter is matched with each potential item in the jump list, and the matching ones are shown - in order of original appearance (which is the alphabetic order

[2020-11-11 14:34] dwschulze commented on #42450
I took out all the `require` and `replace` statements in the `go.mod` and then `go get` started working.  Whatever it was in `go.mod` that was causing the problem it makes no sense at all that `go get` would download every directory in the repo except for the one I was asking for.

I don't know if this is a bug or just an FAQ.

[2020-11-11 14:34] kardianos commented on #42504
For govendor, years ago, I had to re-build `go list` functionality because of this very issue, but that was specific for vendoring that as you note `go mod` handles correctly. Initially go code completion tools also (unfortunately) followed build constraints, but that seems to have been fixed now in recent gopls. So I agree there is strong data points support this need in general. I cannot comment

[2020-11-11 14:40] mvdan commented on #42504
I hadn't thought about `gopls`. Perhaps they have some code that could be eventually replaced with this new flag. cc @stamblerre

[2020-11-11 14:46] seankhliao commented on #42482
`"..."` is for your shell (bash/zsh/...) so it knows to pass the entire thing including spaces as a single argument. Quotes are consumed by the shell before being passed to the program. As part of shell syntax, strings can concatenated by placing them next to each other, in this case `-ldflags=` and `"-X '...'"`; quoting the entire argument would also work `"-ldflags=-X '...'"` and probably makes

[2020-11-11 14:46] dr2chase commented on #30548
Cutting the cost of a call in half  increases text size by 3.5%.
Cutting it to 39 (half of inline budget, minus 1) increases text size by 2%.
I could benchmark for a corresponding performance increase, but my recollection is we won't get it.

By-the-way, the best-looking "floats-all-boats" version of this CL doesn't work for a 3-call if tree.  It includes a budget for how much the "max accounting"

[2020-11-11 14:56] bcmills commented on #42505
Running the second program with `GOTRACEBACK=system` and terminating it with SIGQUIT gives:

[code]

As far as I can tell that's nothing but system goroutines, so this does seem like a bug.

[2020-11-11 14:59] seankhliao commented on #42328
One thing I don't see with the proposals to exclude hidden files is how I would include all of them in a directory tree if I wanted to since the `**` glob is not available for `//go:embed`
[code]

[2020-11-11 15:05] happybeing commented on #41310
I'm new to Go so would appreciate any thoughts on my scenario. I'm not doing the GET directly, but have compiled go-git to wasm and am calling its `repo.Clone()` in the browser, which causes the same error as in the OP. The http requests and responses are there and look ok, but Go has died with the error `fatal error: all goroutines are asleep - deadlock! wasm_exec.js`.

So my question is about wa

[2020-11-11 15:17] jayconrod commented on #42504
This would be useful. We already have some of the code for this in `cmd/go` for module commands.

In `go mod tidy`, the `go` command loads packages in `all` and their tests, ignoring build constraints with one exception: the tag `ignore` is still considered false. That's useful for examples and small one-file programs that are in the same directory as another package. If there's a flag to ignore b

[2020-11-11 15:25] darkLord19 commented on #41310
You can try wrapping repo.Clone() call in a seperate go routine.

[2020-11-11 15:27] mvdan commented on #42504
That would be fine for my use case. The packages I want to list will eventually be loaded in some build configuration, so the `ignore` tag will never really play a part in that. I guess that, if someone has a very niche use case where they want *all* files including those with `+build ignore`, they could use `go list -f {{.Dir}} -newflag` and then grab/copy the entire directory.

Overloading `-tag

[2020-11-11 15:30] mvdan commented on #42504
To clarify in case anyone wonders - this kind of workaround about copying entire directories doesn't help solve the issue in this thread. For example, think packages which contain zero files matching the current build constraints, which wouldn't show up in the `go list` output at all.

[2020-11-11 15:31] carlmjohnson commented on #42328
@seankhliao That's why I'd like examples of the usecases for dotfile embeds. Is there a time when you'd actually need that? What is it? I still can't think of anything besides `.well-known`, which has a good workaround. If we have concrete usecases in mind, we can judge the severity of the problem. Bear in mind also that you can do multiple globs, e.g. `//go:embed .* b/.* c/.*` if there are a fixe

[2020-11-11 15:44] fraenkel commented on #42256
I can explain how the error occurs, but it doesn't explain why.
The test has a client POST some data with a 10s delay on sending the body via an Expect: 100-continue. The server sends back a 403 (Unauthorized) once it receives the headers. The client should receive the 403 and cancel the timer for the body write.

The body is being written after 10s but the timer should have been cancelled.

[2020-11-11 15:47] AndrewGMorgan commented on #42494
So these tests are just stand alone cgo programs to focus on getting to the bottom of these failures from the https://github.com/golang/go/issues/42462#issuecomment-724922673 :
[code]
When I filed this present bug, I had assumed the issue was generic to all Linux architectures, but on the face of it 21 build tests passed. Is there a list of what the other 21 tests are? Do any others include cgo bu

[2020-11-11 15:48] bcmills opened #42512 "net/http: TestTransportReuseConnEmptyResponseBody"
[2020-11-11T14:29:34-c906608/dragonfly-amd64-5_8](https://build.golang.org/log/214fc92726defc328ba38833654ed527ad3e9f4c)

[code]

I've only seen this failure mode once in the logs, so unclear whether it's a regression or a rare-but-existing flake.

CC @bradfitz @neild @odeke-em

[2020-11-11 15:55] bcmills opened #42513 "x/sys: TestClockNanosleep failures with CLOCK_REALTIME"
[code]

Not clear to me whether this is a bug in `x/sys`, a bug in the test itself, or a bug in the underlying platform.

[2020-11-10T21:10:18-35f3e6c/android-386-emu](https://build.golang.org/log/a1b387ecd8a37e9283ee1a323276b371b27ffd47)
[2020-11-06T07:34:44-80594f2/android-386-emu](https://build.golang.org/log/60a0fc920fb430bc9125f7b1e915ad56aaad1b91)
[2020-10-29T08:09:32-201ba4d/android-386-emu

[2020-11-11 15:56] Merovius commented on #42328
@seankhliao You'd have to use `//go:embed static/.dot-one/* static/b/.dot-two`. There wouldn't be a way to recursively embed all hidden files in a subtree. This is probably going to seem annoying if it happens, but the question is how often it would and whether the advantages outweigh that downside.

@mvdan I agree. I've been trying to keep quiet, waiting for feedback from them :) So let's try to

[2020-11-11 15:58] bcmills commented on #36409
[2020-11-10T21:10:18-35f3e6c/netbsd-amd64-9_0](https://build.golang.org/log/7a23733ab73486d33875a71ca0d0c15416383435)
[2020-11-07T08:05:50-4d91cf3/netbsd-386-9_0](https://build.golang.org/log/38d136456f177aaa7d031e467e79303bc739ff0b)
[2020-11-07T08:05:50-4d91cf3/netbsd-amd64-9_0](https://build.golang.org/log/fc4a6ad82a97337b1a9871fb4f72102ddabd130c)
[2020-11-06T08:11:18-db71ae6/netbsd-amd64-9_0](h

[2020-11-11 16:04] bcmills opened #42514 "x/net/http2: "client connection lost" in TestTransportPingWhenReading"
[2020-11-10T03:11:24-69a7880/aix-ppc64](https://build.golang.org/log/16642eebd3191442e485ab8d2e1fe24913ce7921)
[2020-11-10T03:11:24-69a7880/darwin-amd64-10_15](https://build.golang.org/log/d924910a6cf6ead127124447ca26d9a4fdfdaffe)
[2020-11-10T03:11:24-69a7880/linux-arm](https://build.golang.org/log/81e875d61bbb68fa0aad062e37346b01a5b7502c)
[2020-11-10T03:11:24-69a7880/linux-ppc64-buildlet](https:/

[2020-11-11 16:08] aclements commented on #42237
@laboger , @prattmic , I think we're trying to keep this issue focused on the OpenBSD failure, which is now understood to be specific to an OpenBSD kernel bug. But there are clearly other issues on other platforms. Since @laboger reproduced timer hangs on linux/ppc64le and linux/amd64 in #42402, is #42424 really the right issue to merge that into?

[2020-11-11 16:08] aclements commented on #42424
@laboger may have an easy reproducer for this on linux/amd64 (and linux/ppc64le) in #42402.

[2020-11-11 16:10] bcmills commented on #42504
We will need a bit of care with import cycles, though. When ignoring build tags, it is possible to end up with import cycles that are otherwise rejected.
(See https://github.com/golang/go/blob/master/src/cmd/go/testdata/script/mod_tagged_import_cycle.txt.)

[2020-11-11 16:11] dmitshur commented on #42402
Issue #42237 is about OpenBSD specifically, and it will be resolved with #42426.

Reopening this since this is about ppc64le, so it should be investigated separately, although it may be related in some way.

[2020-11-11 16:16] fraenkel commented on #42514
I am thinking that if these are slower machines, we should:
1. not run these tests in parallel
2. allow for more variance on expected timings

The tests that are failing are given 200-300ms to succeed which is probably too small if we have 4 tests running concurrently and slower hardware.

[2020-11-11 16:16] bcmills opened #42515 "runtime: test timeouts / deadlocks on NetBSD after CL 232298"
(Issue forked from #42237; see https://github.com/golang/go/issues/42237#issuecomment-723337931.)

[2020-11-11T06:26:05-f2e186b/netbsd-amd64-9_0](https://build.golang.org/log/d7d14bc97d5a8f9946211797dcfcc2edd1bcbb94)
[2020-11-10T18:42:47-8f2db14/netbsd-386-9_0](https://build.golang.org/log/7d4585204b0f1e868773df40ccbcc5d08cf25201)
[2020-11-10T18:33:37-b2ef159/netbsd-386-9_0](https://build.golang.o

[2020-11-11 16:16] dmitshur commented on #42237
@aclements I agree that #42402 shouldn't be closed as duplicate of this.

Given @prattmic's analysis above and that #42426 is in NeedsFix state now, I don't think there's anything more to do here for OpenBSD in Go 1.16 specifically and this can be closed. Is my understanding right?

[2020-11-11 16:17] bcmills commented on #42515
[2020-10-14T08:05:58-fc3a6f4/netbsd-amd64-9_0](https://build.golang.org/log/3fa629f2e64676e3ace46dcc3537869d8d218fa8)

has similar symptoms from before CL 232298, but it's the only such occurrence, and the failure rate is markedly higher since then.

[2020-11-11 16:19] happybeing commented on #41310
Thanks. I'm trying the following, but maybe it can only work if `Clone()` only does a single fetch(), because I'm seeing the `Clone()` get further (more console output) but still fail with the same error.

This is in a funciton called via the wasm go bridge so I can't put it in a playground:
[code]

Or might the problem remain because this is (I think) a nested goroutine?

[2020-11-11 16:29] iceiceleo commented on #36435
@4a6f656c please read this: https://utcc.utoronto.ca/~cks/space/blog/programming/GoCLibraryAPIIssues
and this: https://utcc.utoronto.ca/~cks/space/blog/unix/CLibraryAPIRequiresC

[2020-11-11 16:29] bcmills commented on #42515
(CC @prattmic @aclements @ChrisHines @bsiegert @coypoop)

[2020-11-11 16:30] prattmic commented on #42237
@dmitshur Correct. There is nothing more than needs to be done here for OpenBSD. #42426 covers it.

[2020-11-11 16:30] #42237 closed

[2020-11-11 16:35] dandragona-dev opened #42516 "proposal: x/crytpo/acme: Add Account Key Rollover Support"
[RFC8555's Account Key Rollover ](https://tools.ietf.org/html/rfc8555#section-7.3.5) is not yet supported in the acme package. This is a desirable RFC8555 feature that is supported by Let's Encrypt, and so CAs depending on this library may wish to also implement this feature.

The public API for this could be something like:

[code]

[2020-11-11 16:51] mislav commented on #38736
@alexbrainman Thank you for adding context and your thoughts.

I agree that adding a new `LookPath*` function could be generally confusing when the two are viewed side-by-side. However, I also find it entirely reasonable that someone would want a utility to only search in PATH and _not_ the current directory.

I have created the https://github.com/cli/safeexec module to provide such a `LookPath` i

[2020-11-11 16:51] bcmills commented on #42450
@dwschulze, you didn't mention any `require` or `replace` statements in the original report!

That could certainly explain it, but we'd need more detail to figure out how that maps to the behavior you observed.

[2020-11-11 16:54] vext01 opened #42517 "cmd/compile: SIGILL when building golang.org/x/sys/unix on openbsd/arm64"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.2 openbsd/arm64
</pre>

### Does this issue reproduce with the latest release?

I don't know. I noticed the issue [here](https://github.com/shirou/gopsutil/pull/993#issuecomment-724662649). I then cloned [this repo](https://github.com/golang/sys) and ran `go build` in the `unix` directory. The problem can be

[2020-11-11 16:59] bsiegert commented on #42515
/cc @tklauser

This issue together with #42422 means that the NetBSD builders are much more flaky than we would like :(

[2020-11-11 17:01] bsiegert commented on #42422
/cc @tklauser

As a result of an off-list discussion with @coypoop, I upgraded the kernel last weekend to NetBSD 9.99.75. This did not solve the issue. For now, we do not have usable coredumps, which suggests that some sort of memory corruption may be involved.

[2020-11-11 17:03] mknyszek commented on #37331
Oh, I also want to note #40460 which is probably related. I could likely prove it with an execution trace. Will look into this soon.

[2020-11-11 17:10] eliben opened #42518 "x/pkgsite: uncaught JS errors on FireFox -- "Failed to execute 'close' on dialog""
### What is the URL of the page with the issue?

http://localhost:8080/github.com/gin-gonic/gin

### What is your user agent?

Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:81.0) Gecko/20100101 Firefox/81.0

### Screenshot

![ff](https://user-images.githubusercontent.com/1130906/98841819-7e718900-23fd-11eb-932a-24883848702f.png)

### What did you do?

Press 'f' to jump to symbol, then select one of t

[2020-11-11 17:15] cyanBone opened #42519 "One more point"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15.4 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN="/Users/cyanbone/Application/go/bi

[2020-11-11 17:22] cherrymui commented on #42507
Thanks for reporting. I don't know what the requirements for code-signing are, but I'll look into it.

[2020-11-11 17:25] #42519 closed

[2020-11-11 17:25] AndrewGMorgan commented on #42494
I guess for completeness, here is the same code which runs the new (targeted to 1.16) syscall.AllThreadsSyscall() function (this is just a more explicit variant of what the syscall.Seteuid() function does when not needing cgo):
[code]

The result being the intended one:
[code]

[2020-11-11 17:29] ianthehat commented on #42504
It transforms the ouptut of go list from a DAG to a true graph, and there are real world cases of this. It would never be feasible to have a version of the go/packages API that sat on top of this for instance (which if it was just a special tag would end up happening)
I do think that it would be a valuable feature, but it really does need to be called out as a special case that you have to hold ca

[2020-11-11 17:30] tkleczek commented on #39679
Recently, not being aware that Done panics if counter goes negative I wrote the following code (basically I wanted to ublock main as soon as any of the goroutines exit)
https://play.golang.org/p/3f_9iOk7GEY

If the docs were clearer on Done behavior, this would not have happened

[2020-11-11 17:54] 4a6f656c commented on #36435
@randall77 @ianlancetaylor - I've been informed that OpenBSD will be removing the direct syscall exception for Go binaries in March 2021, prior to the OpenBSD 6.9 release in May 2021. Unfortunately, this means that as things currently stand, Go 1.16 (released February 2021) will not work on OpenBSD 6.9 (released May 2021). Presuming patches land, Go 1.17 would resume working on OpenBSD 6.9, but th

[2020-11-11 17:55] julieqiu commented on #42518
/cc @jamalc

[2020-11-11 17:59] ianlancetaylor commented on #42505
This doesn't seem like a serious bug.  Without the import of net/http, the program crashes with `no goroutines (main called runtime.Goexit) - deadlock!`.  With the import of net/http, the program doesn't crash because it is a cgo program.  See #25538.  That issue was closed, but this one could be fixed in principle because the use of cgo is only implicit.

[2020-11-11 18:05] rsc commented on #29982
Given the other suggestions that have come in related to this package, it seems like we should move it back into active discussion. In the previous comment I mentioned that having a package means we can have more interesting functionality like sizeof.Map - how much memory does the entire map take up? - and so on. So maybe we should put off introducing these basic constants until we have a full pic

[2020-11-11 18:06] rsc commented on #37836
No change in consensus, so declined.

[2020-11-11 18:06] #37836 closed

[2020-11-11 18:07] rsc commented on #32406
No change in consensus, so accepted. But we should probably wait for Go 1.17.

[2020-11-11 18:07] rsc commented on #42102
No change in consensus, so accepted.

[2020-11-11 18:07] rsc commented on #41790
No change in consensus, so accepted.

[2020-11-11 18:07] rsc commented on #41980
No change in consensus, so accepted.

[2020-11-11 18:08] rsc commented on #42026
Instead of "virtual files" say "virtual data streams" and you're all set!

[2020-11-11 18:08] rsc commented on #42026
No change in consensus, so accepted.

[2020-11-11 18:12] ianlancetaylor commented on #42460
CC @kardianos

[2020-11-11 18:13] rsc commented on #42328
We very much want the patterns passed to //go:embed to be evaluated with exactly filepath.Glob, not "Glob with special cases". So `*` should keep matching `.foo`, since it does in Glob.

But when you name a directory explicitly, as in `//go:embed dir`, probably the code that walks over the directory collecting files should ignore `.*` files and `_*` files, the same as the go command does for decid

[2020-11-11 18:15] rsc commented on #41824
Given how potentially disruptive this change would be and that people who _do_ want to run benchmarks as tests can already use

    go test -bench=. -benchtime=1x

it seems like we should probably leave things as is otherwise. Thoughts?

[2020-11-11 18:15] #42110 closed

[2020-11-11 18:20] thanm commented on #42216
@gopherbot please open a backport issue for 1.15.

[2020-11-11 18:21] gopherbot opened #42520 "time: LoadLocationFromTZData with slim tzdata uses wrong cached zone [1.15 backport]"
@thanm requested issue #42216 to be considered for backport to the next 1.15 minor release.

[2020-11-11 18:21] thanm commented on #42520
Closing this issue, created by accident.

[2020-11-11 18:21] #42520 closed

[2020-11-11 18:22] thanm commented on #42484
@gopherbot please open a backport issue for 1.15.

[2020-11-11 18:22] gopherbot opened #42521 "cmd/link: debug_line can contain multiple entries for the same PC address in Go 1.15.4 [1.15 backport]"
@thanm requested issue #42484 to be considered for backport to the next 1.15 minor release.

[2020-11-11 18:22] rsc commented on #40135
We certainly write code to do this operation all the time. Even just grepping for 'Index.* >=' in the Go tree I find plenty of code like:

	if i := strings.Index(line, "#"); i >= 0 {
		line = line[:i]
	}

and

	if i := strings.Index(raw, "@"); i >= 0 {
		pattern, rawVers = raw[:i], raw[i+1:]
		if strings.Contains(rawVers, "@") || rawVers == "" {
			return nil, fmt.Errorf("invalid module version sy

[2020-11-11 18:23] rsc commented on #40169
Putting on hold with the other sizeof issue (#29982).

[2020-11-11 18:23] rsc commented on #40592
Based on the discussion above, this seems like a **likely accept** (for Go 1.17).

[2020-11-11 18:24] Merovius commented on #42328
I think it's a fine middle ground. I would expect `foo/*` etc. to be a relatively rare case because `foo` (on the surface) is more direct and globs to be more specific, like `foo/*.html`. In which case the concern of accidental inclusion is much lower. And even if people do, I guess it will be sufficiently simple to establish the caveat culturally.

I'm all for it.

[2020-11-11 18:26] rsc commented on #40155
The new flag.Func does work well for this, as @carlmjohnson points out. That's how we implement `-I` today in the compiler: we have an addImportDir function that gets called for each argument. And for things like `-Dname=value` it can be easier to parse the name=value string directly, during the function call, instead of having to get a separate []string and process that into the actual form you n

[2020-11-11 18:27] rsc commented on #41495
Based on the discussion above, this seems like a **likely decline**.

[2020-11-11 18:27] ianlancetaylor commented on #39650
Taking this issue out of the proposal process.

[2020-11-11 18:28] rsc commented on #42173
@rob05c, your response mostly mentions what happens on "read error". What about seek errors? How do the servers respond to that?

And can someone check Apache or nginx? Thanks.

[2020-11-11 18:28] ianlancetaylor commented on #39609
CC @bradfitz @neild

[2020-11-11 18:28] rsc commented on #40405
/cc @bcmills @jayconrod @matloob

[2020-11-11 18:29] rsc commented on #40521
Ping, @FiloSottile

[2020-11-11 18:30] rsc commented on #40127
Yes, strconv.FormatFloat produces valid JSON for finite numbers, except perhaps if you use prec=0 with 'f'.

[2020-11-11 18:30] rsc commented on #40127
Based on the discussion above, this seems like a **likely accept**.

[2020-11-11 18:32] rsc commented on #40128
OK, so returning the decoded string in a temporary buffer seems like a good solution to me. @dsnet, are you OK with that?

[2020-11-11 18:32] ianthehat commented on #42328
I think that if we were to add the ** pattern, many more embeds could be of the more explicit glob include form rather than pulling in an entire directory. Things like `//go:embed mydir/**/*.html` could become the common pattern and be safer and without any magic that you have to understand.

[2020-11-11 18:33] rsc commented on #41792
OK, retitled to be about panicking for names beginning with - or containing = signs.
Does anyone object to that?

[2020-11-11 18:33] bcmills commented on #42504
@ianthehat, FWIW I suspect that the existing `-e` flag also transforms the output from a DAG to a graph, or at least would if it worked as often as we want it to. (Cycles cause an error, but `-e` suppresses errors.) So tools built on top of `go list -e` probably already need to know how to handle cycles, and I'm not sure how many tools build on `go list` today _don't_ want `-e`.

[2020-11-11 18:35] rob05c commented on #42173
I said "read" but I meant "read or seek." ATS and Grove both behave the same on seek errors. Also to be clear, ATS behavior can be a file or a raw block device, and almost all large production deployments use block devices. In which case there's no difference.

[2020-11-11 18:37] nightlyone commented on #10570
Note that @mvdan actually implemented this in https://github.com/mvdan/gofumpt as one of the additional rules it supports. So it seems possible.

@mvdan could you give some implementation hints or contribute the solution back?

[2020-11-11 18:38] rsc commented on #42477
This seems very advanced and specific, and I'm a bit reluctant to make syso and file selection far more complicated just to support this rare case.

It seems like you can already make this work today. Suppose you have a package p, and you put two (or more) files like:

   //go:build iphone
   package p
   import _ "p/iphone_syso"

and:

   //go:build tv
   package p
   import _ "p/tv_syso"

and so

[2020-11-11 18:41] rsc commented on #42322
When we talked about adding this during the proposal discussion on Reddit, I was thinking it could be called just fs.Sub, as in sub-tree. Chroot is a bit too obscure (but accurate!), and WithPrefix is maybe too much about the mechanics (and maybe inaccurate! The argument to Open is _without_ the prefix).

I was thinking we could put this off until the next release and get more experience with io/f

[2020-11-11 18:43] rsc commented on #41993
Does anyone want to describe a time when the speed of NewAt was too slow?
We think we know how to make it faster but it would be nice to understand what we would be making faster, if anything, to justify the added complexity and slight size overhead.

[2020-11-11 18:44] rsc commented on #40168
Putting on hold along with #29982.

[2020-11-11 18:45] rsc commented on #42009
Based on the discussion above, this seems like a **likely decline**.

[2020-11-11 18:50] happybeing commented on #41310
I think I have solved this, the issue remained because I was waiting on the result so if I remove the WaitGroup altogether and just create the goroutine as it, it doesn't exit as in:
[code]
It doesn't clone the repo, but that's a different issue. Thanks for your help.

[2020-11-11 18:52] rsc commented on #41625
It looks like if WordDecoder.CharsetReader returns _any_ error, that should be taken to mean "character set not supported".
It's unclear why we'd need to export a specific error when every error result should mean that.

So maybe some code in mime or net/mail needs to be more careful about doing that, and there is just a bug here.

[2020-11-11 18:53] rsc commented on #42201
It seems like we are not really headed for a consensus. Maybe this would be better to do in an external package to start?

[2020-11-11 18:55] nightlyone commented on #40135
Since we pass in the separator, one could also return an OK bool instead of the separator.

For this I would suggest
[code]
[code]

[2020-11-11 19:02] rsc commented on #39609
I'm a bit confused about SameSiteUnsetMode vs SameSiteDefaultMode vs SameSiteNoneMode.
(I know what they mean, I just find the names confusing.)
It seems like leaving 0 for "there's just no SameSite at all" might be clearer.

Also, based on the change made for #36990, the proposed SameSiteUnsetMode would be _exactly the same_ as SameSiteDefaultMode, which is even more confusing.

It's unfortunate

[2020-11-11 19:04] carlmjohnson commented on #42322
What should the SubFS interface look like? `Sub(string) (FS, error)`? Will it work with the not implemented error (I forget which name won for that)? SGTM as long as it returns some error.

[2020-11-11 19:05] heschik commented on #41890
The problem is that I really don't know what the problem is. Right now all I know is that the heap is much bigger than the packages you're loading would seem to justify, and I have no idea why. Without the ability to reproduce, or even just look at fully-detailed logs, I'm unfortunately stumped.

If you're willing to share more information privately, maybe I'll be able to figure out more. Otherwis

[2020-11-11 19:05] rsc commented on #40135
@nightlyone indeed, that signature is much better! Thanks.

[2020-11-11 19:07] rsc commented on #33502
**2020-11-11 / @rsc, @griesemer, @ianlancetaylor, @bradfitz**

- #42168 **add first-class Cross Site Request Forgery protection**
  - discussion ongoing
- #42328 **cmd/go: avoid surprising inclusion of "hidden" files when using //go:embed**
  - commented
- #42477 **cmd/go: build tag in filename suffix for matching of syso files**
  - comment
- #40405 **cmd/go: detect proxy redirect loops**
  - dis

[2020-11-11 19:19] cherrymui commented on #42477
Yeah, this is what I suggested in https://github.com/golang/go/issues/38485#issuecomment-719962834

[2020-11-11 19:21] kalexmills opened #42522 "cmd/go2go: Panic in type checker"
### What version of Go are you using (`go version`)?

<pre>
Whatever is deployed at go2goplay.golang.org as of 11/11/2020 1:21 PM CST.
</pre>

### Does this issue reproduce with the latest release?
Presumably... I only tried it at go2goplay.golang.org

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ g

[2020-11-11 19:37] pjediny commented on #39609
@rsc Yes, the names are confusing, I'm currently discussing the changes for #36990. @FiloSottile proposed instead of `SameSiteUnset` instead of `SameSiteUnsetMode` and I think it's a step in the right direction, helping to distinguish the zero value from samesite modes.

The idea is to revert the #36990 change and deprecate the `SameSiteDefaultMode` instead so the user who rely on the old spec beh

[2020-11-11 19:50] beoran commented on #36435
Here, I agree with @iceiceleo that OpenBSD (as wel as Solaris, Windows, etc) are in the wrong. A kernel should have a stable programming language-neutral direct syscall interface. It's unfortunate that we have to hurry a patch for Go for this.

[2020-11-11 19:50] Merovius commented on #42322
I agree that the interface should return an error, because if, for example, `dir` does not exist, it makes sense to report that sooner rather than later. And if the method returns an error, so should `fs.Sub` itself.
However, I don't think the method would ever need to return `ErrNotImplemented` (or somesuch) because it can always safely fall back to `fs.Sub`.

[2020-11-11 20:01] madpipeline commented on #28065
Not sure if this was made clear so far or not, but I'm experiencing this issue on all **alpine** based official golang docker images. Of course it can be mitigated by setting `CGO_ENABLED=0` or using `go test -vet=off`. This issue is not present on the **buster** based images.

This throws me back to https://github.com/golang/go/issues/28065#issuecomment-427664236. What's the point of distributing

[2020-11-11 20:01] hherman1 commented on #42328
Sorry if this is already answered, but why does it matter if .DS_Store gets embedded?

[2020-11-11 20:04] ianlancetaylor commented on #36435
I think it would be reasonable to have a freeze-exception for changes specific to OpenBSD code and build tags.  But the code would need to get it quite soon.  I see that some CLs were already sent above; are more CLs needed?  Is anybody reviewing those CLs?

[2020-11-11 20:04] griesemer commented on #42522
This is a bug in the type-checker in the prototype; but it works with the most-up-to-date implementation in `dev.typeparams`:
[code]
where `x.go` contains the [linked program](https://go2goplay.golang.org/p/rC4sofqXuA5), and the compiler was built from the `dev.typeparams` branch (note that the compiler doesn't generate code - it just type-checks).

cc: @findleyr

[2020-11-11 20:16] ianlancetaylor commented on #42465
I agree that we should call `_exit` rather than `exit` on Darwin.

[2020-11-11 20:22] ianlancetaylor commented on #42431
On GNU/Linux we had a similar problem that turned out to be because the C library would sometimes open `/sys/devices/system/cpu/online`.  See https://github.com/golang/go/issues/25628#issuecomment-613036233 .

Is it possible to write something similar to https://golang.org/cl/225799 for Illumos, to help identify what file is being opened?

[2020-11-11 20:27] #41122 closed

[2020-11-11 20:35] pascaldekloe commented on #40135
Since when does Go favour functions to save a line or two? 😞 Who wants to remember all those names, including the argument order? There are quite a few non-trivial things missing in the strings package. If there's room for growth then this cannot be the priority. 🙏

[2020-11-11 20:36] smoyer64 opened #42523 "syscall/js: Common DOM event handler pattern panics during handleEvent()"
### What version of Go are you using (`go version`)?

1.15.4

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

This is for a WASM target.

### What did you do?

It's common for even handler in Javascript to not return a value at all.  This is most analog to 'js.Undefined()' in `js.go`.  Handle event tries t

[2020-11-11 20:42] ianlancetaylor commented on #42500
The test works by opening a TCP connection to port `14356` on `localhost`.  It appears that opening that TCP connection is hanging over some reason.  What happens if you run `telnet localhost 14356`?

[2020-11-11 20:45] jayconrod opened #42524 "cmd/go: 'go mod download' can't request version of the main module"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +8f2db14cd3 Tue Nov 10 18:42:47 2020 +0000 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

No, this is a regression.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODUL

[2020-11-11 20:50] #42462 closed

[2020-11-11 20:58] prattmic opened #42525 "os: TestChown and friends fail in a user namespace"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +b641f0dcf4 Wed Nov 11 20:26:44 2020 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes, this is not a new issue.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MO

[2020-11-11 21:08] shazow opened #42526 "x/pkgsite: Failing to fetch new version of github.com/shazow/ssh-chat"
### What is the URL of the page with the issue?

 https://pkg.go.dev/github.com/shazow/ssh-chat

### What is your user agent?

Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.27 Safari/537.36

### Screenshot

![image](https://user-images.githubusercontent.com/6292/98864257-92d27780-2437-11eb-827d-15afc51b4019.png)

### What did you do?

Try to load a newer t

[2020-11-11 21:10] carlmjohnson commented on #42328
.DS_Store is mostly just a nuisance rather than a security risk for the most part, but if you were publishing a static set of files but didn't want them indexed (e.g. there are files with an 'unguessable' name which contain valuable information), accessing the .DS_Store would allow an attacker to get the list of all file names. See [here](https://0day.work/parsing-the-ds_store-file-format/) (and t

[2020-11-11 21:15] jpap commented on #42477
[snipped]

Thank you for reviewing the proposal, @rsc.

My outline could have been more clear on your workaround, also suggested by @cherrymui: it was referred to the "sub-package" approach without further detail.  I've updated the proposal at the top of this thread, and also included more clarity on the treatment of multiple build tags.

Compared to the workaround available today, both @cherrymui

[2020-11-11 21:26] martisch commented on #40135
@pascaldekloe can you list the issue numbers of some open string package proposals that should be prioritized?

[2020-11-11 21:41] stamblerre commented on #41504
@myitcv: Would you be willing to contribute a CL for this? We're happy to do it, but it likely won't be prioritized for a while. The file watching glob patterns can be found [here](https://github.com/golang/tools/blob/5794f8bd7a57a49a8c82124c0ee90c0c2d22ca0a/internal/lsp/general.go#L364), and the cases that should be ignored are [here](https://github.com/golang/tools/blob/ccabf82fa1aef57afc4686de4

[2020-11-11 21:42] kalexmills commented on #42522
@griesemer Ok cool! This issue can be closed as far as I'm concerned.

I'll check twice before submitting anything from the go2go playground again.

[2020-11-11 21:43] myitcv commented on #41504
@stamblerre I'm very unlikely to get to this for some time unfortunately. So please feel free to offer to anyone else who might be interested in taking this on. Thanks for checking in any case.

[2020-11-11 21:50] anacrolix commented on #41312
https://pkg.go.dev/github.com/anacrolix/torrent@master as an example, does not work.