[2016-12-12 22:23] lukescott commented on #11940
If we had a way to do streaming without involving channels, that would solve the problem for me 👍 .

Is there a proposal that covers the Marshaler? Does one need to be created?

[2016-12-12 22:28] josharian commented on #18119
@bradfitz in your example, `go get github.com/org-may-not-exist` would fail, not check out a named package, because go get for github requires both an org/user and a repo name. And it can't just using the first arg verbatim (attached to $GOPATH) because that would disagree with 'go get' on custom import paths. At which point you're going through cmd/go's repoRootForImportPath anyway, so we may as

[2016-12-12 22:30] bradfitz commented on #15735
Actually, the more I think about this, I don't even want my idle HTTP/RPC goroutines to stick around blocked in a read call. In addition to the array memory backed by the slice given to `Read`, the goroutine itself is ~4KB of wasted memory.

What I'd really like is a way to register a `func()` to run when my `*net.TCPConn` is readable (when a `Read` call wouldn't block). By analogy, I want the `ti

[2016-12-12 22:32] quentinmit commented on #18203
@bradfitz Yeah, it's ostensibly open source. The entry point is at https://opensource.apple.com/source/Security/Security-57740.20.22/SecurityTool/verify_cert.c.auto.html

[2016-12-12 22:33] bradfitz commented on #18119
The idea was this would be done purely lexically. It would not hit the network or attempt to parse the arguments in any way (including using repoRootForImportPath)

[2016-12-12 22:41] josharian commented on #18119
Ok, but to be super clear, then, it is definitely not true that:

[2016-12-12 22:44] bradfitz commented on #18119
"would attempt to check out" ?

Are you just saying we're missing the words "attempt to" or "try to"?

[2016-12-12 22:51] josharian commented on #18119
I guess? In the case of `github.com/foo`, 'go get' will always fail, it would never attempt anything. But I guess its something like that. Here are more questions. (None of which are to say this is a bad idea. Just probing edge cases.)

What would `go get -printdir rsc.io/pdf/...` print? The `...` reproduced verbatim? Would `go get -printdir context` print something in $GOROOT or something in the

[2016-12-12 22:59] josharian commented on #18119
As an aside, for the specific `mkdir -p && cd && git clone` sequence above, you don't need the intermediate dirs to exist. `git clone url dest` will do a `mkdir -p dest` for you and put the code in the right place. If that's the primary use case, maybe we don't need `github.com/does-not-exist` to work?

[2016-12-12 23:07] ianlancetaylor commented on #15735
Sounds like you are getting close to #15021.

I'm worried that the existence of such a method will encourage people to start writing their code as callbacks rather than as straightforward goroutines.

[2016-12-12 23:13] dr2chase commented on #13086
Do something crudely random, say allow barging (N-1)/N of the time, hand off 1/N?  Pick N a power of two, use a super-crude (i.e., fast) RNG and just check for the lower log2(N) bits zero.

[2016-12-12 23:14] bradfitz commented on #18119
Verbatim verbatim.

The code would literally be:

[code]

[2016-12-12 23:17] bradfitz commented on #15735
Yeah. I'm conflicted. I see the benefits and the opportunity for overuse.

[2016-12-12 23:19] philhofer opened #18293 "cmd/internal/obj: armv7 (and arm64) should not use constant pools"
The `movw` and `movt` instructions were introduced in ARMv7 to improve the performance of immediate generation.

An instruction sequence like
[code]
can be retired in a single cycle by some of the more modern Cortex-A chips (in both the 32- and 64-bit variety.)

The ARMv8 equivalent (for `0xb01dfacedebac1e0`) would be
[code]
and can be retired in as little as one or two cycles as well (but this ti

[2016-12-12 23:25] #18140 closed

[2016-12-12 23:30] philhofer commented on #13086
It seems like the unfairness only becomes a noticeable problem when the lock is held for a "very long time" (or, in other words, when the lock holder reschedules while holding the lock). You could detect that condition by looking at how long the lock is held on average, or by looking at the lock queue depth (or the wait time of the goroutine at the head of the queue).

[2016-12-12 23:32] bradfitz commented on #599
@davecheney, what's the background for reopening this?

[2016-12-12 23:33] philhofer commented on #13086
In other words, if the semaphore was fair (I know it's not now), then you could choose lock handoff if the next goroutine on the semaphore had been waiting for longer than 10ms.

[2016-12-12 23:48] randall77 commented on #18293
@cherrymui

[2016-12-12 23:49] davecheney commented on #599
The CL closes issue #18140, not this one
[code]

[2016-12-12 23:50] philhofer commented on #18237
We just finished our first set of runs on 1.8, and things look pretty much identical on our x86 machines.
[code]

[2016-12-12 23:52] bradfitz commented on #599
Hah, thanks.

[2016-12-13 00:04] bradfitz commented on #18287
I've looked at this a fair bit now and can't see how it happens yet, unless your clock goes backwards (NTP updates?) after the timeout, but before this line runs:

[code]

But I don't really like that theory.

How easily can you reproduce this?

[2016-12-13 00:17] broady commented on #18289
It's live

[2016-12-13 00:17] #18289 closed

[2016-12-13 00:20] mikioh commented on #18285
@dhananjay92,

See https://build.golang.org.

The cmd/cover package just generates annotated source files. So just guessing that some modification to runtime package during Go 1.8 development cycle breaks the existing plumbing work for shared libraries.

[2016-12-13 00:34] tdilo commented on #18256
Detecting duplicate names defined through `XMLName` is harder than anticipated. An example:
[code]

By now I have a hacky proof of concept using a two-pass approach that does not detect DupAttr2 and generates duplicate error messages when one of the duplicate tags is malformed. On the upside, that approach mostly leaves `checkCanonicalFieldTag` untouched and just adds a new function and some plumb

[2016-12-13 00:34] Deozaan opened #18294 "cmd/go: "go help gopath" gives no information on how to set $GOPATH"
### What version of Go are you using (`go version`)?

go version go1.7.4 windows/amd64

### What operating system and processor architecture are you using (`go env`)?

Windows 10 (amd64)

### What did you do?

I installed Go and tried to install golint (`go get -u -v github.com/golang/lint/golint`), but got the following error:

### What did you expect to see?

I expected information on how to res

[2016-12-13 00:35] alexbrainman commented on #18287
I doubt. I have never seen my clock going backwards.

Easy enough. If you have some patches for me to try, I am pretty sure I can make it fail.

Alex

[2016-12-13 00:48] bradfitz commented on #18287
You probably don't notice, but your operating system adjusts the system time regularly by small amounts if your clock goes slightly too slow or too fast.

[2016-12-13 00:49] ianlancetaylor commented on #18286
The test `TestStdinCloseRace` starts a child process that reads from standard input.  It starts one goroutine that kills the child process, and one goroutine that writes a string to the child's standard input.  In the normal case, the process should be killed, so `Wait` should return a non-zero exit status.

That said, the test does seem to itself have a race condition, in that it is possible for

[2016-12-13 00:49] bradfitz commented on #18294
/cc @broady @rakyll @rsc

[2016-12-13 00:57] ianlancetaylor commented on #18267
I think it's OK if the changes only touch MIPS-specific code.

[2016-12-13 00:58] ianlancetaylor commented on #15680
The effect of this was rolled back by CL 34284, which changed cmd/go to pass .s files to cmd/asm one at a time.  When the assembler is fixed so that the test added by that CL passes, then the non-test part of the CL can be rolled back and this issue will be fixed again.

[2016-12-13 00:58] #18225 closed

[2016-12-13 01:00] bradfitz commented on #18267
@vstefanovic, can you send it in the next day or two? The next (and maybe last) beta is Thursday. It would need to be in by Wednesday night (US/Pacific), but it also needs review time.

[2016-12-13 01:01] minux commented on #18267
Should we fix the softfloat first? That seems to be the biggest
complaint from user?

[2016-12-13 01:07] minux commented on #18293
It's OK to generate MOVT/MOVW when GOARM=7
(just make sure not use these for addresses that
needs dynamic relocations.)

But what about floating point constants?

[2016-12-13 01:13] cherrymui commented on #18293
For ARM32, I am not sure we want very different mechanisms for this on GOARM=7 or not.
For ARM64, it looks like worth an experiment in Go 1.9.

[2016-12-13 01:13] rsc commented on #18289
Thanks Chris.

[2016-12-13 01:16] rsc commented on #18119
No, that's the wrong implementation. The whole point of going down this 'go get -printdir' path was because the answer varies by import path. If the target already exists in a later entry in GOPATH, go get will use that one. Josh is right that you really need to give it the actual package you care about. The script is wrong. It should be:

[code]

(note dot at end of final command)

[2016-12-13 01:18] rsc commented on #11940
I don't believe there is any proposal, but I think we'd rather see that developed as an external package first.

[2016-12-13 01:23] bradfitz commented on #18119
Ah, okay. You can tell how often I use multiple entries in my $GOPATH.

[2016-12-13 01:28] philhofer commented on #18293
@minux Right. The linker would have to support `R_ARM_MOVW_ABS_NC` and `R_ARM_MOVT_ABS` if we wanted to support armv7 in its completeness. As for floating-point, `vmov` (vfpv3) supports a reasonable range of constants.

[2016-12-13 01:28] rsc commented on #18072
I spoke to Rob earlier. He was remembering the fact that there used to be a golden x.out next to each x.s in the testdata directory; the x.out contained the output from 'asm -S x.s'. These proved too annoying to keep in sync, so in https://golang.org/cl/18823 I changed the test to require instead that, by default, each line found in the assembly is reprinted with exactly the same syntax. That is,

[2016-12-13 01:36] rsc opened #18295 "cmd/asm: s390x tests are suspicious"
cmd/asm/internal/asm/testdata/s390x.s says:

        // Some vector instructions have their inputs reordered.
        // Typically the reordering puts the length/index input into From3.
        VGEG    $1, 8(R15)(V30*1), V31  // VGEG    8(R15)(V30*1), $1, V31  // e7fef0081c12
        VSCEG   $1, V31, 16(R15)(V30*1) // VSCEG   V31, $1, 16(R15)(V30*1) // e7fef0101c1a
        VGEF    $0, 2048(R15)(V1

[2016-12-13 01:45] jimmyfrasche commented on #18119
What about a separate command, go dir.  (The suggested semantics below apply to a -printdir flag as well but it being on go get seems weird to me, since it never gets anything)

Given no arguments it prints the elements of $GOPATH, one per line (or the default if not set).

Given arguments it assumes they're packages and prints their absolute paths (including /src/), one per line. Failing if any d

[2016-12-13 01:51] rsc commented on #18119
Honestly, I think this is a non-issue and we should do nothing at all. But I would argue strongly against any command that exposes what GOPATH is directly. Obviously code that cares can find out. But that's almost always the wrong question to be asking. The appropriate question is "where is the code for this particular import path?"

The reason this is on 'go get' is that if you've already got the

[2016-12-13 01:53] rsc commented on #18230
@matloob, what are you thinking as far as a fix?

[2016-12-13 01:54] alexbrainman commented on #18287
[code]
Maybe I am doing it wrong. You tell me.

Alex

[2016-12-13 01:56] #18286 closed

[2016-12-13 01:59] rsc commented on #18219
I am working on this. Didn't make much progress on it Friday.

[2016-12-13 02:48] rakyll commented on #18294
We can mention an example GOPATH in the beginning but with Go 1.8, GOPATH will be optional and "$GOPATH not set" error message will not be exposed to the user the way it is now.

[2016-12-13 03:13] bradfitz commented on #18294
Still, we should point people at a guide for how to set environment variables.

We have https://golang.org/doc/code.html but it says nothing about Windows environment variables, even though Windows is a huge percentage of our users/downloads.

[2016-12-13 03:21] #18283 closed

[2016-12-13 03:23] bradfitz commented on #18287
Oh, interesting. Maybe this is because your clock just doesn't tick enough.

Can you do the same thing except also print `deadline` after t1 and t2?

And change `!time.Now().Before(deadline)` to `!t2.Before(deadline)` just to be sure that's not changing.

[2016-12-13 03:34] alexbrainman commented on #18287
[code]

Alex

[2016-12-13 03:44] rsc commented on #18294
@rakyll, FWIW, you still get GOPATH not set errors if you have the main Go development repo checked out in $HOME/go. In that case GOPATH has no default setting.

The text for setting the environment variable should be in 'go help gopath', since that's the definitive text and since code.html links to it for more details.

[2016-12-13 05:11] arya commented on #5838
@neelance I tried your test (https://gist.github.com/neelance/460f8a31f2391d2f3aafd7052348f66a) with and without CLONE_VFORK (not CLONE_VM) and observe a significant speedup.

Without CLONE_VFORK:
[code]

With CLONE_VFORK (still no CLONE_VM):
[code]

I'm doing this on Go 1.7 with GOARCH=amd64.

Why is this the case? If the slowness is because calling clone without CLONE_VM will copy the memory, do

[2016-12-13 06:54] mundaym commented on #18295
Fixing the printing sounds good to me. We could also modify the order that asmz.go expects, avoiding the re-ordering entirely. (This would entail placing the first operand into `From`, the second into `Reg`, the third into `From3` and the fourth into `To`. As opposed to re-ordering them to put the source operand into `From`.)

Some background:

This ordering stems from the implementation of the st

[2016-12-13 10:17] iamacarpet opened #18296 "dlopen/dlsym without CGo"
Hello,

Would it be possible to implement dlopen/dlsym functionality to match the Windows DLL loading functionality, for Linux/*nix platforms?

It has been discussed that this is possible with CGo, but that doesn't play as well with a simple build and cross-compile environment as your pure-Go tool-chain does.

Discussed in golang-nuts: https://groups.google.com/forum/#!topic/golang-nuts/QDEczMhlQB

[2016-12-13 11:09] cznic commented on #18296
It wouldn't buy you much. It's not possible in the general case to call C from Go without CGO (or equivalent mechanism). IOW, the problem is not in `dlopen/dlsym`.

[2016-12-13 11:26] derekmarcotte commented on #15658
@stevenh:

Trace: https://github.com/derekmarcotte/goruntime-testing/blob/master/logs/15658-forkonly-log-head-2

No procstat, but I can try again.

[2016-12-13 11:51] iamacarpet commented on #18296
@cznic please excuse my ignorance, but could you elaborate on that for me?

Using the Windows "syscall.LazyDLL" and "syscall.LazyProc" constructs, I can attach and call shared libraries that are written in C, using pointers and the "unsafe" package, while manually translating the type differences.

Is the way shared library loading works on Linux and other non-Windows platforms fundamentally diffe

[2016-12-13 12:03] cznic commented on #18296
Heh, I am the ignorant one. I know next to nothing about Windows. On unix, one of the problems is the required stack switch. Without that the C routine will/can crash.

[2016-12-13 12:19] fgergo commented on #18136
@bradfitz @josharian what's the scope of "ready"? Binary installs for all platforms listed here: https://storage.googleapis.com/go-builder-data/dl-index.txt? If yes, osx10.6 or osx10.8? Anything else?

[2016-12-13 12:59] Dieterbe commented on #14812
@aclements is there anything I can do that will increase the odds of this being adressed for Go 1.8 ? thanks? Send me your address and I'll mail you a bribe? :)

[2016-12-13 13:22] iamacarpet commented on #18296
Thanks @cznic,

So I guess the question is, the stack switch you mentioned, is that already something that is required & has been overcome to allow it to work on Windows, or does the OS handle all that for us?

Please excuse me if I'm wrong, it's quite foreign to me, but I've tried to follow the Windows code path and it looks like this:

https://github.com/golang/sys/blob/master/windows/dll_window

[2016-12-13 13:42] #18219 closed

[2016-12-13 14:31] rgeronimi opened #18297 "x/image/font: no method to measure exact string drawing bounds"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go1.7.4 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/raphaelgeronimi/Local/Others/Go workspace"
GORACE=""
GOROOT="/opt/local/lib/go

[2016-12-13 15:19] iamacarpet commented on #18296
Thanks @ianlancetaylor, that is very helpful!

I'll do some more research and see if it is something I can work on, but what you've said about the dynamic linker sounds like it would be a lot of work.

Is it possible that when you load the library, it could call the dynamic linker on it's own for it's dependancies? I was reading that the ELF header links to the dynamic linker the binary requires a

[2016-12-13 15:29] ianlancetaylor commented on #18296
The ELF header of a dynamically linked executable refers to the dynamic linker, yes.  But that is not true of a shared library.  And since your driving desire is to be able to build programs without a C cross-compiler, you must be creating statically linked executables.  So there isn't any place for you to look to find the dynamic linker.

But let's say you could find the real dynamic linker.  Tha

[2016-12-13 15:46] neelance commented on #5838
Hmm, interesting observation. Yeah, maybe it is the parent process causing more COW work before the child process does its `exec`. `CLONE_VFORK` alone may already solve this without high risk.

What changes did you test? Have you used https://github.com/neelance/go/commit/b7edfba429d982e3e065d637334bcc63ad49f8f9 or have you simply specified `CLONE_VFORK` in the otherwise unmodified code? I think i

[2016-12-13 15:47] iamacarpet commented on #18296
Thanks again @ianlancetaylor, you saved me a lot of hours of research before I would have come to that stumbling block myself.

I'll put it on the back burner for now and keep researching when I've the resources to invest.

[2016-12-13 17:00] bradfitz commented on #5838
@neelance, do you want to get this into Go 1.9 in Feb?

[2016-12-13 17:13] neelance commented on #5838
@bradfitz Yes, I think it would be good to get this upstream. We should figure out if `CLONE_VFORK` is enough. If yes, then that would be a low risk, high reward change. If we want to include `CLONE_VM` as well, then it definitely needs a review by someone who knows a lot about this domain. My patch above seems to work, but it was new territory for me.

[2016-12-13 17:24] arya commented on #5838
@neelance my test was without your changes. It was just the gist I included with and without CLONE_VFORK.

[2016-12-13 17:31] neelance commented on #5838
Wow nice, so the only change it does is to make the parent wait until the child does its `exec`. That sounds to me like a very safe thing to do.

Could you do a test run with my full patch to see if there is any additional gain in `CLONE_VM`?

[2016-12-13 18:06] gazed opened #18298 "cmd/cgo: warning in 1.8Beta that is not seen in previous versions"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
        Tested using golang 1.7.4 & golang 1.8Beta1

### What operating system and processor architecture are you using (`go env`)?
        MacPro 2013 base model. OSX 10.12 (clang) and (Bootcamp) Windows 10 (gcc 5.1.0).

### What did you do?
If possible, provide a recipe for r

[2016-12-13 18:11] ribrdb commented on #17658
Doesn't the LockSystem need the same context?

[2016-12-13 18:25] ALTree commented on #18298
Probably introduced by the fix for #17537

[2016-12-13 18:33] bradfitz opened #18299 "tools/cmd/present: don't show upcoming slide on the right"
The present tool shows some of the upcoming slide on the right.

This is particularly bad during some conferences (e.g. GothamGo) with wide screens. It distracts the audience who starts reading the next slide, and it can kill punchlines.

Fix this.

/cc @rsc @broady

[2016-12-13 18:59] aclements commented on #18043
@botvs, ping.

[2016-12-13 19:03] mpvl commented on #17268
Yeah, I'll work on this. I'll do so by first updating the implementation in
x/net. But let's wait till start of 1.9, as you said.

On Thu, Dec 1, 2016 at 7:42 PM Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-12-13 19:24] aclements commented on #17803
Getting too late for 1.8, especially since there's a workaround.

[2016-12-13 19:25] rsc commented on #18171
We still don't know why @ksaldana1's system is force-inserting libSystem.dylib into ordinary process execution. Maybe we can make all binaries expect libSystem.dylib, but I think it's too late for Go 1.8.

[2016-12-13 19:28] aclements commented on #17969
Too late for 1.8, but I'll try to put together an experimental fix.

[2016-12-13 19:29] aclements commented on #18178
Closing since this has only happened once. Reopen if we ever see this again.

[2016-12-13 19:29] #18178 closed

[2016-12-13 19:34] arya commented on #5838
@neelance I feel super stupid. My first test was incorrect, but `CLONE_VFORK` alone is marginally faster but not anywhere near `CLONE_VM|CLONE_VFORK`. Here are all 3:

Unmodified Go 1.7
Running https://gist.github.com/arya/7e23e8654e87a6e80608ade43ee31041#file-without_vfork-go
[code]

Unmodified Go 1.7, application code adds CLONE_VFORK
Running https://gist.github.com/arya/7e23e8654e87a6e80608ade4

[2016-12-13 19:51] hartzell commented on #15267
FWIW, I just tripped over this on a CentOS 7 box.

Was building via [Spack](https://github.com/llnl/spack) on a very slimly configured CentOS 7 system on Digital Ocean (based on their 7 images, with a handful of other packages).

[code]

and watch it chug for a while, installing prereqs, including a bootstrap version of 1.4.

Reran the build with verbose turned on to see if I could get more detail

[2016-12-13 20:16] bradfitz opened #18300 "cmd/compile: investigate closure capture issue"
This change reduces allocations:

      https://go-review.googlesource.com/c/33765/4/src/encoding/json/encode.go

Why? Can the compiler be changed instead?

(See test file in same CL for details)

/cc @randall77 @mdempsky @aclements

[2016-12-13 20:24] aclements commented on #18067
While not impossible, I find it quite unlikely that this is Go's fault, and more likely that this is a kernel or hardware bug. The primary reason I think that is because it depends on a kernel configuration that should be essentially invisible to user space.

There are subtler reasons I don't think it's the Go runtime, too. Several of the crashes you reported indicate corruption in type-stable mem

[2016-12-13 20:28] aclements commented on #18067
I'm not quite sure how to proceed on this bug. I'm going to move it to unplanned until we get more reports or more actionable details.

@1-z, are you able to reproduce this on different hardware? That would at least rule out the possibility that this is a hardware bug.

[2016-12-13 20:36] randall77 commented on #18300
I suspect this would require a finer-grained escape analysis.  Contrast these:
[code]
[code]
There's only one declaration in the first example.  Escape analysis works on declarations.  So `f` has to be declared as escaping.  In contrast, the second example has 2 declarations so `x` can be seen to not escape.

I guess escape analysis would have to be augmented to split declarations into unconnected

[2016-12-13 20:37] 1-z commented on #18067
I have a few ECC-enabled machines I can test this on with similar software configurations. I will attempt to reproduce this issue there.

[2016-12-13 20:50] aclements commented on #14812
That is accurate. In fact, https://golang.org/cl/24703/ was an experiment to change this in the service of this issue, but didn't seem to help when I wrote it.

My guess would be that idle GC (which is 2/3rds of the GC CPU time in the above line) is driving it to completion quickly. It's not finishing *that* quickly anyway. In steady state without idle GC I would have expected GC 118 to finish at

[2016-12-13 20:58] broady commented on #18150
I was going to do it this afternoon but @griesemer beat me to it.

[2016-12-13 20:58] #18150 closed

[2016-12-13 21:37] stjj89 opened #18301 "go/internal/gccgoimporter: import control function v2 format not properly parsed"
The follow sequence of import control function list in time.gox:

[code]

results in the following gccgoimporter error while it is being parsed:

[code]

gccgoimporter appears to expect only the v1 format:

https://golang.org/src/go/internal/gccgoimporter/parser.go?h=parsePackageInit#L695

while the gccgo frontend has logic to specifically handle the v1 format:

https://github.com/golang/gofronten

[2016-12-13 21:46] jessfraz commented on #101
Is anyone working on this?

[2016-12-13 21:47] bradfitz commented on #101
Nope.

[2016-12-13 21:49] tianon commented on #101
Debian includes https://anonscm.debian.org/cgit/pkg-golang/golang-defaults.git/tree/man?id=f7372ceb7313dce943617cb53bdef425dd955b58 -- might be a decent starting point or source of inspiration. :+1:

(cc @stapelberg)

[2016-12-13 22:03] vstefanovic commented on #18267
Ok, let me commit cgo now, soft-float tomorrow.

[2016-12-13 22:07] dsnet commented on #18264
@magical, I agree. I looked into this issue as well from the perspective of `cmd/doc` and came to the same conclusion that the issue in `go/printer`.

\cc @griesemer

[2016-12-13 22:23] griesemer commented on #18264
@magical The problem here is that the printer (must) follows the line information that's in the nodes. The reason there's a blank line here is that there's an unexported field in the source ( https://tip.golang.org/src/database/sql/sql.go?s=1976:2351#L71 ) which is removed from the doc. The remaining fields have their line positions unchanged, and thus for the printer it looks like that there's (a

[2016-12-13 22:26] ianlancetaylor commented on #18301
CC @thanm

[2016-12-13 22:27] griesemer commented on #18264
Actually, there's perhaps a simple work-around which is a filter that post-processed the output generated by go/printer. Such a filter could simply look for `struct {` and an empty line (same for interfaces) and remove that empty line. Cheap and dirty but might to the trick. Feel free to submit a CL...

Leaving unplanned for now.

[2016-12-13 22:38] matloob commented on #18230
I'll check with @rauls5382 and report back.

[2016-12-13 22:38] josharian commented on #18297
Possible dup: https://github.com/golang/go/issues/14436

[2016-12-13 22:38] josharian commented on #18297
cc @nigeltao

[2016-12-13 22:44] josharian commented on #18292
@brtzsnr mentioned in https://github.com/golang/go/issues/16270. that there is a way to do many of these without having to write a bunch of rewrite rules.

[2016-12-13 23:11] kardianos commented on #17658
@ribrdb I think that any lock system would use an internal context when a lock request was made based on the characteristics of your locking backend. It wouldn't need to propagate any user information.

If you think it does need the context, open a new issue explaining why.

[2016-12-13 23:26] griesemer commented on #18072
On a related note, is there a test that verifies the correct pc-line info for assembly output? If not, that would also be nice to have.

[2016-12-13 23:36] spf13 opened #18302 "blog: links need more contrast against body text"
In the main content of the blog the links are hard to identify. They are navy while the primary text is black. There are no other visual cues unless you mouse over.

The links should be a different color with further separation from the body text and should have a visual cue that they are links.

Example: https://blog.golang.org/survey2016

[2016-12-13 23:38] magical commented on #18264
@griesemer Correct me if i'm wrong—you're saying that because godoc deletes the _Named_Fields_Required field, that code gets seen by go/printer as
[code]
Right?

I understand that. I'm proposing that go/printer be modified to always omit blank lines between an opening brace of a struct declaration and a comment, like it's already capable of doing when the opening brace is followed by a field. It d

[2016-12-13 23:46] dsnet commented on #18264
The downside to a godoc-only kludge is that it doesn't benefit other doc-like tools like `cmd/doc`. It seems the solution is dirty in either case. So it's do a kludge in `go/printer` once or do the same kludge for every doc-like tool out there.

[2016-12-13 23:48] randall77 commented on #18072
@griesemer We have some indirect tests.  For example test/nilptr3.go tests (among other things) that line numbers are right, at least up to the nil pointer removal compiler phase.

[2016-12-13 23:49] griesemer commented on #18264
@magical Fair point, that should be reasonably simple in fact.

[2016-12-13 23:52] griesemer commented on #18264
Somewhat related to #6996. Maybe it's time to tackle this. I'll mark it for 1.9.

[2016-12-14 00:25] neelance commented on #5838
As far as I understand the manpage of `clone` you can use it in 3 ways:
1. Do not specify `CLONE_VM`, then COW makes sure that the two processes don't interfere.
2. Specify `CLONE_VM` and provide a `child_stack`. Memory is shared, but the child uses the given stack, thus not interfering with the stack of the parent.
3. Specify `CLONE_VM` and `CLONE_VFORK`. Memory is shared, but the parent does not

[2016-12-14 01:01] #18298 closed

[2016-12-14 01:21] tejasmanohar opened #18303 "Proposal: flag.failf should return an error with Cause() error"
It would be very nice if [`flag.failf`](https://github.com/golang/go/blob/49543695c56486d6a941e55520b37a9d098d3379/src/flag/flag.go#L813) returned an error with a `Cause()` so that if you define your own `flag.Value`-implementing type, you don't lose context on errors you return out of its `Set` function [here](https://github.com/golang/go/blob/49543695c56486d6a941e55520b37a9d098d3379/src/flag/fla

[2016-12-14 01:41] broady commented on #18302
Let's re-add back the underline to `.article a:link`

[2016-12-14 01:51] bradfitz commented on #18303
I suspect we'd want some overall design & plan for error provenance in the standard library & general recommendations for the community rather than just making changes ad hoc.

Related: #16968 and #15192, both about errors in a general sense.

[2016-12-14 02:11] tejasmanohar commented on #18303
@bradfitz Thanks for the quick response! (@everyone) Are there any reasons *against* exposing `Cause() error`? It would be backwards-compatible-- just an assertable interface.

From skimming the other discussions, I get the sense that the Go team wants to hold off on refactoring _any_ error provenance in the standard library until it's fixed _everywhere_, but for a standard library of this size, I

[2016-12-14 02:13] tejasmanohar commented on #18303
To clarify, I don't mean we should add something just because it has no downsides-- that's a recipe for creating a mess of a standard library... but I want to focus on what's wrong with _this_ proposal (e.g. doesn't provide enough value to go in stdlib, encourages bad design, not readable, etc.) rather than the error handling everywhere in the standard library.

[2016-12-14 02:40] davecheney commented on #18303
What do you mean exposing? If this method already exists on the type then there is nothing to do. If the method does not exist, then that's a bigger ask and out of scope for Go 1.8.

[2016-12-14 02:41] dsnet commented on #18303
The challenge is that this proposal is trying to add a method to a value of type `error` and the only way for anyone to know about its existence is if they type assert for it. There's a growing precedence in the Go community for `Cause() error` to be a special method on error, but this proposal is probably not the place to have that discussion.

[2016-12-14 03:57] tejasmanohar commented on #18303
I was suggesting that the flag package returns a struct that implements non-standard `Cause() error` method in addition to the normal `error` interface.

It can go in docs as well?

Agreed that this is not the place to talk about `Cause() error` as a **special** method, but I think it could fit well on errors returned by the flag package when it wraps errors from a flag.Value. If the Go team is co

[2016-12-14 04:05] derekmarcotte commented on #15658
Here's the test function integrated with head:  https://github.com/derekmarcotte/go/commit/1deb3ec41080ce69dc4e980716fcf07db34825ac

[2016-12-14 04:35] #17617 closed

[2016-12-14 04:58] mdlayher commented on #17244
Hey all, apologies for the ping, but has there been any movement on this at all?  I can see that this proposal has been referenced from several others (including one of my own).

[2016-12-14 05:09] jfilak opened #18304 "RFE: please make it possible to core dump on program failures by default"
I would like to have "crash" as the default value of GOTRACEBACK. I know I can export the environment variable in system profile but it is not so uncommon that applications run in clear environment (`env -i`). I am asking because, I want to automatically report program crashes and the easiest way how be notified about them is to register own /proc/sys/kernel/core_pattern.

Thank you for considerin

[2016-12-14 05:51] #18175 closed

[2016-12-14 05:56] bradfitz commented on #18304
We're not going to make that the default. But doesn't https://golang.org/pkg/runtime/debug/#SetTraceback work for you?

[2016-12-14 06:16] jfilak commented on #18304
I am working on ABRT - Automatic Bug Reporting Tool - that is enabled on Fedora. We detect core dumps, python exception, ... and would like to detect failures of go programs. Currently, we must export GOTRACEBACK=crash and pollute global environment to achieve this goal

SetTraceback would work if I needed to set it for a single program, but I want to be able to detected failures of all go program

[2016-12-14 06:22] bradfitz commented on #18304
We don't really do build-time configuration options.

About the closest we have is the CGO_ENABLED and GO386/GOARM environment variables.

Can you just add the 1-line patch to the Fedora repo? I assume you likely already carry a configuration patch or two in your tree?

[2016-12-14 06:26] minux commented on #18304
Making coredump the default affects too many users but
I don't think the benefit outweigth the cost and confusion
it causes -- not every one has such automatic bug reporting
tool (and I also think if Go has such a report builtin, we
will just get a lot of irrelevant bug reports, besides it's
a violation of user's privacy.)

[2016-12-14 06:31] bradfitz commented on #18304
@minux, it sounds like he only wants to enable it by default on Fedora.

@jfilak, if you modify Fedora's version of Go, please do a (fast) check at start-up to verify you're running on Fedora (and ABRT is available) before setting the default GOTRACEBACK value.

It would be kinda unfortunate if a Fedora user distributed binaries to non-Fedora users and they were surprised by core dumps they didn't

[2016-12-14 07:45] benburkert opened #18305 "net/http/httptrace: WroteRequest hook called twice on request retry"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

`go version go1.7.4 darwin/amd64`

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

https://play.golang.org/p/odjH-4qcwa

### What did you expect to see?

The `WroteRequest` hook is called only once for the second re

[2016-12-14 08:28] Dieterbe commented on #14812
@aclements why not? Would it set us back in any way? One obvious thing I can see is that it would restrict the concurrency, which may not be such a bad thing.

Another thing I'm interested in is using a manual pool that doesn't clear every GC. I'm hesitant to use the commonly cited buffered-channel approach that has a fixed max size, though the solution at https://blog.cloudflare.com/recycling-mem

[2016-12-14 08:44] arnogo opened #18306 "doc: Specify please when it's needed that the value should be passed by reference"
I'm relatively new to strictly typed programming, and I've seen code like:
`fmt.Scan(&name)`

I understand why is it passed by reference, since we want to modify the existing variable, yet still
I've tried looking up documentation, and both:
https://golang.org/pkg/fmt/#Scan
and
https://golang.org/src/fmt/scan.go?s=2653:2699#L53
Didn't have anything mentioned about passing the value by reference (b

[2016-12-14 09:03] minux commented on #18306
Use a pointer when you expect the function (in this case, Scan)
to modify the value.

If you want to ask a question, please see https://golang.org/wiki/Questions.

[2016-12-14 09:04] arnogo commented on #18306
Thank you and sorry that is is the wrong place to ask

[2016-12-14 09:07] #18306 closed

[2016-12-14 09:18] tcolgate opened #18307 "x/oauth2/jwt: does not send kid"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
We are using google.JWTConfigFromJSON to read credentials from a google service account JSON config file. We're are then using these tokens with an internal servi

[2016-12-14 09:52] songtianyi opened #18308 "cgo not support CXXFLAGS?? or just a bug??"
[code]

[code]

This error could be avoid by change CXXFLAGS to CPPFLAGS
[code]

BUT when i did like that go compiler seemed to use gcc to compile the header file which written by C++ not g++ compiler.
Frankly, i am fucking confused! i am sorry.

[2016-12-14 09:58] tcolgate commented on #18307
Raised https://go-review.googlesource.com/#/c/34320/

[2016-12-14 10:40] Scratch-net opened #18309 "x/net/http2: request-response loop is ~2-3 times slower on http2 than on https"
### What version of Go are you using (`go version`)?
go version go1.7.4 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pthread -fmessage-lengt

[2016-12-14 10:44] kavirajk commented on #17844
can I work on this? @bradfitz

[2016-12-14 11:07] guoqizhou commented on #18276
not every time

type HttpContext struct {
	Res http.ResponseWriter
	Req *http.Request
}

func (s *Service) ProcessHttpCmd(h *HttpContext) {
    .........
    h.Res.Write([]byte(.....))
}

var s Service

func main() {
       s  = new(Service)
       http.HandleFunc("/cmd", httpCmdHandle)
	err := http.ListenAndServe(p.HttpUrl, nil)
	if err != nil {
		panic(err.Error())
	}
}

//http命令处理
func httpCmdH

[2016-12-14 13:45] micahlmartin commented on #18141
I'm using terraform which has included this fix in it's latest version. The problem I'm having on my mac is that I'm getting `net/http: TLS handshake timeout` errors when trying to access any tls endpoints through this library. I'm on a corporate laptop that's pretty locked down so I'm sure it has something to do with it, but I'm not sure what I need to do to try and work around it. Any guidance w

[2016-12-14 13:56] RLH commented on #14812
One thing that might help is to half the size of the suspect data
structures and see if that cuts the latency in half. We obviously can't do
that (or we would have) but what we can do is artificially double their
size and see if the latency doubles. By applying this doubling one by one
to the various data structures we might be able to identify the critical
structures and better focus our attentio

[2016-12-14 13:57] quentinmit commented on #18141
@micahlmartin The changes for this bug should not be able to affect TLS handshake timeouts. Please open a new bug.

[2016-12-14 15:28] ianlancetaylor commented on #18308
The code in the cgo comment must always be C code, not C++ code.  The cgo tool does not support C++.

The `#cgo CXXFLAGS` directive provides flags that are used to compile C++ files in the same directory, as documented at https://golang.org/cmd/cgo.

The `#cgo CPPFLAGS` directives provides preprocessor flags that are used to compile both C and C++ files in the same directory, and is also used to c

[2016-12-14 15:28] #18308 closed

[2016-12-14 16:00] bradfitz commented on #18276
Sure you're never using that "`HttpContext`" in a different goroutine after `httpCmdHandler` returns?

[2016-12-14 16:02] bradfitz commented on #17844
Sure, if you're familiar with the http code. Note that we already did this for the http2 Transport (during server graceful shutdown in GOAWAY), so be sure to read that code first.

[2016-12-14 16:30] myitcv commented on #18119
The one question I often find myself trying to reliably answer with multiple entries in my `GOPATH` is where `go install github.com/my/pkg` will install to, so that I can then definitely run the binary (in this case `pkg`) that is (re-)built, irrespective of the user's `PATH`. Seems somewhat related (unless I'm missing an obvious solution of course?)

[2016-12-14 16:46] rhysh commented on #14812
The five-second profile includes 210ms worth of samples where `runtime.gcAssistAlloc` is on the stack. Of those, 150ms comes from `sync.(*Pool).Get`, 30ms comes from `github.com/raintank/metrictank/mdata.(*AggMetric).Get`, and 30ms comes from `github.com/raintank/metrictank/api.(*Server).renderMetrics` (first diagram).

Disabling `poolcleanup()` as @aclements suggests sounds very helpful.

The Poo

[2016-12-14 16:46] trajber opened #18310 "float32 vs float64 precision lost when casting to int"
The float to int conversion behaves different for 32 and 64 precision.
https://play.golang.org/p/-zkCNSTbNa

Is this the correct behavior?

I'm using go version go1.7.4 linux/amd64

[2016-12-14 17:01] bradfitz commented on #18310
For questions about Go, see https://golang.org/wiki/Questions.

See also: http://floating-point-gui.de/

[2016-12-14 17:01] #18310 closed

[2016-12-14 17:02] bradfitz commented on #18119
@myitcv, there's already an answer for that question:

[code]

This bug is about a question for which there's no current way to extract an answer.

[2016-12-14 17:04] keithbostic opened #18311 "x/crypto/twofish: twofish_test.go copyright"
In the `twofish_test.go` file, there's the standard Go copyright, along with the comment:
[code]
and there's no copyright on that source file, so it's unclear the basis for the inclusion.

That might be worth clarifying.

[2016-12-14 17:04] bradfitz commented on #18305
Okay, we can document that it may be called multiple times.

[2016-12-14 17:05] bradfitz commented on #17244
No movement yet. Updates will be posted here.

[2016-12-14 17:09] bradfitz commented on #18311
Those have been there since 2011 from 1aec7c7f34ff88a09a3fa7c9ff131598360f8751 (when it was still in std).

IANAL but I'm also not terribly concerned due to the source, and that these are just test vectors.

But cc @agl @ianlancetaylor.

[2016-12-14 17:13] myitcv commented on #18119
@bradfitz thanks, and apologies for the noise.

[2016-12-14 17:25] keithbostic commented on #18311
Thank you.

I think it's one of the issues where nobody will ever get sued, and anyone sued would win and the damages are zero, but it's a technical violation and companies that look for copyright violations will flag it, which wastes everyone's time.

If it's trivial to fix, might be worth it.

[2016-12-14 17:57] agl commented on #18311
While it's the sort of statement that lawyers might cringe at, Schneier [says](https://www.schneier.com/academic/twofish/) that "Twofish is unpatented, and the source code is uncopyrighted and license-free; it is free for all uses".

[2016-12-14 17:59] bradfitz commented on #18311
Thanks, @agl. I think that's sufficient to close this bug. If somebody wants to add a comment line to twofish_test.go and send that CL, that works too.

[2016-12-14 17:59] #18311 closed

[2016-12-14 18:03] bradfitz commented on #18307
@rakyll, who owns JWT stuff?

/cc @broady @adg

[2016-12-14 18:13] aclements commented on #18161
@frje, can you try applying https://golang.org/cl/34291 and see if that helps?

[2016-12-14 18:13] #18284 closed

[2016-12-14 18:18] bradfitz commented on #18287
I see. The time.Now() clock isn't advancing between the two calls (which uses _SYSTEM_TIME), but it's still timing out in 5ms because the timeout mechanisms all use the more accurate clock (_INTERRUPT_TIME).

If you change the 5ms timeout to, say, 50ms, does it become reliable?

[2016-12-14 18:44] stjj89 opened #18312 "x/sys/unix: functions redeclared in gccgo builds"
In gccgo builds, the {Raw,}Syscall{,6} and gettimeofday functions in go.sys/unix are redeclared.

While gccgo tolerates this, this is technically incorrect according to the spec (https://golang.org/ref/spec#Declarations_and_scope):

"No identifier may be declared twice in the same block..."

[2016-12-14 18:48] #18301 closed

[2016-12-14 18:50] ALTree opened #18313 "cmd/go: docs should suggest 'go doc command' not 'go tool command -h'"
### What version of Go are you using (`go version`)?

[code]

`$ gotip tool -h` says:

[code]

Note the:

Not every tool actually supports `-h`. Two of them complain (and then print some info):

[code]

[code]

[2016-12-14 18:51] nathanjackson commented on #18043
Hello, I am facing the exact same issue in Go 1.6.3 installed from the Fedora EPEL on CentOS 7.3.1611 64-bit. Any chance your patch might fix it? Its really not clear where the issue is coming from on my end.

[2016-12-14 18:51] bradfitz commented on #18312
Is there a bug tracking why gccgo tolerates that?

/cc @ianlancetaylor

[2016-12-14 18:55] aclements commented on #18043
@nathanjackson, can you post more details, such as the error and stack trace?

I don't have a patch to fix this yet because I don't know what the problem is and haven't been able to reproduce this locally. If I made a patch against Go 1.6.3 to add more debugging information, would you be able to apply it and reproduce the issue?

[2016-12-14 18:57] nathanjackson commented on #18043
@aclements I should be able to do that. I'll see what I can gather and post.

If it helps at all, setting `GODEBUG` to `gcstoptheworld=2` prevents the crash.

[2016-12-14 19:04] bradfitz commented on #15935
I've started some notes in https://docs.google.com/a/golang.org/document/d/15J1ypbcK7OJ2IJ6TEgB3TitNPTCpo0kAwBbrZu2tzPo/edit?usp=sharing about what Transport actually does today.

Hopefully people don't depend on the current behavior too much. I seem to recall other bugs though where people have made deep assumptions about specific error types returned by RoundTrip, even though nothing is promised

[2016-12-14 19:05] #18312 closed

[2016-12-14 19:07] ianlancetaylor commented on #18312
@bradfitz There is an Google-internal bug report against gccgo for this behavior.  I'm not aware of an external one.

[2016-12-14 19:11] crawshaw commented on #18190
It looks like the stack map is wrong. What it thinks is a pointer slot is not one.

I assume this has something to do with two copies of the runtime existing simultaneously. I spent a while trying to work out which part, to no luck. I looked into removing the runtime from the plugin on macOS, but this requires dynamic relocations to several runtime functions and values (like duffcopy and algarray)

[2016-12-14 19:12] wendigo commented on #18190
Sad to read that @crawshaw

[2016-12-14 19:16] #18287 closed

[2016-12-14 19:26] bradfitz opened #18314 "x/build: make OpenBSD use a memory filesystem for its workdir"
The OpenBSD builders are some of the slowest.

See if it's faster with a memory filesystem for its workdir.

See https://github.com/golang/go/issues/16951#issuecomment-266288016 for details. Basically just:

[code]

Make the buildlet do that on start, like it already tweaks other system stuff.

/cc @mdempsky @4a6f656c

[2016-12-14 19:30] benburkert commented on #18305
thanks @bradfitz. I was also surprised to see that the `WroteRequestInfo` argument to the hook has a nil error for every call, even when the request write (supposedly) failed.

https://play.golang.org/p/HvqrsSN48F

[2016-12-14 19:33] bradfitz commented on #18305
Who says the request write failed? It looks like the write was successful, but then the server hung up, so it retried because it was safe to do so.

[2016-12-14 19:34] powerman opened #18315 "cmd/go: go get -t do not install packages"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.4 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/tmp/build/a94a8fe5"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/g

[2016-12-14 19:40] schmichael opened #18316 "x/sys/unix: Add UMOUNT_NOFOLLOW constant"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### Enhancement

Add `UMOUNT_NOFOLLOW = 0x8` constant to prevent symlink traversal attacks when unmounting filesystems.

Present since Linux 2.6.34: https://github.com/torvalds/linu

[2016-12-14 19:41] nathanjackson commented on #18043
@aclements Is there any way I can e-mail you my stack trace? I don't think I can post it publicly.

[2016-12-14 19:51] cherrymui commented on #18226
Try -ldflags=-w.

[2016-12-14 20:32] cherrymui opened #18317 "test: fix and unskip nosplit.go test"
### What version of Go are you using (`go version`)?
tip

`test/nosplit.go` checks whether we have frame pointer enabled and skips the test if so.
[code]

On non-AMD64 architectures, `GOEXPERIMENT=framepointer` is a no-op but the version string it prints always has `X:framepointer` *set*. So this test seems actually not run...

[2016-12-14 20:47] aclements commented on #18043
@nathanjackson, you can email it to austin <at> google.com. Or feel free to redact it. I really only need to see the frames in package runtime.

[2016-12-14 20:50] ianlancetaylor commented on #18316
Want to send a patch?  https://golang.org/doc/contribute.html

[2016-12-14 21:13] pschultz commented on #11939
Mentioned in one of the duplicate issues was the idea to let MarshalJSON return (nil, nil) to skip the field. Borrowing your earlier example:

[code]

In Go 1.7, returning nil is not a valid implementation for MarshalJSON and leads to "unexpected end of JSON input" errors. This approach doesn't require any visible change to the encoding package (not even adding an error value).

For what it's wort

[2016-12-14 21:21] matloob commented on #18230
Update: @rauls5382 has a fix and will send it in shortly.

[2016-12-14 21:31] tombergan commented on #18309
I don't think anyone will have a chance to look at this in detail until after Go 1.8 is released. In the meantime, the following may help:

1. Do you see the same slowdown in go 1.8 beta or in go 1.6?
2. Do you have svg [profiles](https://blog.golang.org/profiling-go-programs) of the http2 server and client?

Brad has done some optimization work for grpc-over-http2 that may help. I'm not sure if a

[2016-12-14 21:39] nathanjackson commented on #18043
Alright, so I have to get approval in order to send the stack trace unfortunately. However, I can say it looks nearly identical to the above stack trace from OP's screenshot.

[2016-12-14 21:44] joeshaw commented on #11939
@pschultz That approach seems reasonable to me, but it can't be used with `omitempty`.

The reason you get that error is because the JSON encoder checks for the validity of the JSON coming out of `MarshalJSON` and the result of returning a nil byte slice is (something like) `"key":,`.  If returning a `nil` byte slice indicated that it should be omitted that'd be a different way to omit something f

[2016-12-14 21:46] tombergan opened #18318 "net/http: use the http2 priority scheduler by default"
The x/net/http2 scheduler has two implementations: a random scheduler and a priority scheduler. The random scheduler mimics the old scheduler used in go 1.7 and earlier. The priority scheduler uses the http2 priority tree to schedule writes. I have benchmarks showing that web pages load considerably faster with the priority scheduler than the random scheduler.

We opted not to change schedulers fo

[2016-12-14 21:49] tombergan commented on #18305
Should we also add a hook for retries to help the user make sense of multiple WroteRequest/GetConn callbacks? I'm also reminded of #17152.

[2016-12-14 21:56] bradfitz commented on #18305
Perhaps. But that is Go 1.9.

We can re-use this bug. I won't close this one.

[2016-12-14 21:56] glasser opened #18319 "net/http: Server does not validate of HTTP method like Transport and NewRequest"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.7.4 or current master.

### What operating system and processor architecture are you using (`go env`)?

Linux, Mac, all.

### What did you do?

I observed that `http.Transport.RoundTrip` and `http.NewRequest` use the `validMethod` function to validate that the request's meth

[2016-12-14 21:58] Perelandric commented on #11939
@pschultz: A `nil` return wouldn't be able to be used as a flag for `omitempty` without causing undesired errors when `omitempty` is not present, since the implementation of `MarshalJSON` doesn't know when `omitempty` is actually there.

I don't know if having `nil` as an alternative to `omitempty` would be the best either. Seems like the user of a type should be the one deciding when it is omitte

[2016-12-14 22:07] RaduBerinde opened #18320 "net/trace: support lazy logging in EventLog"
Trace supports `LazyLog`/`LazyPrintf` which delays rendering of the event message until (and more importantly **if**) it is being displayed. This would be useful for `EventLog` as well, where large messages can cause noticeable slowdown.

I can work on the change if there is agreement on the new API. We can:
 - add `LazyPrintf/LazyErrorf` primitives, or
 - leave the current `Printf/Errorf` interfa

[2016-12-14 22:44] aclements commented on #17442
I was able to reproduce this in about 10 minutes at tip (96414ca) using the following:

[code]

I applied the following patch so I could match crashes with core files:

[code]

To debug the core file:

[code]

I haven't dug into the core yet.

[2016-12-14 22:54] aclements commented on #17442
I believe this is a race between freezetheworld and stopTheWorldWithSema. stopTheWorldWithSema is panicking because it expects `sched.stopwait` to be 0, but it's 0x7fffffff, which is the value set by freezetheworld. This suggests the process was just about to die anyway from an uncaught panic.

[2016-12-14 22:59] alexbrainman opened #18321 "net/http: TestClientTimeout_Headers_h2 prints message even without -v specified"
### What version of Go are you using (`go version`)?
go version devel +96414ca Wed Dec 14 19:36:20 2016 +0000 windows/386

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=386
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=386
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=c:\dev
set GORACE=
set GOROOT=c:\dev\go
set GOTOOLDIR=c:\dev\go\pkg\tool\windows_386
set

[2016-12-14 23:52] #17792 closed

[2016-12-15 00:34] 2opremio commented on #16563
Similarly, Scanf is inconsistent when providing a prefix in the format

[code]

[code]

I also expect `io.EOF` in the latter

https://play.golang.org/p/fNU3lL-KWn

(Happy to create a different issue if you want to treat this separately)

[2016-12-15 03:46] songtianyi commented on #18308
@ianlancetaylor
I am still not clear about this.
DOES cgo can support **c++** code that could be compiled by **gcc compiler** no matter where they are?
WHY cgo could compile c++ code in the same directory except the code in any other directory.
It doesn't make sense.

[2016-12-15 04:53] ianlancetaylor commented on #18308
For questions, please see https://golang.org/wiki/Questions .  Thanks.

[2016-12-15 04:59] arya commented on #5838
@neelance That makes sense to me. AFAICT the third option (your patch) is this most feasible and performant. The first option seems to be what's in master and suffers from a large amount of copying. CLONE_VFORK avoids some of the copies, but not much apparently. The second option seems to me (as a novice to the internals) much more difficult to get right given the nature of Go and its management o

[2016-12-15 05:15] jfilak commented on #18304
Oh, I see. If we change something in https://github.com/golang/go/blob/master/src/runtime/runtime1.go, the change will be built into programs. That's something different than I hoped for and I'm not sure we want to do that. Perhaps we can find a way how to let official Go programs do core dump files while leaving user Go programs untouched. Seems that it won't be a 1-line patch.

Just a question,

[2016-12-15 05:21] bradfitz commented on #18304
What's an "official Go program"? One that Fedora builds and includes in the package manager?

You could use `go build --tags=use_abrt` (some arbitrary tag you make up), and then add a file to Fedora's copy of the runtime package, like:

[code]

So if that tag is specified when you build official programs, that file with `+build use_abrt` is included, and it then sets "crash" as the default for tha

[2016-12-15 05:42] jfilak commented on #18304
Yes, exactly.

Sounds great! I'll give it a try.
Thank you very much indeed.

[2016-12-15 05:42] #18304 closed

[2016-12-15 05:43] bradfitz commented on #15935
Well, I looked into this, but it's too much to document for Go 1.8, not that I think we'd even want to document it in its current state. (See earlier comment)

[2016-12-15 05:44] bradfitz commented on #18136
I think https://github.com/golang/build/commit/071a06af6abd38e55f9f8643f0ba90697a68171f is probably sufficient for Go 1.8. We can keep this open to track more.

[2016-12-15 05:46] bradfitz commented on #17804
Plugin support was removed from Darwin in c1ada22. Pushing to 1.9.

[2016-12-15 05:47] bradfitz commented on #16409
Kicking down the road, since nobody owns this and it's not a regression.

[2016-12-15 05:48] bradfitz commented on #11811
Pretty green for Go 1.8.

[2016-12-15 05:48] kavirajk commented on #17844
@bradfitz Thanks. I will spend some time this weekend.

[2016-12-15 05:54] bradfitz commented on #18267
This happened in https://golang.org/cl/34318

[2016-12-15 05:54] #18267 closed

[2016-12-15 05:56] bradfitz commented on #18172
@mdempsky, in our 1.8 release meeting the other day we decided to make sure that the Go DNS resolver path acted the same as the cgo path for LookupCNAME (does it? don't think so) and then document whatever that behavior is.

You have any interest in taking this on? It might be nice even for Go 1.8, if it's trivial enough.

[2016-12-15 06:17] 1-z commented on #18067
I believe this issue can be closed. After testing on a number of different hardware configurations using Kernel 4.8.13, I can no longer reproduce this on any machine. I don't believe it was hardware, but rather a kernel issue that is now resolved. If I do discover more useful information I will comment here.

[2016-12-15 06:17] #18067 closed

[2016-12-15 06:33] alexbrainman commented on #8825
I have built little program https://play.golang.org/p/W4f9GPsoID that demonstrates this. If I run it (and press "abc", when prompted, followed by Enter), I see this:
[code]
But if I change program a little:
[code]
and run in the same way, I see
[code]

I also built similar Pascal program https://play.golang.org/p/ipEm9iGnnE, and it behaves in the same way
[code]
It even have same bug if I change b

[2016-12-15 06:54] davecheney opened #18322 "playground: error rates increasing"
I'm sorry for not using the template or having concrete details, but it's hard to link to a failed invocation of the playground.

Over the last few months I've experienced an increase in failures running playground samples, "error communicating with backend server".

I've experienced this from multiple geographies including Australia, Japan, Korea, Amsterdam, London, and Paris, and others have rep

[2016-12-15 06:59] kris-nova commented on #18322
# My experience from Denver, CO

I have never noticed an issue before.. but I could repeatably create the issue from the [go playground link](https://play.golang.org/p/ZRfp3kn9HA)

With the output as
<img width="536" alt="screen shot 2016-12-14 at 11 57 15 pm" src="https://cloud.githubusercontent.com/assets/13757818/21214652/47f89f44-c259-11e6-8bdc-bbe582c5e0a4.png">

[2016-12-15 07:08] odeke-em commented on #18322
Same thing from San Francisco running @kris-nova's program in https://github.com/golang/go/issues/18322#issuecomment-267253875,
fails with the same error consistently
<img width="723" alt="screen shot 2016-12-14 at 11 06 38 pm" src="https://cloud.githubusercontent.com/assets/4898263/21214840/251488be-c252-11e6-895a-040b668d8f4a.png">

[2016-12-15 07:44] Scratch-net commented on #18309
Hi and thanks for your response.

I've tested with current master `go version devel +c1ada22b Thu Dec 15 05:46:20 2016 +0000 linux/amd64` and results are prety same

Here are profiles made with 1.7.4: (http2, one client per goroutine)
https://github.com/Scratch-net/files/blob/master/client.svg
https://github.com/Scratch-net/files/blob/master/server.svg

I understand that 10 keepalive https connect

[2016-12-15 10:17] code4ghana commented on #16331
The issue seeme to have reappeared with  go1.7.3 darwin/amd64 and  go1.7.4 darwin/amd64

Here's the stack trace I'm getting from trying to run an appengine app:

[code]

[2016-12-15 10:22] akamensky opened #18323 "net/http revoked SSL certificate passes verification"
### What version of Go are you using (`go version`)?
go version go1.7.4 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]

### What did you expect to see?
Error message since cert is invalid and exit status code 1 (since log.Fatal)

### What did you see instead?
No message and exit code 0, it actually fetches the page f

[2016-12-15 10:45] benshi001 opened #18324 "build: misc/cgo/testcshared failure ARMv7 board"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
The newest go of the master branch

### What operating system and processor architecture are you using (`go env`)?
Raspberry Pi 2 board:
Quad core ARMv7
Debian 8
GCC 4.9.2
gold 1.11 (binutils 2.25)
go1.7.4 as bootstrap
glibc 2.19

### What did you do?
I try to build golang from

[2016-12-15 10:51] 4ad commented on #18324
Please provide the log in textual form, by pasting it in a comment, not as a pdf (?!??) file.

[2016-12-15 11:01] cznic commented on #18322
No problems here:

![screenshot at 2016-12-15 11 59 10](https://cloud.githubusercontent.com/assets/729580/21221547/0da67130-c2be-11e6-9484-e9a3f00ef017.png)

[2016-12-15 11:19] benshi001 commented on #18324
PASS
ok _/home/pi/go/misc/cgo/test 30.220s
PASS
ok _/home/pi/go/misc/cgo/testtls 0.026s
PASS
ok _/home/pi/go/misc/cgo/nocgo 0.041s
##### ../misc/cgo/testgodefs
##### ../misc/cgo/testso
##### ../misc/cgo/testsovar
##### ../misc/cgo/testcshared
BUG: failed to read any data from pipe
FAIL test2 got
2016/12/14 03:13:22 Failed: exit status 1
##### ../misc/cgo/testshared
PASS
ok _/home/pi/go/misc/cgo/te

[2016-12-15 11:20] benshi001 commented on #18324
pi@raspberrypi:~/go/src $ sudo ./all.bash
##### Building Go bootstrap tool.
cmd/dist
##### Building Go toolchain using /root/go1.4.
bootstrap/cmd/internal/dwarf
bootstrap/cmd/asm/internal/flags
bootstrap/cmd/internal/sys
bootstrap/cmd/internal/bio
bootstrap/cmd/compile/internal/syntax
bootstrap/cmd/internal/gcprog
bootstrap/cmd/internal/obj
bootstrap/math/big
bootstrap/debug/pe
bootstrap/cmd/inter

[2016-12-15 11:22] benshi001 commented on #18324
OK. I have attached the texual log.

在2016年12月15 18时52分, "Aram Hăvărneanu"<notifications@github.com>写道:

Please provide the log in textual form, by pasting it in a comment, not as a pdf (?!??) file.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-15 12:08] AlmogBaku commented on #15027
@mattn see https://github.com/golang/go/blob/master/src/net/http/transport.go#L1031

[2016-12-15 12:11] neelance commented on #5838
Yes, I also think that the second option is harder to implement.

[2016-12-15 12:41] ALTree commented on #18245
I've poked around in `cmd/internal/objfile` (which `objdump` uses to disassemble) and it doesn't look it would be too hard to add some support for `-S` in `objdump`. May look into this for `1.9`

[2016-12-15 14:28] peter-edge opened #18325 "Non-determinism when updating a map that is being iterated over"
`go version`: go version go1.7.4 darwin/amd64

Code:

[code]

This should do one of two things:

- Print out a map that is `{1: 0, 2: 0}`
- Never print anything and never return

Instead, it's non-deterministic in terms of how many loops it does:

[code]

Throwing an error/panicking if you update a map in place is one choice, updating deterministically is another, but the lack of an error and the

[2016-12-15 14:37] frje commented on #18161
@aclements It looks like my original conclusion was probably wrong : 1.8beta1 does not get longer pauses than 1.7.3 it’s just that the benchmark is inherently imprecise and results are quite volatiles. I’ve now ran the benchmark multiple times with *billions* of calls.
What I get is this:

1.7.3
16-22.5ms

1.8Beta1
15-16ms

34291
19-20ms

As far as I’m concerned, this issue should be closed.

[2016-12-15 14:50] dominikh commented on #18325
The behaviour is covered by the spec:

Making it an error is not possible in Go 1 under the backwards compatibility promise. Making it always deterministic would limit possible implementations.

[2016-12-15 14:53] Thomasdezeeuw commented on #18323
On MacOS (10.11.6) Safari accepts the certificate, however Firefox and Chrome don't. Maybe it's still accepted by Apple?

[2016-12-15 14:56] #18230 closed

[2016-12-15 14:56] peter-edge commented on #18325
Ya, we found that right after. Closing.

[2016-12-15 14:56] #18325 closed

[2016-12-15 15:12] akamensky commented on #18323
Seems right. Safari 10.0.1 accepts certificate where as FF (which I mostly use) rejects it.

Makes me wonder if Chrome/FF use their own CA bundles? Or they just use some other way to verify certificate without using local CA bundle?

I thought that revocation happens at the intermediate cert, so it should not be updated in ca bundle every time when some cert if invalidated ahead of expiration.

[2016-12-15 15:35] #18176 closed

[2016-12-15 15:44] FiloSottile opened #18326 "net/http: data race writing to req.Header when serving push"
### What version of Go are you using (`go version`)?
go version go1.8beta1 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Modified the `req.Header` map from a Handler invoked by Push.

https://play.golang.org/p/3azPpVRX8f

### What did you see instead?
[code]

[2016-12-15 15:57] FiloSottile commented on #18323
This is known. `crypto/tls` does not do live OCSP checks, and that definitely can't be introduced by default because it's a behavior change. Google "ImperialViolet revocation" for a few pieces by @agl on why.

Feel free to file a feature request for a `tls.Config` knob to perform OCSP checks, or to require stapling, but you might be better off making a library that hooks into the new `Config.Verif

[2016-12-15 16:04] FiloSottile commented on #18326
For a common use case, think ReverseProxy.

[2016-12-15 16:06] bradfitz commented on #18020
I haven't seen any update on this bug about anything Go 1.8-related, so I'm going to kick this down the road further.

Please try Go 1.8 and file bugs about any performance problems, thanks!

In the future, please start your trials of new Go versions earlier. Testing the move from Go 1.6 to Go 1.7 doesn't help us much when we're just about done with Go 1.8.

[2016-12-15 16:12] leoleovich commented on #17230
+1

[2016-12-15 16:14] FiloSottile opened #18327 "net/http/httputil: ReverseProxy req.Header copying is unclear"
ReverseProxy makes an attempt at not modifying the original req.Header

[code]

However it skips the check for `X-Forwarded-For`

[code]

But more importantly, Director is called on the shallow copied req, and the NewSingleHostReverseProxy one modifies `req.Header` without making a new map

[code]

It looks to me like this is useless unless it's consistent. It should either make a new Header map b

[2016-12-15 16:24] bradfitz commented on #18323
Working as intended.

As @FiloSottile, you'll have to modify your tls.Config. We aren't going to do OCSP checks by default.

I can't find @agl's OCSP blog posts anymore. They seem to 404 now.

[2016-12-15 16:24] #18323 closed

[2016-12-15 16:28] FiloSottile commented on #16100
@bradfitz Sorry for not following up on this one, it turned out to be more nuanced than I thought (HTTP/2, brain, HTTP/2 exists) and didn't have the time to look at it further.

Doing I/O in a goroutine instead of the timer sounds upside-down, but I don't have specific points to make against it. What would make more sense to me would be a way to cancel the whole thing, which would make Body.Read/R

[2016-12-15 16:36] bradfitz commented on #17738
@mikioh,

The `net` package is supposed to be a portable interface. Users should not have to read their operating system manuals.

Can we make something work everywhere, and then document it? 0? 255? `*`?

[2016-12-15 16:37] bradfitz commented on #17614
Guess this isn't happening. @mikioh, feel free to send something for Go 1.8, but otherwise I'm assuming this is Go 1.9 material. I would send a CL but I don't know what you want to say.

[2016-12-15 16:37] bradfitz commented on #18104
Plugin support was removed from Darwin for Go 1.8. Moving this bug to Go 1.9.

[2016-12-15 16:40] bradfitz commented on #18172
Indeed. From the code at top:

[code]

[2016-12-15 16:42] bradfitz commented on #18161
Closing, thanks for the update.

[2016-12-15 16:42] #18161 closed

[2016-12-15 16:44] bradfitz commented on #15027
This was added to Go 1.8. See https://beta.golang.org/pkg/net/http/#Transport.ProxyConnectHeader

Dup of #13290

[2016-12-15 16:44] #15027 closed

[2016-12-15 16:45] bradfitz commented on #18322
@broady has reported App Engine problems.

I think the plan is to move it off App Engine.

Is that correct, @broady? What are the App Engine problems?

[2016-12-15 16:47] bradfitz commented on #16331
@code4ghana, you're commenting on a closed issue. Closed issues aren't tracked.

Also, this had fixes for Go 1.8, not Go 1.7.

[2016-12-15 16:50] bradfitz commented on #18327
I suppose it should just always copy.

This isn't a regression from Go 1.7 to master, is it? How is this related to #18326?

[2016-12-15 17:04] FiloSottile commented on #18327
Not a regression, even if 24d8f3fa4b02784af2419eec8a28aee303aae0c5 is a partial fix.

I linked #18326 because I expect it to end up into a discussion of whether you are supposed to modify `req.Header`, which is relevant to this issue. (And also because it's how I found #18326.)

[2016-12-15 17:46] aclements commented on #17442
Further evidence: in the core I have, both M 0 and M 5 have a non-zero "dying". stopTheWorldWithSema is running on M 5 from goroutine 1. It must have come in second because it's blocked acquiring paniclk in startpanic_m. This also indicates that the bad stopwait value isn't because stopTheWorldWithSema itself panicked, since it hasn't reached the freezetheworld yet.

<details><summary>M 5's stack

[2016-12-15 18:16] benburkert commented on #18305
Yes, that would be a successful write, my mistake.

It looks like the `GetConn` and `GotConn` hooks can also be called multiple times. I did not check any of others but there may be more.

[2016-12-15 18:17] FiloSottile commented on #16100
One possible solution would be for Request.Body to be documented to allow Close concurrent with Read, and not to panic on double Close, and for ResponseWriter to be upgradeable to io.Closer.

[2016-12-15 18:36] rakyll commented on #18307
Looking at it.

[2016-12-15 18:44] bcmills opened #18328 "runtime: signal handling: cgoSigtramp fails to save C callee-save registers."
In programs using cgo, `runtime.setsig` registers `runtime.cgoSigtramp` as the handler for signals to the runtime.  `cgoSigtramp` calls `sigtramp`, which calls `sigtrampgo`, which uses the Go calling convention. The Go convention treats all registers except the stack pointer and frame pointer as caller-save (https://github.com/golang/go/issues/16922).

In debugging https://github.com/golang/go/iss

[2016-12-15 18:45] bradfitz commented on #18105
@vstefanovic, ping on this.

[2016-12-15 18:50] bradfitz commented on #17602
I don't think anybody on the Go team knows how our MSI installer thing works, and this isn't a regression from Go 1.7, so kicking down the road to Go 1.9. Sorry.

Any help on this would be great.

[2016-12-15 18:52] bradfitz commented on #18191
What is the current behavior you see?

Our standard bug report template has a section "What did you expect to see?" and "What did you see instead?". If you're not going to use the template, at least include all the relevant information.

[2016-12-15 18:56] kardianos commented on #17602
If I had to guess, the installer executable is a 32-bit program so part of windows magic redirects it to use the 32-bit program files folder. I again would guess that the fix would be to make the installer 64-bit for 64-bit installs.

[2016-12-15 18:58] bradfitz commented on #17602
How do we get a 64-bit installer? We don't compile the installer.

[2016-12-15 19:09] kardianos commented on #17602
I'm looking into it now. I can confirm this happens with the go1.8beta1 msi.

[2016-12-15 19:10] bradfitz commented on #17602
Okay, all yours. This is still tagged Go 1.9, but if you have a fix, we can try it out earlier.

[2016-12-15 19:13] mikioh commented on #18172
The behavior on GODEBUG=netdns=go looks reasonable to me. Otherwise, we'll lose the way to test whether the full resolvers (or recursive servers) keep the canonical name for the alias. Moreover, we may be confused about the difference between Lookup{IP,Host} and LookupCNAME.

Isn't it better to drop the use of cgoLookupCNAME for LookupCNAME?

[2016-12-15 19:20] bradfitz commented on #18172
@mikioh, well, the documentation has always says:

And until Go 1.5 we always used this cgo LookupCNAME behavior (https://golang.org/doc/go1.5#net), so it seems that the cgo behavior is what people (e.g. @rhansen) expect.

It seems more conservative to figure out what cgo did, make the pure Go version do that, and document it.

But arguably it's been broken for 3 releases and nobody's noticed, so

[2016-12-15 19:39] alandonovan opened #18329 "vet: refactor to support interprocedural checkers"
By design, all current vet checkers see a stream of individual nodes of the syntax tree, and checkers are stateless.  However, some checks need a holistic view of a complete source file.  For example, the lostcancel check needs to inspect the set of import declarations and should ideally amortize this once per file.  Other checkers want to do basic interprocedural analysis of a CallExpr and a Func

[2016-12-15 19:41] titanous commented on #17744
This is a duplicate of #17744, but I believe #17744 should be closed as this issue is clearer and has more discussion.

[2016-12-15 19:42] kardianos commented on #17602
In `golang.org/x/build/cmd/release/releaselet.go` Line 545
[code]

Currently we don't specify in the wxs file if the platform is 32-bit or 64-bit. The msiexec will assume it is 32-bit if not specified. The fix will be to set the attribute. I'll send a CL later, though probably not in time for the beta2.

[2016-12-15 19:44] bradfitz commented on #17602
Ah, great.

/cc @broady

[2016-12-15 19:45] bradfitz commented on #17385
Closing this in favor of the more active dup #17744 bug.

[2016-12-15 19:45] #17385 closed

[2016-12-15 19:46] bradfitz commented on #17744
@x1ddos, your two-cert proposal works. Or a simple boolean option for now too. (ForceRSA bool)

But let's do something soonish so more people can use autocert.

[2016-12-15 19:49] x1ddos commented on #17744
Ok! I'll work on tomorrow and send a cl for review.

On 15 Dec 2016 8:46 pm, "Brad Fitzpatrick" <notifications@github.com> wrote:

[2016-12-15 19:59] rsc commented on #18172
Please match the C library. Sometimes that is all we have. We can't write APIs that duplicate C library functionality but can't be implemented using it.

I looked into netdns=go on Mac a few months ago and I believe I found that it still didn't work under the most restrictive firewall settings. I don't remember the issue number though.

[2016-12-15 20:06] alandonovan commented on #18329
Never mind.  We can make this patch locally.

[2016-12-15 20:06] #18329 closed

[2016-12-15 20:09] tombergan commented on #18326
Should be fixed.

[2016-12-15 20:09] #18326 closed

[2016-12-15 20:24] timxzl opened #18330 "time: comment to Time.Format() does not explain what nines (.999) mean"
### What version of Go are you using (`go version`)?
1.7.4

### What operating system and processor architecture are you using (`go env`)?
linux/amd64

### What did you do?
Try to figure out what the nines mean in the definition of Time.String() function
"2006-01-02 15:04:05.999999999 -0700 MST"
It says this layout string is passed to Time.Format(), but the comment of Time.Format() does not explai

[2016-12-15 20:45] bcmills commented on #18328
The repro case is a minor variation on the test-case added in [change 34239](https://go-review.googlesource.com/#/c/34239/), obtained by making a local variable live across the invocation of the deferred handler:

[code]
[code]
[code]
[code]

[2016-12-15 20:47] bradfitz commented on #18330
The docs already say:

Is that sufficient?

[2016-12-15 20:50] bcmills commented on #18328
@ianlancetaylor: I'm guessing one of us should fix this.  I'm happy to send a patch unless you want to do it yourself.

[2016-12-15 21:02] gyuho commented on #18020
@bradfitz Thanks!

I ran the same tests with `go1.6.4` vs `go1.8beta1`, and got same results

[code]

Here are benchmark binaries and profiled data:

go1.6.4
[etcd-v3.0.2-go1.6.4-2M-serializable-reads-2016121501.pdf](https://github.com/golang/go/files/655812/etcd-v3.0.2-go1.6.4-2M-serializable-reads-2016121501.pdf)
[pprof.localhost-2379.samples.cpu.001.pb.gz](https://github.com/golang/go/files/655

[2016-12-15 21:07] bradfitz commented on #18020
Leaving for @aclements to decide what to do here, and when.

[2016-12-15 21:09] aclements opened #18331 "cmd/compile: reject unknown //go: comments in runtime (or std)"
The compiler should fail if it finds an unknown //go: comment in the runtime, or possibly anywhere in std. We've had a few CLs fixing typos in these: https://golang.org/cl/34377 (crypto/aes), https://golang.org/cl/34378 (runtime).

/cc @randall77 @griesemer @minux

[2016-12-15 21:10] aclements commented on #18067
Thanks for the update!

[2016-12-15 21:13] broady opened #18332 "runtime/pprof: flaky tests (TestMathBigDivide, TestStackBarrierProfiling)"
Failed twice in a row while performing the go1.8beta2 release for linux-amd64, linux-386. freebsd-amd64 failed once, too.

[code]

linux-386 also had this one once:
[code]

[2016-12-15 21:23] bradfitz commented on #18332
Odd that we have't seen these on build.golang.org or trybots. But the x/build/cmd/release tool that @broady is using runs `all.bash`, which the trybot/build.golang.org build system doesn't use. Could that be related? SIGPROF routing differently?

[2016-12-15 21:24] aclements opened #18333 "runtime: backport CL 31138"
If we do a 1.7.5 release, backport [CL 31138](https://golang.org/cl/31138), which fixes #16331 and #17471.

[2016-12-15 21:46] aclements commented on #14812
I just mean that it's not the right long-term solution because the runtime should be doing the right thing and not forcing the user to create their own goroutine pool. Goroutine pools widen the semantic gap between the application and the runtime, so *not* having a pool *should* be better and I consider it a runtime bug if a user-created pool improves things.

This is essentially what I was sugges

[2016-12-15 21:55] timxzl commented on #18330
I meant that the above explanation was under the "Constants" section, which might be overlooked by new users (I admit that I haven't noticed it until recently). Wouldn't it be nice if some brief explanation, or a pointer to the "Constants" section, is present right under "Format"?

Of course, I won't object if you decide that the information is already sufficient.

[2016-12-15 22:07] aclements commented on #17442
I figured out a little more. The racing panic is specifically caused by a SIGABRT from the test harness (when the test times out), which enters the panic path of SIGABRT. I haven't figured out the exact circumstances of the race, but this could explain why I couldn't reproduce this with a normal panic.

[code]

[2016-12-15 22:26] pierrre opened #18334 "sync/atomic: 1.8beta2 ARM / panic: runtime error: invalid memory address or nil pointer dereference"
### What version of Go are you using (`go version`)?
`go version go1.8beta2 linux/arm` (installed from official pre-compiled distribution)

### What operating system and processor architecture are you using (`go env`)?
Raspberry Pi 3 with latest Archlinux ARM

[code]

### What did you do?
`go test github.com/pierrre/imageserver/cache/groupcache`

### What did you expect to see?
Test should pass

#

[2016-12-15 22:27] davecheney commented on #18334
Check issue 599

On Fri, 16 Dec 2016, 09:26 Pierre Durand <notifications@github.com> wrote:

[2016-12-15 22:29] peterh opened #18335 "build: msan tests fail in go1.8beta2"
Running go1.8beta2's all.bash on Ubuntu 16.10 amd64 ends in msan failure:

[code]

gcc version is (Ubuntu 6.2.0-5ubuntu12) 6.2.0 20161005
libasan3 is version 6.2.0-5ubuntu12

[2016-12-15 23:01] mdempsky opened #18336 "cmd/compile: dead pointers kept alive across loop iterations"
A little while back we noticed that 01bf5cc caused an internal test to start failing due to allocating too much memory. Simplifying, the test is basically:

	var v reflect.Value
	for m := in.pop(); m != nil; m = in.pop() {
		v = reflect.ValueOf(m)
		// ... use v ...

		// Clear out reference to m so it doesn't stay alive during in.pop().
		v = reflect.Value{}
	}

This works as intended when reflec

[2016-12-15 23:31] bradfitz commented on #18336
/cc @randall77

[2016-12-15 23:33] #18036 closed

[2016-12-15 23:42] #18328 closed

[2016-12-15 23:45] FiloSottile commented on #18326
Confirmed, thanks.

[2016-12-15 23:49] bradfitz opened #18337 "website: /dl/ should reference the "go get" option for betas"
https://golang.org/dl/?18b2#unstable should mention:

[code]

(As part of your /dl/ work)

[2016-12-15 23:50] #17602 closed

[2016-12-15 23:50] ianlancetaylor commented on #18335
Does the GCC option `-fsanitize=memory` work at all on your system?  That is, does this work?

    echo 'int main() { return 0; }' >foo.c
    gcc -fsanitize=memory -o foo foo.c
    ./foo

[2016-12-15 23:55] mdempsky commented on #18336
Experimenting further, the issue can be reproduced even without inlining:

    for m := in.pop(); m != nil; m = in.pop() {
            i := m
            _ = &i  // dummy statement that takes i's address, but doesn't escape it
    }

Here `i` is being kept alive during the `m = in.pop()` PostStmt clause.

Of course, in this case you could add `i = nil` to forcefully clobber the variable. That's no

[2016-12-16 00:01] peterh commented on #18335
`-fsanitize=memory` is not mentioned in the gcc docs. I presume you meant address. `-fsanitize=address` works on my system. I use it on a large C project on a more-or-less daily basis.

[code]

or even

[code]

I just remembered that gcc is symlinked to ccache, if that makes a difference.

[2016-12-16 00:15] ianlancetaylor commented on #18335
In that case I guess I don't understand why these tests are being run at all.  misc/testsanitizers/test.bash starts out with

    echo 'int main() { return 0; }' > ${TMPDIR}/testsanitizers$$.c
    if $CC -fsanitize=memory -c ${TMPDIR}/testsanitizers$$.c -o ${TMPDIR}/testsanitizers$$.o 2>&1 | grep "unrecognized" >& /dev/null; then
      echo "skipping msan tests: -fsanitize=memory not supported"

[2016-12-16 00:22] ianlancetaylor commented on #18324
The relevant error is

    ##### ../misc/cgo/testcshared
    BUG: failed to read any data from pipe
    FAIL test2 got

Is this repeatable?  It could be simply due to the system being slower than expected.  The program (misc/cgo/testcshared/main2.c) waits 100 milliseconds for a shared library initializer, running in a separate thread, to open a file descriptor and write a string to it.  Perhaps it

[2016-12-16 00:23] bcmills opened #18338 "cmd/go: TestCgoConsistentResults fails with clang-3.8"
[code]
[code]
[code]

[2016-12-16 00:24] peterh commented on #18335
It turns out I do have clang installed:
[code]
make.bash claims that gcc is preferred over clang, though. Maybe it's building some pieces with gcc and others with clang? Or maybe the comment in make.bash is out of date.

After uninstalling clang,
[code]
and `ALL TESTS PASSED`.

[2016-12-16 00:26] ianlancetaylor commented on #18338
Dup of #15405 ?

[2016-12-16 00:27] bradfitz commented on #18334
Indeed, this looks like #599.

0x107a60ac is not 8-byte aligned.

Go 1.8 is stricter about this than Go 1.7, even thought it was always a bug. We just let you get lucky sometimes in the past.

Looks like this is a bug in groupcache. Group.Stats is not aligned on 32-bit.

Fix coming.

[2016-12-16 00:27] ianlancetaylor commented on #18335
make.bash prefers GCC, but misc/cgo/testsanitizers/test.bash prefers clang.

[2016-12-16 00:28] #18334 closed

[2016-12-16 00:28] bcmills commented on #18338
Yep, looks that way.

[2016-12-16 00:28] #18338 closed

[2016-12-16 00:28] bradfitz commented on #18334
@pierrre, update your groupcache. Should now be fixed by https://github.com/golang/groupcache/commit/d092608c065831f1984ac9d332ca5b2c95a11f57

I didn't verify on ARM, though.

[2016-12-16 00:29] ianlancetaylor commented on #18335
Now I have the same question about the version of clang on your system.  Does this work?

    echo 'int main() { return 0; }' >foo.c
    clang -fsanitize=memory -o foo foo.c
    ./foo

[2016-12-16 00:34] peterh commented on #18335
Reinstalling clang and uninstalling gcc results in
[code]
so it's not just "gcc preferred" but "clang not even detected" (at least, when the bootstrap go was compiled with gcc).

Forcing clang, it never reaches the msan test:
[code]

[2016-12-16 00:35] peterh commented on #18335
You're right. It does appear that clang's -fsanitize=memory is completely broken:
[code]

[2016-12-16 00:42] bcmills commented on #18332
`TestCPUProfileWithFork` is also flaky for me.

[code]
[code]

[code]

[2016-12-16 00:47] glasser commented on #14952
For what it's worth, plenty of browsers (I just verified this in Chrome, Safari, and curl) will send `GET //foo` if a human user chooses to type http://host//foo into them.  Popular websites seem to vary as to whether or not they ignore extraneous slashes (eg, www.google.com appears to, www.facebook.com appears to not).

[2016-12-16 01:00] ianlancetaylor commented on #18332
CC @matloob @rauls5382

[2016-12-16 01:12] ianlancetaylor commented on #18332
`TestCPUProfileWithFork` is probably a different problem and should probably be filed as a separate issue.

The `TestMathBigDivide` and `TestStackBarrierProfiling` tests are getting profiling samples, they just aren't getting as many as the tests expect.  The tests expect 100 profiling samples per second, and will accept as few as 25 samples per second.  They are getting more like 14 or 15 per sec

[2016-12-16 01:27] bradfitz commented on #18332
We should disable the tests if they can't be made reliable.

[2016-12-16 01:33] minux commented on #18317
And I think the long term plan is to have framepointer in all architectures?
having framepointers helped a lot in debugging and will help even more
for the RISC architectures.

[2016-12-16 01:40] ianlancetaylor commented on #18332
I'll change them to pass if we get at least 10 samples.  That is enough to show that the profiler is doing something.

[2016-12-16 01:45] minux commented on #17082
We've got two requests for continuing ARMv5 support so far.

https://groups.google.com/forum/#!topic/golang-dev/CO15hgslZ0o
https://groups.google.com/d/msg/golang-dev/lWL6L9-DejU/4ybgle4bCgAJ

There will always be ARMv5 hardware in service, like there are still
Windows 2000 in service. Yet we've dropped support for the latter.
we need to set a clear criteria for retaining ARMv5 support. My
proposa

[2016-12-16 01:46] #18335 closed

[2016-12-16 02:33] ghost opened #18339 "cmd/go: add SWIGFLAGS environment variable to propagate '-D' flags"
This issue is seen in go1.7.1 on both darwin/amd64 and linux/386.  It probably exists on other platforms.

Consider the following simple program.

bash-3.2$ ls -l
total 24
-rw-r--r--  1 hormozzarnani  staff  51 Dec 15 12:58 bug_D_prop.i
lrwxr-xr-x  1 hormozzarnani  staff  12 Dec 15 12:56 bug_D_prop.swigcxx -> bug_D_prop.i
-rw-r--r--  1 hormozzarnani  staff  70 Dec 15 12:56 package.go
bash-3.2$ for

[2016-12-16 02:35] bradfitz commented on #18339
I suspect this is working as intended. @ianlancetaylor?

[2016-12-16 02:50] bradfitz opened #18340 "x/net/http2: make Transport send GOAWAY"
We previously debated whether the Transport should send GOAWAY frames on shutdown, but couldn't think of a useful reason why.

The spec does say:

Or code is like:

[code]

But I'm still not quite sure why a server would care.

/cc @mnot @tombergan

[2016-12-16 02:52] bradfitz opened #18341 "x/net/http2: Transport should handle 421"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

### What did you expect to see?

### What did

[2016-12-16 03:03] nigeltao commented on #18278
I'd like to see it kept and implemented, but I don't have much free time right now, and @mpvl is on long-term leave.

[2016-12-16 03:40] mikioh commented on #18191
It's hard to describe to me because I'm not sure whether the behavior must be the same and what's the expected behavior by the original author. The observable things are the following:
- The testing package mentions nothing about `no text after "Output:"`,
- The cmd/go package says that `no text after "Output:"` never executes examples,
- Running `cmd/go test` with an example containing `no text a

[2016-12-16 04:03] hzarnani commented on #18339
My understanding is that building a go package containing *.swigcxx is functionally equivalent to when the build is done in two steps -- by first manually invoking swig on the interface files followed by running go build (cgo) on the generated wrappers (and without the *.swigcxx files, of course).  At least that's the desired behavior.  If that is not the case, I believe it warrants documentation.

[2016-12-16 04:18] aclements commented on #17442
The following program reproduces this for me in around a second. It starts a subprocess that gets multiple Ms running, one of which repeatedly stops the world. It then sends it a SIGABRT. It's important that there be multiple Ms and that the one that receives the signal be different from the one doing the STW.

It's not too sensitive to the timing of the SIGABRT, but the timing I have below worked

[2016-12-16 04:21] dsnet opened #18342 "proposal: x/tools/cmd/godoc: add support for sections"
# Problem Statement

As packages grow organically over time, their API surface often expands to the point where it is hard to understand how to use the package when all functions and types are shown as a vast alphabetically ordered list. Aside from reading examples (and other 3rd party tutorials), it becomes nearly impossible figuring out how to use a package by the `godoc` alone.

For example, it

[2016-12-16 04:21] dsnet commented on #18342
\cc @neild @light @bcmills @bradfitz @lmmilewski

[2016-12-16 04:35] minux commented on #18342
Should we just split huge packages or have better introduction
in package docs and package level example instead?

[2016-12-16 04:49] dsnet commented on #18342
In retrospect, some of these packages should be split apart and doing so will definitely help the situation. The reality is, many packages are currently bloated and are unlikely to shed API surface anytime soon due to compatibility reasons.
1. Even if we start gradually moving types using aliases (or whatever the solution ends up being), there is still a reference in the package. Sections help cat

[2016-12-16 05:46] balasanjay commented on #17973
@bcmills I think it is a semantic race, but I also think we both misunderstood slightly the purpose of the `readersVersion`. Specifically, I think we had both assumed that it was effectively a reference counter for each of the left and right datastructure, but now that I read the paper more closely, its really a handshake mechanism between the reader and writer. Specifically, whether it reads the

[2016-12-16 06:00] ianlancetaylor commented on #18339
I don't think there are any current guidelines for mixing cgo and SWIG in the same package.  It's not obvious why the suggestion is particularly useful--you could add a #define in the .swigcxx file instead.  But we should decide how these are supposed to interact.

[2016-12-16 06:23] hzarnani commented on #18339
I'm perplexed, to say the least, by the suggestive dismissal of this.  One may as well say "what's the utility of the -D flag in gcc?  You could just define your symbol in the file itself."  Well, for many years, programmers have used -D at the command line to do conditional compilation.  The point is that the build envrionemt should have the ability to control what's compiled and how without sour

[2016-12-16 06:58] hzarnani opened #18343 "Applying swig's %go_import directive to non-builtin packages is not supported"
One of swig's useful language-specific directives for the Go language is %go_import.  It allows defining typemaps and wrappers (with "%insert(go_wrapper)"), among others, using symbols defined in a user-defined package found under $GOPATH/src.  However, the go build system only allows %go_import of builtin packages.  User-defined packages are not accessible in the temporary workspace which go crea

[2016-12-16 07:52] hzarnani commented on #18343
A more tangible example showing why `%go_import` is useful follows.  (This is partly for clarification and partly in response to a comment received on issues #18339 where the utility of the use case was questioned.)

Consider two C++ libraries, one whose declarations are exported in the header foo.hpp and another in bar.hpp.  Consider further that bar.hpp uses symbols from foo.hpp.  In the followi

[2016-12-16 07:54] #18226 closed

[2016-12-16 08:01] neild commented on #18342
+1 for some form of sections in godoc.

Splitting large packages can make sense, but it's very difficult to do after the fact and a maze of highly interdependent small packages is not necessarily any clearer than a single large one. Even small packages can benefit from sections, too; for example, database/sql is not particularly large, but grouping the Null* types into a single section might provi

[2016-12-16 08:43] ALTree commented on #18191
Examples with no `output` comment are compiled but not executed (which is correct):

[code]

Examples with no text after `//Output:` behaves differenty from what `go doc cmd/go` says. The following:

[code]

is compiled **and** executed, both on `go1.7.3` and on `tip` (and it fails at run-time because the output is not empty).

Note that rsc asked for an example with no text after `//Output:` to b

[2016-12-16 08:52] mikioh commented on #18191
Nice, thanks for the investigation, @ALTree.

[2016-12-16 09:01] pierrre commented on #18334
@bradfitz thank you, the problem is fixed ! :smile:
Is "alignment" something I should take care of, as a "normal" developer ?

[2016-12-16 09:02] ALTree commented on #18191
I sent https://golang.org/cl/34512 (for 1.8 or 1.9, you decide).

[2016-12-16 09:50] stevenh commented on #15658
Been running your new code with ktrace since Wed Dec 14 10:06:02 UTC 2016 no crashes yet :(

[2016-12-16 09:51] dvyukov commented on #17973
We already have per-P data, see e.g. sync.Pool. But we decided to not expose it to all packages, because (1) it is too brittle, (2) designing a stable API for this is hard.
But it won't save you from the depressing things, because even if yo have per-P data you still need to use atomic operations, because goroutines can be switched while working with per-P data.

[2016-12-16 10:05] sajal commented on #12503
So, currently `net.Dialer` accepts a `net.Resolver` which is a struct and not an interface. As I understand it, there is no way to override the Lookup* methods. Are there any plans to make it an interface? Just like how `http.Client` uses `http.RoundTripper` interface instead of explicit  `http.Transport` struct.

[2016-12-16 11:05] PumpkinSeed opened #18344 "URL Query Delete not working"
### What version of Go are you using (`go version`)?
go1.7.3 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
Fedora amd64

### What did you do?
I try to delete a param from url Query using the `r.URL.Query().Del("test")`

### What did you expect to see?
After when I print out, or want to use the `r.URL.Query()`, it's not contain the "test" parameter.

##

[2016-12-16 11:37] cznic commented on #18342
Please keep godoc as simple as it is. It's a great value, though some would realize that only after it's gone.

Projects needing more structured documentation can easily link to any of the uncountable formats available. For example [`guru`](https://godoc.org/golang.org/x/tools/cmd/guru) or [`go/types`](https://golang.org/pkg/go/types/) do that.

[2016-12-16 11:37] odeke-em commented on #18344
@PumpkinSeed invoking r.URL.Query() creates a new url.Values each time, that isn't the same from your last invocation. The problem is that you are not reusing the value that you are deleting from.
Here is something to show you that on their own values.Del actually does what it advertises
https://play.golang.org/p/X_hyS78LmY

The https://golang.org/pkg/net/url/#URL.Query docs say that it parses the

[2016-12-16 11:37] #18344 closed

[2016-12-16 12:22] gedw99 commented on #11818
@nigeltao

MDL components
https://github.com/material-components

Google have put iOS, web, android MDL all together now.

If you be cool if shiny was at this point too.

[2016-12-16 13:04] Bplotka commented on #9524
Any update on that? We have *Go 1.7* and this is still not fixed. We just lost one day investigating the bug which was caused by the `ReadTimeout` behaving totally different than stated in documentation:
[code]
The above is not true while using `CloseNotify` channel. As stated in @xiang90 description, for `CloseNotify` this is an *absolute* max duration before timing out of the whole connection.

[2016-12-16 13:29] peter-mogensen commented on #16100
For what it's worth ... I think we have a related use case.  (only for reading requests and not for writing)

We have some slow clients doing large PUT requests - sometime on unstable connections which dies.
But we would like to allow these PUT requests as long as there is actually progress and Read() returns data. Preferably only on the endpoints where that should be allowed.

Currently, though w

[2016-12-16 13:46] x1ddos commented on #17740
Maybe a simpler way is to just remove the "bogus" state from in-memory map and retry on the next TLS hello. So, it would just seem like a new domain to the Manager.

How does it sound?

[2016-12-16 14:46] kardianos commented on #18334
Yes. At this time if you use atomic you must manually ensure alignment.

[2016-12-16 15:17] #18332 closed

[2016-12-16 15:28] bradfitz commented on #9524
A lot of work happened in this space in Go 1.8. Notably,
c7e0dda45046c539d99b7e8c3bd3e79b3fab9776 and faf882d1d427e8c8a9a1be00d8ddcab81d1e848e.

I lost this bug because it fell into the "Unplanned" milestone, which we no longer use. I'll retarget this for Go 1.9.

But it might also be fixed by the Go 1.8 changes. Can you investigate using Go 1.8beta2?

See https://groups.google.com/forum/#!topic/g

[2016-12-16 15:31] tylertreat opened #18345 "-buildmode=plugin stopped working in go1.8beta2"
### What version of Go are you using (`go version`)?

go1.8beta2

### What operating system and processor architecture are you using (`go env`)?

darwin/amd64

### What did you do?

[code]

### What did you expect to see?

`-buildmode=plugin` works with go1.8beta1, so I expected it to work with go1.8beta2. The documentation indicates plugins are supported on darwin.

### What did you see instead?

[2016-12-16 15:31] bradfitz commented on #12503
@sajal, yes, we left room for in the design for that: https://github.com/golang/go/blob/ecc4474341504f5893c8333dbb68c520dbe93ca5/src/net/lookup.go#L100

[2016-12-16 15:33] bradfitz commented on #18345
Yes, it was removed from Darwin after beta1 and before beta2. There were too many bugs we didn't have time to fix before the release. Plugins will be Linux-only for Go 1.8.

[2016-12-16 15:33] #18345 closed

[2016-12-16 15:36] #18181 closed

[2016-12-16 15:36] tylertreat commented on #18345
@bradfitz is there an issue tracking plugin support for Darwin (I assume support is still planned)?

[2016-12-16 15:46] tylertreat commented on #18345
This appears to be it: https://github.com/golang/go/issues/18190

[2016-12-16 15:56] ianlancetaylor commented on #18343
I agree it would be nice to fix this problem.

Although I haven't tested it, I think that another workaround would be to run `go install swig-sandbox/import/mytime` before trying to build swig-sandbox/import.  That is, the problem is not that the package can not be found.  The problem is that the go tool does not see the dependency between the packages, because the go tool only looks at .go files

[2016-12-16 16:02] bradfitz commented on #17740
If you're under heavy load and push a misconfiguration, you don't want to be slamming LetsEncrypt with requests. I'd make sure you not speak out any ACME for, say, a minute after any ACME rejection. Or be smart about which errors incur which time penalties. Some might mean infinite. Some might be transient network failures and you could retry in seconds.

But I think just waiting for the next TLS

[2016-12-16 16:18] laszlohordos opened #18346 "crypto/tls: access to TLS Session ID"
I'd like to implement a secure TLS session and make sure both party has the same [TLS Session ID](https://tools.ietf.org/html/rfc4507#section-3.4) but Go does not allow access to that information. I'm using DNS Sec and other Crypto methods to protect against Man-in-the-middle attack and this would be one of the pillar of protection. I described my sample [here](https://groups.google.com/forum/#!ms

[2016-12-16 16:22] cpuguy83 opened #18347 "[go1.8beta2] Investigating bad bad break in docker test suite"
### What version of Go are you using (`go version`)?
1.8beta2

### What operating system and processor architecture are you using (`go env`)?
linux/amd64

### What did you do?

Testing 1.8beta on docker's test suite

### What did you expect to see?
Tests actually run

### What did you see instead?

**All** of our integration tests are erroring.

This only happens with beta2. Beta1 had a couple of

[2016-12-16 16:28] alandonovan opened #18348 "go/token: use fine-grained locking in token.File"
Because access to the lines and info fields of token.File are protected by the mutex of the parent FileSet, all concurrent calls to AddLine in a typical application contend for the same lock, which becomes a major bottleneck when parsing files in parallel, as done by golang.org/x/tools/go/loader for example.

Fine-grained locking, that is, an additional mutex in each token.File that protects these

[2016-12-16 16:28] alandonovan commented on #18348
/cc @griesemer

[2016-12-16 16:38] bradfitz commented on #18347
What is Docker's tracking bug for this?

[2016-12-16 16:38] bradfitz commented on #18346
To @agl for decision.

[2016-12-16 16:39] cpuguy83 commented on #18347
Just tracking in docker/docker#29030 at the moment.

[2016-12-16 16:46] aclements commented on #17442
So, at this point, the specific sequence of events is pretty clear:

1. Something initiates a STW. `stopTheWorldWithSema` sets `sched.stopwait` to gomaxprocs and starts preempting Ps.
2. A SIGABRT (or some `_SigThrow` signal) comes in on a thread that STW has already preempted. `sighandler` sees that `crashing == 0` and calls `startpanic`, which eventually calls `freezetheworld`, which sets `sched

[2016-12-16 16:52] bcmills opened #18349 "runtime/pprof: TestCPUProfileWithFork is flaky"
(Extracted from a comment on #18332.)

TestCPUProfileWithFork is flaky for me using all.bash.

[code]
[code]
[code]

[2016-12-16 17:00] cpuguy83 commented on #18347
[code]

But not sure what changed that it's causing an issue.

[2016-12-16 17:01] bcmills commented on #18342
It appears that the `godoc` on `golang.org` already supports sections to some extent.  For example, there are now heading links to [the Examples section of the `testing` package](https://golang.org/pkg/testing/#hdr-Examples).

Another option might be to expand godoc to accept package comments from multiple source files.  The package comment(s) in source files without any other declarations would b

[2016-12-16 17:05] bcmills commented on #18342
For the example of the `proto` package in particular: I maintain that it would be cleaner to split that package into two (or more) distinct packages: one with only the user-facing API, and another with the pseudo-internal hooks for generated proto packages.

(I could envision even-finer-grained splits, too: one for the `proto2` pointer-to-primitive helper functions, perhaps one for the extension A

[2016-12-16 17:05] mrjrieke commented on #18300
Interesting...

[2016-12-16 17:11] dsnet commented on #18347
Are you able to git bisect to a given commit that broke it?

[2016-12-16 17:18] dsnet commented on #18342
I contend that the most useful feature of sections that I want to see is the ability to group a set of `const`, `var`, `func`, and `type` declarations together. Right now, all we have is the ability to pretty print some header title.

Absolutely agree the pseudo-internal hooks should have been a different package. I believe the exported stuff to help with custom implementations of Message should a

[2016-12-16 17:19] #17744 closed

[2016-12-16 17:23] agl commented on #18346
The TLS Finished hash closes over the session ID so, if the connection is successful, you don't need to check that they match.

[2016-12-16 17:23] #18346 closed

[2016-12-16 17:28] josharian commented on #18342
Thinking out loud...

What if that grouping was determined, perhaps optionally, by source file? Code is frequently already organized this way, with some exceptions, like autogenerated files. And if feels less fragile than relying on any ordering within a file. Perhaps if you still want section headers and more control, there could be zero or one section header per file, which applied to all code i

[2016-12-16 17:39] bcmills commented on #18342
1. The pointer-to-primitive functions aren't needed for proto3 messages, so only a subset of users of the `proto` package will actually use them.
2. `goimports` makes having lots of tiny packages fairly benign, as long as there is some reasonable heuristic to figure out which item is in which package.  (Contrast: `io` vs. `ioutil`.)

The `net` and `http` packages in the standard library might be o

[2016-12-16 17:39] pierrre commented on #18334
OK thank you

[2016-12-16 17:49] dgnorton opened #18350 "plugin: allow code to be in package other than main"
### What version of Go are you using (`go version`)?

1.8 beta 2

### What operating system and processor architecture are you using (`go env`)?

Ubuntu 14.04

Currently, the `plugin` package requires that code be in `package main`. It would be convenient if plugins could be built from any existing package. This would allow a package to be statically linked in the usual way or built as a plugin in

[2016-12-16 17:51] neild commented on #18342
I disagree that lots of tiny packages are benign, even with goimports. The user still needs to remember which package contains which function; easy when you have one or two packages, less so when you have a dozen.

Obviously, stuffing unrelated functionality into a single package isn't right either. It's a balance. (For the proto package, I'd say the pointer-to-primitive functions should stay--the

[2016-12-16 17:57] hzarnani commented on #18343
Putting 'import _ "user/def/pkg"' in some go file is a good workaround.  Thanks.

I'm sure there are reasons for go build working this way, but I think the go build system should first run swig to generate go files and then proceed to the normal build as if swig isn't present.   That way, a package could simply contain an interface file and still build (but today the build fails with the "no build

[2016-12-16 18:00] dsnet commented on #18342
In the example I posted, when I was organizing the `proto` package, 5 of the sections were pretty much by file. The last section, which was about "pseudo-internal stuff" was spanning several files. Arguably, those functions and types could be all moved to a single internal.go file and be made one section. Thus, grouping by file can lead to an unfortunate amount of code-churn.

If we end up going w

[2016-12-16 18:02] neild commented on #18342
As a specific example from the net package, it contains eight error types:

[code]

Those are currently spread throughout the package index; collecting them into a single section would improve clarity.

These type names could be rewritten to use a common prefix (e.g., ErrParse) so that they sort together, but using less-natural names to work around godoc doesn't seem like a good situation.

[2016-12-16 18:06] laszlohordos commented on #18346
I may not expressed the issue well by judging your answer. The TLS session is established and I have it between the Client and one Server. Hopefully with the right server and hope there is no Man-in-the-middle but how can I be sure? I have to do a DNS-Sec  + using the Certificate pinning and hope the private key of other party is not corrupted. This is an IoT use case where devices communicating w

[2016-12-16 18:14] mrkane27 opened #18351 "cmd/go: docs to make it more obvious how build tags are meant to be passed"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.7.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Volumes/dev/gpuroot"
GORACE=""
GOROOT="/usr/local/Cellar/go/1.7.3/libexec

[2016-12-16 18:16] bcmills opened #18352 "runtime: refactor assembly for C calls in signal handlers"
On [change 34501](https://go-review.googlesource.com/#/c/34501/), @minux notes:

@ianlancetaylor replies:

[2016-12-16 18:25] glasser commented on #18199
If the idea of `T.Context()` is ever revisited, I'd suggest considering also including the test name with WithValue.  This would mean that if you're using a logging mechanism other than `T.Log` with parallel tests (and `test -v`), you'd have an easy way of labeling logs with the test name.

[2016-12-16 18:38] cgay opened #18353 "Improve "not enough arguments" compiler error"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.7.3

### What operating system and processor architecture are you using (`go env`)?
amd64/linux

### What did you do?
https://play.golang.org/p/7tKmLVSi-r

package main

func foo(a, b string) {
}
func main() {
	foo()
}

### What did you expect to see?
main.go:6: not enough ar

[2016-12-16 18:45] odeke-em commented on #18353
@cgay, this issue is a duplicate of https://github.com/golang/go/issues/4215 that was fixed by CL
https://golang.org/cl/25156 for Go1.8.
If you run the latest, you'll see
[code]
Please get the latest and we should be good to go.

[2016-12-16 18:45] #18353 closed

[2016-12-16 18:46] ianlancetaylor commented on #17442
From what you are saying, the same problem would happen if one goroutine calls panic, the panic is not recovered, and the goroutine is about to call `startpanic` when the thread it is running on is preempted by the OS.  Then some other goroutine on some other thread calls `stopTheWorldWithSema`.  Then the first thread is scheduled again, calls `startpanic` and then `freezetheworld` (on the g0 stac

[2016-12-16 18:56] ianlancetaylor commented on #18349
Thanks for pulling this out of the other issue.  I'm not sure what is happening here.  The test was killed because it ran for more than 4 minutes.  When I run the test with `-test.short`, which is how all.bash runs it, it takes around 1.3 seconds.  The interrupt occurred while the syscall package was calling the `clone` syscall.  It appears that that somehow hung.  I can not think of anything that

[2016-12-16 19:16] bcmills commented on #18352
One possibility for the "C call into Go" direction would be to split `crosscall2' into two functions.  One would save callee-saved registers, call a passed-in function with the non-stack-pointer registers remaining as-is, and then restore the callee-saved registers.  The other would copy argument registers into stack slots, invoke a Go function, and then copy return-parameter slots into return-reg

[2016-12-16 19:17] peterh commented on #18335
Works for me. Thanks for the fix!

[2016-12-16 19:19] bradfitz commented on #18342
Not to mention that's not the convention. It's ErrFoo (or errFoo) for variables, and FooError (or fooError) for types.

[2016-12-16 19:20] rsc commented on #18130
@niemeyer It seems like there is a lot of complexity hiding behind these adapters that is not fully specified. At this point I think the simplicity of type aliases weighs strongly in their favor. I sat down to list all the things that will need updating just for type aliases, and it's a very long list. The list would certainly be longer for adapters, and I still don't fully understand all the deta

[2016-12-16 19:24] bcmills commented on #18352
For the "Go call into C" direction (such as `sigfwd`; see #17641), we could probably factor out a function which aligns the stack pointer, invokes a function (again passed in a stack slot or non-argument register), and then restores the stack.  It would still be up to the individual callers to load the appropriate argument registers, but that would at least cut down on some of the duplication (e.g

[2016-12-16 19:25] rsc commented on #18130
@jimmyfrasche Regarding methods on aliases, certainly aliases do not allow bypassing the usual method definition restrictions: if a package defines type T1 = otherpkg.T2, it cannot define methods on T1, just as it cannot define methods directly on otherpkg.T2. However, if a package defines type T1 = T2 (both in the same package), then the answer is less clear. We could introduce a restriction but

[2016-12-16 19:25] rsc commented on #18130
Updated the top-level discussion summary again. Changes:

- Added link to GothamGo video
- Added "abbreviating long names" as a possible use, per @jba.
- Added x/image/draw as argument against standard library restriction, per @Merovius.
- Added more text about methods on aliases, per @jimmyfrasche.

[2016-12-16 19:32] deafgoat opened #18354 "math: tan function returns different results depending on platform"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
OS X: `go version go1.6 darwin/amd64`
PowerPC (PPC): `go version go1.4.2 gccgo (GCC) 5.4.0 linux/ppc64le`
s390x: `go version go1.4.2 gccgo (GCC) 5.4.0 linux/s390x`

### What operating system and processor architecture are you using (`go env`)?

OS X:
[code]

PPC:
[code]

s390x:

[2016-12-16 19:36] rsc commented on #18130
**Design doc added: [golang.org/design/18130-type-alias](https://golang.org/design/18130-type-alias)**

As was the case a week ago, there still seems to be a general consensus for type aliases. Robert and I drafted a formal design doc, which I've just checked in (link above).

Following the [proposal process](https://github.com/golang/proposal#process), please post substantive comments on the prop

[2016-12-16 19:39] dsnet commented on #18342
As another data point. The need for sections is not just for bloated packages, but even small packages can benefit from sections. I mentioned earlier the example of the `binary` package and the problem with `ByteOrder` and `LittleEndian` being on opposite sides of the page.

Here's what the GoDoc would look like with sections: [binary doc](https://cloud.githubusercontent.com/assets/6354026/2127596

[2016-12-16 19:44] rsc commented on #18342
What do other languages do? I agree that godoc could do better. It would be great if we could do better automatically. It's easy to group errors, for example. Are there automatic groupings that we can explore? Alternately, what do other languages do.

One thing I do not want to see is CLs moving code around and breaking 'git blame' just so that things appear in a different order in godoc.

[2016-12-16 19:53] bradfitz commented on #18354
/cc @griesemer @randall77 @ianlancetaylor

[2016-12-16 20:02] bcmills commented on #18342
Grouping functions with similar signatures would help with the `binary` package.  Grouping types with similar method sets would help with the `net` package.

Unfortunately, I don't see any obvious heuristics that would help with the `net/http` package: the logical groupings there, I think, are "client", "server", and "data", but determining which declaration goes with which cluster seems to requir

[2016-12-16 20:02] neild commented on #18342
Python has pydoc, which I do not believe has sections. The Python standard library documentation is a separate set of reStructuredText files with internal sections; it does not use pydoc.

I don't believe Javadoc has sections. My experience in reading Javadocs does not lead me to consider it a system in need of emulation.

[2016-12-16 20:12] cznic commented on #18342
Someone spends more time in godoc, someone else might spend more time reading source code. Nonetheless, the better/richer/fancier the godoc output gets in terms of anything based on some magic/metadata/markup/... in comments, the less overaly source code comments will be usable without the godoc "interpreter".

It's a zero sum game.

[2016-12-16 20:12] bcmills commented on #18342
The Haskell [Haddock markup language](https://www.haskell.org/haddock/doc/html/markup.html) has [heading annotations](https://www.haskell.org/haddock/doc/html/ch03s04.html).

Rust [uses Markdown](https://doc.rust-lang.org/book/documentation.html) with some distinguished sections and some special parsing for examples.

I believe that [ocamldoc](http://caml.inria.fr/pub/docs/manual-ocaml/ocamldoc.ht

[2016-12-16 20:19] mitchellh commented on #18141
This change appears to be causing intermittent "x509 certificate not trusted" errors for our non-cgo built Darwin binaries in Terraform: https://github.com/hashicorp/terraform/issues/10779#issuecomment-267678811

Starting with the release where we switched to 1.7.4, a number of users (not just the above issue) have reported that they intermittently get "x509 certificate not trusted" errors. As you

[2016-12-16 20:22] Bplotka commented on #9524
Thanks, will try in the next days.

[2016-12-16 20:23] bradfitz commented on #18141
@mitchellh, can you verify whether https://go-review.googlesource.com/c/34389/ reduces or eliminates the flakiness?

As a speed optimization we tried piping into the macOS "security" tool, which works on Sierra, but it seems flaky, so the CL above passes it via a temp file always which is slower but seems to actually work. I hope that's what you're seeing.

[2016-12-16 20:24] aclements commented on #17442
That can't happen because the panicking goroutine will block the STW, so stopTheWorldWithSema will never get to the point where it observes the bad stopwait value. The problem with signals is that they can initiate a panic on an already "stopped" M, so unlike a normal panic, they can race with STW.

[2016-12-16 20:33] bcmills commented on #18349
I do indeed have a FUSE filesystem mounted, but I don't think the `all.bash` test environment includes any FUSE-mounted paths on my system.

I saw several flakes yesterday, but am unable to reproduce one today.

Pardon my ignorance, but I can't seem to figure out how to run individual standard-library tests in the correct environment.  (`go test runtime/pprof/pprof_test.go -test.short` fails for m

[2016-12-16 20:36] heschik commented on #13613
I took an execution trace from an application with a 15-30GB heap, and a call to runtime.ReadMemStats() paused it for about 40 ms. We don't want to give up monitoring memory usage and GC performance, but we also don't want to pause to do it. So some improvement in this area would be appreciated.

If it helps, a non-STW version of ReadMemStats that only provided roughly accurate numbers, or left ou

[2016-12-16 20:39] aclements commented on #13613
I haven't thought deeply about this, but I suspect ReadMemStats can be made dramatically more efficient without sacrificing accuracy. It may still have to stop the world very briefly to collect distributed statistics, but that would be much better than the current STW walk it does over the entire heap.

[2016-12-16 20:40] bradfitz commented on #18349
go test generally takes a package, not a file. The file support is very limited and weird, and probably doesn't work for the standard library.

[code]

[2016-12-16 20:43] bcmills commented on #18349
Found a command-line that seems to run the test, but it's not reproducing the failure:

[code]

[2016-12-16 20:44] bradfitz commented on #18349
GOPATH="$GOROOT/src" is bogus. The GOPATH and GOROOT can't overlap. Some commands throw errors if they do. Probably "go test" should also.

[2016-12-16 20:45] Merovius commented on #18130
I would like to have the "Effect on embedding" reconsidered. It limits the usability of type aliases for gradual code repair. Namely, if `p1` wants to rename a type `type T1 = T2` and package `p2` embeds `p1.T2` in a struct, they will never be able to update that definition to `p1.T1`, because an importer `p3` might refer to the embedded struct by name. `p2` then can't switch to `p1.T1` without br

[2016-12-16 20:57] jimmyfrasche commented on #18130
@rsc re methods on an alias

If you have a type S that's an alias for type T, both defined in the same package, and you allow defining methods on S, what if T is an alias for p.F defined in a different package? While that should obviously fail as well, there are subtleties in enforcement, implementation, and readability of the source to consider (If T is in a different file from S, it's not immedi

[2016-12-16 21:14] jba commented on #18130
@jimmyfrasche If we are writing `type T1 = T2` and T2 is in the same package, then we are probably deprecating the name T2. In that case, we want as few occurrences of T2 in the godoc as possible. So we'd like to declare all methods as `func (T1) M()`.

[2016-12-16 21:15] dsnet opened #18355 "path/filepath: HasPrefix should be marked deprecated"
The documentation for [`filepath.HasPrefix`](https://golang.org/pkg/path/filepath/#HasPrefix) says:

We should switch this to use the "Deprecated:" tag so that tools can flag new uses of this.

As it is currently implemented, it is misleading because it only does `strings.HasPrefix` and does not actually match on patch segments. Thus, the following reports true, which is surprising:
[code]

\cc @n

[2016-12-16 21:17] bradfitz commented on #18355
Just send it now for Go 1.8. It's only docs.

[2016-12-16 21:18] neild commented on #18342
I don't see any form of zero-sum game between godoc and source code comments. The proposed section comments read naturally in either location.

[2016-12-16 21:26] jimmyfrasche commented on #18130
@jba a godoc change to report the methods of an alias as being declared on that alias would fulfill that requirement without changing the readability of the source. In general it would be nice if godoc displayed the full method set of a type when aliasing and/or embedding is involved, especially when the type comes from another package. The problem should be solved with smarter tooling not more la

[2016-12-16 21:27] bcmills commented on #18130
@jba In that case, why wouldn't you just reverse the direction of the alias?  `type T2 = T1` already allows you to define methods on `T1` with the same package structure; the only difference is the type name reported by the `reflect` package, and you can start the migration by fixing the name-sensitive call sites to be name-insensitive before adding the alias.

[2016-12-16 21:29] mdempsky commented on #18130
@jimmyfrasche From the [proposal document](https://github.com/golang/proposal/blob/master/design/18130-type-alias.md):

"Since T1 is just another way to write T2, it does not have its own set of method declarations. Instead, T1’s method set is the same as T2’s. At least for the initial trial, there is no restriction against method declarations using T1 as a receiver type, **provided using T2 in th

[2016-12-16 21:40] jimmyfrasche commented on #18130
@mdempsky I was not very clear, but I did say it was invalid.

My point is that it's less obviously clear whether it is valid or not by just looking at that specific line of code.

Given `type S = T`, you also have to look at `T` to make sure it is not also an alias that aliases a type in another package. The only gain is complexity.

Always disallowing methods on an alias is simpler and easier to

[2016-12-16 21:43] bcmills commented on #18130
@Merovius

It is possible to work around this problem today by changing the anonymous field to a named field an explicitly forwarding the methods.  However, that would not fix the problem for unexported methods.

Another option might be to add a second feature to compensate.  If you could adopt the method set of a field without making it anonymous (or explicitly giving it a new name, that would al

[2016-12-16 21:51] FiloSottile opened #18356 "proposal: doc: document when symbols were introduced"
The standard library is growing more and more, and it's becoming hard to track what is safe to use in backwards-compatible code.

I propose at least functions and classes, when introduced after 1.0 (or 1.4? or in the last 3 major versions? or `¯\_(ツ)_/¯`?) should have a documentation line like

[code]

This would be fairly easy to automate.

[2016-12-16 21:52] jimmyfrasche commented on #18130
@Merovius The main issue is when the type is renamed by an alias.

I haven't considered this in full—barely in passing, just a random thought:

What if you introduce an alias in your package that names it back and embed that?

I don't know if that fixes anything but maybe it buys some time to break the loop?

[2016-12-16 21:53] bradfitz commented on #18356
I believe there's already a dup bug open about this.

[2016-12-16 21:54] bcmills commented on #18349
Ok, I think I've got my workspace in a more sane state: `go test runtime/pprof -test.short` works out of the box now.  Still trying to reproduce the failure.

[2016-12-16 21:54] bradfitz commented on #18356
Dup of #5778

[2016-12-16 21:54] #18356 closed

[2016-12-16 21:55] bradfitz commented on #5778
Targeting this for Go 1.9Maybe, especially if somebody wants to implement it.

/cc @FiloSottile

[2016-12-16 21:57] ianlancetaylor commented on #18354
Personally I don't think we should promise that all floating point math operations will return exactly the same result on all platforms.  See #17895.

However, you are asking a slightly different question: should we promise that the math functions will return the same result for the same arguments on all platforms?  If we want to make that promise, we will have to give up the assembly implementati

[2016-12-16 21:59] Merovius commented on #18130
@bcmills I didn't think of that workaround, thanks. I think, the caveat about unexported methods would seem (to me) to arise rarely enough in practice that it wouldn't sway my opinion in general (unless I don't fully understand it. Feel free to clarify, if you think that's useful). I don't think piling on more changes is justified (or a good idea).

[2016-12-16 21:59] bradfitz commented on #18354
That's what I guessed the answer would be, so we don't give up performance for most users. In any case, we should document it probably, at least in the package doc.

[2016-12-16 22:04] ianlancetaylor commented on #17442
Ah, I see.

I can't think of anything clever we could do in the signal handler.  We need it to crash the program.  I suppose we could skip the call to `freezetheworld` if `sched.stopwait > 0`.  I don't know why that would be any better than your suggestion, though.

[2016-12-16 22:08] bcmills commented on #18130
@Merovius The more I think about it, the more I like the idea of field aliases.

Forwarding the methods explicitly is tedious and breaks *other* kinds of refactoring (e.g. adding methods to the embedded type and expecting the type that embeds it to continue to satisfy the same interface), and renaming struct fields also falls within the general umbrella of enabling gradual code repair.

[2016-12-16 22:20] mendsley opened #18357 "x/crypto/acme: The client does not correctly support ES512 signatures."
### What version of Go are you using (`go version`)?
go version go1.7 linux/amd64

### What did you do?
Use a elliptic.P521() key for the acme client signer

example:
https://gist.github.com/mendsley/840ce420b1769b05b4e2a22b12538e8e

### What did you expect to see?
No output - Acme client correctly signed request using EC512 key

### What did you see instead?
output "Should support ES512 signature

[2016-12-16 22:22] neild commented on #18130
@Merovius

If I understand your example, we have:

[code]

[code]

I believe that this is just a specific example of the general case where we wish to rename a struct field; the same problem applies if we want to rename S.F2 to S.F1.

In this specific case, we may update package p2 to use p1's new API with a local type alias:

[code]

This is not, of course, a good long-term fix. I don't that ther

[2016-12-16 22:29] bradfitz commented on #18357
It looks like the error is coming from LetsEncrypt, and not Go's client library. Correct me if I'm wrong. Can other users use P512 with LetsEncrypt?

Note that only Go's P256 implementation is both fast (in assembly on amd64 and s390x currently) and constant-time, and LetsEncrypt is largely written in Go, which might be why they don't accept other curves.

[2016-12-16 22:30] dsnet opened #18358 "path/filepath: fix HasPrefix"
The [`filepath.HasPrefix`](https://golang.org/pkg/path/filepath/#HasPrefix) function has been in a deprecated-like status for the past 4 years (since 2012). The reasons why it was deprecated is described in [CL/5712045](http://golang.org/cl/5712045). The issue with respecting path boundaries is probably the most significant.

Given that it's had a note steering people away for 4 years, there shoul

[2016-12-16 22:30] #18355 closed

[2016-12-16 22:31] dsnet commented on #18355
Opened #18358 to investigate actually fixing this function.

[2016-12-16 22:34] bradfitz commented on #18358
I was going to complain that the `path/filepath` package is purely string processing, but I forgot about `Glob`, which does use the `os` package and read from the filesystem. So fixing this properly sounds doable.

[2016-12-16 22:34] bradfitz commented on #18357
Oh, now I see your CL.

[2016-12-16 22:38] mitchellh commented on #18141
Hey @bradfitz I'll try to test that later today. In the mean time I can report that users with my identical-Terraform-commit build on top of Go 1.7.3 are not seeing any issues, so I'm more confident that this issue and your CL are on the path to success.

[2016-12-16 22:40] bradfitz commented on #18141
Unfortunately that CL by itself adds a 3.5 **second** delay to Go processes using TLS, so it needs some work.

[2016-12-16 23:42] bradfitz commented on #18141
Let's move discussion to #18203

[2016-12-16 23:43] bradfitz commented on #18203
See https://golang.org/cl/34389 for a new strategy that doesn't take 3.5 seconds to load certs.

/cc @mitchellh (could you test?)

[2016-12-17 01:27] bobjalex opened #18359 "archive/zip: add support for extended timestamps"
### What version of Go are you using (`go version`)?
go version go1.8beta2 windows/amd64

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\GoLib_beta
set GORACE=
set GOROOT=C:\Go_beta
set GOTOOLDIR=C:\Go_beta\pkg\tool\windows_amd64
set GCCGO=gccgo
set CC

[2016-12-17 01:52] dsnet commented on #18359
This was something that was annoying me about the current `zip.FileHeader`. I think it was an API mistake for there to be a `ModifiedTime` and `ModifiedDate`field storing the time as MS-DOS formatted uint16s.

The path forward is probably to introduce another field `ModTime time.Time` and deprecate the MS-DOS timestamps in the same way we dealt with the uint32 sized fields.

[2016-12-17 02:07] janckerchen commented on #11058
@nadiasvertex  Any update is welcome. How can I help you to test?

[2016-12-17 02:21] dsnet commented on #18359
Also, to understand your problem more clearly. Is this problem something blocking you for Go 1.8 release? I don't think we can improve time handling in the `zip` package for the remainder of Go 1.8, but if this is problematic, we can revert the current change and go for a more complete round-trip fix in Go 1.9.

[2016-12-17 03:11] minux commented on #18346
Sorry, I don't understand the feature request.

If the client is not capable of keeping the private key secure,
then anyone that gets hold of the private key can impersonate
that client (it might not be able to do MITM if the client has certificate
pinning, but being able to impersonate a client already means
the security between that (client, server) pair is already compromised.
I don't think you

[2016-12-17 03:28] minux commented on #18358
Does package os exports portable way to query if the
underlying file system is case sensitive or not?
(without creating a file and test?)

And what about symbolic links? If we want to fix it,
we should first work out its intended behavior, which
I think it's far from trivial. And I expect neither is the
implementation (there could be more than one mount
points along the path, and each could have d

[2016-12-17 03:44] cespare commented on #18358
I agree with @minux, but for the record we did un-deprecate a function before when we fixed up debug.Stack for Go 1.6. See 2d697b2401f5a840cdf4a58b414395fc729a348c and #12363.

[2016-12-17 04:51] minux commented on #18358
I think the runtime/debug#Stack case is different from
path/filepath.HasPrefix,
1. the original implementation is not broken, both versions show the
essential
information, just in different formats, and the new version shows more.
2. it's meant to use for debugging, so stability is not that important.

for the record, here is the difference I'm talking about:
// t.go
package main

import (
"fmt"
"

[2016-12-17 09:04] tsuna opened #18360 "cmd/go: 1.8beta2 cross compilation fails without CGO_ENABLED=0"
### What version of Go are you using (`go version`)?

`go version go1.8beta2 darwin/amd64`

### What operating system and processor architecture are you using (`go env`)?

mid-2012 MBP running macOS 10.9.5

[code]

### What did you do?

Try to cross-compile the following program

[code]

### What did you expect to see?

[code]

### What did you see instead?

[code]

### Additional information

Out

[2016-12-17 09:07] davecheney commented on #18360
This is a bug in homebrew, they homebrew recipe author hard codes cgo to 1
at all times.

On Sat, 17 Dec 2016, 20:04 Benoit Sigoure <notifications@github.com> wrote:

[2016-12-17 09:10] tsuna commented on #18360
This is my `go env` with 1.7.4:

[code]

Looking at this a bit closer, I see that the differences between 1.7.4 and 1.8beta2, I'm wondering whether this is not a packaging bug with homebrew, as it appears that now the default value of `CGO_ENABLED` is recorded when `go` itself is built (by `cmd/dist/buildgo.go`), and on my system I found

[code]

This was changed in commit 0ba3c607dfcc90072191375d

[2016-12-17 09:14] tsuna commented on #18360
Ha, just seeing your reply @davecheney, looks like we're coming to the same conclusion.  So was this working by chance with homebrew with earlier versions of Go, because `CGO_ENABLED` wasn't sticky before?

Are we really saying "if you want to cross-compile, you should build Go itself with `CGO_ENABLED=0` _or_, at the time you cross-compile, build with `CGO_ENABLED=0`"?

[2016-12-17 09:17] davecheney commented on #18360
Nope. The go tool does the right thing, cgo is disabled when the host and
target do not match. The current suspicion is homebrew have altered this
behaviour.

On Sat, 17 Dec 2016, 20:14 Benoit Sigoure <notifications@github.com> wrote:

[2016-12-17 09:23] tsuna commented on #18360
I'm not sure I follow now... But homebrew didn't change how it builds Go between 1.7.4 and 1.8beta2.  See https://github.com/Homebrew/homebrew-core/commits/master/Formula/go.rb – the formula has been building Go with `CGO_ENABLED=1` in the environment by default for a long time.

[2016-12-17 09:26] minux commented on #18360
I think the Homebrew maintainers confused about when it's
necessary to set CGO_ENABLED:
It's almost never necessary to set CGO_ENABLED when
doing native compile. (You only need to set CGO_ENABLED=0
when doing a native compile when you have working C
compiler but do NOT want to use cgo.)

Just don't set CGO_ENABLED, and Go should do the
correct thing.

CGO_ENABLED is indeed made sticky in this rele

[2016-12-17 09:27] broady commented on #18322
The old infrastructure ("vm:true") appears to be flaky, and we (me, and the App Engine team) can't figure out why.

It's up and running on the new infrastructure now, so should be more stable. If you see any errors at all, re-open this issue.

Relevant CLs:
https://go-review.googlesource.com/#/c/34558/
https://go-review.googlesource.com/#/c/34559/
https://go-review.googlesource.com/#/c/34560/

[2016-12-17 09:27] #18322 closed

[2016-12-17 09:32] aravindc26 commented on #17557
@alexcarol what is the status of this issue ?

[2016-12-17 09:38] tsuna commented on #18360
OK so their formula _was_ working by chance before.  What you're saying is that unless the user wants to explicitly disable cgo by building the formula with `--without-cgo`, the formula should not set `CGO_ENABLED` to any value during the build.

I tested this change to their formula and indeed things now works as intended:

[code]

I'll send them a pull request.  Thanks for the quick response!

[2016-12-17 09:38] #18360 closed

[2016-12-17 10:49] alexbrainman commented on #18358
Whatever we decide to do here, I think filepath.HasPrefix is useful function. We can all complain that it is hard to implement it, but then people will write they own. We have written cmd/go.hasFilePathPrefix ourselves. Why didn't we use filepath.HasPrefix in cmd/go instead?

Alex

[2016-12-17 14:50] brtzsnr opened #18361 "cmd/compile: functions using ellipsis arguments are not inlined"
I have two functions foo and bar that have identical bodies except that foo uses ellipsis and bar uses arrays. bar is inlined while foo is not. This is a performance bug, not a correctness one.

### What version of Go are you using (`go version`)?
tip:
go version devel +1106512 Fri Dec 16 22:30:12 2016 +0000 linux/amd64

### What operating system and processor architecture are you using (`go env`)

[2016-12-17 15:28] ptribble opened #18362 "net: go1.8 beta test failures on solaris with non-global zones"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8beta2 solaris/amd64

(also present in 1.8beta1)

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="solaris"
GOOS="solaris"
GOPATH="/export/home/ptribble/go"
GORACE=""
GO

[2016-12-17 15:35] ALTree commented on #18361
#9337 is also about the inlining of variadic functions (among other things), which currently are only inlined with `-l -l -l`.

[2016-12-17 16:13] nadiasvertex commented on #11058
I think the release team is busy on 1.8. I'm waiting on a review for the
tests. Once that gets through I'll have good tests for Windows to make sure
it works.

I can try to port the changes over to my github fork of Go for others to
look at.

On Fri, Dec 16, 2016 at 9:07 PM janckerchen <notifications@github.com>
wrote:

[2016-12-17 17:04] jtolds commented on #17082
As I mentioned in the thread but saving for posterity here, Space Monkey is more than happy to provide all of the internet connected 256MB Feroceon ARMv5TE internet connected builders with swap you need.

[2016-12-17 17:20] bradfitz commented on #18362
/cc @mikioh

[2016-12-17 17:26] bradfitz opened #18363 "doc: mention that CGO_ENABLED is now sticky in 1.8"
CGO_ENABLED is sticky in Go 1.8. Document this.

Some discussion in:
https://github.com/golang/go/issues/18360#issuecomment-267752866

[2016-12-17 18:38] dhananjay92 commented on #18331
Doing it for all go code looks easier. Tricky part is limiting this to runtime.

[2016-12-17 19:11] dhananjay92 commented on #18361
This looks [intentional](https://github.com/golang/go/blob/9fbfe7cca00a456541e9aa2b2cc1251d777f325b/src/cmd/compile/internal/gc/inl.go#L126) for `-l < 3`.

If you compile with `-m -m`, it gives the reason for not inlining foo(): `cannot inline foo: has ... args`

[2016-12-17 19:13] josharian commented on #18331
There is a flag that gets passed to the compiler when compiling the runtime, so it should be straightforward. On my phone, but look for a variable in cmd/compile/internal/gc called something like compiling_runtime. :)

[2016-12-17 19:14] josharian commented on #18331
Limiting to just std is harder, but one option is to add a new compiler flag to validate //go: comments, and have cmd/go pass it iff the package is in std.

[2016-12-17 19:15] josharian commented on #18331
That would also help with testing, I suspect.

[2016-12-17 20:13] redpois0n opened #18364 "Go operating system build tags/file suffixes"
I have some questions about how the Go compiler handles the operating system build tags

A file named `name_windows.go` will only be included when built for Windows, that's straightforward.
Same goes for `name_darwin.go` which is OS X/macOS.

However, there is some unclear names I'd like to get some answers to, since I'm currently writing OS dependent code.

`route_bsd.go` in package [syscall](htt

[2016-12-17 20:16] cespare commented on #18364
@redpois0n see https://github.com/golang/go/wiki/Questions for the ways to ask questions.

In this case https://golang.org/pkg/go/build/#hdr-Build_Constraints is the documentation you're looking for.

[2016-12-17 20:22] rgeronimi opened #18365 "image/png: no support for setting and retrieving the PPI/DPI"
Please answer these questions before submitting your issue. Thanks!

What version of Go are you using (go version)?

go1.7.4 darwin/amd64

What operating system and processor architecture are you using (go env)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/raphaelgeronimi/Local/Others/Go workspace"
GORACE=""
GOROOT="/opt/local/lib/go"
GOTOOLDI

[2016-12-17 20:34] redpois0n commented on #18364
@cespare You misunderstood my question or I did not explain correctly, I am mostly wondering what the unix and bsd build constraints includes

[2016-12-17 20:47] cespare commented on #18364
@redpois0n I think those names are just conventional. The constraints for those files are listed using build tags in the file.

But please close this issue and let's continue the discussion on one of the forums listed in https://github.com/golang/go/wiki/Questions. We try not to use the issue tracker for questions.

[2016-12-17 20:49] redpois0n commented on #18364
You are correct. Thank you.

[2016-12-17 20:49] #18364 closed

[2016-12-17 20:53] dsnet commented on #18365
/cc @nigeltao

[2016-12-17 22:42] dhananjay92 commented on #18285
Okay, root cause is that the compiler directives in [`src/runtime/os3_solaris.go`](https://github.com/golang/go/blob/master/src/runtime/os3_solaris.go#L9-L81) disappear during coverage instrumentation.

Confirmed with,
[code]

This is happening because of my own change: [golang.org/cl/30161](http://golang.org/cl/30161). Coverage instrumentation [removes all comments that are not present as nodes i

[2016-12-17 22:53] agl commented on #18346
It sounds like you want a value that identifies the TLS connection and that you can have the two sides authenticate at a higher level to ensure that they are both seeing the _same_ connection, and not two different connections that have a MITM proxying messages between them.

The session ID is not that value; it does not identify the connection in the way that I think you want. Rather you want the

[2016-12-17 22:58] kennygrant commented on #4237
Perhaps this issue can be closed now?

The base64 pkg has changed a bit since it was filed. Specifically with this change in 2014:

https://github.com/golang/go/commit/2e0a1a7573bd69c18c3a3932422a9507031e5321

RawURLEncoding can be used if you wish to decode data which uses no padding, so for the example given above, to avoid errors you can just use the appropriate raw encoding:

https://play.gola

[2016-12-17 23:06] dhananjay92 commented on #18285
I think Ian had told me some time earlier that the compiler directives are associated with something (a function or variable, etc). If that's the case, fix would be https://github.com/dhananjay92/go/commit/4a16ac8c3669f60db8a2746cabf767d4c59719eb.

Let me confirm with him again.

[2016-12-17 23:07] bradfitz commented on #4237
@kennygrant, thanks! Closing.

[2016-12-17 23:07] #4237 closed

[2016-12-17 23:44] mikioh commented on #18362
@ptribble,

Thanks for the report. I'm not sure what's the visibility on isolated routing instances under Solaris container (or zone) framework. Can you show us the output of `go test -v -run=Interfaces$ net` on some zone that has external network inks? It would be helpful if the zone has both shared- and non-shared (I mean, exclusive) IP network adjacencies. Thanks.

[2016-12-17 23:50] mikioh commented on #18362
The real problem would be which is the better to fill up the Zone field of {IP,UDP}Addr on Solaris; a name (opaque string) or index (integer literal)?

[2016-12-17 23:56] odeke-em commented on #18331
I've taken a stab at this with https://go-review.googlesource.com/34562 as my afternoon project.
For starters am doing a simple check if code is in $GOROOT to detect if it is stdlib code or if compiling_runtime, and
then from there validate if a pragma verb is known.

[2016-12-18 00:13] cstockton commented on #16221
I just wanted to chime in and say I don't fully agree with @dsnet that having Context in the testing package simply "saves two lines of code".. if implemented to cancel on Fatal() the moment before Goexit() was called. Having a context that was canceled when Fatal() was called would simplify tight integration between test coverage, passing context through your systems and the synchronization primi

[2016-12-18 00:17] dhananjay92 commented on #18331
Wait, not sure if you noticed, but I sent out https://go-review.googlesource.com/#/c/34561/ earlier today.

[2016-12-18 00:19] Bplotka commented on #9524
I can confirm that I can reproduce this issue on `go version go1.8beta2 linux/amd64` and on the current `master`.

I dived even deeper into the code and used this occasion to start my contribution to **Go** ! (:

Sorry that I did not discuss the change before doing the CL, but maybe it will be easier to iterate over the initial attempt:  https://go-review.googlesource.com/#/c/34515/

The main prob

[2016-12-18 01:32] odeke-em commented on #18331
@dhananjay92 I was using my phone to get notifications about issues. Now I see that our CLs are both up to solve the same issue. Sure, let's coordinate on yours. I'll tag @josharian and @mdempsky as reviewers on your CL.

[2016-12-18 01:55] quentinmit commented on #16221
@cstockton What is the point of cancelling the context on Fatal calls? Even if you do cancel the context, because it's asynchronous your code is not guaranteed to notice before the Goexit call runs.

[2016-12-18 02:56] vcabbage commented on #17884
@bradfitz Making a request for a known nonexistent domain and checking that no addresses were returned should be a reasonably accurate.

For this purpose the error from `net.LookupHost` can likely be ignored since the DNS tests will fail anyway if there are issues unrelated to NXDOMAIN responses.

I can create a CL if this approach seems reasonable.

[code]

For testing, some of the public provide

[2016-12-18 03:06] bradfitz commented on #17884
LGTM

[2016-12-18 04:16] cstockton commented on #16221
@quentinmit I'm not sure what you mean, calling cancel() causes the context to begin ending immediately. If you mean that anything waiting for Done() channels in a select are not guaranteed to happen immediately I understand that, the aim here is to have them happen at all. The order does not matter, just that done is called when runtime.Goexit() is, so blocked goroutines eventually wake up and ex

[2016-12-18 04:56] minux commented on #18331
Note that we shouldn't apply this restriction to code outside
std, because there are other implementations out there that
might define their own //go: magic comments, and it's valid
for programs to contain those magic comments if the code
is intended for both gc and the other implementation.

[2016-12-18 06:26] typeless commented on #18296
I am not an expert but am interested in the possibility as well..

Generally speaking, we need

1. A way to declare the imported foreign symbols which will inform the linker to generate the required ELF entries (.plt, .got .dynsym etc). Once those entries are there, the system dynamic linker should be able to populate the shared libraries' images to the process' address space and initialize the PL

[2016-12-18 08:48] akamensky opened #18366 "net/http Security issue - no way to send request to IP and verify CN of certificate against Host header"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Example code:
[code]

### What did you expect to see?
Successfully execute GET request with valid SSL certificate

### What did you see instead?
Failed request "c

[2016-12-18 08:51] akamensky commented on #18366
Just to shed some light on how I came to this issue: I currently working on the application where exposing this information to any 3rd party can compromise security.

[2016-12-18 10:16] l2dy commented on #18140
I'm building with `go version go1.8beta2 darwin/amd64` for `linux/mipsle` and still got `Illegal instruction` on my MIPS router (Lenovo Y1, OpenWrt with musl).

[2016-12-18 10:44] minux commented on #18140
The illegal instruction might be FPU instruction.
Please see the revised Go 1.8 release note:

Go now supports 32-bit MIPS on Linux for both big-endian (linux/mips) and
little-endian machines (linux/mipsle) that implement the MIPS32r1
instruction set with FPU or kernel FPU emulation. Note that many common
MIPS-based routers lack an FPU and have firmware that doesn't enable kernel
FPU emulation; Go

[2016-12-18 10:46] akamensky opened #18367 "http.Request setting PostForm manually has no effect"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
Use following code snippet to execute request
[code]

Inspect traffic (on receiving server) using tcpdump -> tcpdump -i lo -n port 8000 -A

### What did you expec

[2016-12-18 10:47] elliotmr commented on #15021
There is already an interface for the network poller defined, it is just that it is linked directly into the net package using go:linkname on private functions in [runtime/netpoll.go](https://golang.org/src/runtime/netpoll.go).  Is there some reason that the methods there (ServerInit, Open, Close, Reset, Wait, WaitCanceled, SetDeadline, and Unblock) can't be just exposed as public APIs?

This is e

[2016-12-18 11:01] akamensky commented on #18367
Additionally it will require manually setting `Content-Type` and `Content-Length` Headers.. Sigh...

[2016-12-18 12:06] minux commented on #18354
I think the question is rather, should we make various pure Go
math functions correctly rounded to <1ulp.

See also #9546 and the issues referenced.

[2016-12-18 12:15] alexcarol commented on #17557
@aravindc26 i haven't been able to get around the issue, I might work on it at some point, but if you want to work on the issue yourself you're welcome to do so, sorry for the inconvenience :/

[2016-12-18 14:11] gavrie commented on #17557
@aravindc26: Were you planning to work on this, or are you just interested in the outcome?
I was thinking of taking this on, but only if you're not on it already.

@alexcarol

[2016-12-18 14:47] cstockton opened #18368 "proposal: testing: add T.Context"
Both https://github.com/golang/go/issues/16221, https://github.com/golang/go/issues/18199 and the mailing list seems to be mostly bikeshedding in my opinion. I don't think a synchronization primitive needs to be added here, having the context is more than enough for every use case I can imagine. The context is needed to solve REAL problems with writing code, a synchronization primitive is a mere c

[2016-12-18 15:33] james-lawrence opened #18369 "cmd/go: -ldflags -X does not cause binary to be rebuilt"
basically go install doesn't properly apply ldflags="-X  ..." if nothing within the code has changed. I expected it to properly apply the -X values regardless.

This was very unexpected for me and caused a bit of confusion given if I had a previously built binary without flags and then tried with flags nothing happened.

related to #18246

### What version of Go are you using (`go version`)?
go ve

[2016-12-18 16:49] ptribble commented on #18362
OK, here you go.

First, here is the global zone with one shared-ip zone:

=== RUN   TestInterfaces
--- PASS: TestInterfaces (0.00s)
	interface_test.go:78: lo0: flags=up|loopback|multicast index=1 mtu=8232 hwaddr=
	interface_test.go:78: lo0:1: flags=up|loopback|multicast index=1 mtu=8232 hwaddr=
	interface_test.go:78: e1000g0: flags=up|broadcast|multicast index=2 mtu=1500 hwaddr=b8:ca:3a:b5:7d:f0

[2016-12-18 16:53] atdiar commented on #18130
Just a note concerning "moving types between packages". Isn't that formulation slightly problematic?

As far as I understand, the proposal allows to "refer" to an object definition that lies in another package via a new name.

It does not move the object definition, does it?

[2016-12-18 17:06] bradfitz commented on #18367
This is documented:

https://beta.golang.org/pkg/net/http/#Request.PostForm

[2016-12-18 17:06] #18367 closed

[2016-12-18 17:14] opaugam commented on #12683
same issue ("can't load package") when picking c-archive .. i'm on go1.7.4 darwin/amd64

[2016-12-18 17:35] bradfitz commented on #18366
You have to wire this up yourself, depending on what you specifically want. The high-level HTTP client does the typical thing only.

See:
https://golang.org/pkg/net/http/#Transport (specifically the Dial hooks, and `TLSClientConfig`)
and
https://golang.org/pkg/crypto/tls/#Config

It's not exactly clear what you want, though. You're talking about CONNECT, but you didn't mention proxies. You didn't

[2016-12-18 17:35] #18366 closed

[2016-12-18 17:35] dhananjay92 commented on #18331
Yes, we should limit this check somehow to our code. I am waiting for us to reach some decision on whether to take an extra flag enabling this check, or try to deduce that with the help of compiling_runtime.

Also, if we care about these in our repository only, why not implement this in a static checker, like govet?

[2016-12-18 18:02] aravindc26 commented on #17557
@alexcarol  @gavrie let me work on this issue :)

[2016-12-18 20:19] Merovius commented on #18130
@atdiar Referring to a type in a different package can be used as a step in moving  the type. Yes, an alias doesn't move the type, but it can be used as a tool to do so.

[2016-12-18 21:12] atdiar commented on #18130
@Merovius Doing that is likely to break reflection and plugins.

[2016-12-18 21:46] tildeleb commented on #11818
Status update? It's been a year since the author commented (here) on this project and any major commits are months old. Is this dead?

[2016-12-18 21:52] Merovius commented on #18130
@atdiar I'm sorry, but I don't understand what you are trying to say. Have you read the original comment of this thread, the article about gradual repairs linked therein and the discussion so far? If you are trying to add a so far not considered argument to the discussion, I believe you need to be clearer.

[2016-12-18 23:23] evrimoztamur commented on #16447
Requesting an update on this. Will this change be committed regardless of the compatibility issues?

[2016-12-19 01:32] #18252 closed

[2016-12-19 03:06] mikioh commented on #18285
@dhananjay92,

Thanks for the investigation. As you mentioned above, a few packages that import runtime symbols by using `//go:cgo_import_dynamic` or `//go:linkname` annotation, for example vendor/golang_org/x/net/lif, golang.org/x/net/lif or golang.org/x/sys, surely crash when using cmd/cover.

/CC @ianlancetaylor

[2016-12-19 03:14] jacobsa opened #18370 "cmd/compile: Go 1.8 generates poor code for zeroing a small struct"
I'm comparing Go 1.7.4 and Go 1.8 beta 2 on Darwin:

    go version go1.7.4 darwin/amd64
    go version devel +9cd3c0662a Thu Dec 15 20:06:07 2016 +0000 darwin/amd64

Given this program in `foo.go`:

[code]

Go 1.7.4 generates reasonable code for `OutMessage.Reset`, using three 64-bit writes to zero the necessary data:

[code]

However, Go 1.8 beta 2 apparently stores the zero struct in a static v

[2016-12-19 03:29] jacobsa commented on #18370
I've worked around this for now in my performance-sensitive code using the obvious method:

[code]

which generates

[code]

I would be curious to know why that `LEAQ/TESTB` pair is there. (I've seen apparently stray `TESTB` instructions in a few places. Should I file a separate issue for this?)

[2016-12-19 03:36] jacobsa commented on #18370
(Seems like the `LEAQ/TESTB` is there due to the dereference implicit in `m.header`, because when I type-pun using just `unsafe.Pointer(m)`, it goes away. Not sure why it needs to be there, given the dereference above, but of course I'm in weird territory once I'm type punning.)

[2016-12-19 03:40] dhananjay92 commented on #18285
[golang.org/cl/34563](http://golang.org/cl/34563) takes care of such compiler directives that aren't attached to any node in the AST.

[My another attempt](https://github.com/dhananjay92/go/commit/d8c83d498960d61efce41b7d665c3449bc4f5f52) to let printer print such compiler directives, failed. Because `ast/printer` can either print from `ast.File.Comment` or from nodes in the tree, but not from bot

[2016-12-19 04:07] randall77 commented on #18370
This looks like a change in the frontend which ends up not triggering the zeroing optimization during translation to SSA.

Here's a simple repro:
[code]

Go 1.7 does the right thing for `f`, and Go 1.8 does not.
Neither does the right thing for `g`.

For `f`, it looks like the frontend changed to pass a different Node structure to the SSA builder.  In go.1.7, the '*x=X{}' assignment generates:
[co

[2016-12-19 04:12] randall77 commented on #18370
The `LEAQ/TESTB` code is the nil pointer check.
It looks like we don't have any rule for "if p passes a nil pointer check, so does p+X".
There's even a TODO in cmd/compile/internal/ssa/nilcheck.go:
[code]
You could work around this for now by doing (untested):
[code]

[2016-12-19 04:16] jacobsa commented on #18370
Thanks for looking so quickly!

Regarding `*[3]uint64`: that's what I wound up doing, yeah. Interestingly, though it caused the same code to be generated as Go 1.7.4, my benchmark was still slower than with the `statictmp` version (which in turn is slower than Go 1.7.4). Weird; I can't see a way that eight memory accesses would be better than three.

[2016-12-19 04:18] randall77 commented on #18370
@jacobsa , benchmarking is hard :(

[2016-12-19 04:26] jacobsa commented on #18370
Yeah, I figure that's it.

[2016-12-19 04:35] jacobsa commented on #18370
@randall77: I bisected to find that c39918a04991387f14cab1204f54fafab81bc105 is the culprit.

[2016-12-19 05:09] josharian commented on #14120
Alan, any chance of revisiting this early in 1.9? I'd be happy to be a sounding board.

I just found that even golang.org/x/tools/cmd/gotype doesn't use go/loader, and it pains me to invoke slow, heavy 'go install' just to get some code typechecked.

[2016-12-19 06:04] bradfitz commented on #18370
I'll squawk my typical testing line: if we had had better codegen test coverage, we could stop regressing on things like this. Yes, I know designing the test framework would be the hard part (so we don't need to re-baseline tons of golden tests with every compiler change). The tests would need to describe the general pattern of what we're aim to generate, and not the exact output.

[2016-12-19 07:04] dsnet commented on #18368
Your title is a little misleading since it isn't adding the same `T.Context` back in as before. I'm not exactly sure what you are proposing, but it distinctly different in behavior from the prior implementation that was reverted.

I don't really understand your example code. What is `Start` a method on? When is it invoked? What is `pkg`? There are too many unexplained things going on here for a pr

[2016-12-19 07:11] dsnet commented on #16221
Please note that both of your examples are racy. It is *not* valid to call `t.Fatal` in any other routine other than the original `Test` function. If your proposal in #18368 is based on this pattern, then it is going to be rejected since it an abuse of the `testing` API.

[2016-12-19 07:19] kataras commented on #18130
Finally, a useful and well-written proposal. We need type alias, I have big issues on creating a single API without type alias, so far, I have to write my code in a way I don't like so much to accomplish that. Hope that this will be included on go v1.8.

[2016-12-19 07:20] atdiar commented on #18130
I'm explicitly talking about "moving types" between packages. It changes the object definition. For instance, in pkg reflect, some information is tied to the package an object was defined in.
If you move the definition, it may break.

[2016-12-19 07:21] kataras commented on #18130
You have to write good docs and comments in order to avoid these type of issues @atdiar. It's a 'must' feature, we should support this 100%

[2016-12-19 07:27] atdiar commented on #18130
@kataras it's not really about good doc and comments, it's merely that type definitions should not be moved. As much as I appreciate the alias proposal, I'm wary that people think that they can just do that.

[2016-12-19 07:28] Merovius commented on #18130
@atdiar again, please read the article from the original comment and the discussion so far. Moving types and how to address your concerns are the primary concern of this thread. If you don't feel that Russ' article adequately addresses your concerns, please be specific about why his explanation isn't satisfying. :)

@kataras While I, personally, agree, I don't think it's particularly helpful, to s

[2016-12-19 07:30] cstockton commented on #16221
The examples I posted where to show how things can deadlock, I know they are racy.. that is the entire point.

The first example is to illustrate that if you call fatal while waiting on Done(), you deadlock.

The second example shows how this can happen in defers as well, since you haven't returned to the caller yet.

Apparently I wrote more text than worth reading for you, so I'll dumb it down to

[2016-12-19 07:34] atdiar commented on #18130
@Merovius I've read the document. It doesn't answer my question. I think I've been explicit enough. It's related to the same issue that deterred us from having the former alias proposal implemented.

[2016-12-19 07:40] cstockton commented on #18368
The way it was implemented before was a bug, canceling the context after runtime.Goexit doesn't make sense for reasons I've already outlined in the other issue. As far as not understanding my proposal, what is not clear? Add back context. Fix the bug with cancellation.

Ignore the code, focus on the fact that the Context is being embraced as a way to cross API boundaries.
  -> Testing crosses API

[2016-12-19 07:49] Merovius commented on #18130
@atdiar I, at least, don't understand. You are saying that moving a type would break things; the proposal is about how to avoid such breakages with gradual repair, by using an alias, then update each reverse dependency until no code uses the old type, then removing the old type. I don't see, how your assertion, that "reflection and plugins" are broken holds under these assumptions. If you want to

[2016-12-19 08:01] atdiar commented on #18130
@Merovius So in the case of transitive dependencies where one of these dependencies is looking at reflect.Type.PkgPath(), what happens ?
That's the same problem occurring in the embedding issue.

[2016-12-19 08:09] Merovius commented on #18130
@atdiar I'm sorry, I don't see how this is in any way an understandable concern, in light of the discussion in this thread so far and what this proposal is about. I will step out of this particular subthread now and give others, who might understand your objection better, the opportunity to address it.

[2016-12-19 08:12] jacobsa commented on #18370
+1 to @bradfitz; I was going to ask next about whether a regression test could be added.

[2016-12-19 08:12] benshi001 commented on #18324
I will check if it due to the wait time in misc/cgo/testcshared/main2.c or it is repeatable later.

[2016-12-19 08:30] atdiar commented on #18130
Let me rephrase it concisely:

The issue is about type equality given the fact that the type definition hardcodes its own location.
Since type equality can be and is tested at runtime, I don't see how moving types is so easy to do.

I'm simply raising a warning that this use case of "moving types" can be potentially breaking a lot of packages in the wild, at a distance. Similar worry with plugins.

[2016-12-19 10:18] Merovius commented on #18130
@atdiar Again, this issue is about moving types in two steps, by first deprecating the old location and updating the reverse dependencies, _then_ move the type. _Of course_ things will break if you just move types around, but this is not at all what this issue is about. This is about enabling a gradual, multi-step solution to doing that. If you have concerns that any of the solutions proposed here

[2016-12-19 10:57] rogpeppe commented on #18130
@niemeyer

You can't convert between

     func() one

and

    func() two

[2016-12-19 11:02] laszlohordos commented on #18346
Thank you Adam. This is what I really want to achieve. I used the TLSUnique in Go before but unfortunately I was not aware of the limitation of Java Servlet which only exposes the SessionId and I was advised to use that. After doing my research I really need something like The [Token Binding Protocol Version 1.0](https://tools.ietf.org/html/draft-ietf-tokbind-protocol) in the future. I found your

[2016-12-19 11:06] atdiar commented on #18130
@Merovius You cannot possibly consider changing all the importers of a code-repaired package that exist in the wild. And I'm not too keen on starting delving into package versioning on here.

[2016-12-19 12:01] tgulacsi commented on #10741
What's the status of this issue?

At least we should document the bit11 - I've had to read through the APPNOTE.TXT of the ZIP spec to find out how t ostore UTF-8 names in the zip file.

The best (IMHO) would be to document & make Create set that bit, as in Go, every valid string is UTF-8, if one wants something else, should use CreateHeader.

[2016-12-19 12:13] feyeleanor opened #18371 "proposal: add a builtin function for making an accurate copy of any value"
## Problem
Currently there seems to be no general method for making a shallow but complete copy of an existing value of arbitrary type in a Go program. This is particularly true when a value is a struct with unexported fields.

Even using reflection to perform a direct binary copy is a minefield of segfaults, unaddressable values and faked []byte using reflection which makes such code difficult to

[2016-12-19 12:21] zllak commented on #15917
Tested with go1.8b2, still crashing. Any progress on this issue ?
Tested on both iOS and Android, same.

[2016-12-19 13:39] minux commented on #18371
There is already a way to do shadow copy of a value, just
use assignment:

a := struct{ x, y int } { 3, 4 }
b := a
fmt.Printf("a.x: %v, a.y: %v\n", a.x, a.y)
fmt.Printf("b.x: %v, b.y: %v\n", b.x, b.y)

What value does the proposed "duplicate" function add?

[2016-12-19 13:44] minux commented on #18369
A workaround is to use go install -a.

The general problem is how could cmd/go detect whether it's necessary
to rebuild a program if only -gcflags and -ldflags is changed on command
line? Currently, cmd/go doesn't record the used gcflags and ldflags in
a binary. Recording gcflags and ldflags in all packages and binaries will
result in excessive rebuilds.

[2016-12-19 13:54] steeve commented on #18041
FYI, this is still an issue in go 1.8b2.
While 6f287fa fixes the issue in debug mode apps, release mode apps fail because `/proc/self/auxv` because of denied permissions.

This is the same issue as https://github.com/golang/go/issues/9229

[2016-12-19 14:05] bradfitz commented on #18371
So, put it in a library, rather than asking each user to do it by hand? Actually, it exists already: https://godoc.org/?q=deepcopy

Why does it need to be part of the language?

And if it were part of the language, I'm sure it would surprise people to learn that a function named **duplicate** only makes a shallow and not a deep clone of its argument.

[2016-12-19 14:11] minux commented on #18041
@crawshaw, perhaps it's time to bump NDK requirement
and just use bionic's getauxval?

[2016-12-19 14:18] minux commented on #18371
Perhaps a reflect.DeepCopy (to mirror reflect.DeepEqual) is better?

However, there is already a reflect.Copy, and it does something
unrelated (it relates the copy builtin function.)

But still, I think needing to do deep copy on a value suggests
an API design problem.

[2016-12-19 14:20] minux commented on #18350
Duplicate of #18124?

[2016-12-19 14:25] steeve commented on #18041
I would advize against that since using `getauxval` requires 21+.
That means dropping almost 37% of the Android user base, according to https://developer.android.com/about/dashboards/index.html

Could falling back to auvx generation (like it used to) as a last resort be an option ?

We ourselves release on 16+.

[2016-12-19 14:29] DasJott opened #18372 "Assign string to string alias inconsistency"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.6.2

### What operating system and processor architecture are you using (`go env`)?
Linux amd64 Ubuntu 16.04

### What did you do?
Having a `type sstring string`, wanted to assing a string. `"such a string"` does work, but not `string("such a string")` nor `word := "this vari

[2016-12-19 14:29] quentinmit commented on #18041
Can we use `getauxval` on 21+ and the private `__libc_auxv` if available on
previous versions?​

[2016-12-19 14:36] minux commented on #18041
A crazy idea:
when all else fail, we try mmap a few times to
determine the system page size.

[2016-12-19 14:54] bradfitz commented on #18372
For questions about Go, see https://golang.org/wiki/Questions.

See also https://blog.golang.org/constants for some background info.

[2016-12-19 14:54] #18372 closed

[2016-12-19 15:18] rogpeppe commented on #18371
As others have already pointed out, making an shallow copy of a type in Go is already straightforward.

Implementing a general deep copy is problematic. What should
happen when there's a diamond dependency? For the general case, if two
objects both point to the same object, they should continue to do so after copying.
But this is hard to do efficiently. Here's an example:

    type A struct {

[2016-12-19 15:35] mdempsky commented on #18370
It appears to be because of c39918a's change to walk.go:724. (/cc @aclements)

In 1.7.3, we recognized `m.header = outHeader{}` as a zero'ing assignment, and left it as is for SSA to handle.

At tip, we're walk'ing the `outHeader{}` composite literal, which causes us to emit it as a statictmp.

[2016-12-19 15:44] rsc commented on #18130
@jimmyfrasche re predictability of method-on-alias validity:

It's already the case that `func (t T) M()` is sometimes valid, sometimes invalid. It doesn't come up much because people don't push on these boundaries very often. That is, it works well in practice. https://play.golang.org/p/bci2qnldej. In any event, this is on the list of _possible_ restrictions. Like all possible restrictions, it ad

[2016-12-19 15:50] bradfitz commented on #18347
Please provide an update on this. Was this all due to one of your dependencies doing exact string comparisons on an error value from the reflection package? (as I think I saw elsewhere) Which?

[2016-12-19 15:58] rsc commented on #18130
@Merovius, re embedding names:

I agree that the situation is not perfect. However, if I have a codebase full of references to io.ByteBuffer and I want to move it to bytes.Buffer, then I want to be able to introduce

    package io
    type ByteBuffer = bytes.Buffer

_without_ updating any of the existing references to io.ByteBuffer. If all the places where io.ByteBuffer are embedded automatically

[2016-12-19 15:59] rsc commented on #18130
@atdiar, yes, it's true that reflect will see through these kinds of changes, and if code depends on the results from reflect it is going to break. Like the situation with embedding, it's not perfect. Unlike the situation with embedding, I don't have any answers except maybe code shouldn't be written using reflect to be quite that sensitive to those details.

[2016-12-19 16:27] aclements commented on #18370
This was certainly not an intended effect of that change. Since there are no pointers in the structure being zeroed, we should be able to keep doing what we were doing in 1.7 (if there were pointers, it would be a different story).

[2016-12-19 16:30] Merovius commented on #18130
@rsc What I had in mind was a) forbid embedding both an alias and it's defining type in the same struct (to prevent ambiguity from b), b) allow to refer to a field by either name in source code, c) choose one or the other in the generated type information/reflection and the like (don't care which).

I would handwavingly claim, that this helps avoid the kind of breakages that I tried to describe, w

[2016-12-19 16:43] cpuguy83 commented on #18347
Ok, I've tracked this to a change we've pulled in since testing 1.8. Both beta1 and beta2 are a problem after this change (which is just to check errors on test cleanups). Still trying to figure out a minimal repro case for the behavior change (1.7.x works with above error checking enabled, 1.8bX does not).

[2016-12-19 16:44] mdempsky commented on #18370
CL 34564 is an easy/non-intrusive fix, but it's only a partial solution. It works in this case because outHeader doesn't have any pointer slots.

I think the more complete (but also more intrusive) fix is to just call needwritebarrier in ssa.go. Then we can get rid of OSAWB and applywritebarrier, which will also let us simplify composite literal assignments. I'll prepare a CL for this too, but I t

[2016-12-19 16:44] rsc commented on #18130
@Merovius I think it makes sense to try the simple rules and see how far we get before introducing more complex ones. We can add (a) and (b) later if needed; (c) is a given no matter what.

I agree that maybe (b) is a good idea in certain circumstances, but maybe not in others. If you are using type aliases for the "structure a one-package API into multiple implementation packages" use case mentio

[2016-12-19 16:57] ianlancetaylor commented on #18369
@minux Honest question: why are you concerned about excessive rebuilds?  Do you think that people often build with different -gcflags and/or -ldflags and do not expect the specified programs to be rebuilt?

I think this would be easy enough to fix by adding -gcflags and -ldflags to the build ID, but, of course, we should make sure that is the right thing to do.

[2016-12-19 17:03] deafgoat opened #18373 "time: Parse is incorrect on some platforms"
### What version of Go are you using (`go version`)?
OS X: `go version go1.6 darwin/amd64`
PowerPC (PPC): `go version go1.4.2 gccgo (GCC) 5.4.0 linux/ppc64le`
s390x: `go version go1.4.2 gccgo (GCC) 5.4.0 linux/s390x`

### What operating system and processor architecture are you using (`go env`)?

OS X:
[code]

PPC:
[code]

s390x:
[code]

### What did you do?
Ran this program:
[code]
Play at https:

[2016-12-19 17:15] dominikh commented on #18373
Your PPC and s390x run Go 1.4.2, while your OS X runs Go 1.6. That's not a useful comparison, and more than likely this is a bug that was fixed somewhere between 1.4 and 1.6.

[2016-12-19 17:25] #18370 closed

[2016-12-19 17:26] bradfitz commented on #18373
5ef899111e581b1e57aa1546caa204d48bdf5503 fixed #7268 a year ago. That sounds like it would've been in Go 1.6.

[2016-12-19 17:26] #18373 closed

[2016-12-19 17:33] #18191 closed

[2016-12-19 17:37] valyala opened #18374 "cmd/vet: false positive copylocks check on len(array) and cap(array)"
The commit bd9aa9811d63c121a84ef92bc9b6a4101af46235 introduced false positive for `copylocks` check in `go tool vet':

[code]

The commit bd9aa9811d63c121a84ef92bc9b6a4101af46235 was introduced in go1.8, so this false positive should be fixed in go1.8 too.

I'll send the corresponding CL fixing this issue in a few minutes.

[2016-12-19 17:39] valyala commented on #18374
The CL is https://go-review.googlesource.com/34630 .

[2016-12-19 17:41] randall77 opened #18375 "cmd/compile: initialize structures more efficiently"
`
type T struct {
    a, b, c int
}
func f(t *T) {
    *t = T{3,4,5}
}
`
We currently generate a copy from a statictmp to initialize *t.  We should instead generate the equivalent of t.a=3;t.b=4;t.c=5.

We should certainly do this for structs that are small and contain no pointers.  How large we should go and whether it would be worth it to do so for structs with pointers is TBD. (Possible rule -

[2016-12-19 18:09] alandonovan commented on #14120
Hi Josh, thanks for the offer.  I would like to finish off the loader, but none of these changes are on my plate for Google project work in the near future, so I can't promise any schedule.

Do you have a sense of how much churn loader clients outside x/tools can tolerate as we finalize the API?  Since Google vendors everything we're insulated from it, but I got a panel question at GopherCon that

[2016-12-19 18:14] ianlancetaylor commented on #12683
@akamensky @opaugam This issue has been fixed and closed.  The "no buildable Go source files" error may mean that you need to set `CGO_ENABLED=1`.  In any case, please do not comment on this issue.  Please use a forum (https://golang.org/wiki/Questions) or, if you are sure you have encountered, please open a new issue.  Thanks.

[2016-12-19 18:23] mdempsky commented on #18331
We've also had to fix instances where go: comments were line-wrapped elsewhere into a paragraph, so they were no longer treated as pragmas: golang.org/cl/12271. Not sure if that's something we can/want to try addressing at the same time.

Or in the Go repo's commit hook?

[2016-12-19 19:23] glycerine commented on #16522
I thought the precise GC work back in Go1.4 meant all types on the stack are known to the runtime. Is that no longer true?

[2016-12-19 19:35] bradfitz commented on #18359
Let's partially roll this back for 1.8 and fix it fully in 1.9.

[2016-12-19 19:36] broady commented on #17018
SGTM. Will send a CL this week.

[2016-12-19 19:41] randall77 commented on #16522
We only have pointer/nonpointer bits for each word on the stack.  We do not have full type information.

[2016-12-19 19:54] bcmills commented on #18130
@Merovius @rsc

Note that in many cases this is already forbidden as a consequence of the way embedding interacts with method sets.  (If the embedded type has a non-empty method set and one of those methods is called, the program will fail to compile: https://play.golang.org/p/XkaB2a0_RK.)

So adding an explicit rule forbidding double-embedding seems like it would only make a difference in a small

[2016-12-19 19:58] bradfitz commented on #18253
@aclements, how far back do your logs go? Is this failure new to Go 1.8?

[2016-12-19 20:08] martisch commented on #15809
Started working on this and created a CL that computes the element position directly each time if it is cheap to do. Currently looking at the effects, adjusting tests, benchmarking and evaluating e.g. if we could just compare against a pointer to the end of the array. I am planning to send a CL for 1.9 within the next 2 weeks.

with new CL:
[code]

without:
[code]

[2016-12-19 20:15] neild commented on #16221
I believe t.Fatal is a bit of a distraction here, since it can only be called from the main test goroutine. If I understand @cstockton correctly, the idea is that t.Context would become done if t.Error is called from any goroutine. (This is not, AFAIK, what the original proposal did.)

I'm not certain this would be useful in the general case. A test which starts a goroutine which may produce an er

[2016-12-19 20:23] tcolgate commented on #18307
Fix has been merged, closing.
Many thanks!

[2016-12-19 20:23] #18307 closed

[2016-12-19 20:40] j7b commented on #18130
Why not approach type aliases as algebraic types instead and support aliases to a set of types so we also get an empty interface equivalent with compile time type checking as a bonus, a la

    type Stringeroonie = {string,fmt.Stringer}

[2016-12-19 20:52] jacobsa commented on #18370
Thanks very much for fixing this so quickly, and even adding a test! I'm really impressed how well you all respond to bugs like this.

[2016-12-19 20:54] bcmills commented on #18130
@j7b

Aliases are semantically *and structurally* equivalent to the original type.  Algebraic datatypes are not: in the general case, they require additional storage for type-tags.  (Go interface types already carry that type information, but structs and other non-interface types do not.)

[2016-12-19 20:58] rsc commented on #15809
Thanks. Note that the "pointer to the end of the array" is not well defined in Go. You can't point past the last element (that's a pointer to a different object and will confuse the GC), you can't use an integer instead of a pointer (that won't be updated if the object is on the stack and moves, confusing the program itself), and you can't use a pointer to the last element (an array with 0 element

[2016-12-19 21:05] rsc commented on #11123
This is a good idea, but right now we don't have the bandwidth to help redesign the object format and support the resulting churn in the code base. We should revisit the object format at some point, but it won't be soon. Marking this declined for now, with the expectation that we may come back to this later.

[2016-12-19 21:06] #11123 closed

[2016-12-19 21:06] rsc commented on #14386
This is a good idea, but right now we don't have the bandwidth to help redesign the object format and support the resulting churn in the code base. We should revisit the object format at some point, but it won't be soon. Marking this declined for now, with the expectation that we may come back to this later.

[2016-12-19 21:06] #14386 closed

[2016-12-19 21:07] feyeleanor commented on #18371
This is not a proposal for a DeepCopy mechanism.

This is a method for making an exact duplicate of a value, including its unexported fields.

[2016-12-19 21:07] rsc commented on #13432
On hold for #17244.

[2016-12-19 21:09] minux commented on #18371
Make a shadow copy is as simple as a regular assignment, why do we need a
new built-in function?

What am I missing here?

[2016-12-19 21:12] bradfitz commented on #18371
And even if you need to use reflect, it's just:

[code]

[2016-12-19 21:14] rsc commented on #15490
Still up to @aclements.

[2016-12-19 21:17] rsc commented on #15985
On hold for #17244.

[2016-12-19 21:25] rsc commented on #14760
Go 1.8 will introduce a net.Resolver type that lets you do a name resolution with a timeout (or if you don't care about a timeout, Go 1.7 already had that), so you could do the conversion from host name to IP addresses with (*Resolver).LookupHost and then prioritize the results however you like, including by starting some v4 attempts and then timing out or kicking off new v6 attempts after a certa

[2016-12-19 21:25] #14760 closed

[2016-12-19 21:34] rsc commented on #15513
There are at least three different things people might want here (and have asked for either here or other places):

- Build all binaries and don't save them.
- Build all binaries and do save them (maybe in a directory tree).
- Compile but don't link (for quick turnaround in save hooks).

I propose we keep accumulating these kinds of go command issues and try to take a coherent look at them in the

[2016-12-19 21:36] rsc commented on #16419
On hold for #17244.

[2016-12-19 21:37] bradfitz commented on #18324
@ianlancetaylor, this just happened on linux-amd64 also:

https://storage.googleapis.com/go-build-log/395b8281/linux-amd64_ea27469b.log

[2016-12-19 21:38] #17869 closed

[2016-12-19 21:38] rsc commented on #13086
Since Dmitriy figured out a way to do this, proposal accepted.

[2016-12-19 21:41] minux commented on #18041
@steeve, could you please test CL 34610 and see if it works
in production build?

If you got "Recompile using GOARM=5." message, please
see if making "func checkgoarm" in runtime/os_linux_arm.go
simply return fixes the problem and allow the application to
run. Thanks.

I failed to find an Android device with such limiting SELinux
rules.

[2016-12-19 21:42] rsc commented on #18303
Unless and until this becomes an accepted soft standard for errors, we should probably not start adding it to the standard library throughout, and we also shouldn't add it piecemeal. Like @bradfitz said above, the situation is far from settled.

Declining until that changes. (And if it does change, and we decide that this is something we want everywhere, we'll probably just do it, without needing

[2016-12-19 21:56] martisch opened #18376 "cmd/compile: string range loop does not handle assigment order correctly"
at least go 1.7.4 (playground) and tip

https://play.golang.org/p/CG--RNbwZA

[code]
expected:
x[0] = 'a'
x[1] = 'c'

got:
x[0] = 'c'
x[1] = 'b'

I have already created a fix for this issue. Currently testing if we could make it not regress performance for the common case (e.g. i,x := ) without adding to much additional complexity to the compiler code.

Note that this bug seems not to have been in

[2016-12-19 21:58] tejasmanohar commented on #18303
@rsc I understand your concern about adding this piecemeal. My proposal is that the Go standard library should return a struct that satisfies `Error() string` and `Cause() error` in all cases where an error that the *user* (e.g. me writing Go code) is re-thrown. _One_ example of this is [`flag.FlagSet.Parse([]string) error`](https://golang.org/pkg/flag/#FlagSet.Parse) re-throwing the error returne

[2016-12-19 21:59] martisch commented on #15809
@rsc thanks. What i had in mind was having a look at what you described: "You could use the pointer to the last element as long as there's a check for zero-size arrays".

On top off all what you mentioned one also needs to keep e.g. the order in which assignments are made in mind. I seem to have found a bug in the string range case (in new and old code) while working on the array range code. #1837

[2016-12-19 22:01] #18041 closed

[2016-12-19 22:07] tejasmanohar commented on #18303
Without this feature, stdlib expects users to either
- inspect the result of `Error() string` (eww!); or
- store the original `error` from `Set()` (and similar methods) in some other place... which eliminates the purpose of the `error` return value (could as well be a pass/fail bool)

[2016-12-19 22:10] tejasmanohar commented on #15192
@adg With all due respect, why do you think this issue should be held off till Go2? If we can improve Go without making breaking changes, why delay? There's no timeline for Go2, right?

[2016-12-19 22:10] bobjalex commented on #18359
This problem is not blocking me -- I have several ways to work around it.

In fiddling with this problem, I created a new zip module derived from the 1.8 one that solves the problem and is compatible with older versions. I added 2 new function that allow specification of whether the MSDOS 16-bit time and date fields should store as UTC (as it does now) or local (as many existing zip programs and l

[2016-12-19 22:12] cespare commented on #18376
It took me a bit to see what's wrong with the behavior. In case it helps anyone else looking at this, the specific issue is that spec says

([link](https://golang.org/ref/spec#Assignments)).

Below that it also gives this example for an `[]int`, which works today (unlike strings, which this issue is about):

[code]

[2016-12-19 22:13] bradfitz commented on #18376
/cc @alandonovan @ianlancetaylor @griesemer

[2016-12-19 22:22] rsc commented on #18303
I understand the general problem. We should be sure of how we want to solve that before we start editing package flag. Maybe 'Cause() error' is not the solution. Until we know the solution, we shouldn't add it to package flag.

[2016-12-19 22:22] #18303 closed

[2016-12-19 22:25] tejasmanohar commented on #18303
@rsc Got it.

Where does discussion about that take place? What are next steps?

[2016-12-19 22:31] titanous opened #18377 "crypto/tls: Allow sending unrecognized_name alert from GetCertificate"
[RFC 6066](https://tools.ietf.org/html/rfc6066#section-3) says:

Currently returning an error from the `GetCertificate` hook [results in](https://github.com/golang/go/blob/a0667be8ef56c405d093cc0f5817b9932b4ca76c/src/crypto/tls/handshake_server.go#L222) a generic `internal_error` fatal alert. To implement the first action in the RFC, there should be a way to return an `unrecognized_name` fatal ale

[2016-12-19 22:38] mvdan commented on #17869
Would it be sensible for the standard library to include one or many of these functions that compromise in one way or another? From what I understand, you'd want the "right" one (as in not many at once) or at least for most people to agree on which is the better one.

[2016-12-19 22:41] dsnet commented on #17869
I would rather see a third party package provide a set of functions that emphasis different design priorities rather than seeing the standard library provide a hodgepodge of different implementations.

[2016-12-19 22:43] bobjalex opened #18378 "archive/zip: possible bug"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8beta2 windows/amd64

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\GoLib_beta
set GORACE=
set GOROOT=C:\Go_beta
s

[2016-12-19 22:47] bradfitz commented on #18377
Seems reasonable. @agl?

[2016-12-19 22:48] bradfitz commented on #18377
I suppose the bigger question is why this matters to you. How did this come up? Do clients & servers implement this in the wild?

[2016-12-19 22:50] dsnet commented on #18378
You are right that this seems buggy. This loop was introduced in Go1.8 for the extended timestamp logic.

[2016-12-19 22:51] dsnet commented on #18359
In light of #18378, I'm planning on reverting the whole change and just fix it fully for Go 1.9.

[2016-12-19 22:53] dr2chase commented on #10958
Update: Dec14 version of the CL above is a sketch of what we want; it is correct and adequate for GOEXPERIMENT, but I think needs the following changes/enhancements:

1. the register allocator needs to be improved to "sink" spills down into rarely taken branches when this is possible.  The current code to sink spills into loop exit edges is a special case of this.

2. loop unrolling needs to happe

[2016-12-19 22:57] mholt commented on #18377
They will: https://github.com/mholt/caddy/issues/1303#issuecomment-268023991

With this change, the browser will have a specific kind of error message to display for the user rather than making it look like TLS is broken on the server. Mostly a "nice to have" feature. :)

[2016-12-19 23:02] cstockton commented on #16221
Thanks @neild for thoughtful reply, the aim of my examples was to illustrate that waiting on a context provided by T.Context() is not intuitive as implemented since it is not canceled when fatal is called. I think it the fact that dsnet focused on the example being racy, and you tried to further decompose them proves that writing tests is more difficult then it should be. Which.. does circle back

[2016-12-19 23:07] bcmills commented on #16221
@cstockton

That's simply not true.  `goexit` runs deferred functions: to a first approximation, all you have to do to synchronize your test correctly is to `defer` the cleanup.

That does mean that you have to structure your API in such a way that the deferred function call can determine when the cleanup has completed, but that's a good idea anyway: that's also what allows you to write programs w

[2016-12-19 23:36] j7b commented on #18130
@bcmills

This might be faulty reasoning, but I thought the problem could be approached as alias A of type T is equivalent to declaring A as interface{} and letting the compiler transparently convert variables of type A to T in scopes where variables of type A are declared, which I thought would be mostly linear compile-time cost, unambiguous, and create a basis for compiler-managed pseudotypes in

[2016-12-19 23:51] agl commented on #18377
We could just make a callback error always trigger `unrecognized_name`.

[2016-12-19 23:56] mholt commented on #18377
True, but I can also think of countless other types of problems that could occur in more advanced situations of getting a certificate, even if the name is recognized. For example, Caddy is subject to rate limits and, even if its configuration recognizes the name in the handshake, it may not be able to get a certificate for that hostname. In my opinion, that's different than the server not being co

[2016-12-20 00:04] agl commented on #18377
But why expose that difference to a client? The fatal alert values are very rough already and few of them are terribly meaningful. If `unrecognized_name` could mean to a client "you might have better luck with a different SNI value" then _maybe_ that's of value, although I'm skeptical. You seem to assume that Chrome would display a different error message for this but I consider that unlikely.

Th

[2016-12-20 00:31] cstockton commented on #16221
@bcmills I'm well aware that defers are ran, or I wouldn't have posted this example:

[code]

Which I made to illustrate that the context not being done when t.Fatal is called is not intuitive to me in the prior implementation of T.Context().

Which I brought up because of my **Request:**

  - Add back t.Context()
  - t.Fatal() should cancel the context, because the test is done.

**Because:**

Bu

[2016-12-20 00:33] cstockton commented on #18368
I have no further information to provide so feel free to close this @dsnet if adding t.Context() back is not open for consideration. Thanks.

[2016-12-20 00:37] dsnet commented on #18368
`t.Context` (or its moral equivalent) will probably be included in Go 1.9. However, it's resurrection will probably not have the same semantics as what you are pushing for here, which is different from other how other people expect it to work.

[2016-12-20 01:19] ianlancetaylor commented on #15192
Yes, if we can improve Go without making breaking changes, we should.  But every change is a tradeoff.  It's not obvious that this specific proposal is a sufficiently useful non-breaking improvement.

[2016-12-20 01:23] ianlancetaylor commented on #18376
I agree that this looks like a bug in the gc compiler.

gccgo gets it right.

I also agree with setting the milestone for this to 1.9.

[2016-12-20 01:32] #18285 closed

[2016-12-20 01:39] #18378 closed