[2020-04-19 13:21] obeyda commented on #38514
@myitcv, what i suggested was something to make the UX a user friendly.
from the comments above and the other issue (#36809) we can see that different users have different use cases.

[2020-04-19 14:05] slon opened #38524 "cmd/go: go mod download shows outdated versions"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/prime/.cache/go-buil

[2020-04-19 14:14] damien-lloyd commented on #38520
@mvdan That's not correct I'm afraid since introducing `defer { }` doesn't change the current nature of defer as it is. We're only augmenting what is already provided, not diminishing it. As it stands, the `defer { }` is only a shortcut for `defer func () {} ()` which allows sequential statements of code to have its execution deferred to the end of the function.

[2020-04-19 14:17] mvdan commented on #38520
Yes, you're addig more ways to write Go code. Which, as I explained, has a high cost - any static analysis tools that currently examine defer statements would need to be updated, for example. This is why the language spec is almost never touched, and even less so for syntax changes.

[2020-04-19 14:18] mvdan commented on #38520
Also, please fill https://github.com/golang/proposal/blob/master/go2-language-changes.md.

[2020-04-19 14:41] damien-lloyd commented on #38520
Having considered the above document before raising this proposal, I still believe this is a worthy addition to Go. As it stands, this proposal is not:

1. Asking for the current 'defer' mechanism to be changed
2. Preventing people from using defer the usual way

Whilst I appreciate your concern for the integrity of the language spec, it remains an important issue in any language, not just Go, for

[2020-04-19 15:28] networkimprov commented on #38523
I think this is fixed in 1.14.2. Could you run `go version` and report which release you have?

First reported in #37149
@gopherbot add OS-Windows

[2020-04-19 15:45] bradfitz commented on #38505
Okay, we can close this now.

It's also not as bad as I originally thought: a program that imported `net/http` but didn't use `httptrace.WithClientTrace` didn't end up going into conservative `reflectSeen` mode.

But with the latest toolchain changes (notably https://go-review.googlesource.com/c/go/+/228792), even using `WithClientTrace` shouldn't trigger the linker's `reflectSeen`, as it doesn't

[2020-04-19 15:45] #38505 closed

[2020-04-19 15:56] bhcleek opened #38525 "x/tools/gopls: hover documentation for package level ungrouped var or const is empty"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN="/Users/bhcleek/go/bin"
GOCACHE="/Use

[2020-04-19 16:04] bhcleek opened #38526 "x/tools/gopls: hover documentation for package empty"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN="/Users/bhcleek/go/bin"
GOCACHE="/Use

[2020-04-19 17:15] stamblerre opened #38528 "x/tools/gopls: show unimported completions for symbol names"
See the original discussion on https://github.com/microsoft/vscode-go/issues/1846.

/cc @heschik @muirdm

[2020-04-19 17:32] ruixue8080 commented on #38523
go version go1.14 windows/amd64
I build the exe file in environment which installed version "go1.14 windows/amd64", but the environment which run the "go-hello-world.exe" do not install go, will this matter? My understanding is that there is no need to install go package to run the exe file.

[2020-04-19 17:43] agnivade commented on #31908
Went with the "single thread for I/O" approach and built a small POC here: https://github.com/agnivade/frodo :) Nothing serious, just something for me to learn about io_uring and do something with it.

There are definitely some hairy edge-cases due to my highly inexperienced knowledge of CGo. But it's at a stage to start playing around. I have thrown in a benchmark just for the sake of it, but it

[2020-04-19 17:44] ruixue8080 commented on #38523
@networkimprov thanks a lot, I reinstall go version 1.14.2, it works now!

[2020-04-19 17:45] networkimprov commented on #38523
Glad to help. Correct, you do not need Go installed on the environment where the app runs.

You can close this issue.

[2020-04-19 17:49] #38523 closed

[2020-04-19 17:49] mvdan commented on #36817
It seems like we generally agree that this is doable, so I'm going to replace NeedsDecision with NeedsFix. If anyone wants to work on this, feel free to send a CL.

[2020-04-19 18:37] gastrodon commented on #38519
Using consts was the solution that I was using before, though interpolating strings with varaibles can lead to code that is pretty ugly in my opinion. I could go back to using strings here, for example
[code]
Where `util.MustMarshal` is just the panic on err wrapper mentioned, but I think string formatting is messier.

[2020-04-19 18:41] muirdm commented on #38528
It's easy enable deep completions for unimported (but loaded) packages, but I think it will take a bit more work to make it useful in practice. I tried this out a while ago and it was just junk unimported candidates when I didn't want them, and not the right unimported candidates when I did want them.

I imagine the main challenges will be:
1. Searching for completions across all workspace package

[2020-04-19 18:45] myitcv commented on #38528
The linked issue mentions potentially merging the results of workspace symbol. Not commenting on the sense/viability of such a thing, but rather just flagging that I'm currently working on a refactor of the workspace symbol piece.

[2020-04-19 18:45] gastrodon commented on #38519
I agree that these funcs would have a very limited usecase, but I would also think that it is a relatively simple implementation that is not backwards incompatible. It would panic presumable on programmer error, and save other tools from needing to add it to their projects

[2020-04-19 18:52] mvdan commented on #38519
I can see how it can be useful in some niche cases, but writing your own helper function is just a handful of lines. Backwards compatibility and simplicity are not the only factors for adding API to the standard library - see https://golang.org/doc/faq#x_in_std.

These are just my thoughts, though.

[2020-04-19 18:53] mvdan commented on #38519
I can see how it can be useful in some niche cases, but writing your own helper function is just a handful of lines. Backwards compatibility and simplicity are not the only factors for adding API to the standard library - see https://golang.org/doc/faq#x_in_std.

These are just my thoughts, though.

[2020-04-19 18:58] #38519 closed

[2020-04-19 19:26] kstenerud opened #38529 "cmd/go: go refuses to compile hex floats on +build go1.13 file"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.10 linux/amd64

</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/karl/.cache/go-bu

[2020-04-19 19:45] cuonglm commented on #38529
But you use `go.1.13.10` to run go test, so the file is built.

[2020-04-19 19:47] kstenerud commented on #38529
Yes, so there should be no error, since go 1.13 supports hex float notation.

[2020-04-19 19:50] OneOfOne commented on #38529
You specified `go 1.11` in `go.mod`, so I'd say that's expected, it'd actually be a bug if it worked.

[2020-04-19 19:52] OneOfOne commented on #38529
https://play.golang.org/p/yi6zb76npL_j vs https://play.golang.org/p/Lh5tpyOIyx7

[2020-04-19 19:53] kstenerud commented on #38529
So how to I make my project buildable under 1.11? I've put the 1.13 stuff in a `+build` guarded file so that it only builds the 1.13 stuff when building with go 1.13.

[2020-04-19 19:56] cuonglm commented on #38529
Use go1.11.x or 1.12.x to build.

Or maybe drop support for go < 1.13, set go1.13 in go.mod

[2020-04-19 19:58] kstenerud commented on #38529
It builds fine under 1.11 and 1.12. It only fails when I try to build using 1.13.

Dropping support for 1.11 and 1.12 seems a silly thing to do when it builds fine under those versions. This is a problem with two compiler rules fighting each other, not a rational thing.

[2020-04-19 20:00] randall77 commented on #38529
I think this should work. Having a go1.11 mark in the mod file means we shouldn't define a go1.13 build tag.
The bad code never makes it to the compiler. Something earlier in the toolchain is barfing on the input.

@bcmills

[2020-04-19 20:03] cuonglm commented on #38529
I don't think it's silly.

Go is backward compatible, and also go1.11 and 1.12 are not supported anymore (see [release policy](https://golang.org/doc/devel/release.html#policy))

[2020-04-19 20:11] cuonglm commented on #38529
@randall77 How about passing the current `go` version to `-lang` if the version is greater than the one specific in go.mod?

[2020-04-19 20:16] bradfitz opened #38530 "x/playground: serving 502 errors"
I've been seeing a number of 502s on the playground just now.

<img width="503" alt="Screen Shot 2020-04-19 at 1 16 14 PM" src="https://user-images.githubusercontent.com/2621/79698770-fc8ef800-823f-11ea-82c4-6831dce8545b.png">

(Hope it wasn't my fault!)

/cc @toothrot

[2020-04-19 20:21] koushki opened #38531 "runtime: can preempt running G asynchronously by sending sigurg while asyncpreemptoff is set"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOENV="/root/.config/go

[2020-04-19 20:27] ianlancetaylor commented on #38520
For language change proposals, please fill out the template at https://go.googlesource.com/proposal/+/refs/heads/master/go2-language-changes.md .

When you are done, please reply to the issue with `@gopherbot` `please` `remove` `label` `WaitingForInfo`.

Thanks!

[2020-04-19 20:30] toothrot commented on #38530
I'll take a look this afternoon, but it just worked for me now on mobile. There are a couple more stability issues to resolve.

[2020-04-19 22:07] darkfeline commented on #29712
I fixed this by adding `127.0.0.1 localhost` to `/etc/hosts`.

[2020-04-19 22:07] #29712 closed

[2020-04-19 22:35] kortschak commented on #38529
@kstenerud Doesn't doing something like this work for you? https://play.golang.org/p/nqejHFvguRv

[2020-04-19 23:23] cryslith commented on #21384
Hi, I'd like to fix this.  Is there a way for me to "adopt" the change that @jakob223 started, or should I create a new changeset?

[2020-04-19 23:25] gauntface commented on #38008
I did some reading through the html standards spec, the expectation is the between a specific ascii range only certain characters need to be escaped, which I believe are the set defined here. Characters outside of this ascii range should always be encoded.

This tool and demo highlights this well: https://github.com/mathiasbynens/he https://mothereff.in/html-entities

[2020-04-19 23:36] VirtualSkyRepo commented on #36375
Appending \\\\?\ is not a solution. Golang already does that for absolute paths, but explicity avoid doing this into relative path. I've readed a little more about this, and it looks like appending that only works for absolute paths. Relative paths always have to be len MAX_LENGHT

https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file

The only solution would be to convert relative p

[2020-04-20 00:09] andrius4669 opened #38532 "x/blog: https://blog.golang.org/10years missing images"
I randomly noticed https://blog.golang.org/10years not having any images, even though there are links for them I see no img elements.
https://web.archive.org/web/20191109121218/https://blog.golang.org/10years properly have them.

### What did you expect to see?
![Screenshot from 2020-04-20 03-07-28](https://user-images.githubusercontent.com/4699695/79703375-1c600380-82b4-11ea-820d-09c35f320ddc.png

[2020-04-20 00:11] andrius4669 commented on #38532
(tested in both chromium and firefox but it's missing stuff in HTML so irrelevant)

[2020-04-20 00:14] andrius4669 commented on #38532
https://archive.vn/Tp0lc captured for the record

[2020-04-20 00:18] #38464 closed

[2020-04-20 00:25] networkimprov commented on #36375
As mentioned in the comment re filepath.Walk() that I linked above, we can prepend `\\?\` to the result of GetFullPathNameW() to create a valid long path; see:
https://stackoverflow.com/questions/38036943/getfullpathnamew-and-long-windows-file-paths

That needs to be done for directory entries, as described in my previous post.

[2020-04-20 01:13] mvdan commented on #38532
@dmitshur @andybons

[2020-04-20 01:31] billythakidd04 opened #38533 "go1.13.10 command not found"
### What version of Go are you using (`go version`)?

<pre>
$ go get golang.org/dl/go1.13.10
$ go1.13.10 download
go1.13.10: command not found
$ go version
go version go1.14.2 linux/amd64
</pre>

Following [these instructions](https://golang.org/doc/install#extra_versions)
### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using

[2020-04-20 01:42] smasher164 commented on #38532
Bisecting blog identifies https://github.com/golang/blog/commit/d69e13551fa530db489dc386e648795a15bc11a9 as the first bad commit, which pulls in https://github.com/golang/tools/commit/e609210bcd3f from x/tools.
/cc @rsc

[2020-04-20 03:37] agnivade commented on #38533
This is likely a problem with your $GOPATH/bin not part of $PATH. And not an issue with Go.

Are you able to "go get" other binaries ? Like `go get golang.org/x/perf/cmd/benchstat` ?

[2020-04-20 03:54] rocket049 opened #38535 "I hope that I can also use GOPROXY to download package in GOPATH mode"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="auto"
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/fuhz/.cache/go

[2020-04-20 04:49] tooolbox commented on #38514
Fully agreed with @zikaeroh

Key points:
- The behavior is surprising.
- Copying the path could be followed by `go get` or pasting it into a `go.mod` or chatting it to your buddy or anything else; assuming an `import` alienates other use cases.

Please consider reverting.

[2020-04-20 04:58] networkimprov commented on #36375
As mentioned in the comment re filepath.Walk() that I linked above, we can prepend `\\?\` to the result of __GetFullPathNameW()__ to create a valid long path; see:
https://stackoverflow.com/questions/38036943/getfullpathnamew-and-long-windows-file-paths

That needs to be done for directory entries, as described in my previous post.

EDIT: ... to be done for the argument to Lstat() and Open(), whic

[2020-04-20 05:10] kstenerud commented on #38529
[code]

@kortschak Change this to `1.11` and the problem returns.

[2020-04-20 05:21] kortschak commented on #38529
So don't change it to `go1.11`? When you have `go1.11` in the Go version specifier you are saying you want to use Go 1.11 features, but hex floats are a Go 1.13 feature.

[2020-04-20 05:33] kstenerud commented on #38529
Then that defeats the whole purpose. If `go.mod` specifies `1.13`, then you can't build for <1.13, and `foo_old.go` is completely pointless since `// +build !go1.13` will never be built.

The point is that I want to have my software package buildable in 1.11 and 1.12, but also use hex floats for more specific floating point test code when building in 1.13+.

[2020-04-20 05:47] kstenerud commented on #38529
More specifically: [this code](https://github.com/golang/go/blob/master/src/cmd/compile/internal/gc/noder.go#L1324) doesn't take the current `+build` settings into account to determine that the currently compiling file (with `// +build go1.13`) is restricted to 1.13 and up, but rather just fails based on the `-lang` flag.

[2020-04-20 06:17] kortschak commented on #38529
This is not true. In the following session I build and run the code in the playground (with the exception that the float literal is negated in foo_old.go so that the code used is identified) in each version of Go from 1.11.9 to 1.14.2 (build chain is rebuilt for each version in another term).

[code]

[2020-04-20 06:34] kstenerud commented on #38529
Then this is exposing another issue. If go.mod specifies 1.13, why are the go 1.11 and 1.12 compilers not detecting this and throwing an error?

If the version in go.mod is ignored by the compiler, what's it for?

[2020-04-20 06:40] kortschak commented on #38529
It is to indicate language features that are required. The question you are asking is #30791.

[2020-04-20 07:00] egonelbre commented on #38532
It looks like `tools/present` parsing doesn't support `.image` nested inside an `a` tag anymore:
[code]

[2020-04-20 07:11] erifan commented on #25628
Hi, does TestExtraFiles now require 'lsof' to be installed in the test environment? Because I still see this test fail on our linux/amd64 and linux/arm64 machines.

Repo: 4eaf855155acb2da69adbab7728c1a59b9315d41
Arch: linux/amd64
[code]

Arch: linux/arm64
[code]

[2020-04-20 08:14] kaniini commented on #38454
Sorry for the delay on this, the weekend was a little busier than expected.

<details>
<summary>Build log</summary>
[code]
</details>

[2020-04-20 08:19] codesuki commented on #37984
The problem with emacs is fixed now: https://github.com/emacs-lsp/lsp-mode/pull/1593
I don't know if this was also the solution for @mikroskeem

[2020-04-20 08:21] tklauser commented on #21384
@cryslith feel free to send a new CL, I don't think there is a way to adopt a CL.

[2020-04-20 09:32] surechen commented on #37168
Hello, if the above policy is passed, does the golang community need to reconstruct some existing assembly implementations with more than 100 lines? Such as splitting into smaller and more assembly or golang functions. Compared with the current assembly implementation, this way may lead to performance degradation. Will this be accepted by the golang community?

[2020-04-20 09:58] XiaodongLoong opened #38536 "not support mips64le go installation package for make docker official image (https://golang.org/dl/)"
Recently I make golang docker images based on debian:stretch image with the guidance of
 the `docker-library/official-images` project. In order to make golang docker image that I need, I must download the golang software installation package from URL: https://golang.org/dl/, but I cannot found the software installation package on linux-mips64el.

### What version of Go are you using (`go version`)

[2020-04-20 10:10] ALTree commented on #38536
Hi,

from the [Porting Policy page](https://github.com/golang/go/wiki/PortingPolicy#first-class-ports), First Class Ports section:

Follows a list of the First Class Ports. ppc64le is not a first class port, so official binaries are not provided. Users need to build the toolchain themselves: https://golang.org/doc/install/source

[2020-04-20 10:26] mikroskeem commented on #37984
My solution was to set GOPATH etc. environment variables correctly, nothing for me to do with Bazel. :smile:

[2020-04-20 10:38] kingreatwill commented on #38535
Then use go module!

[2020-04-20 10:45] millerresearch opened #38537 "cmd/api: tests timing out on plan9-arm builder"
[CL 224619](https://go-review.googlesource.com/c/go/+/224619) slowed the cmd/api tests on plan9_arm from best-case about 1 minute to best-case about 3 minutes, and worst-case timing out after 13 minutes, for example [here](https://build.golang.org/log/f4704e4e0bc49d1d31c722b21e994e3b614eb947
).

The CL added code to the cmd/api test to "warm up the import cache" by starting 31 `go list -deps -json

[2020-04-20 10:47] mvdan commented on #38535
GOPROXY is a setting for go module proxies, so it will only work in module mode, and to download modules. It can't be used to download single packages. See `go help goproxy`.

GOPATH will be gradually replaced with modules. If you encounter issues using module mode, please file issues. Aside from that, I think using module mode should be fine for practically everyone today.

[2020-04-20 11:21] mvdan commented on #32779
Some sort of LRU, or mechanism to limit the amount of memory we hold onto at once, seems like an OK tradeoff to me. I guess we can work this out on the CL itself, but it seemed clearly backwards incompatible to me to make this entirely unbounded by design.

[2020-04-20 11:55] rocket049 commented on #38535
If I can use module mode, I will use module mode, but module mode is not omnipotent. Some packages cannot be used in module mode, such as 'github.com/therecipe/qt', which I often use.

[2020-04-20 12:09] mvdan commented on #38535
If some packages cannot be used in module mode due to a bug, please file that bug. I think that's the right course of action, instead of trying to add features to GOPATH mode.

[2020-04-20 12:27] pjebs commented on #36771
@odeke-em Finished amending PR based on your comments.

The only thing I didn't change was your suggestion that I change `IEEE754` to `IEEE 754` because the `ParseComplex` doc comments are directly from `ParseFloat` function and that's how it was in there.

Thanks for the review.
Also noticed to my surprise that you stared my https://github.com/rocketlaunchr/dbq package.

[2020-04-20 12:53] zhouzhenling commented on #37058
limiter.Wait(ctx) will call time.NewTimer() if need to wait.
I make a test for time.NewTimer(d) using similar parameters with @lebovski. And I find total call time.NewTimer(d) does not correspond to expected. And I find the smaller the duration d , the greater the deviation.

env:  go version go1.14 linux/amd64

[code]

As @randall77 said: increasing the burst size can fixes the problem.  That's b

[2020-04-20 13:09] jayconrod commented on #38507
#29731 is an issue about changing queries like `@v0.1` to fall back to branches or tags.

In this situation though, it would still give a pseudo-version, which is probably not what you want.

[2020-04-20 13:13] jayconrod commented on #37567
Go allows cyclic dependencies in modules, just not packages.

[2020-04-20 13:21] bsiegert opened #38538 "gccgo: fix NetBSD support"
### What version of Go are you using (`go version`)?

gcc-9.3.0 with `--enable-languages=c,c++,go`

### Does this issue reproduce with the latest release?

gcc HEAD from git has the same issue.

### What operating system and processor architecture are you using (`go env`)?

NetBSD 9.0 / amd64

### What did you do?

I tried to compile gccgo using the GCC 9.3.0 release. NetBSD is nominally supported

[2020-04-20 13:57] myitcv commented on #38514
@quentinmit

Apologies, I totally missed this in the description.

That makes total sense as a use case. As does, I would suggest, wanting to paste directly into code. i.e. we have multiple use cases.

So as I understand it we have a number of options (and at this point I defer to @julieqiu and team) not limited to:

* if we can only have one copy option, go with the use case that is most useful t

[2020-04-20 13:57] mangatmodi commented on #20135
Isn't the issue is that the GC is not triggered at the right point? GC process is able to recognize that the map has some deleted keys, that's why `runtime.GC()` helps. I guess it needs some tuning.

Also, I believe it is a pretty serious issue. Allocating a new map should be documented as best practices when using go.

[2020-04-20 14:02] bradfitz commented on #20135
@mangatmodi, this issue is about the map's internal representation, not GC.

[2020-04-20 14:13] diamondo25 opened #38539 "runtime: "fatal: systemstack called from unexpected goroutine" on armv6"
Note: I am using karalabe's xgo for compiling to ARM6

### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.17 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

###

[2020-04-20 14:17] VirtualSkyRepo commented on #36375
Yes, sure. I've introduced a syscall.FullPath into fixLongPath, and now it works for most cases presented, but it is still failing in Walk, because the path that's failing is 227 characters long (<248), so it doesn't get processed by this. (This was commented in one of the first issues in filepath.Walk ticket, mentioned before). I have to investigate why this is failing, and fix this.

Cheers ;)

[2020-04-20 14:19] diamondo25 commented on #38539
Buildlog `go build -v -x -o hello . &> buildlog_v1.11.txt` for v1.11 library
[buildlog_v1.11.txt](https://github.com/golang/go/files/4504056/buildlog_v1.11.txt)

[2020-04-20 14:23] diamondo25 commented on #38539
Buildlog with latest (v2.0.3+incompatible) library
[code]
[buildlog_v2.0.3.txt](https://github.com/golang/go/files/4504070/buildlog_v2.0.3.txt)

[2020-04-20 14:29] peterbourgon commented on #37351
I second all of the comments here on principally aesthetic grounds, but would also add that the Doc, Overview, Subdirectories, etc. of a module are clearly [hierarchical resources of the path](https://tools.ietf.org/html/rfc3986#section-3.4) and as such shouldn't be specified as a query parameter.

[2020-04-20 14:35] bcmills commented on #38522
CC @matloob

[2020-04-20 14:49] #37962 closed

[2020-04-20 14:54] bcmills commented on #38535
We don't plan to significantly improve GOPATH mode at this point.

As @mvdan suggests, if there are problems that prevent you from using packages in module mode, please ensure that issues have been filed for those specific problems. (Feel free to mention specific impacted packages on issues in the issue tracker — having concrete examples helps us to understand and prioritize those issues.)

[2020-04-20 14:54] #38535 closed

[2020-04-20 14:57] bcmills commented on #38507
In theory we could resolve prefix tags to prefix-derived pseudo-versions (the same that we do for `+metadata` suffixes) but I think that would probably add more confusion than it resolves.

[2020-04-20 15:04] bradfitz commented on #38507
To be clear, I don't really care about the `v0.1` not working part. That was just my mistake while in an act of desperation trying to kick the machinery into polling again.

What I really cared about was that I was working between two repos and couldn't make forward progress in repo A because it depended on repo B and proxy.golang.org wasn't re-polling B. GOPROXY=direct fixed it for me locally, bu

[2020-04-20 15:09] mangatmodi commented on #20135
@bradfitz Thanks for the reply. However, I was reading map code of go and would really love to understand this issue. Is it that, overflow buckets are never deallocated when we delete keys? https://go-review.googlesource.com/c/go/+/3288/3/src/runtime/hashmap.go

I simplified OP's example and added GC - https://play.golang.org/p/pdZls3ljYb9

Here GC is able to collect some deleted keys, which means

[2020-04-20 15:24] bcmills commented on #38537
The other 32-bit ARM builders have very generous `GO_TEST_TIMEOUT_SCALE` settings:
https://github.com/golang/build/blob/1f68cb08aa220ffd9307944f095298f748f77597/dashboard/builders.go#L1935-L1953
https://github.com/golang/build/blob/1f68cb08aa220ffd9307944f095298f748f77597/dashboard/builders.go#L1965-L1974

Perhaps the same should be set for the `plan9-arm` builder.

(Or, isn't there currently a RP

[2020-04-20 15:26] kardianos commented on #34775
CL Ready, just waiting for a reviewer.

[2020-04-20 15:27] kardianos commented on #32530
CL Ready. Waiting for a reviewer.

[2020-04-20 15:33] andybons commented on #38539
@aclements

[2020-04-20 15:36] #38536 closed

[2020-04-20 15:38] aclements commented on #36492
Thanks for the two other dumps.

I did some more searching around and I'm almost positive tmmon64 and TmUmEvt64 are related to Trend Micro anti-virus, which agrees with what you said in https://github.com/golang/go/issues/36492#issuecomment-573212141.

Unfortunately, I think its syscall interception is introducing a lock cycle that's leading to a deadlock.

In https://github.com/golang/go/issues/3

[2020-04-20 15:39] andybons commented on #38524
@bcmills @jayconrod @matloob

[2020-04-20 15:41] andybons commented on #38511
@katiehockman @FiloSottile

[2020-04-20 15:42] andybons commented on #38510
@katiehockman @FiloSottile

[2020-04-20 15:54] randall77 commented on #20135
This issue is about map buckets, both the standard ones and the overflow buckets. We do not shrink the main buckets array or deallocate the overflow buckets when elements are deleted from the map.

We do *zero* the slots in the buckets when elements are deleted, so the individual keys and values (if they contain pointers) will be collected by GC correctly.

[2020-04-20 15:56] networkimprov commented on #36375
@quentinmit describes here why he didn't do that already: https://github.com/golang/go/issues/21782#issuecomment-329792329

I don't think we can touch fixLongPath(), because everything calls it, and we could easily break some case for which there isn't a test. We only need to fix filepath.Walk() and os.RemoveAll(), and we already know how to do so.

[2020-04-20 15:57] Sebi2020 commented on #38244
@alexbrainman What do you mean with you cannot rename output files? I think it's a simple code line of the go tool, which must be changed to get file extensions. -o for example could default to [packagename].so instead of [packagename]. on linux and [packagename].dll on windows.

[2020-04-20 15:58] lochv commented on #38427
@alexbrainman the problem isn't icmp,
problem 1: in windows, socket need set SIO_RCVALL flag to monitor raw sock (linux didn't).
problem 2: in windows, socket bind on 0.0.0.0 canot set SIO_RCVALL flag.
so
<pre>icmp.ListenPacket("ip4:icmp", "0.0.0.0")</pre>
will not work in windows.

Need to port this example code from C to Go for icmp.ListenPacket work in windows

<pre>
int F() {
	WSADATA

[2020-04-20 16:06] pjebs commented on #38520
I believe Swift's defer operates as proposed.

If you want to try it out you can fork my package: https://github.com/rocketlaunchr/igo and make a few adjustments and try it out.

[2020-04-20 16:12] VirtualSkyRepo commented on #36375
mmm.. But Is backwards logic I think.
The issue is in fixLongPath, It's not being able to convert relative paths.
You say to fix Walk and RemoveAll. But it's also failing for lstat and open. This is going to fail everywere fixLongPath is called.

fixLongPath is called in places were a fix for MAX_PATH is needed, but it's not working for relative paths not.
As far as we know for now, this are faili

[2020-04-20 16:12] mangatmodi commented on #20135
Thanks @randall77 . That explains why the map was still taking 9MB after delete and GC. If we linearly scale what means 36MB allocated space for zeroes buckets for 1M keys.

Also your comment for `if they contain pointers` caught my eye. Is it because of this fix - https://go-review.googlesource.com/c/go/+/3288?

Does that means if we are going to keep a big map in the app(with many deletes) as li

[2020-04-20 16:16] millerresearch opened #38540 "os: wrong PathError from OpenFile in Plan 9 causing lockedfile.Mutex failure"
Some subrepo tests (like [this one](https://build.golang.org/log/13a13d2b07ec0161ca015858312c9807592a2326)) are failing on Plan 9 while installing modules, when the attempt to create and lock a lockedfile.Mutex fails.  The error message looks like:
[code]
This message seems not to make sense, because the `Mutex.Lock` function works by opening the lock file with `O_CREATE` mode and  `os.ModeExclusi

[2020-04-20 16:29] bcmills opened #38541 "runtime: TestBigGOMAXPROCS failures on windows-386-2008 builder"
`runtime_test.TestBigGOMAXPROCS` (added in [CL 228420](https://golang.org/cl/228420) for #38474) is showing several failures on the `windows-386-2008` builder.

[2020-04-19T07:51:23-d0d0028/windows-386-2008](https://build.golang.org/log/8afb154fce9a719a874b501bb9b865cca7d1c2c4)
[2020-04-19T03:23:59-af9ab6b/windows-386-2008](https://build.golang.org/log/a34dc6a39182700a5b5d0ad95ca545dc55ebe03d)
[20

[2020-04-20 16:38] randall77 commented on #20135
No, I just mean the space for the keys and values themselves won't be reclaimed, as that space is part of the buckets. Only the things *referenced* by the keys and values will be collected. CL 3288 is only about optimizing GC work - it does not affect what is collected.

Not really. The only situation I see where that choice is relevant is if you're deciding between using `string` or `[100]byte` a

[2020-04-20 16:52] networkimprov commented on #36375
See #20829 re long (i.e. invalid) relative path arguments. Users can adjust arguments they pass.

But a valid relative path can become invalid by concatenation during a tree walk. So we just need to fix what os.RemoveAll() passes to RemoveAll() (and likewise for filepath.Walk()) by defining a parent from GetFullPathNameW() with prepended `\\?\` or `\\?\UNC\` -- unless that's already present.

[2020-04-20 17:00] heschik commented on #38329
@bcmills @jayconrod is this a dupe of #36568? This is an error on directory creation rather than rename.

[2020-04-20 17:04] VirtualSkyRepo commented on #36375
But ticket #20829 was fixed adding fixLongPath(name):
https://go-review.googlesource.com/c/go/+/47010/

Also, if we are not going to support for users to give us a relative path longer than MAX_PATH, then we should be returning a special error for that, instead of "not existent file/folder", that's not necesarily true

[2020-04-20 17:05] 4a6f656c commented on #25498
@dmitshur - any chance of getting the last change deployed (openbsd/arm currently has 873 builds queued)?

[2020-04-20 17:14] networkimprov commented on #36375
Read the whole discussion therein.

Changing fixLongPath() to return an error for long relative paths is worth considering, but out of scope for this issue.

[2020-04-20 17:16] odeke-em commented on #34775
I've got you!

[2020-04-20 17:20] dmitshur commented on #25498
Yes, it will be deployed at the nearest opportunity, likely today.

[2020-04-20 17:23] stamblerre commented on #37984
Glad to hear the fix is in, @codesuki - thanks!

I'm going to leave this issue open to investigate why the ProcessEnv could even be created without a GOPATH. I might be able to add a regression test that has an explicitly empty GOPATH to make sure that this doesn't happen again.

[2020-04-20 17:31] 4a6f656c commented on #25498
@dmitshur - thanks!

[2020-04-20 17:42] #32530 closed

[2020-04-20 17:42] toothrot commented on #37351
@peterbourgon I don't agree that they are clearly hierarchical in the scope of this URL. Additionally, what would happen if a module included a `doc`, `overview`, or `subdirectories` nested module or sub-directory?

[2020-04-20 17:47] #34775 closed

[2020-04-20 17:47] #32942 closed

[2020-04-20 17:54] jayconrod commented on #38524
This seems like it's working as intended.

The latest version of `rsc.io/quote/v3` requires `golang.org/x/text` at `v0.0.0-20170915032832-14c0d48ead0c`. That's an old version that does not have a `go.mod` file. The `go` command acts as if that version had a `go.mod` file with no requirements. So there are packages in that module that import packages not provided by any required modules.

That's fi

[2020-04-20 17:54] #38524 closed

[2020-04-20 18:06] jayconrod commented on #38329
No, it doesn't look like a duplicate of #36568. In the error log here's it's failing while extracting the `x/tools` module zip, not when renaming the directory.

@BertHooyman So it sounds like your organization has a policy against creating files that end with `.biz`? I'm not sure how we can anticipate that kind of thing.

[2020-04-20 18:07] rsc opened #38542 "x/pkgsite: prerelease info truncated in version list"
---------- Forwarded message ---------
From: <volf.tomas@gmail.com>
Date: Mon, Apr 20, 2020 at 1:55 PM
Subject: [golang-dev] pkg.go.dev does not display whole version
To: golang-dev <golang-dev@googlegroups.com>

I have a module using semantic versioning (1.0.0-pre-release+1), which
according to https://semver.org/ should be correct semver. However when
I check my package at pkg.go.dev:

https://p

[2020-04-20 18:14] matloob commented on #38445
I think if the proposal to add the field with build system specific information as accepted, `ForTest` would best belong there. Otherwise, I could see an argument to put it directly on Package. I just want to be careful about the number of fields we add to Package-- I'm a bit worried it would grow too large.

[2020-04-20 18:14] matloob commented on #38431
Yeah, I can't think of a anything significantly better for now

[2020-04-20 18:15] as commented on #38421
The issue is not reproducible in the latest version. At the time of writing, the playground link successfully reproduced it (week ago). As of the latest version, it does not. Closing.

[2020-04-20 18:15] #38421 closed

[2020-04-20 18:21] matloob commented on #37098
Thanks!

[2020-04-20 18:21] aclements commented on #36492
Fascinating. It seems [.NET uses SuspendThread](https://github.com/dotnet/runtime/blob/4037a394804d75559a2852a3555cccf0595433ad/src/coreclr/src/vm/threadsuspend.cpp#L163) for driving threads to GC safe-points. It seems they ran into [similar problems](https://github.com/dotnet/runtime/issues/3947#issuecomment-74119772) with Windows heap locks in general, though not specifically related to system c

[2020-04-20 18:31] odeke-em commented on #36771
Awesome, I shall take a look and I'll also kindly rope in @griesemer for the final look.

Aye aye. Nice work and ergonimcs, I hope to use it sometime in the future!

[2020-04-20 18:45] tooolbox commented on #38514
I get your point in that there has not been a broad survey of this, but in our sample size of the 8 people who've shown up on the issue tracker to talk about this, only 1 seems to be in favor of `import X` as the default copy value.

I agree wholeheartedly that it can be a mistake to please the vocal minority, but one wonders in this case which side that applies to.

Based on the various Go packag

[2020-04-20 18:50] aclements commented on #37310
At least in glibc, `posix_fallocate` falls back to an implementation that just writes the blocks. Beyond Linux and macOS, I'm not sure what platforms natively support it, though I'm sure some of them do.

On Windows, as far as I can tell, there's no equivalent of `fallocate` and [you're expected](https://docs.microsoft.com/en-us/windows/win32/memory/reading-and-writing-from-a-file-view) to catch E

[2020-04-20 19:13] heschik commented on #37670
I was able to reproduce a similar profile by simply opening the root of the Fyne project. Most of the memory is being used by the type checker:

[code]

That's a little surprising for Fyne which is a relatively small project. My best guess is that the problem is the GL libraries, which generate tens of thousands of lines of cgo.

Regardless, I don't see a `gopls` bug here; it appears to be general

[2020-04-20 19:14] FiloSottile commented on #30158
The new BoringCrypto object has landed in dev.boringcrypto.

@dorsha I'm not sure I understand the question, could you elaborate in a new issue or by email? I'm filippo at golang.

[2020-04-20 19:14] #30158 closed

[2020-04-20 19:17] heschik commented on #38329
These files are years old and we've never had a problem before AFAIK. I can review a change to rename them but I don't think I'm going to do it myself.

[2020-04-20 19:27] julieqiu commented on #38542
Thanks for the feedback! The reason this was truncated was to make the version string more readable for pseudoversions, since they can be pretty long. I agree that this is less precise, and we might want to consider display the version string as is.

/cc @spf13 @fflewddur for product/UX input

[2020-04-20 19:29] julieqiu commented on #38381
Thanks for the feedback! Adding this to #37819.

[2020-04-20 19:29] julieqiu commented on #38513
Thanks for the feedback! We are planning to add this feature in an upcoming round of design changes.

[2020-04-20 19:35] myitcv commented on #38514
I think you misunderstood my point. People are coming here because they also see a problem with the current behaviour. People who do not have a problem with the current behaviour are not coming here. So there is a selection bias. That there is a selection bias is not a problem, indeed it's totally to be expected. My point is simply that we need to be aware of that. Incidentally, I'm only commentin

[2020-04-20 20:11] bcmills opened #38544 "net/http/pprof: occasional failures in TestDeltaProfile"
`TestDeltaProfile`, added in [CL 147598](https://golang.org/cl/147598) for #23401, seems to be flaky on some of the `arm` builders.

(Perhaps it is relying on some property of scheduler latency that does not hold on the very slowest builders?)

[2020-04-18T20:01:46-f5291cf/plan9-arm](https://build.golang.org/log/d12c6ce16964da206c94b56f1e65535162ac9526)
[2020-04-18T18:07:52-2a20f5c/android-arm-cor

[2020-04-20 20:13] bcmills commented on #37329
[2020-04-20T19:36:50-0239a5c/darwin-amd64-10_15](https://build.golang.org/log/97e78748b8097f5ba6375ab165aa8b2ac755e543)
[2020-02-22T17:58:24-dad553d/darwin-amd64-10_11](https://build.golang.org/log/1713e499de455d0403f813a83a504e9c8c418c27)
[2020-02-19T20:37:54-b15fd6b/darwin-amd64-10_11](https://build.golang.org/log/870ce12198c9349bca2797ce9fa207a1a4a4dc08)
[2019-10-31T21:47:08-ef03c44/darwin-amd6

[2020-04-20 20:27] FiloSottile commented on #37168
Yes, eventually we do want to adapt current code to the policy, although that's lower priority than draining the current review queue. Like with new code, performance is not the ultimate goal, but I'd like to think that as we gain experience with the policy, the degradation will be small or null.

Here's the full current text. I also clarified functions vs units.

* We prefer portable Go, not asse

[2020-04-20 20:27] bcmills commented on #38529
See specifically https://github.com/golang/go/issues/31747#issuecomment-488353818.

[2020-04-20 20:29] bcmills commented on #38529
Duplicate of #30791

[2020-04-20 20:29] #38529 closed

[2020-04-20 20:34] #18482 closed

[2020-04-20 20:54] bcmills commented on #38502
The presence of a new major version does not necessarily imply lack of support for the previous version.

For example, if `/v2` is implemented in terms of `/v3`, then there is no pressing need for users to “upgrade”, as the previous API can remain supported indefinitely. (And, in that case, the upgrade is properly a task for an automated refactoring tool (such as proposed in #32816) instead of `go

[2020-04-20 20:56] bcmills commented on #38489
CC @millerresearch

[2020-04-20 21:02] spf13 commented on #38542
Agree this needs fixing. I think there is a solution that handles the case of pseudoversions explicitly by shortening that pattern to something reasonable, and then allows for any other versions like this to be displayed.

[2020-04-20 21:04] AbstractSyntaxNotator opened #38545 "encoding/asn1: document that Unmarshal drops trailing elements"
### What version of Go are you using (`go version`)?
go1.14

### Does this issue reproduce with the latest release?
Yes, on [Go playground](https://play.golang.org/p/86UNo9JNSGM) the current version is 1.14.2

### What did you do?

As shown in the following [Go playground snippet](https://play.golang.org/p/86UNo9JNSGM), I define 2 structs:
[code]
and then I first feed the smaller struct (AB) insta

[2020-04-20 21:05] marwan-at-work commented on #38502
I agree with the above. However, the Go command should still provide a way to tell a user that a certain package has newer major versions. There two important use cases for this:

1. If you are trying to `go get` a package, and you don't realize there's a `/vN` suffix, you could be a few major versions behind. I argue that "go getters" should try their best to read package documentation before run

[2020-04-20 21:09] stamblerre commented on #38502
`gopls` also shows suggestions for the user to upgrade to the latest version of a module. https://github.com/golang/go/issues/38339 is tracking work on improving this behavior to be more user-friendly.

[2020-04-20 21:12] bcmills commented on #38499
The fact that I couldn't find an issue to mark this as a duplicate of suggests that there is no “popular” way to do what you are trying to do. (You can't really “share without revealing the source” either way, since someone could always disassemble the library and reconstruct the original program logic — at that point, a `go:generate` tool for source obfuscation seems about as effective as a share

[2020-04-20 21:18] toothrot commented on #25224
I should mention here that one of the biggest issues in resolving this is lack of TryBot support. I will see if there is any easy way to make that happen.

[2020-04-20 21:22] toothrot opened #38546 "x/playground: stop caching Timeout errors"
The Playground mistakenly caches Timeout errors during builds or running of snippets. This is confusing to users if their build has timed out due to some instability. Some trivial play snippets that should have never timed out are now cached.

The `(*server).commandHandler()` function needs to be updated, as well as purging our existing cache.

/cc @bcmills @gus @dmitshur

[2020-04-20 21:28] heschik commented on #38225
@ianlancetaylor touched the doc last, so I'm curious if he has an opinion. But anyway, fine; I'll change goimports to stat the file and use its permissions for the WriteFile call.

[2020-04-20 21:30] karrick commented on #16399
Years ago I started importing `godirwalk` into `filepath.Walk`, but stopped because it required creating another public data structure in the standard library. Rather than discuss it I just stopped working, and went back to my day job.

I am still open to a port of the `godirwalk` library as an extension to `filepath` if it's something folks would like to see.

[2020-04-20 21:52] dmitshur commented on #25224
@toothrot Issue #24823 is relevant.

[2020-04-20 21:56] dmitshur commented on #24823
Resolving this issue should be easier now compared to 2018 for at least one reason: thanks to module mirror, additional non-golang.org/x dependencies will no longer be a problem to fetch.

I'm not if something Docker-related also needs to be done, but @toothrot may have more context.

/cc @toothrot @findleyr

[2020-04-20 22:03] ianlancetaylor commented on #38545
For better or for worse, that is how the encoding/asn1 package works.  There is a comment in the source code:

[code]

I don't think we can change that now.

CC @agl @FiloSottile

[2020-04-20 22:09] yacovm commented on #38545
This comment snippet is not from the [go-doc](https://golang.org/src/encoding/asn1/asn1.go?s=30565:30631#L1072) but [buried deep within the code](https://golang.org/src/encoding/asn1/asn1.go?s=30565:30631#L950).
Also I've noticed the return parameters (namely the **rest []byte**) are not documented.

[2020-04-20 22:14] AbstractSyntaxNotator commented on #38545
That's fine, I guess people would have to live with that, however:

- These comments you quoted are not from the go-doc but [buried deep within the code](https://golang.org/src/encoding/asn1/asn1.go?s=30565:30631#L950).
- The [go-doc](https://golang.org/src/encoding/asn1/asn1.go?s=30565:30631#L1072) doesn't say anything about when rest is not empty, can we change that?

[2020-04-20 22:16] toothrot commented on #24823
The integration tests changed in #25224 to require two docker containers running in a docker network, and also require the ability to run `runsc`, which requires root. I have a few ideas on how we can get good coverage, but the current state the TryBots and the Playground's test setup will require a little work.

[2020-04-20 22:22] pjebs commented on #36771
The code already rejects malformed parenthesis

[2020-04-20 22:31] ianlancetaylor commented on #38225
I think that for `ioutil.WriteFile` and for `os.OpenFile` the permission argument should only be used when the file is newly created.  We should not change the permission of an existing file.  I think that is the intent of the documentation and I think it's how those functions work on Unix.

Therefore, for `O_CREAT | O_TRUNC` without `O_EXCL`, I think that `syscall.Open` should first call `GetFile

[2020-04-20 22:36] OneOfOne commented on #38514
My 10c is there's almost no world where `import "xxx"` is useful, if I'm adding it to code then it'll always always be inside an `import ( ... )` block or like OP mentioned, using it for `go get`.

I usually end up just highlighting it and ctrl+ins it rather than using the button.

[2020-04-20 22:36] ianlancetaylor commented on #38545
Yes, we can certainly change the documentation.  Want to send a patch?

[2020-04-20 22:37] josharian opened #38547 "cmd/compile: optimize bits.OnesCount(x) == 1"
It'd be nice for the compiler to be able to optimize `bits.OnesCount(x) == 1` to `x&(x-1) != 0`.

This is a bit tricky, because by the time we get to the rewrite rules, there's already a branch to check cpu feature availability.

If we figure this out, there might be other math/bits function result comparisons we want to optimize.

Implementation ideas welcome.

[2020-04-20 22:43] AbstractSyntaxNotator commented on #38545
I think it's best if someone else does it.

I have no knowledge of ASN1 and I also opened this throwaway user just for reporting this.

[2020-04-20 22:43] #38541 closed

[2020-04-20 22:49] ianlancetaylor commented on #38521
I can't help but note that the sample program shows a terrible error message.

    reflect: reflect.flag.mustBeExported using value obtained using unexported field

[2020-04-20 22:53] freeformzSFDC commented on #38542
FWIW: "1.0.0-pre-release+1" is 19 characters, "1.0.0 (8786112)" is 15 characters.  So the difference in visible space is ~4-8 characters AFAICT.

[2020-04-20 23:27] norbertvannobelen opened #38548 "crypto/rsa: RSA key generation is non-deterministic while RSA is deterministic in design"
### What version of Go are you using (`go version`)?

go version go1.13.4 darwin/amd64

### Does this issue reproduce with the latest release?

Yes

### What did you do?

Provide non-random input to rsa.GenerateKey (ie: A passkey phrase repeatable generated key algorithm)

[code]

### What did you expect to see?

Based on the rsa algorithm definition and the input: The same key for the same input.

[2020-04-21 00:04] ianlancetaylor commented on #25628
`TestExtraFiles` does not require `lsof` to be installed.  It invokes `lsof` if it fails, in an attempt to find out why it failed.  But if it does not fail, it does not invoke `lsof`.

Fortunately it looks like your failure appeared before https://golang.org/cl/228639 was committed, as I think that CL should fix the test.

[2020-04-21 00:12] bradfitz commented on #38547
I guess you don't like doing it earlier in the compiler before it reaches SSA? Probably cost outweighs the benefits, and clutters earlier phases?

[2020-04-21 00:12] rocket049 commented on #38535
This is a simple example:

[code]

[how to](https://github.com/therecipe/qt/wiki/Installation-on-Linux)

[2020-04-21 00:39] josharian commented on #38547
Exactly.

[2020-04-21 00:57] agl commented on #30158
(I think this is requesting extra patching out from crypto/tls. NIST has weird names for things, but I suspect that the functions in question are probably `CRYPTO_tls1_prf` and `ECDH_compute_key_fips`.)

[2020-04-21 01:27] XiaodongLoong commented on #38536
Do we need to provide you with machines on mips64le cpu arch? Is the simulation based on qemu or virtual machine solution OK?

[2020-04-21 01:35] ianlancetaylor commented on #38536
We don't have the resources to build Go releases for every single target that Go supports.

Instead of providing us with machines, I recommend that you build mips64le releases yourself and make them available for anyone who wants them.  Thanks.

[2020-04-21 01:47] thanm commented on #38493
It would be great to see the windows arm builder back up and working again, but given the circumstances (how long it has been MIA), maybe it would be better to just remove it. If the owner complains -- great, then we can swing into action and put it back into service. If not, let's move on.

[2020-04-21 02:27] mappu opened #38550 "proposal: wiki: CodeReviewComments: remove guideline against 'this' / 'self' receiver names"
The page at https://github.com/golang/go/wiki/CodeReviewComments#receiver-names has this to say about receiver names for struct methods:

This explanation was added in #28475.

But I don't believe this is a good argument:

- C++, Python, and Lua all have identical semantics as Go here
    - This includes the behaviour when calling methods on null `this` pointers; and
    - casting to a function wi

[2020-04-21 02:30] julieqiu commented on #38542
In this case, the full version string would be `v1.0.0-pre-release.0.20200420093620-87861123c523`. See https://proxy.golang.org/git.sr.ht/~graywolf/gomemcache/@latest.

[2020-04-21 02:31] stamblerre commented on #37064
Yeah, it looks like #36188 didn't make it into `gopls/v0.3.0`, which was released around the time this issue was filed. Closing this as a result. Thanks, Jay!

[2020-04-21 02:31] #37064 closed

[2020-04-21 02:42] julieqiu commented on #38514
I agree that this would be the best way forward, and we are planning to add this feature in an upcoming round of design updates.

In the meantime, it seems like having the copy button only copy the import path is the least surprising behavior, so we can revert #36809.

/cc @fflewddur @Joanne881107 @jba

[2020-04-21 03:02] jadekler commented on #38458
I spent time looking into this today, and am working on a cl that implements @rsc's suggestion: https://go-review.googlesource.com/c/go/+/229085. Russ, your solution seems reasonable. Here's what that looks like:

*Before*

[code]

*After*

[code]

Does this look right? As you can see, it's _quite_ a bit more chatty when there's a high degree of interleaving, which could be a bummer. On the other

[2020-04-21 03:13] stamblerre commented on #35564
I just tried running `GOPATH=/invalid gopls -rpc.trace -v check ./internal/lsp/server.go` to test this out, and I saw errors being logged as expected. I think that this has been fixed by our switch to using a non-standard request (`diagnoseFiles`).

[2020-04-21 03:13] #35564 closed

[2020-04-21 03:33] stamblerre commented on #37046
Hi @teeaa, I'm so sorry about the delayed response on this issue! Not sure how it slipped my notice. Are you still experiencing this issue with the latest version of `gopls` (`v0.4.0`)?

[2020-04-21 03:34] pjebs commented on #36771
@odeke-em

Issues:

Am I meant to change the commit message for my initial commit? Is that how I do it?

The `ParseFloat` function already takes care of rejecting malformed parenthesis. There is no need to cater for it. See test cases.

Would be nice to explain the logic of how we figure out what's real what's imaginary.

I have added more detailed comments to explain the logic. I feel that the al

[2020-04-21 03:37] odeke-em commented on #36771
Thanks for the ping Pj!

Please use the CL or the respective PR to respond to code review comments
otherwise we now no longer have threaded conversations related to the code.
Please add those comments to the PR or better, even log in and comment
directly on the CL. I can’t correlate them via email and the actual CL :)

On Mon, Apr 20, 2020 at 8:34 PM pj <notifications@github.com> wrote:

[2020-04-21 03:48] belm0 opened #38551 ""gofmt -d" should have non-zero exit if there is a diff"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### What did you do?

[code]
### What did you expect to see?

Exit value of 1, since there is a diff.

Presence of a diff is the error case, meaning that the code requires formatting.  Then for example, makefile targets to check formatting can simply be "gofmt -d ." and do the right th

[2020-04-21 03:53] weihesdlegend opened #38552 "cmd/build: debug and test fail to run on mac OS 10.15.4"
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.14.2 darwin/amd64

</pre>

### Does this issue reproduce with the latest release?
Tested with Go 1.14.2

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/Weihe/Lib

[2020-04-21 03:56] stamblerre commented on #37279
I think the correct fix for this would be to show the warning only once, on view creation, instead of on diagnostics.

[2020-04-21 04:04] networkimprov commented on #38550
I've always felt an added burden when reading method code which doesn't use a predictable receiver name. Especially as you need to see clearly where a method alters its object's state.

Worse still when the name is one letter among other single-letter names!

[2020-04-21 04:16] myitcv commented on #38514
@tooolbox

Ah I see. Indeed, #36809 did have a selection bias, totally agree. But the basis for the change was to make pkg.go.dev more like godoc.org, but with the addition of the copy button. The one thing that was missed (as was pointed out above) in that change was that the copied value differed from the text shown, which is a jarring UI for sure. Notwithstanding that point, I think we're heade

[2020-04-21 04:29] ianlancetaylor commented on #38550
The wiki page is a style guideline, and as it says the Go style is not to use names like `self` or `this` for method receivers.

I believe that the explanation is accurate.  At least in C++, virtual methods are special, and the name `this` has a special meaning: it refers to the real object with virtual methods attached, not to the object whose type appears in the method.  Go doesn't have virtual

[2020-04-21 05:21] atombender commented on #37617
I'm getting this with [go-sumtype](https://github.com/BurntSushi/go-sumtype). It fails on a single `main.go` file:

[code]

Then:

[code]

[2020-04-21 05:42] #38521 closed

[2020-04-21 06:12] BertHooyman commented on #38329
@jayconrod  I'm not sure whether my company has 'special' rules or these rules come with Symantec Endpoint Protection. It's an edge condition for sure. Either way, having the scenario mentioned here might be sufficient for others experiencing the exact same error message "Access is denied" on a mkdir. It took me quite a while to weed through all the seemingly related mentions (not just in x/tools)

[2020-04-21 06:27] FiloSottile commented on #30158
Thanks @agl! @dorsha if that's accurate it's probably something we can look at, please open a new issue with as much detail about the requirement as possible.

[2020-04-21 06:30] FiloSottile commented on #38545
This is indeed intended behavior, although something that surprised me at some point, too. Adding elements to SEQUENCEs is how ASN.1 is extended. If you want to check there's no extra elements, you should use golang.org/x/crypto/cryptobyte instead (and we do here and there for things like signature parsing).

[2020-04-21 06:44] typeless opened #38554 "cmd/compile: binary size explodes for huge return value"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/user/.cache/go-bui

[2020-04-21 06:57] randall77 commented on #38554
[code]
There are some really big static temps used to initialize instances of type `foo`. One at the return site of `foo` (which goes away because `foo` is inlined?) and one in `main` to initialize the heap-allocated `foo` (the compiler heap allocates `x` because it is too large).

We shouldn't be copying from zeroed data to initialize anything - we should just zero it directly.

An easier fix wou

[2020-04-21 07:00] #37911 closed

[2020-04-21 07:19] rohankeskar19 opened #38555 "How are channels and goroutines in golang converted to java code when compiled using gomobile for android"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.6 windows/amd64
</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you see instead?

[2020-04-21 07:59] FiloSottile commented on #38511
The Go crypto libraries never encode or decode hex, but operate on raw bytes, as the primitives are defined. Use encoding/hex to decode your hash.

[2020-04-21 07:59] #38511 closed

[2020-04-21 08:02] FiloSottile commented on #38510
Thank you! We should fix this.

[2020-04-21 08:07] solderjs commented on #30140
bump ^^

I'm open to that there's a use case that I'm unfamiliar with or don't properly understand and I'd like to know how it would be possible for 3rd party implementations to exist (and to break).

[2020-04-21 08:10] ALTree commented on #38555
Hi,

the Go project does not use its bug tracker for general discussion or asking questions about the language. The Github bug tracker is only used for tracking bugs and proposals going through the Proposal Process.

Please see the [Questions wiki page](https://github.com/golang/go/wiki/Questions); it has a list of good places for asking questions. Thanks!

Closing here, since this is not a bug.

[2020-04-21 08:10] #38555 closed

[2020-04-21 08:12] ClarkGuan opened #38556 "no SymtabCmd data in *macho.Symtab Load after calling macho.Open()"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

No.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/didi/Library/Cach

[2020-04-21 08:14] solderjs commented on #28804
Seeing as how this issue is google's 2nd hit for "windows FreeSid golang"... I'm guessing I'm not the only one.

Thanks for the tip. Not used to having to `free()` in Go... :)

[2020-04-21 08:16] ALTree commented on #38551
Hi,

this was requested in #24230 and #24427, and rejected. As noted in #24230, you can already check if `gofmt -l` is empty. Closing here as a dup of #24230.

[2020-04-21 08:16] #38551 closed

[2020-04-21 08:26] myitcv opened #38557 "x/tools/gopls: "no dep handle: no metadata" using -remote"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +801cd7c84d Thu Apr 2 09:00:44 2020 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20200408132156-9ee5ef7a2c0d => github.com/myitcvforks/tools v0.0.0-20200420133701-6e8c44031a50
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.0.0-20200408132156-9ee5ef7a2c0d => gi

[2020-04-21 08:32] CodingPapi opened #38558 "x/tools/gopls: invalid build configuration with symlinked GOPATH"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.1 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

yes

golang.org/x/tools/gopls@v0.4.0 h1:G4+YP9kaV4dJb79J5MobyApxX493Qa6VoiTceUmxqik=

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$

[2020-04-21 08:57] Merovius opened #38559 "Proposal: Add context.NewKey"
I would like to propose adding a new function to the context package. It would have an implementation similar to `errors.New`, so roughly

[code]

Rationale:

The current recommended best-practice for context-Keys is to create a new, unexported type and use a value of that type as a key. This requires boiler-plate, in particular if you want the key to format nicely. With this, creating a key would

[2020-04-21 09:11] myitcv commented on #38557
This was my error. Closing.

[2020-04-21 09:11] #38557 closed

[2020-04-21 09:12] Merovius commented on #30140
One example that would break if you just added a method to `PublicKey` is `x/crypto/ed25519` [if used with an old Go version](https://github.com/golang/crypto/blob/3c4aac89819a5fdc28d906456729d3423fd46969/ed25519/ed25519.go#L53) (in newer versions, `ed25519.PublicKey` is an alias). I don't think this specifically is a reason not to do it, but it may serve as an example of how these interfaces may

[2020-04-21 10:10] lamjay007 opened #38560 "go.dev:"
### What is the URL of the page with the issue?

### What is your user agent?

### Screenshot

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-04-21 10:23] ALTree commented on #38560
Empty issue, closing.

[2020-04-21 10:23] #38560 closed

[2020-04-21 10:55] navytux commented on #38325
Another example where CGo things were also running much faster with tracing enabled: https://github.com/golang/go/issues/21827#issuecomment-403467932 .

[2020-04-21 10:56] matthewmueller commented on #33468
Hey folks, hopefully this is relevant feedback, I've been following the linked issue and discussions trying to find an answer to:

- What's the fastest way to recompile a Go a program during development?

Up until today, I thought that `go run main.go` was meant for development and `go build` was meant for production. I didn't realize that go run was meant for sporadic usage.

Could someone point

[2020-04-21 11:29] typeless commented on #38554
It seems that disabling [this section](https://github.com/golang/go/blob/master/src/cmd/compile/internal/gc/walk.go#L1494-L1503) of code can avoid the problem.

[2020-04-21 11:42] #38540 closed

[2020-04-21 12:11] diamondo25 commented on #38539
I've got myself the cables to download the packages etc. Now installing the sqlite package, so see you next year lol.

(this really takes time, as its compiling on a single core)

[2020-04-21 12:19] myitcv opened #38564 "x/tools/gopls: pointer to struct value field/method candidates not offered in type switch"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +801cd7c84d Thu Apr 2 09:00:44 2020 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20200408132156-9ee5ef7a2c0d
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.0.0-20200408132156-9ee5ef7a2c0d
</pre>

### Does this issue reproduce with the latest release?

Yes

###

[2020-04-21 12:36] diamondo25 commented on #38539
When I built directly on the pi, it works.
[buildlog_v2.0.3.txt](https://github.com/golang/go/files/4509955/buildlog_v2.0.3.txt)

[code]

[2020-04-21 12:45] diamondo25 commented on #38539
The xgo docker image runs the following version of gcc:
[code]

[2020-04-21 13:05] dr2chase opened #38565 "cmd/compile: "Infinite" loop observed compiling capnproto2 with dev tip"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +066c47ca5f Tue Apr 21 00:38:53 2020 +0000 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
I could not reproduce this on my first try, perhaps I was the victim of a cosmic ray, but I wanted to record this and keep an eye open.

### What operating system and processor architecture ar

[2020-04-21 13:21] peterbourgon commented on #37351
@toothrot

`Doc` doesn't make semantic sense outside of the context of a specific module, so it's hierarchical.

GitHub, for example, reserves the first layer of the path after the repo identifier for its tokens. If you want to access the subdir e.g. `/xyz` it's necessarily underneath a `/blob/master/xyz` or `/branch/abc/xyz` etc. subtree. Perhaps other code hosting sites with [clean URLs](https:/

[2020-04-21 13:32] toothrot commented on #37351
@peterbourgon GitHub can do that because they control the structure of repos: it's always github.com/{{user}}/{{repo}}. For modules, that is not the case. There is no way by looking at a path to know whether you are at the root of a module. GitHub also sacrifices the ability to link into the repo without specifying a query of `/blob/master`. Other code hosting sites make a similar sacrifice, such

[2020-04-21 13:34] jayconrod commented on #33468
Whether you use `go build` or `go run`, each compiled package will be stored in the build cache. So the only difference is whether the final binary is relinked when there are no changes.

`go build` checks whether the output binary exists and examines metadata stamped into the binary. If the binary is up to date, `go build` skips linking.

`go run` writes the binary to a temporary file, then delet

[2020-04-21 14:09] peterbourgon commented on #37351
@toothrot

By the path alone, no, but pkg.go.dev has enough additional information to know if a path represents the root of a module.

To be clear, what I'm after here are clean URLs. I'm happy with any approach that gets me there :)

[2020-04-21 14:10] dpinela commented on #38550
The current style guideline has the advantage of internal consistency: the naming convention for a parameter is the same whether or not it's the receiver. This makes sense to me, since in Go the receiver behaves no differently from other parameters.

Also for what it's worth, I've had substantial experience with both Python and C++ and I still prefer the Go style. It feels odd now to name all meth

[2020-04-21 14:12] seebs commented on #37739
This is really interesting to me. I have been overall very happy to be free of the C preprocessor, but I have some macros in C code that look like:

[code]

which provide this behavior, and you simply *can't* do this in Go, and it's occasionally a source of pain when there's logging which is (1) expensive to compute the values for, (2) only sometimes useful. (You can compile-time it with tiny mid-

[2020-04-21 14:33] bcmills opened #38567 "runtime/pprof: TestMorestack failures aix-ppc64 builder"
[2020-04-21T11:41:40-664d270/aix-ppc64](https://build.golang.org/log/bc00d11c0392458d9aa05c21383d65bbe8a9a101)
[2020-04-21T08:08:49-17fbc81/aix-ppc64](https://build.golang.org/log/79830dd8a5ce035b97298fe90e7a9a6b952c5061)
[2020-04-20T22:42:49-2edd351/aix-ppc64](https://build.golang.org/log/2623e00e228d8dcd348af40c48468395266662d0)

This failure mode started very recently, so it could perhaps be du

[2020-04-21 14:35] bcmills commented on #34658
[2020-04-21T00:38:14-12665b9/linux-amd64-longtest](https://build.golang.org/log/1b557afd399a55bab328eb39b8c535e9f8d92544)
[2020-04-17T13:30:49-8ce21fa/linux-386-longtest](https://build.golang.org/log/619e597915d742dbbce0cd438434caae9723ec41)
[2020-03-25T19:14:38-fcb8f83/linux-amd64-longtest](https://build.golang.org/log/7c573da36af9b1948f1d02e0563a6c7edf65de86)
[2020-02-27T23:06:33-3061d89/freebsd

[2020-04-21 14:39] bcmills commented on #38440
[2020-04-21T05:56:02-4974ac6/windows-amd64-longtest](https://build.golang.org/log/28aba7c1f9eeab380e4876932676bdf835a2e6ca)
[2020-04-20T16:36:22-e851873/windows-amd64-longtest](https://build.golang.org/log/a28105a11676c86317d144a413ce32c1ebfe2b9e)

[2020-04-21 14:41] hodgesds commented on #31908
I've also been working on a pure [go library](https://github.com/hodgesds/iouring-go) that initial tests passing for reading from files. I wanted to have somewhat working code before looking at where to integrate it into the runtime. However, I've run into a few things that are rather difficult with Go's memory model regarding memory barriers and dealing with multiple writers to the submit ring, w

[2020-04-21 14:49] muirdm commented on #38564
This is due to `node.` being parsed as an *ast.BadStmt. It is related to the following `case` keyword looking like the selector. Perhaps we can add another AST fix to handle this case.

[2020-04-21 14:54] toothrot commented on #37351
I would argue that the point of having a clean URL is that it is user predictable, not just predictable because we have a database of modules to query, or possibly fetch at runtime. The value is lost, to me, if a user has to think about it. Our current query parameter may not be aesthetically pleasing to everyone, but it is very predictable to omit and be redirected to.

We want the same thing (cl

[2020-04-21 15:00] #38518 closed

[2020-04-21 15:06] peterbourgon commented on #37351
@toothrot

I'll give it a shot, including your examples, and we'll see if something emerges 👍

I would argue that this "working" on pkg.go.dev is actually a bug, or at least not desirable. Go modules' SIV dictates that the un-versioned `github.com/go-kit/kit` identifier resolves to latest of the v0 or v1 major versions, but — IMO here — that's a sort of convenience, or sugar. The truth of the matt

[2020-04-21 15:09] zachgersh commented on #38502
@stamblerre - this is really awesome, I am definitely going to keeping checking in on this!

@marwan-at-work - I agree with both of your points. I don't necessarily know whether `go list` is 100% the right place for this but it _felt_ right for the time being. I also want to point out that it is my hope that surfacing these major versions (we don't even need to show their patch levels) would encou

[2020-04-21 15:12] josharian commented on #38567
Are atomic memory operations implemented using syscalls on aix/ppc64?

Almost every single sample collected has the same stack trace. It’s sitting in a semaphore syscall deep in the scheduler.

I don’t really see how the pprof CL could have caused that, but I’ll revert it to see experimentally whether it fixes it.

[code]

[2020-04-21 15:21] bcmills commented on #38329
It doesn't seem plausible for us to work around every IT department's arbitrary restrictions on filenames.

I agree with @heschik: we can review a change to work around this restriction, but we shouldn't do it proactively. I would add to that that the commit message should include a reference to some specific documentation about why (and, ideally, under what conditions) those names are disallowed.

[2020-04-21 15:28] jayconrod opened #38568 "cmd/go: 'go list -e -deps' does not load imports for uncategorized package data errors"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.14.2
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/jayconrod/Library/Caches/go-build"
GOENV="/

[2020-04-21 15:32] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` are equivalent? Or is there some sort of package-level up-to-date checks?

[2020-04-21 15:39] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` are equivalent? Or is there some sort of package-level up-to-date checks?

[2020-04-21 15:44] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` have the same performance?

Or is there some sort of up-to-date check with `go build` on the package-level?

[2020-04-21 15:45] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` have the same performance?

Or is there some sort of up-to-date check with `go build` on the package-level?

[2020-04-21 15:50] bcmills commented on #38502
A project could quite reasonably stop providing minor + patch updates _without_ deprecating the API, simply because they are not making further changes to the old API and have no important open bugs to fix. (For example, I would not be surprised if [`github.com/golang/protobuf`](https://pkg.go.dev/mod/github.com/golang/protobuf) reaches that state very soon, because ~all of the improvements will b

[2020-04-21 15:54] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` have the same performance?

Or is there some sort of up-to-date check with `go build` on the package-level?

[2020-04-21 15:57] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` have the same performance?

Or is there some sort of up-to-date check with `go build` on the package-level?

[2020-04-21 16:00] matthewmueller commented on #33468
Thanks for the overview @jayconrod! One question:

Does this mean whenever there is a change to any package within your Go project, then `go run` and `go build` have the same performance?

Or is there some sort of up-to-date check with `go build` on the package-level?

[2020-04-21 16:36] ronanwatkins opened #38569 "Go build fails with: "argument list too long""
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/rwatkins/Library/C

[2020-04-21 16:42] cuonglm commented on #38565
Trying upgrading to latest tip. Commit 066c47ca5fac1c49f754029f1e61323f74f6d93d. is reverted.

[2020-04-21 16:47] FiloSottile commented on #37351
As much as I dislike `?tab=doc`, it's only an aesthetic concern. GitHub paths where I can't just paste a filesystem path regularly cause me friction, and I strongly value the ability of typing `pkg.go.dev/IMPORT_PATH`.

(I do think `tab=` leaks a presentation concern, so I would suggest `?overview`, `?versions`, etc. with the default omitted, so we get clean URLs for docs. I think it would be a gr

[2020-04-21 16:50] peterbourgon commented on #37351
+1 — I just think it should 301 to the explicit version the path resolves to, if that would enable better clean URLs.

[2020-04-21 16:54] ALTree commented on #38569
Thanks for reporting the issue. This is a dup of #37768, so I'm closing here in favour of the older thread. Feel free to subscribe to that one.

[2020-04-21 16:54] #38569 closed

[2020-04-21 16:57] mvdan commented on #36898
Thanks for your reply. Since your reply was written for the duplicate issue, I think some points need clarifying.

In general, I agree. But note that I propose allowing to query the latest `1.13.x` too, which is something that lots of CI systems support as well. This is a very useful feature for open source projects, since one wants to support a set of major Go versions. Testing against the oldest

[2020-04-21 17:05] rsc commented on #38522
Yes, changing the default behavior is entirely reasonable except when it isn't. For example, what if I set

    GOFLAGS=-ldflags=-w

to turn off DWARF by default, but then I want to override that, with `go build -ldflags=` to get a DWARF binary?

[2020-04-21 17:12] #38568 closed

[2020-04-21 17:13] rsc commented on #38522
In general the possible can of complexity we could open here is quite large, and I am wary of anything that sounds "straightforward". For example, supposing we had the += syntax, using it in GOFLAGS would not be enough, because GOFLAGS applies _before_ the command line. The Makefile command line would still need to be changed too. At that point why not make the Makefile accept from a given environ

[2020-04-21 17:14] thanm commented on #38522
@rsc in your example if ldflags were indeed "additive", you could enabled a DWARF binary by just adding in -ldflags=-w=0, I think.

[2020-04-21 17:16] thanm commented on #38522
It is pretty common with other compilers/linkers to have the concept of "rightmost setting wins", e.g. if you say "-w -w=0 -w=1 -w=0" you get -w=0.

[2020-04-21 17:16] rsc commented on #38458
The indented === lines look wrong. They have no verb and they are indented.
Also, how is it even possible to be running multiple tests without a === PAUSE line?

[2020-04-21 17:18] jayconrod commented on #33468
Yes, it should be nearly identical. If they're building the same packages in the same configuration, they should have the same hits and misses in the build cache.

Each package and binary is stamped with a build id, which is used to check whether it's up-to-date. That's used by all build commands, not just `go build`. [buildid.go](https://go.googlesource.com/go/+/refs/heads/master/src/cmd/go/inter

[2020-04-21 17:25] rsc commented on #38458
OK, I looked at the CL test. Starting a subtest inside a kicked-off goroutine is non-standard to say the least. The important part is that the output should not require _any_ changes to test2json. Test2json expects === lines to be unindented and contain a verb. The obvious verb here is "CONT" for continue, so that no new verb is needed either.

Instead of introducing the output redirect in package

[2020-04-21 17:46] andybons commented on #38556
I’m confused. Are you saying this doesn‘t reproduce on tip? 1.14.2 is the latest release.

[2020-04-21 17:49] andybons commented on #38552
Can you provide a minimal code example that shows this error?

Thanks

[2020-04-21 17:52] andybons commented on #38548
@katiehockman @FiloSottile

[2020-04-21 18:02] FiloSottile commented on #38548
This was intentional because we don't want to commit to the specific algorithm, and we want to reserve the flexibility to change it from one release to the next, without applications coming to rely on it.

Is there a widespread interoperable specification (with, like, test vectors) that goes from a stream of random bytes to RSA keys? If so, we could consider implementing it, otherwise we don't wan

[2020-04-21 18:04] arnottcr commented on #37836
Requesting inclusion in #33502.

[2020-04-21 18:04] arnottcr commented on #38298
Requesting inclusion in #33502.

[2020-04-21 18:23] arnottcr commented on #38342
I am happy to do the review as part of a CL, but thought that an early pass here may be easier, since it is currently a single insertion.

To pin down requirements, I would like to confirm what behaviours we need to support. My assumption was that we needed to allow for the application of any casing strategy, (alllowercase, CamelCase, ALLUPPERCASE, etc.), since some case insensitive file systems m

[2020-04-21 18:24] stamblerre commented on #38558
It looks like you are working outside of your GOPATH and outside of a module? Is this intentional, or do you have a `go.mod` file in this workspace?

[2020-04-21 18:48] carnott-snap opened #38571 "cmd/go: 'go mod vendor' does not fail on case-insensitive import collision"
### What version of Go are you using (`go version`)?
<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>
### Does this issue reproduce with the latest release?
Yes
### What did you do?
During the investigation of #38342, I discovered the following ux quirk:

On a case insensitive filesystem: (I am using `vfat`)
[code]
[code]
### What did you expect to see?
[code]

### What did you see instea

[2020-04-21 18:57] #36951 closed

[2020-04-21 19:05] rsc commented on #38190
I would personally expect Equal to be semantic rather than picky about the exact representation. But if you can make an argument for being picky, that's OK with me too.

[2020-04-21 19:07] josharian commented on #38567
I wonder whether we have somehow ended up with the profiling signals synchronizing with something else in the runtime, so that instead of getting a good random sample we are instead always sampling the scheduler.

[2020-04-21 19:17] mknyszek commented on #37465
@klauspost The freeze is coming soon, friendly ping! :) Please give it a try if you get the chance or let me know if you can't.

[2020-04-21 19:20] josharian commented on #38567
https://golang.org/cl/228886 has been reverted. Let’s see whether that fixes the builders...

[2020-04-21 19:21] toothrot commented on #38052
This snippet (https://play.golang.org/p/jRB81AYhnq8) now fails correctly:

[code]

[2020-04-21 19:21] #38052 closed

[2020-04-21 19:24] ronanwatkins commented on #37768
I'm facing this issue also. This output is from a project I'm working on containing 1919 go files, details listed here: https://github.com/golang/go/issues/38569

[code]

[2020-04-21 19:28] #38488 closed

[2020-04-21 19:35] bcmills commented on #38342
Instead of probing each sequence of runes, I think we should use `ioutil.ReadDir` and look for a case-equivalent path element. That narrows the search space from 2<sup>N</sup> possible variants to just M subdirectories, where generally M ≪ 2<sup>N</sup>, and also avoids the need to consider letters that have more than two equivalent runes (such as k, K, and K).

If need be, we could cache those re

[2020-04-21 19:39] acln0 commented on #36817
I am going to work on this and send a CL soon.

[2020-04-21 19:46] bcmills commented on #38537
Hmm, looks like that wasn't enough:
[2020-04-21T15:37:29-4f27e1d/plan9-arm](https://build.golang.org/log/ee9b0b459676799d48179ea84f6cd88bfa48fb2e)

Any idea what the actual value of `runtime.GOMAXPROCS(0)` ends up being on that builder? (If it's an RPi 3, I would expect GOMAXPROCS=4?)

It might be interesting to try disabling swap entirely on the builder — an explicit failure seems much more usefu

[2020-04-21 19:47] bcmills commented on #38502
A project could quite reasonably stop providing minor + patch updates _without_ deprecating the API, simply because they are not making further changes to the old API and have no important open bugs to fix. (For example, I would not be surprised if [`github.com/golang/protobuf`](https://pkg.go.dev/mod/github.com/golang/protobuf) reaches that state very soon, because ~all of the improvements will b

[2020-04-21 19:49] bcmills commented on #38502
Maybe? But we don't want to induce “upgrade fatigue” when it isn't needed. (“You _could_ upgrade” is very different from “you _should_ upgrade”: using an older version of that API is fine if that API is maintained, but dangerous if that API is no longer receiving security fixes.)

[2020-04-21 19:50] pjweinb commented on #36824
This seems to be partly fixed. the second example now works correctly.

[2020-04-21 19:53] zachgersh commented on #38502
I very much agree with this. I think having a flag in `go list` (that is not on by default) should make it that users are dealing with minor versions _most_ of the time but they can run it with some other flag that then will tell them about packages that have majors available?

The proposal doesn't go into how this flag operates, I want to come to agreement on the core idea of surfacing this infor

[2020-04-21 19:56] millerresearch commented on #38537
I'm pretty sure GOMAXPROCS will be 4, but I'll check.  Without swap enabled, processes will eventually start getting killed from lack of physical memory, but it may not be reflected in the log.  There are other tests which can cause swapping, too.

[2020-04-21 19:59] randall77 commented on #37768
Could you list more of your compile command line? What, exactly, is underneath that `***1919 go file names from the directory "./platformclientv2"***`? Show me the whole command line, excluding a chunk in the middle that's repetitive. Include the first several and last several file names. (Or post the whole thing somewhere and share a link.)

I ask because I'm wondering whether file names are rela

[2020-04-21 20:05] millerresearch commented on #38537
Yes, GOMAXPROCS is 4 on the plan9_arm builders.

[2020-04-21 20:18] ronanwatkins commented on #37768
Sure, I see where you're coming from.
This is the whole output, file names included.

[code]

[2020-04-21 20:36] norbertvannobelen commented on #38548
To give more background by the request:

**use case**:

- Do not have a (rsa) key store which has to be secured by backups, is forever growing, and is harder to protect against hackers. Instead have a key (re-)generation algorithm which provides a secure deterministic key generation with a deterministic salt (for example: signup date+ email +secure salt), thus having to secure only 1 value (the se

[2020-04-21 20:38] carnott-snap commented on #38342
I would like to clarify what we intent to support:
- We currently support `vendor` directories that were generated on the same case filesystem. This happy path should be kept as fast as it is today.
- Clearly we intend support case insensitive -> sensitive mappings. This includes collisions where the correct casing is listed in `vendor/modules.txt` and ones where the filesystem chooses an arbitrar

[2020-04-21 20:39] BertHooyman commented on #38329
@bcmills thats perfectly understandable. I would suggest to make the root cause discoverable by those who suffer from it. So that users understand that when a _mkdir_ leads to an _Access Denied_ (on Windows), they understand it's not Go Tools' fault, but their endpoint protection.

[2020-04-21 20:43] randall77 commented on #37768
So that compiler command line is only 62529 bytes. That's ~4x smaller than the published OSX command line limit. I'm not sure what limit it is bumping up against, then. Maybe the go tool needs to set some shell parameter (ulimit? not sure)?

When I paste that command line into my shell, I get:
[code]
Which means at least the compiler is starting up fine with that long a command line.

[2020-04-21 20:50] #27557 closed

[2020-04-21 20:52] andybons commented on #38454
@aclements @ianlancetaylor any idea what could be happening, here?

[2020-04-21 20:55] bcmills commented on #38342
Do version control systems report changes due to directory collapse? It would be interesting to see what happens if you run `go mod vendor` on a case-sensitive filesystem, then check out the repo on a case-insensitive one, add a case-colliding dependency, re-run `go mod vendor`, and then merge the resulting change.

I suspect that that can result in a mixed-case `vendor` directory, which we should

[2020-04-21 20:56] FiloSottile commented on #38548
Unfortunately the use case you describe is exactly what we don't want to support. If tomorrow we need to change the GenerateKey implementation, we don't want to cause your database of keys becoming invalid.

For that use case, you should copy the GenerateKey source, so your copy will always be the same (and of course drop the MaybeReadByte).

Most randomness failures are not of the kind that cause

[2020-04-21 20:56] #38548 closed

[2020-04-21 20:58] JohnStarich commented on #32604
Hey @FiloSottile, happy to help here too. We're seeing CGO-disabled CLI binaries are failing with cert verify errors, which I think could be fixed by this change.

[2020-04-21 21:01] FiloSottile commented on #32604
Could you test the CL on those machines?

[code]

You can also use `gotip` to build the binaries and see if it fixes it.

[2020-04-21 21:03] shreyaskarnik opened #38573 "x/tools/gopls: add configuration to disable links on hover"
I am using gopls with VSCode and have the following setup in settings:
[code]

but still I see links to the documents
![image](https://user-images.githubusercontent.com/311217/79913642-cf298200-83d8-11ea-9593-fd1e2c06f7fd.png)

### What version of Go are you using (`go version`)?

<pre>
$ go version go1.14.2 darwin/amd64

</pre>

gopls version information
[code]

### Does this issue reproduce with

[2020-04-21 21:05] MariusVanDerWijden commented on #13445
Anyone currently working on this? If not, could you give some pointers where to start with this?

[2020-04-21 21:08] ianlancetaylor commented on #36890
No change in consensus.

[2020-04-21 21:08] #36890 closed

[2020-04-21 21:09] ianlancetaylor commented on #36994
No change in consensus.

[2020-04-21 21:09] #36994 closed

[2020-04-21 21:20] ianlancetaylor commented on #37303
This restriction makes this seem very similar to #6386.  Perhaps we should close this one as a dup.  The main difference seems to be that this clearly permits addressability, whereas #6386 is less clear on that.

The main goal of this issue seems to be moving initializers into read-only memory.  That in itself does not require a language change.  In principle, the toolchain could observe that noth

[2020-04-21 21:32] ianlancetaylor commented on #38081
Per the discussion above, we just can't convince ourselves that there is any intuitive meaning for an omitted second operand in a three-element slice expression.  It seems reasonable that it means "the length is unchanged," and it seems reasonable that it means "set the length to the (specified) capacity."

Let's see if generic functions like `slices.SetCap` or `slices.DeCap` can address this issu

[2020-04-21 21:36] stamblerre commented on #38573
`documentLink` refers to the feature that makes links that appear in strings or comments clickable. There is no setting to control the links to the documentation that appear on hover (other than `"gopls": { "hoverKind": "NoDocumentation"` }, which would remove all documentation as well as the links).

[2020-04-21 21:36] ianlancetaylor commented on #38151
Based on the discussion above, this does not seem to be a clear win.  And the emoji voting is not strongly in favor.  Therefore, this is a **likely decline**.  Leaving open for four weeks for final comments.

[2020-04-21 21:41] JohnStarich commented on #32604
Thank you for the quick reply! I'll need to poke the affected users and have them run it. (My machine doesn't have a problem with CGO/no-CGO.)

[2020-04-21 21:43] ianlancetaylor commented on #38388
The proposal described in the template (https://github.com/golang/go/issues/38388#issuecomment-614073531) seems significantly different from the proposal described in the original post on this issue.  For example, there are no scope viewers in the template discussion.  What is the actual proposal here?  Thanks.

The idea of annotating the variables that should be newly declared in a `:=` statement

[2020-04-21 21:44] ianlancetaylor commented on #38484
Thanks for the proposal.  This does seem to be the same as #1675, which was declined.  Closing as a dup.

[2020-04-21 21:44] #38484 closed

[2020-04-21 21:47] JohnStarich commented on #32604
Here's their results:
[code]

<details>
<summary>
And my machine's results, for comparison:
</summary>

[code]
</details>

[2020-04-21 21:56] ianlancetaylor commented on #7485
Implementing this in the language could be done, but we would have to pay attention to any use of a `return` with no values.  This would make the language rules more complicated for a very minor gain.  Therefore, this is a **likely decline**.  Leaving open for four weeks for final comments.

[2020-04-21 22:01] jadekler commented on #38458
t.Parallel was blocking for some reason, so after some investigation I threw my hands up and went with the easy out to get at what I wanted. And, it was a prototype CL, so wasn't too concerned. But good to know that's unexpected for future tests!

SG, thanks for the direction! That helps me orient.

SG, thanks for the output. I'll work on updating the CL. 👍

[2020-04-21 22:03] kaniini commented on #38454
my guess, although i am not familiar with go internals, is that $r31 is bogus.

[2020-04-21 22:15] randall77 commented on #37768
I don't see anything wrong with Go per se. Here are 2 programs, one Go and one C.
[code]
[code]
Both run fine. But increase `N` by one, and both fail.

It is string length dependent. Replacing `"hello"` with `"hellohello"` and the magic number is now 13795. Note that's not anywhere near half of 18722.

All of these limits are lower than a 256K command line limit would indicate. Is there some per-a

[2020-04-21 22:15] smasher164 commented on #38482
I am working on a CL for this. Will send it shortly.

[2020-04-21 22:16] dmitshur commented on #37351
@peterbourgon Issue #38429 may be related.

[2020-04-21 22:19] dmitshur commented on #38381
Is this issue different from #37520?

[2020-04-21 22:37] kortschak commented on #38381
No. This is a duplicate. Thanks.

[2020-04-21 22:37] #38381 closed

[2020-04-21 22:39] mihaiav opened #38574 "runtime: wasm runtime crashes under certain/undefined conditions"
### What version of Go are you using (`go version`)?

<pre>
$ go version

go version devel +04040ec9f9 Sun Apr 19 21:15:08 2020 +0000 darwin/amd64

</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"

[2020-04-21 22:39] dmitshur opened #38575 "x/pkgsite: anchor links to package-scoped constants and variables appear off-screen"
Consider the following link to a package-scoped variable (but this applies to constants too):

https://pkg.go.dev/io#ErrShortWrite

I expect to be able to use it to see and point other people to the `io.ErrShortWrite` variable and its documentation. It largely works, but the `ErrShortWrite` variable shows up slightly off-screen, covered up by the sticky header:

![image](https://user-images.github

[2020-04-21 22:43] shreyu86 commented on #38573
@stamblerre thanks for the response! This release of gopls has been very stable and feature packed 🙌 ! Thanks again to everyone who made this possible!

[2020-04-21 22:43] carnott-snap commented on #38342
I was working off the understanding that Git fails on collisions. This is not true. For directories, it happily collides them without notifying the user what happened. For file collisions, the action succeeds, but prints a warning:
[code]
Thankfully the toolchain prevents file collisions from being too much of an issue on case sensitive file systems:
[code]
Unfortunately, the lack of any warning f

[2020-04-21 22:51] JohnStarich commented on #12524
Hi all, I've created a library that fixes this for our CLI users: https://github.com/JohnStarich/go/tree/master/dns
It's not a great solution, but it does work for now.

Is there anything I can do to help? I see the revert mentioned above as a possible starting point, were there any other required changes to move forward?

[2020-04-21 22:56] Demitroi commented on #9775
@fantasist

Here's an unmarshal wrapper that allows namespace prefix

https://play.golang.org/p/bNe8Nl64U2b

[2020-04-21 23:21] randall77 commented on #37768
Looks like the compiler already has support for a file of input file names.
https://go-review.googlesource.com/c/go/+/110395
I think we just need to teach `go build` to use that.

[2020-04-21 23:24] #33313 closed

[2020-04-21 23:33] ianlancetaylor commented on #38454
I don't know what is wrong.  It looks like the runtime poller has broken.  There are a bunch of goroutines waiting for the poller to tell them it is OK to read from a pipe.  The go tool is waiting for those pipe reads to complete.  Nothing seems to be running the poller.

I don't understand what any of that would have to do with Alpine.  We do have a mips64 builder and it does seem to be working.

[2020-04-21 23:37] randall77 commented on #37768
I see the same bug(?) on OSX 10.12.6. That makes me thing this doesn't warrant a backport - it has been broken forever, both old Go versions and old OSX versions.
Please let me know if you see anything different. The two test programs above should help verify.

[2020-04-21 23:40] ianlancetaylor commented on #38574
CC @neelance

[2020-04-21 23:48] toothrot commented on #38052
Thanks again for the helpful issue report!

[2020-04-21 23:48] toothrot commented on #38546
Related to #38052

[2020-04-21 23:52] toothrot opened #38576 "x/playground: return non-200 for timeout errors"
Timeout errors currently must return a 200 error to be rendered correctly by the Playground javascript. The javascript needs to be updated to also parse 4xx errors correctly, then the playground should be updated to return responses with a correct code. Currently, unsuccessful requests of any kind are treated the same as a 5xx.

This may have implications for the Tour or other places where the pla

[2020-04-22 00:01] #36420 closed

[2020-04-22 00:29] stamblerre commented on #38573
Glad to hear that it's working for you, @shreyu86! Thank you for the kind words!

I'll leave this issue open to see if we can add another configuration to remove the links on hover.

[2020-04-22 01:12] CodingPapi commented on #38558
I am working under GOPATH="/repo/mattl/gitRepos/vonu-mgmt" folder.

but the top folder /repo is actual a soft link point to /home/repo

[2020-04-22 01:19] CodingPapi commented on #38558
so this is an issue related to soft link directory?
I saw this in logs indicate my working directory is under /home instead of /repo
directory=/home/repo/mattl/gitRepos/vonu-mgmt

how to solve an issue like this? I have to use soft links due to some other limits

[2020-04-22 01:21] kaniini commented on #38454
This is on a Cavium Octeon3 machine with 16 cores running at 1.8ghz.  We are using Cavium-supplied 4.9 kernel for this board as the NIC driver is not upstreamed yet.

[2020-04-22 01:32] #38211 closed

[2020-04-22 01:37] dfinkel commented on #23458
Hmm, it seems that I forgot to subscribe to this issue before sending out the CL under discussion.

Now I know why my CL (https://golang.org/cl/189318) suddenly woke up last week. :)

Anyway, `go tool pprof` has supported tags and labels for a while, and uses them when rendering CPU profiles, so that CL only needs to set the appropriate fields in the protobuf when rendering.

The assessment of the

[2020-04-22 01:51] #38207 closed

[2020-04-22 01:53] ClarkGuan commented on #38556
Sorry, wrong input...  I mean I can reproduce with the latest release.

[2020-04-22 02:23] stamblerre opened #38577 "x/tools/gopls: signature help and completion should respect the user's hoverKind setting"
Currently, we always send synopsis documentation, but it would be preferable to respect the user's hover setting. Even better, we should follow the same code path to generate the documentation.

[2020-04-22 02:23] #37984 closed

[2020-04-22 02:32] stamblerre commented on #38558
Thanks for clarifying. I would guess that this is due to the link, but it's a bug that we should fix on our end. Thanks for the report! We'll aim to get a fix in for `gopls/v0.5.0`.

[2020-04-22 03:20] kortschak opened #38578 "x/tools/present: initial comment line now interpretted as a title"
The present tool now supports Markdown syntax but also supports the previous present markup syntax. The switch to enable Markdown syntax use is that the first line (the talk title) be preceded with a `# `. Unfortunately, this coincides with the use of `# ` as a comment mark in the old syntax. In some cases, slides may contain copyright notices (I use present for lecture presentations and have done

[2020-04-22 03:30] lootch commented on #38578
Hash-Bang rather than a pure Hash? I missed whatever discussion may
have occurred, so please ignore if that's already been rejected.

Lucio.

On 4/22/20, Dan Kortschak <notifications@github.com> wrote:

--
Lucio De Re
2 Piet Retief St
Kestell (Eastern Free State)
9860 South Africa

Ph.: +27 71 471 3694
Cell: +27 83 251 5824

[2020-04-22 03:34] kortschak commented on #38578
Yeah, pretty much anything that's not `/# /` works. In the file I'm writing at the moment, I just did `s/^# /#_/`.

[2020-04-22 03:39] stamblerre commented on #37824
I believe that the above CL should have fixed this issue, so I'm going to close it. Please reopen if that is not the case.

[2020-04-22 03:39] #37824 closed

[2020-04-22 04:09] #36654 closed

[2020-04-22 04:11] wozz opened #38579 "internal package imports across modules fails after major version upgrade"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

https://play.golang.org/p/tnQdiMMclCx

### Wh

[2020-04-22 04:15] zhuyashan opened #38580 "x/mobile: map"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-04-22 04:15] #38580 closed

[2020-04-22 04:21] ianlancetaylor commented on #38522
I agree with the rightmost setting wins rule, which is what the linker implements anyhow.

That is how `#cgo LDFLAGS:` works today with respect to `-extldflags`.  When invoking the external linker we pass the aggregated `#cgo LDFLAGS` values, then the `-extldflags` values.

[2020-04-22 04:27] ianlancetaylor commented on #32772
Thanks for the analysis.  I'm OK with the change if it doesn't introduce any holes in the type system, which it sounds like it doesn't.

[2020-04-22 04:28] mdempsky opened #38581 "cmd/compile: go/defer call of external or //go:uintptrescapes function does not protect unsafe.Pointer arguments"
This test program currently prints "ok FAIL FAIL ok ok": https://play.golang.org/p/KEf2cpdL_mA

@ianlancetaylor and I think unsafe.Pointer's safety rule 4 requires it to print "ok ok ok ok ok". Probably by rewriting the 2nd and 3rd call forms into the 4th and 5th, respectively.

We already have a similar rewrite for handling "go builtin(...)" and "defer builtin(...)", but that doesn't happen until

[2020-04-22 04:36] ianlancetaylor commented on #38538
Sorry for the slow reply.  The missing definitions are supposed to come from the mksysinfo.sh script.  Make sure that sysinfo.c #include's any required header files, and that mksysinfo.sh exposes any constants or types that the Go code requires.

[2020-04-22 05:02] ccbrown commented on #38559
Is formatting context keys common? I've definitely never felt compelled to print a context key.

I think I'm on board with a `context.NewKey` function since having first class support for creating keys might make it harder for people skimming the documentation to do the wrong thing (implement collision-prone or memory-allocating keys), but I would probably prefer it to just be `context.NewKey()`.

[2020-04-22 05:11] renld commented on #27333
when i use go1.14, it appears too..

### What version of Go are you using (`go version`)?

<pre>
$ go version
1.14
</pre>

### Does this issue reproduce with the latest release?
not try...

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOARCH="amd64"
</pre>

[2020-04-22 05:14] CodingPapi commented on #38558
@stamblerre ok, thank you for your quick support

[2020-04-22 05:22] odeke-em commented on #38437
Kindly /ccing @vdobler, in addition to what @seankhliao recommends.

[2020-04-22 05:34] bmkessler commented on #38476
The complication with the general case of proving that

[code]

Is that by the time prove runs, the modulus for constant `m` will have been strength reduced in general to a form that doesn't involve the modulus operator anymore.

[code]

However, for the specific case above where `m` is a power of 2 (`x%64` above), then the modulus will be rewritten as `x&(64-1)` by the compiler.  So the relation

[2020-04-22 05:59] mdempsky commented on #38581
@cuonglm Points out this is a duplicate of #24491.

[2020-04-22 05:59] #38581 closed

[2020-04-22 06:01] mdempsky commented on #24491
https://play.golang.org/p/KEf2cpdL_mA demonstrates the go/defer issue. (From #38581, which I closed as duplicate of this.)

[2020-04-22 06:21] zbelial opened #38582 "x/tools/gopls: whether or not the files are under git affects gopls's behaviour?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN="/mnt/Personal/Bin/go-tools"
GOCACHE="/

[2020-04-22 06:33] hajimehoshi commented on #38093
@cherrymui Hi, what's going on this? Thanks.

[2020-04-22 06:41] vors commented on #37885
Hey, I also hit that 2 times in the past week on macOS 10.15.4 and go 1.14.2

I compile this hello-world program
[code]

with `go build`

And then `./main` hangs.
Killing `syspolicyd` fixes it.

[2020-04-22 06:43] Helflym commented on #38567
If you're speaking of sysMap and similar functions, yes there are using syscalls. However, these syscalls are using asmcgocall directly without a lock, so I don't think there is any semaphores involved in.

[2020-04-22 06:44] magical commented on #38450
Are side effects from indirectly-imported packages covered by the Go 1 compatibility promise? The following code technically works today...

https://play.golang.org/p/lw5P2Vb5NXH
[code]

[2020-04-22 07:48] hellt commented on #12524
@JohnStarich do you also see issues with DNS resolver on Mac OS? In my case without CGO enabled the build on Linux for Darwin results in a broken DNS resolution on Darwin.
I resorted to use MacOS machine to build the mac binaries, but I would rather want to have the DNS story fixed for macs

[2020-04-22 07:57] slinkydeveloper opened #38583 "proposal: net/http: NewRequest should take url.URL as target"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/slinkydeveloper/.cach

[2020-04-22 08:17] vdobler commented on #38437
The issue title is misleading, the problem is not in net/http.Request.AddCookie not adding the cookie to the request. AddCookie works properly.

The problem stems from **mixing** manual (via Request.Header) and automatic (via Request.AddCookie) cookie management.

Unfortunately there is not much which can be done here. AddCookie can be used to properly add an arbitrary number of cookies but nothin

[2020-04-22 08:19] kstenerud opened #38584 "net/http: transport hang"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.9 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

I can't reproduce it

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/ka

[2020-04-22 08:27] georgysavva commented on #38185
Hi. Any update on this?

[2020-04-22 08:29] vdobler commented on #38437
@mariusgrigaitis

net/http tries to be strict what it sends but halfway liberal on what it accepts as input. RFC 6265 forbids sending multiple Cookie headers but doesn't disallow parsing several Cookie headers.

[2020-04-22 08:31] zxxshaycormac opened #38585 "runtime code question"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 windows/amd64
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=on
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\xie

[2020-04-22 08:45] Fenthick opened #38586 "go.dev: add information on Go version of standard library symbols"
### What is the URL of the page with the issue?
 Any standard library package page, e.g. [https://pkg.go.dev/net/http?tab=doc#Request.Clone](https://pkg.go.dev/net/http?tab=doc#Request.Clone)

### What is your user agent?
Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:75.0) Gecko/20100101 Firefox/75.0

### Screenshot
![image](https://user-images.githubusercontent.com/15718596/79960242-77952000-8

[2020-04-22 08:47] klauspost commented on #37465
Sorry @mknyszek . Didn't have a build system set up, so that got me sidetracked.

Unfortunately it doesn't seem to make any measurable difference for me and the original regression still stands.

[code]

[2020-04-22 09:18] GuoxinL opened #38587 "Which version supports the creation of objects through strings？"
Which version supports the creation of objects through strings？
### What version of Go are you using (`go version`)?

go version go1.13.3 darwin/amd64

### Does this issue reproduce with the latest release?

Not sure

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you expect to see?

Create a struct from a string

[2020-04-22 09:24] Fenthick commented on #38586
The same situation with fields of types, e.g. https://pkg.go.dev/net/http?tab=doc#Transport.ForceAttemptHTTP2 has no `Go 1.13` label.

[2020-04-22 09:43] agnivade commented on #38587
Hello @GuoxinL, unlike other projects, we do not use the issue tracker for questions such as these. It is only used for bugs and feature proposals. I will close this issue, but please feel free to ask it in any of these forums below:

* [Stack Overflow](https://stackoverflow.com/questions/tagged/go) with questions tagged "go"

* [The Go Forum](https://forum.golangbridge.org/), a web-based forum

*

[2020-04-22 09:43] #38587 closed

[2020-04-22 09:48] alexbrainman commented on #38225
I understand what we are trying to achieve. @heschik already explained it to me.

GetFileInformationByHandle requires file handle, so you will need to use CreateFile first, then GetFileInformationByHandle, then CloseHandle, then you will call existing CreateFile. That is 4 calls, instead of 1 for every single opened file.

And what about the race between GetFileInformationByHandle and second Creat

[2020-04-22 10:25] zylthinking opened #38588 "cmd/compile: huge waste stack when make function calls"
```when make function calls, SP decrease at least 0x60 bytes even there is no use of stack at all. The stack waste forces newstack being called more frequently ```

[2020-04-22 10:32] myitcv opened #38589 "x/tools/gopls: typeDefinition should support jumping to type of function/method's single return value?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +801cd7c84d Thu Apr 2 09:00:44 2020 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20200408132156-9ee5ef7a2c0d
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.0.0-20200408132156-9ee5ef7a2c0d
</pre>

### Does this issue reproduce with the latest release?

### What

[2020-04-22 10:53] ronanwatkins commented on #37768
The C program also works fine with `N = 18722`.
It fails with a segmentation fault on line 11 when `N` is doubled and `i` reaches 19071.

The Go program works fine with `N = 18722`.
I doubled `N` and the program failed when `i` reached 37444 with the error: `panic: argument list too long`

I built Go using the change added by the commit mentioned by gopherbot above and I get the same behaviour.
Ho

[2020-04-22 10:53] millerresearch commented on #38537
I've increased GO_TEST_TIMEOUT_SCALE to 6, and haven't seen any timeouts since.

I'll mark this closed, and see if I can tweak the plan9_arm builders for more performance.  The whole test suite is currently taking about 90 minutes.

[2020-04-22 10:53] #38537 closed

[2020-04-22 11:15] dariagrudzien opened #38590 "x/tools/gopls: VS Code extension showing warning in Terratest"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
</pre></details>

### What Go VS Code extension a

[2020-04-22 12:52] myitcv opened #38591 "x/tools/gopls: signature help does not properly qualify types"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +801cd7c84d Thu Apr 2 09:00:44 2020 +0000 linux/amd64
$ go list -m golang.org/x/tools
golang.org/x/tools v0.0.0-20200408132156-9ee5ef7a2c0d
$ go list -m golang.org/x/tools/gopls
golang.org/x/tools/gopls v0.0.0-20200408132156-9ee5ef7a2c0d
</pre>

### Does this issue reproduce with the latest release?

Yes

###

[2020-04-22 13:35] wilriker opened #38592 "cmd/go: v2 module in sub-sub-directory cannot be found"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
It's the latest release.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home

[2020-04-22 13:36] mdlayher commented on #38585
The Go issue tracker is not used for questions. I would recommend posting this to a mailing list such as golang-nuts, as there are a lot of knowledgeable folks there who will likely have more context. Thanks!

[2020-04-22 13:36] #38585 closed

[2020-04-22 13:37] mknyszek commented on #37465
Hmmm... I see. Thank you for trying! This needs more investigation, then. That CL is still probably worth landing (if only to close #19112).

[2020-04-22 14:52] Merovius commented on #38559
@ccbrown `fmt` formats contexts, if you print them - they implement `Stringer`. Though while I assumed that it formats the key, [TIL, it actually just prints the type's name](https://play.golang.org/p/xgvC7J5BG0N). Either way, you'd want a way to disambiguate keys returned by `NewKey` when formatting a context. IMO a string-argument would be fine, but another possibility might be to use `NewKey` c

[2020-04-22 14:54] kardianos commented on #38185
@georgysavva I could look into updating the docs on the close. I'll also annotate the database/sql/v2 tracking issue.

I'll look into the connection opener. Thanks for the ping.

[2020-04-22 15:04] GuoxinL commented on #38587
Which version supports the creation of objects through strings？

This is indeed a feature recommendation. Will golang support this feature?

[2020-04-22 15:08] Merovius commented on #38559
Actually, I guess with the formatting as it is, the benefit here becomes negligible. Lemme just close this pre-emptively :)

[2020-04-22 15:08] #38559 closed

[2020-04-22 15:18] jayconrod commented on #38502
I think a flag like this could make sense as part of a larger vision for upgrading across major versions. But I don't think we should start taking steps on that path until we know where we're going.

The problem is there's not much a developer can usefully do with the `go` command, knowing a new major version is available. A major version is a breaking change by definition, so some refactoring is

[2020-04-22 15:22] bcmills opened #38594 "runtime: test output is very noisy"
At some point recently (within the 1.15 cycle), the `runtime` test failures have started to include a lot of mysterious `recurseFn`, `methodN` and `did recover` noise that isn't clearly associated with any test function.

Either the purpose of this output should be made clearer, or the output should be suppressed or clearly associated with a specific test.

Tentatively marking as release-blocker f

[2020-04-22 15:23] bcmills commented on #38594
An example (https://build.golang.org/log/dd547a9133c41d38ea6c4c0e5a7c5d8541c7b7b2):
[code]

I can't tell from that output what, if anything, all of those lines have to do with the failing `TestSegv` function, and if I were running that test in a terminal the actual failure message would be pushed well offscreen by all of the noise that follows it.

[2020-04-22 15:27] bcmills opened #38595 "runtime: TestSegv consistently failing on NetBSD"
The `TestSegv` function added in [CL 228900](https://golang.org/cl/228900) is failing consistently on the NetBSD 9.0 builders:

[code]

[2020-04-22T00:01:14-e5bd6e1/netbsd-386-9_0](https://build.golang.org/log/7fdd891fa8dd6a4899c04f758d9f41ea6ced27c8)
[2020-04-22T00:01:14-e5bd6e1/netbsd-amd64-9_0](https://build.golang.org/log/dd547a9133c41d38ea6c4c0e5a7c5d8541c7b7b2)

It's not clear to me whether

[2020-04-22 15:34] abemotion commented on #38351
[code]
This documentation is better?

[2020-04-22 15:45] danscales commented on #38594
That's in one of my tests, I clean that up.  Thanks for pointing that out.

[2020-04-22 15:46] bcmills commented on #37910
[2020-04-21T20:49:34-2a2423b/darwin-amd64-race](https://build.golang.org/log/bb17549a451ac5b26058e2857274af59e0c97c97)

[2020-04-22 15:47] bcmills commented on #38440
[2020-04-21T20:48:43-1811533/windows-amd64-longtest](https://build.golang.org/log/f7e80d13e00623e04fdd38a0a05efe63e98cef8b)

[2020-04-22 15:48] embeddedgo commented on #37303
The goal is also to detect invalid changes of data intended to be read-only. Using read-only memory is simple way to do that at runtime.

This proposal puts a clear demarcation between constants and read-only variables.

The constants remain unaffected. They are simple scalar values with strings as some exception. You can't take address of constant.

The read-only variables have no restrictions on

[2020-04-22 15:49] bcmills commented on #31423
[2020-04-22T14:14:34-e93d5b5/linux-mips64le-mengzhuo](https://build.golang.org/log/c9cc122421b9be176938a914d4c178228acac6fb)
[2020-04-22T11:37:03-a45ea55/linux-mips64le-mengzhuo](https://build.golang.org/log/52b2e4934458c45fb02b18c09212a5b4a69b966c)
[2020-04-18T20:01:46-f5291cf/linux-mips64le-mengzhuo](https://build.golang.org/log/14c11e38010a97e32a95d3df3162debc285a63b8)
[2020-04-08T20:57:26-a036

[2020-04-22 16:05] toothrot commented on #38530
It looks like the sandbox instances are running out of memory. I'm investigating.

[2020-04-22 16:10] seankhliao commented on #38592
as described in the wiki here: https://github.com/golang/go/wiki/Modules#publishing-a-release ,
modules rooted in subdirectories need tags prefixed by `subdir/` so your tags should be `godsfapi/vX.Y.Z`

[2020-04-22 16:10] #38446 closed

[2020-04-22 16:11] matloob commented on #35921
I'm merging this issue with #38446.

The main differences are that we still need to discuss exactly what struct we're putting in Package (module public is unexported, and whichever struct we pick should probably be defined in x/mod), and that we'd need a Need bit for the field.

[2020-04-22 16:11] JohnStarich commented on #12524
We did see issues, yes. Several users with VPNs configured had problems with multiple incorrect nameservers being attempted.

From reading the macOS `man 5 resolver` pages, it seems macOS has a “super resolver” that has a much better idea of which nameservers to query. In other words, only reading `/etc/resolv.conf` for nameservers wasn’t quite enough.

[2020-04-22 16:17] toothrot commented on #38530
Nevermind, that may be a red herring of Docker doing it's job.

[2020-04-22 16:17] randall77 commented on #38588
Please fill out the issue template. Tell us what you did, and how you came to your conclusions.
Among the things we need to take any action on this report - Go version, OS, processor architecture, and an example program.

[2020-04-22 16:19] bradfitz commented on #38530
I was getting a 502 of a GET to /. (See screenshot) That wouldn't make its way back to the gvisor world.

[2020-04-22 16:20] #38058 closed

[2020-04-22 16:20] randall77 commented on #37768
@ronanwatkins What OSX version did you test on?

The CL above would not fix my test programs. It just fixes the file passing from the `go` tool to the compiler.

[2020-04-22 16:21] toothrot commented on #38530
I understand that, but when too many requests 500, the AppEngine LB will return a 502 for all requests from a particular Flex instance.

[2020-04-22 16:34] JohnStarich commented on #32604
Follow up: the new binaries I built also work great for them. Seems like this is the fix we need! 🚀

[2020-04-22 16:45] #38216 closed

[2020-04-22 17:03] rsc commented on #33273
No change in consensus, so declined.

[2020-04-22 17:03] kheraud commented on #34733
Thanks for the issue, it leads me to this hack

[code]

[2020-04-22 17:06] rsc commented on #37974
No change in consensus, so accepted.

[2020-04-22 17:07] rsc commented on #34652
No change in consensus, so accepted. Yes, I think we can reject #25357 as well.
For better or worse, this package is the equivalent of go/ast for templates.
In a different timeline we might have made it an internal-only package and
prepared an API that was specifically meant for public consumption, but that's
not what happened.

[2020-04-22 17:08] rsc commented on #25357
Based on the discussion over on #34652, this sounds like it should be rejected.

[2020-04-22 17:11] rsc commented on #38158
Because this is a significant issue, I'm going to leave this for an extra week of "likely accept" before moving it to accepted. I note that golang/dep#2233 has been merged, so what's being proposed here has become a smaller delta.

[2020-04-22 17:14] rsc commented on #31449
Ian's CL seems worth trying. Let's just be ready to roll it back if there are problems.

[2020-04-22 17:14] rsc commented on #37168
Does anyone _object_ to the policy in the preceding comment by @FiloSottile?

[2020-04-22 17:15] andybons commented on #38583
We can’t change `NewRequest` as that would violate the Go 1 compatibility promise. Marking as a proposal to explore the other options:

+ ctx of the http.Request should be exported, in order to allow people to build manually the http.Request struct with url.URL and avoid the copying
+ a new method should be created that takes url.URL as target parameter

[2020-04-22 17:15] rsc commented on #16971
Using very long names because they already exist is not typically a good pattern. Cleaning up the API is almost certainly worth doing.

[2020-04-22 17:16] rsc commented on #16971
@FiloSottile posted a new API 19 days ago and there have not been many comments. Does anyone _object_ to accepting this new API?

[2020-04-22 17:17] rsc commented on #29390
Based on the discussion above, then, it seems like this is a **likely decline**.

[2020-04-22 17:18] andybons commented on #38584
@bradfitz @neild

[2020-04-22 17:20] andybons commented on #38579
@bcmills @jayconrod @matloob

[2020-04-22 17:20] andybons commented on #38578
@rsc

[2020-04-22 17:21] carlmjohnson commented on #34652
If this has been accepted, then I take it there's no interest in marking text/template/parse as [deprecated](https://github.com/golang/go/wiki/Deprecated)?

[2020-04-22 17:23] rsc commented on #37641
My main hesitation about depending on the TLDs is that example.com was _supposed_ to be the reserved name, and yet example.com has a web page. That means that go module examples using example.com make HTTPS requests. I don't trust the IETF not to create web pages for the other "reserved" TLDs.

The only thing we promise by reserving example/ and test/ is that we will never create those two directo

[2020-04-22 17:23] andybons commented on #38556
Got it. Thanks.

@griesemer @rsc

[2020-04-22 17:23] rsc commented on #37641
(That is, there's no implementation work here, just a promise not to create certain standard library package paths.)

[2020-04-22 17:24] rsc commented on #37503
Based on the discussion above, this seems like a **likely decline**.
(We've noted multiple times that the amount of change plus the burden on the core team for maintenance are too large here.)

[2020-04-22 17:26] georgysavva commented on #38185
Thanks for the reply. Waiting for you feedback on connection opener.

[2020-04-22 17:27] rsc commented on #35921
Here's the Module struct from `go help list`:

[code]

Is that what we want in go/packages? Is there anything we don't want in go/packages?

[2020-04-22 17:28] rsc commented on #34544
We can wait a little longer for data but it's really starting to sound like this is a no-go. The false positive with no clear workaround really sinks this from a vet perspective. We'd need not just data but also a design without that problem.

[2020-04-22 17:29] rsc commented on #33194
I asked last week if anyone objected to this support starting outside the testing package. I don't see any objections to that. Good discussion, but no objections.

Based on the discussion, this seems like a **likely decline**.

[2020-04-22 17:33] slinkydeveloper commented on #38583
@andybons I can provide a PR for one of the two solutions (IMO exporting the `ctx` is the best solution here)

[2020-04-22 17:34] Jacalz commented on #16971
After my initial comment, I have changed the stance on this. I think it might be worth adding support for actually changing parallelism. Otherwise I have nothing to object.

I also thought of another thing. Wouldn’t it be useful to have the formatting functions exposed so people using the IDKey() and Key() functions could still encode and decode the standardized format for Argon2 hash storage?

[2020-04-22 17:38] rsc commented on #37255
@ianlancetaylor @bradfitz and I bikeshedded the name for a while. This is the best we came up with:

[code]

  (it's Done channel is closed) when one of the listed signals arrives,
  when the returned cancel function is called, or when the parent context's
  Done channel is closed, whichever happens first.

  call cancel as soon as the operations running in this Context complete.

Thoughts?

[2020-04-22 17:40] bcmills commented on #38592
@wilriker, is it possible that this was just a cached negative result for that version on `proxy.golang.org`?

It seems to be working fine for me now:
[code]

[2020-04-22 17:40] rsc commented on #38375
Another problem with putting this in httpguts is that different servers are likely to want different customizations. The current situation, where people write the code they need, even if they start by copying those few lines, may be preferable to having a function in httpguts that will itself be the subject of more proposals for extensions.

There doesn't seem to be much enthusiasm for adding this

[2020-04-22 17:44] ianlancetaylor commented on #38454
Can you set `GOTRACEBACK=system` in the environment, and again send a `SIGQUIT` to the hanging go program.  Thanks.

Another thing that would help would be to try running the failing command, which you should be able to see by running `ps uww`, under `strace -f`, so that we can see whether it calling `epoll_wait` as expected.

[2020-04-22 17:46] rsc commented on #36898
@mvdan, the original comment above says:

But this is not true. Bash and other systems can use jq, or people can use a simple Go program invoked from the shell, maybe even with go run. (Bash doesn't do HTTP requests internally yet does it? I believe this discussion assumes invoking other tools like curl already.)

You said in the comment at the top that CI systems are fine as is, since they can ru

[2020-04-22 17:46] purpleidea commented on #38375
On Wed, Apr 22, 2020 at 1:41 PM Russ Cox <notifications@github.com> wrote:

It's a useful helper for people like me who just want something along
these lines, and would rather use a vaguely common behaviour rather
than re-writing their own version constantly.

I'd recommend putting it somewhere...

[2020-04-22 17:46] heschik commented on #38225
Since this behavior was released in 1.14, we need a fix in goimports regardless of future behavior. I changed the CL to update this bug rather than close it.

[2020-04-22 17:47] rsc commented on #34864
This is a real endpoint that we have repeatedly told people about. It's definitely (past) time for it to be documented. Let's do that.

[2020-04-22 17:47] rsc commented on #38149
Based on the discussion above, this sounds like a **likely decline** (better to do automatically instead of a separate file that must be kept up to date).

[2020-04-22 17:47] tschaub opened #38596 "x/pkgsite: subdirectories are missing for nested modules"
### What is the URL of the page with the issue?

https://pkg.go.dev/cloud.google.com/go?tab=subdirectories

### What is your user agent?

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36

### Screenshot

![image](https://user-images.githubusercontent.com/41094/80014826-17ef4280-848e-11ea-9152-a95fdff56c2b.png)

### What did y

[2020-04-22 17:48] rsc commented on #38193
Based on the discussion above, this sounds like a **likely decline**.

[2020-04-22 17:49] rsc commented on #38079
It sounds like the proposal two comments up (don't add to an already-empty X-Forwarded-For) would fix the problem and that people are at least not objecting. I've retitled.

Does anyone object to doing this?

[2020-04-22 17:54] bcmills commented on #38579
The error message here is correct.

In order for an `internal` package to be imported, the package containing the `import` statement must have the same prefix as the `internal` package up to the last `/internal/` element.

In this case, that prefix is `example.com/v2`, which is not a prefix of `example.com/test`.

If you want an `internal` package to be shared between `example.com/test` and `examp

[2020-04-22 17:54] dzrtc commented on #35732
@bcmills Could you explain again why running `go get foo@v7` fails? The reason you gave earlier was technical, but I don't understand why this policy exists. It would be helpful if you could shine some more light on this.

I would expect that `go get github.com/foo/foo@v7` would look for a `v7` tag or a `github.com/foo/foo/v7` path, write the resolved path into my `go.mod` and download it.  That s

[2020-04-22 17:54] elithrar commented on #16971
I’m in favor of @FiloSottile‘s API - I could nitpick, but I also appreciate there is no such thing as a perfect API:

- The word “hash” is important - “hashing” passwords is the common terminology and making the API clear to any user + searchable is helpful
- `Calibrate` is clear enough, but likely needs a good godoc to explain _why_ you might use it
- `Check` might be the least clear - check what

[2020-04-22 17:56] rsc commented on #38270
If you are middleware, I am assuming you implement http.Handler. Given a w, r you should be able to do:

	r = r.WithContext(httptrace.WithServerTrace(ctx, trace))
        dispatch(w, r)

Today, httptrace.WithClientTrace takes care of hooking different tracers together. Presumably WithServerTrace would do the same.

It sounds like what this proposal needs now is just a preliminary definition for ht

[2020-04-22 17:57] dmitshur commented on #34864
@rsc Given it's already documented at https://pkg.go.dev/golang.org/x/website/internal/dl?tab=doc, I understand this issue is about documenting it elsewhere as well. I've suggested one possibility of making a new page on golang.org (see the last paragraph of https://github.com/golang/go/issues/34864#issuecomment-541430770). Another place could be a [new API wiki page](http://golang.org/wiki/API).

[2020-04-22 17:57] bcmills commented on #38579
This behavior is documented in [`go help gopath`](https://golang.org/cmd/go/#hdr-Internal_Directories), although it appears that we need to update that documentation to be more explicit about how it maps to module mode.

[2020-04-22 17:58] a8m commented on #34652
Since I already have a working change for this in my fork that I plan to push in the upcoming days, I'll prefer to push it. Thanks

[2020-04-22 18:00] rsc commented on #38248
//go:linkname is kind of the odd one out for compiler directives (see go doc compile) in that it doesn't just implicitly apply to the next function declaration. Instead of adding another like that, it would probably be better to attach it to a function implicitly, like the others (example: //go:noinline).

Then instead of:

[code]

you'd have

[code]

Is there always a function declaration to atta

[2020-04-22 18:01] bcmills commented on #38544
Not just on ARM:

[2020-04-22T16:45:05-141b11d/android-386-emu](https://build.golang.org/log/06c7cf2e029a7765a4fa22c2b916c894f07e7047)
[2020-04-22T16:45:05-141b11d/darwin-amd64-nocgo](https://build.golang.org/log/a681dca57a59c46f9f66baf8577232fa808fa830)
[2020-04-20T19:36:50-0239a5c/openbsd-386-62](https://build.golang.org/log/2267509d203a6369d7d7121504f4ba18c516ba4e)

[2020-04-22 18:02] henvic commented on #37255
From the perspective of a user, this sounds good and very useful to me to write cleaner code.

Also, what about an error type such as the ContextError I implemented in patchset 1 https://go-review.googlesource.com/c/go/+/219640/1?

[code]

The idea is to make it possible to identify what signal canceled it. This is useful for deciding what to do next. For example, you might want to delegate handli

[2020-04-22 18:05] bcmills opened #38597 "database/sql: TestTxCannotCommitAfterRollback failures on windows-amd64-2008 builder"
[2020-04-22T16:45:05-141b11d/windows-amd64-2008](https://build.golang.org/log/1a02c2c1eb605b64cf5ab9061a5249ca3325840d)
[2020-04-20T20:22:51-7004be9/windows-amd64-2008](https://build.golang.org/log/b02b78c1c77f5a2a874962a566feef7621acd617)

These failures occurred just after [CL 227278](https://golang.org/cl/227278) for #38058 (which, coincidentally, appears to have been merged without a correspon

[2020-04-22 18:06] hyangah commented on #38544
any objection to disabling this test in all platforms other than in linux?

[2020-04-22 18:11] bcmills opened #38598 "runtime: TestLockedDeadlock2 failure on solaris-amd64-oraclerel builder"
[2020-04-22T17:30:07-81df5e6/solaris-amd64-oraclerel](https://build.golang.org/log/f507db243d80b65c73bc4d433e2abe9929f9a105)

See previously #35393, #35274.

The test was terminated with `SIGQUIT` after a full minute, so it appears that the deadlock detector failed to trigger.

It's not obvious to me whether this is a regression or an existing low-probability bug, so I'm milestoning it to Go 1.15

[2020-04-22 18:19] stamblerre commented on #38591
Duplicate of https://github.com/golang/go/issues/38230

[2020-04-22 18:20] stamblerre commented on #38591
This has the same root cause as the above issue, and it will be fixed by https://golang.org/cl/229319/.

[2020-04-22 18:24] rsc commented on #16971
FWIW, it's not just Check. There is a signature:

    func Check(hash, password string) error

That seems pretty clear.

[2020-04-22 18:27] #33273 closed

[2020-04-22 18:29] rsc commented on #33502
**2020-04-22 / @rsc, @griesemer, @ianlancetaylor, @bradfitz, @andybons, @spf13**

- #37503 **all: add bare metal ARM support**
  - **likely decline**; last call for comments ⏳
- #38149 **api: add mechanism for correlating deprecations with Go versions e.g. <version\_deprecated>.txt**
  - **likely decline**; last call for comments ⏳
- #37641 **cmd/go: reserve specific path prefixes for local (user-

[2020-04-22 18:32] myitcv commented on #38591
Apologies. Thanks for linking.

[2020-04-22 18:38] bcmills commented on #38544
Is there a reason to suspect that it is not flaky on Linux?

(In my experience, the unusual builders are often just more timing-sensitive than the mainline builders — tests that are flaky on more than one of those platforms _also_ tend to be flaky on `linux`, just at a lower rate.)

[2020-04-22 18:39] rsc commented on #37681
For every one of those three categories, I can give a completely reasonable, _correct_ program that I'd be annoyed to have reported and "sanitized" for me. I define a lint check as something that's not about correctness. These are exactly lint checks by that definition. I don't believe we should start doing lint checks in the Go runtime. That path leads to no end of bikeshedding about exactly whic

[2020-04-22 18:40] bcmills commented on #37255
call cancel as soon as the operations running in this Context complete.

Does canceling the context also (potentially) change the signal behavior of the program?

If so, does that signal behavior _only_ change when `cancel` is called, or can that also happen implicitly when the parent context becomes done? (Personally, I would prefer that it only occur when `cancel` is called.)

[2020-04-22 18:43] wilriker commented on #38592
Thanks @seankhliao for pointing me to the right spot in the documentation. In my defense it was the first time I had released a /v2 version and also the first time using a sub-directory in the repo. ;-) Sorry for the RTFM-noise.

@bcmills I was actually even trying with `GOPROXY=direct` and got the same failure.
I managed to create the correct tag from my smartphone but wanted to check actual `go

[2020-04-22 18:43] #38592 closed

[2020-04-22 18:46] kardianos commented on #38597
@bcmills The commit right before is not relevant. I'm not sure a new test for that commit would be beneficial.

The flaking test is a new test merged in https://go-review.googlesource.com/c/go/+/216240 two days ago. The CL fixes a real issue, but harder to test for. I'll look into the Test to try to determine why it is flaking.

[2020-04-22 18:47] mrik974 opened #38599 "os/user: Current fails with "unknown userid" when it finds no entry about the user in "/etc/passwd""
### What version of Go are you using (`go version`)?

<pre>
1.11
</pre>

### Does this issue reproduce with the latest release?

I don't know, I'm reporting a (not a) bug issue from a software I'm trying to use

### What operating system and processor architecture are you using (`go env`)?

<details><pre>
debian x64 on openshift
</pre></details>

### What did you do?

I'm not a go developer, but I

[2020-04-22 18:49] Jacalz commented on #16971
I just want to elaborate more with what I propose as additions to the API suggested by @FiloSottile. My previous post was perhaps a bit too wage in my opinion, so I will try to make it a bit clear.

- I suggest that the NewHash() function has a field for threads in the argon2 API:
[code]

- I also suggest that the Argon2 and Scrypt API implementations both provide the encode and decode functions a

[2020-04-22 18:49] spf13 commented on #38542
I see, I misunderstood, this example is itself a pseudoversion, not a released version. It's less clear what to do here. Maybe just truncate the pseudoversion portion of the version string? Not sure if that makes sense or would be hard to do reliably.

[2020-04-22 18:52] spf13 commented on #38542
@Joanne881107, any ideas? :)

[2020-04-22 18:53] abarisani commented on #37503
@rsc I am puzzled, except for your comments every other single one is either supportive of this patch or acknowledges that the patch is as minimal as it gets and cannot get more minimal for reasons which are outside the patch itself, but rather generic issues (and for this reason a separate issue has been filed).

I really don't share the assessment "based on the discussion above" as you put it. M

[2020-04-22 19:00] hyangah commented on #38544
Or, maybe we completely delete this test?
I don't know what to make out of testing this on the platforms where even time.Sleep(1sec) results in sleeping more than 2 sec.

[2020-04-22 19:01] julieqiu commented on #38596
Thanks for the feedback! The reason storage is not listed there is because cloud.google.com/go/storage is a nested module:
https://github.com/googleapis/google-cloud-go/blob/v0.56.0/storage/go.mod

This means that it is not a subdirectory of cloud.google.com/go. When you download cloud.google.com/go via proxy.golang.org (https://proxy.golang.org/cloud.google.com/go/@v/v0.56.0.zip), you will notice

[2020-04-22 19:02] ianlancetaylor commented on #37255
I'm not necessarily opposed to `context.SignalError`, but I think that if you want to make decisions based on which signal was received then you shouldn't be using `signal.NotifyContext`.  You should be using `context.WithCancel` and `signal.Notify`, and canceling the context when receiving a value from the `signal.Notify` channel.  We already have a mechanism for handling signals; the point of th

[2020-04-22 19:04] julieqiu commented on #38586
This is similar to #37102. Also related: 37819

[2020-04-22 19:05] ianlancetaylor commented on #37255
Ouch, I hadn't thought about changes in signal handling behavior.  I agree that the only possible choice here is that the signal handling behavior only changes when or if the cancel function is explicitly called.  Otherwise the wrong thing would happen if the program received two `SIGHUP` signals in a row.

[2020-04-22 19:10] bcmills commented on #37681
I agree with that definition of a “lint check”.

However, I disagree that the existence of false-positives for these checks implies that they are “not about correctness”. A program that fails _due to the system OOM killer_ (or due to running out of file descriptors) fails nonetheless. (Personally, I would generally consider a program with an unbounded goroutine or file-descriptor leak to be “incor

[2020-04-22 19:16] ianlancetaylor commented on #38599
In the normal case on a Unix system, `user.Current` is just returning what `getpwuid_r` returns.  If you call `getpwuid_r` when there is no user ID, it will return `NULL`, and so `user.Current` returns a value of type `user.UnknownUserIdError`.

I guess the argument for doing something different would be that if the program is built with `CGO_ENABLED=0`, then `user.Current` tries to work out a `us

[2020-04-22 19:19] arp242 commented on #28143
I hate pinging you, but is there any chance this can be reviewed @rsc? It's been quite a while and this was created before the current proposal review process. Could it be reviewed with it? I'm not entirely sure what the plans for the mentioned "JSON sweep" are?

I still run in to this; and AFAIK there isn't a clear solution, and this change (which should be fairly low-impact as far as I can tell)

[2020-04-22 19:19] networkimprov commented on #37503
Andrea, do you know of any tamago users or folks working with the hardware it supports inside Google?

[2020-04-22 19:20] magical commented on #16971
What happens if `Check` is called with the arguments in the wrong order?
[code]
One nice thing about the name `CheckHashAndPassword`, verbose though it be, is that it makes it obvious to anyone reading the code what the correct order is.

[2020-04-22 19:34] atombender opened #38600 "x/tools/gopls: Autocompletion is appended to typed word"
#### What did you do?
In VSCode, typed part of a word to autocomplete it, e.g. `cancel`, then selected `cancelCtx`.

#### What did you expect to see?
I expected the current word to be `cancelCtx`.

#### What did you see instead?
Current word became `canccancelCtx`.

![gopls](https://user-images.githubusercontent.com/50314/80025413-9bb92700-84ae-11ea-939d-a8a618ffe6b1.gif)

#### Build info

Also ge

[2020-04-22 19:35] pierrre commented on #37255
Personally I will probably not use this new function.
I'm in favor of not adding this to the stdlib.
It's very simple to write your own implementation in your app and the need may be different in each app.

I've already built a package that I'm using at my company, and I don't think it's compatible with your proposal.
Here what it is doing:
- the first time it receives a signal, it cancels the con

[2020-04-22 19:36] bcmills commented on #38542
You might consider stripping off the “base” from which the pseudo-version is derived¹ and reporting that along with the commit hash.

That said, I'm not sure what's wrong with showing the complete pseudo-version in the first place...

¹https://github.com/golang/go/blob/e221a75deab7843d5414154000f5bea7abcb60c3/src/cmd/go/internal/modfetch/pseudo.go#L149-L154

[2020-04-22 19:40] andybons commented on #38583
Let’s let the proposal review committee take an initial look first.

[2020-04-22 19:41] henvic commented on #37255
Not an expert in signal handling by any means, but...

Why would it be bad to change the signal handling behavior when the parent context is canceled? Wouldn't also be similarly bad if it doesn't (especially if there is a way to check what signal caused the context to end)? It's not clear to me what an example would be. Instead, shouldn't NotifyContext be used first when this happens?

Another thi

[2020-04-22 19:42] bcmills commented on #37255
There is already a pretty strong precedent that `ctx.Err()` is exactly either `context.Canceled` or `context.DeadlineExceeded`. Rather than deviating from that precedent, it might be less intrusive to encode the signal in the `Value` method and provide a top-level accessor for it:

[code]

[2020-04-22 19:45] henvic commented on #37255
@bcmills, I like it.

[2020-04-22 19:57] bcmills commented on #35732
@dzrtc, see:
https://github.com/golang-migrate/migrate/tree/v4.10.0#versions
https://research.swtch.com/vgo-import

`-tags` is a build flag. See [`go help build`](https://golang.org/cmd/go/#hdr-Compile_packages_and_dependencies).

[2020-04-22 20:02] powerman opened #38601 "Weird panic while dumping non-pointer struct with wrapped error"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/powerman/.cache/go

[2020-04-22 20:06] stamblerre commented on #38600
Thanks for the report! /cc @muirdm

[2020-04-22 20:11] stamblerre commented on #38582
Whether or not the files are tracked in git should have no effect on the functionality of `gopls`. Can you please provide `gopls` logs where you are seeing this behavior?

[2020-04-22 20:14] stamblerre commented on #38590
You can add the directory to your workspace through File > Add Folder to Workspace. I recognize this is not the ideal workflow, as you will see the directory in two places in the outline on the left-hand side, but it should resolve the issue. We're working on addressing this for `gopls/v0.6.0`.

[2020-04-22 20:19] cuonglm commented on #38601
Can you share your `TestGetStr`?

Seems duplicated of https://github.com/golang/go/issues/29264

[2020-04-22 20:21] muirdm commented on #38600
I think this is because `incrementalAnalyzer{}` is a syntax error without extra parents around it. The composite literal curlies are parsed as the `if` block curlies, so the AST is all messed up.

I'm not sure it would be easy to work around this type of syntax error. Maybe a code action to add in the missing parens?

[2020-04-22 20:22] atombender commented on #38600
@muirdm: No, that's not a syntax error.

[2020-04-22 20:24] atombender commented on #38600
Ah, I see what you're saying. It's not valid syntax in an `if` statement without parens.

[2020-04-22 20:33] powerman commented on #38601
@cuonglm Sure, but there is nothing interesting in it - I'm testing jsonrpc2 client using jsonrpc2 server implemented by gomock.

[code]

[2020-04-22 20:41] abarisani commented on #37503
I am not sure I understand the relevance of this question.

[2020-04-22 20:41] bcmills commented on #38342
I think we can and should support such a directory.

I have an algorithm in mind, but I ran out of bandwidth for the day. I'll try to post a sketch later this week.

[2020-04-22 20:47] mrik974 commented on #38599
There is a userid, it's just not set in the passwd file.
The software I'm actually using does not seem to do other than getting the username and home.
I'll try and compile it myself with `CGO_ENABLED=0`.
I'll also open an issue on Jobber's git page.
I'm closing the issue, as is not a bug. Thank you @ianlancetaylor for pointing me to the right direction.

[2020-04-22 20:47] #38599 closed

[2020-04-22 20:56] stamblerre opened #38602 "x/tools/gopls: corrupted file= query with files of different cases"
See the discussion on https://github.com/microsoft/vscode-go/issues/3193.

/cc @heschik for case-insensitive file systems

[2020-04-22 20:56] carnott-snap commented on #38342
I agree we should support this ux, checking in `vendor`[0], but I think we should be careful about complexity. Your proposal involves finding all the equivalent directories under Unicode case-folding, then lacing them together, something that has a large number of edge cases. Introducing a new vendor spec that solves this with a trivial case insensitive algorithm will involve more code living in t

[2020-04-22 20:59] carnott-snap commented on #38342
For the record, the toolchain enforces that domains are `all.lower.case`, thus `Github.com/something/something` will not build.

/cc @jayconrod

[2020-04-22 21:15] katiehockman opened #38603 "x/tools/gopls: document setup required for working with the std library"
Find All References in VSCode is only able to find references within the same package. For example, clicking Find All References for pkix.Name in go/src/crypto/x509/pkix/pkix.go only finds 7 references to the type, although if you use search you can see there are several more than that.

settings.json:
{
    "go.alternateTools": {
        "go": "\~/godev"
    },
    "go.toolsGopath": "\~/.vscode/g

[2020-04-22 21:17] stamblerre commented on #38603
What was the directory that you opened in VS Code? Right now, we limit the scope of references to the workspace root.

[2020-04-22 21:21] josharian commented on #23401
It may be too late—sorry—but I wonder whether instead of seconds=5 it’d be better to do time=5s (or any other duration).

[2020-04-22 21:23] Ikke opened #38604 "syscall: Getrlimit test failures in docker on armv7 / aarch64"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.10 linux/arm64
</pre>

### Does this issue reproduce with the latest release?

Yes, 1.14.2 still failes

### What operating system and processor architecture are you using (`go env`)?

Alpine Linux in docker on Alpine Linux on armv7 / aarch64

<details><summary><code>go env</code> Output</summary><br><pre>
$

[2020-04-22 21:25] hyangah commented on #23401
@josharian yes, I like your suggestion but 'seconds' preexisted for cpu profile and execution trace endpoints.

[2020-04-22 21:25] Ikke commented on #38604
It runs fine on other arches (x86, x86_64, ppc64le, s390x)

[2020-04-22 21:28] neelance commented on #38248
I fully agree that a version without `localname` would be better. In fact this was my initial plan.

However, all the current directives that apply to the next function are just flags without any parameters. They get processed by the `pragmaValue` function in lex.go and the return type is `type Pragma uint16`. No arguments possible.

This is why I opted for not doing a large change to Go's lexer/p

[2020-04-22 21:33] katiehockman commented on #38603
I opened it in go/src, so the other packages are within this workspace

[2020-04-22 21:35] stamblerre commented on #38603
Ok, thanks for confirming! I'll take a look.

[2020-04-22 21:40] hyangah commented on #38603
Is `$HOME/godev` a binary or directory?

[2020-04-22 21:42] katiehockman commented on #38603
It's a directory

[2020-04-22 21:45] dmitshur commented on #37102
For reference, adding this feature to golang.org/pkg for the Go standard library (only) was issue #5778, and it was implemented in [CL 85396](https://golang.org/cl/85396) and [CL 124495](https://golang.org/cl/124495).

[2020-04-22 21:46] mknyszek opened #38605 "runtime: pageAlloc.allocToCache updates pageAlloc.searchAddr in an invalid way"
Currently the page allocator's `allocToCache` method can update the search address in such a way that it doesn't point into memory contained in `pageAlloc.inUse`, which violates a documented property.

The result of this is an occasional crash. A similar bug was fixed prior to the Go 1.14 release with https://golang.org/cl/216697, but that failed to take into account `allocToCache`. This is causin

[2020-04-22 21:47] dmitshur commented on #38586
@julieqiu Should we close this as a duplicate of #37102, or is there something different about this issue?

[2020-04-22 21:52] mknyszek commented on #38605
@gopherbot Please open a backport issue for 1.14.

[2020-04-22 21:52] gopherbot opened #38606 "runtime: pageAlloc.allocToCache updates pageAlloc.searchAddr in an invalid way [1.14 backport]"
@mknyszek requested issue #38605 to be considered for backport to the next 1.14 minor release.

[2020-04-22 21:53] mknyszek commented on #38605
CC @aclements @prattmic

[2020-04-22 22:04] hyangah commented on #38603
But it is used for `"go.alternateTools"` which should be the path to the executable I think.

Can you please provide the output of "Go: Locate Configured Go Tools" (find from the command palette) and the beginning of the `gopls` log that prints out the `go env` results.

[2020-04-22 22:07] katiehockman commented on #38603
Ah! Yep that was it. Thank you.

Is this all documented somewhere? It's still pretty difficult to work in the standard library, and this just silently failed partially, without giving any error message.

[2020-04-22 22:11] #38597 closed

[2020-04-22 22:13] Joanne881107 commented on #38542
There are 2 places we would need to display the version number:
1. Version info on the header: In this case, it's better to truncate the version string to make it more readable. My suggestion is maybe use "1.1.0-pre-release" instead? Or truncated the string as "1.1.0-pre-release...23", when hover on the string, show a tooltip display the entire string.
2. Version info in "versions" tab: In this ca

[2020-04-22 22:31] ianlancetaylor commented on #38606
Bug causes crashes with no workaround available.  Cherry pick approved.

[2020-04-22 22:36] cagedmantis opened #38607 "x/build: add a Windows ARM builder"
We used to have a Windows ARM builder which was removed because it was no longer supported #38493. We should explore a new service or maintainer in order to restore the builder type.

/cc @andybons @dmitshur @toothrot

[2020-04-22 22:36] cagedmantis commented on #38493
We have been unable to communicate with the builder maintainer for some time now. I'm going to work on removing the builder.

[2020-04-22 23:20] ianlancetaylor commented on #37303
I'm not sure that every target that Go supports can reliably put things into read-only memory.  Although it may be that the restriction to only constant initializers does permit that.

There is clearly an interest in adding some form of immutable data to Go, as there have been several issues opened about it.  I'm not sure that restricting immutable data to constant initializers will be satisfactor

[2020-04-22 23:31] kulics commented on #15292
Recently I explored a new generic syntax in the [K](https://github.com/kulics-works/k) language that I designed, because Lite borrowed a lot of grammar from Go, so this Generic grammar may also have some reference value for Go.

The `identifier<T>` problem is that it conflicts with comparison operators and also bit operators, so I don't agree with this design.

Scala's `identifier[T]` has a better

[2020-04-22 23:35] stamblerre commented on #38603
The docs for `"go.alternateTools"` should pop up when you add that configuration:

<img width="936" alt="Screen Shot 2020-04-22 at 7 33 04 PM" src="https://user-images.githubusercontent.com/5856771/80043613-32e2a680-84d0-11ea-8abe-d0feff3c9916.png">

I'm surprised that that fixed the issue (unless you are using Go Nightly) because the fix for https://github.com/microsoft/vscode-go/issues/3163 hasn

[2020-04-23 00:04] ianlancetaylor commented on #38587
@GuoxinL This is the wrong forum for your question, as explained above.  You need to ask your question somewhere else.

If you want to propose a change to Go, see https://golang.org/s/proposal.

[2020-04-23 00:18] griesemer commented on #15292
How would one write a generic function, such as, say:
[code]
How would one instantiate a generic type?

[2020-04-23 00:23] odeke-em commented on #38530
I've also been getting these consistently for the past 30 minutes
<img width="812" alt="Screen Shot 2020-04-22 at 4 57 38 PM" src="https://user-images.githubusercontent.com/4898263/80045938-dbd3d600-84bd-11ea-95c6-6855027d3da5.png">
<img width="798" alt="Screen Shot 2020-04-22 at 5 22 57 PM" src="https://user-images.githubusercontent.com/4898263/80045958-ed1ce280-84bd-11ea-8571-c5dae4b359d6.png">

[2020-04-23 00:25] odeke-em opened #38608 "os, x/build: only write permissions 0222 for file result in successful read for linux-amd64"
Coming here from https://go-review.googlesource.com/c/go/+/229357/3#message-c7922ea647b703faa8e858428f47221a6d921275 and https://storage.googleapis.com/go-build-log/b49db1e9/linux-amd64_454ff41f.log in which we have an odd test failure
[code]
in which the relevant test is
[code]

Is this perhaps just a problem with the builder? I'd expect that 0222 would make a file writable but would error on rea

[2020-04-23 00:29] odeke-em commented on #38608
I can't test it out unfortunately on my home machine at Linux as it malfunctioned.

[2020-04-23 00:41] ianlancetaylor commented on #38225
@alexbrainman I don't think it's too bad.  We only need to check the existing file attribute in the case of `O_CREAT | O_TRUNC` _and_ `perm&S_IWRITE == 0`.  In other words, we never need to check the attribute for `os.Open` or `os.Create`, only for some cases of `os.OpenFile`.

And actually I think it's even simpler.  In the problematic case, we should call `CreateFile` with `FILE_ATTRIBUTES_NORMA

[2020-04-23 00:47] griesemer commented on #34875
Per my comment in the CL, I think the interface outlined in the CL is too complicated. We should have a pretty clear idea of what a realistic API looks like before accepting the proposal (not the other way around).

[2020-04-23 01:00] kulics commented on #15292
It is very simple.
[code]
The key point is to treat the entire generic syntax as an identifier.

The feasibility has been verified in the K language, it has good compatibility, and there will be no ambiguity.
&nbsp;
------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Robert Griesemer"<notifications@github.com&gt;;
Date: &nbsp;Thu, Apr 23, 2020 08:19 AM
To: &nbsp;"golang/go"<go@no

[2020-04-23 01:21] ktock commented on #30829
FYI: https://github.com/containerd/stargz-snapshotter
Stargz is now available under the containerd org and works on Kubernetes. I also posted [a blog about it](https://medium.com/nttlabs/startup-containers-in-lightning-speed-with-lazy-image-distribution-on-containerd-243d94522361).

[2020-04-23 01:34] #38465 closed

[2020-04-23 01:35] odeke-em opened #38609 "cmd/cover: add PackageName to title of generated html"
Coming here from CL https://go-review.googlesource.com/c/go/+/227547 in which we merged an update that added a blank title to each generated page as "Go Coverage Report".

This issue is to remind @robpike and myself about making the title even more contextual and more useful by adding the package name to the title.

[2020-04-23 01:43] julieqiu commented on #38514
This is now live.

[2020-04-23 01:44] julieqiu commented on #38109
Fixed.

[2020-04-23 01:44] #38109 closed

[2020-04-23 01:45] julieqiu commented on #38586
I think it makes sense to close this as a duplicate. @Fenthick feel free to comment on #37102 with anything else.

[2020-04-23 01:45] #38586 closed

[2020-04-23 02:08] weijinxy commented on #15292
mark

[2020-04-23 02:08] weijinxy commented on #15292
great

[2020-04-23 02:16] mcandre opened #38610 "cmd/go: go get dropping Windows proxy settings (WSL)"
### What version of Go are you using (`go version`)?

14

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

Windows Subsystem for Linux (Ubuntu)

Windows 10 64-bit

### What did you do?

Ran `go get` for tyk dependencies.

### What did you expect to see?

The dependencies install.

### What did you see inste

[2020-04-23 02:23] mattn commented on #38610
You can use `$http_proxy` or `$https_proxy` on Linux.

[2020-04-23 03:03] liandeliang opened #38611 "is same pointer name make in twice diffient size then get same memory?"
Is same pointer name make in twice diffient size then get same memory?

Sorry, i do not sure it is a bug, thanks.

Below simple code, i want to allocate 2 diffient array used same variable name, but result give me same array.

### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 windows/amd64
</pre>

### Does this issue reproduce with the latest release?

ye

[2020-04-23 03:30] zbelial commented on #38582
Hi @stamblerre , thanks for you reply.
1. Sorry that I've not found how to get `gopls` logs now. I tried to use `gopls serve -logfile $HOME/gopls.log` to start gopls in Emacs, but  gopls.log was empty.  But
2. I found something else.
Suppose the following is the dir layout.
[code]
If D is under git, then `eglot` will use D as the project root (`eglot` uses another package, `project`,  to guess the

[2020-04-23 04:07] tschaub commented on #38596
Thanks for the explanation, @julieqiu.  I see that the old documentation is actually misleading in this case.

I wonder if it would help if the UI were explicit about packages and nested modules instead of using "subdirectories" to describe these things.  I don’t know if "nested" is a formal class of modules, but it would help clarify what you get when installing a module (packages) vs. what you n

[2020-04-23 04:14] caleb-letsgo commented on #38288
Oddly, when I ran the go run-race test.go, there was no output of any race content. I've tested it many times.

`

	ch := make(chan infRes, scount)
	chClosed := false
	var chMutex sync.Mutex

	header := http.Header{}
	// ....header setting

	for _, node := range nodeList {
		go func(node Node, scheme, path string) {
			//...
			r, e := f.requestINF(urlStr, header, ctx)
			if e == nil {
				chMutex

[2020-04-23 04:26] ianlancetaylor commented on #38611
You set `p1` to the address of `a`.  When you change `a`, you change the value to which `p1` points.  That's how pointers work.

I'm going to close this because it isn't a bug.

For questions about using Go, you will get faster and better answers in a forum rather than in the issue tracker.  See https://golang.org/wiki/Questions.

[2020-04-23 04:26] #38611 closed

[2020-04-23 05:09] peterhuson commented on #34286
bump
This breaks GoLand test parsing: https://youtrack.jetbrains.com/issue/GO-6493

[2020-04-23 05:24] networkimprov commented on #38288
What version of Windows, and what version of Go?

cc @alexbrainman @aclements
@gopherbot add OS-Windows

[2020-04-23 05:58] zdjones commented on #38476
I think this may not quite be a duplicate, but requires the same or similar solution as #29872.

We talked there of delaying div reduction to only the lateopt pass. This would leave the mods in place for the prove pass to see.

[2020-04-23 06:10] acln0 commented on #38506
I believe that if you currently have this code:
[code]

You can replace it with the equivalent context-aware invocation:
[code]

[2020-04-23 06:17] hwdef commented on #15292
I think this idea is great.

[2020-04-23 06:46] josharian opened #38612 "cmd/compile: ssa.html sources line numbers are misaligned"
Reproduce: generate ssa.html for any function. Expand the sources column. Observe that that line numbers are no longer aligned with the source code. This is a regression from this cycle, I believe.

cc @bradford-hamilton

[2020-04-23 06:48] alecthomas opened #38613 "x/pkgsite: type definition links are missing in v2 packages"
### What is the URL of the page with the issue?

 https://pkg.go.dev/github.com/hashicorp/hcl/v2@v2.4.0/hclsyntax?tab=doc#ParseTraversalAbs

### What is your user agent?

Chrome

### Screenshot

![image](https://user-images.githubusercontent.com/41767/80067942-1606ab80-8582-11ea-9dd3-2552c879a749.png)

### What did you do?

Nothing

### What did you expect to see?

 I expect to see the various "hc

[2020-04-23 07:24] abemotion commented on #38545
rest is needed? initOffset is always zero and json.Unmarshal returns only error.
https://golang.org/src/encoding/asn1/asn1.go?s=30565:30631#L1082

[code]

[code]

[code]

[2020-04-23 07:41] caleb-letsgo commented on #38288
It has appeared on the Windows 7 Ultimate and Windows 10 home versions. Go 1.12.17 and go 1.11

[2020-04-23 07:59] networkimprov commented on #38288
Can you try Go 1.14 or 1.13? 1.12 and earlier are no longer supported.

[2020-04-23 08:15] alexbrainman commented on #36492
You are, probably, correct. I use this PC at work. Our admin run whatever software they like on it.

I agree. I run a lot of different programs on that computer, and none of it hangs.

This makes Go build tools impossible to use on this computer. I suspect the same can be said about programs built with Go.

The PC is still running Windows 7 - which is rare this days. Hopefully this bug is uncommon

[2020-04-23 09:02] narqo commented on #37255
@bcmills, If somewhere within a call stack, I had an operation, that accepted the context and reacted to its cancellation, I don't think I would check something related to the signal in this operation, but rather returned `ctx.Err()`. After this error bubbled up to someone who "cares" about the signals, it would

1. check if the error wasn't nil
2. check if the context was cancelled
3. check if th

[2020-04-23 09:05] JAicewizard commented on #34875
Do mean the interface already implemented or the interface outlined in https://github.com/golang/go/pull/37868#issuecomment-603775926. My reasoning for the later API is that all comments are essentially a list of text blocks, with headers, urls, idents, and "raw"/code blocks in between.
This interface would give the formatter the ability to do with those blocks of text whatever it wants. This also

[2020-04-23 09:24] damien-lloyd commented on #38520
Here's the template that I've been asked to produce:

 **Would you consider yourself a novice, intermediate, or experienced Go programmer?**
Intermediate.

**What other languages do you have experience with?**
I also have experience with C++, Java, Python and Perl

**Would this change make Go easier or harder to learn, and why?**
It will neither make Golang easier nor harder as extending the defer

[2020-04-23 09:30] mobop opened #38614 "why incompitable struct tag isn't caught at compile time"
compiler doesn't produce any error if a struct tag is `key:value`
where it should be `key:"value"`

[2020-04-23 09:38] cuonglm commented on #38614
Please fill in the template issue if you see it's the issue, Github issue tracker is not for Q&A.

FYI, Go spec define struct tag as string https://golang.org/ref/spec#Tag, so it can be in any form.

[2020-04-23 09:42] mobop commented on #38614
it defines as key vlaue pairs optionally separated by space

[2020-04-23 10:02] zylthinking commented on #38588
[code]
at linux x64, function test like above, see the assembly generated, you will see
**SUBQ $0x60, SP**

I don't know what is the extra 80 bytes for (96bytes - 8bytes for argment - 8 bytes for return address). Maybe rbp need 8 bytes? Well, at least 60+ bytes is waste for nothing.

because the stack is wasted, meaning when there are more calling frames, the stack will drain quickly and newstack

[2020-04-23 11:19] mvdan commented on #38614
What @cuonglm said. `go vet` already checks incorrect syntax for common struct tag keys like `json`.

[2020-04-23 11:21] randall77 commented on #38520
What happens if a `return` is in the code block?
[code]
That's not semantically equivalent to
[code]
The latter is obviously wrong. Is the former wrong? Or does that `return` cause 7 to override 5?

Not sure if this is a ding for or against this proposal. It's definitely a weird semantic corner. But maybe, just maybe, if we allow it we can get rid of the must-name-return-values-to-update-them-with

[2020-04-23 11:23] mobop commented on #38614
but what's the reason for not giving a compiler error

[2020-04-23 11:25] mvdan commented on #38614
Like @cuonglm said, the spec [only defines struct tags as strings](https://golang.org/ref/spec#Struct_types). They are parsed and evaluated at run-time.

[2020-04-23 11:27] bergwerf opened #38615 "x/mobile: adding an assets/icon.png erases the app label"
`go version go1.13.5 linux/amd64`

I added an icon asset to the network example from the gomobile examples directory. It did get an icon (yay!), but the program name became `org.golang.app.GoNativeActivity` instead of network.

[2020-04-23 11:34] seankhliao commented on #38614
see #23637

[2020-04-23 11:35] randall77 commented on #38588
I see `SUBQ $0x58, SP`, for a total frame size of 96 bytes.

All that space makes sense to me.

- 64 bytes for the outargs section of the frame, to call `fmt.Fprintln` (`fmt.Println` is inlined).
  - 16 for the `io.Writer`
  - 24 for the slice
  - 8 for the `n` return value
  - 16 for the error
- 16 bytes for the backing store for the slice (a `[1]interface{}`)
- 8 bytes for the return address
- 8

[2020-04-23 11:35] #38588 closed

[2020-04-23 11:37] ronanwatkins commented on #37768
@randall77 Using macOS Catalina version 10.15.4 (19E287)

`uname -a` gives the following output:
`Darwin Ronans-MacBook-Pro.local 19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64`

Hope it helps

[2020-04-23 11:39] harshaddeo opened #38616 "x/website:https://play.golang.org/"
<img width="1130" alt="Screenshot 2020-04-23 at 13 38 20" src="https://user-images.githubusercontent.com/46689013/80095163-c7e4ae80-8567-11ea-84eb-129021166df3.png">

### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summa

[2020-04-23 11:49] mobop commented on #23637
@rsc @robpike

[2020-04-23 11:51] mobop commented on #23637
how can this wasn't settled before go 1 when json is part of standard library

[2020-04-23 12:32] ALTree commented on #38614
Closing here since your question has been answered and as noted this somewhat qualifies as a dup of  #23637.

[2020-04-23 12:32] #38614 closed

[2020-04-23 12:39] kingreatwill opened #38617 "runtime: scavenger freezes up in Go 1.14 in Windows due to coarse time granularity"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.1 windows/amd64
</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\35084\AppD

[2020-04-23 12:50] damien-lloyd commented on #38520
@randall77 Good points there. In order to understand the use case of the proposed defer, scope here is also important. The defer function (`defer func() { // return }()`) will mean that any return will only affect the scope of the **inner function** the defer is caling. But in defer code blocks (`defer { // return } `) it means that the **outer function** will return. This is because the proposed

[2020-04-23 12:56] mandelsoft opened #38618 "os: reading from tun device after using command pipe: `read /dev/net/tun: not pollable`"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.10 linux/amd64
go version go1.14.2 linux/amd64
</pre>

Does not appear with 1.12

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="

[2020-04-23 13:02] bradford-hamilton commented on #38612
Hey @josharian, more than happy to put some eyes on this and see whats going on.

[2020-04-23 13:03] dmitshur commented on #38616
Thanks for reporting. I've restarted the instances that were unhealthy, and it's back up now. We'll need to investigate further to prevent this from happening again.

/cc @toothrot

[2020-04-23 13:04] harshaddeo commented on #38616
Thank you for quick action :) It is working now

[2020-04-23 13:07] abanobmikaeel commented on #30072
I know this is older but this solved my problem `go env -w CGO_ENABLED=0`. Unclear whether or not it'll cause other problems though.

[2020-04-23 14:04] jayconrod commented on #38342
Right. That's good. Less opportunity for this problem to happen.

I'm going to back away from this discussion for now. I'll keep following, but at the moment I don't have bandwidth to do research that would be useful for active discussion.

[2020-04-23 14:13] katiehockman commented on #38603
I was working with @FiloSottile on this config (I borrowed it from him) so I wasn't very familiar with all of these settings. He helped me set this up because I was unaware that I needed to redirect gopls to a different goroot when working in the standard library. As far as I know, this isn't in the official docs?

I don't think I'm running Go nightly, and not sure how to check, but can investigat

[2020-04-23 14:26] mangatmodi commented on #20135
@randall77 Thanks It becomes much clear to me. However, I still fail to reproduce the behavior. I used [640]byte array as the key and value type - https://play.golang.org/p/t5_y_WY1Hc9

GC successfully claims the space allocated to the array. If I understood correctly, GC will zero the slots and zero of an array will still use the same space. Am I hitting some compiler optimisations?

[2020-04-23 14:31] josharian commented on #38520
To confirm, do other pending defers for the outer function then still get run?

---

What happens with nested defers? Are they associated with the outer function? We've never had a situation before where you can modify a function's defers while the defers are running. This might pose some implementation challenges.

Concretely, this program (https://play.golang.org/p/sVcNwWjb9Cy) prints 0, 1, 2, 3

[2020-04-23 14:38] bradfitz commented on #20135
@mangatmodi, when you write:

[code]

... that's recognized by the compiler and rewritten to be a `runtime.mapclear` call. See `test/codegen/maps.go` and `src/cmd/compile/internal/gc/range.go` from issue #20138 (aee71dd70b3779c66950ce6a952deca13d48e55e).

Perhaps that indirectly fixes this issue, but this issue remains for other slower map clearing techniques.

I think you'd want to adjust your re

[2020-04-23 14:39] embeddedgo commented on #37503
Hello @abarisani

I am in a similar situation to you. I'm maintainer of **linux/thumb** an **noos/thumb** ports: https://github.com/embeddedgo

The noos/thumb port allows to program for ARMv7-M architecture. The ARMv7-M microcontrollers are the most popular 32-bit MCUs and at the same time they are much more standardized that any other embedded systems including these based on ARMv7-A.

The proble

[2020-04-23 14:39] dmitshur opened #38619 "wiki: update Gomote#access-token with new instructions to get access token"
The instructions at https://golang.org/wiki/Gomote#access-token say:

But visiting that URL shows the same dashboard as at http://build.golang.org.

Either the instructions to get a gomote token are out of date, or something happened to the /key handler. We need to find out which.

/cc @golang/osp-team @dr2chase

[2020-04-23 14:49] dr2chase opened #38620 "x/build: need to be able to rerun TryBots on other people's CLs (and my own)"
And, also, the UI is misleading, see below.

### What did you do?

In Gerrit, I first run TryBots on a CL (mine or someone else)'s with "Reply" and then I click the "+1" button next to "Run-TryBot".  This runs TryBots.

The TryBots run, but with errors that look *probably* unrelated to the CL.
Since I ran TryBots by clicking "+1" in the reply pane, "obviously" the way to do this is to reset the va

[2020-04-23 14:53] bcmills commented on #38620
Do you have the trashcan symbol on the `TryBot-Result` line? That's the think you need to click to get a rerun for the same patch set.

![deFi3smibtv](https://user-images.githubusercontent.com/5200974/80113735-b0e69200-8550-11ea-8817-5bcd993da0d6.png)

[2020-04-23 14:54] dmitshur commented on #38620
Thank you for reporting this @dr2chase and providing detail. I agree this is a usability problem. If someone has permissions to start trybots, it seems reasonable that they should also have the permission to restart them.

We should investigate what is a good way to resolve this issue.

Issue #38235 is related, and should also be resolved to improve the usability of trybot restarts.

[2020-04-23 14:55] josharian commented on #36380
This happened.

[2020-04-23 14:55] #36380 closed

[2020-04-23 14:56] josharian commented on #21872
We started constant folding bits.TrailingZeros as part of 1.15.

[2020-04-23 14:58] josharian opened #38621 "cmd/compile: support named values on RHS of rewrite rules"
I'd like to change the amd64 splitload rules to use (TESTQ x x) instead of (CMPQconst [0] x) when possible. However, there's no way to write (TESTQ x x) on the RHS of a rewrite rule unless x is already present on the LHS. You can spell out x twice, but then it generates two distinct values. In normal rewrite rules, we rely on a subsequent CSE to clean that up. But no CSE runs after splitload. Plus

[2020-04-23 15:02] creker commented on #37503
That's where the official port will be a big help. I think the interest in ability to write secure and fast programs in a safer and/or simpler to write languages like Go or Rust is quite high. People want to get away from C and even C++. Rust requires you to go with no_std which is a high price to pay. Go on the other hand is proven to work with pretty much all std library intact. That's a big win

[2020-04-23 15:02] dmitshur commented on #38619
@toothrot is familiar with this. We need to update the documentation.

[2020-04-23 15:03] mangatmodi commented on #20135
@bradfitz interesting. However, I changed to keep a set of keys and used that to browse. Still, GC is able to collect - https://play.golang.org/p/7mMcOruxuG_t

[2020-04-23 15:07] mvdan commented on #38621
How does this compare to https://github.com/golang/go/issues/37423? Both seem to want to add syntax for similar reasons.

[2020-04-23 15:10] josharian commented on #38621
#37423 contemplates calculating reusable Go values with Go expressions. This contemplates generating reusable ssa.Values with s-exprs.

[2020-04-23 15:20] #36422 closed

[2020-04-23 15:23] toothrot commented on #38530
For some context, the new architecture from #25224 introduces sandbox hosts that are separate from our GAE instances (which I have been calling frontends, in the Google parlance).

The frontend healthcheck looks like this:

[code]

With the change to add new sandbox backends, this health check fails if all of the backends are down. AppEngine will mark our app as dead, and will try restarting it.

[2020-04-23 15:23] toothrot commented on #38530
/cc @dmitshur @cagedmantis @andybons

[2020-04-23 15:27] dmitshur commented on #38530
I've discussed this with @toothrot and agree that is a good next step.

[2020-04-23 15:30] go101 commented on #38388
There is a problem in the form `scope:id` from the original post, when the form shows up in re-slice and element indexing expressions, so I removed it from the new template version. OK, I decided to add it back with a new form `scope'id`, so that it can show up in re-slice and element indexing expressions.

This is half true. None of the ideas in https://github.com/golang/go/issues/377 propose to

[2020-04-23 15:32] pjebs commented on #38509
A syso file can be used to embed all sorts of different resources and not just a icon.
I assume adding an icon would be the overwhelming use-case. Generating a sysco file using an external application such as https://github.com/josephspurrier/goversioninfo would be overkill if one merely wants to add an icon and nothing else.

[2020-04-23 15:34] embeddedgo commented on #37303
If we allow `const var` to be only hint for the compiler it ceases to be a problem. The benefit is simple semantic and simple implementation.

I follow the #6386 and I see you are considering more strict and more complicate solutions. But be open to some nonstandard approach. Does a hint for the compiler and at the same time an information for the programmer isn't all we need?

The `const` before

[2020-04-23 15:34] dmitshur commented on #38619
The relevant change was [CL 208320](https://golang.org/cl/208320). I'll update the docs.

[2020-04-23 15:36] ardan-bkennedy opened #38622 "playground: Map based program timesout"
### What version of Go are you using (`go version`)?

Current version of the Go playground

### Does this issue reproduce with the latest release?

Only happening on the playground

### What operating system and processor architecture are you using (`go env`)?

N/A

### What did you do?

https://play.golang.org/p/0KFlxby2a0z

### What did you expect to see?

Program should output the ranging of th

[2020-04-23 15:36] toothrot commented on #38530
It's also worth mentioning that we should move to split health checks: https://cloud.google.com/appengine/docs/flexible/python/reference/app-yaml#updated_health_checks

[2020-04-23 15:39] randall77 commented on #20135
Ah, looks like you're hitting our large key optimization - if a key or value is over 128 bytes, we allocate it on the heap and store a pointer to it in the map bucket. Those allocations will get collected when the key is deleted (because we zero the pointer in the map bucket when deleting).

[2020-04-23 15:40] #38493 closed

[2020-04-23 15:41] randall77 commented on #38621
That syntax seems fine to me. We already do it on the LHS.

[2020-04-23 15:45] randall77 commented on #38622
Maybe a dup of #38546 ? Adding another string to one of the printfs fixes it.

[2020-04-23 15:50] embeddedgo commented on #37503
I'm not sure about that. What I usually hear from such people is: "Yes, I will try, but if there will be a way to disable GC".

You can count more on people from Micropython world but it's still too small. You can count the most on the current Go programmers that for various reasons need to program on the bare-metal hardware but there are only few of them.

[2020-04-23 16:00] mangatmodi commented on #20135
@randall77 Yes, it worked with [120] bytes. GC was not able to collect. Anyways I think its really hard to hit this issue of OOM. Atleast for my usecase. But it is good to understand

-

[2020-04-23 16:03] mvdan opened #38623 "cmd/go: allow 'mod verify' to use multiple CPUs"
For example, on a moderately sized module of mine:

[code]

Given that I have four physical CPU cores, and that the bottleneck seems to be hashing moderately sized zip files on disk, I think there's plenty of room for improvement.

For example, if we verified up to GOMAXPROCS concurrently, I expect the process could easily get two or three times faster on my laptop.

I realise that this command do

[2020-04-23 16:07] creker commented on #37503
@embeddedgo usually people talk about disabling GC not based on actual performance metrics of specific GC implementation but just because they've been taught that way. GC - bad, C++ - good. I don't see any problem running Go GC in embedded applications where there's not much going on to fear that it will eat up too much of the resources. The heap is tiny. And it looks like @abarisani had the same

[2020-04-23 16:08] ianlancetaylor commented on #38509
I don't understand why generating a .syso file is overkill.  Sure, it can do a lot more than add an icon.  So what?  If you want to add an icon, you have to have an icon file.  It's one more command, run exactly once, to turn that icon file into a .syso file.  Then you're done.

A .syso file has another advantage: it is always there, so you don't have to add a command line option when you run `go

[2020-04-23 16:08] dmitshur commented on #38619
Updated the documentation in [this edit](https://github.com/golang/go/wiki/Gomote/_compare/be23af6ca7a86269eca5f25f9300a5bf505dcd03...a0f30f61bded776fdc237ddee0db05a7029831f8). This is resolved, closing.

[2020-04-23 16:08] #38619 closed

[2020-04-23 16:10] ianlancetaylor commented on #37303
I don't think it's acceptable to have `const var` just be a hint.  That will let people write programs that work on one platform and then fail in an inexplicable way when moved to a different platform.  That is a bad user experience.  Sometimes that kind of thing is unavoidable.  But we should do our very best to avoid it whenever possible.

[2020-04-23 16:12] mvdan commented on #38623
I also wonder if there are other commands which are similarly bottlenecked on a single CPU and could be improved. I haven't really noticed any others; for example, `go mod tidy` regularly uses at least three of my cores.

[2020-04-23 16:13] ianlancetaylor commented on #38622
Yes, I think it's a cached time out.  Even changing a comment fixes the problem.

Closing as a dup of #38546.

[2020-04-23 16:13] #38622 closed

[2020-04-23 16:18] stamblerre commented on #38582
Ah, yes that's probably it. Is there any way for you to manually configure the project root? You'll need to open `gopls` with the root of your module or a subdirectory (though this is something we're working on improving in the future). This may be something to ask in the `eglot` issue tracker.

[2020-04-23 16:19] dr2chase commented on #38620
I do have that trash can icon, not sure if I didn't notice it or if it appeared recently.
I think I'd still argue usability, obviously I missed it.

[2020-04-23 16:23] carnott-snap commented on #38342
Totally fair, my goal was just to close that thread, not unnecessarily drag you back into this; sorry for the hassle.

[2020-04-23 16:29] mvdan commented on #37681
Correct - this is what I intended to say in an earlier comment, by "the equivalent of vet, but at run-time".

@bcmills already argued about doing this elsewhere, like a `leak` build tag, and I already agreed with him in an earlier comment. I've now retitled the issue, as we all at least agree on not touching `-race` now.

The only reason I'm convinced this should be part of the toolchain is for tw

[2020-04-23 16:31] dmitshur commented on #38620
Great! You should be able to start using using it to delete the TryBot-Result vote and cause the trybot to restart.

@dr2chase To confirm, do you have that delete button visible both on a CL you are the author of, and on another CL where you are not the author?

To make progress on this issue, I think the next steps here are:

1.	Confirm that everyone who is in the `may-start-trybots` group (docum

[2020-04-23 16:34] mzimmerman opened #38624 "Confusing compiler error when using if instead of for with range operator inside anonymous function"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/mezimm00/.cache/go-b

[2020-04-23 16:36] embeddedgo commented on #37303
OK. If you want to address this in a better way I waiting for it.

But the current state is:

1. People can write wrong code that can work on any platform with no chance to detect this early.

2. You need to document that some variables shouldn't be changed and there is a lack of such information even in standard library (I'm not surprised because continuous documenting such simple thing can be te

[2020-04-23 16:43] andybons commented on #38601
@aclements

[2020-04-23 16:44] andybons commented on #38624
@randall77 @griesemer @josharian @mdempsky @martisch

[2020-04-23 16:49] andybons commented on #38617
Thanks for the issue.

This is expected on linux and RSS will drop if the system is under memory pressure. But this is Windows. Is the same behavior expected @aclements @mknyszek ?

[2020-04-23 16:50] jayconrod commented on #38623
Definitely. @matloob is looking at adding tracing that would help identify bottlenecks.

[2020-04-23 16:56] embeddedgo commented on #37503
I have the same experience as you.

Go GC is very well suited for embedded systems because of the way it avoids fragmentation. You can even write interrupt handlers in Go with the warranty that GC will not disturb them. You can do much on small platform like nRF52840 with only 256 KB of RAM.

GC isn't a problem but an advantage of Go.

But try to convince C/C++ people to it.

Of course there are s

[2020-04-23 16:59] andybons commented on #38618
#30426 seems related

@crvv who had valuable insight before

[2020-04-23 17:00] andybons commented on #38615
@hyangah

[2020-04-23 17:02] andybons commented on #38610
@jayconrod @bcmills @matloob

[2020-04-23 17:11] markus-oberhumer commented on #21872
Actually I did implement this 2 years ago, but I never found the energy to start using Gerrit...

In any case the implementation is as simple as outlined in my initial post.

And just in case anybody is interested, I've pushed my work (based on the go1.13 branch) to Github - please see

  https://github.com/markus-oberhumer/golang--go/commits/constant-fold-math-bits--go1.13

and the actual commit

[2020-04-23 17:16] andybons commented on #38604
Does the following program print the resource limits or also fail with an error?

[code]

[2020-04-23 17:19] chabbimilind commented on #36821
@ianlancetaylor @rsc @aclements @dvyukov @rhysh, this proposal is out for a while now. Please can we prioritize reviewing this?

[2020-04-23 17:22] dandragona-dev opened #38626 "x/crypto/acme: allow OrderFinalization requests to respond with StatusCreated"
### What version of Go are you using (`go version`)?

<pre>
go version go1.14 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
I believe so.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
"linux"
"amd64"
</pre></details>

### What did you do?

I am using the acme client to pe

[2020-04-23 17:25] josharian commented on #21872
@markus-oberhumer thanks. Have you signed a CLA? Without that I'm afraid we can't look at your commit. If you have, and you don't mind, I can get your work incorporated, although the commit will be in my name. (I can credit you in the commit message.)

Alternatively, the Go project now accepts GitHub PRs...

[2020-04-23 17:28] markus-oberhumer commented on #21872
Yes, I did sign the CLA back in 2017 and have a Gerrit account.

But as mentioned I never found the energy to actually start using Gerrit...

[2020-04-23 17:38] markus-oberhumer commented on #21872
@josharian Please use whatever parts you find useful from my commit - this is much less work than me starting to rebase the commit to go1.15 and going through the review process.

Thanks!

[2020-04-23 17:41] josharian commented on #21872
Aye aye.

Can a Googler (@ianlancetaylor maybe) check CLA status for me, just to confirm? Thanks.

[2020-04-23 17:48] bcmills commented on #38610
I think we need a firmer answer on what the WSL proxy behavior is expected to be before we can pursue this as a Go bug. (To my knowledge, nobody on the Go team is an expert on WSL usage.)

However, note that the Go [porting policy](http://golang.org/wiki/PortingPolicy) requires a maintainer and builder for each supported platform. We have builders for (and do support) many Linux systems in general

[2020-04-23 18:13] atombender commented on #38600
Looks like it generally happens in the presence of syntax errors. For example:

[code]

If you try to autocomplete `expectErr` after this code snippet, the same thing happens.

[2020-04-23 18:20] #37768 closed

[2020-04-23 18:26] randall77 commented on #37885
I'm not sure there's anything we can do here, without understanding what syspolicyd is doing, and particularly, what policy it is trying to enforce. Is it something about the Go binary? Are we violating a policy? If so, what policy? Or are we doing something that makes syspolicyd do a lot of work to verify that we're in fact ok policy-wise? Or is it just general slowness with syspolicyd working ha

[2020-04-23 18:33] muirdm commented on #38600
Yup, syntax errors wreak all sorts of havoc. We try to work around "expected" syntax errors you get as you type code (e.g. as you type `if fooBa`), but unexpected syntax errors will still prevent completion from working properly due to various reasons.

[2020-04-23 18:34] #38594 closed

[2020-04-23 18:46] atombender commented on #38600
FWIW, GoLand does not have this issue.

[2020-04-23 18:56] bcmills commented on #38608
I don't know why the other TryBots would have succeeded, but most of the `linux` builders run as `root`, so file permissions are often ignored. (See #10719.)

[2020-04-23 19:11] dominikh commented on #38448
I was originally in favour of this idea, but I've discovered the same issue that mvdan has. A boolean flag wouldn't be fine-grained enough, and we can't add many per-build-system flags to control what data is returned by the build system.

Only returning the data we already have, anyway, might work, but it could also quickly lead to users asking for "just one more bit of information" to be include

[2020-04-23 19:17] jmacd commented on #33701
The OpenTelemetry Go SDK has taken a position on this topic:
https://github.com/open-telemetry/opentelemetry-go/pull/651

The Metrics API needs a LabelSet type that is both inexpensive, as stated in this issue, but also supports an `Equal` method, to support combining metric events by distinct label set. We landed on an `interface{}` containing a variable-size array of key-value structs.

It would