[2017-08-07 04:32] bradfitz commented on #21216
My first comment above contains two possible designs. I think the latter one is better.

Neither of them involve making Gerrit or GitHub API calls.

[2017-08-07 04:34] bradfitz commented on #21330
For questions about Go, see https://golang.org/wiki/Questions.

[2017-08-07 04:34] #21330 closed

[2017-08-07 05:01] judepereira commented on #21216
What would the output be like then? Also, what's the endpoint for change lists? The gerrit code review endpoint? It wouldn't be console friendly.

Not quite sure what use it'd be of then.

[2017-08-07 05:13] alexbrainman commented on #17696
So, you want documentation changed. Thank you for explaining.

Perhaps you are correct. Perhaps it is impossible to describe one. But I consider myself a practical person. The problem you are describing does not bother me.

I am not convinced we need to change code or documentation.
But don't try to convince me, I don't make decisions here.

Alex

[2017-08-07 05:28] jianzhangbjz commented on #21330
Thanks, question is here: https://stackoverflow.com/questions/45539904/how-to-pass-a-two-dimensional-integer-array-to-c-from-go-by-cgo

[2017-08-07 05:43] bradfitz commented on #21216
The intent of this bug is to change the cl tool's backend only (to maintner, probably via dev.golang.org or gRPC calls to https://maintner.golang.org), and not change its CLI UI or output at all.

[2017-08-07 05:48] jianzhangbjz commented on #21330
I think this maybe a bug of cgo. I pass a slice of `String` and `one-dimensional integer array`, both of working well.
But when trying pass `two-dimensional integer array`, failed.

[2017-08-07 05:51] judepereira commented on #21216
Got it. Let me take a look at maintner. Will let you know how it goes.
Thanks!

On 7 August 2017 at 11:14:28, Brad Fitzpatrick (notifications@github.com)
wrote:

The intent of this bug is to change the cl tool's backend only (to
maintner, probably via dev.golang.org or gRPC calls to
https://maintner.golang.org), and not change its CLI UI or output at all.

—
You are receiving this because you comm

[2017-08-07 05:53] skytraveler opened #21331 "proposal: I propose that “go get” supports socks5."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8
### What operating system and processor architecture are you using (`go env`)?
MacOS
### What did you do?

go get -u github.com/golang/protobuf/protoc-gen-go

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang

[2017-08-07 05:55] bradfitz commented on #21331
This was added in Go 1.9. Try it out.

https://tip.golang.org/doc/go1.9#net/http

[2017-08-07 05:55] #21331 closed

[2017-08-07 06:25] #21297 closed

[2017-08-07 07:05] mnot commented on #21326
SGTM, thanks.

[2017-08-07 07:08] dongweigogo opened #21332 "regexp does not recognize non-ascii character"
go 1.8

I need a pattern to only match characters and underlines:
var re=regexp.MustCompile(`[\w_]*`)
however, it also return true for "A_人123" which contains a non-ascii character. Is there any fix for this?

[2017-08-07 07:08] johnrs commented on #17696
No, that is not what I said.

I understand.  Would it being fixed bother you?

[2017-08-07 07:13] nussjustin commented on #21332
You can use ^ and $ in your pattern to match the whole input. [Example](https://play.golang.org/p/DnKF5mrven)

Please use [golang-nuts](https://groups.google.com/forum/#!forum/golang-nuts) or [stack overflow](https://stackoverflow.com/questions/tagged/go) for these kind of questions in the future.

[2017-08-07 07:17] dongweigogo commented on #21332
@nussjustin  OK, I'll switch to golang-nuts for this

[2017-08-07 07:32] as commented on #21303
Then why not just use
[code]

[2017-08-07 07:51] dsnet commented on #21332
Closing this as the issue tracker is intended for bug reports and feature requests. Go nuts is the right place for this. Thanks.

[2017-08-07 07:51] #21332 closed

[2017-08-07 08:31] alexbrainman commented on #17696
Fixes are not free.

Recently we made changes related to this (see CL 47832 and 47833). Austin had to spend his time implementing this changes. Austin could have improved something else instead. And now (after  CLs 47832 and 47833) we have more code in runtime that all runtime developers have to look at and consider. And the code can break in the future.

Same with "improved" version of documentat

[2017-08-07 09:09] cznic commented on #21329
Do the locking in your client code instead of slowing down all non-concurrent clients.

[2017-08-07 09:14] griesemer commented on #21263
`++` and `--` are here plainly for convenience. `i += 1` is twice as long as `i++` in number of characters and a bit more awkward to type.

It would be useful to have some statistics (say, over the std lib) about their use relative to loops and perhaps other operators.

[2017-08-07 09:20] juliandroid commented on #21222
@vstefanovic are you aware of those limitations of the mips port?

Currently I can build golang app (with embedding C too) statically or dynamically, but no -buildmode like shared, c-shared or plugin works for GOOS=linux. Are there any known issues that prevent those on mips?

Thanks!

[2017-08-07 10:01] cyphar commented on #8653
Is there any possibility that we could build `compiler-rt` as part of the normal build process (even if it was optional)? The reason I ask is because we recently [hit a bug in openSUSE](https://bugzilla.suse.com/show_bug.cgi?id=1052528) where we were missing the `.syso`s (they weren't installed for some reason). While we can just copy them in our packages, openSUSE has a strict policy against ship

[2017-08-07 10:02] johnrs commented on #17696
Very little in life is.  :)

Those were related to CL 38403 and issue 20937, not this issue.

Then let me propose an alternate change to the documentation:

    Sleep pauses the current goroutine for about the duration d.

This is both simpler and more correct.  Win-win!

[2017-08-07 10:02] griesemer commented on #15389
@odeke-em Not urgent but I'm aware of it.

[2017-08-07 10:20] dvyukov commented on #8653
This is fixed with https://go-review.googlesource.com/c/16823

You can extract the current build process from (which is basically running a single script):
https://github.com/golang/build/blob/master/cmd/racebuild/racebuild.go

[2017-08-07 10:20] #8653 closed

[2017-08-07 10:21] alexbrainman commented on #17696
I agree this is very small change. But I still cannot make this decision. I did not design / document that API, so I cannot make that call. You have to convince others. Sorry.

Alex

[2017-08-07 10:24] rogpeppe commented on #21132
@metakeule
"You can build type safe wrappers around generic types and functions dealing with empty interfaces."

We can do that currently. How does this proposal help?

[2017-08-07 10:38] prasannavl commented on #17696
Ok. Since I feel this conversation is slightly looking like it's getting
stuck in opinions rather than facts, let me simplify the perspective here:

1. Don't do anything - In this case, this api doesn't do what the
documentation says it does. So, by definition, it's a bug. Please mark it
as a bug, and a known issue case in the bottom like it's done with certain
other godoc pages. I do not think yo

[2017-08-07 10:46] ALTree commented on #21320
Seems reasonable. I would send a gerrit change so we can bikeshed there about the exact wording where in the page put the warning.

[2017-08-07 10:54] ALTree commented on #21143
Thanks for investigating.

Since it can only be reproduced when the `dashboard` repo is outside gopath, and the tool does not support this use case (see #14566), I'm closing the issue.

[2017-08-07 10:54] #21143 closed

[2017-08-07 11:08] rogpeppe commented on #21161
@jimmyfrasche

I think you must be remembering a different thread, unless you were involved in Go when it was released. The spec from 2009/11/9, just before it was released, has:

I remember seeing that when reading the spec for the first time and thinking that was a great rule, as I'd previously used a language with := but without that reuse rule, and thinking of new names for the same thing was

[2017-08-07 12:10] prasannavl commented on #17696
@johnrs, been looking at this more deeply to understand the problem - however I think there's a problem with your time.Now() resolution measurement. `time.Now()` measurement by running it in a loop until is changes is incorrect.

You'll get different time.Now() resolution by doing this during different times depending on the how the OS schedules your threads - which also implies your estimation of

[2017-08-07 12:26] jakob223 commented on #14327
This seems to lead back to what @eatonphil ran into above - the `.init_array` is empty or absent because there are no generated symbols with the name `_rt0_amd64_freebsd_lib`. I've copied the implementation from linux and am working on implementing `newosproc0` on FreeBSD using `thr_new`.

That said, I've looked at the `_rt0_amd64_GOOS_lib` implementations for both `darwin` and `linux`, and they'r

[2017-08-07 12:55] rogpeppe commented on #21161
@mpvl
I think that the trickiness of your original example is more a result of the
the API you're using there than of Go's error handling itself.

It is an interesting example though, particularly because of the fact that
you don't want to close the file normally if you get a panic, so the
normal "defer w.Close()" idiom doesn't work.

If you didn't need to avoid calling Close when there's a
panic,

[2017-08-07 13:01] dchapes commented on #20280
It's real simple to [make an `io.Reader` (or `io.Writter`) that wraps an existing `io.Reader` plus a context](https://gist.github.com/dchapes/6c992bf3e943934462509338cd213e99) (including checking if the the context has a deadline and the reader implements `SetReadDeadline`). If anything, just add such wrappers to `io/ioutil` rather than mucking with the existing `io.Reader` and `io.Writer` interfa

[2017-08-07 13:41] cyphar commented on #8653
Ah okay. Though, you can't access the internet in an openSUSE build context :wink:. That's okay, I should be able to work around that (and maybe I'll send a patch to make `racebuild` work in offline mode).

[2017-08-07 13:57] dvyukov commented on #8653
@cyphar you don't want to take the whole program, just extract the (local) build steps. It does not just access internet, it creates GCE machines and requires permissions to do that.

[2017-08-07 14:12] jakob223 commented on #14327
I am successfully compiling with the modifications, but the test is still failing. Now it's crashing instead of hanging. `.init_array` does get put in the shared object, and it's no longer empty, so I've removed the patch that doesn't include an empty `.init_array`.

[code]

Running the first test in LLDB:
[code]

I'm pretty sure that my `newosproc0` implementation is wrong; in particular, I think

[2017-08-07 14:54] griesemer commented on #21317
Haven't checked if it's a duplicate but this can be improved for sure.

[2017-08-07 15:05] griesemer commented on #21275
We should at least check that 0 <= bitSize <= 64. I believe the code as is would be correct for sizes other then 8, 16, 32, 64 (say 27 if one were so inclined).

Caveats:
- we should try hard to not make the code slower in relevant ways with the extra checks
- it's not clear whether an invalid size should be an error or a panic: typically the bit size would be programmer given and is not arbitrary

[2017-08-07 15:18] special opened #21333 "net/http, x/net/proxy: Panic triggerable by SOCKS5 server"
x/net/proxy's SOCKS5 implementation has a logic error that allows the SOCKS server to trigger a client-side panic:

From https://github.com/golang/net/blob/master/proxy/socks5.go and reduced for clarity:
[code]

The length of `buf` is determined by the server here and may be less than 2.

[2017-08-07 15:29] rogpeppe commented on #21303
I don't believe this is true, although I remember the discussion on changing the semantics of :=.
See my earlier comment: https://github.com/golang/go/issues/21161#issuecomment-320635780

From that previous discussion, ISTR favouring a syntax like this:

    :a, :err = foo()     // equivalent to a, err := foo()
    :b, err = foo()      // b is newly declared; err is not.

This doesn't avoid accide

[2017-08-07 15:34] ianlancetaylor commented on #21196
I'm OK with kicking this to 1.10 at this point.  TSAN use is not a common case for Go.

[2017-08-07 15:39] bradfitz commented on #21333
/cc @mikioh

[2017-08-07 15:48] sirkon commented on #20280
I don't bother be rude: the author is network monkey.
File IO on Linux is blocking. Imagine running another OS thread just to comply the functionality.

And I believe the problem of goroutine cancellation must be solved via the runtime tricks, because it only happened as a consequence of mismatch between synchronous representation of asynchronous environment, so let they introduce another tool to

[2017-08-07 15:54] mpvl commented on #21161
@rogpeppe:

I don't think that is an issue.

Your proposed API change mitigates but doesn't fully solve the problem yet, though.  The required semantics requires other code to behave properly too. Consider the below example:

[code]
In its own right, this code shows that error handling can be tricky or is at least messy (and I would be curious how this could be improved with the other proposals):

[2017-08-07 16:03] cstockton commented on #20282
If context.Context became a builtin and remained a interface, maybe it's worth considering changing the interface to be:

[code]

Now you have opened up a opportunity for user space implementations of not just Context values, but actual context. Part of the reason no specialized context libraries have emerged is due to the fact the context package is tightly coupled to itself to find parent and ca

[2017-08-07 16:13] EddieRingle commented on #21296
I know he's on vacation (or at least he claimed he was, but I still see him on the mailing lists), but I'd love to get @bradfitz's feedback as well when he gets the chance.

[2017-08-07 16:17] bcmills commented on #15292
@jimmyfrasche @andrewcmyers For that use-case, see also https://github.com/golang/go/issues/4146#issuecomment-318200547.

[2017-08-07 16:26] rogpeppe commented on #21161
I often find with error handling code in Go that creating another function can clean things up. I would write your code above something like this:

	func something() {
		r, w := io.Pipe()
		go func() {
			err := copyFromNewReader(w)
			w.CloseWithError(err)
		}()
		...
	}

	func copyFromNewReader(w io.Writer) error {
		r, err := newReader()
		if err != nil {
			return err
		}
		defer r.Close()
		_

[2017-08-07 16:27] jimmyfrasche commented on #21303
@as I don't care about the *specific* syntax used as long as there is *some* syntax with the desired semantics

@rogpeppe I could easily be misremembering or confusing it with a comment from the Go team that "it worked like that but then we changed it". Maybe even another language entirely. I tried to find the thread to check before posting but could not so I crossed my fingers and posted. Oh well

[2017-08-07 16:28] rogpeppe commented on #21161
@mpvl

BTW, this line always calls CloseWithError with a nil error value. I think you meant to
write:

    defer func() {
       w.CloseWithError(err)
    }()

[2017-08-07 16:28] zombiezen commented on #20280
@dsnet and I came up with a way this could be introduced gradually.  Instead of modifying the interfaces directly, taking the database/sql approach:

[code]

By having this be a different interface, existing concrete types (like `*os.File`) could implement both interfaces and this could be a backward-compatible change.

@dchapes: Yes, I have done this before.  Where `SetReadDeadline` fails is if t

[2017-08-07 16:56] sirkon commented on #20280
@zombiezen

Try to read about blocking and non-blocking IO at least at the API level. TCPConn's socket is already non-blocking in Go and it is only needed to "just" add another coupled file descriptor (timer) into the event loop to control exit. "Just" because it is yet another syscall and syscalls are expensive.

On files: asynchronous file IO don't work well in Linux and turn to be blocking for

[2017-08-07 17:37] ALTree commented on #20032
@grepory  Putting `errchk` in the stdlib just to ease the building process in definitely a no-no IMHO. If everything else fails, I'd say last resort would be to just copy the two functions in the `vet_test` files and use them from there.

[2017-08-07 17:42] grepory commented on #20032
errcheck is used in more than vet test, iirc. I couldn't figure out a way to do it that didn't involve duplication, so I just decided not to drop it for now. And yeah, I agree with you about errcheck in stdlib.

[2017-08-07 17:43] randombit opened #21334 "crypto/elliptic: bug in x86-64 P-256 implementation"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8.3 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

Arch Linux on x86-64

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/jack/opt/go"
GORACE=""
GOROOT="/usr/lib/go"
GOT

[2017-08-07 17:44] #21325 closed

[2017-08-07 17:49] ALTree commented on #20032
A silly recursive grep in `src/` for `errchk` (the name of the perl file) only shows results in `./cmd/vet/vet_test.go`, but maybe I missed some uses.

[2017-08-07 18:00] laboger commented on #20756
I found the problem with c-shared.  The code in runtime/rt0_linux_ppc64le.s for _rt0_ppc64le_linux_lib is incorrect because it computes the callee's r2 at the beginning of the function and then saves it onto the caller's stack.  This shouldn't be done because the caller should be saving and restoring its own r2 before and after the call.

Once this is corrected then c-shared works for ppc64le and

[2017-08-07 18:03] carlmjohnson commented on #21303
I would like it if shadowing an outer scope in the short declaration were banned.

So, for example, this would be legal:

    func Example() (int, error) {
        x, err := thingOne()
        if err != nil {
            return 0, err
        }
        y, err := thingTwo()
        if err != nil {
            return 0, err
        }
        return x+y, nil
    }

Because while `err` is reused, it d

[2017-08-07 18:06] dsnet commented on #20280
@sirkon, thank you for your concerns about syscall efficiency, which contribute to the discussion. However, saying "the idea stinks. It just looks ugly, it is the shame you don't realize this yourself" doesn't help the discussion. I think you may be failing to recognize the problem that this issue is trying to solve. These issues are intended to be a place to discuss ideas in a civil manner.

The

[2017-08-07 18:19] grepory commented on #20032
Probably not. I think I was conflating this with another issue I read which was "remove use of perl in build process" -- which is something to which we should all aspire.

[2017-08-07 18:44] vstefanovic commented on #21222
Hi @juliandroid, indeed, these three modes aren't supported for mips.
c-shared is mostly done, it will be submitted after soft-float gets merged;
shared and plugin mode are on the todo list.

[2017-08-07 18:49] bcmills commented on #21263
@griesemer I am not aware of any other features in Go that exist to save a handful of characters per operation. What is different about these operators that makes them exceptional?

The two closest examples I can think of are:
* `new`, but it also allows the writer to omit an entire statement and variable when non-composite types are involved (and see also #148 and #20446); and
* type-elision for

[2017-08-07 18:59] bcmills commented on #20803
@jimmyfrasche

Given the list in https://github.com/golang/go/issues/20803#issuecomment-312318808, I think those are the only ones that really matter. Even the canonical example of an intentionally-ignored error, `fmt.Printf`, is only safe to ignore if the program is small and self-contained. (The special cases for `bytes.Buffer` and `hash.Hash` are easy enough to encode in a linting tool either w

[2017-08-07 19:14] bcmills commented on #21161
@mpvl I think your `io.Pipe` example could also be improved by fixing the API.

Note that the error returned by the `Close` method on an `io.Reader` is almost never useful (see the list in https://github.com/golang/go/issues/20803#issuecomment-312318808).

That suggests that we should write your example today as:

[code]

...which seems perfectly fine to me, apart from being a bit verbose.

[2017-08-07 19:17] mpvl commented on #21161
@rogpeppe: indeed, thanks. :)

Yes, I'm aware of the goroutine issue. It is nasty, but probably something that is not hard to catch with a vet check. Anyway, I don't see errd as a final solution but more as a way to get experience on how to best address error handling. Ideally there would be a language change that solves the same problems, but with the proper restrictions imposed.

That is not wha

[2017-08-07 19:18] johnrs commented on #17696
@prasannavl - You are correct, of course.  But if care is taken to run the test on a system that is lightly loaded and has multiple CPUs then the chances that the test's thread will get paused are pretty small.

Dowork was an attempt to introduce a delay which didn't depend on the system clock.  It was messy and the result (sleep for slightly less than 1 tick + work for half a tick) was hard to ex

[2017-08-07 19:21] tillulen commented on #21275
Not panicking seems the safer choice here, because some users might be doing interesting things to compute their bitSize based on something else.

Let’s say you need to parse some input according to some user-defined format. Both the input format and the input become known only at runtime. (You may need this in a compiler, a development environment, a reverse engineering tool or an advanced hex ed

[2017-08-07 19:27] rogpeppe commented on #21303
@carlmjohnson
What about this example?

	func Example() (int, error) {
		x, err := thingOne()
		if err != nil {
			return 0, err
		}
		f := func() int {
			y, err := thingTwo()
			if err != nil {
				log.Println(err)
			}
			return y
		}
		return f(), nil
	}

[2017-08-07 19:29] paulzhol commented on #15191
I've started seeing these as well on freebsd-arm-paulzhol:
https://build.golang.org/log/d89169422b2e1c3f4765d7d9093faa56510e21ec
https://build.golang.org/log/6b83f0f1b1ba97c0efb74fae4bb05280c26b8a22
https://build.golang.org/log/664eb5529a95b2b051d874ebc6d4f0412266984e

I'm not sure why it started appearing now. There have been some changes in the environment: switched to a buildlet based builder,

[2017-08-07 19:29] carlmjohnson commented on #21303
I think that having to call the error `err2` is a small price to pay for making closures close over what you expect in other cases.

[2017-08-07 19:32] bcmills commented on #21161
@jimmyfrasche

That's a very good point. The usual problems with falsiness come from forgetting to invoke a boolean function or forgetting to dereference a pointer to nil.

We could address the latter by defining the operator to only work with nillable types (and probably dropping `=!` as a result, since it would be mostly useless).

We could address the former by further restricting it to not wor

[2017-08-07 19:34] bcmills commented on #21275
Yes, unless those errors are hard to avoid in practice.

That said, given that `ParseInt` already needs to return an `error` anyway, adding a `panic` seems excessive.

[2017-08-07 19:38] mpvl commented on #21161
@bcmills: this code has two problems 1) same as @rogpeppe mentioned: err passed to CloseWithError is always nil, and 2) it still doesn't handle panics so that means the API will report success explicitly when there is a panic (the returned r might emit an io.EOF), even if 1 is fixed.

Otherwise I'm agree that the error returned by Close can often be ignored. Not always, though (see first example).

[2017-08-07 19:57] rsc commented on #21296
If this is the problem you want to solve, then halving the release cycle still means waiting 4.5 months for a critical fix. If 9 months is not OK, I don't see why 4.5 months is OK. That is, I don't think halving the release cycle really solves this problem.

But halving the release cycle does create various problems, chief among them that we don't have time to do that and maintain quality.

So thi

[2017-08-07 19:59] jeffreydwalter commented on #14177
Is this going to get fixed?

[code]
kinda sucks.

[2017-08-07 20:00] ianlancetaylor commented on #21334
CC @agl @vkrasnov

[2017-08-07 20:00] rsc commented on #21329
@pjebs:

And why is that not good enough? Ultimately the SQL database is handing back results one at a time. Even if we went through the effort of allowing concurrent calls to Next, they'd have to coordinate with a Mutex (not an RWMutex) to get access to the actual rows. Doing that in your code is going to run just as well, without having to introduce API complexity for all users.

[2017-08-07 20:01] rsc commented on #21292
I want to solve this problem as part of the work on package management, but it probably won't be exactly a flag. Will put this on hold for now.

[2017-08-07 20:03] ianlancetaylor commented on #21334
Seems to have broken in the 1.6 release.

[2017-08-07 20:11] FiloSottile commented on #21334
Duplicate of #20215

[2017-08-07 20:14] jimmyfrasche commented on #20803
@bcmills Special cases for `bytes.Buffer` in the standard library are easy enough to special case in a linting tool but that doesn't help with the problem of making it clear to someone looking at the docs that it can always be ignored or the problem of discovering such funcs outside the standard library. A convention here would be useful to people and linters.

Let's say there was a way to documen

[2017-08-07 20:20] randombit commented on #21334
Sorry, after confirming 1.8.3 was latest release I did not think to check open issues - #20215 definitely looks to be the same issue.

[2017-08-07 20:20] #21334 closed

[2017-08-07 20:34] mpvl commented on #21161
@bcmills:

Does it? Defers of that goroutine still get called. As far as I understand they will run to completion. In this case the Close will signal an io.EOF.

See, for example, https://play.golang.org/p/5CFbsAe8zF. After the goroutine panics it still happily passes "foo" to the other goroutine which then still makes it to write it to Stdout.

Similarly, other code may receive an incorrect io.EO

[2017-08-07 20:36] rsc commented on #21209
In the original report:

(The last two were one bullet in the original.)

Examining a binary (\#2) is very different from deciding how to invoke a compiler (\#1 and \#3), and for examining a binary the debug info is the clear answer. It would probably make sense for delve developers to file a separate issue for \#2 explaining what they need that's not in the debug info, and we can work on expandin

[2017-08-07 20:47] rsc commented on #21278
The docs seem clear. Given that, let's fix the bug.

[2017-08-07 20:47] EddieRingle commented on #21296
I think this is the problem I'm trying to get at: "Why are releases so painful for the Go team that they choose not to release more frequently than every 6 months?"

I don't see why Go (especially with Google's backing and infrastructure) isn't able to do this when other projects like the Linux kernel, Rust, and GitLab are. They're able to iterate and receive feedback quickly, with new releases ev

[2017-08-07 20:50] leonklingele commented on #18645
[This](https://github.com/awnumar/memguard) library seems to the job.

[2017-08-07 20:51] rsc commented on #21275
It seems fine to introduce a bad bit size error (for bitSize < 0 or > 64). It shouldn't be a panic. (We don't panic unless it's unavoidable, and there's an error result.)

[2017-08-07 21:09] syscrusher commented on #21061
I can reproduce with an otherwise empty `$GOPATH`. Instead of go-bindata, try etcd.

According to their [docs](https://github.com/coreos/etcd/blob/master/Documentation/dl_build.md#build-the-latest-version), you can get it either vendored or not. I can reproduce with both.
- `go get github.com/coreos/etcd/cmd/etcd` (vendored)
- `go get github.com/coreos/etcd` (not vendored)

Confirmed to be caused

[2017-08-07 21:15] juliandroid commented on #21222
Thanks Vladimir! Good to know those are on the todo list!

[2017-08-07 21:39] tombergan commented on #21200
Since you're unable to reproduce, I'm going to close under the assumption that it's been fixed. There have been some performance improvements in 1.9. Please reopen if the problem persists.

[2017-08-07 21:39] #21200 closed

[2017-08-07 21:41] tombergan commented on #21229
I think I'm fixing this in https://go-review.googlesource.com/c/53250.

[2017-08-07 21:53] andreimatei commented on #21297
FWIW, I've encountered a similar crash with `go version go1.8 darwin/amd64`:
[code]
https://golang.org/cl/38091 seems to have been committed in March, so after go 1.8 was released.

[2017-08-07 22:06] bcmills commented on #21296
One key difference between Go and the Linux kernel and Rust, at least, is that neither of the latter include a garbage collector. GC bugs in particular tend to be difficult to detect (because tests don't often trigger many GC cycles) and diagnose (because symptoms of GC bugs often don't occur until an access much later in the program).

[2017-08-07 22:10] bcmills commented on #21161
Why not? The `return err` at the end will set `rerr` to `nil`.

[2017-08-07 22:10] bradfitz commented on #21061
@broady, @ianlancetaylor, you probably want to revert https://go-review.googlesource.com/c/45096 for Go 1.9.

[2017-08-07 22:21] #20265 closed

[2017-08-07 22:45] ianlancetaylor commented on #21297
@andreimatei If you are seeing a problem with Go 1.8, then it is a different problem.  Please open a new issue with reproduction instructions.  Thanks.

[2017-08-07 22:52] ianlancetaylor commented on #21296
In addition to what @bcmills said, I think the deeper underlying issue is the integrated compiler and runtime that Go uses, plus the range of targets that we try to support.  Or maybe we just suck, it's hard to tell.

It's tempting to think that Google's backing and infrastructure would let the Go team do anything, but the Go team is small and not in any sense a company-wide priority.

In any case

[2017-08-07 22:53] 0intro opened #21335 "net: TestLookupCNAME sometimes failing on Plan 9"
Sometimes, TestLookupCNAME is failing on Plan 9.

[code]

Indeed, resolving an nonexistent CNAME can result in either the "dns failure" or the "resource does not exist" error. This behavior can be reproduced with ndb/dnsquery:

[code]

This is related to (closed) issue #18391.

[2017-08-07 23:06] BenPope commented on #21229
Yes, I believe so.

[2017-08-07 23:15] ianlancetaylor commented on #21061
Reopening to port over to 1.9 release branch.

[2017-08-07 23:26] josharian commented on #21263
https://github.com/josharian/gofor has a crude script and some four-year-old data in the readme. I doubt usage patterns have changed substantially since. I hacked it together long ago in preparation to write a proposal to expand range loops to work with integer ranges. (I ended up not writing it because I perceived it to be pointless, in light of some of Rob's comments on golang-nuts.)

[2017-08-07 23:28] ianlancetaylor commented on #14177
@jeffreydwalter I think that is a different problem.  `go list` will look for packages in `GOPATH` unless explicitly told otherwise.

[2017-08-07 23:47] ALTree commented on #21296
Saying "but look at project X, they release every 6 weeks" is not terribly useful.

You mentioned the Linux kernel and gitlab, but they're products so different from a programming language that I'm not sure their release frequency is relevant, at all.

Regarding Rust, yes, they release quick, but considering that

1. The rust standard library is **very** small compared to the Go (or Python) one. T

[2017-08-07 23:57] dsnet commented on #21005
This bug from Go1.7 and below is really unfortunate.

When I submitted https://golang.org/cl/31444, I tried to add logic to at least have the Reader be able to read these buggy files, even if the `Name` was wrong. We could have it fallback to parsing those bytes as the prefix, but the problem is that there is no reliable way to distinguish between the following:
* Whether the tar file was generate

[2017-08-08 00:17] mikioh commented on #21333
See https://go-review.googlesource.com/c/38278; it also fixes this issue.

[2017-08-08 00:18] mikioh commented on #21333
Not sure why packages in x/net repo need to have Go1.10 label, though.

[2017-08-08 00:39] stevvooe commented on #21005
@dsnet Thanks for looking into this!

Agreed that this is extremely unfortunate.

In general, we'll be in favor of any solution that ensures we no longer have to carry forks of the `archive/tar` package. The number of layers affected is minimal, so I think such a fallback would be appropriate.

cc @dmcgowan @tonistiigi

[2017-08-08 01:07] yanpozka commented on #21288
I think this issue should be open in the Go on Mobile project: https://github.com/golang/mobile
Also Go isn't a framework

[2017-08-08 01:19] jeffreydwalter commented on #14177
@ianlancetaylor, I don't really follow.

How does `$GOPATH` come into play in my example?

./foo/... is a relative path, just like foo/..., isn't it? I assume the issue is that the path that starts with . is being treated as a relative path and the one without is not, but that seems wrong to me.

`ls ./foo/` and `ls foo/` are functionally equivalent (both relative paths) in shell parlance, I guess

[2017-08-08 01:24] jbowens opened #21336 "x/net/http2: bogus greeting when providing TLSClientConfig"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.9beta2 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Download https://gist.github.com/jbowens/3e1f7443d6cb1bf8071f4aea2397c4b1

go1.9beta2 run main.go

### What did you expect to see?

[2017-08-08 01:28] lwc commented on #20282
This seems less-worse than `context` spreading like a plague over [all our sacred interfaces](https://github.com/golang/go/issues/20280)

[2017-08-08 01:35] odeke-em commented on #21336
@jbowens, to avoid using http2, the documentation at https://golang.org/pkg/net/http says
<img width="892" alt="screen shot 2017-08-07 at 7 32 07 pm" src="https://user-images.githubusercontent.com/4898263/29052410-2b39a2b0-7ba7-11e7-87e9-d3bfa8a28875.png">
 set `Transport.TLSNextProto`, so in your gist please set
[code]
and that should use HTTP/1. Does this change your bug report?

[2017-08-08 01:48] bradfitz commented on #21333
@mikioh, it gets a Go1.x label if it's vendored into std.

[2017-08-08 01:48] #20998 closed

[2017-08-08 02:08] jbowens commented on #21336
@odeke-em thanks, but I don't think it does. I can avoid this error by explicitly configuring the protocols. I was more reporting the fact that this configuration causes the client to negotiate http/2 but then request using http1.

[2017-08-08 02:22] mikioh commented on #21333
@special,

I agree that it's a bug that io.ReadFull is not cancelable in the existing SOCKS client implementation. Although, I'm still not sure how the corrupted message from a SOCKS server makes a SOCKS client crash. Can you please explain the detail?

@bradfitz,

Ah, I forgot it.

[2017-08-08 02:23] odeke-em commented on #21336
Aye aye, thanks for letting me know. I'll call in the big guns /cc @bradfitz @tombergan.

[2017-08-08 03:01] special commented on #21333
@mikioh

If the server sends `socks5Domain` and a length (`bytesToDiscard`) of < 2, `buf` is resized to that length. The slice `buf[:2]` when reading the port will then be invalid.

It looks like the code at https://go-review.googlesource.com/c/38278 does avoid this issue.

[2017-08-08 03:40] prasannavl commented on #17696
I understand the premise. But just wrapping my head around to see if there's a better way to test this while dealing with such low intervals.

My concern is the definition of what's 1 tick - and how that's measured.  QPC can measure intervals with the highest possible accurately, but not how many ticks a particular program has gone through. I think the most accurate (and Microsoft recommended way)

[2017-08-08 03:46] Vektah commented on #20282
If we ignore context values why not reduce it all the way down to just the cancel channel stored internally per gouroutine and let `go func()...` return a canceller:

[code]

timeout:
[code]

Advantages:
 - conceptually simple
 - covers the 99% of context proliferation
 - requires adding only the close channel to the goroutine storage
 - probably not a bc break with 1.0

Drawbacks:
 - you need gor

[2017-08-08 04:06] mikioh commented on #21333
@special,

Thanks for the information. Looks like it's better to add a few test cases on corrupted TLV-style data into CL 38378.

[2017-08-08 04:19] dominikh commented on #14177
`go` is not `ls`. The arguments to `go list` are package paths, which may be relative (starting with a `./`), or absolute. Absolute paths are looked up in GOPATH. Package paths are not POSIX paths.

[2017-08-08 04:29] #21194 closed

[2017-08-08 04:31] #21026 closed

[2017-08-08 04:39] #18412 closed

[2017-08-08 04:48] johnrs commented on #17696
The intervals for Windows aren't that low, so QPC works fine.  It has nearly 2000 times the resolution of a tick on my machine.  From what I read this is typical.

My scheme seems to produce repeatable, correct results for the QPC, time.Now, and time.Sleep(1) ticks.  Indeed, that the QPC tick measurement works (admittedly it does double or otherwise fail from time to time) showing 550ns says somet

[2017-08-08 04:59] bmkessler commented on #13745
I had just had a quick go at getting this started with the above CL.  I added a routine to the nat multiplication that does the schoolbook squaring with about half the multiplications, but additional bookkeeping overhead to collect, shift and add the cross products.  There is some improvement for intermediate range (I'm sure the basic squaring routine I wrote could be optimized) before karatsuba m

[2017-08-08 05:16] ScottMansfield commented on #21195
I haven't seen anyone mention this so I'll throw in this use case as well: Disk-backed data structures. From what I've seen here, if you have a memory mapped data structure relying on hashes you'd be unable to take advantage of a hash function that doesn't allow for a seed to be passed in. Even then, if the implementation is opaque it'd be unwise as an implementer to rely on it not changing betwee

[2017-08-08 05:22] tombergan commented on #21336
The behavior is definitely inconsistent. `http.Transport` says:

https://golang.org/pkg/net/http/#Transport
[code]

Note "may not be enabled". As you point out, the code [does not enable](https://github.com/golang/go/blob/c522b2bec9e6186a8efb7ddd221295390638a18e/src/net/http/transport.go#L220) HTTP/2 when TLCClientConfig is specified.

`http.Server` makes no guarantees one way or the other and [wi

[2017-08-08 05:27] alexbrainman commented on #21085
Unfortunately what Ian said is correct. os/exec.Cmd.ExtraFiles does not work on Windows. We use Windows CreateProcess API to start new process. CreateProcess accepts STARTUPINFO struct that has only hStdInput, hStdOutput and hStdError fields. You can pass any file handle from one process to the other (just like on Unix), but you need some way for processes to exchange file handle numbers (stdio or

[2017-08-08 05:34] alexbrainman commented on #21105
I think it is good idea. And will not be too complicated to implement.
@pquerna, please, ping us if you won't get decision soon. Thank you.

Alex

[2017-08-08 06:10] choleraehyq commented on #21221
Should we simply add an exceptional case in evconst to solve this? Seems no other types can have the same problem.

[2017-08-08 06:49] johnrs commented on #17696
Done.  https://play.golang.org/p/nH3LnBNQtj

This is what I see.

	Parameter Tests

	  QPC Timer tick:              549ns
	  time.Now monotonic tick:     1ms
	  time.Now wall clock tick:    1.0001ms
	  time.Sleep(1) re QPC:        1.000487ms
	  time.Sleep(1) re monotonic:  1.000057ms

	Manual Test - Hit Enter for a loop of 5 Sleep(900us)'s, Ctrl-C to exit:

	    1st       2nd       3rd       4th

[2017-08-08 07:11] dvyukov opened #21337 "cmd/gofmt: fails on type aliases"
go version go1.8.3 linux/amd64

I've pulled latest versions of all deps, including golang.org/x/net/context. Now 1.8 go fmt ./... fails with:
[code]
https://travis-ci.org/google/syzkaller/builds/262119828

Not sure what exactly part is guilty. But I guess it will affect a bunch of users.
Go1.9 is not released yet, and I am not sure when it will appear on travis-ci.org.
go fmt ignores build tags, w

[2017-08-08 07:57] griesemer commented on #21275
Assigned to @martisch per discussion with him.

[2017-08-08 07:58] griesemer commented on #21278
Assigned to @martisch per discussion with him.

[2017-08-08 08:00] #21335 closed

[2017-08-08 08:14] petraalm commented on #21288
Gomobile uses this issue tracker, you just need to set the x/mobile tag.
Regarding the framework, apologies if I was unclear, I was refering to my own code written in Go, which was then exported to an iOS framework with `gomobile build`, just like it says in [docs](https://github.com/golang/go/wiki/Mobile).

[2017-08-08 08:17] odeke-em commented on #21337
@dvyukov for now, I've added for you a PR at https://github.com/google/syzkaller/pull/329, please test it out on Travis CI and it should be able to run the tests against Go1.9rc1 as well as tip, instead of against 1.8.1 on which aliases are gonna trip out, and when Go1.9 is released then we can update from 1.9rc1 to 1.9.

[2017-08-08 08:26] karalabe opened #21338 "testing: tests after a data race are marked as failed (1.9rc2)"
~~Maybe I missed this behavior until now, still it seems a bug.~~ Opposed to Go 1.8.3 (https://github.com/golang/go/issues/21338#issuecomment-320894256), running a racey test suite with Go 1.9rc2 results in all tests after the racey one being marked as failed:

[code]

[code]

Note, `TestPostRace` is marked as failed.

[2017-08-08 08:28] mpvl commented on #21161
@bcmills: ah I see what you mean now. Yes, that should work. I'm not worried about the number of lines, though, but rather about the subtlety of the code.

I find this to be in the same category of problems as the variable shadowing, just less likely to run in to (possibly making it worse.)  Most variable shadowing bugs you'll arguable run in to with good unit tests. Arbitrary panics are harder to

[2017-08-08 08:38] davecheney commented on #21338
Can you please check and see if this is a regression over 1.8?

On Tue, Aug 8, 2017 at 6:26 PM, Péter Szilágyi <notifications@github.com>
wrote:

[2017-08-08 08:45] dominikh commented on #21338
Failing tests due to races is new in 1.9 – that it flags all following tests as failed might be a bug.

[2017-08-08 08:53] karalabe commented on #21338
@dominikh Tests always failed if a data race was detected.

@davecheney Go 1.8.3 only marks the racey test failed, not the others.

[code]

[2017-08-08 08:57] dominikh commented on #21338
@karalabe The commit I was thinking of is 221541ec8c4ec1b0ed0c6f26f5e13ca128e2a3cd

[2017-08-08 08:58] davecheney commented on #21338
This may be a regression /cc @ianlancetaylor @broady

[2017-08-08 08:59] tonyjt opened #21339 "crypto/x509: ParseCertificate error: PrintableString contains invalid character"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8

### What operating system and processor architecture are you using (`go env`)?
mac

### What did you do?
parse certificate

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

https://play.golang

[2017-08-08 09:03] tonyjt commented on #21339
the certificate can be parsed success in php...

// isPrintable reports whether the given b is in the ASN.1 PrintableString set.
func isPrintable(b byte) bool {

	bb := 'a' <= b && b <= 'z' ||
		'A' <= b && b <= 'Z' ||
		'0' <= b && b <= '9' ||
		'\'' <= b && b <= ')' ||
		'+' <= b && b <= '/' ||
		b == ' ' ||
		b == ':' ||
		b == '=' ||
		b == '?' ||
		// This is technically not allowed in a Prin

[2017-08-08 09:07] davecheney commented on #21339
![screen shot 2017-08-08 at 19 05 47](https://user-images.githubusercontent.com/7171/29064549-a8431028-7c6c-11e7-8de8-d51e79cbe7b5.png)
An online certificate decoder suggest that the organisation name is not a valid PrintableString. A PrintableString may only contain certain characters, https://en.wikipedia.org/wiki/PrintableString, no Big-5, Punycode, or UTF-8.

How did you generate this certific

[2017-08-08 09:09] tonyjt commented on #21339
not my certificate...i can't change it

[2017-08-08 09:11] davecheney commented on #21339
I'm sorry, this certificate is not valid. Some implementations may accept it, but Go's strict implementation will not accept it.

[2017-08-08 09:12] davecheney commented on #21339
Which device or manufacturer generated this certificate? /cc @agl

[2017-08-08 09:12] tonyjt commented on #21339
I know it contains gbk characters, but the certificate is generated by another company...

[2017-08-08 09:15] davecheney commented on #21339
It was also generated 14 years ago ...

[2017-08-08 09:16] tonyjt commented on #21339
............

[2017-08-08 09:17] fjl commented on #21313
It would be possible to fix this by setting GOROOT in cmd/go for `go run`. Maybe that's simple enough for go 1.9?

[2017-08-08 09:21] davecheney commented on #21339
@tonyjt i'm just trying to help mate. Please be mindful that there is a live human on the other side of this discussion. I appreciate you are frustrated, but as a volunteer, it is not appropriate to direct that frustration as others.

[2017-08-08 09:21] #21225 closed

[2017-08-08 09:27] tonyjt commented on #21339
I ask them to regenerate the certificate, but they say no...

[2017-08-08 09:30] tonyjt commented on #21339
looks like clone the asn1 and x509 packages  is the only solution for me, appericate for you help

[2017-08-08 09:33] davecheney commented on #21339
Why won't they regenerate the certificate? It expired 14 years ago.

[2017-08-08 09:34] mvdan commented on #21339
I went to have a look at the RFC: https://www.ietf.org/rfc/rfc5280.txt

At page 113, it seems to say that `X520OrganizationName` can be any valid utf-8 string, unless I'm reading it wrong:

[code]

[2017-08-08 09:36] davecheney commented on #21339
Correct, but their certificate indicates that this is a PrintableString. They could choose to use another encoding, but they chose PrintableString.

[2017-08-08 09:37] davecheney commented on #21339
Why won't they regenerate the certificate? What use is a certificate that expired 14 years ago, even if you could decode it, you'd have to tell the TLS package to ignore the fact it is expired. At that point, why use a certificate at all?

[2017-08-08 09:38] tonyjt commented on #21339
i don't know, maybe they think it works in java and php...

[2017-08-08 09:56] griesemer commented on #21263
@bcmills As I said, they are here plainly for convenience (the convenience being that they are shorter and easier to type than the equivalent). When we started with Go there was an (perhaps incorrect) understanding that `++` and `--` are frequent and would be widely used (based on past usage in C, of course, where they are also there for convenience). Maybe that convenience is not that important a

[2017-08-08 10:06] dominikh commented on #21263
I find "they're confusing to newcomers" a weak argument. The argument is backed by a link to an FAQ entry that suggests that our operators are confusing because they're less powerful than those in C. Based on that argument, a valid fix would be to make them more complex.

In reality, I don't think that these operators are confusing. People with no solid background in C-like languages can easily le

[2017-08-08 10:42] mh-cbon opened #21340 "wiki: apt-get install golang-1.8-go: did not work"
### What operating system and processor architecture are you using (`go env`)?
ubuntu 16.x

### What did you do?

provision vagrant box to run some go app,

[code]

then i ran this bunch of commands,

[code]

### What did you expect to see?

The commands provided in the wiki page at https://github.com/golang/go/wiki/Ubuntu just works out of the box without confusion.

### What did you see instead?

[2017-08-08 11:33] bep opened #21341 "cmd/go: 'go test' output incompatible with benchstat"
I thought I should take the new Go 1.9rc2 for a spin on Hugo and compare the performance with Go 1.8.3. But when writing the output file to use with `benchstat` I have to manually remove the `goos` etc. info that is printed before the actual benchmark results. This info is not present when running the same benchmark with Go 1.8.3.

[code]

On the positve note, when I remove those lines and run `be

[2017-08-08 11:35] enrichman commented on #21239
I'm not sure if I had to claim the issue, but since it was a really small fix I submitted it: https://go-review.googlesource.com/c/53750 :)

[2017-08-08 11:47] ALTree commented on #21341
Can't reproduce the issue:

[code]

[code]

[code]

Are you using the latest benchstat binary? The one in `x/perf/benchstat`?

[2017-08-08 11:57] ALTree commented on #21340
But it's at the bottom of the page:

In the initial script you did

[code]

and then, when you run the correct command later

[code]

it finally worked. So what's the issue here? It seems to me that the wiki instruction for 16.X at the end of the page are correct.

[2017-08-08 12:26] griesemer commented on #13745
@bmkessler Thanks. Please let's do the latter: introduce a new method nat.sqr and then use a pointer comparison in Int.Mul/Rat/Float as needed. Start with Int for now (separate CLs for the others). It's a bit more code but it will not make nat.mul slower in the general case and it will make squaring faster because many additional checks can be simplified or avoided. See also my comments on the CL.

[2017-08-08 12:47] elvarb commented on #10464
I'm running into this problem I think with a program that is scanning files to search for certain data, when it encounters a JAR file it is processed as a zip file. Now checking the logs I'm noticing that when the program has been stopping for unknown reasons in most cases its scanning JAR files, and specifically certain rt.jar file that is a part of JRE.  Most of the time the program can read the

[2017-08-08 13:09] aarzilli commented on #21209
There is nothing at the moment that fits this description. Delve is parsing the output of `go version` to know which flags to pass to the compiler, that's all at the moment.

[2017-08-08 13:25] griesemer commented on #21256
@ALTree, @ianlancetaylor I don't believe that is correct: The spec says that a program is created by linking a single, unimported package `main` and that that package must contain a function `main`. It doesn't say that a package `main` cannot have variables, types, or constants called `main`. In fact, it is possible to have a library called main. For instance, given two files/packages `tmp/a/a.go`

[2017-08-08 13:41] mh-cbon commented on #21340
all good then.

[2017-08-08 13:41] #21340 closed

[2017-08-08 13:59] agnivade commented on #17895
Hi everyone,

I was pretty excited to try out the perf benefits of the FMA operation in 1.9. However, it seems that I am still getting the same performance. According to @laboger's [comment](https://github.com/golang/go/issues/17895#issuecomment-286245700) there seem to be improvements of math functions on ppc64. I was under the impression that I will be able to reap similar benefits on amd64 too

[2017-08-08 14:11] ianlancetaylor commented on #21239
As noted on the CL, I think the comment is actually correct.  The comment is not inconsistent with the code, it is meant to be read with the later comment.

I'm going to close this since I don't think there is a problem here.  Please reply if you disagree.

[2017-08-08 14:11] #21239 closed

[2017-08-08 14:22] minping111111 opened #21342 "Two-dimensional slice with append operation will change the slice unexpected"
![image](https://user-images.githubusercontent.com/9964047/29076314-bc76a62a-7c87-11e7-9523-1664dd4ee03c.png)
see the screenshot above,I used the  Two-dimensional slice as the first param of the append operation, and use another variable to receive the apppend result,but, I found before and after the append operation,the original variable res had changed!!!why??

[2017-08-08 14:23] ianlancetaylor commented on #21256
I think that is less true these days than it used to be.  For example, the compiler rejects `import "main"`.  It also rejects

[code]

[2017-08-08 14:35] griesemer commented on #21256
@ianlancetaylor Fair enough, but I'm not convinced yet that we should erode this further. There's a lot of implicit assumptions here that are not really written down in the spec. I also don't see much technical reason. It's basically an additional special case in the compiler where there doesn't need to be one as far as I can tell.

[2017-08-08 14:43] mvdan commented on #21342
Please read https://blog.golang.org/go-slices-usage-and-internals. For questions about Go, see https://golang.org/wiki/Questions.

[2017-08-08 14:43] #21342 closed

[2017-08-08 14:45] mvdan commented on #21341
I've been using benchstat too (the x/ version) with no problem.

Perhaps it's time to add a run time warning/notice to - or even break - the old tool. @rsc

[2017-08-08 14:46] gobwas opened #21343 "bufio: the way to determine `bufio.Reader` size"
Hello!

For reusing purposes, I need to determine the `bufio.Reader` underlying buffer size.
That is, for `bufio.Writer` there is `bw.Available()` method. Is there (or planning to be) something similar for `bufio.Reader`?

[2017-08-08 14:46] #20459 closed

[2017-08-08 14:50] mvdan commented on #21339
I can't see a bug here. If you're asking that the parser be more lenient, other saner cases would break; programs relying on the parser erroring on invalid certificates of this kind, for example.

Is there a good reason to consider this change, other than "it makes my program work with an old certificate whose issuer won't fix it"?

[2017-08-08 14:53] mvdan commented on #21343
@gobwas could you give a small example of a program that would show the need for this? I can't picture why knowing the available (i.e. unused, not total) number of bytes in a buffer would help you reuse it.

[2017-08-08 14:54] mahdix opened #21344 "Broken links in proposal/design/18130-type-alias.md"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
N/A

### What operating system and processor architecture are you using (`go env`)?
N/A

### What did you do?
Click on any of two links to generalized alias proposal.

### What did you expect to see?
Corresponding webpage

### What did you see instead?
Error 404

Reason: In the

[2017-08-08 14:58] mvdan commented on #21338
I also saw this recently and was puzzled, but I assumed it was somehow on purpose to highlight the data race. If it was on purpose, this should be documented in the release notes. Either way, something to do for 1.9.

[2017-08-08 15:05] gobwas commented on #21343
@mvdan no, I want to get exactly the **total** number of bytes: `len(br.buf)`.

[code]

[2017-08-08 15:07] #21136 closed

[2017-08-08 15:08] gobwas commented on #21343
The only way I could get the size is [this workaround](https://play.golang.org/p/OFj-C0cjfQ):

[code]

[2017-08-08 15:08] bep commented on #21341
I use the one I get from `go get golang.org/x/perf/cmd/benchstat`. I just deleted it and "re-getted" it to make sure, and did a retest. Same result.

That tool does not print anything on my `MacBook` with those lines prepended.

I assume someone can fix `benchstat` to handle this extra info, but I guess there are also other tools in the wild that is broken by this ...?

[2017-08-08 15:10] thanm commented on #21323
Cherry, I can take a shot at fixing this if you don't already have a CL -- let me know.

[2017-08-08 15:11] ALTree commented on #21341
@bep thanks for checking. Could you please paste in this issue the two files you are running `benchstat` on, so we can have an auto-contained reproducer in the report?

[2017-08-08 15:14] bep commented on #21341
Here it is:

[code]

[2017-08-08 15:24] ghasemloo commented on #20282
Context is not just for cancellation, it can also contain security or tracing or deadline information for a call.

My understanding is that the decision to make context explicit in go in place of implicit as in say C++ was an intentional thoroughly discussed one.

[2017-08-08 15:27] mvdan commented on #21343
You said you need something in `bufio.Reader` that is like `bufio.Writer.Available`. My point was that `Available` reports the available number of bytes, not the total.

You can set the size when you create the buffer. Can you not keep track of it? Exporting fields and methods is always an option, but it always comes at the cost of extra complexity and maintenance work. The fact that I don't recal

[2017-08-08 15:28] bradfitz commented on #21337
That's unfortunate. Even if we did a Go 1.8.x release for this, user also wouldn't get that.

So really the answer is for people to move to Go 1.9 if they use deps using Go 1.9 (even +build conditional Go 1.9) features I guess.

This is something to keep in mind for rolling out any future language changes.

/cc @ianlancetaylor @griesemer @robpike @broady @rsc

[2017-08-08 15:32] bradfitz commented on #17895
@agnivade, if you run `git grep FMADD src/cmd/compile` in your `$GOROOT`, you'll see there's no `FMADD` support for amd64 yet. Only s390x and ppc64.

[2017-08-08 15:38] zombiezen commented on #21085
Makes sense.  I'd like to send a doc fix to Cmd.ExtraFiles to summarize this discussion.

One more question though: if `SetHandleInformation` enables inheriting handles, would it make sense to amend ExtraFiles to set this option on all the file handles?  I understand that there's still an out-of-band mechanism that's required to pass the individual handles, but in some ways, ExtraFiles already req

[2017-08-08 15:42] bradfitz commented on #21343
I'm pretty sure I had a TODO in some repo to expose the bufio.Reader size but grepping around, I can't find it. But this is also something I've wanted a few times now.

[2017-08-08 15:44] gobwas commented on #21343
Sorry for missing details in my first message, @mvdan. I meant `bw.Reset(nil)` followed by `bw.Available()`, not just `bw.Available()`. Sorry.

[2017-08-08 15:45] ALTree commented on #21341
This: `benchstat -split ~/go1.8.3.bench ~/go1.9rc2.bench` seems to fix the issue:

[code]

I'm still not sure if the go1.8 vs go1.9 comparison was broken intentionally (and it now requires the use of the `-split` flag), so I'm leaving this as `NeedsInvestigation`.

In any case this should be documented.

[2017-08-08 15:46] dvyukov commented on #21337
It seems that x/net/context added type aliases too early. I mean it's a widely used package and 1.9 is not even released.

[2017-08-08 15:50] bradfitz commented on #21337
I don't think so.

The whole point of +build tags is so we can do just that.

I think the bug here is that gofmt should respect `+build go1.N` tags at least, or at least least respect them enough to ignore them **if** the parse fails.

That is, if I'm running `go1.14` and it's formatting a file with `+build go1.16`, it should try its best to format that file, *unless* it gets a parse error, in whi

[2017-08-08 15:50] agnivade commented on #17895
Thanks @bradfitz ! Yes, I was expecting something like that. The tone of this [announcement](https://tip.golang.org/doc/go1.9#language) made it seem like its there for all architectures. However the commits seemed to show only for s390x and ppc64. Hence I was a little confused.

Is, adding `FMADD` to amd64 anywhere on the upcoming roadmap ? Thanks. (I have some expensive math operations on a hot p

[2017-08-08 15:51] SamWhited opened #21345 "proposal: text/transform: Add adapter for functions to transformers"
I often find myself adapting single functions to act as stateless `Transformer`'s with a noop `Reset` method instead of creating an unexported type. I propose moving this type into the `Transform` package:

[code]

Here's an example of its use:

[code]

The main advantage is that we can now use closures to build transformers with options directly in the body of the function returning the transform

[2017-08-08 15:52] bradfitz commented on #8037
@randall77, planning on doing this for Go 1.10?

[2017-08-08 15:53] bradfitz commented on #17895
@agnivade, closed bugs isn't where we conventionally have discussions. But I found #8037 for tracking x86 FMA. You can watch that bug.

[2017-08-08 16:00] agnivade commented on #17895
Thanks a lot ! Appreciate the help :)

[2017-08-08 16:23] josharian commented on #8037
If the compiler is to emit these, I think this would require a GOAMD64, since FMA is not part of the minimum supported amd64 instruction set: https://github.com/golang/go/issues/19593

[2017-08-08 16:41] sirkon commented on #20280
I don't have any idea on the issue other than understanding this proposal is stupid.

By points:
1. context.Context is poorly designed:
    1. there's cancelation task
    2. there's data storage (context) task
These are different tasks . Stdlib designers made weird decisions before, like idiotic time format, so I cannot say I am amazed, but it is still embarassing to see such an ugly piece there.

[2017-08-08 16:44] mdempsky commented on #21256
I was thinking the same objection as @griesemer yesterday: according to the Go spec, a package named "main" is not necessary the "main package".

Though seeing as cmd/go doesn't actually support packages named "main" and the compiler already treats packages named "main" as the main package for purposes of validating the "main" function's signature, I'm sort of inclined to just accept adding a comp

[2017-08-08 16:59] ianlancetaylor commented on #21341
CC @aclements

[2017-08-08 17:00] ProstoMaxim opened #21346 "Mistake in Fibonacci Closure on the main page"
Sequence should start from 0, not from 1.

func fib() func() int {
	a, b := 0, 1
	return func() (r int) {
                r = a
		a, b = b, a+b
		return
	}
}

[2017-08-08 17:06] ALTree commented on #21346
It's fine either way

http://mathworld.wolfram.com/FibonacciNumber.html

closing this.

[2017-08-08 17:06] #21346 closed

[2017-08-08 17:10] LeonineKing1199 commented on #18411
This needs to be added to the official `httptest` docs on the Go site. It's amazingly helpful!

[2017-08-08 17:13] jeffreydwalter commented on #14177
@dominikh, thanks for the explanation. I just read the `go help packages` documentation and what you're saying now makes sense, although I'd still argue that the `go help list` and `go list` documentation should make it more clear, instead of burying it in `go help packages`.

[2017-08-08 17:14] timakin commented on #21256
I accepted @griesemer 's idea, but honestly, as @mdempsky says, I also regard `main` as a little bit different definition from others.
`localpkg.Name` or node named `main` is often used for validation on compiler, so I was not so hesitated to add lines to validate `var/const/type` declarations whether they include `main` .

[2017-08-08 17:38] ncw opened #21347 "Go binaries don't run on the VMWare ESXi shell"
According to wikipedia [ESXi](https://en.wikipedia.org/wiki/VMware_ESXi) runs a modifed Linux kernel which provides the ESXI shell and ssh services.

Some rclone users have been attempting to run go binaries on that kernel which seems reasonable since it supplies a Linux OS.

However the binaries segfault immediately.

### What version of Go are you using (`go version`)?

    go version devel +123

[2017-08-08 17:41] laboger opened #21348 "runtime/internal/atomic, sync: improve performance for atomics in ppc64x"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
upstream

### What operating system and processor architecture are you using (`go env`)?
Ubuntu ppc64le

The current atomic function implementations for ppc64le within golang are all heavy weight, i.e., use hwsync since that is necessary if golang requires sequential consistenc

[2017-08-08 18:08] vcabbage commented on #21347
It may be possible to get a Go binary to run on ESXi since some statically linked Linux binaries do, but according to VMware the kernel is proprietary and not based on Linux.

[2017-08-08 18:12] vcabbage commented on #21347
Also, the Service Console was a sort of hidden Linux VM used in ESX. ESX was discontinued years ago. The Service Console doesn't exist in ESXi which instead provides users a BusyBox shell running directly on vmkernel.

[2017-08-08 18:43] baiyz opened #21349 "os.Getpagesize() should return correct page size on 4K_PAGES arm64 machine like Ubuntu 16.04 LTS with Cavium ThunderX1 SoC"
### What version of Go are you using (`go version`)?
go version go1.6.2 linux/arm64

### What operating system and processor architecture are you using (`go env`)?
go env
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/usr/lib/go"
GORACE=""
GOROOT="/usr/lib/go-1.6"
GOTOOLDIR="/usr/lib/go-1.6/pkg/tool/linux_arm64"
GO15VENDOREXPERIMENT="1"
CC="gcc"
GOGCCFLA

[2017-08-08 19:29] tombergan commented on #18997
Not sure I followed? The hooks will be available via `http.Request.Context()`. A pattern like the following should work:

[code]

The handler can then use `ctx.Value(key)` to extract `sh`.

The middleware needs some entry point in order to apply its `http.ResponseWriter` wrapper. Couldn't the middleware use a similar entry point to install its context wrapper? I am admittedly not familiar with man

[2017-08-08 19:56] mattdee123 opened #21350 "database/sql: On Drivers which don't implement ConnBeginTx, options are silently ignored with some Contexts."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/mdee/data/go_third_party_local:/Users/mdee/data/go"
GORACE=""
GOROOT=

[2017-08-08 19:57] adams-sarah opened #21351 "x/build: linux-arm-arm5spacemonkey build stalled: no space left on device"
ERRORs in stackdriver:
2017/08/08 19:36:18 {linux-arm-arm5spacemonkey e0e7c03d14d3235864400ad29aa02dfa540d2089 } failed: failed to put snapshot to buildlet: 500 Internal Server Error; body: error writing to /home/builder/stage0scratch/tmp/workdir/go/test/fixedbugs/bug338.go: write /home/builder/stage0scratch/tmp/workdir/go/test/fixedbugs/bug338.go: no space left on device

Logs: https://farmer.gol

[2017-08-08 20:00] jessfraz commented on #21351
bigger disks or more cleanup of disk space?

[2017-08-08 20:05] zombiezen commented on #20280
For the record, this isn't a full-fledged proposal.  I opened this issue since I feel this is something that should be considered for Go 2.  It may be accepted; it may be rejected.  The Go ecosystem is still finding its way on how and when to use Context.  Networking and I/O are places where Context comes up frequently, so it's something that we may want to consider in the future.  Once we get far

[2017-08-08 20:05] bradfitz commented on #21351
None of the cced people own these machines. See the farmer builders page for the owner.

[2017-08-08 20:06] adams-sarah commented on #21351
@zeebo

[2017-08-08 20:36] dsnet commented on #21122
I ran my change through global testing (at Google) to detect regressions, and only 1 target failed as a result of this change.

The failure was in [`cloud.google.com/go/internal/fields`](https://godoc.org/cloud.google.com/go/internal/fields), however I believe this is due to a different bug in `reflect` that is related.

[2017-08-08 20:48] xoviat commented on #20982
This is just for my own reference, but this needs porting to msvc:

[code]

I would not underestimate the time that it will take me to complete this task as I am not at all familiar with assembly.

- [ ] Understand what the assembly does
- [ ] Port to MSVC assembly
- [ ] Understand _beginthread vs CreateThread
- [ ] Switch to CreateThread

[2017-08-08 20:48] xoviat commented on #20982
Also, undefined symbols:

- [ ] timeBeginPeriod
- [ ] timeBeginPeriod
- [ ] WSAGetOverlappedResult
- [ ] WSAGetOverlappedResult
- [ ] _cgo_18b6f6fc815b_Cfunc_hello
- [ ] x_cgo_init
- [ ] x_cgo_thread_start
- [ ] x_cgo_sys_thread_create
- [ ] x_cgo_notify_runtime_init_done
- [ ] x_cgo_set_context_function

[2017-08-08 20:53] martisch opened #21352 "cmd/compile/internal/types: concurrent map read and map write while compiling"
one builder failed with what it seems to be a map read / write race during compilation:
https://build.golang.org/log/95ffcbbfdfe3e328d735db12f2127b1dcf1ab17c

at tip https://github.com/golang/go/commit/64bd2c49b4afb80c6f062f52eb3c748970771acf

While the read location seems clear the write location does not seem to be in the trace.
Flake or map in a bad state?

[code]

/cc @josharian

[2017-08-08 21:03] dsnet opened #21353 "reflect: can Set to unexported embedded pointer types"
Consider the following snippet:
[code]
We have two different structs `S1` and `S2` that differ only in that one has a embedded pointer, while the other does not. Note that `embed` is an unexported type, and so acts an unexported field in `S1` and `S2`.

From Go1.0 until (and including) Go1.5, you could call `Set` on the unexported field `embed` on both the embedded value and embedded pointer versi

[2017-08-08 21:25] dsnet commented on #21353
\cc @zombiezen @adams-sarah @cybrcodr @jba

[`cloud.google.com/go/internal/fields`](https://godoc.org/cloud.google.com/go/internal/fields) was the only package I could find that may be affected by this change. Global testing inside Google revealed no other issues.

[2017-08-08 21:47] johanbrandhorst commented on #18411
@LeonineKing1199 in Go 1.9 it will be much easier to use the `httptest.NewTLSServer`, so the docs will not be updated for the old behaviour.

See https://tip.golang.org/pkg/net/http/httptest/#example_NewTLSServer for an example of the new testing API coming in 1.9.

[2017-08-08 21:56] rebootcode opened #21354 "After Rust - Now Python 3.5 beats golang"
Japronto - https://github.com/squeaky-pl/japronto which is built over python 3.5 now claims to beat golang by twice the speed and performance.

<img src="https://raw.githubusercontent.com/squeaky-pl/japronto/master/benchmarks/results.png">

My Question is - Can python beat this ?

### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are y

[2017-08-08 21:58] neild opened #21355 "proposal: Replace Context with goroutine-local storage"
This is a bit pie-in-the sky, but I think worth considering even if only to reject it.

One of the original motivations for the Context type was to provide a way to plumb distributed trace IDs (as used by e.g., Dapper: https://research.google.com/pubs/pub36356.html) though the call stack.

The Context type suffices to connect inbound and outbound RPCs by passing a trace ID from the inbound request

[2017-08-08 22:01] ianlancetaylor commented on #21338
CC @cespare

[2017-08-08 22:14] cespare commented on #21338
Yeah, unintended consequence of 221541ec8c4ec1b0ed0c6f26f5e13ca128e2a3cd.

We could probably just revert for 1.9, since #19851 doesn't seem too serious, and fix it properly later. But I'll check right now to see whether the real fix is trivial.

[2017-08-08 22:34] dlsniper commented on #21354
it's nice of Japronto that they are doing 1.2 million requests a second. But if you need any meaningful help, I suggest you have a look at these places to get help https://golang.org/help/#help on how to optimize your code to make sure it makes the best out of Go. This is not a real Go issue as far as I can tell and should be closed.

[2017-08-08 22:35] #21354 closed

[2017-08-08 22:46] dlsniper commented on #21354
Oh, and so that you don't leave confused from this interaction:

https://github.com/squeaky-pl/japronto/tree/master/benchmarks/golang -> looking at the code there's an extra condition in there executed for Go and not for the Python thingy. https://github.com/squeaky-pl/japronto/pull/29 -> PR opened since Feb 3rd  reflects that.

But, worse, GOMAXPROCS is set to 1 on a m4.2xl instance which has 8 v

[2017-08-08 22:48] ianlancetaylor commented on #21338
I'm testing a fix.

[2017-08-08 22:54] ianlancetaylor commented on #21352
CC @mdempsky

Would be nice to figure out the cause in case this affects 1.9.

[2017-08-08 22:57] ianlancetaylor commented on #21353
gccgo panics on both calls to `Set`, so any code that relied on the current gc behavior was already broken with gccgo.

[2017-08-08 22:58] ianlancetaylor commented on #21353
I think this is simply a bug, so moving from NeedsDecision to NeedsFix.

[2017-08-08 22:58] randall77 opened #21356 "x/debug: add core dump reader"
I propose to develop a set of packages to enable the reading of core dumps generated by Go programs.
This set of packages will enable writing tools which can perform post-mortems on crashing Go servers.  An example might be out-of-memory analysis: looking for how many allocated objects of each type they are, why they are considered live, etc.

This proposal is particularly about the library that c

[2017-08-08 23:08] ianlancetaylor commented on #21355
We (well, @matloob) have put a fair amount of effort into making profiling tags work well with contexts.

In particular, the current approach provides mechanisms for running a goroutine with a new set of labels (this mechanism is unfortunately not very well documented at present).  This proposal needs to explain how the `go` statement handles goroutine-local storage.

[2017-08-08 23:19] bradfitz commented on #21351
@zeebo, let us know what you find. The buildlet should be cleaning up after itself after (or rather, before) each build.

But it's possible you're not setting the `-workdir` flag, which means it's picking a new temp dir out of /tmp for each build, and then if your builds fail midway though (or rather, we restart the coordinator mid-build and your buildlet process restarts) then it might be picking

[2017-08-08 23:24] dsnet opened #21357 "encoding/json: cannot unmarshal into unexported embedded pointer types"
A consequence of fixing #21353 is that you cannot round-trip marshal/unmarshal the following:
[code]

The problem is that the `json` package had been relying on a bug within the `reflect` package, where it was able to allocate the unexported field. With that being fixed in #21353, what should be the correct behavior when unmarshaling into a pointer of an embedded unexported struct type? We can eit

[2017-08-08 23:24] bradfitz commented on #21349
This was fixed in Go 1.8 in 1b9499b06989d2831e5b156161d6c07642926ee1
See https://golang.org/doc/go1.8#syscall
(which only says syscall, but it was also os which uses syscall)

[2017-08-08 23:24] #21349 closed

[2017-08-08 23:28] josharian commented on #21352
It believe affects 1.9, GO386=387 only. I'll try to send a CL.

[2017-08-08 23:44] josharian commented on #21352
I think CL 54090 should be cherry-picked to 1.9. (Thanks so very much for noticing and filing an issue, @martisch.)

The alternative for 1.9 is to disable concurrent compilation for GO386=387 in cmd/go and cmd/compile, but I think the proper fix is very low risk, perhaps even lower risk than the alternative.

[2017-08-08 23:52] randall77 commented on #21352
I concur, 54090 should be cherry-picked into 1.9.

[2017-08-08 23:55] tv42 commented on #21195
@bcmills

Please consider an API that lets callers *re*randomize that. Something like `func New() Hasher`.

E.g. a good DoS-safe `map` implementation would randomize differently for different variables, and even rerandomize when growing.

If you let a long-running process run with a singular randomization, that lets attackers probe it and discover the logic behind the randomization.

[2017-08-09 00:02] tv42 commented on #21195
@ScottMansfield Persistent data structures sound like a use case that should specify their own hashing, e.g. say "`xxhash` of a byte sequence consisting of ..."; the hash function proposed here is meant for very different use.

[2017-08-09 00:20] josharian commented on #21352
Re-opening for cherry-pick to 1.9.

[2017-08-09 01:08] shurcooL opened #21358 "x/net/context/ctxhttp: replace "golang.org/x/net/context" with "context" (drop Go 1.6 and older support)"
The `golang.org/x/net/context/ctxhttp` package currently has 2 different implementations for Go 1.7+ and pre-1.7. The former is much simpler, because `net/http` has support for contexts and cancellation built in as of Go 1.7. However both versions use `golang.org/x/net/context` package, not the new `context` in Go 1.7+ standard library.

When the Go 1.7+ support was added to `ctxhttp` package in [

[2017-08-09 01:11] #21344 closed

[2017-08-09 01:13] pongad commented on #21357
Sorry if this has been raised before, I'm not yet very familiar with this issue.

What if we slightly change the problem to this:
[code]

I assume `Marshal` panics, because of the same reason.
But now we can't `out.embed = &other.embed{}` because we can't access the field right? IIUC, to make the round-trip work in general, packages must provide a way to allocate all embedded structs with exported

[2017-08-09 01:13] shurcooL commented on #21358
An additional thought on this. I'm not sure what the plans of `golang.org/x/net/context` package are. It's still not marked as deprecated. Perhaps it's being kept around for Go 1.6 and older users? Or perhaps it's going to be deleted sometime in the future.

But if something does happen to it, it might be weird to have package `ctxhttp` be in a subdirectory of `golang.org/x/net/context`.

So an al

[2017-08-09 01:19] dsnet commented on #21357
It's not `json.Marshal`, but `json.Unmarshal` because it does not have access to `S.embed`, which is a private field.

[2017-08-09 01:25] shurcooL commented on #21358
Another thought. After seeing https://github.com/golang/go/issues/19612 and looking at the code more closely, I can see how the 1.7+ implementation is indeed very trivial and perhaps it may no longer be needed. Meaning the package can be deprecated alongside with `golang.org/x/net/context`, if/when that happens.

The only part that's somewhat non-trivial and would be annoying to keep doing at ever

[2017-08-09 01:26] bradfitz commented on #21163
I looked into enabling this but it's not incredibly straightforward.

We can't just flip a bit on misc-compile-* builders because misc-compile uses the buildall.bash build script.

Looks like we'd need to write some code in the coordinator for it.

In addition to just running the equivalent of `GOOS=os GOARCH=arch go install golang.org/x/subrepo/...`, we'd probably also want to enumerate all the p

[2017-08-09 01:33] cherrymui commented on #21323
@thanm, thank you.
No, I don't have a CL.

[2017-08-09 01:36] tv42 commented on #20282
Riffing off of https://github.com/golang/go/issues/20282#issuecomment-299943692 , here's an incomplete and not fully thought out, but reasonably concrete proposal for the value-storing aspects of context, with plenty of room for bikeshedding. (No mention of cancellation here, those can be two separate problems/mechanisms.)

[code]

In this idea, context is implicit, scoped separately from function

[2017-08-09 01:43] jinfagang opened #21359 "flag how to using multiple single flags"
I write 2 flag say -d -f all are bool value, -d -f means enable -d and -f, but how to using flag let user can type: -df to enable both?

Trying to figure out but failed, flag try to parse as a param df which not defined. Any idea would be appreciated!

[2017-08-09 01:47] bradfitz commented on #21359
For questions about Go, see https://golang.org/wiki/Questions.

[2017-08-09 01:47] #21359 closed

[2017-08-09 02:07] bradfitz commented on #17365
As of today we can run WSL on Windows Server:
https://blogs.windows.com/buildingapps/2017/08/08/windows-subsystem-linux-windows-server/

(Our builders on GCE use Windows Server 2008, 2012, and 2016)

@johnsonj, want to own this bug to setup WSL builders?

[2017-08-09 02:20] johnsonj commented on #17365
Yes I do

On Tue, Aug 8, 2017, 7:08 PM Brad Fitzpatrick <notifications@github.com>
wrote:

[2017-08-09 02:24] #20655 closed

[2017-08-09 02:55] robpike opened #21360 "proposal: add a build tag "test""
To have code be compiled only during tests, it's easy: just put the code in a file suffixed _test.go. However, there is no mechanism for the complement: to have code that is excluded when testing. I propose we set the tag "test" when the build is being run under "go test".

The desire for this came up for me recently when I wanted to test some code's behavior given a value I wanted to be constant.

[2017-08-09 03:11] cespare commented on #21360
Isn't this the same as #14668, which you didn't like?

[2017-08-09 03:18] philhofer opened #21361 "cmd/compile/ssa/arm64: emit bit-test-and-branch instructions"
ARM64 supports bit-test-and-branch-if-(not-)zero instructions (TBZ and TBNZ), but the ssa backend doesn't know how to emit them yet. (Those instructions do appear to be known to the assembler, though.)

As a prerequisite to adding these block types, an immediate field will have to be added to `ssa.Block` to work along with `ssa.Block.Control`, and that immediate will need to be accessible through

[2017-08-09 03:21] pongad commented on #21357
Do you mean in the line above? You're right, I mistyped. Edited.

[2017-08-09 03:22] jinfagang commented on #21359
If flag doesn't support this feature please let me know.

[2017-08-09 03:33] shurcooL commented on #21360
This also looks like a duplicate of/related to #12120 (/cc @slimsag), which is even older.

I'll paste a point I made there, since it's relevant:

[2017-08-09 03:40] robpike commented on #21360
Yes, I didn't like it then, but today I encountered an actual instance where I wanted it. My arguments before still stand, but I did find a new argument in favor.

It's not quite a duplicate of #14668, and that's closed anyway, so I'll leave this for now.

[2017-08-09 03:43] jokeyrhyme opened #21362 "proposal: cmd/vet: warn when zero values make explicit initialisation unnecessary"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

### What did you do?

[code]

### What did you expect to see?

Proposal: `go vet` should warn whe

[2017-08-09 03:45] #10826 closed

[2017-08-09 04:00] slimsag commented on #21360
... sentiment about my proposal being closed as working-as-intended and later reopened two years later aside..

I've had a desire for this functionality multiple times. Most recently, I've had to exclude certain code from a test invocation inside a package-level `init`, i.e.:

[code]

This led me to use an atrocious concoction like this, which relies on initialization order to function correctly:

[2017-08-09 04:18] #21104 closed

[2017-08-09 04:40] ianlancetaylor commented on #21362
See cmd/vet/README for guidelines for vet checks.  I think this one fails the "correctness" criterion: unnecessary initialization is not a bug.

[2017-08-09 04:42] dmitshur opened #21364 "x/net/webdav: replace "golang.org/x/net/context" with "context""
This is a long term tracking issue for the task of replacing "golang.org/x/net/context" import with "context". Doing so is desirable because otherwise, modern Go packages end up having no choice but to import both of those 2 packages, which is suboptimal (but currently a lesser evil than the alternatives).

This is somewhat similar to #21358, but a complication is that this changes the definition

[2017-08-09 04:44] ianlancetaylor commented on #21352
CC @broady

[2017-08-09 05:15] randall77 commented on #21361
Sounds fine.

You could use the existing aux field, like:
[code]
A bit clunky as you would need to do b.Aux.(int) to get the result out. But it avoids adding fields to Block.

[2017-08-09 05:33] #13774 closed

[2017-08-09 05:33] #20985 closed

[2017-08-09 05:33] #21229 closed

[2017-08-09 05:41] tombergan commented on #20985
This should be fixed in the main repo (for Go 1.10). Please reopen if you are still seeing problems.

[2017-08-09 05:41] mholt commented on #18377
@tmthrgd I like that proposal. At least, from the perspective of my use case (Caddy), it should fit nicely since we don't use the Certificates field at all. (We make heavy use of GetCertificate).

[2017-08-09 05:51] jokeyrhyme commented on #21362
@ianlancetaylor
yep, found it: https://github.com/golang/go/blob/master/src/cmd/vet/README

potential bugs that could cause incorrect compilation or execution. A check that
only identifies stylistic points or alternative correct approaches to a situation
is not acceptable.

I agree that unnecessary initialisation is not a bug

I've filed this as a suggestion for `golint` instead: https://github.co

[2017-08-09 05:51] #21362 closed

[2017-08-09 06:10] psankar opened #21365 "proposal: time: add a Date type"
We have a datatype to store time, under time.Time, however, there are plenty of places where we need to store only Date, without having to store Time information, For example: Date of Birth, College opening date, release date, etc.

Many databases provide fields to store Date alone. For example, Postgres has `date` type https://www.postgresql.org/docs/9.1/static/datatype-datetime.html; Mysql has `

[2017-08-09 06:27] shurcooL commented on #21365
Can you elaborate on the challenges or problems with defining your own `Date` struct, one that fits the needs of your project?

For example, in https://godoc.org/github.com/shurcooL/resume/component#Date, I needed a very similar `Date` type as you described. It has only the precision of a year, and possibly a month.

I was able to implement it as a custom type:

[code]

Which worked well for the n

[2017-08-09 07:05] rebootcode commented on #21354
To be fair all the contestants (including Go) were running single worker process. Servers were load tested using wrk with 1 thread, 100 connections and 24 simultaneous (pipelined) requests per connection (cumulative parallelism of 2400 requests).

[2017-08-09 07:17] #17075 closed

[2017-08-09 07:19] alexbrainman commented on #21085
I don't think it is that simple. We use CreateProcess Windows API to start new process. CreateProcess has bInheritHandles parameter that controls which handles are inherited by the child process. Go syscall package sets bInheritHandles to true because it needs to pass stdin, stdout and stderr. But this makes all inheritable handles escaped into child process (see the doco https://msdn.microsoft.co

[2017-08-09 07:36] ncw commented on #21347
@vcabbage wrote:

The binaries I looked at (specifically `/bin/xz`) were dynamically linked.  `/bin/xz` worked on my ubuntu laptop, but the one from my ubuntu laptop didn't work on ESXi complaining about GLIBC versions.

Yes it seems to be called "ESXi Shell" in the config options - I'll update the issue with that name.  I know nothing about ESXi so thanks for the note!

[2017-08-09 07:42] davecheney commented on #21347
To the best of my knowledge the ESXi hypervisor is based on kernel
2.4.something and probably lacks the expected 2.6.27 or later syscalls.

On Wed, 9 Aug 2017, 17:37 Nick Craig-Wood <notifications@github.com> wrote:

[2017-08-09 07:51] mattn commented on #21085
This is simple implementation that passing socket into external process which works on Windows.

https://github.com/mattn/gospel

You can test this like below.
[code]

This pass the socket handle via environment variable GOSPEL_FD. To accept using the handle for the target process (limited), you should use DuplicateHandle.

[2017-08-09 07:59] psankar commented on #21365
The only problem with defining my own Date struct is that, I need to define that.

It is a common feature that many will find useful, (like Context or Mux or CookieJar) I would even argue that native support for `Date` is more important and useful than native support for Complex numbers, which golang supports already natively.

Defining a Date type is also not very trivial. It is easy to miss thin

[2017-08-09 08:15] cznic commented on #21365
Please explain how's the proposed time.Date type different from the existing time.Time type. AFAICS, they are the same thing, see https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date.

What do you mean by approximate? time.Time's resolution is 1 nanosecond. Javascript's Date has a 1000 times worse resolution - 1 millisecond.

BTW: In a database, you can store the resu

[2017-08-09 08:18] mvdan commented on #21365
Please note that you're mixing the standard library with the language itself. They're different things.

I also don't understand how this would be different or significantly better over the current `time.Time`.

Marking as Go2, since it would need to break the current `time.Date` func.

[2017-08-09 08:19] kenkao commented on #20312
@jimmiebtlr
the 'main' func in gplugin.go is an redundant code block for my debuging, i have deleted it. but when you want to build the gplugin.go to a plugin.so, the same error will occur..
i guess that you cannot import any package that imported the 'plugin' package (╮(￣▽￣")╭), when you want to build it to a plugin.so (the 'gplugin' import the 'mylib', and the 'mylib' import the '**plugin**')
i

[2017-08-09 08:21] psankar commented on #21365
I was wrongly using the word "approximate" (non-native speaker). What I meant is, the driver has to use time.Time for storing a `Date` sql column. For a TIMESTAMP column, using time.Time is straightforward, but since the standard library does not have a `Date` type, the sql driver needs to use the same time.Time for both `Date` and `TIMESTAMP`/`TIME` sql columns. By approximate, I meant, a sql typ

[2017-08-09 08:22] mvdan commented on #21365
If your pain lies in SQL, perhaps `database/sql` (or even a third-party SQL driver package) would be a better place for this?

[2017-08-09 08:28] kenkao commented on #20312
my hot-update based on plugin for go has succeeded! ^ ^

[2017-08-09 08:38] psankar commented on #21365
It is not only SQL. For example, in Javascript, if I do `<input type="date">` then it gives a `YYYY-MM-DD` as value which I cannot directly convert to a time.Date element (in a HTTP API handler in golang).

For example:

[code]

would be easier to write/read than: Declaring `Employee:DoB` as `time.Time` writing a MarshalJSON or UnMarshalJSON for Employee struct where I need to convert the incoming

[2017-08-09 08:48] target-san commented on #21132
Type erasure in fact? Java programmers already have trouble with it.

[2017-08-09 08:55] cznic commented on #21365
But it does not "give you" a YYYY-MM-DD. That's a particular _representation_ of that value, which is just an integer. time.Time is just an integer as well. The two integers in JS Date and time.Time differ by a constant factor of 1000 and it's trivial to go from one of the numbers to the other and vice versa. (Considering above just UTC for the first approximation).

[2017-08-09 09:14] psankar commented on #21365
May be I am not clear by "give you". What I meant is, I can write JS code, where I can set/get the value of a date input field as a string

[code]

Here the value, min, max are all taking a string in YYYY-MM-DD format. I can map this string value to a golang time.Time too (or vice versa) but if there is a golang time.Date (or a custom Date struct), that is what I would prefer to map this YYYY-MM-D

[2017-08-09 09:40] cznic commented on #21365
And you can write Go code where you can get/set a value of time.Time as a string:

- https://golang.org/pkg/time/#Time.Format
- https://golang.org/pkg/time/#Parse

You may have missed the earlier question, but let me repeat

Yes, the names of methods differ, the layout string is special (and better) in Go and few other minor details. But the functionality and concepts are otherwise the same. Where

[2017-08-09 10:09] tklauser commented on #14457
At least for darwin/386 it was added in https://golang.org/cl/50450 (golang/sys@c4489faa6e5ab84c0ef40d6ee878f7a030281f0f).

[2017-08-09 10:14] rogpeppe commented on #21365
I agree with the other posters. If you use a canonical form of time.Time where the time zone is always UTC and the time is always midnight, time.Time seems to work fine as a way of storing and parsing dates to me.

You can write a trivial wrapper around it if you like, but that doesn't seem like it would pull its weight in the standard library. For example: https://play.golang.org/p/Szfza9ZAt0
(no

[2017-08-09 10:43] alkesh26 opened #21366 "Non go files issue"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.7.1

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/alkesh/go"
GORACE=""
GOROOT="/usr/local/Cellar/go/1.7.1/libexec"
GOTOOLDIR="/usr/local/Cellar

[2017-08-09 10:48] davecheney commented on #21366
@alkesh26 please include in your report a sample program which demonstrates the issue so that others can verify the problem and offer a solution or explanation.

[2017-08-09 11:02] mvdan commented on #21366
I understand you're pushing the JSON file to your git repo, but not to staging/production? If so, this is expected. When you read the file from disk, it has to be on disk - that is, whereever your process is running.

And, for questions about Go, remember to use https://golang.org/wiki/Questions.

[2017-08-09 11:12] dominikh opened #21367 "go/types: Identical ignores receiver of Signature"
### What version of Go are you using (`go version`)?
go version go1.8.3 linux/amd64
go version devel +827be89a69 Thu Jun 15 21:53:23 2017 +0000 linux/amd64

### What did you do?
In the go/types type system, methods are represented as Func objects
with Signature types, where the Signature has a receiver that is not
nil. To me, that implies that the receiver is part of the Signature's
identity. type

[2017-08-09 11:20] alkesh26 commented on #21366
@mvdan We are pushing that file to staging/production.

[2017-08-09 11:23] mvdan commented on #21367
I would expect this function to take receivers into account too. However, if done that way, we would need to add an `IdenticalIgnoringReceiver` for the current uses.

On the other hand, if you don't want to ignore receivers, at the moment you could do `Identical(T1, T2) && T1.Recv() == T2.Recv()`. So I would imagine that clarifying this in the godoc is the right fix.

[2017-08-09 11:30] griesemer commented on #21256
@mdempsky I'm not per se against that but it would be an error that is not backed by the spec. As it is, the implementation is inconsistent. My suggestion: Let's see if the linker fix is trivial and if so, let's do it there. Otherwise, let's go back to the compiler. The main goal is to provide an good error message to the user rather than a crash. Also, this is really an esoteric issue, so not wor

[2017-08-09 11:42] griesemer commented on #21367
I think this came up before (cc: @alandonovan ). We may not be able to do much more than documenting the existing behavior. But, depending on existing use, perhaps we can change the implementation. I don't recall at the moment why I decided to implement it the way it is (clearly there's a comment missing somewhere).

[2017-08-09 11:47] BrianWill opened #21368 "ExperienceReport/Proposal on := syntax issues"
I'd like this report/proposal added to the ExperienceReport wiki:

https://gist.github.com/BrianWill/671ce51e6ef6a9f0caa27272a9a0637f

[2017-08-09 11:48] #21175 closed

[2017-08-09 11:55] xigh opened #21369 "MOVQ 0, AX optimisation"
### What version of Go are you using (`go version`)?

go version go1.8 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/xigh/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS="-fPIC -m6

[2017-08-09 11:57] ALTree commented on #21369
This is #20986.

[2017-08-09 12:00] davecheney commented on #21368
Be the change you seek, anyone can edit the wiki (as far as I know)

On Wed, 9 Aug 2017, 21:47 BrianWill <notifications@github.com> wrote:

[2017-08-09 12:12] ALTree commented on #21369
And see Josh comment https://github.com/golang/go/issues/20986#issuecomment-314639291 for some background. Closing this as a dup so we can keep all info in one place. Hope #20986 will be looked at during the go1.10 cycle.

[2017-08-09 12:12] #21369 closed

[2017-08-09 12:27] griesemer commented on #21360
I haven't made up my mind quite yet, just musing aloud:

Assuming a `test` built tag, arguably the `_test.go` file name extension mechanism is not needed anymore; in some sense it would remove a mechanism. I'm not suggesting we do, having test files marked by name seems like a nice thing to have, but a `test` build tag will lead to overlap where currently there's none. Imagine also the confusion t

[2017-08-09 12:36] carlmjohnson opened #21370 "encoding/csv: Add a "field reader" type"
Python has a nice type called `csv.DictReader`. For those not familiar, here are its docs:

So, it's just a convenience wrapper around their CSV reader that puts rows into dictionaries/maps with the keys being either supplied or from the file header.

I wrote a similar wrapper for Go: https://godoc.org/github.com/carlmjohnson/csv. I'd like it if it or something like it could be included in the sta

[2017-08-09 13:28] mordyovits opened #21371 "testing: test.timeout uses panic(), returning an exitcode of 0"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.1 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/movits/gocode"
GORACE=""
GOROOT="/home/movits/go"
GOTOOLDIR="/home/movi

[2017-08-09 13:30] #9891 closed

[2017-08-09 13:40] crvv commented on #21279
Maybe
`out[0:1]` and `in[1:]` must not overlap.

I think this is accurate but a little obscure.

[2017-08-09 13:41] mvdan commented on #21371
Could you provide a small, self-contained reproducer for this? I just tried to reproduce this with:

[code]

[code]

[2017-08-09 13:45] bradfitz commented on #21366
For questions about Go, see https://golang.org/wiki/Questions.

[2017-08-09 13:45] #21366 closed

[2017-08-09 13:59] bradfitz commented on #14457
@tklauser, I take it you're going to mail the CL for arm and arm64? (fix commit message to remove double `add add` first)

[2017-08-09 14:05] tklauser commented on #14457
@bradfitz Yes, currently working on a CL. Thanks for the hint about commit message.

[2017-08-09 14:18] bradfitz commented on #20979
@tombergan, what do you think of changing Go's http Transport to retry Requests with HTTP/1.1 if it sees a GOAWAY with LastStreamID=0?

[2017-08-09 14:22] thanm opened #21372 "gccgo crash on shift of expression involving unsafe.Sizeof"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

gccgo tip:
go version go1.8.3 gccgo (GCC) 8.0.0 20170727 (experimental) linux/amd64

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOHOSTARCH="amd64"
GOOS="linux"

### What did you do?

Compiled this fragment:

	package foo
	imp

[2017-08-09 14:23] thanm commented on #21372
@ianlancetaylor
I'll see if I can come up with a fix for this, may need to task you for advice at some point

[2017-08-09 14:28] frankgreco opened #21373 "plugin: package can't open plugin built with same Go runtime"
`go version go1.8.3 linux/amd64`

[code]

Received the following error when trying to open a plugin:

`plugin.Open: plugin was built with a different version of package errors`

Now, this can happen when:

However, here are reproducible steps that show that this is happening with the same version of go

[code]

Here is the `Dockerfile` being built above. As you can see, the same go installation is

[2017-08-09 14:31] griesemer commented on #20906
@realityexists Thanks for the measurements, that's useful. The reason why it's faster (and why there's a different implementation) for a conversion base that's a power of 2 is of course that the conversion is trivial in that case: The result merely requires reading out the existing bits.

Any base that's not a power of two requires real work. The basic conversion algorithm is quadratic so I'm not

[2017-08-09 14:32] philhofer commented on #21361
Good idea. I'll do that.

[2017-08-09 14:41] leonklingele opened #21374 "proposal: Go 2: "sensitive" keyword to mark vars / consts containing sensitive data such as crypto keys"
# Proposal

As explained in https://github.com/golang/go/issues/18645, one is currently missing a way to wipe sensitive material from memory in Go.
Recently a new library ([memguard](https://github.com/awnumar/memguard)) arose which tries to solve that exact problem and I think something like this should be available in the Go 2 standard library.
(`memguard` only works with byte slices, this propo

[2017-08-09 14:48] AlekSi commented on #21190
That's awesome. Hopefully, someone from Go team will chime in soon.

[2017-08-09 14:50] bradfitz commented on #21190
@AlekSi, @hyangah is on the Go team.

[2017-08-09 14:54] AlekSi commented on #21190
… Github should add 🤦‍♂️ reaction so I could add it without writing another comment.

[2017-08-09 14:57] #14457 closed

[2017-08-09 15:09] griesemer commented on #21374
A few comments:
1) Comments tend to exist at compile time only, so I'm not sure the `sensitive` label makes sense there.
2) This proposal requires new syntax just for this mechanism; also, it's not clear if `sensitive` is a keyword or something else.
3) I suspect a lot of interesting code will have sensitive data in heap-allocated objects. Is the assumption that the garbage-collector would wipe se

[2017-08-09 15:21] leonklingele commented on #21374
Regarding your points:

1. What do you mean by comments? Why wouldn't `sensitive` make sense there?

2.

3. Yes, unreferenced heap memory would need to be wiped by the GC.

4. `pass = ""` indeed would do the exact same thing as `wipe(pass)` (<- read carefully 😹), the `wipe` call is just more expressive.

[2017-08-09 15:23] griesemer commented on #21337
gofmt doesn't touch a file if it contains syntax errors, but I'm not convinced that it shouldn't complain. A script could trivially discard any error output. Or, perhaps for manual use, maybe there could be a `-silent` flag.

[2017-08-09 15:25] griesemer commented on #21374
@leonklingele I meant "constants", not comments, of course. Apologies, my typo. Corrected.

[2017-08-09 15:32] mordyovits commented on #21371
You're right, my test harness had a logic bug.

[2017-08-09 15:32] #21371 closed

[2017-08-09 15:36] neild commented on #21355
A bit more concretely:

- Each goroutine has, effectively, a local map[interface{}]interface{}.
- New goroutines inherit the contents of the parent goroutine's local storage.
- There is a mechanism for setting the local storage within a lexical scope. (e.g., `local.Set(k, v, func() { /* k = v in this scope */ }`.)

To run a goroutine with a specific set of labels rather than inheriting the current

[2017-08-09 15:41] ianlancetaylor commented on #21373
CC @crawshaw

[2017-08-09 15:56] ianlancetaylor commented on #21355
For clarity: does a new goroutine inherit the map value, or does it inherit a copy of the map?

[2017-08-09 16:11] bradfitz opened #21375 "x/sys/unix: TestSysctlUint64 fails on freebsd/arm"
TestSysctlUint64 fails on freebsd/arm:

https://build.golang.org/log/d2619c8b0011d695de308cf3e1fbe159d858d69c

[code]

Test is just:

[code]

It was changed to `security.mac.labeled` in https://github.com/golang/sys/commit/7a6e5648d140666db5d920909e082ca00a87ba2c by @stevenh.

Maybe we need a different one for arm? Or does that FreeBSD kernel not have some kernel options compiled in?

/cc @paulzho

[2017-08-09 16:15] neild commented on #21355
A new goroutine would inherit a copy of the parent's map, not the actual map. (That wouldn't be very local.)

In simple cases, such as a function which starts some worker goroutines and waits for them to complete before returning, this should propagate cancellation or trace ids correctly with no effort on the user's part. More complex cases, such as long-running worker goroutines which service req

[2017-08-09 16:18] ianlancetaylor commented on #21370
https://golang.org/doc/faq#x_in_std

Personally I'd rather encoding/csv got moved out of the standard library rather than giving it more features.

[2017-08-09 16:20] philhofer commented on #21374
Language changes aside, it would be useful to have a function in the standard library for zeroing memory that was guaranteed not to be optimized away by dead store elimination. Right now you'd have to resort to something like the old trick of calling memset through a function pointer in a different translation unit.

Asking GC to finalize 'sensitive' data wouldn't be any more reliable than finaliz

[2017-08-09 17:02] bburket opened #21376 "crypto/tls: panic in TransportTLS handshake in Windows crashes app with panic"
go version go1.8.1 windows/amd64

C:\Users\someuser>go env
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C:\users\someuser\code\go
set GORACE=
set GOROOT=C:\Go
set GOTOOLDIR=C:\Go\pkg\tool\windows_amd64
set GCCGO=gccgo
set CC=gcc
set GOGCCFLAGS=-m64 -mthreads -fmessage-length=0
set CXX=g++
set CGO_ENABLED=1
set PKG_CONFIG=pkg-confi

[2017-08-09 17:04] carlmjohnson commented on #21370
Could be a good Go 2 proposal: remove encoding/csv. 😄

The main reasons I want my additions in the stdlib are: I can slightly simplify the code if I could access encoding/csv's package internals and it's more convenient to use a stdlib package than an external package. In theory, go dep should resolve the second issue.

[2017-08-09 17:15] timakin commented on #21256
@griesemer Hi, I tried to fix this issue from the aspect of `cmd/link`.
Could you please check this commit?
https://go-review.googlesource.com/c/54330

[2017-08-09 17:17] thanm commented on #21323
Fix by https://go-review.googlesource.com/c/54250
No sure why, but gopherbot didn't auto-close.

[2017-08-09 17:17] #21323 closed

[2017-08-09 17:18] SirCmpwn commented on #21161
I hope you don't mind me hijacking your proposal with an alternate syntax - how do folks feel about something like this:

[code]

[2017-08-09 17:31] night-codes commented on #20060
I have similar problem with mutex on go 1.8 and all work good at 1.7.4

Simplified code:
[code]

And I have same panic. I'm copying the mutex too? Why all works perfectly on version 1.7.4?
Comment: A Mutex must not be copied after first use. Where it use firs time that I have error?

[2017-08-09 17:33] alandonovan commented on #21367
I asked gri for the same change a long while back but we eventually convinced ourselves that the current behavior is correct.  It is in any case too late to change the semantics, though we could improve the docs.

The gist of the argument is that the the Go type system doesn't have a separate category for "method types"; the type of a method is a function type.  Although we use a method's Signatur

[2017-08-09 17:33] agnivade opened #21377 "doc/contribute.html: "New Contributor Agreement" link does not show up in new Gerrit UI"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8.1 (its not necessary in this case)

### What operating system and processor architecture are you using (`go env`)?
[code]
Again, not necessary

### What did you do?

I was following the steps mentioned in contribute.html, trying to complete the CLA.

### What did you expect

[2017-08-09 17:36] paulzhol commented on #21375
Yes I don't have MAC support compiled in.
It appears only in 3 ARM boards, and it's commented out:
[code]
So maybe it's not a good idea to turn it on just for the test.

How about we use `vm.swap_total` instead? It's a `SYSCTL_QUAD` instead of `SYSCTL_UQUAD` used for `security.mac.labeled`, but it's still a 64-bit value on all platforms.

[2017-08-09 17:52] ALTree commented on #21377
This is a  dup of #20207, and it's already fixed on tip by https://golang.org/cl/42412. The website will be updated when go1.9 is out.

[2017-08-09 17:52] #21377 closed

[2017-08-09 17:53] josharian commented on #21370
I'd be happy to see encoding/csv move out of the standard library. It might be a good trial run for moving more things out of std, and maybe how it works in practice to break backwards compatibility as we do so. (Do people take the code upgrade hit or stay with the deprecated stdlib version anyway? What kind of docs and tools are needed in practice? Etc.)

I'd like to see it move to an x repo. Eve

[2017-08-09 17:56] mvdan commented on #21367
Seems like we should keep the issue open to clarify the godoc of `Identical`.

Perhaps we should also clarify that the receiver is not important in a signature. Reading its godoc, it seems like it's as important as the parameters and results.

[2017-08-09 18:02] griesemer commented on #21367
@mvdan Agreed. Thanks for the backdrop, @alandonovan .

[2017-08-09 18:03] ianlancetaylor commented on #21323
It didn't auto-close because it wasn't written as "golang/go#21323".  Sorry I didn't catch that.

[2017-08-09 18:08] ianlancetaylor commented on #21161
@SirCmpwn That buries the lede.  The easiest thing to read in a function should be the normal flow of control, not the error handling.

[2017-08-09 18:09] thanm commented on #21323
Ah ok, thanks. I'll try to remember.

[2017-08-09 18:09] neild commented on #21355
Worker pools do need to have some way of associating work with a trace id/etc. With GLS, you would still need some Context-like object which can be passed to workers.

[code]

This is more code for worker pools (although hopefully not much) in return for less in code which does not share a goroutine across multiple, independent operations.

Note that tracing systems which associate CPU time or all

[2017-08-09 18:10] griesemer commented on #21367
@alandonovan But in your example, `T.f` has type `func(T)`. It depends how it's used. I think we could have gone either way as you say, but I'm pretty sure that I thought quite hard about the current choice as it impacted the go/types code (that knowledge is now implicit in the code). If I can dig up the reasoning, I'll add that to the documentation (besides documenting the current status).

[2017-08-09 18:12] ianlancetaylor commented on #20060
@night-codes This issue is closed.  For questions about writing Go, please see https://golang.org/wiki/Questions .  Please do not follow up on this issue.  Thanks.

In the code in this issue the mutex is being copied by the method calls, because they use a value receiver.

[2017-08-09 18:17] SirCmpwn commented on #21161
That's fair, but your proposal makes me uncomfortable as well - it introduces an opaque syntax (||) that behaves differently from how users have been trained to expect || to behave. Not sure what the right solution is, will mull over it some more.

[2017-08-09 18:20] ianlancetaylor commented on #21161
@SirCmpwn Yes, as I said in the original post "I'm writing this proposal mainly to encourage people who want to simplify Go error handling to think about ways to make it easy to wrap context around errors, not just to return the error unmodified."  I wrote my proposal as well as I could, but I do not expect it to be adopted.

[2017-08-09 18:21] SirCmpwn commented on #21161
Understood.

[2017-08-09 18:23] SirCmpwn commented on #21161
This is a bit more radical, but maybe a macro-driven approach would work better.

[code]

`try!` would eat the last value in the tuple and return it if not nil, and otherwise return the rest of the tuple.

[2017-08-09 18:33] neild commented on #21365
See civil.Date in the cloud.google.com/go/civil package for an example of a civil date type:
http://godoc.org/cloud.google.com/go/civil#Date

See also #19700 ("proposal: civil time package").

I recommend the "Fundamental Concepts" section of the cctz library (C++) as a good introduction to the difference between civil and absolute time:
https://github.com/google/cctz#fundamental-concepts

I would

[2017-08-09 18:40] thanm commented on #21372
@ianlancetaylor
Tentative fix mailed. I think this is the right solution, but not totally sure (haven't really worked on this aspect of gofrontend much).

[2017-08-09 18:46] tombergan commented on #20979
We could do that but it would be somewhat complex: The H2 transport needs to return errGoAwayBeforeAnyRequests if it sees GOAWAY with LastStreamID=0. Then pconn.shouldRetryRequest needs to recognize this error. So far not too bad.
https://github.com/golang/go/blob/75ab6134fcea003803e25c9bad7f092be3eeb5c3/src/net/http/transport.go#L418

When that error happens (and only that error), we need to disa

[2017-08-09 18:50] ianlancetaylor commented on #21374
An explicit `Wipe` function makes sense to me, though I think it could be in the crypto package as easily as the runtime package.

The `sensitive` keyword seems somewhat misleading to me.  It the variable has a slice type, it is intended to wipe the contents of the slice, not just the value of the variable.  But, of course, there may be other references to the slice.  So adding `sensitive` can aff

[2017-08-09 18:53] nussjustin commented on #21370
I know this is something commonly needed/wanted (last time I needed/wanted something like this was today...), but I'm not convinced that we should add this to the stdlib.

encoding/csv is a small package which a small API that can be easily extended via other packages. Adding a whole new type like the proposed field reader seems rather heavy to me, especially when the type itself doesn't really de

[2017-08-09 18:54] ianlancetaylor commented on #21376
This looks like an exception being raised in the system function `CertVerifyCertificateChainPolicy`, not in Go code.

[2017-08-09 18:58] ianlancetaylor commented on #21347
If @davecheney is correct then there is nothing we can reasonably do here.  Sorry.

[2017-08-09 19:01] ianlancetaylor commented on #21365
A civil date package makes sense, but I would rather see it outside of the standard library before trying to bring it in.

[2017-08-09 19:06] #21375 closed

[2017-08-09 19:06] bryanpkc commented on #16632
I just ran across the same problem. With tip this test still fails:
[code]
I can reproduce the same panic backtrace when building my own code in shared mode.

[2017-08-09 19:19] as commented on #21374
I disagree about the crypto package.  The problem in this proposal is poorly defined and makes assumptions about physical device security. The proposed solution should not be in a package known for making precise security guarantees.

[2017-08-09 19:20] ianlancetaylor commented on #21313
@fjl But that would only fix `go run`, so we would still be in an inconsistent state for `go build` or `go install`.  I don't see enough benefit to that to change 1.9 at this point.

[2017-08-09 19:29] #20877 closed

[2017-08-09 20:06] #21350 closed

[2017-08-09 20:13] smasher164 commented on #15292
@jimmyfrasche To me, it sounds like the key problem here is getting the dynamic type/value of a variable. Putting aside embedding, a simplified example would be
[code]

The value that is assigned to `e` has a dynamic (or concrete) type of something like `*net.DNSError`, which implements `error`. Here are a couple of possible ways that a future language change might tackle this problem:

1. Have a

[2017-08-09 20:50] stevenblenkinsop commented on #19412
Just one (minor) point in favour of something like @rogpeppe's original proposal. In package `http`, there's the interface type `Handler` and a function type that implements it, `HandlerFunc`. Right now, in order to pass a function to `http.Handle`, you explicitly have to convert it to a `HandlerFunc`. If `http.Handle` instead accepted an argument of type `HandlerFunc | Handler`, it could accept a

[2017-08-09 20:53] cybrcodr commented on #21357
I support the solution of returning an error.  Users will need to either explicitly construct the embed instance if they do care about unmarshaling values into it, or if they don't, they can tag it with `json:"-"` to skip unmarshaling.

[2017-08-09 21:23] #21372 closed

[2017-08-09 21:33] havoc-io commented on #20975
I've been playing with @kjk's reproducer and I think this issue may actually be unrelated to stack size. Or at the very least, stack size is only one part of it.

The original hypothesis by @lxn (based on the error message) was that the MSHTML library (invoked hackishly but cleverly through the syscall interface) required more stack space than Go provided by default. The issue only manifests on `w

[2017-08-09 21:59] havoc-io commented on #20975
@ianlancetaylor Would the code to set up TLS (https://tip.golang.org/src/runtime/cgo/gcc_windows_amd64.c#L53) be having some affect?  I remember that there was quite a bit of discussion in #11058 about the complexities of TLS on Windows, but I don't know if that could be playing a role here.  It might explain why simply setting the stack size doesn't seem to fix the problem (and that CGO does fix

[2017-08-09 22:22] ianlancetaylor commented on #20975
@havoc-io Sure, TLS may be involved.  I don't know.

But what I was trying to explain above is that when a program is built without cgo, simply setting the stack size does absolutely nothing.  When a program is built with cgo, then setting the stack size does change the stack size.  Or so it seems to me.

[2017-08-09 22:29] aclements opened #21378 "runtime: sweeper can give up early and grow heap"
`mheap.reclaimList` rotates swept spans to the back of whichever busy list it's sweeping and assumes that as soon as it encounters an already-swept span that it's done processing the whole list. However, `gosweepone` (used by proportional sweeping and the background sweeper) can sweep arbitrary spans, including spans that are in the middle of some busy list. If `reclaimList` encounters such a span

[2017-08-09 22:38] kjk commented on #20975
I might be wrong but `_beginthread`, when given 0 as stack size as in `gcc_windows_amd64.c`, uses the stack size provided in PE, so editbin would change it:

https://msdn.microsoft.com/en-us/library/kdzttdcb.aspx

Also, the thread that crashes is main thread, which, I believe, is created by the OS.

Also, looking at the callstack of the crash it's pretty clear that the first bug to investigate and

[2017-08-09 22:39] havoc-io commented on #20975
@ianlancetaylor Ah, so your point was that setting the stack size via `editbin.exe` would have no effect on the stack size for threads created via `newosproc`, which is the thread creation mechanism for the non-CGO case, so that perhaps playing with `editbin.exe` to set stack size wasn't really doing anything when we hadn't compiled with CGO. Is `newosproc` also used for creating the main thread,

[2017-08-09 22:45] havoc-io commented on #20975
@kjk You're right about the behavior of `_beginthread`, but I think his point was that the code in `gcc_windows_amd64.c` won't even be called in the non-CGO case.  But I *think* you're right (and that's why I've asked) that the main thread will inherit the stack size from the PE headers since it's created by the OS, so that even in the non-CGO case, at least *that* thread should have a decent stac

[2017-08-09 22:59] ianlancetaylor commented on #21322
To save looking through the link, the issue is that on Windows `syscall.Open` sets the write flag for the Windows file when the mode includes the `syscall.O_CREAT` flag.  This does not happen for `syscall.Open` on other operating systems.

We could change Windows, which could potentially break existing working programs on Windows.

We could change other systems in the syscall package.  This would

[2017-08-09 23:15] zeebo commented on #21351
We set TMPDIR to something, and yep it's full of things.

I'll change the scripts to pass `-workdir` and clean it up.

[2017-08-09 23:18] johnsonj commented on #17365
We'll need to wait till build 16215+ hits GCE which is currently in the insiders ring

[2017-08-09 23:26] zeebo commented on #21351
Ok I've looked in to this some. I don't see a way that I can from my environment pass `-workdir` to the `buildet` command. the `stage0` command handles running the `buildet` for me, and I see no way in either `stage0` or `buildet` pass it the flag.

Is the next step to modify one of these two binaries to allow me to pass it in through some environment variable or something? Is my setup wacky?

I'v

[2017-08-09 23:37] slrz commented on #21358
Given that x/net/context is barely more than a type alias now, there's no longer much to gain by forcing its deprecation. So, maybe just keep everything as-is for some time?

[2017-08-09 23:48] billyh commented on #21161
I'd like to suggest that our problem statement is,

To address this problem statement, I propose these goals for error handling improvements in Go 2.x:

1. Reduces repetitive error handling boilerplate and maximizes focus on the primary intent of the code path.
2. Encourages proper error handling, including wrapping of errors when propagating them onward.
3. Adheres to the Go design principles of

[2017-08-09 23:52] #20898 closed

[2017-08-09 23:53] SirCmpwn commented on #21161
I think that this is self evident if we assume that ergonomics is important. Open any Go codebase and look for places where there are opportunities to DRY things up and/or improve ergonomics that the language can address - right now error handling is a clear outlier. I think the Toward Go 2 approach may erroneously advocate for disregarding problems that have workarounds - in this case that people

[2017-08-10 00:47] mdcnz opened #21379 "syscall: GNU/Linux tests fail when run as root inside container"
### What version of Go are you using (`go version`)?
1.9 and tip

### What operating system and processor architecture are you using (`go env`)?
host: ubuntu16 x86_64
docker: 17.06.0-ce
container: golang:1.9

### What did you do?

Tried to compile and test golang tip using docker golang:1.9 image.

Dockerfile:

[code]

Tried to build with:
docker build --no-cache -t dogo-img .

### What did you ex

[2017-08-10 01:34] xoviat commented on #20982
Okay, so moving along here more quickly than expected!

[2017-08-10 02:08] mvdan commented on #21379
If you run `whoami` or `id` in the container, do they execute fine?

Have you tried `make.bash` instead of `all.bash`? If what you're after is compiling Go, you don't need to run all the tests.

[2017-08-10 03:15] joefitzgerald commented on #20398
@dlsniper 🔤, a minor nit: it's `go-plus`, not `Go-Plus`.

[2017-08-10 03:55] kjk opened #21380 "go 1.9rc2 windows/amd64 breaks gdb 8"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

I'm trying to gather more information on #20975 which involves running the executable on windows under a debugger that understands dwarf debug info (because neither msvc nor windbg do).

I tried:
* clone repro program https://gi

[2017-08-10 04:41] kjk commented on #21380
The same happens for gdb 7.11.1 from http://www.msys2.org/

[code]
$ gdb --version
GNU gdb (GDB) 7.11.1
[code]

[2017-08-10 05:18] timakin opened #21381 "proposal: Go2: replace `context` with `channel/cancel` and `req.Store`"
[As this author says](https://faiface.github.io/post/context-should-go-away-go2/), context package has too ambiguous role.
The spec notices that `context` should store only `request-scoped` variables,
and the main purpose of this package is cancellation of goroutine.

Removing all implementations of `context` is too drastic,
however, we should clarify the role of them.

So my proposal is splitting

[2017-08-10 05:19] kjk opened #21382 "runtime: infinite recursion on windows triggered by morestack"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

`go version go1.9rc2 windows/amd64`

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

This is a continuation of #20975 so the same repro program (https://github.com/kjk/go20975) built in 64bit mode.

### What did you

[2017-08-10 05:27] mdcnz commented on #21379
Thanks for your response Daniel. Yes, they execute:

`whoami
root

id
uid=0(root) gid=0(root) groups=0(root)

make.bash
...
Installed Go for linux/amd64 in /go_tip
`

[2017-08-10 06:12] kjk commented on #21382
So I'm stepping through the assembly and there's more fishy stuff.

After `int 3` we end up in:
[code]
However, at that point rax is 0x17, so trying to de-reference [rax-75h] throws an exception:

[code]
That doesn't make sense to me unless this is a trick to just trigger an exception.

Here's a what gets executed, according to windbg, when single-stepping from int 3 to calling morestack again:
[c

[2017-08-10 06:49] paulzhol opened #21383 "x/build: maintner.golang.org not-accessible"
The freebsd-arm-paulzhol builder is stuck in a loop since yesterday trying to build the sys subrepo but failing because it can't download it:
[code]

Also the dashboard for the sys build reports HTTP 404, attached logs captured from farmer.golang.org:
[temporarylogs.txt](https://github.com/golang/go/files/1213855/temporarylogs.txt)
[temporarylogs2.txt](https://github.com/golang/go/files/1213858/te

[2017-08-10 07:08] cryslith opened #21384 "x/crypto/ssh: docs for SignCert omit mention of nonce"
The documentation for [`Certificate.SignCert`](https://godoc.org/golang.org/x/crypto/ssh#Certificate.SignCert) should note that it automatically sets `c.Nonce` to a 32-byte random nonce before signing.

[2017-08-10 07:27] dvyukov commented on #21337
@griesemer you mean always running go fmt as: `go fmt ./... 2>/dev/null || true`?

[2017-08-10 07:49] metakeule commented on #21132
@rogpeppe

It helps in that you don't need to build a type safe wrapper for each type, but just once for all types.

[2017-08-10 07:53] mvdan commented on #21380
@kjk if this worked with 1.8 and if you have the time, bisecting this to a commit made during the 1.9 cycle would be of great help.

[2017-08-10 07:54] urandom commented on #21161
@billyh

I feel that the format: `f.Close() =? err { return fmt.Errorf(…, err) }` is overly verbose and confusing. I personally don't feel that the error part should be in a block. Inevitably, that would lead it to be spread out in 3 lines instead of 1. Furthermore, in the off change that you need to do more than just modify an error prior to returning it, one can just use the current `if err != n

[2017-08-10 07:56] mvdan commented on #21382
Just to clarify, is this when building the program, or when running it?

Does this happen with 1.8?

CC @aclements

[2017-08-10 07:57] mvdan commented on #21382
Also, if this was an infinite recursion, wouldn't you end up with a panic or crash of some sort? I don't know what `windbg` is, so perhaps there's something I'm missing.

[2017-08-10 08:21] kjk commented on #21382
Eventually the process will go away due to stack overflow exception. In this scenario runtime is incapable of handling it and generating a proper panic.

[2017-08-10 08:24] kjk commented on #20975
After stepping through the code in the debugger, I don't think it's related to stack size.

The issue is that  we have:
[code]

We are in:
[code]

The source of the problem, it seems, is that `morestack` was called on scheduler stack i.e. g.m.g0 == g.

Best I can tell, this is called from exitsyscallfast:
[code]

It seems like systemstack is supposed to ensure that the function called is not on sc

[2017-08-10 09:01] griesemer commented on #21337
@dvyukov Not always, but perhaps in situations where we don't care about errors.

[2017-08-10 09:37] kjk commented on #20975
Narrowing it down further, it seems like it's always a result of calling back from C to Go:
[code]

I captured it by using `runtime.exitsyscallfast+0xcc "~. kb; g"` which , in windbg, breaks in exitsyscallfast right before calling `systemstack`, prints callstack (`kb`) and continues (`g`).

`systemstack` will then call lamda, which will call `morestack` which will crash with cut off callstack.

Th

[2017-08-10 09:39] rogpeppe commented on #21132
It doesn't look like that from your comments above. For anything that involves actually naming the "blank" type, you'd need to build a type safe wrapper for that specific type.

[2017-08-10 09:43] NCSantos opened #21385 "Spec missing translation."
Hi,

On the last example of https://golang.org/ref/spec#Struct_types a translation is missing, it says:
   "ceci n'est pas un champ de structure"
and it should say:
"This is not a struct field".

Or is this a pun?

[2017-08-10 09:46] cznic commented on #21161
I don't agree with the problem statement. I'd like to suggest an alternative:

----

Error handling does not exist from the language point of view. The only thing Go provides is a predeclared error type and even that is just for convenience because it does not enable anything really new. [Errors are just values](https://blog.golang.org/errors-are-values). Error handling is just normal user code. T

[2017-08-10 09:47] kjk commented on #20975
This seems to be limited to amd64. I spent a while trying to repro this on 386 build and couldn't.

[2017-08-10 10:02] ALTree commented on #21385
Considering that AFAIK the spec *wasn't* originally written in French, I'd say this is not a missing translation, it must be intentional.

[2017-08-10 10:08] #19389 closed

[2017-08-10 10:13] eliasnaur commented on #20392
@steeve, both CLs are now in, hopefully fixing this issue.

[2017-08-10 10:48] alhails opened #21386 "plugin: Panic decoding json into shared type"
```go version go1.9rc2 linux/amd64```

[code]
When multiple plugins contain the same type, this leads to errors decoding JSON into that type

Here's my simple example reproducing this behaviour.
Build the plugins using -buildmode=plugin.
I can send the full buildable project if required.

**main.go**
[code]
**plugin1.go**
[code]
**plugin2.go**
[code]

### What did you expect to see?
Expected the d

[2017-08-10 11:03] stub42 opened #21387 "x/tools/cmd/stringer: cannot import vendored dependencies"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8.3 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

Ubuntu Linux, amd64

### What did you do?

Attempted to run golang.org/x/tools/cmd/stringer on package importing vendored dependencies

### What did you expect to se

[2017-08-10 11:32] havoc-io commented on #20975
Just to be clear - this debugging is on non-CGO binaries (i.e. those without a blank `runtime/cgo` import)?  I noticed the `runtime.cgocallbackg` frame in your stack trace, but I guess maybe this CGO functionality is re-used in the Windows syscall implementation?

[2017-08-10 12:12] carlmjohnson commented on #21161
Along the lines of what Cznic says, it would be nice to have a solution that is useful for more than just error handling.

One way to make error handling more general is to think of it in terms of union-types/sum-types and unwrapping. Swift and Rust both have solutions with ? ! syntax, although I think Rust's has been a bit unstable.

If we don't want to make sum-types a high level concept, we cou

[2017-08-10 13:08] griesemer commented on #21385
Il n'y a pas de plaisir à écrire tout dans la même langue.

[2017-08-10 13:08] #21385 closed

[2017-08-10 14:11] navytux opened #21388 "proposal: spec: Allow passing more arguments to variadic functions with final `argv...`"
Hello up there. Currently the following does not compile:

[code]

and gives

[code]

to make it work one has to change myprint as follows:

[code]

which adds much noise to actual signal.

For variadic functions the language already _implicitly_ allocates argv slice as it happens e.g. in the following log.Print call:

[code]
So from this point of view implicitly allocating new `argv2 = append([]i

[2017-08-10 14:17] djui opened #21389 "http.Server.ResponseWriter.Write attempts do not error after http.Server.WriteTimeout nor is http.Server.ErrorLog used"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]
### What did you do?

https://play.golang.org/p/pwjZmMKleR

Create a HTTP server with a `WriteTimeout = 1 * time.Second` and a `HTTPHandler` with an artificial `time.Sleep(2 * time.S

[2017-08-10 14:31] josharian commented on #21383
cc @kevinburke @andybons

I always suspected maintner was really just Brad on his phone.

[2017-08-10 14:34] josharian commented on #21388
Possible dup of #18605.

[2017-08-10 14:46] kevinburke commented on #21383
I don't have access to the production infrastructure, unfortunately. My guess is it's crashing on some bad input.

[2017-08-10 14:47] kevinburke commented on #21383
I think @jessfraz and @adams-sarah have access to production as well

[2017-08-10 14:57] rochaporto commented on #20728
+1 on this. Currently have a non voting job on CI for exactly this, and parsing the result as described in the initial description which is not ideal.

[2017-08-10 15:13] laboger opened #21390 "cmd/compile,math: improve performance for some math functions for ppc64x"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go tip

### What operating system and processor architecture are you using (`go env`)?
Ubuntu (or any) ppc64le

Making some improvements to several math functions by writing some in asm and implementing some as intrinsics.

I will be creating multiple CLs to do this, so instead

[2017-08-10 15:16] rodcorsi commented on #21161
The solution `=?` proposed by @bcmills and @jba isn't only for error, the concept is for non zero. this example will work normally.

[code]

The main idea of this proposal is the side notes, separate the primary purpose of the code and put secundary cases aside, in order to make reading easier.
For me the reading of a Go code, in some cases, is not continuous, many times you have the stop the idea

[2017-08-10 15:39] MTRNord commented on #20248
I got a similiar problem with a another local package. It looks like:

[code]
and gets  imported into the file I use it in and imported in my main function that I use to run the plugin from. both are compiled directly after each other.

[2017-08-10 16:34] bcmills commented on #21161
@billyh

Please be more concrete: "opaque and unusual" are awfully subjective. Can you give some examples of code where you think the proposal would be confusing?

IMO that's a feature. If someone sees an unusual operator, I suspect they're more inclined to look up what it does instead of just assuming something that may or may not be accurate.

It does?

Read the proposal carefully: `=?` performs

[2017-08-10 16:37] cznic commented on #21388
Replace your

[code]

with

[code]

But you can do that directly w/o any `myprintf`.

[2017-08-10 16:40] birjolaxew commented on #21326
I would be saddened to see 418 removed. It's a fun bit of flavor that does no harm, and is a fun little easter egg to stumble upon - I feel it would be a shame to smother it.

[2017-08-10 16:44] bcmills commented on #21161
@urandom

The purpose of the block is twofold:
1. to provide a clear visual and grammatical break between the error-producing expression and its handler, and
2. to allow for a wider range of error handling (per @ianlancetaylor's stated goal in the original post).

3 lines vs. 1 is not even a language change: if number of lines is your biggest concern, we could address that with a simple change to

[2017-08-10 16:47] bcmills commented on #21161
@carlmjohnson

What would the concrete syntax and semantics of your `guard … else` statement be? To me, it seems a lot like `=?` or `::` with the tokens and variable positions swapped around. (Again, a more concrete proposal would help: what are the actual syntax and semantics you have in mind?)

[2017-08-10 16:57] philhofer opened #21391 "cmd/compile/ssa: conditional select instructions"
Consider: (from https://go-review.googlesource.com/c/54656)
[code]
Right now, the best the amd64 backend could do for this basic block is generate a conditional branch forward over the `B = 15` statement. Ideally, though, we'd have it generate a `CMOV` instead.

EDIT (after some experimentation):

Here's my proposal:

Introduce a new family of generic SSA instructions. For now, let's say it's just

[2017-08-10 17:12] tabacco commented on #21326
Why bother? It's amusing, and doesn't hurt anything.

[2017-08-10 17:39] kjk commented on #20975
Yes, non-CGO, latest tests are with go 1.9 rc2

[2017-08-10 17:47] blaskovicz commented on #17898
Here is the [Gitlab implementation](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/3191/diffs), for reference. It seems that there was a [similar issue](https://github.com/gitlabhq/gitlabhq/issues/9508) with Golang subpackages for it as well.

[2017-08-10 17:49] navytux commented on #21388
@cznic: log.Print was just an example. The actual case where I hit this was not about log.Print and there was no `...f` helpers ready. E.g. it is when you have to use glog.InfoDepth and many other cases. The issue here is about the language, not particular logging case.

@josharian thanks for the pointer. Looks like this could be generalized to `(extra1, extra2, argv1..., extra3, argv2..., extra4,

[2017-08-10 18:08] romellem commented on #21326
Just to be clear, is your argument that when/if the 400 block runs out, we'll want that _one_ extra code available to stretch out the usefulness of the 400 block just a _bit_ further?

Unless I'm reading it incorrectly, the 400 block of [HTTP status codes](http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml) has more than 50 codes available. With the available "space" of the

[2017-08-10 18:10] ALTree commented on #8277
Dup of  #21360 and that one has some discussion, so closing this.

[2017-08-10 18:10] #8277 closed

[2017-08-10 18:13] tombergan commented on #19761
This is a reasonable feature request.

I think httptrace is the best place for this, actually. It's not possible to mutate Request for the reasons that Brad mentioned. It's unfortunate that WroteHeaders() doesn't take an Info argument, and it's too late to change the signature. The possible solutions include:

1. Add Header to WroteRequestInfo. Might require copying the Header (I'd have to look).

[2017-08-10 18:19] adams-sarah commented on #21383
maintner in a crash loop.

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x904f37]

goroutine 521 [running]:
main.tryWorkItem(0x0, 0xc42030d530)
	/go/src/golang.org/x/build/maintner/maintnerd/api.go:92 +0x37
main.apiService.GoFindTryWork(0xc42000b000, 0x103bb80, 0xc438f43a10, 0xc452496d60, 0x0, 0x0, 0x0)
	/go/sr

[2017-08-10 18:26] adams-sarah commented on #21383
Running to a meeting, but looks like a nil check (`cl == nil`) in maintnerd/api.go:167 would fix this.

[2017-08-10 18:27] ALTree commented on #8538
That C code in the compiler was deleted a long time ago, so I'm closing this.

[2017-08-10 18:27] #8538 closed

[2017-08-10 18:40] ALTree commented on #21390
This is (a subset of) #8913 (math, crypto, hash: Write power64 versions of assembler routines where applicable)

[2017-08-10 18:57] drosseau opened #21392 "encoding/gob: debug function prints uint values incorrectly"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Use the `Debug` function in `encoding/gob` to try to view a gob. A simplified gob that has the error is here:
[code]

(Sorry I can't put this in the playground a

[2017-08-10 19:00] ALTree commented on #9882
This is a dup of #21143 and the reason `goimports` deletes the import is that `goimports` does not work well with imports containing `-` in a repository. The usecase is not supported and the fix is to use a named import.

[2017-08-10 19:00] #9882 closed

[2017-08-10 19:16] ALTree commented on #21392
Looks like a copy-paste error here:

[code]

Notice how the `case tUint` branch calls `x := deb.int64()` instead of `x := deb.uint64()`.

[2017-08-10 19:19] drosseau commented on #21392
I submitted a fix this.

[2017-08-10 19:51] #18694 closed

[2017-08-10 19:55] mdempsky commented on #21388
Closing as dup of #18605.

[2017-08-10 19:55] #21388 closed

[2017-08-10 20:13] xoviat commented on #20982
All: is [asm_amd64.s](https://github.com/golang/go/blob/1ee55c3ab6e4dff810a03bc1d788dd6106cdf691/src/runtime/cgo/asm_amd64.s) assembled by go's assembler (with the odd assembly) or gcc's assembler?

[2017-08-10 20:18] xoviat commented on #20982
It seems that gcc will not assemble it, which means that it's probably go assembly. And then the question becomes: how to assemble it with the go assembler into an object.

[2017-08-10 20:25] rsc commented on #15196
I've heard off-issue from some people working with [SPIFFE](https://spiffe.io/) that need URI-based Name Constraints, and SPIFFE in turn is hopefully going to be written in Go and used by a variety of systems, including gRPC and Istio.

I'm trying to understand the current state here. @agl, it sounds like you are okay with moving to the VOG approach to X.509 validation, and he may still have an ol

[2017-08-10 20:29] ianlancetaylor commented on #20982
The intent is that runtime/cgo/asm_amd64.s gets assembled into a Go object, then cmd/link links it together with all the other Go objects into a single system object, and then the system linker links that single system objects plus all the cgo dependencies into the final program.

[2017-08-10 20:34] xoviat commented on #20982
Is there a way to assemble that object for now for testing purposes? Like `gcc -c asm_amd64.s` except with go?

[2017-08-10 20:40] xoviat commented on #20982
So far I found these objects:

- go.o
- _cgo_.o
- 000000.o
- 000001.o

`go.o` is the biggest object.

[2017-08-10 20:58] xoviat commented on #20982
@ianlancetaylor

I don't think what you said is correct. `crosscall_amd64` is located in 000001.o, but that file doesn't have "all of the go code":

[code]

This file has obviously been generated by gcc, which is too late in the process.

[2017-08-10 21:18] urandom commented on #21161
@bcmills
The hypothetical ReplaceIfNil would be a simple:
[code]
Nothing unusual about that. Maybe the name ...

`or` would be a binary operator, where the left operand would be either an IdentifierList, or a PrimaryExpr. In the case of the former, it is reduced to the rightmost identifier. It then allows the right-hand operand to be executed if the left one is not a default value.

Which is why i

[2017-08-10 21:29] mnot commented on #21326
We have a history of people squatting on HTTP status codes, and they're a scarce resource. The registry is the mechanism we use to coordinate their semantics and assure interoperability, and this status code is not registered.

I'm all for Easter eggs in headers (effectively infinite space), body content, etc. Putting a joke in a status code isn't a big deal right now, but it sets a precedent of t

[2017-08-10 21:32] irth commented on #21326
I propose removing it from `net/http` and creating `net/htcpcp` as as many stated before - code 418 is not in fact a HTTP/1.x status code, but HTCPCP/1.0.

[2017-08-10 21:34] snikch commented on #21326
Perhaps we should just register `418` officially, and then everyone can be happy.

[2017-08-10 21:38] randall77 commented on #21391
It will be a bit tricky to represent in SSA.  You will need additional args to any conditionally executed Value.  You'll certainly need a flags value to direct the conditionality.  And possibly also the old values of all the registers that get conditionally overwritten.  So it isn't as simple as adding a few bits to a Value and reusing already existing opcodes.

Another option is to do it in SSA->

[2017-08-10 21:39] rberenguel commented on #20015
How hard do you reckon this to be @bradfitz @mdempsky ? I'm vaguely familiar with the internals of reflect already (had to do something weird recently and explored it a lot for inspiration), so would love a try if possible to improve my understanding of it.

[2017-08-10 21:47] birjolaxew commented on #21326
@mnot I would challenge this claim. If your fear is that 418 will gain widespread adoption, I think you're a little late; 418 was introduced in 1998, 19 years ago. Quite the opposite - once HTTP codes start becoming a scarce resource, the value of having a joke code will not be worth taking up a code for.

[2017-08-10 21:51] mnot commented on #21326
@birjolaxew I think lots of implementations have included it because they someone thought it was relevant, and they took a pull request without checking. As a proportion of traffic / applications / requests / whatever other metric you choose, it's basically unused **for the defined semantics**.

[2017-08-10 21:53] bcmills commented on #21161
@urandom

Go's binary operators are expressions, not statements, so making `or` a binary operator would raise a lot of questions. (What are the semantics of `or` as part of a larger expression, and how does that jibe with the examples you've posted with `:=`?)

Assuming that it is actually a statement, what is the right-hand operand? If it is an expression, what is its type, and can `raise` be use

[2017-08-10 21:54] philhofer commented on #21391
I'm okay with doing it in SSA->Prog. I had some hope that maybe the logic for detecting these opportunities could be made portable, but I guess we'll see how realistic that is once I start writing the code. Perhaps it can work cleanly as a phase that runs after register allocation.

[2017-08-10 21:54] daenney commented on #21326
How is it a scarce resource with over 50% of the space still available? Considering it's taken 19 years to get to the current point I very much doubt that claim. No one seems to be in any need or hurry to introduce additional codes either, and definitely not another 82 of them just in the 4xx range. Unless there's some RFC that we haven't seen yet?

Fair enough. Lets just register it then.

That p

[2017-08-10 22:03] philhofer commented on #21391
Alternatively, we do what LLVM does and introduce a "select" instruction in the portable SSA (we'd have to name it something different, I guess, since we already have one), and then lower that to the right conditional moves later.

[2017-08-10 22:30] urandom commented on #21161
`defer f.Close() or raise(err2) errors.ReplaceIfNil(err, err2) or raise(err3) Transform(err3)`

No, this would be invalid because of the second `raise`. If that wasn't there, then then the whole transformation chain should go through and the final result should be returned to the caller. Though such semantics as a whole are probably not needed, since you can just write:

`defer f.Close() or raise(

[2017-08-10 22:37] mnot commented on #21326
That's not how it works; we don't define every thing that's not allowed, we define the semantics and record them in the registry.

If you're suggesting we mark the HTCPCP RFCs as Historic, we can do that, but I suspect that will make even more people sad.

[2017-08-10 22:41] daenney commented on #21326
You're already making a lot of people sad. At least doing it that way won't leave it up to language implementations but actually provides guidance as to what implementers are expected to do.

[2017-08-10 22:45] ryanneufeld commented on #21326
Some people have no sense of humor. This isn't harmful. It's funny.

[2017-08-10 22:45] tomwans commented on #18063
Hey @mvdan are you still working on this? I was inspired by the recent contribution workshop blog post (https://blog.golang.org/contributor-workshop) and went hunting for bugs. I have a change working locally, would you mind if I submitted a CL?

[2017-08-10 22:53] bradleyfalzon commented on #21326
The argument is quite clear:

An alternative solution, although I think it's fine to schedule the constant's removal, is to remove it from `http.StatusText(code int) string` function. `net/http` can continue to define the constant as there's no harm there, but `StatusText` would not recognise the code, instead reserving it for use by an accepted status code.

[2017-08-10 23:04] daenney commented on #21326
I find that argument to be rather weak. I'm onboard with the principle, but I'm having a hard time seeing us running out of status codes or not being able to solve that.

But, lets assume that next year we run out of 4xx status codes, what then? Freeing up 418 won't save us for long, we'll have to come up with a different way of handling status codes entirely.

[2017-08-10 23:08] benaadams commented on #21326
Crossing the streams; also raised in https://github.com/nodejs/node/issues/14644 and https://github.com/aspnet/HttpAbstractions/issues/915

[2017-08-10 23:08] as commented on #21326
That's a matter of taste. Go is an opinionated language, and I was surprised to find this status code here. I don't think it's particularly funny or harmful. Due to compatibility, it has to stay in the language. I don't see why it should be deprecated either, does the status code really need to be _maintained_ or acknowledged in any special way?

It is a bit frighting how much time collectively ge

[2017-08-11 00:01] sondr3 commented on #21326
@mnot do you have any examples of this? From the top of my head I can't think of any examples of people squatting HTTP status codes, nor are they a scarce resource when more than half of the 400 are unused.

[2017-08-11 00:12] kevinburke commented on #21383
From Sarah: https://golang.org/cl/54751

Which makes me wonder if there is some sort of race or ordering problem.

One thing we could do is run this with the race detector on, either in production or in some sort of staging realm that mirrors the same data.

[2017-08-11 00:18] tyteen4a03 commented on #21326
@sondr3 Plenty [here](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#Unofficial_codes), but none as widely recognised as the 418.

[2017-08-11 00:25] krancour opened #21393 "math/rand: no non-default concurrency-safe Source"
I apologize if this is a duplicate issue. I looked and couldn't quite find this one...

According to `math/rand` package documentation, the following is not concurrency safe:

[code]

The aforementioned "default source," is (rightfully) not exported by the `math/rand` package. So the _only_ way to generate random numbers in a concurrency-safe fashion (with this package, at least) is to resort to u

[2017-08-11 00:25] mnot commented on #21326
That list is a good start. When we did 451, there was a concern we couldn't use it because Exchange server had squatted on it in the past, but working with MSFT, we determined that it wasn't likely to be an interop problem (because it was confined to one bit of code that was old, not still widely deployed, and specialised, IIRC).

[2017-08-11 00:42] ianlancetaylor commented on #21393
It seems straightforward to wrap a mutex around your calls to a `Source`.

That said, do you have a suggestion for how the package should be changed?

[2017-08-11 00:49] josharian commented on #21393
In Go 2 world, we could have the default source be non-concurrency-safe, and provide a convenience wrapper that accepts a Source and returns a concurrency-safe Source. (There may be some subtleties and/or optimizations that just throwing a mutex won't help with, like batching core PRNG calls for rand.Read.)

(I have a partially written Go 2 math/rand proposal. I had in mind this being a part of it

[2017-08-11 00:52] josharian opened #21394 "cmd/compile: improve codegen for nested if statements"
As observed in CL 54651, these two semantically equivalent bits of code do not always compile equivalently:

[code]

[code]

This issue is to investigate why, and if the latter is systematically better, consider improving the former. Note that 'if a && b' gets special handling at Node -> SSA time; phiopt.go does some further related cleanup, but perhaps not enough.

cc @randall77

[2017-08-11 00:59] krancour commented on #21393
I suppose I could and probably will. But, should I have to? imho if something in the standard library implicitly requires me to wrap something in a mutex just to use it safely, then it should have done that for me. (This is, in fact how the package level default source works. It's a locking source that utilizes a mutex. At minimum, it would be nice if that source impl or something similar to it we

[2017-08-11 01:06] alexbrainman commented on #20982
asm_amd64.s is part of runtime package. You can see how "go build" command uses asm_amd64.s file, like:
[code]

Alex

[2017-08-11 01:11] xoviat commented on #20982
Thanks.

[2017-08-11 01:26] alexbrainman commented on #21085
This actually uses WSADuplicateSocket and WSAStartup to pass network socket between processes. These functions use WSAPROTOCOL_INFO struct (instead of file handles) to do the job.

Alex

[2017-08-11 01:39] sondr3 commented on #21326
Isn't this a bit ironic given you want to remove 418 I'm a Teapot? You could've chosen any of the free status codes but you had to use one that's a reference to a novel.

[2017-08-11 01:40] alexbrainman commented on #21376
@bburket can you easily reproduce this? What versions of Windows do you run? Can you reproduce it on different Windows computer?

Thank you.

Alex

[2017-08-11 01:43] itsmontoya commented on #21326
We use 418 in Production. I highly oppose this request.

[2017-08-11 01:55] ianlancetaylor commented on #20982
The symbol `crosscall_amd64` is defined in the file runtime/cgo/gcc_amd64.s.  That file is compiled by GCC (as are all the runtime/cgo/gcc_* files).  So it is not combined into the single go.o file that contains all the Go code.  The file we were talking about before, runtime/cgo/asm_amd64.s, defines the symbol `crosscall2`.  You will find that symbol in go.o.

[2017-08-11 01:57] alexbrainman commented on #21380
This works for me with `GNU gdb (GDB) 7.8` and `go version devel +6b6b9f69fd Wed Aug 9 05:33:09 2017 +0000 windows/amd64`.
I don't have skills or time to debug gdb.

Alex

[2017-08-11 01:57] xoviat commented on #20982
Thanks.

[2017-08-11 01:58] philipwhiuk commented on #21326
1. I dislike how this is being done, piecemeal across multiple projects, in a way that disputes there isn't a standard implementation here.

2. I strongly believe there's a finite number of 4xx error cases that you will ever see. The very fact they have grown really slow is indicative to me that we are unlikely to ever need all the space.

3. What is your proposal for current implementations using

[2017-08-11 02:06] typeless opened #21395 "proposal: A tool similar to git-bisect for Go binary releases"
Just learned about https://godoc.org/golang.org/x/build/version/go1.9rc2 this morning. An idea then occurred to me.

The features of the tool can be extended incrementally as follows:
1. Can download the latest release of Go (toolchain, stdlib).
2. Can download a particular version of Go.
3. Can download a particular revision (commit) of Go.

Then the next enhancement would be making the tool capa

[2017-08-11 02:16] alexbrainman commented on #21382
I would not expect Go to generate proper panic after executing `INT $3`. I will let Austin decide if something needs to be done here.

Alex

[2017-08-11 02:46] alexbrainman commented on #20975
newosproc is not used to create main thread. main thread is created by Windows process loader. The loader uses pe file parameters to configure main thread stack.

If any non Go code calls Windows CreateThread API, the call cannot magically "be re-routed through newosproc". In fact this scenario is broken at this moment (see issue #6751).

I would not be surprised if your problem is a dup of #6751.

[2017-08-11 02:58] mvdan commented on #21394
Could this also apply to `if a { if b := c(); b { ... } }`?

[2017-08-11 03:00] kjk commented on #20975
The crash always happen on the main thread.

If you read earlier comments I think I narrowed it down to `morestack` crashing because it detects we're on scheduler stack even though it's being called via `systemstack()` whose purpose seems to be ensuring that doesn't happen.

So my best guess is that `systemstack` on amd64 doesn't always do the job (the issue doesn't happen on i386 which is not une

[2017-08-11 03:12] #21005 closed

[2017-08-11 03:45] udhos opened #21396 "mobile: need API to hide Android status bar on native app"
### What version of Go are you using (`go version`)?
$ go version
go version go1.9rc2 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/everton/go"
GORACE=""
GOROOT="/usr/local/go1.9rc2.linux-amd64"
GOTOOLDIR="/usr/local/go1.9rc2.linux-amd64/pkg/tool/li

[2017-08-11 03:59] zhangfannie opened #21397 "cmd/internal/obj/arm64: golang assembler handles arm64 instruction stxr/stxrb/stxrh incorrectly."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version devel +a6ae01a Thu Aug 10 21:45:01 2017 +0000 linux/arm64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/fanzha02/go"
GORACE=""
GOROOT="/m

[2017-08-11 04:07] udhos commented on #17203
This issue does not make sense. gomobile already has the feature.

[2017-08-11 05:19] xoviat commented on #20982
Okay, I've managed to link an executable that crashes on an access violation while in
go.runtime.rt0_go+5F --> go.___acrt_stdio_initializer.

That's all the time I have for now; I'll come back to this later.

[2017-08-11 06:23] zhangfannie opened #21398 "cmd/internal/obj/arm64: golang assembler handles arm64 instruction movk incorrectly"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version devel +a6ae01a Thu Aug 10 21:45:01 2017 +0000 linux/arm64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="arm64"
GOBIN=""
GOEXE=""
GOHOSTARCH="arm64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/fanzha02/go"
GORACE=""
GOROOT="/m

[2017-08-11 06:55] halfcrazy opened #21399 "encoding/xml: cannot marshal self-closing tag"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.3 darwin/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/xxx/.go:/Users/xxx/workspace/goproject"
GORACE=""
GOROOT="/usr/loca

[2017-08-11 07:07] stapelberg opened #21400 "x/build/version: runtime.GOROOT() returns /usr/local/go instead of ~/sdk/go1.9rc2"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

### What did you expect to see?

`runtime.GOROOT()` should always return `/home/michael/sdk/go1.9rc2`

### What did you see instead?

`runtime.GOROOT()` returned `/usr/local/go`, which is set in `~/sdk/go1.9rc2/src/runti

[2017-08-11 07:51] szuecs commented on #21326
Hi! Speaking as part of team "Teapot", which is named based on this error code, I want to have 418 as it is. If you change it you break compatibility, for being too serious. ;)

We really need this client error code for answering questions personally.

Fun fact:
Our web page https://www.google.com/teapot is maybe not very known, while not working for google we appreciate it.

[2017-08-11 07:53] SophisticaSean commented on #21326
I'm the CTO, CEO of a popular IoT company, you may have heard of it: tPot.

What status code am I supposed to return from my teapots if this is removed from Go? This is ridiculous.

A teapot must have hurt you very deeply for you to take up this crusade against them.

Shame on you sir.

[2017-08-11 08:03] henhouse commented on #21326
The argument for freeing up 418 for space reasons holds little weight -- it came out nearly 20 years ago and the need for additional space for status codes has yet to become a major issue, even in the rise of HTTP/2.0.

Think about it, nearly 20 years that people have been using this status code. It's been apart of Node, Golang, and others, so _of course_ people have been using it. At work, we hav

[2017-08-11 08:07] glycerine commented on #20288
My use case is not leaking goroutines. When my goroutine does a blocking read on an ssh.Channel it is always blocked, I can't signal that goroutine to shutdown. The usual way with a net.Conn is to set read and write deadlines, then poll for errors. So I was thinking of SSH channel level support for deadlines.

[2017-08-11 08:27] dwardu89 commented on #21326
Do not remove 418, it's what makes the internet fun. #Save418

[2017-08-11 08:36] ALTree commented on #21368
Looks like you added it, so I'm closing this.

[2017-08-11 08:36] #21368 closed

[2017-08-11 08:39] ALTree commented on #21400
Thanks for the report.

This is a duplicate of #21313 (runtime: bad GOROOT in 1.9rc1), so I'm closing this thread in favour of the older one.

[2017-08-11 08:39] #21400 closed

[2017-08-11 08:40] Aggamemnon commented on #21326
#Save418.

[2017-08-11 08:46] ALTree commented on #21326
Please do not comment on the issue unless you have something to say other than "but I like teapots". We have a [NoMeToo](https://github.com/golang/go/wiki/NoMeToo) policy. You can add a reaction to the initial post to show support or opposition to the proposal.

[2017-08-11 09:13] StephanMeijer commented on #21326
We should keep 418. It is used in production, like here: https://www.google.com/teapot

[2017-08-11 09:42] daenney commented on #21326
[A request to register 418 has been submitted to IANA](https://github.com/nodejs/node/issues/14644#issuecomment-321726573), under number 979050.

[2017-08-11 10:05] paulzhol commented on #21383
with the maintainer back up, `freebsd-arm-paulzhol` finished building `sys` and `net` subrepos on 1.7 and 1.8 but now the builder is not receiving any work:

Reverse pool summary:
  host-freebsd-arm-paulzhol: 0/1

Reverse pool machine detail
a20.home.idea-y.com (10.240.0.8:54566) version 15, host-freebsd-arm-paulzhol: connected 6h13m59.5s, idle for 359.5ms

My logs don't indicate anything out of t

[2017-08-11 10:13] cheery commented on #21326
A HTTP spec return code nobody sees and has use for, and that takes space in a spec. Drives a point home about how idiotic node.js, Go and ASP.net communities are.

[2017-08-11 10:14] birjolaxew commented on #21326
@cheery Do you have similar feelings about [`rebeccapurple`](http://lists.w3.org/Archives/Public/www-style/2014Jun/0312.html)?

[2017-08-11 10:14] daenney commented on #21326
Though you might disagree, please refrain for calling others idiots b/c of a difference of opinion. The conversation has been pretty civil so far, lets keep it that way.

[2017-08-11 10:30] nickaein commented on #21326
If somebody actually believes we are going to run out of HTTP error codes in near future, he/she should try to fix HTTP design.
Having one extra error code isn't going to solve that problem (which I think is fictitious).

[2017-08-11 10:47] cznic commented on #21326
He called no _person_ an idiot. Collective intelligence actually often falls into that category.

[2017-08-11 11:00] davecheney commented on #21326
Thank you all for your input, I believe the case has been made clearly both for and against the proposal and while there is nothing that can be done inside the scope of Go 1, this issue will be revisited in the planning for Go 2.

I am closing discussion on this issue as there is nothing more to be said at this time. Thank you.

[2017-08-11 13:53] lni commented on #20248
I am having a similar issue when testing go 1.9rc2 (same as the user above).

The plugin part of the software I am working on works fine when using go 1.8.3, once switched to go1.9rc2 while keeping everything else the same (3rd party libraries all vendored, no exact env setting, pretty sure everything is using default value), I got the "plugin was built with a different version of package plugin"

[2017-08-11 14:38] tklauser commented on #16480
The same problem also exists in x/sys/unix. I'll have a look at it and send CLs for both.

[2017-08-11 14:42] griesemer commented on #20900
Any pointer type can have a base type; it's the type of the object the pointer points to. But named pointer types are rare and probably should be avoided in the first place.

The example comment here is correct, but arguably in this case it would make more sense to talk about the underlying type. I'll rephrase.

[2017-08-11 15:00] josharian commented on #21394
@mvdan potentially, depending on the details of `c()` and how it relates to `a`.

[2017-08-11 15:36] urandom opened #21401 "proposal: ability to create and import methods for non-local types"
This proposal is to allow method definitions for types, which are not create in the current package.

The current go spec specifically forbids defining methods for a type, unless the type is defined in the same package as its methods. This proposal is for relaxing these rules in certain cases.

1. If a method for a non-local type is defined, that method should be valid for the package it is define

[2017-08-11 15:40] kevinburke commented on #21383
@paulzhol, can you open a separate issue for that one?

[2017-08-11 15:53] bramp opened #21402 "runtime: defer runtime.KeepAlive bug"
### What version of Go are you using (`go version`)?
go version go1.8.3 darwin/amd64
go1.8 (go playground)

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/bramp/go"
GORACE=""
GOROOT="/Users/bramp/homebrew/Cellar/go/1.8.3/libexec"
GOTOOLDIR="/Users/bramp/homebrew/Cellar

[2017-08-11 15:56] paulzhol opened #21403 "x/build: freebsd-arm-paulzhol builder not receiving any work"
Reverse pool summary:
  host-freebsd-arm-paulzhol: 0/1

Reverse pool machine detail
a20.home.idea-y.com (10.240.0.8:54566) version 15, host-freebsd-arm-paulzhol: connected 6h13m59.5s, idle for 359.5ms

My logs don't indicate anything out of the ordinary:
[code]

[2017-08-11 15:58] ALTree commented on #21402
Spec says:

so your `runtime.KeepAlive(o)` call is not evaluated before the `runtime.GC()`, but after.

[2017-08-11 15:59] paulzhol commented on #21383
https://github.com/golang/go/issues/21403

[2017-08-11 16:05] ALTree commented on #21402
Note that (from the spec)

so `runtime.KeepAlive(o)` is not called before your `runtime.GC()` call, but after. So the behaviour you are observing is, unless I'm missing something, expected.

[2017-08-11 16:05] cespare commented on #21402
@ALTree Isn't that the idea? You want to call runtime.KeepAlive at the last point where you want the object to be live.

[2017-08-11 16:13] ALTree commented on #21402
@cespare Mh, I see your point. But I wonder if a `defer` argument qualifies as a "point" in the code or at that point it's already "too late". I don't know if this makes sense.

[2017-08-11 16:26] adams-sarah commented on #21383
Hey @kevinburke, all. Turns out my CL is the right fix.
It's a data issue - Gerrit gets ahead of maintner sometimes it looks like. In which case, the `cl` ptr would be nil. Which is causing a panic on dereference.

So the issue will only crop up periodically, which is what we are seeing for maintner outages.
I will get this CL in today.

[2017-08-11 16:38] randall77 commented on #21402
I think I see what is going on here.  Replace `defer runtime.KeepAlive(o)` with `defer f(o)` with various `f`s.
[code]
The finalizer runs early with `f1` and `f2`, but not `f3`.
It all comes down to how the garbage collector scans a defer.  It basically uses the live map for the entry point for the deferred function.  In `f1` and `f2` (and `runtime.KeepAlive`), the input argument is dead at entry,

[2017-08-11 17:02] tklauser commented on #16480
Submitted https://golang.org/cl/55130 attempting to fix this issue in the `syscall` package. So far, I was only able to do some rudimentary testing on FreeBSD so far and I'd appreciate if anyone running Solaris with a nanosecond-precision file system could give it a try (/cc @calmh @binarycrusader). The change is also available in tklauser/go@a17c114.

[2017-08-11 17:13] OneOfOne commented on #21395
There's already `git bisect run`, maybe the proposal should be to include a bash script that can be used with it?

[2017-08-11 17:19] randall77 commented on #21401
This allows two different packages to add different implementations of the same function to a type.  For instance:
[code]

How does `a.X` know which `F` to call?

[2017-08-11 17:20] ianlancetaylor commented on #21403
CC @adams-sarah @zombiezen

[2017-08-11 17:30] randall77 commented on #21402
I don't think this should be a release blocker.
The bug is also in 1.7 and 1.8, and there is an easy workaround.

[2017-08-11 17:32] ianlancetaylor commented on #21402
I'm marking it a release-blocker for 1.10.

[2017-08-11 17:40] Ken-Miura opened #21404 "net: Dialer.Dial failed to establish connection on Ubuntu"
### What version of Go are you using (`go version`)?
go version go1.8.3 linux/amd64

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/kmiura/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
GCCGO="gccgo"
CC="gcc"
GOGCCFLAGS="-fPIC -m64 -pt

[2017-08-11 17:41] adams-sarah commented on #21403
Probably because of this? https://github.com/golang/build/blob/master/cmd/coordinator/coordinator.go#L1181-L1190

[2017-08-11 17:45] paulzhol commented on #21403
It was supposed to skip any subrepos which are not `sys` or `net`.

[2017-08-11 17:46] #21383 closed

[2017-08-11 17:49] ianlancetaylor commented on #21404
Your program is trying to make initiate TCP connections from the same local port.  The only way to implement that with the sockets API is to bind the socket before making the connect call.  Calling `bind` on the first socket will work, but calling `bind` on the second socket will fail, because the first socket is already bound to that port.

Closing because I don't see any way that Go could change

[2017-08-11 17:49] #21404 closed

[2017-08-11 17:53] paulzhol commented on #21403
I see the problem though, it's being called also for the main "go" repo, can I send a CL?

[2017-08-11 17:56] champtar opened #21405 "crypto/x509: SystemCertPool() can return nil,nil"
### What version of Go are you using (`go version`)?
1.8

### What operating system and processor architecture are you using (`go env`)?
debian9 lxc (no certificates on the system) / amd64

### What did you do?
https://play.golang.org/p/9uFYp2M6PT

### What did you expect to see?
I expected to have either an error or an empty certPool

### What did you see instead?
both CertPool and error are nil

[2017-08-11 18:00] rsc commented on #21296
First, please note that the blog post records the discussion, not promises to take various actions. I am personally quite skeptical of moving anything important out of the standard library.

I don't fully understand what problem you want to solve in this issue. The original post makes clear that it wants to reduce the time between a fix being made and the fix being in a release. But as I noted abo

[2017-08-11 18:04] adams-sarah commented on #21403
yep, sg.

[2017-08-11 18:05] adams-sarah commented on #21383
Waiting to deploy. Will ping back here when this fix is live.

[2017-08-11 18:11] #21258 closed

[2017-08-11 18:14] OneOfOne commented on #21381
Exactly why I worked on [`cch`](https://github.com/OneOfOne/cch), `context` is just too heavy for most operations and too complicated.

[2017-08-11 18:18] nussjustin commented on #21405
This only affects [Unix](https://github.com/golang/go/blob/adc28cb/src/crypto/x509/root_unix.go#L87) and [Plan9](https://github.com/golang/go/blob/adc28cb/src/crypto/x509/root_plan9.go#L36), all other operating systems will return an empty pool when no certificates are found from what I see.

[2017-08-11 18:33] urandom commented on #21401
I have already addressed this in the original proposal:

`Importing multiple definitions of a method for a given type is an error`

[2017-08-11 18:38] carlmjohnson commented on #21161
Thinking about my proposal a little more, I am dropping the bit about union/sum-types. The syntax I'm proposing is

    guard [ ASSIGNMENT || EXPRESSION ] else { [ BLOCK ] }

In the case of an expression, the expression is evaluated and if the result is not equal to `true` for boolean expressions or the blank value for other expressions, BLOCK is executed. In an assignment, the last assigned value

[2017-08-11 18:47] 0intro opened #21406 "builder: plan9/386 builder is failing since merge of dev.debug"
Since the merge of origin/dev.debug branch into master (commit [385cd6681b](https://github.com/golang/go/commit/385cd6681bd5dcb1dd2678d1d8db93b4f3d751f9)), the plan9/386 builder is failing to build Go.

[code]

See https://build.golang.org/log/d19214ad27f6c1dace1c3f4674b524fda9842f7e

[2017-08-11 18:50] 0intro commented on #21406
@bradfitz, would it be possible to update the bootstrap package on the plan9/386 builder on GCE to Go 1.8.3?

A binary package is available here:

http://9legacy.org/download/go/go1.8.3-plan9-386-bootstrap.tbz

Thanks.

[2017-08-11 18:53] EddieRingle commented on #21296
@rsc A few things that come to mind after reading your reply:

Regarding release quality, it was mentioned earlier that GC changes are an example of potential sources of regressions and bugs. I wonder if a three-tier branching model would be beneficial, something like:

  - _master_ - Active development; as it is now when not under a feature freeze.
  - _staging/1.10_ - Changes for a given cycle m

[2017-08-11 18:53] rajathagasthya opened #21407 "heap: Optimize heap to reduce number of comparisons during heapify and heap pop"
This is an optimization specified in Knuth Volume 3 (Exercise 5.2, problem 18 I believe) where `down()` is called on an element in a certain position (during heap pop or init). It states that it's beneficial to move that element all the way to the leaf and then move up to its appropriate place instead of breaking out as soon as we find a position where the item is <= both of its children.

Python

[2017-08-11 19:00] ianlancetaylor commented on #21401
When and how is that error reported?

Also, if I extend `string` with the method `String`, and call `fmt.Print(s)` for some `string` value `s`, will the fmt package invoke the `String` method?

If it won't, then if I pass `s` as a value of type `interface{}` to some other package, and that package passes the `interface{}` value back to me by calling a different function in my package, what will ha

[2017-08-11 19:03] 0intro commented on #21406
CC @adams-sarah, @cybrcodr and @jessfraz, who are in charge of the builders, since @bradfitz is on vacation.

[2017-08-11 19:07] rsc commented on #15196
I spoke to @agl, and he confirmed that he believes moving to VOG is the right thing to do. He hopes to do that for Go 1.10, and then adding URI-based Name Constraints would follow. If there are crypto experts who want to help, please let us know.

[2017-08-11 19:08] josharian commented on #21296
@EddieRingle

1. It's frequently not obvious what changes are high risk. A last minute 1.9 bug fix that was hard to find but easy to fix came from what I would have considered a low- to moderate risk change.

2. What is this "merge window" of which you speak? It feels like maybe you aren't very familiar with the details of how things currently work and why, which is a prerequisite for proposing ch

[2017-08-11 19:13] adams-sarah commented on #21406
cc @aclements

[2017-08-11 19:19] paulzhol commented on #21403
hm.. not sure why gopherbot is not linking https://golang.org/cl/55094

[2017-08-11 19:42] adams-sarah commented on #21403
@paulzhol are you able to merge code and/or deploy coordinator?

[2017-08-11 19:46] paulzhol commented on #21403
@adams-sarah I don't think I have any commit rights.

[2017-08-11 20:11] TocarIP commented on #21391
Do we have a good way to find unpredictable branches?
For well predicated (especially not-taken) branches using predicated mov may be a pessimization.

[2017-08-11 20:18] #21403 closed

[2017-08-11 20:19] aclements commented on #21406
What bootstrap compiler are we running on the other builders? We shouldn't depend on something newer than 1.4.x (unless the policy is different for plan9?)

[2017-08-11 20:20] urandom commented on #21401
@ianlancetaylor

It's the same rules as when you declare two functions with the same name in a given package, or do an `import . "my/package"`, and "my/package" defines a function with the same name as another one in the current package.

Does the file that defies the Print function import that extension? Does it _also_ check for `Stringer` before checking for `string`? If the answer is yes to bot

[2017-08-11 20:23] adams-sarah commented on #21403
going to wait to deploy this until the trybot runs clear up. 102 active ATM.

[2017-08-11 20:32] 0intro commented on #21406
If I recall correctly, the plan9/386 builder is running Go 1.6. The policy is different for Plan 9, because the Go 1.4 runtime wasn't mature enough. The other Plan 9 builders (amd64 and arm) are currently running Go 1.8.3 (from the same binary package).

[2017-08-11 20:43] #20254 closed

[2017-08-11 20:44] aclements commented on #21406
Okay. So do we basically treat plan9 like we treat GOARCHes that weren't supported by 1.4 (e.g., you have to cross-compile to bootstrap)?

[2017-08-11 20:46] 0intro commented on #21406
Yes.

[2017-08-11 20:52] aclements commented on #21406
Thanks. In that case, I agree that we should upgrade the plan9/386 builder's bootstrap to 1.8.3 to match the other plan9 builders.

[2017-08-11 21:00] eldondevcg commented on #13084
I think this is a valid use case. It seems also to not work for the file:// url. The assumption that all filesystem remotes are local may not be correct, as there are ways to expose remote resources as paths within the filesystem. NFS, sshfs, and any distributed block store are a few examples.

[2017-08-11 21:06] Offout commented on #18397
Can confirm Raspberry Pi 3 Model B, Raspbian.
Linux raspberrypi 4.9.41-v7+ #1023 SMP Tue Aug 8 16:00:15 BST 2017 armv7l GNU/Linux
Bootstrap: Go 1.4 from source (go version go1.4-bootstrap-20170531 linux/arm).
Branch: release-branch.go1.8
Message:
`
##### ../misc/cgo/testshared
PASS
ok  	_/home/pi/golang/go/misc/cgo/testshared	100.727s

##### ../misc/cgo/testplugin
./test.bash: line 34:  1284 Segme

[2017-08-11 21:24] ianlancetaylor commented on #21401
Well, no, because those examples are all reported as errors by the compiler.  In Keith's example above, the compiler be invoked on each of those packages separately, so it will never see the erroneous code.

To be clear, I'm asking a question about implementation here.  I understand that this is an error according to your proposal.  I'm asking how it can be implemented.

passes the interface{} val

[2017-08-11 21:26] 0intro commented on #21406
Could you build Go 1.8.3 with GOOS=plan9 and GOARCH=386 (or use the binary package I provide) and upload it to https://storage.googleapis.com/$BUCKET/gobootstrap-plan9-386.tar.gz?

So the future plan9/386 builds will use the new bootstrap, which should get rid of the current build failure.

[2017-08-11 21:43] rbucker opened #21408 "link is dead"
http://gosexy.org/db

[2017-08-11 21:45] cespare commented on #21408
Is "gosexy.org" supposed to be owned by the Go project?

[2017-08-11 21:46] davecheney commented on #21408
Thanks for your issue report. It's very hard to know how to address it, or even if this is something that can be addressed without more context. Can you please explain where you found that link?

[2017-08-11 22:02] dtjackson opened #21409 "fmt: improve documentation about how verbs work when printing pointers"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go1.9rc2 linux/amd64

### What operating system and processor architecture are you using (`go env`)?

GOHOSTARCH="amd64"
GOHOSTOS="linux"

### What did you do?

https://play.golang.org/p/k89vjAT5Kt

package main

import (
	"fmt"
)

func main() {
	i := 37
	p := &i
	fmt.Printf("

[2017-08-11 22:14] bburket commented on #21376
Not easily reproducible - but seems to happen somewhat frequently (I've seen it happen anywhere between 10 minutes and 4 hours of execution).

This is on Windows 10,. Microsoft Windows [Version 10.0.15063]

One interesting thing to note is that our corporate environment uses some main-in-the-middle type SSL interception for all traffic. Would not be surprised if this is related to that.

However i

[2017-08-11 22:14] rbucker commented on #21408
Sorry. It's a link in the wiki.

On Aug 11, 2017 5:46 PM, "Caleb Spare" <notifications@github.com> wrote:

[2017-08-11 22:16] davecheney commented on #21408
What is the link to the wiki page?

[2017-08-11 22:22] cznic commented on #21409
Looking at the the docs this seems like a bug in fmt.

[2017-08-11 22:24] cznic commented on #21408
https://github.com/golang/go/wiki/Projects#multiple-wrappers

[2017-08-11 22:24] ianlancetaylor commented on #21409
We can't change fmt, but we could change cmd/vet.

[2017-08-11 22:24] ianlancetaylor commented on #21409
CC @robpike

[2017-08-11 22:26] cznic commented on #21409
Even when the behavior is not supported by the documentation?

[2017-08-11 22:30] davecheney commented on #21408
Deleted

[2017-08-11 22:30] #21408 closed

[2017-08-11 22:39] sean- opened #21410 "x/sys/unix: Add support for flock(3C) to Solaris"
Please answer these questions before submitting your issue. Thanks!

### Pre-patch

[code]

### What did you do?

https://go-review.googlesource.com/c/55230

### Post-patch

[code]

[2017-08-11 22:49] josharian commented on #21407
cc @griesemer

[2017-08-11 22:58] dtjackson commented on #21409
If the behavior is deemed correct, can the documentation be adjusted to account for it?

[2017-08-11 23:03] urandom commented on #21401
In the above example, a panic would be produced, since `X` tries to assert `t` to the interface `I` without checking if it's safe to do so. From package `a`'s standpoint, `T` doesn't define a method `F`. It's a runtime error, much like any other type assertion.

I'm sorry, I don't quite get how this example ties in with the proposal.

[2017-08-11 23:03] spf13 commented on #21259
Cc @broady
On Fri, Aug 4, 2017 at 12:44 AM Nick Olinger <notifications@github.com>
wrote:

[2017-08-11 23:05] ianlancetaylor opened #21411 "build: trybots don't seem to be completing"
The trybots don't seem to be completing.

For example for https://golang.org/cl/55130 trybots started at 1:15pm and have not completed 2 1/2 hours later.

Looking at https://farmer.golang.org it seems that darwin-amd64 builds are hanging.  Maybe.

CC @adams-sarah @zombiezen

[2017-08-11 23:05] spf13 commented on #21259
I'm fine with it having a one pager style instead (see http://vim.spf13.com
for an example of what I'm talking about). No need to overthink it though.
Whatever is easiest and effective is good.
On Fri, Aug 11, 2017 at 7:03 PM Steve Francia <steve.francia@gmail.com>
wrote:

[2017-08-11 23:06] ianlancetaylor commented on #21409
In some cases we can adjust the doc, but in a case like this I personally think that the chances of breaking a currently working program are too high.

[2017-08-11 23:06] ianlancetaylor commented on #21409
Sorry, I mean in some cases we can adjust the code (but I think this case is too risky).

We can always adjust the doc, and, yes, we should do so.

[2017-08-11 23:09] robpike commented on #21409
I can't find it now but I seem to remember this was an actual change that went in at some point, and that the docs need to catch up to the change. I might just be confused though.

[2017-08-11 23:10] ianlancetaylor commented on #21401
My comment about `Identity` is that in package p I define a package-specific method on `T`, I create a value `v` of type `T`, then I write `v1 := identity.Identity(v).(T)`, and now `v1` and `v` behave differently.

[2017-08-11 23:15] urandom commented on #21401
@ianlancetaylor
Why do `v1` and `v` behave differently in your example? To me, it appears that both of them will behave the same, since from your description everything is happening in the same package, and both `v` and `v1` are of type `T` for which you've defined a new method in that same package.

[2017-08-11 23:38] ianlancetaylor opened #21412 "cmd/vet: -rangeloops check only checks last statement in range loop body"
Running `go vet` on this file:

[code]

prints

    foo.go:14: range variable i captured by func literal

If I change F to this:

[code]

then go vet prints nothing.

Looking at the vet source code, `checkRangeLoop` only looks at the last statement of a range loop to see whether a variable is capture.  This behavior dates back to when the rangeloop check was first added in https://golang.org/cl/64

[2017-08-11 23:39] urandom commented on #21401
I would also like to add an addendum to the proposal:
Consider a file package `a`, which either defines, or imports an extension for type `T` (lets say the extra method is `Foo`), as well as a variable `t T` some where in that same file. It will have the method `Foo`. In an essence, `t`'s static type would be `T`, and its dynamic type would be `T + interface{ Foo() }`. As per the Go spec, this var

[2017-08-11 23:40] ianlancetaylor commented on #20015
@rberenguel It would be great if you want to work on this, but unfortunately I think it will be pretty hard.

[2017-08-11 23:52] ianlancetaylor commented on #21401
OK, given a value `v` of type `T` with an extra method `M()`, what happens if I write

    ((interface {})(v)).(interface { M() })

?  That is, I convert `v` to an empty interface value and then try to convert that value to an interface with the added method `M`?

[2017-08-12 00:07] urandom commented on #21401
If that expression is within the scope of the extension, then this conversion will success, since the first part will be an `interface{}` with a dynamic type `T`, which still gets extended with the method `M()`, thus satisfying the interface.

On the other hand, if v was created where the extension was in scope, then passed to a scope without the extension, it depends what the argument type was. I

[2017-08-12 00:14] ianlancetaylor commented on #21401
Thanks.  It seems to me that this behavior is confusing.  An type has a method set, and that has a clear meaning in conjunction with interface types.  With this proposal, the association of the method set and interface types depends crucially on how the values are passed around.  To me that seems like an undesirable feature.

[2017-08-12 00:20] ianlancetaylor commented on #21379
CC @LK4D4

[2017-08-12 00:21] #20439 closed

[2017-08-12 00:23] ianlancetaylor commented on #21386
CC @crawshaw

[2017-08-12 00:26] mbyczkowski commented on #15867
It's still only [supported](https://caniuse.com/#search=samesite) by Chrome and Opera and the IETF draft (both, orignal and the updated spec) [has expired](https://datatracker.ietf.org/doc/draft-ietf-httpbis-cookie-same-site/) last year.  ¯\\\_(ツ)\_/¯

[2017-08-12 00:31] maruel opened #21413 "godoc: godoc -http is broken in 1.9rc2"
### What version of Go are you using (`go version`)?
1.9rc2

### What operating system and processor architecture are you using (`go env`)?
Ubuntu

### What did you do?
godoc -http=:6060

### What did you see instead?
[code]

It was likely caused by https://go-review.googlesource.com/c/53051

[2017-08-12 00:32] maruel commented on #21413
Paging @andybons

[2017-08-12 00:34] rbucker commented on #21408
thanks.  Sorry for the poor quality of the report.

[2017-08-12 00:45] davecheney commented on #21408
That's ok. Im 80% sure that anyone can edit the wiki, so you can probably
do this gardening yourself in the future.

On Sat, 12 Aug 2017, 10:34 richard bucker <notifications@github.com> wrote:

[2017-08-12 00:51] hirochachacha opened #21414 "debug/macho: add missing constants"
Current code doesn't have flags such like MH_DYLDLINK, MH_PIE, ... etc.
Which is needed for tests.

[2017-08-12 01:05] ianlancetaylor commented on #21413
Is it possible that https://golang.org/cl/52872 didn't make it into 1.9rc2?

[2017-08-12 01:07] alexbrainman commented on #21376
I was thinking about that possibility - that you might be running some non-standard software somewhere as part of your OS - as soon as I saw this report. Windows APIs don't raise exceptions.

Returning error messages is the norm. But you forget about possibility of a bug in the software you are running. Maybe you could ask your admin - perhaps there are some logs about what happened to you somewhe

[2017-08-12 01:07] LK4D4 commented on #21379
There are definitely not enough permissions in simple docker container to create user or mount namespaces (I'm actually surprised that it was able to create network namespace).
I wonder if we could just check for "permission denied" and "operation not permitted" for needed unshare operations before running tests. @bradfitz added "permission denied" check in https://github.com/golang/go/commit/3e4a

[2017-08-12 03:04] broady commented on #21259
Should live under cmd/getgo/server (a separate file). No need for templating it, but I'm OK if you hotlink the CSS from golang.org.

[2017-08-12 03:25] maruel commented on #21413
Sorry for the noise, a clean build fixed it. For an unknown reason, I had a stale `godoc` in my `$GOROOT/bin`.

[2017-08-12 03:25] #21413 closed

[2017-08-12 06:55] mvdan commented on #18063
@tomwans nope, I was going to get to this after the holidays. Go ahead.

[2017-08-12 07:24] agnivade commented on #11171
@dsnet - If you are not working on this, may I take this ?

[2017-08-12 07:45] rberenguel commented on #20015
Thanks @ianlancetaylor a bad choice then for the first contribution. I'll keep looking!

[2017-08-12 08:04] himulawang opened #21415 "url/ url.Parse can't parse url like 10.88.237.69:4222"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8.3

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=d:\project\
set GORACE=
set GOROOT=d:\SDK\go
set GOTOOLDIR=d:\SDK\go\pkg\tool\w

[2017-08-12 08:21] urandom commented on #21401
@ianlancetaylor
Why is it confusing? From the point of view of the outside function that expects a `T`, this is exactly what it is getting. It is perfectly clear in its intent. It might not even know about any existing extensions for type `T`, nor has it imported any . In fact, it would have been confusing if it was getting a `T + interface { M() }` instead, even though it was only requesting a `T

[2017-08-12 08:36] mvdan commented on #21415
This is not a valid URL. Valid URLs are like `http://foo.bar` or `mailto:foo@bar`.

You probably want https://golang.org/pkg/net/#SplitHostPort.

For questions about Go, see https://golang.org/wiki/Questions.

[2017-08-12 08:36] #21415 closed

[2017-08-12 09:05] 0intro commented on #21406
I've checked the Go version currently used to bootstrap Go on the plan9/386 builder ([gobootstrap-plan9-386.tar.gz](https://storage.googleapis.com/go-builder-data/gobootstrap-plan9-386.tar.gz)).

[code]

This is commit [b64f549](https://github.com/golang/go/commit/b64f549ba95fb9115afb1db8ae594b9442c45a6e) from 2016-03-30. This is located during the development phase between Go 1.6 and Go 1.7.

I c

[2017-08-12 10:15] dominikh commented on #21412
Related https://github.com/golang/go/issues/8732. Generally, vet can only reliably prove an issue for the last statement in the loop. Using captured loop variables in earlier statements isn't provably incorrect. The closure could be executed before the end of the loop iteration. For example:

[code]

Similarly, spawned goroutines can be waited on.

[2017-08-12 10:32] cznic commented on #21409
According to the [documentation](https://golang.org/pkg/fmt/), section 'Format errors', passing a pointer to the %d verb is the case of invalid argument, %d is documented to accept only integers - and it should produce `%!d(pointer=0xdeafbeef)` per docs.

Can someone please explain to me why adjusting the docs instead of fixing the bug is considered? IMO
it breaks the Go 1 compatibility promise, w

[2017-08-12 11:32] balasanjay commented on #21401
This seems loosely inspired by C#'s extension methods.

If Go did want to do something in this space (making function calls chainable), then another potential source of inspiration is Javascript's proposed "::" operator.

I could imagine making the expression `expr::pkg.Function(arg1, arg2)` syntactic sugar for `pkg.Function(expr, arg1, arg2)`.

The strings example would then look like this:
[code

[2017-08-12 12:34] dsnet commented on #11171
I actually already implemented it. A lot of the changes I'm submitting to tar is just me copying them from my previous work

[2017-08-12 13:28] agnivade commented on #11171
Ah I see. I saw that you had done "implement specialized logic for PAX format". But didn't know that you have all the changes in the pipeline.

I don't think I am expert enough to review a change :laughing: . But if you have some small work lying somewhere (for tar), I would be happy to tackle that. :smile:

[2017-08-12 14:09] ALTree commented on #15307
Not limited to function parameters:

[code]

[code]

Also

[code]

gives the same double error. Seems like the parser is confused by certain syntax issues when inside `_{L,R}paren`.

[2017-08-12 14:34] martisch opened #21416 "crypto/x509: TestSystemRoots failure"
go tip 23cd87eb0a2d49a3208824feaf34d8b852da422f and earlier in 1.9 candidates

while running ./all.bash i have a reproducible test error on darwin:
--- FAIL: TestSystemRoots (1.41s)
	root_darwin_test.go:31:     cgo sys roots: 443.728642ms
	root_darwin_test.go:32: non-cgo sys roots: 964.424609ms
	root_darwin_test.go:44: got 169 roots
	root_darwin_test.go:44: got 453 roots
	root_darwin_test.go:73: i

[2017-08-12 14:47] martisch commented on #21416
[code]

/cc @dsnet @ianlancetaylor

[2017-08-12 15:54] DemiMarie commented on #21376
@alexbrainman Go’s TLS package should not cause an access violation, ever, unless there is a data race.  That error message means that Go passed garbage to a Windows API function, which should not occur.

[2017-08-12 16:00] glycerine commented on #21199
Just out of curiosity, what would happen if one did an atomic.AddUint64(&length, 1) on add, and atomic.AddUint64(&length, -1) upon delete?  Seems quite efficient. Return the length when queried with an atomic read. Would that not be correct?

[2017-08-12 16:38] josharian opened #21417 "cmd/compile: coalesce consecutive calls to print/println"
CLs 55095–55098 change how the compiler (and runtime) implement the built-ins print and println, in order to reduce the amount of code they generate. (The goal is to both reduce the runtime's binary footprint and to increase instruction density in important runtime routines.)

This issue spells out one further obvious optimization. Consider:

[code]

After CL 55098, this is gets compiled into: pri

[2017-08-12 16:56] stapelberg opened #21418 "go/importer: lacking a way to pass a build.Context to obtained srcimporter"
### What version of Go are you using (`go version`)?

[code]

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

I’m writing a unit test where I construct a custom GOPATH for each test case. I use `types.Config{Importer: importer.For("source", nil)}`, but see no way to pass my per-test custom GOPATH to that importer: `importer.For` calls `

[2017-08-12 17:18] judepereira commented on #21216
@bradfitz I got around to using the gRPC calls to maintner. However, most of the relevant information is not sent back as part of the api spec. Should I expose the stuff that's required for build/cmd/cl in build/maintner/maintnerd?

I see that all the data that I required for cl is already present and available in maintnerd's api.go, but just not being sent down.

[2017-08-12 18:19] kduda opened #21419 "proposal: Go2: must(): Improve code density for handling rare fatal errors"
Instead of this:

	numberString := // string that we know contains only digits
	number, err := strconv.Atoi(numberString)
	if err != nil {
		panic(err)
	}
	fmt.Printf("Your number times two is %d\n", 2*number)

I would like to write this:

	numberString := // string that we know contains only digits
	fmt.Printf("Your number times two is %d\n", 2*must(strconv.Atoi(numberString)))

The semantics of

[2017-08-12 19:16] josharian commented on #21417
Although special care is required if evaluating the arguments to the second println could panic. Maybe not a good starter issue after all.

[2017-08-12 19:32] glycerine opened #21420 "x/crypto/ssh: ssh.Channel should provide idle timeouts"
It would be incredibly useful for securing connections everywhere if ssh.Channel implemented the full net.Conn interace. The only missing methods are for time-outs based on setting read and write deadlines.

In addition, presently when using ssh.Channel, it is common to leak Goroutines. Without deadlines for read and write, those blocking Read/Write calls on ssh.Channel will never let the goroutin