[2020-08-05 18:33] mvdan commented on #37836
I would ask you to be patient and not ping Russ directly. There are [literally hundreds](https://github.com/golang/go/issues?q=is%3Aopen+is%3Aissue+label%3AProposal) of open proposals, and most are older than yours. They handle however many they can each week.

[2020-08-05 18:39] johanbrandhorst commented on #32406
I've updated the CL, replacing the only other call to `(*tls.Conn).Handshake` in `net/http` with `HandhakeContext` using the request context. The CL should now handle all TLS handshakes in the client and server so that both client and server callbacks have access to the request context.

[2020-08-05 18:43] carnott-snap commented on #37836
I attempted to reference the issue, but got no traction for _months_. I called him out because I did not know what else to do, and he is the primary summary commenter on #33502.

If the core team is drowning in proposals, I do not think the answer is to suggest that we simply need to wait. They are not going to get more bandwidth, and the number of proposals is only going to grow with the language

[2020-08-05 18:43] martisch commented on #40580
Im certain if given the access controls or due to the right set of circumstance to disable traffic to proxy.golang.org while sum.golang.org will be fine.

They may or may not be currently. They dont have to be in the future and they dont have to use the same load balancer config.

[2020-08-05 18:49] smasher164 commented on #19367
With the "anyIntegerType" requirement, under the current generics draft, the signature looks like this:
[code]

[2020-08-05 18:51] jba commented on #36503
`Deadline` sounds like it's some sort of `time.Duration`-like thing that specifies a deadline.

If you were describing a `Context` to someone,  you would say that it holds values and also has a cancellation aspect. So `Values` and `Cancellation` sound like good names to me, even though they're not parallel.

[2020-08-05 18:55] carnott-snap commented on #40442
Just for clarity, can I get a decree on if `errors.Is(err, nil)` is an anti-pattern? Also, are there concrete things that need to be investigated, or more that this problem requires further discussion?

[2020-08-05 18:57] mvdan commented on #37836
Go releases every six months. Even if your proposal got attention, it would take at least six to twelve months to actually have any effect. If waiting for a few months is a dealbreaker, I'm not sure what to tell you :) The processes are just slower for a big language with lots of users and ideas.

For details about the proposal review process, see https://github.com/golang/proposal#proposal-review

[2020-08-05 19:03] beoran commented on #40481
Considering it more, with what @seebs is saying, I think that it's true that substracting pointers as such is useless. However, a func unsafe.Containing(p Pointer, offset uintptr) Pointer for use in conjunction with unsafe.Offsetof to go from a pointer to a struct member to the containing struct would be quite useful, for C interoperability, and  low level internal linked lists. Shall we split thi

[2020-08-05 19:05] toothrot commented on #40589
I'll close this as a duplicate of #34957, but please feel free to continue discussion there, or let me know if I am mistaken.

[2020-08-05 19:05] #40589 closed

[2020-08-05 19:06] carnott-snap commented on #37836
My concern is that the bottleneck you described, does not need to exist. Many other languages have working groups[0], and do not rely on a resource constrained oligarchy to triage and review proposals. Furthermore, the fact that there is enough opacity to justify comments like "I think that's why" and "I imagine they", is deeply problematic.

0] And sure, the core team can have right of refusal, i

[2020-08-05 19:08] to75988070 opened #40593 "G0"

[2020-08-05 19:09] #40593 closed

[2020-08-05 19:09] mdempsky commented on #19367
@smasher164 Note that's a very close approximation, but not 100% precise. E.g., `make([]int, 1.0)` works fine with `make` as a builtin; but as a generic function, it would fail because the type argument would be inferred as `float64` due to `1.0`'s default type.

(I'm not aware of any use case for passing untyped float/complex constants to `make`, but that's what the Go spec today allows.)

[2020-08-05 19:17] mdempsky commented on #40481
@beoran You can use `unsafe.Add(p, -n)` to subtract an offset from a pointer.

Caveat: If `n` is a constant, you'll hit issues with not allowing negative values of type `uintptr`. This can be circumvented either by first assigning it to a local variable, or using `unsafe.Add(p, ^n + 1)`.

[2020-08-05 19:18] Keithcat1 opened #40594 "CGO: Fix C linker problems when linking C++ static libraries"
Currently, if I link a static library containing C++ files, Go can't tell the difference and uses the C linker for example gcc.exe (not g++.exe), which causes the standard C++ libraries to not be linked.
I can think of 2 ways to fix this.
Either add a "#cgo: c++" directive that tells Go that this is a C++ package, or just always use the C++ linker.

[2020-08-05 19:22] ianlancetaylor commented on #40592
My recollection is that one of the reasons that `Value.Pointer` returns `uintptr` is that we wanted to prevent code like

    p := v.Pointer()

from giving `p` the type `unsafe.Pointer` in a package that does not import unsafe.  Of course you can do this already using your own packages, but we didn't want to encourage it in the standard library.

(This also gets us to a discussion about type based

[2020-08-05 19:34] bcmills commented on #40592
Re: type-based alias analysis: even if the package does not import `unsafe` we can only assume that variables do not alias if they were allocated from within the package. (A caller can always supply pre-punned pointers as arguments.)

So I think if we want to do any deep reasoning about aliasing we would generally need whole-program analysis either way.

[2020-08-05 19:39] bcmills commented on #36503
How would `MergeCancel` interact with the optimizations from #28728, given that the fast-path optimization relies on a key accessed via the `Value` method?

(Would we type-assert the `NameTBD` to check whether it has a `Value` method in order to facilitate a similar fast-path?)

[2020-08-05 19:40] networkimprov commented on #40352
@rsc, could you provide a link to the FS proposal?

[2020-08-05 19:43] networkimprov commented on #40423
cc @bcmills @neild

[2020-08-05 19:44] martisch commented on #395
Anecdotal story for when I would like to have used this:

I was working on an optimization for a hot library code path. It was using a string as key to a map. That string got constructed by a `strings.Join` from a `[]string`. For all practical purposes they were always 4 elements long. Due to historical reasons and generality the functions involved used a `[]string` as input and changing this as i

[2020-08-05 19:54] mdempsky commented on #40592
Yes, that reason was justifiable back when Go supported "safe" mode, but we removed that back in 2018. There are many better ways to run untrusted Go programs today (e.g., within a process sandbox like gVisor or by compiling them to wasm).

This seems like an orthogonal concern to me. The only way to safely use `reflect.Value.Pointer` and `reflect.Value.UnsafeAddr` as pointer values today is to im

[2020-08-05 20:20] ianlancetaylor commented on #40442
Today `errors.Is(err, nil)` is equivalent to `err == nil`.

Personally I think that changing that would just introduce more complexity and confusion to a somewhat area that is already complex and confusing.  So I don't think we should change it.

Which is pretty much what @neild said above.

So I don't think there is anything to do here.

[2020-08-05 20:25] randall77 commented on #395
[code]
That seems not a very compelling motivator for this issue, as you could do:
[code]
instead. One more line, but not really any more expensive (in an ideal compiler world).

[2020-08-05 20:28] ianlancetaylor commented on #37836
I added this to the proposals project.  Looks like it was missed.

But, frankly, based on the emoji voting and https://golang.org/doc/faq#x_in_std, I think it's unlikely that this proposal will be accepted.

Your suggestion of ranking proposals is already done to some degree via emoji voting.  That said, this is definitely not the right place to discuss the general topic of prioritizing proposals.

[2020-08-05 20:33] ianlancetaylor commented on #40481
@beoran I think `unsafe.Contains` is more controversial than `unsafe.Add`, so, yes, I think that that should be a separate proposal.  (I'll note that I don't understand how it could be implemented, so I must misunderstand what it means.)

[2020-08-05 20:33] AlexRouSg commented on #40594
CGO only allows calling/using C code within Go, not C++. To use C++ code you need to create a C wraper, you can do that by adding a `.cpp` and a `.h` file with the C API into the package.

@ianlancetaylor I can't find any obvious place where this is explicitly pointed out, maybe it should?

[2020-08-05 20:34] carnott-snap commented on #37836
That was my fear and why I pinged rsc@. Is there a better way to bump things like this that seem missed? I have a few others that are kind of in the same state, and I want to be respectful of people's time and attention.

My goal is to have the proposal considered and closed, something that does not not necessarily mean accepted or merged.

Fair, does it make sense to start a go-nuts thread on the

[2020-08-05 20:37] ianlancetaylor commented on #40594
@AlexRouSg There is a hint at https://golang.org/cmd/go/#hdr-Calling_between_Go_and_C.

@Keithcat1 Perhaps you could use something like `CC=g++`.  But I'm not quite picturing the problem. Do you have an archive that contains C++ file but also provide a pure C interface, and you are using cgo to call the pure C interface?

[2020-08-05 20:40] ianlancetaylor commented on #40352
@networkimprov https://golang.org/s/draft-iofs-design

[2020-08-05 20:42] mdempsky commented on #40481
I think @beoran's proposed `unsafe.Containing(p, x)` is essentially just `unsafe.Add(p, -x)`. I understand the name as "return a pointer to the *containing* structure where `p` is at offset `x`". But I'll defer to them if I've misunderstood.

[2020-08-05 20:45] ianlancetaylor commented on #40592
It's somewhat orthogonal but perhaps not entirely negligible: see #26070.

[2020-08-05 20:47] smasher164 commented on #19367
I see. And extending the constraint to allow floats wouldn't work either, since it compares the underlying type. This would require you to panic at runtime, instead of just statically rejecting untyped constants.

Maybe that's okay? Since people don't pass floating-point literals into builtins, changing the signature in a future release would only be backwards incompatible in a draconian sense.

[2020-08-05 20:48] martisch commented on #395
Sure its already possible to use a copy. Not meaning to imply it was compelling.
The compiler currently zeros key, then copies in strs with a typedslicecopy then moves the contents to a tmp and passes a pointer to the tmp copy to the runtime map routine. Ideally (which might be easier to optimize by the compiler) it would just pass a pointer to the backing array of the strs slice.

https://godbolt

[2020-08-05 20:49] mdempsky commented on #40592
I don't see any mention of type-based alias analysis in #26070. Can you elaborate on how they're related?

[2020-08-05 21:07] ianlancetaylor commented on #37836
Check whether the issue is in the "Proposals" project (middle of the right hand side of the issue).  If not, I guess you can ask me to add it.  I'm not sure who has the ability to add issues to projects.  I read the issue tracker more than Russ does.

Understood, but speaking of being respectful of people's time and attention, if general sentiment is against the proposal, you can also consider ret

[2020-08-05 21:09] mdempsky commented on #26070
Note that `reflect.NewAt` allows converting `unsafe.Pointer` values to any pointer type even without compiler magic: https://play.golang.org/p/w-6sabmpnz9

[2020-08-05 21:12] ianlancetaylor commented on #40592
The connection I see here is what should happen when people write `p := v.UnsafePointer()` in a package that doesn't import unsafe, if we adopt #26070.  Will it be confusing that they can use `:=` to get an `unsafe.Pointer` that they can't use?

Perhaps this concern is not important.

[2020-08-05 21:17] carnott-snap commented on #37836
While I agree, I want to think that the visibility of the proposal review process encourages different opinions from those not currently the discussion.

This context is really useful, and not totally apparent from comms. I will at least try and start a go-nuts discussion about more community involvement and triage to help shed some of this burden.

[2020-08-05 21:18] Zincr0 opened #40595 "x/tools/gopls: could not import C (no package for import C) when importing static libraries"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.6 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

GO111MODULE="auto"
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/vscode/.cache/

[2020-08-05 21:19] Zincr0 commented on #35721
Created #40595

[2020-08-05 21:24] katiehockman opened #40596 "x/tools/gopls: failed to install due to compiler error"
#### What did you do?
I updated gopls in VSCode, in the `src` directory of my clone of the std lib. It tried to upgrade to golang.org/x/tools/gopls@v0.4.4

#### What did you expect to see?
A successful upgrade

#### What did you see instead?
[code]

#### Build info

[code]

#### Go info

[code]

/cc @stamblerre

[2020-08-05 21:26] ianlancetaylor commented on #40583
For language change proposals, please fill out the template at https://go.googlesource.com/proposal/+/refs/heads/master/go2-language-changes.md .

When you are done, please reply to the issue with `@gopherbot` `please` `remove` `label` `WaitingForInfo`.

Thanks!

[2020-08-05 21:27] mdempsky commented on #40592
I see. I wrote "This seems like an orthogonal concern to me," with "this" referring to type-based alias analysis. When you wrote "It's somewhat orthogonal," I thought you were still talking about type-based alias analysis too.

Assuming both #26070 and this proposal were accepted, I expect users would adapt by writing `import _ "unsafe" // for unsafe.Pointer conversion` analogous to how they write

[2020-08-05 21:28] ianlancetaylor commented on #40595
What command did you run to produce that error?

[2020-08-05 21:29] hyangah commented on #40596
`/Users/katiehockman/godev/bin/go` is probably too new? What is `/Users/katiehockman/godev/bin/go version`?

[2020-08-05 21:32] bcmills commented on #19367
Given that `unsafe.Slice` does not yet exist, I think it would also be fine to have the compiler reject `unsafe.Slice(p, 1.0)` from the outset, and just have that behavior be slightly different from `make([]int, 1.0)` until and unless we tighten up `make` itself.

[2020-08-05 21:33] katiehockman commented on #40596
Oh shoot. I had my repo pointed to an older version. I think I know how to resolve this, no worries. Thanks!

[2020-08-05 21:33] #40596 closed

[2020-08-05 21:37] SwampDragons commented on #39885
Is there anything else the maintainers need from me in order to make this ready for a review?

[2020-08-05 21:40] beoran commented on #40481
Yes, it is as @mdempsky says. If the implementation of unsafe.Add will allow unsafe.Add(p, -x) with a negative offset, then that is sufficient for my purposes, and no unsafe.Containing will be needed.

[2020-08-05 21:44] ALTree commented on #40591
We don't control or deploy the tour translations. This should be reported to the Russian tour owner, at https://github.com/kalimatas/go-tour-ru.

[2020-08-05 21:47] Zincr0 commented on #40595
I'm just opening the code on vscode
![errorvscode](https://user-images.githubusercontent.com/94184/89467498-aa68d880-d743-11ea-850d-3eb3dbc72828.png)

[2020-08-05 21:59] heschik commented on #40595
Please follow https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md and attach a log.

[2020-08-05 22:03] heschik commented on #40580
The go command does not need to consult `sum.golang.org` if there is a fully-populated `go.sum` file in the project. In general, only operations that change dependencies need to access `sum.golang.org`.

As I said in #40358, there may be room for a usability improvement in the error messages, but I don't think there's much chance at all of this proposal being accepted.

[2020-08-05 22:24] dgryski commented on #23142
There are already two different implementations: staticcheck and ineffassign.  In my experience, they have almost no false positives, or no worse than anything reported by `go vet`.  And given that many devs already run staticcheck across their codebase, those ones are likely to be "assigned-but-not-used" clean, so I don't think this will be a huge burden to the community.

[2020-08-05 22:40] networkimprov commented on #40352
I've commented on https://www.reddit.com/r/golang/comments/hv976o/qa_iofs_draft_design/g0hwjij/

[2020-08-05 23:22] Zincr0 commented on #40595
I was preparing my system to get some logs when i copied the code to a new file and... there was no error, the same code on 2 files just with different test function name, the old one showing "could not import C" while the new one does not, so i deleted the old one and renamed the new one and bum! no more errors and the code now runs fine on vscode. Can this be a cache issue?, i updated recently t

[2020-08-06 00:12] jasdel opened #40597 "x/net: module depends on vulnerable version of x/text@v0.3.0"
### What version of Go are you using (`go version`)?

<pre>
go version go1.14 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/jasdel/Library/Caches/go-build"
GOENV="/U

[2020-08-06 00:48] ianlancetaylor commented on #40595
Thanks.  Closing the issue since it is working now.

[2020-08-06 00:48] #40595 closed

[2020-08-06 00:51] to75988070 opened #40598 "> Comment<comment><<bad login>>"
_Originally posted by @to75988070 in https://github.com/GoogleCloudPlatform/google-cloud-node-todos/issues/38#issuecomment-669616278_

[2020-08-06 00:57] davecheney commented on #40598
Closing as there is no way to reproduce the issue.

[2020-08-06 00:57] #40598 closed

[2020-08-06 01:13] OneOfOne commented on #37697
I just got bit by this, one of my ignored folders have about 2 million auto generated files (not go files), but for some reason that pretty much kills gopls.

[2020-08-06 01:45] to75988070 commented on #40597
//<<Go>> su admin toor

[2020-08-06 01:46] Halimao commented on #33754
hello, is go modules supported now?

[2020-08-06 01:51] stamblerre opened #40599 "x/tools/gopls: refactor and improve completion scoring"
The completion ranking logic is scattered and inconsistent. See the following issues that would be fixed by doing a larger refactoring / improvement:

- https://github.com/golang/go/issues/42097
- https://github.com/golang/go/issues/39207
- https://github.com/golang/go/issues/42174

Also, see the discussion on https://golang.org/cl/245130. This makes sense as a stand-alone package that other packa

[2020-08-06 01:53] to75988070 commented on #40598
Deggol

[2020-08-06 02:07] NeoyeElf commented on #19495
@davecheney My project will get&put data like spreadsheet which has row, columns. In NodeJS, the data structure is like:
`dataTable: { row: { column: cellValue }}`. In Golang, I use map like this: `map[int32]map[int32]*CellValue`. When there are 100000 cells, the speed for getting cellValue in Golang is much slower than NodeJS, and it matters.

btw: I change the data structure to slice, and the sp

[2020-08-06 02:10] to75988070 opened #40600 "Add"
Go

[2020-08-06 02:11] davecheney commented on #40600
Please stop

[2020-08-06 02:11] #40600 closed

[2020-08-06 02:11] davecheney commented on #40598
Please stop

[2020-08-06 02:12] davecheney commented on #19495
dataTable: { row: { column: cellValue }}. In Golang, I use map like this: map[int32]map[int32]*CellValue. When there are 100000 cells, the speed for getting cellValue in Golang is much slower than NodeJS, and it matters.

Can you provide a benchmark to support this?

[2020-08-06 02:15] to75988070 opened #40601 "Add"
Leave Comment (Go) Optional "'

[2020-08-06 02:18] #40601 closed

[2020-08-06 02:26] amarjeetanandsingh opened #40602 "x/pkgsite: broken url for Go Module Index & Mirror on design doc"
The `Go Module Index` and  `Go Module Mirror` urls on [design doc](https://github.com/golang/pkgsite/blob/master/doc/design.md) page is broken

/cc @julieqiu

[2020-08-06 02:32] NeoyeElf commented on #19495
@davecheney
The Golang program:
[code]
it cost about 60ms.

The NodeJS program:
[code]
it costs about 2.6ms.

These programs above was running on my mac with 2.2 GHz 4 Intel Core i7, 16GB 1600 MHz DDR3

[2020-08-06 02:43] randall77 commented on #19495
I'm not terribly surprised that a consecutive number optimization would help in cases like this.
Instead of iterating to 1e6 by 1, try iterating to 1e9 by 1000. See if that changes anything.

Anyone have the pointer to the nodeJS map implementation source?

[2020-08-06 02:54] NeoyeElf commented on #19495
In this case, the Golang is about 2 times  faster than NodeJS (63ms vs 128ms).

I found the post [fast properties in V8](https://v8.dev/blog/fast-properties). It solved my question

[2020-08-06 02:56] phongvcao commented on #40578
@hyangah I'm having the same problem but on Vim with coc.nvim. How can I enable gopls debug with args in coc.nvim? I've tried multiple setup without success.

[2020-08-06 03:00] odeke-em commented on #19495
@randall77 I believe it is in the v8 project in C++ and in these files:
* https://github.com/v8/v8/blob/master/src/objects/hash-table-inl.h
* https://github.com/v8/v8/blob/master/src/objects/hash-table.h
* https://github.com/v8/v8/blob/master/src/objects/ordered-hash-table-inl.h
* https://github.com/v8/v8/blob/master/src/objects/ordered-hash-table.cc
* https://github.com/v8/v8/blob/master/src/obje

[2020-08-06 03:10] benhoyt commented on #40352
As author of [PEP-471](https://www.python.org/dev/peps/pep-0471/) and [os.scandir](https://docs.python.org/3/library/os.html#os.scandir) (included in Python 3.5+), I'll say this has definitely been useful in the Python world for speeding up recursively walking directory trees, just because of how many `stat()` calls it avoids. And most people don't even need to use it directly -- they just got a f

[2020-08-06 03:11] Jorropo opened #40603 "Build errors while placing an indentifier in a switch statement."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.6 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/Jorropo/.cache/go-b

[2020-08-06 03:13] stamblerre commented on #40578
I'm also not sure about how to pass flags to language server in coc.nvim, but you can try running `gopls -rpc.trace -v check path/to/file.go`. Otherwise, I'd suggest filing a coc.nvim issue to ask about passing flags to `gopls`.

[2020-08-06 03:19] ianlancetaylor commented on #40603
Well, that is how the language works.  Permitting a label on a `case` or `default` clause would be hard to define, because of code like

[code]

In other words, the same reasons that prevent you from jumping into a block also prevent you from jumping to a `case` clause.

[2020-08-06 03:19] ianlancetaylor commented on #40603
Since this is the way that the language is designed and intended, I'm going to close this issue.

[2020-08-06 03:19] #40603 closed

[2020-08-06 03:25] SparrowLii opened #40604 "crypto/x509: Update test case in verify_test"
### What version of Go are you using (`go version`)?

go version go1.14.6

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

windows/amd64

### What did you do?

I just run the test instruction in my desktop (go test crypto/x509) .

### What did you expect to see?

get the right certificate chain in the test

[2020-08-06 04:52] networkimprov commented on #40352
Thanks for the input, Ben. I think this proposal may be moot. Our task now is to help find an effective API for the `ReadDirFS` interface, which currently uses `FileInfo`, meaning all implementations of it could have performance problems.

[2020-08-06 04:59] Zaba505 opened #40605 "proposal: Go 2: iterators"
This proposal is for the addition of a new builtin type, `iterator`, and a new package, `iter`:
[code]

## Why

### builtin iterator type
This follows a similar reason as to why `error` is a single method interface and not a struct because it allows any implementation to provide the desired behaviour. The behaviour then comes from the definition of an iterator: a producer of items; hence, the sing

[2020-08-06 05:09] randall77 commented on #19495
Ok, then I'm not really sure that there's anything to fix here. Go's maps are general purpose. For the case of known dense integer indexes, we could have a special case map implementation. But that's a lot of complexity to add for a speedup in a fairly special case (and one for which a slice would quite possibly work just as well).

[2020-08-06 05:27] ysmood commented on #40583
@gopherbot please remove label WaitingForInfo.

[2020-08-06 05:38] ysmood commented on #40583
@deltamualpha

It doesn't affect how defer works. It's standalone, similar to the "check/handle proposal".

For example

[code]

If you don't use tools like `errcheck`, people will forget to handle the error here.

 Why can't we use similar to indicate if a function will throw? In IDE it might look like this:

![throw](https://user-images.githubusercontent.com/1415488/89495006-4b15d180-d7f2-11ea-9

[2020-08-06 05:43] martisch commented on #40605
I think it needs to be spelled out what this means. How can `[]int` implement the iterator interface? Does that mean `[]int` would have a `Next` method which is a fairly invasive language change for all types now to have methods. Also next requires a state. How and when is this intialized/reset for a value like `[]int{1,2,3}` ?

Would e.g. `range` use that iterator interface? Why not? If yes how?

[2020-08-06 05:55] martisch commented on #40583
This is not possible statically when reflect Call, function variables and plugins are involved without explicit anotation.

[2020-08-06 06:17] ysmood commented on #40583
I think it's the same as Go1's error. If you return an error as an interface, there's no way you can tell when a function will return an error or not.

Good point, I will take some time to add some examples for them.

[2020-08-06 06:24] andig commented on #40553
Not at all, thank you for the intensive care. Here's an updated log: https://pastebin.com/U7yR8C2W. I'm still (or again) seeing problems for things that compile fine:

    handler.Timeout undefined (type *ASCIIClientHandler has no field or method Timeout)

[2020-08-06 06:27] martisch commented on #40583
True but there was no claim here that its possible to know where all error values are originating from either. Errors dominately are returned as error types directly which is possible to analyse statically and not as `interface{}`.  This analysis also doesnt need whole program inter package analysis as knowing function signatures is enough.  As there would be no explicit annotation for throws the

[2020-08-06 06:28] ysmood commented on #40583
At least we should avoid talking about "plugin" which is even unusable on Windows.

For reflect, even you try to use reflect to hide throw, you will end up calling something like relfect.Throw which can still be statically analyzed.

[2020-08-06 06:30] martisch commented on #40583
reflect can call normal functions just fine there is not constraint in the proposal or language that forbids functions called with reflect.Call to need to use reflect.Throw

[2020-08-06 06:46] baislsl opened #40606 "net: ParseIP return 16 bytes length IP for IPv4 address"
```net.ParseIP``` parse the IPv4 address into 4 bytes length IP result, but converts it into a 16 bytes length redundantly.

Below is the relative code in ```net/ip.go```
[code]

Suppose we can return ```p``` directly without transfer in ```parseIPv4``` ?

[2020-08-06 07:09] hherman1 commented on #40399
Is the CL you're using locally the same as the one I posted above? `MOVQ` exists with and without my change on my machine (unless I'm misusing the compiler. Apologies for my newbiness :P)

[2020-08-06 07:18] ysmood commented on #40583
The analyzer can tell you are passing function `foo` that can throw to function `fmt.Printf` that doesn't have `catch` to handle the `throw`.

[2020-08-06 07:21] rogercarter1 opened #40607 "x/pkgsite: markdown is broken in my readme.md"
### What is the URL of the page with the issue?
 https://pkg.go.dev/mod/github.com/tachyon-protocol/goVsysSdk@v0.1.0

### What is your user agent?
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4222.0 Safari/537.36

### Screenshot
<img width="1039" alt="Screen Shot 2020-08-06 at 3 21 25 PM" src="https://user-images.githubusercontent.com/53250825/

[2020-08-06 07:22] feamarto opened #40608 "x/tools/gopls: inconsistent vendoring"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-08-06 07:23] #40608 closed

[2020-08-06 07:29] narqo commented on #39536
@mvdan sorry for the ping but, based on the discussion above, do you have any suggestions to how to move this forward?
I know @rsc and the team look through the "Proposal" issues weekly, although I expect the overall number of those issues is too big to observe.

[2020-08-06 08:04] dominikh commented on #18022
Staticcheck has a fairly trivial check: for a GoStmt of a FuncLit, if the first statement in the FuncLit is a call to `(*sync.WaitGroup).Add`, we flag it. That has potential for false positives, but none have been reported in all the years that the check has existed.

The check could be trivially hardened by

1. looking for an immediately following `defer` of `(*sync.WaitGroup).Done` and comparing

[2020-08-06 08:52] Helflym opened #40609 "cmd/cgo: Relocation overflow occurring when calling crosscall2"
While trying to compile metricbeat (with go1.15rc1 and 1.14.6), we discovered that a relocation overflow might occur when a CGO generated file tries to call crosscall2.
[code]
I don't really know why ld isn't able to generate a trampoline but we don't want one anyway as it might end up being added inside Golang generated .text section, changing the offset, alignement, etc. The problem already happ

[2020-08-06 09:03] cuonglm commented on #40399
Yes, I cherry pick your CL.

Before:

[code]

After:

[code]

[2020-08-06 09:06] ulikunitz commented on #38776
The premise that all hashes have buffers underneath is not correct. The non-cryptographic hashes in the adler32, crc32, crc64 and fnv packages in the hash directory of the standard library  don't have buffers. It is of course possible to implement WriteByte and WriteString for those hashes based on the Write logic.

The cost of the proposal, implement WriteByte and WriteString for all hashes in th

[2020-08-06 09:41] surechen opened #40610 "cmd/compile: combine phielim and copyelim into a single pass?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.3 windows/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What did you do?

I find a todo tag in line 419 of the file cmd/compile/internal/ssa/compile.go. It seems that the previous developer was considering combing phielim and copyelim. Whether there's still interest in this? I

[2020-08-06 09:47] ALTree commented on #40468
Happening in https://go-review.googlesource.com/c/tools/+/246737 too. Last modified 2 days ago but the CL is constantly at the top in the main page: https://go-review.googlesource.com/q/status:open+-is:wip and it says "just updated".

[2020-08-06 10:18] myitcv opened #40611 "x/pkgsite: move package files to bottom of doc page"
### What is the URL of the page with the issue?

https://pkg.go.dev/cuelang.org/go/cue?tab=doc

### What is your user agent?

<pre>
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.59 Safari/537.36
</pre>

### Screenshot

![Screen Shot 2020-08-06 at 11 15 58](https://user-images.githubusercontent.com/3374574/89520751-417e7080-d7d6-11ea-8b54-86

[2020-08-06 10:39] andy-js commented on #14709
I'm not sure why nobody suggested implementing this using getgrent.  There's no actual need to have getgrouplist.

[2020-08-06 10:47] myitcv opened #40612 "x/pkgsite: LHS navigation panel is "lossy""
### What is the URL of the page with the issue?

https://pkg.go.dev/cuelang.org/go/cue?tab=doc

### What is your user agent?

<pre>
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.59 Safari/537.36
</pre>

### Screenshot

![Screen Shot 2020-08-06 at 11 34 34](https://user-images.githubusercontent.com/3374574/89522278-dedaa400-d7d8-11ea-80a9-5e

[2020-08-06 11:02] zaneChou1 commented on #39189
I read the JSON [RFC-7159](https://tools.ietf.org/html/rfc7159) standard and found that the "," in the Unicode character table as an ASCII punctuation mark should be allowed as a valid field name for JSON.
I submitted a change:  https://go-review.googlesource.com/c/go/+/247059/

[2020-08-06 12:43] andy-js opened #40613 "x/sys/unix: add Pipe2 function for Solaris"
The Pipe2 function is missing from the syscall package on Solaris.  Solaris has pipe2 so it could be added.

[2020-08-06 13:13] andy-js commented on #40613
See: https://github.com/golang/go/pull/40614

[2020-08-06 13:23] #40602 closed

[2020-08-06 13:27] #40339 closed

[2020-08-06 13:32] aaronsky commented on #38848
what issue was this originally supposed to link to?

[2020-08-06 13:36] julieqiu commented on #38848
It looks like that issue was deleted, so I'll reopen this one.

@aaronsky - would you mind elaborating your use case for a refresh button on pkg.go.dev?

[2020-08-06 13:37] tklauser commented on #40613
The `syscall` package is frozen and no new functionality should be added to it (only bug fixes):

https://github.com/golang/go/blob/6f08e89ec3280bf6577c2bdb01243cbeeb1a259d/src/syscall/syscall.go#L21-L25

However, we may add `Pipe2` for Solaris to the `golang.org/x/sys/unix` package.

[2020-08-06 13:40] martisch commented on #40583
The analyzer can not know that in all cases if e.g. foo being an interface{} value that came from somewhere populated at run time.

[2020-08-06 13:41] aaronsky commented on #38848
Thanks! I recently released v0.1.0 of my brand new package [asc-go](https://github.com/aaronsky/asc-go). I currently have a cached version of HEAD as the only sole version on pkg.go.dev. GoDoc has already updated to reflect the new documentation, but I have been struggling to get pkg.go.dev to update. Based on my searches this seems like a fairly common issue with pkg.go.dev. If a refresh button i

[2020-08-06 13:41] andy-js commented on #40613
I'll do that.  Thanks.

[2020-08-06 13:45] aaronsky commented on #38848
Ah, I see it just refreshed. Can you say what triggered that reindexing?

[2020-08-06 13:50] tklauser commented on #40613
We can leave this open to track the issue. Issues for `x/sys` are also in the Go issue tracker, denoted by the `x/sys`prefix in the subject line. Also see https://github.com/golang/sys#report-issues--send-patches

[2020-08-06 13:54] julieqiu commented on #38848
My guess is that someone made a request to [proxy.golang.org/github.com/aaronsky/asc-go/@latest](https://proxy.golang.org/github.com/aaronsky/asc-go/@latest), either by visiting the URL directly or by using the Go command. [proxy.golang.org](https://proxy.golang.org) and https://golang.org/cmd/go/#hdr-Module_downloading_and_verification have more information on this topic.

We monitor https://inde

[2020-08-06 13:57] aaronsky commented on #38848
Interesting. I was requesting https://proxy.golang.org/github.com/aaronsky/asc-go/@v0.1.0 and that wasn't working. I'll make a personal note to try latest from now on, since that's usually what I expect when refreshing my package page.

[2020-08-06 14:00] julieqiu commented on #38848
Happy to help!

The syntax is https://proxy.golang.org/github.com/aaronsky/asc-go/@v/v0.1.0.info (see https://golang.org/cmd/go/#hdr-Module_proxy_protocol). You can also visit https://pkg.go.dev/github.com/aaronsky/asc-go@v0.1.0, now that #36811 is live, and click the `Request <your-package>` button.

Closing this issue - feel free to open a new one if anything comes up.

[2020-08-06 14:00] #38848 closed

[2020-08-06 14:27] ysmood commented on #40583
If we use `reflect` to create a DSL, we literally can do whatever we want without any constrains. We can even use `reflect` to dynamically create functions with dynamic signatures. Even with Go1's error, it will be hard to understand the code. This proposal is not meant to improve how we use `reflect`.

Such as python or javascript, they don't use catch everywhere. As long as you catch at their pa

[2020-08-06 14:41] qlcom opened #40615 "question: Where is the source code for proxy.golang.org ?"

[2020-08-06 14:44] stamblerre commented on #40553
The error message looks like you're in GOPATH mode, but I believe you're using modules. Make sure that `GO111MODULE` does not equal `off` and that you are within a module when compiling.

[2020-08-06 15:43] Jorropo commented on #40603
This is only a problem in a type switch.
See how switch deals with fallthrough in type switch :
https://play.golang.org/p/6VwniYemffi
error with : `cannot fallthrough in type switch`.

I don't see why the same thing can't be done for goto.
In your example the build would just error with something like this: `cannot jump in type switch`.
For all other non type switch this would just works.
What I w

[2020-08-06 15:59] Nv7-GitHub opened #40616 "Windows cross compiling not working with libraries that use CGO"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.6 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
I believe I have the latest release.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
G

[2020-08-06 16:20] kazmccullum opened #40617 "gcc_libinit.c _cgo_try_pthread_create 'EAGAIN' undeclared"
### Problem

Hi, I'm getting the below error when compiling a CGO project.

[code]
The C code compiles successfully. This seems to be an issue in CGO ?

### Some basic investigation

I checked the code in `/usr/local/go/src/runtime/cgo/gcc_libinit.c` and it does include `#include <errno.h>`. But still the error `'EAGAIN' undeclared` appears.

https://github.com/golang/go/blob/master/src/runtime/cg

[2020-08-06 16:26] randall77 commented on #40610
There's interest if it actually helps, which might be the case or it might not. "Helps" here means it makes the compiler faster.

You can check compiler phase timings by giving flags like `-d="ssa/early copyelim/time"` to the compiler (more examples described in `compile.go:PhaseOption`).

[2020-08-06 16:46] ianlancetaylor commented on #40583
Have you seen https://golang.org/doc/faq#exceptions ?

That said:

I don't understand the difference between `throw` and `panic`.

I don't understand the difference between `catch` and a deferred function that calls `recover`.

I don't understand the difference between `guard` and

[code]

[2020-08-06 16:51] ianlancetaylor commented on #40615
We don't use the issue tracker for questions.  You will get better and faster answers on a forum.  See https://golang.org/wiki/Questions.  Thanks.

See #34029.

[2020-08-06 16:51] #40615 closed

[2020-08-06 16:55] katiehockman opened #40618 "encoding/binary: ReadUvarint and ReadVarint can read an unlimited number of bytes from invalid inputs"
Certain invalid inputs to `ReadUvarint` or `ReadVarint` could cause those functions to read an unlimited number of bytes from the `ByteReader` argument before returning an error. This could lead to processing more input than expected when the caller is reading directly from the network and depends on `ReadUvarint` and `ReadVarint` only consuming a small, bounded number of bytes, even from invalid

[2020-08-06 16:55] katiehockman opened #40619 "encoding/binary: ReadUvarint and ReadVarint can read an unlimited number of bytes from invalid inputs [Go 1.14]"
This is a tracking issue for #40618, a security vulnerability fixed in Go 1.14.7.

[2020-08-06 16:55] katiehockman opened #40620 "encoding/binary: ReadUvarint and ReadVarint can read an unlimited number of bytes from invalid inputs [Go 1.13]"
This is a tracking issue for #40618, a security vulnerability fixed in Go 1.13.15.

[2020-08-06 16:55] #40619 closed

[2020-08-06 16:55] #40620 closed

[2020-08-06 16:56] #40618 closed

[2020-08-06 17:00] Jorropo opened #40621 "Proposal: Type Range"
## The Problem

In go functions capable of accepting different types uses `interface{}`, this work well most of the time but this very unclear about what your function actualy accepts. Also dealing with case when someone pass a wrong type resolve most of the time in panic or error but idealy we want the build the to fail because the function will never work with a wrong type.

## The Solution :

A

[2020-08-06 17:04] ianlancetaylor commented on #40603
True, it probably could be made to work, but the cost would be another exception to the language.

If you want to propose a change to the language, see https://golang.org/s/proposal.  But I would not accept this proposal to be accepted.

[2020-08-06 17:08] komuw opened #40622 "x/pkgsite: builtin should be ranked higher in search"
# What is the URL of the page with the issue?
https://pkg.go.dev/search?q=builtin

# What is your user agent?
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.59 Safari/537.36

# screenshot
<img width="973" alt="Screenshot 2020-08-06 at 20 04 37" src="https://user-images.githubusercontent.com/5163857/89560694-191b6400-d820-11ea-8340-139bc01dca

[2020-08-06 17:25] mvdan commented on #40622
Perhaps this is because builtin is not a normal package, it's not a package you can import. So if they have any "sort by" parameters like "number of packages that import this package", then that should always be 0 for builtin.

[2020-08-06 17:25] mvdan commented on #40622
(To clarify, I agree this is likely a bug; I'm just guessing what the cause might be)

[2020-08-06 17:32] ysmood commented on #40583
@iamoryanmoshe

Yes, I use Go for many years now, I think I know most of the debates and how hard it will be to challenge such a topic.

There are a lot. For example, panic will crash the application, throw won't. It's the same as when you don't handle the err returned from a function, nothing will happen. We can discuss how to handle uncaught errors. Such as nodejs' [uncaught exception](https://n

[2020-08-06 17:56] mntlty opened #40623 "io/ioutil: WriteFile example errors when run on the Go Playground"
### What version of Go are you using (`go version`)?

latest

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

Go Playground https://play.golang.org/

### What did you do?

run example at https://golang.org/pkg/io/ioutil/#WriteFile which links to https://play.golang.org/p/bIP2HMSXz1u

### What did you expec

[2020-08-06 18:07] stamblerre commented on #32637
We also just ran into the issue that the framework does not complain about markers with the same name.

[2020-08-06 18:14] bcmills commented on #40590
If we did allow `go.mod` to be a symlink, we would have to be careful about replacements: the main module's `go.mod` file must not alias the `go.mod` files of any of its dependencies (via symlinks in either direction), or else our dependency analysis will be wrong (#34417).

[2020-08-06 18:27] ianlancetaylor commented on #40583
Thanks.  I think you need to write down the precise semantics of these new constructs, because I do not understand them.  All I've seen so far is examples and implementation.  My apologies if I've missed a description.

[2020-08-06 18:29] mvdan commented on #40621
Please note that you should fill https://github.com/golang/proposal/blob/master/go2-language-changes.md when proposing a language change.

[2020-08-06 18:30] mvdan commented on #40605
Please note that you should fill https://github.com/golang/proposal/blob/master/go2-language-changes.md when proposing a language change.

[2020-08-06 18:33] ianlancetaylor commented on #40617
The file runtime/cgo/gcc_libinit.c has a line `#include <errno.h>`.  That should be enough to define `EAGAIN`.

[2020-08-06 18:36] ianlancetaylor commented on #40621
I think this should be folded into #19412.  I think it's the same basic idea.

[2020-08-06 18:41] dmitshur commented on #40468
Issue #40147 may be related to this.

/cc @andybons @toothrot @cagedmantis

[2020-08-06 18:45] #40573 closed

[2020-08-06 18:49] dcormier commented on #40034
How would a new exposed field for `*tls.Config` on `Client` interact with the existing [`(*Client).StartTLS(*tls.Config)`](https://pkg.go.dev/net/smtp?tab=doc#Client.StartTLS) method that allows you to specify the `*tls.Config` to use for `STARTTLS`?

[2020-08-06 18:50] dcormier commented on #19860
Given that other proposals for net/smtp are now being considered (at least #40034), perhaps this is worth another look?

[2020-08-06 18:51] AlexRouSg commented on #40616
https://golang.org/cmd/cgo/#hdr-Using_cgo_with_the_go_command:~:text=When%20cross%2Dcompiling%2C%20you%20must%20specify%20a,time%20you%20run%20the%20go%20tool.

[2020-08-06 18:56] ianlancetaylor commented on #39536
CC @bcmills @jayconrod

[2020-08-06 18:59] ianlancetaylor commented on #19860
How big is the change?

[2020-08-06 19:00] dcormier commented on #19860
Very small.

[2020-08-06 19:05] ianlancetaylor commented on #19860
Sure, send it, we can take a look.  Thanks.

[2020-08-06 19:09] bcmills commented on #39536
The nice property of filesystem-local `replace` directives is that the files are already in a location where they are accessible to `cmd/compile`. In contrast, `cmd/compile` does not know how to read a `git+ssh://` URL, so the `go` command would have to clone it somewhere — and where would it put that? (It presumably can't go in the module cache, because `git+ssh://` is not a well-formed module pa

[2020-08-06 19:12] ianlancetaylor commented on #40385
There are many different kinds of readers.  The `io.Reader` type defines a contract for all different kinds of readers.

Currently that contract permits returning `io.EOF` on a read of zero bytes.  This is not discussed explicitly, but nothing prohibits a reader from doing that.

The options I see here are:

1. Change `io.Reader` to prohibit returning `io.EOF` for a read of zero bytes.  Require it

[2020-08-06 19:14] Jorropo commented on #40621
- Would you consider yourself a novice, intermediate, or experienced Go programmer?
  intermediate
- What other languages do you have experience with?
  python, solidity, js like
- Would this change make Go easier or harder to learn, and why?
  Way easier because this would remove most of the uncertainty about `interface{}` as a call params
- Has this idea, or one like it, been proposed before?

[2020-08-06 19:18] myitcv opened #40624 "x/pkgsite: "Search help" button is too conspicuous"
### What is the URL of the page with the issue?

https://pkg.go.dev/

### What is your user agent?

<pre>
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.59 Safari/537.36
</pre>

### Screenshot

![Screen Shot 2020-08-06 at 20 12 05](https://user-images.githubusercontent.com/3374574/89572576-31d84980-d821-11ea-9dec-25b1f81fdfdc.png)

### What

[2020-08-06 19:22] Nv7-GitHub commented on #40616
Could you please explain how to use these and what I would have to do? Thanks!

[2020-08-06 19:22] tpaschalis commented on #40623
You're right! In the background, [`ioutil.WriteFile`](https://github.com/golang/go/blob/b371f189dfdfb2454a20ec276de55fe884d6ff9f/src/io/ioutil/ioutil.go#L79) uses `os.OpenFile`, and has been doing so [since 2011](https://github.com/golang/go/commit/8a90fd3c72e7853a39ba348c0cd278b2d11ea610).

I think that we could indeed change the example.
My 2¢ would be to add a couple of lines that create a dire

[2020-08-06 19:25] carnott-snap commented on #40462
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:25] AlexRouSg commented on #40616
You first have to find and install a C/C++ cross compiler. Then set the CC/CXX enviromental variables to point to the correct compiler.

The issue tracker is not used for questions so please see https://github.com/golang/go/wiki/Questions if you need someone to walk you through the process of installing the crosscompiler and setting things up.

[2020-08-06 19:25] ianlancetaylor commented on #27519
@networkimprov I didn't notice a general theme of proposals with local error handlers, but I could easily have missed it.  Can you point me at a few others?

I don't think the meta issue needs to point out which proposals are open or closed, that will just require more updating.  The information is inherently available in the issues themselves.

[2020-08-06 19:25] carnott-snap commented on #40356
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:25] carnott-snap commented on #40353
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:25] carnott-snap commented on #40155
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:27] carnott-snap commented on #39799
While I would like the feature, I understand that it may be too costly to justify inclusion in the language. Since we can resolve this with generics, is there a good way to fold this use case/request into that draft proposal process?

[2020-08-06 19:30] carnott-snap commented on #39798
@rsc: I am going to close this out, since it is declined, and I think you forgot to do that? However, I would like clarification about what exactly was declined, see my [previous comment](https://github.com/golang/go/issues/39798#issuecomment-662696478).

[2020-08-06 19:30] #39798 closed

[2020-08-06 19:32] andybons commented on #40147
I’m going to temporarily disabled assigning reviewers to CLs, as it’s possible that there’s an infinite loop there.

[2020-08-06 19:32] carnott-snap commented on #39539
@rsc: closing this one as well, did the process change, or were these two just missed?

[2020-08-06 19:32] ianlancetaylor commented on #40462
@carnott-snap Languages changes go through a separate process that doesn't use the proposals project.

[2020-08-06 19:33] ianlancetaylor commented on #40356
@carnott-snap Done.

[2020-08-06 19:34] ianlancetaylor commented on #40353
Language change, so leaving in Go 2 process.

[2020-08-06 19:34] carnott-snap commented on #40462
My apologies, I conflated the two.

[2020-08-06 19:34] carnott-snap commented on #40353
Yeah, my bad.

[2020-08-06 19:35] ianlancetaylor commented on #40155
@carnott-snap Done.

[2020-08-06 19:39] carnott-snap commented on #40442
Since this is a bug, and we have identified that everything is working as expected. I think we can close this out. Personally, I will transition to exclusively using `errors.Is(err, nil)` for consistency, and it would be nice for the community to advocate that as cannon, but I understand that may not be popular.

That being said, I am interested in proposing the two discussed changes, and will spi

[2020-08-06 19:39] #40442 closed

[2020-08-06 19:41] ianlancetaylor commented on #39799
I don't quite see the resolution with generics so I'm not quite sure what you are asking.  Are you talking about a new feature for the current design draft?  We don't have any formal process for that, just discussion on golang-nuts.

[2020-08-06 19:42] arnottcr commented on #40580
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:42] arnottcr commented on #40169
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:42] arnottcr commented on #40168
@ianlancetaylor: can you add this to the proposals project?

[2020-08-06 19:43] networkimprov commented on #27519
For proposals with local error handlers, see the item on this wiki page labeled "Invoke one of several handlers by name". They're mostly not on Github, because the check/handle document specifically requested feedback via the wiki.

https://github.com/golang/go/wiki/Go2ErrorHandlingFeedback#recurring-themes

In any case, could you add this proposal (#27519) to #40432?

[2020-08-06 20:04] #40531 closed

[2020-08-06 20:10] carnott-snap commented on #39799
Yeah, if we allow for method sets on generic types that should enable one to write:
[code]
[code]
Based on my mockup, the `Timeout` func lives on the `context.Context` type, thus would not be allowed to collide with any extant methods, and should eschew any type stack complexities?

You probably need to allow for param types, and keeping with the proposal syntax you would want:
[code]
You could pa

[2020-08-06 20:16] #39517 closed

[2020-08-06 20:16] #39581 closed

[2020-08-06 20:16] #39867 closed

[2020-08-06 20:16] #39939 closed

[2020-08-06 20:16] #39992 closed

[2020-08-06 20:18] ianlancetaylor commented on #40580
Done.  (You could also just e-mail me a list of issues.)

CC @bcmills @jayconrod

[2020-08-06 20:19] ianlancetaylor commented on #40169
@arnottcr Done.

[2020-08-06 20:19] ianlancetaylor commented on #40168
@arnottcr Done.

[2020-08-06 20:21] arnottcr commented on #40580
Sorry, that would have been easier, but thanks a bunch; if I get bored, I may look through for open tickets with the proposal label and milestone without the project, and I will email that list to you.

[2020-08-06 20:23] toothrot opened #40625 "all: Go 1.15rc2 release status"
Issue tracking the go1.15rc2 release by releasebot.

[2020-08-06 20:26] ianlancetaylor commented on #39799
What does this syntax mean?

[code]

If all this provides is syntactic sugar, as discussed above, then I don't think we are going to adopt the idea.  Sorry.

[2020-08-06 20:32] andybons commented on #40468
Seeing a number of CLs that can no longer be changed due to this:

[code]

@stamblerre

[2020-08-06 20:40] bmhatfield opened #40626 "x/tools/gopls: hang saving files / 100% CPU on master/90696ccd"
### What version of Go are you using (`go version`)?

`go version go1.14.6 darwin/amd64`

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

OSX/x86_64

### What did you do?

I keep my local gopls regularly updated from `master`. Sometime in the past 24h, a commit was introduced that has caused significant p

[2020-08-06 20:45] epelc commented on #36942
Is there potential to only run on save instead of on keystroke?

[2020-08-06 20:47] cyberbeast commented on #29202
@stamblerre What's the exact property that needs to be set in settings.json (vscode) to switch build tags?

[2020-08-06 20:48] dcormier commented on #36209
It's painful, but you can work around this limitation by specifying an existing `net.Conn` to `smtp.NewClient`, and calling the appropriate `(net.Conn).Set*Deadline` method before calling the `*smtp.Client` method that you want to have a timeout apply to. Just remember to clear the timeout afterwards (as needed) by calling `(net.Conn).Set*Deadline(time.Time{})`.

[2020-08-06 20:52] #40468 closed

[2020-08-06 20:55] toothrot commented on #40625
## Log

    2020/08/06 16:23:37 starting
    2020/08/06 16:23:37 working in /usr/local/google/home/rakoczy/go-releasebot-work/go1.15rc2
    2020/08/06 16:23:37 $ git clone https://go.googlesource.com/go /usr/local/google/home/rakoczy/go-releasebot-work/go1.15rc2/gitmirror
    2020/08/06 16:23:49 $ git config gc.auto 0
    2020/08/06 16:23:49 $ git fetch origin release-branch.go1.15
    2020/08/06

[2020-08-06 20:56] bmhatfield commented on #40626
This *may* have been fixed in: https://github.com/golang/tools/commit/ee49e490f2e5ab5b4d84b0707a810bec7b25c65f - I am running from `9099c90c` and it seems to be working again.

[2020-08-06 21:08] stamblerre commented on #40626
Yep, that should be it. Sorry that you picked up that bug.

[2020-08-06 21:08] #40626 closed

[2020-08-06 21:19] 42wim opened #40629 "runtime: pcdata is -2 and 12 locals stack map entries error on nil pointer"
### What version of Go are you using (`go version`)?

<pre>
$ go1.14.7 version
go version go1.14.7 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Not with 1.15rc1 (or 1.13.15)

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GO

[2020-08-06 21:29] ToJen commented on #39945
thanks @federicobond , will it be reviewed

[2020-08-06 21:37] carnott-snap commented on #39799
To be clear, with generics, we do not need methods either. However, they are very useful for namespacing and readability: `thing.Do(param)` vs `pkg.ThingDo(thing, param)`. I think there is real benefit to merging a change that is pure syntax sugar.

[2020-08-06 21:59] ianlancetaylor commented on #40629
CC @aclements @mknyszek @prattmic

[2020-08-06 22:00] ianlancetaylor commented on #39799
As a general guideline, Go prefers to have one standard way of doing things.

[2020-08-06 22:06] jvsteiner commented on #6189
This is absolutely not a localization issue.  It's a developer usability issue.  let's say I have a timestamps like the following:

`2020/6/17 06:31:59.573`
`2020/6/17 06:31:59,573`
`2020/6/17 06:31:59:573`
`2020/6/17 06:31:59|573`

The first one, I can parse, the rest I cannot.  It doesn't matter at all that some other maniac developer is feeding me a timestamp format that makes no sense at all,

[2020-08-06 23:17] salewski commented on #40557
It would be nice if something could be done to prevent the horizontal scrollbars and truncated content, as can be seen in the first screenshot below.

The page of the first screenshot is:
   * https://pkg.go.dev/golang.org/x/oauth2?tab=doc

The page in the first screenshot is at 100% zoom, in `chromium`.

**User-Agent:** `Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrom

[2020-08-06 23:32] salewski commented on #40612
Two ideas for restoring the Index content:

   1. Introduce a new "Index" tab, perhaps between the existing "Doc" and "Overview" tabs.
   2. Introduce an expandable link above the "Overview" header on the existing "Doc" tab

[2020-08-06 23:41] #37163 closed

[2020-08-06 23:46] salewski commented on #40577
Having the functions, types, and (possibly) variables in the sidebar expanded by default would make it easier to get a sense of the API at a glance. Still, it would be no substitute for the Index we know and love from `godoc.org` because full function signatures cannot fit comfortably into a sidebar.

Because the Index view contains so much high value content in a condensed form, there's often no

[2020-08-06 23:49] stamblerre commented on #29202
I would suggest the work-around described in this comment: https://github.com/golang/go/issues/29202#issuecomment-488469829.

[2020-08-06 23:54] davecheney commented on #40385
I vote for 2. /cc @minux who spent a lot of time arguing for this a few years back.

[2020-08-07 00:03] stamblerre commented on #36942
No, the model of `gopls` is such that changes have to be processed on every keystroke (for other features to work correctly).

[2020-08-07 00:41] cherrymui commented on #40528
Fixed in CL https://golang.org/cl/246318.

[2020-08-07 00:41] #40528 closed

[2020-08-07 01:12] kevinburkemeter commented on #40488
@broady it looks like we have this information present in internal/history/release.go, I'd be happy to take a stab at trying to include that on the DL page, but the DL page appears to take memcache + cloud datastore as hard dependencies and I'm not sure how to bootstrap either the memcache or cloud datastore locally; it doesn't look like there are docs for those?

[2020-08-07 01:13] kevinburke1 opened #40630 "x/website/internal/dl: include docs on how to init datastore or memcache dependencies"
I am trying to make changes to the /dl page, but this page requires the ability to pull data from a memcache or Cloud datastore in order to render the page contents, and it does not look like there is documentation on how to put the necessary data in the Cloud datastore.

[2020-08-07 01:28] surechen commented on #40610
Ok, thank you very much. I'll give it a try.

[2020-08-07 01:44] mholt commented on #40612
The recent LHS nav changes are problematic.

I would like to add a few points (aka complaints, but I'm trying my best to be constructive) that I hope will be rectified soon.

Note that the LHS nav truncates even very short signatures & identifiers with "...":

<img width="214" alt="Screen Shot 2020-08-06 at 7 36 05 PM" src="https://user-images.githubusercontent.com/1128849/89599183-17e83800-d81c-1

[2020-08-07 01:52] mholt commented on #40557
Just found this, but also made a related comment at https://github.com/golang/go/issues/40612#issuecomment-670275328

[2020-08-07 02:23] ysmood commented on #40583
@ianlancetaylor Thank you for your feedback. After collecting more feedbacks I will try to add precise semantics, I may also modify the specs while reviewing them. I searched things like "golang where to share language draft" with no luck. So I shared it here, hope to find people who have the willingness to work on this idea together.

[2020-08-07 02:41] stamblerre commented on #40527
I don't think we actually ever use the WorkProgressToken passed in by any request, though we should. @findleyr has the most experience with this code, and maybe have some thoughts here?

[2020-08-07 03:04] indutny commented on #19495
Node.js has separate dictionary modes for numeric and non-numeric keys in the map, i.e. if you store values by consecutive numerical keys in the `{}` (object) - V8 would recognize it and back the object with a list in the heap.

[2020-08-07 03:15] timmyyuan opened #40631 "gollvm: set the shell variable correctly in CMakeLists.txt"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.15rc1 gollvm LLVM 12.0.0git linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes, I run the configure step of gollvm in a docker container (ubuntu 18.04), but fail with following logs:
[code]

### What operating system and processor architecture are you using (`go env`)?

<details><su

[2020-08-07 03:15] findleyr commented on #40527
Yeah, this is a bug.  I'll fix it.

[2020-08-07 03:18] timmyyuan commented on #40631
The root cause is the ${shell} variable is incorrectly setting in CMakeLists.txt if there is no such a SHELL environment variable exists. I think I can submit a patch to fix this issue.

[2020-08-07 03:25] axetroy opened #40632 "x/tools/gopls: use progress notifications for the initial workspace load"
**Is your feature request related to a problem? Please describe.**

vscode-go initialization takes a while. During this time, there is no grammar prompt and nothing is ready.

I don’t know when it will be ready, it may depend on the size of the project

If it shows a loading state, this can alleviate user anxiety. At least let me know that it is working

**Describe the solution you'd like**

like

[2020-08-07 03:32] josharian commented on #38777
I can gather numbers, but it probably won't happen particularly soon.

But to re-iterate, I think the primary value here is clarity, and performance benefits are secondary.

[2020-08-07 03:35] duchuanLX opened #40633 "x/sys: fsnotify module demo cannot recv sysevents on mips64le"
### What version of Go are you using (`go version`)?
1.13.9/mips64le and 1.14.4
<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?
The new version does not reappear
golang.org/x/sys@v0.0.0-20200805065543-0cf7623e9dbd

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go e

[2020-08-07 03:58] davecheney commented on #19495
Based on the recent responses I am going to close this issue as the current question has been answered and is unrelated to the original inquiry several years ago.

For future commenters—please open a new issue; fill out the template, explain your problem, give a procedure for someone else to reproduce what you are seeing and if it turns out this is an issue, it will be addressed.

Thank you all.

[2020-08-07 04:00] davecheney commented on #40583
@ysmood this may be useful for your proposal. https://github.com/golang/proposal#proposing-changes-to-go

[2020-08-07 05:11] #39993 closed

[2020-08-07 05:55] stamblerre opened #40634 "x/tools/gopls: show progress reporting for all commands"
Right now, it's difficult to tell if a command is executing or to see if it succeeded/failure. We should add progress and error reporting for all commands.

[2020-08-07 06:02] stamblerre opened #40635 "x/tools/gopls: extract variable suggests extracting an *ast.ImportSpec"
<img width="486" alt="Screen Shot 2020-08-07 at 2 01 09 AM" src="https://user-images.githubusercontent.com/5856771/89614197-f2762100-d851-11ea-83bd-5ff368c85dfc.png">

I actually would expect this to create a named import for me, which might be nice, but would requiring replacing all occurrences in the file.

/cc @joshbaum

[2020-08-07 06:19] xbit commented on #37141
The cost of an error expression instead of a boolean expression after `return if` is high in my opinion. It can be a bit confusing because of the `if` keyword.

`return if nil`, sounds like saying return if the result of the expression is `nil` but that statement does the opposite. Which is why I think "pass", "return?" or something else may be better.

[2020-08-07 06:44] narqo commented on #39536
@bcmills I feel there is a confusion or maybe I don't follow this part:

It could be, that the description didn't show the idea clearly — I will appreciate suggestions to improve the wording — but I expected the same behaviour for `GOPRIVATE=foo/bar go build` and a replace `foo/bar => git+ssh://foo/bar`. In the replace case though go command would bail out if `foo/bar` couldn't be fetched using th

[2020-08-07 06:56] leguminosa commented on #40578
I have the same issue, it keeps popping out for almost every action I did

[2020-08-07 09:25] SnowfallDan opened #40636 "cmd/cgo: using cgo when passing unsafe.Pointer of a slice to C function causes memory leak"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.6 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?
We found a memory leak when go pass a unsafe.pointer to a C function.
Code:
[code]
After running the code, we use ppro

[2020-08-07 09:46] 123kirty opened #40637 "month out of index"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-08-07 09:46] #40637 closed

[2020-08-07 12:03] bcmills commented on #39536
@narqo, the `replace` directive performs a _local_ substitution of the source code for the given module path (and possibly version), so it changes the meaning of a path@version pair (and may change it to contents with a different checksum). In contrast, `GOPRIVATE` does not change the meaning of a specific version — it merely instructs the `go` command not to fetch that version directly from the o

[2020-08-07 13:39] duchuanLX commented on #40633
@evanphx please help me， What should I do to get system catalog monitoring events in this version。 golang.org/x/sys@v0.0.0-20200805065543-0cf7623e9dbd

[2020-08-07 13:51] chrismalek commented on #40578
+1

[2020-08-07 14:27] randall77 commented on #40636
Can you show us exactly the commands you used to get that pprof result, so that we can reproduce it ourselves?

Maybe unrelated to this issue, but this is almost certainly not what you want:
[code]
That's a pointer to the slice header. You want
[code]
That's a pointer to the first element of the slice.

[2020-08-07 14:42] deanveloper commented on #40583
you didn't fix the chaining issue. the goal was to make chaining easier (so that one could do `foo().bar()` with proper error handling), but you still didn't allow chaining with your solution. i'm confused about what problem this solves.

[2020-08-07 15:09] bradfitz commented on #40255
One data point: just today somebody asked for 387 binaries in https://github.com/tailscale/tailscale/issues/651

We already cross-compile a number of architectures (https://pkgs.tailscale.com/unstable/#static) and it's easy to add 387 to that list. If we had to use gccgo, though, it's a bit harder. Perhaps add some docs linked from the release notes pointing to gccgo instructions for building stat

[2020-08-07 15:14] salewski commented on #40612
I agree, and have a comment to similar effect over at https://github.com/golang/go/issues/40577#issuecomment-670245037

[2020-08-07 15:22] toothrot commented on #40625
## Latest build: go1\.15rc2

- src ([tar\.gz](https://golang-release-staging.storage.googleapis.com/go1.15rc2/go1.15rc2.src.tar.gz))
- linux\-386 ([tar\.gz](https://golang-release-staging.storage.googleapis.com/go1.15rc2/go1.15rc2.linux-386.tar.gz))
- linux\-armv6l ([tar\.gz](https://golang-release-staging.storage.googleapis.com/go1.15rc2/go1.15rc2.linux-armv6l.tar.gz))
- linux\-amd64 ([tar\.gz](h

[2020-08-07 15:59] deanveloper commented on #32590
I did not think about the benefits as mentioned in #40393. To summarize that issue, named backtick literals would also allow for syntax highlighters to highlight the backtick literals differently, which is especially useful for SQL/HTML strings.

[2020-08-07 16:19] ianlancetaylor commented on #40255
To build a static executable with gccgo: `go build -compiler=gccgo -gccgoflags=-static`.

But note that gccgo executables use the C libraries, so static executables on GNU/Linux systems have some limitations, as glibc generally expects to be dynamically linked.  Specifically not all /etc/nsscache.conf values are supported, unless the dynamic C library is also present at run time.

[2020-08-07 16:22] andybons commented on #40612
Thanks all for the valuable feedback and suggestions.

I’m in agreement that we are not using the amount of horizontal space effectively (see #40577).

As this is the most viewed page on pkg.go.dev by far, we want to ensure everyone that we’re taking this feedback into account and prioritizing accordingly. We understand how crucial this page is to everyone’s workflow and we’ll be working with our

[2020-08-07 16:29] icholy commented on #40605
The generics proposal will enable writing your own iterator interface outside of the stdlib.

[code]

This gives you everything except the `range` behavior (which I don't think adds too much value anyway).

[2020-08-07 16:40] ianlancetaylor commented on #40636
Your `wg.Done` call will run before your deferred call to `C.free`, so it's not implausible that one buffer was left behind.  See what happens if you change your code to call `C.free` before `wg.Done`.

[2020-08-07 16:45] ianlancetaylor commented on #40631
CC @thanm @cherrymui

[2020-08-07 16:52] deanveloper commented on #39716
@DeedleFake This doesn't seem to be the case, I think you may have misinterpreted. `int` is still a built-in type, not a kind. It seems that the only thing that Proposal 3 states is that things like `someVal.(func)` (which is not currently valid) can be used in type-switches to describe any function.

[2020-08-07 16:54] thanm commented on #40631
Yes please, feel free to submit a patch.  I seem to recall at least one other person running into this same issue. Another option would be to require folks to set SHELL prior to running cmake (e.g. update the build instructions).

[2020-08-07 17:05] narqo commented on #39536
Good point. My initial hopes were to piggyback the existing `replace` to get the behaviour of `GOPRIVATE`, but allowing to explicitly require this behaviour in a project's `go.mod`. Providing that, this goal makes sense, maybe a new explicit `source` directive would solve this better:

[code]

That is, `source` directive instructs go, that module `foo/bar` must be fetched from the origin `git.corp

[2020-08-07 17:11] #40625 closed

[2020-08-07 17:15] toothrot commented on #40597
/cc @bradfitz @ianlancetaylor

[2020-08-07 17:19] toothrot commented on #40606
I think this is a duplicate of #18804, let me know if you agree.

[2020-08-07 17:20] toothrot commented on #40606
/cc @bradfitz @ianlancetaylor

[2020-08-07 17:21] toothrot commented on #40607
/cc @julieqiu @jba @jamalc

[2020-08-07 17:23] toothrot commented on #40609
/cc @ianlancetaylor

[2020-08-07 17:26] toothrot commented on #40616
Closing this issue, and would like to encourage you to follow up on the list of forums suggested by @AlexRouSg.

[2020-08-07 17:26] #40616 closed

[2020-08-07 17:48] stamblerre commented on #40578
@leguminosa, @chrismalek: Please open new issues and provide the information requested in the [`gopls` troubleshooting guide](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code).

[2020-08-07 17:50] muirdm commented on #40635
This already works with rename, right? I think that is a better fit than extract to variable.

[2020-08-07 17:51] stamblerre commented on #40635
Oh fair point, I forgot that rename handles that. Then we should just not support extraction here.

[2020-08-07 17:57] joshbaum commented on #40635
This is symptom of logic living in canExtractVariable. We check if it is an ast.Expr, but then leave the actual checking if its a valid ast.Expr type to extractVariable. This is why the lightbulb is on, but it won't actually do anything. Should we move this logic into canExtractVariable? We could just have a barebones switch statement in there that explicitly checks the type.

[2020-08-07 18:10] randall77 commented on #40629
I can reproduce. Here's what's happening:

1. `github.com/42wim/matterircd/mm-go-irckit.login` is panicking due to a nil pointer exception.
2. `runtime.sigpanic` is next on the stack. It then calls lots of other functions (`runtime.panicmem`, `runtime.panic`, `runtime.preprintpanics`, ...).
3. All those calls run out of stack, causing a stack copy.
4. When walking the stack to copy it, the copier

[2020-08-07 18:14] prashantv opened #40638 "cmd/compile: named returns are faster than inline returns"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.7 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/prashant/.cache/go

[2020-08-07 18:40] matloob commented on #40509
My sense is that it's working as intended: mostly because of the connection between regexp.MatchReader and regexp.(*Regexp).MatchReader. I think it would be inconsistent for regexp.MatchReader to return an error if regexp.(*Regexp).MatchReader wouldn't (because it can't). I don't have an especially strong opinion about this though.

[2020-08-07 18:42] matloob commented on #34273
Yeah, it's now working as intended. Closing.

[2020-08-07 18:42] #34273 closed

[2020-08-07 19:12] ianlancetaylor commented on #40638
It's a pretty small effect, but it does seem that using a local variable causes the compiler to assemble the value on the stack and then copy it to the result parameter stack location.  Using a named result parameter causes the compiler to assemble the value directly in the result parameter stack location.

When using gccgo I see that `ReturnIntermediate` is slightly slower, and the others are all

[2020-08-07 19:13] dgryski commented on #40638
Duplicate of https://github.com/golang/go/issues/20859 ?

[2020-08-07 19:15] hyangah commented on #40578
@phongvcao I am not familiar with coc.nvim. I am guessing you can pass extra args with the [`args`](https://github.com/neoclide/coc.nvim/blob/bf18a0311fbc924956e43f4104e6aa72c483bef1/data/schema.json#L227)  field and  set `revealOutputChannelOn`. Probably `trace.server` option is also another way.

[2020-08-07 19:18] seebs opened #40639 "checkptr should say what rule it thinks you're breaking"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.14
</pre>

### Does this issue reproduce with the latest release?

probably?

### What operating system and processor architecture are you using (`go env`)?

linux/amd64

### What did you do?

```dataOffset += 2 * copy((*[1 << 16]uint16)(unsafe.Pointer(&nextData[0]))[:], c.array())```

(Context actually mostly irrelevant; w

[2020-08-07 19:19] ianlancetaylor commented on #40638
Thanks.  Closing as dup.

[2020-08-07 19:19] #40638 closed

[2020-08-07 19:20] ianlancetaylor commented on #40639
CC @mdempsky

[2020-08-07 19:34] mundaym commented on #40473
Thanks for the pointers, I think I have found the issue. The InlMark optimization [here](https://github.com/golang/go/blob/ba9e10889976025ee1d027db6b1cad383ec56de8/src/cmd/compile/internal/gc/ssa.go#L6152-L6163) executes before the assembler has run. The optimization therefore assumes that the target `Prog` will not be moved or removed from the function by the assembler. In this case however the a

[2020-08-07 19:51] #22163 closed

[2020-08-07 19:52] avivklas commented on #40430
@odeke-em, about `CopyN`: I followed the code in and I think that it's a bit misleading to return an `EOF`. Besides the common sense about this error, the documentation about it reads "Functions should return EOF only to signal a graceful end of input", and this is not the case.
Currently, `CopyN` uses `LimitReader` which returns no error in our case, so changing this behavior is a breaking change

[2020-08-07 19:53] toothrot opened #40640 "x/build/cmd/gopherbot: handle transferred issues"
Gopherbot currently gets stuck in an error loop when it encounters an issue that has been transferred, such as golang/vscode-go#298, which is now #40101.

[code]

It shouldn't get stuck when this happens.

/cc @golang/osp-team

[2020-08-07 19:55] mdempsky commented on #40639
Go 1.15 will improve the error message somewhat: 1f231d7.

Does that address your concerns, or are you suggesting that checkptr should specifically recognize `(*[big]T)(p)[:]` and hint the user should add len/cap to the slice?

[2020-08-07 20:06] seebs commented on #40639
I think what I'm mostly advocating for is "at the point of deciding to report a thing, flag in some way the basis for the decision". That message would probably have communicated the issue to me (although I might have mistaken it for alignment anyway). So, the specific thing of saying that len/cap is needed might be overkill, but something like "converted pointer points to 8192 bytes, base pointer

[2020-08-07 20:10] ianlancetaylor commented on #16364
As far as I can tell, this can be implemented with generics using a custom data structure.  The data structure would be a slice of buffered channels.  Sending a value would pick a channel to send on, perhaps using `len` to see which channel was more full.  Receiving would read from a preferred channel, and if no value was seen `select` on the other channels.

Since I think this can be done without

[2020-08-07 20:10] #16364 closed

[2020-08-07 20:15] ianlancetaylor commented on #40537
I'm going to close this issue.  Sorry.  This battle has been lost.

[2020-08-07 20:15] #40537 closed

[2020-08-07 20:15] ianlancetaylor commented on #40511
CC @kardianos

[2020-08-07 20:17] randall77 commented on #40473
Thanks for the excellent diagnosis.

Can the original Prog be repurposed as one of the two GOT lookup instructions? That way it would remain a valid target.
Another technique (x86 uses this) is to rewrite the original to a nop, but leave it in the Prog list.

We've been moving away from the assembler doing any optimizations (e.g. we removed instruction reordering a while ago), now that the compile

[2020-08-07 20:17] ianlancetaylor commented on #40443
We can agree or disagree as to whether this would be a good idea, but it doesn't matter because we can't make this change.  It would break the Go 1 compatibility guarantee (https://golang.org/doc/go1compat).  Sorry.

[2020-08-07 20:17] #40443 closed

[2020-08-07 20:18] randall77 commented on #40473
What, if anything, do you think we need to fix for 1.15?

[2020-08-07 20:20] ianlancetaylor commented on #40359
Can someone write down the additional API that is being proposed?  That is, all the new exported names that would be added to the x/net/http2 package.  Thanks.

[2020-08-07 20:23] ianlancetaylor commented on #40292
It does look the same.  Closing as a dup.  Please comment if you disagree.  Or maybe comment on #38479 to suggest changes there.

[2020-08-07 20:23] #40292 closed

[2020-08-07 20:27] ianlancetaylor commented on #40239
Why does this needs to be in the standard library?  How often does it come up?

[2020-08-07 20:29] ianlancetaylor commented on #40082
CC @kardianos

[2020-08-07 20:32] mdempsky commented on #40639
Okay. I believe that's what 1f231d7 does. After that CL, checkptr reports unique error messages for each case it checks.

We don't always know the "N bytes before end of allocation" part (e.g., the base pointer might be to a statically-allocated, package-level Go variable, or it might be into C memory), but we could certainly include additional details like that when we do know them.

I think we c

[2020-08-07 20:37] mknyszek opened #40641 "runtime: race between stack shrinking and channel send/recv leads to bad sudog values"
Internally we've seen a rare crash arise in the runtime since Go 1.14. The error message is typically `sudog with non-nil elem` stemming from a call to `releaseSudog` from `chansend` or `chanrecv`.

The issue here is a race between a mark worker and a channel operation. Consider the following sequence of events. GW is a worker G. GS is a G trying to send on a channel. GR is a G trying to receive o

[2020-08-07 20:39] mknyszek commented on #40641
This should be fixed for Go 1.14 and Go 1.15. It's a bug that was introduced in Go 1.14, and may cause random and unavoidable crashes at any point in time. There may not be enough time to fix this for 1.15 (the failure is very rare, but we've seen it internally), and if not, it should definitely go in a point release.

@gopherbot please open a backport issue for 1.14.

[2020-08-07 20:39] gopherbot opened #40642 "runtime: race between stack shrinking and channel send/recv leads to bad sudog values [1.14 backport]"
@mknyszek requested issue #40641 to be considered for backport to the next 1.14 minor release.

[2020-08-07 20:39] gopherbot opened #40643 "runtime: race between stack shrinking and channel send/recv leads to bad sudog values [1.15 backport]"
@mknyszek requested issue #40641 to be considered for backport to the next 1.15 minor release.

[2020-08-07 20:50] CommoDor64 commented on #40239
It's comes up every time that a URL is being manipulated in such a way. Maybe indeed a rare use-case but it creates an inconsistency that I cannot reason, if someone can do it, I would love to hear why the behavior is as presented and why a re-parsing function won't be an acceptable solution.

Thanks for your comment

[2020-08-07 20:55] toothrot commented on #40622
/cc @julieqiu @jba @jamalc

[2020-08-07 20:56] toothrot commented on #40623
/cc @dmitshur

[2020-08-07 20:56] toothrot commented on #40630
/cc @dmitshur

[2020-08-07 21:04] toothrot commented on #40633
Do you have the full error output?

[2020-08-07 21:05] mknyszek commented on #40641
Oh no! That fix doesn't work because if there's a stack growth at any point in between, we could self-deadlock. Ugh. OK I don't know what the right fix is yet...

[2020-08-07 21:08] icholy commented on #40239
@CommoDor64 what does your proposed `SetPath` method do?

[2020-08-07 21:14] navytux commented on #19495
@davecheney, why do you close the issue? Even if nodejs is doing runtime map magic which Go is not willing to accept (but see P.S.), it was already explicitly posted here 3 years ago that:

- _"The pypy **is not switching dict implementation**"_, and that
- go versoion of the benchmark _"Still takes **~1.4x - 1.5x longer** compared to pypy"_:

https://github.com/golang/go/issues/19495#issuecomment

[2020-08-07 21:16] cherrymui commented on #40641
Could we set GS as not safe for shrink stack?

[2020-08-07 21:16] DeedleFake commented on #39716
If that was true, then the example `M` type wouldn't, as it claims, be all of the possible marshallable types:

If `int` isn't a kind, then if I do `type A int`, `M` won't match `A`. Although, this example also doesn't cover `int8`, `int16`, and so on, or any of the `uint` types.

[2020-08-07 21:25] networkimprov commented on #19495
@navytux since the original issue was a comparison with V8 (which seems to be fixed, aside from the sequential-keys case), and your comment is a comparison with Pypy, maybe it makes sense to open a new issue for that comparison?

[2020-08-07 21:35] dmitshur commented on #40630
Unrelated to documentation, please be sure to discuss changes to the /dl page in an issue first.

[2020-08-07 21:41] lesichkovm commented on #40345
@empijei  Please makes usre you read the first message carefully.

We are not talking about specific issue at hand.

Its about being able to use a function that should be part of the standard library, instead of relying on 3rd party implementation.

[2020-08-07 21:50] mundaym commented on #40473
Another technique (x86 uses this) is to rewrite the original to a nop, but leave it in the Prog list.

Yeah, either would work. The second way is what I've implemented since it is a simpler change in my opinion.

I think it would be relatively easy to ensure and enforce that no two inline markers point to the same PC value. The advantage of it being a marker op rather than a code generating op wou

[2020-08-07 21:54] dmitshur commented on #40623
The testdata directory exists [on disk](https://github.com/golang/go/tree/master/src/io/ioutil/testdata). However, the example doesn’t have an // Output comment, so it’s only meant to be compiled and displayed in documentation, but not executed:

[code]

It doesn’t work on the Go Playground because the testdata directory isn’t available in that environment. But given there isn’t an // Output comme

[2020-08-07 22:18] ahmq opened #40645 "x/website:"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-08-07 22:37] mntlty commented on #40623
@dmitshur the issue isn't really about the playground but that the example as written doesn't work without other steps that are not included here, like "must have this directory before running this code"

[2020-08-07 22:46] mknyszek commented on #40641
Yeah, that might work. I'm not sure if it's technically safe for stack scanning though because if it's a `chanrecv` falling into this path then there could be a write into the stack in that same window from a sender? I guess that's already true (or we handle this case) today?

[2020-08-07 23:00] cherrymui commented on #40641
I think stack scanning should be fine, as it doesn't write to the stack. It is okay to read the old or the new value. As long as the write has a write barrier, it should be fine.

[2020-08-07 23:51] randall77 commented on #40629
This appears to be a bug in open-coded defers. When I turn them off, the problem goes away.

The underlying problem is that the call to `runtime.deferreturn` in the panicking function is marked as being a non-safepoint (that's the -2). It's marked that way because we never gave it any liveness information. With standard defers, the deferreturn call appears in the SSA representation, so it gets liv

[2020-08-08 00:26] randall77 commented on #40629
This patch:
[code]
triggers a bunch of times during make.bash. Both 1.14.2 and tip. Looks like we need to fix this for the release - I think we're just getting lucky that we don't stack copy or gc trace such cases normally (stack copy is only likely to happen with an unrecovered panic?), or that the random other instruction's liveness map is correct (or good enough).

@gopherbot please open a back

[2020-08-08 00:26] gopherbot opened #40646 "runtime: pcdata is -2 and 12 locals stack map entries error on nil pointer [1.13 backport]"
@randall77 requested issue #40629 to be considered for backport to the next 1.13 minor release.

[2020-08-08 00:26] gopherbot opened #40647 "runtime: pcdata is -2 and 12 locals stack map entries error on nil pointer [1.14 backport]"
@randall77 requested issue #40629 to be considered for backport to the next 1.14 minor release.

[2020-08-08 00:26] randall77 commented on #40646
Not a problem for 1.13.

[2020-08-08 00:26] #40646 closed

[2020-08-08 01:41] shaqque commented on #40607
This is related to #39297. In particular, the README in https://pkg.go.dev/mod/github.com/tachyon-protocol/goVsysSdk@v0.1.0 doesn't have a space/newline before the fenced code block, causing blackfriday to not detect this as a code block.

Using the same code I posted in the linked issue above with minor tweaks, I managed to confirm that this is indeed the case, and that adding a newline before th

[2020-08-08 02:04] ysmood commented on #40583
Sorry, what you do mean? Can you give more details about your concern?

[2020-08-08 03:01] ZenLiuCN commented on #25838
I just get this error as well.
`.\blue-print.go:63:2: internal compiler error: cannot handle alias type declaration (issue #25838): Fragment`
And I found that there was a source file been named as `Runtime.go`, after rename it into `runtime.go` sames that everthing just fine.

[2020-08-08 03:20] w22296437978 opened #40648 "%.2f exception"
![image](https://user-images.githubusercontent.com/39508539/89701390-1ed09100-d969-11ea-8f9d-22348f255f5b.png)

[2020-08-08 03:24] randall77 commented on #40629
Here's a simple-ish reproducer:
[code]

[2020-08-08 03:26] mknyszek commented on #40641
Thanks Cherry, that makes sense. `sendDirect` has an explicit write barrier and we're not worried about reads of a partially-written pointer in stack scanning because `memmove` guarantees it'll copy a pointer-word a time.

Your solution would mean that we could probably get rid of `syncadjustsudogs` altogether which would be a nice simplification! 😀 A stack shrink will still be enqueued for the ne

[2020-08-08 03:42] robpike commented on #40648
The printed result is correct due to rounding. 0.505 will be rounded up to 0.51. The print routines round, they don't truncate.

Just for fun, I tried it in C as well, and `printf("%.2f\n", 1823.505)` prints `1823.51` in C too.

Working as intended.

[2020-08-08 03:43] #40648 closed

[2020-08-08 03:46] w22296437978 commented on #40648
but 2.445 > 2.44

[2020-08-08 03:48] randall77 commented on #40629
I think there's something fundamentally kinda broken with using the last defer as the point to grab the live variables for the deferreturn. With code like:
[code]
There's only one return in this code, and it only has p in its live args, not q. But we need q live in case `*g=0` panics.

I was thinking that we could look harder for the last return sequence, but I don't think that actually works in a

[2020-08-08 03:52] #40645 closed

[2020-08-08 03:57] w22296437978 commented on #40648
![image](https://user-images.githubusercontent.com/39508539/89701929-424a0a80-d96e-11ea-9048-8598cb2a28ac.png)
How could this be?

[2020-08-08 04:11] robpike commented on #40648
To avoid bias, rounding a number ending in the digit 5 alternates between rounding up and rounding down, which means that overall all rounded numbers, half round up and half round down.

1 2 3 4 round down.
6 7 8 9 round up
5 rounds up half the time and down half the time.

See this program:

[code]

which prints

[code]

[2020-08-08 05:01] deanveloper commented on #40583
i had misread part of the proposal, my bad. i was confused for a reason, haha

[2020-08-08 06:08] danscales commented on #40629
Yes, the setting of the stack map for the deferreturn stub is tricky, because it is not otherwise connected to the rest of the function.  And, as you show, it is especially tricky when we have parts of the function that can never return (have an infinite loop or panic).  Note there is already some extra code to deal with a related case - making sure that the defer args are kept alive in code that

[2020-08-08 06:13] danscales commented on #40629
Since I am just heading out for vacation starting tomorrow for the next two weeks, and will have only partial connectivity (and mostly in the evenings), Keith was nice enough to say that he would work on the fix for this.  I will join in as I can, and definitely plan to review the code for the fix.

[2020-08-08 06:36] leighmcculloch opened #40649 "proposal: x/website/internal/dl: add including unstable without archived releases (?mode=json&include=stable,unstable)"
### What version?

https://github.com/golang/website/commit/51b22ef31af8bf2cb877aab9d56031bae8313a18

### Does this issue reproduce with the latest release?

Yes

### What did you do?

Query https://golang.org/dl/?mode=json for stable releases and beta releases.

### What did you expect to see?

A way to query the endpoint and get back the latest stable releases, i.e. go1.14.7 and go1.13.5, as wel

[2020-08-08 06:36] leighmcculloch commented on #40649
### Proposal

I think it would be useful for tools or development environments that automatically install the latest stable versions of Go to be able to easily query for the latest unstable releases. Using unstable releases is encouraged so that issues are found early and this is one way we could make that easier.

We could change the `include` option to take other values such as `stable`, `unstab

[2020-08-08 06:49] randall77 commented on #40629
I think the OP's example did not use infinite loops. It just had a return that ended up being removed by deadcode (I haven't checked, but probably prove decided that some branch was impossible). If that happened to be the last return in program order, then the live map for the deferreturn is wrong. It's easier to repro with an infinite loop, but probably not necessary.
Of course, we could do some

[2020-08-08 10:33] cyantarek opened #40650 "question: What's the status of dropping the binary package?"
Hi, our company uses the binary library heavily to encode and decode our custom made binary protocol over UDP.

I came across the issue where @rsc proposed to drop the binary package altogether.

As you already guessed, this will be a real problem for us. As we're planning to write more custom binary protocols for our internal use. And if the binary package is dropped, we got a real headache alrea

[2020-08-08 11:03] ALTree commented on #40650
No such thing.

You're probably thinking of #28152 (cmd/go: drop support for binary-only packages), which is a completely different thing (it's about binary-only Go packages, without source code). The `encoding/binary` package that you're using is not going anywhere. And it couldn't: Go has a strict [backward compatibility promise](https://golang.org/doc/go1compat):

Your programs using `encoding/

[2020-08-08 11:03] #40650 closed

[2020-08-08 11:03] thomasf commented on #38017
Just started to read through the current version of the go 1.15 release notes and this one seems strange to me. Since tzdata becomes stale, why not have this data as a go module that can update independently of the standard library?

[2020-08-08 12:42] soya3129 commented on #40359
The new API include a reader interface which can be called by both servers and clients, a write function called by servers and a write function called by clients. In addition, the PR also propose an unknown frame info struct.

// Server side usage:
// func ServeHTTP(rw http.RequestWriter, r *http.Request) {
//	...
//	ufr := r.Context().Value(http2.UnknownFrameReaderKey)
//	reader, ok := ufr.(Unkno

[2020-08-08 12:45] soya3129 commented on #40359
cc @ianswett @birenroy

[2020-08-08 13:01] microyahoo opened #40651 "x/tools/gopls: significant memory usage in kubernetes/vendor/k8s.io/client-go"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.4 linux/amd64

(ENV_3.7.6) 🍺 /home/admin/go/src/k8s.io/kubernetes ☞ git:(master) ✗ gopls version
golang.org/x/tools/gopls 0.4.4
    golang.org/x/tools/gopls@v0.4.4 h1:8djGYsaZ0ByP0vaXg4T+mnyfDcHpWKSZ+tpQSGv9ahk=
</pre>

### Does this issue reproduce with the latest release?

it can be reproduced in my VMWare

[2020-08-08 13:24] hasheddan commented on #40634
@stamblerre thanks for all of your work on `gopls`! I would be happy to help out on this issue

[2020-08-08 14:59] stamblerre commented on #40651
Thanks for the report, @microyahoo. @heschik has been working on improving gopls's memory usage (https://golang.org/cl/242838), so we will try out your repro case once that change is merged.

[2020-08-08 15:02] empijei commented on #39807
Do you have a proposal to fix the race described in this bug report? If so please do send a CL my way :smile:

[2020-08-08 15:07] stamblerre commented on #40634
Thanks @hasheddan! I actually spent a bit of time looking into this with https://golang.org/cl/247320, but it turned out to be a little more complex than I expected, so it may not be the best issue to start with (basically each command type needs its own progress reporting, which is a little unpleasant). Also, I think this needs to wait until https://github.com/golang/go/issues/40527 is resolved.

[2020-08-08 15:11] empijei commented on #40345
Why do you think it should be part of the standard library? I don't think it should and I think it might be even dangerous to expose.

If you ask me about implementing and exposing a sanitizer I might be on board with that, I am just not sure `stripTags` would be the best thing to have in our public API.

When you say "Please makes sure you read the first message carefully." I read all 18 words of

[2020-08-08 15:44] andig commented on #35631
Coming here from #40370. I have a user claiming `x509: certificate signed by unknown authority` from inside a docker container. Same image is working fine for me, user says no proxy installed. Might there be more causes than Mac API?

[2020-08-08 16:18] ianlancetaylor commented on #25838
@ZenLiuCN That sounds like a different bug.  Would you mind opening a new issue with complete instructions for how to reproduce the problem?  Thanks.

[2020-08-08 16:19] ianlancetaylor commented on #40648
https://cr.yp.to/2005-590/goldberg.pdf

[2020-08-08 16:32] ianlancetaylor commented on #38017
@thomasf First, the point of time/tzdata is to modify the behavior of the standard library time package, so it requires a tight coupling to the standard library.  It's hard to do that reliably and maintainably in an external module.

Second, one of the assumptions mentioned in the original proposal statement is: "it should be possible to embed timezone information when building an arbitrary progra

[2020-08-08 16:34] josharian commented on #40610
You might also find github.com/josharian/compilecmp handy for testing compiler performance.

[2020-08-08 16:43] chrismalek commented on #40578
More Information:

I enabled the trace flag in vscode settings.

[code]

Here is what my directory look like.

[code]

Output of trace

[code]

It cannot find the go.mod file nor the main file but I assure you they are there.

I did notice it is showing this `/Users/chrismalek/Library/Mobile Documents/com~apple~CloudDocs/code/chg-ps-audit\n\tto `

I am not sure if that `\ntto` at the end is from s

[2020-08-08 16:59] seebs commented on #40639
I think this is a case where more information is almost always better, and any additional insight into the violation will be valuable to the user.

Say I have `b [65536]byte`, and I obtain a poiter to &b[65530], and cast it to `*[16]byte`. That's the case where the wording seems hard to me; "points to 16-byte allocation, but [65536]byte is 65536 bytes" would be slightly confusing.

[2020-08-08 17:26] EdSchouten commented on #38017
Maybe it would make sense to add a generic flag to `go build` to request linking in additional libraries by import path? Could also be useful to link binaries with custom database drivers, etc.

[2020-08-08 17:47] ruyi789 opened #40653 "runtime·usleep bug"
After calling nanosleep, it did not check whether the return value is 0, resulting in inaccurate waiting time

TEXT runtime·usleep(SB),NOSPLIT,$16
	MOVL	$0, DX
	MOVL	usec+0(FP), AX
	MOVL	$1000000, CX
	DIVL	CX
	MOVQ	AX, 0(SP)
	MOVL	$1000, AX	// usec to nsec
	MULL	DX
	MOVQ	AX, 8(SP)

	// nanosleep(&ts, 0)
	MOVQ	SP, DI
	MOVL	$0, SI
	MOVL	$SYS_nanosleep, AX
	SYSCALL
	RET

[2020-08-08 17:54] hasheddan commented on #40634
Thanks for following up so quickly @stamblerre! I'll take a look :slightly_smiling_face:

[2020-08-08 17:58] hasheddan commented on #40277
Happy to take this one if no one else is already working on it!

/cc @stamblerre @muirdm

[2020-08-08 18:24] muirdm commented on #40277
I'm not working on it. Happy to give pointers if needed!

[2020-08-08 19:04] Keithcat1 commented on #40594
Yes, my situation is that I'm statically linking C++ libraries that come with a C API, then using the C API to call into that package.
Actually setting CC=g++ could work, but I'd prefer a solution where I don't have to set something special every time I compile a C++ package using CGO. Plus, if that works, there's no reason to not use g++ by default anyway.

[2020-08-08 19:16] ZenLiuCN opened #40655 "cmd/compile: cannot handle alias type declaration"
### What version of Go are you using (`go version`)?

go version go1.14.2 windows/amd64.

### Does this issue reproduce with the latest release?
haven check yet.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
set GO111MODULE=on
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\Administrator\AppData\Loc

[2020-08-08 19:19] ZenLiuCN commented on #25838
opening at #40655. It's really a wired thing, that only happened about the source file naming .

[2020-08-08 20:58] #40120 closed

[2020-08-08 21:16] stamblerre commented on #40578
@chrismalek: `gopls` currently requires that you open a directory at or below the root of your module--in your case, the `backend` directory. You can use View -> Add Folder to Workspace to add the `backend` directory to your workspace. Future versions of `gopls` will handle this use case and make the workaround unnecessary.

[2020-08-08 21:19] AlexRouSg commented on #40594
@Keithcat1 Try adding a empty `.cpp` file maybe with the include lines.

If that doesn't help, please provide more info by filling out the issue template that was shown when making a new issue. And provide the actual linker errors.

[2020-08-08 21:56] oflebbe commented on #39857
I didn't run any of the tests, but read a bunch of comments, since this seems an interesting problem...

As far as I understood: test9400 is checking if the handling of setxid (i.e. setuid, setgid, ...)  class of system calls may smash the go stack, as setxid() is implemented by sending signals to all threads to fullfill POSIX requirements. (see linux man setgid)

In order to prevent stack overrun

[2020-08-08 22:04] mdempsky commented on #40655
Thanks for providing more details. I think this is #25838 actually. Here's a standalone file that produces the same failure: https://play.golang.org/p/0Cxmszie2hW

Case is relevant because it probably affects how cmd/go sorts file names, which affects the order that cmd/compile processes declarations. I think if you put the interface after the implementation in your file, it'll still reproduce too

[2020-08-08 22:04] #40655 closed

[2020-08-08 22:09] mdempsky commented on #40639
In this case, my proposed wording would be: `points to 6-byte allocation, but [16]byte is 16 bytes`.

[2020-08-08 22:40] richfelker commented on #39857
There's a thread from 2019 on this topic: [sigaltstack for implementation-internal signals?](https://www.openwall.com/lists/musl/2019/03/05/2) that never reached a conclusion. Basically I'm unclear whether it's arguably conforming for the implementation to use the alternate signal stack for implementation-internal signals, since it may have observable side effects on the application in the absence

[2020-08-08 23:01] randall77 commented on #40639
Can we do `points to byte offset 65530 in a 65536-byte allocation, but [16]byte is 16 bytes`.
(Including the offset only if it is nonzero.)

[2020-08-08 23:16] mdempsky commented on #40639
Yeah that seems doable.

[2020-08-09 00:02] advancedwebdeveloper opened #40656 "gollvm: *** struct epoll_event data.fd offset unknown , while compiling on Windows 10 (64bit)"
I will try to be short: I got the following, while running CMake, on "x64 Native Tools Command Prompt for VS 2019":

-- Looking for alloca - not found
-- Looking for memcpy
-- Looking for memcpy - not found
-- Performing Test HAVE_SYNC_BOOL_COMPARE_AND_SWAP_4
-- Performing Test HAVE_SYNC_BOOL_COMPARE_AND_SWAP_4 - Failed
-- Performing Test HAVE_SYNC_BOOL_COMPARE_AND_SWAP_8
-- Performing Test HAVE_S

[2020-08-09 00:52] alexbrainman commented on #23479
Since no one replied to my comment last week, I will assume that

https://golang.org/cl/246317

fixes this. So I will close this issue.

Please, let me know, if I am wrong.

Thank you.

Alex

[2020-08-09 02:17] acln0 commented on #40653
The runtime uses SA_RESTART when installing signal handlers, which I am pretty sure prevents nanosleep from ever returning EINTR. Also, note the comment just before making the system call: the invocation is equivalent to `nanosleep(&ts, NULL)`, therefore, I don't think we could ever get the remaining time written back into the rem parameter anyway.

Have you observed shorter sleeps due to signal i

[2020-08-09 03:52] #38816 closed

[2020-08-09 05:23] baislsl commented on #40606
It does. Discussion in #18804 more comprehensive.

[2020-08-09 05:24] #40606 closed

[2020-08-09 05:29] krader1961 commented on #31280
FWIW, I agree there should be a mechanism for explicitly marking some statements as never reachable when evaluating test coverage. In any non-trivial program there will always be some code paths that will only ever be executed in what are effectively impossible scenarios. Yet you don’t want to continue as if everything was okay if the impossible happens. So you attempt to handle the impossible cas

[2020-08-09 07:19] networkimprov commented on #40653
cc @aclements @ianlancetaylor @cherrymui

[2020-08-09 07:38] davidvanlaatum opened #40657 "testing: "=== PAUSE" lines do not change the test name for the next log line"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.7 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOE

[2020-08-09 09:56] burhan opened #40659 "x/tools/gopls: bad quick fix title for go mod tidy suggestion"
Issue Type: <b>Bug</b>

Once you add a library that is not in `go.mod`, you get a helpful hint. However, the quick fix shortcut shows `%s` instead of the path to be added (even if you highlight the offending line).

![image](https://user-images.githubusercontent.com/603112/89729562-9e309400-da3f-11ea-8dc4-7b1ee42b28d5.png)

Now the popup:

![image](https://user-images.githubusercontent.com/603112/

[2020-08-09 11:52] krzysdabro commented on #40109
Hi, I have sent CL for this issue. Let me know whether it's what you had in mind.

[2020-08-09 12:39] advancedwebdeveloper opened #40658 "gollvm, libbacktrace: CMake's checks on _alloca, __alloca"
From my CMakeError.log file:

I see that it is present within Microsoft's include directories/headers: [https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/alloca?view=vs-2019 ](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/alloca?view=vs-2019 )

And this function shouldn't be searched, on Windows, since it never had to exist (within any header file):

### What did

[2020-08-09 16:02] chrismalek commented on #40578
@stamblerre thank you. That worked. Thanks for your expertise.

[2020-08-09 18:55] aalexand commented on #40435
I'm curious if we know why this issue happens? I could see this happening with per-thread `CLOCK_THREAD_CPUTIME_ID`-style timers (like done [here](https://github.com/GoogleCloudPlatform/cloud-profiler-java/blob/364ff77ec35d3d055108cd4fe07c9b8bb2efc345/src/threads.cc#L39)), but Go runtime uses plain good gold setitimer with SIGPROF as far as I know? Does SIGPROF sampling only count in full schedule

[2020-08-09 19:43] martisch commented on #37056
https://github.com/ish-app/ish/issues/57 has been closed by ish-app supporting MOVQ now:
https://github.com/ish-app/ish/commit/e898efeacf3f0f2b97fe2748d1fd86d0130f59de

Can this issue be closed?

[2020-08-09 19:46] cherrymui commented on #40658
Currently gollvm does not support Windows, so it is expected not to work. If you want to work on it, that is great. Otherwise there is no need to file a bug report, as it is technically not a bug. Thanks.

[2020-08-09 19:46] #40658 closed

[2020-08-09 19:47] cherrymui commented on #40656
Currently gollvm does not support Windows, so it is expected not to work. If you want to work on it, that is great. Otherwise there is no need to file a bug report, as it is technically not a bug. Thanks.

[2020-08-09 19:47] #40656 closed

[2020-08-09 20:00] aalexand commented on #36821
Some thoughts on the proposal (in almost no particular order):

Can the proposal link to specific known issues reported by users? No profiler is perfect and it's almost always possible to construct a microbenchmark which will surface its limitations but what matters is how much those limitations affect the profiling of real-world programs. Issues #35057 and #14434 are two that I know about that co

[2020-08-09 22:52] ghasemloo commented on #29800
It would be nice to have a way to cleanup go.sum from stuff that are not relevant for the building the module and only keep the minimal required.

The current behavior adds hashes for all the stuff in one's go root which one might not want to expose to others (privacy) when pushing the module to a repo. Right now I need to manually cleanup the go.sum file before pushing it to the repo.

relevant b

[2020-08-09 23:41] GAZ082 commented on #40530
Cant replicate. Will close. Thanks!

[2020-08-09 23:41] #40530 closed

[2020-08-10 00:04] segevfiner commented on #31999
@stamblerre Was automatic detection of the local module ever implemented, both this and the referenced issue are closed.

P.S. That's kind of a missing thing in the stock goimports, most editors just run it without flags and you have to specifically customize the editor configuration to pass the flag which is obviously different for different projects, it doesn't have a config file or detection lo

[2020-08-10 00:11] stamblerre commented on #31999
@segevfiner: This issue refers to adding support for various features for `go.mod` in `gopls`. The automatic detection of the module is partially implemented, but not yet complete - https://github.com/golang/go/issues/32394 tracks that work.

As for `goimports`, neither you nor your editor need to run `goimports` directly if you are using `gopls`. All import organization should go through `gopls`.

[2020-08-10 00:29] segevfiner commented on #31999
I was specifically complaining about standalone goimports not supporting automatic detection of the local import prefix, requiring to supply `-local` to it. I know gopls calls it internally, but I'm not sure if it implemented any such automatic detection either, which is what I'm asking about.

I think the issue you linked is about figuring out module roots independent of editor workspace folder r

[2020-08-10 00:45] ianlancetaylor commented on #39857
If musl doesn't use `SA_ONSTACK` for the signal handler that it installs, that won't work with any program that uses `sigaltstack`.

I don't see any way to fix this in Go.  I don't see what change we could make that would make things work better.

[2020-08-10 00:52] ianlancetaylor commented on #40653
Does this ever cause a problem?

The `usleep` function is internal to the runtime.  The exact length of time that it sleeps should never matter.

[2020-08-10 01:10] ibraheemdev commented on #36264
I am still getting this issue. My generated code has the following function:
[code]

[2020-08-10 01:14] zikaeroh commented on #36264
My CL was merged during the Go 1.15 cycle; you should see it fixed in an RC or on gotip. It wouldn't be fixed in Go 1.14.

[2020-08-10 01:15] ibraheemdev commented on #36264
Oh. Ok, thanks for the quick reply!

[2020-08-10 01:50] SnowfallDan commented on #40636
console input:
[code]

open browser. url is http://127.0.0.1:6060/debug/pprof/heap?debug=1

[2020-08-10 02:12] richfelker commented on #39857
@ianlancetaylor I don't follow how it "doesn't work with any program that uses `sigaltstack`". It just doesn't work with any program that has a severely undersized stack, which is a known constraint. But it would be nice to be able to use the alt stack when it's available, assuming it's more likely to always have sufficient space for the signal handler to run.

[2020-08-10 02:13] richfelker commented on #39857
Note that I've reopened the topic on the musl list: https://www.openwall.com/lists/musl/2020/08/09/1

[2020-08-10 02:33] duchuanLX commented on #40633
detail error info：

goroutine 8 [syscall]:
syscall.Syscall6(0x1459, 0x6, 0xc0000efbd8, 0x7, 0xffffffffffffffff, 0x0, 0x0, 0x0, 0x0, 0x0)
/home/golang1.13.9/src/syscall/asm_linux_mips64x.s:40 +0x10
k8s.io/kubernetes/vendor/golang.org/x/sys/unix.EpollWait(0x6, 0xc0000efbd8, 0x7, 0x7, 0xffffffffffffffff, 0x0, 0x0, 0x0)
/root/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/vendor/golan

[2020-08-10 02:56] lubinszARM commented on #36287
@thundercw
Any progress?

[2020-08-10 03:02] frickenate commented on #4373
Since it's been almost 3 months since the last serious comment here, I'm going to bump this.

I have *multiple* variations of this across *multiple* code bases at the moment:

[code]

Go has quite a few "wtf" moments, but this is one of the worst. Checking for a substring of an error message is just… disgusting.

[2020-08-10 03:20] stamblerre opened #40660 "x/tools/gopls: consider auto-detecting the module to provide -local without a config"
See the conversation on https://github.com/golang/go/issues/31999 and https://github.com/golang/go/issues/32049.
Could we add some special value of the setting and have it automatically infer the name of the current module? For use cases where `-local` is not necessarily the path of current module, we could still allow a configuration as before.

/cc @heschik

[2020-08-10 03:21] stamblerre commented on #31999
Ah I see, thanks for the clarification. This was an umbrella issue so I wasn't sure what feature you were referring to. It seems https://github.com/golang/go/issues/32049 did not cover automatic detection of the local module. I opened https://github.com/golang/go/issues/40660 to restart that discussion - thanks!

[2020-08-10 03:21] #31999 closed

[2020-08-10 03:53] henryas opened #40661 "x/tools/gopls: gopls does not rescan when using go generate"
#### What did you do?
I opened the project in vscode. I tested the intellisense to make sure that gopls properly recognize the packages in the project and it did. I call go generate to regenerate some new files using the "run go generate ./..." link at the top of the go generate instruction.

#### What did you expect to see?
The intellisense should recognize the new files and update its informatio

[2020-08-10 04:48] stamblerre commented on #40661
Can you please share your `gopls` logs when this happens? Instructions on how to capture logs can be found [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

[2020-08-10 05:10] networkimprov commented on #4373
It's tagged for 1.16, the next release.

A lot of ppl wouldn't want Context to infect the rest of the stdlib. It's rather like "const poisoning" :-)

[2020-08-10 05:37] henryas commented on #40661
[code]

[2020-08-10 05:51] henryas commented on #40661
I discovered gopls will update its database if you open the affected files in the editor. The affected files that are not opened do not get updated.

[2020-08-10 06:05] xiazemin commented on #20773
replace  <textarea id="story" name="story" rows="5" cols="33">
with
<textarea id="story" name="story" rows="5" cols="33"></textarea>
it works fine

[2020-08-10 06:18] roipoussiere opened #40663 "proposal: math: add Tau in constants"
Add Tau in mathematical constants.

In many cases, formulas can be more elegant using the Tau constant instead
of Pi. You will find a good number of arguments and explanations
[in the Tau manifesto](https://tauday.com/tau-manifesto), which describes Tau as:

The constant is based on [the corresponding page in the online
encyclopedia of integer sequences](https://oeis.org/A019692), and is also
equa

[2020-08-10 06:52] leguminosa commented on #40578
@stamblerre I haven't received any error pop-up like yesterday, are there by any means new releases / fixes already?

[2020-08-10 07:33] shawn-xdji commented on #36287
Hi @lubinszARM, wondering why calling 'free' against 'name', I guess a wrapper of 'C.free' is expected for freeing memory allocated by cgo, in this case it's 'return C.CString("n")' from cgo_close.
[code]

[2020-08-10 07:43] segevfiner commented on #40660
Just note that what goimports needs is a prefix. So if your package is something like `github.com/segevfiner/magicgopher`, then it needs to be set too `github.com/segevfiner`. It is also actually a comma-separated list for some more complex cases, so having a setting for it is still definitely useful. Though honestly, goimports should have detected a config file in the repository root or something

[2020-08-10 08:02] oflebbe commented on #39857
Hi @richfelker , I tested: It is sufficient to have a patch like this on musl
[PATCH.txt](https://github.com/golang/go/files/5049583/PATCH.txt)
to resolve. This will fix go, and will not harm musl.

If there is an alternate stack, it will use it. Go does create an alternate stack.
If there is no alternate stack, kernel will ignore SA_ONSTACK. That's it.

[2020-08-10 09:37] feidtmb opened #40664 "x/website: sql.Rows example panics."
### What did you do?

Ran the example under the `sql.Rows` type at https://golang.org/pkg/database/sql/#Rows.Scan.

### What did you expect to see?

Logged output from the call:

[code]

- (I don't know what's in the database so not sure what exactly the output should be.)

### What did you see instead?

A panic:

[code]

[2020-08-10 12:33] tpaschalis commented on #40664
Right now, I think that all of these examples panic, as the `db  *sql.DB` variable is not initialized anywhere (normally in your code, you'd use something like [db, err := sql.Open(...)](https://golang.org/pkg/database/sql/#Open)).

Basically, none of [these](https://golang.org/src/database/sql/example_test.go) examples contain `//Output` comments, so they're probably meant to be compiled and disp

[2020-08-10 12:43] feidtmb commented on #40664
Whoops, you're right they do all panic. I dug a little more and found that #9679 already addresses the overall problem (and a comment specifically notes the sql examples), so closing this as a duplicate.

[2020-08-10 12:43] #40664 closed

[2020-08-10 13:29] stevetraut opened #40665 "x/website: unable to use custom path without trailing slash ("/") in an HTML file, if it is named index.html"
### What version of Go are you using (`go version`)?

<pre>
% go version
go version go1.14.7 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
% go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/straut/Library/C

[2020-08-10 13:48] thanm commented on #40244
Lots of comments and observations here, sounds like the next step is to write some patches.

[2020-08-10 14:00] hyangah commented on #40591
Some other translations linked from https://tour.golang.org/welcome/2 are not available either due to the same reason.
Should we file issues separately?
Should we delete the links from the official tour sites if they don't respond?

[2020-08-10 14:01] tiegz opened #40666 "proxy.golang.org:"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.14.6
</pre>

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN="~/go/bin"
GOCACHE="~/Library/Caches/go-build"
GOENV="~/Librar

[2020-08-10 14:11] ALTree commented on #40591
I would file an issue in the tracker of the translations that don't work. Optionally, we could turn this one into a meta-issue to coordinate the effort, with a bulleted list of the external issue we opened.

[2020-08-10 14:44] muhlemmer commented on #38099
I'm agreeing with @sfllaw's conclusion. `errors.Is` and `errors.As` can't be used against the returned error. Only string level equality can ben tested. If existing code is using string level equality testing, it won't break by switching to the `%w` verb:

[code]

https://play.golang.org/p/uxpnS97ASZf

One of the affected use cases would be implementers of the [`sql.Scanner`](https://golang.org/pk

[2020-08-10 14:50] prattmic commented on #40641
If we set it as not safe for stack shrinking, that means we can't shrink stacks of anything blocked on chan send, right? Would that be too limiting, given that such G's may be blocked indefinitely. I certainly regularly see thousands of G's blocked in chan recv, though I imagine chan send is less common.

[2020-08-10 14:53] stamblerre commented on #40578
@leguminosa: No, there haven't been any new releases since this issue was filed. Please open a new issue if you encounter this problem again.

[2020-08-10 14:54] stamblerre commented on #40661
@henryas: It looks like you didn't add the flags to increase the verbosity of your logs (https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code). Do you mind adding those flags and then providing new logs? Sorry about that!

[2020-08-10 14:55] andybons commented on #40666
This looks to be https://github.com/etcd-io/etcd/issues/11154

[2020-08-10 14:55] #40666 closed

[2020-08-10 14:55] andybons commented on #40665
@dmitshur

[2020-08-10 14:57] andybons commented on #40657
@bcmills

[2020-08-10 14:58] andybons commented on #40633
@ianlancetaylor

[2020-08-10 15:00] andybons commented on #38099
@neild @jba what do y’all think? Should we do this early in the 1.16 cycle and see what breaks?

[2020-08-10 15:13] katiehockman commented on #40554
Yeah that sounds good. I'll take care of that. Thanks @rolandshoemaker.

[2020-08-10 15:14] Goutte commented on #40663
Thank you @roipoussiere for this.

In my experience, people who dislike Tau never understood trigonometry, nor mathematics in general.
Looking at you, @seankhliao and @zephyrtronium

I'm using Tau all the time in my Go code, and I never needed to use Pi.
Please add this, it makes formulas clearer, since you can think in fractions of a whole rotation.

A quarter turn ? Easy : `Tau / 4`
Half turn ?

[2020-08-10 15:17] martisch commented on #40255
The most feedback to keep support seems to come from users with AMD Geode GX/LX (the kind with MMX but not SSE or SSE2) boards still used in the embedded space/routers.

Im in favor of dropping 387. As an alternative go1.16 could be made to reinterpret GO386=387 to mean use softfloat support instead of 387 or SSE2 instructions. This would make ordinary go programs on 387 hardware still work, but s

[2020-08-10 15:19] #40527 closed

[2020-08-10 15:28] FiloSottile commented on #39568
Amazon fixed this on their side (💙) so I'm going to close this.

Here are some details for anyone else encountering the same `x509: certificate relies on legacy Common Name field` error.

This error means that the certificate has the requested hostname or IP in the Common Name field, and not in the Subject Alternative Names extension. Verifying Common Name is unspecified, and has been deprecated f

[2020-08-10 15:28] #39568 closed

[2020-08-10 15:31] jayconrod commented on #40577
Another example where this causes problems: top-level functions that return a type declared in the package are grouped together with that type, which makes them hard to find when the index is collapsed.

Let's suppose I'm looking for a function in `net/http` that sends a `GET` request. I'd expand the *Functions* section on the left side bar to see if there's anything that sounds like it might help

[2020-08-10 15:32] deanveloper commented on #40663
While I am a big fan of tau, I don't see the problem in putting `const Tau = math.Pi * 2` at the beginning of a program

[2020-08-10 15:38] prattmic commented on #40641
e.g., in one of the applications where we saw this crash, 44/557 G's were blocked in chan receive, most for >1000 minutes. That is a decent amount of stack space you'll effectively never be able to reclaim.

[2020-08-10 15:50] psanford commented on #39568
@FiloSottile can we add note in the release notes pointing to the instructions from AWS on how to generate a new cert? I suspect there will be a bunch of RDS users who don't realize that they need to do this and will be sad when they upgrade go 1.15 and things stop working.

[2020-08-10 15:52] mknyszek commented on #40641
There was a state of the world where all this worked, prior to https://golang.org/cl/172982. For 1.14 it's probably safest to revert that CL, since I think it can be cleanly reverted.

For 1.15 (if not backporting) and 1.16 though, @prattmic and I agree would be nice to retain the explicit tracking of when we need to be careful in stack copying that https://golang.org/cl/172982 added, but I'm not

[2020-08-10 15:54] FiloSottile commented on #35631
@andig If this is inside a Docker container, it's a different issue, this issue is about macOS (and Docker runs Linux).

(You should check what certificate chain the Docker container is served. Docker being Docker, this is likely to be a proxy the user is unaware of.)

[2020-08-10 15:57] mknyszek commented on #40641
OK actually I think I'm abandoning the idea of the revert. Enough changed after that CL that it doesn't make sense, and after I read some of the old comments, it feels like going back to that state would be subtle.

[2020-08-10 15:57] iand commented on #40270
Another candidate for this label: https://github.com/golang/go/issues/24661

[2020-08-10 15:59] andig commented on #35631
Sorry for the OT response- any hint how I would do that? The confusing part here is that the image works fine for me...

[2020-08-10 16:04] henryas commented on #40661
Sorry about that. It is my bad. Here we go. It is rather long, so I put it as an attachment.

[log.txt](https://github.com/golang/go/files/5051935/log.txt)

[2020-08-10 16:10] stamblerre commented on #40661
Thank you for sharing that! I think we may be registering for `didChangeWatchedFiles` notifications incorrectly on Windows:

[code]

Thank you for this report! I will try to reproduce this myself now.

[2020-08-10 16:17] andy-js commented on #14709
See: https://github.com/golang/go/pull/40667

[2020-08-10 16:24] Goutte commented on #40663
Thanks, @deanveloper

I feel frustrated doing this because it makes my code less forward-compatible,
notwithstanding the code duplication.

Just like I would hate having to do
[code]
everywhere I used it.

I juggle a lot of trigonometry and geometry in general, and Tau is the single most useful constant of the `const.go` file in that context.  Followed by Phi, because… _you know… æsthetics._

---

[2020-08-10 16:34] FiloSottile commented on #35631
@andig You'd make your application print the PeerCertificates, and check if they match the ones that you see when things work correctly. If not, they might point to what proxy is involved. If you need more help with that, you can try the golang-nuts mailing list or the crypto channel on the Gophers Slack.

[2020-08-10 16:50] andybons opened #40668 "all: Go 1.15 release status"
Issue tracking the go1.15 release by releasebot.

[2020-08-10 16:50] andybons commented on #40668
## PROBLEMS WITH RELEASE

  - open issue #11811 is tagged release-blocker
  - open issue #12042 is tagged release-blocker
  - open issue #27155 is tagged release-blocker
  - open issue #37419 is tagged release-blocker
  - open issue #40554 is tagged release-blocker
  - **Found errors during release. Stopping!**

## Log

    2020/08/10 12:49:59 starting
    2020/08/10 12:49:59 working in /Users/and

[2020-08-10 17:11] novalina26 opened #40669 "x/net/http2: novalinasi11"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-08-10 17:14] neild commented on #38099
I think we should do this.

I expect that this will break some tests using `reflect.DeepEqual` on errors returned by `Rows.Scan`. This is fine, but is best to do early in cycle.

I don't expect any breakage from code using `errors.Is`, since as @sfllaw and others note this would never have worked in the first place. Even if such code exists, I do not believe this change is a violation of the compa

[2020-08-10 17:15] heschik commented on #40660
I personally wish `-local` had never been added. (@bradfitz may have his own opinion.) I don't particularly want to encourage its adoption. We're definitely not going to create a `goimports` config file without a much more compelling reason.

A setting that automatically sets `-local` from the module prefix is still a problem for anyone that works on some projects that use `-local` and some that d

[2020-08-10 17:20] ALTree commented on #40669
Empty issue, closing.

[2020-08-10 17:20] #40669 closed

[2020-08-10 17:21] cherrymui commented on #40641
Yeah, that CL's description says that it will break the rule when stack shrink can happen synchronously (as it is now).

[2020-08-10 17:25] cherrymui commented on #40641
Re stack space, for blocked goroutines, we cannot release the used part of the stack regardless. The question is how much stack space we can actually shrink.

[2020-08-10 17:28] zephyrtronium commented on #40663
I am a mathematician. I've used pi a lot, and tau almost none. Trigonometry isn't the only place where pi arises. Convention and inertia matter as well; schools teach pi largely for historical reasons, but as long as they do, writing 2π, or `2*math.Pi`, is clear to a much wider audience than τ. I also don't appreciate personal attacks.

This is a false analogy. `const Tau = 2 * math.Pi` is signifi

[2020-08-10 17:42] cherrymui commented on #40641
I think it is only unsafe for stack shrinking between setting the G to Gwaiting and the G actually parks, due to the race of `gp.activeStackChans`? Could we block stack shrinking only for that small window? Then in most cases blocked goroutine can still have its stack shrunk.

[2020-08-10 17:52] deanveloper commented on #40663
Adding a const to the math package actually won’t break any code. However, the more things that get added, it starts to become hard to search packages, learn the language, etc. It may seem like a relatively small thing to add, but at the same time, I would personally hate for Go to have a constant for every greek letter, haha.

[2020-08-10 18:07] kevinburkemeter opened #40670 "x/tools/internal: panic, "GOROOT not set in evaluated environment""
I put the following in a file named `filename.go` (filename doesn't matter):

[code]

I then run `GOROOT=/Users/kevin/go goimports .` I expect that the `"archive/zip"` import will be added to the import section. Instead I get a panic:

[code]

Note I have explicitly set GOROOT in the environment. Adding a print statement to the relevant line in `fix.go`, it looks like `e.Env` is nil at the point w

[2020-08-10 18:09] kevinburkemeter commented on #40670
I'm using Go `tip` as well but I can also reproduce if I rebuild goimports using Go 1.14 latest.

[2020-08-10 18:11] ianlancetaylor commented on #40641
That idea makes sense to me.  Block stack shrinking before calling `gopark`, and permit stack shrinking in `chanparkcommit`.

[2020-08-10 18:12] ianlancetaylor commented on #40641
By the way, I look forward to the test case.

[2020-08-10 18:17] ianlancetaylor commented on #40663
Are there are any other languages that provide `Tau` in their standard library?

For example, in C, in `<math.h>` on GNU/Linux, I see `M_PI`, but I don't see `M_TAU`.

[2020-08-10 18:28] mknyszek commented on #40641
Thanks @cherrymui, that sounds right to me.

Yeah, that's going to be fun...

[2020-08-10 18:33] ianlancetaylor commented on #40633
What kernel version are you using?

You are not showing us the complete error output.  The program is printing something before `goroutine 8 [syscall]:`.  Show us that.  Thanks.

[2020-08-10 18:43] stamblerre commented on #40670
/cc @heschik

[2020-08-10 18:47] heschik commented on #40670
Please run `goimports -v` and attach the logs. Something is probably wrong with your go installation.

[2020-08-10 18:53] #40631 closed

[2020-08-10 19:03] kevinburkemeter commented on #40670
[code]

[2020-08-10 19:14] ianlancetaylor commented on #39857
@richfelker I'm assuming that a program that calls `sigaltstack` does so for some good reason.  I'm not sure why a program that calls `sigaltstack` would want to receive signals on the normal stack.

[2020-08-10 19:21] Goutte commented on #40663
From https://tauday.com/state-of-the-tau :

[2020-08-10 19:21] bantl23 opened #40671 "cmd/go: limit simultaneous connections when downloading modules"
### What version of Go are you using (`go version`)?

<pre>
$ go version

go version go1.14.4 linux/amd64
</pre>

### Does this issue reproduce with the latest release?

New feature

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/vagrant/.

[2020-08-10 19:28] roipoussiere commented on #40663
I don't understand all theses thumbs down. I respect your choice of preferring Pi over Tau, but why be *against* adding Tau? You will probably don't even notice the difference if it's added, and as @deanveloper pointed out, it won't break any code (and of course wont affect performance).

There are thousands of issues here, I bet that for 9/10 of them, I just don't care. I'm not going to add a thu

[2020-08-10 19:37] kotyara85 commented on #40524
Im getting a different error. I can git clone with private key injected into the container

[2020-08-10 19:58] heschik commented on #40670
Huh, I really expected that to be more useful. Okay.

Don't bother setting GOROOT, that's only confusing the situation. Please run `go env -json GO111MODULE GOFLAGS GOINSECURE GOMOD GOMODCACHE GONOPROXY GONOSUMDB GOPATH GOPROXY GOROOT GOSUMDB` and show the results.

[2020-08-10 20:07] kevinburkemeter commented on #40670
[code]

[2020-08-10 20:07] kevinburkemeter commented on #40670
Did you try to reproduce it using the example above? Can you reproduce it?

[2020-08-10 20:09] slon opened #40672 "go get gets confused by multiple module proxies"
### What version of Go are you using (`go version`)?

<pre>
$ go version
prime@bee /t/b/bugmod> go version
go version go1.14.6 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
G

[2020-08-10 20:13] carnott-snap opened #40673 "proposal: errors: allow implementing err.Is(nil) == true"
#### background
Currently you can implement, `func (MyError) Is(target) bool { return true }`, but `MyError.Is` will only be called if `target`, in `errors.Is`, is non-`nil`. This can be  confusing to implementers of `interface{ Is(error) bool }`, and disallows signalling that a given returned error is `nil`. (This is useful when you want to return error metadata, but nothing actually failed.)
###

[2020-08-10 20:14] carnott-snap opened #40674 "proposal: errors: Is resolve nil error problem"
#### background
A long standing problem with error handling, but really checking `nil`ness of interface variables, is [typed nils](https://golang.org/doc/faq#nil_error):
[code]
#### description
Since we already introduced a function than handles error comparisons, `errors.Is`, we could resolve this edge case by checking both `err == nil` and underlying value `nil`ness:
[code]
#### costs
This will

[2020-08-10 20:19] mknyszek commented on #40641
OK I think I have a fix (trybots look good so far, 🤞), but still no test. The goal of the test so far is to create a situation where a goroutine whose stack is ripe for shrinking keeps going to sleep and waking up on channels. Meanwhile, a GC is triggered to try and get a mark worker to race with that goroutine going to sleep. I wrote a test which I've confirmed races stack shrinks with channel se

[2020-08-10 20:20] #40554 closed

[2020-08-10 20:21] katiehockman commented on #40668
#40554, which was marked as a release blocker, has been fixed. This was an update to the release docs for 1.15.

[2020-08-10 20:35] kevinburkemeter commented on #26904
Just a heads up that one of the linked answers is the top result on Google when you search for "used for two different module paths" so it might be good to provide some easy guidance here on how to solve that problem. As it stands you have to read a lot to get your head around how this solves the issue.

[2020-08-10 20:48] carnott-snap opened #40675 "proposal: errors: allow implementing err.Is(err) == false"
#### background
Currently you can implement, `func (MyError) Is(target) bool { return true }`, but `MyError.Is` will only be called if `target != nil`, see #40673, and `!reflectlite.TypeOf(target).Comparable() || err != target`. This can be  confusing to implementers of `interface{ Is(error) bool }`, because it disallows impure implementations and explicitly signalling that errors are not equal.
[

[2020-08-10 20:52] stamblerre commented on #40340
This is likely related to the flake seen here: https://storage.googleapis.com/go-build-log/ba9e1088/linux-386_f12e4b30.log.

[2020-08-10 21:02] mvdan commented on #40668
In case the ping on Gerrit goes unnoticed - https://go-review.googlesource.com/c/go/+/247718 should be merged before the final release, since the current release notes include a json change that was reverted weeks ago.

[2020-08-10 21:20] networkimprov commented on #40524
Did you review all comments in that issue and the linked issues?

In any case, you should give details on how to reproduce your problem in #25982, and post a pointer to that in #27344. Someone in one of those threads might be able to help.

Then please close this issue.

[2020-08-10 21:22] richfelker commented on #39857
Nobody said anything about wanting to receive signals on the normal stack. From the relevant perspective these aren't signals. They are asynchronous use of the alt signal stack by the implementation in a way the application isn't and can't be aware of.

[2020-08-10 21:27] dmitshur commented on #40668
@mvdan I'll note that a more reliable way to ensure a CL is merged before the final release is add a "Fixes #nnn." line pointing to a new issue in Go 1.15 milestone with the release-blocker label. Release tooling is set up to catch those issues before proceeding (unlike notifications, which may be missed).

[2020-08-10 21:30] mvdan commented on #40668
Ack. It just seemed a bit late to add a blocker issue for 1.15.

[2020-08-10 21:35] dmitshur commented on #40668
It should be okay because it's a safe documentation-only change and you had a CL ready. We'd want to include it in the release. (If we don't think it should block the release, we can update the issue accordingly.)

[2020-08-10 21:38] bcmills opened #40676 "cmd/go: allow 'go list' to accept '-u' without '-m'"
`go list` with the `-f` flag can print a lot of information about the module associated with a package.

Unfortunately, we don't populate the `Module.Update` field unless the `-u` flag is set, and the `-u` flag can only be set today if the `-m` flag is also set:

[code]

We should investigate whether it is feasible to allow the `-u` flag without `-m`. That would probably require a hook to instruct

[2020-08-10 21:46] jayconrod commented on #40276
Based on discussion in https://groups.google.com/g/golang-tools/c/BRCgqwWLwoY/m/pKuttL9cAwAJ and on Slack, I'd like to take this in a different direction, so I've updated [CL 243077](https://golang.org/cl/243077) and the copy above.

Instead of adding `go get -b`, `go install` would have the proposed functionality when invoked with arguments with a version suffix. For example the command below wou

[2020-08-10 21:46] yiyus commented on #40663
There are people who don't know tau, but know pi. Even if you would find a bit more convenient using math.Tau instead of 2*math.Pi, I'd prefer that all Go code used pi so that every developer can instantly get it.

As someone who daily works with angles and orientations, I also have quite strong opinions on why tau is not such a good idea, but I do not think the Go issue tracker is the place to ha

[2020-08-10 21:51] prattmic opened #40677 "runtime: lock held checking"
As an extension of @danscales' work on lock ordering, we can extend the runtime to check that functions hold their prerequisite locks when staticlockranking is enabled.

[2020-08-10 21:51] jayconrod commented on #40676
Huh, I thought this worked already. Guess not.

[CL 228382](https://go-review.googlesource.com/c/go/+/228382) adds the `go list -retracted` flag, and it gets us part of the way there. When `-retracted` is given without `-m`, it loads retractions for each module providing packages named on the command line. That code could be extended to work with either `-retracted` or `-u`.

[2020-08-10 21:53] dmitshur commented on #12042
The [CONTRIBUTORS](https://tip.golang.org/CONTRIBUTORS) file was updated for the Go 1.15 release in [CL 247767](https://golang.org/cl/247767).

Moving this recurring issue to the next major release.

[2020-08-10 21:58] heschik commented on #40670
Apologies, I didn't give much credit to the idea that goimports had been broken for over a month or however long it's been. Fix above.

[2020-08-10 22:48] andybons commented on #38099
sgtm. marking as early-in-cycle

[2020-08-10 22:52] kevinburkemeter commented on #40670
Well, I could only trigger it if the package name matched the stdlib package I was trying to import, if I named the package something else there wouldn't be a panic.

[2020-08-10 22:54] ianlancetaylor commented on #40663
In areas where Go has not explicitly decided to develop new ideas, we prefer to follow the lead of other projects.  I don't think this is leveling down; it's just being deliberate in making changes.

[2020-08-10 22:56] ianlancetaylor commented on #40673
CC @neild @jba

[2020-08-10 22:58] andybons commented on #40099
Bumping this up as other failures may be hidden by this if they’re not fixed.

We should investigate further using gomote and if no underlying cause can be found soon, we should at least disable the test with a bug to track re-enabling it.

[2020-08-10 22:59] PeterNovotney opened #40679 "crypto/x509: AKID and issuer SKID are not checked to match"
### What version of Go are you using (`go version`)?

go1.14.6

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

It reproduces on the playground.

### What did you do?

https://play.golang.org/p/SBdIYeRXuOB verification succeeds for this certificate chain where the AIK keyid on the leaf certificate does not

[2020-08-10 23:00] ianlancetaylor commented on #40674
CC @neild @jba

Confusion about whether storing a `nil` pointer value into an interface variable gives you a non-`nil` interface arises most frequently with the `error` type, but it arises elsewhere as well.  It's not clear to me that a fix that only applies to `error` values is a great idea.

Also, given that the language is careful to say that a `nil` pointer in an interface variable is `!= nil`

[2020-08-10 23:01] ianlancetaylor commented on #40675
CC @neild @jba

[2020-08-10 23:05] ianlancetaylor commented on #39857
That is a valid perspective.

But it also a valid perspective for a program to say "I am in control of my stack, and do not use my stack for any unexpected purpose.  In particular, don't use it to catch signals."

In any case I'm not sure there is anything we can do here in the Go standard library.  If musl decides not to change, then as far as I can see code like this can't work on musl.  So perh

[2020-08-10 23:05] neild commented on #40673
How is this different from #40442?

I don't think we should make any changes to the semantics of `Is(err, nil)`. The property that `Is(err, nil) == (err == nil)` is an important one.

[2020-08-10 23:09] stamblerre commented on #40635
Yes, please - let's do that.

[2020-08-10 23:11] neild commented on #40675
It was a deliberate choice to not permit `Is` to declare that errors are not equal. It would be confusing if `err1 == err2`, but `errors.Is(err1, err2) == false`.

I do not believe we should make any changes to support non-pure errors.

[2020-08-10 23:14] networkimprov commented on #40679
cc @FiloSottile @katiehockman

[2020-08-10 23:16] neild commented on #40674
I agree with @ianlancetaylor that changing this would only add to the confusion.

It is a very deliberate choice that `err == nil` is equivalent to `errors.Is(err, nil)`. I do not believe we should change that property.

[2020-08-10 23:17] dmitshur commented on #40663
From https://github.com/golang/go/issues/24759#issuecomment-379993741, I see that it's provided in the standard library of Python 3 (as of 3.6), see https://docs.python.org/3/library/math.html#math.tau.

See also relevant past discussion in (declined) proposal #24759.

[2020-08-10 23:56] ianlancetaylor commented on #27519
OK, done.

[2020-08-11 00:12] kardianos commented on #40511
@jinzhu I strongly suspect that this isn't going to fly. But as of yet I don't see a complete example. Perhaps you can flush it out a bit with how you would call this so I can fully understand what you are trying to do.

[2020-08-11 00:13] richfelker commented on #39857
@ianlancetaylor: I have been wanting to change this for a while (see the 2019 thread), but I'm making sure we actually consider the consequences of such a change and whether they break anything that someone can reasonably expect to work. (My leaning is that they don't, but I like to explore this kind of thing thoroughly since making hasty decisions has bitten us in the past.) The point of my bring

[2020-08-11 00:14] kardianos commented on #40082
@kyleconroy This looks reasonable. Can you send a CL?

On a side note, these nullable wrappers would probably be a great use for generics...

[2020-08-11 00:24] FiloSottile commented on #40679
The spec does not require a match, we can check what the other good verifiers do (Chrome and moz::pkix) and match that.

[2020-08-11 00:42] duchuanLX commented on #40633
3.10 kernel version
The above error message is kubernetes unit test。 i test on local golang demo，No error details, unable to wait until the event, you can test it locally on mips64le。

[2020-08-11 00:49] ianlancetaylor commented on #39857
Understood.

(I suppose musl could also change to act as glibc does.  Is there an advantage to only installing the signal handler when a relevant libc function is called?)

[2020-08-11 00:51] ianlancetaylor commented on #40633
@duchuanLX According to https://golang.org/wiki/MinimumRequirements, little-endian MIPS requires Linux kernel version newer than 4.1.  Linux kernel version 3.10 is not supported.  Sorry.

[2020-08-11 01:14] andreykaipov commented on #36768
I'm experiencing slow successive builds too. Tried both 1.14.2 and 1.15rc2.

I've made sure my GOCACHE is set and excluded it from Windows Defender, among other directories like the Go installation and project directory. I don't think hardware is an issue because building the project within my WSL distro is quick as expected. Hell - it's quicker iteration for me to cross-compile to Windows from th

[2020-08-11 01:15] richfelker commented on #39857
Yes, it avoids syscall spam (strace) and wasted time in processes (the vast, vast majority) that don't need the handler. And I don't see how the glibc behavior makes it any easier unless you're poking at implementation internals which are not a stable interface. The signal numbers used for these internal signals are not a public interface, and they're not even pokable via public interfaces (as far

[2020-08-11 01:18] 447806664 opened #40680 "pipe.go"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env

</pre></details>

### What did you do?

### What did you expect to see?

### What did you see instead?

[2020-08-11 01:21] davecheney commented on #40680
empty issue

[2020-08-11 01:21] #40680 closed

[2020-08-11 01:22] davecheney commented on #36768
Could the difference in build time be explained by the file system bridge that WSL uses?

[2020-08-11 01:24] 447806664 commented on #40680
I am sorry @davecheney closed my question.

[2020-08-11 01:38] tamayika opened #40681 "x/tools/gopls: unnamed generics parameter formatted to be unparened and named in go2go"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +ead7e9b351 Sat Aug 1 05:14:38 2020 +0000 linux/amd64
$ gopls version
golang.org/x/tools/gopls master
    golang.org/x/tools/gopls@v0.0.0-20200616205136-76e917206452 h1:0SxHeccMdwJg02GN5PuFGSus9SSmA6FFOpuyRTnjrac=
</pre>

### Does this issue reproduce with the latest release?

No(go2go development)

### What

[2020-08-11 01:45] stamblerre commented on #40681
Thank you for raising this issue. However it's unlikely that it will be resolved in the near future. `gofmt` has not been updated to work with the generics prototype, and it's unlikely it will be until after (and if) that proposal is accepted.

[2020-08-11 01:52] JosephTLyons commented on #40663
Rust.  https://doc.rust-lang.org/beta/std/f64/consts/constant.TAU.html

It was stabilized a few weeks back and will be released in Rust 1.47 I believe.

[2020-08-11 01:58] stamblerre commented on #40567
@ilkeraksu: You should now be able to update to `gopls` at master (`GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`) and add the following to your settings:

[code]

[2020-08-11 01:59] stamblerre commented on #40451
@findleyr: Can this be closed now?

[2020-08-11 01:59] findleyr commented on #40451
Yup!

[2020-08-11 01:59] #40451 closed

[2020-08-11 02:41] carnott-snap commented on #40673
#40442 was filed as a bug, and I went into it with the impression that something was wrong. This is a proposal to change the current behaviour.

This property is undocumented, and (to my knowledge) was not mentioned as (an essential) part of the Go2 error handling discussion. If this is important, we should document it. That being said, can you describe why you feel this is an important property?

[2020-08-11 03:13] neild commented on #40673
There is a great deal of existing Go code which uses `if err != nil {}` to test for error conditions. We do not want to invalidate that code. If we introduce errors which are non-`nil` under equality, but match `errors.Is(err, nil)`, then we break the existing convention of a `nil` error indicating success.

[2020-08-11 03:18] carnott-snap commented on #40673
This change would not invalidate that code, similar to how one is not required to move to `errors.Is`. We would simply add a new mechanism that is preferred over `err != nil`, and could be used by new apis.

[2020-08-11 03:21] muirdm commented on #39715
Dupe of #34008?

[2020-08-11 03:40] carnott-snap commented on #40674
Agreed, though I like the idea of trying to clean up this thorn for new users, as we see it internally every now and then. Plus it tends to be weirdly hard to debug and hunt down in my experience.

After some additional thought, an intuitive way to implement this would be to map `target == nil` to the default value for any type: e.g. `errors.Is(MyError{}, nil) == true`. That being said, I do recog

[2020-08-11 03:49] carnott-snap commented on #40675
None of this nuance has been well conveyed to users. Bare minimum we need to update the documentation, and should add the vet check too, if this is a canonical opinion.

That being said, the `interface{ Is(error) bool }` syntax continues this confusion by implying that it is possible to return true and override the equality check, but instead it behaves unintuitive. (Though it is not _undefined be

[2020-08-11 03:56] stamblerre commented on #39715
Yes I think so, thanks. Closing.

[2020-08-11 03:56] #39715 closed

[2020-08-11 04:23] andreykaipov commented on #36768
Are you saying that since I'm accessing `go.exe` from the WSL side, that might be the cause for the slowness? I've also tried downloading Go for Windows onto the WSL distro and accessing it from there directly, and experience similar behavior, so I'm not sure if that's part of it.

One interesting thing I've noticed is when building with `-x`, there's a significant delay between when the `WORK` di

[2020-08-11 04:28] ianlancetaylor commented on #40673
It sounds like you are suggesting that there should be cases where `errors.Is(err, nil)` returns `true` even if `err != nil`.  That sounds extremely confusing.

[2020-08-11 04:29] chabbimilind commented on #36821
@aalexand ,

The proposal already has a real-world application profiling experience in Section 5.3

That is only partially true. A CGO code needs to set up its PMU but the rest of the workflow will take care of collecting profiles. On a related note, isn't this already a problem when CGO code sets up its own timer/PMU counter and overrides SIGPROF from the go runtime?

I don't see any problem here

[2020-08-11 04:37] davecheney commented on #36768
That's my suggestion. I don't have a WSL host to verify, sorry.

[2020-08-11 04:37] carnott-snap commented on #40673
That is what I am suggesting, but to me this is very intuitive, since `errors.Is` is not just an equality check. Stated differently, why is "`errors.Is(err1, err2)` returns `true` even if `err1 != err2`" intuitive, but only if `err2` is not `nil`?

[2020-08-11 05:08] mdempsky commented on #37644
#37298 has been closed with the decision that checkptr will not warn about misaligned pointers-to-non-pointer types. So I think x/crypto/sha3 can remove `//go:nocheckptr` and this issue closed?

[2020-08-11 05:34] griesemer opened #40684 "cmd/go2go: missing error for use of uninstantiated type argument"
[code]
passes type-checking without error. But it should not be possible to instantiate `f[A]` with an uninstantiated `A`.

Follow-up on #40038.

[2020-08-11 06:00] mdempsky commented on #38893
Getting back to @ianlancetaylor's original question:

I don't see a need to. `reflect.Type.String` already warns that `String` has collisions from package names, and so `reflect.Type` values should be compared directly to test type identity.

I think we can wait until we have a report of a real-world use case where this would be useful.

[2020-08-11 06:08] stamblerre opened #40685 "x/tools/gopls: missing metadata for import"
I've noticed a few times that after adding and removing `log.Printf`s that I get an error saying that there is no metadata for the log package. This seems like something is going wrong with our metadata invalidation logic in (*snapshot).clone.

[2020-08-11 06:40] alexbrainman commented on #36768
Maybe @bcmills can help debug that.

Alex

[2020-08-11 07:00] davecheney commented on #36768
@andreykaipov as an experiment, can you move gowindows off the wsl filesystem?

[2020-08-11 07:15] kotyara85 opened #40686 "CGO_ENABLED=0 dial tcp: lookup example.com on 75.75.75.75:53: no such host"
This error happens when the binary compiled with CGO_ENABLED=0 for darwin platform.
Possibly the same issue with linux & windows.

### What version of Go are you using (`go version`)?
<pre>
go version go1.13.10 darwin/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go e

[2020-08-11 07:23] jinzhu commented on #40511
Hello @kardianos

Thank you for your reply, we have many applications have similar requirements.

The application need to save multiple fields of some structs as encrypted data into the database, for each organization, it has an encryption key, we will store the encryption key into context for coming API requests.

There are many services using the data have to encrypt/decrypt those fields one by

[2020-08-11 07:35] duchuanLX commented on #40633
Thank you very much, why did the 3.10 kernel pass the test in the sys2020 version?

[2020-08-11 07:41] davecheney commented on #40686
The DNS server at 75.75.75.75:53 told your program that it did not have a record for example.com.

Why do you think this is a problem with Go?

[2020-08-11 07:44] cheng762 opened #40687 "x/crypto/scrypt: memory not released after hash is calculated"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.1 linux/amd64
</pre>

### What did you do?

when I concurrent call   scrypt.Key   ,the memory not released after FreeOSMemory,here is the code
[code]

[2020-08-11 07:59] davecheney commented on #40687
@cheng762 under linux we can only ask the operating system to take back memory from the processes address space, we cannot _tell_ the operating system to do this. The operating system can, and often does, ignore this request unless it is under memory pressure from other processes.

You can verify that the scavenger ran by exporting this environment variable `GODEBUG=gctrace=1` and running your pro

[2020-08-11 08:19] KlavsKlavsen opened #40688 "go get -insecure no longer works properly"
When running go get (using a proxy - http_proxy and https_proxy set), go get fails:
 Step 8/14 : RUN go get -v -t -insecure  .
 ---> Running in c5cda739048f
go: github.com/gkarthiks/k8s-discovery@v0.18.3: Get "https://proxy.golang.org/github.com/gkarthiks/k8s-discovery/@v/v0.18.3.mod": x509: certificate signed by unknown authority

Using golang:1.14-alpine image to build.

This seems that it shoul

[2020-08-11 08:38] seankhliao commented on #40688
please fill out the issue template next time

use [GOINSECURE](https://golang.org/doc/go1.14#go-env-vars)

[2020-08-11 09:21] JensErat commented on #40201
We can confirm this resolves our Prometheus and Kubernetes issues (and thus likely the issues of lots of others, some might not even be aware of this).

@brian-brazil from Prometheus already proposed [the health check should be default anyway](https://github.com/prometheus/prometheus/issues/7588#issuecomment-659376169):

And I pretty much agree with him. This is something most applications will me

[2020-08-11 10:18] mundaym opened #40689 "cmd/compile: inline marker targets not reachable after assembly on ppc64x"
It looks like issue #40473 also affects ppc64x based on this trybot run for [CL 247697](https://golang.org/cl/247697): https://storage.googleapis.com/go-build-log/8548211f/linux-ppc64le-buildlet_059f3c62.log. It should be relatively easy to fix with a code change similar to that done for s390x in [CL 247697](https://golang.org/cl/247697).

[2020-08-11 10:19] mundaym commented on #40689
/cc @randall77 @laboger

[2020-08-11 11:03] leguminosa opened #40690 "x/tools/gopls: remove workspace packages that no longer exist"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes (v0.16.1)

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GO111MODULE="auto"
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/nakama/.

[2020-08-11 11:07] #40688 closed

[2020-08-11 11:54] YohanArnoux opened #40691 "x/crypto/ssh: unsupported DSA key size 2048"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.8 linux/amd64
</pre>

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/yohan/.cache/go-build"
GOENV="/home/yohan/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd6

[2020-08-11 12:13] seankhliao commented on #40691
is the server you are connecting to using the DSA key?

note #40337 proposes removing support for DSA in ssh entirely

[2020-08-11 13:05] elichai commented on #14768
Go 1.14 is long gone, any chance this is getting fixed? I'm manually inlining functions because of this :/

[2020-08-11 13:07] laboger commented on #40689
@mundaym I don't think the test in your CL is correct for ppc64x. If you look in cmd/compile/internal/ppc64/ggen.go function ginsop it is not generating a NOP but OR R0,R0,R0 for the inline marker. So this instruction won't get removed by PPC64 assembler and we shouldn't have the same problem as on S390x.

[2020-08-11 13:17] ilkeraksu commented on #40567
@stamblerre  Thank you for quick fix.

this setting prevented execessive usage ( otherwise computer went crazy )

Maybe another issue,
But some behaviour changed badly from 0.4.3 to 0.4.4. Intellisense working intermittently , works for 3-4 seconds then stops for a while up to 1-2 minutes then work for 3-4 secods again

I would like to elaborate our usage for understanding,

* MonoRepo
* Single mo

[2020-08-11 13:26] cristaloleg commented on #14768
@elichai `goto` still works, still not the best solution but may prevent bugs with a manual inline.

[2020-08-11 13:38] povsister commented on #39750
Ping @fraenkel
[It's proved](https://github.com/kubernetes/kubernetes/issues/87615#issuecomment-671814091) that h2 transport healthCheck works on such issues.

Any updates or plan to enable it by default ?

[2020-08-11 13:55] pjweinb commented on #36784
it's more than a documentation problem. if -o is a directory and one is building a non-main package, go build reports an error

go build  -o /tmp /Users/pjw/tools/internal/lsp
go build: no main packages to build

go build  -o /tmp/foo /Users/pjw/tools/internal/lsp
no error

[2020-08-11 14:13] YohanArnoux commented on #40691
No i'm using a ssh2-rsa key,
I will try to remove dsa support and if it don't work i will send back a message, thank you!

[2020-08-11 14:15] mundaym commented on #40689
It's a tricky one to explain. I think of it as a 'use-after-free' bug:

1. The compiler produces a `Prog` value representing an instruction and saves a pointer to it for use later as an inlining mark.
2. The assembler rewrites the `Prog` into a GOT lookup and replaces the original `Prog` with a `NOP`.
3. The assembler removes that `NOP` `Prog` from the `Text` linked list. It does not assign the `P

[2020-08-11 14:29] YohanArnoux commented on #40691
I tried to remove the dsa file in my crypto folder and it don't work i will wait a response on note #40337 thank you!

[2020-08-11 14:38] mundaym commented on #40473
@gopherbot please open backport issues.

This is a bug that causes programs to intermittently crash with no workaround.

[2020-08-11 14:38] gopherbot opened #40693 "plugin: program on linux/s390x sometimes hangs after calling "plugin.Open" [1.15 backport]"
@mundaym requested issue #40473 to be considered for backport to the next 1.15 minor release.

[2020-08-11 14:38] gopherbot opened #40694 "plugin: program on linux/s390x sometimes hangs after calling "plugin.Open" [1.14 backport]"
@mundaym requested issue #40473 to be considered for backport to the next 1.14 minor release.

[2020-08-11 14:39] mundaym commented on #40473
@gopherbot please open backport issue for Go 1.15.

This is a bug that causes programs to intermittently crash with no workaround.

[2020-08-11 15:16] chrisnesbit1 commented on #40690
+1 I get this error also. Seems to happen everytime I type something in a go file. Every character. Even if I don't save the file. I have the `go.buildOnSave` setting set to `off` for `User`, `Remote`, `Workspace` and the folder which I have open in the workspace. But that setting seems to have no effect.

[2020-08-11 15:22] stamblerre commented on #40567
Thanks for the clarification - that makes sense. This new configuration should work for your use case.

I'm not sure what would've changed to cause features to stop working. Can you please attach your `gopls` logs from when you see this happening? Instructions on how to capture them can be found [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

[2020-08-11 16:09] cherrymui opened #40697 "runtime: nanotime1 is not reentrant"
### What version of Go are you using (`go version`)?

tip (up to ba9e10889976025ee1d027db6b1cad383ec56de8)

### Does this issue reproduce with the latest release?

Not sure.

### What operating system and processor architecture are you using (`go env`)?

linux/amd64

### What did you do?

In the runtime, on platforms that uses VDSO, `nanotime1` (and `walltime1`) is not reentrant. At entry it saves

[2020-08-11 16:10] cherrymui commented on #40697
Closing as it is fixed at tip now.

[2020-08-11 16:10] #40697 closed

[2020-08-11 16:25] kardianos commented on #40511
@jinzhu Thank you for the description. Can you write some code as you would envision using this? As before, I doubt this proposal will be acceptable, so set expectations accordingly.

[2020-08-11 16:51] dgryski commented on #40546
Given that this breaks go-fuzz, does that increase the priority for 1.15 ?

[2020-08-11 16:56] griesemer commented on #40546
Just seeing this (I was on vacation last week). It's too later for 1.15.

[2020-08-11 17:05] heschik commented on #40651
The situation looks good to me at `master`. You can try for yourself with the instructions on https://github.com/golang/tools/blob/master/gopls/doc/user.md#unstable-versions, or wait for the next release.

[2020-08-11 17:08] rakyll commented on #40577
This UI change is really making it hard to navigate the package docs. Package index is an entry point for many users. The index serves as a summary of what's in the package. Users often CTRL+F to search for symbols and go through the entire list to have an understanding of what package provides. Having to manually expand the list is breaking how we use the package index fundamentally.

[2020-08-11 17:20] jayconrod commented on #40570
Usually, this would be solved with [build constraints](https://pkg.go.dev/go/build?tab=doc#hdr-Build_Constraints). You could add a line to test2.go like this:

[code]

Then build the package with:

[code]

Does that work for you?

[2020-08-11 17:34] dmitshur commented on #39947
As another data point, this has regressed and required another restart (22 days since last time).

[2020-08-11 17:35] jtsylve opened #40698 "Feature Request: macho: add option to create multi-architecture fat binaries"
Given the Apple silicon announcement, it will soon be common for developers to have to support both arm64le and x86_64 variants of macOS.  Rather than shipping multiple binaries, it would be nice to be able to ship macho fat binaries that contain both implementations without having to manually use tools like lipo.  Could multi-architecture support be added to the compiler?

[2020-08-11 17:41] ianlancetaylor commented on #40698
My first guess would be that this would involve the go tool invoking the compiler once for each architecture, and then invoking some tool to package the resulting executables into a fat binary.

CC @bcmills @jayconrod

[2020-08-11 17:48] ianlancetaylor commented on #40633
Probably because the x/sys tests are not very good.

[2020-08-11 17:56] andybons commented on #40668
## PROBLEMS WITH RELEASE

  - open issue #37419 is tagged release-blocker
  - **Found errors during release. Stopping!**

## Log

    2020/08/11 13:56:44 starting
    2020/08/11 13:56:44 working in /Users/andybons/go-releasebot-work/go1.15
    2020/08/11 13:56:44 $ git fetch origin master
    2020/08/11 13:56:45 $ git fetch origin release-branch.go1.15
    2020/08/11 13:56:47 $ git clone --referen

[2020-08-11 18:38] andybons commented on #40668
## Log

    2020/08/11 14:06:18 starting
    2020/08/11 14:06:18 working in /Users/andybons/go-releasebot-work/go1.15
    2020/08/11 14:06:18 $ git fetch origin master
    2020/08/11 14:06:18 $ git fetch origin release-branch.go1.15
    2020/08/11 14:06:19 $ git clone --reference /Users/andybons/go-releasebot-work/go1.15/gitmirror -b release-branch.go1.15 https://go.googlesource.com/go /Users/andy

[2020-08-11 18:48] KCoen commented on #40604
The root certificate used for this test "AddTrust External CA Root" Expired on 2020-05-30, the test tries to override the time, but this is ignored for root certificates on windows.

I presume this test would succeed on windows if the root certificate was valid.

[2020-08-11 18:53] kotyara85 commented on #40686
I changed a real hostname for security reasons.
If I compile with CGO_ENABLED=1 it works just fine, so yes it’s a go issue.

[2020-08-11 18:56] zombiezen commented on #40577
On the search side, perhaps the sidebar could grow a search bar to make the "F" hotkey functionality more discoverable?

+1 for some kind of expand/collapse all button even with that.

[2020-08-11 18:56] griesemer commented on #40038
Fixed by https://golang.org/cl/247498.

[2020-08-11 18:56] #40038 closed

[2020-08-11 18:58] griesemer commented on #40551
Fixed by https://golang.org/cl/247258.

[2020-08-11 18:58] #40551 closed

[2020-08-11 19:03] rsc commented on #40698
I don't see this happening in the go command in the short term. It would be a major change to juggle multiple architectures during a single command invocation. We've got a lot of modules work left to do for Go 1.16.

[2020-08-11 19:09] ianlancetaylor commented on #40673
@carnott-snap Today we have a world in which a function either returns an error (`err != nil`) or does not return an error (`err == nil`).  You seem to be envisioning a world in which a function either returns an error (`!errors.Is(err, nil)`) or does not return an error (`errors.Is(err, nil)`).  If we had started with the second world, that would be a reasonable approach to consider.  But today w

[2020-08-11 19:16] ianlancetaylor commented on #40349
Closing as a dup of ideas expressed in #377.

[2020-08-11 19:16] #40349 closed

[2020-08-11 19:17] ianlancetaylor commented on #40353
Per discussion above, this is a **likely decline**.  Leaving open for four weeks for final comments.

[2020-08-11 19:20] carnott-snap commented on #40673
You seem to be suggesting that we cannot migrate to away from equality checks. This is inaccurate for *new* apis. If I document that my api requires go1.13+ and returned `error`s must be checked with `errors.Is`, we do not need to worry about what `==` or `!=` do. This to me feels like what we have done with `errors.Is(err, ErrBad)`, assuming one implementing `interface { Is(error) bool }`, `err =

[2020-08-11 19:20] ianlancetaylor commented on #40387
Per discussion above, this is a **likely decline**.  Leaving open for four weeks for final comments.

[2020-08-11 19:20] rsc commented on #40686
I can't reproduce this problem using this program:

[code]

It succeeds with and without CGO_ENABLED=0. Do other host names resolve? Is the problem specific to 75.75.75.75?

[2020-08-11 19:21] ianlancetaylor commented on #40462
Per discussion above, this is a **likely decline**.  Leaving open for four weeks for final comments

[2020-08-11 19:37] ianlancetaylor commented on #40673
That isn't the case.  There is tons of Go code that correctly says `err != nil`.  The great majority of code doesn't care what specific kind of error it has; it only cares whether it has an error or not.  Today, the way to test that is `err != nil`.  Even if we were able to adopt your suggestion, people would not change to `errors.Is(err, ErrXxx)`; they would change to `!errors.Is(err, nil)`.

I a

[2020-08-11 19:48] andybons commented on #40668
## Latest build: go1\.15

- src ([tar\.gz](https://golang-release-staging.storage.googleapis.com/go1.15/go1.15.src.tar.gz))
- linux\-386 ([tar\.gz](https://golang-release-staging.storage.googleapis.com/go1.15/go1.15.linux-386.tar.gz))
- linux\-armv6l ([tar\.gz](https://golang-release-staging.storage.googleapis.com/go1.15/go1.15.linux-armv6l.tar.gz))
- linux\-amd64 ([tar\.gz](https://golang-release

[2020-08-11 19:59] mdempsky commented on #39136
Minimal reproducer:

[code]

`CC=gcc go tool cgo p.go` emits this in `_cgo_gotypes.go`:

[code]

but `CC=clang go tool cgo p.go` emits this:

[code]

There are two related issues here:

1. cgo is emitting (untyped) constant declarations here for clang, whereas it's emitting variable references for gcc.
2. The constant handling code doesn't check for `QualType`, as @elagergren-spideroak points out.

[2020-08-11 20:08] rsc opened #40699 "gerrit: add new Trust+2 label requirement for code reviews"
As Go grows, we're reviewing code review practices and what is possible for a single rogue approver (or hacked approver's machine) to do unilaterally.

The general rule we've tried to follow in Go is the same one used inside Google: two people are required to make a change to the code base. For Go, that's the author and the separate code reviewer who approves (Code-Review +2's) the change. As part

[2020-08-11 20:14] rsc commented on #40663
C provides not just Pi but Tau (`M_PI_2`) and Tau/2 (`M_PI_4`).
Go does not provide the last two because Pi has been provided in enough precision that you can write Pi/2 and Pi/4 directly instead of learning new names.

If you need to write a program in terms of Tau, then add `const Tau = Pi/2` to your program.
This need not be in the standard library.

[2020-08-11 20:20] rsc commented on #40653
The only places where usleep needs to sleep for the expected length are:

[code]

The first is in sysmon, where shortened sleep would result in background work happening faster than expected.

The second is in tickspersecond, which is used by profiles to turn CPU time into CPU cycles.

The third is when a process crashes: we sleep 5 seconds while the SIGQUIT signals are going around causing stack

[2020-08-11 20:25] carnott-snap commented on #40673
I agree that for extant interfaces, they would need to keep whatever compatibility promise they offer today, but this is like with the inclusion of `errors.Is(err, ErrXxx)`, if `err == ErrXxx` used to work, you cannot just drop it. One must document how your api works, even today.

A new paradigm may introduce a desire for adaptor packages, but there is no requirement. If we considered this a larg

[2020-08-11 20:27] rhysh commented on #35057
I have a real-world example of this type of work: the garbage collection done by the runtime. One of the apps I work with runs on a machine with a large number of hyperthreads, but typically does only a small amount of application-specific work. A CPU profile (from `runtime/pprof.StartCPUProfile`) that covers several GC runs shows about 4% of the process's CPU time is spent within `runtime.gcBgMar

[2020-08-11 20:33] neild commented on #40673
We aren't going to make almost all existing error handling code an anti-pattern. No benefit we can realize here will be worth that cost.

[2020-08-11 20:39] prashantv commented on #37351
As I mentioned in #40550, editing the address bar is much more painful to do a simple operation like go to a subpackage.

I think it's important to drop the `?tab=doc` but also keep the `pkg.go.dev/IMPORT` for similar typability.

[2020-08-11 20:41] rsc commented on #40691
What is the Go issue here? Is the client Go source code? Can you point us to the exact program you are running?
Assuming the OpenVMS server isn't lying, clearly something is finding a DSA key somewhere.

[2020-08-11 20:47] rsc commented on #40674
I can't see what the difference is between this issue and #40673.

40673 is: proposal: errors: allow implementing err.Is(nil) == true
40675 is: proposal: errors: allow implementing err.Is(err) == false

It's clear to me how those two are different. But isn't this one the same as 40673?

[2020-08-11 20:49] YohanArnoux commented on #40691
Here is the code I'm using:

package main
import (
	"bytes"
	"fmt"
	"io/ioutil"
	"os"
	"golang.org/x/crypto/ssh"
)
func main() {
	pk, _ := ioutil.ReadFile(os.Getenv("HOME") + "/.ssh/id_rsa_1024_vms")
	signer, err := ssh.ParsePrivateKey(pk)
	if err != nil {
		panic(err)
	}
	config := &ssh.ClientConfig{
		User: "ya",
		Auth: []ssh.AuthMethod{
			ssh.PublicKeys(signer),
		},
		HostKeyCallback: ssh.In

[2020-08-11 20:52] dmitshur opened #40700 "doc: write Go 1.16 release notes"
Tracking bug for writing the Go 1.16 Release Notes.

The latest state on tip can be viewed at https://tip.golang.org/doc/go1.16.

When the Go 1.16 Release Notes are complete, this should be closed, and a similar issue should be made for the next release. Previous issues are #37419, #36878, #17929, #15810, #5929, etc.

[2020-08-11 20:53] dmitshur commented on #37419
Release notes for each major Go release are quite distinct, let's keep using separate tracking issues for tracking all the incoming changes. Closing this issue as done for Go 1.15 (and moving back to Go1.15 milestone).

Made #40700 as the tracking issue for Go 1.16 release notes.

[2020-08-11 20:53] #37419 closed

[2020-08-11 20:59] YohanArnoux commented on #40691
The code stop at the "fail to dial" error with the famous unsupported Key size.

[2020-08-11 21:06] mdempsky commented on #40699
Do we need a separate `Trust` label? Can we just require two `Code-Review+2` votes and make `git codereview mail` automatically set that?

https://gerrit-review.googlesource.com/Documentation/prolog-change-facts.html mentions the `commit_label/2` fact, which seems like it can match on individual per-user votes. It seems like something like this should work:

[code]

(Caveat: I haven't used Prolog

[2020-08-11 21:06] seankhliao commented on #40691
as I mentioned before, the server you are connecting to is (only) offering a DSA key

Unable to negotiate with 109.3.221.206 port 1022: no matching host key type found. Their offer: ssh-dss

[2020-08-11 21:12] mdempsky commented on #40507
This is similar to #19487.

[2020-08-11 21:19] carnott-snap commented on #40674
No, they are different. This one intends to solve the [nil error](https://golang.org/doc/faq#nil_error) problem called out in the faq:
[code]
During the discussion, it was pointed out that only using the default value of nillable things (pointers, maps, slices, channels) was confusing, so the option to extend this to all default value types was added:
[code]

[2020-08-11 21:19] carnott-snap commented on #40673
But we already did that for `err == ErrXxx`, how is this any different?

[2020-08-11 21:31] mvdan commented on #5901
@dsnet ended up sending a CL for this just weeks after I had self-assigned it; see https://go-review.googlesource.com/c/go/+/212998. I'm not sure why the bot didn't pick it up.

This is good news, though, as it seems like a proof of concept is implemented and we could have it in 1.16. I'm noting this here so more eyes can help review it.

[2020-08-11 21:46] YohanArnoux commented on #40691
I don't understand something, if the server is only offering DSA key why can I connect to it with an ssh2 rsa key when I do ssh -i and not with go?

[2020-08-11 21:48] mdempsky opened #40701 "cmd/vet: warn about variables/values of type reflect.{Slice,String}Header"
Here are three ways I commonly see developers misuse `reflect.SliceHeader` / `reflect.StringHeader`:

[code]

All three of these can lead to memory corruption, as escape analysis analyzes these as "p does not escape" (rather than "p leaks to result"), but none of them are currently diagnosed by either cmd/vet or checkptr.

I propose cmd/vet should look for variables and expressions of type `reflec

[2020-08-11 21:59] vsekhar opened #40702 "time: UnixNano thinks year 1 comes after 1720"
UnixNano gives inconsistent results. Specifically, it believes the year 1 comes after the year 1720.

[code]

[code]

https://play.golang.org/p/XrtNdpfNFk1

[2020-08-11 22:03] dmitshur commented on #40319
As another data point, https://play.golang.org/p/Ztyu2FJaajl says "go1.15" now (which was [just released](https://groups.google.com/forum/#!topic/golang-announce/Z-cY6ZdGdEU)) but the About page still says "The current version is go1.14.7."

[2020-08-11 22:07] andybons commented on #40687
@davecheney is correct. Closing for now as there does not seem to be anything to do. Please feel free to comment if you feel otherwise.

[2020-08-11 22:09] andybons commented on #40668
release process go brrr

[2020-08-11 22:09] #40668 closed

[2020-08-11 22:10] andybons commented on #40672
@bcmills @jayconrod @matloob

[2020-08-11 22:11] andybons commented on #40702
@ianlancetaylor

[2020-08-11 22:12] #40687 closed

[2020-08-11 22:13] aclements opened #40703 "cmd/link: merge dev.link into master branch for Go 1.16 early"
This is a tracking issue for merging the dev.link branch into master for Go 1.16. A great deal of work has happened on dev.link to further improve the linker since Go 1.15, and we plan to merge this as soon as the 1.16 tree opens in order to avoid conflicts. At this point, we're wrapping up a few final changes and don't expect any more major changes to the linker in the near term.

While this is a

[2020-08-11 22:14] elichai opened #40704 "cmd/compile: loops prevent bounds checking elimination"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.14
</pre>

### Does this issue reproduce with the latest release?
Yes

### What did you do?
If I do some copies between arrays with a loop like:
[code]
it bounds check on each array on every iteration.

but if I unroll it, it can figure out that it will never go out of bounds and eliminate the checks:
[code]
godbolt: http

[2020-08-11 22:15] stamblerre commented on #40661
Just to keep track of these things -- I've filed https://github.com/microsoft/vscode/issues/104387 as a result of this issue.

[2020-08-11 22:21] ALTree commented on #40699
@mdempsky  IMO two different labels are better because they'll allow for example me to say

With only a single label `Codereview+2` you wouldn't be able to distinguish between a technical review and decision (answering: "Is this correct? Is this a good idea?") and a trust rubber-stamp ("This looks like it's not harmful").

[2020-08-11 22:29] dmitshur opened #40705 "internal/goversion: increment Version"
[`goversion.Version`](https://pkg.go.dev/internal/goversion#Version) needs to be incremented by one at the start of each development cycle, to match the upcoming major Go release version.

Once done, this issue should be moved to the next major release milestone.

/cc @cagedmantis @toothrot @andybons @heschik @bcmills

[2020-08-11 22:30] elichai commented on #17566
I'm having a bunch of problems with bad inlining when implementing hash functions.
I had to manually inline functions, move things from function to another to please the inliner and more, at the end I increased the perf by 200%(which is huge for hashes) just by manually inlining and similar things.

I also can't use the useful:
[code]
Because the fact that it doesn't inline range loops, then if I

[2020-08-11 22:34] frankbraun commented on #37533
Too bad I only see this now, I tripped over it when reading the [Go 1.15 release notes](https://blog.golang.org/go1.15).

To me it seems you just changed the command-line API of **all** Go programs using the flag package with the default set of command-line flags in subtle ways (given that `-h` and `-help` are undefined). For example, if you were using such a program in a shell script with **any**

[2020-08-11 22:41] ALTree commented on #40702
You can't call UnixNano on a date before the year 1678; this is clearly documented:

https://golang.org/pkg/time/#Time.UnixNano

So your `t1.UnixNano()` call is not valid.

[2020-08-11 22:41] #40702 closed

[2020-08-11 22:51] randall77 commented on #40704
We don't propagate known ranges through multiplies at the moment. Shouldn't be too hard to do in prove.go.

[2020-08-11 22:54] dmitshur commented on #38704
I've created a recurring release-blocking issue to make this internal part of the release process more visible and easier to track, see #40705.

[2020-08-11 22:56] kyleconroy commented on #40082
Yeah, can do. A bit swamped right now, but should have it done by the end of the week

[2020-08-11 22:57] kyleconroy commented on #40082
I know! Here's a four-line replacement for the various `sql.Null*` types in the standard library.

[code]

Here's what it looks like in practice: https://go2goplay.golang.org/p/Qj8MqYWWAc3

[2020-08-11 23:24] ianlancetaylor commented on #37533
@frankbraun Can you show an example where this new behavior will cause a problem?

The flag package never really defined the behavior of `-h` and `-help` (and it still doesn't).  Those options already did not act like other undefined options.  For an undefined option other than `-h` or `-help` the flag package will by default print "flag provided but not defined", but for `-h` and `-help` it print

[2020-08-11 23:34] benhoyt opened #40706 "strconv: incorrect bit size in ParseComplex code"
This is not a bug, but a mistake in the code that made me think "how does this work?", and could be a bug waiting to happen. In the [code for `strconv.ParseComplex()`](https://golang.org/src/strconv/atoc.go?s=1719:1779#L32) (added in Go 1.15), it sets `size` to 128 by default (instead of 64), and passes that size to `parseFloatPrefix`. That function should really receive 64 for this case, but it c

[2020-08-11 23:46] ianlancetaylor commented on #40673
That is not what we did.  In the past, it only made sense to write `err == ErrXxx` if the API of the function promised that it would return `ErrXxx` in some scenarios.  And in the present and the future, that remains true: if the API of the function promises that it returns `ErrXxx` in some scenarios, then it is entirely reasonable and appropriate to write `err == ErrXxx`.  There is no need to cha

[2020-08-11 23:52] ianlancetaylor commented on #40706
CC @griesemer

[2020-08-11 23:55] randall77 commented on #40706
Fixing ParseComplex sounds fine.

I think it would be strange for ParseFloat to panic when it has an error return specified. Reporting errors in two different ways would just lead to confusion.
FormatFloat would need to panic, though (or return a "bad bit size" string).

More tests are always welcome.

[2020-08-11 23:55] carnott-snap commented on #40673
While this nuance may be accurate, it is not well captured in documentation or (community) linters. Many outright require use fo `errors.Is` over `==`. Plus, it does not seem valuable: why have two canonical ways to do the same thing?

Is this not worse than migrating wholesale to `errors.Is`. Currently I have to guess/decipher if a given function returns an `errors.Is`able. This speaks to the lin

[2020-08-12 00:38] andreykaipov commented on #36768
I really appreciate the prompt replies!

In my above example, gowindows was off the WSL filesystem. I was just invoking it from within WSL, but it's unfortunately the same behavior via Powershell on the Windows host.

---

I've since tested this on a Win10 cloud image off an Openstack fabric, and a Win10 VirtualBox VM off my MacBook, installing Go like I did on my local machine. The first build to

[2020-08-12 00:48] frankbraun commented on #37533
The default behavior is `ExitOnError`:

[code]

And:

ErrHelp is the error returned if the -help or -h flag is invoked but no such flag is defined.

[code]

So before the change the behavior was

[code]

and now it's:

[code]

Never mind what's printed on stderr (and hasn't been specified). I'm talking about exit codes here which are part of the API of a CLI program.

So let's say I have a CLI pro

[2020-08-12 01:34] andybons commented on #40703
This seems reasonable to me. Let’s plan to merge tomorrow when we open the tree to large changes.

[2020-08-12 02:05] duchuanLX commented on #40633
Do you mean the test case

[2020-08-12 02:36] liu-xuewen opened #40707 "cmd/go/internal: duplicate initialization of buildcontext"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.4.2
</pre>

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
Linux amd64
</pre></details>

### What did you do?

nothing

### What did you expect to see?

Remov

[2020-08-12 02:42] ianlancetaylor commented on #40673
Hmmm.  If linters are suggesting that code change `err == io.EOF` to `errors.Is(err, io.EOF)`, then I think those linters are making a mistake, and I hope they stop doing that.  Similarly, it is absolutely fine when using golang.org/x/sys/unix to write `if fd, err := unix.Open(...); err == unix.ENOENT`.

I don't think of `==` and `errors.Is` as being roughly the same thing.  They are related, of c

[2020-08-12 02:47] ianlancetaylor commented on #37533
I'm sorry, I should have been more clear.

Can you show me an example of an existing program or script where this new behavior will cause a problem?

[2020-08-12 02:50] ianlancetaylor commented on #40633
I'm sorry, I do not understand the question.

When you asked "why did the 3.10 kernel pass the test in the sys2020 version?" what did you mean by "the test"?

[2020-08-12 03:02] arnottcr opened #40708 "proposal: Go 2: allow & as l-value operator"
#### background
Currently you can use the deref operator, `*`, to assign a `T` to a `*T`:
[code]
However there is no way to deref a returned value:
[code]
#### description
I propose we allow the reference operator, `&`, to be applied to l-values:
[code]
#### costs
This adds a new operator for l-values, but the `&` operator has a consistent value, so it seems intuitive. Currently, this can probably

[2020-08-12 03:07] davecheney commented on #40708
Aside from saving one line, what would this allow go programmers to do that they cannot do today?

[2020-08-12 03:12] arnottcr commented on #40708
The benefit I see is that it makes for a simpler mental model. Much like how there is interest to make `=` work like `:=`, I am interested to make `&` work for l-values and r-values, so that ones intuition about how things works is correct.

You are not wrong that in the provided example it only saves one line, and you can always define more stack variables to solve a problem, but I think there is

[2020-08-12 03:15] davecheney commented on #40708
Alternatively the type of s.URL could be changed to avoid having to add a new syntax.

[2020-08-12 03:17] duchuanLX commented on #40633
I rearranged the problem. I tested a fsnotify module under the 3.10 kernel golang/sys2019 version on the mips64le loongson3A machine, and wrote a demo file to monitor the file directory. Once the monitored directory has file changes: such as file creation and file deletion, related information will be printed, but I did not receive the information.
In the same environment, I passed the test under

[2020-08-12 03:20] arnottcr commented on #40708
There are valid reasons one may not want to use pointers. `url.URL` is just an example, something similar can be conceived for other pointed types. I tend to use value types to enforce immutability, but I have also been burnt by pointers to primitives.

That being said, there may also be an opportunity for the compiler to optimise `&s.URL, err = url.Parse(s)` in a way that it cannot for `u, err :=

[2020-08-12 03:25] davecheney commented on #40708
I can’t see an argument for not changing the fields type to make the code read better. It can’t be for performance because if it was the copy from the dereferencing u will dominate.

This just doesn’t feel like a change that would improve Go enough to pay for itself. I think there are more valuable changes that could be made given the extremely conservative stance to adding *anything* to the langu

[2020-08-12 03:29] randall77 commented on #40708
I assume from your example that the semantics of
[code]
is equal to
[code]
I don't like operators on the LHS that are really operations on the RHS.

Having `&a` on the LHS makes it look like this is an operation on addresses, but it isn't. It is an operation on values.
In other words, if `a` and `b` are of type `int`, then my intuition says that `*int`s are flowing across the `=`, but that's not t

[2020-08-12 03:30] sioncheng commented on #40690
Setting go.useLanguageServer to  false will fix the issue for now.

[2020-08-12 03:34] ianlancetaylor commented on #40633
As it says on the wiki page I mentioned, https://golang.org/wiki/MinimumRequirements, the minimum kernel version required for MIPS is 4.8.  The minimum kernel version for x86 is 2.6.23.  So it is not surprising that x86 passes.

In your little table, I don't know what "sys" means, and I don't know what 2019 and 2020 mean.  I assume that 2020 is newer, so it sounds like it passes.  That seems good.

[2020-08-12 03:37] frankbraun commented on #37533
No, I haven't seen anything in the wild yet, Go 1.15 was just released.

Do you get my point though that this breaks existing CLI APIs and violates the Go 1.0 Compatibility Expectations?

IMHO @rsc shouldn't have put it up for a "consensus discussion", it's an API change that's not cool given the compatibility promise. I know I'm a bit nit-picky here, but this really ticked me off. I have decommis

[2020-08-12 03:39] ianlancetaylor commented on #40708
I think that in the initial description where you wrote `var u url.URL` you mean to write `var u *url.URL`.  That confused me for a while.

[2020-08-12 03:44] ianlancetaylor commented on #40708
This seems like a very specific example of the fact that when a function returns more than one result we can't apply an operator directly to the result.  For example, one could similarly imagine rewriting

[code]

as

[code]

That is, the same pattern arises for any unary operator.  And in fact it arises for any binary operator if we use the `+=` form.

What's special about the unary `*` operator

[2020-08-12 03:46] carnott-snap commented on #40673
Just for your visibility, there are three linters that I have seen/used that have this property:
- https://github.com/golangci/golangci-lint
- https://github.com/Djarvur/go-err113
- https://github.com/romanyx/erris

This nuance *is* lost on new users. When I read this [blog post](https://blog.golang.org/go1.13-errors), I got the strong impression that because `errors.Is` quacks like `==` that it k

[2020-08-12 03:50] ianlancetaylor commented on #37533
I do get your point that it changes the CLI behavior.

It's not obvious to me that this violates https://golang.org/doc/go1compat.  As I said above, the behavior of `-h` and `-help` was never really specified, and it still isn't really specified.  You've disregarded the fact that the standard error output is different for `-h` and `-help`, but I don't see why.  Why is the exit status more relevant

[2020-08-12 03:53] artob commented on #37533
Changes to exit codes will affect Makefiles and Docker builds, as a couple of trivial examples, whereas output on standard error won't.

[2020-08-12 03:58] ret394 commented on #37533
Apologies for the intrusion. Received a Github notification for this, a lag issue somehow. Ignore my misleading comment - https://github.com/golang/go/issues/37533#issuecomment-609102014.

This is about the Go code snippet. If possible, you should remove the last else clause. That's going to cause problems. If you(in the code) don't handle it, best to not put it there.

It will be instructive to o

[2020-08-12 04:01] ianlancetaylor commented on #40673
The only possible meaning I can think of for `errors.Is(err, nil)` is "`err` is not an error."  And that is exactly what `err == nil` already means.  I think it would be very strange if two expressions that mean the same thing do not always have the same truth value.

Thanks for your comments about optics and about those linters.  Still, I'm confident that those linters don't warn about `err == ni