[2017-08-25 04:46] bcmills commented on #21355
An interesting side-effect of the current (explicit parameter) approach is that it is remarkably easy to leak a `Context` for a very long time by closing over it in (or passing it as an argument to) a `go` statement. Because the `Context` can contain arbitrary keys and values, the closure also references all of those keys and values, even if it only needs a small subset of them.

I think that the

[2017-08-25 04:48] davecheney commented on #21498
Is this actually a proposal or are you just spitballing what Go would look like if you dressed it like Scheme for Halloween? I think this proposal is both unnecessary and in poor keeping with the language's focus on readability.

[2017-08-25 04:53] broady commented on #21601
Oh, it's very likely because GAE is on Go <1.9. godoc uses the standard library.

I'm not really sure what to do here, other than move from GAE standard to GAE flexible (or GKE), where we'd have more control over that.

[2017-08-25 04:59] cespare commented on #21498
I think that having a concise anonymous function syntax is more compelling in other languages that rely more on callback-based APIs. In Go, I'm not sure the new syntax would really pay for itself. It's not that there aren't plenty of examples where folks use anonymous functions, but at least in the code I read and write the frequency is fairly low.

[2017-08-25 05:00] ianlancetaylor commented on #21592
I have no real opinion on this, but I'll note that the bytes package would probably be a better place than the io package.  The bytes package already has `bytes.Reader`, which is a seekable reader.

[2017-08-25 05:07] ctessum commented on #21605
Thank you for your response. I understand that it is not meant to be an
all-purpose build tool. I think that most people that propose changes or
new features understand that.

Would it make sense to document that files are fed into the compiler in
alphabetical order, because in this case that is an important detail? Can
it be counted on that this behavior will not change in future releases? Or
is

[2017-08-25 05:07] lelenanam commented on #17704
@dsnet @rsc do you think it makes sense to change it to `len(m) == 0`? What are the potential risks of doing this?
I spent some time trying to debug `Marshal error` in a nested struct with `json.RawMessage{}` :(

[2017-08-25 05:14] dsnet commented on #17704
Can you give more details about what struct was that led to your pain? That will help guide the decision better.

[2017-08-25 05:15] ianlancetaylor commented on #21605
Interesting question.  Guaranteeing alphabetical order is not a problem, but at least for C code we would not want to guarantee that the compilations do not occur in parallel.  Perhaps for Fortran we could make an exception and serialize the compilations.  But that might give us some extra complexity for a very unusual use case.

[2017-08-25 05:21] ctessum commented on #21605
I'm not an expert, but wouldn't the parallel compilation happen within
whatever external tool the files are being fed into (e.g., gcc, gfortran),
and not within the go tool itself?

On Thu, Aug 24, 2017, 10:16 PM Ian Lance Taylor <notifications@github.com>
wrote:

[2017-08-25 05:25] ianlancetaylor commented on #21559
Is there any difference in the output of `ulimit -u` on the succeeding and failing systems?

[2017-08-25 05:31] ianlancetaylor commented on #21589
We don't use the issue tracker to ask questions.  Please see https://golang.org/wiki/Questions .  Thanks.

You can check whether the returned error value is a `json.UnmarshalTypeError`, which has an `Offset` field.  See https://golang.org/pkg/encoding/json/#UnsupportedTypeError .

Closing because there is no bug here.

[2017-08-25 05:31] #21589 closed

[2017-08-25 05:34] ianlancetaylor commented on #21605
The go tool effectively spawns separate processes `gfortran -c a.f`, `gfortran -c b.f`, `gfortran -c c.f`.  Right now it does them in serial, but in the future it might start them all at the same time.  That will work fine for C or C++, but, apparently, not for Fortran.

[2017-08-25 05:35] lelenanam commented on #17704
@dsnet It was something like:
[code]
There was a bunch of such structures and one of them had Address as `json.RawMessage{}` instead of just `nil`. Marshal on such struct produced:
[code]
Both `nil` and `json.RawMessage{}` looks identical in `fmt.Printf("%s", x)` and in `fmt.Printf("%v", x)`. Here is example of prints: https://play.golang.org/p/u8CQenjeCG
So, it was quite hard to find it :)
I thin

[2017-08-25 05:37] #14339 closed

[2017-08-25 05:51] ianlancetaylor commented on #21549
CC @campoy

[2017-08-25 05:56] #21599 closed

[2017-08-25 05:59] #21581 closed

[2017-08-25 06:02] #18732 closed

[2017-08-25 06:07] 178inaba commented on #20357
I have sent change again because go1.9 was released.
https://go-review.googlesource.com/c/tools/+/58890

[2017-08-25 06:10] elico commented on #18686
@sabey so, is it working? is there a solution?

[2017-08-25 06:18] sabey commented on #18686
it does work, the change was just unexpected as I couldn't find the documentation for it

[2017-08-25 06:45] henryas commented on #21604
I have my fair share of reservation about C++ and I would hate to see Go turning into C++. However, just because I dislike C++, it does not mean we should do everything opposite of C++. In fact, the proposal contains nothing about C++ and its specific features. (Not everything about C++ is bad by the way)

All I ask is greater control over struct instantiation. That's what the proposal is mainly a

[2017-08-25 06:47] alexbrainman commented on #21472
@cedar10bits

Since I know nothing about DNS, I won't be able to implement this. So if you want this implemented you have to do it yourself. And I am not sure your change will be accepted - your change might be considered as "changing behavior too much". But you have to try to find out.

I called this option, but I don't see this accepted, unless we can demonstrate that current behavior is very ba

[2017-08-25 07:10] as commented on #21604
[code]

Let's not give c++ credit for this. The plan 9 C compiler supported promoting unnamed substructures and resembles composition much more accurately. This is one feature I initially missed when starting to use Go, but interfaces solve the problem well enough in most cases that it's not necessary, at least for me.

http://www.vitanuova.com/inferno/papers/compiler.html

[code]

[2017-08-25 07:10] elico commented on #21603
@ianlancetaylor sure! it should be documented and also mentioned in the release notes.
It's important for many web server's for stats or the ability to apply ACL's for services that apply different policies for different networks their clients have access from\to.
For example I have a service which face two different public ip addresses behind nat(each has it's own router) and I want to apply rate

[2017-08-25 07:47] griesemer commented on #21601
The built-in package is a fake package anyway and only here for documentation. It seems fine to me to go back to 1.8 with that file for godoc only. Maybe:
[code]

[2017-08-25 08:10] #21580 closed

[2017-08-25 08:13] #21579 closed

[2017-08-25 08:15] henryas commented on #21604
Relying on purely on object behavior has its limitation. For instance, given that ...
[code]

Now what happens when we have this ...
[code]

[2017-08-25 08:54] onokonem opened #21606 "cmd/vet: obvious shadowing is not detected"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes it does

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

I run `go vet  --shadow` for the following code

[code]

### What did you expect to see?

Shadowing warning

### What did you see instead?

No warnings

[2017-08-25 08:56] vielmetti commented on #21559
`ulimit -u` on the ThunderX: 515386

`ulimit -u` on Centriq: 385905

Both should be plenty high for any reason.

[2017-08-25 09:05] ptman opened #21607 "website: builtin documentation"
I'm not sure if this is the right place to report, but I saw other tickets with "website" in the subject

### What version of Go are you using (`go version`)?

The website talks about 1.9

### Does this issue reproduce with the latest release?

1.9 is latest

### What did you do?

Go to https://golang.org/pkg/builtin/

### What did you expect to see?

Documentation

### What did you see instead?

[2017-08-25 09:07] myitcv commented on #21601
Could be unrelated, but godoc.org doesn't appear to be returning results as before.

The search https://godoc.org/?q=os doesn't return the `os` package itself.

[2017-08-25 09:08] myitcv commented on #21601
Ditto for `strings` - I'll now amend my previous comment with other packages that suffer the same problem

[2017-08-25 09:27] xiaox0321 commented on #16876
In my activity_main.xml, TextView has id

[code]

In reverse.go

when I build , gradle assembleDebug

It just cause this error
[code]

I need your help! @eliasnaur

[2017-08-25 09:27] AlekSi commented on #21604
In my experience, that's rarely a problem. If you really want to, you can add a private method to `Employee` interface to prevent anyone to accidentally implement it in other packages. One example is [`testing.TB`]https://golang.org/pkg/testing/#TB (click `TB` to see the source code).

Alternatively, you can make an `Employee` struct with `Type` field and stop thinking in terms of class hierarchie

[2017-08-25 09:34] gfoxiii opened #21608 "1.9\pkg\tool\windows_amd64\compile.exe: Access is denied."
use powershell run as administrator , and setup golang 1.9

...

`
go install cmd/compile: open D:\workspace\github.com\go\1.9\pkg\tool\windows_amd64\compile.exe: Access is denied.
`

after that , I have try this

...

`
go install cmd/compile: open D:\workspace\github.com\go\1.9\pkg\tool\windows_amd64\compile.exe: Access is denied.
`

#### System details

[code]

[2017-08-25 09:51] mrcrgl commented on #21604
@henryas it seem that you just think in types instead of implementations. Using interfaces as replacement for a missing inheritance pattern isn't as practical.

My suggestion for your example would look like this:

[code]

Given this structs, the implementation could look like this

[code]

[2017-08-25 10:07] griesemer commented on #21607
Duplicate of #21601 .

[2017-08-25 10:07] #21607 closed

[2017-08-25 10:08] FiloSottile commented on #21593
1. With security and x509, usually the opposite test is applied: what benefit is there in adding this functionality?
2. The same struct is filled by parsing routines
3. Yes

[2017-08-25 10:18] #20557 closed

[2017-08-25 10:23] #21392 closed

[2017-08-25 10:35] urandom commented on #21401
@bcmills
Your and @balasanjay 's do not directly address the two goals of my proposal. Your syntax is not more readable, since the package "strings" is still everywhere, and you still have to give it some form of a first argument. Second, it does nothing to allow a foreign type to conform to an interface. You'd still have to manually define a new type, and manually delegate to all methods of the u

[2017-08-25 10:57] lkarlslund opened #21609 "Windows: MSI Upgrade should default to previous install folder, not insist on C:\Go\"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.9 release

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

Windows

### What did you do?

Had Go 1.9rc2 installed in C:\Program Files\Go\
Wizard asked if I wanted to uninstall old du

[2017-08-25 11:09] probablytom opened #21610 "Inconsistent channel behaviour"
### What version of Go are you using?

Many -- see table below. But the issue mostly relates to:

[code]

### Does this issue reproduce with the latest release?

It does.

### What operating system and processor architecture are you using?

Windows (in a VM), on AMD64 -- but tested on lots, see the table below.

`go env` for that Windows machine:

[code]

### What did you do?

I wrote an experimen

[2017-08-25 11:10] julianfrank opened #21611 "Antivirus Complaining about Go1.9"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9

### Does this issue reproduce with the latest release?
yes...It is only happening in the 1.9 release. Symantec does not complain in the 1.8.3 release
My antivirus is Symantec Endpoint Protection 12.1.16 running in Windows 10. The Virus it reports on go.exe is WS.Reputation

[2017-08-25 11:13] amiracam commented on #11058
@nadiasvertex
GO code:

package main

import "fmt"
import "C"

func main(){}
//export HelloWorld
func HelloWorld() {
	fmt.Println("Hello")
}

which via
go build -buildmode=c-shared -o hello.dll hello.go

generates a hello.dll as well as hello.h
btw, also tried naming the output hello.so

C code (driver.c) :

#include <stdio.h>
#include "hello.h"

int main(){
    setvbuf(stderr, NULL, _IONBF, 0);

[2017-08-25 11:51] as commented on #21611
From Symantec's [website](https://www.symantec.com/security_response/writeup.jsp?docid=2010-051308-1854-99)

Contrary to the wisdom of the crowd, it is _extremely_ unlikely that there is a virus in the repo. If you really believe otherwise, you can upload the exe to [virustotal](https://www.virustotal.com) and compare the hash to the same download from another computer.

[2017-08-25 11:52] martisch commented on #21611
Note that false positives in Anitvirus software for go binaries happen quite often.
https://github.com/golang/go/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20antivirus
It can also happen that a Virus on your machine starts infecting other exe files.

Where did you download the file?

I downloaded https://storage.googleapis.com/golang/go1.9.windows-amd64.zip
and unpacked the go.exe then uploa

[2017-08-25 11:53] cznic commented on #21611
This is not any Go error. Contact your AV/OS provider and ask them for a better product.

[2017-08-25 11:55] hrrmsn opened #21612 "The link "https://golang.org/pkg/builtin/" doesn't display correctly"
Text of error: "/src/builtin/builtin.go:88:11: expected type, found '=' (and 1 more errors)".

[2017-08-25 11:56] martisch commented on #21612
Duplicate of #21601.

[2017-08-25 11:59] #21612 closed

[2017-08-25 12:07] cznic commented on #21610
AFAICT, (from mobile), the playground code *must* deadlock on line 25 in every Go version/platform. Also, the time.Sleep statement cannot IMO change anything.

[2017-08-25 12:11] as commented on #21401
https://play.golang.org/p/hPueAuqdqK

[2017-08-25 12:19] cznic commented on #21606
`v := v` is technically also shadowing, but it's also a useful idiom inside a loop. I think that's the reason vet doesn't complian about this case.

[2017-08-25 12:24] onokonem commented on #21606
please be more specific :)

what this idiom is useful for?

[2017-08-25 12:25] galric commented on #21585
gdb message of reproduce problem

[code]

gdb message of not reproduce message

[code]

diff
[code]

[2017-08-25 12:37] dominikh commented on #21606
Making the variable local to the loop body, primarily for closures:

[code]

[2017-08-25 12:38] probablytom commented on #21610
Yep, that's the behaviour expected by the people I've shown this too as well. That said...

![image](https://user-images.githubusercontent.com/821635/29714260-49d9eab2-899a-11e7-8c55-7a6cc07b0579.png)

![image](https://user-images.githubusercontent.com/821635/29714312-92fbd44e-899a-11e7-8dd6-8a486873de3b.png)

The behaviour you expect *is* exhibited on play.golang.org, but not on my macOS machine.

[2017-08-25 12:41] AlekSi commented on #21606
That is mentioned in the last part of https://golang.org/doc/faq#closures_and_goroutines.

[2017-08-25 12:42] martisch commented on #21610
On my darwin/amd64 tip go i also get:
"We take values after blocking, meaning when values on a blocking channel are requested from another routine." for the playground example.

[2017-08-25 12:43] caiofilipini opened #21613 "website/doc: documentation for pkg builtin is broken"
Looks like the docs for the `builtin` package are broken in https://golang.org/pkg/builtin/.

I'm not sure this is the right place for filing this issue, please point me in the right direction if that's the case. I've also skipped most of the questions in the issue template because it isn't related to running `go` itself.

### What did you do?

Tried to browse the documentation for the `builtin` p

[2017-08-25 12:44] martisch commented on #21613
Duplicate of #21601.

[2017-08-25 12:44] #21613 closed

[2017-08-25 12:55] probablytom commented on #21610
@martisch having tested with both I think you'd see it either way, but is that go1.8 or go1.9?

[2017-08-25 12:56] henryas commented on #21604
I am not saying there isn't any workaround. I am pretty sure workarounds exist. It was just a hypothetical example by the way. I am here suggesting possible improvements to Go. I have no problem with interface. I think it should stay as it is. However, I believe Go struct type could be much more useful with greater leverage over it's instantiation and composition. That's what the proposal is all a

[2017-08-25 12:59] martisch commented on #21610
Neither. It is go tip (9515610).

[2017-08-25 13:02] probablytom commented on #21610
Oh, sorry! I wasn't aware that existed and thought it was a typo. Thanks for confirming it on your machine.

[2017-08-25 13:10] xor-gate opened #21614 "syscall.Sysctl unable to read 64-bit integers"
### What version of Go are you using (`go version`)?

go version go1.9 darwin/amd64

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

### What did you expect to see?

Last byte not to be truncated (len 8)

### What did you see instead?

Last byte truncated (len 7)

Curr

[2017-08-25 13:14] onokonem commented on #21606
is it any better than

[code]

[2017-08-25 13:17] stub42 opened #21615 "proposal: crypto/x509/pkix: add String() method to type Name"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.9

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

Linux, amd64

### What did you do?

Attempt to render a pkix.Name to a string (crypto/x509/pkix)

### What did you expect to see?

[2017-08-25 13:18] caiofilipini commented on #21613
Thanks for checking, @martisch, and sorry for the noise!

[2017-08-25 13:19] AlekSi commented on #21606
You can accidentally use `v` inside closure that way.

[2017-08-25 13:25] onokonem commented on #21606
fair enough.

so `vet` should check the types I guess. same type ok, not the same type should cause a warning...

what do you think?

[2017-08-25 14:00] p-j-w commented on #21610
I also see the behaviour as described in this issue too. Did some tests looking at cross compilation for other platforms...

Compiled on ARM and executed on ARM - DEADLOCK
Compiled on OSX and executed on ARM - NO DEADLOCK
Compiled on OSX and executed on OSX - NO DEADLOCK
Compiled on OSX and executed on Windows - DEADLOCK
Compiled on Windows and executed on Windows - DEADLOCK

I had expected the Wi

[2017-08-25 14:18] randall77 commented on #21610
`time.Sleep(1000)` only sleeps 1000 *nanoseconds*.  Change it to 1e9 and it always deadlocks.
Whether `time.Sleep(1000)` is enough time for the child goroutine to run and block is platform-dependent.

I don't think there is any bug here.  Closing.

[2017-08-25 14:18] #21610 closed

[2017-08-25 14:25] probablytom commented on #21610
*Of course*. Thank you!

[2017-08-25 14:26] randall77 commented on #21610
p.s. Always use `time.Sleep(1 * time.Second)`, that way you won't accidentally make a unit mistake.

[2017-08-25 14:31] tsuna commented on #21518
Thanks for fixing this bug, I was going crazy over `runtime.sysmon` taking up to 50% of the CPU cycles in my profiles as of late, and I thought it was something stupid we did in our own code that caused it.  Today I realized the issue didn't exist in go1.8.2 and earlier, and didn't exist in go1.9 either, and traced it back to this issue.

[2017-08-25 14:33] bcmills commented on #21600
That's true, and makes the over-retention here much less severe in practice than the one in #21597, but because `dialParallel` doesn't wait for the second (canceled) call to return, it can still lead to arbitrary increases in memory usage under CPU pressure (where there can be an arbitrarily large scheduling delay between cancelling the `Context` and actually returning from the background function

[2017-08-25 14:37] urandom commented on #21401
@as
Embedding only works for structs. Methods can be on anything.

[2017-08-25 14:42] cherrymui commented on #21486
Fixed in CL https://go-review.googlesource.com/c/go/+/56331.

[2017-08-25 14:42] #21486 closed

[2017-08-25 14:50] cznic commented on #21610
Uh, `<- y` @25 is rx, not tx, silly me.

[2017-08-25 14:53] mdlayher opened #21616 "x/sys/unix: add taskstats.h types and constants on Linux"
I'd like to add the types and constants found in http://elixir.free-electrons.com/linux/v4.8/source/include/uapi/linux/taskstats.h to `x/sys/unix`.

I will send a CL.

[2017-08-25 15:01] chmike opened #21617 "Compiler report an error with named embedded field initialization where embedded struct is from another package"
### What version of Go are you using (`go version`)?
go1.9

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
amd64, Darwin

### What did you do?

Providing a struct literal with an embedded struct and named fields works without problem when the structs are declared next to each other. [See this playground exa

[2017-08-25 15:16] legrosbuffle opened #21618 "gofrontend/gccgo: Improve identity comparison"
### The issue

`gofrontend` currently generates very inefficient code for `T$equal` and `t1 == t2` when dealing with identity-comparable types (i.e. integers, pointers, and unpadded structs and arrays of such).

For example:

 - The following code does two 4-byte compares and a jump in `T$equal`, and calls memcmp in `t1 == t2`. For `t1 == t2`, `gofrontend` has a trick to turn this into a single 8-

[2017-08-25 15:18] legrosbuffle commented on #21618
Here's a proof of concept (it handles only `T$equal` and is untested).

[patch.txt](https://github.com/golang/go/files/1252244/patch.txt)

[2017-08-25 15:32] ianlancetaylor commented on #21600
Agreed,  but my guess is that on balance the current behavior is preferable.  It doesn't penalize the common case.

[2017-08-25 15:35] bcmills commented on #21498
To some extent, that is a self-reinforcing problem: if it were easier to write functions in Go, we may well see more functional-style APIs. (Whether that is a good thing or not, I do not know.)

I do want to emphasize that there is a difference between "functional" and "callback" APIs: when I hear "callback" I think "asynchronous callback", which leads to a sort of spaghetti code that we've been f

[2017-08-25 15:37] reezer commented on #15658
I agree @derekmarcotte. I think it doesn't make sense to state something is FreeBSD related when something very similar happens on at least one other OS too.

If this gets changed it should be mentioned in the release notes as well.

[2017-08-25 15:46] kevinburke commented on #21313
FYI - Travis CI is a build tool, and normally you'd add Go 1.9 in the test matrix as a line in the file like this:

[code]

Users have to (first) discover the problem - compiling packages in the standard library fails - and then Google around until they find the solution, which is [to add these additional lines to the configuration](https://github.com/travis-ci/travis-ci/issues/8229#issuecomment-3

[2017-08-25 15:52] pierrre commented on #21313
See https://github.com/travis-ci/travis-build/pull/1148
It's fixed in recent gimme versions.

[2017-08-25 16:04] aclements commented on #21554
Re-opening for cherry-pick to Go 1.9.1

[2017-08-25 16:20] kevinburke commented on #21313
Ah, you are correct, thanks!

[2017-08-25 16:40] ianlancetaylor commented on #21617
The name of the field is `StandardClaims`, not `jwt.StandardClaims`.

Closing because there is no bug here.

[2017-08-25 16:40] #21617 closed

[2017-08-25 16:45] ianlancetaylor commented on #21554
Is this worth cherry picking?  It seems a very minor problem.

[2017-08-25 16:50] 0x783czar commented on #21593
OK cool, that makes sense.  Thanks!
Upon consideration, if indeed there's no forseeable need for Version 1 or 2 certs to be generated, I think what may be more valueable here than adding more complexity would be just an update to the docs pointing out that only version 3 cert generation is supported.

Is there a formal process for making those sorts of doc updates?  Or is it just a matter of submi

[2017-08-25 16:51] bcmills commented on #21600
In the common case (where we are not overloaded on CPU), it shouldn't make much difference one way or the other. If dialSingle really is responsive to cancellation, the amount of latency added by waiting for the goroutine to return should be negligible compared to the latency of dialing a TCP connection.

That is: the difference only matters when dialSingle is not responsive, and that is precisely

[2017-08-25 17:06] nurse opened #21619 "expvar: Go 1.9 changes expvar.Map.Init()"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]

### Note
The behav

[2017-08-25 17:07] hyangah commented on #21062
How big is the trace? The trace tool loads the entire trace into the memory.

[2017-08-25 17:12] #21616 closed

[2017-08-25 17:21] emmayy opened #21620 "golang buildin page broken"
page link: https://golang.org/pkg/builtin/
expect to see the api index,
get "/src/builtin/builtin.go:88:11: expected type, found '=' (and 1 more errors)"

[2017-08-25 17:32] caglar10ur opened #21621 "cmd/compile: too many open files"
### What version of Go are you using (`go version`)?

1.9

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?

- clone github.com/caglar10ur/vic
- since the original repository is under vmware org., rename the parent directory as vmware (mv $GOPATH/src/github.com/caglar10ur $GOPATH/

[2017-08-25 17:34] aclements commented on #21554
Rick and I pretty frequently ask people for gctrace output when debugging performance issues. This could make that harder to interpret. It's also a simple fix, so I think whenever 1.9.1 happens we might as well include it.

[2017-08-25 17:35] cznic commented on #21620
Dup of #21601.

[2017-08-25 17:35] nadiasvertex commented on #11058
@amiracam Have you tried this under Linux or macOS? If so, does it work there?

[2017-08-25 17:37] ALTree commented on #21621
Dup of #21550 ?

[2017-08-25 17:38] ardan-bkennedy commented on #21554
I am teaching this stuff and now that 1.9 has been released, this bug makes things difficult for training. So please consider getting this in sooner rather then later.

[2017-08-25 17:40] shurcooL commented on #21620
Closing as duplicate.

[2017-08-25 17:40] #21620 closed

[2017-08-25 17:52] shurcooL opened #21622 "doc/go1.9.html: should go/types.Package.Imports behavior change be included?"
_(It's not quite clear to me what's the criteria for inclusion of a change to warrant being mentioned in the release notes under the "Minor changes to the library" section (is it documented somewhere?), that's why this is a question.)_

https://godoc.org/go/types#Package.Imports changed behavior slightly. In Go 1.8, it was documented as:

In Go 1.9:

So package unsafe is no longer excluded.

Shoul

[2017-08-25 18:04] amiracam commented on #11058
yes sir, works fine on MacOS Sierra , have not yet setup GO under Ubuntu but if it works on the Mac pretty sure it would work on Linux, ultimately we want to be cross platform Windows / Linux , I'll start testing there as well

[2017-08-25 18:32] andybons commented on #7872
@rsc What do you think of Jason’s approach?

[2017-08-25 18:43] kevinburke commented on #21601
@myitcv, can you open a separate ticket?

[2017-08-25 18:45] mdlayher opened #21623 "x/sys/unix: taskstats enum values were not added with constants and types"
I made a false assumption about which values would be added in my last CL.  Sending a CL shortly to remedy that.

[2017-08-25 19:15] #13095 closed

[2017-08-25 19:18] nadiasvertex commented on #11058
@amiracam okay. That is useful to know. I will look into it.

[2017-08-25 19:23] ianlancetaylor commented on #21621
Can you run the relevant `go build` or `go install` command with the `-x` option and show us the output?  I'd like to see precisely which tool is generating the error.  Thanks.

[2017-08-25 19:27] ianlancetaylor commented on #21619
CC @bcmills

The `Init` method is not documented.  In Go 1.8, it would reset the `expvar.Map` to contain no entries.  In Go 1.9 it has changed to not do that.  The question is whether we should restore the old behavior, or whether we should document the new behavior.

[2017-08-25 19:33] TocarIP commented on #21585
This is really strange. All inputs to PCMPESTRI (xmm1,memory,rax,rdx,rdi) are the same, yet result is different. Just to rule out crazy idea, can you use `disassemble 'runtime.indexShortStr' ` in gdb to verify that code is really identical in both cases , i suspect that binary was somehow corrupted?

[2017-08-25 19:37] bcmills commented on #21619
Either seems fine by me.

I have a slight preference for documenting `Init` as deprecated and leaving it as a no-op: it seems odd for an `Init` method to be anything other than a no-op on an already-initialized map, it was never documented to begin with, and it is out-of-place in a Go API (where we tend to have either `New` functions that return already-initialized objects, or meaningful zero-valu

[2017-08-25 19:42] #21321 closed

[2017-08-25 19:46] rsc opened #21624 "crypto: panic on invalid aliasing in various APIs"
The cipher.AEAD docs say for Open:

	// Open decrypts and authenticates ciphertext, authenticates the
	// additional data and, if successful, appends the resulting plaintext
	// to dst, returning the updated slice. The nonce must be NonceSize()
	// bytes long and both it and the additional data must match the
	// value passed to Seal.
	//
	// The ciphertext and dst may alias exactly or not at all.

[2017-08-25 19:46] #21623 closed

[2017-08-25 19:52] ianlancetaylor commented on #21609
CC @broady

[2017-08-25 19:55] #15389 closed

[2017-08-25 19:55] 0intro opened #21625 "cmd/compile: we shouldn't use MOVOstore instruction on plan9/amd64"
The SSA compiler currently generates MOVOstore instructions to optimize 16 bytes moves on AMD64 architecture.

These instructions were added in CL [16174](https://golang.org/cl/16174).

See [AMD64.rules:322](https://github.com/golang/go/blob/master/src/cmd/compile/internal/ssa/gen/AMD64.rules#L322) and [AMD64.rules:351](https://github.com/golang/go/blob/master/src/cmd/compile/internal/ssa/gen/AMD6

[2017-08-25 19:56] broady commented on #21601
Please file godoc.org issues over on https://github.com/golang/gddo

[2017-08-25 19:57] odeke-em commented on #21615
Thank you @stub42 for the issue, I've retitled it a little as a proposal(since it's a feature request that needs a judgement call) and I'll page @agl and other crypto folks.

Also, in case you'd like @stub42, please feel free to submit a CL prototyping this change, it might help expedite and make it easier to review the proposal.

[2017-08-25 19:59] ianlancetaylor commented on #21611
Closing because there is nothing we can do.  Please comment if you think of something.  Thanks.

[2017-08-25 19:59] #21611 closed

[2017-08-25 20:04] ianlancetaylor commented on #21614
The syscall package is kind of frozen.  The place for these features is golang.org/x/sys.  And that package already has a range of Sysctl functions which do what you want.  Closing.

[2017-08-25 20:04] #21614 closed

[2017-08-25 20:07] amiracam commented on #11058
@nadiasvertex
perhaps something else that is useful is that we are having success using buildmode=c-archive , basically following the instructions here:
https://stackoverflow.com/questions/40573401/building-a-dll-with-go-1-7

but using a clean GO 1.8.3 distribution

on Win 10

we can generate a working executable

[2017-08-25 20:10] xor-gate commented on #21614
Hi @ianlancetaylor, I must have overlooked this. It has indeed

[code]

Thanks for pointing out.

[2017-08-25 20:25] ianlancetaylor commented on #21600
The common case is that a `Context` value is tiny.

[2017-08-25 20:25] ainar-g opened #21626 "doc: builtin package documentation is broken both on golang.org and godoc.org"
https://golang.org/pkg/builtin/ shows this:

https://godoc.org/builtin is a "Not Found" even though e.g. `runtime` docs are available: https://godoc.org/runtime.

Both of these pages should show the correct documentation for Go builtins.

[2017-08-25 20:28] ianlancetaylor commented on #21626
Dup of #21601 .

[2017-08-25 20:28] #21626 closed

[2017-08-25 20:42] cespare opened #21627 "testing: add Helper to the TB interface"
As part of implementing #4899, I was going to add Helper to the TB interface. This was part of the approved design doc (https://github.com/golang/proposal/blob/master/design/4899-testing-helper.md), but I forgot to do it.

(Note that while it's not normally OK to add to exported interfaces, testing.TB has a private method specifically to allow it to be extended: https://github.com/golang/proposal/

[2017-08-25 20:43] #21582 closed

[2017-08-25 20:45] cespare commented on #21627
Wait, it is part of the interface. I misinterpreted the bug report. Sorry for the noise.

[2017-08-25 20:45] #21627 closed

[2017-08-25 20:51] #21570 closed

[2017-08-25 20:56] broady opened #21628 "website: move to App Engine flexible"
Most of the time, the latest version of Go isn't available on GAE. That causes problems, like with #21601.

We should move it to GAE flexible and/or GKE, where we can just run a container and therefore have godoc built by the same version of Go as it is serving docs for.

/cc @bradfitz

[2017-08-25 20:56] broady commented on #21601
Fixed https://golang.org/pkg/builtin/

[2017-08-25 20:56] #21601 closed

[2017-08-25 21:38] bradfitz commented on #21601
I strongly believe we need to move off GAE standard. We need control of the Go version going forward. We will by definition always be ahead of App Engine, and using GAE standard precludes us from ever using new Go features in godoc. This will just keep biting us. We should move to Flex or GKE.

[2017-08-25 21:40] joaquinicolas opened #21629 "Background job Android"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.8

### Does this issue reproduce with the latest release?
It is not an issue.

### What operating system and processor architecture are you using (`go env`)?
amd64
darwin

### What did you do?
I want to run a some go code as background job in android.

If possible, provide a

[2017-08-25 21:41] ianlancetaylor commented on #21559
I haven't been able to think of any reason why this test would behave differently when invoked from all.bash.  I can't recall seeing any other reports of this problem.  The test is fairly simple, and is basically testing that the pipes are handled by the internal poller.  If we could capture it standalone, then running the test under `strace -f` would likely show the problem.  But running all.bash

[2017-08-25 21:41] rasky opened #21630 "cmd/compile: SETcc could directly write to memory on 386/amd64"
[code]

Code generated for main:

[code]

should be:

[code]

more compact, and saves one register.

[2017-08-25 21:58] #14472 closed

[2017-08-25 22:03] vielmetti commented on #21559
I'm also puzzled. The only think I can possibly think of is that this machine is running a unique kernel, and that we're planning to update the kernel to something closer to mainline. I'll put this on hold for now, and rerun it the next time there's a new kernel.

[2017-08-25 22:20] ianlancetaylor commented on #21206
This changed in 1.8 because of #16710.  The new approach seems better, so I don't see any reason to revert to the old one.  This should probably have been in the 1.8 release notes, but I guess we forgot.

Closing because I don't think there is anything to do.

[2017-08-25 22:20] #21206 closed

[2017-08-25 22:23] cespare opened #21631 "testing: with race detector on, using TB.Helper yields the wrong line number"
Using go1.9 linux/amd64.

If you call testing.TB.Helper (i.e., through the interface), it prints an autogenerated line number when running with -race:

[code]

gives

[code]

Bug pointed out on golang-nuts by @lukasmalkmus.

[2017-08-25 22:31] jimmyfrasche commented on #19412
@ianlancetaylor, I've been playing around with your proposal on paper. Can you let me know if anything below is incorrect?

Given
[code]
the dynamic type of `r` is `int`, and
[code]
is illegal.

Given
[code]
then `var _ R = S{}` would be illegal.

But given
[code]
both `var _ R = C{}` and `var _ R = A(C{})` would be legal.

Both
[code]
and
[code]
are equivalent.

Likewise,
[code]
is equivalent to

[2017-08-25 22:40] #21519 closed

[2017-08-25 22:40] ianlancetaylor commented on #19412
@jimmyfrasche I wouldn't go so far as to say that what I wrote above was a proposal.  It was more like an idea.  I would have to think about your comments, but at first glance they look plausible.

[2017-08-25 22:46] #19394 closed

[2017-08-25 22:48] #20542 closed

[2017-08-25 22:56] dsnet opened #21632 "net: race detected on linux-amd64-race"
Recently see on try-bot:
[code]

Full log: https://storage.googleapis.com/go-build-log/f1123583/linux-amd64-race_75b56ae6.log

[2017-08-25 22:57] ianlancetaylor commented on #21632
Dup of #21090?

[2017-08-25 22:59] dsnet commented on #21632
Seems like it. The stack traces are the same.

[2017-08-25 22:59] #21632 closed

[2017-08-25 23:09] weinong opened #21633 "proposal: crypto/tls: add TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 support"
Please answer these questions before submitting your issue. Thanks!

Our security team requires `TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384` cipher suite. Is there any plan to add it in Go?

### What version of Go are you using (`go version`)?
1.8.3 and 1.9

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

### What d

[2017-08-25 23:13] nurse commented on #21619
There's no way to replace a map registered by expvar.NewMap.

[2017-08-25 23:24] caglar10ur commented on #21621
Sure, @ianlancetaylor please see below

[code]

The full log can be found at https://10ur.org/build.log

[2017-08-25 23:41] dkisman-laserlike commented on #14812
Just wanted to follow up with the resolution we eventually settled on at Laserlike (@stbaker's company).

To sum up, the one-size-fits-all GC is absolutely not fitting us.  I think these are the relevant features of our use case:
- High base load of memory, which the non-generational GC must completely scan every cycle.
- CPU-intensive background processes that also allocate lots of temporary memo

[2017-08-26 00:19] yanolab opened #21634 "archive/zip: support "end of central directory record comment" (not file header comment)"
ZIP formart has 2 types comment.
First, Central directory file header comment. This is already supported.
Second, End of central directory record comment. Read this comment is supported, but Write is not supported yet.

(more detail of zip format, see also: https://en.wikipedia.org/wiki/Zip_(file_format))

Not supported go source code is bellow.
https://github.com/golang/go/blob/master/src/archive

[2017-08-26 00:38] dsnet commented on #21634
For symmetry with `Reader`, it is probably better to add a `Writer.Comment` field with the documentation that it must be set before `Writer.Close` is called.

But the feature request sounds good to me.

[2017-08-26 02:00] kjk commented on #21380
Just noting that some dwarf fix, not necessarily related, was made: https://github.com/golang/go/commit/38bd725bf1d20c32487ae7e12e37c0060a46ac0f

[2017-08-26 02:20] terrylewis60 commented on #21380
Stop sending shit all of you honkeys pass this message on

On Aug 25, 2017 7:00 PM, "Krzysztof Kowalczyk" <notifications@github.com>
wrote:

[2017-08-26 02:22] terrylewis60 commented on #21380
Stop sending shit all you honkeys

On Aug 25, 2017 7:20 PM, "Terry Lewis" <lewiset58@gmail.com> wrote:

[2017-08-26 02:42] posener commented on #17813
Another solution could have been something similar to the one chosen in the GNU [`env` command](http://www.gnu.org/software/coreutils/manual/html_node/env-invocation.html#env-invocation). Quoting:

[2017-08-26 04:13] yanolab commented on #21634
@dsnet
Thank you for your reply.
Certainly, you're right that for symmetry.
I'll add a field with the document.
However, I think `Reader.Comment` should not be settable.
I wonder why `Reader.Comment` is a settable field.

[2017-08-26 06:10] Manishearth opened #21635 "proposal: add copylocks-esque vet rule for sync.Map"
`go vet` currently checks if a lock type is passed by value (or otherwise copied). We should have a similar rule for 1.9's new `sync.Map`, which has similar constraints.

[2017-08-26 06:10] Manishearth commented on #21635
(I'm working on this)

[2017-08-26 07:25] Manishearth commented on #21635
cc @campoy this is the thing you mentioned in your talk today. Managed to write a patch! 😄

[2017-08-26 08:06] odeke-em commented on #21633
/cc @agl @FiloSottile and other crypto folks

[2017-08-26 08:47] luxas commented on #19425
@anguslees Please open a new issue with more details and cc me.
Really want to pin that down if there's an issue; it's not known I think

[2017-08-26 09:06] Konstantin8105 opened #21636 "website: bad view of playground for mobile"
### What version of Go are you using (`go version`)?
Website for Go1.9

### What operating system and processor architecture are you using (`go env`)?
ubuntu + chrome

### What did you do?

Open website www.golang.org
![1](https://user-images.githubusercontent.com/16690032/29740048-48a1f9d4-8a56-11e7-88f0-7c43d1618589.png)

After that open page "Project"
![2](https://user-images.githubusercontent.

[2017-08-26 09:13] nvartolomei commented on #21161
Some notes:

An interesting [experience report](http://joeduffyblog.com/2016/02/07/the-error-model/) from one of designers of Midori at Microsoft on the error models.

I think some ideas from this document and [Swift](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/ErrorHandling.html) can apply beautifully to Go2.

Introducing a new  reseved `t

[2017-08-26 09:21] Konstantin8105 commented on #20662
All task from that issue are closed. So, we can close.

[2017-08-26 09:21] #20662 closed

[2017-08-26 10:35] artyom opened #21637 "net/http: mention RegisterOnShutdown in Shutdown docs"
[http.Server.RegisterOnShutdown](https://github.com/golang/go/commit/1a63f116c11acdbd1b11c38dbdcaeb4e4ba0a94e) was introduced in 1.9 cycle, but it's not mentioned in the release notes, so it's easy to miss, even if it's useful to you.

[Documentation for http.Server.Shutdown](https://golang.org/pkg/net/http/#Server.Shutdown) (that was introduced in 1.8) states:

IMO this is a good place to mention

[2017-08-26 11:14] FiloSottile commented on #21633
We added the AES_128/SHA256 variant in #15487. Off by default because #13385.

This would be the only suite with a SHA384 MAC.

Not a fan of enabling CBC to keep going on in this world (as opposed to AEAD modes) except as a backwards compatibility crutch. But based on what @agl decides, happy to implement it.

[2017-08-26 11:25] mkevac commented on #14812
@dkisman-laserlike can you please share your patch?

[2017-08-26 12:23] leonklingele opened #21638 "cmd/go: 'go vet --shadow' not detecting shadowed variable"
### What version of Go are you using (`go version`)?
1.9

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
darwin/amd64, linux/amd64

### Steps to reproduce

[code]

### Actual & expect result
`go vet` correctly reports three shadowed vars (in line 134, 142, 145, the ones marked with `// nolint: vetshadow`),

[2017-08-26 13:52] josharian commented on #20022
For IV (the extra move), see #21572.

[2017-08-26 13:58] josharian commented on #21635
This should still be discussed as a proposal. That said, I don't understand why the existing copylock check doesn't already handle this--sync.Map contains a Mutex field, and copylocks should notice that that is getting copied and complain.

[2017-08-26 14:17] josharian commented on #21090
Just failed again on a trybot: https://storage.googleapis.com/go-build-log/f8bd34ff/linux-amd64-race_a10fd3d5.log

[2017-08-26 14:29] josharian opened #21639 "runtime: apply strength reduction optimizations to generic map routines"
CL 57590 applied strength reduction to the key pointers in some mapfast routines. This is a reminder issue to check whether similar optimizations can fruitfully be applied to any of the generic map routines (access, assign, delete, etc.).

cc @martisch

[2017-08-26 14:55] josharian opened #21640 "runtime: improve barrier implementation layering"
This is a migration of some discussion in [CL 37628](https://golang.org/37628).

bulkBarrierPreWrite calls writebarrierptr_prewrite1 repeatedly. Every call to writebarrierptr_prewrite1 does some sanity checks and hops on and off the system stack. This seems silly.

@aclements wrote:

I wrote:

@aclements wrote:

---

There are several TODOs here:

1. Improve the layering.
2. Figure out whether typ

[2017-08-26 15:25] wolf0403 opened #21641 "runtime: heap size increases from go1.8b2 to go1.9 (for map objects?)"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.8beta2 darwin/amd64
go version go1.9 darwin/amd64

### Does this issue reproduce with the latest release?

go1.9 is the latest release.

### What operating system and processor architecture are you using (`go env`)?

$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOH

[2017-08-26 16:00] Manishearth commented on #21635
Oh, I'm not arguing against discussing it as a proposal, just wanted to tell francesc I finished it.

The existing check already handles this, yes. But that depends on an implementation detail of `sync.Map` which may change at some point. It seemed like folks wanted a separate check for this.

[2017-08-26 17:14] kardianos commented on #20268
Could you sketch/expand on that concept of a sync open that bypasses the
pool?

On Thu, Aug 24, 2017, 00:29 INADA Naoki <notifications@github.com> wrote:

[2017-08-26 17:31] FChris opened #21642 "crypto/rsa: pss.go contains now dead link to RSA v2.2 standard"
The link to [pkcs-1v2-2-rsa-cryptography-standard](http://www.rsa.com/rsalabs/pkcs/files/h11300-wp-pkcs-1v2-2-rsa-cryptography-standard.pdf) in [crypto/rsa/pss.go](https://github.com/golang/go/blob/master/src/crypto/rsa/pss.go) (line 9) is not working anymore.

What is the correct link that should be in this comment?

[2017-08-26 17:41] carlmjohnson opened #21643 "proposal: x/tools/present: make CSS responsive for mobile"
I often follow links to present slides from my phone, only to be frustrated with the difficulty of reading the slides from my phone. I propose redoing the CSS for mobile. I am willing to volunteer to do the work if I get approval to work on it.

[2017-08-26 18:17] markdascher commented on #20676
This is related to #13164, which was solved [a different way](https://github.com/golang/go/commit/70c9a8187a2732f969aaaa78e0e6f139d04ef3eb).

Looks like the proposed solution has the same idea, just using an entire spare thread as the "known good" state instead of just initSigmask, which is likely to be redundant after this fix goes in. (Because [ensureSigM](https://github.com/golang/go/blob/61263

[2017-08-26 18:18] demonshreder opened #21644 "proposal: x/crypto/blake2b: Make blake2b compatible with crypto/hmac"
hmac.New() requires a function[1] that returns hash.Hash, which is what sha1,sha256,sha512 do but this thing changes with blake2b as it returns an error along with hash.Hash[2] which makes it incompatible with hmac.New().

Creating a hmac now with blake2b requires manual intervention, it would nice to support hmac out of box. I don't know how this could be done without breaking the existing API as

[2017-08-26 18:19] glycerine commented on #21420
Upon prototyping the net.Conn approach, I discovered that the deadline is too low level to be useful with io.Copy(), in paritcular for sending big files that need some time to complete. Instead I've implemented a high level idle-timeout facility in my branch
https://github.com/glycerine/xcryptossh  See that README for discussion. I'll change the title here to reflect this discovery.

[2017-08-26 18:32] markdascher commented on #20395
May also be worth auditing references to UnlockOSThread to make sure they're being used appropriately. [This one](https://github.com/golang/go/blob/6126384f6da7866fb0a0ec2e33509306c738c40b/src/runtime/signal_unix.go#L521) from ensureSigM seems debatable. (The goroutine never exits, as far as I can tell. But if it did, you wouldn't want the thread to be reused.)

[2017-08-26 20:13] billyh commented on #19412
This week's Golang Weekly cited a Reddit article discussing complaints that error handling in Go is "ugly, cluttered and hard to read":
[https://www.reddit.com/r/golang/comments/6v07ij/copypasting_if_err_nil_return_err_everywhere/](url)

The thread suggested that this keyboard could help:
[https://pbs.twimg.com/media/DCIF7-2W0AEAv9c.jpg](url)

[2017-08-26 20:16] odeke-em commented on #21642
Thanks for reporting this @FChris! Yeah that link is now dead I've pinged RSA via the Twitter blackhole https://twitter.com/odeke_et/status/901538219501563908.
In fact even trying to visit https://www.rsa.com/rsalabs gives a 404.

/cc @agl @FiloSottile for some ideas/alternatives.

[2017-08-26 21:01] mvdan commented on #5637
Item 3 (a restricted version of it) is at https://github.com/golang/go/issues/20131, accepted as a proposal.

[2017-08-26 23:30] shurcooL opened #21645 "playground: gofmt/goimports error out on type alias syntax (likely because compiled under Go 1.8 rather than 1.9)"
### What did you do?

Visit https://play.golang.org/p/mxWrzSFu_W.

Keep "Imports" checkbox unchecked, press the Format button.
Check the "Imports" checkbox, try pressing the Format button again.

### What did you expect to see?

Successful execution of gofmt/goimports each time.

### What did you see instead?

With gofmt:

[code]

With goimports:

[code]

### Possible Cause

This is possibly relat

[2017-08-26 23:33] glycerine commented on #20288
My experimental fork https://github.com/glycerine/xcryptossh provides Dial with context and idle timers for Read/Write unblocking.

[2017-08-27 02:04] odeke-em commented on #21641
/cc @aclements @RLH

[2017-08-27 02:06] odeke-em commented on #21637
@artyom thank you for noticing and reporting this! Would you like to make a CL for this?

Meanwhile I'll ping @bradfitz @rsc @broady on whether we can retroactively update these docs.

[2017-08-27 02:34] odeke-em commented on #21645
/cc @broady @campoy

[2017-08-27 03:22] odeke-em commented on #21631
/cc @josharian @mdempsky @griesemer and all of the compiler squad

[2017-08-27 05:33] ulikunitz commented on #21642
The new link seems to be:
 https://www.emc.com/collateral/white-papers/h11300-pkcs-1v2-2-rsa-cryptography-standard-wp.pdf

You can find it under the Wikipedia entry https://en.wikipedia.org/wiki/PKCS_1

[2017-08-27 05:43] odeke-em commented on #21642
Thank you @ulikunitz. Yeah, I saw that too and thought it made sense since EMC acquired RSA.
@FChris or @ulikunitz please feel free to send a CL updating it.

[2017-08-27 06:16] robpike commented on #21638
The -shadow option on vet is documented to be poor; that's why it's not enabled by default. There are many outstanding bugs against it and maybe someday someone will redo it with a better algorithm to make it more robust.

Regardless, line 152 isn't really shadowing, since the variable it creates doesn't hide one earlier in any semantically detectable way. In other words, although it has the same

[2017-08-27 06:43] leonklingele commented on #21638
How is line 152 any different than 134, 142 or 145 which are detected by `--shadow`? There is at least some inconsistency.

[2017-08-27 07:00] alexbrainman commented on #21608
@gfoxiii I cannot reproduce your problem. I used administrator account to clone go repo and build it with make,bat, and then used my own user account to run clean.bar and all.bat. All commands successfully run to completion. Can you provide exact steps for me to reproduce your problem, please?

And also explain why use different accounts to install and use Go? Should this even work?

Thank you.

A

[2017-08-27 07:19] Chen-tao opened #21646 "go get error 'flag provided but not defined: -goversion'"
### What version of Go are you using (`go version`)?
$ go version
go version go1.9 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]

[2017-08-27 07:27] cznic commented on #21646
[code]

[2017-08-27 07:30] #21646 closed

[2017-08-27 08:53] hirochachacha commented on #18190
I just finished investigation. I'm going to send CLs. Thanks.

[2017-08-27 09:36] chmike commented on #21617
Sorry, I don't understand. `jwt.StandardClaims` is an **embedded struct**. So I expect I must put the embedded **struct type name**.

It works for `sync.Mutex`. https://play.golang.org/p/MRIeAFNKPT.

Why doesn't it work for `jwt.StandardClaims` ?

Is the error in the litteral with names where I should have written the field name`StandardClaims` instead of `jwt.StandardClaims` ?

[2017-08-27 09:52] hirochachacha opened #21647 "cmd/link: vmsize of __DWARF should not be zero on darwin"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

Re-enable plugin mode for darwin/amd64.
[code]
Then try the trivial example in https://golang.org/pkg/plugin/

#### What did you expect to see?
success.

#### What did you see ins

[2017-08-27 10:16] valyala commented on #21559
This may be related to #21621 and #21550 during compilation of a package with many files. As I uderstand, currently each file may be concurrently opened and read in a separate OS thread if the corresponding file I/O syscalls (cgo calls) are slow.

[2017-08-27 10:22] ulikunitz commented on #21642
I provided https://golang.org/cl/59351. I guess it requires a reviewer.

[2017-08-27 12:04] Chen-tao commented on #21646
Maybe it's some files missing when I install with brew, after reinstall it's fixed.
Thanks for tip.

[2017-08-27 12:19] anacrolix commented on #20734
These options still aren't shown in master.

[2017-08-27 13:17] kirillx commented on #21161
Suggestions you write are exactly described in Midori link with all the bad
sides of it... And one obvious consequence from "throws" will be "people
hate it". Why should one write "throws" every time for most of the
functions?

BTW, your intention to force errors to be checked and not ignored can be
applied to non-error types as well and imho better to have in a more
generalized form (e.g. gcc __a

[2017-08-27 13:32] rishiloyola commented on #17601
I facing the same problem for the first tick. I would suggest Golang developer to provide this feature.

[2017-08-27 14:48] OneOfOne commented on #21641
Am I reading the numbers wrong? because it *is* slightly faster while only using 3 extra MBs.

[2017-08-27 16:02] methane commented on #20268
For user level, it's very similar to `db.Conn(ctx)`

[code]

db.NewConn(ctx) uses `db.connector.Connect(ctx)`, without touching pool.

[2017-08-27 17:12] OneOfOne opened #21648 "cmd/test: go test -memprofile outputs a broken profile."
I spent quite a bit trying to debug this until I realized just removing `-benchmem` fixes it.

[code]

[2017-08-27 17:21] MatejB opened #21649 "regexp: example for Regexp.Expand"
I found [Regexp.Expand](https://tip.golang.org/pkg/regexp/#Regexp.Expand) missing a simple example of use and would like to contribute one.

Although function has fair amount of documentation, it's usage was unclear to me at first passing through regexp package documentation. I find it very useful in everyday work.

The example would be similar to https://play.golang.org/p/Ok-F8RvwSO

[2017-08-27 18:16] mvdan commented on #20734
@anacrolix pprof is vendored in the Go tree, and it is updated regularly. Since the upstream issue was fixed 5 days ago, I guess the vendored copy hasn't been updated since. It will definitely be updated before 1.10 is released.

[2017-08-27 18:57] ghasemloo commented on #9859
How much should we be consistent with assignments? If 1 is a compile error should the following also be a compile error?
https://goplay.googleplex.com/p/9CL_5Owvzi

For 2, in assignments you would get a runtime error. I feel the idea of allocation on the fly can obscure memory allocation and if you have multiple nested embedding a simple int assignment would do a lot more than a user would expect

[2017-08-27 20:14] luca-moser opened #21651 "proposal: allow a slice of an impl. type to be the same as a slice of the interface"
### Problem
One function has to be programmed which works by iterating over a slice of the interface type `AccessControlledEntity` which tells whether all objects pass the access flag criteria:

[code]
When having a type `A` which implements an interface `I`, a slice of type `A` can not be passed as a slice of type `I` to a function. In my use case I have a type `Document` which holds an ACL and i

[2017-08-27 20:26] valyala commented on #21525
Cc'ing @agl

[2017-08-27 20:33] a-h commented on #21649
Nice. I added a bit more text to the example to explain what's going on, is that helpful do you think? https://play.golang.org/p/JbEaidJtim

[2017-08-27 21:30] james-lawrence commented on #20268
What is the advantage over having the individual driver just implement this? why does it belong in the sql package?

[2017-08-27 21:57] davecheney commented on #17601
@rishiloyola this issue was closed on the 13th of June. Please do not comment on closed issues. I am locking this conversation to prevent further comment here. If you want to continue the discussion please consider opening a new issue, or see https://golang.org/wiki/Questions for good places to discuss Go. Thanks.

[2017-08-27 22:22] iamclaytonray opened #21652 "`go run` and `go build` does not compile/run"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go1.9 darwin/amd64

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
macOS Sierra 10.12.6 - amd64

### What did you do?

If possible, provide a recipe for reproducing the error.
A complet

[2017-08-27 22:31] iamclaytonray commented on #21652
Apparently, I manually had $GOROOT defined in my bash_profile, I removed it, and it's working fine now. I'll go ahead and close the issue.

[2017-08-27 22:31] #21652 closed

[2017-08-27 22:59] davecheney commented on #21621
I'd prefer to keep this one over #21550 as this one has

a. a regression report.
b. a way to reproduce the issue.

On Sat, Aug 26, 2017 at 3:37 AM, Alberto Donizetti <notifications@github.com

[2017-08-27 23:11] davecheney commented on #21621
I was not able to complete the reproduction due to a missing dependency
[code]

On Mon, Aug 28, 2017 at 8:59 AM, Dave Cheney <dave@cheney.net> wrote:

[2017-08-27 23:46] caglar10ur commented on #21621
@davecheney ah yeah, the original repo is under vmware not caglar10ur :/ An ugly workaround like following should do trick;
[code]

[2017-08-27 23:55] davecheney commented on #21621
This is what I see when I reproduce the issue
[code]

[2017-08-28 00:08] caglar10ur commented on #21621
Unfortunately ```go build -x -i ./cmd/docker``` will work only if you run swagger to generate those files before, that's why I suggested using make target as it does that for you.

One thing that I realized just now is, the make target also tries to install swagger on your GOPATH so if you don't want that then I suggest using a vm/container or a temporary GOPATH

[2017-08-28 00:19] caglar10ur commented on #21621
@davecheney the same set of files are also visible on the build.log that I provided (https://github.com/golang/go/issues/21621#issuecomment-325055004) and unless I made a mistake to extract them via grep, I believe we are talking about 1834 files.
[code]

[2017-08-28 00:21] dsnet commented on #21651
One major problem is that `[]T` has an entirely different memory layout as `[]I`, and so you can't just shoe-horn the former into the later. Supposing, you runtime hide this fact from the programmer, what happens when you try and write into `[]I` with an object of type `R` that also happens to satisfies interface `I`?

The problem you are seeing is a widely studied topic called the [covariance and

[2017-08-28 00:21] mdlayher commented on #21651
Sorry, hit the wrong button.

[2017-08-28 00:45] deepch opened #21653 "The binary size is growing. 1.9 vs 1.8"
I'm trying to make small applications for IP cameras. But with each version the size is bigger and bigger.

go version go1.9 darwin/amd64 vs  1.8

i test make

`export GOPATH=/Users/deepweb/Desktop/work/ipeye/ivs/
#linux
GOOS=linux GOARCH=mipsle go build -ldflags="-s -w" -o ./build/cloud_linux_mipsle.run *.go
./bin/goupx ./build/cloud_linux_mipsle.run

GOOS=linux GOARCH=mips go build -ldflags="-s

[2017-08-28 00:52] davecheney commented on #21621
The odd thing is I couldn't trigger the error consistently. I could trigger
it enough to convince myself that there is a regression, but I'm wondering
why sometimes the build works, and other times it fails for that package.
It would appear the issue is more complicated than just opening all the
files passed to the compiler at once, then processing them.

On Mon, 28 Aug 2017, 10:19 S.Çağlar Onur <

[2017-08-28 01:17] dcheney-atlassian commented on #21621
Here is a reproduction which fails reliably with go 1.9 and appears to pass reliably in go 1.8
[bug.tar.gz](https://github.com/golang/go/files/1254855/bug.tar.gz)

[code]

[2017-08-28 02:05] ezekg opened #21654 "Proposal: retain query params for http.FileServer directory links"
When using `http.FileServer`, query params are not retained for the displayed links when listing a directory's contents. I've run into an issue where I'm using middleware for authentication via query params, but the params are not retained, resulting in broken links because the middleware rejects further requests without the authentication.

### Example files
[code]

### Example program
[code]

##

[2017-08-28 02:26] runner-mei opened #21655 "cmd/compile: "offset too large" error"
### What version of Go are you using (`go version`)?
go version go1.9 windows/amd64

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?
go env
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=d:\dev\go\meijing\;d:\dev\\tpt_vendor;d:\dev\Godeps\_workspa

[2017-08-28 02:31] dsnet commented on #21655
Hi. We're going to need something more than a screenshot to help debug this. At least paste a minimal reproduction of the problem.

\cc @randall77 @josharian

[2017-08-28 02:36] alexbrainman commented on #21027
@pkch can you, please, try https://go-review.googlesource.com/59411 to see if it fixes your problem?

Thank you.

Alex

[2017-08-28 02:41] runner-mei commented on #21655
@dsnet this code is private,  if you can promise not to spread it, nor use it elsewhere, and delete it after finding out the problem,  I can send this code to your mail.

[2017-08-28 03:04] benshi001 commented on #19843
MULBB/MULABB have no improvement compared to MUL/MULA.

[2017-08-28 03:10] methane commented on #20268
As I noted above, GAE/Go has special requirements: context bound to request is needed to use TCP.
Current `db.Conn(ctx)` uses `ctx` only for timeout.  Connection got doesn't bound to the context.
So, `database/sql` cannot be used for TCP based protocol on GAE/Go for now.

Another reason is flexibility.  Currently, `database/sql` provides pool and driver abstraction.
But pool behavior may match use

[2017-08-28 03:30] zhaozhiqianghw opened #21656 "Proposal: store ptabs for more packages with more functions"
`ptabs` is a very useful slice as a field in `moduledata`

[code]

But, this information is only stored in `plugin` package.
[code]

Why not extends this information for all symbols? Why only for exported symbols in plugin?

[2017-08-28 03:43] daiweisong commented on #21492
别他妈的发了傻逼

发自网易邮箱大师
On 08/28/2017 11:42, GopherBot wrote:

Change https://golang.org/cl/58450 mentions this issue: cmd/compile: optimize ARM with more efficient MOVB/MOVBU/MOVH/MOVHU

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-28 04:14] yaegashi opened #21657 "cmd/compile: stack overflow on invalid map key type"
### What version of Go are you using (`go version`)?

go version go1.9 linux/amd64

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Attempt to build the following program:

[code]

### What did you expect to see?

`go build` should report something like recursive type errors,

[2017-08-28 04:17] dsnet commented on #21655
Please don't send me anything. I have reported on compiler bugs before. You should be able to use process of elimination to eventually trim the problem down to a snippet that is safe to share. For example, #20333.

[2017-08-28 04:23] dsnet commented on #21657
This stack overflows since Go1.5, and seems to infinite loop on Go1.0 to Go1.4.

[2017-08-28 04:23] dsnet commented on #21657
\cc @randall77 @josharian

[2017-08-28 05:05] ianlancetaylor commented on #21656
Why?  What would the runtime package do with the information?

[2017-08-28 05:12] #21409 closed

[2017-08-28 05:27] #21642 closed

[2017-08-28 05:28] zhaozhiqianghw commented on #21656
We have a situation that Go needs configuration to initialize the application. The information is from the configuration file that contains lots of string to represent the type and the name of a function. Go does not support such kind of ability to do this. So we have to write such a package to extend Go. The only thing that we can not do that is the association of the name of the function and the

[2017-08-28 05:32] #21654 closed

[2017-08-28 05:34] josharian commented on #21657
@mdempsky

[2017-08-28 05:36] ianlancetaylor commented on #21638
The `-shadow` warning is documented to only be issued if the shadowed variable is used after the shadowing variable is declared.  That does not happen at line 152.

Closing because the tool is acting as documented.

[2017-08-28 05:36] #21638 closed

[2017-08-28 05:39] ianlancetaylor commented on #21559
@valyala In this case the calls should not be slow, because when using a pipe all I/O should be done using non-blocking calls.

[2017-08-28 05:42] ianlancetaylor commented on #21656
If you want to extend Go in some way, let's talk about that.  It does not make sense for us to provide information in the `ptabs` slice if nothing in the standard runtime is going to use it.

[2017-08-28 05:59] vielmetti commented on #21559
OK, adding to the puzzle:

[code]

just worked perfectly on the same machine, no errors; building `master` also gave me no errors. But building `go1.9rc2` did again error out on `os` just the same way as it did originally.

Curious!

[2017-08-28 06:09] zhaozhiqianghw commented on #21656
That's great. When using plugin, we can write codes below
[code]

The varible `sub` above really has the `_func` and `type` of function `Sub`.

But if we make the case in the function of no-plugin package, we have to write codes like this
[code]

In this way, `extends.Lookup` is quite ugly. We have to supply the type of "Sub". Using the typestr, we can find the "_type" in `runtime`, and can make t

[2017-08-28 06:21] velovix commented on #20148
I have since found out that `fmt.Println` returns an error, which is itself reason enough for me to be convinced that some errors should be ignored in practice.

[2017-08-28 07:25] mvdan commented on #21653
Duplicate of #6853, which we use as an umbrella issue for this. Unfortunately, that issue is locked so I can't tell you to place your data points in a comment if you wish to. I'll just link to this issue from there and close this one.

[2017-08-28 07:25] #21653 closed

[2017-08-28 07:59] galric commented on #21585
I find the issue only appear on cpu9 of this machine, using this blew code.

[code]

I tried many times, and all results were the same
[code]

Other cpus are good.

Dose any other c(c++) function also use this 'PCMPESTRI', so that i can prove it is the matter of cpu9?  I tried 'string.find' and it works well on this cpu

[2017-08-28 08:10] bmkessler commented on #15833
@griesemer I had a go at implementing a basic version of Lehmer's algorithm and got the following results for the problem benchmark above on my machine.

Current binary GCD code:
14.189023248s

Lehmer's algorithm:
2.247663627s

For around a 7x speed up, but it is still about a factor of two slower than the gmp wrapper 1.010165176s

It should be straightforward to use Lehmer's algorithm on the exte

[2017-08-28 08:16] BTooLs commented on #20588
I think #5477 is what you were looking for, was FrozenDueToAge (and it's duplicate #5476)

[2017-08-28 08:21] landsnail opened #21658 "x/mobile: gomobile bind fails when GOPATH="""
use 1.8.3
gomobile build and install was success but fail with bind

the console log:

gomobile: loadExportData failed go install -pkgdir=/Users/landsnail/go/pkg/gomobile/pkg_android_arm -gcflags=-shared -ldflags=-shared test failed: exit status 2
go: GOPATH entry is relative; must be absolute path: "".
For more details see: 'go help gopath'

oh, i am using mac with OSX system.

if someone can rep

[2017-08-28 08:45] prasannavl opened #21659 "proposal: Go 2: function overloading"
This has been talked about before, and often referred to the FAQ, which says this:

[code]

Perhaps, this was the an okay decision at the point of the initial design. But I'd like to revisit this, as I question the relevance of that to the state of Go today, and I'm not sure just adding a section in the FAQ fully justifies a problem.

# Why?

## Complexity level is low to implement it in Go

Funct

[2017-08-28 09:16] victorlwf opened #21660 "Problem for Locale Emulator Version 2.2.1.0 after update Window 10"
Please answer these questions before submitting your issue. Thanks!
---------------------------
Locale Emulator Version 2.2.1.0
---------------------------
Error Number: C0000142

Commands: "C:\wh6通用版\mytrader_whsp.exe"

Microsoft Windows NT 10.0.15063.0 x64

NTDLL.DLL: 10.0.15063.447

KERNELBASE.DLL: 10.0.15063.502

KERNEL32.DLL: 10.0.15063.296

USER32.DLL: 10.0.15063.0

GDI32.DLL: 10.0.15063.483

[2017-08-28 09:23] davecheney commented on #21659
In Go a function can be assigned to a variable or passed as a parameter. If functions can be overloaded, how will programmers indicate which variant of an overloaded function they meant?

[2017-08-28 09:36] forskning opened #21661 "compress/gzip: issue6550 test fails"
System: Slackware Linux (version 14.0)
CPUs: Intel(R) Atom(TM) CPU N270 @1.60GHz
Deps: go1.4-bootstrap-20170531.tar.gz,
go1.9.src.tar.gz

I created a package for installation on Slackware-14.0 (32bit) here.

I've never seen this output before near the end of running a .SlackBuild script.

This also occurs with version 1.8.3.

WARNING:  gzip test failed on usr/lib/go1.9/go/src/compress/gzip/testdat

[2017-08-28 09:42] MatejB commented on #21649
@a-h good point. Most examples are minimal but in this case it could be useful to reader to have a bit of explanation.

[2017-08-28 10:11] forskning opened #21662 "doc: add checksum for go1.4-bootstrap"
How about adding a Checksum in parentheses next to go1.4-bootstrap-20170531.tar.gz?

https://golang.org/doc/install/source

[2017-08-28 10:20] prasannavl commented on #21659
@davecheney - Solutions make to sure things are compatible, and the semantics of the language doesn't change beyond what it has to be, can be discussed. But I feel, it's only productive to do so, if the problem is acknowledged and there is a willingness for it to be solved. So, far, I've unfortunately only seen deflection and being just marked as unfortunate rather than to even attempt to solve it

[2017-08-28 10:45] cznic commented on #21659
While the proposal author is completely entitled to any opinion, the form of its presentation makes me uncomfortable.

Random samples:

Opinion, but presented like a fact.

Wrong, I do.

Wrong, I disagree.

Using words like ridiculous with regard to someone's else work really doesn't help your case.

And so on.

[2017-08-28 10:53] as commented on #21659
Calling something ```badly designed``` is easier than demonstrating it by example. If I see FindIndexString, I know I have a string. In your proposal, I have to look further and continue using human cycles to determine which FindIndex I'm looking at. I generally read more Go than I write Go by an order of magnitude so that "String" suffix saves me quite a bit of time over the years.

I don't think

[2017-08-28 10:59] prasannavl commented on #21659
@cznic My apologies. Disregarding some one else's work wasn't my intention. If I've come across so - I do apologize. However, my emphasis on the using the words "ridiculous", and "horrific" weren't to disregard them - but to indicate on the fact that they aren't the best design, that has over time has been accepted to be okay.

I strongly believe they are APIs such as this
[code]
are horrible APIs

[2017-08-28 11:02] prasannavl commented on #21659
@as, The semantic meaning of `FindIndexString` is **find the index string**, not **find the index from a string** (which is what the API means). This is my point, it has been so common for things to be misguided, that it has become OKAY to do so - which is not good.

[2017-08-28 11:15] as commented on #21659
You are missing the point. There is no ```FindIndexString```. The function is ```regexp.FindStringIndex.``` I did not initially correct your error--it was irrelevant to your proposal and my response to it.

[2017-08-28 11:25] prasannavl commented on #21659
@as, I would argue that reading a `FindIndex` conveys all the meaning, and even simplifies the code. It doesn't take anymore human cycles, as you already know that it find the index of the thing that you pass into it, regardless of what it is. The intent is very clear. And if you go ahead and change it to a byte representation above, the semantics are persevered as such with no changes.

However,

[2017-08-28 12:40] valyala commented on #21516
This restriction sounds strange. It is based on a weird corner case that should never happen in real code. How many `io.Reader` implementations exist in the wild that keep references to buffer memory passed into `Read` call and then modify this memory after returning from `Read` call? I think the number of such `io.Reader`s is close to 0. Additionally, race detector should detect such cases.

[2017-08-28 12:52] prasannavl commented on #21659
@as, I don't believe I made a typo calling it `FindIndexString`. And I see, you've edited your comment, that removes where you claimed I made a typo. But this only makes my case.

`FindStringIndex`,  `FindIndexString` are all so confusing that it's common. Whereas `FindIndex` is obvious and very clear.

[2017-08-28 13:51] prasannavl commented on #21322
I think a better way to handle this would be to take a page from how `Rust` does this. `OpenFile` doesn't take any arguments other than the name, with sensible defaults, and `OpenOptions`  - a builder pattern that handles the OS specific ways.

I think this is far superior design. I find myself using `fileMode` which is a completely useless parameter in Windows.

[2017-08-28 14:01] vmg opened #21663 "database/sql: Drivers cannot deprecate Queryer and Execer"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes, all releases since 1.8

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

According to the docs in `database/sql/driver`, the `Queryer` interface for SQL drivers is deprecated and `QueryContext` should be implemented

[2017-08-28 14:10] #19157 closed

[2017-08-28 14:42] runner-mei commented on #21655
[code]
[main.zip](https://github.com/golang/go/files/1257172/main.zip)

it is ok on the linux.

[2017-08-28 14:58] opennota commented on #21655
It's not on my machine.

[code]

[2017-08-28 15:06] runner-mei commented on #21655
@opennota yes, I made a mistake, it is fail also on the linux.

[2017-08-28 15:09] ezekg commented on #21654
Nevermind—basic auth is probably a better option here.

[2017-08-28 15:12] ianlancetaylor commented on #21659
I've relabeled this as a proposal, but in fact there is no full proposal here.  Perhaps this discussion should be moved to the golang-nuts mailing list.

I understand that the goal is to first say that function overloading could be added to Go 2, and to then discuss how it might work.  But Go language changes don't work that way.  We aren't going to say it's OK in principle, and lets figure out th

[2017-08-28 15:12] aclements commented on #21641
I'm not sure what the issue here is. Your first example runs *faster* by all metrics in Go 1.9 and your second example consumes less user and system time with Go 1.9, which suggests that the slightly higher real time is from system noise or frequency scaling. I'm not particularly concerned about a 0.5% increase in RSS (especially without statistically significant evidence that there actually is a

[2017-08-28 15:17] SamWhited commented on #21345
Closing this for now as there's still some uncertainty around the best way to do this. May reconsider later.

[2017-08-28 15:17] #21345 closed

[2017-08-28 15:21] SamWhited commented on #20504
@agl ping, the open questions could still use your consideration. If this isn't something you want to do or have time for, I will close this for now since I'm done with the project I needed it for. Let me know; thanks!

[2017-08-28 15:26] dr2chase opened #21664 "wiki: Would like a page to list community benchmarks"
### What did you expect to see?
A table listing important benchmarks from the open source community, so that Go compiler and runtime developers can get a better idea of which optimizations matter and which do not, and to avoid performance surprises late in the release cycle.  The existing go1 benchmark suite is not that good.

Ideally these benchmarks would have the following properties:
 - they s

[2017-08-28 15:28] ianlancetaylor commented on #21661
I don't know what the .SlackBuild script does.  There should be more information printed somewhere, showing what exactly failed.  Can you find that?

Note that compress/gzip/testdata/issue6550.gz is a binary file, so please verify that it was not corrupted anywhere during the build process.

[2017-08-28 15:34] #21649 closed

[2017-08-28 15:34] judepereira commented on #21216
@kevinburke What's the importance of the reviewer column? Is it still being used?

[2017-08-28 15:37] ianlancetaylor commented on #21656
It sounds like you are suggesting that there should be a way to look up any function given its name.  We've always resisted that in Go, because it means that the linker can not safely discard unused functions.  Even for a function that is called, consider the case where the compiler inlines all calls to it, so that the function is no longer emitted.  If we provide a way to look up a function by na

[2017-08-28 15:58] kevinburke commented on #21216
Reviewer column in Gerrit is similar to the "Assign X" field in Github - it designates the person responsible for giving a Code-Review +2 to the PR.

If there's any way to break this up into chunks - I'm happy to review smaller parts to avoid any confusion.

[2017-08-28 16:01] prasannavl commented on #21659
@ianlancetaylor - Thanks. Correct me if I'm wrong, but I understood this to be more of a philosophical change than a technical one, and a controversial topic to start a proposal without some feedback.

Because, technically, as you said, Go doesn't suffer from the complexities of C++. In fact, both of the above that you stated can be easily solved with simply disallowing all implicit conversions wh

[2017-08-28 16:11] #21492 closed

[2017-08-28 16:18] judepereira commented on #21216
Thanks, got it. Going to implement something similar to what it was in godash earlier.

[2017-08-28 16:19] #21637 closed

[2017-08-28 16:21] #21625 closed

[2017-08-28 16:49] dsnet commented on #21661
issue6550.gz is an intentionally corrupted file used in the unit tests... why does SlackBuild care about inspecting whether it is valid or not?

[2017-08-28 16:55] Tim15 commented on #13078
Any new developments on this? (no pun intended)

[2017-08-28 16:56] kevinburke commented on #21664
A good place to start would probably be the list of "Popular Packages" here, which I think measures how many times a given package is imported... if the packages in that list have benchmarks, we could add them.

https://godoc.org/

[2017-08-28 17:02] neild commented on #9859
The assignment rules already cover the case where the same value (or part of a value) appears multiple times in an assignment.

[2017-08-28 17:22] martisch commented on #21659
Would the suggested very easy optimization of Printf e.g. fmt.Printf(string, string) need to also duplicate and specialise the underlying interface{} functions that are used by fmt.Printf:
Fprintf, doPrintf, ... which also take an interface to not just allocate later?

[2017-08-28 17:24] tombergan opened #21665 "net: Resolver background goroutine races with uninstallTestHooks"
This is a test-only data race.

https://storage.googleapis.com/go-build-log/ca8fe3e8/linux-amd64-race_3cc1cfdc.log

[code]

[2017-08-28 17:47] #20712 closed

[2017-08-28 18:00] tombergan commented on #21603
Here is the documentation for LocalAddrContextKey:

[code]

@sabey, that looks correct to me? #18686 fixed a bug where LocalAddrContextKey used the listen address instead of the actual accepted address (where they could differ if the listen address was a wildcard). The fixed behavior seems to match the above comment.

As to whether or not this belongs in the release notes, I don't feel strongly an

[2017-08-28 18:13] prasannavl commented on #21659
@martisch - I wouldn't say duplicate, but of course, it will have to go all the way down.

The type assertion for the string which happens today, will have to be refactored into its own tiny method, which the underlying implementation for the specialization will have to directly call.

[2017-08-28 18:14] dkisman-laserlike commented on #14812
The code we added to runtime was really really basic; we didn't even bother with atomicity.  Partly because importing `atomic` from `runtime` causes an import cycle. 😉  But here's our patch.
[runtime-v3.patch.zip](https://github.com/golang/go/files/1257758/runtime-v3.patch.zip)

[2017-08-28 18:18] griesemer commented on #21659
@prasannavl There's no doubt that it's possible to come up with rules that somehow handle overloaded functions (C++ can do it...). That said, there really is a complexity argument as @ianlancetaylor has mentioned already. As it is, a function or method is uniquely identified by its name, it is a purely syntactic operation. The benefit of that simplicity, which you may consider perhaps too simple,

[2017-08-28 18:26] as commented on #21659
Currently, the proposal seems to lack the engineering salience to seriously considered. Keep in mind that unless you are planning to create an experimental compiler and eventually working code, someone else from the Go team will have to implement this proposal.

In order to do that, there needs to be a perceived benefit that outweighs the cost of putting the change into the language. Ignoring the

[2017-08-28 18:42] odeke-em commented on #21664
@dr2chase awesome, thank you for starting this! It's great to see this up as a follow up of the team  discussions at the Go contributor summit.

So in regards to
[code]
For official contacts of the Ethereum benchmarks, kindly pinging @karalabe @fjl @gluk256: might y'all have some input on @dr2chase's questions?

[2017-08-28 18:46] ericlagergren opened #21666 "x/website: add support for languages other than English"
Right now the docs are only in English. There's [some support](https://github.com/golang/go/wiki/NonEnglish) for languages other than English, but the wiki page is merely a footnote.

Other projects—[like React](https://crowdin.com/project/react)—are attempting this as well. Not only does it give newcomers a (somewhat) easy way to contribute to Go, it also makes Go a more welcoming and inclusive p

[2017-08-28 18:48] bradfitz commented on #21665
Dup of #21090?

[2017-08-28 18:57] joshwlewis opened #21667 "website: Go 1.9 not listed in bucket contents at https://storage.googleapis.com/golang"
### What version of Go are you using (`go version`)?
1.9

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
`amd64`

### What did you do?

`curl https://storage.googleapis.com/golang | grep 'go1.9'`

### What did you expect to see?

Metadata about available go 1.9 downloads, such as `https://storage.googleapis

[2017-08-28 18:58] joshwlewis commented on #21667
Note that the `asdf` go installer relies on the bucket contents here. More on that [here](https://storage.googleapis.com/golang/go1.9.darwin-amd64.pkg).

[2017-08-28 19:07] ianlancetaylor commented on #21659
I think you are suggesting that it will be impossible to overload functions based on different interface types when it is the case that one of the interface types is assignment compatible with the other.  That seems like an unfortunate restriction.  It's already always possible to use a type switch to select different behavior at run time.  The only gain from using overloaded functions is to selec

[2017-08-28 19:10] ianlancetaylor commented on #21659
Also it will presumably be possible to overload methods, not just functions, so it becomes necessary to understand the meaning of method expressions and method values when they refer to an overloaded method.

[2017-08-28 19:11] kevinburke commented on #21664
I'd appreciate at least one benchmark that looks at UUID serialization. There are a few different packages.

[2017-08-28 19:18] cznic commented on #21659
Here the rule could possibly be to use the same default type constants have in short variable declarations, ie. `F(int)` (not listed in the example, so a compile error in this case)

[2017-08-28 19:21] ianthehat opened #21668 "cmd/cgo: "could not determine kind of name" for const int when using clang"
Compiling a trivial cgo program fails only with go1.9 on mac. It compiles on go1.8.3 for all platforms, and compiles for go1.9 on linux.

There are two files:
foo.go

[code]

foo.h
[code]
Note that if you change foo.h removing const it works.

#### What did you do?
[code]

#### What did you expect to see?
A successful build (or a more useful error message if you are not allowed to reference C.x, a

[2017-08-28 19:21] dr2chase commented on #21664
If you can name an example or two of UUID serialization benchmarks, I'll give them a look.

[2017-08-28 19:22] matijakevic opened #21669 "Type-defined struct and anonymous struct equivalency when passing by pointer"
### What version of Go are you using (`go version`)?
go version go1.9 darwin/amd64

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"

### What did you do?
I passed an type-defined struct to a parameter that accepts anonymous struct of the same

[2017-08-28 19:22] #21603 closed

[2017-08-28 19:23] ianlancetaylor commented on #21668
What does `clang --version` print?

[2017-08-28 19:23] jimmyfrasche commented on #21659
@cznic consider this code
[code]

That works but then `foo` adds `func F(byte)`. Now `bar.G()` no longer compiles until it's rewritten to use an explicit conversion.

There's also the case of embedding an interface an interface when they have overlapping overloads.

[2017-08-28 19:23] kevinburke commented on #21664
https://github.com/satori/go.uuid/blob/master/benchmarks_test.go
https://github.com/google/uuid/tree/master/json_test.go (other benchmarks in other files there)

[2017-08-28 19:23] kevinburke commented on #21664
for logging, uber/zap has a series of logging benchmarks for popular logging libraries

https://github.com/uber-go/zap#performance

[2017-08-28 19:24] ianlancetaylor commented on #21668
I can reproduce this using clang 3.6.

[2017-08-28 19:24] ianlancetaylor commented on #21668
CC @hirochachacha

[2017-08-28 19:25] ianlancetaylor commented on #21668
No need for foo.h, by the way, this suffices:

[code]

[2017-08-28 19:29] ianlancetaylor commented on #21669
That's not how the language works.  For the exact rules see https://golang.org/ref/spec#Assignability.

Closing because there is nothing to fix.  If you want to discuss why the language works this way, please use a forum rather than following up on the issue tracker.  See https://golang.org/wiki/Questions.  Thanks.

[2017-08-28 19:29] #21669 closed

[2017-08-28 19:30] cznic commented on #21659
Nice catch.

[2017-08-28 19:37] zeebo commented on #21351
I'm going to attempt to move the conversation here vs the above CL to keep the conversation together. After updating the `stage0` binary, it seems to me that other changes to the infrastructure have caused problems, requiring a rebuild of the hosted `buildlet` binary. After that, the build key seems to be invalid.

    bad key for mode "host-linux-arm5spacemonkey"

In case it helps figure out the

[2017-08-28 19:42] bradfitz commented on #21667
I believe this is intentional. We changed how and where downloads are hosted starting at Go 1.9.

This is not an interface we ever guaranteed as stable.

[2017-08-28 19:43] mediocregopher opened #21670 "proposal: Go 2: Have functions auto-implement interfaces with only a single method of that same signature"
For example, instead of having to have [http.HandlerFunc](https://golang.org/pkg/net/http/#HandlerFunc), a function with the signature `func(http.ResponsWriter, *http.Request)` would automatically implement [http.Handler](https://golang.org/pkg/net/http/#Handler).

-----

Where I work we have at least 4 internal packages which use some form of interface layering/middleware, similar to `http.Handle

[2017-08-28 19:45] ianthehat commented on #21668
[code]

[2017-08-28 19:46] bradfitz commented on #21667
/cc @broady @andybons

[2017-08-28 19:47] dsnet commented on #21670
I have wanted this many times. I often find myself creating custom `io.Reader` and `io.Writer` in unit tests via closured functions. I often have to have this separate type defined so I can convert the function to satisfy the interface:
[code]

[2017-08-28 19:49] dsnet commented on #21655
@runner-mei, thank you for producing a minimal repro.

[2017-08-28 19:51] cznic commented on #21666
With full respect to everyone's choice of which language to use and when, in my experience using any other language than English to study programming/CS and/or learn from the documentation makes that programmer less capable on the long run - and vice versa. (I'm not a native English speaker.)

[2017-08-28 19:52] andybons commented on #21667
@joshwlewis your link is linking to the darwin 1.9 download instead of what, I think, you intended to link to.

[2017-08-28 19:54] bcmills commented on #21531
@nadiasvertex ported that test to Go. (I did the same for the santizer tests.)

[2017-08-28 19:56] #21539 closed

[2017-08-28 19:57] #21665 closed

[2017-08-28 19:57] mahdix commented on #21659
@davecheney I think this can be resolved using the type of the variable, to which a function pointer is assigned. Can you give an example?

[2017-08-28 19:58] ns-cweber commented on #19412
@jimmyfrasche's proposal is pretty much how I would intuitively expect a pick type to behave in Go. I think it's especially worth noting that his proposal to use the zero value of the first field for the zero value of the pick is intuitive with the "zero value means zeroing-out the bytes", provided the tag values begin at zero (maybe this has already been noted; this thread is very long by now...)

[2017-08-28 20:03] joshwlewis commented on #21667
This is not an interface we ever guaranteed as stable.

Understandable. Is there a more stable reference to get a list of available versions?

[2017-08-28 20:04] rsc commented on #21574
The garbage collector's job is to reuse memory in the most efficient way possible. If what you describe is more efficient, then we should do that automatically. Otherwise, we shouldn't. If you personally want to disable GC you can do that by setting GOGC=off in your environment. But we're not going to add more options. If the GC can be made better, it should be made better by default.

[2017-08-28 20:04] #21574 closed

[2017-08-28 20:04] broady commented on #21667
It's there. It's just paginated.

[code]

Use gsutil, or the actual GCS API:
[code]

[2017-08-28 20:05] #21667 closed

[2017-08-28 20:05] joshwlewis commented on #21667
Thanks, fixed. I meant to link [here](https://github.com/golang/go/issues/21667).

[2017-08-28 20:05] rsc commented on #21509
The evidence seems clear that this is not worthwhile.

[2017-08-28 20:05] #21509 closed

[2017-08-28 20:07] jba commented on #19966
Just an observation: if there were read-only types, then `&5` could have type `readonly *int`, and then it wouldn't require an allocation.

[2017-08-28 20:07] broady commented on #21667
XML API:
https://cloud.google.com/storage/docs/xml-api/get-bucket-list

See the part about `NextMarker` and `IsTruncated`.

But yes, as @bradfitz says, there's no guarantees for this.

[2017-08-28 20:07] joshwlewis commented on #21667
Oops, thanks!

[2017-08-28 20:09] rsc commented on #21592
It's unclear that this is needed enough to be worth having in the standard library. What code takes a WriteSeeker as its input? The standard library defines io.WriteSeeker but defines nothing that expects or returns one (in contrast to io.ReadSeeker, which is expected by http.ServeContent and returned by a few other functions).

We left Seek out of bytes.Buffer to avoid being forced to keep old da

[2017-08-28 20:10] rsc commented on #21615
Thoughts, @agl or @FiloSottile?

[2017-08-28 20:12] rsc commented on #21590
It does seem like hex should match base32 and base64 as far as defining a NewDecoder and NewEncoder. I'm not convinced they should be parameterized as in those packages. Do you think it's OK for NewEncoder to just assume lower case?

[2017-08-28 20:15] rsc commented on #21633
@weinong, is that really the _only_ suite allowed by your security team? If not, what other ones are allowed? If so, do you know the rationale? It sounds like we might not want to allow this one by default, but maybe another is available?

[2017-08-28 20:17] rsc commented on #21635
#8005 was about extending vet, which we decided at the time (March 2016) not to do. If you are worried about sync.Map "falling out" of the vet check, you could add a test in cmd/vet. But we probably still don't want to change vet's semantics just for this.

[2017-08-28 20:17] sabey commented on #21603
@tombergan looks correct

[2017-08-28 20:18] rsc commented on #21643
/cc @spf13 and @andybons

[2017-08-28 20:20] andybons commented on #21643
Thanks, @carlmjohnson. We definitely need to revisit the slides template. Let me look into it and will let you know about helping out.

[2017-08-28 20:20] rsc commented on #21644
hmac.New takes a `func() hash.Hash` because it needs to create two separate hash.Hashes. It's not clear to me what is supposed to happen with HMAC-around-Blake2b as far as whether both should be keyed the same. But yes we should try to find a way to make Blake2b work with hmac.New.

/cc @aead

[2017-08-28 20:20] tv42 commented on #21670
So a `func foo()` implements *all* of the single-method no arguments interfaces? I don't like the sound of that. The method name matters.

[2017-08-28 20:21] andybons commented on #21643
Actually, could you outline how you would want to change things in this bug? That way you can get started faster :)

[2017-08-28 20:22] Manishearth commented on #21635
Works. I'm new to this, can I just push to the same branch or should I start a new one and close the old gerrit review (if possible)?

[2017-08-28 20:23] dsnet commented on #21670
How many single-method interfaces are there with no inputs and outputs?

[2017-08-28 20:26] jimmyfrasche commented on #19412
@ns-cweber thank you but I can't take credit for the zero value behavior. The ideas been floating around for a while and was in @rogpeppe's proposal that came earlier in this (as you point out quite long) thread. My justification was the same as the one you gave.

As far as `foo.X = 0` vs `foo = Foo{X: 0}`, my proposal allows both, actually. The latter is useful if that field of a pick is a struct

[2017-08-28 20:26] dsnet commented on #21592
If we had well-defined interfaces for a VFS (related: #14106 #5636), then I think it would be interesting to have a `bytes.File` as an abstraction over a in-memory file, but I don't think this adds anything to stdlib as things currently stand.

[2017-08-28 20:27] rsc commented on #21516
In general all reasons not to perform optimizations fall into that category. I'd still like to keep bad code in one package from causing mysterious failures in an unrelated package, and that's the motivation for the restriction I described.

On the other hand it sounds like you have a significant opportunity to make your server faster. The question is whether there's a way to do it at a slightly h

[2017-08-28 20:27] glycerine commented on #21165
I find channels easier to use than sync.Cond, but channels don't provide for efficient, repeated broadcasting of more than one bit from 1:N receivers, and are painful if you don't know who/how many receivers you have. I suggest adding a new type of channel, a broadcast channel.  It would be very similar to a channel with buffer size 1, with some extra logic:

a) if the channel has a value, then re

[2017-08-28 20:30] meirf commented on #19394
My fix was only partial but bot closed this. I used `Fixes` in CL, which was probably the wrong thing to do.

[2017-08-28 20:32] tombergan commented on #21600
AFAIK there are no actual cases where someone suffered an OOM due to `net` or `net/http` retaining httptrace structs in contexts. This issue and #21597 arose because of a Google-internal package that does the following:

[code]

The open question is whether that panic should exist. There are two ways to view the question:

1. Any function that creates goroutines should wait for all of those gorout

[2017-08-28 20:36] jimmyfrasche commented on #19412
One thing that may block it from being accepted as-is is how embedding a pick in a struct would work. I realized the other day I glossed over the various effects that would have on using the struct. I think it's repairable but not entirely sure what the best repairs are. The simplest would be that it only inherits the methods and you have to directly refer to the embedded pick by name to get to it

[2017-08-28 20:37] rsc commented on #21558
There are two issues:

1. MaxBase may or may not need changing. (We could just accept > 36 without changing it.)

2. We need to figure out what to do for > 36 as far as whether upper case comes before lower case or not. Are there any existing standard wire formats that run in base-62 that would help us figure out whether to prefer upper-before-lower (i.e. ASCII sorting) or lower-before-upper? It l

[2017-08-28 20:41] rsc commented on #21135
OK, well, ignoring the fact that the CommandContext ship has sailed, the rest of what I wrote still applies:

If you want a custom signal it's still easy to build outside of the standard library. Is there enough demand for putting this in the standard library? It doesn't sound like it.

[2017-08-28 20:44] dlsniper commented on #21664
@dr2chase while I think this is awesome, and I can see the benefit / need for this, I think that this also needs to be tackled with care as people might misinterpret those projects as being reference projects and we already have a problem with the most frequent question being: ` what's the fastest X? ` (mainly, ` what's the fastest framework? `).

[2017-08-28 20:44] rsc commented on #21560
I'm sorry but this is not what the garbage collector is for. It sounds like you are looking for some kind of LRU cache implementation to hold these items. For example, see https://godoc.org/github.com/golang/groupcache/lru.

[2017-08-28 20:44] #21560 closed

[2017-08-28 20:47] rsc commented on #21562
There is no single appropriate limit here. Tools need to be able to deal with large source files. This is not unique to Go. Past attempts to define size limits almost always turn out wrong. "640k should be enough for anyone" and so on.

[2017-08-28 20:47] #21562 closed

[2017-08-28 20:48] rsc opened #21671 "flag: document that Usage implementations may os.Exit"
We should document that a flag.Usage implementation is allowed to call os.Exit. See #21540 for related discussion.

[2017-08-28 20:49] rsc commented on #21540
Declining this proposal but I filed #21671 for documenting that flag.Usage implementations can exit.

[2017-08-28 20:49] #21540 closed

[2017-08-28 20:49] dlsniper commented on #21562
Agreed. Thanks for feedback and sorry for the delay. Do you think a discussion on golang-nuts for potentially a standalone linter would be helpful?

[2017-08-28 20:51] mediocregopher commented on #21670
I don't think the concern of interfaces being accidentally implemented due to unspecific signatures is constrained to just this, that concern could just as well be applied to "all structs with a method with signature `func()`", which is something which already exists and is fairly common.

[2017-08-28 20:57] rsc commented on #21521
I'm not convinced we want to encourage tying contexts to signals in this way, as described above. I appreciate that the code was difficult to get right but all of it was about interacting with the os/signal package, _not_ context. It sounds like maybe we haven't gotten the os/signal API right, or at least easy enough to use. (And that's entirely believable because signals are asynchronous events a

[2017-08-28 20:58] rsc commented on #21521
Also, in `func main` the code in https://twitter.com/matryer/status/869096368039710720 is completely fine and maybe should have been left as it was. :-)

[2017-08-28 20:59] EltonSouza opened #21672 "encoding/csv: bare " in non-quoted-field"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.3 linux/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
Operating system: Linux
Architecture: amd64

### What did you do?

If possible, provide a recipe for reprod

[2017-08-28 20:59] rsc commented on #21528
x86.csv does have this information: it says imm8 for signed or imm8u for unsigned. (Sorry for the late reply.)

[2017-08-28 21:00] rsc commented on #21528
The `yshl` table can be corrected to Yu8, I believe. That code is much older than Go and is in some places sloppier than I would prefer.

[2017-08-28 21:10] griesemer commented on #21670
This has come up before and various people have proposed more or less the same thing. See for instance: https://groups.google.com/forum/#!searchin/golang-nuts/single-method$20interface%7B%7D/golang-nuts/AAVCVpWqGCo/cWtHROB2K_8J

I wished for this a few years back for "completeness" sake, when we introduced method values: We can go from a method to a function; so why shouldn't we be able to go from

[2017-08-28 21:19] davecheney commented on #21659
func Add(int, int)
func Add(float64, float64)

g := Add

What is the type of g?

[2017-08-28 21:19] dr2chase commented on #21664
We could add a disclaimer.  Wanting to be sure that a benchmark "matters" will tend to bias us towards popular projects, however.

[2017-08-28 21:24] ericlagergren commented on #21666
@cznic that's a good point. As a native English speaker I don't have much experience learning to program in a non-native language. Personally, I've noticed that it can be more difficult to "concretely" learn things in a non-native language. But I've also had the luxury of having most everything I needed in my native language.

That's neither here nor there, though. I don't really believe it's Go's

[2017-08-28 21:26] ericlagergren commented on #21672
You need to set `LazyQuotes` to true.

[2017-08-28 21:36] dominikh commented on #21666
How will the Go team review contributions in other languages? And who guarantees that they're kept in sync with changes/additions to the standard library?

[2017-08-28 21:51] ericlagergren commented on #21666
@dominikh

In this case, unless the Go team member speaks that language, they'll have to sanity check it (Google translate, etc.) Ideally, you'd have a community member double-check the additions.

IMO the best way to start would be to start on the more static parts: golang.org/, golang.org/doc/, golang.org/doc/contribute.html, etc. If that's too difficult to keep in sync or the whole thing flound

[2017-08-28 21:58] ns-cweber commented on #19412
@jimmyfrasche Thanks for correcting me about the zero-value behavior. I agree that your proposal allows for both mutators, and I think your elevator pitch point is a good one. Your explanation for your proposal makes sense, though I could see myself setting foo.X.Y, not realizing it would automatically change the pick field. At any rate, you moved me from, sorta opposed, to undecided.

Lastly, you

[2017-08-28 21:59] avelino commented on #21672
Like the @ericlagergren said in source:
https://play.golang.org/p/t7SePY6c6I

[2017-08-28 22:04] jimmyfrasche commented on #21670
It would be easy to go nuts allocating wrappers if something got passed back and forth between func and interface, as demonstrated in this very useful program below:
[code]

[2017-08-28 22:05] randall77 commented on #21655
Reopening for cherry pick for 1.9.1.

[2017-08-28 22:14] wolf0403 commented on #21641
The time spent by each program varies a lot (it's reported by "time ./binary" from bash - I just did some re-run and get 2.76vs2.88, 2.82vs2.71) so I don't think it is saying Go 1.9 is consistently slower or faster in a conclusive way.

But in all my runs there is an increase in heap size in 1.9. The difference is small but consistent.

I'm fine if you say this is expected / known / too small to h

[2017-08-28 22:15] ianlancetaylor commented on #21635
@Manishearth Probably better to start a new one if that is easy.

[2017-08-28 22:19] theckman opened #21673 "cmd/go: should offer a way to abort compilation if a build tag constraint is not met"
With the release of `Go 1.9`, the monotonic time source within `time.Time` means we can now use `time.Time.Sub()` to keep track of how long things took (even across leap seconds). For me, this means the code that I had using `go:linkname` to expose the monotonic time source can be removed from my project and be replaced with `time.Now()`.

However, when removing my usage of this time source I real

[2017-08-28 22:25] ianlancetaylor commented on #21673
It sounds like you already have a workable solution, albeit one that requires a small extra dependency.  Since this bug report is against cmd/go, do you have a suggestion for how this could be done in the go tool?

[2017-08-28 22:27] szank commented on #21615
Just to add my 2 cents: There is [RFC2253](https://www.ietf.org/rfc/rfc2253.txt) that could be used as the basis for the Stringer implementation.  Some third party services cough\*mongoDB <=3.2\*cough require this form.

[2017-08-28 22:32] carlmjohnson commented on #21643
I've only started to look at the present HTML/JS/CSS, so I'm not sure how totally gnarly it is, but assuming it's tractable, I should be able to add a viewport meta and switch things away from height/width: 100% to 100vh/vw and see how close that gets me to the goal of just having slides fit in the window.

[2017-08-28 22:36] davecheney commented on #21672
Closing as there isn't a bug to b fixed.

[2017-08-28 22:36] #21672 closed

[2017-08-28 22:39] Manishearth commented on #21635
Done, https://go-review.googlesource.com/#/c/go/+/59690/

[2017-08-28 22:40] jimmyfrasche commented on #19412
@ns-cweber

That's a fair point, but you could make it about a lot of things in the language, or any language, for that matter. In general, Go has safety rails but not safety scissors.

There are a lot of big things it generally protects you from, if you don't go out of your way to subvert them, but you still have to know what you're doing.

That can be annoying when you make a mistake like this b

[2017-08-28 22:41] theckman commented on #21673
@ianlancetaylor Thank you for the quick reply. I noodled on that question a bit while working on the post, and I think there are three ideas that come to mind.

I have two initial ideas that are very closely related, but only vary because I'm unsure which is more clear on what the behavior will be. I touched on briefly on the first idea in the blog post, which would be to add an `abort` build tag

[2017-08-28 22:49] hirochachacha commented on #21668
Sorry about the stupid bug. I sent the fix.

[2017-08-28 22:50] FiloSottile commented on #21279
We should also put that text in the `cipher.Stream.XORKeyStream` docs.

The current text probably means this, but leaves too much open to interpretation, and implementations are already more strict anyway:

For the sake of breaking the bikeshed, I'm going to CL "must overlap entirely or not at all" tomorrow unless anyone objects.

[2017-08-28 22:51] carlmjohnson commented on #21643
After some quick local experiments, I think one simple thing to do is just add `-webkit-transform: scale(.5);` for certain viewport widths. I'll see if I can do anything else more elegant, but that certainly helps.

[2017-08-28 22:56] alexzorin opened #21674 "net: /etc/hosts parsing truncates to 4KB (os.GetPagesize)"
Due to the way [`net/file,open` is implemented](https://github.com/golang/go/blob/master/src/net/parse.go#L67-L72), pure-Go DNS resolution cannot handle /etc/hosts files that are larger than the OS page size, which is 4KB by default on Linux platforms.

Go silently truncates the data after 4KB and does not parse lines on the threshold, since EOL is never reached for them.

The cgo equivalents for

[2017-08-28 23:45] alexbrainman commented on #21322
@ianlancetaylor I don't see anything sinister in any of your proposals.

I like your last suggestion (to ignore this issue) the best. Go on Windows does many things differently then on other OSes. And this is just one of them. I don't see why it is important for the program above to behave the same on different OSes. Last os.FileMode(0644) parameter is meaningless on Windows - why we should care a

[2017-08-29 00:06] odeke-em commented on #21674
Interesting! Thank you @alexzorin for reporting this issue. Just for easier lookup in the future, here is the permalink to the code you referred to https://github.com/golang/go/blob/93471a139085fb58b0416e109ba32a927ccf5719/src/net/parse.go#L67-L72.

[2017-08-29 00:35] xfernando commented on #19886
@kardianos Is this something you need someone to work on? I have some time to put into it but I need to know if I'm going about it the right way.

[2017-08-29 00:43] atn832 opened #21675 "os/exec: Cmd.Dir is not checked when looking for executable on Windows"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9 windows/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
(windows 10)
set GOARCH=amd64
set GOBIN=
set GOEXE=.exe
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=

[2017-08-29 00:43] ccbrown commented on #21670
In terms of "completeness" as @griesemer mentions, to me it would make more sense to be able to create an interface implementation out of one or more functions like so:

[code]

Then you can truly go full circle:

[code]

I'm not sure I would actually suggest such a change... but it's the one that came to mind when I saw the mention of "completeness", and I think it would happen to satisfy the ori

[2017-08-29 00:43] ianlancetaylor commented on #21668
Reopen to commit to 1.9 branch.

[2017-08-29 00:47] #21414 closed

[2017-08-29 00:48] dsnet commented on #21670
@ccbrown, your idea also makes it explicit which method the function applies to, alleviating the concern that @tv42 had.

[2017-08-29 00:58] jimmyfrasche commented on #21670
@ccbrown interestingly that idea appears to have been considered #4146 except that issue was for adding it to reflect only. But if it's good enough for reflect . . .

[2017-08-29 01:01] forskning commented on #21661
The google-go-lang.SlackBuild script runs /sbin/makepkg at the end.

The output as "WARNING: gzip test failed on usr/lib/go1.9/go/src/compress/gzip/testdata/issue6550.gz"
was from the makepkg script.

Index of /slackware/slackware-14.0/source/a/pkgtools/scripts

makepkg

# Warn of corrupt or empty gzip files:
find . -type f -name '*.gz' | while read file ; do
  if ! gzip -t $file 1> /dev/null 2> /

[2017-08-29 01:04] rsc commented on #13078
No new developments. In the long term I think the answer will be that the go command will move to downloading snapshots instead of git repos, and then everything will be "shallow".

[2017-08-29 01:07] dsnet commented on #21661
My question is why SlackBuild cares about this at all? I don't see why some other packaging system should care about the files (especially test files) within that package. I really don't want our tests to be at the whim of whatever obscure rule package managers have.

#14937 was already a case where we had to scrub all MTIME fields from gzip files.

[2017-08-29 01:39] agl commented on #21615
A good implementation of RFC 2253 would be reasonable here.

[2017-08-29 01:41] agl commented on #21633
I added the CBC + SHA-256 cipher suites in a moment of weakness and regret it. I would prefer not to compound that error.

[2017-08-29 01:42] agl commented on #21593
It's just a CL changing the comment in the code. Everything flows from there.

[2017-08-29 01:44] agl commented on #21624
We assert this property in BoringSSL, I agree that it would be good to do so in Go too. Doing that in C requires undefined behaviour. Is the obvious arithmetic comparison with uintptrs guaranteed to work in Go? (Or, at least, is it guaranteed not to false positive? It's possible that I shied away from doing this initially because of worries like &ldquo;what if a GC happens between these two lines

[2017-08-29 01:45] johnnyluo commented on #20054
@dsnet @odeke-em could you guys please help to run trybot on  CL https://golang.org/cl/49050, the previous trybot failed , however it is nothing to do with my change.

[2017-08-29 01:46] agl commented on #20504
I'm afraid this is fairly far down my Go tasks for 1.10 and unlikely to happen if people are waiting for me to do it.

[2017-08-29 01:48] forskning commented on #21661
It was /sbin/makepkg (not the build script) that output this warning which informed what the package will contain, if the package factually is created, which it was, so I recommend closing the issue.

The script /sbin/makepkg (not the Go code) was the source of the warning.

[2017-08-29 01:54] odeke-em commented on #20054
Thanks for the ping @johnnyluo, I've ran the trybot.

[2017-08-29 01:58] dsnet commented on #21661
Since this is just a warning, and I believe the correct place to fix this in makepkg, and not the Go project. Am I to correct to believe that there is nothing that we can do here?

[2017-08-29 02:00] tv42 commented on #21670
@dsnet: A single non-exported `func()` method is a common way to mark interfaces as impossible for outsiders to implement.

Next up, `func([]byte)`, or `func([]byte) error`. That means nothing without the method name!

[2017-08-29 02:04] dsnet commented on #21670
Isn't that why @ccbrown's proposal avoids that problem?
[code]

Note, that you can also lose the name when you extract a function from an interface (we can do this today):
[code]

[2017-08-29 02:06] zombiezen opened #21676 "net: Buffers makes multiple Write calls on Writers that don't implement buffersWriter"
The `writev` syscall is supposed to act like a single write.  The `WriteTo` method of `net.Buffers` will make a single write syscall on writers that have the unexported `writeBuffers` method.  However, for writers that do not have such a method, it will call `Write` multiple times.  This becomes significant if you are wrapping a `*net.TCPConn` without embedding, for instance, since it has differen

[2017-08-29 02:19] SamWhited commented on #20504
@agl I'm happy to do the work, I just want to make sure the API is something you're comfortable with.

[2017-08-29 02:20] bryanpkc commented on #21656
Would it be feasible to implement a pragma like `//go:nodiscard` that we can use to mark functions that need to be reflected in this manner? Currently the linker does not provide an option to disable dead code removal, so there is no workaround for our scenario.

[2017-08-29 02:25] gfoxiii commented on #21608
I don't know why the compile.exe Access denied. may this information can help.
windows 10 Creator,
using the Network Account.
I use the msi package to installed at last.
it works.

[2017-08-29 02:25] #21608 closed

[2017-08-29 02:26] opennota commented on #21659
[code]

This works until S implements F2.

[2017-08-29 02:32] odeke-em commented on #21674
@rsc I suppose that the seemingly arbitrary os.Getpagesize() limit was set because we wanted a performance hit from reads on page boundaries or that we thought that size was sufficient? I don't see a file limit for a hosts file in either of the below:
- https://tools.ietf.org/html/rfc952
- https://tools.ietf.org/html/rfc1123
- https://tools.ietf.org/html/rfc4007
Please advise on what you think and

[2017-08-29 02:35] #21635 closed

[2017-08-29 02:42] tv42 commented on #21670
@dsnet I wasn't responding to ccbrown, I was responding to the original proposal and to your question. Method values are just functions, there's no confusion there; the confusing only arises from accidentally implementing an interface.

[2017-08-29 02:46] odeke-em commented on #21675
@atn832 thank you for the report!

However, your bug report has me a little confused:
[code]
in that snippet adapted from your bug report, both `list.bat` and `list2.bat` are both children of subfolder yet one of them runs and the other doesn't run? That's funky, and would mean that if all on the outside is right, that Dir works only for list2.bat.

Also we have tests that set Dir that always run

[2017-08-29 03:20] ianlancetaylor commented on #21656
Feasible?  Yes.  Likely to become part of the standard toolchain?  No.

If you know the specific functions you might need, I would just put them in a table indexed by name.

[2017-08-29 03:22] atn832 commented on #21675
The difference between list.bat and list2.bat is that i added a dummy list2.bat in the executable's folder (parent of subfolder), as I specified right under "What did you do?". So my file structure was like so:

[code]

It seems that when test.exe checks to see if list2.bat exists, it will find one in test.exe's folder, so it will satisfy the check, then it will actually execute subfolder\list2.ba

[2017-08-29 03:58] mundaym opened #21677 "runtime: memhash64 broken on big endian systems"
The 64-bit implementation of memhash64 assumes a little endian system and so the ppc64/s390x builders are failing.

[2017-08-29 04:10] metakeule commented on #18221
@bradfitz Would like to reopen for Go 2.

[2017-08-29 04:32] dominikh commented on #18221
I would like to point out that this proposal was first and foremost rejected because of the general idea itself, not because we were waiting for Go 2.

[2017-08-29 04:37] bryanpkc commented on #21656
Could you point us to a mailing list discussion or blog post about this? I found some relevant threads on golang-nuts (such as [this one](https://groups.google.com/forum/#!msg/golang-nuts/3h0wyX0HWtE/i6iioP7r-bEJ)) but did not see an official answer from the core team. It would be helpful to us to see all the pros and cons that have been raised already.

[2017-08-29 04:40] #21677 closed

[2017-08-29 05:43] odeke-em commented on #21675
Thanks for the response @atn832, I'll defer to @alexbrainman. I also don't have access to a Windows computer so couldn't dig through more.

[2017-08-29 05:57] Manishearth commented on #21471
Is there anything that needs to be done here aside from updating the tables? It seems like the IDNA changes aren't relevant to Go, and Go doesn't do collation, so it should just be a matter of updating the tables.

I did this before realizing the bug was already assigned, but here's the commit in case anyone wants it: https://github.com/Manishearth/go/commit/dcb8a6fdc28a581d2613e6946388c567a935b60

[2017-08-29 05:58] balasanjay commented on #21401
We'll have to agree to disagree on readability with respect to including packages in names. In my opinion, naming the source of functions is a good thing (and easily avoided in both current-Go and a hypothetical future-Go, with a local `var replace = strings.Replace`).

With respect to your second goal: I  found it quite strange that interface satisfaction changes depending on which package a call

[2017-08-29 06:00] odeke-em commented on #21676
/cc @mikioh @ianlancetaylor @rsc

[2017-08-29 06:03] forskning commented on #21661
As dset inferred "issue6550.gz is an intentionally corrupted file used in the unit tests...".

bash-4.2# file issue6550.gz
issue6550.gz: gzip compressed data, extra field, encrypted
bash-4.2# file issue6550.gz

Therefore, presuming the accuracy of that quoted statement, there's nothing to fix on the makepkg end; makepkg is doing its job WARNING of zero length files and also of the corrupt gzip fil

[2017-08-29 06:03] #21661 closed

[2017-08-29 06:24] Manishearth commented on #21399
I like this idea; though i suspect the community will have to agree on it (and also the naming of the tag)

However, I whipped up a quick implementation at https://go-review.googlesource.com/59830 .

I'll polish it up and add tests if this proposal actually goes through.

[2017-08-29 07:29] griesemer commented on #21670
@ccbrown This idea (https://github.com/golang/go/issues/21670#issuecomment-325521711) has also been proposed in the past by @Sajmani, albeit only Go Team internally, I believe.

[2017-08-29 07:43] komuw opened #21678 "runtime: provide a mechanism for debuggers to execute a function in the program being debugged"
# Background:
I'm new to Go. I've been going through the Go exercises over at; http://exercism.io/languages/go/about.
For some of the exercises in there, I needed a debugger so I came acrosss; https://github.com/derekparker/delve which is really nice.

However I needed to call a function - inside the debugging session- but I was unable to do so. After some google-fu, I came across this issue; http

[2017-08-29 07:59] karalabe commented on #21664
I can help with getting benchmarks out of Ethereum if need be, though it will take a bit of looking around to see what's "meaningful" from Go's perspective and which ones aren't (some of our VM benchmarks are there to aid in pricing decisions, not so much in measuring raw performance).

[2017-08-29 08:01] karalabe commented on #21664
Perhaps another aspect that would be nice to touch on is the performance on different platforms. In our specific use cases, some hashing packages are implemented in assembly for amd64, but not for others. It might be useful to see the discrepancies between architectures too thus.

[2017-08-29 08:05] urandom commented on #21401
If I understood you correctly, you're worried that since `I` has to be imported as a type, that's a problem. But that's how dealing with types works right now. You cannot reference `I` unless you import it with the top-level import statement.

While this is very similar, my problem is that we already have a syntax for defining methods for a type, and then for calling them. So instead of reusing th

[2017-08-29 08:07] dlsniper commented on #20883
I would discourage relative imports to begin with. They can lead to unexpected results. The current model of paths being GOPATH dependent works really well and can be adapted towards a package oriented workflow rather easily.

I would disagree about that.

[2017-08-29 08:08] dlsniper commented on #21664
@dr2chase yes, disclaimer should be good enough imho (hopefully).

For some recommendations of popular packages:
- http stuff: https://github.com/gorilla/mux
- logging: https://github.com/sirupsen/logrus
- mysql: https://github.com/go-sql-driver/mysql
- postgres: https://github.com/lib/pq

Should I also list applications that contain benchmarks rather than just libraries?

[2017-08-29 08:10] dlsniper commented on #21678
This is far too wide to be a proposal (and it's not even what a proposal should be).

For the specific case at hand, the issue should be: provide a mechanism to execute functions via external debuggers. Even this would then need to be split into different sub-issues since the problem itself is pretty complex, see https://github.com/derekparker/delve/issues/119#issuecomment-317019335

As such, I th

[2017-08-29 08:15] alexbrainman commented on #21675
@atn832 I think this is working as expected.

This is a result of you running this line:

runScript("subfolder", "list.bat")

This sets Command's name parameter to "list.bat".

According to https://golang.org/pkg/os/exec/#Command

"... If name contains no path separators, Command uses LookPath to resolve name to a complete path if possible. Otherwise it uses name directly as Path. ..."

In your ca

[2017-08-29 08:27] komuW commented on #21678
@dlsniper I stand corrected.
To make this proposal, I first went through some of the other proposals in this repo(some by the core team).

I honestly have nothing more to offer. I just know the way I would like things to be, as to how to get there; I'll defer to others.

[2017-08-29 09:55] agnivade commented on #16563
Hi,

If anyone is not working on this, may I take this up ?

Also, a question on approaching this - If the appropriate behavior is to return `ErrUnexpectedEOF` in cases like the ones above, in which cases should we return `EOF` ?

As far as I understand, `EOF` is not exactly an error per se. It just signifies that the input has ended. If that is the case, then I believe in all cases where we retur

[2017-08-29 10:01] slvmnd commented on #21161
I think the operator proposed by @jba and @bcmills is a very nice idea, although it reads better spelled as "??" instead of "=?" IMO.

Looking at this example:
[code]

I think doStuff2 is considerable easier and quicker to read because it:
1. wastes less vertical space
2. is easy to quickly read the happy path on the left side
3. is easy to quickly read the error conditions on the right side
4. ha

[2017-08-29 10:19] eliasnaur commented on #20392
CL 57291 was reworked before going in. Can you verify crashes are still propagated as you expect on tip? If so, you can close this issue.

[2017-08-29 10:39] AlexRouSg commented on #21675
@atn832
I fixed your code for ya, read the comments explaining stuff.
https://play.golang.org/p/i_-R4uaU8W

[2017-08-29 10:58] floreks opened #21679 "Unable to build when using Go 1.9"
### What version of Go are you using (`go version`)?
`go version go1.9 linux/amd64`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
`go build main.go`

Code:
[code]

### What did you expect to see?
`Hello world`

### What did you see instead?
[code]

PS: Go 1.8.3 works fine.

[2017-08-29 11:07] AlexRouSg commented on #21679
I don't see a go/src/runtime/mstkbar.go in go 1.9. How did you install 1.9? Did you had a old go installation and then just pasted 1.9 over it?

[2017-08-29 11:07] floreks commented on #21679
Scratch that. It appears that it was my fault. I've forgotten to remove old dir and copied over it.

[2017-08-29 11:07] #21679 closed

[2017-08-29 11:13] adiroiban opened #21680 "ioutil.TempFile return something which looks like a valid file when base dir does not exists."
I might be doing something wrong, as this looks like very basic behaviour, still I could not find the error on my side.

### What version of Go are you using (`go version`)?

[code]
but I have also found it on 1.8

### Does this issue reproduce with the latest release?

Yes.
I can also reproduce it on https://play.golang.org/p/IDMHXJFdMA

### What operating system and processor architecture are yo

[2017-08-29 11:22] orcaman commented on #21592
@rsc  Regarding your question about what code takes io.WriteSeeker as input - I've seen quite a few examples. This happens when someone expects a file but wants to be a bit more generic. You can view one example here: https://github.com/unidoc/unidoc/blob/3c340d1085ea5eecf0e06e8360a6e11f8828e183/pdf/creator/creator.go#L450

About the need to have something like this in the stdlib - IMHO, it could

[2017-08-29 11:34] davecheney commented on #21680
This is not a bug. The testify suite method `Nil` does not terminate the test in the presence of an error. Because processing is not terminated, execution proceeds to this line

https://github.com/adiroiban/vbox-ec2-md/commit/67ee8f8dc1a4326b79e0c58b9e46b233ee45bfaa#diff-53618cae32e23ae47e1c35f10da92654R53

Which panics because the contents of the other values returned from `ioutil.TempFile` are n

[2017-08-29 11:34] #21680 closed

[2017-08-29 12:00] #17798 closed

[2017-08-29 12:12] adiroiban commented on #21680
True. My bad. Much appreciated! Sorry for the noise.

[2017-08-29 12:12] robpike commented on #16563
It's trivial. Line 90 returns EOF, reading from a string. Line 928 converts an EOF from an external scanner (here math/big) into ErrUnexpectedEOF. It's inconsistent, yes. Will it break anything to make that change? I don't know.  Does it matter? Not really.

But I do believe it's not worth fixing. The Scan part of fmt is poorly designed and I would prefer to leave it alone. It's not a good idea to

[2017-08-29 12:15] davecheney commented on #21680
It might be worth raising a bug on the testify project to use FailNow,
rather than Fail inside assert.Nil

On Tue, 29 Aug 2017, 22:12 Adi Roiban <notifications@github.com> wrote:

[2017-08-29 12:57] rsc commented on #16563
I still intend to look at this to see if there's a clear fix. The problem is the deciding, not the code.

[2017-08-29 13:41] akavel commented on #21673
Some notes:
- instead of the panics in the `+build !go1.9` case, I believe you could use something like below to get a compile time error:

      func stringForThing() string {
      	REQUIRES_GO_1_9
      }
- as to the `abort` tag, I think the currently proposed  "if constraint fails, abort" logic could be troublesome here if there were multiple files with different tags, e.g. `foo_linux.go` + `f

[2017-08-29 14:10] valyala commented on #21621
it enough to convince myself that there is a regression, but I'm wondering
why sometimes the build works, and other times it fails for that package.
It would appear the issue is more complicated than just opening all the
files passed to the compiler at once, then processing them.

This is a simple race between concurrently running goroutines that parse distinct files. Sometimes they open too many

[2017-08-29 14:11] gilbertchen opened #21681 "os: File.Seek on Windows errors on offsets like 4G-1, 8G-1, 16G-1"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

1.8.1

### Does this issue reproduce with the latest release?

I didn't retry, but by looking at the relevant code on the master branch it looks like the bug is still there.

### What operating system and processor architecture are you using (`go env`)?

Windows 64 bit

### Wh

[2017-08-29 14:23] mvdan commented on #21681
Seems like the fix plus a test would be rather simple - would you like to give it a try? See https://golang.org/doc/contribute.html

[2017-08-29 14:25] mvdan commented on #21621
Should we perhaps close this in favor of #21550, or close that one in favor of the discussion here? Seems to me like they're both about the same underlying issue.

[2017-08-29 14:26] griesemer commented on #4532
4) has been addressed with an explicit definition of "representability" (https://go-review.googlesource.com/57530)
3) all uses of "value of type T" in the spec are very clear
2) all uses of "value of integer type" in the spec are also clear (no ambiguities)
1) all uses of "integer value" have been clarified over time - it's always a value of integer type or an untyped integer constant (never an un

[2017-08-29 14:26] #4532 closed

[2017-08-29 14:36] RLH commented on #14812
Great data, quantitatively supported proposals are always a pleasure to see.

Algorithmic specific knobs are more likely to lead to legacy issue and
impede future progress than non-algorithmic knobs. GOGC is an example of a
non-algorithmic knob, it makes sense with generational GC as well as other
algorithms such as a simple two space copy scheme or even a traditional
malloc/free approach. While t

[2017-08-29 14:40] mdlayher opened #21682 "x/sys/unix: add generic netlink types and constants on Linux"
I'd like to add the types and constants found in `<linux/genetlink.h>`, as seen here: https://github.com/torvalds/linux/blob/master/include/uapi/linux/genetlink.h.

I will send a CL.

[2017-08-29 14:42] flanglet commented on #21664
Maybe this data compression package would be useful as well:

https://github.com/flanglet/kanzi/tree/master/go/src/kanzi/benchmark

[2017-08-29 15:13] dsnet commented on #13548
This bug seems interesting to what we're trying here: #21681

[2017-08-29 15:14] aclements commented on #21641
Thanks for the update. I'm not concerned about small heap changes like this, though. Small fluctuations between releases are quite common for a huge number of reasons.

[2017-08-29 15:14] #21641 closed

[2017-08-29 15:14] griesemer commented on #14844
I like to fix this one. I think we all agree that the spec is not 100% clear here. To restate, the problem is:
[code]
The relevant rules are:
1) Non-constant shifts: "If the left operand of a non-constant shift expression is an untyped constant, it is first converted to the type it would assume if the shift expression were replaced by its left operand alone." (https://tip.golang.org/ref/spec#Opera

[2017-08-29 15:25] griesemer commented on #14844
Here's another intuitive argument in favor of making the advocated behavior valid. If one were to provide an indexing operator (a method) for a user-defined type one might declare:
[code]
In this case `a.At(1.0 << s)` is permitted. It should also be for `a[1.0 << s]`.

[2017-08-29 15:26] rsc commented on #14844
I'm OK with changing this behavior. Note that if s is a constant then the compilers already accept [1.0<<s]int as a valid type and also accept h[1.0<<s] as a valid index operation. It's only the non-constant s case that is being rejected.

[2017-08-29 15:32] Dieterbe commented on #14812
So the recommendation to alleviate this issue is simply to increase GOGC? I can certainly try that, though i'm concerned we'll still have big (probably bigger, since more work will need to be done) latency spikes, just less frequent. I would gladly rather sacrifice more cpu to keep latencies reasonable when GC runs, but it seems like that's not an option?

Knowing the upper bounds allows the GC to

[2017-08-29 15:40] jimmyfrasche commented on #21670
There's something definitely appealing about the symmetry of @ccbrown's construction.

You can kind of do something similar now using
[code]

It's a very useful construction for satisfying interfaces in terms of closures and the equivalent of the `http.HandleFunc` pattern extended to multi-method interfaces.

The major differences from @ccbrown's syntax are that the type name is different and the

[2017-08-29 16:44] atn832 commented on #21675
Thank you all! I will try tonight.

I also tested on Linux and Mac, with a subfolder in cmd.Dir and simply "./somescript.sh" (without prepending the subfolder) and it worked fine. Maybe because it contains a separator?

[2017-08-29 16:47] gilbertchen commented on #21681
@mvdan I can try, but it may take a few days.

[2017-08-29 17:03] guilhermebr opened #21683 "mime: ParseMediaType new tests that expects different return"
I created a change (https://go-review.googlesource.com/c/go/+/59950)
that adds missing tests from http://greenbytes.de/tech/tc2231/
(see this TODO: https://github.com/golang/go/blob/master/src/mime/mediatype_test.go#L142)

But there are 5 tests who I not included from this site because expects a different return that is currently returned by ParseMediaType function, and I don't know if is better t

[2017-08-29 17:05] AlexRouSg commented on #21675
@atn832
If your terminal is opened in ./subfolder then it will work that way. Go looks for the file (if you do not supply a full path) relative to the working directory which is set to the working directory of your terminal.

[2017-08-29 17:07] agnivade commented on #16563
Sure, let me know what you guys decide. Would be happy to send a CL and reap some commit karma 😝

[2017-08-29 17:13] ianlancetaylor commented on #14812
`GOMAXHEAP` doesn't exist, at least not yet, but see #16843.

[2017-08-29 17:22] rminnich opened #21684 "os: os_test: test fails when /bin/pwd does not exist"
### What version of Go are you using (`go version`)?
Any version from the last few years, currently 1.9

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
amd64
various distros that no longer have /bin

### What did you do?
go test os

Try it on, e.g., arch, or u-root (u-root.tk) where pwd is not in /bin

###

[2017-08-29 17:33] janoberst commented on #21336
To add a little bit of context here: this is caused by the same `tls.Config` being used to create both the server and the client.

When the server starts serving, it correctly detects that it can indeed serve HTTP2. Because it has detected that it can serve HTTP2, it appends `"h2"` to the `NextProtos` list in its `TLSConfig` (https://github.com/golang/go/blob/master/src/net/http/h2_bundle.go#L3949

[2017-08-29 17:40] Sajmani commented on #21670
I had proposed the idea of "interface literals", where an interface value
can be specified using struct literal syntax and the interface type name.
The methods are specified using function values:
s := sort.Interface{
Len: func() int {...},
Swap: func(i, j int) {...},
Less: func(i, j int) bool {...},
}
This would work automatically for any interface type.

We decided the convenience of this syntax

[2017-08-29 18:01] jimmyfrasche commented on #21670
@Sajmani wouldn't the same implementation complexity be required for #16522 / #4146 ? #16522  is blocking useful features (always discussed in #4146 but in the end often turning out to be better implemented via #16522 )

[2017-08-29 18:11] carlmjohnson commented on #21643
So this is pretty hacky, but it seems to make present at least fit into the window on mobile:

[code]

I'll open a CL once I get a chance, but I thought I'd add the comment here first in case that's too hacky to accept.

[2017-08-29 18:13] carlmjohnson commented on #21643
Hmm, it would probably also be possible to do this as JS, which would make the scaling factor more precise and avoid repetition. I'll investigate.

[2017-08-29 18:20] andybons commented on #21643
I’m not familiar with this code (though I am very familiar with frontend dev), so can you elaborate on what the problem is alongside any possible solutions? This will help us evaluate whether the approach is sound or if another should be investigated.

[2017-08-29 18:32] carlmjohnson commented on #21643
Change line 476 of slides.js to this:

[code]

Works pretty well. The downside of this code is it might fire too often when someone resizes their window. I can play around with that tonight.

[2017-08-29 18:36] Sajmani commented on #21670
Possibly yes. I haven't considered those issues in the context of my
proposal.
On Tue, Aug 29, 2017 at 2:03 PM jimmyfrasche <notifications@github.com>
wrote:

[2017-08-29 18:48] RLH commented on #14812
GOMAXHEAP as a command line flag was just an example. The discussion that
Ian pointed to seems to be a more reasonable and robust API.

GOGC will reduce the frequency of GC but you will see the same degradation
when the GC happens. Put another way it will not help worse case but
99%tile may be helped.

On Tue, Aug 29, 2017 at 1:13 PM, Ian Lance Taylor <notifications@github.com>
wrote:

[2017-08-29 18:59] #21682 closed

[2017-08-29 18:59] dr2chase commented on #21664
Note that it has to be go-gettable.  That is, there should be a one-line command like this:
[code]
that succeeds. The intent is that this be input to a program that gets benchmarks, compiles them, and runs them in a container.

[2017-08-29 19:09] alexellis commented on #12868
@bradfitz I know this is an old issue but I wanted to ask if you can pull back environmental variables set by an executing process? I've been testing this and while I see them reflected in the executing process - I only get the original set from the Golang code.

[2017-08-29 19:12] ianlancetaylor commented on #12868
@alexellis This issue is closed, and in any case we don't use the issue tracker for questions.  Please see https://golang.org/wiki/Questions.  Thanks.

(I'm not sure what you are asking, but to modify the current process environment, use `os.Setenv`, `os.Unsetenv`, `os.Clearenv`.  Please take any follow up to a forum, not this issue.  Thanks.)

[2017-08-29 19:27] alexellis commented on #12868
No that wasn't the question - it seemed like this is where the design decision was made - so was hoping for a quick answer without having to sign up to anything.

* I use "exec" to create a new process i.e. Node.js then set some environment.
* In the child process I can see the new environment set and working
* From the Golang code which created the process via this call - I cannot see the environ

[2017-08-29 20:02] nvartolomei commented on #21161
To me this proposal alone looks incomplete and has too much magic. How would be `??` operator defined? “Captures last return value if non-nil”? “Captures last error value if matches method type?”

Adding new operators for handling return values based on their position and type looks like a hack.

On 29 Aug 2017, 13:03 +0300, Mikael Gustavsson <notifications@github.com>, wrote:

[2017-08-29 20:08] #21684 closed

[2017-08-29 20:09] bcmills opened #21685 "x/tools/cmd/godoc: results page jumps during rendering"
Example page: https://tip.golang.org/search?q=testing

The results initially render with the (IMO) most useful package links,¹ then replace them a short time later with a long list of cross-references.² If you try to click on one of the package links, you're fairly likely to end up on an arbitrarily different page than you intended.

Ideally, the whole page should load instantly. However, if that

[2017-08-29 20:10] mvdan commented on #18701
Yet another: https://storage.googleapis.com/go-build-log/55ca0192/linux-amd64_45ee111b.log

[2017-08-29 20:11] mvdan commented on #18701
Err, I just noticed this was supposed to be a windows issue, and that the error is not exactly the same. Should I open a separate issue?

[2017-08-29 20:15] bcmills opened #21686 "x/tools/cmd/godoc: show entities before cross-references"
(A follow-on from #21685.)

Arguably the most useful godoc results are packages, followed by entities defined within those packages (types, variables, functions, interfaces, and methods). Cross-references are sometimes helpful, but rarely what I'm looking for when I'm searching golang.org.

For example, if I search for [rand](https://tip.golang.org/search?q=rand), odds are good I'm looking for the

[2017-08-29 20:19] ianlancetaylor commented on #12868
Please use a forum.  You don't have to sign up.  Thanks.

[2017-08-29 20:21] bcmills commented on #21161
@nvartolomei

See https://github.com/golang/go/issues/21161#issuecomment-319434101 and https://github.com/golang/go/issues/21161#issuecomment-320758279.

[2017-08-29 20:25] ianlancetaylor commented on #21399
CC @rsc XML suggestion.

[2017-08-29 20:29] #21671 closed

[2017-08-29 20:31] ianlancetaylor commented on #21678
Thank you for filing this.  A proposal is more helpful when it provides a proposed solution (see https://github.com/golang/proposal/blob/master/README.md).  At this point this is more of a bug report, and I think the bug you are reporting is that debuggers need some way to safely execute a Go function.  I'll retitle this issue on that assumption.

[2017-08-29 20:35] SamWhited commented on #21399
The proposed patch only works for marshaling structs. What if we're using the `EncodeToken` method and write a `StartElement` immediately followed by its corresponding `EndElement`? If this ends up being desired and it were an option on the `Encoder` instead it would work in both places (although it would be global for all tags, not local to specific struct fields, but that seems more desriable to

[2017-08-29 20:38] Manishearth commented on #21399
We still need the ability to output non-selfclosing pairs of tags. The idea is to give the user the option to make certain fields self closing, not to do that for all fields.

[2017-08-29 20:38] Manishearth commented on #21399
Oh, I see, you're suggesting this be global. Hm. I don't really like the idea of making this a global change, but we could also make it an option on the marshaler.

[2017-08-29 20:43] mdempsky opened #21687 "cmd/compile: "x[i] op= y" evaluates x[i] more than once"
The Go spec says "An assignment operation x op= y where op is a binary arithmetic operator is equivalent to x = x op (y) but evaluates x only once."

I think for both of these sample programs the only valid outputs are "2 2" and "12 2":

  * Slices: https://play.golang.org/p/p4fFBLx0xM
  * Maps: https://play.golang.org/p/-lKZXXnndS

An output of "11 2" indicates that m[0] was evaluated twice: once

[2017-08-29 20:50] mdempsky commented on #21687
Slightly simpler repro cases: the only valid outputs (IMO) are "-1 2" and "1 -2":

  * Slices: https://play.golang.org/p/9sluA-AaH1
  * Maps: https://play.golang.org/p/SZo6hHIdun

[2017-08-29 20:53] heinrich5991 commented on #21681
[`SetFilePointerEx`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365542(v=vs.85).aspx) seems to be the more appropriate function here, it's even suggested in the docs of `SetFilePointer` for 64 bit seeks.

[2017-08-29 20:56] ianlancetaylor commented on #21656
I'm not aware of any blog post about this.

Searching the mailing list I found the following:

https://groups.google.com/d/msg/golang-nuts/M0ORoEU115o/4A6ZJQkmsVgJ
https://groups.google.com/d/msg/golang-nuts/3h0wyX0HWtE/i6iioP7r-bEJ
https://groups.google.com/d/msg/golang-nuts/eurOmJVtLJQ/Jl2kWuuoAXEJ
https://groups.google.com/d/msg/golang-nuts/r-O5tMtMXWs/OLYtFotJMBUJ
https://groups.google.com/d/m

[2017-08-29 21:05] komuW commented on #21678
Thank you so much @ianlancetaylor !

The new title makes much more sense. And thanks for the link to the
proposal Documentation

On Aug 29, 2017 11:32 PM, "Ian Lance Taylor" <notifications@github.com>
wrote:

[2017-08-29 21:45] ianlancetaylor commented on #21676
This is an interesting one.  I think it's somewhat clear that calling the `Write` method should turn into a single `write` system call for low-level types.  But this is the `WriteTo` method, and I don't think there has ever been such a guarantee for `WriteTo`.  In general `WriteTo` writes all available data to the `Writer` argument, which can imply fetching more data.  For example, the more-or-les

[2017-08-29 21:48] carlmjohnson commented on #21643
Before on my iOS 11 beta iPad:

![img_0339](https://user-images.githubusercontent.com/222245/29845695-d93fb93a-8ce1-11e7-8693-72733be6e120.PNG)
![img_0340](https://user-images.githubusercontent.com/222245/29845696-d94003cc-8ce1-11e7-9c02-ed9ed5a18a08.PNG)

And after:

![img_0341](https://user-images.githubusercontent.com/222245/29845694-d93b87c0-8ce1-11e7-8f78-650025e4935f.PNG)
![img_0342](https:/

[2017-08-29 21:50] adams-sarah commented on #21351
Hey @zeebo sending you a new key via email now.

[2017-08-29 22:02] zeebo commented on #21351
Alright, they're all running with the new key, and the flag is being passed.

Thanks!

[2017-08-29 22:05] adams-sarah commented on #21351
excellent. np.

[2017-08-29 22:06] #21351 closed

[2017-08-29 22:57] ianlancetaylor commented on #21550
Closing in favor of #21621 since that one has a test case.

[2017-08-29 22:57] #21550 closed

[2017-08-29 23:10] bryanpkc commented on #21656
Thank you so much for the pointers, Ian.

[2017-08-29 23:18] carlmjohnson commented on #21643
With`'width=device-width,height=device-height'`, I can get it to display correctly in mobile Safari, but I haven't been able to hide the toolbar. A quick websearch says that Apple took away whatever proprietary method they used to have for hiding the scroll bar, so we may be stuck with it. This looks acceptable:

![img_5403](https://user-images.githubusercontent.com/222245/29848461-c5b102cc-8cee-1

[2017-08-29 23:29] nhooyr commented on #21420
What you point out as a deadlock isn't really a deadlock if the remote side dies. That channel will be closed if the remote site dies, see https://github.com/golang/crypto/blob/81e90905daefcd6fd217b62423c0908922eadb30/ssh/mux.go#L194 .

However, I still think there should be idle timeouts, we shouldn't wait forever for the remote side to answer.

[2017-08-29 23:30] #6476 closed

[2017-08-29 23:37] nhooyr commented on #21420
Just realized this issue doesn't really address my problem, I'll open a new issue.

[2017-08-30 00:04] abraithwaite opened #21688 "cmd/vet: Go vet misses error when running in shell and not Makefile"
### What version of Go are you using (`go version`)?

Tested on:
[code]
and
[code]

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

Additionally, I'm running in ZSH, although the issue isn't caught in bash either.

### What did you do?

Trying to reproduce in a pruned makefile I couldn't reproduce

[2017-08-30 00:13] nhooyr commented on #21423
The example you cite is not a leaked goroutine because the reqs channel will be closed when the connection closes.

I think we should have deadlines on channel receives (not go channels).

As of now, each new session will call the `go session.wait()` function when the remote remote command/shell is run. This is to provide a exit status via the public `session.Wait()` function. But my issue is that

[2017-08-30 00:15] blizzardplus commented on #17014
I'd like to get an update on this? I might be able to push this forward, if there's interest.

[2017-08-30 00:28] nhooyr opened #21689 "x/crypto/ssh: allow returning arbitrary data from the server authorization callbacks"
By `server authorization callbacks`, I mean the various callbacks listed here on [godoc](https://godoc.org/golang.org/x/crypto/ssh#ServerConfig) that return the `Permissions` structure.

I'm writing a SSH server that will check against a database to authorize the user's public key and then it will allow the user various abilities based on their permissions as listed in the database. The permission

[2017-08-30 00:47] alexbrainman commented on #17014
Nothing new to report here.

Go ahead if you know what to do. Everyone will help, if we can.
Maybe related #20982.

Alex

[2017-08-30 01:01] mc-robin opened #21690 "cmd/objdump: output is not valid assembly input"
I wrote a simple go package as follows:

    package mytest

    type T int32

    func (a T) MyTest(b T) (T, T)
    func (p *T) MyTestp(b T) (T, T)
    func MyTest(a, b T) (T, T)
    func MyTestp(p *T, b T) (T, T)

The corresponding assembly code(generaged by go tool objdump), as follows:

    TEXT ·MyTest(SB), $0-16
    MOVL a + 0x0(FP), AX
    MOVL b + 0x4(FP), BX
    MOVL BX, CX
    ADDL AX, C

[2017-08-30 01:34] theckman commented on #21673
@akavel Thank you for taking the time to reply. I think this problem is definitely complex, so I enjoy thinking about it more to see if there are other solutions.

For your first point, you're absolutely right. I could reference the constant in those functions to make it fail to build. It's a great suggestion. :+1: I think there is one tradeoff still, and it's only that I still need to duplicate a

[2017-08-30 01:43] glycerine commented on #21423
update: The idle timeouts work quite well. They are very solid. I returned briefly to an experiment with write deadlines, with the speculative aim of implementing net.Conn. Read deadlines were quickly done and worked fine. However, on the write side, I could not get write deadlines to work. It appears that SSH will happily Write() to an ssh.Channel and return nil error, even if there is never any

[2017-08-30 01:54] glycerine commented on #21423
@nhooyr On master of https://github.com/glycerine/xcryptossh/ I shipped SetReadDeadline() as well as SetIdleTimeout(). Give them a try and see if they meet your needs.

[2017-08-30 03:38] chrispassas commented on #21117
In my case I have a pool of database connections. I open a transaction and run queries. If I use BeginTx() I get an crash panic overtime.

Part of why I need a transaction is so I can use postgresql statement_timeout. The only way to use it with a connection pool is to use a transaction.

If I just use Begin() without context it never crashes. In my case though I need to be able to cancel the tran

[2017-08-30 03:50] victorlwf commented on #21660
After run play.golang.org, the result is like as below :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

Hello, playground

Program exited.

[2017-08-30 04:05] blinsay commented on #21117
Hey y'all,

It looks like libs are still tossing out `panic`s in Go 1.9. The underlying problem with the way the stdlib and the drivers are misunderstanding each other seems like it's still there. [This comment](https://github.com/lib/pq/issues/614#issuecomment-325872980) has some more info (race detector output, panic traces, and a reliable repro) on how lib/pq and `database/sql` interact to pani

[2017-08-30 05:51] as commented on #17014
[code]
@DmitriyMV
It's splitting the path, maybe try setting -libpath to a legacy 8.3 path to the same directory

```-libpath C:\progra~2\microsoft\visual~1\VS15Preview\Common7\IDE\VC\lib```

[2017-08-30 06:28] AlekSi commented on #21313
New gimme was deployed to Travis-CI.

[2017-08-30 07:28] agnivade commented on #18588
I've looked into this a bit.

Yes, the issue is in `goLookupIPCNAMEOrder`. To be specific, its in the racer goroutine calls. I did some debugging and what is happening is it always returns the last error. Usually, there's only one error - "socket: too many open files", but sometimes the "no such host" comes up too. And when it does, "no such host" is always the last error.

Normal case - (I have a

[2017-08-30 07:39] eliasnaur commented on #12100
Dup of #10110 ?

[2017-08-30 07:53] jeffallen opened #21691 "godoc: playground share button does not work"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

The public golang.org docs.

### What did you do?

Find package documentation with an example. I used: https://golang.org/pkg/crypto/md5/#example_New

Edit the code. (Not really necessary, but it was the use case I was trying to do.)

Click Share to share your edited version o

[2017-08-30 08:05] jeffallen commented on #21691
Initial debugging with the javascript console leads me to believe that this is on the server side, because the XHR request to "share" with the right stuff in it went out, and the server answered with a share ID, and the client redirected correctly to that share id, but then the script was not present.

Since it is on the server side, I can't debug further.

[2017-08-30 09:02] mvdan commented on #21691
I can reproduce over here. Not sure if it's godoc, the website, or some infra issue. CC @broady

[2017-08-30 09:03] mvdan commented on #21688
Note that `pkg/tool/.../vet` may not be the same as `go vet`. Have you tried with `go tool vet`? I believe that would be the short equivalent.

[2017-08-30 11:21] hanwen commented on #21689
I understand your problem, but marshalling an int to string seems straightforward enough, so your case by itself doesn't warrant an API change.

I'd love to see some more reports of what people want to pass around.

(Maybe we should this be fold this together with a context-ization of the SSH package?)

[2017-08-30 11:23] hanwen commented on #21491
ssh.Unmarshal is the mirror ssh.Marshal.

If you want to send a clarification of the SSH package docs, that would be great.

[2017-08-30 11:25] hanwen commented on #21478
can you point to some data that shows that the extra keepalive package is a performance problem?

[2017-08-30 11:31] hanwen commented on #21423
"It appears that SSH will happily Write() to an ssh.Channel and return nil error, even if there is never any corresponding Read() on the other end."

Did you expect anything else? In order to know that something is reading on the other end, you'd have to do a network round trip, which is expensive.

go SSH has a 2MB buffer (https://go.googlesource.com/crypto/+/81e90905daefcd6fd217b62423c0908922ead

[2017-08-30 11:40] hanwen commented on #21423
I don't fully understand the bug.

If a ssh.Channel is closed, all the associated goroutines should exit. If a ssh.Conn is closed, all associated goroutines should exit too. If you find cases where this is not happen, please file bug reports about them.

Similar on close of the channel or connection, all reads/writes will be interrupted, please file bug reports if you find cases where this does no

[2017-08-30 11:46] SunRunAway commented on #21516
The `multipart.ReadForm` has a for loop to handle more than one file, if do it in the http library the bytes.Buffer stored in `multipart.Reader` could be used by multiple files. The code may be complex.
Another con is the re-use cycle will persist until the http library calls `MultipartForm.RemoveAll()` wether the file stored in temperary file or not.

[2017-08-30 11:48] hanwen commented on #21423
" if I call session.Close() (whose sole purpose is to close the underlying channel), it's possible for the remote server to never respond to the channel being closed"

the channel close should cause session.Wait to return. Can you file a bug if this is not the case?

[2017-08-30 12:51] ianlancetaylor commented on #21691
CC @andybons

[2017-08-30 12:59] thwd opened #21692 "Array types not invariant"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.9 linux/amd64

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="redacted"
GORACE

[2017-08-30 13:04] FiloSottile commented on #21644
HMAC-BLAKE2 does not make a lot of sense since BLAKE2 can be used itself as a keyed MAC, but I agree that `x/crypto/blake2b` should expose `func() hash.Hash` functions.

I wish we called the keyed options `NewXXXWithKey`, but I guess we can call the un-keyed versions (which don't return an error) `NewHashXXX`:

[code]

👍 ?

[2017-08-30 13:05] martisch commented on #21692
I think this is working as intended:
https://golang.org/ref/spec#Assignability
"x's type V and T have identical underlying types and at least one of V or T is not a defined type."

[2017-08-30 13:07] jeffallen commented on #21691
A working XHR to /share had cloud trace id 1a7cf94f7a76eabd19c1abca6a88fcde. A failing one was b2112108800be2c2ecf7063a634013bc.

Hope that helps.

[2017-08-30 13:08] thwd commented on #21692
Thanks, seems you're right. Do assignability rules extend to the append function though?
https://play.golang.org/p/6ry5eMPLhn

[2017-08-30 13:12] martisch commented on #21692
https://golang.org/ref/spec#Passing_arguments_to_..._parameters
"...which all must be assignable to T"

[2017-08-30 13:16] nadiasvertex commented on #21531
I will look at this.

[2017-08-30 13:16] thwd commented on #21692
Thank you, that resolves the issue.

[2017-08-30 13:16] #21692 closed

[2017-08-30 13:28] griesemer opened #21693 "cmd/compile: a[1.0 << s] should be accepted"
Per the fix for #14844, https://play.golang.org/p/fWbHLgkJ7Z should now be accepted by the compiler.

[2017-08-30 13:33] szank opened #21694 "x/text/secure/bidirule: label starting with EN UTF8 property should be invalid"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9 darwin/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/mgalkows

[2017-08-30 13:58] RLH opened #21695 "runtime: Reducing theoretical heap fragmentation"
It is possible that after one or more GC cycles a span may contain only a single allocated object. After the program makes a phase change that size object may become unpopular and there is no need to allocate in that span again. This would be detectable after several GCs cycles as a span that has not been allocated in. It would be really nice if we could move that object and use that span for a di

[2017-08-30 13:59] rsc opened #21696 "cmd/compile: wrong logic for pkg derivation of unnamed type"
Happened to be working in cmd/compile/internal/gc/reflect.go and saw:

			// Unnamed type. Grab the package from the first field, if any.
			for _, f := range t.Fields().Slice() {
				if f.Embedded != 0 {
					continue
				}
				pkg = f.Sym.Pkg
				break
			}

I don't believe this is completely correct. There is no guarantee that the first non-embedded field will have a package. The commit message

[2017-08-30 14:02] szank commented on #21694
Sigh, I might have been to hasty with this.
If I am reading the RFC correctly, then the BIDI rules are enforced only if the domain name contains RTL characters.

If someone can confirm this, then please close this bug report as invalid.

[2017-08-30 14:29] ardan-bkennedy commented on #21022
I tried all this with the Go 1.9 release and I saw all the same bugs on Darwin? @bradfitz

[2017-08-30 14:40] ardan-bkennedy opened #21697 "cmd/pprof: list not accurate in 1.9"
## What version of Go are you using (go version)?

go version go1.9 darwin/amd64

## What operating system and processor architecture are you using (go env)?

GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/bill/code/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS="-fPIC -m64

[2017-08-30 14:54] abraithwaite commented on #21688
I did try with go tool vet.

[code]

[2017-08-30 15:05] atn832 commented on #21675
Ok so I have tested both options + one other:
1. executing ".\list.bat" and ".\list2.bat" with cmd.Dir = "subfolder", and both scripts correctly listed the files in subfolder
2. executing "subfolder\list.bat" and "subfolder\list2.bat" by joining paths, with cmd.Dir = "subfolder", and it failed to find the script with the following message: `Error running script: exec: "subfolder\\subfolder\\list.b

[2017-08-30 15:05] #21675 closed

[2017-08-30 15:07] MahmoudB commented on #15956
Hello, I got the same issue using two go packages that translates into two android modules, but the go directory in the .aar files are identical. Using multidex didn't cut it for me, because I ended up with following error:
[code]
I tried to exclude the LoadJNI.class from one of the dependencies using gradle without luck :/

Any ideas?

[2017-08-30 15:22] forskning commented on #21533
The currently available GNU/Linux distros capable of installation in WSL have an /etc/profile.d directory.

I installed WSL (under Win10 AU) in March, ran a few tests of the compiler toolchain, and uninstalled it.

I then manually cleaned out some left over files from the WSL installation.

http://nurmi-labs.blogspot.com/2017/03/p9p.html

http://nurmi-labs.blogspot.com/2017/04/xs.html

[2017-08-30 15:24] #19220 closed

[2017-08-30 15:30] AlexRouSg commented on #21675
@atn832
sry about the broken code, should've double checked things and actually ran it.
Actually there's a 4th option.
You can pass the absolute path to exec.Command(), I've actually ran this so I know it works.

As in the playground link, to get the path to where is the executable is.
[code]
Then do something like
`exec.Command(filepath.Join(exPath, folder, filename))`

[2017-08-30 15:49] tarm commented on #18534
@aclements Thanks for your work on this!

I cherry-picked your 2 patches onto tip and ran our actual application (not just the test reproduction case in this ticket):

Go v1.9.0:
[code]

Go tip (d77d4f509) + patches applied
[code]

The 99.9% latencies moved from about 10ms -> 6ms, but the worst case latencies (out of 10k samples) went from ~120ms -> ~15ms.   That is huge improvement in the worst c

[2017-08-30 16:00] hanwen commented on #21420
"It would be incredibly useful for securing connections everywhere if ssh.Channel implemented the full net.Conn interace. The only missing methods are for time-outs based on setting read and write deadlines."

what does 'securing' connections mean?

OpenChannel() is a global request, so if we elect to ignore the answer (if we think it takes too long), it will upset the state machine, meaning that

[2017-08-30 16:07] glycerine commented on #21420
I meant that all the Go programs everywhere that use net.Conn to do TCP... could transparently change to use ssh. And those would be much more secure connections.

I don't see why the upset would be intrinsic. Is it just an artifact of the implimentation status quo?

[2017-08-30 16:11] aclements commented on #21695
An alternate approach would be to introduce a new special that links the slots together. Sweeping already has to scan all of the specials, so it would be easy and inexpensive for it to also handle these specials.

This would also make it possible to transition a span from a larger size class to a smaller size class.

[2017-08-30 16:14] hanwen commented on #21420
let me rephrase. Suppose the timeout triggers, how does your program proceed?

It cannot try to open another channel, since the global request lock has been taken. (the global request lock is implied by the RFC)

[2017-08-30 16:19] appleby commented on #13959
The client-side fix has been committed. Thanks @tombergan for reviewing.

It will be at least a month before I have a chance to look into the server-side (laptop dead, parts on the slow boat from China), so If anyone else wants to tackle it before then, feel free.

[2017-08-30 16:21] aead commented on #21644
I would agree with @FiloSottile , BLAKE2 combined with HMAC doesn't make much sense - as far as I can see... However if someone want to use BLAKE2 as a hash function for the HMAC construction I would prefer something like this (works only with 1.9):
[code]
over adding new functions to the blake2(b/s) packages. They already contain a lot of exported functions and with `crypto.Hash` there is already

[2017-08-30 16:21] aclements opened #21698 "runtime: fractional workers can cause 20ms mutator latency"
### What version of Go are you using (`go version`)?
1.9 (or tip b0392159f611427ad351548e172048395bc4ac5a)

### What did you expect to see?
Fractional mark workers should have minimal impact on mutator latency.

### What did you see instead?
The fractional mark worker often runs for 20ms at a time, which means other goroutines on the same P can be significantly delayed. (In contrast, dedicated mar

[2017-08-30 16:22] aclements commented on #18534
@tarm, that's great! Could you also check what effect the patches have on heap size and throughput?

You're running with GOMAXPROCS=1, right? There's still an issue with fractional workers running for a long time without preemption, which I suspect is responsible for the 15ms worst-case you saw. I just filed an issue focused on that problem (#21698).

[2017-08-30 16:24] glycerine commented on #21420
btw I love this library, and I'm so glad that you work on it. I don't mean to be critical at all. Ok, back to the conversation:

Interesting. I had been assuming I as an application programmer would only care about timeouts on channels that had been successfully established. I assumed the channel open would succeed or fail fairly quickly one way or the other as it stands. Is that not a correct ass

[2017-08-30 16:36] hanwen commented on #21420
my question is specifically about the hang in l.322 . Your assumption in the last comment is correct, but I was under the impression you wanted to have a way to set a timeout on that (ie. on the OpenChannel method). My response is that this mostly useless, if OpenChannel is stuck, the protocol is organized such that you have to throw away the whole connection rather than just the (pending) channel

[2017-08-30 16:52] glycerine commented on #21420
So my use case actually sees this alot, basically because it is forwarding a stream from a third party. In a diagram:
[code]
 So the connection from P2 to P1 is fine, but when the connection from P3 to P2 dies, the channel that is forwarding over P2 to P1 ends up needing an idle timeout, because P3 is gone. And in the meantime P4 to P1 traffic can be fine, so the whole connection from P2 to P1 sho

[2017-08-30 17:03] ianlancetaylor commented on #21697
CC @rauls5382

[2017-08-30 17:15] nhooyr commented on #21478
Not sure if it's a significant problem, it's a matter of efficiency. I'll admit it's somewhat a premature optimization but network roundtrips are expensive and if we can easily avoid one, we should.

[2017-08-30 17:16] andybons commented on #21691
I’ll take a look

[2017-08-30 17:24] nhooyr opened #21699 "x/crypto/ssh: session.Close() should unblock session.Wait()"
The `session.Close` only sends the channel close message to the server. It's not until the server responds with a channel close message that `session.Wait()` returns because of the reqs channel being closed. `session.Wait()` should return immediately after `session.Close()`.

See #21423 for previous discussion.

[2017-08-30 17:28] nhooyr commented on #21423
@glycerine Nice work but it doesn't fit my needs. What I think needs to happen is that every single read from the channel should have a deadline with it so that it does not block forever, if the deadline expires before the read finishes, then the entire connection should be closed. I don't think a idle timeout is necessary if we go with what I described.

@hanwen filed #21699

[2017-08-30 17:34] abraithwaite commented on #21688
I'm a total dunce.  It's the `go build` output that I'm seeing, not the `go vet` output.

Thanks @ianlancetaylor

[2017-08-30 17:34] #21688 closed

[2017-08-30 17:34] ianlancetaylor commented on #21621
I think https://golang.org/cl/57751 is the kind of CL we should try to get into the 1.9.1 release.

@davecheney You have a -2 on that CL pending discussion; are you OK with dropping that?

[2017-08-30 17:43] metakeule commented on #21670
Although it goes against Go conventions, I would question, if an interface is needed in the first place, if it contains just a single function.

Simply accepting a callback works for both cases, is less code to write and more flexible:

[code]

Another benefit: The user is not forced to include a package if all she needs is the reference to the interface name.

Agreed, it looks a bit ugly... ;-)

[2017-08-30 17:45] hyangah commented on #15956
Is it not a possibility to merge them to one go packages and deal with only one .aar?

[2017-08-30 18:04] jimmyfrasche commented on #21670
@metakeule that's a good point. Method values and type aliases† overlap the use-case for single method interfaces somewhat, but what you lose with that approach is the ability to feature test other methods with type asserts (like being able to ask, is this `io.Reader` also an `io.ReaderFrom`?).

Being able to more easily go from the one to the other would be useful, but I'd rather have the more ex

[2017-08-30 18:24] AlekSi commented on #21521
I would prefer to have an example of correct usage in documentation instead of a new method.

[2017-08-30 18:24] cespare opened #21700 "testing: add -failfast to stop after first test failure"
I propose we add a testing flag to cause `go test` to exit after the first test failure.

There are two cases where I've wanted such a flag:

* When I'm debugging a flaky test, I want to run it until failure. I often use `-count 10000` for this purpose, but it will keep running the test after it fails once, so if I'm not looking at my terminal while it's running I need to go hunt through my scroll

[2017-08-30 18:27] glycerine commented on #21423
exactly what SetIdleTimeout() does

trivial to add in your application logic when you receive a timeout error from a Channel read.

[2017-08-30 18:29] nhooyr commented on #21423
`SetIdleTimeout()` doesn't do that because it resets on writes.

[2017-08-30 18:29] #10715 closed

[2017-08-30 18:29] #18720 closed

[2017-08-30 18:35] glycerine commented on #21423
So if a write succeeds but a read doesn't, then that should be a timeout... hmm. maybe. after all, writes success (today I learned) doesn't really mean anything.... thinking...

[2017-08-30 18:35] soluchok opened #21701 "net/http: missing status in a proxied HTTPS responses after CONNECT request causes index out of range runtime panic"
### What version of Go are you using (`go version`)?

`go version go1.9 linux/amd64`

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

My code is:

[code]

### What did you expect to see?

Anything, but no panic in runtime :)

### What did you see instead?

I have got the error

[2017-08-30 18:39] metakeule commented on #21498
@bcmills Please don't associate callback with  "asynchronous callback". Callback simply means that the callback function may be called at a later time with in combination with closures allows for really nice APIs - even with Go. Callback spaghetti on the other hand is a "asynchronous callback"-only problem.

In fact you could argue that callbacks are so useful that they can even be abused to hide

[2017-08-30 18:46] metakeule commented on #21479
You could make the package name optional when it matches the directory name. That should cover all cases and behave exactly as today. Parser not having access to the path should get the name passed in.

I am in favor of the proposal because it makes refactoring easier in early stages (=pre release) of development (e.g. split out files to sub packages etc).

[2017-08-30 18:49] FiloSottile commented on #20967
I compared the two CLs for speed on my MacBook Pro 3.1 GHz Intel Core i5.

51f9e92 - CL 51670 by @crvv

[code]

1d4a2c8 - CL 51790 by @mmcloughlin

[code]

CL 51670 is ~7-30% faster. I also marginally prefer the assembly macros and not touching the non-amd64 files (but I suspect it'll have to be fixed not to break on machines without AES-NI). So unless I'm missing something I'd suggest focusing on

[2017-08-30 18:51] rsc commented on #21644
Forcing the indirection through package crypto is a bit odd. Do any real-world protocols use HMAC-BLAKE2? Maybe we don't need to do this?

[2017-08-30 18:58] mdempsky commented on #21696
From what I can tell, the package we select there is just for a space optimization. Picking the wrong package means we waste space in the reflect type information tables (and thus should still be fixed), but I don't think it affects correctness at least.

[2017-08-30 19:00] mmcloughlin commented on #20967
@FiloSottile I did some early work on this but stopped when I saw other people had taken it. The two CLs were from @crvv and Ilya Tocar, who does not appear to be on this thread.

[2017-08-30 19:14] rsc commented on #21696
@mdempsky the test in CL 27791, which introduced this code, is testing semantics observable via reflect and mentions #16616, so I don't think this is only about space usage.

[2017-08-30 19:20] soluchok commented on #21701
It happens very rarely, but it does happen.
I think it's something like that:

[code]

When I caught it the status was '400' but must be  '400 Bag request'

[2017-08-30 19:29] heschik commented on #21678
Spoke with @hyangah, @derekparker, @aarzilli about this; any mistakes are my own.

To me, the most obvious way to call a function from a debugger would be:
- Start with a stopped thread (that hit a breakpoint, presumably) and decide to call a function
- Save all the registers of the stopped thread
- Put the function arguments on the stack
- Set a breakpoint at the end of the called function
- Set

[2017-08-30 19:36] odeke-em commented on #21701
Yeah I was thinking that too but that path gets caught and reported with a "malformed HTTP response" when missing that status itself. We also have tests in net/http to test for this kind of thing.

Here is code to try to repro it, but in vain, trying as much to replicate the server as well as your client code at gist https://gist.github.com/odeke-em/876d24325d16b3885388f7f0dae9611d or inlined

###

[2017-08-30 19:48] FiloSottile commented on #20967
Ouch, this is what I get for writing replies on planes.

@TocarIP ^

[2017-08-30 19:51] odeke-em commented on #21701
NVM, am able to reproduce it now with the server

[2017-08-30 19:55] tombergan commented on #21701
This is definitely a bug:
https://github.com/golang/go/blob/7b4deccdeeb012f6ca1b2a42187f33822f56cd9b/src/net/http/transport.go#L1126

We cannot guarantee there's actually a space there, so we shouldn't access f[1] without checking len(f).

@odeke-em could you reproduce it with the code from [this comment](https://github.com/golang/go/issues/21701#issuecomment-326096331)? Looks like it only happens

[2017-08-30 19:56] odeke-em commented on #21701
@tombergan yap, with the code I posted I am able to reproduce it
[code]

[2017-08-30 19:58] odeke-em commented on #21701
Am now working on a minimal test case that we can then put in @soluchok's CL, review and then sail the ship to merge.

[2017-08-30 19:59] ianlancetaylor commented on #21696
It's not obvious to me that anything is wrong here.  The `f.Sym.Pkg` field here is a compiler internal data structure.  It's not the same as the reflect data.  The fact that exported fields have no package in the reflect data is handled later, in `dnameField`.

[2017-08-30 19:59] mdempsky commented on #21696
@rsc fixedbugs/issue16616.go still passes after removing that loop though.

[2017-08-30 20:01] soluchok commented on #21701
@odeke-em Thanks)

[2017-08-30 20:06] kamilsk commented on #21521
Good point for me.

Maybe is it better to hang the logic outside the context package? I think it is a more flexible way.

As an example what I use:
https://github.com/kamilsk/semaphore/blob/5c82a8b62d3b3009be756f8f9afaea94b3a89961/context.go#L8-L15
https://github.com/kamilsk/semaphore/blob/5c82a8b62d3b3009be756f8f9afaea94b3a89961/channel.go#L35-L49
_it is just 23 lines (7 lines are valuable :)) of

[2017-08-30 20:13] ianlancetaylor commented on #21678
My main comment is that we already support calling a Go function on a new thread, since that is exactly what we do using cgo when C code starts a thread that calls a //export Go function.  So in a sense we already have the hook you describe: it's called `runtime.cgocallback`.

[2017-08-30 20:25] metakeule commented on #21670
@jimmyfrasche

Regarding the "feature" to ask for other interface implementations (aka "is this io.Reader also an io.ReaderFrom"):

I think the problem this is supposed to solve is "optional features" of the receiving function. It is used in the standard library (e.g. http.ResponseWriter -> http.Flusher etc) and I also used it.

But for some time now I consider this a misfeature for the following

[2017-08-30 20:29] bcmills commented on #21678
Presumably you want to be able to call those functions with arguments, including local variables. Making the call from a different thread could easily violate the runtime's invariants about cross-goroutine access to the stack, so I think you'd have to restrict it to use only global or already-escaped variables, but that seems tricky to enforce.

[2017-08-30 20:30] bcmills commented on #21678
Another option might be to only allow function calls at GC safepoints, but then I guess we'd want some way to tell the debugger to break at the next safepoint.

[2017-08-30 20:30] petermattis commented on #14812
@aclements I have a different application from @dkisman-laserlike and @Dieterbe, but am also sensitive to the GC assist. I tested go1.9 with your 2 patches and unpatched go1.9 and against go1.8.3 with GC assist disabled:

|  | go1.9 | go1.9+59970+59971 | go1.8.3+no-gc-assist |
| --- | --- | --- | --- |
| 99%-tile latency (ms) | 50.3 | 48.2 | 30.4 |

I can gather more data if desired.

PS I tested

[2017-08-30 20:32] mdempsky opened #21702 "cmd/compile: bad reflect.StructField.PkgPath for embedding builtin types"
https://play.golang.org/p/FKRrIM2rDh

The PkgPath field for embedding the universal "error" type is being set to "go.builtin". It should be "main".

Related to #21696.

[2017-08-30 20:33] bcmills commented on #21678
I think this interacts with https://github.com/golang/go/issues/18597, in that the same mechanisms that would allow efficient use of callee-saved registers might also give the debugger enough insight to correctly spill them for an arbitrary function call. (But making an escaping call with non-escaping local arguments is still a problem.)

[2017-08-30 20:34] mdempsky commented on #21702
Actually, this applies to all builtin types, not just error.

[2017-08-30 20:43] heschik commented on #21678
@ianlancetaylor: Yeah, but they'd still have to get a thread created somehow without using libc, which means some platform-specific code, right? So a little wrapper that created a thread and had it run cgocallback would be handy.

@bcmills: Hmm. I hadn't thought about that. So, concretely: I might have some variable that doesn't escape and so is stack-allocated. Then I pass it to a function as an

[2017-08-30 20:46] pmarks-net commented on #18588
According to `goLookupIPCNAMEOrder`, no ordering exists between the A and AAAA queries (until the actual addresses are sorted by `sortByRFC6724`).

So, "first" and "last" are meaningless when talking about A vs. AAAA; the only way I see to fix this case would be to define an ordering between errors, i.e. "too many open files" always replaces "no such host" when both are present.

Out of curiosity,

[2017-08-30 21:03] rogpeppe commented on #21670
I'm not keen on this proposal. I think it will be confusing.

     var f = func([]byte) (int, error) {return 0, io.EOF}
     var r io.Reader = f

What happens when we reflect on the value of r? What should reflect.ValueOf(r).NumMethod() return?
I see two possibilities:
- it could return 0, because the underlying value has no methods.
- it could return 1, because any value satisfying io.Reader must

[2017-08-30 21:11] glycerine commented on #21423
@nhooyr I added a parameter to SetIdleTimeout() for your scenario. It is in the latest, v3.0.1.

https://github.com/glycerine/xcryptossh/commit/83b535bb64dbee22054b0c69e2cc5e6faa6a20ca

The API now looks like:

SetIdleTimeout(dur time.Duration, writesBump bool) error

where writesBump can be set to false for your use case: writes will not bump the idle timer, and reads will timeout independently o

[2017-08-30 21:13] andybons commented on #21691
Something is going awry with the proxying of the `/share` endpoint. I’ve attached a simple app engine app that can be used to debug locally.

Assigning to @broady to look further.

<details>
<summary>app.yaml</summary>

[code]
</details>
<details>
<summary>main.go</summary>

[code]
</summary>
</details>

[2017-08-30 21:13] tombergan commented on #21701
Not fixed yet.

[2017-08-30 21:15] andybons commented on #21691
I think we should make `/share` (and `/compile`?) available to golang.org via CORS instead of proxying the request. It seems that it would make things a bit easier to debug and result in less code on the backend.

[2017-08-30 21:29] titpetric commented on #18478
Ignoring multi-row statements for now (off topic), what's the current state of getting a quoter into the stdlib? Is this one of those issues which might be marked as help-wanted? If I have some free time on my hands (and some experience with mentioned prior art like PHP PDO and mysqli), what are the best steps I could make to help move this along (write code, put together a proposal,...?)

[2017-08-30 21:43] ianlancetaylor commented on #21678
We can't permit passing a pointer to a local variable to some random function.  But that seems to me to be a fairly minor restriction, easily enforced by the debugger and not too troubling for the user.

[2017-08-30 21:51] jayconrod opened #21703 "cmd/pack: produces malformed .a files"
### What version of Go are you using (`go version`)?

1.7.6.

### Does this issue reproduce with the latest release?

No, but the underlying issue still appears to be present.

I tried to reproduce with Go 1.9 (following the instructions below), but the package export data is different. src/cmd/pack/pack.go has not changed, so unless the export data format has changed in a way that makes this issu

[2017-08-30 22:00] #20499 closed

[2017-08-30 22:10] odeke-em commented on #21701
Alright, here is a test https://gist.github.com/odeke-em/876d24325d16b3885388f7f0dae9611d#file-test_for_cl-go.

[2017-08-30 22:44] dsnet commented on #21702
I think this is a duplicate of #21122

[2017-08-30 22:47] mdempsky commented on #21702
@dsnet Certainly related at least. CL 60410 changes `S1.x`'s PkgPath from "" to "main".

[2017-08-30 23:10] alexbrainman commented on #21531
This is already taken care of in https://go-review.googlesource.com/#/c/go/+/57270/

Alex

[2017-08-30 23:15] dsnet commented on #21702
Ah, you're right. Definitely related, but different. Lot's subtleties around StructField.PkgPath it seems...

[2017-08-30 23:18] sylvinus commented on #21463
I've updated my repository to add support for all fixed-length unanchored patterns. Support on the GitHub dataset increased from 33.78% to 36.51% with overall performance improvements. It would even go up to 55% if/when we support captures.

I am pretty excited by the fact that on some patterns, my implementation beats all the engines I have been able to benchmark, including Rust which usually per

[2017-08-30 23:46] erahn opened #21704 "crypto: add Equal(PublicKey) bool method to PublicKey implementations"
### What version of Go are you using (`go version`)?
1.9

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
Any

### What did you do?
https://play.golang.org/p/DAZM324jkY

### What did you expect to see?
This is a request for adding a Cmp() function to the PublicKey / PrivateKey types in the crypto library. Cu

[2017-08-30 23:53] dsnet commented on #21704
\cc @agl

[2017-08-31 00:00] rsc commented on #21463
Hi. Thanks for looking into the performance here. I would like to understand better how much of the improved performance can be had by appropriate adjustments to the existing matchers versus how much requires a whole new matcher. Every new matcher adds a cost, and honestly I think we have too many already. I don't really like how overengineered RE2 is, and I don't want Go's regexp package to end u

[2017-08-31 00:00] mdempsky commented on #21703
I was discussing with @ianlancetaylor a week or two ago to make -pack the default behavior and remove it as a flag. Having two framing formats for package export data makes things a little unnecessarily complex.

This bug further suggests that would be worthwhile.

I don't think @griesemer or I were aware of that logic in cmd/pack. The object file format delimits the package export data with "$$",

[2017-08-31 00:28] mdempsky opened #21705 "proposal: cmd/compile: make -pack the default behavior and remove the flag"
TL;DR: I propose making cmd/compile's -pack flag the default behavior and removing the flag. The goal of this is to simplify the compiler's output file formats.

Background: Logically, cmd/compile produces two outputs when compiling a package: the "compiler object" (mainly package export data used by later compilations that import this package) and the "linker object" (compiled function instructio

[2017-08-31 01:03] rsc commented on #21357
Yes, I was proposing to ignore pointers to unexported embedded types entirely.

[2017-08-31 01:03] rsc commented on #21357
(For both Marshal and Unmarshal, unconditionally, no matter what their values.)

[2017-08-31 01:11] ianlancetaylor commented on #21705
I don't think this needs to be a formal proposal that is reviewed by the proposal committee.  I think this can be decided by the compiler developers.

I think the main thing to think about is that people do invoke the compiler directly.  I think we should keep the `-pack` flag, at least for a while, even if it becomes a no-op.  And if possible the old workflow of invoking the compiler without `-pa

[2017-08-31 01:27] Sajmani commented on #21670
I think if we were to allow function values to satisfy interfaces, I'd
prefer an explicit conversion: io.Reader(f). This provides two benefits:
(1) it helps the user avoid errors, E.g., reversing the arts to io.Copy;
(2) it requires the caller be able to name the interface, avoiding
confusion when the interface name is unexported and the caller is in
another package.
On Wed, Aug 30, 2017 at 5:04 P

[2017-08-31 01:35] hirochachacha opened #21706 "cmd/nm: cannot handle cgo archive"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.
[code]

#### What did you expect to see?
success.

#### What did you see instead?
[code]
#### Does this issue reproduce with the latest release (go1.9)?
I think so.

#### System de

[2017-08-31 01:42] dsnet commented on #21357
I'll implement the change and see what breaks as a result of this (hopefully nothing).

[2017-08-31 01:46] #20054 closed

[2017-08-31 02:00] hirochachacha opened #21707 "proposal: os/exec: add String() to *exec.Cmd"
I propose adding String() to *exec.Cmd. For example,
[code]
will print
[code]
or
[code]
This is useful when we want to improve error messages.

[2017-08-31 02:09] #20663 closed

[2017-08-31 02:13] yaxinlx commented on #19220
Aha, the original intention of this issue is to add an strings.IndexFrom(s, sep string, fromIndex int) API, :)

[2017-08-31 02:15] reaperhulk opened #21708 "cmd/cgo: overflow error on int64_t"
Under go 1.9 the following code no longer compiles due to an overflow:

[code]

`./main.go:10: constant 9223372036854775808 overflows C.int64_t`

Under go 1.8.3 and below this code compiles and works without error. Obviously 0x8000000000000000 does overflow an int64_t, but it seems like the (int64_t) cast in the C code should already have overflowed it to the value -9223372036854775808 before cgo

[2017-08-31 02:49] #21634 closed

[2017-08-31 03:31] #18458 closed

[2017-08-31 03:37] robpike commented on #21707
It's pretty easy to do this yourself if you're in charge of constructing the command line.

[2017-08-31 03:45] odeke-em commented on #21707
Yeah, same thought as @robpike, and in deed you have better control yourself, and can
directly inspect `cmd.Args` which would even be more helpful for things like structured logging e.g.
[code]

[2017-08-31 03:46] odeke-em commented on #21708
/cc @ianlancetaylor @hirochachacha

[2017-08-31 04:15] hirochachacha commented on #21708
This is a serious bug, could be a go1.9.1 candidate.

[code]

[code]

[code]

The problem is that current uint detection is too optimistic.
I'm not sure about the right solution here. But at least if the detection is failed,
it should fallback to int64, not uint64.

This is the second time I broke in this season, I'm really sorry about that.

[2017-08-31 04:23] tarm commented on #18534
For the recent benchmarking, I have been running with `taskset -c 0` but that should constrain it to one core as well or better than GOMAXPROCS=1.

This application is a tick based application instead of a run-to-completion type application so throughput is more difficult to measure.  Over about 12 hours of running, the accumulated CPU time (as reported through `top`) was about 1.4% higher in the

[2017-08-31 04:28] twmb opened #21709 "cmd/compile: unexpected escape when ranging over an anonymous struct containing functions"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
https://play.golang.org/p/WzFvL4aqML
`go test -bench . -benchmem`

#### What did you expect to see?
`BenchmarkB` to have 0 allocations

#### What did you see instead?
[code]

#### System details

[code]

[2017-08-31 04:38] chenjie4255 opened #21710 "go test error with ' use of internal package not allowed'"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.8.3 darwin/amd64
go version go1.8.1 darwin/amd64

### Does this issue reproduce with the latest release?
no, but it have another problem, which says that the type (in gopath) doest not match the type in govendor folder.

[code]

### What operating system and proc

[2017-08-31 04:47] anguslees opened #21711 "cmd/vet: document better the cmd/go flags that go vet supports"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9 linux/amd64

### Does this issue reproduce with the latest release?
this is the latest release

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

I have a Makefile that (after variable expansion) runs:

[2017-08-31 04:54] reaperhulk commented on #21708
@hirochachacha It's okay, I appreciate the rapid diagnosis. It's easy to stay on go1.8.3 until this is resolved. Thanks for all that you do!

[2017-08-31 05:14] hirochachacha commented on #21708
@reaperhulk Thank you. I sent the fix. I hope that solve the problem

[2017-08-31 05:50] purpleidea opened #21712 "Gotype lint error in 1.9 (worked in 1.8)"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.9 linux/amd64

### Does this issue reproduce with the latest release?

Yes, fails with `git tip` as well.

### What operating system and processor architecture are you using (`go env`)?

[code]
### What did you do?

100% reproducible. Travis link:

https://travi

[2017-08-31 05:51] purpleidea commented on #21712
Upstream issue btw: https://github.com/libvirt/libvirt-go/issues/22

[2017-08-31 05:55] ffcactus commented on #19814
type EnumA int
const (
    Unknown EnumA = iota
    AAA
)

----------------------------
type EnumB int
const (
     Unknown EnumB = iota
     BBB
)

There 2 pieces of code can't exist in a single Go file, nor the same package, nor even one is import from another package.

[2017-08-31 05:56] hirochachacha commented on #21707
In general, we can write any program without String().
We can always write own string representation easily. String() is not an intrinsic method.
But it doesn't mean String() is useless, programmers are sometimes lazy.
I feel that *exec.Cmd is a good candidate for fmt.Stringer because the string representation can express differences between each instances effectively.

[2017-08-31 05:58] robpike commented on #21711
There is no reason whatever to pass -ldflags to vet. Just remove that flag from the call.

The documentation could be better. The "standard build flags" really refers to compile-time features such as -n, -x, and -tags. The word "build" is being misused; a better term might be "diagnostic and package-finding".

[2017-08-31 06:00] davecheney commented on #21707
Seconded, fmt.Stringer is a better choice.

On Thu, 31 Aug 2017, 15:56 hirochachacha <notifications@github.com> wrote:

[2017-08-31 06:09] anguslees commented on #21711
Ah ok.  Yes, I understand that vet has no actual use for `-ldflags`.  The change means that with 1.9 I now need to refactor into a `go $cmd $(GOFLAGS)` _and_ a `go vet $(GOFLAGS_FOR_VET)` which makes me sad :(

[2017-08-31 07:06] robpike commented on #21711
I don't really understand how it ever worked before. It shouldn't have. I consider the situation to be fixed rather than broken.

[2017-08-31 07:07] robpike commented on #21707
I disagree. A Cmd is a lot more (a LOT!) than a set of arguments, and implementing Stringer for that type would, by this approach printing only the args, suppress the rest.