[2018-08-28 07:35] navytux commented on #27108
Possibly related issue about still unfixed Fannkuch11 performance regression from Go1.8 -> Go1.9 time: https://github.com/golang/go/issues/18977.

For the reference: Fannkuch11 performance depends heavily on BCE: https://github.com/golang/go/issues/24660.

[2018-08-28 07:36] sirkon opened #27299 "cmd/go: "go get: unzip: malformed file path: double dot""
* `go version`
[code]
    downloaded yesterday (27 august)

*
[code]

* I am trying to use ANTLR4 runtime support via go modules, steps to reproduce:
    1. Choose some directory
    2. Create new Go package/module:
[code]
    3. Try to get ANTLR4 runtime support module
[code]
    4. Obviously, successful download was expected, got an error message instead:
[code]

    I guess double dots in some

[2018-08-28 07:38] navytux commented on #26877
Related issue about map operations being slow: https://github.com/golang/go/issues/19495.

[2018-08-28 08:09] axet opened #27300 "x/mobile: failed to find packages"
### What version of Go are you using (`go version`)?
`go version go1.11 darwin/amd64`

### Does this issue reproduce with the latest release?
Issue related to new 'go mod' feature only. Previous build works.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]
Stops with following error:
[code]

Directory is readonly. If you run:

[cod

[2018-08-28 08:16] dave commented on #26363
Hey is there anything I need to do to keep this from going stale?

[2018-08-28 08:49] trex58 commented on #27160
Hi Dmitri,
- I've updated the buildlet binary (go get -v -insecure golang.org/x/build/cmd/buildlet).
  It is : /go/bin/buildlet
- I have put the host key in:      /.gobuildkey  &   /.gobuildkey-host-foo-bar
# cat /.gobuildkey-host-foo-bar
aa4ce87fc6a94b154aca0e82e1ecdbea
#
- I have:
# env | grep GO
GOPATH=/go
GOCACHE=/tmp/.cache/go-build
GO_BUILD_KEY_PATH=/.gobuildkey
- And I get:
# buildlet -coor

[2018-08-28 09:27] #26072 closed

[2018-08-28 09:33] alexbrainman commented on #25722
This works (thank you):
[code]
I will send a patch when free. Unless someone beats me to it.

Alex

[2018-08-28 09:36] huydx opened #27301 "time: UnixNano() is rounded to microsecond"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.11

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

[code]

### What did you expect to see?
NOT microsecond rounded every time

### What did you see instea

[2018-08-28 09:44] theckman commented on #27251
A few of us in the Gofrs group were talking about this, and managed to bisect it down to:

[code]

[2018-08-28 09:46] theckman commented on #27289
Bisected it down to e0d37a33ab6260f5acc68dbb9a02c3135d19bcbb:

- https://github.com/golang/go/issues/27251#issuecomment-416520022

[2018-08-28 11:12] VadimKorniychuk commented on #27301
Got same issue today, looks like introduced here https://go-review.googlesource.com/c/go/+/110655

[2018-08-28 11:41] agnivade commented on #27301
/cc @randall77 @ianlancetaylor

[2018-08-28 11:55] agnivade commented on #27238
Can you paste the output of `go build -v -x` ?

[2018-08-28 12:02] ayanamist opened #27302 "net/url: regression after #22907 fixed"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
[code]

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
https://play.golang.org/p/bScfUelhUmE

### What did you expect to see?
[code]

### What did you see in

[2018-08-28 12:25] VadimKorniychuk commented on #27301
https://go-review.googlesource.com/c/go/+/110655 introduced getting time by calling gettimeofday
but it does not return nanoseconds at all according to man
     struct timeval {
             time_t       tv_sec;   /* seconds since Jan. 1, 1970 */
             suseconds_t  tv_usec;  /* and microseconds */
     };

[2018-08-28 12:29] gjh33 commented on #27257
Maybe that's the case, I just felt that the optimizations and benefits of arrays' size being known at compile time is something I'd want users of my library to have the option to. And I really like the idea of the compile time optimizations that can be made around arrays, but for now their use seems extremely limited to me if I can't check the size. That being said I'm willing to admit there could

[2018-08-28 12:32] rkuska commented on #27215
Same is happening here:

[code]

[2018-08-28 12:32] jhinrichsen opened #27303 "cmd/go: `go test` complains about missing gcc (even if no tests exist, and only for certain imports)"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go version go1.11 linux/amd64`

### Does this issue reproduce with the latest release?
Yes, 1.11 is the latest release.

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

Create an empty directory, and copy a single m

[2018-08-28 12:49] mrcg opened #27304 "golang script suddenly crashing, need help to verify code and add recovery"
### What version of Go are you using (`go version`)?
1.10

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
Raspbian v9.4 Stretch

### What did you do?
I am trying to find solution for system crash which is caused in github code ("status.go" file) for the following project:
https://github.com/mcuadros/OctoPri

[2018-08-28 12:57] jcajka commented on #26796
Sorry for longer reply time.

I think that both could be beneficial. For containers I think that fedora:rawhide and fedora:latest should be used to test both against the unstable rawhide and latest stable release. Rawhide more like non-blocking smoke test(it could be broken/stale from time to time).

After taking quick peak at the GCE and the scripts. It doesn't support the regular AWS or openstac

[2018-08-28 13:17] andybons commented on #27290
Hm. What is the output of `pkgutil --check-signature go1.11.darwin-amd64.pkg` for you?

I get:

[code]

[2018-08-28 13:28] riccardo1991 opened #27305 "bufio.NewWriter() is not checking the file mode"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.10.3

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
darwin/amd64

### What did you do?
I was writing into a writer, no errors and even got the number of byte written, but the file was

[2018-08-28 13:33] davecheney commented on #27305
I don’t think this is a bug. In the error check after you open the file you must return from the function, logging the error and then continuing is not appropriate because `file` is not valid at that point.

[2018-08-28 13:39] thesyncim opened #27306 "os: invalid tmp dir for GOARCH=wasm, GOOS=js when GOHOSTOS=windows"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
https://play.golang.org/p/e5sTf5-QdnM
//steps to reproduce  (GOHOSTOS= windows)
set GOOS=js
set GOARCH=wasm
set CGO_ENABLED=0
go test -c -o test.wasm
node wasm_exec.js test.wasm
#### What did you expect to see?
test succeed

#### What did you see instead?
--- FAIL: TestTmpFileGOARCH_wasm_GOHOSTOS_windows (0.

[2018-08-28 13:40] thesyncim commented on #27306
also the os path separator should reflect GOHOSTOS value

[2018-08-28 13:40] riccardo1991 commented on #27305
I have a return (after all the three logger.Error), I have omitted here to make the code more readable. Anyway I am not going inside that error check .

[2018-08-28 13:42] dominikh commented on #27305
You're also ignoring the error returned by Flush, which will likely be the first time Go actually attempts writing to the file.

Either way, bufio works with generic io.Writers, it doesn't know anything about files, and it shouldn't have to.

[2018-08-28 13:44] thesyncim commented on #27306
@neelance

[2018-08-28 13:45] dominikh commented on #27304
Unlike many projects on GitHub, the Go project does not use its bug tracker for general discussion or asking questions. We only use our bug tracker for tracking bugs and tracking proposals going through the Proposal Process.

Please see https://golang.org/wiki/Questions for good places to ask questions.

[2018-08-28 13:45] #27304 closed

[2018-08-28 13:46] bcmills commented on #27215
I think the `go` tool is ending up interpreting the `/...` as part of the package path instead of a pattern.

Note that in module mode, `...` patterns match packages in *active* modules, so it doesn't really make sense to `go get -u` one of those patterns unless you've already got those packages in your module dependencies. It would be helpful to see the output of `go list golang.org/x/tools/...`

[2018-08-28 13:47] bcmills commented on #27215
@ivanalejandro0 I would be surprised if an issue fixable by `go clean -modcache` is the same as the one involving `...` patterns.

[2018-08-28 13:49] riccardo1991 commented on #27305
Yes, my mistake was ignoring the error from Flush, in fact now I checked and it's complaining `bad file descriptor`.

[2018-08-28 13:50] #27305 closed

[2018-08-28 13:50] fhs commented on #27294
It should just accept those results on Plan 9. It doesn't seem worth it to parse the int out. Even then, `exit "0"` would be a special case.

[2018-08-28 13:58] bradfitz commented on #27280
Sorry about this. We try hard to be really conservative in what we put in patch releases, but sometimes stuff happens. Doubly so whenever cgo is involved.

Closing, as it sounds like there's nothing to do.

[2018-08-28 13:58] #27280 closed

[2018-08-28 14:00] sword2ya commented on #27238
as follows:

[code]

[2018-08-28 14:01] bradfitz commented on #27160
@trex58, you pasted the private builder key above. I deleted it. Please don't share it publicly.

Your mistake is here `-reverse-type=host-foo-bar`. "foo bar" is an example placeholder. That's where you put your host config type.

[2018-08-28 14:12] #27294 closed

[2018-08-28 14:12] porridge opened #27307 "Invalid links in https://golang.org/doc/go1.11#modules"
Not sure this is a right place to report a problem with the golang.org website.

### What did you expect to see?

Two links under https://golang.org/doc/go1.11#modules
point to https://golang.org/cmd/go/#hdr-Modules__module_versions__and_more
however there is no such anchor in that document.

### What did you see instead?

Browser shows the top of the document rather the starting point for modules

[2018-08-28 14:19] tklauser commented on #27306
/cc @bradfitz

[2018-08-28 14:32] thinkerou commented on #27302
gin web framework also have same question. thanks!

[2018-08-28 14:34] hummerd opened #27308 "proposal: Add type position to guru describe output"
It would be nice to have command like 'Go to type definition' in code editors. To help implement this we need to know where type of current (under cursor) identifier is defined.

So proposal is to add "typepos" to json output of describe identifier.
`
{
	"desc": "identifier",
	"pos": "testdata/src/describe-json/main.go:16:8",
	"detail": "value",
	"value": {
		"type": "I",
		"typepos": "testdata/sr

[2018-08-28 14:36] misha-tectonic opened #27309 "cmd/go: go mod graph shows indirect dependencies as requirements of main module"
### What version of Go are you using (`go version`)?

Go 1.11

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

### What did you expect to see?
[code]

### What did you see instead?

[code]

Only happens with indirect dependencies.

[2018-08-28 14:37] trex58 commented on #27160
Ooops ! Sorry about showing the key.

Now using:
cat /go/bin/buildletloop
while true
do
       buildlet -coordinator=farmer.golang.org -reverse-type=host-aix-ppc64-osuosl -reboot=false
done

Now, I have:
# sh buildletloop
2018/08/28 14:29:05 buildlet starting.
2018/08/28 14:29:05 Dialing coordinator farmer.golang.org:443 ...
2018/08/28 14:29:06 Doing TLS handshake with coordinator (verifying hostn

[2018-08-28 15:17] kfox1111 commented on #22846
Ping

[2018-08-28 15:34] rajender opened #27310 "cmd/go: go clean giving error"
### What version of Go are you using (`go version`)?
Go1.11

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/root/go"
GOPROXY=""
GORACE=""
GOROOT="/usr/local/go"
GOTMPDIR=""
G

[2018-08-28 15:34] definitelycarter opened #27311 "x/net/websocket add a web socket client when targeting js,wasm"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
v 1.11

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN="/Users/adamtcarter/go/bin"
GOCACHE="/Users/adamtcarter/Library/Caches/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARC

[2018-08-28 15:35] rajender commented on #27310
@gopherbot add label modules

[2018-08-28 15:37] trex58 commented on #27160
I have changed: GOROOT_BOOTSTRAP=/opt/freeware/lib/golang/ . This is what we already use for bootstrapping from the previously installed RPMs of golang build by our .spec file.

I have created a SRC subsystem for /go/bin/buildletloop which will run continuously and will restart at AIX reboot.

[2018-08-28 15:40] trex58 commented on #27160
I now have:
while true
do
        buildlet -coordinator=farmer.golang.org -reverse-type=**host-aix-ppc64-osuosl** -reboot=false
done

[2018-08-28 15:42] rajender commented on #27309
@gopherbot add label modules

[2018-08-28 15:42] mvdan opened #27312 "x/build/cmd/gopherbot: use the commit message if there's exactly one"
Time and time again, I see contributors updating their commit messages on their PRs, instead of updating the PR title and body. I can understand that - it's more intuitive, it can be done very easily with git, and it mirrors what people do with Github and Gerrit.

However, gopherbot does the opposite - it ignores the actual commit messages, but uses the PR title and body. This is can be good for n

[2018-08-28 15:43] pda commented on #26988
I find it surprising. It's a pain when there's no `gcc`.
Here's a minimal reproduction:

[code]

It looks like setting `CGO_ENABLED=0` avoids the error, but I'm not sure what the implications are…

[code]

[2018-08-28 15:47] mvdan commented on #27312
I just realised this should be a comment on #25359, but I failed to find the issue. Will close and comment there.

[2018-08-28 15:47] #27312 closed

[2018-08-28 15:47] ssuhvs commented on #26988
mb

Paul Annesley <notifications@github.com>于2018年8月28日 周二23:46写道：

--
 ------------------ 致礼！

[2018-08-28 15:49] mvdan commented on #25359
I agree that this is very confusing. Yet another contributor is fighting gerritbot today: https://go-review.googlesource.com/c/go/+/126897

How about using the commit message if there's exactly one commit, but using the PR title+body otherwise? That seems to be the best of both worlds. If someone knows how to squash/rebase commits, they very likely know how to update commit messages that way. If s

[2018-08-28 16:01] #26444 closed

[2018-08-28 16:01] #27275 closed

[2018-08-28 16:01] mfrw opened #27313 "wiki: keeping a check on wiki page creation/edits"
All must have noticed in the past few days attempts by people to create a random page on the wiki.
I was wondering if there was a way we could check this.
Although this is not an issue related to the language, I thought of raising it here as all of us can not religiously follow the mailing list.

[2018-08-28 16:20] BryceDFisher commented on #27062
It looks like the discussion from https://github.com/golang/proposal/blob/master/design/25719-go15vendor.md and the comment in https://github.com/golang/go/blob/3acd2576ab224d905cfd09208a6d6607ce4b0fb6/src/go/build/build.go#L360 ensure that plugins built with vendor directories will never see types as used above as the same type at run time.

Does anyone have a better method that I could use in my

[2018-08-28 16:20] ianlancetaylor commented on #27313
Does GitHub provide any way to subscribe to changes in the wiki?

[2018-08-28 16:27] ianlancetaylor commented on #27308
CC @alandonovan

[2018-08-28 16:31] jeffkayser2 opened #27314 "Proposal for errors with data"
Please answer these questions before submitting your issue. Thanks!

For Jonathan Amsterdam and Damien Neil
Related to the Go 2 proposal regarding error handling.
Sorry for making it a bug: It's not a bug.  It's an idea for Go 2 error handling.
I didn't know how else to communicate it.

[code]

[2018-08-28 16:52] randall77 commented on #27301
Well, we use `gettimeofday` for the wall clock and `mach_absolute_time` for the monotonic clock.
Yes, `gettimeofday` returns only microsecond resolution. I couldn't find anything on Darwin that gives higher resolution.
However, `mach_absolute_time` has nanosecond resolution. Thus, the monotonic time has nanosecond resolution. If you do:
[code]
You'll get nanosecond resolution.

So I'm going to clo

[2018-08-28 16:52] #27301 closed

[2018-08-28 16:53] bradfitz commented on #27160
Great. And https://farmer.golang.org/ now shows your machine connected:

[code]

So now we just need to configure our side to give it work.

[2018-08-28 16:55] ivanalejandro0 commented on #27215
Yeah, I agree.
My problem didn't involve any `...`, but @wsc1 said that with "`GO111MODULE=off` works ok", so I figured it may be worth mentioning.

[2018-08-28 16:55] bradfitz commented on #25359
@mvdan, that would be my preference too (if 1 commit, use it).

The one downside is that it precludes us from easily fixing their commit message before submitting, which we often do to save a round of back-and-forth. At least, we'd need to a way to flag a CL as "Gerrit-owned-and-frozen" so Gerritbot stops trying to update it so we can tweak the commit message in Gerrit & then submit.

[2018-08-28 17:01] ChimeraCoder commented on #27290
Hm, I get that as well, but now it actually *is* working for me, even though it definitely wasn't yesterday.

I actually don't know much about how Gatekeeper works - does it require a network connection for validation? The conference wifi was pretty spotty yesterday.

[code]

[2018-08-28 17:09] agnivade commented on #27238
@bcmills @rsc

[2018-08-28 17:10] egtann commented on #24151
The fix worked without a hitch. Thanks again, @FiloSottile!

[2018-08-28 17:11] mvdan commented on #25359
What if gerritbot didn't undo commit message changes, if they had been updated by a gerrit user with submit privileges?

Of course, if the author updates the PR, the change would be lost. But it should work if all you need is to update the commit message and have it temporarily stick until you hit the submit button.

[2018-08-28 17:14] matthalladay opened #27315 "net: conn.Read() methods seem to thrash CPU, please return on insufficient data"
1. Version: Go 1.10
2. Does it reproduce: I'm sure, this is more of a request than an issue
3. Ubuntu 16.04 AMD64
3. What did I do...
It is likely that I missed something, but in implementing a network stream collector which sits and spins on arriving UDP messages (arrive every 40 microseconds) I see quite heavy CPU utilization.

This is using conn.SetReadDeadline with conn.Read.  Note that the co

[2018-08-28 17:35] AdamSLevy opened #27316 "Goimports and gofmt disagree about formatting"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
Ran goimports and then gofmt on the same file and they produced different results.

When I run goimports it gets this formatting wrong:
[code]
gofmt changes it back:
[code]

#### What did you expect to see?
I expect goimports and gofmt to agree on formatting.

#### What did you see instead?
goimports produce

[2018-08-28 17:44] myitcv commented on #27316
Just a quick check, did you recompile `goimports` using Go 1.11?

[2018-08-28 18:17] rasky commented on #27289
There's a probably an off-by-one somewhere... I need to look at it but I'm off this week.

[2018-08-28 18:18] dr2chase commented on #27251
I've got a revert ready, not skilled at submitting CLs off head, also doing a round of benchmarking just in case it's got horrible effects.

[2018-08-28 18:18] nbosscher opened #27317 "net/http: Set-Cookie headers missing when response has multiple"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.11 darwin/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

When I'm requesting an http2 endpoint that sets multiple cookies, not all the

[2018-08-28 18:38] andriisoldatenko commented on #27290
@andybons @ChimeraCoder
[code]

it works without any issues.
![image](https://user-images.githubusercontent.com/1374633/44743283-ba64f000-ab0a-11e8-8557-a1e1451bba0b.png)

may be we can close ticket?

[2018-08-28 19:12] edaniels commented on #27275
Can this be made to be go 1.11.1 https://github.com/golang/go/milestone/80? This prevents us from an upgrade to go 1.11 in production.

[2018-08-28 19:16] mvdan commented on #27275
Perhaps so - it is a regression, and the CL is small, so it seems doable to me. cc @bradfitz @dsnet @rsc for a decision on that.

[2018-08-28 19:25] gopherbot opened #27318 "encoding/json: empty fields in json.UnmarshalTypeError [1.11 backport]"
@bradfitz requested issue #27275 to be considered for backport to the next 1.11 minor release.

[2018-08-28 19:28] bradfitz commented on #27306
Does this only affect running tests?

If so, one answer is that we're fine with the Linux-based builders only.

As long as Windows users can still generate working *.wasm files that run in browsers, we might be fine without tests.

But then again, the fix might also be simple enough. It might not be okay for the os package to depend on syscall/js, though.

[2018-08-28 19:31] bradfitz commented on #25722
Nice to hear that works.

[2018-08-28 19:55] thesyncim commented on #27306
no,

Let me give you some context:

I'm currently working on a "bridge" between go http handlers and nodejs request listeners.

This allow us to use regular [http Handlers](https://golang.org/pkg/net/http/#Handler) as node [requestListener](https://nodejs.org/api/http.html#http_http_createserver_options_requestlistener),
it can be useful to extend old js services with new functionalities written 1

[2018-08-28 20:45] AdamSLevy commented on #27316
Great catch. No I hadn't. I did so and that resolved the issue.

Thank you

[2018-08-28 20:45] #27316 closed

[2018-08-28 20:52] andybons commented on #27290
Hm very odd. I’m

[2018-08-28 20:52] #27290 closed

[2018-08-28 21:08] rbastic commented on #27289
https://play.golang.org/p/Ooi-BHysN21

Most of a test case for the above issue, if this helps anyone. Needs some cleanup still.

[2018-08-28 21:25] jocgir opened #27319 "text/template: Parse does not report error line correctly"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.11

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/jgiroux/Library/Caches/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOO

[2018-08-28 21:44] #27257 closed

[2018-08-28 21:45] derekparker commented on #27039
Thanks @thanm.

[2018-08-28 22:08] bradfitz opened #27320 "go/build: document when Context.BuildTags is used/populated"
Context.BuildTags is not set when you read go/build.Default.BuildTags.

It's only used by (*BuildTags).Import, etc.

Document that.

[2018-08-28 22:14] beaubrueggemann opened #27321 "x/tools/cmd/godoc: some line-heights became less readable"
[https://go-review.googlesource.com/c/tools/+/94935](https://go-review.googlesource.com/c/tools/+/94935) changed some line-height values in godoc/static/style.css, dropping the em unit specifier.

It appears these line-height changes weren't meant to have any visible changes.  The reasoning in the CL states:

But em is not the default unit for line-height (see [https://developer.mozilla.org/en-US/

[2018-08-28 22:26] kardianos commented on #27241
You're chasing the wrong tree I think, if you are trying to get around `[mysql] ... packets.go:36: read tcp ip:port->ip2:port2: i/o timeout
`

Try to reproduce it locally in a test case. Try to adjust the sql.DB pool's settings, then try to adjust the MySQL server settings. It probably has to do with the connection string you are using would be my guess.

[2018-08-28 22:33] kevinburke commented on #27314
Hey! Thanks for this. The suggested method for feedback is to write about it on your own site - website, Medium, etc - and then add a link to your post here: https://github.com/golang/go/wiki/Go2ErrorValuesFeedback

Writing a post would also let you add a little context around the code to explain why it would be an improvement or improve the proposal!

[2018-08-28 22:33] #27314 closed

[2018-08-28 22:55] rhysh opened #27322 "x/debug/cmd/viewcore: missing executable shows as panic"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

This is the latest revision of golang.org/x/debug/cmd/viewcore, golang/debug@1ff449a1b670fb60da59e170803373318549b845. It fails with go1.10.4 and also with go1.11.

### What operating system and processor architecture are you using (`go env`)?

I'm using a darwin/amd64 machine to l

[2018-08-28 22:58] randall77 commented on #27322
@hyangah

[2018-08-28 23:07] rhysh opened #27323 "x/debug/cmd/viewcore: panic on missing pctab entry"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

This is the latest revision of golang.org/x/debug/cmd/viewcore, golang/debug@1ff449a1b670fb60da59e170803373318549b845. It fails with go1.10.4 and also with go1.11.

### What operating system and processor architecture are you using (`go env`)?

As in #27322, I'm using a darwin/amd6

[2018-08-28 23:13] mfrw commented on #27320
Can I take a shot on this

[2018-08-28 23:21] petethepig opened #27324 "x/mobile: Does not work with go.mod `replace`"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

I created a very basic go project that illustrates the issue: https://github.com/petethepig/gomobilebug

There's a `go.mod` file, notice the use of `replace`:
[code]

[2018-08-28 23:36] mark-rushakoff commented on #27301
A slightly more complete example of getting, roughly, "now" in nanoseconds:

[code]

[2018-08-28 23:40] bshlomo opened #27325 "tour: error in functions tutorial (hebrew)"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
Don't know
I am here
https://go-tour-he.appspot.com/#8

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?
Learning the lang

If possible, provide a recipe for reproducing

[2018-08-28 23:59] ianlancetaylor commented on #27315
What are you really trying to do?  Why are you using `SetReadDeadline`?  How many concurrent connections do you need to support?

Have you considered not using `SetReadDeadline`, but instead using an ordinary `Read` and sending the results on a channel?  Then some other goroutine can use timers and read from the channel as it pleases.

[2018-08-29 00:08] ianlancetaylor commented on #27303
Most likely a dup of #26988 and/or #27285.

[2018-08-29 00:14] ianlancetaylor commented on #27320
But why would you expect `BuildTags` to be set?  Note that `BuildTags` is not `ReleaseTags`.

[2018-08-29 00:16] heschik commented on #27323
This was during an investigation of (a variant of?) #24925. So the problem should be basically the same: it's gone off the rails trying to backtrace the nanotime call. We still shouldn't crash.

@hyangah

[2018-08-29 00:39] apparentlymart commented on #26677
I think #26794 is somewhat-related. It's not talking about `GOCACHE` directly, but is another reason why concurrently running `go` commands may not be safe. Perhaps worth mentioning that in the documentation produced by this issue too.

[2018-08-29 00:47] appleboy commented on #27302
See the example code and [test result](https://travis-ci.org/appleboy/test/builds/420931968) from travis

https://github.com/appleboy/test/blob/5bada5983205637713c3b04f84cfb7454dde4e05/url_test.go#L9-L30

[2018-08-29 01:17] jimmyfrasche commented on #27321
This is my fault. I gave @agnivade bad advice because I confidently mis-remembered how line-heights work and didn't notice the visual difference. Sorry!

[2018-08-29 02:03] cherrymui opened #27326 "cmd/compile: GOEXPERIMENT=clobberdead is broken"
### What version of Go are you using (`go version`)?
tip (618bfb28dc02c410659312f38cd3500352ba15ed)

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
darwin/amd64

### What did you do?
[code]

Not sure if it catches a real bug, or the experiment itself is broken. I may take a look tomorrow.

[2018-08-29 02:10] nigeltao commented on #27281
Yeah, text shaping isn't implemented yet. There's no Go equivalent of HarfBuzz yet.

That's certainly a bug I'd like to see fixed, but it'd be a lot of work, and I don't have any free time. Sorry.

[2018-08-29 02:53] benshi001 opened #27327 "regression test failed on android"
##### Testing packages.
	ok  	archive/tar	2.402s
	ok  	archive/zip	7.800s
	ok  	bufio	2.313s
	ok  	bytes	4.165s
	ok  	compress/bzip2	2.756s
	ok  	compress/flate	5.625s
	ok  	compress/gzip	2.774s
	ok  	compress/lzw	2.606s
	ok  	compress/zlib	2.077s
	ok  	container/heap	2.062s
	ok  	container/list	1.960s
	ok  	container/ring	1.844s
	ok  	context	2.961s
	ok  	crypto	1.849s
	ok  	crypto/aes	1.967s
	ok

[2018-08-29 02:57] cherrymui commented on #27327
Could you share the exact command you run? On which architecture?

I think you probably should run androidtest.bash instead of all.bash.

[2018-08-29 02:59] benshi001 commented on #27327
CC_FOR_TARGET=~/android/ndk-standalone-r17b/aarch64/bin/clang GOARCH=arm64 ./androidtest.bash

[2018-08-29 03:12] nigeltao opened #27328 "proposal: allow main.main to optionally return an error"
The spec says that "The main package must have package name main and declare a function main that takes no arguments and *returns no value* [emphasis added]."

I propose to additionally allow returning `error`. Combined with the `check` and default-handler mechanisms suggested in the [Error Handling Go 2 Draft Design](https://go.googlesource.com/proposal/+/master/design/go2draft-error-handling.md)

[2018-08-29 03:13] mavisd commented on #21906
Experiencing very slow DNS lookups only for internal (intranet) addresses on Linux (RHEL 7.5) with Go 1.11. This is not an issue with Go 1.10. Here are some of the relevant details:

### Go 1.11

[code]

`httpstat https://jira.faa.gov` -> DNS lookup: 10045ms (lookup times are always at least 10 seconds)

[code]

`GODEBUG=netdns=cgo httpstat https://jira.faa.gov` -> DNS lookup: 7ms

### Go 1.10

[c

[2018-08-29 03:14] nigeltao commented on #21111
The original proposal allows `ExampleXxx` functions to return `error`, instead of returning nothing. We could extend the proposal to also allow `TestXxx` and `BenchmarkXxx` functions to optionally return `error`. Having `TestXxx` return a non-nil `err` would implicitly call `t.Error(err)` on the `t *testing.T` and likewise for benchmarks.

Combined with the `check` and default-handler mechanisms s

[2018-08-29 03:29] meirf commented on #27325
I agree this needs a fix, but these translations appear to be entirely maintained outside of any official go repo.
See https://github.com/golang/tour/blob/master/TRANSLATE

In terms of fixing, I think the maintainer of the tour would have to make the change.
@adg, do you have results from [this](https://github.com/golang/go/issues/15693#issuecomment-219849430) anywhere or at least hebrew version?

[2018-08-29 03:29] #27325 closed

[2018-08-29 03:45] adg commented on #27325
@meirf nope I have no idea who maintains it because any correspondence I had with its maintainer has disappeared from my mailbox.

[2018-08-29 03:48] caarlos0 commented on #25922
I've tried the solution proposed by @myitcv, it more or less works, seems like `stringer` can't solve the dependencies in the package that has the `//go:generate`:

[code]

Not sure if it is a bug in stringer or somewhere else, happy to provide more info if needed though.

---

Not sure if useful, but:

- PR migrating to vgo: https://github.com/goreleaser/goreleaser/pull/779
- Specific type that w

[2018-08-29 03:59] #27327 closed

[2018-08-29 04:18] NetWilliam opened #27329 "proposal: add compiling time constants like `__FUNC__, __LINE__, __FILE__` of cpp in Golang"
Considering a trace log with line no and func name, we would be able to locate the problem more quickly.

[2018-08-29 04:33] agnivade commented on #27321
Right, there is indeed a difference. Good catch.

The MDN docs do recommend the line-height to be unitless however. https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values.

Perhaps, we can re-calculate the required line-height, and give a slightly higher number and still keep it unitless ?

[2018-08-29 04:35] nigeltao commented on #27281
It would need API design work, which I'd expect to be a lot of work. It's not's just a lack of implementation.

[2018-08-29 04:40] mattha78 commented on #27315
Thanks for the response.  Answers below.
What are you really trying to do?
Developing a stream processing appliance.  It accepts MHz sampling rate streams from multiple attached devices.

Why are you using SetReadDeadline?
It publishes an error if the connection receives no data for the set amount of time.  SetReadDeadline is reset outside of an inner read and process loop.  In profiling, it does

[2018-08-29 04:47] ianlancetaylor commented on #27315
Thanks for the detailed reply.  I suspect that for your use case you will be better off using `syscall.Read`.  You want complete control over your descriptor; the poller is just adding overhead.

[2018-08-29 05:11] dsnet commented on #27231
The [constraints proposal](https://go.googlesource.com/proposal/+/master/design/go2draft-contracts.md) would provide a way to express this using type parameters:
[code]
With usage as:
[code]

Of course, the `TypeOf` identifier is already used, so a new name would be necessary.

[2018-08-29 05:17] dsnet commented on #27231
It's fairly common to use this pattern since it is one of the few ways to get a `reflect.Type` for an interface type.

[2018-08-29 05:48] netroby opened #27330 "[RFC] go2 error handling best reference"
I read the https://github.com/golang/proposal/blob/master/design/go2draft-error-handling.md
The new go2 error handling design paper.
Sorry for create this issue, ( i can not find any place to submit my thought and worry about the doc)

This issue is to talk my thought about the go2 error handler.

The go2draft error handling design a ugly error handle proccess way.

I can not agree with the design

[2018-08-29 05:50] iangudger commented on #21906
Is there an entry for jira.faa.gov in your hosts file? Would it be possible for you to collect packet captures with tcpdump and post them here?

[2018-08-29 06:02] ianlancetaylor commented on #27330
Discussion about the error handling design is welcome.  But it would help quite a bit if you could be more specific.  What exactly is ugly?  What exactly do you not agree with?

Referring to exception handling is a non-starter.  We are not going to implement C# style exception handling in Go, for the reasons explained at https://go.googlesource.com/proposal/+/master/design/go2draft-error-handling-

[2018-08-29 06:07] netroby commented on #27330
The handler and check not match , you have to write a lot check , check check, and define lot's of handler.
This stupid idea.

for Exception handler,
you can
[code]

Very clean and tidy.

did you see it ?

[2018-08-29 06:10] netroby commented on #27330
Your check and handler was nosense. Check what ? handler what?
nothing to know, no problem resolved. you just make things worse and worse

[2018-08-29 06:17] agnivade commented on #27330
This is the place - https://github.com/golang/go/wiki/Go2ErrorHandlingFeedback.

Please feel free to outline all your thoughts in a post,gist,google doc and add a link in the wiki. It looks like you have more of a feedback, rather than a concrete proposal. So I will close the issue and request you to use the wiki page.

Thank you.

[2018-08-29 06:17] #27330 closed

[2018-08-29 06:19] agnivade commented on #21906
Aiming for 1.12 since a lot of people lately seem to bump into this.

@mikioh @bradfitz

[2018-08-29 06:28] leslie-qiwa commented on #27136
Seems like this is OS related issue. Closed for now.

[2018-08-29 06:28] #27136 closed

[2018-08-29 06:31] NetWilliam commented on #27329
yes, but those are constant which are already known at the compiling time. It's better to express them as some constant rather than to evaluate them at the runtime for the sake of simplicity.

[2018-08-29 06:36] agnivade commented on #27329
Note that we already have constants in the log package which does this - https://golang.org/pkg/log/#pkg-constants.

Or are you saying you want more flexibility in the constants ? Like you want to print only line, or only filename ? In that case, I would request you to use the runtime package directly. Or create a separate package. The bar to include more API in standard library is pretty high.

I

[2018-08-29 06:42] wddpct opened #27331 "What the meaning about the sentences of the Context section."
[the Context section link](https://github.com/golang/go/wiki/CodeReviewComments#contexts)

I am confused with the flowing sentences.
A function that is never request-specific may use context.Background(), but err on the side of passing a Context even if you think you don't need to. The default case is to pass a Context; only use context.Background() directly if you have a good reason why the alter

[2018-08-29 06:51] agnivade commented on #27302
Well, according to RFC 3986 https://tools.ietf.org/html/rfc3986#section-3.4, a fragment can only contain pchar, which allows sub-delims, not gen-delims. So, as I understand, a `[]` is invalid and should be escaped.

@meirf

[2018-08-29 06:53] agnivade commented on #27331
Hi @wddpct ,

This appears to be a question rather than a Go bug. We do not use the issue tracker for general discussions or questions like these. The Github bug tracker is only used for tracking bugs and proposals going through the Proposal Process.

You might want to take a look at [Questions](https://github.com/golang/go/wiki/Questions) wiki page; it has a list of good places for asking questio

[2018-08-29 06:53] #27331 closed

[2018-08-29 07:01] chen56 commented on #21161
my idea:

// `|err|` means check error : if err!=nil {}

// common util func
func parseInt(s string) (i int64, err error){
	return strconv.ParseInt(s, 10, 64)
}

// expression check err 1 : check and use err variable
func parseAndSum(a string ,b string) (int64,error) {
    sum := parseInt(a) + parseInt(b)  |err| return 0,err
    return sum,nil
}

// expression check err 2 : unuse variable
func par

[2018-08-29 07:04] oiooj commented on #27191
I think @thepudds is right. The commit hash hashicorp/go-discover@1b9cec3 is not associated with a branch or tag.

[2018-08-29 07:18] trex58 commented on #27160
Hi Brad.
I guess that, each time some change in golang has to be compiled/checked on my machine, the go buildlet will download code from golang and then put it somewhere on my machine and build/test it. However: where will the files be stored? I need to allocate enough disk place.
I also guess that, once the CL 131335 is merged and file dashboard/builders.go has been updated with knowledge of AIX,

[2018-08-29 07:29] lizihuai opened #27332 "cmd/go: mod download doesn't allow insecure download"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?

GO111MODULE=on go mod download

If possible, provide a recipe for reproducing the error.

[2018-08-29 07:29] AlexRouSg opened #27333 "cmd/go: test coverpkg=all ./... with test only packages will fail to build"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.11

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
linux amd64

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A li

[2018-08-29 07:32] porridge opened #27334 "Section markup missing for gofmt in https://golang.org/cmd/go/"
### What did you do?

1. Go to https://golang.org/cmd/go/#hdr-Update_packages_to_use_new_APIs
1. Scroll down a little bit

### What did you expect to see?

`Gofmt (reformat) package sources` to be formatted as a section heading

### What did you see instead?

It's just regular text, see attached screenshot.
![gofmt](https://user-images.githubusercontent.com/489420/44772558-7c011c80-ab6e-11e8-892e-

[2018-08-29 07:48] ayanamist commented on #27302
@agnivade Although rfc does not include gen-delims, however real-world clients often accept this.
e.g. Chrome, will treat `[]` as valid chars, you can see "Query String Parameters" in below screenshot.
![image](https://user-images.githubusercontent.com/406779/44773306-d916c580-aba2-11e8-9a23-783a75347598.png)

[2018-08-29 07:49] #20256 closed

[2018-08-29 08:06] oiooj commented on #27332
@lizihuai Could you run this command and log it.

[code]

It seems that your got an incorrect cert.

[2018-08-29 08:48] agnivade commented on #27334
Fixed at tip https://tip.golang.org/cmd/go/#hdr-Update_packages_to_use_new_APIs.

So it should be when #27205 is fixed.

[2018-08-29 08:48] #27334 closed

[2018-08-29 08:50] schoentoon opened #27336 "cmd/go: test coverpkg panics when defining the same flag in multiple packages"
### What version of Go are you using (`go version`)?
go version go1.11 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
In a project consisting of multiple binaries I ran the tests using `go test -coverpkg=all ./...`. I later managed to reproduce this in a small dumm

[2018-08-29 09:15] lizihuai commented on #27332
@oiooj
I  run the command is failure,error message
unable to load certificate
140308543207312:error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:707:Expecting: TRUSTED CERTIFICATE

Explain that I have no CA?

Why do I need a CA  when I use go mod?

[2018-08-29 09:17] lizihuai commented on #27332
@oiooj  but I use curl -kv https://k8s.io:443 is success

[2018-08-29 09:26] didrocks opened #27337 "cmd/go: extend metaPrefixes ignore list in go mod vendor to include README and CONTRIBUTING"
### What version of Go are you using (`go version`)?
go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?
`go mod vendor` has been introduced with 1.11

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I run `go mod vendor`, experimenting to remove vendor/ directory from my repo, but still using it for buil

[2018-08-29 09:39] alexbrainman commented on #25722
Sad we do not have Windows 10 builder that would catch errors like that.

@mattn please try https://go-review.googlesource.com/c/go/+/131976 to see if it fixes broken net.TestSendfileParts on your Windows 10. Thank you.

Alex

[2018-08-29 09:46] fraenkel commented on #27332
@lizihuai Drop the -k and the failure should occur.

[2018-08-29 09:59] lizihuai commented on #27332
@fraenkel  Drop the -k is  failure . how can I do ? Why can I access other https URLs? I can't access this.

[2018-08-29 10:06] fraenkel commented on #27332
Most OSes have added the LetsEncrypt CA as a trusted CA.
But you might be able to get away with a `go get -insecure` instead. I am not sure if `go mod download` is missing the -insecure flag.

[2018-08-29 11:18] krasi-georgiev opened #27338 "x/net: slow streaming with http2 due to MaxConcurrentStreams"
The k8s go client doesn't behave well since the change in https://github.com/golang/net/commit/1c05540f6879653db88113bc4a2b70aec4bd491f

What happens is that when the client hits the MaxConcurrentStreams of the server any updates after that take very long time (1-2 minutes) so on k8s clusters with constant changes the client can never catch up.
The fix in that commit seems valid, but shouldn't the

[2018-08-29 11:26] krasi-georgiev commented on #27338
cc @tombergan

[2018-08-29 11:32] krasi-georgiev commented on #27338
I will try to make a reproducible  test, but in the meanwhile some initial input would be useful.

[2018-08-29 11:49] agnivade commented on #26382
@kaskavalci - You have successfully repeated the issue in https://github.com/golang/go/issues/26382#issuecomment-409898574. See the comment above.

[2018-08-29 11:56] agnivade commented on #27332
That is the exact issue - go mod download doesn't have an insecure flag.

[code]

/cc @rsc @bcmills

[2018-08-29 11:58] kaskavalci commented on #26382
Oh 🤦‍♂️
For someone who is looking for a quick answer, just wrap your request in a go-routine because

[code]

[2018-08-29 13:01] sztanpet opened #27339 "proposal: default to building with the race detector"
Sadly many new gophers do not know about the race detector (anecdotal data from the #go-nuts@freenode). My own experience is that I largely compile with the race detector and only switch it off at the very end for releases.
Sadly I realize that switching the default would be a very disruptive change, but I do wonder if maybe we could do this with the new module features somehow. If modules are alr

[2018-08-29 13:02] ebfe opened #27340 "cmd/cgo: typedef pointer arguments regression"
There seems to be a regression regarding calling C functions with typedef pointer arguments in go 1.11/1.10.4

The following code

[code]

previously generated a C compiler warning (#19832). With go 1.11 (and go 1.10.4) this results in a build failure

[code]

[2018-08-29 13:03] ALTree commented on #27339
Thanks for the proposal.

The reason this is *extremely* unlikely to happen:

(from https://golang.org/doc/articles/race_detector.html#Runtime_Overheads).

[2018-08-29 13:05] sztanpet commented on #27339
Sure, but the most amount of builds that happen are development builds where the developer cares about race conditions but not about the overhead. Simply opt-out when it matters.

[2018-08-29 13:08] dominikh commented on #27339
I assure you that a 20x slowdown of my dev builds would seriously impact my development process.

[2018-08-29 13:11] sztanpet commented on #27339
And if I say that I assure you that you are in the minority? You are also active in the community so it would be easy to opt out.

[2018-08-29 13:19] mvdan commented on #27339
Go already does cheap checks, such as panicking if you read and write from a map concurrently. I agree with others that enabling the race detector by default would mean an unbearable slowdown of the development process.

Also note that the race detector isn't available on all platforms - for example, it currently requires glibc to be installed, so Linux systems based on musl libc cannot use it yet

[2018-08-29 13:28] sztanpet commented on #27339
Sadly there are too many valid reasons not to do it, I agree. My intention was to maybe re-think it now with modules (and I have no specific reason why a newcomer would use modules but not know about the race-detector). If there is no non-disruptive way to do it, this is all moot of course.

[2018-08-29 13:38] ebfe commented on #27340
git bisect points to 94076feef53c41c0c558a8686d6f2650b1614414

[2018-08-29 13:42] thejerf commented on #21161
@chen56 and all future commenters: See https://go.googlesource.com/proposal/+/master/design/go2draft.md .

I suspect this obsoletes this thread now and there is little point in continuing on here. The Wiki feedback page is where things should probably go in the future.

[2018-08-29 13:42] carlmjohnson commented on #21161
The mega example using the Go 2 proposal:

[code]

I think this is about as clean as we can hope for. The `handle` block has the good qualities of the `again` label or Ruby's `rescue` keyword. The only questions left in my mind are whether to use punctuation or a keyword (I think keyword) and whether to allow for getting the error without returning it.

[2018-08-29 13:43] billotosyr commented on #27182
Our buildlet doesn't do that. Maybe because it's an older version.

[2018-08-29 13:51] carlmjohnson commented on #27328
I too often end up writing three line main functions that call another function which returns an error, but I think if handle blocks were accepted then I could just put that code into the handle block and not use the wrapper, so this wouldn't be as helpful.

Anyway, if main returns a value, why not have it be an int for the error code? And why not have main take a slice of os.Args? Those are both

[2018-08-29 13:52] FMNSSun commented on #27329
Preferably in my opinion `__FILE__` and `__LINE__` would be tokens/lexems that get turned into string literals during tokenization/lexing so as far as the the whole backend part is concerned these constants do not even exist.

[2018-08-29 13:54] ebfe commented on #27340
Splitting up the typedef fixes the warning and the build failure, but this is
of course not possible/difficult to do when interfacing with other libraries.

[code]

[2018-08-29 14:06] cznic commented on #27329
FTR, IINM `__FUNC__` is actually spelled `__func__` in the C99 standard.

[2018-08-29 14:10] kevinburke commented on #27291
Tracking bug, it's an issue in the browser it seems. https://bugzilla.mozilla.org/show_bug.cgi?id=1273836

[2018-08-29 14:31] CAFxX commented on #25938
Just FYI, this is happening now also on mac os during `all.bash`:

[code]

[2018-08-29 14:37] cherrymui commented on #27328
I'm not sure I understand correctly, but would it be addressed if we special-case `main.main`'s default handler? That is, for `main.main` (and only `main.main`), the default handler is
[code]

I think even if we allow `main.main` return an error, there still needs a default/predefined/magical wrapper of `main.main` that does the `log.Fatal` or `os.Exit` thing? If there will be one of such thing an

[2018-08-29 14:50] bradfitz commented on #27182
No, I was just misremembering. But if that helps your environment & wrapper process that's managing keeping it alive, we could add it to the buildlet.

[2018-08-29 15:02] billotosyr commented on #27182
Well, I think it would help us, yes. The build cache is consuming about 2GB per day, and the drive it's on is small enough that I am now cleaning it daily. (This is a new thing, as I never had to clean it before.)

[2018-08-29 15:05] agnivade commented on #27336
/cc @bcmills @rsc

[2018-08-29 15:14] mark-rushakoff commented on #27329
Is `runtime.Caller(0)` currently an actual call to the runtime, or does it / could it get effectively optimized into the literal file and line?

[2018-08-29 15:17] gopherbot opened #27342 "runtime: invalid pointer found on stack [1.11 backport]"
@heschik requested issue #27278 to be considered for backport to the next 1.11 minor release.

[2018-08-29 15:42] mavisd commented on #21906
There is no entry for `jira.faa.gov` in the `/etc/hosts` file (although the file is somewhat large with over 2000 entries). I wanted to note that the DNS lookup times are suspiciously similar each time, always taking just 30-50ms over 10 seconds. It's almost like part of the DNS lookup is timing out at 10 seconds before finally resolving using another lookup. I'll capture the packets with tcpdump

[2018-08-29 15:49] lobianco opened #27343 "cmd/go: errors when compiling for iOS simulator when using "crypto/x509" package"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

`go version go1.11 darwin/amd64` (also applies to `go version go1.10.3 darwin/amd64`)

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

macOS High Sierra - 10.13.6

[code]

### What di

[2018-08-29 15:58] savaki opened #27344 "cmd/go: go get fails with private bitbucket repositories"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?

yes

### What operating system and processor architecture are you using (`go env`)?

GOOS="linux"
GOARCH="amd64"

### What did you do?

I attempted to go get from a private bitbucket reposit

[2018-08-29 16:16] bradfitz commented on #27164
All good.

[2018-08-29 16:16] #27164 closed

[2018-08-29 16:17] mavisd commented on #21906
Posting `strace` below until I can isolate `tcpdump` capture:

[code]

[2018-08-29 16:30] bradfitz commented on #25253
We should move to the more conservative heuristic that ANY activity in Gerrit on the CL past the event (magic comment) that added the "wait-author" hashtag is potential OP activity and should remove wait-author.

[2018-08-29 16:42] RLH commented on #18155
Can you provide the approximate size of the allocation that is causing the
long sweep? Go uses a different allocation scheme if the object is >
32KBytes (or < 8 bytes).

On Mon, Aug 27, 2018 at 2:50 PM, Daniel Tahara <notifications@github.com>
wrote:

[2018-08-29 16:43] NetWilliam commented on #27329
My bad, I haven't noticed that `log` and `glog` have a `SetFlags` function to control the output content of logs.

I was thinking in a cpp way, which brought me to an idea that I could print `__FILE__`  `__LINE__` in the logs and print the goroutine ID in the logs to help me to trace the bugs. Now since you've set a constant in the logging lib to output its file name and line no, what about adding

[2018-08-29 17:00] iangudger commented on #21906
Would it be possible for you to re-run the strace also logging sendto, recvfrom, read, write, and the full arguments (packet data)? I can probably debug with that.

[2018-08-29 17:39] josharian opened #27345 "runtime: use parent goroutine's stack for new goroutines"
This is a speculative idea from discussion with @aclements. Jotting it down so it doesn't get lost and to open discussion.

Spinning off many goroutines that grow their stack and then exit can be a source of performance pain. See e.g. #18138. One approach to fixing this is [tracking and using statistics about stack growth behavior per spawn site](https://github.com/golang/go/issues/18138#issuecomm

[2018-08-29 17:43] griesemer opened #27346 "go/types: assertion failure setting up composite literal with incomplete element type"
This the std lib issue for https://github.com/golang/lint/issues/411 . Small reproducer by @randall77:
[code]

Issue: Checker.recordTypeAndValue called with nil argument. Need to determine where best to guard against this.

[2018-08-29 17:47] matthalladay commented on #27315
My design when using a non-polled read is more transparent and CPU friendly.  I'll look into syscall.Read, though quite a few of the internal helper functions are not exported so my initial thought is that this will require a bit of code to get it working.  I haven't looked in detail yet though.  Thanks for the quick replies.  Though I am developing on Linux and targeting Linux we are keeping cros

[2018-08-29 18:03] heschik commented on #27323
@rhysh, if you still have the core handy can you try that change? I don't have a test case handy.

[2018-08-29 18:15] bradfitz commented on #17566
In a Gophercon talk right now, the presenter demoed removing the use of math/bits intrinsics to remove the inlining budget of those "function calls". Unfortunate.

[2018-08-29 18:26] danieltahara commented on #18155
The objects are in the range of a few hundred bytes to single digit KB. The best specific data I can get is for row size (as opposed to column size). That distribution (in bytes) is here:

p99 | p90 | p75 | p50
-- | -- | -- | --
84511.8414031 | 6485.345 | 1126.004 | 379.099280115

[2018-08-29 18:27] randall77 commented on #17566
We give calls to intrinsics a cost of 1.  They don't get a full call's cost.
What am I missing?

[2018-08-29 18:29] #10110 closed

[2018-08-29 18:30] heschik commented on #25943
I agree, but since the morestack call is never returned to, putting it in the backtrace would require a level of specific hackery that I was uncomfortable with. I tried making newstack return normally in the common case but it proved more difficult than I think it's worth.

I don't think newstack is *that* much less clear than morestack. If it actually causes someone trouble we can revisit.

[2018-08-29 18:45] tylercloke commented on #26988
@rsc Can you expand a bit? It was certainly a surprise for me :) I started seeing this after upgrade to 1.11. Feels like a breaking change to the end-user if my build worked before upgrade and doesn't work now. Just want to understand what changed in more detail and what proper remediation is. Thanks!

[2018-08-29 18:49] ianlancetaylor commented on #27315
I personally would be extremely reluctant to add a non-polled `(*net.UDPConn).Read` to the standard library.  That is encouraging a coding style that we do not recommend in Go.  It would step away from the advantages of using an integrated poller for all network connections.  It would have be plumbed through several layers of code.  I do not think we should follow this path.

Looking back at your

[2018-08-29 18:52] ianlancetaylor commented on #27320
I see.  The go/build package is about building other packages.  It doesn't tell you anything about your own program.  Even `go/build.DefaultContext` is populated from `GOARCH` and `GOOS` in the environment (though naturally the default is the values used to build your program).

[2018-08-29 18:54] ianlancetaylor commented on #17566
Maybe nothing.  The call was to `math/bits.RotateLeft32`.  I don't see that in the list of intrinsics in cmd/compile/internal/gc/ssa.go.  (But maybe there is someplace else to look that I don't know about.)

[2018-08-29 18:56] agnivade commented on #27329
So it seems you have now changed the proposal to trying to get a goroutine ID.

Please see this - https://golang.org/doc/faq#no_goroutine_id.

If you still believe you need a goroutine ID, I would request you to open a new proposal with the required details that outshine the reasoning in the faq article. Thank you.

[2018-08-29 18:56] #27329 closed

[2018-08-29 19:19] ingojaeckel opened #27347 "proposal: Allow profiling channels usage/utilization via pprof"
(this is a continuation of a thread that started on [go-nuts](https://groups.google.com/forum/#!topic/golang-nuts/7QsEYFssL8o))

# Goal
I am proposing to extend [pprof.Profile](https://golang.org/pkg/runtime/pprof/#Profile) with information about active channels.

This is inspired by [pprof.SetGoroutineLabels](https://golang.org/pkg/runtime/pprof/#SetGoroutineLabels) and other information already

[2018-08-29 19:35] randall77 commented on #17566
Ah yes, that's not an intrinsic.  We detect the rotate directly from the operations in the body of that function.

The body looks like it has ~7 operations in it, but it reduces to just one instruction in the end.

[2018-08-29 19:40] florianpinel commented on #12081
@yeka Could you add a license to your git repo?

[2018-08-29 19:46] krancour opened #27348 "cmd/go: allow verifying vendored code"
`go mod verify` is extremely useful for validating the integrity of modules in the local cache.

It would be great if projects that choose to vendor their modules (then presumably building with `go build -mod vendor ...`) had a similar command to verify the integrity of modules in that directory.

This would satisfy a major requirement that many projects need to account for in their CI process-- e

[2018-08-29 20:02] mooreds opened #27349 "fmt: Add an example for Printf"
### What version of Go are you using (`go version`)?

go version go1.10 linux/amd64

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN=""
GOCACHE="/home/vagrant/.cache/go-build"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/vagrant/go"
GORACE=""
GOROOT="/usr/li

[2018-08-29 20:03] matthalladay commented on #27315
I didn't mean to imply that SetReadDeadline causes the CPU to spins, but rather requesting a Read when a packet is not yet available.

I appreciate the push to use syscall.Read, though initially I thought it would be a bit painful there are only a couple of line of code that required a change.  There aren't a ton of examples so I'm pasting the gist below.
*Notes
1. syscall.SetNonblock is required

[2018-08-29 20:10] ianlancetaylor commented on #27347
CC @hyangah

[2018-08-29 20:13] ianlancetaylor commented on #27315
The CPU doesn't spin there either, though.  The goroutine sleeps waiting in the poller.

Glad that `syscall.Read` is working for you.

[2018-08-29 20:29] ianlancetaylor commented on #27340
CC @randall77

Well this looks really painful.

[2018-08-29 20:36] #27319 closed

[2018-08-29 20:44] hdonnay commented on #27123
I had this issue with a message about `finding github.com/google/martian` (an indirect dependency via `cloud.google.com/go/storage.test`) every time, I assume because of some weirdness with its tag situation. Forcing a newer revision via `go get github.com/google/martian@master` fixed it.

I think there's something to do with indirect dependencies not providing packages at the chosen module versio

[2018-08-29 20:46] matthalladay commented on #27315
Hopefully we can delete comments if my ignorance becomes too obvious.  Looking at the fd_unix.go file (line 133), in the case where no data is available (potentially just when the connection is busy... not sure on this), the logic for (err != nil), (err == syscall.EAGAIN && fd.pd.pollable()), (err == nil) is taken over an over again.  There does not appear to be any spot here where the process wou

[2018-08-29 20:51] RLH commented on #18155
If I read this correctly p99 object size if > 84K bytes and if I assume a
normal distribution and interpolate p95 or so is > 32 KBytes.

On Wed, Aug 29, 2018 at 2:27 PM, Daniel Tahara <notifications@github.com>
wrote:

[2018-08-29 20:58] dr2chase commented on #17566
Should we start pretending we had feedback information and that we had stored in a file, and use that to guide inlining?

hotsites=["blake_foo.go:17(math/bits.RotateLeft32)","blake_f..go:19(math/bits.RotateLeft32)"]
hotfuncs=["whatever.blake/g"]

Make that something the compilation depends on, if we change the file, we force a recompilation.

[2018-08-29 20:59] carlca commented on #27028
Hi, @thepudds, would you mind having a look at the series of tweets I've just had involving Russ Cox. They are at

Me: https://twitter.com/carlcaulkett/status/1034516890373304320
Me: https://twitter.com/carlcaulkett/status/1034560669234933761
Russ: https://twitter.com/_rsc/status/1034625354172981248
Me: https://twitter.com/carlcaulkett/status/1034712098381746176
Me: https://twitter.com/carlcaulket

[2018-08-29 21:02] rhysh commented on #27323
CL 132055 PS 1 does the trick, thanks. Here's the (new) warning it prints when loading the core:

[code]

[2018-08-29 21:05] cznic commented on #27339
I for one would be probably happy, if go test would force-add the `-race` option once in N runs. N like 100 or so - or an env var with such default. Or force `-race` automagically once in N iff the env var exists, etc.

[2018-08-29 21:18] mavisd commented on #21906
Is this the expected behavior for Go 1.11 on Linux (trying to resolve DNS lookups using all the nameservers listed in `/etc/resolv.conf`)?

[2018-08-29 21:26] josharian commented on #17566
Short term, perhaps we should just make it an intrinsic (for AMD64). Then it behaves appropriately end-to-end, including inlining. That's pretty easy and safe. Maybe I can help someone get this in tomorrow at community day.

There are many long term fixes, of course.

Here's a test case we can add:

[code]

This fails with 1.11 and should pass.

[2018-08-29 21:30] iangudger commented on #21906
I don't think so. I think the behavior in this regard is supposed to be the same as 1.10.

[2018-08-29 21:31] danieltahara commented on #18155
That's probably a safe assumption, but to reiterate -- these are stats for row size, not column/value size. I can pull p95 and p10/25 for you too if you're interested.

[2018-08-29 21:39] danieltahara commented on #18155
Queries in last hour, in bytes:

p99 | p95 | p90 | p75 | p50 | p25 | p10
-- | -- | -- | -- | -- | -- | --
72700.6023324 | 10662.0823733 | 6609.87482699 | 1130.83317386 | 379.689311459 | 101.527534113 | 46.6143729713

[2018-08-29 21:55] bradfitz commented on #27320
It kinda does, though, in that people use ReleaseTags to see which version of Go it was built with.

[2018-08-29 21:56] meirf commented on #27338
This looks like a dup of https://github.com/golang/go/issues/27044 so I'm closing, but tagging @bradfitz due to the urgency that usually comes with k8s issues.

[2018-08-29 21:56] #27338 closed

[2018-08-29 22:05] RLH commented on #18155
I'm not sure what you are saying, I am looking for the size of the
allocation. Is an entire row allocated with a single allocation?

On Wed, Aug 29, 2018 at 5:39 PM, Daniel Tahara <notifications@github.com>
wrote:

[2018-08-29 22:08] danieltahara commented on #18155
The column values are allocated one by one. Unfortunately, I don't have
stats at the column level, so I am providing the row size as an upper bound.

On Wed, Aug 29, 2018 at 3:06 PM Richard L. Hudson <notifications@github.com>
wrote:

--
Daniel

dktahara@gmail.com
(646) 397-6379

[2018-08-29 22:27] josharian commented on #17566
Unless I hear otherwise, @andybons and I will make this an intrinsic tomorrow.

[2018-08-29 22:29] ianlancetaylor commented on #27315
In the `EAGAIN` case in `internal/poll.(*FD).Read`, the sleep occurs in the call to `fd.pd.waitRead`.  It's this line: https://golang.org/src/internal/poll/fd_unix.go#L169 .

[2018-08-29 22:37] #27242 closed

[2018-08-29 22:49] abhinav opened #27350 "cmd/cover: inconsistent NumStmt when //line clauses are used"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes.

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

I'm using [Ragel][1] to generate a lexer. Ragel includes `//line` clauses in
the generated code which help the Go compiler point back to the original `.rl`
file when

[2018-08-29 22:58] #26638 closed

[2018-08-29 23:02] mark-rushakoff commented on #27243
If this is just removing `-dir` from the output of `go help mod download`, it would be nice to backport to 1.11.

[2018-08-29 23:03] FiloSottile commented on #27346
@gopherbot please file this for backport against 1.11. This is a regression.

[2018-08-29 23:03] gopherbot opened #27351 "go/types: assertion failure setting up composite literal with incomplete element type [1.11 backport]"
@FiloSottile requested issue #27346 to be considered for backport to the next 1.11 minor release.

[2018-08-29 23:07] ilyabakhlin opened #27352 "url/URL: problem with the leading slash of the Path property"
### What version of Go are you using (`go version`)? ###

[code]

### Does this issue reproduce with the latest release? ###

Yes.

### What operating system and processor architecture are you using (`go env`)? ###

[code]

### What did you do? ###

I've created a simple HTTP POST request with the `*http.Client`, `*http.Request` and `*url.URL` structures. The whole script is represented [here](htt

[2018-08-29 23:11] sdwarwick commented on #21161
I'm trying to understand the proposal - it appears that there is **only one handle block per function,** rather than the ability to create different responses to different errors throughout the function execution processes.   **This seems like a real weakness.**

I'm also wondering if we are overlooking the critical need for developing testing harnesses in our systems as well.  **Considering how w

[2018-08-29 23:53] hyangah commented on #27056
This issue is closely related to #25053 and other issues that involving development of multiple modules concurrently and access to local modules.

In the above example, one caveat is that the 'replace' rule doesn't take effect until there exist the 'require' entry for the replaced module. That's why I ended up using 'go mod edit -require' which is not meant for use by human. (#27060) So, in order

[2018-08-29 23:55] dfawley opened #27353 "cmd/go: module-aware "go get" updates go.mod unexpectedly"
### What version of Go are you using (`go version`)?
`go version go1.11 linux/amd64`

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
not relevant

### What did you do?
1. Create a project with a `go.mod`.
1. `go get github.com/golang/mock@v1.0`.
Note `go.mod` will now contain gomock pinned to `v1.0.1`.
1. `

[2018-08-29 23:56] Noofbiz commented on #21425
I ended up here looking for the answer to this problem. I actually found another solution on Stack Overflow [here](https://stackoverflow.com/questions/26956845/go-xml-parsing-set-missing-attributes-to-true) and just wanted to leave it here for anyone looking. It doesn't solve the multiple copies in memory, but I thought it was a nicer solution, particularly for built-in types.

[2018-08-30 00:32] mark-rushakoff opened #27354 "cmd/go: `go help build` mentions -mod=release, which is not supported"
Using go 1.11.

[code]

[2018-08-30 00:35] mark-rushakoff commented on #27354
@gopherbot please add labels documentation, modules

[2018-08-30 00:49] mikesmitty opened #27355 "net: testSpliceReaderAtEOF closed connection: got err = splice: invalid argument"
When running tests against the new splice code in the net package from 1.11 the syscall appears to be returning an error on CentOS 6.

### What version of Go are you using (`go version`)?
`go version go1.11 linux/amd64`

### Does this issue reproduce with the latest release?
Yes, it appears to have been introduced with 1.11

### What operating system and processor architecture are you using (`go e

[2018-08-30 00:53] ianlancetaylor commented on #21161
@sdwarwick I don't think this is the best place to discuss the design draft described at https://go.googlesource.com/proposal/+/master/design/go2draft-error-handling.md .  A better approach is to add a link to a writeup at the wiki page at https://github.com/golang/go/wiki/Go2ErrorHandlingFeedback .

That said, that design draft does permit multiple handle blocks in a function.

[2018-08-30 01:11] mooneyr commented on #27228
I've recompiled go1.10 using my existing go1.4 to bootstrap, it works.
I've recompiled go1.4 on the Pi3B, that worked.
I've used the newly compiled go1.4 to attempt to compile go1.11 and get the same error as before - weird decoding: 254, true => 129

[2018-08-30 01:12] ianlancetaylor commented on #21161
This issue started out as a specific proposal.  We aren't going to adopt that proposal.  There has been a lot of great discussion on this issue, and I hope that people will pull the good ideas out into separate proposals and into discussion on the recent design draft.  I'm going to close out this issue.  Thanks for all the discussion.

[2018-08-30 01:12] #21161 closed

[2018-08-30 01:29] acln0 commented on #27355
I'm a little confused. Does 92bdfab795a1245d8b81a6e841d5e5aa52f3a790 not handle this correctly by disabling splice on old kernels, or am I reading that commit incorrectly? I don't understand if 2.6.29 or 2.6.35 is the cut-off.

Perhaps @benburkert could clarify?

[2018-08-30 01:38] taylorza opened #27356 "cmd/compile: function argument hiding built-in function results in a compiler crash"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
Tested with GO 1.11

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
Compiling on Windows, reproduced targeting both Windows and Linux

### What did you do?
NOTE: This does not reproduce

[2018-08-30 01:54] joenall commented on #27355
I am seeing the same issue.

[2018-08-30 01:55] cskr opened #27357 "doc: 1.11 has not been added to the Release History page"
There is no link to go1.11 from the [Release History page](https://golang.org/doc/devel/release.html).

[2018-08-30 01:57] cherrymui commented on #27356
It reports the error correctly with Go 1.10. Looks like a regression.

[2018-08-30 01:59] cherrymui commented on #27356
cc @griesemer @mdempsky

[2018-08-30 02:28] hyangah commented on #27060
"go get" currently involves checking module lists over network. If change to the module is not committed upstream yet (e.g., in the middle of local development), we need a way to configure the require+replace rules and  'go get' doesn't support the use case. I observed multiple users (including me) suggested hand-edit of go.mod files with fake versions as a workaround. That's not ideal and we need

[2018-08-30 02:32] liggitt commented on #27044
it seems like the client is assuming that all future connections to a given host will hit the same backend that told the client how many concurrent streams it could send over the first connection... that assumption doesn't hold for load balanced services where the same host can be serviced by multiple backends.

A limit for max connections per host makes sense, but MaxConcurrentStreams isn't a gre

[2018-08-30 02:47] oiooj commented on #27353
From the doc:

the corresponding module to use. By default, get chooses the latest tagged
release version, such as v0.4.5 or v1.2.3.

[2018-08-30 03:26] lizihuai commented on #27332
@fraenkel
use `go get insecure `  can download k8s.io.but the other problem   can't download
` https://gopkg.in/yaml.v2?go-get=1`
@agnivade GO 1.11 can fix this problem ?
Why is there such a problem, what is the cause of this problem? thanks

[2018-08-30 03:42] acln0 commented on #27355
I'm currently investigating on CentOS 6, and I can reproduce the issue.

When I run the `readerAtEOF` test cold, I get `closed connection: got err = fcntl: invalid argument, handled = false, want handled = true`. If I run other tests before it, I get `closed connection: got err = splice: invalid argument, handled = false, want handled = true` as originally reported.

I'll continue investigating.

[2018-08-30 03:53] agnivade commented on #27357
Fixed in tip. Incorrect issue url was used, hence it did not auto-close.

[2018-08-30 03:53] #27357 closed

[2018-08-30 04:22] andyafter opened #27360 "strings.Trim has unexpected behavior sometimes"
Hey I get unexpected behaviours when I'm using strings trim
[code]
I get `Variabl`  for the above three lines as a result, which is unexpected.

but for
[code]
I get `Variabld`, is this a bug?

[2018-08-30 04:27] thepudds commented on #27353
Agreed, this is a change in behavior. The rationale behind it is pretty interesting I think.  It was described in one of the initial vgo posts:

https://research.swtch.com/vgo-cmd

 It’s worth reading that whole post if you are interested, but some related snippets:

 And later:

[2018-08-30 04:29] NetWilliam opened #27361 "proposal: add constant flag in `logging` to log the goroutine id to trace the bug"
I have understood that there are some disadvantages in getting the goroutine ID in the program. However, I also have noticed that in https://golang.org/pkg/log/#pkg-constants we have some approach to logging the file name and line no etc...

I think it would very useful in the debugging of a program if goroutine ID could be logged in a similar way.

[2018-08-30 04:36] ianlancetaylor commented on #27360
I think you are looking for `strings.TrimSuffix`.  `strings.Trim` takes a set of characters to remove, not a string.

[2018-08-30 04:36] #27360 closed

[2018-08-30 05:44] agnivade commented on #21389
@tombergan - Did you get a chance to look at this ?

[2018-08-30 05:44] ctrezevant commented on #27057
I'd imagine the package docs on golang.org are powered by the [godoc](https://github.com/golang/tools/tree/master/godoc) tool's http server, no?

[2018-08-30 07:25] c-s-t-z opened #27362 "debug could not find .debug_frame section in binary"
Please answer these questions before submitting your issue. Thanks!

Please forgive me for my poor English.

### What version of Go are you using (`go version`)?

1.11
### Does this issue reproduce with the latest release?

1.11
### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/lia/.cache/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="

[2018-08-30 07:27] dmitshur commented on #25359
A property of the current strategy that I think is favorable is that it (indirectly) encourages people to write high quality PR titles/descriptions. That's good both inside the Go project and outside.

A trade-off with that approach we should consider is that it would make the strategy more complex. The current scheme is not very intuitive, but it is simple and consistent. It doesn't change behavi

[2018-08-30 08:20] Sherlock-Holo opened #27363 "x/sync/semaphore: newWeighted why n is int64"
Please answer these questions before submitting your issue. Thanks!
https://github.com/golang/sync/blob/master/semaphore/semaphore.go#L25

### What version of Go are you using (`go version`)?
1.10.4

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?

### What did you do?

use `semaphore.NewWeighted`

### What

[2018-08-30 08:26] ilyabakhlin commented on #27352
I've just checked the documentation, and there's nothing explaining something like that.

Maybe the problem is how the documentation is redacted. The only clear thing is that it leads to misunderstanding.

[2018-08-30 08:28] Anoop-Goudar commented on #22113
is there a way to store the output of go test command ? I am only interested in the end result, may be
 just "pass" or "fail"

[2018-08-30 08:39] remster commented on #27362
Same issue with MS Code

[2018-08-30 08:39] pwaller commented on #27027
@rsc has a blog post somewhere (which I have failed to find) which introduces the notion of content-based staleness - the closest I could find was [this golang-nuts post where he introduces it](https://groups.google.com/forum/#!topic/golang-dev/EZtZsJG35ZM). But I recall an 'aha' moment when I read that. `go install` is now just a function of its inputs, giving you a reproducible build, and the ca

[2018-08-30 08:39] benshi001 opened #27364 "regression test failed on rooted android/arm"
"ALL TESTS PASSED" on android/arm64 and non rooted android/arm. But there are failures on rooted android/arm.

	SPREADTRUM\ben.shi@tj07598pcu:~/Desktop/go/src$ CC_FOR_TARGET=~/android/ndk-standalone-r17b/arm/bin/arm-linux-androideabi-gcc GOARCH=arm GOARM=7 ./androidtest.bash
	Building Go cmd/dist using /usr/lib/go-1.6.
	Building Go toolchain1 using /usr/lib/go-1.6.
	Building Go bootstrap cmd/go (g

[2018-08-30 08:44] bilalyasar commented on #18639
we are experiencing same issue with aws elb -->nginx --> golang service under kubernetes.
it seems that payload is corrupted somehow.

[2018-08-30 09:35] htrqlik opened #27365 "Go fmt doesn't organize import statements as expected"
### What version of Go are you using (`go version`)?
go version go1.11 windows/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\htr\AppData\Local\go-build
set GOEXE=.exe
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=C

[2018-08-30 09:41] cblach opened #27366 "proposal: encoding/json: Support for nested values in JSON tags"
I have often run into situations where it would convenient to translate nested JSON objects into flat structs.

An example would be the AWS dynamodb API that returns nested objects based on the saved type (https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_GetItem.html), i.e.:
[code]

Lets say we know we saved "somekey" as a string.
Thus it would be convinient, if we could avoid th

[2018-08-30 09:49] pennkao opened #27367 "just a suggestion"
I think golang's package import heavily dependent on url, not very elegant
example:
package on github.com/abc/def
code:
    import "gitlab.com/abc/def"

If the packet path changes,I need to modify the package path in the code
I can only prevent this from happening

In other countries, I can't access Google, I can only find the address of each package to download
My ideal package is like java packa

[2018-08-30 09:56] benshi001 commented on #27364
This is a bug of the syscall geteuid, with the following test program.

	#include <unistd.h>
	#include <sys/types.h>
	#include <stdio.h>
	int main()
	{
		printf("%d\n", geteuid());
		return 0;
	}

I did
1. build it with android NDK r16b
2. root my phone, and push it /data/local/tmp
3. chown other:other a.out
4. run a.out
5. still got 0 printed

[2018-08-30 09:58] benshi001 commented on #27364
This is a bug of the syscall geteuid, with the following test program.

	#include <unistd.h>
	#include <sys/types.h>
	#include <stdio.h>
	int main()
	{
		printf("%d\n", geteuid());
		return 0;
	}

I did
1. build it with android NDK r16b, then a.out generated
2. root my phone, and push it /data/local/tmp
3. chown other:other a.out
4. chmod a+s a.out
5. run a.out
6. still got 0 printed

I can not fi

[2018-08-30 10:10] tklauser commented on #27192
@amandeepgautam it seems you're using `solaris/sparc`, but the `golang.org/x/sys/unix` package currently only supports `solaris/amd64`.

[2018-08-30 10:45] fraenkel commented on #27352
The two places I read were:
https://golang.org/pkg/net/url/#URL
https://golang.org/pkg/net/url/#Parse

If you have suggestions to improve this, please submit a documentation change.

[2018-08-30 10:49] ilyabakhlin commented on #27352
Well... I guess I'm wrong.

[2018-08-30 10:49] #27352 closed

[2018-08-30 11:07] mhr3 opened #27368 "cmd/go: build fails to parse GOFLAGS"
### What version of Go are you using (`go version`)?
go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?
yes

### What did you do?
Running `GOFLAGS="-ldflags '-w -s'" go build pkgname` produces an error with go 1.11 (used to work fine with 1.10):
[code]

The flag still works when passed directly to go build, but if the env var is set, the compilation fails.

[2018-08-30 11:15] #27364 closed

[2018-08-30 12:12] myitcv commented on #27368
cc @bcmills

[2018-08-30 12:12] htrqlik commented on #27365
If there are no empty lines in the import statements gofmt works as expected:

[code]

https://play.golang.org/p/v6cZIntMhgY

[2018-08-30 12:14] agnivade commented on #27368
You are setting the flags incorrectly. https://tip.golang.org/cmd/go/#hdr-Environment_variables

Each flag need to be space-separated and standalone. `GOFLAGS="-ldflags=-w -ldflags=-s"`.

Also see - https://github.com/golang/go/issues/27282

[2018-08-30 12:14] #27368 closed

[2018-08-30 12:18] agnivade commented on #27282
@n -

So - `GOFLAGS="-ldflags=-w -ldflags=-s"`

[2018-08-30 12:39] Deleplace opened #27369 "x/build/version/go1.10.4 doesn't exist yet"
### What version of Go are you using (`go version`)?
`go version devel +b8669ef1ce linux/amd64`

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
linux amd64

### What did you do?

[code]

### What did you expect to see?

No output (go1.10.4 successfully go got)

### What did you see instead?

[code]

[2018-08-30 13:01] smyrman opened #27370 "proposal: cmd/go: let programs access it's go module version"
Please answer these questions before submitting your issue. Thanks!

This is a proposal so that when installing binaries via the go modules, the program is able to read and display information about the installed version of the program in a standardized manner if it's installed via `go get path@version`.

### What version of Go are you using (`go version`)?

    go version go1.11 darwin/amd64

###

[2018-08-30 13:02] mccolljr opened #27371 "proposal: Go 2: permit function assignment when parameters are assignable"
In Go, it is valid to use the outputs of a function as inputs to another when there are the same number of outputs as inputs, and when each output's type is assignable to the type of the corresponding input (CASE 1):
[code]

Similarly, we can use the results of a function call to return from a function as long as both functions have the same number of outputs and the output of the called function

[2018-08-30 13:09] mccolljr commented on #25626
I haven't been here in a while, but I'd like to give an update with my experience. Work has gotten busy again so I had to put work on this on hold for a while. That being said, I found as I was writing test cases that I use this feature far less than I expected I might. As mentioned by someone else (I apologize, not sure who at the moment), this does tend to add an extra level of indentation to ma

[2018-08-30 13:20] mccolljr commented on #25626
A better solution, perhaps, would be to allow a block of go code to break with a value. Maybe (100% spitballing):
[code]

Still, though, I don't think it's as helpful of a construct as I had originally thought

[2018-08-30 13:29] mccolljr commented on #27367
I think the module system that is packaged with go as of go1.11 is going to help us move away from url-based imports (slowly). However, there's nothing stopping you from putting code in a different place than the URL-based import path. If your code is the only code importing the package, you can place it wherever you feel it belongs. If other code is expecting the import path to be something like

[2018-08-30 13:41] go101 commented on #27365
Is this recent change in "go fmt". I remember that the result is like what OP expects before.

[2018-08-30 13:45] bep opened #27372 "cmd/go: test, list etc. fails when run in parallel on Windows"
The workaround is straightforward (serialize build), but I think this deserves an issue as 1) this worked fine in Go 1.10 and 2) people in the same boat as me can get something to search for when scratching their head

Also note that this works fine on macOS and Linux.

Environment:

[code]

2. The commit that fixed the build:

https://github.com/gohugoio/hugo/commit/ea8ef573c6f869de95fdf4b19765d3

[2018-08-30 13:57] mvdan commented on #27370
This is likely a duplicate of #26404, which has been part of the design for a while.

[2018-08-30 13:59] smyrman commented on #25626
FYI: There are some pretty similar semantics to collect in @rsc's _draft proposal_ here with a `handler` keyword (similar to defer for registering error handler) and a corresponding explicit `check` keyword:

- https://go.googlesource.com/proposal/+/master/design/go2draft.md - See Error Handling

One interested detail seams to be a suggestion that this could work:

[code]

[2018-08-30 14:04] smyrman commented on #27075
The draft proposal in https://go.googlesource.com/proposal/+/master/design/go2draft-error-handling.md seams much better suited for error handling than this proposal.

I am closing it.

[2018-08-30 14:04] #27075 closed

[2018-08-30 14:06] smyrman commented on #27370
Thanks -- closing as duplicate of #26404.

[2018-08-30 14:06] #27370 closed

[2018-08-30 14:09] ALTree commented on #27313
AFAIK you can subscribe to the whole repo and you'll get everything that happens (PR, issues and changes on the wiki), but you can't just subscribe to the wiki.

[2018-08-30 14:58] mvdan commented on #27367
This seems like a discussion that should be moved to one of the forums, such as golang-nuts. The issue tracker is generally for bugs and specific proposals to the standard library and language. I'm going to close this for now, but please feel free to continue this: https://github.com/golang/go/wiki/Questions

[2018-08-30 14:58] #27367 closed

[2018-08-30 15:07] ostenbom commented on #27029
Okay I'd be happy to submit just a RemoveAll fix. @ALTree @bradfitz what do you think?

[2018-08-30 15:14] mvdan commented on #27365
Similar ideas have been rejected in the past - see #26846.

Have you considered proposing this for goimports? It already has functionality to split import groups - see its `-local` flag.

[2018-08-30 15:25] mvdan commented on #27349
was this a result of @kevinburke's talk? :)

[2018-08-30 15:33] amandeepgautam commented on #27192
@tklauser @ianlancetaylor also what would be the best way to get the size for solaris/sparc

[2018-08-30 16:07] mooreds commented on #27349
Yup :)

[2018-08-30 16:11] BenLubar commented on #27186
Ah, it appears I accidentally set the C compiler to g++. It works with the C compiler set to gcc.

[2018-08-30 16:11] #27186 closed

[2018-08-30 16:15] andybons opened #27373 "GopherCon 2018: Contributor Workshop Registration"
If you are attending the Contributor Workshop leave a comment with your Gerrit profile ID here!

You can find it here: https://go-review.googlesource.com/settings/

[2018-08-30 16:26] andybons commented on #27373
22285

[2018-08-30 16:33] dfawley commented on #27353
Regardless of the help text or the reasoning behind the change, this is still a behavior change from how `go get` worked without modules.  This change will confuse users switching to modules, because you are re-using the same `get` command name and flags that users are already familiar with, but subtly changing what they do.

[2018-08-30 16:44] jasonkeene commented on #27153
Just a heads up, I am going to be working on this issue today at Gophercon during the contributor's workshop.

[2018-08-30 16:45] julieqiu commented on #27373
28962

[2018-08-30 16:47] matloob commented on #27373
10033 practicing!

[2018-08-30 17:04] jasonkeene commented on #27373
28954

[2018-08-30 17:05] dtimm commented on #27373
28959

[2018-08-30 17:05] wfernandes commented on #27373
18275

[2018-08-30 17:12] kevinburke commented on #25921
Just ran into this. Dang

[2018-08-30 17:26] kevinburke commented on #25921
i have purchased goscratch.club for $1.17 and am configuring it now

[2018-08-30 17:32] twmb commented on #27044
Nothing prevents a load balancer from replying with a high max concurrent streams. The problem I see is h2 implementations using the recommended [minimum](https://http2.github.io/http2-spec/#rfc.section.6.5.2) `SETTINGS_MAX_CONCURRENT_STREAMS` for no reason. I would guess this is because implementors simply choose the only value mentioned. I've also not seen yet an implementation that re-negotiate

[2018-08-30 17:34] heschik commented on #27362
This is expected; you need a modern version of Delve compiled with Go 1.11 to debug binaries built with 1.11.

cc @aarzilli @derekparker @dlsniper in case there's some prompt or warning that could be added, but unfortunately there's nothing we can do in Go itself to fix this.

[2018-08-30 17:34] #27362 closed

[2018-08-30 17:37] FiloSottile commented on #27373
11715

[2018-08-30 17:37] ianlancetaylor commented on #27313
I "watch" the repo.  Is that how you subscribe?  I get e-mail for every pull request and every issue, but I don't get anything about changes to the wiki.

[2018-08-30 17:39] tbpg commented on #27373
24659

[2018-08-30 17:39] FiloSottile commented on #27369
Hi! Thanks for opening an issue.

`x/build/version` is deprecated, the new path is `golang.org/dl/go1.10.4`.

(Did you find that command somewhere we forgot to fix, or just tried it out?)

[2018-08-30 17:39] #27369 closed

[2018-08-30 17:40] bcmills commented on #27372
Please provide more detail. I don't see answers for the two most important questions from the issue template:

[2018-08-30 17:41] katiehockman commented on #27373
28759

[2018-08-30 17:43] laurentroyerkubity commented on #27369
I just tried it out.

[2018-08-30 17:44] andybons commented on #27057
@ctrezevant that’s correct.

We are hitting OOM errors on GAE Classic. I’m working on the issue. Moving to flex will help with this (https://github.com/golang/go/issues/27205).

[2018-08-30 17:44] ianlancetaylor commented on #27371
@mvdan If I'm reading this correctly, I think it is technically possible.  The function doesn't have many types, we're instead applying assignability conversions on the results.  The interesting aspect is that the outer function is variadic.  I think it could be done, it's just potentially confusing.

[2018-08-30 17:46] ianlancetaylor commented on #27192
Unfortunately, the simplest way to move forward will be to use cgo (https://golang.org/cmd/cgo) instead of golang.org/x/sys/unix.

[2018-08-30 17:47] teaguecole opened #27374 "Create a "Low hanging fruit" or "Good First PR" label for new contributors."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.10.3

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
darwin
### What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on

[2018-08-30 17:47] ghchinoy commented on #27373
22529

[2018-08-30 17:48] Deleplace commented on #27369
I just tried it out.

[2018-08-30 17:51] zaquestion commented on #27373
28850

[2018-08-30 17:51] venilnoronha commented on #27373
28964

[2018-08-30 17:52] dmitshur commented on #27373
6005

[2018-08-30 17:53] waits commented on #27373
16851

[2018-08-30 17:54] baylee commented on #27373
28965

[2018-08-30 17:54] ianlancetaylor commented on #27374
CC @andybons

[2018-08-30 17:55] emasatsugu commented on #27373
28966

[2018-08-30 17:56] techmexdev commented on #27373
28968

[2018-08-30 17:56] esell commented on #27373
28970

[2018-08-30 17:56] willmadison commented on #27373
28967

[2018-08-30 17:57] conradwt commented on #27373
28969

[2018-08-30 17:58] dpifke commented on #27373
27960

[2018-08-30 17:58] flowchartsman commented on #27373
22723

[2018-08-30 17:59] darethas commented on #27373
26860

[2018-08-30 17:59] MaerF0x0 commented on #27373
28971

[2018-08-30 17:59] mccolljr commented on #27371
@ianlancetaylor I think you might have mis-understood the proposal. While accepting function returns in a variadic function call would also be interesting, this proposal is as follows:

I think using ellipses in my original proposal was a confusing choice, so I updated the wording a bit above. It's about allowing assignment of a function with concrete returns to a type where the return values are

[2018-08-30 17:59] kevinburke commented on #25921
```$ go get goscratch.club/...```

[2018-08-30 17:59] #25921 closed

[2018-08-30 18:00] tabo commented on #27373
22699

[2018-08-30 18:00] sandipb commented on #27373
28974

[2018-08-30 18:00] malcolmrebughini commented on #27373
28973

[2018-08-30 18:00] ianzapolsky commented on #27373
28977

[2018-08-30 18:01] drewvanstone commented on #27373
28976

[2018-08-30 18:01] nd commented on #27373
28978

[2018-08-30 18:01] pvhau opened #27375 "Passing panic stack trace inside TimeoutHandler"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
v1.10.3

### Does this issue reproduce with the latest release?
Not sure, I am finding a solution with my current version

### What operating system and processor architecture are you using (`go env`)?
OS: linux, arch: amd64

### What did you do?

This is a demo
[code]

### Wha

[2018-08-30 18:01] nbasu02 commented on #27373
28980

[2018-08-30 18:02] hunterloftis commented on #27373
28979

[2018-08-30 18:02] benhoyt commented on #27057
Isn't the documentation very static? Seems like the fewer moving parts here the better. Could it be output to HTML once and then hosted on a static store (eg: S3) behind a CDN (eg: Cloudfront)? This would make it really stable and fast.

[2018-08-30 18:02] ianlancetaylor commented on #27371
Ah, sorry for misunderstanding.  In that case I agree with @mvdan: I'm not sure this is possible in general.

[2018-08-30 18:03] FiloSottile commented on #27235
/cc @alandonovan

[2018-08-30 18:03] cixel commented on #27373
28963

[2018-08-30 18:03] dr2chase commented on #27188
One possible benefit, from talking to a guy at GopherCon (@cixel) who's interested in doing instrumentation for taint detection/analysis, is doing dataflow-informed instrumentation.  Idea is that we'd transform to SSA, do whatever instrumentation we want (that might, in some cases, have effects on escape analysis -- and might also have effects on stack frames), then run escape analysis etc.

This

[2018-08-30 18:05] agnivade commented on #27361
@NetWilliam is aware of the faq link. I had pointed it out here https://github.com/golang/go/issues/27329#issuecomment-417066246.

@NetWilliam - You will have to provide good counter-arguments as to why you believe a goroutine id is necessary. You are proposing to change one of the major features of the language, so unless the benefits outweigh the disadvantages due to added API, it is unlikely to

[2018-08-30 18:05] rabellamy commented on #27373
28983

[2018-08-30 18:06] bufflig commented on #27373
28975

[2018-08-30 18:06] kevinburke opened #27376 "fmt: add examples"
Let's add examples. I think it would be good to add examples to each function (if possible?) as well as to illustrate some points - not every example should make every point but it would be good to cover these.

- how do %d, %s, %q, %v differ

- how do you do left/right padding

- decimal formatting

- how does "ln" ending vary from "f" ending

When you open a change, put this at the bottom of the

[2018-08-30 18:07] thorwolpert commented on #27373
28982

[2018-08-30 18:07] ALTree commented on #27313
Yes I was talking about "watch repo". Mmh. Maybe I'm wrong about the wiki emails. I thought you could get emails about everything you see in https://github.com/orgs/golang/dashboard and I see wiki changes there (under "All activity") but if you don't receive emails then maybe that's not true.

[2018-08-30 18:08] prvn commented on #27373
28985

[2018-08-30 18:11] kai5263499 commented on #27373
28989

[2018-08-30 18:11] waltzofpearls commented on #27373
28988

[2018-08-30 18:12] lozandier commented on #27373
28996

[2018-08-30 18:13] Ampers4nd commented on #27373
28987

[2018-08-30 18:13] devalshah88 commented on #27373
28995

[2018-08-30 18:13] venilnoronha commented on #27376
`Sprintf(format string, a ...interface{}) string`

[2018-08-30 18:13] techmexdev commented on #27376
I can do  func Println(a ...interface{}) (n int, err error)

[2018-08-30 18:13] arbrix opened #27377 "gophercon: registration"
28984

[2018-08-30 18:13] ianzapolsky commented on #27376
I'll do `func Errorf(format string, a ...interface{}) error`

[2018-08-30 18:14] bep commented on #27372
It's in there if you read more carefully. I have spent enough time on this issue. Use my issue report to improve your software/documentation, or don't.

[2018-08-30 18:15] katzien commented on #27373
28997

[2018-08-30 18:17] ALTree commented on #27374
We already have this, it's the "Suggested" label. This was requested in #18539, where brad wrote:

Help wanted is yellow and it's more for hard or long tasks, "suggested" is green and it should be used to say "yeah start on these". We still have to 1) make a final decision about this 2) document it.

This is #18413

[2018-08-30 18:19] dsivalingam commented on #27377
25098

[2018-08-30 18:19] drewvanstone commented on #27376
I'll do `func Sprintln(a ...interface{}) string`

[2018-08-30 18:20] ALTree commented on #27377
I think you have to post in #27373. Closing here.

[2018-08-30 18:20] #27377 closed

[2018-08-30 18:20] networkimprov commented on #27075
Thank you for opening this, it is a worthy idea, and should have seen at least as much support as the proposal you branched from.

I am working on a revision of their draft proposal, the [alternate handler concept](https://gist.github.com/networkimprov/c6cb3e2dff18d31840f2ef22e79d4a1e).

[2018-08-30 18:25] networkimprov commented on #25626
The `collect` block is essentially `try`, and the new `check/handle` proposal is essentially `catch`, so they're similar ideas at root. Meanwhile I'm working on a revision of that, the [alternate handler concept](https://gist.github.com/networkimprov/c6cb3e2dff18d31840f2ef22e79d4a1e)

[2018-08-30 18:26] waits commented on #27376
I'll do `func Printf(format string, a ...interface{}) (n int, err error)`

[2018-08-30 18:28] davidtpeterson commented on #27373
29009

[2018-08-30 18:28] dgrmsh commented on #27373
28990

[2018-08-30 18:29] FiloSottile commented on #27251
@gopherbot please file this for backport against 1.11. This is a regression.

@dr2chase please [make a cherry-pick CL](https://github.com/golang/go/wiki/MinorReleases#making-cherry-pick-cls) once your change is merged in master.

[2018-08-30 18:29] gopherbot opened #27378 "cmd/compile: function compiled without bounds checking and -1 index access [1.11 backport]"
@FiloSottile requested issue #27251 to be considered for backport to the next 1.11 minor release.

[2018-08-30 18:31] kevinburke commented on #27376
@waits there is actually a CL open for that one at the moment from @mooreds https://github.com/golang/go/issues/27349 - I should have added it to the sheet. how about Fprintf?

[2018-08-30 18:32] brandondyck commented on #27373
29010

[2018-08-30 18:32] sagarkrkv commented on #27373
29011

[2018-08-30 18:32] jimmyfrasche commented on #15292
This is in response to the Go2 contracts draft and I will use its syntax, but I'm posting it here as it applies to any proposal for parametric polymorphism.

Embedding of type parameters should not be allowed.

Consider
[code]
for some arbitrary type `R` and some arbitrary contract `C` that does not contain `Foo()`.

`T` will have all the selectors required by `C` but a particular instantiation of

[2018-08-30 18:33] ctrezevant commented on #27057
@andybons Ok, awesome!

Also, the other commentors here make a good point- you could realize significant performance gains if you were using static pages for docs right now, though I have another suggestion that would allow you to keep your current godoc workers and leverage some features from GAE/GCP to improve performance.

Since you're already running on GAE (and leveraging GLB, which I'm assum

[2018-08-30 18:37] MaerF0x0 commented on #27376
I'll do `func Fprintf(w io.Writer, format string, a ...interface{}) (n int, err error)`

[2018-08-30 18:37] agnivade commented on #27057
It is not static.

- There is a search functionality.
- Template logic which fills up different templates which finally serve the pages.
-  And other routing logic which needs Go code.

The advantage of having everything in a single binary is simplicity. You can locally run godoc very easily. Separating out html and assets, and having a separate binary for business logic is going to unnecessarily

[2018-08-30 18:39] waits commented on #27376
Fprintf was taken also, I'll take `Fprintln`

[2018-08-30 18:40] benhoyt commented on #27057
Fair enough @agnivade. What about @ctrezevant's suggestion about putting a caching CDN in front for maximum performance?

[2018-08-30 18:44] rimashah25 commented on #27373
29012

[2018-08-30 18:44] ymotongpoo commented on #27373
14210

[2018-08-30 18:44] zamsden opened #27379 "math/big: nat does not play well with reflect.DeepEqual"
The underlying problem is that the underlying nat type doesn't allocate a backing slice for the zero value in some initialization sequences, which causes reflect.DeepEqual to return false for equal big.Int values.

Either big.nat needs to be changed to always drop backing slices when setting to zero, always allocate backing slices, or the argument that zero-length slices and zero-length nil slices

[2018-08-30 18:47] dpifke commented on #20381
I did some preliminary investigation on this since I was curious.  The commit that introduced the error message is from 2011, here:

https://go.googlesource.com/go/+/66bedf82210220e45ca2eb4919fe764e6a022630%5E%21/#F2

(the check now lives in src/go/build/build.go)

I tried removing the check.  Go builds and all of the tests pass.  Building an example with CGo still fails, however, due to being una

[2018-08-30 18:48] theflyingcoder commented on #27373
29013

[2018-08-30 18:50] sirkon opened #27380 "pre-modules `go get` replacement needed, as it won't work outside of existsing module with modules enabled"
So, I am currently using official build (that tgz file) for Linux with export GO111MODULE=on. And I am having troubles building binaries in a old way outside of any existing module:

[code]

As you see, I am trying to download and build goimports and then put the binary into $GOPATH/bin with this go get call. Thus, we are having obvious usability downgrade. Everything is OK when I do this inside s

[2018-08-30 18:51] ALTree commented on #27379
cc @griesemer

It would be interesting to test what kind of effect would this have on the number of allocation of a typical math/big workload. `nat` wraps the backing array of `Int` and `Float` types. Dropping the backing array every time the nat goes to zero may have a negative effect on the performance of `math/big` types.

[2018-08-30 18:55] willow2014 commented on #27373
29014

[2018-08-30 19:04] sirkon opened #27381 "pre-modules `go get <main pkg path>` replacement needed, as it won't work outside of existsing module anymore with modules enabled"
So, I am currently using official  build (that tgz file) for Linux with `export GO111MODULE=on`. And I am having troubles building binaries in a old way outside of any existing module:

[code]

As you see, I am trying to download and build `goimports` and then put the binary into `$GOPATH/bin` with this `go get` call. Thus, we are having obvious usability downgrade. Everything is OK when I do this

[2018-08-30 19:05] networkimprov commented on #27371
Agreed, that a func taking N arguments ought to be assignable to a type `func(a1, a2... aN interface{})`. And same for return values. That it doesn't work seems like an oversight, and not nec a Go2 feature.

[2018-08-30 19:10] sirkon commented on #27381
I am sorry, a dup

[2018-08-30 19:10] #27381 closed

[2018-08-30 19:17] mccolljr commented on #27371
@networkimprov I think you're experiencing the same misunderstanding that ian did, and I think that's my fault for being unclear.

Here's a (hopefully) better example:
[code]
i.e. `func(int) (Concrete, error)` would be assignable to `func(int) (Interface, error)` as long as `Concrete` implements `Interface`

[2018-08-30 19:25] ggicci commented on #21291
@tandr I think returning a small struct object is much more clear than having more than three return values.

[2018-08-30 19:29] adamryman commented on #27373
29015

[2018-08-30 19:44] rogpeppe opened #27382 "proposal: cmd/go: use anchored matching inside "go test -run" pattern"
go version go1.11 linux/amd64

I just got bitten by this behaviour, which was unexpected to me.

     go test -run TestFoo/Bar

I expected it to run `TestFoo/Bar`, but not `TestFooOther/Bar`.
Instead it runs all tests any tests which start with `TestFoo`, regardless of subtest name.

In order to make it work as I expected, I need to do:

    go test -run 'TestFoo$/Bar'

Given that this is a common

[2018-08-30 19:44] ianzapolsky commented on #27376
Anyone know how often the official go documentation is updated? i.e. how long our commits should take to show up here: https://golang.org/pkg/fmt/

[2018-08-30 19:47] kevinburke commented on #27376
They should appear at tip.golang.org almost immediately, as I believe that project fetches from HEAD every 15 minutes.

The docs on golang.org will update the next time there's a new Go release, or earlier if the patches are backported from master to the Go 1.11.1 point release.

[2018-08-30 19:48] mccolljr commented on #27371
@sirkon I appreciate the thought, but I am familiar with IDEs for Go... I am less concerned with the writability of code, and more with the readability as well as the guarantees provided by being able to write my functions in terms of concrete types. @mvdan is right, the new generics proposal for Go2 does cover this need. Although I am confused why this would necessarily be a Go2 feature. As far a

[2018-08-30 19:53] kevinburke commented on #27376
The problem with updating golang.org is if we add some new API for Go 1.12 (like strings.Builder) it would not be good if it showed up in the docs before most people were able to use it.

[2018-08-30 19:55] ianlancetaylor commented on #27371
We're treating all language changes as Go 2 issues, backward compatible or not.

[2018-08-30 19:56] ianlancetaylor commented on #27371
This seems related to https://golang.org/doc/faq#covariant_types .

[2018-08-30 19:57] mavisd commented on #21906
You are correct, the DNS nameservers used are returning empty answers for IPv6 lookups (including for `sports.yahoo.com`). If this behavior is expected, then my issue is not an actual issue.

[2018-08-30 19:57] arbrix commented on #27373
28984

[2018-08-30 20:15] networkimprov commented on #27371
I understood you, `type T func(a1, a2... aN interface{})` is not variadic, it takes exactly N arguments, so any function taking N arguments should be assignable to a T.

I suggest adding your better example to the proposal blurb.

But a set of arguments (CASE 1&2) is not a type, whereas T is. And T does look rather generic :-)

[2018-08-30 20:29] steren commented on #27205
FYI, Go 1.11 on the App Engine standard environment is coming.

[2018-08-30 20:29] #27355 closed

[2018-08-30 20:33] MaerF0x0 commented on #27376
Is there a way we can run our new ExampleFunc locally to ensure it works? Else I can copy it to play.golang.org

[2018-08-30 20:34] arbrix commented on #22238
I've reproduced it on go1.11 (darwin/amd64) by [stress tool](https://golang.org/x/tools/cmd/stress)
[code]

[2018-08-30 20:35] bradfitz commented on #27205
@steren, that doesn't help us. App Engine's Go runtime by definition will always be behind what we need, because we have to release Go before App Engine can release a Go runtime for that version. So we can't use App Engine's provided runtimes. We can only do a custom runtime (BYODockerfile).

So we're moving off App Engine classic.

[2018-08-30 20:36] kevinburke commented on #27376
Yes, run `go get golang.org/x/tools/cmd/godoc` and then start godoc:

[code]

Open localhost:6060 in your browser and then navigate to the path.

[2018-08-30 20:37] dpifke commented on #20381
So the root problem, which is implied by the build.Package documentation, seems to be that a file is expected to appear in exactly one of GoFiles, CgoFiles, TestGoFiles, XTestGoFiles, or IgnoredGoFiles.

Adding support for Cgo in tests appears to involve adding TestCgoFiles and XTestCgoFiles to build.Package, and then teaching src/cmd/go/internal/load/test.go about these fields.  I'm going to take

[2018-08-30 20:37] kevinburke commented on #27376
Alternatively you can create a new `fmt` repo on Github, copy the source files, push your changes there, then go to e.g. godoc.org/github.com/yourname/fmt to see the docs.

[2018-08-30 20:54] iangudger commented on #21906
Returning an empty answer section is allowed. I will try to put together a fix.

[2018-08-30 21:06] tmcarr commented on #27373
24834

[2018-08-30 21:12] steren commented on #27205
I see, yes in that case, a Dockerfile approach seems to be appropriate.

[2018-08-30 21:12] #25981 closed

[2018-08-30 21:16] FiloSottile commented on #27267
(If this turns out NOT to be a duplicate of #27232, please open a separate backport issue.)

[2018-08-30 21:17] FiloSottile commented on #27232
@gopherbot please file this for backport against 1.11. This is a regression.

@griesemer please [make a cherry-pick CL](https://github.com/golang/go/wiki/MinorReleases#making-cherry-pick-cls) once your change is merged in master.

[2018-08-30 21:17] gopherbot opened #27383 "cmd/compile: failure on a function type alias [1.11 backport]"
@FiloSottile requested issue #27232 to be considered for backport to the next 1.11 minor release.

[2018-08-30 21:25] dgrmsh opened #27384 "doc: fix os.Pipe usage in short variable declarations example"
go version go1.10.3 linux/amd64

https://golang.org/ref/spec#Short_variable_declarations has the following call as an example

`r, w := os.Pipe(fd)  // os.Pipe() returns two values`

This does not match actual signature for os.Pipe at https://golang.org/pkg/os/#Pipe

`func Pipe() (r *File, w *File, err error)`

I'll send out a change to fix this shortly.

[2018-08-30 21:31] leighmcculloch opened #27385 "crypto/x509: SystemCertPool documentation is not clear that modifications to the cert pool supplied are isolated from other pools returned by the function"
### What version of Go are you using (`go version`)?
[code]

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Read the documentation for [x509.SystemCertPool()](https://golang.org/pkg/crypto/x509/#SystemCertPool). It looks like this today:
<img width="535" alt="screen shot 2018-0

[2018-08-30 21:35] kevinburke commented on #27376
Looking great! https://tip.golang.org/pkg/fmt/

[2018-08-30 21:35] FiloSottile commented on #27277
@bradfitz can answer properly, but I believe the point is to avoid a situation where we can't look at the Request after it has been handled, and once we allow changes there's no going back. I find the performance argument against shallow copies weak, but I'll leave this for Brad.

[2018-08-30 21:38] FiloSottile commented on #27227
By the way, this is part of what GOFLAGS was added for: https://go-review.googlesource.com/c/go/+/126656

[2018-08-30 21:40] huydinhle opened #27386 "x/vgo: vgo list -m doesn't list dependencies"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.10.3

### Does this issue reproduce with the latest release?
no

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
i follow this guide https://research.swtch.com/vgo-tour till the `vgo list -m` command

##

[2018-08-30 21:41] FiloSottile commented on #27282
@gopherbot please file this for backport against 1.11, so the release notes will get updated.

@andybons please [make a cherry-pick CL](https://github.com/golang/go/wiki/MinorReleases#making-cherry-pick-cls) once your change is merged in master.

[2018-08-30 21:41] gopherbot opened #27387 "doc: GOFLAGS environment variable not in 1.11 release notes [1.11 backport]"
@FiloSottile requested issue #27282 to be considered for backport to the next 1.11 minor release.

[2018-08-30 21:44] #23500 closed

[2018-08-30 21:48] FiloSottile commented on #27285
@gopherbot please file this for backport against 1.11. This is a regression.

[2018-08-30 21:48] gopherbot opened #27389 "cmd/go: go build 1.11 tries to rebuild shipped vendorized dependencies [1.11 backport]"
@FiloSottile requested issue #27285 to be considered for backport to the next 1.11 minor release.

[2018-08-30 21:50] ianlancetaylor commented on #27285
Honestly I'm not sure it helps to file an issue for backport when we don't have a fix yet.

[2018-08-30 21:57] FiloSottile commented on #27287
/cc @bradfitz @josharian

[2018-08-30 21:58] FiloSottile commented on #27289
@gopherbot please file this for backport against 1.11. This is a regression.

@ALTree please [make a cherry-pick CL](https://github.com/golang/go/wiki/MinorReleases#making-cherry-pick-cls) once your change is merged in master.

[2018-08-30 21:58] gopherbot opened #27390 "cmd/compile: missing bounds checks in 1.11 [1.11 backport]"
@FiloSottile requested issue #27289 to be considered for backport to the next 1.11 minor release.

[2018-08-30 22:01] myitcv commented on #27287
/cc @ianthehat

[2018-08-30 22:07] FiloSottile commented on #27285
@ianlancetaylor the point of opening a backport issue is that it will not get closed when a "Fixes" patch gets merged. We used to lose track of things that way. Opening it immediately avoids having to track an extra "should backport but don't have a fix yet" state separately, and having to take a GitHub action when it transitions to "it has a fix now" by a Gerrit action.

releasebot pushes all Che

[2018-08-30 22:10] dfinkel opened #27391 "net: FileConn() and Dial() only return public net.Conn implementations"
In Go 1.11 and 1.10, the documentation does not say anything about which implementations of `net.Conn` are actually returned by `net.Dial()` (and friends) and `net.FileConn()`.

The current implementations of `net.Dial()` and `net.FileConn()` only return public implementations of `net.Conn` (or an error). Taking advantage of this by type-asserting to the actual implementation returned by these fun

[2018-08-30 22:12] FiloSottile commented on #27385
I feel like "makes a copy" also helps here, but the clearer the better.

[2018-08-30 22:13] #27385 closed

[2018-08-30 22:15] FiloSottile opened #27392 "github: clean up open issue on closed milestones"
Some of the closed milestones here have open issues. They shouldn't.

https://github.com/golang/go/milestones?state=closed

[2018-08-30 22:16] leighmcculloch commented on #27385
@FiloSottile The "makes a copy" on the first line helped too for sure, but I found it ambiguous in the context of the next line saying it returns "the" pool, and not "a" pool. I wasn't sure if "copy" meant a copy of what's on disk, or that it literally made a copy on every call.

(I forgot to mention the "the" vs "a" on this issue before I opened the CL.)

[2018-08-30 22:25] gopherbot opened #27393 "misc/wasm: Microsoft Edge 18 (latest) crashes due to TextEncoder not being supported [1.11 backport]"
@FiloSottile requested issue #27295 to be considered for backport to the next 1.11 minor release.

[2018-08-30 22:35] FiloSottile commented on #27386
I hear from @bcmills that we roll changes from the go tool to x/vgo on every release.

@huydinhle can you share your `go.mod`, and test if `go list -m` with Go 1.11 also has the same issue?

[2018-08-30 22:37] FiloSottile opened #27394 "github: delete the GoCommand label"
GoCommand was added by @rsc is 2016 to be used in 2017. It doesn't seem we are using it much anymore, so we should probably delete it.

https://github.com/golang/go/issues/15513#issuecomment-268085333

If we are keeping instead and applying it to all cmd/go issues we should make gopherbot apply it.

/cc @bradfitz @andybons @dmitshur @bcmills

[2018-08-30 22:42] FiloSottile commented on #27300
@bcmills @rsc it looks like cmd/go is trying to write a go.sum to a module in the `pkg/mod` cache here. Not sure if that's caused by gomobile, but it probably shouldn't happen.

[2018-08-30 22:54] FiloSottile commented on #27313
The wiki is a git repo, so we can run a cron fetching and diffing.

[2018-08-30 22:54] #27106 closed

[2018-08-30 22:55] #25773 closed

[2018-08-30 22:56] FiloSottile commented on #27324
Looks like a partial duplicate of #27300.

[2018-08-30 23:00] FiloSottile commented on #27333
/cc @bcmills @rsc

[2018-08-30 23:01] ALTree commented on #27394
The `package-management` label, too. It was superseded by `modules`.

[2018-08-30 23:03] ALTree commented on #13700
Fixed by modules, closing.

[2018-08-30 23:03] #13700 closed

[2018-08-30 23:04] FiloSottile commented on #27340
@gopherbot please file this to be considered for backport to 1.11 and 1.10. This is a regression.

[2018-08-30 23:04] gopherbot opened #27395 "cmd/cgo: typedef pointer arguments regression [1.11 backport]"
@FiloSottile requested issue #27340 to be considered for backport to the next 1.11 minor release.

[2018-08-30 23:04] gopherbot opened #27396 "cmd/cgo: typedef pointer arguments regression [1.10 backport]"
@FiloSottile requested issue #27340 to be considered for backport to the next 1.10 minor release.

[2018-08-30 23:06] broady commented on #27205
Checklist of things to do.

- [ ] Create Dockerfile
- [ ] Update deployment process/script to use `env: flex`
- [ ] Consider introducing another build flag to include "golang.org" stuff (short, dl). Currently the "appengine" build tag is used for this (see appinit.go). An environment variable might be even better.

Done already: networking/routing. We did this work already about a year ago.

Canno

[2018-08-30 23:14] FiloSottile commented on #27350
@gopherbot please file this to be considered for backport to 1.11. This is a regression.

[2018-08-30 23:14] gopherbot opened #27397 "cmd/cover: inconsistent NumStmt when //line clauses are used [1.11 backport]"
@FiloSottile requested issue #27350 to be considered for backport to the next 1.11 minor release.

[2018-08-30 23:15] randall77 commented on #27289
Here's a simple repro:
[code]
This should panic, but it doesn't.

Definitely an error in prove.  At some point we derive the following fact, in the bounds-check-failed direction of the branch:
[code]
That is, the index is unsigned >= the length of the array (i.e. negative, or too big).  This is correct.

Then the fence-post logic kicks in.  If x-1 >= y, then x > y, right?
[code]
That's a contradic

[2018-08-30 23:16] FiloSottile commented on #27354
@gopherbot please file this to be considered for backport to 1.11, as a modules doc bug.

@mark-rushakoff please [make a cherry-pick CL](https://github.com/golang/go/wiki/MinorReleases#making-cherry-pick-cls) once your change is merged in master.

[2018-08-30 23:16] gopherbot opened #27398 "cmd/go: `go help build` mentions -mod=release, which is not supported [1.11 backport]"
@FiloSottile requested issue #27354 to be considered for backport to the next 1.11 minor release.

[2018-08-30 23:21] gopherbot opened #27399 "cmd/compile: function argument hiding built-in function results in a compiler crash [1.11 backport]"
@FiloSottile requested issue #27356 to be considered for backport to the next 1.11 minor release.

[2018-08-30 23:26] FiloSottile commented on #27363
I imagine the advantages of switching to `uint64` are not worth breaking the API compatibility, but @jba might have more info on why.

[2018-08-30 23:26] #27363 closed

[2018-08-30 23:29] FiloSottile commented on #27373
Thanks to everyone who participated!

[2018-08-30 23:29] #27373 closed

[2018-08-30 23:42] cespare commented on #26996
I was confused when trying to run all.bash/make.bash and it failed (error attached below). It turns out it was because there was a go.mod in an ancestor directory. I mention this here because @bcmills assures me that the fix for my issue is the same as the fix for this one.

[code]

[2018-08-30 23:51] iambudi commented on #22281
I got this warning too on OSX Mojave 10.14 Beta after upgrading to golang 1.11.

[2018-08-30 23:57] huydinhle commented on #27386
### go.mod
[code]
### go version go1.10.3 linux/amd64 vgo:devel +1b870077c8
[code]
### go version go1.11 linux/amd64

[code]

[2018-08-31 00:09] Sherlock-Holo commented on #27363
I discussed it with my friends, we suppose we almost won't use a number larger than maxint64. however uint64 can smaller than 0 and wet won't make n smaller than 0 so it won't panic

[2018-08-31 00:17] ianlancetaylor commented on #27285
But the downside is that when we are looking at a minor release, we have to look at these issues again and again, each time going back to the original issue, and working out that it has not been fixed and there is nothing to backport.

Since it is gopherbot that is closing the issues, we don't have to be hostage to it.  I suggest that if gopherbot sees that the issue has a milestone of an earlier

[2018-08-31 00:25] ianlancetaylor commented on #27391
For what kind of code does this matter?

[2018-08-31 00:29] rasky commented on #27289
Eheh we did the same analysis at the same time and mailed an identical CL 👍 🥇

[2018-08-31 00:33] ianlancetaylor commented on #27363
In general numbers should be signed unless it is important that they be unsigned.  All computer integers have strange behavior at some points.  Signed integers have strange behavior at very large absolute values.  Unsigned integers have strange behavior at zero.  Zero is much more common in real life, so on average we minimize surprises by using signed integers.

[2018-08-31 00:36] rasky commented on #27289
I agree the bug is latent. I'm not sure it can be triggered in 1.10 because the prove pass is simpler there, but it doesn't sound too risky to backport anyway just in case.

[2018-08-31 00:39] rasky commented on #27289
Actually, the fence-post implications were introduced by Austin in [CL87480](https://go-review.googlesource.com/c/go/+/87480) which was early in the Go 1.11 cycle, so no 1.10 backport is required.

[2018-08-31 00:47] nicksnyder opened #27400 "testing: document best practices for avoiding compiler optimizations in benchmarks"
### What did you do?

1. I wanted to make sure I was creating accurate benchmarks.
2. I found and read [Dave Cheney's 2013 blog post on how to write benchmarks in Go](https://dave.cheney.net/2013/06/30/how-to-write-benchmarks-in-go). In the "A note on compiler optimisations" section he mentions that it is best practice to assign results to local and package level variables to avoid optimizations.

[2018-08-31 01:00] erikdubbelboer commented on #22950
Is there any update on this? It looked very promising.

[2018-08-31 01:43] meirf commented on #27400
One concern may have been to keep that section as short as possible, but I agree that this is a pretty important detail and easy to illustrate in a short example. Also if there was a wiki section for benchmarks this should probably be there - or at least a link to davecheney's extremely popular blog.

@nicksnyder any interest in [changing](https://golang.org/doc/contribute.html#contributor) it?

[2018-08-31 01:45] ChrisALiles commented on #25239
Changes 131318 nd 131795 were sent by mistake - they have been abandoned.

[2018-08-31 01:49] dfinkel commented on #27391
This is particularly with unix sockets where one might want access to the non-generic `Conn` methods. (e.g. `(*UnixConn).SetWriteBuffer()`[1] which isn't in the `Conn` interface)

My specific use-case is that I'm constructing a unix socket with `syscall.SocketPair()`[2] to communicate data with a subprocess that's being spawned with `os.Exec`, and it's much nicer if my function for creating the so

[2018-08-31 01:57] pjbgtnj opened #27401 "x509 certificate Subject/Issuer DN strings follows obsolete rfc"
Please answer these questions before submitting your issue. Thanks!

The format of a certificate Subject (or Issuer) when made into a String is following RFC 2253 (obsolete) instead of 4514.   Using the same format as given by "openssl x509 -in cert.pem -text -noout" would be much more useful.

### What version of Go are you using (`go version`)?
1.11

### Does this issue reproduce with the latest

[2018-08-31 02:15] jasonkeene commented on #27127
I am trying to run some git module tests right now and it appears to be down for me.

[code]

[2018-08-31 02:56] magical commented on #25733
@davecheney I'm wondering about the expected utility of this optimization - what situations is it expected to arise in? How common are they? Is this explained in the presentation?

Thanks.

[2018-08-31 03:37] meirf commented on #27400
@davecheney,

Is that kind of optimization avoidance still recommended?

If so, do you think that info should be put in https://golang.org/pkg/testing/#hdr-Benchmarks? I don't see an official benchmark wiki so seems useful to give a short explanation in `testing` doc.

[2018-08-31 04:32] agnivade commented on #27232
Roger.

[2018-08-31 05:05] agnivade commented on #27380
Simply upgrading to 1.11 does not cause this issue. Explicitly setting `GO111MODULE=on` does. So that means you are explicitly telling the go command to work in module mode.

In any case, this is a duplicate of https://github.com/golang/go/issues/24250.

[2018-08-31 05:05] #27380 closed

[2018-08-31 05:14] bradfitz opened #27402 "x/build: add a Windows Server, version 1803 (~"Windows 10") builder"
GCE supports "Windows Server, version 1803":

https://cloud.google.com/compute/docs/instances/windows/

We should run such a builder.

See:
https://go-review.googlesource.com/c/go/+/131976
https://docs.microsoft.com/en-us/windows-server/get-started/get-started-with-1803

It would've prevented #25722.

/cc @johnsonj (who noted these things on CL 131976), @dmitshur

[2018-08-31 05:16] bradfitz commented on #27029
Sounds fine. We can always do more later if needed.

[2018-08-31 06:17] mfrw commented on #27376
I'll  do `func Fscanln(r io.Reader, a ...interface{}) (n int, err error)`

[2018-08-31 06:39] #27384 closed

[2018-08-31 06:41] nvanbenschoten opened #27403 "encoding/binary: fast-paths in Read and Write allocate despite attempted optimization"
`encoding/binary.Read` and `encoding/binary.Write` both include an attempt to avoid heap allocations by pointing a slice at a stack allocated array with sufficient capacity to fit most basic types.

https://github.com/golang/go/blob/58e970ed79807fd9d2a29e1dcd4e44fa867b5540/src/encoding/binary/binary.go#L161-L170

https://github.com/golang/go/blob/58e970ed79807fd9d2a29e1dcd4e44fa867b5540/src/encodi

[2018-08-31 06:47] magical commented on #27199
I looked into this and it does appear to be a real issue.

**Background**

On Windows, command line arguments are not passed to programs as an array like they are on UNIX, but as a single, unprocessesed string.

In principle, this means that any program is free to parse the command line string any way it wants, using any quoting rules it wants.

In practice, most programs use the CommandLineToArgv

[2018-08-31 07:06] magical commented on #27199
Minimal reproducer:

exec.go
[code]

echo.bat
[code]

output
[code]

expected output
[code]

[2018-08-31 07:16] tdfbsd opened #27405 "x/build: dragonfly getting stuck on builds"
The revert commit a700ae9 fixed a problem that was causing the dragonfly builder to hang forever (instead of failing) when attempting to build anything later than commit e6c1594. Please manually fail commits:

- [x] e6c1594 - https://build.golang.org/log/57c6ebe73af7f9ec841f6fd6072b254458a97a1b
- [x] 38143ba
- [x] b7d3e14
- [x] eae5fc8
- [x] 969b9d8
- [x] 21af0c1

Otherwise, the builder will conti

[2018-08-31 07:37] ondrej-fabry opened #27406 "runtime/trace: incorrect WithRegion usage in code snippet"
### What version of Go are you using (`go version`)?
* 1.11

### Does this issue reproduce with the latest release?
* yes (go1.11)

### What did you do?
* Read code snippet in docs for https://golang.org/pkg/runtime/trace/#NewTask

### What did you expect to see?
[code]

### What did you see instead?
[code]

---

The `trace.WithRegion` requires 3 parameters (`ctx`, `regionType`, `fn`) however in t

[2018-08-31 07:44] sirkon commented on #24250
IMO `go get` with modules semantic is not the right place for the functionality.
`go bin` may be?

[2018-08-31 07:56] rasky commented on #27227
GOFLAGS isn’t the right solution here. This is not a per-user / per-computer decision like “add debug flags”. This is a per-project decision that should affect all users building it. Currently, if a project uses vendoring, there is no way to let all builders use vendoring by default.

[2018-08-31 08:38] agnivade commented on #27403
@nvanbenschoten - For the record, it will be good to get your go version and go env info.

/cc @dr2chase @rasky

[2018-08-31 08:55] #27251 closed

[2018-08-31 08:55] #27289 closed

[2018-08-31 09:10] panamafrancis commented on #22846
@kfox1111 You should just change your base image, golang should always defer to /etc/nsswitch.conf
@Barbery Here is not the place for sysadmin questions (hint: use sudo)

[2018-08-31 09:15] rasky commented on #27403
AFAICT, Go interfaces as designed in Go 1 don't play well with escape analysis. Any object passed through them always escape, period, and there is no way for the Go compiler to fix this without a whole-program compilation which is unlikely to ever happen.

In the specific case of `binary.Read`, we already noticed in another bug that that function should be forced inline most of the times (at least

[2018-08-31 09:16] #25722 closed

[2018-08-31 09:32] fmstephe opened #27410 "runtime: system experienced long pauses during GC marking"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

go version go1.10.3 linux/amd64

### Does this issue reproduce with the latest release?

We don't know. Unfortunately we can't run this exact experiment again.

### What operating system and processor architecture are you using (`go env`)?

linux/amd64

### What did you do?

W

[2018-08-31 09:34] agnivade commented on #27199
@alexbrainman

[2018-08-31 09:35] Terry-Mao commented on #17607
ping

[2018-08-31 09:39] rasky commented on #25722
@gopherbot please consider backporting this issue to Go 1.11

[2018-08-31 09:39] gopherbot opened #27411 "net: io.CopyN fails to copy from file to net.Conn on Windows [1.11 backport]"
@rasky requested issue #25722 to be considered for backport to the next 1.11 minor release.

[2018-08-31 09:41] rasky commented on #25722
@gopherbot please consider back porting this issue to Go 1.10. It's broken on Windows 10 and workarounds are difficult if the CopyN call happens deep into some networking library.

[2018-08-31 09:45] alexbrainman commented on #27199
This already been discussed in other issues. There is no point repeating all that here too.

Alex

[2018-08-31 10:20] klaus commented on #27274
should be documented as `go mod edit -replace a=../a`

want to add that for me, this does NOT work with a module that's deeper in the dependency (`go mod edit -replace a/b=../a/b`). The go mod does work, but I still get

my go.mod (of mycomp.com/hauskey-enhancer):
replace mycomp.com/post-adressdaten/addressdata => ../post-adressdaten/addressdata

go build:
go build mycomp.com/hauskey-enhancer: can

[2018-08-31 10:50] klaus commented on #27274
it's important to note, that you need the "require" AND the "replace" in the go.mod file.
I like to add them via the commandline, the commands should be encouraged and documented with examples.

the `go mod init` command does not populate go.mod with packages it cannot resolve. Therefore you must do:

go mod edit require example.com/post-adressdaten
go mod edit -replace example.com/post-adressdate

[2018-08-31 11:31] htrqlik commented on #27365
The same issue is present in goimport. If the problem can be fixed there as well that would be great.

[2018-08-31 11:45] sebres commented on #27199
Thus closed as "unlikely to be implemented" resp. as "duplicate".

<sub>There are two categories of people: one of that says "the world is unfair" (MS must die, etc), and another that try to repair this "broken" world.
</sub>
Luckily there is many other lang's, on which one could build, regardless the platform they are running.

[2018-08-31 11:45] #27199 closed

[2018-08-31 12:28] andriisoldatenko commented on #27376
@kevinburke I can create example for `Fscan`.

[2018-08-31 13:01] fmd opened #27412 "os/user: cannot pick up sss users in nocgo mode"
### What version of Go are you using (`go version`)?
go version go1.9.1 linux/amd64

### Problem:
the `os/user` package has moved off of using cgo system commands to find users. On our system (and many others), there are several users that don't appear in `/etc/passwd`, but on the system we can see them fine with `getent passwd <USER>` (because sssd handles this).

So, as the `os/user` package use

[2018-08-31 13:03] andriisoldatenko commented on #27078
For quick look in source code https://golang.org/src/mime/type.go?s=2698:2737#L63
[code]
and working example https://play.golang.org/p/SD93m9K93WD.
@josharian  Please let me know if we need to fix it.

[2018-08-31 13:15] dominikh commented on #27412
What makes you say that? Go still uses the libc for os/user, when building with cgo support enabled.

See for example https://github.com/golang/go/blob/master/src/os/user/cgo_lookup_unix.go.

[2018-08-31 14:05] josephbudd opened #27413 "NewCallback"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org

[2018-08-31 14:07] adamierymenko opened #27414 "Idea/proposal: Add operator overloading to template arguments (generics)"
After looking over some of the Go 2 generics proposals, I kept thinking about the primary utility of generics. For the most part it lies in collections, algorithms, and math code. For the latter however generics really don't help a whole lot without operator overloading. The versatility of C++ operator overloading combined with low or zero cost generics is what makes C++ really shine for reusable

[2018-08-31 14:07] #27413 closed

[2018-08-31 15:07] komuw commented on #27414
@gopherbot add label Proposal

[2018-08-31 15:09] komuw commented on #27414
thank you @gopherbot

[2018-08-31 15:09] mark-rushakoff opened #27415 "cmd/go: performance regression after F_FULLFSYNC fcntl change on Darwin"
I'm seeing a reliable ~3x slowdown with `go test -race` on a particular set of tests doing a lot of concurrent operations in several goroutines. I haven't yet spent the time to reduce the test case or to identify the go commit introducing the regression.

Tried with go 1.11:
[code]

and go tip:
[code]

To reproduce:

[code]

(That branch will likely get rebased onto master in the near future, so I

[2018-08-31 15:09] arbrix commented on #22238
After the investigation, I've found that all these cases due to `:` at the `Title` section, that lead that the end CA line processing as Header and break other logic, I suggest changing TestFuzz for mark such cases as invalid.

[2018-08-31 15:17] ALTree commented on #27415
It's not clear what version `go` is in your terminal. `gotip` is tip, ok, and it's affected... what's `go`?

[2018-08-31 15:46] mark-rushakoff commented on #27415
I'm seeing an even more drastic slowdown without using -race:

[code]

[2018-08-31 15:47] myitcv commented on #27414
@adamierymenko is this better presented as feedback on the Generics Draft Design (not a proposal, just to emphasise): https://github.com/golang/go/wiki/Go2GenericsFeedback?

On the assumption it is, I'll close this for now.

[2018-08-31 15:47] #27414 closed

[2018-08-31 15:48] ALTree commented on #27415
That seems... extreme. Are you sure `gotip` is not rebuilding stuff? Can you put the test in a Benchmark? That would get rid of issues like that.

[2018-08-31 15:51] nvanbenschoten commented on #27403
Thanks for the responses. This was in go1.10, but like @rasky mentioned, it's a general problem with Go 1 and its interaction between interfaces and escape analysis. With the current design of `binary.ByteOrder`, this optimization was and is never going to work.

With that in mind, would you be open to me sending a pull request to rip out this attempted optimization?

I completely agree and the mo

[2018-08-31 16:01] erikdubbelboer commented on #26800
Doesn't it make sense that this is an error? You're telling it to decode a string into an integer but then don't provide a valid integer in the string.

[2018-08-31 16:07] rasky commented on #27403
Either that, or we must make sure the compiler is smart enough when instantiating a generic whose type is being used as part of a type switch (is that possible at all?) or a good subset of reflect calls that could get intrinsified.

[2018-08-31 16:11] jefferai commented on #24285
Seeing this issue on an Ubuntu 18.04 machine (using Konsole, FWIW) when running the 1.11 `all.bash` file.

[2018-08-31 16:17] scudette opened #27416 "os.Readdir swallows partial results if it fails to Lstat any file in the listing."
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.10.1 linux/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
GOARCH="amd64"
GOHOSTOS="linux"

### What did you do?

Test program here
https://play.golang.org/p/Xgvoi1G

[2018-08-31 16:30] erikdubbelboer commented on #26698
Your problem is indeed that [Go is dialing from another goroutine](https://github.com/golang/go/blob/88206b89313bd7c143bc0d4946543969255ecc2b/src/net/http/transport.go#L998-L1001) which will run on a different thread. What you can do to fix this is providing a custom dialer that locks the thread and sets the namespace right before the dial.

I have not tested this code as I am not able to at the m

[2018-08-31 16:30] mark-rushakoff commented on #27415
Okay, I bisected to find be10ad762289943638efb279fc7e04c73b8d7cee (`internal/poll: use F_FULLFSYNC fcntl for FD.Fsync on OS X`) was the first "bad" commit.

The test suite in question is exercising some concurrent operations backed by a coreos/bbolt database. The commit message details look like the commit was a necessary change:

Maybe this is just a necessary regression for file correctness on D

[2018-08-31 16:37] drewvanstone commented on #27376
`Sprintln` is done

[2018-08-31 16:40] carlmjohnson commented on #27277
@Merovius, what do you think about changing the blog post to use a shallow copy of the request?

[2018-08-31 16:55] icholy opened #27417 "proposal: fmt verb for indented Go-syntax representation of the value"
Currently, the `%#v` formatting verb places everything on one line. It would be useful for debugging to add a variation that outputs an indented version of the Go-Syntax representation.

[code]

[code]

https://github.com/sanity-io/litter

[2018-08-31 16:55] mccolljr commented on #27371
@networkimprov no, that's not right. This has nothing to do with input parameters. I'm speaking specifically for output parameters.

If a function returns types (A, B), then the proposal is to make that assignable to a value expecting a function with return types (X, Y), provided A is assignable to X and B is assignable to Y, and of course provided the input parameters are the exact same.

@ianlan

[2018-08-31 17:10] kevinburke commented on #27412
Maybe you are cross compiling binaries? IIRC that causes the library to use pure Go instead of cgo.

[2018-08-31 17:26] Merovius commented on #27277
A shallow copy wouldn't help (URL is a pointer). You would have to use a deep copy. Deep copies might not be too expensive to do on every request, but they are too expensive to do in every frame IMO. And personally, I think if Go ever starts relying on Request not being modified, tons and tons of Go code out there will break silently, for better or for worse (note, that the comment was only [added

[2018-08-31 17:43] bcmills commented on #27386
Try `go list -m all`. I think `go list -m` only lists the main module.

[2018-08-31 17:47] FiloSottile commented on #27375
/cc @bradfitz

[2018-08-31 17:49] carlmjohnson opened #27418 "x/net: tag repo"
I added a mod file to a project and noticed that x/net has no version tags yet. As a result, my go.mod file has `golang.org/x/net v0.0.0-20180826012351-8a410e7b638d` as a requirement. Please tag it, so we can use real versions.

[2018-08-31 17:49] FiloSottile commented on #27386
(You might need to set `GO111MODULE=on` for `go list` to work.)

[2018-08-31 17:50] carlmjohnson commented on #27418
Dupe of #21324.

[2018-08-31 17:50] #27418 closed

[2018-08-31 17:54] Nathan813 commented on #26251
How do I release this ? Thanks

[1500953553184_USEPIC.jpg]
[1500953056910_logo2.jpg]

On Jul 6, 2018, at 1:07 PM, Ben Krieger <notifications@github.com<mailto:notifications@github.com>> wrote:

What did you do?

I created an HTTP server like log.Fatal(http.Serve(autocert.NewListener("subdomain.example.com<http://subdomain.example.com>"), handler)) where example.com<http://example.com> also has a c

[2018-08-31 17:56] FiloSottile opened #27419 "net: io.CopyN fails to copy from file to net.Conn on Windows [1.10 backport]"
@rasky requested issue #25722 to be considered for backport to the next 1.10 minor release.

[2018-08-31 17:57] FiloSottile commented on #25722
Made backport issue #27419 manually because of #25574. (But also, "back porting" with a space does not trigger gopherbot.)

[2018-08-31 18:04] FiloSottile commented on #27260
@gopherbot please file this issue for backport to 1.11 and 1.10 (GOMIPS and the cache were introduced in 1.10, so it might affect both, if not please close the 1.10 issue).

@ianlancetaylor had milestoned this for 1.11.1 and I don't see a cherry-pick, but it was closed by the master fix.

[2018-08-31 18:04] gopherbot opened #27420 "cmd/go: GOMIPS environment variable does not affect caching of mipsle code [1.11 backport]"
@FiloSottile requested issue #27260 to be considered for backport to the next 1.11 minor release.

[2018-08-31 18:04] gopherbot opened #27421 "cmd/go: GOMIPS environment variable does not affect caching of mipsle code [1.10 backport]"
@FiloSottile requested issue #27260 to be considered for backport to the next 1.10 minor release.

[2018-08-31 18:31] maruel opened #27423 "proposal: Go 2: require field name for struct composite literal when the struct reference is with a selector"
# Background

Adding a new field to a struct in a package is currently a breaking change. This means that adding a field to any public struct in a package requires a new major package version, creating a fair amount of churn for users when coupled with modules.

One major reason this is a breaking change is because of the second rule of [Composite literals](https://golang.org/ref/spec#Composite_li

[2018-08-31 18:48] FiloSottile commented on #27401
Unfortunately we documented that we follow RFC 2253 everywhere, and apparently there are systems that require this format. However, RFC 4514 explicitly obsoletes 2253 for this specific use case.

For context: #21615.

[2018-08-31 19:00] FiloSottile commented on #27196
@gopherbot please file this to be considered for backport to 1.11.

@johanbrandhorst please [make a cherry-pick CL](https://github.com/golang/go/wiki/MinorReleases#making-cherry-pick-cls) once your change is merged in master.

[2018-08-31 19:00] gopherbot opened #27424 "net/http: WASM Roundtripper crash when using "no-cors" mode [1.11 backport]"
@FiloSottile requested issue #27196 to be considered for backport to the next 1.11 minor release.

[2018-08-31 19:02] FiloSottile commented on #26382
@gopherbot please file this to be considered for backport to 1.11.

[2018-08-31 19:02] gopherbot opened #27425 "runtime: wasm: all goroutines asleep and no JavaScript callback pending - deadlock [1.11 backport]"
@FiloSottile requested issue #26382 to be considered for backport to the next 1.11 minor release.

[2018-08-31 19:02] tzneal commented on #27287
This was caused by a fix to #26504 in f85125345cc5d3eb054c90bfca4bda3544d7fcab, with modules enabled it's exec'ing go list on each import to determine import path names.  Temporary fix at http://golang.org/cl/132598 until goimports moves to go/packages.

[2018-08-31 19:12] martisch commented on #27417
A feature like this in fmt has been proposed and rejected previously in #23026. The complexity of multi line indentation of go syntax seems best served by another package outside of fmt instead of making fmt more complex.

If you have additional arguments that you think would change the conclusion from #23026, feel free to reopen this issue with additional context why fmt should contain this featu

[2018-08-31 19:12] #27417 closed

[2018-08-31 19:12] FiloSottile commented on #24787
Closing based on https://github.com/golang/go/issues/24787#issuecomment-387822603

[2018-08-31 19:12] #24787 closed

[2018-08-31 19:32] mdp commented on #5814
Golang's bcrypt doesn't distinguish between minor versions ("a","b","y", or any other single letter), just the major version (https://github.com/golang/crypto/blob/master/bcrypt/bcrypt.go#L260)

It happily treats all of them the same. It's probably safe to close this ticket.

[2018-08-31 20:03] kaxap opened #27426 "encoding/asn1: error when unmarshalling SEQUENCE OF SET"
### What version of Go are you using (`go version`)?
go1.11 windows/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]
play link:
https://play.golang.org/p/V-za5Cu1wkr

### What did you expect to see?
SEQUENCE OF SET should be properly unmarshalled into a slice of stru

[2018-08-31 20:36] ianlancetaylor commented on #27423
I think it's worth mentioning the section on struct literals in the Go 1 compatibility doc: https://golang.org/doc/go1compat#expectations .

[2018-08-31 20:39] maruel commented on #27423
Thanks, that's a good point. The proposal is essentially replacing the recommendation with enforcement, for better future proofing for package authors, including the stdlib.

[2018-08-31 20:40] magical commented on #15566
In #27199, @sebres proposes what looks like a clever algorithm for quoting arguments in such a way that they can survive being passed through cmd.exe, while also working fine in the normal case where cmd.exe isn't involved. If it works, this would obviate the need try and sniff out .bat files.

[2018-08-31 20:40] mvdan commented on #5683
Closing as discussed above - discussion will continue on other json performance issues, after being cross-referenced to this one.

[2018-08-31 20:40] #5683 closed

[2018-08-31 20:42] mvdan commented on #16212
I've closed the broad json performance issue #5683 in favor of more specific performance issues about the encoder and decoder. This is the obvious first choice - the decoder is way slower than the encoder, and reflection is the obvious culprit.

I imagine that doing this, especially for structs, would give a noticeable speed-up. I might give this a look during the current 1.12 cycle.

[2018-08-31 20:44] mvdan commented on #27149
One counter-point to the JSON case is that we could instead do the reflect work ahead of time for structs; see #16212.

Still, this seems like a common reflection operation that should be way cheaper. And reflection is used in many more places than just `encoding/json`.

[2018-08-31 21:00] kevinburke opened #27427 "scratch: add doc.go"
I set up a custom domain so the scratch repo is "go get" able, and godocs are now browsable: https://godoc.org/goscratch.club

However this now makes clear that we should have a `doc.go` alongside the README at the top level of that project, even if it's just really basic and points people elsewhere.

[2018-08-31 21:00] dvrkps opened #27428 "cmd/go: go mod tidy adds many indirect modules"
Please answer these questions before submitting your issue. Thanks!

#### What did you do?
```go mod tidy```

#### What did you expect to see?
[code]

#### What did you see instead?
[code]

and go.mod looks like:
[code]

#### System details

[code]

[2018-08-31 21:28] as commented on #27149
Is adding `Named` a backward-compatible change?

[2018-08-31 21:34] cespare commented on #27149
@as yes, because Type has unexported methods.

[2018-08-31 22:14] thepudds commented on #26241
Just a quick comment that people continue to run into this (in Slack, mailing list, etc.), so seems worthy to at least consider doing something here...

[2018-08-31 23:20] BTBurke opened #27429 "/x/text go.mod does not resolve correct package"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### What did you do?

[code]

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org is best.

### What did you expect to se

[2018-08-31 23:27] marwan-at-work opened #27430 "cmd/go: should go get deduce semantic import versioning when GO111MODULE is off?"
#### What version of Go are you using (`go version`)?
1.11

#### Does this issue reproduce with the latest release?
Yes

#### What operating system and processor architecture are you using (`go env`)?
All

#### What did you do?
`GO111MODULE=off go get github.com/google/go-github/v18/github`

#### What did you expect to see?
Go downloads the library into my GOPATH ignoring the v8 suffix.

#### What

[2018-08-31 23:38] myitcv commented on #27430
This is effectively the library equivalent of https://github.com/golang/go/issues/24250 (from both an implementation and docs perspective)

[2018-08-31 23:40] marwan-at-work opened #27431 "access: marwan-at-work Editor Access"
I'd love to help with assigning labels (primarily for Go Modules) so that the appropriate people can get to issues faster :)

Group URL: https://github.com/orgs/golang/teams/go-approvers

Thanks!

cc: @ianthehat @bcmills @andybons @myitcv

[2018-08-31 23:45] myitcv commented on #27431
Adding a bit of context here; @marwan-at-work has been very active on the modules stuff in `#modules` on Slack as well as the tooling conversations we kicked off at GopherCon.

[2018-08-31 23:46] josharian commented on #27410
@aclements @RLH

[2018-08-31 23:52] marwan-at-work opened #27432 "cmd/go: What should the new semver tag be for +incompatible modules?"
### Summary
When a +incompatible module decides to introduce a go.mod file and updates all of its import paths to include vX, what should their new `git tag` be? Should they bump their patch, minor, or major?

### What version of Go are you using (`go version`)?
1.11

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go

[2018-08-31 23:58] marwan-at-work commented on #27432
I briefly discussed this with Go team members at GopherCon but the question has come up a few times from library owners so I thought I'd create an issue for it.

cc: @bcmills

[2018-09-01 01:35] jasonkeene commented on #27127
@andybons Thanks for the update.

I don't have a lot of context on why these tests use `vcs-test.golang.org`. Do we need to have these tests talk to a vcs server on the internet or can the tests just start this server themselves? If the server can be ran locally I would think that would be better than having them rely on the availability of `vcs-test.golang.org`.

[2018-09-01 02:13] mdp commented on #22163
I think this library is just implementing the older PBKDF1, which is limited to 160 bits.

Unfortunately, from what I can tell, it looks like this part of x/crypto is not actively being developed. There seems to be some backstory on the development - https://github.com/golang/go/issues/14125#issuecomment-239966659

[2018-09-01 02:50] robaho opened #27433 "segment violation running compiler"
Using Go 1.11 - just made some code changes, and now when the compiler runs, it fails with:

# github.com/robaho/keydb
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x70 pc=0x177bcbe]

goroutine 1 [running]:
cmd/compile/internal/gc.typecheck1(0xc0002e7400, 0x2, 0xc000660aa8)
	/usr/local/Cellar/go/1.11/libexec/src/cmd/c

[2018-09-01 02:59] hooluupog commented on #19770
Go 2 draft design happens. I leave my feedback here:
I really like the idea of `operator method` introduced by Robert Griesemer in dotGo 2016[0]. The math/Big package is a mess without supporting operator method and generics at present. IMO, Generics with proper operator method supporting will significantly enhance Go's ability in Data Science (Gonum will be the biggest beneficiary). In addition,

[2018-09-01 03:11] randall77 commented on #27433
Might be a dup of #27356.

[2018-09-01 03:16] robaho commented on #27433
Here is a patch containing the code changes that cause the issue - this might help:

Index: disksegment.go
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- disksegment.go	(date 1535771631000)
+++ disksegment.go	(date 1535771665000)
@@ -34,6 +34,13 @@
 	dataFile  *os.File
 	compare   KeyC

[2018-09-01 03:53] nzlov opened #27434 "database/sql: transaction leak"
### What version of Go are you using (`go version`)?
`go version go1.11 darwin/amd64`

`postgresql 10.5-1.pgdg90+1 in docker`
[code]

### Does this issue reproduce with the latest release?
`yes`

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

Sorry.I don't know.  Use `revel v0.13.1` and `gorm`. Maybe #22976.

### What did you expect to

[2018-09-01 04:10] josharian commented on #27403
git blame suggests to me that this was not an optimization attempt but merely an oversight while the code grew: https://golang.org/cl/12694048

If simplifying the code doesn’t cause a performance regression (I don’t see why it would, but I am AFK), that would be a welcome change.

[2018-09-01 04:12] josharian commented on #27403
Marking as suggested: the simplification appears straightforward, and the only other thing to do is confirm that there is no performance regression.

[2018-09-01 04:14] josharian commented on #27400
@as I believe it can happen now with inlined calls. There is discussion of purity analysis, which might impact non-inlined pure calls later.

[2018-09-01 04:44] saward commented on #18080
@luna-duclos would you recommend using your fork at https://github.com/luna-duclos/instrumentedsql now?

[2018-09-01 04:50] as commented on #27199
We established that
- `exec.Command("notepad.exe", "&calc.exe")` doesn't run the calculator
- `exec.Command("test.bat", "&calc.exe")` does
- `exec.Command("test.bat", "&calc.exe")` is equivalent to `exec.Command("cmd", "/c", "test.bat", "&calc.exe")`.

Go is a platform independent language. Why should it be aware of a platform specific plumbing rule in Windows that launches a broken argument parse

[2018-09-01 05:03] agnivade commented on #27429
I could not reproduce this. Build worked just fine.

IIRC, I have seen errors like that before, and usually it went away with a retry. Could you try cleaning your modcache and build again ?

[2018-09-01 05:05] kardianos commented on #27434
I'll look into it.

[2018-09-01 05:56] CAFxX commented on #27149
While I understand that adding `Named()` would be much simpler from an implementation perspective, it sets a bad precedent (as correctly noted in the first comment) and doesn't solve the same problem elsewhere. It would be better to actually have some (even restricted) form of partial inlining, and let the compiler do the right thing.

[2018-09-01 05:58] shoenig opened #27435 "cmd/go: module names are mangled when GOPROXY is set"
### What version of Go are you using (`go version`)?
[code]

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
When serving modules through a proxy (toy code below using 1 module served via file://), the go command seems to be making requests with a mangled URL (e.g. capital letters get weird).

### If possible, provide a recipe for reprodu

[2018-09-01 06:02] techtonik commented on #26616
For ordering it should be `1st of 3 return values`, no? Also, does go syntax permit not to assign a variable to returned value? Because if it doesn't, ordering doesn't make sense.

This one is good. I would only specify that this are "2 return values".

[2018-09-01 06:08] CAFxX commented on #14939
Wouldn't it be sound if the transformation would yield the following instead?

[code]

[2018-09-01 06:53] erikdubbelboer commented on #14750
I took a stab at implementing this: https://go-review.googlesource.com/c/go/+/132735

[2018-09-01 07:29] smallstone626 opened #27436 "import"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?

### Does this issue reproduce with the latest release?

### What operating system and processor architecture are you using (`go env`)?

### What did you do?

If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
A link on play.golang.org

[2018-09-01 07:32] Quasilyte commented on #27149
@CAFxX do you have implementation ideas of this partial inlining?
Ones come to my mind either require more memory consumption per inlining candidate and/or more computations to analyze the call site, which would probably result in wasted cycles for 90% of places. This can be optimized from the toolchain speed point of view, but changing the inliner is complicated since it's hard to determine wheth

[2018-09-01 07:36] mvdan commented on #27436
Empty.

[2018-09-01 07:36] #27436 closed

[2018-09-01 07:45] silbinarywolf commented on #26668
If nobody wants to claim this, I'm able to make time for this tomorrow. I predominantly develop on Windows, so the friction of testing this sort of bug is low.

@delthas Are you currently working on this?

[2018-09-01 07:49] FiloSottile commented on #27127
vcs-test.golang.org is back up.

[2018-09-01 07:49] #27127 closed

[2018-09-01 07:57] myitcv commented on #27435
Closing per @AlexRouSg's response

[2018-09-01 07:57] #27435 closed

[2018-09-01 07:58] #27378 closed

[2018-09-01 08:34] johanbrandhorst commented on #27424
I will fix this :)

[2018-09-01 09:13] lrita commented on #21906
In my service, the net.Resolver stalling 5s+ occurred once every 150 queries. This service is built in go1.11 .

The AAAA reponse alway this:
![](https://lrita.github.io/images/posts/issue/go_21906.png)

[2018-09-01 12:49] Charliekenney23 commented on #27406
I'll take this

[2018-09-01 15:56] carlca opened #27439 "Problems using go get with Go Modules activated"
### What version of Go are you using (`go version`)?
go version go1.11 darwin/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
1. Navigate to ~
2. Run `go get github.com/<supplier>/<repo>`

### What did you expect to see?
I expected no error message, just a carriage return,

[2018-09-01 18:39] theclapp commented on #26045
Isn't this also true in pure Javascript too?  They just get around it with promises or something -- if they do it at all.  Frankly making the innards of one callback synchronously dependent on the innards of a different callback seems like a bad idea.  What would that even mean?  You can't finish pressing _this_ button until you also press _that_ button?  No, I think you need to just start a separ

[2018-09-01 18:52] jimmyfrasche commented on #26757
A related problem† is a type that would satisfy an interface if one or more of its operations were named differently.

† exacerbated by introducing generics that can use operators without either operator overloading or type classes (not that I think either of those are a good match for Go)

Say there is a generic `Ordered` interface with methods
[code]

A value of `time.Time` almost satisfies `Ord

[2018-09-01 18:57] mvdan commented on #27149
@CAFxX of course it would be best if this was fast with no changes to the API - but the hard problem is figuring out how that would work. Make the compiler smarter? Special-case the reflect package in the compiler? Somehow rewrite the method to do less work?

I haven't come up with a way to do it, and I'm not even sure it's possible, hence this proposal.

[2018-09-01 19:44] BTBurke commented on #27429
Weird.  I cleared my cache and it builds on one computer and not the other.  Must be me.  Sorry for the hassle.

[2018-09-01 19:44] #27429 closed

[2018-09-01 20:32] andreynering opened #27440 "os/exec: Unable to kill a command on macOS?"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?

[code]

### Reproduce

I think this is specific to macOS. Although I haven't tried the exact script below on another OS, I'm sure I ran similar scripts on Windows and Linux before and it worked fin

[2018-09-01 20:54] thepudds commented on #26988
Regarding this issue, Russ commented:

[2018-09-01 20:54] thepudds commented on #26993
See also this comment: https://github.com/golang/go/issues/26988#issuecomment-417886417

[2018-09-01 21:13] theclapp opened #27441 "misc/wasm: "this" missing in wasm callbacks"
### What version of Go are you using (`go version`)?
go version go1.11 darwin/amd64

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?

`go env`:
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/lmc/Library/Caches/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/lmc"
GOPR

[2018-09-01 22:12] mwwaters commented on #23866
I have code written to implement sharing sockets for DNS. The change ended up being more significant than I first realized and I wanted to discuss the new code before asking for codereview.

This is my first codereview request and so I'm sorry if this description is too detailed and long. Can I ask for a codereview based on this description?

The following two public options are added to Resolver:

[2018-09-01 22:39] frostyplanet commented on #27078
Although the doc specify function behavior, but it's no big deal for html and xml if not to include "; charset=utf-8",
usually the content itself contain a charset declaration. Should at lease let user to opt out the behavior.

[2018-09-01 23:44] kortschak opened #27442 "cmd/{godoc,vet},testing: godoc disagrees with the docs and vet about validity of example name suffixes"
### What version of Go are you using (`go version`)?
[code]

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
linux/amd64

### What did you do?
[code]

However, godoc [renders the 2sat example](https://godoc.org/gonum.org/v1/gonum/graph/topo#example-TarjanSCC--2sat).

### What did you expect to see?
An error

[2018-09-01 23:57] BenLubar opened #27443 "crypto/sha1: add native SHA1 instruction implementation for AMD64"
I've transliterated the [Linux kernel](https://github.com/torvalds/linux/blob/master/arch/x86/crypto/sha1_ni_asm.S) version of native SHA1 instructions to [Go's flavor of assembly](https://gist.githubusercontent.com/BenLubar/d11e801907892a6ee8d7ce1e0e4db144/raw/sha1block_amd64.s). The result is a [1.5x to 3x speed-up](https://gist.github.com/BenLubar/d11e801907892a6ee8d7ce1e0e4db144/raw/70a5cee937

[2018-09-02 05:31] agnivade commented on #27441
I have encountered a need for this only in DOM event callbacks to access the original element. A common way to achieve this is to use the `NewEventCallback`, and do `ev.Get("target")` to get the source element.

What is the scenario where you need to access the original object which is other than the source element in an event callback ?

[2018-09-02 05:49] agnivade commented on #27442
The title of the issue suggests that the issue is with godoc. But it seems you want the documented behavior itself to allow numeric characters. In which case, this should be a proposal issue because what you are suggesting is a behavior change. I think allowing numerical characters deviates from our existing language spec, which forces all identifiers to start with a letter (https://tip.golang.org

[2018-09-02 06:41] dsnet commented on #27442
The problem is that the [example syntax is fundamentally ambiguous](https://github.com/golang/go/issues/23864#issuecomment-370580696) and ideally all the tools should be consistent about how they resolve that ambiguity. Unfortunately, currently each tool has their own copy of the example parsing logic, and handles this case differently.

I brought up this issue in #23864. Having a unified implemen

[2018-09-02 06:46] alexbrainman commented on #27225
@AudriusButkevicius thank you for reporting the issue. I will investigate when I have time.

Alex

[2018-09-02 06:59] dsnet commented on #27443
\cc @FiloSottile

[2018-09-02 06:59] kortschak commented on #27442
I'm happy for this to be closed and subsumed into that. What I would like to be considered though is the rule mentioned above; it does not need to be a lowercase initial, it just needs to not be an uppercase initial.

[2018-09-02 07:04] dsnet commented on #27442
The challenge is that the [logic for `godoc.org` also treats the suffix as anything without an uppercase](https://github.com/golang/tools/blob/a237aba5f578100f4f8419bbda73189b8e6dbae5/godoc/godoc.go#L774-L790) (thus includes numbers), so we'll probably need to update the documentation in the `testing` package to match what has pragmatically been the current state of affairs.

[2018-09-02 07:04] #27442 closed

[2018-09-02 07:09] dsnet commented on #23864
#27442 was closed as a duplicate of this. I should note that the unified behavior for example parsing may require an update to the documentation in `testing`. In particular, the documentation states that the suffix must start with a lowercase letter, however both `tools/godoc` and `gddo` both a treat a suffix as anything that isn't an uppercase.

[2018-09-02 07:53] dvyukov commented on #26813
Here is minimized reproducer:
[code]

[code]

The repeated frames must not be present in the trace.
The root cause is that we don't unwind tsan stack on panic, i.e. not calling racefuncexit for each unwound frame. The bug is more visible with recover, but strictly saying affects just defer too. Consider that a race happens in a deferred func, or that main application loop runs in a deferred functi

[2018-09-02 08:13] agnivade commented on #27439
Like you have correctly found above - this issue is a duplicate of #24250. See also this https://github.com/golang/go/issues/27380 for a similar issue.

[2018-09-02 08:16] agnivade commented on #27443
A quick note on our assembly policy - https://github.com/golang/go/wiki/AssemblyPolicy.

[2018-09-02 08:39] carlca commented on #27439
I have come up with what is a partial solution. It is a shell script which simulates the `go get` action. The idea is that one copies the `git clone` url from `github.com` and then runs `gog.sh <kbd>⌘</kbd>v. One can then run `go run`, `go build` or `go install` as usual.

The contents of `gog.sh` can be found at https://gist.github.com/carlca/e97eccd545f2465f1e2a0c42356e6ffd.

I use an alias to s

[2018-09-02 08:51] carlca commented on #27439
I have come up with what is a partial solution. It is a shell script which simulates the `go get` action. The idea is that one copies the `git clone` url from `github.com` and then runs `gog.sh [⌘]v`. Of course, with Github.com you can copy the `gig clone` url with just a couple of keystrokes. One can then run `go run`, `go build` or `go install` as usual.

The contents of `gog.sh` can be found at

[2018-09-02 08:54] carlca commented on #27380
I have come up with what is a partial solution. It is a shell script which simulates the `go get` action. The idea is that one copies the `git clone` url from `github.com` and then runs `gog.sh [⌘]v`. Of course, with Github.com you can copy the `git clone` url with just a couple of keystrokes. One can then run `go run`, `go build` or `go install` as usual.

The contents of `gog.sh` can be found at

[2018-09-02 09:42] sirkon commented on #27380
Translation into `git clone` is a bit too sophisticated IMO, I would rather go with something like

[code]

It creates temporary directory, cd into it, initializes a module within, perform `go get` which downloads, compiles and installs that damn binary :)

[2018-09-02 09:46] ALTree commented on #27443
It's not allowed to translate/port GPL code and then include it in a BSD-licensed project.

[2018-09-02 10:32] #25452 closed

[2018-09-02 10:43] ctd1500 commented on #27380
The actual "workaround" is very simple: set `GO111MODULE=auto`, or simply leave `GO111MODULE` unset and `go get` works just as it always has.

[2018-09-02 10:55] sirkon commented on #27380
[code]
is harder than
[code]

[2018-09-02 12:26] bcmills commented on #27439
Duplicate of #24250.

[2018-09-02 12:26] #27439 closed

[2018-09-02 12:44] andreynering commented on #27440
@mark-rushakoff It doesn't matter if you run it using `go run` or `go build` + `./server`. Actually, I think it don't need to be a Go program, can be any long running program

[2018-09-02 13:50] theclapp commented on #27441
@ALTree Thanks for cleaning up this issue.

@agnivade I'm writing a wasm wrapper for [Vue.js](https://vuejs.org/).  (Actually converting one from GopherJS.)  Vue.js frequently passes what it calls "the current vm / Vue instance" as `this` in various handlers (see for example [here](https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks), "All lifecycle hooks are called with their `this`

[2018-09-02 13:56] agnivade commented on #27441
Understood. Thanks for clarifying.

/cc @neelance

[2018-09-02 14:37] dvrkps commented on #27428
@thepudds thx for looking.

My repo is just playground. I use only Consul as dependency.

I’m not sure that all indirect modules are consul dependencies, but they seem to be.

Prometheus, Datadog, Appengine, ...

[2018-09-02 14:50] trico commented on #27239
@rocket049 `go doc` uses the `go` executable  to check if your are using modules or GOPATH. Please run `go version` without `/opt/go1.11/bin/`. I'm sure you must have a version < 1.11

[2018-09-02 15:00] mirza-s commented on #27440
For me, this happens only when running with `go run` on both macOS and Linux.
Running a prebuilt binary works as you would expect.

[2018-09-02 15:45] andybons commented on #27127
@jasonkeene I don’t know the history of vcs-test, so I’m unable to answer your question. Perhaps file a new issue specific to your question?

[2018-09-02 15:58] randall77 opened #27447 "cmd/compile: autotemps can make stack frame too large"
When the order pass introduces temporaries, it always allocates them on the stack, even if they are too big for the stack.

[code]

We should use the same rules as escape analysis does to decide if we should put the temporary on the stack or the heap.

Before order:
[code]
After order:
[code]

[2018-09-02 16:06] DoctorQ opened #27448 "database/sql: rows.Next panic from concurrent map writes"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.9.2 linux/amd64

### Does this issue reproduce with the latest release?

i don't know

### What operating system and processor architecture are you using (`go env`)?

GOARCH="amd64"
GOBIN="/home/doctorq/go-dev/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOO

[2018-09-02 17:39] AlekSi opened #27449 "x/tools/go/packages: incorrect documentation"
https://godoc.org/golang.org/x/tools/go/packages currently says:

Go 1.11 is released. Probably the last sentence should mention Go 1.12?

[2018-09-02 17:39] AlekSi commented on #27449
/cc @alandonovan

[2018-09-02 18:12] andybons commented on #27431
Hi Marwan,
Thanks for helping out! gopherbot allows you to assign labels without being in the group for precisely this use-case: https://golang.org/wiki/GopherBot#addingremoving-labels

Does that cover your use-case adequately? If not just let me know.

[2018-09-02 18:12] #27431 closed

[2018-09-02 18:37] andybons commented on #25359
It’s not unreasonable (implementing 2-way syncing), but naturally adds complexity to the implementation. One of reasons for this is that we have three data sources—maintner, GitHub, and Gerrit. Maintner is eventually consistent, so to avoid posting duplicate messages or repeating a patch upload, gerritbot still needs to keep track of which changes are “dirty” and should be ignored until the maintn

[2018-09-02 19:11] jozef-slezak opened #27450 "proposal: gofmt semicolon before if-return statements"
Let's allow a semicolon before short inlined if-return to cleanup error handling code - like this:
[code]

Nowdays gofmt replaces the code like this:
[code]

Pros:
- easy to understand
- cleans up repeated if err code (demonstrated on example above)
- simple change in gofmt

Cons:
- return statement would not be prominent (see #27135 )

This issue is related to: #27135 and also error handling desi

[2018-09-02 19:26] l0k1verloren opened #27451 "Proposal: fix inconsistent syntax with function literal declarations"
In go, composite literals all follow a rule: if you define it as a type with a type declaration, you can create a literal like this:

    type Array []interface{}
    type Map map[string]interface{}
    var ExampleArray = Array{ 1, "two", struct{ int }{ 3 }}
    var ExampleMap = Map{  "1": 1, "2", "two", "3" struct { int }{ 3 }}

But if I do it with a function variable I have to repeat the type sp

[2018-09-02 19:49] mvdan commented on #27451
I'm not sure how this would work syntactically. Right now, the expression `name{` is always followed by a list of fields - be it slice elements, key-value expressions for maps, etc.

But if we do what you sugfest, `name{` could also be followed by any number of statements. I can't see how the parser could deal with that, as it doesn't have type information.

cc @griesemer @ianlancetaylor

[2018-09-02 20:03] tep opened #27452 "os: FileMode.String() generates a non-standard Mode representation"
### What version of Go are you using (`go version`)?

go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?

Yes

### What operating system and processor architecture are you using (`go env`)?
[code]
### What did you do?

https://play.golang.org/p/nDV8CK3VVrZ

### What did you expect to see?
[code]
### What did you see instead?
[code]
-----

While never explicitly s

[2018-09-02 20:29] aykevl opened #27453 "x/tools/go/ssa: wrapper function for embedded type has invalid variadic parameter"
Go version: `go1.11 linux/amd64`
Package "x/tools/go/ssa" version: master (https://github.com/golang/tools/commit/7ca132754999accbaa5c1735eda29e7ce0f3bf03)

See this code ([play](https://play.golang.org/p/woi4_hJNBXg)):

[code]

It produces the following SSA (shortened). I've also printed the actual parameters just before printing the SSA, for debugging.

[code]

As you can see, `(*examples/vararg

[2018-09-02 20:35] josharian commented on #27447
The cutoff (`1<<16`) is also duplicated in a couple of places in walk.go (func isSmallMakeSlice, case ONEW in func walkexpr). Should unify all of them.

[2018-09-02 21:32] JeremyLoy commented on #27227
While`GOFLAGS` is a decent immediate workaround, I do want to stress the importance of the `vendor` folder as a part of this issue.

To put it bluntly, Github is not an artifact repository. At any given time, a repository owner can either
1. delete their account
1. delete a repository
1. force push deletions to master
1. remove a tag
1. change a tag

To avoid any of the above damaging your project

[2018-09-02 22:01] davecheney commented on #27448
This looks like memory corruption. Have you tried running your program under the race detector? See https://blog.golang.org/race-detector .

[2018-09-02 22:02] davecheney commented on #27448
Also try running go vet over your program, I’m sure it will have something to say about a slice of sync.Map values

[2018-09-02 22:30] dominikh opened #27454 "cmd/go: list -e -json crashes on import cycles"
### What version of Go are you using (`go version`)?
go version go1.10.4 linux/amd64

### Does this issue reproduce with the latest release?
No

### What did you do?
`go list -e -json  -- sandbox/bar` where sandbox/bar imports itself.

### What did you expect to see?
An error reporting the import cycle.

### What did you see instead?

**Stack trace:**
<details>
runtime: goroutine stack exceeds 100

[2018-09-02 23:07] odeke-em commented on #27415
Thank you for the investigation and report @mark-rushakoff!

In deed, the regression is present but for consistency and correctness to avoid data corruption, the change seems inevitable.

Could we please compare the speeds and throughput on Linux vs on OS X vs Windows?

[2018-09-02 23:13] odeke-em commented on #27452
Thank you for reporting this issue @tep and welcome to Go! I'll tag some folks who perhaps might be able to provide some insights into the design decisions or who might be helpful in fixing it
/cc @rsc @bradfitz @ianlancetaylor @ericlagergren

[2018-09-02 23:55] bmeh opened #27455 "Incorrect permissions (0400, read-only) set by `go mod vendor`"
### What version of Go are you using (`go version`)?
go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?

[code]

### What did you expect to see?

I expected to have read and write permissions (i.e. have at the very least `0600`, but apparently ALL `pk

[2018-09-03 00:03] F21 opened #27456 "x/tools/cmd/stringer: Does not work with Go modules"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
`go version go1.11 linux/amd64`

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I executed `stringer -type=Field,FieldName -output=constant_string.go` to gen

[2018-09-03 01:27] bronze1man commented on #27450
It is strange that I think One statement one line is easy to understand/read to me.

I think putting a lot of stuff into one line, just make the code difficult to read.

So I proposal another syntax:
[code]
The try just check the last function return parameters is error type ,if that err value is not nil, return the parent function with that error value at that line and do not run code after that

[2018-09-03 01:59] bronze1man commented on #27135
@FlorianUekermann

People forget stuff when there is too much information any way. Making the code less line can not solve this problem.
Two statement one line may need the brain store more information, like there is two thing in that line, one thing in this line, the horizontal position on some statement.  If all lines only have one statement, the brain do not need to store that information, it j

[2018-09-03 02:43] ianthehat commented on #24661
I have modified this issue to track the full list of tools, and assigned it to me.
I did this rather than file a new issue because it seems this issue is already referenced in quite a few places. I apologies to @flibustenet for deleting all your words, but this seems like the most practical approach.
Feel free to file individual tracing issues for each tool where needed, and to add any tools not i

[2018-09-03 03:02] crvv commented on #27455
For a repo `github.com/user/package`

The directory `mod/github.com/user/package@v0.0.0...` has permission `0555`.
Files inside it can't be deleted.

The permission of directories in `mod/github.com/user/package@v0.0.0...` is `0755`,
Files in `mod/github.com/user/package@v0.0.0.../subdir` can be deleted.

All files in `mod/github.com/user/package@v0.0.0...`(including subdirectories) has permission

[2018-09-03 03:06] DoctorQ commented on #27448
@davecheney

+ race detector log:

[code]

[2018-09-03 03:26] gtank commented on #24813
I was curious about this, so I cherry-picked the relevant CLs on top of current Go master and have some preliminary results from my Ed25519 field arithmetic. `bits.Mul64` got me about halfway to the speed of an assembly implementation without much effort. I suspect I could make the pure Go a bit faster as well, but haven't tried yet.

Rough benchmarks on a Kaby Lake laptop (i7-7560U @ 2.40GHz):
[c

[2018-09-03 03:41] xflxfl commented on #21186
@ghuser1234567 Change Your Browser's Language

[2018-09-03 03:50] bmeh commented on #27455
In my case:

[code]

I don't see why it should be the case, I have to either recursively change the permissions,
or use `sudo rm -rf $GOPATH/pkg/mod/`.

[2018-09-03 03:51] agnivade commented on #24661
@ianthehat - Could you take a look at https://github.com/golang/go/issues/26827 and close it if you think it falls under this issue ?

[2018-09-03 03:51] crvv commented on #27440
If you press `Control+C`, `SIGINT` will be sent to the process group and all the processes will terminate.

`Process.Signal(os.Kill)` and `Context.cancel()` are identical. They both send `SIGKILL` to the subprocess.

If you use `go run server.go`, the subprocess is `go`. `server` is a subprocess of `go`.
`SIGKILL` killed `go` and leave `server` running.

[2018-09-03 03:58] crvv commented on #27455
I tested with an outdated `go`.
The inconsistence has been fixed. All files can't be deleted now.

[2018-09-03 04:10] DoctorQ commented on #27448
go vet log:

[code]

[2018-09-03 04:13] odeke-em commented on #26668
@silbinarywolf thank you for working on this!

Since Go1.11 was released a month after @alexbrainman's suggestion in https://github.com/golang/go/issues/26668#issuecomment-408657503, I don't think we need to disable the test anymore and you can instead send the single CL as you've done in https://golang.org/cl/132781.

[2018-09-03 04:15] swtch1 opened #27457 "Modules Cannot Resolve K8s Package from Dependency"
### What version of Go are you using (`go version`)?
go version go1.11 windows/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
Windows 10 Enterprise x64
Reproduced with go1.11 on Windows Subsystem for Linux (Ubuntu) as well.

### What did you do?
Tried to run go test/go build with code that uses metho

[2018-09-03 04:35] mark-rushakoff commented on #27455
@rsc [discussed this on the mailing list](https://groups.google.com/d/msg/golang-dev/a5PqQuBljF4/QSPWb-yhBgAJ) on July 13:

 `go clean -modcache` does appear to be implemented in the go1.11 release.

[2018-09-03 05:06] mark-rushakoff opened #27458 "cmd/go: `go clean -n -modcache` does not respect -n option"
### What version of Go are you using (`go version`)?

[code]

### Does this issue reproduce with the latest release?

Didn't try with tip, but cmd/go/internal/clean/clean.go looks like it will behave the same.

### What did you do?

[code]

### What did you expect to see?

Output like `rm -rf $HOME/go/pkg/mod`, and for the files in there to remain undeleted.

### What did you see instead?

It appe

[2018-09-03 05:07] mark-rushakoff commented on #27458
@gopherbot, please add label modules.

[2018-09-03 05:18] gbrlsnchs opened #27459 "GoDoc suggests importing wrong module version"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
Go1.11.

### Does this issue reproduce with the latest release?
Yes.

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
I have just released a v2 of [github.com/gbrlsnchs/jwt](github.com/gbrlsnchs/jwt) and from now on, p

[2018-09-03 05:39] mvdan commented on #27454
cc @bcmills

[2018-09-03 05:57] ProhtMeyhet opened #27460 "proposal: Go 2: use unsigned integers for all lengths"
I propose for a future major update to use unsigned integers for all lengths. Values <0 had been used in other languages to indicate an error, but go has multiple return values and uses this extensively to return an error{} value besides actual function returns. As such negative values for indicating an error are not only unnecessary, but often plainly wrong. len() for example can't ever return -1

[2018-09-03 06:08] agnivade commented on #27459
Tracked here - https://github.com/golang/gddo/issues/567.

Please feel free to subscribe/comment on that.

[2018-09-03 06:08] #27459 closed

[2018-09-03 06:32] basantashah commented on #22175
you dont have a main file in package main, if you could add a main function your issue will be solved

[2018-09-03 06:44] eldanelias commented on #27135
@bronze1man
I agree that generally one line should do 1 thing but in my experience when the line is short enough if-returns as well as terinary operator usages are easy enough to follow, I agree that they could potentially be missed in long functions but for short ones that issue doesn't exist IMHO

It seems they are going to solve the clutter issue in go 2 by having a block of error handling, so

[2018-09-03 07:04] sanguohot opened #27461 "http.DetectContentType do not return gbk charset"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.11 windows/amd64.

### Does this issue reproduce with the latest release?
sure it is.

### What operating system and processor architecture are you using (`go env`)?
windows7 amd64.

### What did you do?

If possible, provide a recipe for reproducing the error.
t

[2018-09-03 07:15] #27406 closed

[2018-09-03 07:33] termonio opened #27462 "cmd/compile: wasm code causes out of memory error on Chrome and Firefox for Android"
I am very excited that Go ships now with Webassembly support. I ran wasm code generated by Go 1.11 on Chrome and Firefox on desktops (MacOS and Linux) and on Chrome, Firefox and Safari on iOS devices. Running Go generated wasm code on Android devices failed though.

## Minimal example

- Go code
    - `GOOS=js GOARCH=wasm go build -o test.wasm wasm.go`

[code]

- `index.html`
    - `wasm_exec.js`

[2018-09-03 07:41] cznic commented on #27451
There's no 'repeating the type specification', because `f1` is not of type `fn` and thus there's also no inconsistency. A literal of type `fn` cannot be written, one has to convert as in `var f2 = fn(func() {})`, or `var f3 = fn(f1)` or use the assignability rule of anonymous type as in `var f4 fn = func() {}`

Example: https://play.golang.org/p/Kkydsdu_j0P

[2018-09-03 07:53] agnivade commented on #27461
https://golang.org/pkg/net/http/#DetectContentType

We just implement the algorithm described there. The mimesniff algo (https://mimesniff.spec.whatwg.org/#identifying-a-resource-with-an-unknown-mime-type) only seems to return utf-8 and utf-16. I am going to mark this as working as intended. I would request you to raise an issue in https://github.com/whatwg/mimesniff/ for us to be able to incorpor

[2018-09-03 07:53] #27461 closed

[2018-09-03 07:55] mundaym commented on #27193
Yeah, that's right. Happens on both the platforms I've investigated (amd64 and s390x). The behavior on Intel is documented in the architecture manual, section 4.8.3.5. On s390x the behavior is specified by the result tables for the relevant instructions in the principles of operation.

[2018-09-03 07:59] agnivade commented on #27462
Since the code is same for all desktop, iOS and Android devices, I doubt there is much we can do here.

@neelance has some optimizations in mind for 1.12. But unless you have some specific suggestions, this just falls in the category of general optimizations which will happen anyways.

[2018-09-03 08:04] fhs commented on #27456
This falls under issue #24661

[2018-09-03 08:29] termonio commented on #27462
Given the market share of Android devices, this would be a major drawback ...

[2018-09-03 08:30] agnivade commented on #27456
That is correct. Please subscribe/comment on that issue.  It seems there is already an open CL in the works for it.

[2018-09-03 08:30] #27456 closed

[2018-09-03 08:46] thesyncim commented on #27462
can you try this?

[2018-09-03 08:54] agnivade commented on #27462
btw @termonio - You should also build with `-ldflags=-s -w` for slightly smaller binaries. It most probably will not help with overall memory instantiation, but can help with payload size.

[2018-09-03 09:02] pd93 opened #27463 ""go build ./..." doesn't build binaries"
Could find any documentation on this. Is this by design, broken or not implemented?

### What version of Go are you using (`go version`)?
v1.11

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
Windows amd64

### What did you do?
Ran `go build ./…` in a directory with 3 folders - each containing a Go project

[2018-09-03 09:04] stephane-moreau opened #27464 "encoding/json: custom UnmarshalTypeError no longer has struct context"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
Works with: go version go1.10.3 windows/amd64
Fail with: go version go1.11 windows/amd64

### Does this issue reproduce with the latest release?
Yes

### What operating system and processor architecture are you using (`go env`)?
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\

[2018-09-03 09:07] iand commented on #27403
I did a little testing on this and found that the use of `io.ReadFull(r, bs)` moves b to the heap so the change may not be as simple as expected.

[2018-09-03 09:09] stubbornTanzhe opened #27465 "cmd/go: `go mod tidy` does not generate dependency package in go.mod"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
go version go1.11 linux/amd64

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
[code]

### What did you do?
[code]
### What did you expect to see?
in go.mod,include this:
[code]
and run g

[2018-09-03 09:10] DisposaBoy commented on #27460
FWIW, I've read this a couple times and I don't think you discuss what problem this would fix... but you do mention some of the obvious drawbacks?

Yes, you mention `len()`, but presumably it returns `int` just because that's the default integer type, and if it returned `uint`, you'd end up having to convert it to `int` everywhere.

[2018-09-03 09:11] l0k1verloren commented on #27451
The short form for custom typed literals is not just one type of list, there is the array, which has a comma after each element, there is map with key:pair. Yes, the syntax requires comma for more than one item but statements terminate at the end of line or open of a bracket, they use semicolons, implicit in the newlines.

My point is that when I specify a type name for a specific map signature, I

[2018-09-03 09:18] myitcv commented on #27464
cc @mvdan

[2018-09-03 09:36] termonio commented on #27462
@thesyncim: `wasm-opt test.wasm -O -o testO.wasm` reduces the file size from 2.4MB to 2.3MB. The optimized file works on Desktops and iOS but still not on Android.

@agnivade: Your hint has a similar effect. The payload is reduced to 2.3MB, but can't be run on Android.

For someone who wants to reproduce this issue: iOS devices need a polyfill (omitted in my minimal code example above).

[code]

[2018-09-03 09:44] thesyncim commented on #27462
you can try other optimization levels like -O2 or -O4 for size consider using -Os or -Oz

[2018-09-03 09:50] stubbornTanzhe commented on #27465
btw,github.justaexample.com/namespace/projectname/subpackage is a package url
github.justaexample.com/namespace/projectname is just a program

[2018-09-03 10:00] silbinarywolf commented on #26668
@odeke-em Fair enough. I wasn't sure how to close the CL so I added a comment / edited it saying to ignore it in favour of the single CL.

Cheers!

[2018-09-03 10:03] termonio commented on #27462
I did try other optimization levels but got core dumps (not further investigated yet).

[2018-09-03 10:05] thesyncim commented on #27462
try to run with -d (debug option)

[2018-09-03 10:30] termonio commented on #27462
@thesyncim: running with `-d` yields an output and further optimization makes the file sizes shrink down to 1.9MB. Won't run on Android though (tried `-O2`, `-O4`, `-Os`, and `-Oz`).

[2018-09-03 10:40] thesyncim commented on #27462
@termonio sorry to hear that, just one last thought, did you try to run the optimization on top of @agnivade sugestion `-ldflags='-s -w'`?

[2018-09-03 10:50] ofw opened #27466 "Incorrect slice indexing doesn't panic"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using?
`go1.11 darwin/amd64`

### Does this issue reproduce with the latest release?
yes. It is reproduced only with go `1.11`

### What operating system and processor architecture are you using?
[code]

### What did you do?

[code]

### What did you expect to see?
[code]

### What did you see inste

[2018-09-03 10:53] Quasilyte commented on #26264
[CL125796](https://go-review.googlesource.com/c/go/+/125796) does change the situation a little bit:
[code]

That CL makes `[]byte("ab")` identical to `[]byte{'a', 'b'}`, removing the main reason of `Bytes` benchmark being slower than the other two. It makes difference for given example negligible.

Not sure why `String` benchmark become slightly slower. Need to dig into it. Although its generated

[2018-09-03 11:06] ofw commented on #27466
duplicates #27378

[2018-09-03 11:06] #27466 closed

[2018-09-03 11:08] nicolaselkhoury opened #27467 "Unable to decode some PNG files"
Please answer these questions before submitting your issue. Thanks!

### What version of Go are you using (`go version`)?
1.9

### Does this issue reproduce with the latest release?
yes

### What operating system and processor architecture are you using (`go env`)?
ubuntu 16.04

### What did you do?

I have a code that downloads images from AWS S3, decodes them, and resizes them. The code supports